Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

fmt
  pre-commit/run-go-fmt-import.sh
  pre-commit/run-go-gofumpt.sh
  pre-commit/run-golangci-lint.sh
Owners: none

fix: minor changes
  docs/assets/styles/determined.css
  docs/interfaces/index.rst
  docs/model-dev-guide/index.rst
  docs/reference/overview.rst
Owners: @determined-ai/docs

chore: install `sphinx_design` for the future use
  docs/conf.py
  docs/requirements.txt
Owners: @determined-ai/docs

feat: change doc home page
  docs/_static/images/developer-guide.png
  docs/_static/images/getting-started.png
  docs/_static/images/integrations.png
  docs/_static/images/reference.png
  docs/_static/images/setup.png
  docs/_static/images/tools.png
  docs/_templates/toggle-primary-sidebar.html
  docs/assets/styles/determined.css
  docs/conf.py
  docs/index.rst
Owners: @determined-ai/docs

fix: layout
  docs/assets/styles/determined.css
  docs/index.rst
  docs/interfaces/index.rst
  docs/model-dev-guide/index.rst
  docs/reference/overview.rst
Owners: @determined-ai/docs

update to local hooks
  .pre-commit-config.yaml
Owners: none

major refactor of test functions
  harness/tests/experiment/pytorch/test_examples.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/pytorch_utils.py
Owners: none

more example test refactoring
  harness/tests/experiment/pytorch/test_examples.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

linting
  harness/tests/experiment/pytorch/test_examples.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/pytorch_utils.py
Owners: none

chore: attend to PR comments
  webui/react/src/components/kit/Icon.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/RowHeightMenu.tsx
Owners: none

feat: hide inactive users from det user list unless --all
  docs/release-notes/dont-show-inactive-users.rst
  harness/determined/cli/user.py
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/determined.py
  harness/determined/experimental/client.py
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  proto/pkg/apiv1/user.pb.go
  proto/src/determined/api/v1/user.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/docs, @determined-ai/backend

newline
  harness/determined/experimental/client.py
Owners: none

feat: updated test
  webui/react/src/components/kit/Icon.test.tsx
Owners: none

replace chunks of code with util function
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

linting
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

feat: Drawer component added to UI Kit [WEB-1349] (#7151)
  webui/react/src/components/kit/Drawer.module.scss
  webui/react/src/components/kit/Drawer.tsx
  webui/react/src/pages/DesignKit.tsx
Owners: none

chore: default retry in sdk (#7063)
  harness/determined/cli/_util.py
  harness/determined/common/api/__init__.py
  harness/determined/common/api/_util.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/tests/determined/common/experimental/test_determined.py
  harness/tests/determined/common/experimental/test_experiment.py
  harness/tests/fixtures/api_responses.py
Owners: none

chore: rename Trial to LegacyTrial and TrialReference/ExperimentReference to Trial/Experiment in SDK [MLG-547] (#6940)
  docs/model-dev-guide/model-management/checkpoints.rst
  docs/reference/python-sdk.rst
  docs/release-notes.rst
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/fixtures/no_op/model_def.py
  e2e_tests/tests/test_sdk.py
  harness/determined/__init__.py
  harness/determined/_execution.py
  harness/determined/_trial.py
  harness/determined/_trial_controller.py
  harness/determined/cli/experiment.py
  harness/determined/common/experimental/__init__.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/trial.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/experimental/__init__.py
  harness/determined/experimental/_native.py
  harness/determined/experimental/client.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/load.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/tests/cli/test_experiment.py
  harness/tests/experiment/utils.py
Owners: @determined-ai/docs

fix typing
  harness/tests/determined/common/experimental/test_experiment.py
Owners: none

chore: support registry auth with Singularity
  agent/internal/container/container.go
  agent/pkg/singularity/singularity.go
  master/pkg/cproto/spec.go
Owners: @determined-ai/backend

put runners into circleci config
  .circleci/config.yml
Owners: none

forgot a -
  .circleci/config.yml
Owners: none

missing decorator
  harness/tests/determined/common/experimental/test_experiment.py
Owners: none

retry in cli
  harness/determined/cli/_util.py
Owners: none

linting and fixes
  e2e_tests/tests/cluster/test_resource_pools.py
  e2e_tests/tests/test_sdk.py
  harness/determined/cli/checkpoint.py
  harness/determined/cli/model.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/model.py
  harness/determined/common/experimental/trial.py
  harness/determined/common/experimental/user.py
Owners: none

more linting
  e2e_tests/tests/cluster/test_model_registry.py
  e2e_tests/tests/cluster/test_resource_pools.py
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/test_sdk.py
Owners: none

render model versions
  harness/determined/cli/model.py
Owners: none

user
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/trial.py
  harness/determined/common/experimental/user.py
Owners: none

fix test
  harness/determined/common/experimental/user.py
Owners: none

rename
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/model.py
  harness/determined/common/experimental/trial.py
Owners: none

fix test
  harness/tests/common/api_server.py
Owners: none

fix test
  harness/determined/common/experimental/model.py
Owners: none

default retry
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/tests/cli/test_experiment.py
Owners: none

fix test
  harness/determined/cli/experiment.py
  harness/tests/cli/test_experiment.py
  harness/tests/fixtures/experiment_flaky.json
  harness/tests/fixtures/experiment_longrunning.json
Owners: none

fix test
  harness/tests/common/api_server.py
  harness/tests/fixtures/experiment_flaky.json
  harness/tests/fixtures/experiment_longrunning.json
Owners: none

chore: cache and reload in Python SDK
  harness/determined/cli/experiment.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/model.py
  harness/determined/common/experimental/trial.py
Owners: none

docstrings
  harness/determined/common/experimental/user.py
Owners: none

docstrings
  harness/determined/common/experimental/model.py
  harness/determined/common/experimental/user.py
Owners: none

docstrings
  harness/determined/common/experimental/user.py
Owners: none

docstrings
  harness/determined/common/experimental/model.py
  harness/determined/common/experimental/trial.py
  harness/determined/common/experimental/user.py
Owners: none
