Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

fix test
  e2e_tests/tests/experiment/test_core.py
Owners: none

docs: add release notes for 0.23.0 (#7058)
  docs/release-notes.rst
  docs/release-notes/custom-searcher-includes.rst
  docs/release-notes/deepspeed-autotune.rst
  docs/release-notes/feat-GetExperiments.rst
  docs/release-notes/launch-error-timeout.rst
  docs/release-notes/ntsc-start-events.rst
  docs/release-notes/partial-checkpoint-delete.rst
  docs/release-notes/pod-spec-merging.rst
  docs/release-notes/remove-hdfs.rst
  docs/release-notes/remove-old-python.rst
  docs/release-notes/remove-oss-admin-rbac.rst
Owners: @determined-ai/docs

chore: bump version: 0.22.3-dev0 -> 0.23.0-dev0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: none

chore: bump version: 0.23.0-dev0 -> 0.23.1-dev0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: none

create and cleanup mock workspace
  master/internal/db/postgres_test_utils.go
Owners: @determined-ai/backend

linting
  master/internal/db/postgres_test_utils.go
Owners: @determined-ai/backend

linting
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
Owners: @determined-ai/backend

rename test util function
  master/internal/db/postgres_test_utils.go
Owners: @determined-ai/backend

adding bulk test bind/unbind
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Owners: @determined-ai/backend

add intg test for bind and unbind
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Owners: @determined-ai/backend

create and cleanup mock workspace
  master/internal/db/postgres_test_utils.go
Owners: @determined-ai/backend

first pass at bind/unbind testing
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Owners: @determined-ai/backend

rename test util function
  master/internal/db/postgres_test_utils.go
Owners: @determined-ai/backend

fix: Breadcrumb should not have extra margin
  webui/react/src/components/kit/Breadcrumb.tsx
Owners: none

Added code to bypass proxy for tunnel listener too
  harness/determined/cli/proxy.py
Owners: none

fix intg
  master/Makefile
Owners: @determined-ai/backend

Fixed lint issue due to line being too long
  harness/determined/cli/proxy.py
Owners: none

update and add columns
  master/internal/api_project.go
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Owners: @determined-ai/backend

go fmt
  master/internal/api_project.go
Owners: @determined-ai/backend

Apply suggestions from code review
  master/internal/task/preemptible/preemptible.go
Owners: @determined-ai/backend

display searcher metric value, prevent sort on banned columns header menus
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Owners: none

review updates
  master/internal/task/preemptible/errors.go
  master/internal/task/preemptible/preemptible.go
Owners: @determined-ai/backend

add generic metrics support to full recompute
  master/internal/db/postgres_trial.go
  master/pkg/model/experiment.go
Owners: @determined-ai/backend

reuse trial metric json path
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/trials/postgres_trials.go
  master/pkg/model/experiment.go
Owners: @determined-ai/backend

preparing the transition
  master/internal/db/postgres_trial.go
  master/pkg/model/experiment.go
Owners: @determined-ai/backend

limit custom_type selection to GENERIC partition_type
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

reduce code duplication in fullTrialSummaryMetricsRecompute
  master/internal/db/postgres_trial.go
  master/pkg/model/experiment.go
Owners: @determined-ai/backend

fix a bug in migration down order
  master/static/migrations/20230605133832_set-default-metric-type.tx.down.sql
Owners: @determined-ai/backend

reduce reliance on MetricPartitionType
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
Owners: @determined-ai/backend

add migrations to set defaults for metrics custom_type
  master/static/migrations/20230605133832_set-default-metric-type.tx.down.sql
  master/static/migrations/20230605133832_set-default-metric-type.tx.up.sql
Owners: @determined-ai/backend

WIP custom summary metrics
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

limit metrics based on metricType
  master/internal/db/postgres_trial.go
  master/static/srv/calculate-full-trial-summary-metrics.sql
Owners: @determined-ai/backend

prohibit reserved metric types
  master/internal/db/postgres_trial.go
  master/pkg/model/metrics.go
  master/static/migrations/20230605133832_set-default-metric-type.tx.up.sql
Owners: @determined-ai/backend

fix test failures due to added constraints
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
Owners: @determined-ai/backend

make go lint happy
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/trials/postgres_trials.go
  master/pkg/model/experiment.go
Owners: @determined-ai/backend

add another db constraint
  master/internal/db/postgres_trial.go
  master/static/migrations/20230605134555_set-custom-type-constraint.tx.down.sql
  master/static/migrations/20230605134555_set-custom-type-constraint.tx.up.sql
Owners: @determined-ai/backend

add tests
  master/internal/db/postgres_trial_intg_test.go
Owners: @determined-ai/backend

push *mType usage down to metric insertion point
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
Owners: @determined-ai/backend

fix isValidation comparison
  master/internal/trials/postgres_trials.go
Owners: @determined-ai/backend

add support for adding incremental summary metrics
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
