Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

eliminate checkpoints_view
  master/internal/db/postgres_checkpoints.go
  master/internal/db/postgres_checkpoints_intg_test.go
Owners: @determined-ai/backend

chore: textArea for description
  webui/react/src/components/ModelEditModal.tsx
  webui/react/src/components/ModelVersionEditModal.tsx
Owners: none

chore: remove docker-compose dependency in det deploy local
  harness/determined/deploy/local/cli.py
  harness/determined/deploy/local/cluster_utils.py
  harness/determined/deploy/local/docker-compose.yaml
  harness/setup.py
Owners: none

change names to be compatible with previous implementation
  harness/determined/deploy/local/cli.py
  harness/determined/deploy/local/cluster_utils.py
  harness/setup.py
Owners: none

chore: minor changes
  webui/react/src/components/ModelCreateModal.tsx
Owners: none

chore: allocate less address space in e2e gke cluster tests [DET-9231]
  .circleci/config.yml
Owners: none

feat(resource_pools): Adding affinity to CPU and bumping version
  helm/charts/determined/Chart.yaml
  helm/charts/determined/templates/_helpers.tpl
Owners: none

feat: specify disk size and type for dynamic agents in gcp deployment [MLG-224] (#6384)
  harness/determined/deploy/gcp/cli.py
  harness/determined/deploy/gcp/constants.py
  harness/determined/deploy/gcp/terraform/main.tf
  harness/determined/deploy/gcp/terraform/modules/compute/main.tf
  harness/determined/deploy/gcp/terraform/modules/compute/variables.tf
  harness/determined/deploy/gcp/terraform/variables.tf
  master/internal/config/provconfig/gcp_config.go
  master/internal/config/provconfig/gcp_config_test.go
Owners: @determined-ai/backend

fix: gently handle `not found page` in model and model version pages
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
Owners: none

ci: retry deploying and deleting AWS clusters
  .circleci/config.yml
Owners: none

fixes
  master/internal/db/postgres.go
  master/internal/db/postgres_experiments.go
Owners: @determined-ai/backend

migration move to top
  master/static/migrations/20230329193551_add-hyperparameters-metrics-name-view.tx.down.sql
  master/static/migrations/20230329193551_add-hyperparameters-metrics-name-view.tx.up.sql
Owners: @determined-ai/backend

fix: checkpoint insertion slow performance on big databases [DET-9219] (#6390)
  docs/release-notes/checkpoint-size-speedup-speedup.rst
  master/internal/db/postgres_checkpoints.go
Owners: @determined-ai/docs, @determined-ai/backend

fix test failure
  master/internal/config/config.go
Owners: @determined-ai/backend

feat: Add API for experiment list columns [WEB-979] (#6274)
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/fixtures/no_op/single-nested-hps.yaml
  harness/determined/common/api/bindings.py
  master/internal/api_project.go
  master/internal/db/postgres.go
  master/internal/db/postgres_experiments.go
  master/internal/experiment/bulk_action.go
  master/static/migrations/20230329193551_add-hyperparameters-metrics-name-view.tx.down.sql
  master/static/migrations/20230329193551_add-hyperparameters-metrics-name-view.tx.up.sql
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/project.pb.go
  proto/pkg/projectv1/project.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/project.proto
  proto/src/determined/project/v1/project.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

fix: slot enable/disable for HPC cluster
  master/internal/api_agents.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/resource_manager_iface.go
  master/internal/rm/rmerrors/errors.go
Owners: @determined-ai/backend

Add missing methods to actorm RM
  master/internal/rm/actorrm/actor_resource_manager.go
Owners: @determined-ai/backend

SPOT for slotAddr
  master/internal/api_agents.go
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager.go
Owners: @determined-ai/backend

docs: Add resource_manager.launcher_jvm_args [DET-9230]
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/release-notes/launcher-jvm-args.rst
Owners: @determined-ai/docs

docs: Add resource_manager.launcher_jvm_args [DET-9230] (#6395)
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/release-notes/launcher-jvm-args.rst
Owners: @determined-ai/docs

restore util.py
  harness/determined/util.py
Owners: none

restoring more files to lastest master version
  harness/determined/common/api/bindings.py
  harness/determined/experimental/client.py
  harness/determined/layers/_workload_sequencer.py
Owners: none

merge in util.py changes
  harness/determined/util.py
Owners: none

chore: allocate less address space in e2e gke cluster tests [DET-9231] (#6393)
  .circleci/config.yml
Owners: none

fix: gently handle `not found page` in model and model version pages (#6394)
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
Owners: none

add dependencies previously included in docker-compose
  harness/determined/deploy/local/cluster_utils.py
  harness/setup.py
Owners: none

update circleci test script
  .circleci/config.yml
Owners: none

build: Add basic visual regression testing for designkit
  webui/react/.gitignore
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/scripts/designkit-screenshot.mjs
  webui/react/scripts/make-screenshot-diff.mjs
  webui/react/src/components/ThemeProvider.tsx
  webui/react/src/designkit-standalone/index.html
  webui/react/src/designkit-standalone/index.tsx
Owners: none

Add job to circle (will fail until github info is added)
  .circleci/config.yml
  .pre-commit-config.yaml
  webui/react/scripts/make-github-comment.mjs
  webui/react/scripts/make-screenshot-diff.mjs
Owners: none

case sensitivity
  webui/react/src/designkit-standalone/index.tsx
Owners: none

tweak test script
  .circleci/config.yml
  webui/react/scripts/make-github-comment.mjs
Owners: none

Revert "chore: allocate less address space in e2e gke cluster tests [DET-9231] (#6393)"
  .circleci/config.yml
Owners: none

update designkit-screenshot.mjs
  webui/react/scripts/designkit-screenshot.mjs
Owners: none

log list of screenshots
  webui/react/scripts/designkit-screenshot.mjs
Owners: none

warn if no sections found/tweak selector
  webui/react/scripts/designkit-screenshot.mjs
Owners: none

feat: initial explist v2 setup
  webui/react/index.html
  webui/react/package.json
  webui/react/src/App.tsx
  webui/react/src/glide.css
  webui/react/src/hooks/useFeature.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.module.scss
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/links-cell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/range-cell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/sparkline-cell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/spinner-cell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/tags-cell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/user-profile-cell.tsx
  webui/react/src/pages/F_ExpList/glide-table/draw-fns.ts
  webui/react/src/pages/F_ExpList/glide-table/menu.tsx
  webui/react/src/pages/F_ExpList/glide-table/useGlasbey.ts
  webui/react/src/pages/F_ExpList/glide-table/utils.ts
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/shared/components/Avatar/Avatar.tsx
Owners: none

lint
  webui/react/package-lock.json
Owners: none

feedback loop
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/menu.tsx
Owners: none

rm dead code
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.module.scss
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

chore: implement experiment details header section using InfoBox [WEB-1064]
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
Owners: none

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
