Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

disallow merging same keys
  master/internal/db/postgres_trial_metrics.go
Owners: @determined-ai/backend

Revert "move addTrialMetrics" keep the diff smaller
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_metrics.go
Owners: @determined-ai/backend

wip implementing
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
Owners: @determined-ai/backend

update comments
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
Owners: @determined-ai/backend

implementing
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_metrics.go
Owners: @determined-ai/backend

incl generic types in conc metric write test
  master/internal/db/postgres_trial_intg_test.go
Owners: @determined-ai/backend

add a test
  master/internal/db/postgres_trial_intg_test.go
Owners: @determined-ai/backend

test passing
  master/internal/db/postgres_trial_metrics.go
Owners: @determined-ai/backend

throw out comments
  master/internal/db/postgres_trial_metrics.go
Owners: @determined-ai/backend

cleanup
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

WIP
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
Owners: @determined-ai/backend

add update method
  master/internal/db/postgres_trial_metrics.go
Owners: @determined-ai/backend

WIP
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

update corresponding tests
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
Owners: @determined-ai/backend

WIP
  master/internal/db/postgres_trial_metrics.go
Owners: @determined-ai/backend

impl and test metric merge
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
Owners: @determined-ai/backend

SELECT for Update
  master/internal/db/postgres_trial_metrics.go
Owners: @determined-ai/backend

no need to type BatchMetrics
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
Owners: @determined-ai/backend

test for the unsupported case
  master/internal/db/postgres_trial_intg_test.go
Owners: @determined-ai/backend

WIP batch_metrics
  master/internal/db/postgres_trial_metrics.go
Owners: @determined-ai/backend

add test
  master/internal/db/postgres_trial_metrics_test.go
Owners: @determined-ai/backend

disallow overriding batch metrics, avoid extran AsMap
  master/internal/db/postgres_trial_metrics.go
Owners: @determined-ai/backend

sep: test: fix flipped actual and expected test order
  master/internal/api_trials_intg_test.go
Owners: @determined-ai/backend

update err msg
  master/internal/db/postgres_trial_metrics.go
Owners: @determined-ai/backend

break early for validation metrics
  master/internal/api_trials_intg_test.go
  master/internal/db/postgres_trial_metrics.go
Owners: @determined-ai/backend

avoid behavior change in batch_metrics nil
  master/internal/api_trials_intg_test.go
  master/internal/db/postgres_trial_metrics.go
Owners: @determined-ai/backend

self review p1
  master/internal/db/postgres_trial_metrics.go
Owners: @determined-ai/backend

ci(circle/test-unit): regroup gpu unit tests
  .circleci/config.yml
Owners: none

chore: attend to PR comments
  webui/react/src/components/kit/InlineForm.tsx
  webui/react/src/pages/DesignKit.tsx
Owners: none

feat: Add the InlineForm component (#7199)
  webui/react/src/components/kit/InlineForm.module.scss
  webui/react/src/components/kit/InlineForm.tsx
  webui/react/src/components/kit/__mocks__/Tooltip.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/Settings/SettingsAccount.test.tsx
  webui/react/src/pages/Settings/SettingsAccount.tsx
Owners: none

sync ToJSONObj unit test expectation
  master/internal/db/postgres_trial_metrics.go
  master/internal/db/postgres_trial_metrics_test.go
Owners: @determined-ai/backend

missing decorator
  harness/tests/determined/common/experimental/test_experiment.py
Owners: none

fix typing
  harness/tests/determined/common/experimental/test_experiment.py
Owners: none

chore: rename Trial to LegacyTrial and TrialReference/ExperimentReference to Trial/Experiment in SDK [MLG-547] (#6940)
  docs/model-dev-guide/model-management/checkpoints.rst
  docs/reference/python-sdk.rst
  docs/release-notes.rst
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/fixtures/no_op/model_def.py
  e2e_tests/tests/test_sdk.py
  harness/determined/__init__.py
  harness/determined/_execution.py
  harness/determined/_trial.py
  harness/determined/_trial_controller.py
  harness/determined/cli/experiment.py
  harness/determined/common/experimental/__init__.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/trial.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/experimental/__init__.py
  harness/determined/experimental/_native.py
  harness/determined/experimental/client.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/load.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/tests/cli/test_experiment.py
  harness/tests/experiment/utils.py
Owners: @determined-ai/docs

test: Add another mock to checkpoint tests (#7260)
  harness/tests/determined/common/experimental/test_checkpoint.py
Owners: none

chore: cache and reload in Python SDK [MLG-549] (#6853)
  e2e_tests/tests/cluster/test_model_registry.py
  e2e_tests/tests/cluster/test_resource_pools.py
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/test_sdk.py
  harness/determined/cli/checkpoint.py
  harness/determined/cli/experiment.py
  harness/determined/cli/model.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/model.py
  harness/determined/common/experimental/trial.py
  harness/determined/common/experimental/user.py
  harness/tests/cli/test_experiment.py
  harness/tests/common/api_server.py
  harness/tests/common/test_api_server.py
  harness/tests/determined/common/experimental/test_experiment.py
  harness/tests/fixtures/experiment.json
Owners: none

feat: add summary metrics to SDK and CLI [MLG-648] (#7255)
  harness/determined/cli/trial.py
  harness/determined/common/experimental/trial.py
  harness/tests/determined/common/experimental/test_determined.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/trial.json
Owners: none

linting
  master/internal/api_command.go
  master/internal/api_notebook.go
  master/internal/api_shell.go
  master/internal/api_tensorboard.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/rm/agentrm/agent_resource_manager.go
Owners: @determined-ai/backend

save
  harness/determined/common/experimental/determined.py
Owners: none

get to list
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/model.py
Owners: none

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
