Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

undo what I just did
  .circleci/config.yml
Owners: none

fix: Make sure that docs can build properly again [DET-9607] (#7189)
  docs/Makefile
  docs/conf.py
  docs/requirements.txt
Owners: @determined-ai/docs

cleanup from comments
  master/internal/api_experiment.go
  master/internal/api_job.go
  master/internal/command/command.go
  master/internal/core.go
  master/internal/experiment.go
  master/internal/job/job.go
Owners: @determined-ai/backend

handle ime/select behavior
  webui/react/src/components/FilterForm/components/FilterField.tsx
  webui/react/src/components/kit/InputNumber.tsx
Owners: none

fix safari behavior
  webui/react/src/components/FilterForm/components/FilterField.tsx
Owners: none

feat: add glide table filter field add shortcut
  webui/react/src/components/FilterForm/components/FilterField.tsx
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
  webui/react/src/components/kit/InputNumber.tsx
Owners: none

fix boolean logic check for composing
  webui/react/src/components/FilterForm/components/FilterField.tsx
Owners: none

ensure new child is added below
  webui/react/src/components/FilterForm/components/FilterField.tsx
Owners: none

add new run step
  .circleci/config.yml
Owners: none

fix: update `hermes-parallel-coordinates`
  webui/react/package-lock.json
  webui/react/package.json
Owners: none

lint
  master/internal/job/job.go
Owners: @determined-ai/backend

don't add new row if input menu is open
  webui/react/src/components/FilterForm/components/FilterField.tsx
  webui/react/src/components/kit/Select.tsx
Owners: none

feat: Add shortcut input to UI Kit
  webui/react/src/components/kit/InputShortcut.module.scss
  webui/react/src/components/kit/InputShortcut.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/Settings/UserSettings.settings.ts
  webui/react/src/utils/shortcut.ts
Owners: none

remove test_container
  .circleci/config.yml
Owners: none

change coverage directory, add a wait to gpu-parallel
  .circleci/config.yml
Owners: none

feat: Create selection menu for glide table
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

use shortcut function
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

update with shortcut utils
  webui/react/src/components/JupyterLab.settings.ts
  webui/react/src/components/JupyterLabButton.tsx
  webui/react/src/components/JupyterLabGlobal.tsx
  webui/react/src/hooks/useKeyTracker.ts
  webui/react/src/utils/shortcut.ts
Owners: none

fix menu styling
  webui/react/src/components/kit/Dropdown.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/menu.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
Owners: none

rollback context menu changes
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/menu.tsx
Owners: none

fix lint
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
Owners: none

design feedback pt. 1
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

design feedbac v2
  webui/react/src/components/kit/Dropdown.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/menu.tsx
Owners: none

fix menu props
  webui/react/src/components/kit/Dropdown.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/menu.tsx
Owners: none

copy change
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

toggle menu on header click
  webui/react/src/pages/F_ExpList/glide-table/menu.tsx
Owners: none

fix ts types
  webui/react/src/components/kit/Dropdown.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/menu.tsx
Owners: none

get rid of style object
  webui/react/src/components/kit/Dropdown.tsx
  webui/react/src/pages/F_ExpList/glide-table/menu.tsx
Owners: none

test: Add a unit test for direct downloading from S3.
  harness/tests/determined/common/experimental/test_checkpoint.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/checkpoint.json
Owners: none

test: Add moto to requirements.
  harness/tests/requirements/requirements-harness.txt
Owners: none

Test: split checkpoint download test
  harness/tests/determined/common/experimental/test_checkpoint.py
  harness/tests/determined/common/storage/__init__.py
  harness/tests/determined/common/storage/test_s3.py
Owners: none

prettier
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

change shortcut key
  webui/react/src/components/JupyterLab.settings.ts
Owners: none

test: formatting changes
  harness/tests/fixtures/api_responses.py
Owners: none

minor tweaks to utils
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/pytorch_utils.py
Owners: none

linting, slight test rename
  harness/tests/experiment/pytorch/test_examples.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/pytorch_utils.py
Owners: none

chore: Helm file rm static img refs, add log conf
  helm/charts/determined/Chart.yaml
  helm/charts/determined/scripts/k8s-password-change.py
  helm/charts/determined/templates/change-password.yaml
  helm/charts/determined/templates/db-deployment.yaml
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/templates/scheduler-deployment.yaml
  helm/charts/determined/values.yaml
Owners: none

fix: maste-config oidc / scim were active by default
  helm/charts/determined/templates/master-config.yaml
Owners: none

chore: request queue actor refactor
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/request_queue.go
  master/internal/rm/kubernetesrm/request_queue_test.go
  master/internal/rm/kubernetesrm/request_workers.go
  master/internal/rm/kubernetesrm/spec.go
Owners: @determined-ai/backend

cleanup
  master/internal/rm/kubernetesrm/request_queue.go
  master/internal/rm/kubernetesrm/request_workers.go
Owners: @determined-ai/backend
