Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

chore(CLI): set command config binds from --config
  docs/release-notes/command-config-cli-bind-mounts.rst
  harness/determined/cli/command.py
Owners: @determined-ai/docs

handle previous selected file nested in folder
  webui/react/src/components/kit/CodeEditor.tsx
Owners: none

check non terminal experiment count
  master/internal/api_experiment.go
  master/internal/db/database.go
  master/internal/db/postgres_experiments.go
Owners: @determined-ai/backend

using correct import
  master/internal/api_experiment.go
Owners: @determined-ai/backend

feat: improve code for rendering colors
  webui/react/src/pages/DesignKit.tsx
Owners: none

correct the progress calculation
  harness/determined/pytorch/dsat/_dsat_search_method.py
Owners: none

updated query
  master/internal/api_experiment.go
  master/internal/db/postgres_experiments.go
  master/internal/mocks/db.go
Owners: @determined-ai/backend

remove old expmetricnames endpoint
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/hooks/useMetricNames.ts
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

fix: doc url fix (#6823)
  webui/react/src/pages/TrialDetails/TrialDetailsProfiles.tsx
Owners: none

update test files
  master/internal/api_experiment_intg_test.go
Owners: @determined-ai/backend

refactor: add 16px bottom padding to Page [WEB-1052] (#6770)
  webui/react/src/components/Page.module.scss
  webui/react/src/components/Page.tsx
  webui/react/src/components/PageHeader/PageHeader.tsx
  webui/react/src/components/PageMessage.tsx
  webui/react/src/components/kit/LogViewer/LogViewer.tsx
  webui/react/src/components/kit/Pivot.module.scss
  webui/react/src/pages/Clusters/ClustersQueuedChart.tsx
  webui/react/src/pages/Dashboard.module.scss
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/ProjectDetails.module.scss
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/ResourcepoolDetail.tsx
  webui/react/src/pages/SignIn.tsx
  webui/react/src/pages/TrialsComparison/TrialsComparison.tsx
  webui/react/src/pages/WorkspaceDetails.module.scss
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/shared/components/Page/Page.module.scss
  webui/react/src/shared/components/Page/Page.test.tsx
  webui/react/src/shared/components/Page/Page.tsx
  webui/react/src/shared/components/Page/index.ts
Owners: none

formatting updates
  master/internal/api_experiment_intg_test.go
Owners: @determined-ai/backend

fix: move lock to fix hf overwrites
  harness/determined/integrations/huggingface/hf_callback.py
  harness/tests/experiment/fixtures/deepspeed_autotune/hf_integration_experiment/ds_config.json
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

fix: move lock to fix hf overwrites (#6828)
  harness/determined/integrations/huggingface/hf_callback.py
  harness/tests/experiment/fixtures/deepspeed_autotune/hf_integration_experiment/ds_config.json
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

Remove autotuning section from checkpointed best configs
  harness/determined/pytorch/dsat/_dsat_search_method.py
Owners: none

also write the best metrics to the checkpoint
  harness/determined/pytorch/dsat/_dsat_search_method.py
Owners: none

timeout change
  webui/react/src/components/kit/CodeEditor.tsx
Owners: none

fix: Fix designkit screenshots being affected by subpixel lengths (#6777)
  webui/react/Makefile
  webui/react/scripts/designkit-screenshot.mjs
  webui/react/src/pages/DesignKit.tsx
Owners: none

docs: Add documentation for installing and running Determined AI on WSL
  docs/setup-cluster/deploy-cluster/index.rst
  docs/setup-cluster/deploy-cluster/on-prem/wsl.rst
Owners: @determined-ai/docs

propagate InvalidResourcesRequestError through allocation and trial instead of group
  master/internal/rm/agentrm/resource_pool.go
  master/internal/task/allocation.go
  master/internal/trial.go
Owners: @determined-ai/backend

simplify one line
  master/internal/task/allocation.go
Owners: @determined-ai/backend

chore: provisioning retry error prop (#6830)
  master/internal/rm/agentrm/resource_pool.go
  master/internal/task/allocation.go
  master/internal/trial.go
Owners: @determined-ai/backend

update: undo passing of ctx to scheduler
  master/internal/rm/agentrm/fair_share.go
  master/internal/rm/agentrm/priority.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/round_robin.go
  master/internal/rm/agentrm/scheduler.go
  master/internal/rm/agentrm/scheduler_test.go
Owners: @determined-ai/backend

chore: add git mounts for devcontainer
  .devcontainer/devcontainer.json
Owners: none

update: refactor error code
  master/internal/config/provconfig/config.go
  master/internal/rm/agentrm/provisioner/provisioner.go
  master/internal/rm/agentrm/provisioner/provisioner_test.go
  master/internal/rm/agentrm/resource_pool.go
  master/pkg/errors/errors.go
Owners: @determined-ai/backend

propagate err from CurrentSlotCount()
  master/internal/rm/agentrm/provisioner/provisioner.go
  master/internal/rm/agentrm/resource_pool.go
Owners: @determined-ai/backend

chore: feedback
  webui/react/src/components/FilterForm/components/FilterField.tsx
  webui/react/src/components/FilterForm/components/FilterForm.module.scss
  webui/react/src/components/FilterForm/components/FilterForm.tsx
  webui/react/src/components/FilterForm/components/FilterGroup.module.scss
  webui/react/src/components/FilterForm/components/FilterGroup.tsx
  webui/react/src/components/FilterForm/components/type.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

feat: Hide experiments from archived projects in `GetExperiments` Added a condition that filters sql results when parent workspace or project is archived and wrote a test to verify
  e2e_tests/tests/experiment/test_custom_searcher.py
  master/internal/api_experiment.go
Owners: @determined-ai/backend

Remove security context check
  master/pkg/model/environment_config.go
Owners: @determined-ai/backend

chore(CLI): set command bind mounts from --config arg (#6769)
  docs/release-notes/command-config-cli-bind-mounts.rst
  harness/determined/cli/command.py
Owners: @determined-ai/docs

reverting some changes
  master/go.mod
  master/go.sum
  master/internal/db/postgres.go
Owners: @determined-ai/backend

refactor non terminal exp count and fix intg test
  master/internal/api_experiment.go
  master/internal/db/postgres_experiments.go
Owners: @determined-ai/backend

chore: remove bun log messages from master logs [DET-9460] (#6816)
  master/internal/api/apiutils/utils.go
Owners: @determined-ai/backend

update db definition
  e2e_tests/tests/experiment/test_metrics.py
  master/internal/db/database.go
  master/internal/mocks/db.go
Owners: @determined-ai/backend

fix: small fixes (#6825)
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

formatting
  master/internal/db/postgres_experiments.go
Owners: @determined-ai/backend

resolve conflicts
  proto/pkg/apiv1/api.pb.go
Owners: @determined-ai/backend

regen files
  harness/determined/common/api/bindings.py
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

fix test
  e2e_tests/tests/experiment/test_metrics.py
Owners: none

fix: proper placement of start/end profile step
  harness/determined/pytorch/dsat/_run_dsat.py
Owners: none

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
