Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

feat: add column picker to new exp list [WEB-978] (#6683)
  harness/determined/common/api/bindings.py
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/components/kit/Checkbox.tsx
  webui/react/src/components/kit/Pivot.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.module.scss
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/pages/F_ExpList/glide-table/tooltip.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Owners: @determined-ai/backend

fix: summary metrics migration earlier than last release latest (#6705)
  docs/release-notes/summary_metrics.rst
  master/internal/db/postgres_trial_intg_test.go
  master/static/migrations/20230503144448_add-summary-metrics.tx.down.sql
  master/static/migrations/20230503144448_add-summary-metrics.tx.up.sql
Owners: @determined-ai/docs, @determined-ai/backend

fix: pass auth with incorrect password [DET-5623] (#6591)
  e2e_tests/tests/cluster/test_users.py
  harness/determined/cli/user.py
  harness/determined/common/api/authentication.py
Owners: none

fix: summary metrics migration earlier than last release latest (#6705)
  docs/release-notes/summary_metrics.rst
  master/internal/db/postgres_trial_intg_test.go
  master/static/migrations/20230503144448_add-summary-metrics.tx.down.sql
  master/static/migrations/20230503144448_add-summary-metrics.tx.up.sql
Owners: @determined-ai/docs, @determined-ai/backend

chore: deprecate EstimatorTrial (#6701)
  docs/example-solutions/examples.rst
  docs/reference/reference-training/training/api-estimator-reference.rst
  docs/release-notes/6701-deprecate-estimators.rst
  docs/training/apis-howto/api-estimator-ug.rst
  e2e_tests/tests/experiment/test_profiling.py
  e2e_tests/tests/experiment/test_tf_estimator.py
  e2e_tests/tests/fixtures/mnist_estimator/const.yaml
  e2e_tests/tests/fixtures/mnist_estimator/distributed.yaml
  e2e_tests/tests/fixtures/mnist_estimator/model_def.py
  e2e_tests/tests/nightly/test_convergence.py
  e2e_tests/tests/nightly/test_distributed.py
  examples/README.md
  examples/computer_vision/mnist_estimator/README.md
  examples/computer_vision/mnist_estimator/adaptive.yaml
  examples/decision_trees/gbt_titanic_estimator/README.md
  examples/decision_trees/gbt_titanic_estimator/adaptive.yaml
  examples/decision_trees/gbt_titanic_estimator/const.yaml
  examples/decision_trees/gbt_titanic_estimator/model_def.py
  examples/decision_trees/gbt_titanic_estimator/startup-hook.sh
  examples/tests/test_official.py
Owners: @determined-ai/docs

test: Add visual diff test to designkit
  .circleci/config.yml
  .pre-commit-config.yaml
  webui/react/.gitignore
  webui/react/Makefile
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/scripts/designkit-screenshot.mjs
  webui/react/scripts/make-github-comment.mjs
  webui/react/scripts/make-screenshot-diff.mjs
Owners: none

chore: Remove portable fetch fix (#6700)
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/vite.config.ts
Owners: none

use headless chrome
  webui/react/scripts/designkit-screenshot.mjs
Owners: none

updated error message
  master/internal/experiment_filter.go
Owners: @determined-ai/backend

more efr instantiation
  master/internal/api_experiment.go
Owners: @determined-ai/backend

split validation and experiment logic
  master/internal/experiment_filter.go
Owners: @determined-ai/backend

update Where
  master/internal/experiment_filter.go
Owners: @determined-ai/backend

updated to switch
  master/internal/experiment_filter.go
Owners: @determined-ai/backend

chore: deprecate EstimatorTrial (#6701)
  docs/example-solutions/examples.rst
  docs/reference/reference-training/training/api-estimator-reference.rst
  docs/release-notes/6701-deprecate-estimators.rst
  docs/training/apis-howto/api-estimator-ug.rst
  e2e_tests/tests/experiment/test_profiling.py
  e2e_tests/tests/experiment/test_tf_estimator.py
  e2e_tests/tests/fixtures/mnist_estimator/const.yaml
  e2e_tests/tests/fixtures/mnist_estimator/distributed.yaml
  e2e_tests/tests/fixtures/mnist_estimator/model_def.py
  e2e_tests/tests/nightly/test_convergence.py
  e2e_tests/tests/nightly/test_distributed.py
  examples/README.md
  examples/computer_vision/mnist_estimator/README.md
  examples/computer_vision/mnist_estimator/adaptive.yaml
  examples/decision_trees/gbt_titanic_estimator/README.md
  examples/decision_trees/gbt_titanic_estimator/adaptive.yaml
  examples/decision_trees/gbt_titanic_estimator/const.yaml
  examples/decision_trees/gbt_titanic_estimator/model_def.py
  examples/decision_trees/gbt_titanic_estimator/startup-hook.sh
  examples/tests/test_official.py
Owners: @determined-ai/docs

removed safe usage
  master/internal/experiment_filter.go
Owners: @determined-ai/backend

formatting
  master/internal/experiment_filter.go
Owners: @determined-ai/backend

fix more unit tests
  harness/determined/pytorch/_pytorch_trial.py
  harness/tests/experiment/fixtures/pytorch_onevar_model.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

formatting updates
  master/internal/experiment_filter.go
Owners: @determined-ai/backend

fix: dataloader skip on resume
  harness/determined/pytorch/_pytorch_trial.py
Owners: none

update exclude statements
  .flake8
Owners: none

add flake8 precommit
  .pre-commit-config.yaml
Owners: none

wip
  .flake8
Owners: none

flake8
  .flake8
  harness/determined/cli/template.py
Owners: none

base off of harness/flake8
  .flake8
Owners: none

exclude through pre-commit
  .flake8
  .pre-commit-config.yaml
Owners: none

add notes
  .pre-commit-config.yaml
  requirements.txt
Owners: none

fix a comment
  .flake8
Owners: none

add a note sync .flake8 files manually
  .flake8
  harness/.flake8
Owners: none

rev
  harness/determined/cli/template.py
Owners: none

chore: add flake8 pre-commit check for harness (#6695)
  .flake8
  .pre-commit-config.yaml
  requirements.txt
Owners: none

chore: deprecate tf1.
  docs/release-notes/deprecate-tf1.rst
Owners: @determined-ai/docs

fix: dataloader skip on resume (#6708)
  harness/determined/pytorch/_pytorch_trial.py
Owners: none

wrong version
  docs/release-notes/deprecate-tf1.rst
Owners: @determined-ai/docs

chore: deprecate tf1. (#6710)
  docs/release-notes/deprecate-tf1.rst
Owners: @determined-ai/docs

Added a comment that Bradley requested
  master/internal/checkpoint_gc.go
Owners: @determined-ai/backend

chore: deprecate tf1. (#6710)
  docs/release-notes/deprecate-tf1.rst
Owners: @determined-ai/docs

fix: GC jobs do not inherit sbatch_args from custom resource_pool [DET-9363] (#6679)
  master/internal/checkpoint_gc.go
  master/pkg/tasks/task_gc.go
Owners: @determined-ai/backend

ci: make custom searcher dump failed trial logs
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/experiment/test_custom_searcher.py
Owners: none

chore: bump version: 0.22.0-rc0 -> 0.22.0-rc1
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/setup.py
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: none

WaitGroup vs context.Background
  master/internal/api_experiment.go
  master/internal/api_project.go
Owners: @determined-ai/backend
