Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

rename LegacyMetricType to MetricType
  master/pkg/model/experiment.go
  master/pkg/model/metrics.go
Owners: @determined-ai/backend

Revert "prohibit reserved metric types"
  master/internal/db/postgres_trial.go
  master/pkg/model/metrics.go
  master/static/migrations/20230605133832_set-default-metric-type.tx.up.sql
Owners: @determined-ai/backend

update metric type usages
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
  master/internal/trials/postgres_trials.go
  master/pkg/model/experiment.go
Owners: @determined-ai/backend

do not set DEFAULT custom_type for generic_metrics
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/pkg/model/experiment.go
  master/static/migrations/20230605133832_set-default-metric-type.tx.down.sql
  master/static/migrations/20230605133832_set-default-metric-type.tx.up.sql
Owners: @determined-ai/backend

avoid setting null custom_type
  master/internal/db/postgres_trial_metrics.go
Owners: @determined-ai/backend

fix a but with selecting metric types
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

missing migration comma
  master/static/migrations/20230605133832_set-default-metric-type.tx.up.sql
Owners: @determined-ai/backend

fix migration
  master/static/migrations/20230605133832_set-default-metric-type.tx.down.sql
  master/static/migrations/20230605133832_set-default-metric-type.tx.up.sql
Owners: @determined-ai/backend

check custom_type for validation and training
  master/static/migrations/20230605134555_set-custom-type-constraint.tx.down.sql
  master/static/migrations/20230605134555_set-custom-type-constraint.tx.up.sql
Owners: @determined-ai/backend

fix: Button with icon styling (#7047)
  webui/react/src/components/kit/Button.module.scss
  webui/react/src/components/kit/Button.tsx
  webui/react/src/components/kit/Dropdown.tsx
  webui/react/src/pages/DesignKit.tsx
Owners: none

remove unnecessary map
  master/internal/db/postgres_test_utils.go
Owners: @determined-ai/backend

chore(actors): refactor task preemption (#7045)
  master/internal/api_trials.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/errors.go
  master/internal/task/preemptible/preemptible.go
  master/internal/task/preemptible/preemptible_test.go
  master/internal/task/preemptible/service.go
  master/internal/task/preemption.go
  master/internal/task/preemption_test.go
  master/pkg/syncx/mapx/mapx.go
Owners: @determined-ai/backend

linting
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
  master/internal/db/postgres_test_utils.go
Owners: @determined-ai/backend

chore(actors): refactor idle timeout into an actorless service
  master/internal/api_notebook.go
  master/internal/command/command.go
  master/internal/task/allocation.go
  master/internal/task/errors.go
  master/internal/task/idle_timeout.go
  master/internal/task/idle_timeout_test.go
  master/internal/task/idler/singleton.go
  master/internal/task/idler/watcher.go
  master/internal/task/idler/watcher_test.go
Owners: @determined-ai/backend

remove unnecessary map
  master/internal/db/postgres_test_utils.go
Owners: @determined-ai/backend

linting
  master/internal/db/postgres_test_utils.go
Owners: @determined-ai/backend

self review
  master/internal/task/allocation.go
  master/internal/task/idler/service.go
  master/internal/task/idler/watcher.go
  master/internal/task/idler/watcher_test.go
Owners: @determined-ai/backend

feat: add summary metric support for generic metrics (#7012)
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
  master/internal/trials/postgres_trials.go
  master/pkg/model/experiment.go
  master/pkg/model/metrics.go
  master/static/migrations/20230605133832_set-default-metric-type.tx.down.sql
  master/static/migrations/20230605133832_set-default-metric-type.tx.up.sql
  master/static/migrations/20230605134555_set-custom-type-constraint.tx.down.sql
  master/static/migrations/20230605134555_set-custom-type-constraint.tx.up.sql
  master/static/srv/calculate-full-trial-summary-metrics.sql
Owners: @determined-ai/backend

chore: capabilities options for singularity
  agent/pkg/singularity/singularity.go
Owners: @determined-ai/backend

updated metric selection
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.settings.ts
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.tsx
  webui/react/src/pages/F_ExpList/ComparisonView.tsx
  webui/react/src/pages/F_ExpList/ExpParallelCoordinates.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

chore: create and cleanup mock workspace (#7066)
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_test_utils.go
Owners: @determined-ai/backend

chore: used helper function to get color out from CSS var
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

fix: prevent re-renders on glide table
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

feat: show experiment count
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.module.scss
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Owners: none

fix: minor fixes
  webui/react/src/pages/F_ExpList/glide-table/utils.ts
Owners: none

fix: change `start time` unit
  webui/react/src/pages/F_ExpList/glide-table/utils.ts
Owners: none

chore: show total exp num
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Owners: none

fix: Bottom of code editor, find tool both visible (#7050)
  webui/react/src/pages/ExperimentDetails/ExperimentCodeViewer.module.scss
Owners: none

chore: await_first_trial ensures first trial is returned
  harness/determined/common/experimental/experiment.py
  harness/tests/determined/common/experimental/test_experiment.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/experiment_trials.json
Owners: none

fix: show experiment count and change `start time` unit (#7004)
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.module.scss
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/glide-table/utils.ts
Owners: none

fix: tr rendering bug
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/kit/Dropdown.tsx
Owners: none

fix: Breadcrumb should not have extra margin (#7069)
  webui/react/src/components/kit/Breadcrumb.tsx
Owners: none

chore: assume missing project as deleted experiment
  master/internal/experiment.go
  master/internal/job/job.go
Owners: @determined-ai/backend

docs: give prominence to Apptainer instead of Singularity
  docs/reference/deploy/config/master-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/install-on-slurm.rst
  docs/setup-cluster/deploy-cluster/slurm/overview.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/deploy-cluster/slurm/slurm-requirements.rst
Owners: @determined-ai/docs

remove isValidElement
  webui/react/src/components/kit/Dropdown.tsx
Owners: none

chore: capabilities options for singularity (#7074)
  agent/pkg/singularity/singularity.go
Owners: @determined-ai/backend

naming updates
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.tsx
Owners: none

chore: fix the lint script on package to resolve
  webui/react/package.json
Owners: none

test for build
  docs/_templates/sidebar-version.html
  docs/assets/styles/determined.css
  docs/assets/version-switcher/versions.json
  docs/conf.py
Owners: @determined-ai/docs

refactor: minor refactor of lint scripts
  webui/react/package.json
Owners: none
