Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

type
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

tidier
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

wip 2
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

fixes
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Owners: none

fix: Groups modal does not include inactive users
  webui/react/src/components/CreateGroupModal.tsx
Owners: none

fix: Improve HPC error shutdown to improve logging [FE-44]
  harness/determined/exec/pid_server.py
  harness/determined/ipc.py
  harness/determined/launch/deepspeed.py
  harness/determined/launch/horovod.py
  harness/determined/util.py
  master/static/srv/task-logging-setup.sh
  master/static/srv/task-logging-teardown.sh
Owners: @determined-ai/backend

PR comments and remove rbac requirement
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/components/kit/Card.tsx
  webui/react/src/pages/ResourcepoolDetail.tsx
Owners: none

docs: add release notes for 0.23.4 (#7524)
  docs/release-notes.rst
  docs/release-notes/7377-edit-user-settings.rst
  docs/release-notes/7561-rp-workspace-mapping.rst
  docs/release-notes/9355-allow-security-context
  docs/release-notes/metric-merge.rst
  docs/release-notes/new-experiment-list.rst
  docs/release-notes/patch_master_config.rst
Owners: @determined-ai/docs

chore: bump version: 0.23.4-dev0 -> 0.23.5-dev0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: @determined-ai/docs

ckpt
  master/Makefile
  master/internal/mocks/allocationmocks/allocation_service.go
  master/internal/mocks/rm.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/rmevents/rmevents.go
  master/internal/rm/tasklist/task_list_test.go
  master/internal/sproto/task.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_service.go
  master/internal/task/allocation_service_iface.go
  master/internal/trial.go
  master/internal/trial_test.go
Owners: @determined-ai/backend

tmp
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
Owners: @determined-ai/backend

various test fixes
  master/internal/rm/agentrm/mock_test.go
  master/internal/rm/agentrm/priority.go
  master/internal/rm/agentrm/resource_pool_test.go
  master/internal/rm/agentrm/scheduler_test.go
Owners: @determined-ai/backend

tmp
  master/Makefile
  master/internal/api_trials.go
  master/internal/rm/agentrm/resources.go
  master/internal/rm/rmevents/rmevents.go
  master/internal/rm/rmevents/rmevents_test.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/trial.go
Owners: @determined-ai/backend

move back to queue
  master/internal/rm/rmevents/rmevents.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
Owners: @determined-ai/backend

ckpt
  master/internal/api_workspace.go
  master/internal/command/command.go
  master/internal/rm/agentrm/priority.go
  master/internal/rm/agentrm/round_robin.go
  master/internal/rm/rmevents/rmevents.go
  master/internal/rm/tasklist/task_list_test.go
  master/internal/sproto/task.go
  master/internal/task/allocation_service_iface.go
  master/internal/trial.go
Owners: @determined-ai/backend

tmp
  master/internal/rm/rmevents/rmevents_test.go
Owners: @determined-ai/backend

fix tests for package task
  master/internal/task/allocation_intg_test.go
  master/internal/task/rendezvous.go
  master/internal/task/rendezvous_test.go
Owners: @determined-ai/backend

fmt
  master/internal/task/allocation.go
  master/internal/task/allocation_service.go
Owners: @determined-ai/backend

ckpt
  master/Makefile
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/command/summary.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_service.go
  master/internal/trial.go
Owners: @determined-ai/backend

remove GetResourcesContainerState hack (verified, purpose changed from orig pr, no longer needed
  master/internal/rm/agentrm/agent.go
  master/internal/task/allocation_service.go
  master/internal/task/allocationservice/allocationservice.go
Owners: @determined-ai/backend

lintetc
  master/internal/mocks/allocationmocks/allocation_service.go
Owners: @determined-ai/backend

various changes
  master/internal/command/command.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_service.go
  master/internal/task/tproto/tproto.go
  master/internal/trial.go
  master/internal/trial_test.go
Owners: @determined-ai/backend

linting
  master/internal/api_trials.go
  master/internal/task/allocation.go
  master/internal/task/allocation_service.go
Owners: @determined-ai/backend

selfreview
  master/internal/api_trials.go
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/core.go
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/agentrm/priority.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/round_robin.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/rmevents/rmevents_test.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/task/allocation_service.go
  master/internal/task/allocation_service_iface.go
  master/internal/trial.go
Owners: @determined-ai/backend

fix tests for internal.trial
  master/internal/api_trials.go
  master/internal/trial.go
  master/internal/trial_test.go
Owners: @determined-ai/backend

golandstuff
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_service.go
Owners: @determined-ai/backend

add fill out allocation service
  master/internal/api_tasks.go
  master/internal/api_trials.go
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/core.go
  master/internal/task/allgather.go
  master/internal/task/allocation.go
  master/internal/task/allocation_map.go
  master/internal/task/allocation_service.go
  master/internal/trial.go
Owners: @determined-ai/backend

rendezvousstuff
  master/internal/api_trials.go
  master/internal/task/allocation.go
  master/internal/task/allocation_service.go
  master/internal/task/allocation_service_iface.go
Owners: @determined-ai/backend

tmp
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/core.go
  master/internal/mocks/allocationmocks/allocation_service.go
  master/internal/rm/rmevents/rmevents_test.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_service.go
  master/internal/task/allocation_service_iface.go
Owners: @determined-ai/backend

resurrect GetContainerResourcesState, etc
  master/internal/command/command.go
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/mock_test.go
  master/internal/rm/rmevents/rmevents.go
  master/internal/rm/rmevents/service.go
  master/internal/sproto/task.go
  master/internal/sproto/task_actor.go
  master/internal/task/allgather.go
  master/internal/task/allocation_service.go
  master/internal/task/allocationservice/allocationservice.go
  master/internal/task/idle/watcher_test.go
  master/internal/task/tproto/tproto.go
Owners: @determined-ai/backend

erik final review
  master/internal/rm/rmevents/rmevents.go
  master/internal/sproto/resources.go
  master/internal/task/allocation.go
  master/internal/task/allocation_service.go
  master/internal/task/allocation_service_test.go
Owners: @determined-ai/backend

tmp
  master/internal/task/allocation.go
Owners: @determined-ai/backend

make check (please run ci...)
  master/internal/api_trials.go
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/mocks/allocationmocks/allocation_service.go
  master/internal/mocks/rm.go
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/resource_manager_iface.go
  master/internal/rm/rmevents/rmevents.go
  master/internal/rm/rmevents/rmevents_test.go
  master/internal/rm/rmevents/service.go
  master/internal/sproto/resources.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_service.go
  master/internal/task/allocation_service_iface.go
  master/internal/task/allocation_service_test.go
  master/internal/task/rendezvous.go
  master/internal/task/rendezvous_test.go
  master/internal/trial.go
  master/internal/trial_test.go
  master/pkg/actor/actors/test_actor.go
Owners: @determined-ai/backend

invert who emits release event
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/rmevents/rmevents_test.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
Owners: @determined-ai/backend

found it
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/resource_pool.go
Owners: @determined-ai/backend

xtmp
  master/internal/task/allocation.go
Owners: @determined-ai/backend

nickb final review
  master/internal/rm/agentrm/resource_pool.go
  tools/agent.yaml
  tools/master.yaml
Owners: @determined-ai/backend

fixtests
  master/internal/command/command_manager.go
  master/internal/command/notebook_manager.go
  master/internal/command/shell_manager.go
  master/internal/command/tensorboard_manager.go
  master/internal/rm/agentrm/resources.go
  master/internal/task/allocation.go
  master/pkg/tasks/task_command.go
  master/pkg/tasks/task_gc.go
  master/pkg/tasks/task_trial.go
Owners: @determined-ai/backend

lintetc
  master/internal/command/command.go
Owners: @determined-ai/backend

pools ignore messages not intended for them
  master/internal/mocks/rm.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/resource_pool.go
Owners: @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
