Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

fix: update column order in ExperimentTrials table (#6640)
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
Owners: none

chore!: remove old template endpoints [DET-9337] (#6572)
  docs/release-notes/remove-old-tempalte-apis.rst
  harness/determined/cli/template.py
  harness/determined/common/api/bindings.py
  master/internal/core.go
  master/internal/db/database.go
  master/internal/db/postgres_templates.go
  master/internal/mocks/db.go
  master/internal/template/api.go
  master/static/srv/list_templates.sql
  proto/pkg/apiv1/template.pb.go
  proto/src/determined/api/v1/template.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/docs, @determined-ai/backend

chore: update UI kit Tooltip component (#6608)
  webui/react/src/components/Badge.tsx
  webui/react/src/components/BadgeTag.tsx
  webui/react/src/components/Bar.tsx
  webui/react/src/components/BreadcrumbBar.tsx
  webui/react/src/components/CheckpointModalTrigger.tsx
  webui/react/src/components/ExperimentIcons/index.tsx
  webui/react/src/components/GalleryModal.tsx
  webui/react/src/components/HumanReadableNumber.tsx
  webui/react/src/components/JupyterLabButton.tsx
  webui/react/src/components/Metadata/MetadataCard.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NotesCard.tsx
  webui/react/src/components/PageHeader/PageHeader.tsx
  webui/react/src/components/PageHeaderFoldable.tsx
  webui/react/src/components/ProjectCard.tsx
  webui/react/src/components/RadioGroup.tsx
  webui/react/src/components/RoutePagination.tsx
  webui/react/src/components/SlotAllocationBar.tsx
  webui/react/src/components/Table/Table.tsx
  webui/react/src/components/TimeAgo.tsx
  webui/react/src/components/TrialLogPreview.tsx
  webui/react/src/components/kit/Button.tsx
  webui/react/src/components/kit/LogViewer/LogViewer.tsx
  webui/react/src/components/kit/LogViewer/LogViewerEntry.tsx
  webui/react/src/components/kit/Tags.tsx
  webui/react/src/components/kit/Tooltip.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ExperimentDetails/CodeViewer/CodeViewer.tsx
  webui/react/src/pages/ExperimentDetails/Header/ExperimentHeaderProgress.tsx
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/pages/JobQueue/JobQueue.table.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.tsx
  webui/react/src/pages/TrialsComparison/Collections/useTrialCollections.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceDetailsHeader.tsx
  webui/react/src/shared/components/Avatar/Avatar.tsx
  webui/react/src/shared/components/CopyButton.tsx
  webui/react/src/shared/components/Icon/Icon.tsx
Owners: none

fix: task proxies should recover across restarts (#6660) [DET-9325]
  master/internal/db/database.go
  master/internal/db/postgres_tasks.go
  master/internal/mocks/db.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/pods_test.go
  master/internal/task/allocation.go
  master/pkg/model/task.go
  master/static/migrations/20230427161411_allocation-proxy-address.tx.down.sql
  master/static/migrations/20230427161411_allocation-proxy-address.tx.up.sql
Owners: @determined-ai/backend

chore: bump version: 0.21.2-rc4 -> 0.21.2-rc5
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/setup.py
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: none

perf: add latest_validation_id to trials
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/static/migrations/20230428102519_add-last-validation-id.tx.down.sql
  master/static/migrations/20230428102519_add-last-validation-id.tx.up.sql
Owners: @determined-ai/backend

added support for tags and duration
  master/internal/api_experiment.go
  master/internal/api_experiment_test.go
Owners: @determined-ai/backend

added test cases
  master/internal/api_experiment.go
  master/internal/api_experiment_test.go
Owners: @determined-ai/backend

formatting
  master/internal/api_experiment_test.go
Owners: @determined-ai/backend

feat: add `Open Link in New Tab` and `Open Link in New Window` options to experiment table link cells[WEB-1168] (#6637)
  webui/react/src/components/ActionSheet.tsx
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/Link.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/pages/F_ExpList/glide-table/contextMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/linkCell.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/routes/utils.ts
  webui/react/src/shared/utils/routes.ts
Owners: none

docs: add release notes for 0.21.2
  docs/release-notes.rst
  docs/release-notes/exp-trial-task-logs-json.rst
  docs/release-notes/launch-error.rst
  docs/release-notes/launcher-327.rst
  docs/release-notes/remove-hp-importance.rst
  docs/release-notes/tasks-404-fix.rst
Owners: @determined-ai/docs

docs: add release notes for 0.21.2 (#6673)
  docs/release-notes.rst
  docs/release-notes/exp-trial-task-logs-json.rst
  docs/release-notes/launch-error.rst
  docs/release-notes/launcher-327.rst
  docs/release-notes/remove-hp-importance.rst
  docs/release-notes/tasks-404-fix.rst
Owners: @determined-ai/docs

chore: bump version: 0.21.2-rc5 -> 0.21.2
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/setup.py
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: none

Add chart '0.21.2' due to release
  determined-helm-chart_0.21.2.tgz
  index.yaml
Owners: none

docs: add release notes for 0.21.2 (#6673)
  docs/release-notes.rst
  docs/release-notes/exp-trial-task-logs-json.rst
  docs/release-notes/launch-error.rst
  docs/release-notes/launcher-327.rst
  docs/release-notes/remove-hp-importance.rst
  docs/release-notes/tasks-404-fix.rst
Owners: @determined-ai/docs

chore: bump version: 0.21.2-dev0 -> 0.21.3-dev0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/setup.py
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: none

refactor: simplify config handling in `AddExperiment`. (#6667)
  master/internal/db/postgres_experiments.go
Owners: @determined-ai/backend

chore: update license for web pacakges (#6638)
  tools/scripts/gen-attributions.py
  tools/scripts/licenses/ace
  tools/scripts/licenses/ansi-to-html
  tools/scripts/licenses/ant-design
  tools/scripts/licenses/dayjs
  tools/scripts/licenses/events
  tools/scripts/licenses/fuse
  tools/scripts/licenses/glide-data-grid
  tools/scripts/licenses/immutable-js
  tools/scripts/licenses/isomorphic-fetch
  tools/scripts/licenses/lodash
  tools/scripts/licenses/markdown-to-jsx
  tools/scripts/licenses/marked
  tools/scripts/licenses/micro-observables
  tools/scripts/licenses/node-url
  tools/scripts/licenses/omnibar
  tools/scripts/licenses/path-to-regexp
  tools/scripts/licenses/query-string
  tools/scripts/licenses/react-dnd
  tools/scripts/licenses/react-draggable
  tools/scripts/licenses/react-helmet-async
  tools/scripts/licenses/react-monaco-editor
  tools/scripts/licenses/react-responsive-carousel
  tools/scripts/licenses/react-router
  tools/scripts/licenses/react-transition-group
  tools/scripts/licenses/react-window
  tools/scripts/licenses/screenfull
  tools/scripts/licenses/smoothscroll
  tools/scripts/licenses/sprintf-js
  tools/scripts/licenses/throttle-debounce
  tools/scripts/licenses/typescript
  tools/scripts/licenses/uplot
Owners: none

make sure to pass through the args parsing function
  harness/determined/pytorch/deepspeed/dsat/_run_dsat.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

fix up the dsat tests (#6664)
  harness/determined/pytorch/deepspeed/dsat/__main__.py
  harness/determined/pytorch/deepspeed/dsat/_defaults.py
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/pytorch/deepspeed/dsat/_run_dsat.py
  harness/tests/custom_search_mocks.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

move up added migration
  master/static/migrations/20230428133705_add-template-workspace.tx.down.sql
  master/static/migrations/20230428133705_add-template-workspace.tx.up.sql
Owners: @determined-ai/backend

type updates
  harness/determined/cli/trial.py
Owners: none

touch up the tests so that they can issue a failure to the experiment
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/searcher/_search_method.py
  harness/determined/searcher/_search_runner.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

chore: disable flag
  webui/react/src/pages/ProjectDetails.tsx
Owners: none

add crud tests. fix missing workspace_id in get_template
  e2e_tests/tests/template/test_template.py
  master/static/srv/get_template.sql
Owners: @determined-ai/backend

chore: disable flag (#6674)
  webui/react/src/pages/ProjectDetails.tsx
Owners: none

cascade set null just in case someone deletes a validation
  master/static/migrations/20230428102519_add-last-validation-id.tx.up.sql
Owners: @determined-ai/backend

feat: add support for returning pagination info from user store
  webui/react/src/stores/users.tsx
Owners: none

chore: update user management to fetch user pagination from user store
  webui/react/src/pages/Settings/UserManagement.tsx
Owners: none

docs: add meta descriptions
  docs/training/apis-howto/api-core-ug.rst
Owners: @determined-ai/docs

increase throttle to 1s
  webui/react/src/components/kit/LogViewer/LogViewerSelect.tsx
Owners: none

add a tester for single migration
  tools/scripts/test-reversability.py
Owners: none

moving to bun
  master/internal/api_experiment.go
  master/internal/api_experiment_test.go
Owners: @determined-ai/backend

updates
  master/internal/api_experiment_test.go
Owners: @determined-ai/backend

fix test that relied on late trial row write
  e2e_tests/tests/cluster/test_agent_disable.py
Owners: none

chore: unwind the lazy write of trials a bit
  docs/release-notes/earlier-trial-persist.rst
  master/internal/restore.go
  master/internal/trial.go
  master/internal/trial_test.go
Owners: @determined-ai/docs, @determined-ai/backend

chore: update based on PR review
  webui/react/src/stores/users.tsx
Owners: none

fix: update user management table to use the correct total from pagination info [WEB-1187] (#6675)
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/stores/users.tsx
Owners: none

fix: GC jobs do not inherit sbatch_args from custom resource_pool [DET-9363]
  master/internal/checkpoint_gc.go
  master/pkg/tasks/task_gc.go
Owners: @determined-ai/backend

Fixed lint long line issue
  master/internal/checkpoint_gc.go
Owners: @determined-ai/backend
