Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

continue type alias rm
  harness/determined/common/experimental/trial.py
  harness/determined/experimental/client.py
Owners: none

undeprecate
  harness/determined/common/experimental/trial.py
  harness/determined/core/_train.py
Owners: none

avoid adding steps_completed to TrialMetrics
  harness/determined/common/experimental/trial.py
Owners: none

fix: text overflow
  webui/react/src/components/kit/CodeEditor/CodeEditor.module.scss
  webui/react/src/components/kit/internal/monokai.css
Owners: none

leave tsb generic support for another pr
  harness/determined/core/_train.py
Owners: none

fix: mobile view
  webui/react/src/components/kit/CodeEditor/CodeEditor.module.scss
Owners: none

move comment
  harness/determined/cli/shell.py
Owners: none

simplify test
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Owners: @determined-ai/backend

review feedback
  master/internal/task/allgather.go
  master/internal/task/allgather/allgather.go
  master/internal/task/preemptible/preemptible.go
Owners: @determined-ai/backend

chore(actors): refactor allgather
  master/internal/api_tasks.go
  master/internal/task/all_gather.go
  master/internal/task/allgather.go
  master/internal/task/allgather/allgather.go
  master/internal/task/allgather/allgather_api_test.go
  master/internal/task/allgather/service.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/idle/watcher_test.go
  master/internal/task/service.go
Owners: @determined-ai/backend

fix: Windows file permissions (#7215)
  harness/determined/cli/shell.py
  harness/setup.py
Owners: none

fix: text overflow in code view (#7205)
  webui/react/src/components/kit/CodeEditor/CodeEditor.module.scss
  webui/react/src/components/kit/internal/monokai.css
Owners: none

feat: add num of experiments in quick search modal
  webui/react/src/pages/WorkspaceDetails/WorkspaceQuickSearch.tsx
Owners: none

pr comments
  harness/determined/common/api/_util.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/tests/determined/common/experimental/test_experiment.py
Owners: none

feat: List RPs Avaiable to Workspace [DET-9531]
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Owners: @determined-ai/backend

wip getting the endpoints lined up
  harness/determined/common/api/bindings.py
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/trial.pb.go
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/trial.proto
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

address review feedback
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Owners: @determined-ai/backend

chore: fill in missing intg tests [DET-9520] (#7222)
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
  master/static/migrations/20230626140104_add-rp-workspace-bindings-constraint.tx.down.sql
  master/static/migrations/20230626140104_add-rp-workspace-bindings-constraint.tx.up.sql
Owners: @determined-ai/backend

lint
  harness/determined/common/experimental/determined.py
  harness/determined/experimental/client.py
  harness/tests/determined/common/experimental/test_experiment.py
Owners: none

wip, trying to add the create trial info endpoint
  master/internal/api_trials.go
  master/static/srv/insert_trial_source_info.sql
Owners: @determined-ai/backend

fix: sort of `GetWorkspaceProjects` API (#7214)
  master/internal/api_workspace.go
Owners: @determined-ai/backend

chore: lock api state for backward compatibility check
  proto/buf.image.bin
Owners: @determined-ai/backend

chore: lock published urls to preserve redirects
  docs/.redirects/all_published_urls_ever.json
Owners: @determined-ai/docs

chore: bump version: 0.23.2-dev0 -> 0.23.2-rc0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: @determined-ai/docs

Update master/internal/task/preemptible/preemptible.go
  master/internal/task/preemptible/preemptible.go
Owners: @determined-ai/backend

Docs: Spell out acronyms in a release note
  docs/release-notes/gcp_cluster_management.rst
Owners: @determined-ai/docs

Fix: use user id for new explist user filter
  master/internal/experiment_filter.go
  webui/react/src/components/FilterForm/components/FilterField.tsx
Owners: @determined-ai/backend

fix select label display
  webui/react/src/components/FilterForm/components/FilterField.tsx
Owners: none

fix typing
  harness/determined/common/experimental/determined.py
Owners: none

use useObservable hook
  webui/react/src/components/FilterForm/components/FilterField.tsx
Owners: none

feat: List RPs Avaiable to Workspace [DET-9531] (#7176)
  master/internal/api_workspace.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
  master/internal/mocks/workspace_authz_iface.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
Owners: @determined-ai/backend

fix: experiment list comparison view
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
Owners: none

Docs: Spell out acronyms in a release note (#7247)
  docs/release-notes/gcp_cluster_management.rst
Owners: @determined-ai/docs

make key not optional
  webui/react/src/utils/shortcut.ts
Owners: none

feat: add num of experiments in quick search modal (#7223)
  webui/react/src/pages/WorkspaceDetails/WorkspaceQuickSearch.tsx
Owners: none

tmp
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Owners: none

chore(actors): refactor allgather (#7195)
  master/internal/api_tasks.go
  master/internal/task/all_gather.go
  master/internal/task/allgather.go
  master/internal/task/allgather/allgather.go
  master/internal/task/allgather/allgather_api_test.go
  master/internal/task/allgather/service.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/idle/watcher_test.go
  master/internal/task/service.go
Owners: @determined-ai/backend

fix: summary metrics decode
  webui/react/src/ioTypes.ts
Owners: none

added batch process context
  examples/Inference/basic_inference/basic_inference.py
  examples/Inference/test_deepspeed.py
  harness/determined/experimental/inference/_torch_batch_process.py
Owners: none

harness/determined/experimental/inference/_torch_batch_process.py
  harness/determined/experimental/inference/_torch_batch_process.py
Owners: none
