Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

docs: fix searchbar result paths (#6592)
  docs/assets/scripts/docsearch.sbt.js
Owners: @determined-ai/docs

docs: fix searchbar result paths (#6592)
  docs/assets/scripts/docsearch.sbt.js
Owners: @determined-ai/docs

fix: Moving model to new workspace - workspaces sort (#6593)
  webui/react/src/components/ModelMoveModal.tsx
  webui/react/src/hooks/useModal/Model/useModalModelCreate.tsx
  webui/react/src/hooks/useModal/Model/useModalModelMove.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateGroup.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalPasswordChange.tsx
Owners: none

fix: Workspace member modal includes users and groups
  webui/react/src/components/WorkspaceMemberAddModal.tsx
Owners: none

chore: expose default modal cancel button label
  webui/react/src/components/kit/Modal.tsx
Owners: none

avgmetrics, map to record
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
  webui/react/src/pages/TrialsComparison/Metrics/useLearningCurveData.ts
  webui/react/src/types.ts
Owners: none

linting
  master/internal/rm/kubernetesrm/pods.go
Owners: @determined-ai/backend

WIP remove extra debug logging
  master/internal/rm/kubernetesrm/pods.go
Owners: @determined-ai/backend

tolerate default Nvidia taint when using default resource pool
  master/internal/rm/kubernetesrm/pods.go
Owners: @determined-ai/backend

go.mod update
  master/go.mod
Owners: @determined-ai/backend

fix: also use master TCD config for k8s pods tolerations
  master/internal/core.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/setup.go
Owners: @determined-ai/backend

WIP: k8s cluster info using taints/tolerations
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/pods_test.go
Owners: @determined-ai/backend

fix: correct pseudo container count
  master/internal/rm/kubernetesrm/pods.go
Owners: @determined-ai/backend

oops, fix conflict
  master/internal/rm/kubernetesrm/pods.go
Owners: @determined-ai/backend

lint
  master/internal/rm/kubernetesrm/pods.go
Owners: @determined-ai/backend

WIP logging tweak
  master/internal/rm/kubernetesrm/pods.go
Owners: @determined-ai/backend

more efficient toleration extraction from TCD
  master/internal/rm/kubernetesrm/pods.go
Owners: @determined-ai/backend

use default tolerations better
  master/internal/rm/kubernetesrm/pods.go
Owners: @determined-ai/backend

remove backoff
  harness/determined/common/api/profiler.py
  harness/tests/test_imports.py
  master/static/srv/enrich_task_logs.py
Owners: @determined-ai/backend

default timeout
  harness/determined/deploy/local/cluster_utils.py
Owners: none

remove sleep
  harness/determined/deploy/local/cluster_utils.py
Owners: none

test
  e2e_tests/tests/deploy/test_local.py
Owners: none

try connecting to network on startup
  harness/determined/deploy/local/cluster_utils.py
Owners: none

extend timeout for test
  harness/determined/deploy/local/cluster_utils.py
Owners: none

fix: launch error has no effect for k8s and slurm
  master/internal/api_command.go
  master/internal/experiment.go
Owners: @determined-ai/backend

fix: jiggle cli.tunnel & cli.proxy code to avoid an import warning.
  harness/determined/cli/_tunnel_util.py
  harness/determined/cli/proxy.py
  harness/determined/cli/tunnel.py
Owners: none

fix: use legacy optimizer in fashion_mnist_tf_keras
  examples/tutorials/fashion_mnist_tf_keras/model_def.py
Owners: none

feat: k8s cluster info using taints/tolerations incl. global ones (#6518)
  master/go.mod
  master/internal/core.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/pods_test.go
  master/internal/rm/setup.go
Owners: @determined-ai/backend

fix: skip test of gbt_titanic_estimator if tensorflow>=2.11.0
  e2e_tests/tests/nightly/test_convergence.py
Owners: none

fix: use legacy optimizer in unets_tf_keras
  examples/computer_vision/unets_tf_keras/model_def.py
Owners: none

fix: use legacy optimizer in pix2pix_tf_keras
  examples/gan/pix2pix_tf_keras/pix2pix/discriminator.py
  examples/gan/pix2pix_tf_keras/pix2pix/generator.py
Owners: none

fix: use legacy optimizer in fixture tf_keras_runtime_error.py
  harness/tests/experiment/fixtures/tf_keras_runtime_error.py
Owners: none

fix: use legacy optimizer in dcgan_tf_keras
  examples/gan/dcgan_tf_keras/model_def.py
Owners: none

fix: use legacy optimizer in keras no-op fixtures
  e2e_tests/tests/fixtures/keras_no_op/model_def.py
  e2e_tests/tests/fixtures/keras_tf2_disabled_no_op/model_def.py
Owners: none

feat: agent support for podman
  agent/pkg/podman/podman.go
  agent/pkg/podman/podman_test.go
Owners: @determined-ai/backend

isort
  harness/tests/experiment/fixtures/tf_keras_runtime_error.py
Owners: none

typo
  examples/gan/dcgan_tf_keras/model_def.py
Owners: none

get rid of backoff in task logs
  master/static/srv/check_ready_logs.py
  master/static/srv/enrich_task_logs.py
Owners: @determined-ai/backend

remove backoff dependency
  harness/setup.py
Owners: none

fix: widen the Searcher Metric Values column
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Owners: none
