Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

test cleanup
  master/pkg/errors/errors_test.go
Owners: @determined-ai/backend

add release notes
  docs/release-notes/launch-error-timeout.rst
Owners: @determined-ai/docs

fix: patch workspacelist context menu
  webui/react/src/pages/WorkspaceList.tsx
Owners: none

fix: patch workspacelist context menu (#6919)
  webui/react/src/pages/WorkspaceList.tsx
Owners: none

refactoring change to only appear in cli
  harness/determined/cli/user.py
  master/internal/api_user.go
Owners: @determined-ai/backend

Remove comments
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
Owners: none

final changes
  harness/determined/cli/user.py
Owners: none

adding release notes
  docs/release-notes/remove-oss-admin-rbac.rst
Owners: @determined-ai/docs

lint
  docs/release-notes/remove-oss-admin-rbac.rst
Owners: @determined-ai/docs

fix: remove oss admin flag from 'det user list' with RBAC (#6920)
  docs/release-notes/remove-oss-admin-rbac.rst
  harness/determined/cli/user.py
Owners: @determined-ai/docs

fix: replace `crypto.randomUUID` with `uuid` (#6908)
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/setupTests.ts
Owners: none

fix: bump AWS CFN `SecondsUntilAutoPause` to see if it helps with timeouts.
  harness/determined/deploy/aws/templates/simple.yaml
Owners: none

fix: bump AWS CFN `SecondsUntilAutoPause` to see if it helps with timeouts. (#6921)
  harness/determined/deploy/aws/templates/simple.yaml
Owners: none

chore: change order of the colors for better visualization
  webui/react/src/utils/colors.ts
Owners: none

chore: add isort pre-commit hook (#6897)
  .circleci/scripts/upload_test_results.py
  .isort.cfg
  .pre-commit-config.yaml
  bindings/generate_bindings_py.py
  bindings/generate_bindings_ts.py
  bindings/swagger_parser.py
  cli/.isort.cfg
  common/.isort.cfg
  deploy/.isort.cfg
  docs/conf.py
  docs/sphinx-wrapper.py
  e2e_tests/.isort.cfg
  examples/.isort.cfg
  examples/gan/gan_mnist_pl/mnist.py
  examples/gan/gan_mnist_pl/model_def.py
  examples/tests/.isort.cfg
  harness/.isort.cfg
  helm/charts/determined/scripts/k8s-password-change.py
  master/static/srv/check_idle.py
  master/static/srv/check_ready_logs.py
  model_hub/.isort.cfg
  pre-commit/check.py
  requirements.txt
  webui/react/src/shared/bin/test.py
Owners: @determined-ai/docs, @determined-ai/backend

fix: make AWS template postgres version-agnostic.
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
Owners: none

drop added foreign key constraint on raw_validations
  master/static/migrations/20230519142357_add-generic-metrics-partitioned-table.tx.down.sql
Owners: @determined-ai/backend

fmt migrations
  master/static/migrations/20230519142357_add-generic-metrics-partitioned-table.tx.up.sql
Owners: @determined-ai/backend

fix: make AWS template postgres version-agnostic. (#6923)
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
Owners: none

feat: parallel coordinates chart on trial hyperparameters tab [WEB-1196] (#6872)
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/MetricSelect.tsx
  webui/react/src/components/ParallelCoordinates.tsx
  webui/react/src/components/kit/Select.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpHeatMaps.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpScatterPlots.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/TrialDetails/MultiTrialDetailsHyperparameters.settings.ts
  webui/react/src/pages/TrialDetails/MultiTrialDetailsHyperparameters.tsx
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.module.scss
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.tsx
Owners: none

reorganize sql statements
  master/static/migrations/20230519142357_add-generic-metrics-partitioned-table.tx.down.sql
  master/static/migrations/20230519142357_add-generic-metrics-partitioned-table.tx.up.sql
Owners: @determined-ai/backend

update transaction name
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

support hf examples (#6910)
  docs/example-solutions/examples.rst
  docs/model-hub-library/transformers/overview.rst
  examples/Makefile
  examples/hf_trainer_api/README.md
  examples/hf_trainer_api/image_classification/adaptive.yaml
  examples/hf_trainer_api/image_classification/const.yaml
  examples/hf_trainer_api/image_classification/const_epochs.yaml
  examples/hf_trainer_api/image_classification/deepspeed.yaml
  examples/hf_trainer_api/image_classification/distributed.yaml
  examples/hf_trainer_api/image_classification/ds_configs/ds_config_stage_1.json
  examples/hf_trainer_api/image_classification/ds_configs/ds_config_stage_2.json
  examples/hf_trainer_api/image_classification/ds_configs/ds_config_stage_2_cpu_offload.json
  examples/hf_trainer_api/image_classification/ds_configs/ds_config_stage_3.json
  examples/hf_trainer_api/image_classification/image_classification.py
  examples/hf_trainer_api/image_classification/requirements.txt
  examples/hf_trainer_api/image_classification/startup-hook.sh
  examples/hf_trainer_api/language_modeling/adaptive.yaml
  examples/hf_trainer_api/language_modeling/const.yaml
  examples/hf_trainer_api/language_modeling/const_epochs.yaml
  examples/hf_trainer_api/language_modeling/deepspeed.yaml
  examples/hf_trainer_api/language_modeling/distributed.yaml
  examples/hf_trainer_api/language_modeling/ds_configs/ds_config_stage_1.json
  examples/hf_trainer_api/language_modeling/ds_configs/ds_config_stage_2.json
  examples/hf_trainer_api/language_modeling/ds_configs/ds_config_stage_2_cpu_offload.json
  examples/hf_trainer_api/language_modeling/ds_configs/ds_config_stage_3.json
  examples/hf_trainer_api/language_modeling/requirements.txt
  examples/hf_trainer_api/language_modeling/run_clm.py
  examples/hf_trainer_api/language_modeling/startup-hook.sh
Owners: @determined-ai/docs

lint
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
Owners: @determined-ai/backend

hooks, pages, services
  webui/react/src/components/kit/Card.tsx
  webui/react/src/components/kit/ClipboardButton.tsx
  webui/react/src/components/kit/Form.tsx
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/components/kit/LineChart/XAxisFilter.tsx
  webui/react/src/components/kit/LogViewer/LogViewer.tsx
  webui/react/src/components/kit/LogViewer/LogViewerEntry.tsx
  webui/react/src/components/kit/LogViewer/LogViewerSelect.settings.ts
  webui/react/src/components/kit/LogViewer/LogViewerSelect.test.tsx
  webui/react/src/components/kit/LogViewer/LogViewerSelect.tsx
  webui/react/src/components/kit/Select.test.tsx
  webui/react/src/components/kit/Tags.tsx
  webui/react/src/components/kit/utils/components/Grid.tsx
  webui/react/src/components/kit/utils/components/Label.tsx
  webui/react/src/components/kit/utils/components/ScaleSelect.tsx
  webui/react/src/components/kit/utils/components/UPlot/UPlotChart.tsx
  webui/react/src/components/kit/utils/components/UPlot/UPlotChart/closestPointPlugin.ts
  webui/react/src/components/kit/utils/components/UPlot/UPlotChart/drawPointsPlugin.ts
  webui/react/src/components/kit/utils/components/UPlot/UPlotScatter.tsx
  webui/react/src/components/kit/utils/components/UPlot/UPlotScatter/UPlotScatter.utils.ts
  webui/react/src/components/kit/utils/functions.ts
  webui/react/src/components/kit/utils/hooks/useGetCharMeasureInContainer.ts
  webui/react/src/components/kit/utils/hooks/usePrevious.ts
  webui/react/src/components/kit/utils/hooks/useResize.ts
  webui/react/src/components/kit/utils/services.ts
  webui/react/src/components/kit/utils/type.ts
  webui/react/src/components/kit/utils/types.ts
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/TaskLogs.test.tsx
Owners: none

changing e2e text
  e2e_tests/tests/cluster/test_master_restart.py
Owners: none

fix: turn off AutoPause for AWS RDS Aurora.
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
Owners: none

chore: update based on PR review
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/stores/users.tsx
Owners: none

refactor: update user store to remove pagination support and update only when user data is different
  webui/react/src/stores/users.tsx
Owners: none

refactor: support local user search
  webui/react/src/pages/Settings/UserManagement.tsx
Owners: none

chore: update user management page to use store changes
  webui/react/src/pages/Settings/UserManagement.tsx
Owners: none

fix: turn off AutoPause for AWS RDS Aurora. (#6925)
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
Owners: none

add tests for generic metric rollback and totalBatches
  master/internal/db/postgres_trial_intg_test.go
Owners: @determined-ai/backend

fix: avoid having user edit modal reset to original state every 5~10 seconds [WEB-1273, WEB-1261, WEB-1203] (#6912)
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/stores/users.tsx
Owners: none

finish fixing text
  e2e_tests/tests/cluster/test_master_restart.py
Owners: none

docs: automatically put the current year in the copyright
  docs/conf.py
Owners: @determined-ai/docs

skip summary metric updates for generic metrics
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

docs: automatically put the current year in the copyright (#6928)
  docs/conf.py
Owners: @determined-ai/docs

move overwrite_deepspeed_config back to det.pytorch.deepspeed
  docs/model-dev-guide/apis-howto/deepspeed/deepspeed.rst
  docs/reference/training/api-deepspeed-reference.rst
  examples/deepspeed/cifar10_cpu_offloading/model_def.py
  examples/deepspeed/cifar10_moe/model_def.py
  examples/deepspeed/deepspeed_dcgan/model_def.py
  examples/deepspeed/pipeline_parallelism/model_def.py
  harness/determined/pytorch/deepspeed/__init__.py
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
  harness/determined/pytorch/dsat/__init__.py
  harness/determined/pytorch/dsat/_utils.py
  harness/tests/experiment/integrations/test_deepspeed_trial.py
Owners: @determined-ai/docs

self.hparams -> hparams bug
  examples/deepspeed_autotune/ds_config.json
  harness/determined/pytorch/dsat/_dsat_search_method.py
Owners: none
