Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/backend, @determined-ai/web, @determined-ai/docs, @determined-ai/ml-sys

Fix minor issues including hard coded reference (#8427)
  docs/get-started/architecture/introduction.rst
  docs/manage/workspaces.rst
  docs/model-dev-guide/api-guides/apis-howto/_index.rst
  docs/model-dev-guide/api-guides/apis-howto/api-core-ug.rst
  docs/model-dev-guide/api-guides/apis-howto/api-keras-ug.rst
  docs/model-dev-guide/api-guides/apis-howto/deepspeed/_index.rst
  docs/model-dev-guide/model-management/_index.rst
  docs/model-dev-guide/model-management/model-registry-org.rst
  docs/model-dev-guide/prepare-container/_index.rst
  docs/reference/training/_index.rst
  docs/reference/training/api-det-reference.rst
  docs/reference/training/api-keras-reference.rst
  docs/reference/training/api-pytorch-reference.rst
  docs/release-notes.rst
  docs/setup-cluster/k8s/install-on-kubernetes.rst
  docs/tools/cli/cli-ug.rst
Owners: none

fix: Experiment state now is an ExperimentState
  harness/determined/common/experimental/experiment.py
  harness/determined/experimental/client.py
Owners: @determined-ai/ml-sys

chore: log RestoreAllCommands error (#8454)
  master/internal/command/command_service.go
Owners: @determined-ai/backend

refactor
  master/internal/command/command_service.go
Owners: @determined-ai/backend

Also change ExperimentState in wait
  harness/determined/common/experimental/experiment.py
Owners: @determined-ai/ml-sys

experiment state in tests
  harness/tests/determined/common/experimental/test_experiment.py
Owners: @determined-ai/ml-sys

chore: export AddUserTx
  master/internal/usergroup/postgres_groups.go
Owners: @determined-ai/backend

chore: add error check to KillNTSC (#8441)
  master/internal/command/command_service.go
Owners: @determined-ai/backend

fix(api): handle delete experiment failures correctly
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_project.go
  master/internal/api_user_intg_test.go
Owners: @determined-ai/backend

review feedback
  master/internal/api_experiment_intg_test.go
Owners: @determined-ai/backend

fix(api): handle delete experiment failures correctly (#8459)
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_project.go
  master/internal/api_user_intg_test.go
Owners: @determined-ai/backend

enable ci metrics upload
  .circleci/real_config.yml
  .circleci/scripts/upload_test_results.py
Owners: @determined-ai/infrastructure

add tests for extra props and any/unknown checks
  webui/react/src/utils/asValueObject.test.ts
Owners: @determined-ai/web

fix build issues
  webui/react/src/stores/users.tsx
  webui/react/src/utils/asValueObject.ts
Owners: @determined-ai/web

use fast-check
  webui/react/src/utils/asValueObject.test.ts
Owners: @determined-ai/web

move json codecs into types.ts
  webui/react/src/stores/experiments.tsx
  webui/react/src/types.ts
Owners: @determined-ai/web

chore: introduce and use observables with improved update checking
  webui/react/src/stores/cluster.tsx
  webui/react/src/stores/determinedInfo.tsx
  webui/react/src/stores/experiments.tsx
  webui/react/src/stores/permissions.tsx
  webui/react/src/stores/tasks.tsx
  webui/react/src/stores/users.tsx
  webui/react/src/stores/workspaces.tsx
  webui/react/src/utils/asValueObject.test.ts
  webui/react/src/utils/asValueObject.ts
  webui/react/src/utils/observable.ts
Owners: @determined-ai/web

fix import
  webui/react/src/utils/asValueObject.ts
Owners: @determined-ai/web

slight cleanup of cluster store
  webui/react/src/stores/cluster.tsx
Owners: @determined-ai/web

prevent breaking valueobjects when spreading
  webui/react/src/utils/asValueObject.ts
Owners: @determined-ai/web

name codecs the same as their types
  webui/react/src/types.ts
Owners: @determined-ai/web

use immutableObservable in experiments store
  webui/react/src/stores/experiments.tsx
Owners: @determined-ai/web

erase valueof from external facing observables
  webui/react/src/stores/users.tsx
Owners: @determined-ai/web

fix build failure
  webui/react/src/stores/experiments.tsx
Owners: @determined-ai/web

make sure json types are accurate
  webui/react/src/types.ts
Owners: @determined-ai/web

chore: preserve CI logs when bringing an AWS cluster down
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

allow fork task
  harness/determined/cli/task.py
  harness/determined/common/api/bindings.py
  master/internal/api_generic_tasks.go
  proto/pkg/apiv1/task.pb.go
  proto/src/determined/api/v1/task.proto
Owners: @determined-ai/ml-sys, @determined-ai/backend

test fork task
  e2e_tests/run_fork.py
  e2e_tests/test_config_fork.yaml
  e2e_tests/tests/cluster/test_task.py
Owners: @determined-ai/backend

fix NaN equality, test unions, remove comment
  webui/react/src/types.ts
  webui/react/src/utils/asValueObject.test.ts
  webui/react/src/utils/asValueObject.ts
Owners: @determined-ai/web

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github        @determined-ai/infrastructure
/master         @determined-ai/backend
/agent          @determined-ai/backend
/proto          @determined-ai/backend
/performance    @determined-ai/web

# CI is a mix
/.circleci            @determined-ai/infrastructure
/.circleci/devcluster @determined-ai/backend
/.circleci/packaging  @determined-ai/backend

# anyone can approve docs, except for specific files
/docs
/docs/index.rst     @determined-ai/docs
/docs/**/index.rst  @determined-ai/docs

# Harness is mapped to ml-sys by default, except for `cli`, `deploy`,
# and auto-generated bindings and version files.
/harness  @determined-ai/ml-sys
/harness/determined/common/api/bindings.py
/harness/determined/__version__.py

/schemas                          @determined-ai/ml-sys
/bindings/generate_bindings_py.py @determined-ai/ml-sys
/e2e_tests/tests/*.py             @determined-ai/ml-sys
/e2e_tests/tests/requirements.txt @determined-ai/ml-sys
/e2e_tests/tests/experiment       @determined-ai/ml-sys
/e2e_tests/tests/nightly          @determined-ai/ml-sys

# Backend owns some e2e tests.
/e2e_tests/tests/cluster  @determined-ai/backend
/e2e_tests/tests/command  @determined-ai/backend
/e2e_tests/tests/template @determined-ai/backend

# Owned by @determined-ai/web except for generated files
/webui    @determined-ai/web
/webui/react/src/services/api-ts-sdk/
