Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

chore: add testing function stubs (#7037)
  master/internal/api_resourcepool_intg_test.go
  master/internal/api_workspace_intg_test.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Owners: @determined-ai/backend

chore: Pass in the allocation ID to releasedResources() (#7034)
  master/internal/sproto/task.go
  master/internal/task/allocation.go
Owners: @determined-ai/backend

stringify a path
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

chore: updates after test-drive
  onboarding/mlsys/1-gradients.md
  onboarding/mlsys/files/1-gradient-descent.jpg
  onboarding/mlsys/files/1-multi.jpg
  onboarding/mlsys/gradient_descent.jpg
  onboarding/mlsys/multi.jpg
Owners: none

chore: onboarding doc updates after test-drive (#7028)
  onboarding/mlsys/1-gradients.md
  onboarding/mlsys/files/1-gradient-descent.jpg
  onboarding/mlsys/files/1-multi.jpg
  onboarding/mlsys/gradient_descent.jpg
  onboarding/mlsys/multi.jpg
Owners: none

fix: fix k8s slots count growing for commands [DET-9550] (#7025)
  master/internal/rm/kubernetesrm/resource_pool.go
Owners: @determined-ai/backend

fix: add 'check permissions' message to RBAC NotFound errors
  e2e_tests/tests/command/test_run.py
  master/internal/api.go
  master/internal/api/error.go
  master/internal/api_auth.go
  master/internal/api_checkpoint.go
  master/internal/api_checkpoint_intg_test.go
  master/internal/api_command.go
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_model.go
  master/internal/api_notebook.go
  master/internal/api_ntsc_intg_test.go
  master/internal/api_project.go
  master/internal/api_project_intg_test.go
  master/internal/api_shell.go
  master/internal/api_task.go
  master/internal/api_tasks.go
  master/internal/api_tasks_intg_test.go
  master/internal/api_templates.go
  master/internal/api_tensorboard.go
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/core_checkpoint.go
  master/internal/core_checkpoint_intg_test.go
  master/internal/core_experiment.go
  master/internal/core_experiment_intg_test.go
  master/internal/experiment/bulk_action.go
  master/internal/experiment/postgres_experiments.go
  master/internal/user/service.go
  master/internal/user/service_intg_test.go
Owners: @determined-ai/backend

fix: fix k8s slots count growing for commands [DET-9550] (#7025)
  master/internal/rm/kubernetesrm/resource_pool.go
Owners: @determined-ai/backend

chore: change methods to functions
  master/internal/db/postgres_rp_workspace_bindings.go
Owners: @determined-ai/backend

fix: add 'check permissions' message to RBAC NotFound errors (#6937)
  e2e_tests/tests/command/test_run.py
  master/internal/api.go
  master/internal/api/error.go
  master/internal/api_auth.go
  master/internal/api_checkpoint.go
  master/internal/api_checkpoint_intg_test.go
  master/internal/api_command.go
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_model.go
  master/internal/api_notebook.go
  master/internal/api_ntsc_intg_test.go
  master/internal/api_project.go
  master/internal/api_project_intg_test.go
  master/internal/api_shell.go
  master/internal/api_task.go
  master/internal/api_tasks.go
  master/internal/api_tasks_intg_test.go
  master/internal/api_templates.go
  master/internal/api_tensorboard.go
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/core_checkpoint.go
  master/internal/core_checkpoint_intg_test.go
  master/internal/core_experiment.go
  master/internal/core_experiment_intg_test.go
  master/internal/experiment/bulk_action.go
  master/internal/experiment/postgres_experiments.go
  master/internal/user/service.go
  master/internal/user/service_intg_test.go
Owners: @determined-ai/backend

chore: clean up message handling in main
  harness/determined/cli/cli.py
Owners: none

change usages
  master/internal/api_resourcepool.go
Owners: @determined-ai/backend

chore: added release note for DET-9035
  docs/release-notes/rbac-not-found-errs.rst
Owners: @determined-ai/docs

turned logf into errorf
  master/internal/proxy/proxy_intg_test.go
Owners: @determined-ai/backend

replaceing summary with getService
  master/internal/task/idle_timeout.go
Owners: @determined-ai/backend

added t.run to intg test
  master/internal/proxy/proxy_intg_test.go
Owners: @determined-ai/backend

renamed proxy test
  master/internal/proxy/proxy_intg_test.go
Owners: @determined-ai/backend

assigned empty map to ClearServices
  master/internal/proxy/proxy.go
Owners: @determined-ai/backend

added lock to summary
  master/internal/proxy/proxy.go
Owners: @determined-ai/backend

undoing typos
  master/internal/proxy/proxy.go
  master/internal/proxy/proxy_intg_test.go
Owners: @determined-ai/backend

attempt to fix
  master/internal/core.go
  master/internal/proxy/proxy.go
  master/internal/proxy/proxy_intg_test.go
Owners: @determined-ai/backend

lint
  docs/release-notes/rbac-not-found-errs.rst
Owners: @determined-ai/docs

grammar error
  docs/release-notes/rbac-not-found-errs.rst
Owners: @determined-ai/docs

chore: attend to PR comments
  webui/react/src/components/JupyterLabModal.tsx
Owners: none

chore(db): backfill tasks tables to always have entries for trials (#6711)
  master/static/migrations/20230531154906_backfill_tasks.tx.down.sql
  master/static/migrations/20230531154906_backfill_tasks.tx.up.sql
Owners: @determined-ai/backend

pt1 fixes
  master/internal/proxy/proxy.go
Owners: @determined-ai/backend

chore: enrich agent-generated logs
  agent/internal/agent.go
Owners: @determined-ai/backend

pt2 initproxy
  master/internal/core.go
  master/internal/proxy/proxy.go
  master/internal/proxy/proxy_intg_test.go
Owners: @determined-ai/backend

removing todo
  master/internal/proxy/proxy_intg_test.go
Owners: @determined-ai/backend

removed redundant check from unregister
  master/internal/proxy/proxy_intg_test.go
Owners: @determined-ai/backend

lint
  master/internal/db/postgres_rp_workspace_bindings.go
Owners: @determined-ai/backend

feat: overwrrite bindings endpoint [DET-9548] (#7036)
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/mocks/workspace_authz_iface.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
Owners: @determined-ai/backend

chore: enrich agent-generated logs (#7029)
  agent/internal/agent.go
  agent/internal/container/container.go
  master/internal/rm/agentrm/agent.go
  master/internal/sproto/task_actor.go
  master/pkg/aproto/master_message.go
Owners: @determined-ai/backend

fix: Experiment list waits until settings have properly loaded
  webui/react/src/hooks/useSettings.ts
  webui/react/src/hooks/useSettingsProvider.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

convert type of array query params
  webui/react/src/hooks/useSettings.ts
Owners: none

chore: change methods to functions (#7039)
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
Owners: @determined-ai/backend

rebase / fmt
  webui/react/src/hooks/useSettings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

fixing tasktype enum without changing model.Task
  harness/determined/_info.py
  harness/determined/common/api/bindings.py
  harness/determined/core/_context.py
  harness/determined/exec/harness.py
  harness/determined/exec/launch.py
  harness/determined/experimental/unmanaged.py
  harness/determined/launch/deepspeed.py
  harness/determined/launch/horovod.py
  harness/determined/pytorch/_trainer.py
  harness/tests/launch/test_util.py
  master/internal/command/command.go
  master/internal/db/postgres_tasks.go
  master/internal/db/postgres_tasks_intg_test.go
  master/pkg/model/task.go
  proto/buf.image.bin
  proto/pkg/taskv1/task.pb.go
  proto/src/determined/task/v1/task.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

fix: omit projects outside of users permissions [DET-9557]
  master/internal/api_project.go
Owners: @determined-ai/backend

fix: load config file into the code editor (#7033)
  webui/react/src/components/JupyterLabModal.tsx
  webui/react/src/components/kit/CodeEditor.tsx
  webui/react/src/services/apiConfig.ts
  webui/react/src/shared/contexts/stores/UI.tsx
  webui/react/src/shared/hooks/usePolling.ts
  webui/react/src/shared/utils/error.ts
  webui/react/src/shared/utils/service.ts
  webui/react/src/stores/auth.ts
  webui/react/src/stores/cluster.tsx
  webui/react/src/utils/job.ts
Owners: none

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
