Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

Remove vertical border when comparison view open
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

fmt
  master/internal/api_project.go
Owners: @determined-ai/backend

fix: hide non-static columns when comparison view open (#7014)
  webui/react/src/components/SplitPane.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

refactor: update experiment list appropriately and use the correct page offset based on page mode
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

fix: Chart regression in detecting single point cluster chart (#7091)
  webui/react/src/pages/Cluster/ClusterHistoricalUsageChart.tsx
Owners: none

fix: scroll chaining in doc sidebar (#7062)
  docs/assets/styles/determined.css
Owners: @determined-ai/docs

feat: New default glide table columns [WEB-1197] (#7073)
  master/internal/api_project.go
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Owners: @determined-ai/backend

chore: update based on PR review
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

chore: change list api (#7095)
  harness/determined/common/api/bindings.py
  master/internal/api_resourcepool.go
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/resourcepool.pb.go
  proto/pkg/resourcepoolv1/resourcepool.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/resourcepool.proto
  proto/src/determined/resourcepool/v1/resourcepool.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

docs: give prominence to Apptainer instead of Singularity (#7071)
  docs/reference/deploy/config/master-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/install-on-slurm.rst
  docs/setup-cluster/deploy-cluster/slurm/overview.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/deploy-cluster/slurm/slurm-requirements.rst
Owners: @determined-ai/docs

ensure metric and hparam selections are still valid
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.tsx
Owners: none

feat: custom header renderer
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

feat: add support for drawing sort arrows
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/utils.ts
Owners: none

chore: update based on PR review
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/utils.ts
Owners: none

style: adjust arrow position and header styles
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

style: remove border style artifact from header rect
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/utils.ts
Owners: none

standardize import
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.tsx
  webui/react/src/types.ts
Owners: none

fix: ban sort by `tags`
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Owners: none

fix: unexpected icon movement in admin page
  webui/react/src/components/CreateUserModal.tsx
Owners: none

chore: add slot type to RunSpec
  agent/internal/agent.go
  agent/pkg/singularity/singularity.go
  master/pkg/cproto/spec.go
  master/pkg/tasks/task.go
Owners: @determined-ai/backend

feat: API for project metrics range [WEB-1000] (#7009)
  e2e_tests/tests/experiment/test_core.py
  harness/determined/common/api/bindings.py
  master/internal/api_project.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/project.pb.go
  proto/pkg/projectv1/project.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/project.proto
  proto/src/determined/project/v1/project.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

set chart initialization
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.tsx
Owners: none

chore(actors): non-actor replacement for allocationmap
  master/internal/rm/allocationmap2/allocation_map.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
Owners: @determined-ai/backend

add intg test flag on top of intg test files so they don't run with other tests
  master/internal/api_resourcepool_intg_test.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Owners: @determined-ai/backend

feat: show column sort [WEB-1219] (#7085)
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/utils.ts
Owners: none

test: change filter for rbac tests.
  e2e_tests/tests/cluster/test_rbac.py
Owners: none

add intg test flag on top of intg test files so they don't run with other tests (#7102)
  master/internal/api_resourcepool_intg_test.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Owners: @determined-ai/backend

linting
  master/internal/db/postgres_rp_workspace_bindings.go
Owners: @determined-ai/backend

chore: adding deprecation warnings for `determined.common.experimental` imports
  harness/determined/cli/checkpoint.py
  harness/determined/cli/model.py
  harness/determined/cli/trial.py
  harness/determined/cli/user_groups.py
  harness/determined/common/experimental/__init__.py
  harness/determined/experimental/__init__.py
  harness/tests/test_deprecation.py
Owners: none

chore: update gpt-neox example
  examples/deepspeed/gpt_neox/Dockerfile
  examples/deepspeed/gpt_neox/det_utils.py
  examples/deepspeed/gpt_neox/zero1.yaml
Owners: none

feat: list workspaces bound to rp handler helper [DET-9530] (#7104)
  harness/determined/common/api/bindings.py
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/mocks/workspace_authz_iface.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
  proto/buf.image.bin
  proto/pkg/apiv1/resourcepool.pb.go
  proto/src/determined/api/v1/resourcepool.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

docs: Fix a typo in a release note
  docs/release-notes/rbac-not-found-errs.rst
Owners: @determined-ai/docs

chore: add slot type to container client config (#7094)
  agent/pkg/singularity/singularity.go
  master/pkg/cproto/spec.go
  master/pkg/tasks/task.go
Owners: @determined-ai/backend

fix: master config, overwrite and remove intg test
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Owners: @determined-ai/backend

fix: master config, overwrite intg test, remove invalid intg test
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
  master/internal/rm/kubernetesrm/enrich_task_logs.py
  master/internal/rm/kubernetesrm/k8_init_container_entrypoint.sh
  master/internal/rm/kubernetesrm/singularity-entrypoint-wrapper.sh
  master/internal/rm/kubernetesrm/task-logging-setup.sh
  master/internal/rm/kubernetesrm/task-logging-teardown.sh
  master/internal/rm/kubernetesrm/task-signal-handling.sh
Owners: @determined-ai/backend

remove random files
  master/internal/rm/kubernetesrm/enrich_task_logs.py
  master/internal/rm/kubernetesrm/k8_init_container_entrypoint.sh
  master/internal/rm/kubernetesrm/singularity-entrypoint-wrapper.sh
  master/internal/rm/kubernetesrm/task-logging-setup.sh
  master/internal/rm/kubernetesrm/task-logging-teardown.sh
  master/internal/rm/kubernetesrm/task-signal-handling.sh
Owners: @determined-ai/backend

change binding error in remove
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Owners: @determined-ai/backend

comments
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Owners: @determined-ai/backend

pr changes
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Owners: @determined-ai/backend

chore: onboarding doc clarification
  onboarding/mlsys/1-gradients.md
Owners: none
