Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

format
  docs/interfaces/tensorboard.rst
Owners: @determined-ai/docs

revert doc change
  docs/interfaces/tensorboard.rst
Owners: @determined-ai/docs

minor edit
  docs/interfaces/tensorboard.rst
Owners: @determined-ai/docs

format
  docs/interfaces/tensorboard.rst
Owners: @determined-ai/docs

chore: hide pagination when showing compare view without any pinned table columns
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

fix: update style of the split pane to stretch max height
  webui/react/src/components/SplitPane.module.scss
  webui/react/src/pages/F_ExpList/F_ExperimentList.module.scss
Owners: none

feat: show empty pinned column view
  webui/react/src/pages/F_ExpList/ComparisonView.module.scss
  webui/react/src/pages/F_ExpList/ComparisonView.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Owners: none

feat: disable unpinning of the last pinned column
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

fix: table column copy change (#7373)
  master/internal/api_project.go
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Owners: @determined-ai/backend

edit dataset size
  examples/features/torch_batch_process_embeddings/bert_embedding_generation.py
Owners: none

fix(cli): compound keys in --config opts for commands
  harness/determined/cli/command.py
Owners: none

feature: Allow user setting of feature flags
  webui/react/src/components/UserSettings.tsx
  webui/react/src/hooks/useFeature.ts
Owners: none

edit commnet
  examples/features/torch_batch_process_embeddings/bert_embedding_generation.py
Owners: none

docs: Add documentation about passing in optional tensorboard arguments [MLG-333] (#7352)
  docs/interfaces/tensorboard.rst
Owners: @determined-ai/docs

edit comment
  examples/features/torch_batch_process_embeddings/bert_embedding_generation.py
Owners: none

start off from coreapi metrics example
  examples/tutorials/core_api/11_generic_metrics.py
Owners: none

fix: update get agents call for agent disable all
  harness/determined/cli/agent.py
Owners: none

add a generic metrics example
  examples/tutorials/core_api/11_generic_metrics.py
  examples/tutorials/core_api/11_generic_metrics.yaml
Owners: none

feat: allow-pachyderm-notebook-extension [DET-9355] (#7395)
  docs/release-notes/9355-allow-security-context
  master/internal/rm/kubernetesrm/spec.go
  master/pkg/model/environment_config.go
Owners: @determined-ai/docs, @determined-ai/backend

chore: show message if there no pinned columns
  webui/react/src/pages/F_ExpList/ComparisonView.tsx
Owners: none

style: apply hover color for selected table rows
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/utils.ts
Owners: none

ensure group/ prefix isn't confused with something meaningful
  examples/tutorials/core_api/11_generic_metrics.py
Owners: none

simplify cleanup
  examples/tutorials/core_api/11_generic_metrics.py
Owners: none

train batch size started
  harness/determined/pytorch/dsat/__main__.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_utils.py
  harness/tests/custom_search_mocks.py
  harness/tests/experiment/fixtures/deepspeed_autotune/example_experiment/ds_config.json
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

Update harness/determined/cli/command.py
  harness/determined/cli/command.py
Owners: none

pre-commit causing prettier to loop?
  webui/react/src/components/UserSettings.tsx
Owners: none

fix(cli): compound keys in --config opts for commands (#7439)
  harness/determined/cli/command.py
Owners: none

fix test
  master/internal/api_user_intg_test.go
Owners: @determined-ai/backend

fix: proto user always has false remote
  docs/release-notes/list-user-remote.rst
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
Owners: @determined-ai/docs, @determined-ai/backend

fix
  master/internal/api_user_intg_test.go
Owners: @determined-ai/backend

train_batch_size and divisible_by tests
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_utils.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

feat: Compare icon reflects status
  webui/react/src/components/kit/Icon.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Owners: none

chore: update based on PR review
  webui/react/src/pages/F_ExpList/ComparisonView.module.scss
Owners: none

bug fixes
  harness/determined/pytorch/dsat/_dsat_search_method.py
Owners: none

fetch multiple experiments
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/tests/determined/common/experimental/test_determined.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/experiments.json
Owners: none

feat: Pin column when compare
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Owners: none

fix
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
Owners: none

chore: sort resource pools based on pool name
  webui/react/src/stores/cluster.tsx
Owners: none

feat: update resource pool picker in jupyterlab modal to be searchable
  webui/react/src/components/JupyterLabModal.tsx
Owners: none

style: apply hover color for selected table rows (#7429)
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/utils.ts
Owners: none
