Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

useEffect to load first file
  webui/react/src/components/kit/CodeEditor.tsx
Owners: none

bugfix
  webui/react/src/components/kit/CodeEditor.tsx
Owners: none

fmt fixes
  webui/react/src/components/kit/CodeEditor.tsx
Owners: none

chore: remove bun log messages from master logs [DET-9460]
  master/go.mod
  master/go.sum
  master/internal/api/apiutils/utils.go
  master/internal/db/postgres.go
Owners: @determined-ai/backend

feat: mask token det auth login [MLG-540]
  harness/determined/cli/sso.py
Owners: none

ci: increase `det deploy aws up` wait time to 20m.
  .circleci/config.yml
Owners: none

ci: increase `det deploy aws up` wait time to 20m. (#6820)
  .circleci/config.yml
Owners: none

chore(gha): add debug info to help iterate on link preview workflow
  .github/workflows/link-docs-preview.yml
Owners: @determined-ai/infrastructure

swap update-config with set-value
  harness/determined/cli/template.py
Owners: none

move migrations to top
  master/static/migrations/20230511153117_add-template-workspace.tx.down.sql
  master/static/migrations/20230511153117_add-template-workspace.tx.up.sql
Owners: @determined-ai/backend

chore: store
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/ProjectDetails.tsx
Owners: none

add release notes
  docs/release-notes/deprecate-template-set.rst
Owners: @determined-ai/docs

feat: associate templates with workspaces (#6605)
  docs/release-notes/deprecate-template-set.rst
  e2e_tests/tests/template/test_template.py
  harness/determined/cli/cli.py
  harness/determined/cli/experiment.py
  harness/determined/cli/resources.py
  harness/determined/cli/template.py
  harness/determined/cli/tensorboard.py
  harness/determined/cli/trial.py
  harness/determined/common/api/bindings.py
  harness/determined/common/declarative_argparse.py
  harness/determined/deploy/cli.py
  master/internal/api_templates.go
  master/pkg/model/template.go
  master/static/migrations/20230511153117_add-template-workspace.tx.down.sql
  master/static/migrations/20230511153117_add-template-workspace.tx.up.sql
  master/static/srv/get_template.sql
  master/static/srv/get_templates.sql
  master/static/srv/insert_template.sql
  master/static/srv/put_template.sql
  master/static/srv/update_template.sql
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/template.pb.go
  proto/pkg/templatev1/template.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/template.proto
  proto/src/determined/template/v1/template.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/docs, @determined-ai/backend

fix: doc url fix
  webui/react/src/pages/TrialDetails/TrialDetailsProfiles.tsx
Owners: none

use notes
  webui/react/src/components/kit/NoteCard.module.scss
  webui/react/src/components/kit/NoteCard.tsx
  webui/react/src/components/kit/NoteCards.tsx
  webui/react/src/components/kit/Notes.tsx
  webui/react/src/components/kit/useNote.tsx
  webui/react/src/components/kit/useNoteDemo.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentMultiTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
Owners: none

docs: Update language about upgrading/uninstalling CLI
  docs/interfaces/cli-ug.rst
Owners: @determined-ai/docs

remove some css
  webui/react/src/components/kit/NoteCard.module.scss
  webui/react/src/components/kit/NoteCards.module.scss
  webui/react/src/components/kit/NoteCards.tsx
Owners: none

docs: Update language about upgrading/uninstalling CLI (#6822)
  docs/interfaces/cli-ug.rst
Owners: @determined-ai/docs

docs: Move and rename files
  docs/index.rst
Owners: @determined-ai/docs

chore: `det deploy aws` to print stack logs on failures.
  harness/determined/deploy/aws/aws.py
Owners: none

feat: mask token det auth login [MLG-540] (#6817)
  harness/determined/cli/sso.py
Owners: none

fix: added filelock to avoid downloading files from multiple ranks which causes corrupt file issue
  examples/tutorials/core_api_pytorch_mnist/model_def_distributed.py
Owners: none

fix: Core api pytorch mnist update2 (#6775)
  examples/tutorials/core_api_pytorch_mnist/model_def_distributed.py
Owners: none

small fixes
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

expand message for model profile info failure
  harness/determined/pytorch/dsat/_dsat_search_method.py
Owners: none

mypy
  harness/determined/pytorch/_pytorch_trial.py
Owners: none

fix test
  harness/determined/pytorch/__init__.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

state is None until load logic
  harness/determined/pytorch/_pytorch_trial.py
Owners: none

comment
  harness/determined/pytorch/_pytorch_trial.py
Owners: none

remove ghost and shape and IconicButton
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/Metadata/EditableRow.tsx
  webui/react/src/components/PageHeaderFoldable.tsx
  webui/react/src/components/ProjectActionDropdown.tsx
  webui/react/src/components/kit/Button.tsx
  webui/react/src/components/kit/IconicButton.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/pages/TrialsComparison/Collections/useTrialCollections.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceActionDropdown.tsx
  webui/react/src/shared/components/CopyButton.tsx
Owners: none

add intg test
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/db/postgres_experiments.go
Owners: @determined-ai/backend

formatting updates
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/db/postgres_experiments_intg_test.go
Owners: @determined-ai/backend

slight refactor
  master/internal/api_experiment_intg_test.go
Owners: @determined-ai/backend

add error for empty experiment ids
  master/internal/api_experiment.go
Owners: @determined-ai/backend

update binding
  harness/determined/common/api/bindings.py
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

format proto
  proto/src/determined/api/v1/api.proto
Owners: @determined-ai/backend

formatting
  master/internal/api_experiment.go
Owners: @determined-ai/backend

chore: add some prom utils before they are duped everywhere (#6729)
  master/internal/prom/det_state_metrics.go
  master/internal/prom/util.go
  master/internal/prom/utli_test.go
Owners: @determined-ai/backend

create link and trigger event for downloads
  webui/react/src/components/kit/CodeEditor.tsx
Owners: none

fix typo
  master/internal/api_experiment.go
Owners: @determined-ai/backend
