Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

chore: validate ROCM support
  agent/pkg/singularity/singularity.go
  master/static/srv/singularity-entrypoint-wrapper.sh
Owners: @determined-ai/backend

Organize environment setting code
  agent/pkg/singularity/singularity.go
Owners: @determined-ai/backend

fix: Link omnibar shortcut to new Space convention [WEB-1418]
  webui/react/src/pages/Settings/UserSettings.settings.ts
Owners: none

chore: update pillow version for test requirements
  docs/requirements.txt
  examples/tests/requirements.txt
Owners: @determined-ai/docs

cleanup from comments
  docs/requirements.txt
  examples/tests/requirements.txt
Owners: @determined-ai/docs

feat: launch.deepspeed passes (almost) all envvars
  harness/determined/launch/deepspeed.py
  harness/tests/launch/test_deepspeed.py
Owners: none

chore: update pillow version for test requirements (#7291)
  examples/tests/requirements.txt
Owners: none

Docs: Add Swarm Learning landing page
  docs/index.rst
  docs/swarm/index.rst
Owners: @determined-ai/docs

feat: list resource pool binding
  webui/react/src/components/ResourcePoolCard.module.scss
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/hooks/useFeature.ts
Owners: none

fix: Link omnibar shortcut to new Space convention [WEB-1418] (#7293)
  webui/react/src/pages/Settings/UserSettings.settings.ts
Owners: none

feat: list resource pool binding (#7286)
  webui/react/src/components/ResourcePoolCard.module.scss
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/hooks/useFeature.ts
Owners: none

add button
  webui/react/src/components/ResourcePoolCard.module.scss
  webui/react/src/components/ResourcePoolCard.tsx
Owners: none

add modal template
  webui/react/src/components/ResourcePoolBindingModal.tsx
  webui/react/src/components/ResourcePoolCard.module.scss
  webui/react/src/components/ResourcePoolCard.tsx
Owners: none

updating buf image bin
  proto/buf.image.bin
Owners: @determined-ai/backend

migrating query to bun
  harness/determined/common/api/bindings.py
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  master/internal/db/postgres_trial_metrics.go
  master/static/migrations/20230620162256_trial_source_info.tx.down.sql
  master/static/migrations/20230620162256_trial_source_info.tx.up.sql
  master/static/srv/get_trials_by_checkpoint.sql
  master/static/srv/get_trials_by_source_info.sql
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

feat: protect cluster default resource pools from being bound
  master/internal/api_resourcepool.go
  master/internal/config/resource_config.go
Owners: @determined-ai/backend

docs: Rework the basic setup page
  docs/setup-cluster/basic-setup.rst
  docs/setup-cluster/basic.rst
  docs/setup-cluster/deploy-cluster/index.rst
  docs/setup-cluster/deploy-cluster/on-prem/docker.rst
  docs/setup-cluster/deploy-cluster/on-prem/linux-packages.rst
  docs/setup-cluster/security/tls.rst
Owners: @determined-ai/docs

connect modal
  webui/react/src/components/ResourcePoolBindingModal.tsx
  webui/react/src/components/ResourcePoolCard.tsx
Owners: none

docs: Rename image assets
  docs/architecture/index.rst
  docs/architecture/system-architecture.rst
  docs/assets/images/_det-ai-sys-arch-01-dark.png
  docs/assets/images/_det-ai-sys-arch-01-light.png
  docs/assets/images/_det-ai-sys-arch-01-start-dark.png
  docs/assets/images/_det-ai-sys-arch-01-start-light.png
  docs/assets/images/_dtrain-loop-dark.png
  docs/assets/images/_dtrain-loop-light.png
  docs/assets/images/_rbac-example-setup-dark.png
  docs/assets/images/_rbac-example-setup-light.png
  docs/model-dev-guide/dtrain/dtrain-introduction.rst
  docs/setup-cluster/security/rbac.rst
Owners: @determined-ai/docs

Rename method; elaborate comments
  agent/pkg/singularity/singularity.go
Owners: @determined-ai/backend

docs: Rename image assets (#7283)
  docs/architecture/index.rst
  docs/architecture/system-architecture.rst
  docs/assets/images/_det-ai-sys-arch-01-dark.png
  docs/assets/images/_det-ai-sys-arch-01-light.png
  docs/assets/images/_det-ai-sys-arch-01-start-dark.png
  docs/assets/images/_det-ai-sys-arch-01-start-light.png
  docs/assets/images/_dtrain-loop-dark.png
  docs/assets/images/_dtrain-loop-light.png
  docs/assets/images/_rbac-example-setup-dark.png
  docs/assets/images/_rbac-example-setup-light.png
  docs/model-dev-guide/dtrain/dtrain-introduction.rst
  docs/setup-cluster/security/rbac.rst
Owners: @determined-ai/docs

fix modal
  webui/react/src/components/ColumnsCustomizeModal.tsx
  webui/react/src/components/ResourcePoolBindingModal.tsx
  webui/react/src/components/Transfer.tsx
  webui/react/src/pages/Settings/UserSettings.settings.ts
Owners: none

breaking dep?
  master/test.txt
Owners: @determined-ai/backend

try pin pay
  e2e_tests/tests/requirements.txt
Owners: none

rm test.txt
  master/test.txt
Owners: @determined-ai/backend

test: pin pydantic in e2e_tests (#7302)
  e2e_tests/tests/requirements.txt
Owners: none

chore: update pillow version for test requirements (#7291)
  examples/tests/requirements.txt
Owners: none

docs: add release notes for 0.23.2 (#7285)
  docs/release-notes.rst
  docs/release-notes/gcp_cluster_management.rst
Owners: @determined-ai/docs

test: pin pydantic in e2e_tests (#7302)
  e2e_tests/tests/requirements.txt
Owners: none

add icon
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/components/kit/Dropdown.module.scss
  webui/react/src/components/kit/Icon.tsx
Owners: none

chore: bump version: 0.23.2-rc2 -> 0.23.2-rc3
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: @determined-ai/docs

fix name
  webui/react/src/components/ResourcePoolCard.tsx
Owners: none

chore: bump version: 0.23.2-rc3 -> 0.23.2
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: @determined-ai/docs

Add chart '0.23.2' due to release
  determined-helm-chart_0.23.2.tgz
  index.yaml
Owners: none

chore: prepare for strict rbac jq control
  docs/reference/deploy/config/master-config-reference.rst
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/cluster/test_rbac.py
  harness/determined/common/api/bindings.py
  master/internal/api_job.go
  master/internal/api_master.go
  master/internal/config/authz_config.go
  master/internal/job/authz_basic_impl.go
  master/internal/job/authz_iface.go
  proto/pkg/apiv1/master.pb.go
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/api/v1/master.proto
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/docs, @determined-ai/backend

chore: cache and reload in Python SDK [MLG-549] (#6853)
  e2e_tests/tests/cluster/test_model_registry.py
  e2e_tests/tests/cluster/test_resource_pools.py
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/test_sdk.py
  harness/determined/cli/checkpoint.py
  harness/determined/cli/experiment.py
  harness/determined/cli/model.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/model.py
  harness/determined/common/experimental/trial.py
  harness/determined/common/experimental/user.py
  harness/tests/cli/test_experiment.py
  harness/tests/common/api_server.py
  harness/tests/common/test_api_server.py
  harness/tests/determined/common/experimental/test_experiment.py
  harness/tests/fixtures/experiment.json
Owners: none

fix typing
  harness/tests/determined/common/experimental/test_experiment.py
Owners: none

test: Add another mock to checkpoint tests (#7260)
  harness/tests/determined/common/experimental/test_checkpoint.py
Owners: none

missing decorator
  harness/tests/determined/common/experimental/test_experiment.py
Owners: none

chore: rename Trial to LegacyTrial and TrialReference/ExperimentReference to Trial/Experiment in SDK [MLG-547] (#6940)
  docs/model-dev-guide/model-management/checkpoints.rst
  docs/reference/python-sdk.rst
  docs/release-notes.rst
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/fixtures/no_op/model_def.py
  e2e_tests/tests/test_sdk.py
  harness/determined/__init__.py
  harness/determined/_execution.py
  harness/determined/_trial.py
  harness/determined/_trial_controller.py
  harness/determined/cli/experiment.py
  harness/determined/common/experimental/__init__.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/trial.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/experimental/__init__.py
  harness/determined/experimental/_native.py
  harness/determined/experimental/client.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/load.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/tests/cli/test_experiment.py
  harness/tests/experiment/utils.py
Owners: @determined-ai/docs
