Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

remove command eventManager
  master/internal/command/command.go
  master/internal/command/events.go
Owners: @determined-ai/backend

chore: update hermes [WEB-1186] (#6818)
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
Owners: none

css
  webui/react/src/components/kit/Button.module.scss
Owners: none

fmt
  webui/react/src/components/kit/Button.tsx
Owners: none

chore: print messages while `det deploy aws (up|down)` waits
  harness/determined/deploy/aws/aws.py
Owners: none

chore: print messages while `det deploy aws (up|down)` waits (#6838)
  harness/determined/deploy/aws/aws.py
Owners: none

take out webui references
  webui/react/src/pages/Wait.tsx
  webui/react/src/utils/wait.test.ts
  webui/react/src/utils/wait.ts
Owners: none

flake8 fixes
  harness/determined/integrations/huggingface/hf_callback.py
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
  harness/determined/pytorch/dsat/__main__.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_utils.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

working on mypy issues
  harness/determined/pytorch/dsat/_utils.py
Owners: none

handling mypy issues
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_utils.py
Owners: none

lots of static typing fixes
  harness/determined/integrations/huggingface/hf_callback.py
  harness/determined/pytorch/dsat/__init__.py
  harness/determined/pytorch/dsat/_defaults.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_run_dsat.py
  harness/determined/pytorch/dsat/_utils.py
  harness/determined/searcher/__init__.py
  harness/determined/searcher/_search_method.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

test: fix nightly `test_convergence`.
  e2e_tests/tests/conftest.py
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/nightly/test_convergence.py
  e2e_tests/tests/test_sdk.py
Owners: none

perf: speed up synthetic metric generation
  master/internal/populate_metrics.go
Owners: @determined-ai/backend

stabilizing further
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/tests/custom_search_mocks.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

apply styles
  docs/setup-cluster/deploy-cluster/on-prem/wsl.rst
Owners: @determined-ai/docs

fix: feadback
  webui/react/src/components/FilterForm/TableFilter.tsx
  webui/react/src/components/FilterForm/components/FilterField.tsx
  webui/react/src/components/FilterForm/components/FilterFormStore.test.ts
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
  webui/react/src/components/FilterForm/components/FilterGroup.module.scss
  webui/react/src/components/FilterForm/components/type.ts
  webui/react/src/components/kit/Input.tsx
  webui/react/src/components/kit/InputNumber.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

chore: do not set trial state on PyTorchTrial until load (#6716)
  harness/determined/pytorch/__init__.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

reformat fileContent for code editor
  webui/react/src/components/kit/CodeEditor.tsx
Owners: none

Add WSL to toctree on setup-cluster/deploy-cluster/on-prem/overview.rst
  docs/setup-cluster/deploy-cluster/on-prem/overview.rst
Owners: @determined-ai/docs

Minor style updates
  docs/setup-cluster/deploy-cluster/on-prem/wsl.rst
Owners: @determined-ai/docs

fix: on dashboard show workspace name and link for tasks
  webui/react/src/pages/Dashboard.tsx
Owners: none

make multiple false optional
  webui/react/src/components/kit/Notes.tsx
  webui/react/src/components/kit/useNoteDemo.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentMultiTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ProjectNotes.tsx
Owners: none

chore: remove unused rbac feature flags
  webui/react/src/components/CreateGroupModal.tsx
  webui/react/src/components/CreateUserModal.tsx
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/components/ManageGroupsModal.tsx
  webui/react/src/components/Navigation.tsx
  webui/react/src/hooks/useFeature.ts
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/Admin/index.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.tsx
  webui/react/src/pages/Clusters.tsx
  webui/react/src/pages/DefaultRoute.tsx
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/pages/SignIn.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
Owners: none

perf: speed up synthetic metric generation (#6843)
  master/internal/populate_metrics.go
Owners: @determined-ai/backend

refactor: Add notes to UI kit (#6791)
  webui/react/design/index.tsx
  webui/react/src/components/NotesCard.module.scss
  webui/react/src/components/kit/Input.tsx
  webui/react/src/components/kit/NoteCard.module.scss
  webui/react/src/components/kit/NoteCard.tsx
  webui/react/src/components/kit/NoteCards.module.scss
  webui/react/src/components/kit/NoteCards.tsx
  webui/react/src/components/kit/Notes.tsx
  webui/react/src/components/kit/Tags.tsx
  webui/react/src/components/kit/useNoteDemo.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentMultiTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ProjectNotes.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceQuickSearch.tsx
Owners: none

more progress on stabilizing mypy
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

fixed all the mypy issues
  harness/determined/pytorch/dsat/_run_dsat.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

fixing harness imports
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_run_dsat.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

did feature
  master/internal/api_trials_intg_test.go
  master/internal/trials/postgres_trials.go
Owners: @determined-ai/backend

started test
  master/internal/api_trials_intg_test.go
  master/internal/trials/postgres_trials.go
Owners: @determined-ai/backend

tests
  master/internal/api_trials_intg_test.go
  master/internal/trials/postgres_trials.go
Owners: @determined-ai/backend

docs feedback
  docs/release-notes/dont-accept-epoch-bad-values.rst
Owners: @determined-ai/docs

chore: error when non numeric epoch values are reported
  docs/release-notes/dont-accept-epoch-bad-values.rst
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
Owners: @determined-ai/docs, @determined-ai/backend

some cleanup
  harness/determined/integrations/huggingface/hf_callback.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_run_dsat.py
  harness/determined/pytorch/dsat/_utils.py
Owners: none

feat: add fonts and font-sizes
  webui/react/src/pages/DesignKit.tsx
Owners: none

chore: support non numeric metrics in CompareTrials, SummarizeTrials, and TrialsSample [DET-9384] (#6734)
  master/internal/api_trials_intg_test.go
  master/internal/trials/postgres_trials.go
Owners: @determined-ai/backend

cleanup
  docs/reference/training/api-deepspeed-reference.rst
  docs/training/apis-howto/deepspeed/deepspeed.rst
  harness/determined/integrations/huggingface/hf_callback.py
  harness/determined/pytorch/dsat/_utils.py
  harness/determined/searcher/_search_runner.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: @determined-ai/docs

chore: change the headings to h4
  webui/react/src/pages/DesignKit.tsx
Owners: none

fix: 'det e list' and 'det e list -a' behavior was switched DET-9480 (#6829)
  docs/release-notes/fix-det-e-list-cli.rst
  harness/determined/cli/experiment.py
Owners: @determined-ai/docs

fmt
  master/static/migrations/20220311095512_add_workspace_tables.up.sql
Owners: @determined-ai/backend
