Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

Fixes
  webui/react/src/hooks/usePermissions.common.tsx
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/stores/cluster.tsx
Owners: none

feat: implement web resource pool binding api [WEB-1402] (#7272)
  webui/react/src/hooks/usePermissions.common.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/stores/cluster.tsx
  webui/react/src/stores/workspaces.tsx
  webui/react/src/types.ts
Owners: none

feat: Add keyboard shortcut input to UI Kit [WEB-1362] (#7192)
  webui/react/src/components/kit/InputShortcut.module.scss
  webui/react/src/components/kit/InputShortcut.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/Settings/UserSettings.settings.ts
  webui/react/src/utils/shortcut.ts
Owners: none

fix: ManageGroupsModal on UserManagement page (#7268)
  webui/react/src/components/ManageGroupsModal.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
Owners: none

fix: ManageGroupsModal on UserManagement page (#7268)
  webui/react/src/components/ManageGroupsModal.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
Owners: none

matchesShortcut fix
  webui/react/src/utils/shortcut.ts
Owners: none

matchesShortcut fix
  webui/react/src/utils/shortcut.ts
Owners: none

chore: bump version: 0.23.2-rc1 -> 0.23.2-rc2
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: @determined-ai/docs

docs: Make correction on workspaces page
  docs/setup-cluster/workspaces.rst
Owners: @determined-ai/docs

resurrect GetContainerResourcesState, etc
  master/internal/command/command.go
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/mock_test.go
  master/internal/rm/rmevents/rmevents.go
  master/internal/rm/rmevents/service.go
  master/internal/sproto/task.go
  master/internal/sproto/task_actor.go
  master/internal/task/allgather.go
  master/internal/task/allocation_service.go
  master/internal/task/allocationservice/allocationservice.go
  master/internal/task/idle/watcher_test.go
  master/internal/task/tproto/tproto.go
Owners: @determined-ai/backend

fix tests for internal.trial
  master/internal/api_trials.go
  master/internal/trial.go
  master/internal/trial_test.go
Owners: @determined-ai/backend

fmt
  master/internal/task/allocation.go
  master/internal/task/allocation_service.go
Owners: @determined-ai/backend

add fill out allocation service
  master/internal/api_tasks.go
  master/internal/api_trials.go
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/core.go
  master/internal/task/allgather.go
  master/internal/task/allocation.go
  master/internal/task/allocation_map.go
  master/internal/task/allocation_service.go
  master/internal/trial.go
Owners: @determined-ai/backend

fix tests for package task
  master/internal/task/allocation_intg_test.go
  master/internal/task/rendezvous.go
  master/internal/task/rendezvous_test.go
Owners: @determined-ai/backend

linting
  master/internal/api_trials.go
  master/internal/task/allocation.go
  master/internal/task/allocation_service.go
Owners: @determined-ai/backend

chore: remove admin flag check in delete_model & delete_model_version [DET-9596]
  e2e_tests/tests/experiment/experiment.py
  harness/determined/common/api/bindings.py
  master/internal/api_model.go
  master/internal/authz/permission_denied_error.go
  master/internal/mocks/authz_model_iface.go
  master/internal/model/authz_basic_impl.go
  master/internal/model/authz_iface.go
  master/static/srv/delete_model.sql
  master/static/srv/delete_model_version.sql
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

docs: add release notes for 0.23.2
  docs/release-notes.rst
  docs/release-notes/gcp_cluster_management.rst
Owners: @determined-ai/docs

chore: remove admin flag check in delete_model & delete_model_version [DET-9596] (#7175)
  e2e_tests/tests/experiment/experiment.py
  harness/determined/common/api/bindings.py
  master/internal/api_model.go
  master/internal/authz/permission_denied_error.go
  master/internal/mocks/authz_model_iface.go
  master/internal/model/authz_basic_impl.go
  master/internal/model/authz_iface.go
  master/static/srv/delete_model.sql
  master/static/srv/delete_model_version.sql
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

Resolve comments
  docs/setup-cluster/workspaces.rst
Owners: @determined-ai/docs

docs: Make correction on workspaces page (#7254)
  docs/setup-cluster/workspaces.rst
Owners: @determined-ai/docs

chore: use settings value for omnibar shortcut (#7198)
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/omnibar/Omnibar.tsx
  webui/react/src/pages/Settings/UserSettings.settings.ts
  webui/react/src/utils/shortcut.ts
Owners: none

feat: keyboard shortcut for JupyterLabModal (#7184)
  webui/react/src/App.tsx
  webui/react/src/components/JupyterLabButton.tsx
  webui/react/src/components/JupyterLabGlobal.tsx
  webui/react/src/pages/Settings/UserSettings.settings.ts
Owners: none

move validation after defer
  master/internal/core.go
Owners: @determined-ai/backend

fn accepts ctx context
  master/internal/core.go
  master/internal/db/setup.go
Owners: @determined-ai/backend

docs: Provide additional Slurm configuration guidance [FE-88]
  docs/reference/training/experiment-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/slurm-known-issues.rst
  docs/setup-cluster/deploy-cluster/slurm/slurm-requirements.rst
Owners: @determined-ai/docs

Organize environment setting code
  agent/pkg/singularity/singularity.go
Owners: @determined-ai/backend

docs: Provide additional Slurm configuration guidance [FE-88] (#7288)
  docs/reference/training/experiment-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/slurm-known-issues.rst
  docs/setup-cluster/deploy-cluster/slurm/slurm-requirements.rst
Owners: @determined-ai/docs

chore: refactor GCP operation tracker
  master/internal/rm/agentrm/provisioner/gcp.go
  master/internal/rm/agentrm/provisioner/gcp_operation_tracker.go
Owners: @determined-ai/backend

cleanup
  master/internal/rm/agentrm/provisioner/gcp.go
  master/internal/rm/agentrm/provisioner/gcp_operation_tracker.go
Owners: @determined-ai/backend

cleanup from comments
  master/internal/rm/agentrm/provisioner/gcp_operation_tracker.go
Owners: @determined-ai/backend

chore: GCP operation tracker refactor (#7262)
  master/internal/rm/agentrm/provisioner/gcp.go
  master/internal/rm/agentrm/provisioner/gcp_operation_tracker.go
Owners: @determined-ai/backend

ci(circle/test-unit): split off gpu unit tests (#7207)
  .circleci/config.yml
Owners: none

feat: add new SVG icons to UI kit (#7142)
  webui/react/src/components/FilterForm/TableFilter.tsx
  webui/react/src/components/Table/TableFilterDropdown.tsx
  webui/react/src/components/Table/TableFilterMultiSearch.tsx
  webui/react/src/components/TaskList.tsx
  webui/react/src/components/kit/Empty.module.scss
  webui/react/src/components/kit/Icon.module.scss
  webui/react/src/components/kit/Icon.test.tsx
  webui/react/src/components/kit/Icon.tsx
  webui/react/src/pages/ExperimentList.settings.ts
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/RowHeightMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/styles/icons.scss
Owners: none

fix: refetch groups on settings change (#7263)
  webui/react/src/pages/Settings/GroupManagement.tsx
Owners: none

fix: add missing searcher types (#7212)
  webui/react/src/components/FilterForm/components/type.ts
Owners: none

fix: experiment list comparison view (#7250)
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
Owners: none

feat: add num of experiments in quick search modal (#7223)
  webui/react/src/pages/WorkspaceDetails/WorkspaceQuickSearch.tsx
Owners: none

test: Add a unit test for direct downloading from S3. (#7174)
  harness/tests/determined/common/experimental/test_checkpoint.py
  harness/tests/determined/common/storage/__init__.py
  harness/tests/determined/common/storage/test_s3.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/checkpoint.json
  harness/tests/requirements/requirements-harness.txt
Owners: none

feat: add trust_remote_code to hf_trainer_api examples (#7209)
  examples/hf_trainer_api/hf_image_classification/adaptive.yaml
  examples/hf_trainer_api/hf_image_classification/const.yaml
  examples/hf_trainer_api/hf_image_classification/const_epochs.yaml
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_image_classification/distributed.yaml
  examples/hf_trainer_api/hf_image_classification/image_classification.py
  examples/hf_trainer_api/hf_language_modeling/adaptive.yaml
  examples/hf_trainer_api/hf_language_modeling/const.yaml
  examples/hf_trainer_api/hf_language_modeling/const_epochs.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/distributed.yaml
  examples/hf_trainer_api/hf_language_modeling/run_clm.py
Owners: none

ci: handle cherry-picking EE PRs into release branch (#7266)
  tools/scripts/track-pr
Owners: none
