Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @ioga, @hamidzr, @trentwatt

updated _v0.py
  harness/determined/common/schemas/expconf/_v0.py
  schemas/test_cases/v0/searchers.yaml
Owners: none

skip gzip proxy
  master/internal/core.go
Owners: none

test: set up shared web to test with local strategy (#4504)
  webui/react/Makefile
  webui/react/src/shared/.circleci/config.yml
  webui/react/src/shared/.github/pull_request_template.md
  webui/react/src/shared/bin/test.py
Owners: @hamidzr, @trentwatt

test: set up shared web to test with local strategy (#4504)
  .circleci/config.yml
  .github/pull_request_template.md
  bin/test.py
Owners: @determined-ai/infrastructure

feat: add props to style avatar differently
  webui/react/src/shared/components/Avatar/Avatar.tsx
  webui/react/src/shared/types.ts
  webui/react/src/shared/utils/string.ts
Owners: @hamidzr, @trentwatt

don't do it in the sessions
  .circleci/devcluster/double-reattach.devcluster.yaml
  .circleci/devcluster/double.devcluster.yaml
  e2e_tests/tests/cluster/managed_cluster.py
  e2e_tests/tests/cluster/test_priority_scheduler.py
  e2e_tests/tests/cluster/utils.py
Owners: none

slowly building bun
  master/internal/db/postgres_trial.go
Owners: none

fix port
  e2e_tests/tests/cluster/utils.py
Owners: none

minor bugs in test config creation
  harness/determined/common/api/experiment.py
Owners: none

feat: new searcher name custom in experiment config (#4507)
  docs/training-apis/experiment-config.txt
  harness/determined/common/schemas/expconf/_gen.py
  harness/determined/common/schemas/expconf/_v0.py
  master/pkg/schemas/zgen_schemas.go
  schemas/expconf/v0/searcher-custom.json
  schemas/expconf/v0/searcher.json
  schemas/test_cases/v0/searchers.yaml
Owners: none

feat: add props to style avatar differently (#4514)
  components/Avatar/Avatar.tsx
  types.ts
  utils/string.ts
Owners: none

feat: add props to style avatar differently (#4514)
  webui/react/src/shared/components/Avatar/Avatar.tsx
  webui/react/src/shared/types.ts
  webui/react/src/shared/utils/string.ts
Owners: @hamidzr, @trentwatt

remove self.master_url
  e2e_tests/tests/cluster/managed_cluster.py
  e2e_tests/tests/cluster/test_agent_restart.py
  e2e_tests/tests/cluster/utils.py
Owners: none

Implemented and (integration) tested user groups SQL
  master/internal/db/group_intg_test.go
  master/internal/db/postgres_groups.go
Owners: none

attempt to upgrade bun
  master/go.mod
  master/go.sum
  master/internal/db/postgres_trial.go
Owners: none

query builder works
  master/go.mod
  master/go.sum
Owners: none

style: add uplot cursor styles for dark mode (#4502)
  webui/react/src/components/UPlot/UPlotChart.module.scss
  webui/react/src/components/UPlot/UPlotChart.tsx
Owners: none

Minor cleanup
  master/internal/db/database.go
  master/internal/db/group_intg_test.go
  master/internal/db/postgres_groups.go
Owners: none

Adding roles and removing priority classes and permissions
  helm/charts/determined/templates/db-deployment.yaml
  helm/charts/determined/templates/master-deployment.yaml
  helm/charts/determined/templates/master-permissions.yaml
  helm/charts/determined/templates/priority-classes.yaml
Owners: none

lint
  master/internal/core.go
Owners: none

Updating version=0.18.3 and adding modified permissions
  helm/charts/determined/Chart.yaml
  helm/charts/determined/templates/master-permissions.yaml
Owners: none

Linting issues
  master/internal/db/postgres_groups.go
  master/pkg/model/user_group.go
Owners: none

fix custom searcher schema
  harness/determined/common/schemas/expconf/_gen.py
  master/internal/api_experiment.go
  master/pkg/schemas/expconf/latest.go
  master/pkg/schemas/expconf/schema_test.go
  master/pkg/schemas/expconf/searcher_config.go
  master/pkg/schemas/expconf/zgen_custom_config_v0.go
  master/pkg/schemas/expconf/zgen_searcher_config_v0.go
  master/pkg/schemas/zgen_schemas.go
  schemas/expconf/v0/searcher-custom.json
  schemas/expconf/v0/searcher.json
Owners: none

add case for custom config
  master/pkg/searcher/search_method.go
Owners: none

fix: deepspeed examples config (#4511)
  examples/deepspeed/cifar10_moe/moe.yaml
  examples/deepspeed/cifar10_moe/zero_stages.yaml
  examples/deepspeed/deepspeed_dcgan/cifar10_zero2.yaml
  examples/deepspeed/deepspeed_dcgan/mnist.yaml
  examples/deepspeed/deepspeed_dcgan/mnist_grad_accum.yaml
  examples/deepspeed/pipeline_parallelism/distributed.yaml
Owners: none

update devcluster yaml for priority scheduler
  .circleci/devcluster/priority.devcluster.yaml
Owners: none

fix: custom searcher schema (#4521)
  harness/determined/common/schemas/expconf/_gen.py
  master/internal/api_experiment.go
  master/pkg/schemas/expconf/latest.go
  master/pkg/schemas/expconf/schema_test.go
  master/pkg/schemas/expconf/searcher_config.go
  master/pkg/schemas/expconf/zgen_custom_config_v0.go
  master/pkg/schemas/expconf/zgen_searcher_config_v0.go
  master/pkg/schemas/zgen_schemas.go
  master/pkg/searcher/search_method.go
  schemas/expconf/v0/searcher-custom.json
  schemas/expconf/v0/searcher.json
Owners: none

search method implementation
  e2e_tests/tests/experiment/test_custom_searcher.py
  harness/determined/searcher/random_search.py
  harness/determined/searcher/search_method.py
  harness/determined/searcher/search_runner.py
Owners: none

metric has to be there
  e2e_tests/tests/experiment/test_custom_searcher.py
  harness/determined/searcher/random_search.py
Owners: none

fix: ensure correct master url is used for priority scheduler and other managed devcluster tests. (#4512)
  e2e_tests/tests/cluster/managed_cluster.py
  e2e_tests/tests/cluster/test_agent_restart.py
  e2e_tests/tests/cluster/test_priority_scheduler.py
  e2e_tests/tests/cluster/utils.py
Owners: none

Typo
  harness/tests/experiment/fixtures/pytorch_xor_model.py
Owners: none

test: update avatar tests to remove warnings
  webui/react/src/components/UserAvatar.test.tsx
  webui/react/src/components/UserAvatar.tsx
  webui/react/src/shared/components/Avatar/Avatar.test.tsx
Owners: @hamidzr, @trentwatt

test: update avatar tests to remove warnings
  webui/react/src/components/UserAvatar.test.tsx
  webui/react/src/components/UserAvatar.tsx
  webui/react/src/shared/components/Avatar/Avatar.test.tsx
Owners: @hamidzr, @trentwatt

feat: Reject experiments with too many slots to run; add force_queue option and use in e2e_tests
  e2e_tests/tests/experiment/test_noop.py
  harness/determined/common/schemas/expconf/_gen.py
  master/internal/core_experiment.go
  master/pkg/model/compat.go
  master/pkg/schemas/expconf/experiment_config.go
  master/pkg/schemas/expconf/zgen_resources_config_v0.go
  master/pkg/schemas/zgen_schemas.go
  schemas/expconf/v0/resources.json
Owners: none

schema testing
  schemas/test_cases/v0/experiment.yaml
Owners: none

test: bring back tests for generic commands on master restarts.
  e2e_tests/tests/cluster/test_master_restart.py
Owners: none

add force_queue to test schema
  harness/determined/common/schemas/expconf/_v0.py
Owners: none

update fixture
  e2e_tests/tests/fixtures/no_op/single.yaml
Owners: none

fix: persist whose workspaces/projects
  webui/react/src/pages/WorkspaceDetails.settings.ts
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceList.settings.ts
  webui/react/src/pages/WorkspaceList.tsx
Owners: none

replaces old query with Bun
  agent/go.mod
  agent/go.sum
  master/internal/db/postgres_trial.go
Owners: @ioga

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# Notify eng-infra team of .github changes
/.github  @determined-ai/infrastructure

# Ilia cares about agent RM.
/master/internal/resourcemanagers/ @ioga
/master/internal/sproto/ @ioga
/proto/src/determined/ @ioga
/agent/ @ioga

# Hamid and Trent care about shared code
/webui/react/src/shared/ @hamidzr @trentwatt
