Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

feat: Show hyperparametersin Experiment List comparison view
  webui/react/src/hooks/useMetricNames.ts
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
  webui/react/src/pages/F_ExpList/ComparisonView.tsx
  webui/react/src/pages/F_ExpList/ExpParallelCoordinates.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/HpParallelCoordinates.module.scss
  webui/react/src/pages/F_ExpList/MultiTrialDetailsHyperparameters.settings.ts
Owners: none

core: fix allocations swagger generated urls
  master/internal/core.go
Owners: @determined-ai/backend

allocations -> allocation
  master/internal/core.go
Owners: @determined-ai/backend

fix(api): complete trial to task log request mapping
  master/internal/api_trials.go
Owners: @determined-ai/backend

fix: ensure contiguous before gathering in stable diffusion example
  examples/diffusion/textual_inversion_stable_diffusion/detsd/trainer.py
Owners: none

chore: expose workspace for jobs (#6996)
  e2e_tests/tests/__init__.py
  e2e_tests/tests/api_utils.py
  harness/determined/common/api/_util.py
  harness/determined/common/api/bindings.py
  master/internal/api_job.go
  master/internal/command/command.go
  master/internal/core_experiment.go
  master/internal/experiment.go
  master/internal/job/authz_basic_impl.go
  master/internal/job/authz_iface.go
  master/internal/job/job.go
  master/internal/workspace/postgres_workspace.go
  master/pkg/model/workspace.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/job.pb.go
  proto/pkg/jobv1/job.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/job.proto
  proto/src/determined/job/v1/job.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

fix: det shell start fails on grenoble with 0.21.2 (reading HTTP_PROXY, but ignoring NO_PROXY) [DET-9364]
  harness/determined/cli/proxy.py
Owners: none

use scroll icon
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/shared/assets/images/infinite-scroll.svg
Owners: none

fix: ensure contiguous before gathering in stable diffusion example (#7021)
  examples/diffusion/textual_inversion_stable_diffusion/detsd/trainer.py
Owners: none

set up cli to use the new endpoint
  harness/determined/cli/job.py
  harness/determined/cli/render.py
Owners: none

web: migrate to getJobsV2 endpoint and types
  webui/react/src/constants/access-control.ts
  webui/react/src/pages/JobQueue/JobQueue.table.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
  webui/react/src/utils/job.ts
Owners: none

revert isLimitedJob typeguard
  webui/react/src/utils/job.ts
Owners: none

fmt
  webui/react/src/pages/JobQueue/JobQueue.tsx
Owners: none

chore: Increase size of Algolia search modal
  docs/assets/styles/determined.css
Owners: @determined-ai/docs

fix: fix k8s slots count growing for commands [DET-9550]
  master/internal/rm/kubernetesrm/resource_pool.go
Owners: @determined-ai/backend

fix duplicated API calls
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Owners: none

feat: add bind endpoint
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
Owners: @determined-ai/backend

chore: enrich agent-generated logs
  agent/internal/container/container.go
  master/internal/rm/agentrm/agent.go
  master/internal/sproto/task_actor.go
  master/pkg/aproto/master_message.go
Owners: @determined-ai/backend

chore: Helm file rm staic img refs, add log conf
  helm/charts/determined/Chart.yaml
  helm/charts/determined/scripts/k8s-password-change.py
  helm/charts/determined/templates/change-password.yaml
  helm/charts/determined/templates/db-deployment.yaml
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/templates/scheduler-deployment.yaml
  helm/charts/determined/values.yaml
Owners: none

85% done w/ fixes -- just need to fix possible nil pointer dereference in InitProxy()
  master/internal/core.go
  master/internal/proxy/proxy.go
  master/internal/proxy/proxy_intg_test.go
  master/internal/task/allocation.go
  master/internal/task/idle_timeout.go
Owners: @determined-ai/backend

catch error
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Owners: none

fix: load config file into the code editor
  webui/react/src/components/JupyterLabModal.tsx
  webui/react/src/services/apiConfig.ts
  webui/react/src/shared/contexts/stores/UI.tsx
  webui/react/src/shared/hooks/usePolling.ts
  webui/react/src/shared/utils/error.ts
  webui/react/src/shared/utils/service.ts
  webui/react/src/stores/auth.ts
  webui/react/src/stores/cluster.tsx
  webui/react/src/utils/job.ts
Owners: none

linting
  master/internal/db/postgres_rp_workspace_bindings.go
Owners: @determined-ai/backend

undoing initproxy method
  master/internal/core.go
  master/internal/proxy/proxy.go
  master/internal/proxy/proxy_intg_test.go
Owners: @determined-ai/backend

feat: add bind endpoint (#7027)
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
Owners: @determined-ai/backend

unbind workspace RP handler + db helper
  master/internal/api_resourcepool.go
  master/internal/mocks/workspace_authz_iface.go
Owners: @determined-ai/backend

lint fix
  master/internal/api_resourcepool.go
Owners: @determined-ai/backend

fix: code editor set the only file to be the active file
  webui/react/src/components/JupyterLabModal.tsx
  webui/react/src/components/kit/CodeEditor.tsx
Owners: none

feat:list workspaces bound to RP handler helper
  harness/determined/common/api/bindings.py
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/mocks/workspace_authz_iface.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
  proto/buf.image.bin
  proto/pkg/apiv1/resourcepool.pb.go
  proto/src/determined/api/v1/resourcepool.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

chore: Pass in the allocation ID to releasedResources()
  master/internal/sproto/task.go
  master/internal/task/allocation.go
Owners: @determined-ai/backend

fix when no exp has been selected
  webui/react/src/hooks/useMetricNames.ts
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
Owners: none

cifar launcher test
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

fix
  webui/react/src/hooks/useMetricNames.ts
Owners: none

add tooltip
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Owners: none

feat: overwrite bindings endpoint [DET-9548]
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/mocks/workspace_authz_iface.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
Owners: @determined-ai/backend

add skip reason
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

chore: enrich agent-generated logs
  agent/internal/agent.go
  agent/internal/container/container.go
Owners: @determined-ai/backend

chore: Increase size of Algolia search modal (#7023)
  docs/assets/styles/determined.css
Owners: @determined-ai/docs

feat: Add pagination to experiment list [WEB-995] (#6971)
  webui/react/src/components/kit/Pagination.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.module.scss
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/shared/assets/images/infinite-scroll.svg
Owners: none

chore: add testing function stubs
  master/internal/api_resourcepool_intg_test.go
  master/internal/api_workspace_intg_test.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Owners: @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
