Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/backend, @determined-ai/web, @determined-ai/docs, @determined-ai/ml-sys

chore: filterformstore comment re: change tracking (#8386)
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
Owners: @determined-ai/web

extend to other antd modals
  webui/react/src/components/GalleryModal.tsx
  webui/react/src/components/ResourcePoolDetails.tsx
  webui/react/src/components/TaskList.tsx
  webui/react/src/components/TextEditorModal.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsageCsvModal.tsx
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/pages/JobQueue/ManageJob.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceQuickSearch.tsx
Owners: @determined-ai/web

fix: Wrap older modals in theme class [WEB-1824] (#8432)
  webui/react/src/components/GalleryModal.tsx
  webui/react/src/components/ResourcePoolDetails.tsx
  webui/react/src/components/TaskList.tsx
  webui/react/src/components/TextEditorModal.tsx
  webui/react/src/hooks/useModal/useModal.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsageCsvModal.tsx
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/pages/JobQueue/ManageJob.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceQuickSearch.tsx
Owners: @determined-ai/web

fix: Wrap older modals in theme class [WEB-1824] (#8432)
  webui/react/src/components/GalleryModal.tsx
  webui/react/src/components/ResourcePoolDetails.tsx
  webui/react/src/components/TaskList.tsx
  webui/react/src/components/TextEditorModal.tsx
  webui/react/src/hooks/useModal/useModal.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsageCsvModal.tsx
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/pages/JobQueue/ManageJob.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceQuickSearch.tsx
Owners: @determined-ai/web

ci: delete broken fixture (#8428)
  e2e_tests/tests/conftest.py
Owners: @determined-ai/ml-sys

fix: new experiment list tooltip styling (#8433)
  webui/react/src/pages/F_ExpList/glide-table/tooltip.tsx
Owners: @determined-ai/web

feat: add Topology into the RP details page
  webui/react/src/pages/ResourcePool/ResourcepoolDetail.tsx
Owners: @determined-ai/web

feat: add text truncation
  webui/react/src/pages/ResourcePool/Topology.module.scss
  webui/react/src/pages/ResourcePool/Topology.tsx
Owners: @determined-ai/web

removed middle truncation
  webui/react/src/pages/ResourcePool/Topology.module.scss
  webui/react/src/pages/ResourcePool/Topology.tsx
Owners: @determined-ai/web

chore: passed tooltip only if text is truncated
  webui/react/src/pages/ResourcePool/Topology.tsx
Owners: @determined-ai/web

change font-size and min-max width of the "lastPart" text container
  webui/react/src/pages/ResourcePool/Topology.module.scss
  webui/react/src/pages/ResourcePool/Topology.tsx
Owners: @determined-ai/web

add det config
  harness/determined/cli/task.py
  harness/determined/common/api/bindings.py
  master/internal/api_task.go
  master/static/srv/get_task.sql
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/task.pb.go
  proto/pkg/taskv1/task.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/task.proto
  proto/src/determined/task/v1/task.proto
Owners: @determined-ai/ml-sys, @determined-ai/backend

ci: fix linting with responses==0.24.1
  harness/tests/determined/common/experimental/test_trial.py
Owners: @determined-ai/ml-sys

test: fix model registry rbac wrong user regression (#8420)
  e2e_tests/tests/cluster/test_model_registry_rbac.py
Owners: @determined-ai/backend

test: fix model registry rbac wrong user regression (#8420)
  e2e_tests/tests/cluster/test_model_registry_rbac.py
Owners: @determined-ai/backend

chore: add version dropdown url for previous release
  docs/_static/version-switcher/versions.json
Owners: none

chore: add version dropdown url for previous release (#8437)
  docs/_static/version-switcher/versions.json
Owners: none

chore: add version dropdown url for previous release (#8437)
  docs/_static/version-switcher/versions.json
Owners: none

ci: fix linting with responses==0.24.1 (#8436)
  harness/tests/determined/common/experimental/test_trial.py
Owners: @determined-ai/ml-sys

ci: fix linting with responses==0.24.1 (#8436)
  harness/tests/determined/common/experimental/test_trial.py
Owners: @determined-ai/ml-sys

wait for TB to respond
  harness/determined/exec/tensorboard.py
Owners: @determined-ai/ml-sys

fix: add back TensorBoard waiting state [MLG-1119]
  harness/determined/exec/tensorboard.py
Owners: @determined-ai/ml-sys

wip
  harness/determined/exec/tensorboard.py
Owners: @determined-ai/ml-sys

print statements
  harness/determined/exec/tensorboard.py
  master/static/srv/check_ready_logs.py
Owners: @determined-ai/ml-sys, @determined-ai/backend

update antd for new hew upcoming version
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/GalleryModal.tsx
  webui/react/src/components/ManageGroupsModal.tsx
  webui/react/src/hooks/useModal/useModal.tsx
  webui/react/src/pages/Cluster.module.scss
  webui/react/src/pages/Cluster.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
Owners: @determined-ai/web

feat: Add remote user settings to Users table [WEB-1798] (#8397)
  harness/determined/common/api/bindings.py
  master/internal/api_user.go
  proto/pkg/apiv1/user.pb.go
  proto/src/determined/api/v1/user.proto
  webui/react/src/components/CreateUserModal.tsx
  webui/react/src/components/UserSettings.tsx
  webui/react/src/pages/Admin/UserManagement.settings.ts
  webui/react/src/pages/Admin/UserManagement.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Owners: @determined-ai/backend, @determined-ai/web

fix: new experiment list tooltip styling (#8433)
  webui/react/src/pages/F_ExpList/glide-table/tooltip.tsx
Owners: @determined-ai/web

chore: bump version: 0.26.4-rc1 -> 0.26.4-rc2
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Owners: @determined-ai/infrastructure, @determined-ai/ml-sys, @determined-ai/web

refactor with useAsync
  webui/react/src/components/TaskBar.tsx
Owners: @determined-ai/web

use consistent terminology in modal/list
  docs/assets/images/webhook_modal.png
  webui/react/src/components/WebhookCreateModal.tsx
Owners: @determined-ai/web

final changes
  master/internal/api_ntsc_intg_test.go
  master/internal/command/command.go
  master/internal/command/command_intg_test.go
  master/internal/command/command_service.go
  master/internal/core.go
Owners: @determined-ai/backend

calculate overall stats same as slots allocation
  webui/react/src/pages/Cluster/ClusterOverallStats.tsx
Owners: @determined-ai/web

add trial migration
  master/static/migrations/20231116115010_trial-to-run-view.tx.down.sql
  master/static/migrations/20231116115010_trial-to-run-view.tx.up.sql
Owners: @determined-ai/backend

lint
  docs/integrations/notification/_index.rst
Owners: none

update docs
  docs/release-notes/list-active-users.rst
Owners: none

fix deprecated k8s name
  webui/react/src/utils/cluster.ts
Owners: @determined-ai/web

make list_users call behaviour more clear
  harness/determined/cli/user.py
  harness/determined/experimental/client.py
Owners: @determined-ai/ml-sys

include import
  e2e_tests/tests/experiment/test_metrics.py
Owners: @determined-ai/ml-sys

fix: k8s autoscaling nodes not counted towards RP
  master/internal/rm/kubernetesrm/pods.go
Owners: @determined-ai/backend

test: create a test for delete-tensorboards via `det e delete` (#8336)
  e2e_tests/tests/experiment/test_delete.py
  e2e_tests/tests/experiment/test_metrics.py
Owners: @determined-ai/ml-sys

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github        @determined-ai/infrastructure
/master         @determined-ai/backend
/agent          @determined-ai/backend
/proto          @determined-ai/backend
/performance    @determined-ai/web

# CI is a mix
/.circleci            @determined-ai/infrastructure
/.circleci/devcluster @determined-ai/backend
/.circleci/packaging  @determined-ai/backend

# anyone can approve docs, except for specific files
/docs
/docs/index.rst     @determined-ai/docs
/docs/**/index.rst  @determined-ai/docs

# Harness is mapped to ml-sys by default, except for `cli`, `deploy`,
# and auto-generated bindings and version files.
/harness  @determined-ai/ml-sys
/harness/determined/common/api/bindings.py
/harness/determined/__version__.py

/schemas                          @determined-ai/ml-sys
/bindings/generate_bindings_py.py @determined-ai/ml-sys
/e2e_tests/tests/*.py             @determined-ai/ml-sys
/e2e_tests/tests/requirements.txt @determined-ai/ml-sys
/e2e_tests/tests/experiment       @determined-ai/ml-sys
/e2e_tests/tests/nightly          @determined-ai/ml-sys

# Backend owns some e2e tests.
/e2e_tests/tests/cluster  @determined-ai/backend
/e2e_tests/tests/command  @determined-ai/backend
/e2e_tests/tests/template @determined-ai/backend

# Owned by @determined-ai/web except for generated files
/webui    @determined-ai/web
/webui/react/src/services/api-ts-sdk/
