Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

fix CreateGroupModal
  webui/react/src/components/CreateGroupModal.test.tsx
  webui/react/src/components/CreateGroupModal.tsx
Owners: none

linting
  master/internal/rm/kubernetesrm/pods.go
Owners: @determined-ai/backend

docs: do some copy editing
  docs/architecture/introduction.rst
  docs/cluster-setup-guide/basic.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/overview.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/setup-eks-cluster.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
  docs/cluster-setup-guide/historical-cluster-usage-data.rst
  docs/cluster-setup-guide/security/rbac.rst
  docs/interfaces/cli-ug.rst
  docs/interfaces/commands-and-shells.rst
  docs/interfaces/index.rst
  docs/interfaces/notebooks.rst
  docs/reference/cli-reference.rst
  docs/reference/reference-interface/job-config-reference.rst
  docs/reference/reference-training/experiment-config-reference.rst
  docs/training/dtrain-introduction.rst
  docs/tutorials/pytorch-porting-tutorial.rst
Owners: @determined-ai/docs

fix: avoid duplicate labels for model and model version
  master/internal/api_model.go
Owners: @determined-ai/backend

ci: enable debug mode for `det deploy aws` commands (#6458)
  .circleci/config.yml
Owners: none

use default tolerations better
  master/internal/rm/kubernetesrm/pods.go
Owners: @determined-ai/backend

CreateGroupModal more fixes
  webui/react/src/components/CreateGroupModal.tsx
Owners: none

fmt
  webui/react/src/components/CreateGroupModal.tsx
Owners: none

Error on shortcut strings with URL parameters, query, or fragment
  harness/determined/common/storage/base.py
  harness/tests/storage/test_storage_base.py
Owners: none

feat: k8s cluster info using taints/tolerations (#6425)
  master/go.mod
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/pods_test.go
Owners: @determined-ai/backend

fix: do not skip graceful preemption for tasks using alternate rendezvous path
  master/internal/task/allocation.go
Owners: @determined-ai/backend

reformat imports
  tools/scripts/bumpenvs.py
  tools/scripts/refresh-ubuntu-amis.py
  tools/scripts/update-bumpenvs-yaml.py
Owners: none

fix: do not merge user zero search config with defaults
  ds_autotuning_prototype/core_api/ffn_example_torch_launcher/search_runner_config.yaml
  ds_autotuning_prototype/core_api/torchvison_models/zero_search_config.yaml
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/pytorch/deepspeed/dsat/_utils.py
Owners: none

chore: add go workspace for dev use (#6461)
  .gitignore
  go.work
  proto/Makefile
Owners: @determined-ai/backend

chore: use UI kit modal for UserSettings modals (#6376)
  webui/react/src/components/ConfigureAgentModal.tsx
  webui/react/src/components/CreateGroupModal.test.tsx
  webui/react/src/components/CreateGroupModal.tsx
  webui/react/src/components/CreateUserModal.test.tsx
  webui/react/src/components/CreateUserModal.tsx
  webui/react/src/components/DeleteGroupModal.test.tsx
  webui/react/src/components/DeleteGroupModal.tsx
  webui/react/src/components/ManageGroupsModal.tsx
  webui/react/src/components/PasswordChangeModal.test.tsx
  webui/react/src/components/PasswordChangeModal.tsx
  webui/react/src/components/kit/Form.module.scss
  webui/react/src/hooks/useModal/UserSettings/useModalConfigureAgent.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateGroup.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalDeleteGroup.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalManageGroups.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalPasswordChange.tsx
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/SettingsAccount.test.tsx
  webui/react/src/pages/Settings/SettingsAccount.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
Owners: none

Fix use of mock
  harness/determined/core/_context.py
  harness/tests/storage/test_storage_base.py
Owners: none

chore: deprecate HDFS storage support
  docs/release-notes/6460-hdfs.txt
  harness/determined/common/storage/hdfs.py
Owners: @determined-ai/docs

docs: Style the WebUI content
  docs/interfaces/webui-if.rst
Owners: @determined-ai/docs

Move
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/ExperimentMoveModal.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentMove.module.scss
  webui/react/src/hooks/useModal/Experiment/useModalExperimentMove.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentList.tsx
Owners: none

chore: remove example bert_squad_pytorch [MLG-396]
  docs/example-solutions/examples.rst
  examples/README.md
  examples/nlp/bert_squad_pytorch/README.md
  examples/nlp/bert_squad_pytorch/const.yaml
  examples/nlp/bert_squad_pytorch/constants.py
  examples/nlp/bert_squad_pytorch/data.py
  examples/nlp/bert_squad_pytorch/distributed.yaml
  examples/nlp/bert_squad_pytorch/model_def.py
  examples/nlp/bert_squad_pytorch/startup-hook.sh
Owners: @determined-ai/docs

fix: do not skip graceful preemption for tasks using alternate rendezvous path (#6463) [DET-9258]
  master/internal/task/allocation.go
Owners: @determined-ai/backend

Error on file scheme with netloc
  harness/determined/common/storage/base.py
  harness/determined/core/_context.py
  harness/tests/storage/test_storage_base.py
Owners: none

chore: deprecate HDFS storage support (#6460)
  docs/release-notes/6460-hdfs.txt
  harness/determined/common/storage/hdfs.py
Owners: @determined-ai/docs

fix: Show page not found on experiment details (#6459)
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.tsx
Owners: none

fix: podspec requests/limits for zero slot workloads [DET-9257]
  e2e_tests/tests/command/test_run.py
Owners: none

make the fix
  master/internal/rm/kubernetesrm/spec.go
Owners: @determined-ai/backend

feat: storage manager shortcut strings [MLG-221] (#6408)
  harness/determined/common/storage/__init__.py
  harness/determined/common/storage/azure.py
  harness/determined/common/storage/base.py
  harness/determined/common/storage/s3.py
  harness/determined/core/_context.py
  harness/tests/experiment/pytorch/test_pytorch_lightning.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/utils.py
  harness/tests/storage/test_storage_base.py
Owners: none

give each test unique cluster name
  e2e_tests/tests/deploy/test_local.py
Owners: none

add master logs and cluster usage rbac
  e2e_tests/tests/nightly/compute_stats.py
  harness/determined/common/api/bindings.py
  master/internal/api/error.go
  master/internal/api_master.go
  master/internal/cluster/authz_basic_impl.go
  master/internal/cluster/authz_iface.go
  master/internal/core.go
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

fmt
  e2e_tests/tests/nightly/compute_stats.py
  master/internal/api/error.go
Owners: @determined-ai/backend

switch to using a middleware for echo
  master/internal/cluster/authz_middleware.go
  master/internal/core.go
Owners: @determined-ai/backend

add release note
  docs/release-notes/fix-zero-slot-limits.rst
Owners: @determined-ai/docs

chore: remove docker-compose from det deploy local [MLG-37] (#6386)
  e2e_tests/tests/cluster/test_checkpoints.py
  e2e_tests/tests/cluster/test_resource_manager.py
  e2e_tests/tests/command/test_run.py
  e2e_tests/tests/command/test_tensorboard.py
  e2e_tests/tests/conftest.py
  e2e_tests/tests/deploy/test_local.py
  e2e_tests/tests/experiment/test_custom_searcher.py
  e2e_tests/tests/experiment/test_profiling.py
  e2e_tests/tests/template/test_template.py
  harness/determined/cli/job.py
  harness/determined/deploy/aws/gen_vcpu_mapping.py
  harness/determined/deploy/aws/preflight.py
  harness/determined/deploy/local/cli.py
  harness/determined/deploy/local/cluster_utils.py
  harness/determined/deploy/local/docker-compose.yaml
  harness/setup.py
  harness/tests/experiment/fixtures/pytorch_onevar_model.py
  tools/scripts/bumpenvs.py
  tools/scripts/refresh-ubuntu-amis.py
  tools/scripts/update-bumpenvs-yaml.py
Owners: none

populate the custom searcher logs with the correct event
  harness/determined/searcher/_search_runner.py
Owners: none

chore: create a gRPC endpoint for tasks [DET-8803]
  e2e_tests/tests/cluster/test_agent_disable.py
  e2e_tests/tests/cluster/test_agent_restart.py
  harness/determined/cli/agent.py
  harness/determined/cli/task.py
  master/internal/api_tasks.go
  master/internal/sproto/resources.go
  proto/pkg/taskv1/task.pb.go
  proto/src/determined/task/v1/task.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

chore: create a gRPC endpoint for tasks [DET-8803]
  harness/determined/cli/agent.py
  harness/determined/cli/task.py
  harness/determined/common/api/bindings.py
  master/internal/sproto/resources.go
  master/internal/sproto/task.go
  proto/pkg/taskv1/task.pb.go
  proto/src/determined/task/v1/task.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

chore: create a gRPC endpoint for tasks
  e2e_tests/tests/cluster/test_agent_disable.py
  e2e_tests/tests/cluster/test_agent_restart.py
  harness/determined/cli/agent.py
  harness/determined/cli/task.py
  harness/determined/common/api/bindings.py
  master/internal/api_tasks.go
  master/internal/sproto/resources.go
  master/internal/sproto/task.go
  master/pkg/cproto/address.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/task.pb.go
  proto/pkg/taskv1/task.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/task.proto
  proto/src/determined/task/v1/task.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

fix: do not merge user zero search config with defaults (#6464)
  ds_autotuning_prototype/core_api/ffn_example_torch_launcher/search_runner_config.yaml
  ds_autotuning_prototype/core_api/torchvison_models/zero_search_config.yaml
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/pytorch/deepspeed/dsat/_utils.py
Owners: none

chore: lock api state for backward compatibility check
  proto/buf.image.bin
Owners: @determined-ai/backend

chore: bump version: 0.21.1-dev0 -> 0.21.1-rc0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/setup.py
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: none

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
