Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

required rule
  webui/react/src/components/JupyterLabModal.tsx
Owners: none

chore: Fix router/app circular dependency
  webui/react/src/__mocks__/router.tsx
  webui/react/src/ee/SamlAuth.ts
  webui/react/src/index.tsx
  webui/react/src/pages/InteractiveTask.test.tsx
  webui/react/src/router.tsx
  webui/react/src/shared/utils/routes.test.ts
  webui/react/src/shared/utils/routes.ts
  webui/react/src/utils/error.ts
Owners: none

fmt
  webui/react/src/components/JupyterLabModal.test.tsx
  webui/react/src/components/JupyterLabModal.tsx
  webui/react/src/components/kit/Modal.test.tsx
Owners: none

pr changes
  master/cmd/determined-master/populate_metrics.go
  master/internal/populate_metrics.go
Owners: @determined-ai/backend

array fixes, e2e_test
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_noop.py
  master/internal/experiment/bulk_action.go
Owners: @determined-ai/backend

updated API and validation metrics logic to use new protobuff message
  bindings/swagger_parser.py
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/db/bun_filters.go
  master/internal/trials/api_trials.go
  proto/pkg/apiv1/trial.pb.go
  proto/pkg/commonv1/common.pb.go
  proto/src/determined/api/v1/trial.proto
  proto/src/determined/common/v1/common.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

chore: change docs theme to sphinx-book-theme (#6323)
  docs/README.md
  docs/_templates/article-header-buttons.html
  docs/_templates/header.html
  docs/_templates/page.html
  docs/_templates/search-field.html
  docs/_templates/toggle-primary-sidebar.html
  docs/assets/scripts/docsearch.sbt.js
  docs/assets/styles/determined.css
  docs/assets/styles/docsearch.sbt.css
  docs/conf.py
  docs/index.rst
  docs/requirements.txt
Owners: @determined-ai/docs

feat: add support for loading state for the dropdown
  webui/react/src/components/kit/Select.tsx
  webui/react/src/pages/DesignKit.tsx
Owners: none

fix code formatting
  tools/scripts/refresh-ubuntu-amis.py
Owners: none

ci: skip package-and-push-system-dev for web and docs PRs (#6332)
  .circleci/config.yml
Owners: none

exp.id for move
  master/internal/experiment/bulk_action.go
Owners: @determined-ai/backend

fix: handles race on duplicate model names
  e2e_tests/tests/cluster/test_model_registry.py
  master/internal/api_model.go
Owners: @determined-ai/backend

remove all Close calls to stop race condition error
  ds_autotuning_prototype/core_api/ffn_example_ds_launcher/script.py
  ds_autotuning_prototype/core_api/ffn_example_torch_launcher/script.py
  ds_autotuning_prototype/core_api/no_op_test/autotune_config.yaml
  ds_autotuning_prototype/core_api/no_op_test/ds_config.json
  ds_autotuning_prototype/core_api/no_op_test/script.py
  ds_autotuning_prototype/core_api/torchvison_models/script.py
  ds_autotuning_prototype/trial_classes/ffn_example/autotuning.yaml
  harness/determined/pytorch/deepspeed/dsat/_defaults.py
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/pytorch/deepspeed/dsat/_utils.py
  harness/determined/pytorch/deepspeed/dsat/autotune.py
Owners: none

feat: added RBAC for DeleteModel/Version [DET-9048]
  harness/determined/common/api/bindings.py
  master/internal/api_model.go
  master/internal/mocks/authz_model_iface.go
  master/internal/model/authz_basic_impl.go
  master/internal/model/authz_iface.go
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

fix: update ubuntu ami tables (#6363)
  tools/scripts/refresh-ubuntu-amis.py
Owners: none

fixes
  webui/react/src/components/ColumnsCustomizeModal.tsx
  webui/react/src/components/JupyterLabModal.test.tsx
  webui/react/src/components/JupyterLabModal.tsx
  webui/react/src/components/WebhookCreateModal.tsx
Owners: none

fix: handles race on duplicate model names (#6364)
  e2e_tests/tests/cluster/test_model_registry.py
  master/internal/api_model.go
Owners: @determined-ai/backend

fix: handle duplicate workspace name DB errors [DET-8808] (#6361)
  e2e_tests/tests/cluster/test_workspace_org.py
  master/internal/api_workspace.go
Owners: @determined-ai/backend

feat: added RBAC for DeleteModel/Version [DET-9048] (#6339)
  harness/determined/common/api/bindings.py
  master/internal/api_model.go
  master/internal/mocks/authz_model_iface.go
  master/internal/model/authz_basic_impl.go
  master/internal/model/authz_iface.go
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

refactor metric queries
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/db/database.go
  master/internal/db/postgres_experiments.go
  master/internal/mocks/db.go
  master/internal/trials/api_trials.go
  master/internal/trials/postgres_trials.go
Owners: @determined-ai/backend

minor fixes
  master/internal/api_trials.go
  master/internal/trials/postgres_trials.go
Owners: @determined-ai/backend

docs: add a simpler proxy configs example, fix typo in proxy ports guide.
  docs/interfaces/proxy-ports.rst
  examples/features/ports_flask/README.md
  examples/features/ports_flask/hello-client.py
  examples/features/ports_flask/hello-client.yaml
  examples/features/ports_flask/hello-server.py
  examples/features/ports_flask/hello-server.yaml
  examples/features/ports_flask/startup-hook.sh
Owners: @determined-ai/docs

formatting
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/db/bun_filters.go
  master/internal/db/postgres_experiments.go
  master/internal/trials/postgres_trials.go
  proto/buf.image.bin
Owners: @determined-ai/backend

chore: backport wildcard actor lookup
  master/pkg/actor/system.go
Owners: @determined-ai/backend

convert
  webui/react/src/components/ConfigureAgentModal.tsx
  webui/react/src/components/CreateGroupModal.test.tsx
  webui/react/src/components/CreateGroupModal.tsx
  webui/react/src/components/CreateUserModal.test.tsx
  webui/react/src/components/CreateUserModal.tsx
  webui/react/src/components/DeleteGroupModal.test.tsx
  webui/react/src/components/DeleteGroupModal.tsx
  webui/react/src/components/ManageGroupsModal.tsx
  webui/react/src/components/PasswordChangeModal.tsx
  webui/react/src/components/kit/Modal.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalConfigureAgent.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalManageGroups.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalPasswordChange.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalPasswordChange.tsx
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/SettingsAccount.test.tsx
  webui/react/src/pages/Settings/SettingsAccount.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
Owners: none

Allow direct connectivity between containers
  master/internal/rm/kubernetesrm/pod.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/rendezvous.go
  master/internal/task/rendezvous_test.go
  master/pkg/aproto/master_message.go
  master/pkg/cproto/address.go
  master/pkg/model/task_container_defaults.go
  master/pkg/tasks/task.go
  webui/react/src/types.ts
Owners: @determined-ai/backend

backports RespondCheckError
  master/pkg/actor/context.go
Owners: @determined-ai/backend

update code comment
  master/pkg/actor/system.go
Owners: @determined-ai/backend

comment wording
  master/pkg/actor/system.go
Owners: @determined-ai/backend

chore: backport wildcard actor lookup (#6375)
  master/pkg/actor/context.go
  master/pkg/actor/system.go
Owners: @determined-ai/backend

More reserved labels
  harness/determined/deploy/gcp/cli.py
Owners: none

feat: propogate gcp cluster labels to dynamic agents [MLG-365] (#6297)
  harness/determined/deploy/gcp/cli.py
  harness/determined/deploy/gcp/terraform/modules/compute/main.tf
  harness/determined/deploy/gcp/terraform/outputs.tf
  harness/determined/deploy/gcp/terraform/variables.tf
  master/internal/config/provconfig/gcp_config.go
  master/internal/config/provconfig/gcp_config_test.go
  master/packaging/master.yaml
Owners: @determined-ai/backend

fix json tags
  master/pkg/cproto/address.go
  master/pkg/model/task_container_defaults.go
Owners: @determined-ai/backend

fix: set unique port reqs on trial's shallow copied task spec
  master/internal/trial.go
  master/pkg/tasks/task_trial.go
Owners: @determined-ai/backend

remove training metrics
  master/internal/api_project.go
  master/internal/db/postgres_experiments.go
  master/internal/experiment/bulk_action.go
  master/static/migrations/20230315150937_add-hyperparameters-metrics-name-view.tx.up.sql
  proto/pkg/apiv1/api.pb.go
  proto/pkg/projectv1/project.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/project/v1/project.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

revert move_experiment.sql
  master/static/srv/move_experiment.sql
Owners: @determined-ai/backend

fix: set unique port reqs on trial's shallow copied task spec (#6381)
  master/internal/trial.go
  master/pkg/tasks/task_trial.go
Owners: @determined-ai/backend

chore: replacement for sync.Map and/or maps beside mutexes with long names
  master/pkg/syncx/mapx/mapx.go
  master/pkg/syncx/mapx/mapx_test.go
Owners: @determined-ai/backend

feat: add support for loading state for the dropdown (#6371)
  webui/react/src/components/kit/Select.tsx
  webui/react/src/pages/DesignKit.tsx
Owners: none

Flesh out no op test.
  ds_autotuning_prototype/core_api/no_op_test/script.py
Owners: none

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
