Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/backend, @determined-ai/web, @determined-ai/docs, @determined-ai/ml-sys

removed extra notes
  docs/release-notes.rst
Owners: none

Apply suggestions from code review
  docs/release-notes.rst
Owners: none

ci: store npm log artifacts (#8449)
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

refer users to --help
  harness/determined/cli/trial.py
Owners: @determined-ai/ml-sys

lint
  docs/release-notes.rst
Owners: none

docs: add release notes for 0.26.4 (#8451)
  docs/release-notes.rst
  docs/release-notes/log-policies.rst
  docs/release-notes/patch_master_config_cli.rst
  docs/release-notes/python-39-bump.rst
  docs/release-notes/remote-was-able-to-login.rst
  docs/release-notes/tensorboard-delete.rst
Owners: none

chore: bump version: 0.26.4-rc4 -> 0.26.4
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Owners: @determined-ai/infrastructure, @determined-ai/ml-sys, @determined-ai/web

Add chart '0.26.4' due to release
  determined-helm-chart_0.26.4.tgz
  index.yaml
Owners: none

fix: add back pin icon in experiment list header (#8429)
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: @determined-ai/web

docs: add release notes for 0.26.4 (#8451)
  docs/release-notes.rst
  docs/release-notes/log-policies.rst
  docs/release-notes/patch_master_config_cli.rst
  docs/release-notes/python-39-bump.rst
  docs/release-notes/remote-was-able-to-login.rst
  docs/release-notes/tensorboard-delete.rst
Owners: none

chore: bump version: 0.26.4-dev0 -> 0.26.5-dev0
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Owners: @determined-ai/infrastructure, @determined-ai/ml-sys, @determined-ai/web

chore(actors): refactor agent, resource pool interactions, pt2
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/agentrm/agents.go
  master/internal/rm/agentrm/fair_share.go
  master/internal/rm/agentrm/fitting.go
  master/internal/rm/agentrm/fitting_methods.go
  master/internal/rm/agentrm/fitting_test.go
  master/internal/rm/agentrm/priority.go
  master/internal/rm/agentrm/priority_test.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/resource_pool_test.go
  master/internal/rm/agentrm/resources.go
  master/internal/rm/agentrm/round_robin.go
  master/internal/rm/agentrm/scheduler_test.go
  master/internal/rm/agentrm/summaries.go
Owners: @determined-ai/backend

chore(actors): refactor agent, resource pool interactions
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/agentrm/agents.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/resource_pool_test.go
  master/internal/rm/agentrm/scheduler_test.go
  master/internal/sproto/agent_resource_manager.go
  master/pkg/aproto/net.go
Owners: @determined-ai/backend

final self review
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager_intg_test.go
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/agentrm/agents.go
  master/internal/rm/agentrm/fitting_methods.go
  master/internal/rm/agentrm/resource_pool.go
Owners: @determined-ai/backend

ckpt, test passing
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager_intg_test.go
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/agentrm/agents.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/resource_pool_test.go
  master/internal/rm/agentrm/scheduler_test.go
  master/internal/rm/tasklist/registry.go
Owners: @determined-ai/backend

ckpt, lints, units passing
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager_intg_test.go
  master/internal/rm/agentrm/mock_test.go
  master/internal/rm/agentrm/provisioner/provisioner_test.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/resource_pool_test.go
  master/internal/rm/agentrm/scheduler_test.go
Owners: @determined-ai/backend

ckpt, TODOs addressed, ones that remain need tickets
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/agentrm/agents.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/resources.go
  master/internal/rm/agentrm/scheduler_test.go
  master/internal/rm/agentrm/sproto.go
Owners: @determined-ai/backend

ckpt, things are setup
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/provisioner/provisioner.go
  master/internal/rm/agentrm/provisioner/setup.go
  master/internal/rm/agentrm/resource_pool.go
Owners: @determined-ai/backend

ckpt
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/agentrm/agents.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/resources.go
  master/internal/rm/agentrm/sproto.go
  master/internal/rm/tasklist/registry.go
Owners: @determined-ai/backend

fix some managed devcluster tests
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/agentrm/agents.go
  master/internal/rm/agentrm/fitting.go
  master/internal/rm/agentrm/fitting_methods.go
  master/internal/rm/agentrm/fitting_test.go
  master/internal/rm/agentrm/priority.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/resource_pool_test.go
  master/internal/rm/agentrm/resources.go
  master/internal/rm/agentrm/scheduler_test.go
  master/internal/rm/agentrm/summaries.go
Owners: @determined-ai/backend

ckpt, things setup just need to fix linting
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/resource_managers_test.go
Owners: @determined-ai/backend

ckpt, lint/tests passing, gotta touch up and do todos
  master/internal/rm/agentrm/agent_resource_manager.go
Owners: @determined-ai/backend

chore(actors): remove pkg/actor usage from agentrm (#8395)
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager_intg_test.go
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/agentrm/agents.go
  master/internal/rm/agentrm/fair_share.go
  master/internal/rm/agentrm/fitting.go
  master/internal/rm/agentrm/fitting_methods.go
  master/internal/rm/agentrm/fitting_test.go
  master/internal/rm/agentrm/mock_test.go
  master/internal/rm/agentrm/priority.go
  master/internal/rm/agentrm/priority_test.go
  master/internal/rm/agentrm/provisioner/provisioner.go
  master/internal/rm/agentrm/provisioner/provisioner_test.go
  master/internal/rm/agentrm/provisioner/setup.go
  master/internal/rm/agentrm/resource_managers_test.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/resource_pool_test.go
  master/internal/rm/agentrm/resources.go
  master/internal/rm/agentrm/round_robin.go
  master/internal/rm/agentrm/scheduler_test.go
  master/internal/rm/agentrm/summaries.go
  master/internal/rm/tasklist/registry.go
  master/internal/sproto/agent_resource_manager.go
  master/pkg/aproto/net.go
Owners: @determined-ai/backend

docs: Update CentOS to AlmaLinux
  docs/setup-cluster/on-prem/requirements.rst
Owners: none

chore: use ResourcePool info for consistent capacity calculation
  webui/react/src/stores/cluster.tsx
Owners: @determined-ai/web

update conditionals, set
  webui/react/src/stores/cluster.tsx
Owners: @determined-ai/web

chore: log RestoreAllCommands error
  master/internal/command/command_service.go
Owners: @determined-ai/backend

chore: bump CI node version to 20.9.0
  .circleci/real_config.yml
  .devcontainer/devcontainer.json
Owners: @determined-ai/infrastructure

feat: add support for AWS eu-north-1
  harness/determined/deploy/aws/constants.py
Owners: @determined-ai/ml-sys

add manually-copied image to aws templates
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
Owners: @determined-ai/ml-sys

update from comments
  .github/workflows/lint-react.yml
  CONTRIBUTING.md
Owners: @determined-ai/infrastructure

chore: use ResourcePool info for consistent capacity calculation [WEB-1796] (#8447)
  webui/react/src/stores/cluster.tsx
Owners: @determined-ai/web

chore: bump CI node version to 20.9.0 (#8455)
  .circleci/real_config.yml
  .devcontainer/devcontainer.json
  .github/workflows/lint-react.yml
  CONTRIBUTING.md
Owners: @determined-ai/infrastructure

fix: Update main branch to antd 5.11
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/GalleryModal.tsx
  webui/react/src/components/ManageGroupsModal.tsx
  webui/react/src/hooks/useModal/useModal.tsx
Owners: @determined-ai/web

Fix a release note
  docs/release-notes.rst
Owners: none

more updates
  docs/get-started/architecture/introduction.rst
  docs/model-dev-guide/api-guides/apis-howto/_index.rst
  docs/model-dev-guide/model-management/_index.rst
  docs/model-dev-guide/model-management/model-registry-org.rst
  docs/model-dev-guide/prepare-container/_index.rst
  docs/reference/training/_index.rst
  docs/reference/training/api-det-reference.rst
  docs/reference/training/api-keras-reference.rst
  docs/reference/training/api-pytorch-reference.rst
  docs/setup-cluster/k8s/install-on-kubernetes.rst
  docs/tools/cli/cli-ug.rst
Owners: none

replace hard coded references with anchors
  docs/manage/workspaces.rst
  docs/model-dev-guide/api-guides/apis-howto/api-core-ug.rst
  docs/model-dev-guide/api-guides/apis-howto/api-keras-ug.rst
  docs/model-dev-guide/api-guides/apis-howto/deepspeed/_index.rst
  docs/model-dev-guide/model-management/_index.rst
Owners: none

fixes
  master/internal/command/command.go
  master/internal/command/command_service.go
Owners: @determined-ai/backend

restoring
  master/internal/command/command.go
Owners: @determined-ai/backend

returning
  master/internal/command/command_service.go
Owners: @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github        @determined-ai/infrastructure
/master         @determined-ai/backend
/agent          @determined-ai/backend
/proto          @determined-ai/backend
/performance    @determined-ai/web

# CI is a mix
/.circleci            @determined-ai/infrastructure
/.circleci/devcluster @determined-ai/backend
/.circleci/packaging  @determined-ai/backend

# anyone can approve docs, except for specific files
/docs
/docs/index.rst     @determined-ai/docs
/docs/**/index.rst  @determined-ai/docs

# Harness is mapped to ml-sys by default, except for `cli`, `deploy`,
# and auto-generated bindings and version files.
/harness  @determined-ai/ml-sys
/harness/determined/common/api/bindings.py
/harness/determined/__version__.py

/schemas                          @determined-ai/ml-sys
/bindings/generate_bindings_py.py @determined-ai/ml-sys
/e2e_tests/tests/*.py             @determined-ai/ml-sys
/e2e_tests/tests/requirements.txt @determined-ai/ml-sys
/e2e_tests/tests/experiment       @determined-ai/ml-sys
/e2e_tests/tests/nightly          @determined-ai/ml-sys

# Backend owns some e2e tests.
/e2e_tests/tests/cluster  @determined-ai/backend
/e2e_tests/tests/command  @determined-ai/backend
/e2e_tests/tests/template @determined-ai/backend

# Owned by @determined-ai/web except for generated files
/webui    @determined-ai/web
/webui/react/src/services/api-ts-sdk/
