Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

add component to logging
  master/internal/rm/agentrm/provisioner/provisioner.go
Owners: @determined-ai/backend

fix: workspace mapping workspace names handlers (#7411)
  master/internal/api_resourcepool.go
  master/internal/workspace/postgres_workspace.go
Owners: @determined-ai/backend

Rearrange agentrm into small packages
  master/internal/rm/agentrm/provisioner/agentsetup/agent_setup.go
  master/internal/rm/agentrm/provisioner/agentsetup/agent_setup_test.go
  master/internal/rm/agentrm/provisioner/aws/aws.go
  master/internal/rm/agentrm/provisioner/aws/aws_spot.go
  master/internal/rm/agentrm/provisioner/aws/aws_spot_collections.go
  master/internal/rm/agentrm/provisioner/aws/aws_spot_legacy.go
  master/internal/rm/agentrm/provisioner/gcp/gcp.go
  master/internal/rm/agentrm/provisioner/gcp/gcp_operation_tracker.go
  master/internal/rm/agentrm/provisioner/provisioner.go
  master/internal/rm/agentrm/provisioner/provisioner_test.go
  master/internal/rm/agentrm/provisioner/scaledecider/scale_decider.go
  master/internal/rm/agentrm/provisioner/scaledecider/scale_decider_test.go
Owners: @determined-ai/backend

Remove aws_spot_legacy
  master/internal/rm/agentrm/provisioner/aws/aws_spot_legacy.go
Owners: @determined-ai/backend

Set reschedule to false for agentrm read-only resource pool ops
  master/internal/rm/agentrm/resource_pool.go
Owners: @determined-ai/backend

chore: bump version: 0.23.3-rc2 -> 0.23.3
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: @determined-ai/docs

Add chart '0.23.3' due to release
  determined-helm-chart_0.23.3.tgz
  index.yaml
Owners: none

secure bindings with RBAC
  master/internal/api_workspace.go
Owners: @determined-ai/backend

fix test
  master/internal/rm/agentrm/provisioner/agentsetup/agent_setup_test.go
Owners: @determined-ai/backend

WIP
  harness/determined/cli/workspace.py
  master/internal/api_workspace.go
  master/pkg/model/workspace.go
  master/static/srv/get_workspace.sql
  master/static/srv/get_workspaces.sql
Owners: @determined-ai/backend

docs: add release notes for 0.23.3 (#7413)
  docs/release-notes.rst
  docs/release-notes/6735-add-tls-to-notebooks.rst
  docs/release-notes/7278-remove-log-option.rst
  docs/release-notes/removed_config_endpoint.rst
Owners: @determined-ai/docs

chore: bump version: 0.23.3-dev0 -> 0.23.4-dev0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: @determined-ai/docs

update default search space
  harness/determined/pytorch/dsat/_defaults.py
  harness/determined/pytorch/dsat/_utils.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

start bin searches at approx max mbs
  harness/determined/pytorch/dsat/_dsat_search_method.py
Owners: none

LEFT JOIN to join
  master/static/migrations/20230718141429_migrate-checkpointv1.tx.up.sql
Owners: @determined-ai/backend

chore: skip process auth admin check if rbac is enable
  harness/determined/common/api/bindings.py
  master/internal/config/authz_config.go
  master/internal/user/service.go
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

ci: make CASPER_TOKEN optional in `track-pr` script (#7379)
  tools/scripts/track-pr
Owners: none

auto-extend binary search range for asha/bs
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

chore: skip process auth admin check if rbac is enable (#7400)
  harness/determined/common/api/bindings.py
  master/internal/config/authz_config.go
  master/internal/user/service.go
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

ci: warn about PRs that are from forks but by users with write access
  .github/workflows/notify-fork-prs.yml
Owners: @determined-ai/infrastructure

pr comments
  harness/determined/common/util.py
  harness/tests/determined/common/experimental/test_trial.py
  harness/tests/fixtures/api_responses.py
Owners: none

chore: k8s pod & node informer refactor
  master/internal/mocks/node_interface.go
  master/internal/mocks/pod_interface.go
  master/internal/rm/kubernetesrm/events.go
  master/internal/rm/kubernetesrm/informer.go
  master/internal/rm/kubernetesrm/informer_intg_test.go
  master/internal/rm/kubernetesrm/nodes.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/preemptions.go
Owners: @determined-ai/backend

perf: migrate checkpoint v1 into v2 table (#7325)
  master/internal/api_checkpoint.go
  master/internal/api_checkpoint_intg_test.go
  master/internal/api_experiment.go
  master/internal/db/postgres_checkpoints.go
  master/internal/db/postgres_checkpoints_intg_test.go
  master/internal/db/postgres_experiments.go
  master/pkg/model/experiment.go
  master/static/migrations/20230718141429_migrate-checkpointv1.tx.down.sql
  master/static/migrations/20230718141429_migrate-checkpointv1.tx.up.sql
  master/static/srv/get_model_versions.sql
  master/static/srv/get_raw_allocation.sql
  master/static/srv/proto_get_trials_plus.sql
  master/static/srv/update_checkpoint_metadata.sql
Owners: @determined-ai/backend

ci: warn about PRs that are from forks but by users with write access (#7380)
  .github/workflows/notify-fork-prs.yml
Owners: @determined-ai/infrastructure

fix lineage_completed_rung condition and new test
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

trivial rename
  harness/determined/pytorch/dsat/_utils.py
Owners: none

feat: fill out SDK trial logs functionality [MLG-669] (#7369)
  harness/determined/common/api/logs.py
  harness/determined/common/experimental/trial.py
  harness/determined/common/util.py
  harness/tests/determined/common/experimental/test_trial.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/trial_logs.json
Owners: none

remove random stage3 stop condition and tests
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

add contiguous gradients to stage-3 space
  harness/determined/pytorch/dsat/_defaults.py
Owners: none

fix: change chart grid height, to scroll to lower rows
  webui/react/src/components/kit/LineChart.tsx
Owners: none

fix issue with completed trials showing up as loading data
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
Owners: none

trim back metricHasData
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Owners: none

rebase
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Owners: none

docs: update rbac limitation docs
  docs/setup-cluster/security/rbac.rst
Owners: @determined-ai/docs

fix: show loading state when applicable for comparison view tabs
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.tsx
  webui/react/src/pages/F_ExpList/ComparisonView.tsx
Owners: none

fix: use native ChartGrid handling of loables and add NotLoaded behavior to compareMetrics view
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
Owners: none

fix: correct loading state for experiment visualizations
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
Owners: none

docs: remove RBAC limitations section (#7415)
  docs/setup-cluster/security/rbac.rst
Owners: @determined-ai/docs

address PR comments
  webui/react/src/components/JupyterLabButton.tsx
  webui/react/src/components/JupyterLabGlobal.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/Settings.module.scss
  webui/react/src/components/Settings.test.tsx
  webui/react/src/components/Settings.tsx
  webui/react/src/omnibar/Omnibar.tsx
  webui/react/src/pages/Admin/GroupManagement.module.scss
  webui/react/src/pages/Admin/GroupManagement.settings.ts
  webui/react/src/pages/Admin/GroupManagement.tsx
  webui/react/src/pages/Admin/UserManagement.module.scss
  webui/react/src/pages/Admin/UserManagement.settings.ts
  webui/react/src/pages/Admin/UserManagement.test.tsx
  webui/react/src/pages/Admin/UserManagement.tsx
  webui/react/src/pages/Admin/UserSettings.settings.ts
  webui/react/src/pages/Admin/index.tsx
  webui/react/src/pages/F_ExpList/glide-table/RowHeightMenu.tsx
Owners: none

add columns to display default pools
  harness/determined/cli/workspace.py
Owners: none
