Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

initialize with values
  webui/react/src/components/kit/LogViewer/LogViewerSelect.tsx
Owners: none

ci: fix bug in docs makefile
  docs/Makefile
Owners: @determined-ai/docs

fix
  webui/react/src/components/kit/LogViewer/LogViewerSelect.tsx
Owners: none

feat: hf trainer examples (#6687)
  ds_autotuning_prototype/core_api/ffn_example_ds_launcher/deepspeed.yaml
  ds_autotuning_prototype/core_api/ffn_example_torch_launcher/deepspeed.yaml
  ds_autotuning_prototype/core_api/no_op_test/deepspeed.yaml
  ds_autotuning_prototype/core_api/torchvison_models/deepspeed.yaml
  ds_autotuning_prototype/hf_trainer_api/README.md
  ds_autotuning_prototype/hf_trainer_api/det_callback.py
  ds_autotuning_prototype/hf_trainer_api/image_classification/adaptive.yaml
  ds_autotuning_prototype/hf_trainer_api/image_classification/const.yaml
  ds_autotuning_prototype/hf_trainer_api/image_classification/const_epochs.yaml
  ds_autotuning_prototype/hf_trainer_api/image_classification/deepspeed.yaml
  ds_autotuning_prototype/hf_trainer_api/image_classification/distributed.yaml
  ds_autotuning_prototype/hf_trainer_api/image_classification/ds_configs/ds_config_stage_1.json
  ds_autotuning_prototype/hf_trainer_api/image_classification/ds_configs/ds_config_stage_2.json
  ds_autotuning_prototype/hf_trainer_api/image_classification/ds_configs/ds_config_stage_2_cpu_offload.json
  ds_autotuning_prototype/hf_trainer_api/image_classification/ds_configs/ds_config_stage_3.json
  ds_autotuning_prototype/hf_trainer_api/image_classification/image_classification.py
  ds_autotuning_prototype/hf_trainer_api/image_classification/requirements.txt
  ds_autotuning_prototype/hf_trainer_api/image_classification/startup-hook.sh
  ds_autotuning_prototype/hf_trainer_api/language-modeling/adaptive.yaml
  ds_autotuning_prototype/hf_trainer_api/language-modeling/const.yaml
  ds_autotuning_prototype/hf_trainer_api/language-modeling/const_epochs.yaml
  ds_autotuning_prototype/hf_trainer_api/language-modeling/deepspeed.yaml
  ds_autotuning_prototype/hf_trainer_api/language-modeling/distributed.yaml
  ds_autotuning_prototype/hf_trainer_api/language-modeling/ds_configs/ds_config_stage_1.json
  ds_autotuning_prototype/hf_trainer_api/language-modeling/ds_configs/ds_config_stage_2.json
  ds_autotuning_prototype/hf_trainer_api/language-modeling/ds_configs/ds_config_stage_2_cpu_offload.json
  ds_autotuning_prototype/hf_trainer_api/language-modeling/ds_configs/ds_config_stage_3.json
  ds_autotuning_prototype/hf_trainer_api/language-modeling/requirements.txt
  ds_autotuning_prototype/hf_trainer_api/language-modeling/run_clm.py
  ds_autotuning_prototype/hf_trainer_api/language-modeling/startup-hook.sh
  ds_autotuning_prototype/other_tests/double_report_recovery/config.yaml
  ds_autotuning_prototype/other_tests/double_report_recovery/main.py
  ds_autotuning_prototype/trial_classes/torchvison_models/deepspeed.yaml
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
  harness/determined/pytorch/deepspeed/dsat/__main__.py
  harness/determined/pytorch/deepspeed/dsat/_defaults.py
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/pytorch/deepspeed/dsat/_utils.py
Owners: none

refactor to switch statements
  master/internal/experiment_filter.go
Owners: @determined-ai/backend

ci: fix bug in docs makefile (#6689)
  docs/Makefile
Owners: @determined-ai/docs

docs: Help users find exp conf ref
  docs/index.rst
Owners: @determined-ai/docs

chore: replace querystring and query-string with URLSearchParams (#6670)
  bindings/generate_bindings_ts.py
  tools/scripts/licenses/query-string
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/ee/SamlAuth.test.ts
  webui/react/src/ee/SamlAuth.ts
  webui/react/src/hooks/useAuthCheck.ts
  webui/react/src/hooks/useFeature.ts
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/hooks/useSettings.ts
  webui/react/src/pages/InteractiveTask.test.tsx
  webui/react/src/pages/InteractiveTask.tsx
  webui/react/src/pages/Reload.tsx
  webui/react/src/pages/SignIn.tsx
  webui/react/src/pages/TaskLogs.tsx
  webui/react/src/pages/Wait.tsx
  webui/react/src/routes/utils.ts
  webui/react/src/services/api-ts-sdk/api.ts
Owners: none

formatting
  master/internal/api_experiment_intg_test.go
  master/internal/experiment_filter.go
Owners: @determined-ai/backend

fix: close context menu after click for new experiment list table (#6632)
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/glide-table/contextMenu.tsx
Owners: none

clean up html
  webui/react/src/designkit-standalone/index.html
Owners: none

move to /design/
  webui/react/design/index.html
  webui/react/design/index.tsx
  webui/react/src/routes/routes.ts
Owners: none

redirect from /design to /design/
  webui/react/vite.config.ts
Owners: none

Chore: Introduce local-only designkit route
  webui/react/src/components/ThemeProvider.tsx
  webui/react/src/designkit-standalone/index.html
  webui/react/src/designkit-standalone/index.tsx
  webui/react/src/pages/DesignKit.tsx
Owners: none

fix dev server redirects for public url/output design bundle
  webui/react/vite.config.ts
Owners: none

add confirmation provider to designkit standalone
  webui/react/design/index.tsx
Owners: none

add design route to go server
  master/internal/core.go
Owners: @determined-ai/backend

remove designkit from routes map
  webui/react/src/routes/index.tsx
Owners: none

fix some gpu amp unit tests
  harness/tests/experiment/fixtures/pytorch_onevar_model.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

linting
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

fix devserver redirect when public url is set
  webui/react/vite.config.ts
Owners: none

Changed 'model.TaskContainerDefaultsConfig{}' to 'config.GetMasterConfig().TaskContainerDefaults' to pull in the root task_container_defaults from master.yaml
  master/internal/checkpoint_gc.go
Owners: @determined-ai/backend

fix test
  webui/react/src/components/kit/LogViewer/LogViewerSelect.test.tsx
Owners: none

chore: Remove portable fetch fix
  webui/react/vite.config.ts
Owners: none

combine text and date logic
  master/internal/api_experiment_intg_test.go
  master/internal/experiment_filter.go
Owners: @determined-ai/backend

undo unwanted updates
  docs/Makefile
  harness/determined/cli/sso.py
  harness/determined/common/api/bindings.py
  master/internal/trials/postgres_trials.go
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/ee/SamlAuth.test.ts
  webui/react/src/ee/SamlAuth.ts
  webui/react/src/hooks/useAuthCheck.ts
  webui/react/src/hooks/useFeature.ts
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/hooks/useSettings.ts
  webui/react/src/pages/InteractiveTask.test.tsx
  webui/react/src/pages/InteractiveTask.tsx
  webui/react/src/pages/Reload.tsx
  webui/react/src/pages/SignIn.tsx
  webui/react/src/pages/TaskLogs.tsx
  webui/react/src/pages/Wait.tsx
  webui/react/src/routes/utils.ts
Owners: @determined-ai/docs, @determined-ai/backend

more updates
  bindings/generate_bindings_ts.py
  master/internal/api_trials_intg_test.go
Owners: @determined-ai/backend

remove extraneous file
  tools/scripts/licenses/query-string
Owners: none

restore experiment api updates
  master/internal/api_experiment.go
Owners: @determined-ai/backend

restore test
  master/internal/api_experiment_intg_test.go
Owners: @determined-ai/backend

update bindings
  harness/determined/common/api/bindings.py
  webui/react/src/services/api-ts-sdk/api.ts
Owners: none

check for workspace archive status at api level
  master/internal/api_templates.go
Owners: @determined-ai/backend

Update bumpenvs.yaml
  tools/scripts/bumpenvs.yaml
Owners: none

Refresh Ubuntu AMIs in bumpenvs.yaml
  tools/scripts/bumpenvs.yaml
Owners: none

Bump environments (hold back gbt_titanic_estimator)
  .circleci/config.yml
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/singularity.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
  e2e_tests/tests/config.py
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_3_cpu_offload.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_no_offload.yaml
  examples/deepspeed/cifar10_moe/moe.yaml
  examples/deepspeed/cifar10_moe/zero_stages.yaml
  examples/deepspeed/deepspeed_dcgan/cifar10_zero2.yaml
  examples/deepspeed/deepspeed_dcgan/mnist.yaml
  examples/deepspeed/deepspeed_dcgan/mnist_grad_accum.yaml
  examples/deepspeed/gpt_neox/Dockerfile
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  examples/graphs/proteins_pytorch_geometric/adaptive.yaml
  examples/graphs/proteins_pytorch_geometric/const.yaml
  examples/graphs/proteins_pytorch_geometric/distributed.yaml
  examples/integrations/hf_trainer_api/deepspeed.yaml
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-estimator/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  helm/charts/determined/templates/master-config.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
Owners: @determined-ai/docs, @determined-ai/backend

fix missing workspace_id in get tpls
  master/static/srv/get_templates.sql
Owners: @determined-ai/backend

add workspace name to tpl list
  harness/determined/cli/template.py
Owners: none

make mypy type check happy
  harness/determined/cli/resources.py
  harness/determined/cli/tensorboard.py
Owners: none

rename subs to ArgsDescription
  harness/determined/cli/cli.py
  harness/determined/cli/resources.py
  harness/determined/cli/tensorboard.py
  harness/determined/cli/trial.py
  harness/determined/common/declarative_argparse.py
  harness/determined/deploy/cli.py
Owners: none

chore: release note on breaking TF changes to Keras optimizers
  docs/release-notes/legacy-optimizers.rst
Owners: @determined-ai/docs
