Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @ioga, @hamidzr, @trentwatt

fix: revert api.ts
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.table.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
Owners: none

test: disable flaky test for now (#4530)
  webui/react/src/components/Metadata/EditableMetadata.test.tsx
Owners: none

fix: change `short ID` width (#4537)
  webui/react/src/pages/TaskList.settings.ts
Owners: none

ci: add unit test for downstream
  .circleci/config.yml
Owners: none

fix
  .circleci/config.yml
Owners: none

fix indentation
  .circleci/config.yml
Owners: none

chore: break shared
  webui/react/src/shared/utils/array.ts
Owners: @hamidzr, @trentwatt

Moved user group code into master/internal/usergroup
  master/internal/db/database.go
  master/internal/db/postgres.go
  master/internal/db/postgres_users.go
  master/internal/usergroup/group_intg_test.go
  master/internal/usergroup/postgres_groups.go
  master/internal/usergroup/user_group.go
  master/pkg/model/user_group.go
Owners: none

chore: temporary-disable-dependabumps
  .github/dependabot.yml
Owners: @determined-ai/infrastructure

fix: rename lable `restarts` to `auto restarts` (#4536)
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.settings.ts
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.table.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.stories.tsx
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.stories.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/storybook/shared/generateTestExperiments.ts
  webui/react/src/types.ts
Owners: none

chore: temporary-disable-dependabumps (#4541)
  .github/dependabot.yml
Owners: @determined-ai/infrastructure

fix: scroll bar overlap
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.module.scss
Owners: none

fix: tensorboard redirecting due to missing rp
  master/internal/resourcemanagers/kubernetes_resource_manager.go
Owners: @ioga

chore: agent sends log level with agent added container logs (#4532)
  agent/internal/container.go
  agent/internal/docker.go
  master/internal/resourcemanagers/agent/agent.go
  master/pkg/aproto/master_message.go
Owners: @ioga

feat: use skeleton component for rendering the table while fetching data (#4462)
  webui/react/src/components/InteractiveTable.tsx
  webui/react/src/components/ResponsiveTable.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHyperparameters.tsx
Owners: none

fix: scroll bar overlap (#4538)
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.module.scss
Owners: none

masterInfo plugin
  master/internal/core.go
  master/internal/sso/sso.go
Owners: none

masterInfo plugin fix
  master/internal/core.go
  master/internal/sso/sso.go
Owners: none

RegisterApiHandler plugin
  master/internal/core.go
  master/internal/sso/sso.go
Owners: none

chore: use new theme vars
  webui/react/src/omnibar/Omnibar.module.scss
  webui/react/src/omnibar/tree-extension/TreeNode.module.scss
Owners: none

fix: increase time to wait for command in priority scheduler test
  e2e_tests/tests/cluster/test_priority_scheduler.py
Owners: none

fix: tensorboard redirecting due to missing rp (#4542)
  master/internal/resourcemanagers/kubernetes_resource_manager.go
Owners: @ioga

fix: tensorboard redirecting due to missing rp (#4542)
  master/internal/resourcemanagers/kubernetes_resource_manager.go
Owners: @ioga

chore: bump version: 0.18.4-rc0 -> 0.18.4-rc1
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/setup.py
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/aws/templates/vpc.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/craco.config.js
Owners: none

request delete
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.module.scss
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.tsx
  webui/react/src/services/utils.ts
Owners: none

commit
  web
Owners: none

chore: update omnibar with new theme variables (#4528)
  webui/react/src/omnibar/Omnibar.module.scss
  webui/react/src/omnibar/tree-extension/TreeNode.module.scss
Owners: none

fix words
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.tsx
Owners: none

feat: update allocation bar legend logic [DET-7683] (#4510)
  web
  webui/react/src/components/SlotAllocationBar.tsx
Owners: none

fix: polish cluster page UI [DET-7682] (#4508)
  webui/react/src/components/ResourcePoolCardLight.module.scss
  webui/react/src/pages/Clusters.module.scss
Owners: none

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# Notify eng-infra team of .github changes
/.github  @determined-ai/infrastructure

# Ilia cares about agent RM.
/master/internal/resourcemanagers/ @ioga
/master/internal/sproto/ @ioga
/proto/src/determined/ @ioga
/agent/ @ioga

# Hamid and Trent care about shared code
/webui/react/src/shared/ @hamidzr @trentwatt
