Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

Minor CI fix
  examples/computer_vision/cifar10_tf_keras/model_def.py
Owners: none

Remove broken import
  examples/computer_vision/cifar10_tf_keras/model_def.py
Owners: none

Preferences
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/RowHeightMenu.tsx
  webui/react/src/pages/Settings/SettingsAccount.tsx
Owners: none

chore: add metadatd fields to docs
  docs/index.rst
Owners: @determined-ai/docs

rename MetricName.type to group
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/pkg/model/metrics.go
  master/pkg/model/metrics_test.go
  proto/buf.image.bin
  proto/pkg/metricv1/metric.pb.go
  proto/src/determined/metric/v1/metric.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

fix: rbac filter on columns API
  master/internal/api_project.go
Owners: @determined-ai/backend

rename MetricName to MetricIdentifier
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/pkg/model/metrics.go
  proto/buf.image.bin
  proto/pkg/apiv1/experiment.pb.go
  proto/pkg/metricv1/metric.pb.go
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/metric/v1/metric.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

fix: new exp detail crash [WEB-1444] (#7382)
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
Owners: none

Pull out common props
  webui/react/src/components/kit/Icon.test.tsx
  webui/react/src/components/kit/Icon.tsx
Owners: none

omnibar fix
  webui/react/src/App.tsx
Owners: none

userSettings store with Loadable.match
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/Settings/SettingsAccount.tsx
  webui/react/src/pages/Settings/UserSettings.settings.ts
Owners: none

refactor
  webui/react/src/components/kit/InlineForm.module.scss
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/Settings/SettingsAccount.tsx
  webui/react/src/pages/Settings/UserSettings.settings.ts
Owners: none

chore: Workspace as an object in the SDK.
  harness/determined/common/experimental/workspace.py
Owners: none

chore: agent provisioner refactor
  master/internal/rm/agentrm/provisioner/aws.go
  master/internal/rm/agentrm/provisioner/aws_spot.go
  master/internal/rm/agentrm/provisioner/aws_spot_legacy.go
  master/internal/rm/agentrm/provisioner/gcp.go
  master/internal/rm/agentrm/provisioner/provisioner.go
  master/internal/rm/agentrm/provisioner/provisioner_test.go
  master/internal/rm/agentrm/provisioner/scale_decider.go
  master/internal/rm/agentrm/provisioner/setup.go
  master/internal/rm/agentrm/resource_pool.go
Owners: @determined-ai/backend

description cleanup
  master/internal/rm/agentrm/provisioner/provisioner.go
Owners: @determined-ai/backend

mutex for scale decider
  master/internal/rm/agentrm/provisioner/provisioner.go
  master/internal/rm/agentrm/provisioner/scale_decider.go
  master/internal/rm/agentrm/provisioner/scale_decider_test.go
Owners: @determined-ai/backend

cleanup, lock on provisioner interface
  master/internal/rm/agentrm/provisioner/aws.go
  master/internal/rm/agentrm/provisioner/aws_spot.go
  master/internal/rm/agentrm/provisioner/aws_spot_legacy.go
  master/internal/rm/agentrm/provisioner/gcp.go
  master/internal/rm/agentrm/provisioner/provisioner.go
  master/internal/rm/agentrm/provisioner/provisioner_test.go
Owners: @determined-ai/backend

fix: add condition by default in filter (#7362)
  webui/react/src/components/FilterForm/TableFilter.tsx
Owners: none

change API to include workspace name
  proto/buf.image.bin
  proto/pkg/apiv1/resourcepool.pb.go
  proto/src/determined/api/v1/resourcepool.proto
Owners: @determined-ai/backend

modify handler to handle empty IDs
  master/internal/db/postgres_rp_workspace_bindings.go
Owners: @determined-ai/backend

chore: rename metric type concept to metric group (#7353)
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
  master/internal/trials/postgres_trials.go
  master/pkg/model/experiment.go
  master/pkg/model/metrics.go
  master/pkg/model/metrics_test.go
  master/pkg/protoutils/protoconverter/converter.go
  proto/buf.image.bin
  proto/pkg/apiv1/experiment.pb.go
  proto/pkg/apiv1/trial.pb.go
  proto/pkg/metricv1/metric.pb.go
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/api/v1/trial.proto
  proto/src/determined/metric/v1/metric.proto
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpHeatMaps.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpScatterPlots.tsx
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

fmt
  proto/buf.image.bin
  proto/pkg/apiv1/resourcepool.pb.go
  proto/src/determined/api/v1/resourcepool.proto
Owners: @determined-ai/backend

chore: upgrade flake8
  requirements.txt
Owners: none

Workspace constructor always populates ID
  harness/determined/common/experimental/workspace.py
Owners: none

cap upper version bound
  requirements.txt
Owners: none

cap upper version bound
  requirements.txt
Owners: none

fix: memoize settings in model detail
  webui/react/src/pages/ModelDetails.tsx
Owners: none

Docstring for __init__
  harness/determined/common/experimental/workspace.py
Owners: none

Fixing Class docstring.
  harness/determined/common/experimental/workspace.py
Owners: none

Fix logic in __init__
  harness/determined/common/experimental/workspace.py
Owners: none

fix: memoize settings in experiment detail
  webui/react/src/pages/ExperimentDetails/ExperimentMultiTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
Owners: none

go to flake8 6.0.0
  .pre-commit-config.yaml
  requirements.txt
Owners: none

fix tests for internal.trial
  master/internal/api_trials.go
  master/internal/trial.go
  master/internal/trial_test.go
Owners: @determined-ai/backend

fmt
  master/internal/task/allocation.go
  master/internal/task/allocation_service.go
Owners: @determined-ai/backend

various test fixes
  master/internal/rm/agentrm/mock_test.go
  master/internal/rm/agentrm/priority.go
  master/internal/rm/agentrm/resource_pool_test.go
  master/internal/rm/agentrm/scheduler_test.go
Owners: @determined-ai/backend

resurrect GetContainerResourcesState, etc
  master/internal/command/command.go
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/mock_test.go
  master/internal/rm/rmevents/rmevents.go
  master/internal/rm/rmevents/service.go
  master/internal/sproto/task.go
  master/internal/sproto/task_actor.go
  master/internal/task/allgather.go
  master/internal/task/allocation_service.go
  master/internal/task/allocationservice/allocationservice.go
  master/internal/task/idle/watcher_test.go
  master/internal/task/tproto/tproto.go
Owners: @determined-ai/backend

fix tests for package task
  master/internal/task/allocation_intg_test.go
  master/internal/task/rendezvous.go
  master/internal/task/rendezvous_test.go
Owners: @determined-ai/backend

add fill out allocation service
  master/internal/api_tasks.go
  master/internal/api_trials.go
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/core.go
  master/internal/task/allgather.go
  master/internal/task/allocation.go
  master/internal/task/allocation_map.go
  master/internal/task/allocation_service.go
  master/internal/trial.go
Owners: @determined-ai/backend

linting
  master/internal/api_trials.go
  master/internal/task/allocation.go
  master/internal/task/allocation_service.go
Owners: @determined-ai/backend

tmp
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
Owners: @determined-ai/backend
