Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

chore: moved ObfuscateJob to authz package
  master/internal/api_job.go
  master/internal/authz/obfuscate.go
Owners: @determined-ai/backend

feat: added rbac for agent endpoints [DET-9211]
  master/internal/api_agents.go
  master/internal/authz/obfuscate.go
  master/internal/cluster/authz_basic_impl.go
  master/internal/cluster/authz_iface.go
Owners: @determined-ai/backend

fix cloneElement issue
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/kit/Button.tsx
  webui/react/src/components/kit/Dropdown.tsx
  webui/react/src/pages/DesignKit.tsx
Owners: none

refactor: change page index to start with 0 for both table view modes
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

feat: added rbac for agent endpoints [DET-9211] (#6991)
  master/internal/api_agents.go
  master/internal/api_job.go
  master/internal/authz/obfuscate.go
  master/internal/cluster/authz_basic_impl.go
  master/internal/cluster/authz_iface.go
Owners: @determined-ai/backend

fix: ensure initial page index is preserved by query param
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

fix: remove post experiments and refactor
  master/internal/api_experiment.go
  master/internal/core_experiment.go
  master/internal/core_experiment_intg_test.go
Owners: @determined-ai/backend

fix
  master/internal/api_experiment.go
Owners: @determined-ai/backend

check errporjectnotfound
  master/internal/api_experiment.go
Owners: @determined-ai/backend

fix intg test
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/core_experiment.go
Owners: @determined-ai/backend

code review pairing
  master/internal/api_experiment.go
Owners: @determined-ai/backend

perm error, fix tests
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
Owners: @determined-ai/backend

pointers
  master/internal/api_experiment.go
Owners: @determined-ai/backend

rebase
  master/internal/api_experiment.go
  master/internal/core_experiment.go
Owners: @determined-ai/backend

rebase
  master/internal/api_experiment.go
  master/internal/core_experiment_intg_test.go
Owners: @determined-ai/backend

fix: unexpected icon movement in admin page (#7099)
  webui/react/src/components/CreateUserModal.tsx
Owners: none

fix: master config, overwrite intg test, remove invalid intg test (#7089)
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Owners: @determined-ai/backend

constants
  webui/react/src/constants/colors.ts
  webui/react/src/utils/color.test.ts
  webui/react/src/utils/color.ts
Owners: none

styles
  webui/react/src/router.tsx
  webui/react/src/styles/antd.scss
  webui/react/src/styles/fonts.scss
  webui/react/src/styles/global.scss
  webui/react/src/styles/icons.scss
  webui/react/src/styles/index.scss
  webui/react/vite.config.ts
Owners: none

tests
  webui/react/src/fixtures/old-trial-config-response.json
  webui/react/src/utils/data.test.ts
Owners: none

chore: add deprecation warning for `determined.common.experimental`
  harness/determined/cli/checkpoint.py
  harness/determined/cli/model.py
  harness/determined/cli/trial.py
  harness/determined/cli/user_groups.py
  harness/determined/experimental/__init__.py
  harness/tests/test_deprecation.py
Owners: none

themes and prototypes utils
  webui/react/src/components/Avatar/Avatar.test.tsx
  webui/react/src/components/Avatar/Avatar.tsx
  webui/react/src/components/AvatarCard/AvatarCard.test.tsx
  webui/react/src/components/Badge.tsx
  webui/react/src/components/DynamicIcon.tsx
  webui/react/src/components/Image/Image.test.tsx
  webui/react/src/components/Image/Image.tsx
  webui/react/src/components/Logo.tsx
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/components/ThemeProvider.tsx
  webui/react/src/components/ThemeToggle.test.tsx
  webui/react/src/components/ThemeToggle.tsx
  webui/react/src/components/UPlot/UPlotChart.tsx
  webui/react/src/hooks/useTheme.settings.ts
  webui/react/src/index.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/experimentStateCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/loadingCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/exceptions.tsx
  webui/react/src/pages/F_ExpList/glide-table/utils.ts
  webui/react/src/setupTests.ts
  webui/react/src/stores/contexts/UI.tsx
  webui/react/src/themes.ts
  webui/react/src/utils/chart.ts
  webui/react/src/utils/prototypes.test.ts
  webui/react/src/utils/prototypes.ts
  webui/react/src/utils/themes.test.ts
  webui/react/src/utils/themes.ts
Owners: none

remove with statement
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

docs: provide user docs for manage-enroot-cache
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/deploy-cluster/slurm/slurm-requirements.rst
Owners: @determined-ai/docs

make settings project specific
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.settings.ts
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.tsx
  webui/react/src/pages/F_ExpList/ComparisonView.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

tests: kill exps before workspace deletion
  e2e_tests/tests/cluster/test_workspace_org.py
  master/internal/api_experiment.go
Owners: @determined-ai/backend

feat: Experiment List comparison view should show hyperparameters chart [WEB-991] (#7084)
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.settings.ts
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.tsx
  webui/react/src/pages/F_ExpList/ComparisonView.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/HpParallelCoordinates.module.scss
  webui/react/src/types.ts
Owners: none

separate train_and_checkpoint into 2 functions, remove __enter__/__exit__ call.
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

test: kill child experiments before workspace deletion (#7075)
  e2e_tests/tests/cluster/test_workspace_org.py
  master/internal/api_experiment.go
Owners: @determined-ai/backend

move distributed_context init
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

docs: provide user docs for manage-enroot-cache (#7108)
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/deploy-cluster/slurm/slurm-requirements.rst
Owners: @determined-ai/docs

fix: change to not rely on shared_fs
  examples/deepspeed/gpt_neox/gpt_neox_config/determined_cluster.yml
  examples/deepspeed/gpt_neox/startup-hook.sh
Owners: none

separate trial runs and update cifar10 example
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

configs
  codecov.yml
  webui/react/.eslintrc.js
  webui/react/.prettierrc.js
  webui/react/.stylelintrc.js
  webui/react/src/shared/configs/.prettierrc.js
  webui/react/src/shared/configs/.stylelintrc.js
  webui/react/src/shared/configs/eslintrc.js
  webui/react/src/shared/configs/tsconfig.json
  webui/react/tsconfig.json
  webui/react/vite-plugin-csp.ts
  webui/react/vite.config.ts
Owners: none

reset decorators and change start method to fork
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

use spawn method
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

cleanup
  .github/labeler.yml
  webui/react/Makefile
  webui/react/scripts/push-sw-branch.sh
  webui/react/src/shared/.circleci/config.yml
  webui/react/src/shared/.github/pull_request_template.md
  webui/react/src/shared/.gitignore
  webui/react/src/shared/LICENSE
  webui/react/src/shared/Makefile
  webui/react/src/shared/README.md
  webui/react/src/shared/bin/test.py
Owners: @determined-ai/infrastructure

fix: tr rendering bug (#7077)
  webui/react/src/components/kit/Button.tsx
  webui/react/src/components/kit/Dropdown.tsx
  webui/react/src/pages/DesignKit.tsx
Owners: none

update merged files
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.tsx
  webui/react/src/pages/F_ExpList/ComparisonView.tsx
Owners: none

fix: correct infinite scrolling behavior (#7096)
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
