Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @stoksc, @maxrussell, @determined-ai/scalability, @determined-ai/backend, @determined-ai/docs, @determined-ai/model-dev, @determined-ai/web, @determined-ai/test

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github        @determined-ai/infrastructure
/master         @stoksc @maxrussell
/go.mod         @stoksc @maxrussell
/go.sum         @stoksc @maxrussell
/agent          @stoksc @maxrussell
/proto          @stoksc @maxrussell
/performance    @determined-ai/scalability

# CI is a mix
/.circleci            @determined-ai/infrastructure
/.circleci/devcluster @determined-ai/backend
/.circleci/packaging  @determined-ai/backend

# anyone can approve docs, except for specific files
/docs
/docs/index.rst     @determined-ai/docs
/docs/**/index.rst  @determined-ai/docs

# Harness is mapped to model-dev by default, except for `deploy`
# and auto-generated bindings and version files.
/harness                         @determined-ai/model-dev
/harness/determined/deploy       @stoksc @maxrussell
/harness/determined/common/api/bindings.py
/harness/determined/__version__.py

/schemas                          @determined-ai/model-dev
/bindings/generate_bindings_py.py @determined-ai/model-dev
/e2e_tests/tests/*.py             @determined-ai/model-dev
/e2e_tests/tests/requirements.txt @determined-ai/model-dev
/e2e_tests/tests/experiment       @determined-ai/model-dev
/e2e_tests/tests/nightly          @determined-ai/model-dev
/e2e_tests/tests/environment      @determined-ai/model-dev

# Backend owns some e2e tests.
/e2e_tests/tests/cluster  @stoksc @maxrussell
/e2e_tests/tests/command  @stoksc @maxrussell
/e2e_tests/tests/template @stoksc @maxrussell

# Owned by @determined-ai/web except for generated files
/webui                            @determined-ai/web
/webui/react/src/e2e              @determined-ai/test
/webui/react/playwright.config.ts @determined-ai/test
/webui/react/src/services/api-ts-sdk/

# Owned by resource management, so far this is only the stuff that is obvious and in its own dir.
/master/internal/command @stoksc @maxrussell
/master/internal/job @stoksc @maxrussell
/master/internal/postregistry @stoksc @maxrussell
/master/internal/sproto @stoksc @maxrussell
/master/internal/rm @stoksc @maxrussell
/master/internal/task @stoksc @maxrussell
/master/pkg/aproto @stoksc @maxrussell
/master/pkg/archive @stoksc @maxrussell
/master/pkg/command @stoksc @maxrussell
/master/pkg/cproto @stoksc @maxrussell
/master/pkg/device @stoksc @maxrussell
/master/pkg/etc @stoksc @maxrussell
/master/pkg/tasks @stoksc @maxrussell
/tools/scripts/slurm @stoksc @maxrussell
# EE only files in their own section to ease rebases
/master/internal/rm/dispatcherrm @stoksc @maxrussell
/master/internal/config/dispatcher* @stoksc @maxrussell
/master/pkg/tasks/dispatcher* @stoksc @maxrussell
/master/static/srv/dispatcher* @stoksc @maxrussell

Add chart '0.38.0-rc9' due to release
  determined-helm-chart_0.38.0-rc9.tgz
  index.yaml
Owners: none

Add chart '1.3.0-dev30 0.15.3 7.0.19 5.41.4 0.2.16 4.0.15 25.8.2 5.15.2 4.24.0 2.4.2 1.7.0 6.15.3' due to release
  aioli-helm-chart_1.3.0-dev30.tgz
  index.yaml
Owners: none

chore: eliminate use of fury repo
  harness/Makefile
Owners: @determined-ai/model-dev

quell linters
  master/internal/rm/kubernetesrm/jobs_test.go
Owners: @stoksc, @maxrussell

chore: remove det CI upload step
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

fix: make some k8s tests pass (#10224)
  master/internal/rm/kubernetesrm/jobs_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
Owners: @stoksc, @maxrussell

fix: make some k8s tests pass (#10224)
  master/internal/rm/kubernetesrm/jobs_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
Owners: @stoksc, @maxrussell

chore: eliminate use of fury repo (#10226)
  harness/Makefile
Owners: @determined-ai/model-dev

chore: eliminate use of fury repo (#10226)
  harness/Makefile
Owners: @determined-ai/model-dev

Add chart '0.38.0-rc10' due to release
  determined-helm-chart_0.38.0-rc10.tgz
  index.yaml
Owners: none

iterating 4
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

iterating 8
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

iterating 6
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

iteration 13
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

start iterating
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

iterating 9
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

Save cache correctly?
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

iterating 5
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

iteration 16
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

iterating 2
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

iteration 18
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

iterating 3
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

iteration 14
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

iteration 15
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

Use Apex in cache
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

iteration 12
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

iteration 11
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

iterating 7
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

iterating 10
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

iteration 17
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

Force save cache
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

test: update CI setup for running GPU unit tests (#10230)
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

Add chart '1.3.0-dev31 7.0.19 5.41.4 0.2.16 4.0.15 25.8.2 1.7.0 5.15.2 4.24.0 2.4.2 6.15.3 0.15.3' due to release
  aioli-helm-chart_1.3.0-dev31.tgz
  index.yaml
Owners: none

docs: add release notes for 0.38.0
  docs/release-notes.rst
  docs/release-notes/9966-fix-grid.rst
  docs/release-notes/add-host-port-scheme-to-helm.rst
  docs/release-notes/api-cli-access-token.rst
  docs/release-notes/config-policies.rst
  docs/release-notes/helm-db-snapshot.rst
  docs/release-notes/log-signal.rst
  docs/release-notes/pytorch-tensorboard-plugin.rst
  docs/release-notes/rbac-new-tokenCreator-role.rst
  docs/release-notes/remove-custom-searcher.rst
  docs/release-notes/searcher-context-removal.rst
  docs/release-notes/ssh-crypto-system.rst
  docs/release-notes/unsupport-aurora-postgres-reminder.rst
Owners: none

fix dupe
  docs/release-notes.rst
Owners: none

fixes
  docs/release-notes.rst
Owners: none

capitalize first letter
  docs/release-notes.rst
Owners: none

chore: release notes 0.38.0 (#10231)
  docs/release-notes.rst
  docs/release-notes/9966-fix-grid.rst
  docs/release-notes/add-host-port-scheme-to-helm.rst
  docs/release-notes/api-cli-access-token.rst
  docs/release-notes/config-policies.rst
  docs/release-notes/helm-db-snapshot.rst
  docs/release-notes/log-signal.rst
  docs/release-notes/pytorch-tensorboard-plugin.rst
  docs/release-notes/rbac-new-tokenCreator-role.rst
  docs/release-notes/remove-custom-searcher.rst
  docs/release-notes/searcher-context-removal.rst
  docs/release-notes/ssh-crypto-system.rst
  docs/release-notes/unsupport-aurora-postgres-reminder.rst
Owners: none

Add chart '0.38.0' due to release
  determined-helm-chart_0.38.0.tgz
  index.yaml
Owners: none

Add chart '0.38.0' due to release
  determined-helm-chart_0.38.0.tgz
  index.yaml
Owners: none
