Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

override __str__ for other bindings
  bindings/generate_bindings_py.py
Owners: none

regenerate
  harness/determined/common/api/bindings.py
Owners: none

reset
  bindings/generate_bindings_py.py
Owners: none

Revert "tmp: test"
  harness/determined/cli/experiment.py
Owners: none

add DetEnum to allowed_types
  bindings/generate_bindings_py.py
  harness/determined/common/api/bindings.py
Owners: none

move up sql.ErrNoRows check
  master/internal/experiment.go
Owners: @determined-ai/backend

chore: assume missing experiment project as deleted experiment (#7078)
  master/internal/experiment.go
  master/internal/job/job.go
Owners: @determined-ai/backend

chore: OSS is never rbacEnabled.
  e2e_tests/tests/cluster/test_groups.py
  e2e_tests/tests/cluster/test_rbac.py
  master/internal/api_master.go
Owners: @determined-ai/backend

cleanup
  master/internal/api_experiment.go
  master/internal/experiment.go
  master/internal/restore.go
Owners: @determined-ai/backend

fixup from comments
  master/internal/api_command.go
  master/internal/experiment.go
  master/internal/restore.go
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/resource_manager_iface.go
  master/internal/sproto/resource_pool.go
Owners: @determined-ai/backend

fix: restore experiments with no provider or capacity
  master/internal/api_command.go
  master/internal/api_experiment.go
  master/internal/experiment.go
  master/internal/restore.go
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/resource_manager_iface.go
  master/internal/sproto/resource_pool.go
Owners: @determined-ai/backend

lint
  master/internal/experiment.go
Owners: @determined-ai/backend

remove sort from searchParams
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

loadable formset
  webui/react/src/components/FilterForm/components/FilterForm.tsx
  webui/react/src/components/FilterForm/components/FilterFormStore.test.ts
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

use sortString instead of sorts
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

we dont need to refetch the observable so often
  webui/react/src/components/FilterForm/components/FilterFormStore.test.ts
Owners: none

fmt
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

fmt
  webui/react/src/components/FilterForm/components/FilterFormStore.test.ts
Owners: none

chore: make printed py bindings more readable (#7018)
  bindings/generate_bindings_py.py
  harness/determined/common/api/bindings.py
Owners: none

chore: conditional debugging output (#7124)
  agent/cmd/determined-agent/run.go
  agent/internal/agent.go
  agent/internal/options/options.go
  agent/pkg/podman/podman.go
  agent/pkg/singularity/singularity.go
  docs/reference/deploy/config/agent-config-reference.rst
  master/static/srv/singularity-entrypoint-wrapper.sh
Owners: @determined-ai/backend, @determined-ai/docs

dont assign undefined to data[xaxis]
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Owners: none

only show version dropdown on latest version
  docs/_templates/sidebar-version.html
Owners: @determined-ai/docs

feat: add filter
  webui/react/src/components/TaskList.tsx
  webui/react/src/components/kit/icons/FilterIcon.tsx
  webui/react/src/components/kit/icons/index.module.scss
  webui/react/src/pages/ExperimentList.settings.ts
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/shared/assets/images/columns.svg
  webui/react/src/shared/assets/images/filter.svg
  webui/react/src/shared/assets/images/options.svg
  webui/react/src/shared/assets/images/panel.svg
  webui/react/src/shared/assets/images/row-l.svg
  webui/react/src/shared/assets/images/row-m.svg
  webui/react/src/shared/assets/images/row-s.svg
  webui/react/src/shared/assets/images/row-xl.svg
Owners: none

loadable.foreach across glide table code
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

feat: add other icons
  webui/react/src/components/kit/icons/ColumnsIcon.tsx
  webui/react/src/components/kit/icons/OptionsIcon.tsx
  webui/react/src/components/kit/icons/PanelIcon.tsx
  webui/react/src/components/kit/icons/RowIcon.tsx
  webui/react/src/components/kit/icons/index.module.scss
  webui/react/src/shared/assets/images/columns.svg
  webui/react/src/shared/assets/images/filter.svg
  webui/react/src/shared/assets/images/options.svg
  webui/react/src/shared/assets/images/panel.svg
  webui/react/src/shared/assets/images/row-l.svg
  webui/react/src/shared/assets/images/row-m.svg
  webui/react/src/shared/assets/images/row-s.svg
  webui/react/src/shared/assets/images/row-xl.svg
Owners: none

use a Loadable for the filter menu instead of short-circuiting
  webui/react/src/components/FilterForm/components/FilterForm.tsx
Owners: none

loadable.foreach +1
  webui/react/src/components/FilterForm/components/FilterForm.tsx
Owners: none

fix: persist Experiment List sorts (#7128)
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

fix: allow creating a user with original username of a renamed user (#7121)
  docs/release-notes/username-cant-make-same-user.rst
  master/internal/api_user_intg_test.go
  master/internal/db/postgres_users.go
  master/internal/user/postgres_users.go
  master/internal/user/service_intg_test.go
  master/static/migrations/20230612120719_rename-new-username-fix.tx.down.sql
  master/static/migrations/20230612120719_rename-new-username-fix.tx.up.sql
Owners: @determined-ai/docs, @determined-ai/backend

feat: add icons to the design page
  webui/react/src/components/TaskList.tsx
  webui/react/src/components/kit/svgIcons/ColumnsIcon.tsx
  webui/react/src/components/kit/svgIcons/FilterIcon.tsx
  webui/react/src/components/kit/svgIcons/OptionsIcon.tsx
  webui/react/src/components/kit/svgIcons/PanelIcon.tsx
  webui/react/src/components/kit/svgIcons/RowIcon.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

loadable.map
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
Owners: none

fix: Glide Table comparison view no data error; loading saved filters issue (#7122)
  webui/react/src/components/FilterForm/components/FilterForm.tsx
  webui/react/src/components/FilterForm/components/FilterFormStore.test.ts
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Owners: none

fix: spinner import error
  webui/react/src/components/FilterForm/components/FilterForm.tsx
Owners: none

fix: spinner import error (#7132)
  webui/react/src/components/FilterForm/components/FilterForm.tsx
Owners: none

chore: relocate SlotSummary to cproto
  master/internal/rm/agentrm/agent_slot.go
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/kubernetesrm/pods.go
  master/pkg/archive/archive.go
  master/pkg/cproto/container.go
  master/pkg/model/agent.go
Owners: @determined-ai/backend

chore: change import path
  webui/react/src/components/FilterForm/components/FilterForm.tsx
Owners: none

chore: change import path (#7134)
  webui/react/src/components/FilterForm/components/FilterForm.tsx
Owners: none

move fixtures, begin refactoring parallel test, remove migrated test from file
  e2e_tests/tests/experiment/test_pytorch.py
  harness/tests/experiment/fixtures/pytorch_identity/__init__.py
  harness/tests/experiment/fixtures/pytorch_identity/distributed.yaml
  harness/tests/experiment/fixtures/pytorch_identity/model_def.py
  harness/tests/experiment/fixtures/pytorch_identity/torch_distributed.yaml
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

test: New test -- Model.get_versions reads paginated responses. (#7087)
  harness/tests/determined/common/experimental/test_model.py
  harness/tests/fixtures/api_responses.py
Owners: none

ci: handle cherry-picking PRs for release
  tools/scripts/track-pr
Owners: none

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
