Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

chore: rename exp list action bar action button from edit to action
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Owners: none

chore: update based on PR review
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Owners: none

chore: remove double newline in cli error messages (#7472)
  harness/determined/cli/cli.py
Owners: none

fix: rename checkpoints (#7513)
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Owners: none

fix: rename checkpoints (#7513)
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Owners: none

style: update copy and add dividers to exp list table action dropdown [WEB-1490] (#7506)
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/types.ts
Owners: none

chore: update vite (#7505)
  webui/react/package-lock.json
Owners: none

fmt
  webui/react/src/pages/DesignKit.tsx
Owners: none

cleanup
  webui/react/src/components/kit/Tooltip.module.scss
Owners: none

cleanup
  webui/react/src/components/kit/Tooltip.tsx
Owners: none

feat: add experiment attributes to SDK Experiment [MLG-738] (#7512)
  harness/determined/common/experimental/experiment.py
  harness/tests/determined/common/experimental/test_experiment.py
Owners: none

add fn return type
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
Owners: none

chore: bump version: 0.23.4-rc3 -> 0.23.4-rc4
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: @determined-ai/docs

add/remove/set labels
  harness/determined/common/experimental/experiment.py
Owners: none

backend APIs
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/experiment.py
  master/internal/api_experiment.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

fmt
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Owners: none

python-sdk labels
  harness/determined/common/experimental/experiment.py
  harness/tests/determined/common/experimental/test_experiment.py
Owners: none

mypy and fmt
  harness/determined/common/experimental/experiment.py
Owners: none

wrap db query in transaction
  master/internal/api_experiment.go
Owners: @determined-ai/backend

mypy and linting
  harness/determined/common/experimental/experiment.py
Owners: none

remove unneeded responses.activate
  harness/tests/determined/common/experimental/test_experiment.py
Owners: none

for update
  master/internal/api_experiment.go
Owners: @determined-ai/backend

docs: add release notes for 0.23.4
  docs/release-notes.rst
  docs/release-notes/7377-edit-user-settings.rst
  docs/release-notes/7561-rp-workspace-mapping.rst
  docs/release-notes/9355-allow-security-context
  docs/release-notes/metric-merge.rst
  docs/release-notes/new-experiment-list.rst
  docs/release-notes/patch_master_config.rst
Owners: @determined-ai/docs

fix: reset pagination when offset is out of bounds
  webui/react/src/pages/JobQueue/JobQueue.tsx
Owners: none

docs: add release notes for 0.23.4 (#7524)
  docs/release-notes.rst
  docs/release-notes/7377-edit-user-settings.rst
  docs/release-notes/7561-rp-workspace-mapping.rst
  docs/release-notes/9355-allow-security-context
  docs/release-notes/metric-merge.rst
  docs/release-notes/new-experiment-list.rst
  docs/release-notes/patch_master_config.rst
Owners: @determined-ai/docs

chore: bump version: 0.23.4-rc4 -> 0.23.4
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: @determined-ai/docs

Add chart '0.23.4' due to release
  determined-helm-chart_0.23.4.tgz
  index.yaml
Owners: none

chore: rollback torch 1.7 support removal.
  harness/determined/pytorch/_data.py
Owners: none

chore: rollback torch 1.7 support removal. (#7525)
  harness/determined/pytorch/_data.py
Owners: none

fix: Reset cluster jobs pagination when offset is out of bounds (#7521)
  webui/react/src/pages/JobQueue/JobQueue.tsx
Owners: none

fix: Don't return a workload for deleted checkpoints [WEB-1505] (#7491)
  harness/determined/common/api/bindings.py
  master/internal/api_trials.go
  master/static/srv/proto_get_trial_workloads.sql
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
Owners: @determined-ai/backend

fmt, setSelectAll work
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

selectAll and loading issues
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

selectAll persists, excluded IDs
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

Save selected experiment ids
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/utils/loadable.ts
Owners: none

post-rebase
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

remove clearselectiontrigger
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

wip
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Owners: none

remove prev refresh
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

avoid change
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none
