Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

WIP: k8s cluster info using taints/tolerations
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/pods_test.go
Owners: @determined-ai/backend

chore: remove storybook leftover
  webui/react/.gitignore
  webui/react/Makefile
  webui/react/src/shared/README.md
Owners: none

test: examples test requirements.txt maintenance.
  examples/tests/requirements.txt
Owners: none

chore: Use experiment-search API for new table
  master/internal/api_experiment.go
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Owners: @determined-ai/backend

oops, fix conflict
  master/internal/rm/kubernetesrm/pods.go
Owners: @determined-ai/backend

fix: correct pseudo container count
  master/internal/rm/kubernetesrm/pods.go
Owners: @determined-ai/backend

chore: organize storybook folder
  webui/react/src/components/CheckpointModalTrigger.test.tsx
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.test.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentCreate.test.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.test.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/storybook/utils.ts
  webui/react/src/test_utils/generateTestData.ts
Owners: none

fix: dont hardcode explist flag to true
  webui/react/src/pages/ProjectDetails.tsx
Owners: none

fix: dont hardcode explist flag to true (#6430)
  webui/react/src/pages/ProjectDetails.tsx
Owners: none

address PR comments
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
Owners: @determined-ai/docs

add quota limits for helm
  docs/reference/reference-deploy/config/helm-config-reference.rst
  helm/charts/determined/templates/db-deployment.yaml
  helm/charts/determined/templates/master-deployment.yaml
  helm/charts/determined/values.yaml
Owners: @determined-ai/docs

make quota limits optional in helm
  docs/reference/reference-deploy/config/helm-config-reference.rst
  helm/charts/determined/templates/db-deployment.yaml
  helm/charts/determined/templates/master-deployment.yaml
  helm/charts/determined/values.yaml
Owners: @determined-ai/docs

format
  docs/index.rst
  docs/interfaces/cli-reference.rst
  docs/interfaces/index.rst
Owners: @determined-ai/docs

docs: amend the CLI ref docs
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/overview.rst
  docs/cluster-setup-guide/security/overview.rst
  docs/index.rst
  docs/interfaces/cli-reference.rst
  docs/interfaces/cli-ug.rst
  docs/interfaces/commands-and-shells.rst
  docs/interfaces/index.rst
  docs/quickstart-mdldev.rst
Owners: @determined-ai/docs

iteration 1 prioritization
  docs/architecture/introduction.rst
  docs/cluster-setup-guide/historical-cluster-usage-data.rst
  docs/cluster-setup-guide/security/rbac.rst
  docs/conf.py
  docs/index.rst
  docs/interfaces/cli-reference.rst
  docs/interfaces/cli-ug.rst
  docs/interfaces/commands-and-shells.rst
  docs/interfaces/index.rst
  docs/interfaces/notebooks.rst
  docs/training/dtrain-introduction.rst
  docs/training/model-management/checkpoints.rst
  docs/training/model-management/overview.rst
  docs/tutorials/pytorch-mnist-tutorial.rst
  docs/tutorials/tf-mnist-tutorial.rst
Owners: @determined-ai/docs

review with stakeholder
  docs/architecture/introduction.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/overview.rst
  docs/cluster-setup-guide/historical-cluster-usage-data.rst
  docs/conf.py
  docs/index.rst
  docs/interfaces/cli-ug.rst
  docs/interfaces/commands-and-shells.rst
  docs/interfaces/notebooks.rst
  docs/reference/cli-reference.rst
  docs/reference/overview.rst
  docs/training/dtrain-introduction.rst
  docs/training/model-management/checkpoints.rst
  docs/training/model-management/overview.rst
  docs/tutorials/pytorch-mnist-tutorial.rst
  docs/tutorials/tf-mnist-tutorial.rst
Owners: @determined-ai/docs

updated ref index page w link to tools
  docs/reference/overview.rst
Owners: @determined-ai/docs

table formatting
  docs/interfaces/cli-reference.rst
  docs/interfaces/cli-ug.rst
  docs/interfaces/index.rst
Owners: @determined-ai/docs

remove sentence
  docs/reference/cli-reference.rst
Owners: @determined-ai/docs

rewording a bit
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-known-issues.rst
Owners: @determined-ai/docs

fix: show states dropdown on ExperimentTrials
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
Owners: none

halt job if no changes to design kit
  .circleci/config.yml
Owners: none

Clean up.
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/pytorch/deepspeed/dsat/_utils.py
Owners: none

remove randomness from chart section
  webui/react/src/pages/DesignKit.tsx
Owners: none

feat: Add quota limits for helm (#6432)
  docs/reference/reference-deploy/config/helm-config-reference.rst
  helm/charts/determined/templates/db-deployment.yaml
  helm/charts/determined/templates/master-deployment.yaml
  helm/charts/determined/values.yaml
Owners: @determined-ai/docs

test: set up ci for reporting go tests using junit (#6418)
  .circleci/config.yml
  .gitignore
  agent/Makefile
  agent/get-deps.sh
  master/Makefile
  master/get-deps.sh
Owners: @determined-ai/backend

Try/except hack around dead agent due to exit
  harness/determined/searcher/_search_runner.py
Owners: none

Minor changes.
  harness/determined/pytorch/deepspeed/dsat/_defaults.py
  harness/determined/pytorch/deepspeed/dsat/_utils.py
Owners: none

check more places for designkit diffs
  .circleci/config.yml
Owners: none

chore: show error message that links to git rebaseability page (#6422)
  .github/workflows/check-rebaseable.yml
Owners: @determined-ai/infrastructure

remove store-aware card examples
  webui/react/src/designkit-standalone/index.tsx
  webui/react/src/pages/DesignKit.tsx
Owners: none

use historical head instead of current master
  webui/react/Makefile
Owners: none

fix: show states dropdown on ExperimentTrials (#6435)
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
Owners: none

improvements to py, yaml, multi-file views
  webui/react/src/components/kit/CodeEditor.tsx
  webui/react/src/components/kit/CodeEditor/CodeEditor.module.scss
  webui/react/src/pages/DesignKit.tsx
Owners: none

move codeviewer to codeeditor, have file demos
  webui/react/src/components/kit/CodeEditor.test.tsx
  webui/react/src/components/kit/CodeEditor.tsx
  webui/react/src/components/kit/CodeEditor/CodeEditor.module.scss
  webui/react/src/components/kit/CodeEditor/IpynbRenderer.tsx
  webui/react/src/components/kit/CodeEditor/index.scss
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentMultiTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
Owners: none

relocate current CodeViewer for UI Kit
  webui/react/src/components/kit/CodeViewer.test.tsx
  webui/react/src/components/kit/CodeViewer.tsx
  webui/react/src/components/kit/CodeViewer/CodeViewer.module.scss
  webui/react/src/components/kit/CodeViewer/IpynbRenderer.tsx
  webui/react/src/components/kit/CodeViewer/index.scss
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentMultiTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
Owners: none

usesettings for codeviewer in experiment tabs component
  webui/react/src/components/kit/CodeEditor.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentMultiTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
Owners: none

multiple files working
  webui/react/src/components/kit/CodeEditor.tsx
  webui/react/src/components/kit/CodeEditor/CodeEditor.module.scss
  webui/react/src/pages/DesignKit.tsx
Owners: none

fixes
  webui/react/src/components/ConfigureAgentModal.tsx
  webui/react/src/components/CreateGroupModal.tsx
  webui/react/src/components/CreateUserModal.tsx
  webui/react/src/components/DeleteGroupModal.tsx
  webui/react/src/components/ManageGroupsModal.tsx
  webui/react/src/components/PasswordChangeModal.tsx
  webui/react/src/components/kit/Form.module.scss
  webui/react/src/pages/Settings/UserManagement.tsx
Owners: none

docs: slot command limitations for HPC clusters (#6421)
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-known-issues.rst
Owners: @determined-ai/docs

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
