Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

chore: add inter fonts
  webui/react/src/shared/assets/fonts/Inter-Black.woff
  webui/react/src/shared/assets/fonts/Inter-Black.woff2
  webui/react/src/shared/assets/fonts/Inter-BlackItalic.woff
  webui/react/src/shared/assets/fonts/Inter-BlackItalic.woff2
  webui/react/src/shared/assets/fonts/Inter-Bold.woff
  webui/react/src/shared/assets/fonts/Inter-Bold.woff2
  webui/react/src/shared/assets/fonts/Inter-BoldItalic.woff
  webui/react/src/shared/assets/fonts/Inter-BoldItalic.woff2
  webui/react/src/shared/assets/fonts/Inter-ExtraBold.woff
  webui/react/src/shared/assets/fonts/Inter-ExtraBold.woff2
  webui/react/src/shared/assets/fonts/Inter-ExtraBoldItalic.woff
  webui/react/src/shared/assets/fonts/Inter-ExtraBoldItalic.woff2
  webui/react/src/shared/assets/fonts/Inter-ExtraLight.woff
  webui/react/src/shared/assets/fonts/Inter-ExtraLight.woff2
  webui/react/src/shared/assets/fonts/Inter-ExtraLightItalic.woff
  webui/react/src/shared/assets/fonts/Inter-ExtraLightItalic.woff2
  webui/react/src/shared/assets/fonts/Inter-Italic.woff
  webui/react/src/shared/assets/fonts/Inter-Italic.woff2
  webui/react/src/shared/assets/fonts/Inter-Light.woff
  webui/react/src/shared/assets/fonts/Inter-Light.woff2
  webui/react/src/shared/assets/fonts/Inter-LightItalic.woff
  webui/react/src/shared/assets/fonts/Inter-LightItalic.woff2
  webui/react/src/shared/assets/fonts/Inter-Medium.woff
  webui/react/src/shared/assets/fonts/Inter-Medium.woff2
  webui/react/src/shared/assets/fonts/Inter-MediumItalic.woff
  webui/react/src/shared/assets/fonts/Inter-MediumItalic.woff2
  webui/react/src/shared/assets/fonts/Inter-Regular.woff
  webui/react/src/shared/assets/fonts/Inter-Regular.woff2
  webui/react/src/shared/assets/fonts/Inter-SemiBold.woff
  webui/react/src/shared/assets/fonts/Inter-SemiBold.woff2
  webui/react/src/shared/assets/fonts/Inter-SemiBoldItalic.woff
  webui/react/src/shared/assets/fonts/Inter-SemiBoldItalic.woff2
  webui/react/src/shared/assets/fonts/Inter-Thin.woff
  webui/react/src/shared/assets/fonts/Inter-Thin.woff2
  webui/react/src/shared/assets/fonts/Inter-ThinItalic.woff
  webui/react/src/shared/assets/fonts/Inter-ThinItalic.woff2
  webui/react/src/shared/assets/fonts/Inter-italic.var.woff2
  webui/react/src/shared/assets/fonts/Inter-roman.var.woff2
  webui/react/src/shared/assets/fonts/Inter.var.woff2
  webui/react/src/shared/styles/fonts.scss
Owners: none

build: Updates Python used in CircleCI to 3.8.16
  .circleci/config.yml
  model_hub/model_hub/mmdetection/_data.py
  model_hub/model_hub/utils.py
Owners: none

fix: wrap shutil.rmtree in a loop
  harness/determined/common/storage/cloud.py
  harness/determined/common/storage/shared.py
  harness/determined/core/_distributed.py
  harness/determined/deploy/gcp/gcp.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/tensorboard/shared.py
  harness/determined/util.py
Owners: none

style: update table row heights
  webui/react/src/components/Table/InteractiveTable.module.scss
  webui/react/src/pages/Dashboard.tsx
Owners: none

style: up the nav side bar font size
  webui/react/src/components/NavigationSideBar.module.scss
Owners: none

style: update font usage code
  webui/react/src/components/Badge.module.scss
  webui/react/src/components/ModelDownloadModal.module.scss
  webui/react/src/components/ThemeProvider.tsx
  webui/react/src/components/TrialLogPreview.module.scss
  webui/react/src/components/kit/LineChart.module.scss
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/components/kit/LogViewer/LogViewer.module.scss
  webui/react/src/pages/F_ExpList/glide-table/utils.ts
  webui/react/src/shared/styles/index.scss
  webui/react/src/shared/themes.ts
Owners: none

fix: preserve model registry label order [DET-9303]
  master/internal/api_model.go
Owners: @determined-ai/backend

style: update font usage code
  webui/react/src/components/kit/LineChart.tsx
Owners: none

fix: use workspaces store in ProjectMoveModal (#6505)
  webui/react/src/components/ProjectMoveModal.tsx
Owners: none

chore: use UI kit modal for Experiment actions (#6478)
  webui/react/src/components/CreateGroupModal.tsx
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/ExperimentCreateModal.test.tsx
  webui/react/src/components/ExperimentCreateModal.tsx
  webui/react/src/components/ExperimentDeleteModal.test.tsx
  webui/react/src/components/ExperimentDeleteModal.tsx
  webui/react/src/components/ExperimentEditModal.test.tsx
  webui/react/src/components/ExperimentEditModal.tsx
  webui/react/src/components/ExperimentMoveModal.tsx
  webui/react/src/components/ExperimentStopModal.test.tsx
  webui/react/src/components/ExperimentStopModal.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentCreate.module.scss
  webui/react/src/hooks/useModal/Experiment/useModalExperimentCreate.test.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentDelete.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentEdit.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentMove.module.scss
  webui/react/src/hooks/useModal/Experiment/useModalExperimentMove.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentStop.module.scss
  webui/react/src/hooks/useModal/Experiment/useModalExperimentStop.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
Owners: none

docs: fix broken links, formatting, and typos [MLG-404]
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/k8s-dev-guide.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/setup-aks-cluster.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/setup-eks-cluster.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/setup-gke-cluster.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/overview.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
  docs/cluster-setup-guide/workspaces.rst
  docs/integrations/notification/slack.rst
  docs/reference/reference-deploy/config/helm-config-reference.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/reference/reference-training/experiment-config-reference.rst
  docs/reference/rest-api.rst
  docs/release-notes.rst
  docs/release-notes/remove-old-master-logs.rst
  docs/training/apis-howto/api-pytorch-ug.rst
  docs/training/dtrain-introduction.rst
  docs/training/hyperparameter/configure-hp-ranges.rst
  docs/training/setup-guide/custom-env.rst
  harness/determined/pytorch/_data.py
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/_reducer.py
Owners: @determined-ai/docs

fix: wrap shutil.rmtree in a loop (#6506)
  harness/determined/common/storage/cloud.py
  harness/determined/common/storage/shared.py
  harness/determined/core/_distributed.py
  harness/determined/deploy/gcp/gcp.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/tensorboard/shared.py
  harness/determined/util.py
Owners: none

fix old comment
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

fix: step.state is gone. check for archived.
  master/static/srv/proto_get_trial_ids_for_experiment.sql
  master/static/srv/proto_get_trials_plus.sql
Owners: @determined-ai/backend

bradley's PR
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/fixtures/core_api/arbitary_workload_order.py
  e2e_tests/tests/fixtures/core_api/arbitary_workload_order.yaml
  harness/determined/cli/trial.py
  master/internal/db/postgres_trial.go
  master/static/srv/proto_get_trial_ids_for_experiment.sql
  master/static/srv/proto_get_trials_plus.sql
Owners: @determined-ai/backend

feat: add total_batches col to trials
  master/static/migrations/20230330201702_total_batches_trial.tx.down.sql
  master/static/migrations/20230330201702_total_batches_trial.tx.up.sql
Owners: @determined-ai/backend

add todos and placeholders
  master/internal/db/postgres_trial.go
  proto/src/determined/trial/v1/trial.proto
Owners: @determined-ai/backend

fixup: rename mis-named fixutres
  e2e_tests/tests/fixtures/core_api/arbitrary_workload_order.py
  e2e_tests/tests/fixtures/core_api/arbitrary_workload_order.yaml
Owners: none

add test case for rollback via training submission
  master/internal/db/postgres_trial_intg_test.go
Owners: @determined-ai/backend

add TotalBatches to internal go trial model
  master/internal/db/postgres_trial.go
  master/pkg/model/experiment.go
Owners: @determined-ai/backend

use precomputed total_batches as total_batches_processed
  master/static/srv/proto_get_trial_ids_for_experiment.sql
  master/static/srv/proto_get_trials_plus.sql
Owners: @determined-ai/backend

compute total_batches from existing trials
  master/static/migrations/20230330201702_total_batches_trial.tx.up.sql
Owners: @determined-ai/backend

remove checkpoints
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/static/migrations/20230330201702_total_batches_trial.tx.up.sql
Owners: @determined-ai/backend

concurrency
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

update comments
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

add a test to check TotalBatches is updated.
  master/internal/db/postgres_trial_intg_test.go
Owners: @determined-ai/backend

fix test: increment trial id for rollbacks
  master/internal/db/postgres_trial_intg_test.go
Owners: @determined-ai/backend

add naive happy path for adding metrics and validations
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

regen bindings
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/trial/v1/trial.proto
Owners: @determined-ai/backend

intg test
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
Owners: @determined-ai/backend

rollback
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

reuse rollback recompute query
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

add test to checkpoints are ignored
  master/internal/db/postgres_trial_intg_test.go
Owners: @determined-ai/backend

remove comments
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

fmt
  master/internal/db/postgres_trial_intg_test.go
Owners: @determined-ai/backend

remove cleared comments
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

validate check rollback logic
  master/internal/db/postgres_trial_intg_test.go
Owners: @determined-ai/backend

add addTrialMetrics
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
Owners: @determined-ai/backend

bunify the added tests
  master/internal/db/postgres_trial_intg_test.go
Owners: @determined-ai/backend

ci: retry Docker Hub publish steps
  .circleci/config.yml
Owners: none

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
