Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

fix typing
  harness/tests/determined/common/experimental/test_experiment.py
Owners: none

missing decorator
  harness/tests/determined/common/experimental/test_experiment.py
Owners: none

chore: cache and reload in Python SDK [MLG-549] (#6853)
  e2e_tests/tests/cluster/test_model_registry.py
  e2e_tests/tests/cluster/test_resource_pools.py
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/test_sdk.py
  harness/determined/cli/checkpoint.py
  harness/determined/cli/experiment.py
  harness/determined/cli/model.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/model.py
  harness/determined/common/experimental/trial.py
  harness/determined/common/experimental/user.py
  harness/tests/cli/test_experiment.py
  harness/tests/common/api_server.py
  harness/tests/common/test_api_server.py
  harness/tests/determined/common/experimental/test_experiment.py
  harness/tests/fixtures/experiment.json
Owners: none

chore: reload only when explicit (#7404)
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/model.py
Owners: none

chore: fix bad merge rebase (#7346)
  harness/determined/common/api/_util.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/model.py
  harness/determined/experimental/client.py
  harness/tests/determined/common/experimental/test_experiment.py
Owners: none

feat: add summary metrics to SDK and CLI [MLG-648] (#7255)
  harness/determined/cli/trial.py
  harness/determined/common/experimental/trial.py
  harness/tests/determined/common/experimental/test_determined.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/trial.json
Owners: none

chore: Expose trial state to Trial (#7406)
  harness/determined/common/experimental/trial.py
  harness/tests/determined/common/experimental/test_determined.py
Owners: none

test: Add another mock to checkpoint tests (#7260)
  harness/tests/determined/common/experimental/test_checkpoint.py
Owners: none

chore: update left over api references to metric type (#7399)
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/trial.py
  harness/determined/core/_train.py
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  proto/buf.image.bin
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

chore: cache and reload in Python SDK [MLG-549] (#6853)
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/model.py
Owners: none

tests
  harness/determined/common/experimental/trial.py
  harness/determined/common/util.py
  harness/tests/determined/common/experimental/test_trial.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/trial_logs.json
Owners: none

mypy
  harness/determined/common/experimental/trial.py
Owners: none

feat: improved SDK trial.logs() - allows for searching logs for a string - allows for filtering by timestamp and log source (master/agent)
  harness/determined/common/api/logs.py
  harness/determined/common/experimental/trial.py
Owners: none

bad merge
  harness/determined/common/experimental/model.py
Owners: none

fix rebaes
  harness/determined/common/experimental/checkpoint/_checkpoint.py
Owners: none

add pendingEdit prop
  webui/react/src/components/PasswordChangeModal.tsx
  webui/react/src/components/kit/InlineForm.tsx
  webui/react/src/pages/Settings/SettingsAccount.tsx
Owners: none

docs: hpe docs compliance for section 5 [WEB-1292] (#7383)
  docs/_templates/page.html
  docs/_templates/search-field.html
  docs/conf.py
  docs/index.rst
Owners: @determined-ai/docs

comment about hf fp16 not accurately represented
  harness/determined/pytorch/dsat/_dsat_search_method.py
Owners: none

fix: add `background-clip`
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.module.scss
Owners: none

chore: add release notes for notebook tls (#7408)
  docs/release-notes/6735-add-tls-to-notebooks.rst
Owners: @determined-ai/docs

chore: add release notes for notebook tls (#7408)
  docs/release-notes/6735-add-tls-to-notebooks.rst
Owners: @determined-ai/docs

chore: change compare tab refresh behavior [WEB-1434] (#7397)
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.tsx
  webui/react/src/pages/F_ExpList/ComparisonView.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Owners: none

chore: update data loading in Keras CIFAR10 example (#7378)
  examples/computer_vision/cifar10_tf_keras/cifar_model.py
  examples/computer_vision/cifar10_tf_keras/const.yaml
  examples/computer_vision/cifar10_tf_keras/data.py
  examples/computer_vision/cifar10_tf_keras/distributed.yaml
  examples/computer_vision/cifar10_tf_keras/model_def.py
  harness/tests/experiment/keras/test_tf_keras_trial.py
Owners: none

fix small activation mem computation error
  harness/determined/pytorch/dsat/_dsat_search_method.py
Owners: none

fix: replace div with table in Trial Comparison View (#7341)
  webui/react/src/components/kit/Empty.module.scss
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.module.scss
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
Owners: none

fix: custom column resize [WEB-1341] (#7365)
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/App.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/checkboxCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/experimentStateCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/linkCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/loadingCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/progressCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/sparklineCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/tagsCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/userAvatarCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/index.tsx
  webui/react/src/pages/F_ExpList/glide-table/menu.tsx
  webui/react/src/pages/F_ExpList/glide-table/tooltip.tsx
  webui/react/src/pages/F_ExpList/glide-table/utils.ts
Owners: none

pr comments
  harness/determined/common/experimental/trial.py
  harness/determined/common/util.py
  harness/tests/determined/common/experimental/test_trial.py
Owners: none

docs: add release notes for 0.23.3
  docs/release-notes.rst
  docs/release-notes/6735-add-tls-to-notebooks.rst
  docs/release-notes/7278-remove-log-option.rst
  docs/release-notes/removed_config_endpoint.rst
Owners: @determined-ai/docs

controlled open prop for InlineForm
  webui/react/src/components/kit/InlineForm.tsx
  webui/react/src/pages/Settings/SettingsAccount.tsx
Owners: none

InlineForm label margin
  webui/react/src/components/kit/InlineForm.module.scss
Owners: none

check none
  harness/determined/common/experimental/trial.py
Owners: none

WIP
  master/internal/rm/kubernetesrm/spec.go
Owners: @determined-ai/backend

pass model_profile_info to zero stage generator
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_utils.py
Owners: none

docs: add release notes for 0.23.3 (#7413)
  docs/release-notes.rst
  docs/release-notes/6735-add-tls-to-notebooks.rst
  docs/release-notes/7278-remove-log-option.rst
  docs/release-notes/removed_config_endpoint.rst
Owners: @determined-ai/docs

address feedback
  master/internal/api_resourcepool.go
  master/internal/workspace/postgres_workspace.go
Owners: @determined-ai/backend

remove provisioner Prestart function
  master/internal/rm/agentrm/provisioner/aws.go
  master/internal/rm/agentrm/provisioner/gcp.go
  master/internal/rm/agentrm/provisioner/provisioner.go
  master/internal/rm/agentrm/provisioner/provisioner_test.go
Owners: @determined-ai/backend

Update master/internal/rm/agentrm/provisioner/provisioner.go
  master/internal/rm/agentrm/provisioner/provisioner.go
Owners: @determined-ai/backend

WIP
  docs/release-notes/9355-allow-security-context
Owners: @determined-ai/docs

remove cleanupLegacySpotInstances
  master/internal/rm/agentrm/provisioner/aws.go
  master/internal/rm/agentrm/provisioner/aws_spot_legacy.go
Owners: @determined-ai/backend

rename p.StartProvisioner to p.Run
  master/internal/rm/agentrm/provisioner/provisioner.go
  master/internal/rm/agentrm/provisioner/provisioner_test.go
  master/internal/rm/agentrm/provisioner/setup.go
Owners: @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
