Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

feat: deepspeed autotune trial based methods (#6575)
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/pytorch/deepspeed/dsat/autotune.py
Owners: none

added test cases for spaces
  master/internal/api_experiment.go
  master/internal/api_experiment_test.go
Owners: @determined-ai/backend

added tests for whitespaces around operators for metrics
  master/internal/api_experiment.go
  master/internal/api_experiment_test.go
Owners: @determined-ai/backend

implementing correct type casting
  master/internal/api_experiment.go
  master/internal/api_experiment_test.go
Owners: @determined-ai/backend

formatting
  master/internal/api_experiment_test.go
Owners: @determined-ai/backend

date related updates
  master/internal/api_experiment.go
  master/internal/api_experiment_test.go
Owners: @determined-ai/backend

formatting
  master/internal/api_experiment.go
  master/internal/api_experiment_test.go
Owners: @determined-ai/backend

update limit logic
  master/internal/api_experiment.go
Owners: @determined-ai/backend

formatting
  master/internal/api_experiment.go
Owners: @determined-ai/backend

chore: minor changes
  .circleci/config.yml
  webui/react/src/routes/routes.ts
Owners: none

master passes lint
  master/internal/api_experiment.go
  master/internal/api_model.go
  master/internal/api_project.go
  master/internal/api_workspace.go
  master/internal/core_experiment.go
  master/internal/usergroup/postgres_groups.go
Owners: @determined-ai/backend

docs: enable algolia search by adding structure
  docs/reference/reference-training/experiment-config-reference.rst
Owners: @determined-ai/docs

docs: Add structure to agent configuration ref
  docs/reference/reference-deploy/config/agent-config-reference.rst
Owners: @determined-ai/docs

docs: Add structure to agent configuration ref (#6573)
  docs/reference/reference-deploy/config/agent-config-reference.rst
Owners: @determined-ai/docs

added test cases and error messages
  master/internal/api_experiment.go
  master/internal/api_experiment_test.go
Owners: @determined-ai/backend

remove yaml from manifest
  harness/MANIFEST.in
Owners: none

remove yaml from manifest
  harness/MANIFEST.in
Owners: none

build: take mockery out of master build path (#6546)
  master/Makefile
Owners: @determined-ai/backend

review fix
  master/internal/api_trials_intg_test.go
Owners: @determined-ai/backend

chore: remove yaml from manifest (#6582)
  harness/MANIFEST.in
Owners: none

feat: agent support for podman
  agent/pkg/podman/podman_test.go
Owners: @determined-ai/backend

fix: metrics sampling for metrics with epochs. (#6578)
  master/internal/api_trials_intg_test.go
  master/internal/trials/postgres_trials.go
Owners: @determined-ai/backend

feat: agent support for podman
  agent/pkg/podman/podman_test.go
  master/static/srv/singularity-entrypoint-wrapper.sh
Owners: @determined-ai/backend

docs: enable algolia search by adding structure (#6541)
  docs/reference/reference-training/experiment-config-reference.rst
Owners: @determined-ai/docs

chore: Update Trial Time Series API endpoint [WEB-1116] (#6566)
  harness/determined/common/api/bindings.py
  master/internal/api_trials.go
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/trial.proto
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
  webui/react/src/pages/TrialsComparison/Metrics/useLearningCurveData.ts
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Owners: @determined-ai/backend

docs: Improve the WebUI page
  docs/interfaces/webui-if.rst
  docs/tutorials/pytorch-mnist-tutorial.rst
Owners: @determined-ai/docs

docs: Improve the WebUI page (#6579)
  docs/interfaces/webui-if.rst
  docs/tutorials/pytorch-mnist-tutorial.rst
Owners: @determined-ai/docs

fix gke config, make all lightning tests gpu
  .circleci/config.yml
  harness/tests/experiment/pytorch/test_pytorch_lightning.py
Owners: none

switch to circleci gpu runners
  .circleci/config.yml
Owners: none

fix format
  .circleci/config.yml
Owners: none

use fetchResourcePools
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
Owners: none

fix test
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.test.tsx
Owners: none

fix test
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.test.tsx
Owners: none

fix: close modal properly
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
Owners: none

ci config update, module import bugfix
  .circleci/config.yml
  harness/tests/experiment/utils.py
Owners: none

fix test
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.test.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
Owners: none

update docker image to more recent version
  .circleci/config.yml
Owners: none

fix test
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
Owners: none

docs: stop relying on algolia crawler
  docs/Makefile
  docs/assets/scripts/docsearch.sbt.js
  docs/deploy/scrape.py
  docs/deploy/start_algolia_crawl.sh
  docs/requirements.txt
Owners: @determined-ai/docs

ci: set up
  .circleci/config.yml
Owners: none

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
