Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/backend, @determined-ai/web, @determined-ai/docs, @determined-ai/ml-sys

harness setup
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

ci: improve e2e setup time
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

cache key
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

path update
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

fix hope
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

forgot -r
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

chore: feedback
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

ci: upgrade resource class for `lint-react`
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

fix: lint and task listing for DET-9595
  master/internal/api_tasks.go
  master/internal/api_tasks_intg_test.go
  master/internal/authz/obfuscate.go
Owners: @determined-ai/backend

chore: bumpenvs 0.26.4
  .circleci/real_config.yml
  docs/model-dev-guide/api-guides/apis-howto/_index.rst
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/reference/training/experiment-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
Owners: @determined-ai/infrastructure, @determined-ai/ml-sys, @determined-ai/backend, @determined-ai/web

add a release note
  docs/release-notes/python-39-bump.rst
Owners: none

revert: fix det slot for no-permission RBAC users
  harness/determined/cli/agent.py
  harness/determined/cli/task.py
  master/internal/api_tasks.go
  master/internal/api_tasks_intg_test.go
  master/internal/authz/obfuscate.go
Owners: @determined-ai/ml-sys, @determined-ai/backend

chore: bumpenvs 0.26.4
  tools/scripts/bumpenvs.yaml
Owners: none

update release note
  docs/release-notes/python-39-bump.rst
Owners: none

feat: change cli command for patch master log config
  docs/patch_master_config_cli.rst
  e2e_tests/tests/cluster/managed_cluster.py
  harness/determined/cli/master.py
  harness/determined/common/api/bindings.py
  master/internal/api_master.go
  master/pkg/logger/log_buffer.go
  proto/buf.image.bin
  proto/pkg/masterv1/master.pb.go
  proto/src/determined/master/v1/master.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend, @determined-ai/ml-sys

Made sugested changes and simplified code
  docs/patch_master_config_cli.rst
  docs/release-notes/patch_master_config_cli.rst
  harness/determined/cli/master.py
  master/internal/api_master.go
Owners: @determined-ai/ml-sys, @determined-ai/backend

chore: revert task obfuscation lint failures (#8406)
  harness/determined/cli/agent.py
  harness/determined/cli/task.py
  master/internal/api_tasks.go
  master/internal/api_tasks_intg_test.go
  master/internal/authz/obfuscate.go
Owners: @determined-ai/ml-sys, @determined-ai/backend

chore: enable `noImplicitOverride`
  bindings/generate_bindings_ts.py
  webui/react/src/components/ErrorBoundary.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/stores/determinedInfo.tsx
  webui/react/tsconfig.json
Owners: @determined-ai/web

chore: enable `noImplicitThis`
  webui/react/tsconfig.json
Owners: @determined-ai/web

chore: remove `strictPropertyInitialization: false`
  bindings/generate_bindings_ts.py
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/utils/error.ts
  webui/react/src/utils/storage.ts
  webui/react/tsconfig.json
Owners: @determined-ai/web

chore: enable `noUnusedLocals`
  webui/react/src/components/Badge.test.tsx
  webui/react/src/components/ConditionalWrapper.test.tsx
  webui/react/src/components/ResourcePoolCard.test.tsx
  webui/react/src/components/RoutePagination.test.tsx
  webui/react/src/components/Table/ResponsiveTable.test.tsx
  webui/react/src/components/Table/ResponsiveTable.tsx
  webui/react/src/components/TimeDuration.test.tsx
  webui/react/src/pages/JobQueue/JobQueue.table.tsx
  webui/react/src/utils/md5.ts
  webui/react/tsconfig.json
Owners: @determined-ai/web

chore: enable `noImplicitReturns`
  webui/react/src/components/ModelCreateModal.tsx
  webui/react/src/components/ModelVersionDeleteModal.tsx
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/components/TimeAgo.tsx
  webui/react/src/components/UPlot/UPlotChart/drawPointsPlugin.ts
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/JobQueue/ManageJob.tsx
  webui/react/src/pages/WebhookList.tsx
  webui/react/src/services/utils.ts
  webui/react/tsconfig.json
  webui/react/vite-plugin-svg-to-jsx.ts
Owners: @determined-ai/web

chore: enable `noUnusedParameters`
  webui/react/src/components/CheckpointModalTrigger.tsx
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/components/ExperimentCreateModal.tsx
  webui/react/src/components/JupyterLabModal.tsx
  webui/react/src/components/ModelRegistry.tsx
  webui/react/src/components/PasswordChangeModal.tsx
  webui/react/src/components/ProjectNoteDeleteModal.tsx
  webui/react/src/components/RoutePagination.tsx
  webui/react/src/components/Table/InteractiveTable.tsx
  webui/react/src/components/Table/ResponsiveTable.test.tsx
  webui/react/src/components/Table/ResponsiveTable.tsx
  webui/react/src/components/Table/Table.tsx
  webui/react/src/components/TaskList.tsx
  webui/react/src/components/TrialLogPreview.tsx
  webui/react/src/components/UPlot/UPlotChart/drawPointsPlugin.ts
  webui/react/src/components/UPlot/UPlotScatter.tsx
  webui/react/src/components/UPlot/UPlotScatter/UPlotScatter.utils.ts
  webui/react/src/hooks/useModal/Checkpoint/useCheckpointFlow.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpHeatMaps.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpScatterPlots.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/utils.ts
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/TaskLogs.test.tsx
  webui/react/src/pages/TrialDetails/Profiles/Profiler.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsMetrics.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
  webui/react/src/pages/WebhookList.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
  webui/react/src/utils/experiment.ts
  webui/react/src/utils/task.ts
  webui/react/tsconfig.json
Owners: @determined-ai/web

feat: change cli command for patch master log config DET[9720] (#8054)
  docs/release-notes/patch_master_config_cli.rst
  e2e_tests/tests/cluster/managed_cluster.py
  harness/determined/cli/master.py
  harness/determined/common/api/bindings.py
  master/internal/api_master.go
  master/pkg/logger/log_buffer.go
  proto/buf.image.bin
  proto/pkg/masterv1/master.pb.go
  proto/src/determined/master/v1/master.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend, @determined-ai/ml-sys

Handle alignment
  webui/react/src/components/JsonGlossary.tsx
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/pages/ResourcePool/ResourcepoolDetail.tsx
Owners: @determined-ai/web

Use Glossary in CheckpointModal
  webui/react/src/components/CheckpointModal.module.scss
  webui/react/src/components/CheckpointModal.tsx
Owners: @determined-ai/web

Replace InfoBox with Glossary
  webui/react/src/components/InfoBox.module.scss
  webui/react/src/components/InfoBox.tsx
  webui/react/src/components/Metadata/EditableMetadata.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
Owners: @determined-ai/web

Upgrade hew
  webui/react/package-lock.json
  webui/react/package.json
Owners: @determined-ai/web

Use Glossary in Json
  webui/react/src/components/Json.module.scss
  webui/react/src/components/Json.tsx
  webui/react/src/components/JsonGlossary.tsx
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/components/ResourcePoolDetails.tsx
  webui/react/src/pages/ResourcePool/ResourcepoolDetail.tsx
Owners: @determined-ai/web

refactor: implement Glossary component from Hew (#8385)
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/CheckpointModal.module.scss
  webui/react/src/components/CheckpointModal.tsx
  webui/react/src/components/InfoBox.module.scss
  webui/react/src/components/InfoBox.tsx
  webui/react/src/components/Json.module.scss
  webui/react/src/components/Json.tsx
  webui/react/src/components/JsonGlossary.tsx
  webui/react/src/components/Metadata/EditableMetadata.tsx
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/components/ResourcePoolDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/ResourcePool/ResourcepoolDetail.tsx
Owners: @determined-ai/web

fix: make patch master config threadsafe
  master/internal/api_auth.go
  master/internal/api_command.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_master.go
  master/internal/api_master_intg_test.go
  master/internal/api_notebook.go
  master/internal/api_tensorboard.go
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/core.go
  master/internal/core_experiment.go
  master/internal/experiment.go
  master/internal/populate_metrics.go
  master/internal/restore.go
Owners: @determined-ai/backend

chore: export AddUserTx (#8403)
  master/internal/user/postgres_users.go
  master/internal/user/service_intg_test.go
Owners: @determined-ai/backend

pip install
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

fix this
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

chore: Add eslint rule
  webui/react/.eslintrc.js
  webui/react/src/components/FilterForm/components/FilterField.tsx
Owners: @determined-ai/web

fix: user flag to prompt for password during user requests
  e2e_tests/tests/command/test_shell.py
  harness/determined/common/api/authentication.py
  harness/tests/cli/test_auth.py
Owners: @determined-ai/backend, @determined-ai/ml-sys

add util for task
  master/internal/spec_util.go
Owners: @determined-ai/backend

migrate generic tasks
  master/internal/api_generic_tasks.go
Owners: @determined-ai/backend

migrate commands
  master/internal/api_command.go
Owners: @determined-ai/backend

fix: Project and Workspace cards wrap modal divs
  webui/react/src/components/ProjectCard.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceCard.tsx
Owners: @determined-ai/web

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github        @determined-ai/infrastructure
/master         @determined-ai/backend
/agent          @determined-ai/backend
/proto          @determined-ai/backend
/performance    @determined-ai/web

# CI is a mix
/.circleci            @determined-ai/infrastructure
/.circleci/devcluster @determined-ai/backend
/.circleci/packaging  @determined-ai/backend

# anyone can approve docs, except for specific files
/docs
/docs/index.rst     @determined-ai/docs
/docs/**/index.rst  @determined-ai/docs

# Harness is mapped to ml-sys by default, except for `cli`, `deploy`,
# and auto-generated bindings and version files.
/harness  @determined-ai/ml-sys
/harness/determined/common/api/bindings.py
/harness/determined/__version__.py

/schemas                          @determined-ai/ml-sys
/bindings/generate_bindings_py.py @determined-ai/ml-sys
/e2e_tests/tests/*.py             @determined-ai/ml-sys
/e2e_tests/tests/requirements.txt @determined-ai/ml-sys
/e2e_tests/tests/experiment       @determined-ai/ml-sys
/e2e_tests/tests/nightly          @determined-ai/ml-sys

# Backend owns some e2e tests.
/e2e_tests/tests/cluster  @determined-ai/backend
/e2e_tests/tests/command  @determined-ai/backend
/e2e_tests/tests/template @determined-ai/backend

# Owned by @determined-ai/web except for generated files
/webui    @determined-ai/web
/webui/react/src/services/api-ts-sdk/
