Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

apply active voice
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/k8s-dev-guide.rst
Owners: @determined-ai/docs

go lint
  master/internal/core.go
Owners: @determined-ai/backend

removing bun safe usage
  master/internal/experiment_filter.go
Owners: @determined-ai/backend

Support sorting in glide table
  webui/react/src/components/kit/Select.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.module.scss
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Owners: none

filter out invalid sorts when checking url param
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

better select handling/overflow behavior
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.module.scss
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Owners: none

unset page 0/empty sort cases
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Owners: none

introduce valid sort
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Owners: none

fix scroll/overflow issue
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.module.scss
Owners: none

decode server response to throw if contract is broken
  webui/react/src/ioTypes.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
Owners: none

reset pagination when sort changes
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

clear invalid sorts on popover close
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Owners: none

out: flexbox, in: grid
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.module.scss
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Owners: none

update asc/desc text
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Owners: none

set page loading to true
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

use text button for row add
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Owners: none

keep action bar while loading
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

remove outline from row remove button
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Owners: none

focus the newest sort's column on add
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Owners: none

shrink container width/close on clear all
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.module.scss
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Owners: none

default to ascending when column is selected
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Owners: none

remove danger treatment for remove button
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Owners: none

add clear all button
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.module.scss
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Owners: none

add types to detapi
  webui/react/src/services/api.ts
Owners: none

enable autofocus/make passthrough easier
  webui/react/src/components/kit/Select.tsx
Owners: none

clean up sort validation and base object reuse
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Owners: none

replace with empty sort
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Owners: none

use async/await to get project columns
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

save lines, close popover before clearing sorts
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Owners: none

remove options
  webui/react/src/services/types.ts
Owners: none

remove braces from columnoptions
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Owners: none

use sortstring state in searchparam setting
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

ban searcherType column
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Owners: none

ban bad columns
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Owners: none

move if statement before set state
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

add context menu items
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/menu.tsx
Owners: none

alex feedback #2
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Owners: none

remove magic-string
  webui/react/package-lock.json
  webui/react/package.json
Owners: none

chore: bump version: 0.21.3-dev0 -> 0.21.3-rc0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/setup.py
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: none

feat: agent support for podman
  agent/internal/agent.go
  agent/pkg/cruntimes/crutils.go
  agent/pkg/podman/podman.go
  agent/pkg/singularity/singularity.go
Owners: @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
