Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

remove GetResourcesContainerState hack (verified, purpose changed from orig pr, no longer needed
  master/internal/rm/agentrm/agent.go
  master/internal/task/allocation_service.go
  master/internal/task/allocationservice/allocationservice.go
Owners: @determined-ai/backend

ckpt
  master/Makefile
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/command/summary.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_service.go
  master/internal/trial.go
Owners: @determined-ai/backend

move back to queue
  master/internal/rm/rmevents/rmevents.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
Owners: @determined-ai/backend

various changes
  master/internal/command/command.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_service.go
  master/internal/task/tproto/tproto.go
  master/internal/trial.go
  master/internal/trial_test.go
Owners: @determined-ai/backend

ckpt
  master/Makefile
  master/internal/mocks/allocationmocks/allocation_service.go
  master/internal/mocks/rm.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/rmevents/rmevents.go
  master/internal/rm/tasklist/task_list_test.go
  master/internal/sproto/task.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_service.go
  master/internal/task/allocation_service_iface.go
  master/internal/trial.go
  master/internal/trial_test.go
Owners: @determined-ai/backend

tmp
  master/internal/rm/rmevents/rmevents_test.go
Owners: @determined-ai/backend

lintetc
  master/internal/command/command.go
Owners: @determined-ai/backend

ckpt
  master/internal/api_workspace.go
  master/internal/command/command.go
  master/internal/rm/agentrm/priority.go
  master/internal/rm/agentrm/round_robin.go
  master/internal/rm/rmevents/rmevents.go
  master/internal/rm/tasklist/task_list_test.go
  master/internal/sproto/task.go
  master/internal/task/allocation_service_iface.go
  master/internal/trial.go
Owners: @determined-ai/backend

tmp
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/core.go
  master/internal/mocks/allocationmocks/allocation_service.go
  master/internal/rm/rmevents/rmevents_test.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_service.go
  master/internal/task/allocation_service_iface.go
Owners: @determined-ai/backend

golandstuff
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_service.go
Owners: @determined-ai/backend

selfreview
  master/internal/api_trials.go
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/core.go
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/agentrm/priority.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/round_robin.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/rmevents/rmevents_test.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/task/allocation_service.go
  master/internal/task/allocation_service_iface.go
  master/internal/trial.go
Owners: @determined-ai/backend

fixtests
  master/internal/command/command_manager.go
  master/internal/command/notebook_manager.go
  master/internal/command/shell_manager.go
  master/internal/command/tensorboard_manager.go
  master/internal/rm/agentrm/resources.go
  master/internal/task/allocation.go
  master/pkg/tasks/task_command.go
  master/pkg/tasks/task_gc.go
  master/pkg/tasks/task_trial.go
Owners: @determined-ai/backend

tmp
  master/Makefile
  master/internal/api_trials.go
  master/internal/rm/agentrm/resources.go
  master/internal/rm/rmevents/rmevents.go
  master/internal/rm/rmevents/rmevents_test.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/trial.go
Owners: @determined-ai/backend

rendezvousstuff
  master/internal/api_trials.go
  master/internal/task/allocation.go
  master/internal/task/allocation_service.go
  master/internal/task/allocation_service_iface.go
Owners: @determined-ai/backend

agreewitherik
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_service.go
Owners: @determined-ai/backend

lintetc
  master/internal/mocks/allocationmocks/allocation_service.go
Owners: @determined-ai/backend

invert who emits release event
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/rmevents/rmevents_test.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
Owners: @determined-ai/backend

downgrade to flake8 5.0.4
  .pre-commit-config.yaml
  requirements.txt
Owners: none

make sync comments more obvious
  .pre-commit-config.yaml
Owners: none

Limit scope of helper method.
  harness/determined/common/experimental/workspace.py
Owners: none

chore: bump up flake8 to 3.9.2 (#7389)
  requirements.txt
Owners: none

ckpt
  master/internal/api_trials.go
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/experiment.go
  master/internal/restore.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_service.go
  master/internal/task/allocation_service_iface.go
  master/internal/trial.go
Owners: @determined-ai/backend

feat: add update master config API end point with RBACK and CLI command (#7318)
  docs/release-notes/patch_master_config.rst
  harness/determined/cli/master.py
  harness/determined/common/api/bindings.py
  master/internal/api_master.go
  master/internal/cluster/authz_basic_impl.go
  master/internal/cluster/authz_iface.go
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/master.pb.go
  proto/pkg/masterv1/master.pb.go
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/master.proto
  proto/src/determined/master/v1/master.proto
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/docs, @determined-ai/backend

format
  examples/features/torch_batch_process/batch_inference/generate_embedding/bert_embedding_generation.py
  examples/features/torch_batch_process/batch_inference/generate_embedding/config.yaml
  examples/features/torch_batch_process/batch_inference/generate_embedding/requirements.txt
Owners: none

fix: rbac filter on columns API (#7386)
  master/internal/api_project.go
Owners: @determined-ai/backend

fix: rbac filter on columns API (#7386)
  master/internal/api_project.go
Owners: @determined-ai/backend

test
  webui/react/src/e2e/navigation.spec.ts
Owners: none

feat:allow-pachyderm-notebook-extension
  master/internal/rm/kubernetesrm/spec.go
  master/pkg/model/environment_config.go
Owners: @determined-ai/backend

Fix tests
  webui/react/src/components/kit/Icon.test.tsx
Owners: none

feat: allow-pachyderm-notebook-extension
  master/internal/rm/kubernetesrm/spec.go
Owners: @determined-ai/backend

chore: Clean up redundant aria-labels, correct wrong aria-labels [WEB-1379] (#7384)
  webui/react/src/components/ActionSheet.tsx
  webui/react/src/components/FilterForm/TableFilter.tsx
  webui/react/src/components/FilterForm/components/FilterField.tsx
  webui/react/src/components/FilterForm/components/FilterGroup.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/RadioGroup.tsx
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/components/Table/TableFilterDropdown.tsx
  webui/react/src/components/kit/Empty.tsx
  webui/react/src/components/kit/Icon.test.tsx
  webui/react/src/components/kit/Icon.tsx
  webui/react/src/components/kit/InputShortcut.tsx
  webui/react/src/components/kit/Modal.tsx
  webui/react/src/components/kit/internal/Spinner/Spinner.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/TrialDetails/Header/TrialHeaderLeft.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
Owners: none

feat: allow-pachyderm-notebook-extension
  master/internal/rm/kubernetesrm/spec.go
Owners: @determined-ai/backend

fix: memoize settings in system metric chart
  webui/react/src/pages/TrialDetails/Profiles/Charts/SystemMetricChart.tsx
Owners: none

fix: memoize settings in model detail and experiment detail pages (#7390)
  webui/react/src/pages/ExperimentDetails/ExperimentMultiTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/SystemMetricChart.tsx
Owners: none

fix: memoize settings in model detail and experiment detail pages (#7390)
  webui/react/src/pages/ExperimentDetails/ExperimentMultiTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/SystemMetricChart.tsx
Owners: none

chore: bump version: 0.23.3-rc1 -> 0.23.3-rc2
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: @determined-ai/docs

chore: change compare tab refresh behavior
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.tsx
  webui/react/src/pages/F_ExpList/ComparisonView.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Owners: none

update variable instantiation and added dependency
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
Owners: none

fix: install sigusr1 on main thread only. (#7350)
  harness/determined/core/_context.py
Owners: none

fix: install sigusr1 on main thread only. (#7350)
  harness/determined/core/_context.py
Owners: none
