Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

indentation
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
Owners: @determined-ai/docs

rephrase for clarity
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
Owners: @determined-ai/docs

modified docs for clarity and k8s pod security
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/custom-pod-specs.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/overview.rst
Owners: @determined-ai/docs

fix: fix an issue with echo handler chaining.
  e2e_tests/tests/experiment/test_allocation_csv.py
  master/internal/cluster/authz_middleware.go
Owners: @determined-ai/backend

docs: modified docs for clarity and k8s pod security
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/overview.rst
Owners: @determined-ai/docs

revert: feat: k8s cluster info using taints/tolerations
  master/go.mod
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/pods_test.go
Owners: @determined-ai/backend

docs: do some copy editing (#6462)
  docs/architecture/introduction.rst
  docs/cluster-setup-guide/basic.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/overview.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/setup-eks-cluster.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
  docs/cluster-setup-guide/historical-cluster-usage-data.rst
  docs/cluster-setup-guide/security/rbac.rst
  docs/interfaces/cli-ug.rst
  docs/interfaces/commands-and-shells.rst
  docs/interfaces/index.rst
  docs/interfaces/notebooks.rst
  docs/reference/cli-reference.rst
  docs/reference/reference-interface/job-config-reference.rst
  docs/reference/reference-training/experiment-config-reference.rst
  docs/training/dtrain-introduction.rst
  docs/tutorials/pytorch-porting-tutorial.rst
Owners: @determined-ai/docs

populate the custom searcher logs with the correct event (#6470)
  harness/determined/searcher/_search_runner.py
Owners: none

Revert "chore: remove docker-compose from det deploy local [MLG-37] (#6386)"
  e2e_tests/tests/cluster/test_checkpoints.py
  e2e_tests/tests/cluster/test_resource_manager.py
  e2e_tests/tests/command/test_run.py
  e2e_tests/tests/command/test_tensorboard.py
  e2e_tests/tests/conftest.py
  e2e_tests/tests/deploy/test_local.py
  e2e_tests/tests/experiment/test_custom_searcher.py
  e2e_tests/tests/experiment/test_profiling.py
  e2e_tests/tests/template/test_template.py
  harness/determined/cli/job.py
  harness/determined/deploy/aws/gen_vcpu_mapping.py
  harness/determined/deploy/aws/preflight.py
  harness/determined/deploy/local/cli.py
  harness/determined/deploy/local/cluster_utils.py
  harness/determined/deploy/local/docker-compose.yaml
  harness/setup.py
  harness/tests/experiment/fixtures/pytorch_onevar_model.py
  tools/scripts/bumpenvs.py
  tools/scripts/refresh-ubuntu-amis.py
  tools/scripts/update-bumpenvs-yaml.py
Owners: none

feat: add extendable polling store
  webui/react/src/stores/polling.ts
Owners: none

chore: update auth store usage
  webui/react/src/App.tsx
  webui/react/src/components/CheckpointModalTrigger.test.tsx
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/components/JupyterLabModal.test.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/PasswordChangeModal.test.tsx
  webui/react/src/components/Router.tsx
  webui/react/src/hooks/useAuthCheck.ts
  webui/react/src/hooks/useModal/Experiment/useModalExperimentCreate.test.tsx
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/hooks/useSettingsProvider.tsx
  webui/react/src/hooks/useTelemetry.ts
  webui/react/src/pages/ExperimentDetails/CodeViewer/CodeViewer.test.tsx
  webui/react/src/pages/InteractiveTask.test.tsx
  webui/react/src/pages/Settings/SettingsAccount.test.tsx
  webui/react/src/pages/Settings/UserManagement.test.tsx
  webui/react/src/pages/SignIn.tsx
  webui/react/src/pages/SignOut.tsx
  webui/react/src/stores/cluster.tsx
Owners: none

refactor: standardize auth store
  webui/react/src/stores/auth.ts
Owners: none

fix: cannot access before init problem by hoisting serverAddress
  webui/react/src/routes/utils.ts
Owners: none

fix: correct unpin workspace params type
  webui/react/src/services/types.ts
Owners: none

refactor: standardize roles store
  webui/react/src/stores/roles.tsx
Owners: none

fix: search state accounting
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
Owners: none

chore: account for missing aws stack outputs [DET-9255] (#6455)
  .circleci/scripts/get_output_from_stack.py
Owners: none

chore: update task store usage
  webui/react/src/pages/Cluster/ClusterOverallStats.tsx
Owners: none

refactor: standardize cluster store
  webui/react/src/stores/cluster.tsx
Owners: none

refactor: standardize user store
  webui/react/src/stores/users.tsx
Owners: none

refactor: standardize determined info store
  webui/react/src/ioTypes.ts
  webui/react/src/stores/determinedInfo.tsx
  webui/react/src/types.ts
Owners: none

refactor: standardize workspace store
  webui/react/src/stores/workspaces.tsx
Owners: none

refactor: standardize project store
  webui/react/src/stores/projects.tsx
Owners: none

fix: update App loadable wait condition and canceler cleanup
  webui/react/src/App.tsx
  webui/react/src/components/Router.tsx
Owners: none

chore: update determined info store usage
  webui/react/src/App.tsx
  webui/react/src/components/Logo.tsx
  webui/react/src/components/Navigation.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/Page.tsx
  webui/react/src/components/PageMessage.tsx
  webui/react/src/components/ThemeProvider.tsx
  webui/react/src/hooks/useAuthCheck.ts
  webui/react/src/hooks/useFeature.ts
  webui/react/src/hooks/useTelemetry.ts
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/Settings/SettingsAccount.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/pages/SignIn.tsx
  webui/react/src/pages/SignOut.tsx
  webui/react/src/routes/utils.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/themes.ts
  webui/react/src/utils/browser.ts
Owners: none

chore: update workspace store usage
  webui/react/src/components/CheckpointModalTrigger.test.tsx
  webui/react/src/components/JupyterLabModal.test.tsx
  webui/react/src/components/JupyterLabModal.tsx
  webui/react/src/components/ModelCreateModal.tsx
  webui/react/src/components/ModelMoveModal.tsx
  webui/react/src/components/Navigation.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/TaskList.tsx
  webui/react/src/components/WorkspaceCreateModal.tsx
  webui/react/src/components/WorkspaceDeleteModal.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentMove.tsx
  webui/react/src/hooks/useModal/Model/useModalModelCreate.tsx
  webui/react/src/hooks/useModal/Model/useModalModelMove.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/SignOut.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceActionDropdown.tsx
  webui/react/src/stores/index.tsx
Owners: none

chore: update permission store usage
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/components/Navigation.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/SignOut.tsx
Owners: none

refactor: standardize task store
  webui/react/src/stores/tasks.tsx
Owners: none

chore: update roles store usage
  webui/react/src/components/CreateGroupModal.tsx
  webui/react/src/components/CreateUserModal.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateGroup.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/pages/SignOut.tsx
Owners: none

chore: update experiment store usage
  webui/react/src/pages/Cluster/ClusterOverallStats.tsx
Owners: none

refactor: standardize permission store
  webui/react/src/stores/permissions.tsx
Owners: none

refactor: standardize experiment store
  webui/react/src/stores/experiments.tsx
Owners: none

chore: update project store usage
  webui/react/src/hooks/useModal/Experiment/useModalExperimentMove.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
  webui/react/src/stores/index.tsx
  webui/react/src/stores/projects.tsx
Owners: none

fix: make mock api available to correctly run route related tests
  webui/react/src/setupTests.ts
Owners: none

chore: update cluster store usage
  webui/react/src/components/JupyterLabModal.test.tsx
  webui/react/src/components/JupyterLabModal.tsx
  webui/react/src/components/Navigation.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/ResourcePoolCard.test.tsx
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.test.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/pages/Cluster/ClusterOverallBar.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.test.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.tsx
  webui/react/src/pages/Cluster/utils.test.ts
  webui/react/src/pages/Clusters.tsx
  webui/react/src/pages/Clusters/ClustersOverview.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/JobQueue/ManageJob.tsx
  webui/react/src/pages/ResourcepoolDetail.tsx
  webui/react/src/stores/index.tsx
Owners: none

chore: update user store usage
  webui/react/src/App.tsx
  webui/react/src/components/CreateUserModal.tsx
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/components/Navigation.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/PasswordChangeModal.test.tsx
  webui/react/src/components/PasswordChangeModal.tsx
  webui/react/src/components/TaskList.tsx
  webui/react/src/components/kit/UserAvatar.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalPasswordChange.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/hooks/useSettings.ts
  webui/react/src/hooks/useSettingsProvider.tsx
  webui/react/src/hooks/useStorage.ts
  webui/react/src/pages/Cluster/ClusterHistoricalUsage.tsx
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/pages/ExperimentDetails/CodeViewer/CodeViewer.test.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/Settings/Settings.test.tsx
  webui/react/src/pages/Settings/SettingsAccount.test.tsx
  webui/react/src/pages/Settings/SettingsAccount.tsx
  webui/react/src/pages/Settings/UserManagement.test.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/pages/SignOut.tsx
  webui/react/src/pages/TrialsComparison/Collections/useTrialCollections.tsx
  webui/react/src/pages/TrialsComparison/Table/TrialTable.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
  webui/react/src/pages/WorkspaceList.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceCard.tsx
Owners: none

Revert "chore: remove docker-compose from det deploy local [MLG-37] (#6386)" (#6472)
  e2e_tests/tests/cluster/test_checkpoints.py
  e2e_tests/tests/cluster/test_resource_manager.py
  e2e_tests/tests/command/test_run.py
  e2e_tests/tests/command/test_tensorboard.py
  e2e_tests/tests/conftest.py
  e2e_tests/tests/deploy/test_local.py
  e2e_tests/tests/experiment/test_custom_searcher.py
  e2e_tests/tests/experiment/test_profiling.py
  e2e_tests/tests/template/test_template.py
  harness/determined/cli/job.py
  harness/determined/deploy/aws/gen_vcpu_mapping.py
  harness/determined/deploy/aws/preflight.py
  harness/determined/deploy/local/cli.py
  harness/determined/deploy/local/cluster_utils.py
  harness/determined/deploy/local/docker-compose.yaml
  harness/setup.py
  harness/tests/experiment/fixtures/pytorch_onevar_model.py
  tools/scripts/bumpenvs.py
  tools/scripts/refresh-ubuntu-amis.py
  tools/scripts/update-bumpenvs-yaml.py
Owners: none

fix: search state accounting (#6473)
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
Owners: none

revert: feat: k8s cluster info using taints/tolerations (#6474)
  master/go.mod
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/pods_test.go
Owners: @determined-ai/backend

minor changes
  examples/tutorials/core_api_pytorch_mnist/distributed.yaml
  examples/tutorials/core_api_pytorch_mnist/model_def_adaptive.py
  examples/tutorials/core_api_pytorch_mnist/model_def_checkpoints.py
  examples/tutorials/core_api_pytorch_mnist/model_def_distributed.py
Owners: none
