Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

print statemetns
  harness/determined/cli/agent.py
  master/internal/rm/kubernetesrm/pods.go
Owners: @determined-ai/backend

pool to node mappings
  master/internal/rm/kubernetesrm/pods.go
Owners: @determined-ai/backend

pool list
  master/internal/rm/kubernetesrm/pods.go
Owners: @determined-ai/backend

pr changes
  .gitignore
  harness/determined/cli/agent.py
  master/internal/rm/agentrm/agent.go
  master/internal/rm/kubernetesrm/pods.go
  master/pkg/model/agent.go
Owners: @determined-ai/backend

lint
  harness/determined/cli/agent.py
  helm/charts/determined/templates/master-deployment.yaml
  master/internal/rm/kubernetesrm/pods.go
Owners: @determined-ai/backend

resolve review comments
  docs/_shared/note-dtrain-learn-more.txt
  docs/model-dev-guide/dtrain/dtrain-implement.rst
  docs/model-dev-guide/dtrain/dtrain-introduction.rst
  docs/model-dev-guide/dtrain/index.rst
Owners: @determined-ai/docs

docs: Improve model dev guide
  docs/.redirects/redirects.json
  docs/_shared/note-dtrain-learn-more.txt
  docs/architecture/index.rst
  docs/architecture/introduction.rst
  docs/index.rst
  docs/model-dev-guide/apis-howto/api-core-ug.rst
  docs/model-dev-guide/apis-howto/api-keras-ug.rst
  docs/model-dev-guide/best-practices/overview.rst
  docs/model-dev-guide/dtrain/dtrain-implement.rst
  docs/model-dev-guide/dtrain/dtrain-introduction.rst
  docs/model-dev-guide/dtrain/index.rst
  docs/model-dev-guide/index.rst
  docs/model-dev-guide/load-model-data.rst
  docs/model-dev-guide/submit-experiment.rst
  docs/model-hub-library/mmdetection/overview.rst
  docs/model-hub-library/transformers/overview.rst
  docs/reference/deploy/config/helm-config-reference.rst
  docs/reference/deploy/config/master-config-reference.rst
  docs/reference/training/experiment-config-reference.rst
Owners: @determined-ai/docs

docs: Improve links to distributed training guide (#6983)
  docs/.redirects/redirects.json
  docs/_shared/note-dtrain-learn-more.txt
  docs/architecture/index.rst
  docs/architecture/introduction.rst
  docs/index.rst
  docs/model-dev-guide/apis-howto/api-core-ug.rst
  docs/model-dev-guide/apis-howto/api-keras-ug.rst
  docs/model-dev-guide/best-practices/overview.rst
  docs/model-dev-guide/dtrain/dtrain-implement.rst
  docs/model-dev-guide/dtrain/dtrain-introduction.rst
  docs/model-dev-guide/dtrain/index.rst
  docs/model-dev-guide/index.rst
  docs/model-dev-guide/load-model-data.rst
  docs/model-dev-guide/submit-experiment.rst
  docs/model-hub-library/mmdetection/overview.rst
  docs/model-hub-library/transformers/overview.rst
  docs/reference/deploy/config/helm-config-reference.rst
  docs/reference/deploy/config/master-config-reference.rst
  docs/reference/training/experiment-config-reference.rst
Owners: @determined-ai/docs

remove comment
  harness/determined/cli/agent.py
Owners: none

toString, fix task logs page
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/TaskLogs.tsx
Owners: none

ci: fix unit-test-react flake [WEB-1262] (#6995)
  webui/react/src/__mocks__/router.tsx
  webui/react/src/shared/utils/routes.test.ts
Owners: none

fix: fixing error that 'det w delete <workspace-name>' throws when the project(s) in it has no experiments (#6986)
  master/internal/db/postgres_experiments.go
Owners: @determined-ai/backend

pr changes
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/mocks/workspace_authz_iface.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
Owners: @determined-ai/backend

lint
  master/internal/db/postgres_rp_workspace_bindings.go
Owners: @determined-ai/backend

fix: In new breadcrumbs, uncategorized links to /projects/1 [WEB-1319] (#7013)
  webui/react/src/components/ModelMoveModal.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/TaskLogs.tsx
  webui/react/src/pages/TrialDetails.tsx
Owners: none

feat: unbind rp workspace binding handler + db helper (#7011)
  harness/determined/common/api/bindings.py
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/mocks/workspace_authz_iface.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/resourcepool.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/resourcepool.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

fix: WorkspaceList tableOffset bug
  webui/react/src/pages/WorkspaceList.tsx
Owners: none

fix: In new breadcrumbs, uncategorized links to /projects/1 [WEB-1319] (#7013)
  webui/react/src/components/ModelMoveModal.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/TaskLogs.tsx
  webui/react/src/pages/TrialDetails.tsx
Owners: none

chore: upgrade to typescript v5 (#6977)
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/shared/configs/eslintrc.js
  webui/react/src/utils/user.ts
Owners: none

fix: WorkspaceList tableOffset bug (#7017)
  webui/react/src/pages/WorkspaceList.tsx
Owners: none

fix: change tasktype from string to enum
  harness/determined/common/api/bindings.py
  master/static/srv/get_task.sql
  proto/pkg/taskv1/task.pb.go
  proto/src/determined/task/v1/task.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

chore: lock api state for backward compatibility check
  proto/buf.image.bin
Owners: @determined-ai/backend

squashed. add support for limiting and pushing limited jobs
  harness/determined/common/api/bindings.py
  master/internal/api_job.go
  master/internal/command/command.go
  master/internal/core_experiment.go
  master/internal/experiment.go
  master/internal/job/authz_basic_impl.go
  master/internal/job/authz_iface.go
  master/internal/workspace/postgres_workspace.go
  master/pkg/model/workspace.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/job.pb.go
  proto/pkg/jobv1/job.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/job.proto
  proto/src/determined/job/v1/job.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

backport job queue read rbac
  e2e_tests/tests/__init__.py
  e2e_tests/tests/api_utils.py
  harness/determined/common/api/_util.py
  harness/determined/common/api/bindings.py
  master/internal/api_job.go
  master/internal/job/job.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/src/determined/api/v1/api.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

chore(db): backfill tasks tables to always have entries for trials
  master/static/migrations/20230531154906_backfill_tasks.tx.down.sql
  master/static/migrations/20230531154906_backfill_tasks.tx.up.sql
Owners: @determined-ai/backend

fix: WorkspaceList tableOffset bug (#7017)
  webui/react/src/pages/WorkspaceList.tsx
Owners: none

chore: upgrade to typescript v5 (#6977)
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/shared/configs/eslintrc.js
  webui/react/src/utils/user.ts
Owners: none

fix: In new breadcrumbs, uncategorized links to /projects/1 [WEB-1319] (#7013)
  webui/react/src/components/ModelMoveModal.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/TaskLogs.tsx
  webui/react/src/pages/TrialDetails.tsx
Owners: none

update oneof job comment
  proto/pkg/jobv1/job.pb.go
  proto/src/determined/job/v1/job.proto
Owners: @determined-ai/backend

chore(actors): replace tasklogger (#6979)
  master/internal/api_checkpoint.go
  master/internal/api_experiment.go
  master/internal/api_ntsc_intg_test.go
  master/internal/api_tasks.go
  master/internal/checkpoint_gc.go
  master/internal/command/api.go
  master/internal/command/command.go
  master/internal/command/command_manager.go
  master/internal/command/notebook_manager.go
  master/internal/command/shell_manager.go
  master/internal/command/tensorboard_manager.go
  master/internal/core.go
  master/internal/experiment.go
  master/internal/restore.go
  master/internal/sproto/task_actor.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/logger.go
  master/internal/task/tasklogger/logger.go
  master/internal/task/tasklogger/logger_test.go
  master/internal/task/tasklogger/singleton.go
  master/internal/task/tasklogger/writer.go
  master/internal/trial.go
  master/internal/trial_test.go
Owners: @determined-ai/backend

fix: change taskType from string to enum
  harness/determined/common/api/bindings.py
  proto/buf.image.bin
  proto/pkg/taskv1/task.pb.go
  proto/src/determined/task/v1/task.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

fix: changing sql queries and tests to make postgres enum compatible with proto enum
  harness/determined/_info.py
  harness/determined/core/_context.py
  harness/determined/exec/harness.py
  harness/determined/exec/launch.py
  harness/determined/experimental/unmanaged.py
  harness/determined/launch/deepspeed.py
  harness/determined/launch/horovod.py
  harness/determined/pytorch/_trainer.py
  harness/tests/launch/test_util.py
  master/internal/command/command.go
  master/internal/db/postgres_tasks.go
  master/internal/db/postgres_tasks_intg_test.go
  master/pkg/model/task.go
  master/static/srv/get_task.sql
Owners: @determined-ai/backend

fix: WorkspaceList tableOffset bug (#7017)
  webui/react/src/pages/WorkspaceList.tsx
Owners: none

chore: bump version: 0.23.0-rc0 -> 0.23.0-rc1
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: none

chore: actor refactor -- proxy [DET-9509]
  master/internal/core.go
  master/internal/proxy/proxy.go
  master/internal/proxy/proxy_intg_test.go
  master/internal/task/allocation.go
  master/internal/task/idle_timeout.go
Owners: @determined-ai/backend

adding locks back to proxy
  master/internal/proxy/proxy.go
Owners: @determined-ai/backend

renamed GetSummary to Summary()
  master/internal/proxy/proxy.go
  master/internal/proxy/proxy_intg_test.go
  master/internal/task/idle_timeout.go
Owners: @determined-ai/backend

feat: Keep columns, show cells loading
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/exceptions.tsx
Owners: none

pass no column names until settings completes loading
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

feat: When modifying glide table filters, keep columns visible [WEB-1232] (#7010)
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/exceptions.tsx
Owners: none
