Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

chore: fill in missing intg tests [DET-9520] (#7222)
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
  master/static/migrations/20230626140104_add-rp-workspace-bindings-constraint.tx.down.sql
  master/static/migrations/20230626140104_add-rp-workspace-bindings-constraint.tx.up.sql
Owners: @determined-ai/backend

feat: protect cluster default resource pools from being bound [DET-9627] (#7299)
  master/internal/api_resourcepool.go
  master/internal/config/resource_config.go
Owners: @determined-ai/backend

feat: List RPs Avaiable to Workspace [DET-9531] (#7308)
  master/internal/api_workspace.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
  master/internal/mocks/workspace_authz_iface.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
Owners: @determined-ai/backend

feat: resolve default workspaces [DET-9523] (#7315)
  master/internal/api_command.go
  master/internal/checkpoint_gc.go
  master/internal/core_experiment.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/experiment.go
  master/internal/restore.go
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/resource_manager_iface.go
  master/pkg/model/workspace.go
Owners: @determined-ai/backend

missed int conversion
  master/internal/api_command.go
Owners: @determined-ai/backend

touch ups
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/trial.py
  master/internal/api_trials.go
  master/static/migrations/20230712112149_trial_source_info.tx.up.sql
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/src/determined/api/v1/api.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

fix: make `checkpoint_count` explicit
  master/internal/api_experiment_intg_test.go
  master/internal/experiment_filter.go
Owners: @determined-ai/backend

stabilizing
  harness/determined/common/api/bindings.py
  harness/determined/determined.code-workspace
  master/internal/api_trials_intg_test.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
  master/static/srv/get_trials_by_checkpoint.sql
  master/static/srv/get_trials_by_source_info.sql
  master/static/srv/insert_trial_source_info.sql
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/trial.proto
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

remove comment
  proto/src/determined/api/v1/trial.proto
Owners: @determined-ai/backend

fix proto linting
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/trial.proto
Owners: @determined-ai/backend

comments in proto
  proto/src/determined/api/v1/trial.proto
Owners: @determined-ai/backend

make the proto checks happy
  harness/determined/common/api/bindings.py
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  master/static/migrations/20230712112149_trial_source_info.tx.up.sql
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/trial.pb.go
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/trial.proto
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

go back to using the db.GetMetrics the original way
  master/internal/db/postgres_trial_metrics.go
Owners: @determined-ai/backend

one more try
  master/internal/db/postgres_trial_metrics.go
Owners: @determined-ai/backend

chore: use det custom json encoder in print_json (#7371)
  harness/determined/cli/render.py
Owners: none

update tests based on a util interface change
  e2e_tests/tests/command/test_notebook.py
Owners: none

rename PERF to TODO
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

chore: update make_url utility with fallback (#7259)
  e2e_tests/tests/command/test_notebook.py
  harness/determined/cli/dev.py
  harness/determined/common/api/__init__.py
  harness/determined/common/api/_util.py
  harness/determined/common/api/request.py
  harness/tests/common/test_api.py
  master/internal/core.go
Owners: @determined-ai/backend

chore: clean up comments in trial and metric code (#7376)
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
  master/internal/db/postgres_trial_metrics_test.go
Owners: @determined-ai/backend

improve comparison logic
  webui/react/src/hooks/useMetricNames.ts
Owners: none

logic update
  webui/react/src/hooks/useMetricNames.ts
Owners: none

chore: bump version: 0.23.3-rc0 -> 0.23.3-rc1
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: @determined-ai/docs

ci: fix some bugs in tracking of cherry-picked PRs (#7367)
  tools/scripts/track-pr
Owners: none

fix: make `checkpoint_count` explicit (#7374)
  master/internal/api_experiment_intg_test.go
  master/internal/experiment_filter.go
Owners: @determined-ai/backend

fix: make `checkpoint_count` explicit (#7374)
  master/internal/api_experiment_intg_test.go
  master/internal/experiment_filter.go
Owners: @determined-ai/backend

fix: update data loading in Keras CIFAR10 example
  examples/computer_vision/cifar10_tf_keras/const.yaml
  examples/computer_vision/cifar10_tf_keras/data.py
  examples/computer_vision/cifar10_tf_keras/distributed.yaml
  examples/computer_vision/cifar10_tf_keras/model_def.py
Owners: none

Fix NUM_CLASSES reference.
  examples/computer_vision/cifar10_tf_keras/cifar_model.py
Owners: none

styling and refactor
  webui/react/src/components/kit/InlineForm.module.scss
  webui/react/src/components/kit/InlineForm.tsx
  webui/react/src/components/kit/InputShortcut.module.scss
  webui/react/src/components/kit/InputShortcut.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/Settings/SettingsAccount.tsx
Owners: none

feat: add update master config API end point with RBACK and CLI command
  docs/release-notes/patch_master_config.rst
  harness/determined/cli/master.py
  harness/determined/common/api/bindings.py
  master/internal/api_master.go
  master/internal/cluster/authz_basic_impl.go
  master/internal/cluster/authz_iface.go
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/master.pb.go
  proto/pkg/masterv1/master.pb.go
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/master.proto
  proto/src/determined/master/v1/master.proto
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/docs, @determined-ai/backend

ci: make CASPER_TOKEN optional in `track-pr` script
  tools/scripts/track-pr
Owners: none

fix: Metrics reporting no data (#7368)
  webui/react/src/hooks/useMetricNames.ts
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
  webui/react/src/services/types.ts
Owners: none

Fixes GKE cluster version used for CircleCI
  .circleci/config.yml
Owners: none

docs: update aria labelling for sidebar toggles and toctree groups
  docs/requirements.txt
Owners: @determined-ai/docs

align-items
  webui/react/src/components/kit/InlineForm.module.scss
Owners: none

fix: prevent uncaught error when fetching trial summary
  webui/react/src/pages/TrialDetails/TrialChart.tsx
Owners: none

fix: prevent empty default metric names from being new references
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
Owners: none

chore: minor cleanup
  docs/_templates/page.html
  docs/_templates/search-field.html
  docs/conf.py
Owners: @determined-ai/docs

Fix minor CI issues.
  examples/computer_vision/cifar10_tf_keras/data.py
  harness/tests/experiment/keras/test_tf_keras_trial.py
Owners: none

chore: Clean up redundant aria-labels, correct wrong aria-labels
  webui/react/src/components/ActionSheet.tsx
  webui/react/src/components/FilterForm/TableFilter.tsx
  webui/react/src/components/FilterForm/components/FilterField.tsx
  webui/react/src/components/FilterForm/components/FilterGroup.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/RadioGroup.tsx
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/components/Table/TableFilterDropdown.tsx
  webui/react/src/components/kit/Empty.tsx
  webui/react/src/components/kit/Icon.tsx
  webui/react/src/components/kit/InputShortcut.tsx
  webui/react/src/components/kit/Modal.tsx
  webui/react/src/components/kit/internal/Spinner/Spinner.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/TrialDetails/Header/TrialHeaderLeft.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
Owners: none

Remove data.py, remove max_restarts
  examples/computer_vision/cifar10_tf_keras/const.yaml
  examples/computer_vision/cifar10_tf_keras/data.py
  examples/computer_vision/cifar10_tf_keras/distributed.yaml
  examples/computer_vision/cifar10_tf_keras/model_def.py
Owners: none

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
