Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

add tests for checking old behavior of make_url()
  harness/tests/common/test_api.py
Owners: none

change make_url
  harness/determined/common/api/request.py
Owners: none

update test expectations
  harness/tests/common/test_api.py
Owners: none

pytest parametrize
  harness/tests/common/test_api.py
Owners: none

docs: Make minor edits to username release note (#7149)
  docs/release-notes/username-cant-make-same-user.rst
Owners: @determined-ai/docs

fix: remember experiment list sorts (#7150)
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

fix: correct the fetch page index for paged view (#7153)
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

try multi gpu
  .circleci/config.yml
Owners: none

minor formatting
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Owners: none

feat: trials comparison table in experiment comparison [WEB-993] (#7111)
  webui/react/src/components/MetricSelect.tsx
  webui/react/src/components/SplitPane.module.scss
  webui/react/src/components/kit/internal/types.ts
  webui/react/src/hooks/useMetricNames.ts
  webui/react/src/ioTypes.ts
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.module.scss
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/pages/F_ExpList/ComparisonView.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.module.scss
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Owners: none

flail
  .circleci/config.yml
Owners: none

refactor test
  harness/tests/determined/common/experimental/test_determined.py
Owners: none

Rename
  harness/tests/fixtures/api_responses.py
Owners: none

WIP. add test, deprecate request, pass headers
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/scripts/proxy.js
  webui/react/scripts/test.sh
Owners: none

account for paths passed in
  harness/determined/common/api/request.py
Owners: none

avoid parsing query params
  webui/react/scripts/proxy.js
  webui/react/scripts/test.sh
Owners: none

remove a bunch or extra comments
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/utils.py
Owners: none

linting
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Owners: @determined-ai/backend

stay with npm request
  webui/react/scripts/proxy.js
Owners: none

improve error logging and response
  webui/react/scripts/proxy.js
Owners: none

revert harness and package changes
  harness/determined/common/api/request.py
  webui/react/package-lock.json
  webui/react/package.json
Owners: none

test
  harness/tests/determined/common/experimental/test_determined.py
Owners: none

fix bad struct
  master/internal/db/postgres_rp_workspace_bindings.go
Owners: @determined-ai/backend

fix integration test
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Owners: @determined-ai/backend

chore(actors): remove BuildTaskSpec message
  master/internal/api_user_intg_test.go
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/experiment.go
  master/internal/restore.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/trial.go
  master/internal/trial_test.go
  master/pkg/tasks/task.go
  master/pkg/tasks/task_command.go
  master/pkg/tasks/task_trial.go
Owners: @determined-ai/backend

review
  master/internal/api_notebook.go
  master/internal/task/allocation.go
  master/internal/task/idle/service.go
  master/internal/task/idle/watcher.go
  master/internal/task/idle/watcher_test.go
Owners: @determined-ai/backend

chore(actors): refactor allgather
  master/internal/actorsystem/singleton.go
  master/internal/api_tasks.go
  master/internal/core.go
  master/internal/task/all_gather.go
  master/internal/task/allgather.go
  master/internal/task/allgather/allgather.go
  master/internal/task/allgather/allgather_test.go
  master/internal/task/allgather/service.go
  master/internal/task/allocation.go
  master/internal/task/service.go
Owners: @determined-ai/backend

revert noop changes
  webui/react/scripts/proxy.js
Owners: none

update test test proxy var
  webui/react/scripts/test.sh
Owners: none

remove test
  webui/react/scripts/test.sh
Owners: none

chore: backport agent info permission definition. (#7143)
  harness/determined/common/api/bindings.py
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

refactor tests
  harness/tests/determined/common/experimental/test_determined.py
  harness/tests/determined/common/experimental/test_experiment.py
Owners: none

refactor tests
  harness/tests/determined/common/experimental/test_experiment.py
Owners: none

refactor trial_controller creation function
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/pytorch_utils.py
Owners: none

lint
  harness/determined/common/api/_util.py
Owners: none

init
  .pre-commit-config.yaml
Owners: none

disable go-vet and go-lint
  .pre-commit-config.yaml
Owners: none

cleanup comments
  .pre-commit-config.yaml
Owners: none

fix: deepspeed autotune user guide clarification (#7140)
  docs/model-dev-guide/apis-howto/deepspeed/autotuning.rst
Owners: @determined-ai/docs

bring over go pre-commit scripts from Bahjat/pre-commit-golang
  pre-commit/run-go-fmt-import.sh
  pre-commit/run-go-gofumpt.sh
  pre-commit/run-golangci-lint.sh
Owners: none

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
