Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

fix: only select new pages during selectAll mode
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

cleanup
  master/internal/rm/kubernetesrm/log.go
  master/internal/rm/kubernetesrm/pod.go
Owners: @determined-ai/backend

expand container log test
  master/internal/rm/kubernetesrm/mock_client_test.go
  master/internal/rm/kubernetesrm/pod_test.go
Owners: @determined-ai/backend

ci: skip non-fix/feat PRs in release automation (#6939)
  tools/scripts/gql.py
  tools/scripts/track-pr
Owners: none

chore: checking if a.restored to send task log [DET-9519]
  master/internal/task/allocation.go
Owners: @determined-ai/backend

chore: check if a.restored to send task log [DET-9515] (#6956)
  master/internal/task/allocation.go
Owners: @determined-ai/backend

ignore integrations directory
  harness/Makefile
Owners: none

docs: remove an obsolete section about `Checkpoint.load_from_path`. (#6909)
  docs/model-dev-guide/model-management/checkpoints.rst
Owners: @determined-ai/docs

docs: fix a typo in the proxy ports guide. (#6953)
  docs/interfaces/proxy-ports.rst
Owners: @determined-ai/docs

address comments
  docs/release-notes.rst
Owners: @determined-ai/docs

checkpoints now reports metadata.json in resources
  docs/release-notes/partial-checkpoint-delete.rst
  harness/determined/common/storage/azure.py
  harness/determined/common/storage/gcs.py
  harness/determined/common/storage/s3.py
  harness/determined/common/storage/shared.py
  harness/determined/core/_checkpoint.py
  master/internal/api_checkpoint.go
  master/internal/api_checkpoint_intg_test.go
Owners: @determined-ai/docs, @determined-ai/backend

chore: simplify det generated enum's str representation (#6942)
  bindings/generate_bindings_py.py
  harness/determined/cli/checkpoint.py
  harness/determined/cli/experiment.py
  harness/determined/cli/master.py
  harness/determined/cli/project.py
  harness/determined/cli/trial.py
  harness/determined/common/api/bindings.py
  harness/determined/common/constants.py
Owners: none

fix: k8s tasklist forever growing
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/resource_pool.go
Owners: @determined-ai/backend

fix: Test runs dirs (#6916)
  harness/tests/experiment/integrations/test_pytorch_lightning.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/test_local.py
Owners: none

add int check to hf cli arg overwrite
  harness/determined/pytorch/dsat/_utils.py
Owners: none

chore: fix bugs in redirects.py
  docs/redirects.py
Owners: @determined-ai/docs

fix indentation
  docs/release-notes.rst
Owners: @determined-ai/docs

chore: fix bugs in redirects.py (#6958)
  docs/redirects.py
Owners: @determined-ai/docs

style: update glide table styles to design specs [WEB-1227, WEB-1281] (#6811)
  webui/react/src/hooks/useResize.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.module.scss
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.module.scss
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/loadingCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/exceptions.tsx
  webui/react/src/pages/F_ExpList/glide-table/utils.ts
  webui/react/src/pages/ProjectDetails.module.scss
Owners: none

fix: only select new pages during selectAll mode (#6955)
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

efactor: move fetch out of dumb components and use callbacks instead
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/contextMenu.tsx
Owners: none

chore: update based on PR review
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

docs: Add release notes for 0.22.2 (#6954)
  docs/release-notes.rst
  docs/release-notes/command-config-cli-bind-mounts.rst
  docs/release-notes/deprecate-template-set.rst
  docs/release-notes/dont-accept-epoch-bad-values.rst
  docs/release-notes/fix-det-e-list-cli.rst
  docs/release-notes/launcher_329.rst
  docs/release-notes/remove-legacy-apis.rst
Owners: @determined-ai/docs

perf: render full experiment list [WEB-1234] (#6947)
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/contextMenu.tsx
Owners: none

chore: bump version: 0.22.2-rc1 -> 0.22.2
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/setup.py
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: none

Add chart '0.22.2' due to release
  determined-helm-chart_0.22.2.tgz
  index.yaml
Owners: none

allow id not wrapped in Loadable
  webui/react/src/components/WorkspaceCreateModal.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/stores/workspaces.tsx
Owners: none

use Loadable.isLoading
  webui/react/src/pages/WorkspaceDetails.tsx
Owners: none

Revert "checkpoints now reports metadata.json in resources"
  docs/release-notes/partial-checkpoint-delete.rst
  harness/determined/common/storage/azure.py
  harness/determined/common/storage/gcs.py
  harness/determined/common/storage/s3.py
  harness/determined/common/storage/shared.py
  harness/determined/core/_checkpoint.py
  master/internal/api_checkpoint.go
  master/internal/api_checkpoint_intg_test.go
Owners: @determined-ai/docs, @determined-ai/backend

fix fixture imports or move them to runtime
  harness/tests/experiment/fixtures/tf_keras_xor_model.py
  harness/tests/experiment/keras/test_tf_keras_trial.py
  harness/tests/experiment/test_local.py
Owners: none

performance increase
  harness/tests/experiment/fixtures/estimator_no_op/model_def.py
Owners: none

linting
  harness/tests/experiment/fixtures/estimator_no_op/model_def.py
  harness/tests/experiment/fixtures/tf_keras_xor_model.py
  harness/tests/experiment/keras/test_tf_keras_trial.py
  harness/tests/experiment/test_local.py
Owners: none

docs: Add release notes for 0.22.2 (#6954)
  docs/release-notes.rst
  docs/release-notes/command-config-cli-bind-mounts.rst
  docs/release-notes/deprecate-template-set.rst
  docs/release-notes/dont-accept-epoch-bad-values.rst
  docs/release-notes/fix-det-e-list-cli.rst
  docs/release-notes/launcher_329.rst
  docs/release-notes/remove-legacy-apis.rst
Owners: @determined-ai/docs

chore: bump version: 0.22.2-dev0 -> 0.22.3-dev0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/setup.py
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: none

fix accidential trivial test
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

shared routes utils
  webui/react/src/components/kit/utils/components/Link.tsx
  webui/react/src/components/kit/utils/types.ts
Owners: none

remove e2e_test run from config
  .circleci/config.yml
Owners: none

dont reset loadableWorkspaces unless changes were made
  webui/react/src/components/WorkspaceCreateModal.tsx
  webui/react/src/stores/workspaces.tsx
Owners: none

new test ensuring auto not used in hf cli args
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

add checks against copying "auto" to HF CLI entrypoint
  harness/determined/pytorch/dsat/_utils.py
Owners: none

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
