Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

fix naming
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

fix: Fix type mismatch on design page
  webui/react/design/index.tsx
Owners: none

fix: Fix type mismatch on design page (#7334)
  webui/react/design/index.tsx
Owners: none

fix: harmonize python & golang GET NotFound errs
  e2e_tests/tests/cluster/test_groups.py
  e2e_tests/tests/command/test_run.py
  harness/determined/cli/__init__.py
  harness/determined/cli/_util.py
  harness/determined/cli/command.py
  harness/determined/cli/experiment.py
  harness/determined/cli/project.py
  harness/determined/cli/user_groups.py
  harness/determined/cli/workspace.py
  harness/determined/common/api/errors.py
  harness/determined/common/api/request.py
  master/internal/api/error.go
  master/internal/core_checkpoint_intg_test.go
Owners: @determined-ai/backend

fix: ensure design kit landing page is typechecked
  webui/react/design/index.tsx
  webui/react/tsconfig.json
Owners: none

Add proper Json type to the code
  webui/react/src/components/Json.tsx
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/hooks/useSettingsProvider.tsx
  webui/react/src/stores/userSettings.tsx
  webui/react/src/types.ts
  webui/react/src/utils/data.ts
Owners: none

fix: harmonize python & golang GET NotFound errs (#7252)
  e2e_tests/tests/cluster/test_groups.py
  e2e_tests/tests/command/test_run.py
  harness/determined/cli/__init__.py
  harness/determined/cli/_util.py
  harness/determined/cli/command.py
  harness/determined/cli/experiment.py
  harness/determined/cli/project.py
  harness/determined/cli/user_groups.py
  harness/determined/cli/workspace.py
  harness/determined/common/api/errors.py
  harness/determined/common/api/request.py
  master/internal/api/error.go
  master/internal/core_checkpoint_intg_test.go
Owners: @determined-ai/backend

fix: Download to existing directory from shared_fs source [MLG-672] (#7328)
  harness/determined/common/experimental/checkpoint/_checkpoint.py
Owners: none

chore: temporarily disable python-coverage on test-gpu (#7331)
  .circleci/config.yml
Owners: none

chore: migrate to singularity --nvccli
  agent/pkg/singularity/singularity.go
Owners: @determined-ai/backend

Update webui/react/src/components/Json.tsx
  webui/react/src/components/Json.tsx
Owners: none

Add a debug entry for NVIDIA_VISIBLE_DEVICES
  master/static/srv/singularity-entrypoint-wrapper.sh
Owners: @determined-ai/backend

Some comments
  agent/pkg/singularity/singularity.go
Owners: @determined-ai/backend

chore: fix flaky TestReceiveContainerLog
  master/internal/rm/kubernetesrm/pod.go
Owners: @determined-ai/backend

add kubernetes RM workspace RP default
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
Owners: @determined-ai/backend

refactor code to take workspace ID
  master/internal/api_command.go
  master/internal/checkpoint_gc.go
  master/internal/core_experiment.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/experiment.go
  master/internal/restore.go
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/resource_manager_iface.go
Owners: @determined-ai/backend

change interface & agent RM & add db function
  master/internal/api_command.go
  master/internal/checkpoint_gc.go
  master/internal/core_experiment.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/experiment.go
  master/internal/restore.go
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/resource_manager_iface.go
Owners: @determined-ai/backend

propagate workspaceId throuh to the resource pool resolving function
  master/internal/api_notebook.go
  master/internal/api_shell.go
  master/internal/api_tensorboard.go
Owners: @determined-ai/backend

update workspace bun model
  master/pkg/model/workspace.go
Owners: @determined-ai/backend

docs: correct release date (#7333)
  docs/release-notes.rst
Owners: @determined-ai/docs

remove testing code
  master/internal/experiment.go
Owners: @determined-ai/backend

chore: Add proper Json type to the code (#7335)
  webui/react/src/components/Json.tsx
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/hooks/useSettingsProvider.tsx
  webui/react/src/stores/userSettings.tsx
  webui/react/src/types.ts
  webui/react/src/utils/data.ts
Owners: none

chore: fix flaky TestReceiveContainerLog (#7338)
  master/internal/rm/kubernetesrm/pod.go
Owners: @determined-ai/backend

chore: fix ray proxy pydantic testing issue
  examples/features/ports/startup-hook.sh
Owners: none

chore: fix ray proxy pydantic testing issue (#7340)
  examples/features/ports/startup-hook.sh
Owners: none

feat: create bindings tab in resource pool detail page
  webui/react/src/components/ResourcePoolBindings.module.scss
  webui/react/src/components/ResourcePoolBindings.tsx
  webui/react/src/pages/ResourcepoolDetail.tsx
Owners: none

chore: useMemo
  webui/react/src/components/ResourcePoolBindings.tsx
Owners: none

linting
  master/internal/config/resource_config.go
Owners: @determined-ai/backend

more attempts to use the metrics endpoint correct and fully run the queries with bun
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
  master/pkg/model/metrics.go
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/trial.proto
Owners: @determined-ai/backend

docs: Add saas directory
  docs/index.rst
  docs/saas/bring-aws-cloud.rst
  docs/saas/bring-gcp-cloud.rst
  docs/saas/get-started.rst
  docs/saas/index.rst
  docs/saas/team-mgmt.rst
  docs/saas/usage.rst
  docs/setup-cluster/deploy-cluster/index.rst
Owners: @determined-ai/docs

docs/Edit homepage title
  docs/index.rst
Owners: @determined-ai/docs

fix: ensure design kit landing page is typechecked (#7336)
  webui/react/design/index.tsx
  webui/react/tsconfig.json
Owners: none

docs/Edit homepage title (#7342)
  docs/index.rst
Owners: @determined-ai/docs

docs: fix version switcher (#7327)
  docs/_templates/sidebar-version.html
  docs/conf.py
Owners: @determined-ai/docs

address comments
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/services/decoder.ts
Owners: none

chore: added release note
  docs/release-notes/removed_config_endpoint.rst
Owners: @determined-ai/docs

chore: remove getConfig
  master/internal/core.go
  master/internal/user/service.go
Owners: @determined-ai/backend

chore: removed echo-backed /config and updated cli
  e2e_tests/tests/cluster/managed_cluster.py
  harness/determined/cli/master.py
  master/internal/core.go
  master/internal/user/service.go
  master/internal/user/service_test.go
Owners: @determined-ai/backend

try it
  .circleci/config.yml
Owners: none

fix: remove typo at the css import
  webui/react/src/components/kit/InlineForm.tsx
Owners: none

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
