Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/backend, @determined-ai/web, @determined-ai/docs, @determined-ai/ml-sys

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github        @determined-ai/infrastructure
/master         @determined-ai/backend
/agent          @determined-ai/backend
/proto          @determined-ai/backend
/performance    @determined-ai/web

# CI is a mix
/.circleci            @determined-ai/infrastructure
/.circleci/devcluster @determined-ai/backend
/.circleci/packaging  @determined-ai/backend

# anyone can approve docs, except for specific files
/docs
/docs/index.rst     @determined-ai/docs
/docs/**/index.rst  @determined-ai/docs

# Harness is mapped to ml-sys by default, except for `cli`, `deploy`,
# and auto-generated bindings and version files.
/harness  @determined-ai/ml-sys
/harness/determined/common/api/bindings.py
/harness/determined/__version__.py

/schemas                          @determined-ai/ml-sys
/bindings/generate_bindings_py.py @determined-ai/ml-sys
/e2e_tests/tests/*.py             @determined-ai/ml-sys
/e2e_tests/tests/requirements.txt @determined-ai/ml-sys
/e2e_tests/tests/experiment       @determined-ai/ml-sys
/e2e_tests/tests/nightly          @determined-ai/ml-sys

# Backend owns some e2e tests.
/e2e_tests/tests/cluster  @determined-ai/backend
/e2e_tests/tests/command  @determined-ai/backend
/e2e_tests/tests/template @determined-ai/backend

# Owned by @determined-ai/web except for generated files
/webui    @determined-ai/web
/webui/react/src/services/api-ts-sdk/

set remote message and permission to match CLI
  webui/react/src/components/CreateUserModal.tsx
Owners: @determined-ai/web

undo pagination alignment change
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: @determined-ai/web

remote user toast message
  webui/react/src/components/CreateUserModal.tsx
Owners: @determined-ai/web

give access
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

fix: fix an issue where failure to launch the lore container would not
  harness/determined/deploy/aws/templates/lore.yaml
Owners: @determined-ai/ml-sys

explicitly ask for a tag suffix in the lore container
  harness/determined/deploy/aws/templates/lore.yaml
Owners: @determined-ai/ml-sys

point hew to branch, misc fixes
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/pages/Admin/UserManagement.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
  webui/react/src/pages/WorkspaceList.tsx
Owners: @determined-ai/web

parent
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

fix: allow --json in det master config CLI command (#8413)
  harness/determined/cli/master.py
Owners: @determined-ai/ml-sys

Revert "fix: Place modal inside of ResourcePoolCard (#8414)"
  webui/react/src/components/ResourcePoolCard.tsx
Owners: @determined-ai/web

fix: Demo resource pool card revert + modal wrapper css
  webui/react/package-lock.json
  webui/react/package.json
Owners: @determined-ai/web

fmt
  webui/react/src/pages/Admin/UserManagement.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
Owners: @determined-ai/web

chore: fail deployment if launching part of the service fails (#8409)
  harness/determined/deploy/aws/templates/lore.yaml
Owners: @determined-ai/ml-sys

add test for spec util
  master/internal/spec_util_intg_test.go
Owners: @determined-ai/backend

roll back hew a bit so we can properly test
  webui/react/package-lock.json
Owners: @determined-ai/web

hard link
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

new cli output message if error
  harness/determined/cli/trial.py
  harness/determined/common/experimental/trial.py
Owners: @determined-ai/ml-sys

linting and other cleanup
  harness/determined/cli/trial.py
Owners: @determined-ai/ml-sys

wording
  harness/determined/cli/trial.py
Owners: @determined-ai/ml-sys

communicate checkpoint state
  harness/determined/cli/trial.py
Owners: @determined-ai/ml-sys

some fixes based on comments
  harness/determined/cli/trial.py
Owners: @determined-ai/ml-sys

chore: upgrade hew version
  webui/react/package-lock.json
  webui/react/package.json
Owners: @determined-ai/web

chore: made insert-dropdown-url.sh executable
  tools/scripts/insert-dropdown-url.sh
Owners: none

chore: make insert-dropdown-url.sh executable (#8418)
  tools/scripts/insert-dropdown-url.sh
Owners: none

chore: add docs dropdown link for new version
  docs/_static/version-switcher/versions.json
Owners: none

chore: lock published urls to preserve redirects
  docs/.redirects/all_published_urls_ever.json
Owners: none

chore: bump version: 0.26.4-dev0 -> 0.26.4-rc0
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Owners: @determined-ai/infrastructure, @determined-ai/ml-sys, @determined-ai/web

link
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

-P
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

rm file
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

circleci
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

order
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

cirleci
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

cache bust
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

removed
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

docs: Update non root container instructions
  docs/setup-cluster/checklists/_index.rst
Owners: none

resolving suggested edits
  docs/manage/users.rst
  docs/setup-cluster/checklists/_index.rst
Owners: none

docs: Update non root container instructions (#8273)
  docs/manage/users.rst
  docs/setup-cluster/checklists/_index.rst
Owners: none

conda dir
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure

closer
  .circleci/real_config.yml
Owners: @determined-ai/infrastructure
