Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

format keys
  webui/react/src/components/kit/InputShortcut.tsx
  webui/react/src/utils/shortcut.ts
Owners: none

check workspace and permissions
  webui/react/src/App.tsx
  webui/react/src/components/JupyterLabGlobal.tsx
Owners: none

lint
  master/pkg/syncx/queue/queue.go
  master/pkg/syncx/queue/queue_test.go
Owners: @determined-ai/backend

dont really need max size
  master/pkg/syncx/queue/queue.go
  master/pkg/syncx/queue/queue_test.go
Owners: @determined-ai/backend

remove more unnecessary
  master/pkg/syncx/queue/queue.go
  master/pkg/syncx/queue/queue_test.go
Owners: @determined-ai/backend

Update master/pkg/syncx/queue/queue.go
  master/pkg/syncx/queue/queue.go
Owners: @determined-ai/backend

Update master/pkg/syncx/queue/queue.go
  master/pkg/syncx/queue/queue.go
Owners: @determined-ai/backend

chore: add generic queue for Go
  master/pkg/syncx/queue/queue.go
  master/pkg/syncx/queue/queue_test.go
Owners: @determined-ai/backend

add MetricName
  master/pkg/model/metrics.go
Owners: @determined-ai/backend

update tests to use the require module
  master/pkg/model/metrics_test.go
Owners: @determined-ai/backend

preset slice len
  master/internal/api_trials.go
Owners: @determined-ai/backend

don't export metricName yet
  master/internal/api_trials.go
  master/pkg/model/metrics.go
Owners: @determined-ai/backend

chore(go): add a generic queue as a drop-in actor inbox replacement (#6962)
  master/pkg/syncx/queue/queue.go
  master/pkg/syncx/queue/queue_test.go
Owners: @determined-ai/backend

chore(actors): remove AllocationRef from tasklist.TaskList
  master/internal/api_tasks.go
  master/internal/api_trials.go
  master/internal/core.go
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/fair_share.go
  master/internal/rm/agentrm/mock_test.go
  master/internal/rm/agentrm/priority.go
  master/internal/rm/agentrm/priority_test.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/round_robin.go
  master/internal/rm/agentrm/scaling.go
  master/internal/rm/agentrm/scheduler_test.go
  master/internal/rm/allocationmap/allocation_map.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/resource_manager_iface.go
  master/internal/rm/tasklist/task_list.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
Owners: @determined-ai/backend

ci: notify via Slack on cherry-pick conflict during release
  .github/workflows/track-prs-for-release.yml
  .isort.cfg
  tools/scripts/gql.py
  tools/scripts/track-pr
Owners: @determined-ai/infrastructure

ci: notify via Slack on cherry-pick conflict during release (#7211)
  .github/workflows/track-prs-for-release.yml
  .isort.cfg
  tools/scripts/gql.py
  tools/scripts/track-pr
Owners: @determined-ai/infrastructure

chore: delete templates when deleting workspace. with user consent
  harness/determined/cli/workspace.py
  master/internal/api_workspace.go
Owners: @determined-ai/backend

test?
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Owners: @determined-ai/backend

wip setting up the protobuf
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/trial/v1/trial.proto
Owners: @determined-ai/backend

add migration for primary key on table
  master/static/migrations/20230626140104_add-rp-workspace-bindings-constraint.tx.down.sql
  master/static/migrations/20230626140104_add-rp-workspace-bindings-constraint.tx.up.sql
Owners: @determined-ai/backend

fix: add missing searcher types
  webui/react/src/components/FilterForm/components/type.ts
Owners: none

linting
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Owners: @determined-ai/backend

fix: chmod on windows
  harness/determined/cli/shell.py
  harness/setup.py
Owners: none

test: sort metrics by type in multiTrialSample (#7210)
  master/internal/api_trials.go
  master/pkg/model/metrics.go
  master/pkg/model/metrics_test.go
Owners: @determined-ai/backend

fix: delete templates on workspace delete (#7204)
  harness/determined/cli/workspace.py
  master/internal/api_workspace.go
Owners: @determined-ai/backend

oschmod doesn't accept WindowsPath objects
  harness/determined/cli/shell.py
Owners: none

fix: sort of `GetWorkspaceProjects` API
  master/internal/api_workspace.go
Owners: @determined-ai/backend

Revert "fix: master returns rbacEnabled = false; change filter for rbac tests (#7100)"
  e2e_tests/pytest.ini
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/cluster/managed_cluster.py
  e2e_tests/tests/cluster/managed_cluster_k8s.py
  e2e_tests/tests/cluster/test_agent_disable.py
  e2e_tests/tests/cluster/test_groups.py
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/cluster/test_oauth2_scim_client.py
  e2e_tests/tests/cluster/test_rbac.py
  e2e_tests/tests/cluster/test_users.py
  e2e_tests/tests/cluster/test_users_experiment_api.py
  e2e_tests/tests/cluster/test_workspace_org.py
  e2e_tests/tests/cluster/utils.py
  e2e_tests/tests/conftest.py
  e2e_tests/tests/deploy/test_local.py
  e2e_tests/tests/experiment/test_port_registry.py
  e2e_tests/tests/utils.py
  master/internal/config/authz_config.go
Owners: @determined-ai/backend

reuse common.util.deprecated for cli deprecation warnings
  harness/determined/common/declarative_argparse.py
Owners: none

fix a docstring
  harness/determined/core/_train.py
Owners: none

chore(actors): remove GetResourcesContainerState
  master/internal/rm/agentrm/agent.go
Owners: @determined-ai/backend

remove redundant trust_remote_code
  examples/hf_trainer_api/hf_image_classification/image_classification.py
Owners: none

feat: add trust_remote_code to hf dsat examples
  examples/hf_trainer_api/hf_image_classification/adaptive.yaml
  examples/hf_trainer_api/hf_image_classification/const.yaml
  examples/hf_trainer_api/hf_image_classification/const_epochs.yaml
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_image_classification/distributed.yaml
  examples/hf_trainer_api/hf_image_classification/image_classification.py
  examples/hf_trainer_api/hf_language_modeling/adaptive.yaml
  examples/hf_trainer_api/hf_language_modeling/const.yaml
  examples/hf_trainer_api/hf_language_modeling/const_epochs.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/distributed.yaml
  examples/hf_trainer_api/hf_language_modeling/run_clm.py
Owners: none

also fix underscores in docs
  docs/model-dev-guide/apis-howto/deepspeed/autotuning.rst
Owners: @determined-ai/docs

fix: replace dsat cli underscores with dashes
  harness/determined/pytorch/dsat/_utils.py
Owners: none

fix: revert #7100 (master returns rbacEnabled = false...) #7216
  e2e_tests/pytest.ini
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/cluster/managed_cluster.py
  e2e_tests/tests/cluster/managed_cluster_k8s.py
  e2e_tests/tests/cluster/test_agent_disable.py
  e2e_tests/tests/cluster/test_groups.py
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/cluster/test_oauth2_scim_client.py
  e2e_tests/tests/cluster/test_rbac.py
  e2e_tests/tests/cluster/test_users.py
  e2e_tests/tests/cluster/test_users_experiment_api.py
  e2e_tests/tests/cluster/test_workspace_org.py
  e2e_tests/tests/cluster/utils.py
  e2e_tests/tests/conftest.py
  e2e_tests/tests/deploy/test_local.py
  e2e_tests/tests/experiment/test_port_registry.py
  e2e_tests/tests/utils.py
  master/internal/config/authz_config.go
Owners: @determined-ai/backend

add more tests
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Owners: @determined-ai/backend

last changes
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Owners: @determined-ai/backend

linting
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Owners: @determined-ai/backend

finish TODOs in TestOverwriteBindings
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Owners: @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
