Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

chore: update code base to use clipboard button
  webui/react/src/components/ModelDownloadModal.tsx
  webui/react/src/components/kit/LogViewer/LogViewer.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.module.scss
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
Owners: none

test: add a basic clipboard test
  webui/react/src/components/kit/ClipboardButton.test.tsx
Owners: none

feat: add clipboard button to uikit
  webui/react/src/components/kit/ClipboardButton.tsx
  webui/react/src/shared/utils/dom.ts
Owners: none

chore: remove unused copy button
  webui/react/src/shared/components/CopyButton.tsx
Owners: none

clearer use of quarantined/flaky env
  .circleci/config.yml
  webui/react/Makefile
  webui/react/src/components/kit/LogViewer/LogViewer.test.tsx
  webui/react/src/quarantineTests.ts
Owners: none

chore: Quarantine select React test(s) (#6765)
  .circleci/config.yml
  webui/react/Makefile
  webui/react/src/components/kit/LogViewer/LogViewer.test.tsx
  webui/react/src/quarantineTests.ts
Owners: none

rework the diagram per feedback
  docs/assets/images/rbac-example-setup-dark.png
  docs/assets/images/rbac-example-setup-light.png
  docs/cluster-setup-guide/security/rbac.rst
Owners: @determined-ai/docs

docs: add rbac example setup diagram
  docs/assets/images/rbac-example-setup-light.png
  docs/cluster-setup-guide/security/rbac.rst
Owners: @determined-ai/docs

mostly done locally
  master/test/integration/api/api_experiments_benchmark_test.go
Owners: @determined-ai/backend

docs: add rbac example setup diagram (#6757)
  docs/assets/images/rbac-example-setup-dark.png
  docs/assets/images/rbac-example-setup-light.png
  docs/cluster-setup-guide/security/rbac.rst
Owners: @determined-ai/docs

fix proto lint
  proto/src/determined/experiment/v1/experiment.proto
Owners: @determined-ai/backend

move excludedExperimentIds into filters object
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_tensorboard.go
  master/internal/experiment/bulk_action.go
  proto/pkg/apiv1/experiment.pb.go
  proto/pkg/apiv1/tensorboard.pb.go
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/api/v1/tensorboard.proto
  webui/react/src/components/ExperimentMoveModal.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

more linting
  proto/pkg/experimentv1/experiment.pb.go
  proto/src/determined/experiment/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

apply review comments and lint everything
  docs/interfaces/notebooks.rst
Owners: @determined-ai/docs

docs: correct the cloud shared fs information. (#6780)
  docs/interfaces/notebooks.rst
Owners: @determined-ai/docs

ci: remove broken gh actions test-cli.
  .github/workflows/test-cli.yml
Owners: @determined-ai/infrastructure

run only gpu tests
  harness/Makefile
Owners: none

add search method tests
  harness/determined/pytorch/dsat/_defaults.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_run_dsat.py
  harness/tests/experiment/fixtures/deepspeed_autotune/example_experiment/deepspeed.yaml
  harness/tests/experiment/fixtures/deepspeed_autotune/example_experiment/ds_config.json
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

revert restarts change
  harness/determined/pytorch/dsat/_defaults.py
Owners: none

chore(circleci): limit doc preview generation to upstream branches
  .circleci/config.yml
Owners: none

fix typos.
  harness/determined/cli/template.py
  harness/determined/common/declarative_argparse.py
Owners: none

feat: adding e2e tests for DSAT, enabling searcher to shutdown client experiment [MLG-369] (#6781)
  e2e_tests/tests/config.py
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/nightly/test_distributed.py
  harness/determined/integrations/__init__.py
  harness/determined/pytorch/dsat/__main__.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/searcher/_remote_search_runner.py
  harness/determined/searcher/_search_runner.py
Owners: none

chore: lock api state for backward compatibility check
  proto/buf.image.bin
Owners: @determined-ai/backend

Write best ds config json to checkpoint
  harness/determined/pytorch/dsat/_dsat_search_method.py
Owners: none

chore: default gcp server disk size to 200gb
  harness/determined/deploy/gcp/terraform/modules/compute/main.tf
Owners: none

feat: provisioner error and retry logic
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/config.go
  master/internal/experiment.go
  master/internal/rm/agentrm/fair_share.go
  master/internal/rm/agentrm/priority.go
  master/internal/rm/agentrm/provisioner/aws.go
  master/internal/rm/agentrm/provisioner/aws_spot.go
  master/internal/rm/agentrm/provisioner/gcp.go
  master/internal/rm/agentrm/provisioner/provisioner.go
  master/internal/rm/agentrm/provisioner/provisioner_test.go
  master/internal/rm/agentrm/provisioner/setup.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/round_robin.go
  master/internal/rm/agentrm/scheduler.go
  master/internal/rm/agentrm/scheduler_test.go
  master/internal/task/allocation.go
  master/internal/trial.go
Owners: @determined-ai/backend

chore: fix devcontainer node version
  .devcontainer/devcontainer.json
Owners: none

chore: gcp bulk insert
  master/cmd/determined-master/root_test.go
  master/internal/config/provconfig/config_test.go
  master/internal/config/provconfig/gcp_config.go
  master/internal/rm/agentrm/provisioner/gcp.go
Owners: @determined-ai/backend

docs: add error timeout and retry docs
  docs/reference/reference-deploy/config/master-config-reference.rst
Owners: @determined-ai/docs

chore: review use of singularity pull in the agent
  agent/pkg/singularity/singularity.go
Owners: @determined-ai/backend

chore(circleci): limit doc preview generation to upstream branches (#6784)
  .circleci/config.yml
Owners: none

skip if no gpu detected
  harness/tests/experiment/integrations/test_deepspeed_trial.py
Owners: none

refactor: remove legacy echo experiment post/patch, trial and trial metrics get endpoints. (#6763)
  docs/release-notes/remove-legacy-apis.rst
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/fixtures/metric_maker/const.yaml
  e2e_tests/tests/fixtures/metric_maker/metric_maker.py
  e2e_tests/tests/fixtures/metric_maker/nans.yaml
  harness/determined/cli/experiment.py
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/core.go
  master/internal/core_experiment.go
  master/internal/core_experiment_intg_test.go
  master/internal/core_trial.go
  master/internal/core_trial_intg_test.go
  master/pkg/model/experiment.go
  master/static/srv/get_trial.sql
  master/static/srv/get_trial_metrics.sql
  proto/pkg/experimentv1/experiment.pb.go
  proto/src/determined/experiment/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/docs, @determined-ai/backend

adds circle ci
  .circleci/config.yml
  master/Makefile
Owners: @determined-ai/backend

Add another devcluster
  .circleci/config.yml
  .circleci/devcluster/test-perf.devcluster.yaml
Owners: none

didnt add it
  .circleci/config.yml
Owners: none

bump deepspeed image version
  .circleci/config.yml
Owners: none

fix doing nothing
  master/Makefile
Owners: @determined-ai/backend

update hf ex readme
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/README.md
Owners: none

feat: add search method tests (#6785)
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/README.md
  harness/determined/pytorch/dsat/_defaults.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_run_dsat.py
  harness/tests/experiment/fixtures/deepspeed_autotune/example_experiment/deepspeed.yaml
  harness/tests/experiment/fixtures/deepspeed_autotune/example_experiment/ds_config.json
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
