Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @ioga, @hamidzr, @trentwatt

chore: update badge test component
  webui/react/src/components/Badge.module.scss
  webui/react/src/components/Badge.test.tsx
  webui/react/src/components/Badge.tsx
Owners: none

fix: update tests to have store providers for theme store dependent components
  webui/react/src/components/Badge.test.tsx
  webui/react/src/components/BadgeTag.test.tsx
  webui/react/src/components/BadgeTag.tsx
  webui/react/src/components/CheckpointModalTrigger.test.tsx
  webui/react/src/components/CheckpointModalTrigger.tsx
  webui/react/src/components/MetricBadgeTag.test.tsx
  webui/react/src/components/ThemeToggle.test.tsx
Owners: none

feat: introduct image asset component to better handle dark and light themes
  webui/react/src/shared/components/Image/Image.module.scss
  webui/react/src/shared/components/Image/Image.tsx
  webui/react/src/shared/components/Image/index.ts
Owners: @hamidzr, @trentwatt

style: update messages to use new image asset
  webui/react/src/shared/assets/images/icon-alert.svg
  webui/react/src/shared/assets/images/icon-warning.svg
  webui/react/src/shared/components/Message/Message.module.scss
  webui/react/src/shared/components/Message/Message.tsx
Owners: @hamidzr, @trentwatt

chore: resolve new user avatar shared component changes
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/UserAvatar.tsx
  webui/react/src/components/UserAvatarCard.tsx
  webui/react/src/shared/components/Avatar/Avatar.stories.tsx
  webui/react/src/shared/components/Avatar/Avatar.tsx
  webui/react/src/shared/components/AvatarCard/AvatarCard.tsx
Owners: @hamidzr, @trentwatt

test: update tests to remove warnings
  webui/react/src/components/Badge.test.tsx
  webui/react/src/components/CheckpointModalTrigger.test.tsx
  webui/react/src/components/InlineEditor.test.tsx
  webui/react/src/components/LogViewer/LogViewer.test.tsx
  webui/react/src/components/Metadata/EditableMetadata.test.tsx
  webui/react/src/components/MultiSelect.test.tsx
  webui/react/src/components/RadioGroup.test.tsx
  webui/react/src/components/RoutePagination.test.tsx
  webui/react/src/components/SelectFilter.test.tsx
  webui/react/src/components/ThemeToggle.test.tsx
  webui/react/src/shared/components/Message/Message.test.tsx
  webui/react/src/shared/components/Spinner/Spinner.test.tsx
Owners: @hamidzr, @trentwatt

fix produce type
  master/internal/core_experiment.go
Owners: none

WIP (but mostly working) integration tests for user groups SQL
  master/internal/db/database.go
  master/internal/db/postgres.go
  master/internal/db/postgres_groups.go
  master/pkg/model/user_group.go
  master/static/migrations/20220706152654_add-user-groups.tx.down.sql
  master/static/migrations/20220706152654_add-user-groups.tx.up.sql
  master/test/integration/api/group_test.go
Owners: none

fix: update jupyter lab modal to show wider full config size
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.tsx
Owners: none

chore: fix lint
  webui/react/src/components/Badge.tsx
  webui/react/src/components/CheckpointModalTrigger.test.tsx
  webui/react/src/components/CheckpointModalTrigger.tsx
  webui/react/src/components/Metadata/EditableMetadata.test.tsx
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.tsx
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.tsx
  webui/react/src/hooks/useModal/Model/useModalModelCreate.tsx
  webui/react/src/pages/ModelRegistry.tsx
Owners: none

chore: resolve merge conflicts
  webui/react/src/hooks/useModal/Model/useModalModelCreate.tsx
  webui/react/src/hooks/useModalModelCreate.module.scss
  webui/react/src/hooks/useModalModelCreate.tsx
Owners: none

fix get file re sync
  master/internal/cache/cache.go
  master/internal/cache/cache_intg_test.go
Owners: none

gen documents
  webui/react/src/services/api-ts-sdk/api.ts
Owners: none

docs + test
  docs/sysadmin-basics/cluster-config.txt
  master/internal/resourcemanagers/kubernetes/spec_test.go
  master/pkg/model/task_container_defaults_test.go
Owners: @ioga

feature work
  docs/release-notes/task-container-env-defaults.txt
  master/pkg/model/defaults.go
  master/pkg/model/task_container_defaults.go
  master/pkg/schemas/expconf/environment_config.go
Owners: none

doc feedback
  docs/release-notes/task-container-env-defaults.txt
  docs/sysadmin-basics/cluster-config.txt
Owners: none

tests
  master/internal/resourcemanagers/kubernetes/spec_test.go
  master/pkg/model/experiment_config_test.go
  master/pkg/schemas/expconf/environment_config.go
Owners: @ioga

feat: use skeleton component for rendering the table while fetching data
  webui/react/src/components/ResponsiveTable.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHyperparameters.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
Owners: none

test: update tests to have store provider
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.test.tsx
  webui/react/src/shared/components/Image/Image.tsx
  webui/react/src/shared/components/Message/Message.test.tsx
Owners: @hamidzr, @trentwatt

docs: add release notes for 0.18.3
  docs/release-notes.txt
  docs/release-notes/4142-tensorboard-profiler-data-from-workers.txt
  docs/release-notes/4391-cluster-overview.txt
  docs/release-notes/4412-registry-auth.txt
  docs/release-notes/additional_fluent_outputs.txt
  docs/release-notes/agent-config-path.txt
  docs/release-notes/non-root-init-k8s.txt
  docs/release-notes/rolling-commands.txt
  docs/release-notes/shm-size-str.txt
  docs/release-notes/state-wrong-allocation-state.txt
Owners: none

functional endpoint
  master/internal/api_trials.go
  master/internal/db/postgres_trial.go
Owners: none

style: update modal styles
  webui/react/src/shared/styles/antd.scss
Owners: @hamidzr, @trentwatt

chore: fix lint
  webui/react/src/components/UPlot/UPlotChart.tsx
Owners: none

Add test_compatibility_workloads (WIP?) and test_supports
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

Improve test_training_not_started to cover _should_communicate_and_update
  harness/tests/experiment/pytorch/test_pytorch_context.py
Owners: none

Initial commit. Move some tests from test_local.py to new test_pytorch_context.py; additional new tests
  harness/tests/experiment/pytorch/test_pytorch_context.py
  harness/tests/experiment/test_local.py
Owners: none

Typos, grammar
  harness/tests/experiment/keras/test_tf_keras_trial.py
  harness/tests/test_imports.py
Owners: none

Optimize imports, type-hinting, typos, grammar
  harness/determined/pytorch/_pytorch_context.py
  harness/tests/experiment/fixtures/pytorch_xor_model.py
  harness/tests/experiment/pytorch/test_pytorch_context.py
  harness/tests/experiment/test_local.py
  harness/tests/experiment/utils.py
Owners: none

Parameterize test_context and remove new, partially redundant test
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

Make _average_gradients a static method
  harness/determined/pytorch/_pytorch_context.py
Owners: none

Add tests of LR scheduler step modes
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

Typos, grammar, docs
  harness/determined/pytorch/_pytorch_trial.py
Owners: none

Swap if-else branches in test_wrap_scalar for readability and to match patterns elsewhere
  harness/tests/experiment/pytorch/test_pytorch_context.py
Owners: none

Typos in documentation
  harness/determined/core/_distributed.py
  harness/tests/experiment/pytorch/test_deepspeed_trial.py
Owners: none

Typo
  harness/determined/_trial_controller.py
Owners: none

Make workloads Optional in make_trial_controller_from_trial_implementation (related to test_compatibility_workloads)
  harness/tests/experiment/utils.py
Owners: none

Line break in method doc
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

test_apex_amp and XORTrialWithApexAmp
  harness/tests/experiment/fixtures/pytorch_xor_model.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

mypy fixes
  harness/determined/core/_distributed.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

explicit solution
  e2e_tests/tests/cluster/managed_cluster.py
  e2e_tests/tests/cluster/test_priority_scheduler.py
  e2e_tests/tests/cluster/utils.py
  e2e_tests/tests/config.py
  e2e_tests/tests/experiment/experiment.py
Owners: none

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# Notify eng-infra team of .github changes
/.github  @determined-ai/infrastructure

# Ilia cares about agent RM.
/master/internal/resourcemanagers/ @ioga
/master/internal/sproto/ @ioga
/proto/src/determined/ @ioga
/agent/ @ioga

# Hamid and Trent care about shared code
/webui/react/src/shared/ @hamidzr @trentwatt
