Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

fix: add fp16 flags to hf ds examples (#7265)
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
Owners: none

ci: Fix GKE cluster version used for CircleCI (#7385)
  .circleci/config.yml
Owners: none

regen bindings
  harness/determined/common/api/bindings.py
  webui/react/src/services/api-ts-sdk/api.ts
Owners: none

Refactor checkpoint modal to new modal framework
  webui/react/src/components/CheckpointModal.module.scss
  webui/react/src/components/CheckpointModal.tsx
  webui/react/src/components/CheckpointModalTrigger.tsx
  webui/react/src/components/kit/Modal.tsx
  webui/react/src/hooks/useModal/Checkpoint/useCheckpointFlow.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/TrialDetails/F_TrialDetailsOverview.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
Owners: none

Remove old checkpoint modal
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.module.scss
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.test.tsx
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.tsx
Owners: none

format
  e2e_tests/tests/config.py
  e2e_tests/tests/experiment/test_torch_batch_process.py
  examples/features/torch_batch_process/batch_inference/generate_embedding/distributed.yaml
Owners: none

remove unused import
  e2e_tests/tests/experiment/test_pytorch.py
Owners: none

Attempt to reduce CI memory usage.
  examples/computer_vision/cifar10_tf_keras/model_def.py
Owners: none

use lsp rename to rename metric_type to group
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/trial.py
  harness/determined/core/_train.py
  harness/determined/experimental/client.py
Owners: none

rename tests
  e2e_tests/tests/fixtures/custom_searcher/model_coreapi.py
Owners: none

Add confimation provider
  webui/react/src/components/CheckpointModalTrigger.test.tsx
Owners: none

move test location
  e2e_tests/tests/experiment/test_torch_batch_process.py
  e2e_tests/tests/nightly/test_distributed.py
Owners: none

fix a comment
  harness/determined/common/experimental/trial.py
Owners: none

avoid changing the behavior
  harness/determined/core/_train.py
Owners: none

fix: refactor checkpoint modal so it closes correctly [WEB-1441] (#7398)
  webui/react/src/components/CheckpointModal.module.scss
  webui/react/src/components/CheckpointModal.tsx
  webui/react/src/components/CheckpointModalTrigger.test.tsx
  webui/react/src/components/CheckpointModalTrigger.tsx
  webui/react/src/components/kit/Modal.tsx
  webui/react/src/hooks/useModal/Checkpoint/useCheckpointFlow.tsx
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.test.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/TrialDetails/F_TrialDetailsOverview.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
Owners: none

fix: refactor checkpoint modal so it closes correctly [WEB-1441] (#7398)
  webui/react/src/components/CheckpointModal.module.scss
  webui/react/src/components/CheckpointModal.tsx
  webui/react/src/components/CheckpointModalTrigger.test.tsx
  webui/react/src/components/CheckpointModalTrigger.tsx
  webui/react/src/components/kit/Modal.tsx
  webui/react/src/hooks/useModal/Checkpoint/useCheckpointFlow.tsx
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.test.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/TrialDetails/F_TrialDetailsOverview.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
Owners: none

update deprecated doc strings
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/trial.py
Owners: none

chore: add workspace names (#7388)
  harness/determined/common/api/bindings.py
  master/internal/db/postgres_rp_workspace_bindings.go
  proto/buf.image.bin
  proto/pkg/apiv1/resourcepool.pb.go
  proto/src/determined/api/v1/resourcepool.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

chore: rename Trial to LegacyTrial and TrialReference/ExperimentReference to Trial/Experiment in SDK [MLG-547] (#6940)
  docs/model-dev-guide/model-management/checkpoints.rst
  docs/reference/python-sdk.rst
  docs/release-notes.rst
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/fixtures/no_op/model_def.py
  e2e_tests/tests/test_sdk.py
  harness/determined/__init__.py
  harness/determined/_execution.py
  harness/determined/_trial.py
  harness/determined/_trial_controller.py
  harness/determined/cli/experiment.py
  harness/determined/common/experimental/__init__.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/trial.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/experimental/__init__.py
  harness/determined/experimental/_native.py
  harness/determined/experimental/client.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/load.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/tests/cli/test_experiment.py
  harness/tests/experiment/utils.py
Owners: @determined-ai/docs

missing decorator
  harness/tests/determined/common/experimental/test_experiment.py
Owners: none

fix typing
  harness/tests/determined/common/experimental/test_experiment.py
Owners: none

wip supporting model version queries
  master/internal/api_trials.go
  proto/buf.image.bin
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/trial.proto
Owners: @determined-ai/backend

WIP
  master/internal/rm/kubernetesrm/spec.go
Owners: @determined-ai/backend

add README
  examples/features/torch_batch_process/batch_inference/generate_embedding/README.md
Owners: none

fail with non-zero exit code when password change fails
  harness/determined/cli/user.py
Owners: none

Loadable.all
  webui/react/src/pages/Settings/SettingsAccount.tsx
Owners: none

chore: cache and reload in Python SDK [MLG-549] (#6853)
  e2e_tests/tests/cluster/test_model_registry.py
  e2e_tests/tests/cluster/test_resource_pools.py
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/test_sdk.py
  harness/determined/cli/checkpoint.py
  harness/determined/cli/experiment.py
  harness/determined/cli/model.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/model.py
  harness/determined/common/experimental/trial.py
  harness/determined/common/experimental/user.py
  harness/tests/cli/test_experiment.py
  harness/tests/common/api_server.py
  harness/tests/common/test_api_server.py
  harness/tests/determined/common/experimental/test_experiment.py
  harness/tests/fixtures/experiment.json
Owners: none

feat: add summary metrics to SDK and CLI [MLG-648] (#7255)
  harness/determined/cli/trial.py
  harness/determined/common/experimental/trial.py
  harness/tests/determined/common/experimental/test_determined.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/trial.json
Owners: none

test: Add another mock to checkpoint tests (#7260)
  harness/tests/determined/common/experimental/test_checkpoint.py
Owners: none

chore: fix bad merge rebase (#7346)
  harness/determined/common/api/_util.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/model.py
  harness/determined/experimental/client.py
  harness/tests/determined/common/experimental/test_experiment.py
Owners: none

chore: reload only when explicit
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/model.py
Owners: none

edit README
  examples/features/torch_batch_process/batch_inference/generate_embedding/README.md
Owners: none

chore: Expose trial state to Trial
  harness/determined/common/experimental/trial.py
Owners: none

test: Test new Trial state hydration.
  harness/tests/determined/common/experimental/test_determined.py
Owners: none

section divider, spacing
  webui/react/src/components/Section.module.scss
  webui/react/src/pages/Settings/SettingsAccount.tsx
Owners: none

Better error message when downloading a checkpoint without state.
  harness/determined/common/experimental/checkpoint/_checkpoint.py
Owners: none

Try again to fix unit test memory usage.
  examples/computer_vision/cifar10_tf_keras/model_def.py
Owners: none

fmt
  webui/react/src/components/Section.module.scss
  webui/react/src/pages/Settings/SettingsAccount.tsx
Owners: none

update test expectation for what method gets called and logged
  harness/tests/experiment/pytorch/test_examples.py
Owners: none

InlineForm for password
  webui/react/src/components/PasswordChangeModal.test.tsx
  webui/react/src/components/PasswordChangeModal.tsx
  webui/react/src/components/kit/InlineForm.module.scss
  webui/react/src/pages/Settings/SettingsAccount.test.tsx
  webui/react/src/pages/Settings/SettingsAccount.tsx
Owners: none
