Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

ci: fix latest release branch selection (#7432)
  tools/scripts/track-pr
Owners: none

move the example to e2e test fixtures
  e2e_tests/tests/fixtures/core_api/11_generic_metrics.py
  e2e_tests/tests/fixtures/core_api/11_generic_metrics.yaml
Owners: none

comment cleanup
  e2e_tests/tests/fixtures/core_api/11_generic_metrics.py
Owners: none

format with durationInEnglish
  webui/react/src/pages/Cluster/ClusterHistoricalUsageChart.tsx
  webui/react/src/pages/Clusters/ClustersQueuedChart.tsx
Owners: none

hide label
  webui/react/src/pages/Clusters/ClustersQueuedChart.tsx
Owners: none

fix: wider width for top trials select (#7431)
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
Owners: none

perf: improve summary metrics performance
  master/static/migrations/20230503144448_add-summary-metrics.tx.up.sql
Owners: @determined-ai/backend

claire review 2
  webui/react/src/components/UserSettings.tsx
  webui/react/src/components/kit/InlineForm.tsx
  webui/react/src/hooks/useFeature.ts
Owners: none

set tiles to alternate between gray and transp
  docs/_templates/toggle-primary-sidebar.html
  docs/assets/styles/determined.css
Owners: @determined-ai/docs

docs: Reset home page tiles and sidebar
  docs/_templates/toggle-primary-sidebar.html
  docs/assets/styles/determined.css
Owners: @determined-ai/docs

fix test
  webui/react/src/hooks/useFeature.ts
Owners: none

color palette and conf py edits
  docs/assets/styles/determined.css
  docs/conf.py
Owners: @determined-ai/docs

pr comments
  harness/determined/common/experimental/determined.py
  harness/tests/determined/common/experimental/test_determined.py
  harness/tests/fixtures/api_responses.py
Owners: none

docs: Reset home page tiles and sidebar (#7446)
  docs/_templates/toggle-primary-sidebar.html
  docs/assets/styles/determined.css
  docs/conf.py
Owners: @determined-ai/docs

feat: add list_experiments to Python SDK [MLG-670] (#7445)
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/tests/determined/common/experimental/test_determined.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/experiments.json
Owners: none

Filter popover
  webui/react/src/components/FilterForm/components/FilterField.module.scss
  webui/react/src/components/FilterForm/components/FilterForm.module.scss
  webui/react/src/components/FilterForm/components/FilterGroup.module.scss
Owners: none

Action bar and compare
  webui/react/src/components/FilterForm/TableFilter.tsx
  webui/react/src/components/SplitPane.tsx
  webui/react/src/components/kit/Button.tsx
  webui/react/src/hooks/useMobile.ts
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Owners: none

Table
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

fix bug and change workspace reference from workspaceID to project ID
  master/internal/core_experiment.go
  master/internal/experiment.go
  master/internal/workspace/postgres_workspace.go
Owners: @determined-ai/backend

fix CLI defaulting to list
  harness/determined/cli/resource_pool.py
Owners: none

SQUASHED
  harness/determined/cli/experiment.py
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/experiment.go
  master/internal/trial.go
  master/pkg/model/experiment.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

Remove optional chaining
  webui/react/src/components/SplitPane.tsx
Owners: none

Address PR comments
  webui/react/src/components/FilterForm/components/FilterGroup.module.scss
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.module.scss
Owners: none

Tweak select width
  webui/react/src/components/FilterForm/components/FilterField.module.scss
Owners: none

chore: explist_v2 feature switch should default to on
  docs/release-notes/new-experiment-list.rst
  webui/react/src/hooks/useFeature.ts
Owners: @determined-ai/docs

linting
  master/internal/workspace/postgres_workspace.go
Owners: @determined-ai/backend

test: mark RBAC-related tests 'e2e_cpu_rbac'
  e2e_tests/pytest.ini
  e2e_tests/tests/cluster/test_groups.py
  e2e_tests/tests/cluster/test_rbac.py
  e2e_tests/tests/conftest.py
Owners: none

refine heatmap btn
  master/internal/api_project.go
  webui/react/src/components/kit/Icon.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Owners: @determined-ai/backend

fix: chart axis long label (#7451)
  webui/react/src/pages/Cluster/ClusterHistoricalUsageChart.tsx
  webui/react/src/pages/Clusters/ClustersQueuedChart.tsx
Owners: none

test: mark RBAC-related tests 'e2e_cpu_rbac' (#7401)
  e2e_tests/pytest.ini
  e2e_tests/tests/cluster/test_groups.py
  e2e_tests/tests/cluster/test_rbac.py
  e2e_tests/tests/conftest.py
Owners: none

testing for authZ stuff
  .pre-commit-config.yaml
  master/internal/api_checkpoint_intg_test.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_trials_intg_test.go
  master/internal/api_user_intg_test.go
  master/internal/trials/api_trial_source_info.go
Owners: @determined-ai/backend

don't commit this thing
  .pre-commit-config.yaml
Owners: none

for some reason, the linter is okay with this
  master/internal/api_experiment_intg_test.go
  master/internal/api_trials_intg_test.go
Owners: @determined-ai/backend

make linter happy
  master/internal/api_experiment_intg_test.go
Owners: @determined-ai/backend

searcher metrics heatmap
  master/internal/api_project.go
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Owners: @determined-ai/backend

use darker color
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Owners: none

lint
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

style: mobile version of exp list v2 [WEB-1422] (#7433)
  webui/react/src/components/FilterForm/TableFilter.tsx
  webui/react/src/components/FilterForm/components/FilterField.module.scss
  webui/react/src/components/FilterForm/components/FilterForm.module.scss
  webui/react/src/components/SplitPane.tsx
  webui/react/src/components/kit/Button.tsx
  webui/react/src/hooks/useMobile.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.module.scss
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Owners: none

Update task-logging-teardown.sh
  master/static/srv/task-logging-teardown.sh
Owners: @determined-ai/backend

Tara feedback
  docs/release-notes/new-experiment-list.rst
Owners: @determined-ai/docs
