Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

add an argument for single trial replication
  tools/scripts/replicate-metrics.py
Owners: none

remove unused approaches
  tools/scripts/replicate-metrics.py
Owners: none

add naive multiplier
  tools/scripts/replicate-metrics.py
Owners: none

submit two separate queries concurrently
  tools/scripts/replicate-metrics.py
Owners: none

Revert "use a view?"
  tools/scripts/replicate-metrics.py
Owners: none

use a view?
  tools/scripts/replicate-metrics.py
Owners: none

mvp copy_experiments
  tools/scripts/replicate-metrics.py
Owners: none

add cli arguments
  tools/scripts/replicate-metrics.py
Owners: none

lint
  tools/scripts/replicate-metrics.py
Owners: none

update shebang to consult env
  tools/scripts/replicate-metrics.py
Owners: none

clean up
  tools/scripts/replicate-metrics.py
Owners: none

use a temp table to avoid joining on trials table
  tools/scripts/replicate-metrics.py
Owners: none

only select non-single searcher
  tools/scripts/replicate-metrics.py
Owners: none

separate out the table duplication logic
  tools/scripts/replicate-metrics.py
Owners: none

lint: mypy no type ignores needed
  tools/scripts/replicate-metrics.py
Owners: none

take out multiplier arg
  tools/scripts/replicate-metrics.py
Owners: none

skip concurrent submissions. report affected rows
  tools/scripts/replicate-metrics.py
Owners: none

missed one launch error false setting
  e2e_tests/tests/deploy/etc/master.yaml
Owners: none

chore: fix a lint issue in e2e test code (#6543)
  e2e_tests/tests/cluster/test_rbac.py
Owners: none

move config reading utility, add pytorch amp test
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/utils.py
Owners: none

chore: revert smooth scroll for Y axis
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

Address table updating
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/ExperimentMoveModal.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/glide-table/contextMenu.tsx
Owners: none

most cases working
  master/internal/api_experiment.go
  master/internal/api_experiment_test.go
Owners: @determined-ai/backend

chore: swap out dialog modal for experiment action dropdown
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/ExperimentDeleteModal.tsx
  webui/react/src/types.ts
  webui/react/src/utils/experiment.ts
Owners: none

fix agent-no-connection test
  .circleci/devcluster/agent-no-connection.devcluster.yaml
Owners: none

chore: replace dialog modal for task action dropdown
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/components/TaskKillModal.tsx
Owners: none

build: take mockery out of master build path
  master/Makefile
Owners: @determined-ai/backend

test: add task kill modal test
  webui/react/src/components/TaskKillModal.test.tsx
  webui/react/src/utils/task.ts
  webui/react/src/utils/tests/generateTestData.ts
Owners: none

fix: add onKill support for task kill modal
  webui/react/src/components/TaskBar.tsx
  webui/react/src/components/TaskKillModal.tsx
Owners: none

feat: change launch warning to launch error (#6412)
  .circleci/devcluster/custom-agent-version.devcluster.yaml
  .circleci/devcluster/double-priority.devcluster.yaml
  .circleci/devcluster/double-reattach.devcluster.yaml
  .circleci/devcluster/double.devcluster.yaml
  .circleci/devcluster/elastic.devcluster.yaml
  .circleci/devcluster/port-registry.devcluster.yaml
  .circleci/devcluster/postgres-with-ssl.devcluster.yaml
  .circleci/devcluster/priority.devcluster.yaml
  docs/reference/reference-deploy/config/master-config-reference.rst
  e2e_tests/tests/deploy/etc/master.yaml
  master/internal/api_command.go
  master/internal/config/config.go
  master/internal/experiment.go
Owners: @determined-ai/docs, @determined-ai/backend

test: add a tool to replicate exps, trials, and metrics [DET-9043] (#6211)
  tools/scripts/replicate-metrics.py
Owners: none

fix: Append instead of replace sbatch args [DET-9263]
  master/pkg/model/task_container_defaults.go
  master/pkg/model/task_container_defaults_test.go
Owners: @determined-ai/backend

new bumpenvs
  .circleci/config.yml
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/singularity.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_3_cpu_offload.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_no_offload.yaml
  examples/deepspeed/cifar10_moe/moe.yaml
  examples/deepspeed/cifar10_moe/zero_stages.yaml
  examples/deepspeed/gpt_neox/Dockerfile
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  examples/graphs/proteins_pytorch_geometric/adaptive.yaml
  examples/graphs/proteins_pytorch_geometric/const.yaml
  examples/graphs/proteins_pytorch_geometric/distributed.yaml
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-estimator/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  helm/charts/determined/templates/master-config.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
Owners: @determined-ai/docs, @determined-ai/backend

add pytorch lightning examples
  harness/tests/experiment/pytorch/test_pytorch_lightning.py
  harness/tests/experiment/utils.py
Owners: none

remove type:ignore
  tools/scripts/replicate-metrics.py
Owners: none

my local mypy doesn't report these..
  tools/scripts/replicate-metrics.py
Owners: none

chore: address mypy lint warnings [DET-9334] (#6549)
  tools/scripts/replicate-metrics.py
Owners: none

ci: retry Go download even more
  .circleci/config.yml
Owners: none

chore: bumpenvs with the `pynvml`-`nvidia-ml-py` switch [DET-9319] (#6520)
  .circleci/config.yml
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/singularity.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_3_cpu_offload.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_no_offload.yaml
  examples/deepspeed/cifar10_moe/moe.yaml
  examples/deepspeed/cifar10_moe/zero_stages.yaml
  examples/deepspeed/gpt_neox/Dockerfile
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  examples/features/ports/startup-hook.sh
  examples/graphs/proteins_pytorch_geometric/adaptive.yaml
  examples/graphs/proteins_pytorch_geometric/const.yaml
  examples/graphs/proteins_pytorch_geometric/distributed.yaml
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-estimator/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  helm/charts/determined/templates/master-config.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
Owners: @determined-ai/docs, @determined-ai/backend

enable gpu on lightning
  harness/tests/experiment/pytorch/test_pytorch_lightning.py
Owners: none
