Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

docs fmt
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/singularity.rst
  docs/reference/reference-interface/job-config-reference.rst
  docs/training/setup-guide/custom-env.rst
Owners: @determined-ai/docs

black
  tools/scripts/update-bumpenvs-yaml.py
Owners: none

Modify error messages
  tools/scripts/update-bumpenvs-yaml.py
Owners: none

refactor: clean up a bit of logic in `test_core.py`
  e2e_tests/tests/experiment/test_core.py
Owners: none

docs: update contributors guide (#6616)
  CONTRIBUTING.md
Owners: none

WebUI handles nested metadata JSON as a string
  webui/react/src/components/Metadata/EditableMetadata.tsx
Owners: none

untag some broken tests
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

ci: reduce overly long CloudFormation stack name (#6626)
  .circleci/config.yml
Owners: none

fix: update column order in ExperimentTrials table
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
Owners: none

fmt
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
Owners: none

containing json vals in metadata editor
  webui/react/src/components/Metadata/EditableMetadata.tsx
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Owners: none

jsonValue handled within editablerow
  webui/react/src/components/Metadata/EditableMetadata.tsx
  webui/react/src/components/Metadata/EditableRow.tsx
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Owners: none

feat: Support "cancelled" and "failed" Shutdown operations [MLG-468]
  harness/determined/common/api/bindings.py
  harness/determined/searcher/_search_method.py
  master/internal/experiment.go
  master/pkg/searcher/operations.go
  proto/buf.image.bin
  proto/pkg/experimentv1/searcher.pb.go
  proto/src/determined/experiment/v1/searcher.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

Removed the warning message when the 'base-path' doesn't exist, as per Ryan Beethe's comments in PR https://github.com/determined-ai/determined/pull/6594
  harness/determined/tensorboard/shared.py
Owners: none

Removed the warning message when the 'base-path' doesn't exist, as per Ryan Beethe's comments in PR https://github.com/determined-ai/determined/pull/6594
  harness/determined/tensorboard/base.py
Owners: none

move codecov out of docker, enable lightning tests
  .circleci/config.yml
Owners: none

feat: Support "cancelled" and "failed" Shutdown operations [MLG-468] (#6627)
  harness/determined/common/api/bindings.py
  harness/determined/searcher/_search_method.py
  master/internal/experiment.go
  master/pkg/searcher/operations.go
  proto/buf.image.bin
  proto/pkg/experimentv1/searcher.pb.go
  proto/src/determined/experiment/v1/searcher.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

fix mkdir
  .circleci/config.yml
Owners: none

test: playwright e2e test setup (#6562)
  .circleci/config.yml
  webui/react/.gitignore
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/playwright.config.ts
  webui/react/src/e2e/README.md
  webui/react/src/e2e/auth.spec.ts
  webui/react/src/e2e/fixtures/auth.fixture.ts
  webui/react/src/e2e/fixtures/dev.fixture.ts
  webui/react/src/e2e/global-fixtures.ts
  webui/react/src/e2e/navigation.spec.ts
  webui/react/vite.config.ts
Owners: none

change lightning image
  .circleci/config.yml
Owners: none

fix: Investigate "directory does not exist" tensorboard warning messages [DET-9166] (#6594)
  harness/determined/tensorboard/base.py
Owners: none

fix: Investigate "directory does not exist" tensorboard warning messages [DET-9166] (#6594)
  harness/determined/tensorboard/base.py
Owners: none

moving to json encoded string
  master/internal/api_experiment.go
Owners: @determined-ai/backend

ci: fix autoscrape ci job
  .circleci/config.yml
  docs/Makefile
  docs/assets/scripts/docsearch.sbt.js
Owners: @determined-ai/docs

chore: fix portableFetch security vulnerability by pinning node-fetch dependency
  webui/react/package-lock.json
  webui/react/package.json
Owners: none

chore: real unit tests for DS AT
  harness/determined/searcher/_search_runner.py
  harness/tests/custom_search_mocks.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

MLG-369: Some initial tests for DS AT (#6551)
  harness/determined/searcher/_search_runner.py
  harness/tests/custom_search_mocks.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

Add __main__ and reuse original args on-cluster.
  harness/determined/pytorch/deepspeed/dsat/__main__.py
  harness/determined/pytorch/deepspeed/dsat/_run_dsat.py
Owners: none

Cleanup
  ds_autotuning_prototype/core_api/no_op_test/config.yaml
  harness/determined/pytorch/deepspeed/dsat/__main__.py
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/pytorch/deepspeed/dsat/_run_dsat.py
  harness/determined/pytorch/deepspeed/dsat/_utils.py
Owners: none

Adding include
  harness/determined/pytorch/deepspeed/dsat/__main__.py
Owners: none

Finish adding include
  harness/determined/pytorch/deepspeed/dsat/__main__.py
  harness/determined/pytorch/deepspeed/dsat/_run_dsat.py
Owners: none

more args
  harness/determined/pytorch/deepspeed/dsat/__main__.py
Owners: none

Add early stopping as arg
  harness/determined/pytorch/deepspeed/dsat/__main__.py
Owners: none

Remove old autotuning args and get them instead from cli
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
Owners: none

Attempting to enforce trial constraints
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
Owners: none

more args and cleanup
  harness/determined/pytorch/deepspeed/dsat/__main__.py
  harness/determined/pytorch/deepspeed/dsat/_defaults.py
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/pytorch/deepspeed/dsat/_run_dsat.py
  harness/determined/pytorch/deepspeed/dsat/_utils.py
Owners: none

Fixed many refactoring bugs
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
Owners: none

Different registering system and starting the queue
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
Owners: none

About to use a queue (kind of)
  harness/determined/pytorch/deepspeed/dsat/__main__.py
  harness/determined/pytorch/deepspeed/dsat/_defaults.py
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/searcher/_search_runner.py
Owners: none

minor comments
  harness/determined/searcher/_search_runner.py
Owners: none
