Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

fix: Workspace members, isFiltered / reset tableOffset (#6335)
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
Owners: none

fix: fix patchSlotState util (#6345)
  e2e_tests/tests/cluster/test_agent_disable.py
  master/internal/rm/agentrm/agent_slot.go
Owners: @determined-ai/backend

fix: avoid unnecessary refresh in model version node (#6344)
  webui/react/src/pages/ModelVersionDetails.tsx
Owners: none

Minor changes.
  ds_autotuning_prototype/core_api/ffn_example_ds_launcher/script.py
  ds_autotuning_prototype/core_api/ffn_example_torch_launcher/script.py
  ds_autotuning_prototype/core_api/torchvison_models/script.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
Owners: none

fix: use new router store for login redirect
  webui/react/src/pages/SignIn.tsx
Owners: none

with algolia
  docs/_templates/search-field.html
  docs/assets/scripts/docsearch.sbt.js
  docs/assets/styles/determined.css
  docs/assets/styles/docsearch.sbt.css
  docs/conf.py
Owners: @determined-ai/docs

Differentiate test strings in labels and label_key, label_value
  master/internal/config/provconfig/gcp_config_test.go
Owners: @determined-ai/backend

Document labels in packaging
  master/packaging/master.yaml
Owners: @determined-ai/backend

Warn about reserved label managed-by
  harness/determined/deploy/gcp/cli.py
Owners: none

Code reduction with maps
  master/internal/config/provconfig/gcp_config.go
Owners: @determined-ai/backend

Error out when managed-by is given as a user label
  harness/determined/deploy/gcp/cli.py
Owners: none

add Labels to GCPClusterConfig
  master/internal/config/provconfig/gcp_config.go
  master/internal/config/provconfig/gcp_config_test.go
Owners: @determined-ai/backend

Combine Labels and LabelKey:LabelValue in GCPClusterConfig
  master/internal/config/provconfig/gcp_config.go
Owners: @determined-ai/backend

Revert to previous initialization of rb.Labels
  master/internal/config/provconfig/gcp_config.go
Owners: @determined-ai/backend

Formatting
  harness/determined/deploy/gcp/cli.py
  master/internal/config/provconfig/gcp_config.go
Owners: @determined-ai/backend

fix: write LabelKey:LabelValue in Labels
  master/internal/config/provconfig/gcp_config.go
Owners: @determined-ai/backend

Write user labels to master.yaml.context created by metadata_startup_script
  harness/determined/deploy/gcp/terraform/modules/compute/main.tf
Owners: none

Output user labels and specify value type in variables
  harness/determined/deploy/gcp/terraform/outputs.tf
  harness/determined/deploy/gcp/terraform/variables.tf
Owners: none

fix: get 'slot list' going for dispatcher
  harness/determined/cli/agent.py
Owners: none

int32 fix
  master/internal/experiment/bulk_action.go
Owners: @determined-ai/backend

fix: add filter for project
  webui/react/src/hooks/useModal/Experiment/useModalExperimentMove.tsx
Owners: none

fix: remove flaky test in test_convergence.py (#6336)
  e2e_tests/tests/nightly/test_convergence.py
Owners: none

fix: workspace modal filter (#6341)
  webui/react/src/components/kit/Select.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentMove.tsx
  webui/react/src/hooks/useModal/Model/useModalModelMove.tsx
  webui/react/src/pages/DesignKit.tsx
Owners: none

fix: use new router store for login redirect (#6322)
  webui/react/src/pages/SignIn.tsx
Owners: none

fix: workspace modal filter (#6341)
  webui/react/src/components/kit/Select.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentMove.tsx
  webui/react/src/hooks/useModal/Model/useModalModelMove.tsx
  webui/react/src/pages/DesignKit.tsx
Owners: none

fix: use new router store for login redirect (#6322)
  webui/react/src/pages/SignIn.tsx
Owners: none

update README with template guide
  docs/README.md
Owners: @determined-ai/docs

chore: bump version: 0.21.0-rc2 -> 0.21.0-rc3
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/setup.py
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: none

fix: log and skip invalid request(trial) id, don't kill experiment
  master/internal/experiment.go
Owners: @determined-ai/backend

JupyterLab
  webui/react/src/components/JupyterLabButton.tsx
  webui/react/src/components/JupyterLabModal.tsx
  webui/react/src/components/kit/Modal.tsx
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.module.scss
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.test.tsx
Owners: none

chore: Add Accordion component to DesignKit
  webui/react/src/components/kit/Accordion.tsx
  webui/react/src/pages/DesignKit.tsx
Owners: none

edited format and
  docs/README.md
Owners: @determined-ai/docs

WebhookCreate and WebhookDelete
  webui/react/src/components/WebhookCreateModal.tsx
  webui/react/src/components/WebhookDeleteModal.tsx
  webui/react/src/components/kit/Modal.tsx
  webui/react/src/hooks/useModal/Webhook/useModalWebhookCreate.tsx
  webui/react/src/hooks/useModal/Webhook/useModalWebhookDelete.tsx
  webui/react/src/pages/WebhookList.tsx
Owners: none

feat: Some experiment actions process multiple experiment IDs [WEB-982] (#6194)
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_noop.py
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_project_intg_test.go
  master/internal/experiment/authz_basic_impl.go
  master/internal/experiment/authz_iface.go
  master/internal/experiment/bulk_action.go
  master/internal/mocks/authz_experiment_iface.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

feat: Add filters options to multi-experiment actions
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/experiment/bulk_action.go
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

handle defaultOpen=false
  webui/react/src/components/kit/Accordion.tsx
Owners: none

add tests
  webui/react/src/components/kit/Accordion.test.tsx
Owners: none

fix: experiment table offset
  webui/react/src/pages/ExperimentList.tsx
Owners: none

fix: pytorch loading accepts trial_class kwarg
  harness/determined/pytorch/__init__.py
  harness/determined/pytorch/_load.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/_trainer.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.21.0-pytorch-main/code/const.yaml
  harness/tests/experiment/fixtures/ancient-checkpoints/0.21.0-pytorch-main/code/train.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.21.0-pytorch-main/load_data.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.21.0-pytorch-main/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.21.0-pytorch-main/state_dict.pth
  harness/tests/experiment/fixtures/ancient-checkpoints/0.21.0-pytorch-main/trial_state.pkl
  harness/tests/experiment/fixtures/ancient-checkpoints/0.21.0-pytorch/code/model_def.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.21.0-pytorch/code/train.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.21.0-pytorch/load_data.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.21.0-pytorch/state_dict.pth
  harness/tests/experiment/fixtures/ancient-checkpoints/0.21.0-pytorch/trial_state.pkl
  harness/tests/experiment/fixtures/ancient-checkpoints/README.md
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

agg hps by project
  master/internal/api_project.go
  master/internal/db/postgres_experiments.go
  master/static/migrations/20230315150937_add-hyperparameters-metrics-name-view.tx.down.sql
  master/static/migrations/20230315150937_add-hyperparameters-metrics-name-view.tx.up.sql
  master/static/srv/move_experiment.sql
Owners: @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
