Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

Various bug fixes and improvements.
  harness/determined/pytorch/deepspeed/dsat/__init__.py
  harness/determined/pytorch/deepspeed/dsat/_defaults.py
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/pytorch/deepspeed/dsat/_run_dsat.py
  harness/determined/pytorch/deepspeed/dsat/_utils.py
  harness/determined/pytorch/deepspeed/dsat/autotune.py
Owners: none

fix: replace unnecessary main tags (#6362)
  webui/react/src/components/NavigationSideBar.module.scss
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/pages/DesignKit.module.scss
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/shared/components/Page/Page.tsx
Owners: none

fix: get 'slot list' going for dispatcher (#6348)
  harness/determined/cli/agent.py
Owners: none

feat: Add filters options to multi-experiment actions [WEB-982] (#6351)
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_noop.py
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/experiment/bulk_action.go
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

feat: specify disk size and type for dynamic agents in gcp deployments [MLG-224]
  harness/determined/deploy/gcp/cli.py
  harness/determined/deploy/gcp/constants.py
  harness/determined/deploy/gcp/terraform/main.tf
  harness/determined/deploy/gcp/terraform/modules/compute/main.tf
  harness/determined/deploy/gcp/terraform/modules/compute/variables.tf
  harness/determined/deploy/gcp/terraform/variables.tf
  master/internal/config/provconfig/gcp_config.go
  master/internal/config/provconfig/gcp_config_test.go
Owners: @determined-ai/backend

chore: add better sync/map pkg for Go (#6299)
  master/pkg/syncx/mapx/mapx.go
  master/pkg/syncx/mapx/mapx_test.go
Owners: @determined-ai/backend

project-id and zone must be included in disk type uri
  harness/determined/deploy/gcp/terraform/modules/compute/main.tf
Owners: none

use best_validation_id
  master/internal/db/postgres.go
  master/internal/db/postgres_experiments.go
  master/internal/experiment/bulk_action.go
  master/static/migrations/20230315150937_add-hyperparameters-metrics-name-view.tx.up.sql
Owners: @determined-ai/backend

fixes
  master/static/migrations/20230315150937_add-hyperparameters-metrics-name-view.tx.down.sql
  master/static/migrations/20230315150937_add-hyperparameters-metrics-name-view.tx.up.sql
Owners: @determined-ai/backend

fix: remove all Close operations (#6383)
  ds_autotuning_prototype/core_api/no_op_test/autotune_config.yaml
  ds_autotuning_prototype/core_api/no_op_test/ds_config.json
  ds_autotuning_prototype/core_api/no_op_test/script.py
  ds_autotuning_prototype/trial_classes/ffn_example/autotuning.yaml
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/determined/pytorch/deepspeed/dsat/__init__.py
  harness/determined/pytorch/deepspeed/dsat/_defaults.py
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/pytorch/deepspeed/dsat/_run_dsat.py
  harness/determined/pytorch/deepspeed/dsat/_utils.py
  harness/determined/pytorch/deepspeed/dsat/autotune.py
Owners: none

chore: Fix router/app circular dependency (#6370)
  webui/react/src/__mocks__/router.tsx
  webui/react/src/ee/SamlAuth.ts
  webui/react/src/index.tsx
  webui/react/src/pages/InteractiveTask.test.tsx
  webui/react/src/router.tsx
  webui/react/src/shared/utils/routes.test.ts
  webui/react/src/shared/utils/routes.ts
  webui/react/src/utils/error.ts
Owners: none

add an explanation on what to expect, expand the info messages in the code.
  examples/features/ports_flask/README.md
  examples/features/ports_flask/hello-client.py
Owners: none

remove test volume
  harness/determined/deploy/gcp/terraform/modules/compute/main.tf
Owners: none

fix: Increase timeout to improve situation re: [DET-9125]
  webui/react/src/components/kit/LogViewer/LogViewer.test.tsx
Owners: none

change my approach
  webui/react/src/components/kit/LogViewer/LogViewer.test.tsx
Owners: none

apply suggested fixes
  webui/react/src/components/kit/LogViewer/LogViewer.test.tsx
  webui/react/src/services/decoder.ts
Owners: none

fix: Increase timeout to improve situation re: [DET-9125] (#6369)
  webui/react/src/components/kit/LogViewer/LogViewer.test.tsx
  webui/react/src/services/decoder.ts
Owners: none

fix: Pin version of pydata-sphinx-theme
  docs/requirements.txt
Owners: @determined-ai/docs

fix: Pin version of pydata-sphinx-theme (#6389)
  docs/requirements.txt
Owners: @determined-ai/docs

feat: treat instance startup script as a secret [DET-9214]
  master/internal/config/config.go
  master/internal/config/provconfig/config.go
  master/internal/config/resource_pool_config.go
  master/internal/rm/agentrm/agent_resource_manager.go
Owners: @determined-ai/backend

minor updates
  bindings/swagger_parser.py
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/db/bun_filters.go
Owners: @determined-ai/backend

conflict updates
  harness/determined/common/api/bindings.py
  proto/pkg/apiv1/experiment.pb.go
  proto/pkg/apiv1/trial.pb.go
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

fix: checkpoint size insertion slow performance on big databases
  docs/release-notes/checkpoint-size-speedup-speedup.rst
  master/internal/db/postgres_checkpoints.go
  master/internal/db/postgres_checkpoints_intg_test.go
Owners: @determined-ai/docs, @determined-ai/backend

feat: refactor compareTrials to support time-series [WEB-999] (#6317)
  bindings/swagger_parser.py
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/db/bun_filters.go
  master/internal/db/database.go
  master/internal/db/postgres_experiments.go
  master/internal/lttb/lttb.go
  master/internal/lttb/lttb_test.go
  master/internal/mocks/db.go
  master/internal/trials/postgres_trials.go
  proto/buf.image.bin
  proto/pkg/apiv1/experiment.pb.go
  proto/pkg/apiv1/trial.pb.go
  proto/pkg/commonv1/common.pb.go
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/api/v1/trial.proto
  proto/src/determined/common/v1/common.proto
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Owners: @determined-ai/backend

chore: update docs in the design page
  webui/react/src/pages/DesignKit.tsx
Owners: none

feat: add typography component
  webui/react/src/components/kit/Typography.tsx
  webui/react/src/pages/DesignKit.tsx
Owners: none

chore: attend to PR comments
  webui/react/src/components/kit/Typography/Header.tsx
  webui/react/src/components/kit/Typography/index.module.scss
  webui/react/src/pages/DesignKit.tsx
Owners: none

feat: remove the classes prop from the components
  webui/react/src/components/kit/Typography/Header.tsx
  webui/react/src/components/kit/Typography/Paragraph.tsx
Owners: none

feat: decouple header and paragraph and accomodate real use cases
  webui/react/src/components/kit/Typography.tsx
  webui/react/src/components/kit/Typography/Header.tsx
  webui/react/src/components/kit/Typography/Paragraph.tsx
  webui/react/src/components/kit/Typography/index.module.scss
  webui/react/src/pages/DesignKit.tsx
Owners: none

chore: update docs in the design page
  webui/react/src/pages/DesignKit.tsx
Owners: none

feat: add typography component (#6385)
  webui/react/src/components/kit/Typography/Header.tsx
  webui/react/src/components/kit/Typography/Paragraph.tsx
  webui/react/src/components/kit/Typography/index.module.scss
  webui/react/src/pages/DesignKit.tsx
Owners: none

feat(resource_pools): Finalizing GPU types
  examples/deepspeed/gpt_neox/gpt_neox_config/determined_cluster.yml
  examples/deepspeed/gpt_neox/zero1_3d_parallel.yaml
  helm/charts/determined/Chart.yaml
  helm/charts/determined/templates/_helpers.tpl
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.schema.json
Owners: none

chore: replace `useModalModelMove` with `ModelMoveModal`
  webui/react/src/components/ModelMoveModal.tsx
  webui/react/src/components/kit/Modal.tsx
  webui/react/src/hooks/useModal/Model/useModalModelMove.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelRegistry.tsx
Owners: none

chore: rename prop name
  webui/react/src/components/ModelDownloadModal.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
Owners: none

chore: replace `useModalModelEdit` with `ModelEditModal`
  webui/react/src/components/ModelEditModal.tsx
  webui/react/src/components/kit/Modal.tsx
  webui/react/src/hooks/useModal/Model/useModalModelEdit.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
Owners: none

chore: replace `useModalModelVersionDelete` with `ModelVersionDeleteModal`
  webui/react/src/components/ModelVersionDeleteModal.tsx
  webui/react/src/hooks/useModal/Model/useModalModelVersionDelete.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
Owners: none

chore: replace `useModalModelDelete` with `DeleteModelModal`
  webui/react/src/components/DeleteModelModal.tsx
  webui/react/src/hooks/useModal/Model/useModalModelDelete.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelRegistry.tsx
Owners: none

chore: replace `useModalModelDownload` with `ModelDownloadModal`
  webui/react/src/components/ModelDownloadModal.module.scss
  webui/react/src/components/ModelDownloadModal.tsx
  webui/react/src/hooks/useModal/Model/useModalModelDownload.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
Owners: none

chore: replace `useModalModelVersionEdit` with `ModelVersionEditModal`
  webui/react/src/components/ModelVersionEditModal.tsx
  webui/react/src/hooks/useModal/Model/useModalModelVersionEdit.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
Owners: none

chore: replace `useModalModelCreate` with `ModelCreateModal`
  webui/react/src/components/CheckpointModalTrigger.tsx
  webui/react/src/components/ModelCreateModal.module.scss
  webui/react/src/components/ModelCreateModal.tsx
  webui/react/src/hooks/useModal/Checkpoint/useCheckpointFlow.tsx
  webui/react/src/hooks/useModal/Model/useModalModelCreate.module.scss
  webui/react/src/hooks/useModal/Model/useModalModelCreate.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/TrialDetails/F_TrialDetailsOverview.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
Owners: none

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
