Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

feat: agent support for podman
  agent/internal/agent.go
  agent/pkg/podman/podman.go
  agent/pkg/singularity/singularity.go
Owners: @determined-ai/backend

update circleci config
  .circleci/config.yml
Owners: none

ci(circleci): split-off quarantined e2e tests
  .circleci/config.yml
Owners: none

fix: launch error has no effect for k8s and slurm (#6597)
  master/internal/api_command.go
  master/internal/experiment.go
Owners: @determined-ai/backend

fix: set searcher_metric_values properly
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

ci(circleci): split-off quarantined e2e tests (#6601)
  .circleci/config.yml
Owners: none

fix: set searcher_metric_values properly (#6603)
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

fix: widen the Searcher Metric Values column (#6600)
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Owners: none

Update update-bumpenvs-yaml.py from tf27 to tf28
  tools/scripts/update-bumpenvs-yaml.py
Owners: none

Update bumpenvs.yaml
  tools/scripts/bumpenvs.yaml
Owners: none

Don't skip gbt_titanic_estimator test with tf<2.11.0
  examples/tests/test_official.py
Owners: none

Remove selective imports where we can assume tensorflow 2.11
  examples/computer_vision/cifar10_tf_keras/cifar_model.py
  examples/computer_vision/iris_tf_keras/model_def.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/code/model_def.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.7-keras/code/model_def.py
  harness/tests/experiment/fixtures/ancient_keras_ckpt.py
  harness/tests/experiment/fixtures/tf_keras_one_var_model.py
  harness/tests/experiment/fixtures/tf_keras_xor_model.py
Owners: none

optimizers.legacy
  e2e_tests/tests/fixtures/keras_no_op/model_def.py
  e2e_tests/tests/fixtures/keras_tf2_disabled_no_op/model_def.py
  e2e_tests/tests/nightly/test_convergence.py
  examples/computer_vision/unets_tf_keras/model_def.py
  examples/gan/dcgan_tf_keras/model_def.py
  examples/gan/pix2pix_tf_keras/pix2pix/discriminator.py
  examples/gan/pix2pix_tf_keras/pix2pix/generator.py
  examples/tutorials/fashion_mnist_tf_keras/model_def.py
  harness/tests/experiment/fixtures/tf_keras_runtime_error.py
Owners: none

updated docstring for store_path function to reflect required steps_completed parameter in current implementation, for better user experience
  harness/determined/core/_checkpoint.py
Owners: none

changed user email
  harness/determined/core/_checkpoint.py
Owners: none

added filelock
  examples/tutorials/core_api_pytorch_mnist/model_def_distributed.py
Owners: none

minor edits for readability
  docs/release-notes/docker-escape-hatch.rst
Owners: @determined-ai/docs

apply style guidelines
  docs/quickstart-mdldev.rst
Owners: @determined-ai/docs

apply style guidelines
  docs/quickstart-mdldev.rst
Owners: @determined-ai/docs

apply heading format
  docs/reference/reference-deploy/config/master-config-reference.rst
Owners: @determined-ai/docs

docs: Add structure to master config ref
  docs/reference/reference-deploy/config/master-config-reference.rst
Owners: @determined-ai/docs

fix conflict
  docs/reference/reference-deploy/config/master-config-reference.rst
Owners: @determined-ai/docs

resolve review comments
  docs/reference/reference-deploy/config/master-config-reference.rst
Owners: @determined-ai/docs

docs: Add structure to master config ref (#6567)
  docs/reference/reference-deploy/config/master-config-reference.rst
Owners: @determined-ai/docs

Conditional import in keras_no_op
  e2e_tests/tests/fixtures/keras_no_op/model_def.py
Owners: none

fix: Workspace member modal includes users and groups (#6596)
  webui/react/src/components/WorkspaceMemberAddModal.tsx
Owners: none

Conditional import in fashion_mnist_tf_keras because test-e2e-gke hardcodes a tf-2.4 image
  examples/tutorials/fashion_mnist_tf_keras/model_def.py
Owners: none

fix webui
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
  webui/react/src/pages/TrialsComparison/Metrics/useLearningCurveData.ts
  webui/react/src/types.ts
Owners: none

fix: Workspace member modal includes users and groups (#6596)
  webui/react/src/components/WorkspaceMemberAddModal.tsx
Owners: none

fix: launch error has no effect for k8s and slurm (#6597)
  master/internal/api_command.go
  master/internal/experiment.go
Owners: @determined-ai/backend

chore: bump version: 0.21.2-rc0 -> 0.21.2-rc1
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/setup.py
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: none

replace usecases
  harness/determined/cli/agent.py
  harness/determined/cli/command.py
  harness/determined/cli/errors.py
  harness/determined/cli/experiment.py
  harness/determined/cli/master.py
  harness/determined/cli/model.py
  harness/determined/cli/oauth.py
  harness/determined/cli/project.py
  harness/determined/cli/proxy.py
  harness/determined/cli/rbac.py
  harness/determined/cli/render.py
  harness/determined/cli/resources.py
  harness/determined/cli/sso.py
  harness/determined/cli/task.py
  harness/determined/cli/template.py
  harness/determined/cli/top_arg_descriptions.py
  harness/determined/cli/trial.py
  harness/determined/cli/tunnel.py
  harness/determined/cli/user.py
  harness/determined/cli/user_groups.py
  harness/determined/cli/workspace.py
Owners: none

chore: add a shared util to print json in a human-readable
  harness/determined/cli/__init__.py
  harness/determined/cli/_util.py
  harness/determined/cli/dev.py
Owners: none

fix imports
  harness/determined/cli/agent.py
  harness/determined/cli/errors.py
  harness/determined/cli/master.py
  harness/determined/cli/oauth.py
  harness/determined/cli/project.py
  harness/determined/cli/proxy.py
  harness/determined/cli/rbac.py
  harness/determined/cli/render.py
  harness/determined/cli/resources.py
  harness/determined/cli/sso.py
  harness/determined/cli/task.py
  harness/determined/cli/template.py
  harness/determined/cli/top_arg_descriptions.py
  harness/determined/cli/tunnel.py
  harness/determined/cli/user.py
  harness/determined/cli/user_groups.py
Owners: none

move to print_json to render module
  harness/determined/cli/__init__.py
  harness/determined/cli/_util.py
  harness/determined/cli/agent.py
  harness/determined/cli/command.py
  harness/determined/cli/dev.py
  harness/determined/cli/experiment.py
  harness/determined/cli/master.py
  harness/determined/cli/model.py
  harness/determined/cli/project.py
  harness/determined/cli/rbac.py
  harness/determined/cli/render.py
  harness/determined/cli/task.py
  harness/determined/cli/trial.py
  harness/determined/cli/user_groups.py
  harness/determined/cli/workspace.py
Owners: none

indent=2
  harness/determined/cli/render.py
Owners: none

use pygments to colorize the output
  harness/determined/cli/render.py
  requirements.txt
Owners: none

skip coloring if output is not tty
  harness/determined/cli/render.py
Owners: none

move pygments to harness pkg requirements
  harness/setup.py
  requirements.txt
Owners: none

switch coloring logs on
  harness/determined/cli/experiment.py
  harness/determined/cli/task.py
  harness/determined/cli/trial.py
Owners: none

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
