Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

docs: add a simpler proxy configs example, fix typo in proxy ports guide. (#6374)
  docs/interfaces/proxy-ports.rst
  examples/features/ports_flask/README.md
  examples/features/ports_flask/hello-client.py
  examples/features/ports_flask/hello-client.yaml
  examples/features/ports_flask/hello-server.py
  examples/features/ports_flask/hello-server.yaml
  examples/features/ports_flask/startup-hook.sh
Owners: @determined-ai/docs

minor changes
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
Owners: @determined-ai/docs

minor changes
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
Owners: @determined-ai/docs

lint
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/errors.py
Owners: none

fix: allow `det checkpoint download` for completed checkpoints only [DET-3786]
  harness/determined/cli/checkpoint.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/errors.py
Owners: none

address review comment
  harness/determined/cli/checkpoint.py
Owners: none

linting
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
Owners: @determined-ai/docs

pr changes
  master/internal/populate_metrics.go
  webui/react/src/services/decoder.ts
Owners: @determined-ai/backend

update the comments to be more clear
  .circleci/config.yml
Owners: none

fix: allow `det checkpoint download` for completed checkpoints only [DET-3786] (#6377)
  harness/determined/cli/checkpoint.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/errors.py
Owners: none

fix: respect default pool task container defaults [DET-9241] (#6410)
  .circleci/devcluster/double.devcluster.yaml
  docs/release-notes/fix-default-pool-task-container-defaults.rst
  e2e_tests/tests/cluster/test_resource_pools.py
  master/internal/api_command.go
  master/internal/core_experiment.go
  master/internal/restore.go
Owners: @determined-ai/docs, @determined-ai/backend

swap in ui-kit based modal
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/HyperparameterSearchModal.module.scss
  webui/react/src/components/HyperparameterSearchModal.test.tsx
  webui/react/src/components/HyperparameterSearchModal.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
Owners: none

fix: accurately count slots from scheduled jobs by allocationID (#6346)
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/resource_pool.go
Owners: @determined-ai/backend

only install chromium deps
  .circleci/config.yml
Owners: none

security: remote users cannot login with or change their passwords or usernames
  harness/determined/cli/user.py
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/determined.py
  harness/determined/experimental/client.py
  master/internal/api_user.go
  master/internal/db/postgres_users.go
  master/internal/mocks/user_authz_iface.go
  master/internal/user/authz_basic_impl.go
  master/internal/user/authz_iface.go
  master/internal/user/is_sso.go
  master/internal/user/postgres_users.go
  master/pkg/model/user.go
  master/static/migrations/20230330193745_remote-user.tx.down.sql
  master/static/migrations/20230330193745_remote-user.tx.up.sql
  proto/pkg/userv1/user.pb.go
  proto/src/determined/user/v1/user.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

review feedback
  proto/src/determined/user/v1/user.proto
Owners: @determined-ai/backend

lint
  master/cmd/determined-master/populate_metrics.go
  master/internal/populate_metrics.go
Owners: @determined-ai/backend

pr change
  master/cmd/determined-master/populate_metrics.go
Owners: @determined-ai/backend

tara's edits
  docs/training/apis-howto/api-pytorch-ug.rst
Owners: @determined-ai/docs

use circle context
  .circleci/config.yml
  webui/react/scripts/make-github-comment.mjs
Owners: none

name strict matching
  harness/determined/deploy/local/cluster_utils.py
Owners: none

add node fetch to deps/remove debug outputs
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/scripts/make-github-comment.mjs
Owners: none

pin jsonschema version
  harness/setup.py
Owners: none

don't use basic auth!!
  webui/react/scripts/make-github-comment.mjs
Owners: none

insert modal component
  webui/react/src/components/HyperparameterSearchModal.module.scss
  webui/react/src/components/HyperparameterSearchModal.test.tsx
  webui/react/src/components/HyperparameterSearchModal.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
Owners: none

docs: add docs for torch profiler support [MLG-179] (#6400)
  docs/training/apis-howto/api-pytorch-ug.rst
  harness/determined/pytorch/_pytorch_context.py
Owners: @determined-ai/docs

quick test -- do we need deps
  .circleci/config.yml
Owners: none

fmt
  webui/react/src/components/CreateUserModal.tsx
  webui/react/src/components/DeleteGroupModal.tsx
  webui/react/src/components/PasswordChangeModal.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
Owners: none

fix: set default value for create model modal (#6409)
  webui/react/src/components/ModelCreateModal.tsx
Owners: none

ensure browsers are cached with postinstall
  .circleci/config.yml
  webui/react/Makefile
Owners: none

ensure cached browsers are used
  .circleci/config.yml
Owners: none

chore: allocate less address space in e2e gke cluster tests [DET-9231] (#6405)
  .circleci/config.yml
Owners: none

feat: Generate metrics using a determined command. (#6222)
  master/cmd/determined-master/populate_metrics.go
  master/cmd/determined-master/root.go
  master/internal/db/postgres_users.go
  master/internal/populate_metrics.go
Owners: @determined-ai/backend

move to makefile
  .circleci/config.yml
  webui/react/Makefile
  webui/react/scripts/designkit-screenshot.mjs
Owners: none

refine
  .circleci/config.yml
  webui/react/Makefile
Owners: none

fix JupyterLabModal validation
  webui/react/src/components/JupyterLabModal.tsx
Owners: none

fix test
  e2e_tests/tests/deploy/test_local.py
Owners: none

fmt
  webui/react/src/components/JupyterLabModal.tsx
Owners: none

show error message that links to git rebaseability page
  .github/workflows/check-rebaseable.yml
Owners: @determined-ai/infrastructure

testing
  .github/workflows/check-rebaseable.yml
Owners: @determined-ai/infrastructure

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
