Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend, @determined-ai/ml-sys, @determined-ai/web

move the migration file
  master/static/migrations/20230808135301_trial_source_info_unique.tx.down.sql
  master/static/migrations/20230808135301_trial_source_info_unique.tx.up.sql
Owners: @determined-ai/backend

docs: Minor change to pytorch mnist tutorial and auto_zero_grads
  docs/tutorials/pytorch-mnist-tutorial.rst
  harness/determined/pytorch/_pytorch_context.py
Owners: @determined-ai/docs, @determined-ai/ml-sys

Formatted
  docs/tutorials/pytorch-mnist-tutorial.rst
Owners: @determined-ai/docs

Add enable_tensorboard_logging to pytorch context constructor
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/_trainer.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: @determined-ai/ml-sys

remove requirement and distutils thing
  harness/determined/tensorboard/metric_writers/pytorch.py
  harness/tests/requirements/requirements-harness.txt
Owners: @determined-ai/ml-sys

replace pytorch with 1.11 everywhere
  .circleci/config.yml
  .github/workflows/lint-python.yml
  Makefile
  e2e_tests/tests/requirements.txt
  examples/tests/requirements.txt
  harness/determined/tensorboard/metric_writers/pytorch.py
Owners: @determined-ai/infrastructure, @determined-ai/ml-sys

replace torchvision 0.10.0 with 0.12.0 everywhere
  .circleci/config.yml
  e2e_tests/tests/requirements.txt
  examples/tests/requirements.txt
Owners: @determined-ai/ml-sys

mmdet version pin
  .circleci/config.yml
  model_hub/tests/requirements.txt
Owners: none

mmdet is a PROBLEM
  model_hub/tests/requirements.txt
Owners: none

linting
  harness/determined/tensorboard/metric_writers/pytorch.py
Owners: @determined-ai/ml-sys

fix: fetch the latest projects
  webui/react/src/components/ExperimentMoveModal.tsx
Owners: @determined-ai/web

fix linting
  harness/determined/pytorch/_pytorch_context.py
Owners: @determined-ai/ml-sys

feat: Enable disabling Tensorboard logging [MLG-22] (#7508)
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/_trainer.py
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: @determined-ai/ml-sys

docs: update doc string related to adding enable_tensorboard_logging flag
  harness/determined/pytorch/_trainer.py
Owners: @determined-ai/ml-sys

docs: update doc string related to adding enable_tensorboard_logging flag (#7600)
  harness/determined/pytorch/_trainer.py
Owners: @determined-ai/ml-sys

clarify comment for db fn
  master/internal/db/postgres_rp_workspace_bindings.go
Owners: @determined-ai/backend

chore: update comment to clarify endpoint behavior (#7583)
  master/internal/db/postgres_rp_workspace_bindings.go
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/src/determined/api/v1/api.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend, @determined-ai/web

Working on the readme
  README.md
Owners: none

test: increase timeouts for tensorboard test in test_task_logs
  e2e_tests/tests/cluster/test_logging.py
Owners: none

Short description of the CLI
  README.md
Owners: none

fix: fetch the latest projects (#7598)
  webui/react/src/components/ExperimentMoveModal.tsx
Owners: @determined-ai/web

fix: ensure selected file path matches loaded file in codeeditor (#7563)
  webui/react/src/components/ExperimentCreateModal.tsx
  webui/react/src/components/JupyterLabModal.tsx
  webui/react/src/components/Markdown.tsx
  webui/react/src/components/UserSettingsModal.tsx
  webui/react/src/components/WorkspaceCreateModal.tsx
  webui/react/src/components/kit/CodeEditor.tsx
  webui/react/src/components/kit/internal/types.ts
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCodeViewer.test.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCodeViewer.tsx
  webui/react/src/services/apiConfig.ts
  webui/react/src/types.ts
Owners: @determined-ai/web

chore: bumpenvs 24.0 (#7594)
  .circleci/config.yml
  docs/model-dev-guide/apis-howto/overview.rst
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/reference/deploy/config/helm-config-reference.rst
  docs/reference/deploy/config/master-config-reference.rst
  docs/reference/interface/job-config-reference.rst
  docs/reference/training/experiment-config-reference.rst
  docs/setup-cluster/deploy-cluster/gcp/install-gcp.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/deploy-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  examples/graphs/proteins_pytorch_geometric/adaptive.yaml
  examples/graphs/proteins_pytorch_geometric/const.yaml
  examples/graphs/proteins_pytorch_geometric/distributed.yaml
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/determined/estimator/_estimator_trial.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-estimator/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
Owners: @determined-ai/docs, @determined-ai/ml-sys, @determined-ai/backend, @determined-ai/web

feat: Copy cell value from experiment list table
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/contextMenu.tsx
Owners: @determined-ai/web

Add a section on the python library
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md (#7587)
  README.md
Owners: none

chore: fix incorrect make invocation
  tools/scripts/lock-published-urls.sh
Owners: none

chore: fix incorrect make invocation (#7605)
  tools/scripts/lock-published-urls.sh
Owners: none

fix: proto user always has false remote (#7126)
  docs/release-notes/list-user-remote.rst
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
Owners: @determined-ai/docs, @determined-ai/backend

chore: bump version: 0.23.5-dev0 -> 0.24.0-dev0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Owners: @determined-ai/docs, @determined-ai/ml-sys, @determined-ai/web

chore: lock published urls to preserve redirects
  docs/.redirects/all_published_urls_ever.json
Owners: @determined-ai/docs

chore: bump version: 0.24.0-dev0 -> 0.24.0-rc0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Owners: @determined-ai/docs, @determined-ai/ml-sys, @determined-ai/web

fix: fix checkpoint gc which was incorrectly deleting some checkpoints (#7523)
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_test_utils.go
Owners: @determined-ai/backend

Describe the Web UI
  README.md
Owners: none

SQUASHED again
  harness/determined/common/api/bindings.py
  master/internal/api_checkpoint_intg_test.go
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_tasks_intg_test.go
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  master/internal/core_checkpoint_intg_test.go
  master/internal/db/database.go
  master/internal/db/postgres_checkpoints.go
  master/internal/db/postgres_checkpoints_intg_test.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_model_intg_test.go
  master/internal/db/postgres_tasks.go
  master/internal/db/postgres_test_utils.go
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/experiment.go
  master/internal/mocks/db.go
  master/internal/populate_metrics.go
  master/internal/restore.go
  master/internal/trial.go
  master/internal/trial_intg_test.go
  master/pkg/model/experiment.go
  master/static/migrations/20230306115327_add-checkpoint-size.tx.down.sql
  master/static/migrations/20230718150024_trial-one-to-many-tasks.tx.down.sql
  master/static/migrations/20230718150024_trial-one-to-many-tasks.tx.up.sql
  master/static/srv/get_raw_allocation.sql
  master/static/srv/proto_get_trials_plus.sql
  master/static/srv/update_aggregated_allocation.sql
  master/test/integration/api/api_checkpoints_test.go
  master/test/integration/api/api_trials_test.go
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend, @determined-ai/web

fmt.errorf bug
  master/internal/api_trials.go
Owners: @determined-ai/backend

test fixes
  master/internal/api_experiment.go
  master/internal/api_trials_intg_test.go
  master/internal/trial_intg_test.go
Owners: @determined-ai/backend

bump migration
  master/static/migrations/20230809134057_trial-one-to-many-tasks.tx.down.sql
  master/static/migrations/20230809134057_trial-one-to-many-tasks.tx.up.sql
Owners: @determined-ai/backend

left join
  master/static/migrations/20230809134057_trial-one-to-many-tasks.tx.up.sql
Owners: @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

# Harness is mapped to ml-sys by default, except for `cli`, `deploy`,
# and auto-generated bindings and version files.
/harness  @determined-ai/ml-sys
/harness/determined/common/api/bindings.py
/harness/determined/__version__.py

/schemas                          @determined-ai/ml-sys
/bindings/generate_bindings_py.py @determined-ai/ml-sys
/e2e_tests/tests/*.py             @determined-ai/ml-sys
/e2e_tests/tests/requirements.txt @determined-ai/ml-sys
/e2e_tests/tests/command          @determined-ai/ml-sys
/e2e_tests/tests/experiment       @determined-ai/ml-sys
/e2e_tests/tests/nightly          @determined-ai/ml-sys

/webui @determined-ai/web
