Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

fix: k8s determined-container gets wrong RunAsUser
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
Owners: @determined-ai/backend

more work with mock.Anything
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/request_queue_test.go
Owners: @determined-ai/backend

more changes
  master/internal/rm/kubernetesrm/informer.go
  master/internal/rm/kubernetesrm/nodes.go
  master/internal/rm/kubernetesrm/pods.go
Owners: @determined-ai/backend

fixed race condition
  master/internal/rm/kubernetesrm/informer.go
  master/internal/rm/kubernetesrm/informer_intg_test.go
Owners: @determined-ai/backend

fifth draft
  master/internal/rm/kubernetesrm/informer.go
  master/internal/rm/kubernetesrm/informer_intg_test.go
  master/internal/rm/kubernetesrm/pods.go
Owners: @determined-ai/backend

renamed iface generated files
  master/Makefile
  master/internal/mocks/authz_experiment_iface.go
  master/internal/mocks/authz_model_iface.go
  master/internal/mocks/db.go
  master/internal/mocks/event_iface.go
  master/internal/mocks/node_iface.go
  master/internal/mocks/nsc_authz_iface.go
  master/internal/mocks/pod_iface.go
  master/internal/mocks/project_authz_iface.go
  master/internal/mocks/resources.go
  master/internal/mocks/user_authz_iface.go
  master/internal/mocks/workspace_authz_iface.go
Owners: @determined-ai/backend

reverted context.withCancel bc informers crash
  master/internal/rm/kubernetesrm/informer.go
Owners: @determined-ai/backend

this should work but idk what to do about go.mod/sum now
  master/Makefile
  master/go.mod
  master/go.sum
Owners: @determined-ai/backend

combining pod/preemption tests
  master/internal/rm/kubernetesrm/informer_intg_test.go
Owners: @determined-ai/backend

first draft
  master/internal/rm/kubernetesrm/events.go
  master/internal/rm/kubernetesrm/informer.go
  master/internal/rm/kubernetesrm/informer_intg_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/preemptions.go
Owners: @determined-ai/backend

wip -- need to fix ctx & Makefile
  master/Makefile
  master/internal/rm/kubernetesrm/informer.go
  master/internal/rm/kubernetesrm/informer_intg_test.go
  master/internal/rm/kubernetesrm/pods.go
Owners: @determined-ai/backend

fixing tests -- pt 1
  master/internal/rm/kubernetesrm/informer_intg_test.go
Owners: @determined-ai/backend

switching up
  master/internal/rm/kubernetesrm/informer.go
  master/internal/rm/kubernetesrm/informer_intg_test.go
  master/internal/rm/kubernetesrm/pods.go
Owners: @determined-ai/backend

third round of work
  master/internal/rm/kubernetesrm/informer.go
  master/internal/rm/kubernetesrm/informer_intg_test.go
  master/internal/rm/kubernetesrm/pods.go
Owners: @determined-ai/backend

move context ALL the way up
  master/internal/rm/kubernetesrm/informer_intg_test.go
Owners: @determined-ai/backend

best attempt so far at Makefile fix
  master/Makefile
Owners: @determined-ai/backend

reverting back to mockery v2.20.0
  master/internal/mocks/authz_experiment_iface.go
  master/internal/mocks/authz_model_iface.go
  master/internal/mocks/db.go
  master/internal/mocks/event_iface.go
  master/internal/mocks/node_iface.go
  master/internal/mocks/nsc_authz_iface.go
  master/internal/mocks/pod_iface.go
  master/internal/mocks/project_authz_iface.go
  master/internal/mocks/resources.go
  master/internal/mocks/user_authz_iface.go
  master/internal/mocks/workspace_authz_iface.go
Owners: @determined-ai/backend

still don't get this mock stuff
  master/Makefile
  master/go.mod
  master/go.sum
Owners: @determined-ai/backend

fix: k8s determined-container gets wrong RunAsUser (#7503)
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
Owners: @determined-ai/backend

fix: k8s determined-container gets wrong RunAsUser (#7503)
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
Owners: @determined-ai/backend

chore: bump version: 0.23.4-rc1 -> 0.23.4-rc2
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: @determined-ai/docs

ascii sweep var
  master/internal/api_trials_intg_test.go
Owners: @determined-ai/backend

use mid dot ident
  master/internal/trials/postgres_trials.go
Owners: @determined-ai/backend

trial test handling metrics
  master/internal/api_trials_intg_test.go
Owners: @determined-ai/backend

fix: carry dot metrics through queries
  master/internal/trials/postgres_trials.go
Owners: @determined-ai/backend

filter and order columns also follow new format
  master/internal/trials/postgres_trials.go
Owners: @determined-ai/backend

include asciisweep in request
  master/internal/api_trials_intg_test.go
Owners: @determined-ai/backend

avoid \x00 char
  master/internal/api_trials_intg_test.go
Owners: @determined-ai/backend

change color
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Owners: none

fix: Metrics with dot in name appear correctly in trial view [DET-9691] (#7450)
  master/internal/api_trials_intg_test.go
  master/internal/trials/postgres_trials.go
Owners: @determined-ai/backend

fix: dont return a workload for deleted checkpoints
  master/static/srv/proto_get_trial_workloads.sql
Owners: @determined-ai/backend

chore: update vite
  webui/react/package-lock.json
Owners: none

ci: put all GHA jobs for release tracking in a concurrency group
  .github/workflows/track-prs-for-release.yml
Owners: @determined-ai/infrastructure

rework it so hiding deleted is a new API option
  harness/determined/common/api/bindings.py
  master/internal/api_trials.go
  master/static/srv/proto_get_trial_workloads.sql
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
Owners: @determined-ai/backend

ci: put all GHA jobs for release tracking in a concurrency group (#7507)
  .github/workflows/track-prs-for-release.yml
Owners: @determined-ai/infrastructure

expand dataloader compatibility
  harness/determined/pytorch/_data.py
Owners: none

attrdict is deprecated, replace with attrdict3
  harness/tests/requirements/requirements-harness.txt
Owners: none

we no longer support tf1 images
  tools/scripts/update-bumpenvs-yaml.py
Owners: none

more progress, todo: fix three tests
  master/internal/rm/kubernetesrm/pod_test.go
Owners: @determined-ai/backend

fix: THIS IS JUST A TEST. PLEASE IGNORE
  master/static/srv/command-entrypoint.sh
Owners: @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
