Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

docs: Add article on epoch based metrics
  docs/articles/index.rst
  docs/articles/viewing-epoch-based-metrics.rst
  docs/assets/images/webui-metrics-epoch-based.png
  docs/index.rst
Owners: @determined-ai/docs

docs: add renaming tool
  docs/.redirects/all_published_urls_ever.json
  docs/.redirects/redirects.json
  docs/Makefile
  docs/README.md
  docs/conf.py
  docs/redirects.py
Owners: @determined-ai/docs

Minor cleanup
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

docs: update min python version for development (#6587)
  CONTRIBUTING.md
Owners: none

support esc for clear
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

naming reversion
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

chore: cleanup our setup.py
  .circleci/config.yml
  harness/MANIFEST.in
  harness/Makefile
  harness/setup.py
  model_hub/MANIFEST.in
  model_hub/Makefile
  model_hub/model_hub/py.typed
  model_hub/setup.py
  requirements.txt
Owners: none

ci: refactor single-gpu e2e_tests (#6661)
  .circleci/config.yml
  e2e_tests/tests/experiment/test_pytorch.py
  e2e_tests/tests/experiment/test_pytorch_lightning.py
  e2e_tests/tests/experiment/test_tf_estimator.py
  e2e_tests/tests/experiment/test_tf_keras.py
  e2e_tests/tests/fixtures/pytorch_lightning_amp/data.py
  e2e_tests/tests/fixtures/pytorch_lightning_amp/mnist.py
  e2e_tests/tests/fixtures/pytorch_lightning_amp/model_def.py
  examples/tests/test_official.py
  harness/Makefile
  harness/determined/pytorch/README.md
  harness/mypy.ini
  harness/tests/experiment/fixtures/keras_tf2_disabled_no_op/__init__.py
  harness/tests/experiment/fixtures/keras_tf2_disabled_no_op/const.yaml
  harness/tests/experiment/fixtures/keras_tf2_disabled_no_op/model_def.py
  harness/tests/experiment/fixtures/pytorch_lightning_amp/__init__.py
  harness/tests/experiment/fixtures/pytorch_lightning_amp/apex_amp.yaml
  harness/tests/experiment/fixtures/pytorch_lightning_amp/apex_amp_model_def.py
  harness/tests/experiment/fixtures/pytorch_lightning_amp/auto_amp.yaml
  harness/tests/experiment/fixtures/pytorch_lightning_amp/auto_amp_model_def.py
  harness/tests/experiment/fixtures/pytorch_lightning_amp/data.py
  harness/tests/experiment/fixtures/pytorch_lightning_amp/mnist.py
  harness/tests/experiment/fixtures/pytorch_lightning_amp/model_def.py
  harness/tests/experiment/fixtures/pytorch_lightning_amp/startup-hook.sh
  harness/tests/experiment/fixtures/pytorch_onevar_model.py
  harness/tests/experiment/integrations/test_deepspeed_trial.py
  harness/tests/experiment/integrations/test_pytorch_lightning.py
  harness/tests/experiment/keras/test_tf_keras_trial.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/utils.py
  harness/tests/test_imports.py
Owners: none

docs: add renaming tool (#6715)
  docs/.redirects/all_published_urls_ever.json
  docs/.redirects/redirects.json
  docs/Makefile
  docs/README.md
  docs/conf.py
  docs/redirects.py
Owners: @determined-ai/docs

ci: add automation script for redirects
  tools/scripts/lock-published-urls.sh
Owners: none

docs: added docstring in _checkpoint.py
  harness/determined/core/_checkpoint.py
Owners: none

testing pgFormatter
  master/Makefile
Owners: @determined-ai/backend

fix: Remove canCreateExperiment experiment param (use project to get workspace context)
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/core_experiment.go
  master/internal/core_experiment_intg_test.go
  master/internal/experiment/authz_basic_impl.go
  master/internal/experiment/authz_iface.go
  master/internal/mocks/authz_experiment_iface.go
Owners: @determined-ai/backend

disable auto run
  master/Makefile
Owners: @determined-ai/backend

chore: chart tooltips always using new tooltip [WEB-828] (#6713)
  webui/react/src/components/LearningCurveChart.tsx
  webui/react/src/components/UPlot/UPlotChart/tooltipsPlugin.ts
  webui/react/src/components/UPlot/UPlotChart/tooltipsPlugin2.ts
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/TrialDetails/F_TrialDetailsOverview.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
Owners: none

fix: Remove canCreateExperiment experiment param (use project to get workspace context) (#6712)
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/core_experiment.go
  master/internal/core_experiment_intg_test.go
  master/internal/experiment/authz_basic_impl.go
  master/internal/experiment/authz_iface.go
  master/internal/mocks/authz_experiment_iface.go
Owners: @determined-ai/backend

feat: minor test updates (#6746)
  harness/determined/pytorch/dsat/__main__.py
  harness/determined/pytorch/dsat/_defaults.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_utils.py
  harness/tests/experiment/fixtures/deepspeed_autotune/example_experiment/deepspeed.yaml
  harness/tests/experiment/fixtures/deepspeed_autotune/example_experiment/ds_config.json
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

fix: allow 0 metrics on old and new charts
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Owners: none

add model.DeletingStates
  master/internal/experiment/bulk_action.go
  master/pkg/model/experiment.go
Owners: @determined-ai/backend

not e.archived
  master/internal/experiment/bulk_action.go
Owners: @determined-ai/backend

handle active exp. states differently since the query is before we do substates
  master/internal/api_experiment.go
  master/internal/experiment/bulk_action.go
Owners: @determined-ai/backend

use nonterminal states instead of killable run states
  master/internal/experiment/bulk_action.go
  master/pkg/model/experiment.go
Owners: @determined-ai/backend

killableRunStates
  master/internal/experiment/bulk_action.go
Owners: @determined-ai/backend

fmt help
  master/internal/experiment/bulk_action.go
Owners: @determined-ai/backend

Apply suggestions from code review
  master/internal/experiment/bulk_action.go
Owners: @determined-ai/backend

terminalExperimentStates fix
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_noop.py
  master/internal/experiment/bulk_action.go
Owners: @determined-ai/backend

work on completed states
  master/internal/experiment/bulk_action.go
Owners: @determined-ai/backend

non-delete states in search
  master/internal/experiment/bulk_action.go
Owners: @determined-ai/backend

terminal and nonterminal states calculated once
  master/internal/experiment/bulk_action.go
Owners: @determined-ai/backend

completedExperimentStates
  master/internal/experiment/bulk_action.go
Owners: @determined-ai/backend

expand test access
  e2e_tests/tests/experiment/test_noop.py
Owners: none

fix: add archive and state filters to any filters queries
  master/internal/api_experiment.go
  master/internal/experiment/bulk_action.go
Owners: @determined-ai/backend

active or paused
  master/internal/experiment/bulk_action.go
Owners: @determined-ai/backend

comments and error reporting for deleteexperiments
  master/internal/api_experiment.go
Owners: @determined-ai/backend

terminalExperimentStates fix
  master/internal/experiment/bulk_action.go
Owners: @determined-ai/backend

state lists handled in pkg
  master/internal/experiment/bulk_action.go
  master/pkg/model/experiment.go
Owners: @determined-ai/backend

fix deleteexperiments logic
  master/internal/api_experiment.go
Owners: @determined-ai/backend

fix deleteexperiments logic
  master/internal/api_experiment.go
Owners: @determined-ai/backend

docs: test only do not merge
  docs/1getting-started/index.rst
  docs/1getting-started/someotherpage.rst
  docs/1getting-started/tutorials/quickstart.rst
  docs/2setup/index.rst
  docs/2setup/someotherpage.rst
  docs/index.rst
Owners: @determined-ai/docs

chore: Test RBAC transfers permission from group to users
  e2e_tests/tests/cluster/test_rbac.py
Owners: none
