Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

add form
  webui/react/src/components/ModelCreateModal.tsx
  webui/react/src/components/ModelEditModal.tsx
  webui/react/src/components/ModelVersionEditModal.tsx
  webui/react/src/components/kit/Button.tsx
  webui/react/src/components/kit/Modal.tsx
Owners: none

fix: proper placement of start/end profile step (#6834)
  harness/determined/pytorch/dsat/_run_dsat.py
Owners: none

use multiple
  webui/react/src/components/kit/Notes.tsx
  webui/react/src/components/kit/useNoteDemo.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentMultiTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ProjectNotes.tsx
Owners: none

hide exp tab extra for note
  webui/react/src/pages/ProjectNotes.tsx
Owners: none

feat: Add metrics-stream/metric-names API for multiple experiments [WEB-1107] (#6827)
  e2e_tests/tests/experiment/test_metrics.py
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/hooks/useMetricNames.ts
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

ci: bump GKE Kubernetes version
  .circleci/config.yml
Owners: none

ci: bump GKE Kubernetes version (#6835)
  .circleci/config.yml
Owners: none

remove unused page header props
  webui/react/src/components/BreadcrumbBar.tsx
  webui/react/src/components/Page.module.scss
  webui/react/src/components/Page.tsx
  webui/react/src/components/PageHeader/PageHeader.tsx
Owners: none

chore: install official hermes-parallel-coordinates and remove forked version
  webui/react/package-lock.json
  webui/react/package.json
Owners: none

chore: update library usage
  webui/react/src/components/ParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
Owners: none

chore: update hermes with the typescript fix
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
Owners: none

fix: apply new filter pattern
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
Owners: none

chore: upgrade hermes to 0.6.5
  webui/react/package-lock.json
  webui/react/package.json
Owners: none

feat: more random search test
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

docs: Update launcher dependency to 3.2.9 [DET-9474]
  docs/release-notes/launcher_329.rst
  docs/setup-cluster/deploy-cluster/slurm/overview.rst
Owners: @determined-ai/docs

fix: update filter change hook to adjust for new filter values
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
Owners: none

add check for headercomponent
  webui/react/src/components/Page.tsx
Owners: none

feat: more random search test (#6837)
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

chore: bring in added test util
  e2e_tests/tests/utils.py
Owners: none

WIP adding loading animation
  harness/determined/cli/render.py
Owners: none

migrate shell away from events
  e2e_tests/tests/utils.py
  harness/determined/cli/shell.py
  harness/determined/common/api/__init__.py
  harness/determined/common/api/_util.py
  harness/determined/common/util.py
Owners: none

WIP custom interval
  harness/determined/cli/shell.py
  harness/determined/common/util.py
Owners: none

migrate notebook
  harness/determined/cli/notebook.py
Owners: none

fix issue with notebook not printing start statement
  harness/determined/cli/notebook.py
Owners: none

add task_is_ready check. migrate shell
  harness/determined/cli/shell.py
  harness/determined/common/api/__init__.py
  harness/determined/common/api/_util.py
  harness/determined/common/util.py
Owners: none

merged in prev asha code
  harness/determined/pytorch/dsat/_defaults.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_utils.py
Owners: none

starting asha tests
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

docs: adding release note
  docs/release-notes/fix-det-e-list-cli.rst
Owners: @determined-ai/docs

add some missing task annotations
  harness/determined/common/api/bindings.py
  proto/pkg/apiv1/task.pb.go
  proto/pkg/taskv1/task.pb.go
  proto/src/determined/api/v1/task.proto
  proto/src/determined/task/v1/task.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

fix: fix missing task type
  master/static/srv/get_task.sql
Owners: @determined-ai/backend

docs: Update launcher dependency to 3.2.9 [DET-9474] (#6836)
  docs/release-notes/launcher_329.rst
  docs/setup-cluster/deploy-cluster/slurm/overview.rst
Owners: @determined-ai/docs

fix test
  harness/determined/pytorch/_pytorch_trial.py
Owners: none

add check for terminated allocations
  harness/determined/cli/notebook.py
  harness/determined/common/api/_util.py
Owners: none

remove Link type
  webui/react/src/components/Metadata/EditableMetadata.tsx
  webui/react/src/components/ModelCreateModal.tsx
  webui/react/src/components/Table/TableFilterDropdown.tsx
  webui/react/src/components/Table/TableFilterMultiSearch.tsx
  webui/react/src/components/Table/TableFilterRange.tsx
  webui/react/src/components/Table/TableFilterRank.tsx
  webui/react/src/components/Table/TableFilterSearch.tsx
  webui/react/src/components/Transfer.tsx
  webui/react/src/components/kit/Button.tsx
  webui/react/src/pages/DesignKit.tsx
Owners: none

fmt
  webui/react/src/components/Metadata/EditableMetadata.tsx
  webui/react/src/components/ModelCreateModal.tsx
  webui/react/src/components/Transfer.tsx
  webui/react/src/components/kit/Button.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/pages/TrialsComparison/Collections/useTrialCollections.tsx
Owners: none

chore: upgrade hermes for new fixes
  webui/react/package-lock.json
  webui/react/package.json
Owners: none

share the waiting logic for cli. migrate tensorboard.
  harness/determined/cli/__init__.py
  harness/determined/cli/_util.py
  harness/determined/cli/notebook.py
  harness/determined/cli/shell.py
  harness/determined/cli/tensorboard.py
Owners: none

update cli to fail instead of exit 0 if serviceAddress is missing
  harness/determined/cli/notebook.py
  harness/determined/cli/tensorboard.py
Owners: none

lint
  harness/determined/cli/_util.py
  harness/determined/cli/shell.py
  harness/determined/common/api/_util.py
  harness/determined/common/util.py
Owners: none

Add breadcrumb bar component
  webui/react/src/components/BreadcrumbBar.tsx
  webui/react/src/components/ExperimentBreadcrumbBar.tsx
  webui/react/src/components/Page.module.scss
  webui/react/src/components/Page.tsx
  webui/react/src/components/kit/Breadcrumb.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.module.scss
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
Owners: none

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
