Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

ci: track unreleased cherry-picked PRs during release (#7324)
  tools/scripts/gql.py
  tools/scripts/track-pr
Owners: none

ci: tweak PR title matching in release tracking
  tools/scripts/track-pr
Owners: none

feat(update): Upgrading to 0.23.2 without /dev/shm in pod_spec
  helm/charts/determined/Chart.yaml
  helm/charts/determined/templates/_helpers.tpl
Owners: none

use continous color range
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Owners: none

proto and bindings
  harness/determined/common/api/bindings.py
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

server-side changes
  master/internal/api_experiment.go
  master/internal/api_trials.go
  proto/buf.image.bin
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

python fix
  harness/determined/cli/proxy.py
Owners: none

ci: tweak PR title matching in release tracking (#7251)
  tools/scripts/track-pr
Owners: none

fixing intg test
  master/internal/proxy/proxy_intg_test.go
Owners: @determined-ai/backend

Settings drawer with Profile and Shortcuts
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/pages/Settings/Settings.test.tsx
  webui/react/src/pages/Settings/Settings.tsx
  webui/react/src/pages/Settings/SettingsAccount.module.scss
  webui/react/src/pages/Settings/SettingsAccount.test.tsx
  webui/react/src/pages/Settings/SettingsAccount.tsx
  webui/react/src/pages/Settings/index.ts
  webui/react/src/routes/index.tsx
  webui/react/src/routes/routes.ts
  webui/react/src/routes/utils.ts
Owners: none

ci: try rebasing main before checking PR (INFENG-178)
  .github/workflows/check-rebaseable.yml
Owners: @determined-ai/infrastructure

fmt
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/pages/Settings/SettingsAccount.test.tsx
  webui/react/src/pages/Settings/SettingsAccount.tsx
Owners: none

add build tags for proxy intg tests
  master/internal/proxy/proxy_intg_test.go
Owners: @determined-ai/backend

format
  docs/model-dev-guide/batch-processing/batch-process-api-ug.rst
  docs/reference/batch-processing/api-torch-batch-process-reference.rst
Owners: @determined-ai/docs

Add docs to index pages and toctrees
  docs/index.rst
  docs/model-dev-guide/index.rst
  docs/model-dev-guide/model-usage/batch-process-api-ug.rst
  docs/model-dev-guide/model-usage/overview.rst
  docs/reference/batch-processing/api-torch-batch-process-reference.rst
Owners: @determined-ai/docs

Edit structure and add methods references
  docs/index.rst
  docs/model-dev-guide/batch-processing/batch-process-api-ug.rst
  docs/model-dev-guide/batch-processing/overview.rst
  docs/model-dev-guide/index.rst
Owners: @determined-ai/docs

Reformat docstring
  docs/model-dev-guide/model-usage/batch-process-api-ug.rst
  docs/reference/batch-processing/api-torch-batch-process-reference.rst
  harness/determined/pytorch/experimental/_torch_batch_process.py
Owners: @determined-ai/docs

add Tara's comment 3
  docs/model-dev-guide/batch-processing/batch-process-api-ug.rst
  docs/reference/batch-processing/api-torch-batch-process-reference.rst
Owners: @determined-ai/docs

Add description on metrics reducer
  docs/model-dev-guide/model-usage/batch-process-api-ug.rst
Owners: @determined-ai/docs

format
  docs/model-dev-guide/model-usage/batch-process-api-ug.rst
  docs/reference/batch-processing/api-torch-batch-process-reference.rst
Owners: @determined-ai/docs

Edit section headers
  docs/index.rst
  docs/model-dev-guide/batch-processing/batch-process-api-ug.rst
  docs/model-dev-guide/batch-processing/overview.rst
  docs/model-dev-guide/index.rst
Owners: @determined-ai/docs

tara edit 2
  docs/model-dev-guide/model-usage/batch-process-api-ug.rst
  docs/reference/batch-processing/api-torch-batch-process-reference.rst
Owners: @determined-ai/docs

format
  docs/model-dev-guide/batch-processing/batch-process-api-ug.rst
  docs/reference/batch-processing/api-torch-batch-process-reference.rst
Owners: @determined-ai/docs

incorporated Tara's edit #1
  docs/model-dev-guide/model-usage/batch-process-api-ug.rst
  docs/model-dev-guide/model-usage/batch_processing_api.rst
  docs/reference/batch-processing/api-torch-batch-process-reference.rst
Owners: @determined-ai/docs

Batch processing API documentation
  docs/model-dev-guide/model-usage/batch_processing_api.rst
Owners: @determined-ai/docs

better testing, more stable endpoints
  harness/determined/common/api/bindings.py
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  master/static/migrations/20230620162256_trial_source_info.tx.up.sql
  proto/pkg/apiv1/trial.pb.go
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/api/v1/trial.proto
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

Mention launcher in experiment config
  docs/model-dev-guide/batch-processing/batch-process-api-ug.rst
Owners: @determined-ai/docs

replace expstate with trialstate in e2e_tests
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_custom_searcher.py
Owners: none

Theme Mode
  webui/react/src/components/kit/InlineForm.tsx
  webui/react/src/pages/Settings/SettingsAccount.tsx
Owners: none

docs: Batch Processing API doc (#7273)
  docs/index.rst
  docs/model-dev-guide/batch-processing/batch-process-api-ug.rst
  docs/model-dev-guide/index.rst
  docs/reference/batch-processing/api-torch-batch-process-reference.rst
  harness/determined/pytorch/experimental/_torch_batch_process.py
Owners: @determined-ai/docs

fix: cleared date field removed from filters
  webui/react/src/components/FilterForm/components/FilterField.tsx
Owners: none

feat: add tls to notebook connections [DET-9002] (#6735)
  master/internal/api_notebook.go
  master/internal/command/command.go
  master/internal/proxy/proxy.go
  master/internal/proxy/proxy_intg_test.go
  master/internal/proxy/tls.go
  master/internal/proxy/ws.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/static/migrations/20230627110731_add-cert-and-key-store.tx.down.sql
  master/static/migrations/20230627110731_add-cert-and-key-store.tx.up.sql
  master/static/srv/check_idle.py
  master/static/srv/notebook-entrypoint.sh
Owners: @determined-ai/backend

fix: SDK methods don't update local on failure (#7270)
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/model.py
  harness/tests/determined/common/experimental/test_checkpoint.py
  harness/tests/determined/common/experimental/test_model.py
Owners: none

alternate approach
  webui/react/src/components/FilterForm/components/FilterField.tsx
Owners: none

fix: RBAC shown as enableable only if it's available
  master/internal/config/authz_config.go
Owners: @determined-ai/backend

fixes
  master/internal/api_project.go
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: @determined-ai/backend

fix: Cleared date field removed from filters [WEB-1408] (#7359)
  webui/react/src/components/FilterForm/components/FilterField.tsx
Owners: none

chore: change out glide-grid-table to our fork on @hpe.com
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/App.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/checkboxCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/experimentStateCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/linkCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/loadingCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/progressCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/sparklineCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/tagsCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/userAvatarCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/index.tsx
  webui/react/src/pages/F_ExpList/glide-table/menu.tsx
  webui/react/src/pages/F_ExpList/glide-table/tooltip.tsx
  webui/react/src/pages/F_ExpList/glide-table/utils.ts
Owners: none

ci: try rebasing main before checking PR (INFENG-178) (#7357)
  .github/workflows/check-rebaseable.yml
Owners: @determined-ai/infrastructure

chore: lock published urls to preserve redirects
  docs/.redirects/all_published_urls_ever.json
Owners: @determined-ai/docs

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
