Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

fix e2e test linting
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/nightly/test_distributed.py
Owners: none

chore: error when non numeric epoch values are reported (#6768)
  docs/release-notes/dont-accept-epoch-bad-values.rst
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
Owners: @determined-ai/docs, @determined-ai/backend

add hf transformers to test requirements
  harness/tests/requirements/requirements-harness.txt
Owners: none

add docstring
  harness/determined/common/api/_util.py
Owners: none

wip add start_time and end_time to task proto
  harness/determined/common/api/bindings.py
  proto/pkg/taskv1/task.pb.go
  proto/src/determined/task/v1/task.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

format get_task
  master/static/srv/get_task.sql
Owners: @determined-ai/backend

move the test_deepspeed_autotuning tests so we don't mistakenly run them with the gpu unit tests
  harness/tests/experiment/integrations/test_deepspeed_autotuning.py
Owners: none

add start time and end_time to get_task query
  master/static/srv/get_task.sql
Owners: @determined-ai/backend

reformat the examples imports
  examples/deepspeed/cifar10_cpu_offloading/model_def.py
  examples/deepspeed/cifar10_moe/model_def.py
  examples/deepspeed/deepspeed_autotuning/core_api/ffn_example_ds_launcher/script.py
  examples/deepspeed/deepspeed_autotuning/core_api/ffn_example_torch_launcher/script.py
  examples/deepspeed/deepspeed_autotuning/core_api/torchvison_models/script.py
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/image_classification/image_classification.py
  examples/deepspeed/deepspeed_autotuning/native_dsat_tests/torchvision_models_example/main.py
  examples/deepspeed/deepspeed_autotuning/native_dsat_tests/torchvision_models_example/script.py
  examples/deepspeed/deepspeed_dcgan/model_def.py
  examples/deepspeed/pipeline_parallelism/model_def.py
Owners: none

progress on getting determined store correctly
  webui/react/src/components/CreateGroupModal.tsx
  webui/react/src/components/CreateUserModal.tsx
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/components/ManageGroupsModal.tsx
  webui/react/src/components/Navigation.tsx
  webui/react/src/hooks/usePermissions.test.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/Admin/index.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.tsx
  webui/react/src/pages/Clusters.tsx
  webui/react/src/pages/DefaultRoute.tsx
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/pages/SignIn.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
Owners: none

use task endTime to determine if a task is terminated
  harness/determined/common/api/_util.py
Owners: none

move the tests back
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
  harness/tests/requirements/requirements-harness.txt
Owners: none

fmt
  harness/determined/cli/render.py
  harness/determined/common/api/_util.py
  harness/determined/common/util.py
Owners: none

add a web todo
  webui/react/src/pages/Wait.tsx
Owners: none

fix: io-ts
  webui/react/src/components/FilterForm/components/type.ts
  webui/react/src/ioTypes.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

chore: change the color vis.
  webui/react/src/pages/DesignKit.tsx
Owners: none

chore: devcontainer node version and ssh bindings
  .devcontainer/devcontainer.json
Owners: none

chore: increase det deploy gcp server size to 200gb
  harness/determined/deploy/gcp/terraform/modules/compute/main.tf
Owners: none

with tests divided
  webui/react/src/hooks/usePermissions.common.tsx
  webui/react/src/hooks/usePermissions.oss.test.tsx
  webui/react/src/hooks/usePermissions.rbacAdmin.test.tsx
  webui/react/src/hooks/usePermissions.rbacReadOnly.test.tsx
  webui/react/src/hooks/usePermissions.test.tsx
  webui/react/src/hooks/usePermissions.ts
Owners: none

migrating some files
  harness/tests/experiment/integrations/deepspeed/test_deepspeed_autotuning.py
  harness/tests/experiment/integrations/deepspeed/test_deepspeed_trial.py
Owners: none

make linter not complain
  harness/tests/experiment/integrations/deepspeed/test_deepspeed_autotuning.py
Owners: none

moving and adapting tests
  harness/tests/experiment/integrations/test_deepspeed_trial.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

fix: on dashboard show workspace name and link for tasks (#6844)
  webui/react/src/pages/Dashboard.tsx
Owners: none

more tests and cleanup
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_utils.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

fix combination of loadable, observable, tests
  webui/react/src/components/CreateGroupModal.tsx
  webui/react/src/components/CreateUserModal.tsx
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/components/ManageGroupsModal.tsx
  webui/react/src/components/Navigation.tsx
  webui/react/src/hooks/usePermissions.common.tsx
  webui/react/src/hooks/usePermissions.oss.test.tsx
  webui/react/src/hooks/usePermissions.rbacAdmin.test.tsx
  webui/react/src/hooks/usePermissions.rbacReadOnly.test.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/Admin/index.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.tsx
  webui/react/src/pages/Clusters.tsx
  webui/react/src/pages/DefaultRoute.tsx
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/pages/SignIn.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
Owners: none

test cleanup
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

move up the migrations
  master/static/migrations/20230426122615_add-gen-metrics-pt-table.tx.down.sql
  master/static/migrations/20230426122615_add-gen-metrics-pt-table.tx.up.sql
Owners: @determined-ai/backend

fmt migrations
  master/static/migrations/20230426122615_add-gen-metrics-pt-table.tx.down.sql
  master/static/migrations/20230426122615_add-gen-metrics-pt-table.tx.up.sql
Owners: @determined-ai/backend

go through partitioned table.
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/pkg/model/experiment.go
Owners: @determined-ai/backend

pg 10.0 friendly
  master/static/migrations/20230426122615_add-gen-metrics-pt-table.tx.up.sql
Owners: @determined-ai/backend

designate generic_metrics partition as default
  master/static/migrations/20230426122615_add-gen-metrics-pt-table.tx.up.sql
Owners: @determined-ai/backend

Revert "designate generic_metrics partition as default"
  master/static/migrations/20230426122615_add-gen-metrics-pt-table.tx.up.sql
Owners: @determined-ai/backend

wip
  todo.md
Owners: none

add timing information
  todo.md
Owners: none

add migration to create and partition gen metrics table
  master/static/migrations/20230424164029_add-gen-metrics-pt-table.tx.down.sql
  master/static/migrations/20230424164029_add-gen-metrics-pt-table.tx.up.sql
Owners: @determined-ai/backend

add index on generic_metrics table
  master/static/migrations/20230426122615_add-gen-metrics-pt-table.tx.up.sql
Owners: @determined-ai/backend

spell out the generic_metrics table
  master/static/migrations/20230426122615_add-gen-metrics-pt-table.tx.up.sql
Owners: @determined-ai/backend

WIP db handlers: migrate to the new partitioned table
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

alter id seq id for generic_metrics
  master/static/migrations/20230426122615_add-gen-metrics-pt-table.tx.up.sql
Owners: @determined-ai/backend

Revert "alter id seq id for generic_metrics"
  master/static/migrations/20230426122615_add-gen-metrics-pt-table.tx.up.sql
Owners: @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
