Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

revert changes to generated mocks
  master/internal/mocks/nsc_authz_iface.go
  master/internal/mocks/project_authz_iface.go
  master/internal/mocks/user_authz_iface.go
  master/internal/mocks/workspace_authz_iface.go
Owners: @determined-ai/backend

update a comment. mark db old methods as DEPRECATED
  master/internal/db/postgres_trial.go
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

add missing where clause for custom_type
  master/internal/db/postgres_trial_metrics.go
Owners: @determined-ai/backend

lint
  master/internal/api_trials.go
  master/internal/db/postgres_trial.go
  master/internal/mocks/nsc_authz_iface.go
  master/internal/mocks/project_authz_iface.go
  master/internal/mocks/user_authz_iface.go
  master/internal/mocks/workspace_authz_iface.go
Owners: @determined-ai/backend

bunch of refactors to fix tests requiring transformers library
  harness/determined/integrations/huggingface/__init__.py
  harness/determined/integrations/huggingface/hf_callback.py
  harness/determined/pytorch/dsat/__init__.py
  harness/determined/pytorch/dsat/_utils.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

asha params closer to current nomenclature
  harness/determined/pytorch/dsat/_defaults.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_utils.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

fix post rebase return type change
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

remove render_event_stream
  e2e_tests/tests/utils.py
  harness/determined/cli/command.py
Owners: none

refactor: organize code
  webui/react/src/components/FilterForm/components/FilterField.tsx
  webui/react/src/components/FilterForm/components/FilterGroup.tsx
  webui/react/src/components/FilterForm/components/type.ts
Owners: none

refactor: bunify a chunk of experiment-related db queries.
  master/internal/api_checkpoint.go
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_tasks.go
  master/internal/api_tensorboard.go
  master/internal/api_trials.go
  master/internal/core_experiment.go
  master/internal/core_task.go
  master/internal/db/database.go
  master/internal/db/postgres_experiments.go
  master/internal/experiment/postgres_experiments.go
  master/internal/mocks/db.go
  master/pkg/model/experiment.go
Owners: @determined-ai/backend

remove debugging code
  master/internal/db/postgres_experiments.go
Owners: @determined-ai/backend

test: fix TestNonNumericEpochMetric test
  master/internal/api_trials_intg_test.go
Owners: @determined-ai/backend

chore: devcontainer node version and ssh bindings (#6849)
  .devcontainer/devcontainer.json
Owners: none

chore: increase det deploy gcp server size to 200gb (#6850)
  harness/determined/deploy/gcp/terraform/modules/compute/main.tf
Owners: none

test: fix TestNonNumericEpochMetric test (#6855)
  master/internal/api_trials_intg_test.go
Owners: @determined-ai/backend

move declaration of breadcrumb bar
  webui/react/src/components/BreadcrumbBar.tsx
  webui/react/src/components/ExperimentBreadcrumbBar.tsx
  webui/react/src/components/kit/Breadcrumb.module.scss
  webui/react/src/components/kit/Breadcrumb.tsx
Owners: none

chore: bump aws cloudformation timeout
  harness/determined/deploy/aws/aws.py
Owners: none

chore: lock api state for backward compatibility check
  proto/buf.image.bin
Owners: @determined-ai/backend

chore: lock api state for backward compatibility check
  proto/buf.image.bin
Owners: @determined-ai/backend

fix: total batches update on rollbacks.
  master/internal/db/postgres_trial.go
  master/static/migrations/20230504000000_recompute-trials-total-batches.tx.down.sql
  master/static/migrations/20230504000000_recompute-trials-total-batches.tx.up.sql
Owners: @determined-ai/backend

ci: install `build` when publishing Python packages
  .circleci/config.yml
Owners: none

ci: install `build` when publishing Python packages (#6861)
  .circleci/config.yml
Owners: none

chore: stabilize static typed python [MLG-498] (#6846)
  docs/reference/training/api-deepspeed-reference.rst
  docs/training/apis-howto/deepspeed/deepspeed.rst
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/nightly/test_distributed.py
  examples/deepspeed/cifar10_cpu_offloading/model_def.py
  examples/deepspeed/cifar10_moe/model_def.py
  examples/deepspeed/deepspeed_autotuning/core_api/ffn_example_ds_launcher/script.py
  examples/deepspeed/deepspeed_autotuning/core_api/ffn_example_torch_launcher/script.py
  examples/deepspeed/deepspeed_autotuning/core_api/torchvison_models/script.py
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/image_classification/image_classification.py
  examples/deepspeed/deepspeed_autotuning/native_dsat_tests/torchvision_models_example/main.py
  examples/deepspeed/deepspeed_autotuning/native_dsat_tests/torchvision_models_example/script.py
  examples/deepspeed/deepspeed_dcgan/model_def.py
  examples/deepspeed/pipeline_parallelism/model_def.py
  harness/determined/integrations/huggingface/__init__.py
  harness/determined/integrations/huggingface/hf_callback.py
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
  harness/determined/pytorch/dsat/__init__.py
  harness/determined/pytorch/dsat/__main__.py
  harness/determined/pytorch/dsat/_defaults.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_run_dsat.py
  harness/determined/pytorch/dsat/_utils.py
  harness/determined/searcher/__init__.py
  harness/determined/searcher/_search_method.py
  harness/determined/searcher/_search_runner.py
  harness/tests/custom_search_mocks.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
  harness/tests/requirements/requirements-harness.txt
Owners: @determined-ai/docs

fix: total batches update on rollbacks. (#6859)
  master/internal/db/postgres_trial.go
  master/static/migrations/20230504000000_recompute-trials-total-batches.tx.down.sql
  master/static/migrations/20230504000000_recompute-trials-total-batches.tx.up.sql
Owners: @determined-ai/backend

merged in prev asha code
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_utils.py
Owners: none

starting asha tests
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

more tests and cleanup
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_utils.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

asha params closer to current nomenclature
  harness/determined/pytorch/dsat/_defaults.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_utils.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

refactor asha args
  harness/determined/pytorch/dsat/_defaults.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_utils.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

test cleanup
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

remove breadcrumb bar
  webui/react/src/components/ExperimentBreadcrumbBar.module.css
  webui/react/src/components/ExperimentBreadcrumbBar.tsx
  webui/react/src/components/Page.module.scss
  webui/react/src/components/Page.tsx
  webui/react/src/components/kit/Breadcrumb.module.scss
  webui/react/src/components/kit/Breadcrumb.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.module.scss
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
Owners: none

feat: add count, sweep invalid groups and conditions
  webui/react/src/components/FilterForm/TableFilter.tsx
  webui/react/src/components/FilterForm/components/FilterFormStore.test.ts
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
  webui/react/src/ioTypes.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

import fix
  harness/determined/pytorch/dsat/_dsat_search_method.py
Owners: none

chore(gha): add debug info to help iterate on link preview workflow (#6821)
  .github/workflows/link-docs-preview.yml
Owners: @determined-ai/infrastructure

ci(circle): add HOME to react cache key
  .circleci/config.yml
Owners: none

foo
  docs/index.rst
Owners: @determined-ai/docs

do await inside of useEffect
  webui/react/src/pages/ExperimentDetails/ExperimentCodeViewer.tsx
Owners: none

feat: created enums for fonts and colors
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/utils/themes.ts
Owners: none

test: fix nightly `test_convergence`. (#6842)
  e2e_tests/tests/conftest.py
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/nightly/test_convergence.py
  e2e_tests/tests/test_sdk.py
Owners: none

fix: feedback
  webui/react/src/components/FilterForm/TableFilter.tsx
  webui/react/src/components/FilterForm/components/FilterFormStore.test.ts
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none
