Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

try automating some setup work
  .circleci/config.yml
Owners: none

move schleep to end
  .circleci/config.yml
Owners: none

update
  master/internal/rm/kubernetesrm/log.go
  master/internal/rm/kubernetesrm/pod.go
Owners: @determined-ai/backend

cleanup
  master/internal/rm/kubernetesrm/pod.go
Owners: @determined-ai/backend

fix the names of the e2e tests and in README
  e2e_tests/tests/nightly/test_distributed.py
  examples/hf_trainer_api/README.md
Owners: none

feat: rp-workspace db migration (#6978)
  master/static/migrations/20230525143842_add-rp-workspace-bindings.tx.down.sql
  master/static/migrations/20230525143842_add-rp-workspace-bindings.tx.up.sql
Owners: @determined-ai/backend

feat: Add Proto Messages [DET-9518] (#6981)
  proto/buf.image.bin
  proto/pkg/apiv1/resourcepool.pb.go
  proto/pkg/apiv1/workspace.pb.go
  proto/pkg/resourcepoolv1/resourcepool.pb.go
  proto/src/determined/api/v1/resourcepool.proto
  proto/src/determined/api/v1/workspace.proto
  proto/src/determined/resourcepool/v1/resourcepool.proto
Owners: @determined-ai/backend

feat: add api endpoints for rp-workspace mapping
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/workspace.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/workspace.proto
Owners: @determined-ai/backend

adding handler stubs
  master/internal/api_resourcepool.go
  master/internal/api_workspace.go
Owners: @determined-ai/backend

more proto changes
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/resourcepool.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/resourcepool.proto
Owners: @determined-ai/backend

don't run so many e2e_tests for deepspeed
  e2e_tests/tests/nightly/test_distributed.py
Owners: none

feat: Add Proto Messages [DET-9518] (#6981)
  proto/buf.image.bin
  proto/pkg/apiv1/resourcepool.pb.go
  proto/pkg/apiv1/workspace.pb.go
  proto/pkg/resourcepoolv1/resourcepool.pb.go
  proto/src/determined/api/v1/resourcepool.proto
  proto/src/determined/api/v1/workspace.proto
  proto/src/determined/resourcepool/v1/resourcepool.proto
Owners: @determined-ai/backend

reduce hf image class ds slots per trial
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
Owners: none

reduce hf image class ds slots per trial (#6998)
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
Owners: none

fix e2e tests
  e2e_tests/tests/config.py
  e2e_tests/tests/nightly/test_distributed.py
Owners: none

feat: strategic merge pod spec with task_container_defaults [DET-7227] (#5728)
  agent/go.mod
  agent/go.sum
  docs/release-notes/pod-spec-merging.rst
  docs/setup-cluster/deploy-cluster/k8s/custom-pod-specs.rst
  master/internal/api_command.go
  master/pkg/model/task_container_defaults_test.go
  master/pkg/schemas/expconf/environment_config.go
  master/pkg/schemas/expconf/experiment_config_test.go
Owners: @determined-ai/backend, @determined-ai/docs

chore: Remove unused ExperimentConfiguration
  webui/react/src/pages/ExperimentDetails/ExperimentConfiguration.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentConfiguration.tsx
Owners: none

chore: Remove unused ExperimentConfiguration (#6959)
  webui/react/src/pages/ExperimentDetails/ExperimentConfiguration.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentConfiguration.tsx
Owners: none

lint
  master/internal/api_experiment.go
Owners: @determined-ai/backend

fix: Stabilize return order for experiments (#6968)
  master/internal/api_experiment.go
Owners: @determined-ai/backend

fix the convergence tests
  e2e_tests/tests/config.py
  e2e_tests/tests/nightly/test_convergence.py
  e2e_tests/tests/nightly/test_distributed.py
Owners: none

chore: adjust end_time threshold for allocation tensorboard test [DET-9542]
  e2e_tests/tests/experiment/test_allocation_csv.py
Owners: none

fix: k8s tasklist forever growing (#6957)
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/resource_pool.go
Owners: @determined-ai/backend

chore: upgrade typescript to v5.0.4 along with eslint and prettier
  webui/react/package-lock.json
  webui/react/package.json
Owners: none

fix: type
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
  webui/react/src/utils/user.ts
Owners: none

fix: unwrap `Readonly` due to typescript v5 bug
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
  webui/react/src/shared/configs/eslintrc.js
  webui/react/src/utils/user.ts
Owners: none

fix: minor fixes
  webui/react/src/shared/configs/eslintrc.js
Owners: none

chore: adjust end_time threshold for allocation tensorboard test [DET-9542] (#6992)
  e2e_tests/tests/experiment/test_allocation_csv.py
Owners: none

feat: add provisioning timeouts (#6447)
  docs/reference/deploy/config/master-config-reference.rst
  docs/release-notes/launch-error-timeout.rst
  master/cmd/determined-master/root_test.go
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/config.go
  master/internal/config/provconfig/config_test.go
  master/internal/config/provconfig/gcp_config.go
  master/internal/experiment.go
  master/internal/rm/agentrm/provisioner/aws.go
  master/internal/rm/agentrm/provisioner/aws_spot.go
  master/internal/rm/agentrm/provisioner/gcp.go
  master/internal/rm/agentrm/provisioner/provisioner.go
  master/internal/rm/agentrm/provisioner/provisioner_test.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/task/allocation.go
  master/internal/trial.go
  master/pkg/errors/errors.go
  master/pkg/errors/errors_test.go
Owners: @determined-ai/docs, @determined-ai/backend

ci: `det deploy aws` flavor for a normal RDS postgres.
  .circleci/config.yml
  harness/determined/cli/render.py
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/constants.py
  harness/determined/deploy/aws/deployment_types/simple.py
  harness/determined/deploy/aws/injector/master.yaml.tmpl
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
Owners: none

use partition type
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

refactor: full trial summary metrics recompute take metric type as param
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
Owners: @determined-ai/backend

change name
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

move logic out of insert metrics
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

refactor: full trial summary metrics recompute take metric type as param (#6997)
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
Owners: @determined-ai/backend

fix test issue
  webui/react/src/pages/ExperimentDetails/ExperimentCodeViewer.test.tsx
Owners: none

height/border issues
  webui/react/src/components/kit/CodeEditor.tsx
  webui/react/src/components/kit/CodeEditor/CodeEditor.module.scss
Owners: none

first replacement
  webui/react/src/components/CodeMirrorEditor.tsx
  webui/react/src/components/ExperimentCreateModal.tsx
  webui/react/src/components/kit/CodeEditor.tsx
Owners: none

height issue
  webui/react/src/components/kit/CodeEditor.tsx
  webui/react/src/components/kit/CodeEditor/CodeEditor.module.scss
Owners: none

updated
  webui/react/src/components/JupyterLabModal.tsx
  webui/react/src/components/Markdown.tsx
  webui/react/src/components/WorkspaceCreateModal.tsx
  webui/react/src/components/kit/CodeEditor.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCodeViewer.test.tsx
  webui/react/src/pages/TrialsComparison/Collections/useModalViewFilters.tsx
Owners: none

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
