Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

update gradient aggregation test
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

set aggregation frequency to 2
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

ci: handle cherry-picking PRs for release (#7035)
  tools/scripts/track-pr
Owners: none

fix summation logic
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

run 48 batches
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

test: fix formatting from merge push
  harness/tests/fixtures/api_responses.py
Owners: none

chore: add a param to user.InitService
  master/internal/core.go
  master/internal/rm/agentrm/agent_resource_manager_intg_test.go
  master/internal/rm/agentrm/resource_managers_test.go
  master/internal/user/service.go
  master/internal/user/service_intg_test.go
Owners: @determined-ai/backend

Lint
  master/internal/core.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/user/service.go
Owners: @determined-ai/backend

changed remove bindings endpoint to delete method
  harness/determined/common/api/bindings.py
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/src/determined/api/v1/api.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

Undo a change
  master/internal/rm/kubernetesrm/pods.go
Owners: @determined-ai/backend

fix: mask checkpoint storage secrets in gc logs
  harness/determined/exec/gc_checkpoints.py
  harness/determined/exec/launch.py
  harness/determined/util.py
Owners: none

sep: fix parameter ordering with minimal impact on client code
  bindings/generate_bindings_ts.py
Owners: none

chore: await_first_trial ensures first trial is returned (#7079)
  harness/determined/common/experimental/experiment.py
  harness/tests/determined/common/experimental/test_experiment.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/experiment_trials.json
Owners: none

make fields required
  proto/pkg/apiv1/workspace.pb.go
  proto/src/determined/api/v1/workspace.proto
Owners: @determined-ai/backend

some debug print statements
  harness/determined/pytorch/_pytorch_context.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

move migration to the top
  master/static/migrations/20230612112824_add-rp-workspace-bindings.tx.down.sql
  master/static/migrations/20230613164813_add-rp-workspace-bindings.tx.down.sql
  master/static/migrations/20230613164813_add-rp-workspace-bindings.tx.up.sql
Owners: @determined-ai/backend

required fields in the wrong message
  proto/pkg/apiv1/resourcepool.pb.go
  proto/pkg/apiv1/workspace.pb.go
  proto/src/determined/api/v1/resourcepool.proto
  proto/src/determined/api/v1/workspace.proto
Owners: @determined-ai/backend

feat: rp-workspace mapping proto (#7125)
  harness/determined/common/api/bindings.py
  master/internal/api_resourcepool.go
  master/internal/api_workspace.go
  master/internal/db/postgres_test_utils.go
  master/static/migrations/20230613164813_add-rp-workspace-bindings.tx.down.sql
  master/static/migrations/20230613164813_add-rp-workspace-bindings.tx.up.sql
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/resourcepool.pb.go
  proto/pkg/apiv1/workspace.pb.go
  proto/pkg/workspacev1/workspace.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/resourcepool.proto
  proto/src/determined/api/v1/workspace.proto
  proto/src/determined/workspace/v1/workspace.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

resolve feedback
  docs/setup-cluster/security/tls.rst
Owners: @determined-ai/docs

docs: Add TLS Certs Setup Guide
  docs/setup-cluster/security/tls.rst
Owners: @determined-ai/docs

chore: lock api state for backward compatibility check
  proto/buf.image.bin
Owners: @determined-ai/backend

chore: lock published urls to preserve redirects
  docs/.redirects/all_published_urls_ever.json
Owners: @determined-ai/docs

chore: bump version: 0.23.1-dev0 -> 0.23.1-rc0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: none

docs: Add TLS Certs Setup Guide (#7110)
  docs/setup-cluster/security/tls.rst
Owners: @determined-ai/docs

fix: use MetricBadgeTag for chart grid title
  webui/react/src/components/kit/LineChart.module.scss
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
Owners: none

add warning about pipeline/model parallelism
  docs/model-dev-guide/apis-howto/deepspeed/autotuning.rst
Owners: @determined-ai/docs

simplify DeepSpeedTrial instructions
  docs/model-dev-guide/apis-howto/deepspeed/autotuning.rst
Owners: @determined-ai/docs

locationtype to filter by training metrics
  harness/determined/common/api/bindings.py
  proto/pkg/projectv1/project.pb.go
  proto/src/determined/project/v1/project.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

sort training metrics by count,last,min,max,sum from bestTrial summary metrics
  master/internal/api_experiment.go
Owners: @determined-ai/backend

include locationtype.training in webui iotypes
  webui/react/src/ioTypes.ts
Owners: none

filtering on summary stats
  master/internal/api_experiment.go
  master/internal/experiment_filter.go
Owners: @determined-ai/backend

support multiple sorts
  master/internal/api_experiment.go
Owners: @determined-ai/backend

feat: Experiment-search API supports summary metrics from training [WEB-1302] (#7115)
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/experiment_filter.go
  proto/pkg/projectv1/project.pb.go
  proto/src/determined/project/v1/project.proto
  webui/react/src/ioTypes.ts
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

feat: used icons in the application
  webui/react/src/components/FilterForm/TableFilter.tsx
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/RowHeightMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Owners: none

remove accidental test warning
  docs/model-dev-guide/apis-howto/deepspeed/autotuning.rst
Owners: @determined-ai/docs

debug stuff
  harness/determined/pytorch/_pytorch_context.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

chore: bump version: 0.23.1-rc0 -> 0.23.1-rc1
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: none

also include the search_method code
  harness/determined/searcher/_search_method.py
Owners: none

chore: backport agent info permission definition.
  harness/determined/common/api/bindings.py
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

more debug prints
  harness/determined/util.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
