Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

fix date parsing
  master/internal/api_experiment.go
Owners: @determined-ai/backend

borked migration error OSS
  master/internal/db/migrations.go
Owners: @determined-ai/backend

chore: update launch_error docs and add release notes (#6561)
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/release-notes/launch-error.rst
Owners: @determined-ai/docs

updated date cases
  master/internal/api_experiment.go
  master/internal/api_experiment_test.go
Owners: @determined-ai/backend

ci: change dependabot target branch
  .github/dependabot.yml
Owners: @determined-ai/infrastructure

gen bindings
  master/internal/db/postgres_trial.go
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

ci: update for master-main rename
  .circleci/config.yml
  webui/react/Makefile
Owners: none

ci: update branch names
  .circleci/config.yml
Owners: none

ci: kill GKE GPU node pool creation if it's taking too long
  .circleci/config.yml
Owners: none

ci: kill GKE GPU node pool creation if it's taking too long (#6565)
  .circleci/config.yml
Owners: none

feat: Support order for experiment search API (#6479)
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/db/postgres_trial.go
  master/static/migrations/20230412164535_add-searcher-metrics-sign.tx.down.sql
  master/static/migrations/20230412164535_add-searcher-metrics-sign.tx.up.sql
  proto/pkg/apiv1/experiment.pb.go
  proto/pkg/experimentv1/experiment.pb.go
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/experiment/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
Owners: @determined-ai/backend

rename tags to match makefile
  harness/tests/experiment/keras/test_tf_keras_trial.py
  harness/tests/experiment/pytorch/test_pytorch_lightning.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/tensorflow/test_estimator_trial.py
Owners: none

uncomment gpu tests
  .circleci/config.yml
Owners: none

Revert "feat(update): Adding CPU Pool"
  helm/charts/determined/Chart.yaml
  helm/charts/determined/templates/_helpers.tpl
  helm/charts/determined/templates/master-config.yaml
Owners: none

Revert "feat(fix): Fixing RTX_A6000 definition"
  helm/charts/determined/Chart.yaml
  helm/charts/determined/templates/_helpers.tpl
Owners: none

Revert "Revert "Revert "Revert "Revert "feat(update): Adding Resource Pools"""""
  examples/deepspeed/gpt_neox/gpt_neox_config/determined_cluster.yml
  examples/deepspeed/gpt_neox/zero1_3d_parallel.yaml
  examples/tutorials/fashion_mnist_tf_keras/const.yaml
  examples/tutorials/fashion_mnist_tf_keras/distributed.yaml
  examples/tutorials/mnist_pytorch/adaptive.yaml
  examples/tutorials/mnist_pytorch/const.yaml
  helm/charts/determined/Chart.yaml
  helm/charts/determined/templates/_helpers.tpl
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/templates/master-permissions.yaml
  helm/charts/determined/values.schema.json
  helm/charts/determined/values.yaml
Owners: none

Update Chart.yaml
  helm/charts/determined/Chart.yaml
Owners: none

Unpin protobuf
  e2e_tests/tests/requirements.txt
  examples/tests/requirements.txt
Owners: none

feat(fix): Update CPU Pod Spec and ensure CPU/Mem for master/DB are increased
  helm/charts/determined/templates/_helpers.tpl
  helm/charts/determined/values.schema.json
  helm/charts/determined/values.yaml
Owners: none

chore: playwright setup
  .github/workflows/playwright.yml
  webui/react/.gitignore
  webui/react/e2e/example.spec.ts
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/playwright.config.ts
Owners: @determined-ai/infrastructure

chore: move e2e dir
  .github/workflows/playwright.yml
Owners: @determined-ai/infrastructure

test: top level navigation test
  webui/react/e2e/navigation.spec.ts
  webui/react/e2e/screenshots.spec.ts
  webui/react/e2e/screenshots.spec.ts-snapshots/accordion-basic-closed-chromium-darwin.png
  webui/react/e2e/screenshots.spec.ts-snapshots/accordion-basic-closed-firefox-darwin.png
  webui/react/e2e/screenshots.spec.ts-snapshots/accordion-basic-closed-webkit-darwin.png
  webui/react/e2e/screenshots.spec.ts-snapshots/accordion-basic-open-child-chromium-darwin.png
  webui/react/e2e/screenshots.spec.ts-snapshots/accordion-basic-open-child-firefox-darwin.png
  webui/react/e2e/screenshots.spec.ts-snapshots/accordion-basic-open-child-webkit-darwin.png
  webui/react/e2e/screenshots.spec.ts-snapshots/accordion-basic-open-chromium-darwin.png
  webui/react/e2e/screenshots.spec.ts-snapshots/accordion-basic-open-firefox-darwin.png
  webui/react/e2e/screenshots.spec.ts-snapshots/accordion-basic-open-webkit-darwin.png
  webui/react/e2e/screenshots.spec.ts-snapshots/login-screen-chromium-darwin.png
  webui/react/e2e/screenshots.spec.ts-snapshots/login-screen-firefox-darwin.png
  webui/react/e2e/screenshots.spec.ts-snapshots/login-screen-webkit-darwin.png
Owners: none

feat: first test cases
  webui/react/.gitignore
  webui/react/e2e/auth.spec.ts
  webui/react/e2e/example.spec.ts
  webui/react/e2e/screenshots.spec.ts
  webui/react/e2e/screenshots.spec.ts-snapshots/accordion-basic-closed-chromium-darwin.png
  webui/react/e2e/screenshots.spec.ts-snapshots/accordion-basic-closed-firefox-darwin.png
  webui/react/e2e/screenshots.spec.ts-snapshots/accordion-basic-closed-webkit-darwin.png
  webui/react/e2e/screenshots.spec.ts-snapshots/accordion-basic-open-child-chromium-darwin.png
  webui/react/e2e/screenshots.spec.ts-snapshots/accordion-basic-open-child-firefox-darwin.png
  webui/react/e2e/screenshots.spec.ts-snapshots/accordion-basic-open-child-webkit-darwin.png
  webui/react/e2e/screenshots.spec.ts-snapshots/accordion-basic-open-chromium-darwin.png
  webui/react/e2e/screenshots.spec.ts-snapshots/accordion-basic-open-firefox-darwin.png
  webui/react/e2e/screenshots.spec.ts-snapshots/accordion-basic-open-webkit-darwin.png
  webui/react/e2e/screenshots.spec.ts-snapshots/login-screen-chromium-darwin.png
  webui/react/e2e/screenshots.spec.ts-snapshots/login-screen-firefox-darwin.png
  webui/react/e2e/screenshots.spec.ts-snapshots/login-screen-webkit-darwin.png
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/playwright.config.ts
  webui/react/src/routes/routes.ts
Owners: none

chore: ci setup
  .github/workflows/playwright.yml
  webui/react/playwright.config.ts
  webui/react/vite.config.ts
Owners: @determined-ai/infrastructure

chore: clean up
  webui/react/playwright.config.ts
  webui/react/src/e2e/auth.spec.ts
  webui/react/src/e2e/fixtures/dev.fixture.ts
  webui/react/src/e2e/global-fixtures.ts
  webui/react/src/e2e/navigation.spec.ts
Owners: none

chore: move e2e dir
  webui/react/.gitignore
  webui/react/playwright.config.ts
  webui/react/src/e2e/auth.spec.ts
  webui/react/src/e2e/navigation.spec.ts
Owners: none

chore: circle ci config
  .circleci/config.yml
Owners: none

ci: ci config setup
  .circleci/config.yml
  .github/workflows/playwright.yml
  webui/react/Makefile
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/playwright.config.ts
  webui/react/src/e2e/auth.spec.ts
  webui/react/src/e2e/fixtures/dev.fixture.ts
  webui/react/src/e2e/navigation.spec.ts
  webui/react/vite.config.ts
Owners: @determined-ai/infrastructure

doc: e2e README
  webui/react/src/e2e/README.md
Owners: none

chore: format vite.config.ts
  webui/react/vite.config.ts
Owners: none

fixing merge conflicts
  harness/determined/common/api/bindings.py
  master/internal/db/postgres_trial.go
  proto/pkg/apiv1/experiment.pb.go
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

fixing merge conflicts
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  proto/pkg/apiv1/experiment.pb.go
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
Owners: @determined-ai/backend

chore: tensorflow 2.12 [MLG-358] (#6527)
  .circleci/config.yml
  e2e_tests/tests/experiment/test_tf_keras.py
  e2e_tests/tests/requirements.txt
  examples/computer_vision/cifar10_tf_keras/cifar_model.py
  examples/computer_vision/iris_tf_keras/model_def.py
  examples/decision_trees/gbt_titanic_estimator/model_def.py
  examples/tests/requirements.txt
  examples/tests/test_official.py
  harness/determined/keras/_tf_keras_trial.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/code/model_def.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.7-keras/code/model_def.py
  harness/tests/experiment/fixtures/ancient_keras_ckpt.py
  harness/tests/experiment/fixtures/tf_keras_one_var_model.py
  harness/tests/experiment/fixtures/tf_keras_xor_model.py
  requirements.txt
Owners: none

formatting updates
  master/internal/api_experiment_test.go
Owners: @determined-ai/backend

feat: agent support for podman
  agent/internal/agent.go
  agent/internal/options/options.go
  agent/pkg/podman/podman.go
  agent/pkg/podman/podman_test.go
Owners: @determined-ai/backend

empty strings or conditional groups no longer valid
  master/internal/api_experiment.go
  master/internal/api_experiment_test.go
Owners: @determined-ai/backend

creating more error cases
  master/internal/api_experiment.go
  master/internal/api_experiment_test.go
Owners: @determined-ai/backend

use gke runner for testing
  .circleci/config.yml
Owners: none

fix: metrics sampling for metrics with epochs.
  master/internal/api_trials_intg_test.go
  master/internal/trials/postgres_trials.go
Owners: @determined-ai/backend

feat: deepspeed autotune trial based methods
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/pytorch/deepspeed/dsat/autotune.py
Owners: none

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
