Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @ioga, @hamidzr, @trentwatt

image fix
  docs/release-notes/zero-slot-k8s.txt
  master/internal/resourcemanagers/kubernetes/spec.go
Owners: @determined-ai/docs, @ioga

fix
  master/internal/resourcemanagers/kubernetes/spec.go
Owners: @ioga

trials -> tasks
  docs/release-notes/zero-slot-k8s.txt
Owners: @determined-ai/docs

missed one
  master/internal/resourcemanagers/kubernetes/spec.go
Owners: @ioga

template fix
  e2e_tests/tests/fixtures/templates/template.yaml
  e2e_tests/tests/template/test_template.py
  harness/determined/cli/notebook.py
Owners: none

Fix preview bug
  docs/release-notes/fix-notebook-ignore-template.txt
  harness/determined/cli/notebook.py
Owners: @determined-ai/docs

Release notes
  docs/release-notes/fix-notebook-ignore-template.txt
Owners: @determined-ai/docs

feedback
  docs/release-notes/fix-notebook-ignore-template.txt
Owners: @determined-ai/docs

docs feedback
  docs/release-notes/zero-slot-k8s.txt
Owners: @determined-ai/docs

pr changes
  master/internal/experiment.go
  master/pkg/searcher/custom_search.go
  master/pkg/searcher/custom_searcher_events_queue.go
  master/pkg/searcher/search_method.go
  master/pkg/searcher/searcher.go
Owners: none

change update check, restore min logic
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.tsx
Owners: none

fix nil pointer exception
  master/internal/api_groups.go
Owners: none

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs

### individuals
# Ilia cares about agent RM.
/master/internal/resourcemanagers/ @ioga
/master/internal/sproto/ @ioga
/proto/src/determined/ @ioga
/agent/ @ioga

# Hamid and Trent care about shared code
/webui/react/src/shared/ @hamidzr @trentwatt
