Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

add a check to see if the column is already added
  master/static/migrations/20230412111057_total_batches_trial.tx.up.sql
Owners: @determined-ai/backend

install codecov binary
  .circleci/config.yml
Owners: none

silent curl
  .circleci/config.yml
Owners: none

chore: better error messages for logging test
  e2e_tests/tests/cluster/test_logging.py
Owners: none

output
  .circleci/config.yml
Owners: none

token
  .circleci/config.yml
Owners: none

hide context menu on a scroll
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

codecov args
  .circleci/config.yml
Owners: none

codecov args
  .circleci/config.yml
Owners: none

ci: fix incorrect secret in helm workflow
  .github/workflows/publish-helm.yml
Owners: @determined-ai/infrastructure

Add chart '0.19.9' due to workflow_dispatch
  determined-helm-chart_0.19.9.tgz
  index.yaml
Owners: none

linting
  e2e_tests/tests/cluster/test_logging.py
Owners: none

Add chart '0.19.10' due to workflow_dispatch
  determined-helm-chart_0.19.10.tgz
  index.yaml
Owners: none

Add chart '0.19.11' due to workflow_dispatch
  determined-helm-chart_0.19.11.tgz
  index.yaml
Owners: none

Add chart '0.20.0' due to workflow_dispatch
  determined-helm-chart_0.20.0.tgz
  index.yaml
Owners: none

Add chart '0.20.1' due to workflow_dispatch
  determined-helm-chart_0.20.1.tgz
  index.yaml
Owners: none

Add chart '0.21.0' due to workflow_dispatch
  determined-helm-chart_0.21.0.tgz
  index.yaml
Owners: none

Add chart '0.21.1' due to workflow_dispatch
  determined-helm-chart_0.21.1.tgz
  index.yaml
Owners: none

ci: fix incorrect secret in helm workflow (#6537)
  .github/workflows/publish-helm.yml
Owners: @determined-ai/infrastructure

nearly finished
  master/internal/api_experiment.go
Owners: @determined-ai/backend

fix all jobs
  .circleci/config.yml
Owners: none

docs: minor edit pod security
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/overview.rst
Owners: @determined-ai/docs

context menu disappears onVisibleChange
  webui/react/src/pages/F_ExpList/glide-table/contextMenu.tsx
Owners: none

docs: minor edit pod security (#6536)
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/overview.rst
Owners: @determined-ai/docs

fix: install codecov uploader in CI (#6538)
  .circleci/config.yml
Owners: none

lint
  harness/determined/deploy/local/cluster_utils.py
Owners: none

add comments
  harness/determined/deploy/local/cluster_utils.py
Owners: none

exit if db fails
  harness/determined/deploy/local/cluster_utils.py
Owners: none

wait for db and be more tolerant with faults
  harness/determined/deploy/local/cluster_utils.py
Owners: none

catch exception
  harness/determined/deploy/local/cluster_utils.py
Owners: none

exitstack
  harness/determined/deploy/local/cluster_utils.py
Owners: none

chore: remove docker-compose dependency in det deploy local
  e2e_tests/tests/cluster/test_checkpoints.py
  e2e_tests/tests/cluster/test_resource_manager.py
  e2e_tests/tests/command/test_run.py
  e2e_tests/tests/command/test_tensorboard.py
  e2e_tests/tests/conftest.py
  e2e_tests/tests/deploy/test_local.py
  e2e_tests/tests/experiment/test_custom_searcher.py
  e2e_tests/tests/experiment/test_profiling.py
  e2e_tests/tests/template/test_template.py
  harness/determined/cli/job.py
  harness/determined/deploy/aws/gen_vcpu_mapping.py
  harness/determined/deploy/aws/preflight.py
  harness/determined/deploy/local/cli.py
  harness/determined/deploy/local/cluster_utils.py
  harness/determined/deploy/local/docker-compose.yaml
  harness/setup.py
  harness/tests/experiment/fixtures/pytorch_onevar_model.py
  tools/scripts/bumpenvs.py
  tools/scripts/refresh-ubuntu-amis.py
  tools/scripts/update-bumpenvs-yaml.py
Owners: none

mypy
  harness/determined/deploy/local/cluster_utils.py
Owners: none

remove jsonschema dependency
  harness/setup.py
Owners: none

raise exception
  harness/determined/deploy/local/cluster_utils.py
Owners: none

added test cases
  master/internal/api_experiment.go
  master/internal/api_experiment_test.go
Owners: @determined-ai/backend

test updates
  master/internal/api_experiment_test.go
Owners: @determined-ai/backend

chore: remove docker compose dependency [MLG-37] (#6499)
  e2e_tests/tests/cluster/test_checkpoints.py
  e2e_tests/tests/cluster/test_resource_manager.py
  e2e_tests/tests/command/test_run.py
  e2e_tests/tests/command/test_tensorboard.py
  e2e_tests/tests/conftest.py
  e2e_tests/tests/deploy/test_local.py
  e2e_tests/tests/experiment/test_custom_searcher.py
  e2e_tests/tests/experiment/test_profiling.py
  e2e_tests/tests/template/test_template.py
  harness/determined/cli/job.py
  harness/determined/deploy/aws/gen_vcpu_mapping.py
  harness/determined/deploy/aws/preflight.py
  harness/determined/deploy/local/cli.py
  harness/determined/deploy/local/cluster_utils.py
  harness/determined/deploy/local/docker-compose.yaml
  harness/setup.py
  harness/tests/experiment/fixtures/pytorch_onevar_model.py
  tools/scripts/bumpenvs.py
  tools/scripts/refresh-ubuntu-amis.py
  tools/scripts/update-bumpenvs-yaml.py
Owners: none

add tensorflow single gpu test, move fixture
  harness/tests/experiment/fixtures/keras_tf2_disabled_no_op/__init__.py
  harness/tests/experiment/fixtures/keras_tf2_disabled_no_op/const.yaml
  harness/tests/experiment/fixtures/keras_tf2_disabled_no_op/model_def.py
  harness/tests/experiment/keras/test_tf_keras_trial.py
  harness/tests/experiment/tensorflow/test_estimator_trial.py
Owners: none

chore: fix the migration order for adding trials.total_batches (#6533)
  master/static/migrations/20230330201702_total_batches_trial.tx.up.sql
  master/static/migrations/20230412111057_total_batches_trial.tx.down.sql
  master/static/migrations/20230412111057_total_batches_trial.tx.up.sql
Owners: @determined-ai/backend
