Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

docs: stop relying on algolia crawler (#6584)
  docs/Makefile
  docs/assets/scripts/docsearch.sbt.js
  docs/deploy/scrape.py
  docs/deploy/start_algolia_crawl.sh
  docs/requirements.txt
Owners: @determined-ai/docs

ci: master main rename (#6570)
  .circleci/config.yml
  .github/dependabot.yml
  webui/react/Makefile
Owners: @determined-ai/infrastructure

fix docs format
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/singularity.rst
  docs/training/setup-guide/custom-env.rst
Owners: @determined-ai/docs

fix: update test to reflect change in CompareTrialsRequest
  master/internal/api_trials_intg_test.go
Owners: @determined-ai/backend

fix: close modal properly (#6574)
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.test.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
Owners: none

fix: update test to reflect change in CompareTrialsRequest (#6585)
  master/internal/api_trials_intg_test.go
Owners: @determined-ai/backend

ci: update remaining references to master branch
  .circleci/config.yml
Owners: none

chore: upgrade Black to latest version
  .pre-commit-config.yaml
  requirements.txt
Owners: none

Refer to tf 2.12, 1.15, and 2.8 in docs
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/singularity.rst
  docs/training/apis-howto/overview.rst
  docs/training/setup-guide/custom-env.rst
Owners: @determined-ai/docs

ci: update remaining references to master branch (#6588)
  .circleci/config.yml
Owners: none

chore: lock api state for backward compatibility check
  proto/buf.image.bin
Owners: @determined-ai/backend

chore: bump version: 0.21.2-dev0 -> 0.21.2-rc0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/setup.py
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: none

lazy load imports to speed up load time
  harness/determined/cli/experiment.py
  harness/determined/common/api/profiler.py
  harness/determined/common/api/request.py
  harness/determined/common/context.py
  harness/determined/common/storage/hdfs.py
  harness/determined/ipc.py
  harness/determined/tensorboard/hdfs.py
Owners: none

intg test
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  master/internal/trials/postgres_trials.go
  proto/buf.image.bin
  proto/pkg/apiv1/experiment.pb.go
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/api/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

multitrial sample api, intg test
  harness/determined/common/api/bindings.py
  master/go.mod
  master/go.sum
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  master/internal/db/postgres_experiments.go
  master/internal/trials/postgres_trials.go
  proto/buf.image.bin
  proto/pkg/apiv1/experiment.pb.go
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/api/v1/trial.proto
  tools/devcluster.yaml
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

nil err
  master/internal/api_experiment.go
Owners: @determined-ai/backend

multitrial sample api, intg test
  tools/devcluster.yaml
Owners: none

epoch nil
  master/internal/api_trials_intg_test.go
  master/internal/trials/postgres_trials.go
Owners: @determined-ai/backend

fix go.mod and go.sum
  master/go.mod
  master/go.sum
  webui/react/src/services/decoder.ts
Owners: @determined-ai/backend

fix go.mod and go.sum
  agent/go.mod
  agent/go.sum
Owners: @determined-ai/backend

webui changes
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
  webui/react/src/pages/TrialsComparison/Metrics/useLearningCurveData.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Owners: none

fix go.sum
  master/go.sum
Owners: @determined-ai/backend

fix int test
  master/internal/api_trials_intg_test.go
Owners: @determined-ai/backend

fix
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
  webui/react/src/pages/TrialsComparison/Metrics/useLearningCurveData.ts
  webui/react/src/services/decoder.ts
Owners: none

ci: quarantine some flaky tests
  .circleci/config.yml
  e2e_tests/pytest.ini
  e2e_tests/tests/conftest.py
  e2e_tests/tests/deploy/test_local.py
  e2e_tests/tests/model_hub/test_mmdetection.py
Owners: none

fix intg test
  master/internal/trials/postgres_trials.go
Owners: @determined-ai/backend

ci: quarantine some flaky tests (#6577)
  .circleci/config.yml
  e2e_tests/pytest.ini
  e2e_tests/tests/conftest.py
  e2e_tests/tests/deploy/test_local.py
  e2e_tests/tests/model_hub/test_mmdetection.py
Owners: none

fix: moving model to new workspace - workspaces sort
  webui/react/src/components/ModelMoveModal.tsx
  webui/react/src/hooks/useModal/Model/useModalModelMove.tsx
Owners: none

Changes for readibility, Google-style imports, and clearer documentation
  harness/determined/core/_context.py
Owners: none

feat: storage manager shortcut dictionaries [MLG-407]
  harness/determined/core/_context.py
Owners: none

Fix deprecation warning
  harness/tests/storage/test_gcs.py
Owners: none

Unit tests of _get_storage_manager (and of storage.build)
  harness/tests/storage/test_storage_base.py
Owners: none

lint fix
  harness/determined/core/_context.py
Owners: none

Break out storage_manager construction from init and _dummy_init
  harness/determined/core/_context.py
Owners: none

Raise TypeError when checkpoint_storage is neither a str nor dict
  harness/determined/core/_context.py
Owners: none

fix: Investigate "directory does not exist" tensorboard warning messages [DET-9166]
  harness/determined/tensorboard/shared.py
Owners: none

clean up old modal code
  webui/react/src/hooks/useModal/Model/useModalModelCreate.tsx
  webui/react/src/hooks/useModal/Model/useModalModelMove.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateGroup.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalPasswordChange.tsx
Owners: none

feat: storage manager shortcut dictionaries [MLG-407] (#6488)
  harness/determined/core/_context.py
  harness/tests/storage/test_gcs.py
  harness/tests/storage/test_storage_base.py
Owners: none

fix: Moving model to new workspace - workspaces sort (#6593)
  webui/react/src/components/ModelMoveModal.tsx
  webui/react/src/hooks/useModal/Model/useModalModelCreate.tsx
  webui/react/src/hooks/useModal/Model/useModalModelMove.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateGroup.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalPasswordChange.tsx
Owners: none

docs: fix searchbar result paths
  docs/assets/scripts/docsearch.sbt.js
Owners: @determined-ai/docs
