Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

feat: Compare icon reflects status (#7443)
  webui/react/src/components/kit/Icon.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Owners: none

docstrings
  harness/determined/common/experimental/determined.py
  harness/tests/determined/common/experimental/test_determined.py
  harness/tests/fixtures/api_responses.py
Owners: none

feat: master audit logging should log failed requests at `Info` level. (#7434)
  master/internal/audit.go
Owners: @determined-ai/backend

use wonky metric and group names
  examples/tutorials/core_api/11_generic_metrics.py
Owners: none

change dataset size:
  examples/features/torch_batch_process_embeddings/bert_embedding_generation.py
Owners: none

move rpauthz to rm
  master/internal/api_resourcepool.go
  master/internal/rm/authz_basic_impl.go
  master/internal/rm/authz_iface.go
Owners: @determined-ai/backend

Update master/internal/api_resourcepool.go
  master/internal/api_resourcepool.go
Owners: @determined-ai/backend

feat: add rbac to rp-workspace mapping (#7436)
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
  master/internal/rm/authz_basic_impl.go
  master/internal/rm/authz_iface.go
Owners: @determined-ai/backend

refactoring rounding methods
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_utils.py
Owners: none

refactor args sanity checking
  harness/determined/pytorch/dsat/__main__.py
  harness/determined/pytorch/dsat/_utils.py
Owners: none

add search_range_factor everywhere and refactorings
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_utils.py
Owners: none

trust remote code fixes
  examples/hf_trainer_api/hf_image_classification/image_classification.py
Owners: none

fix _Test class bug
  harness/determined/pytorch/dsat/_dsat_search_method.py
Owners: none

10/20 start/end step defaults, and throughput
  harness/determined/pytorch/dsat/_defaults.py
Owners: none

cleanup
  harness/determined/pytorch/dsat/_dsat_search_method.py
Owners: none

fix: update get agents call for agent disable all (#7441)
  harness/determined/cli/agent.py
Owners: none

chore: podspec-capability-bugfix
  master/internal/rm/kubernetesrm/spec.go
Owners: @determined-ai/backend

refactor GetUnboundRPs
  master/internal/db/postgres_rp_workspace_bindings.go
Owners: @determined-ai/backend

add get all workspaces function
  master/internal/workspace/postgres_workspace.go
Owners: @determined-ai/backend

refactor rm authz interface
  master/internal/api_resourcepool.go
  master/internal/rm/authz_basic_impl.go
  master/internal/rm/authz_iface.go
Owners: @determined-ai/backend

refactor get_random_zero_optim_config
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_utils.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

prevent eslint and prettier from disagreeing
  webui/react/.eslintrc.js
Owners: none

claire review
  webui/react/src/hooks/useFeature.ts
Owners: none

docs: update aria labelling for sidebar toggles and toctree groups (#7381)
  docs/_templates/search-field.html
  docs/requirements.txt
Owners: @determined-ai/docs

align featureSettingsConfig type and variable
  webui/react/src/components/UserSettings.tsx
  webui/react/src/hooks/useFeature.ts
Owners: none

fix missed rename
  webui/react/src/components/UserSettings.tsx
Owners: none

feat: Merge data and row height menus in explist v2 (#7405)
  webui/react/src/assets/images/infinite-scroll.svg
  webui/react/src/components/UserSettings.tsx
  webui/react/src/components/kit/Icon.test.tsx
  webui/react/src/components/kit/Icon.tsx
  webui/react/src/pages/F_ExpList/glide-table/OptionsMenu.module.scss
  webui/react/src/pages/F_ExpList/glide-table/OptionsMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/RowHeightMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.module.scss
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Owners: none

asha resample hps optimization
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

rearrange sections
  webui/react/src/components/UserSettings.tsx
Owners: none

fix: chart tooltip has exp. name
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
Owners: none

fix: chart tooltip has exp. name (#7410)
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
Owners: none

feat: sort resource pools by name when creating new jupyterlab sessions [WEB-1138] (#7444)
  webui/react/src/components/JupyterLabModal.tsx
  webui/react/src/stores/cluster.tsx
Owners: none

chore: update docs hpe compliance web section id
  docs/index.rst
Owners: @determined-ai/docs

chore: allow no pinned columns [WEB-1423] (#7419)
  webui/react/src/components/SplitPane.module.scss
  webui/react/src/pages/F_ExpList/ComparisonView.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.module.scss
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Owners: none

feat: minor edit to torch batch process embedding example (#7440)
  examples/features/torch_batch_process_embeddings/bert_embedding_generation.py
Owners: none

chore: update docs hpe compliance web section id (#7449)
  docs/index.rst
Owners: @determined-ai/docs

feat: Pin column when compare panel open (#7414)
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Owners: none

feat: pass callback to formatValues
  webui/react/src/pages/Cluster/ClusterHistoricalUsageChart.tsx
  webui/react/src/pages/Clusters/ClustersQueuedChart.tsx
Owners: none

chore: podspec-capability-bugfix (#7447)
  master/internal/rm/kubernetesrm/spec.go
Owners: @determined-ai/backend

change button
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Owners: none
