Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

add search runner exp_id to follow on exp description
  harness/determined/pytorch/deepspeed/dsat/_run_dsat.py
Owners: none

Corrected args bugs
  harness/determined/pytorch/deepspeed/dsat/__main__.py
Owners: none

Cleanup and bug fixes
  harness/determined/pytorch/deepspeed/dsat/__main__.py
  harness/determined/pytorch/deepspeed/dsat/_defaults.py
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/pytorch/deepspeed/dsat/_utils.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

Add zero stages arg
  harness/determined/pytorch/deepspeed/dsat/__main__.py
Owners: none

Move exp_conf edits to _run_dsat
  harness/determined/pytorch/deepspeed/dsat/_run_dsat.py
Owners: none

Update readme
  ds_autotuning_prototype/README.md
Owners: none

Move exp conf changes out of searcher and use zero_stages arg
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
Owners: none

Fix simple searcher bug
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
Owners: none

minor cleanup
  ds_autotuning_prototype/core_api/no_op_test/script.py
Owners: none

Edit added description text
  harness/determined/pytorch/deepspeed/dsat/_run_dsat.py
Owners: none

Revert to single configs everywhere
  ds_autotuning_prototype/core_api/ffn_example_ds_launcher/no_autotune_config.yaml
  ds_autotuning_prototype/core_api/ffn_example_ds_launcher/single.yaml
  ds_autotuning_prototype/core_api/ffn_example_torch_launcher/single.yaml
  ds_autotuning_prototype/core_api/no_op_test/config.yaml
  ds_autotuning_prototype/core_api/no_op_test/single.yaml
  ds_autotuning_prototype/core_api/torchvison_models/no_autotune_config.yaml
  ds_autotuning_prototype/core_api/torchvison_models/single.yaml
  ds_autotuning_prototype/trial_classes/torchvison_models/autotune_config.yaml
  ds_autotuning_prototype/trial_classes/torchvison_models/single.yaml
Owners: none

cleanup
  harness/determined/pytorch/deepspeed/dsat/_utils.py
  harness/determined/searcher/_search_runner.py
Owners: none

Starting refactor away from searcher state
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
Owners: none

Changed searcher state computation to trial tracker
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
Owners: none

Add closed attr to Trials and bug fixes
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
Owners: none

clarifying comment
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
Owners: none

Rebase onto latest feature branch
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

bring in rb's implementation
  harness/determined/cli/_color_json.py
Owners: none

use termcolor. color brackets
  harness/determined/cli/_color_json.py
Owners: none

print nulls the same as other non strings. as white
  harness/determined/cli/_color_json.py
Owners: none

start using it
  harness/determined/cli/__init__.py
  harness/determined/cli/_color_json.py
  harness/determined/cli/render.py
Owners: none

add type annotations and docstrings
  harness/determined/cli/_color_json.py
Owners: none

avoid importing sys until needed
  harness/determined/cli/_color_json.py
Owners: none

type-safe version
  webui/react/src/components/Metadata/EditableMetadata.tsx
Owners: none

constants for colors. same for bracket and other separators.
  harness/determined/cli/_color_json.py
Owners: none

added single new test case
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_experiment_test.go
  proto/pkg/apiv1/experiment.pb.go
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

update makefile
  .circleci/config.yml
  harness/Makefile
Owners: none

add and use sort_key option
  harness/determined/cli/_color_json.py
  harness/determined/cli/render.py
Owners: none

bumpenvs afa08c2 (DeepSpeed 0.8.3)
  .circleci/config.yml
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/singularity.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_3_cpu_offload.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_no_offload.yaml
  examples/deepspeed/cifar10_moe/moe.yaml
  examples/deepspeed/cifar10_moe/zero_stages.yaml
  examples/deepspeed/deepspeed_dcgan/cifar10_zero2.yaml
  examples/deepspeed/deepspeed_dcgan/mnist.yaml
  examples/deepspeed/deepspeed_dcgan/mnist_grad_accum.yaml
  examples/deepspeed/gpt_neox/Dockerfile
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  examples/graphs/proteins_pytorch_geometric/adaptive.yaml
  examples/graphs/proteins_pytorch_geometric/const.yaml
  examples/graphs/proteins_pytorch_geometric/distributed.yaml
  examples/integrations/hf_trainer_api/deepspeed.yaml
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-estimator/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  helm/charts/determined/templates/master-config.yaml
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
Owners: @determined-ai/docs, @determined-ai/backend

ci: fix autoscrape ci job (#6629)
  .circleci/config.yml
  docs/Makefile
  docs/assets/scripts/docsearch.sbt.js
Owners: @determined-ai/docs

pin tensorflow gpu version
  .circleci/config.yml
Owners: none

added initial support for hp and metrics
  master/internal/api_experiment.go
Owners: @determined-ai/backend

update Tooltip as Popover
  webui/react/src/components/SlotAllocationBar.tsx
  webui/react/src/components/kit/Popover.tsx
  webui/react/src/pages/DesignKit.tsx
Owners: none

added support for nested hp values
  master/internal/api_experiment.go
Owners: @determined-ai/backend

use content for Tooltip props
  webui/react/src/components/Badge.tsx
  webui/react/src/components/BadgeTag.tsx
  webui/react/src/components/Bar.tsx
  webui/react/src/components/BreadcrumbBar.tsx
  webui/react/src/components/CheckpointModalTrigger.tsx
  webui/react/src/components/ExperimentIcons/index.tsx
  webui/react/src/components/GalleryModal.tsx
  webui/react/src/components/HumanReadableNumber.tsx
  webui/react/src/components/JupyterLabButton.tsx
  webui/react/src/components/Metadata/MetadataCard.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NotesCard.tsx
  webui/react/src/components/PageHeader/PageHeader.tsx
  webui/react/src/components/PageHeaderFoldable.tsx
  webui/react/src/components/ProjectCard.tsx
  webui/react/src/components/RadioGroup.tsx
  webui/react/src/components/RoutePagination.tsx
  webui/react/src/components/SlotAllocationBar.tsx
  webui/react/src/components/Table/Table.tsx
  webui/react/src/components/TimeAgo.tsx
  webui/react/src/components/TrialLogPreview.tsx
  webui/react/src/components/kit/Button.tsx
  webui/react/src/components/kit/LogViewer/LogViewer.tsx
  webui/react/src/components/kit/LogViewer/LogViewerEntry.tsx
  webui/react/src/components/kit/Tags.tsx
  webui/react/src/components/kit/Tooltip.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ExperimentDetails/CodeViewer/CodeViewer.tsx
  webui/react/src/pages/ExperimentDetails/Header/ExperimentHeaderProgress.tsx
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/pages/JobQueue/JobQueue.table.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.tsx
  webui/react/src/pages/TrialsComparison/Collections/useTrialCollections.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceDetailsHeader.tsx
  webui/react/src/shared/components/Avatar/Avatar.tsx
  webui/react/src/shared/components/CopyButton.tsx
  webui/react/src/shared/components/Icon/Icon.tsx
Owners: none

added two test cases
  master/internal/api_experiment.go
  master/internal/api_experiment_test.go
Owners: @determined-ai/backend

test case update
  master/internal/api_experiment_test.go
Owners: @determined-ai/backend

fix: cache k8s summarize for performance
  master/internal/rm/kubernetesrm/pods.go
Owners: @determined-ai/backend

fix some linting
  harness/tests/experiment/keras/test_tf_keras_trial.py
  harness/tests/experiment/pytorch/test_pytorch_lightning.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/tensorflow/test_estimator_trial.py
  harness/tests/experiment/utils.py
Owners: none

revert circleci hack
  .circleci/config.yml
Owners: none

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
