Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

add gotestsum and set up ci for reporting using juni
  .circleci/config.yml
  .gitignore
  agent/Makefile
  agent/get-deps.sh
  master/Makefile
  master/get-deps.sh
Owners: @determined-ai/backend

modal default size
  webui/react/src/components/ProjectCreateModal.tsx
  webui/react/src/components/ProjectDeleteModal.tsx
  webui/react/src/components/ProjectEditModal.tsx
  webui/react/src/components/ProjectMoveModal.tsx
  webui/react/src/components/ProjectNoteDeleteModal.tsx
  webui/react/src/components/WebhookCreateModal.tsx
  webui/react/src/components/WebhookDeleteModal.tsx
  webui/react/src/components/WorkspaceDeleteModal.tsx
  webui/react/src/components/WorkspaceMemberAddModal.tsx
  webui/react/src/components/WorkspaceMemberRemoveModal.tsx
  webui/react/src/components/kit/Modal.tsx
Owners: none

fmt
  webui/react/src/components/WorkspaceMemberAddModal.tsx
Owners: none

include junit for unit tests
  .circleci/config.yml
Owners: none

use exact paths for junit files
  .circleci/config.yml
Owners: none

Update harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/determined.py
Owners: none

minor
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/menu.tsx
Owners: none

fmt
  webui/react/src/pages/F_ExpList/glide-table/useGlasbey.ts
Owners: none

import css from node modules
  webui/react/src/App.tsx
  webui/react/src/glide.css
Owners: none

rm dead code
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.module.scss
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

feat: initial explist v2 setup
  webui/react/index.html
  webui/react/package.json
  webui/react/src/App.tsx
  webui/react/src/glide.css
  webui/react/src/hooks/useFeature.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.module.scss
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/links-cell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/range-cell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/sparkline-cell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/spinner-cell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/tags-cell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/user-profile-cell.tsx
  webui/react/src/pages/F_ExpList/glide-table/draw-fns.ts
  webui/react/src/pages/F_ExpList/glide-table/menu.tsx
  webui/react/src/pages/F_ExpList/glide-table/useGlasbey.ts
  webui/react/src/pages/F_ExpList/glide-table/utils.ts
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/shared/components/Avatar/Avatar.tsx
Owners: none

feedback loop
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/menu.tsx
Owners: none

feedback loop
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/README.md
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/avatar.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/links.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/progress.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/sparkline.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/spinner.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/tags.tsx
  webui/react/src/pages/F_ExpList/glide-table/useGlasbey.ts
Owners: none

lint
  webui/react/package-lock.json
Owners: none

fmt
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/avatar.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/progress.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/sparkline.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/spinner.tsx
  webui/react/src/pages/F_ExpList/glide-table/draw-fns.ts
  webui/react/src/pages/ProjectDetails.tsx
Owners: none

feat: initial explist v2 setup (#6382)
  webui/react/index.html
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/App.tsx
  webui/react/src/hooks/useFeature.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/README.md
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/avatar.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/links.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/progress.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/sparkline.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/spinner.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/tags.tsx
  webui/react/src/pages/F_ExpList/glide-table/draw-fns.ts
  webui/react/src/pages/F_ExpList/glide-table/menu.tsx
  webui/react/src/pages/F_ExpList/glide-table/useGlasbey.ts
  webui/react/src/pages/F_ExpList/glide-table/utils.ts
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/shared/components/Avatar/Avatar.tsx
Owners: none

add missing mode/user.go changes
  master/pkg/model/user.go
Owners: @determined-ai/backend

unnecessary useCallback usage
  webui/react/src/components/ColumnsCustomizeModal.test.tsx
  webui/react/src/components/JupyterLabModal.test.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/ProjectActionDropdown.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
  webui/react/src/pages/WorkspaceList.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceActionDropdown.tsx
Owners: none

fmt
  webui/react/src/components/ColumnsCustomizeModal.test.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
Owners: none

test: Make `test_launch` more portable.
  harness/tests/launch/test_launch.py
Owners: none

docs: fix make live (#6411)
  docs/_templates/page.html
  docs/live.py
Owners: @determined-ai/docs

docs: slot command limitations for HPC clusters
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-known-issues.rst
Owners: @determined-ai/docs

fix test
  e2e_tests/tests/conftest.py
Owners: none

only output diffs/indicate result in report comment
  .circleci/config.yml
  webui/react/.gitignore
  webui/react/scripts/make-screenshot-diff.mjs
Owners: none

chore: show error message that links to git rebaseability page
  .github/workflows/check-rebaseable.yml
Owners: @determined-ai/infrastructure

validation
  webui/react/src/components/ConfigureAgentModal.tsx
  webui/react/src/components/CreateGroupModal.tsx
  webui/react/src/components/CreateUserModal.tsx
  webui/react/src/components/ManageGroupsModal.tsx
  webui/react/src/components/PasswordChangeModal.tsx
  webui/react/src/components/kit/Form.module.scss
Owners: none

cleanup
  webui/react/src/components/CreateGroupModal.test.tsx
  webui/react/src/components/CreateGroupModal.tsx
  webui/react/src/components/CreateUserModal.test.tsx
  webui/react/src/components/CreateUserModal.tsx
  webui/react/src/components/DeleteGroupModal.test.tsx
  webui/react/src/components/DeleteGroupModal.tsx
  webui/react/src/components/ManageGroupsModal.tsx
  webui/react/src/components/PasswordChangeModal.tsx
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/SettingsAccount.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
Owners: none

remove lint
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-known-issues.rst
Owners: @determined-ai/docs

include the entire message
  .circleci/config.yml
Owners: none

test: Make `test_launch` more portable. (#6419)
  harness/tests/launch/test_launch.py
Owners: none

fix: `createdBy` layout
  webui/react/src/pages/ModelDetails/ModelHeader.module.scss
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.module.scss
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
Owners: none

PasswordChangeModal test
  webui/react/src/components/PasswordChangeModal.test.tsx
Owners: none

fmt
  webui/react/src/components/kit/Form.module.scss
  webui/react/src/pages/Settings/UserManagement.tsx
Owners: none

update diff detection file location
  .circleci/config.yml
Owners: none

proto lint
  master/internal/api_user.go
  proto/pkg/userv1/user.pb.go
  proto/src/determined/user/v1/user.proto
Owners: @determined-ai/backend

build: Updates Python used in CircleCI to 3.8.16
  .circleci/config.yml
  model_hub/model_hub/mmdetection/_data.py
  model_hub/model_hub/utils.py
Owners: none

fix test
  e2e_tests/tests/deploy/test_local.py
Owners: none

fix: remote users cannot login with or change password (#6413) [DET-9246]
  harness/determined/cli/user.py
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/determined.py
  harness/determined/experimental/client.py
  master/internal/api_user.go
  master/internal/db/postgres_users.go
  master/internal/mocks/user_authz_iface.go
  master/internal/user/authz_basic_impl.go
  master/internal/user/authz_iface.go
  master/internal/user/is_sso.go
  master/internal/user/postgres_users.go
  master/pkg/model/user.go
  master/static/migrations/20230330193745_remote-user.tx.down.sql
  master/static/migrations/20230330193745_remote-user.tx.up.sql
  proto/pkg/userv1/user.pb.go
  proto/src/determined/user/v1/user.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

chore: use experiment-search API
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Owners: none

fix: add a whitespace in model version createdBy
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
Owners: none
