Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

readability enhancement
  master/internal/rm/kubernetesrm/pods.go
Owners: @determined-ai/backend

fix: cache k8s summarize for performance (#6647)
  master/internal/rm/kubernetesrm/pods.go
Owners: @determined-ai/backend

fix: cache k8s summarize for performance (#6647)
  master/internal/rm/kubernetesrm/pods.go
Owners: @determined-ai/backend

chore: bump version: 0.21.2-rc3 -> 0.21.2-rc4
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/setup.py
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: none

chore: fix det deploy local tests (#6612)
  e2e_tests/tests/deploy/test_local.py
  harness/determined/deploy/local/cluster_utils.py
Owners: none

more linting related changes
  harness/tests/experiment/keras/test_tf_keras_trial.py
  harness/tests/experiment/pytorch/test_pytorch_lightning.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/tensorflow/test_estimator_trial.py
  harness/tests/experiment/utils.py
Owners: none

chore: add unit testing for provisioning failure
  master/internal/rm/agentrm/provisioner/provisioner_test.go
Owners: @determined-ai/backend

delete unused fields
  master/internal/rm/agentrm/provisioner/provisioner_test.go
Owners: @determined-ai/backend

more linting related fixes
  harness/.flake8
  harness/tests/experiment/utils.py
Owners: none

fix: Metadata card can view and preserve JSON values [WEB-1183] (#6642)
  webui/react/src/components/Metadata/EditableMetadata.tsx
  webui/react/src/components/Metadata/EditableRow.tsx
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Owners: none

fix: pass auth with incorrect password [DET-5623]
  e2e_tests/tests/cluster/test_users.py
  harness/determined/cli/user.py
  harness/determined/common/api/authentication.py
  master/internal/api_trials_intg_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/pods_test.go
Owners: @determined-ai/backend

fix: pass auth with incorrect password [DET-5623]
  e2e_tests/tests/cluster/test_users.py
  harness/determined/common/api/authentication.py
Owners: none

fix: pass auth with incorrect password [DET-5623]
  harness/determined/cli/user.py
  harness/determined/common/api/authentication.py
  master/internal/api_trials_intg_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/pods_test.go
Owners: @determined-ai/backend

Add actual deque, fix bugs
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/pytorch/deepspeed/dsat/_run_dsat.py
  harness/determined/pytorch/deepspeed/dsat/_utils.py
Owners: none

Remove print test
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/pytorch/deepspeed/dsat/_run_dsat.py
Owners: none

small trial example fix
  ds_autotuning_prototype/trial_classes/torchvison_models/model_def.py
Owners: none

Clean up try/except hack
  harness/determined/searcher/_search_runner.py
Owners: none

config edits
  ds_autotuning_prototype/trial_classes/torchvison_models/single.yaml
Owners: none

feat: deepspeed autotune cli args (#6643)
  ds_autotuning_prototype/README.md
  ds_autotuning_prototype/core_api/ffn_example_ds_launcher/no_autotune_config.yaml
  ds_autotuning_prototype/core_api/ffn_example_ds_launcher/single.yaml
  ds_autotuning_prototype/core_api/ffn_example_torch_launcher/single.yaml
  ds_autotuning_prototype/core_api/no_op_test/script.py
  ds_autotuning_prototype/core_api/no_op_test/single.yaml
  ds_autotuning_prototype/core_api/torchvison_models/no_autotune_config.yaml
  ds_autotuning_prototype/core_api/torchvison_models/single.yaml
  ds_autotuning_prototype/trial_classes/torchvison_models/autotune_config.yaml
  ds_autotuning_prototype/trial_classes/torchvison_models/model_def.py
  ds_autotuning_prototype/trial_classes/torchvison_models/single.yaml
  harness/determined/pytorch/deepspeed/dsat/__main__.py
  harness/determined/pytorch/deepspeed/dsat/_defaults.py
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/pytorch/deepspeed/dsat/_run_dsat.py
  harness/determined/pytorch/deepspeed/dsat/_utils.py
  harness/determined/pytorch/deepspeed/dsat/autotune.py
  harness/determined/searcher/_search_runner.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

feat: agent support for podman
  agent/pkg/podman/podman.go
  agent/pkg/podman/podman_test.go
Owners: @determined-ai/backend

feat: agent support for podman
  agent/pkg/podman/podman_test.go
Owners: @determined-ai/backend

feat: agent support for podman
  agent/internal/agent.go
  agent/internal/options/options.go
  agent/pkg/podman/podman.go
  master/static/srv/singularity-entrypoint-wrapper.sh
Owners: @determined-ai/backend

feat: agent support for podman
  agent/pkg/podman/podman_test.go
  master/static/srv/singularity-entrypoint-wrapper.sh
Owners: @determined-ai/backend

feat: agent support for podman
  agent/internal/agent.go
  agent/internal/options/options.go
  agent/pkg/podman/podman.go
  agent/pkg/podman/podman_test.go
Owners: @determined-ai/backend

added hp and validation test cases
  master/internal/api_experiment.go
  master/internal/api_experiment_test.go
Owners: @determined-ai/backend

support nil values
  master/internal/api_experiment.go
  master/internal/api_experiment_test.go
Owners: @determined-ai/backend

Add CLI args to config hparams for visualization
  harness/determined/pytorch/deepspeed/dsat/_run_dsat.py
  harness/determined/pytorch/deepspeed/dsat/_utils.py
Owners: none

remove pickle path arg
  harness/determined/pytorch/deepspeed/dsat/_defaults.py
Owners: none

fix: Fix invalid token logout loop
  webui/react/src/utils/error.ts
Owners: none

fix up tests
  master/internal/db/postgres_experiments_intg_test.go
Owners: @determined-ai/backend

perf: summary metrics perf improvements `MetricNames` and `TopTrialsByMetric` (#6634)
  master/internal/api_experiment.go
  master/internal/db/database.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/mocks/db.go
Owners: @determined-ai/backend

more linting related changes
  harness/.flake8
  harness/mypy.ini
  harness/tests/experiment/utils.py
Owners: none

use routeToReactUrl
  webui/react/src/utils/error.ts
Owners: none

chore: remove old web license
  tools/scripts/licenses/ace
  tools/scripts/licenses/antd
  tools/scripts/licenses/axios
  tools/scripts/licenses/can-ndjson-stream
  tools/scripts/licenses/fp-ts
  tools/scripts/licenses/history
  tools/scripts/licenses/humanize-duration
  tools/scripts/licenses/io-ts
  tools/scripts/licenses/js-sha512
  tools/scripts/licenses/js-yaml
  tools/scripts/licenses/monaco-editor
  tools/scripts/licenses/plotly.js
  tools/scripts/licenses/portable-fetch
  tools/scripts/licenses/pretty-bytes
  tools/scripts/licenses/query-string
  tools/scripts/licenses/react
  tools/scripts/licenses/react-helmet
  tools/scripts/licenses/react-transition-group
  tools/scripts/licenses/screenfull
  tools/scripts/licenses/smoothscroll-polyfill
  tools/scripts/licenses/sprintf-js
  tools/scripts/licenses/timeago-react
Owners: none

fix: Fix invalid token logout loop (#6653)
  webui/react/src/utils/error.ts
Owners: none

chore: remove devDependencies libs licenses
  tools/scripts/licenses/browserslist
  tools/scripts/licenses/cheerio
  tools/scripts/licenses/dart-sass
  tools/scripts/licenses/debug
  tools/scripts/licenses/definitelytyped
  tools/scripts/licenses/dom-testing-library
  tools/scripts/licenses/dotenv
  tools/scripts/licenses/eslint
  tools/scripts/licenses/eslint-config-prettier
  tools/scripts/licenses/eslint-config-react
  tools/scripts/licenses/eslint-import-resolver-typescript
  tools/scripts/licenses/eslint-plugin-import
  tools/scripts/licenses/eslint-plugin-jsdoc
  tools/scripts/licenses/eslint-plugin-react
  tools/scripts/licenses/express
  tools/scripts/licenses/fetch
  tools/scripts/licenses/jest-dom
  tools/scripts/licenses/jsdom
  tools/scripts/licenses/magic-string
  tools/scripts/licenses/morgan
  tools/scripts/licenses/playwright
  tools/scripts/licenses/prettier
  tools/scripts/licenses/react-hooks-testing-library
  tools/scripts/licenses/react-testing-library
  tools/scripts/licenses/resize-observer-polyfill
  tools/scripts/licenses/source-map-explorer
  tools/scripts/licenses/stylelint
  tools/scripts/licenses/stylelint-config-standard-scss
  tools/scripts/licenses/stylelint-order
  tools/scripts/licenses/stylelint-scss
  tools/scripts/licenses/typescript-eslint
  tools/scripts/licenses/user-event
  tools/scripts/licenses/vite
  tools/scripts/licenses/vite-plugin-checker
  tools/scripts/licenses/vite-plugin-react-swc
  tools/scripts/licenses/vite-tsconfig-paths
  tools/scripts/licenses/vitest
Owners: none

remove e2e_tests that were ported
  e2e_tests/tests/experiment/test_pytorch_lightning.py
Owners: none

feat: visualize cli args (#6651)
  harness/determined/pytorch/deepspeed/dsat/_defaults.py
  harness/determined/pytorch/deepspeed/dsat/_run_dsat.py
  harness/determined/pytorch/deepspeed/dsat/_utils.py
Owners: none

move integration tests, delete more refactored e2e_tests
  e2e_tests/tests/experiment/test_pytorch.py
  e2e_tests/tests/experiment/test_tf_estimator.py
  e2e_tests/tests/experiment/test_tf_keras.py
  harness/Makefile
  harness/tests/experiment/integrations/test_deepspeed_trial.py
  harness/tests/experiment/integrations/test_pytorch_lightning.py
Owners: none

docs: Add robots dot text file and to conf dot py
  docs/conf.py
  docs/robots.txt
Owners: @determined-ai/docs

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
