Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

linting
  e2e_tests/tests/experiment/test_noop.py
Owners: none

update version
  harness/tests/requirements/requirements-harness.txt
Owners: none

chore: enable flake8 pre-commit check on e2e_tests (#6933)
  .pre-commit-config.yaml
  e2e_tests/.flake8
Owners: none

discard todo file
  todo.md
Owners: none

move definitions TrialMetrics and MetricsReport next to eachother
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/trial/v1/trial.proto
Owners: @determined-ai/backend

clean up comments.
  master/internal/api_trials.go
  master/internal/db/postgres_trial_metrics.go
Owners: @determined-ai/backend

add decorator for tf1 tests
  .circleci/config.yml
  harness/Makefile
  harness/tests/experiment/keras/test_tf_keras_trial.py
  harness/tests/experiment/tensorflow/test_estimator_trial.py
Owners: none

fix makefile
  harness/Makefile
Owners: none

changes according to comments in dsat branch (#6943)
  docs/release-notes/remove-pt-callbacks.rst
  docs/release-notes/t4-gpu-default.rst
  examples/deepspeed/cifar10_cpu_offloading/zero_3_cpu_offload.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_no_offload.yaml
  examples/deepspeed/cifar10_moe/moe.yaml
  examples/deepspeed/cifar10_moe/zero_stages.yaml
  examples/deepspeed/deepspeed_dcgan/cifar10_zero2.yaml
  examples/deepspeed/deepspeed_dcgan/mnist.yaml
  examples/deepspeed/deepspeed_dcgan/mnist_grad_accum.yaml
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  examples/deepspeed_autotune/no_op_test/deepspeed.yaml
  examples/deepspeed_autotune/no_op_test/ds_config.json
  examples/deepspeed_autotune/no_op_test/script.py
  examples/deepspeed_autotune/torchvision/README.md
  examples/deepspeed_autotune/torchvision/core_api/deepspeed.yaml
  examples/deepspeed_autotune/torchvision/deepspeed_trial/deepspeed.yaml
  examples/hf_trainer_api/image_classification/deepspeed.yaml
  examples/hf_trainer_api/image_classification/requirements.txt
  examples/hf_trainer_api/language_modeling/deepspeed.yaml
  examples/hf_trainer_api/language_modeling/requirements.txt
  harness/tests/requirements/requirements-harness.txt
Owners: @determined-ai/docs

move up migrations
  master/static/migrations/20230523155816_add-generic-metrics-partitioned-table.tx.down.sql
  master/static/migrations/20230523155816_add-generic-metrics-partitioned-table.tx.up.sql
Owners: @determined-ai/backend

style: more tweaks to style based on design feedback
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.module.scss
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/utils.ts
Owners: none

style: update link cell to be "plain" instead of blue
  webui/react/src/pages/F_ExpList/glide-table/utils.ts
Owners: none

style: fix table skeleton to fit properly
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/exceptions.tsx
Owners: none

style: adjust selected state color (accent)
  webui/react/src/pages/F_ExpList/glide-table/utils.ts
Owners: none

style: properly account for table border width
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

style: update projects page to size table to full available height
  webui/react/src/hooks/useResize.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.module.scss
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/ProjectDetails.module.scss
Owners: none

style: update glide table styles to design specs
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/loadingCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/utils.ts
Owners: none

create and index on generic_metrics similar to steps
  master/static/migrations/20230523155816_add-generic-metrics-partitioned-table.tx.down.sql
  master/static/migrations/20230523155816_add-generic-metrics-partitioned-table.tx.up.sql
Owners: @determined-ai/backend

add condition for docker env create
  .circleci/config.yml
Owners: none

set default value for id in generic_metrics table. create index on archived
  master/static/migrations/20230523155816_add-generic-metrics-partitioned-table.tx.up.sql
Owners: @determined-ai/backend

docs: Apply consistency to setup guides
  docs/setup-cluster/deploy-cluster/aws/install-on-aws.rst
  docs/setup-cluster/deploy-cluster/gcp/install-gcp.rst
  docs/setup-cluster/deploy-cluster/k8s/install-on-kubernetes.rst
  docs/setup-cluster/deploy-cluster/on-prem/docker.rst
  docs/setup-cluster/deploy-cluster/on-prem/homebrew.rst
  docs/setup-cluster/deploy-cluster/on-prem/linux-packages.rst
Owners: @determined-ai/docs

resolve feedback comments
  docs/setup-cluster/deploy-cluster/on-prem/docker.rst
  docs/setup-cluster/deploy-cluster/on-prem/linux-packages.rst
  docs/setup-cluster/deploy-cluster/on-prem/wsl.rst
Owners: @determined-ai/docs

fix up container log test
  master/internal/rm/kubernetesrm/mock_client_test.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pod_test.go
Owners: @determined-ai/backend

commit dzhu's suggestions
  docs/setup-cluster/deploy-cluster/on-prem/docker.rst
  docs/setup-cluster/deploy-cluster/on-prem/linux-packages.rst
Owners: @determined-ai/docs

test: Removes several multiprocessing executions of test_enqueuer.
  harness/tests/experiment/keras/test_keras_data.py
Owners: none

test cleanup
  master/internal/rm/kubernetesrm/mock_client_test.go
  master/internal/rm/kubernetesrm/pod_test.go
Owners: @determined-ai/backend

bug: fully wrap hf JSON loading around a FileLock
  harness/determined/pytorch/dsat/_utils.py
Owners: none

test cleanup
  master/internal/rm/kubernetesrm/mock_client_test.go
  master/internal/rm/kubernetesrm/pod_test.go
Owners: @determined-ai/backend

bug: fully wrap hf JSON loading around a FileLock (#6950)
  harness/determined/pytorch/dsat/_utils.py
Owners: none

docs: Add HPC Launcher Security Considerations [FOUNDENG-617]
  docs/reference/deploy/config/master-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/hpc-launching-architecture.rst
  docs/setup-cluster/deploy-cluster/slurm/hpc-security-considerations.rst
  docs/setup-cluster/deploy-cluster/slurm/install-on-slurm.rst
  docs/setup-cluster/deploy-cluster/slurm/overview.rst
Owners: @determined-ai/docs

docs: Add HPC Launcher Security Considerations [FOUNDENG-617] (#6945)
  docs/reference/deploy/config/master-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/hpc-launching-architecture.rst
  docs/setup-cluster/deploy-cluster/slurm/hpc-security-considerations.rst
  docs/setup-cluster/deploy-cluster/slurm/install-on-slurm.rst
  docs/setup-cluster/deploy-cluster/slurm/overview.rst
Owners: @determined-ai/docs

fmt and test fix
  webui/react/src/components/kit/LogViewer/LogViewer.tsx
  webui/react/src/pages/ClusterLogs.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/TaskLogs.test.tsx
Owners: none

docs: Apply consistency to setup guides (#6930)
  docs/setup-cluster/deploy-cluster/aws/install-on-aws.rst
  docs/setup-cluster/deploy-cluster/gcp/install-gcp.rst
  docs/setup-cluster/deploy-cluster/k8s/install-on-kubernetes.rst
  docs/setup-cluster/deploy-cluster/on-prem/docker.rst
  docs/setup-cluster/deploy-cluster/on-prem/homebrew.rst
  docs/setup-cluster/deploy-cluster/on-prem/linux-packages.rst
  docs/setup-cluster/deploy-cluster/on-prem/wsl.rst
Owners: @determined-ai/docs

chore: More use of workspace store, rebase
  webui/react/src/components/JupyterLabModal.tsx
  webui/react/src/components/ModelCreateModal.tsx
  webui/react/src/components/WorkspaceCreateModal.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceQuickSearch.tsx
  webui/react/src/stores/workspaces.tsx
Owners: none

undo unnecessary import changes
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/TaskLogs.test.tsx
Owners: none

docs: fix a typo in the proxy ports guide.
  docs/interfaces/proxy-ports.rst
Owners: @determined-ai/docs

pagination button
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.module.scss
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/ProjectDetails.tsx
Owners: none

docs: add release notes for 0.22.2
  docs/release-notes.rst
  docs/release-notes/command-config-cli-bind-mounts.rst
  docs/release-notes/deprecate-template-set.rst
  docs/release-notes/dont-accept-epoch-bad-values.rst
  docs/release-notes/fix-det-e-list-cli.rst
  docs/release-notes/launcher_329.rst
  docs/release-notes/remove-legacy-apis.rst
Owners: @determined-ai/docs

python outside dir validation + pass cli stuff as files
  harness/determined/common/storage/shared.py
  harness/determined/exec/gc_checkpoints.py
  master/pkg/tasks/task_gc.go
Owners: @determined-ai/backend

feat: added `gpu_hours` to historical allocation CSV [DET-9506]
  master/internal/core.go
Owners: @determined-ai/backend
