Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

Set select width to eliminate cutoff
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
Owners: none

fix: icon position (#6904)
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.module.scss
Owners: none

enable summaryMetrics, rollbacks, and total batch updates for generic metrics
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_metrics.go
Owners: @determined-ai/backend

set to total_batches to 0 there are no good metrics
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

move migrations to top
  master/static/migrations/20230519142357_add-generic-metrics-partitioned-table.tx.down.sql
  master/static/migrations/20230519142357_add-generic-metrics-partitioned-table.tx.up.sql
Owners: @determined-ai/backend

add tensorboard path to lightning tests
  harness/tests/experiment/integrations/test_pytorch_lightning.py
Owners: none

support hf examples
  docs/example-solutions/examples.rst
  docs/model-hub-library/transformers/overview.rst
  examples/Makefile
  examples/hf_trainer_api/README.md
  examples/hf_trainer_api/image_classification/adaptive.yaml
  examples/hf_trainer_api/image_classification/const.yaml
  examples/hf_trainer_api/image_classification/const_epochs.yaml
  examples/hf_trainer_api/image_classification/deepspeed.yaml
  examples/hf_trainer_api/image_classification/distributed.yaml
  examples/hf_trainer_api/image_classification/ds_configs/ds_config_stage_1.json
  examples/hf_trainer_api/image_classification/ds_configs/ds_config_stage_2.json
  examples/hf_trainer_api/image_classification/ds_configs/ds_config_stage_2_cpu_offload.json
  examples/hf_trainer_api/image_classification/ds_configs/ds_config_stage_3.json
  examples/hf_trainer_api/image_classification/image_classification.py
  examples/hf_trainer_api/image_classification/requirements.txt
  examples/hf_trainer_api/image_classification/startup-hook.sh
  examples/hf_trainer_api/language_modeling/adaptive.yaml
  examples/hf_trainer_api/language_modeling/const.yaml
  examples/hf_trainer_api/language_modeling/const_epochs.yaml
  examples/hf_trainer_api/language_modeling/deepspeed.yaml
  examples/hf_trainer_api/language_modeling/distributed.yaml
  examples/hf_trainer_api/language_modeling/ds_configs/ds_config_stage_1.json
  examples/hf_trainer_api/language_modeling/ds_configs/ds_config_stage_2.json
  examples/hf_trainer_api/language_modeling/ds_configs/ds_config_stage_2_cpu_offload.json
  examples/hf_trainer_api/language_modeling/ds_configs/ds_config_stage_3.json
  examples/hf_trainer_api/language_modeling/requirements.txt
  examples/hf_trainer_api/language_modeling/run_clm.py
  examples/hf_trainer_api/language_modeling/startup-hook.sh
Owners: @determined-ai/docs

SEP: uneven training and validation metrics counts
  master/internal/populate_metrics.go
Owners: @determined-ai/backend

refactor: make staticcheck linter use correct go version.
  master/.golangci.yml
  master/cmd/determined-gotmpl/main.go
  master/cmd/determined-master/root.go
  master/internal/core.go
  master/internal/core_searcher.go
  master/internal/db/postgres_test_utils.go
  master/internal/elastic/elastic_task_logs.go
  master/internal/experiment.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/user/service.go
  master/internal/webhooks/shipper.go
  master/pkg/archive/archive.go
  master/pkg/etc/etc.go
  master/pkg/model/logging_config.go
  master/pkg/schemas/expconf/schema_test.go
  master/pkg/tasks/copy.go
Owners: @determined-ai/backend

rm migration test
  master/static/migrations/test-reversability.py
Owners: @determined-ai/backend

chore: break even training and validation metrics counts
  master/internal/populate_metrics.go
Owners: @determined-ai/backend

fixing tests and adding docs
  docs/release-notes/feat-GetExperiments.rst
  e2e_tests/tests/experiment/test_api.py
  master/internal/api_experiment.go
Owners: @determined-ai/docs, @determined-ai/backend

chore: rm ntsc events manager, endpoint, and client usage (#6840)
  docs/release-notes/ntsc-start-events.rst
  e2e_tests/tests/command/command.py
  e2e_tests/tests/command/test_tensorboard.py
  harness/determined/cli/__init__.py
  harness/determined/cli/_util.py
  harness/determined/cli/cli.py
  harness/determined/cli/command.py
  harness/determined/cli/notebook.py
  harness/determined/cli/remote.py
  harness/determined/cli/render.py
  harness/determined/cli/shell.py
  harness/determined/cli/tensorboard.py
  harness/determined/common/api/__init__.py
  harness/determined/common/api/_util.py
  harness/determined/common/api/bindings.py
  harness/determined/common/util.py
  master/internal/command/command.go
  master/internal/command/events.go
  master/static/srv/get_task.sql
  proto/pkg/apiv1/task.pb.go
  proto/pkg/taskv1/task.pb.go
  proto/src/determined/api/v1/task.proto
  proto/src/determined/task/v1/task.proto
  webui/react/src/pages/Wait.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/utils/wait.test.ts
  webui/react/src/utils/wait.ts
Owners: @determined-ai/docs, @determined-ai/backend

mock tb path in test_local.py
  harness/tests/experiment/test_local.py
Owners: none

fix linting
  harness/tests/experiment/integrations/test_pytorch_lightning.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/test_local.py
Owners: none

remove a redundant config line
  harness/tests/experiment/test_local.py
Owners: none

chore: update polling intervals for stores (#6892)
  webui/react/src/App.tsx
  webui/react/src/stores/polling.ts
Owners: none

added breadcrumb routes to each page
  webui/react/src/components/ExperimentBar.module.css
  webui/react/src/components/ExperimentBar.tsx
  webui/react/src/components/Page.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.module.scss
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/NoPermissions.module.scss
  webui/react/src/pages/NoPermissions.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/ResourcepoolDetail.tsx
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/pages/SignIn.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
Owners: none

Refactor project details
  webui/react/src/components/ExperimentBar.module.css
  webui/react/src/components/ExperimentBar.tsx
  webui/react/src/components/Page.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/ResourcepoolDetail.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
Owners: none

Remove unused code
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/Settings/GroupManagement.tsx
Owners: none

Remove more unused code
  webui/react/src/pages/ModelVersionDetails.tsx
Owners: none

chore: remove old events infrastructure on allocation
  master/internal/command/command.go
  master/internal/sproto/task.go
  master/internal/sproto/task_actor.go
  master/internal/task/allocation.go
Owners: @determined-ai/backend

refactor: remove /agents endpoint [DET-9479] (#6907)
  e2e_tests/tests/cluster/test_agent.py
  master/internal/rm/agentrm/agents.go
  master/internal/rm/kubernetesrm/pods.go
Owners: @determined-ai/backend

update model detail breadcrumb to include id
  webui/react/src/pages/ModelDetails.tsx
Owners: none

update admin settings title to match expected title
  webui/react/src/pages/Admin/index.tsx
Owners: none

pending change -- need to test
  master/internal/api_user.go
Owners: @determined-ai/backend

dayjs fix
  webui/react/src/components/kit/utils/func.ts
Owners: none

reverting some changes
  master/internal/api_user.go
  master/internal/command/command.go
  master/internal/sproto/task.go
  master/internal/sproto/task_actor.go
  master/internal/task/allocation.go
Owners: @determined-ai/backend

cleanup
  master/pkg/errors/errors.go
Owners: @determined-ai/backend

update from comments
  master/internal/rm/agentrm/provisioner/provisioner.go
  master/internal/rm/agentrm/provisioner/provisioner_test.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/task/allocation.go
  master/pkg/errors/errors.go
Owners: @determined-ai/backend

cleanup test
  master/pkg/errors/errors_test.go
Owners: @determined-ai/backend

chore: cleanup errors and add tests
  master/pkg/errors/errors.go
  master/pkg/errors/errors_test.go
Owners: @determined-ai/backend

feat: provisioner error and retry logic
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/config.go
  master/internal/experiment.go
  master/internal/rm/agentrm/fair_share.go
  master/internal/rm/agentrm/priority.go
  master/internal/rm/agentrm/provisioner/aws.go
  master/internal/rm/agentrm/provisioner/aws_spot.go
  master/internal/rm/agentrm/provisioner/gcp.go
  master/internal/rm/agentrm/provisioner/provisioner.go
  master/internal/rm/agentrm/provisioner/provisioner_test.go
  master/internal/rm/agentrm/provisioner/setup.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/round_robin.go
  master/internal/rm/agentrm/scheduler.go
  master/internal/rm/agentrm/scheduler_test.go
  master/internal/task/allocation.go
  master/internal/trial.go
Owners: @determined-ai/backend

chore: cleanup naming
  master/internal/rm/agentrm/provisioner/provisioner.go
  master/internal/rm/agentrm/provisioner/provisioner_test.go
  master/internal/rm/agentrm/resource_pool.go
Owners: @determined-ai/backend

cleanup
  master/pkg/errors/errors.go
Owners: @determined-ai/backend

cleanup
  master/internal/task/allocation.go
  master/pkg/errors/errors.go
Owners: @determined-ai/backend

update: cleanup from comments
  docs/reference/deploy/config/master-config-reference.rst
  master/internal/config/provconfig/config.go
  master/internal/config/provconfig/gcp_config.go
  master/internal/rm/agentrm/fair_share.go
  master/internal/rm/agentrm/priority.go
  master/internal/rm/agentrm/provisioner/gcp.go
  master/internal/rm/agentrm/provisioner/provisioner.go
  master/internal/rm/agentrm/provisioner/provisioner_test.go
  master/internal/rm/agentrm/provisioner/setup.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/round_robin.go
  master/internal/rm/agentrm/scheduler.go
  master/internal/rm/agentrm/scheduler_test.go
  master/internal/task/allocation.go
  master/internal/trial.go
  master/pkg/errors/errors.go
Owners: @determined-ai/docs, @determined-ai/backend

chore: provisioning retry error prop (#6830)
  master/internal/rm/agentrm/resource_pool.go
  master/internal/task/allocation.go
  master/internal/trial.go
Owners: @determined-ai/backend

chore: gcp bulk insert
  master/cmd/determined-master/root_test.go
  master/internal/config/provconfig/config_test.go
  master/internal/config/provconfig/gcp_config.go
  master/internal/rm/agentrm/provisioner/gcp.go
Owners: @determined-ai/backend

docs: add error timeout and retry docs
  docs/reference/deploy/config/master-config-reference.rst
Owners: @determined-ai/docs

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
