Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

build: Updates Python used in CircleCI to 3.8.16 (#6391)
  .circleci/config.yml
  model_hub/model_hub/mmdetection/_data.py
  model_hub/model_hub/utils.py
Owners: none

ci: retry Docker Hub publish steps (#6512)
  .circleci/config.yml
Owners: none

wip: fail on provisioner error
  master/internal/config/provconfig/config.go
  master/internal/config/scheduler_config.go
  master/internal/rm/agentrm/fair_share.go
  master/internal/rm/agentrm/fair_share_test.go
  master/internal/rm/agentrm/provisioner/aws.go
  master/internal/rm/agentrm/provisioner/gcp.go
  master/internal/rm/agentrm/provisioner/provisioner.go
  master/internal/rm/agentrm/provisioner/provisioner_test.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/scheduler.go
Owners: @determined-ai/backend

chore: [FIX] replace helm pw-changer image with generic det env image [DET-9110]
  helm/charts/determined/scripts/k8s-password-change.py
Owners: none

chore: [FIX] replace helm pw-changer image with generic det env image [DET-9110] (#6523)
  helm/charts/determined/scripts/k8s-password-change.py
Owners: none

test: fix race checking for trial logs in test_master_restart_error_missing_docker_container
  e2e_tests/tests/cluster/test_master_restart.py
Owners: none

wait for amnesia
  e2e_tests/tests/cluster/test_master_restart.py
Owners: none

chore: bump version: 0.21.1-rc2 -> 0.21.1-rc3
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/setup.py
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: none

test: fix race checking for trial logs in missing_docker_container [DET-8933] (#6514)
  e2e_tests/tests/cluster/test_master_restart.py
Owners: none

add gpu flags and parallel experiment
  harness/tests/experiment/keras/test_tf_keras_trial.py
  harness/tests/experiment/utils.py
Owners: none

build: Some CircleCI tests begin with a python 3.8.16.
  .circleci/config.yml
Owners: none

chore: bumpenvs with pynvml/nvidia-ml-py switch.
  examples/features/ports/startup-hook.sh
Owners: none

docs: add release notes for 0.21.1
  docs/release-notes.rst
  docs/release-notes/6460-hdfs.txt
  docs/release-notes/checkpoint-size-speedup-speedup.rst
  docs/release-notes/fix-default-pool-task-container-defaults.rst
  docs/release-notes/fix-zero-slot-limits.rst
  docs/release-notes/launcher-jvm-args.rst
  docs/release-notes/metric-stream.rst
  docs/release-notes/remove-det-deploy.rst
  docs/release-notes/remove-old-master-logs.rst
Owners: @determined-ai/docs

build: Some CircleCI tests begin with a python 3.8.16. (#6525)
  .circleci/config.yml
Owners: none

wip: fail on provisioner error
  master/internal/rm/agentrm/resource_pool.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
Owners: @determined-ai/backend

feat: /api/v1/experiments-search should support filters
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

docs: fix links
  docs/_templates/article-header-buttons.html
  docs/_templates/toggle-primary-sidebar.html
Owners: @determined-ai/docs

added replacement logic for db queries
  master/internal/api_experiment.go
Owners: @determined-ai/backend

fail trial on provisioner error
  master/internal/rm/agentrm/resource_pool.go
  master/internal/task/allocation.go
Owners: @determined-ai/backend

use pathto function
  docs/_templates/article-header-buttons.html
  docs/_templates/toggle-primary-sidebar.html
Owners: @determined-ai/docs

ci: github actions consistently use major version
  .github/workflows/pre-commit.yml
  .github/workflows/publish-helm.yml
  .github/workflows/scan-docker-images.yml
Owners: @determined-ai/infrastructure

bumpenvs v2
  tools/scripts/bumpenvs.yaml
Owners: none

apply bumpenvs
  .circleci/config.yml
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/singularity.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_3_cpu_offload.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_no_offload.yaml
  examples/deepspeed/cifar10_moe/moe.yaml
  examples/deepspeed/cifar10_moe/zero_stages.yaml
  examples/deepspeed/gpt_neox/Dockerfile
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  examples/graphs/proteins_pytorch_geometric/adaptive.yaml
  examples/graphs/proteins_pytorch_geometric/const.yaml
  examples/graphs/proteins_pytorch_geometric/distributed.yaml
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-estimator/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  helm/charts/determined/templates/master-config.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
Owners: @determined-ai/docs, @determined-ai/backend

docs: fix links (#6528)
  docs/_templates/article-header-buttons.html
  docs/_templates/toggle-primary-sidebar.html
Owners: @determined-ai/docs

docs: fix links (#6528)
  docs/_templates/article-header-buttons.html
  docs/_templates/toggle-primary-sidebar.html
Owners: @determined-ai/docs

chore: bump version: 0.21.1-rc3 -> 0.21.1-rc4
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/setup.py
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: none

docs: add release notes for 0.21.1
  docs/release-notes.rst
  docs/release-notes/6460-hdfs.txt
  docs/release-notes/checkpoint-size-speedup-speedup.rst
  docs/release-notes/fix-default-pool-task-container-defaults.rst
  docs/release-notes/fix-zero-slot-limits.rst
  docs/release-notes/launcher-jvm-args.rst
  docs/release-notes/metric-stream.rst
  docs/release-notes/remove-det-deploy.rst
  docs/release-notes/remove-old-master-logs.rst
Owners: @determined-ai/docs

fix: nil pointer when running locally
  master/internal/rm/agentrm/resource_pool.go
Owners: @determined-ai/backend

docs: add release notes for 0.21.1 (#6530)
  docs/release-notes.rst
  docs/release-notes/6460-hdfs.txt
  docs/release-notes/checkpoint-size-speedup-speedup.rst
  docs/release-notes/fix-default-pool-task-container-defaults.rst
  docs/release-notes/fix-zero-slot-limits.rst
  docs/release-notes/launcher-jvm-args.rst
  docs/release-notes/metric-stream.rst
  docs/release-notes/remove-det-deploy.rst
  docs/release-notes/remove-old-master-logs.rst
Owners: @determined-ai/docs

chore: bump version: 0.21.1-rc4 -> 0.21.1
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/setup.py
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: none

address PR comments
  e2e_tests/tests/experiment/experiment.py
Owners: none

chore: code refactor and minor updates [DET-9237]
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/experiment/experiment.py
Owners: none

address PR comments
  e2e_tests/tests/experiment/experiment.py
Owners: none

address PR comments
  e2e_tests/tests/experiment/experiment.py
Owners: none

docs: add release notes for 0.21.1 (#6530)
  docs/release-notes.rst
  docs/release-notes/6460-hdfs.txt
  docs/release-notes/checkpoint-size-speedup-speedup.rst
  docs/release-notes/fix-default-pool-task-container-defaults.rst
  docs/release-notes/fix-zero-slot-limits.rst
  docs/release-notes/launcher-jvm-args.rst
  docs/release-notes/metric-stream.rst
  docs/release-notes/remove-det-deploy.rst
  docs/release-notes/remove-old-master-logs.rst
Owners: @determined-ai/docs

chore: bump version: 0.21.1-dev0 -> 0.21.2-dev0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/setup.py
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: none

ci: github actions consistently use major version (#6529)
  .github/workflows/pre-commit.yml
  .github/workflows/publish-helm.yml
  .github/workflows/scan-docker-images.yml
Owners: @determined-ai/infrastructure

context menu and modal stacking
  webui/react/src/pages/F_ExpList/glide-table/contextMenu.tsx
Owners: none

chore: code refactor and minor updates [DET-9237] (#6515)
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/experiment/experiment.py
Owners: none

chore: fix migration order for adding trial.total_batches column
  master/static/migrations/20230412111057_total_batches_trial.tx.down.sql
  master/static/migrations/20230412111057_total_batches_trial.tx.up.sql
Owners: @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
