Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

Comment out deregister step for safety
  tools/scripts/deregister_unused_amis.sh
Owners: none

wip
  master/pkg/model/template.go
Owners: @determined-ai/backend

chore: add workspace_id to db via migration
  master/static/migrations/20230413182058_add-template-workspace.tx.down.sql
  master/static/migrations/20230413182058_add-template-workspace.tx.up.sql
Owners: @determined-ai/backend

add proto workspace_id field
  harness/determined/common/api/bindings.py
  proto/pkg/templatev1/template.pb.go
  proto/src/determined/template/v1/template.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

update upsert api to allow for workspace_id to be set on a template
  master/internal/api_templates.go
  master/static/srv/put_template.sql
Owners: @determined-ai/backend

wip
  harness/determined/cli/template.py
Owners: none

Squashed commit of the following:
  docs/release-notes/remove-old-tempalte-apis.rst
  harness/determined/cli/template.py
  harness/determined/common/api/bindings.py
  master/internal/core.go
  master/internal/db/database.go
  master/internal/db/postgres_templates.go
  master/internal/mocks/db.go
  master/internal/template/api.go
  master/static/srv/list_templates.sql
  proto/pkg/apiv1/template.pb.go
  proto/src/determined/api/v1/template.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/docs, @determined-ai/backend

Revert "on conflict also update workspace_id"
  master/static/srv/put_template.sql
Owners: @determined-ai/backend

on conflict also update workspace_id
  master/static/srv/put_template.sql
Owners: @determined-ai/backend

add cli option to set workspaceId for a template
  harness/determined/cli/template.py
Owners: none

separate config update into a new rpc
  harness/determined/common/api/bindings.py
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/template.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/template.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

update put to post
  harness/determined/cli/template.py
  master/internal/api_templates.go
  master/static/srv/put_template.sql
Owners: @determined-ai/backend

implement path config api
  harness/determined/cli/template.py
  harness/determined/common/api/bindings.py
  master/internal/api_templates.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/template.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/template.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

chore: lock api state for backward compatibility check
  proto/buf.image.bin
Owners: @determined-ai/backend

impl PatchTemplateConfig
  harness/determined/common/api/bindings.py
  master/internal/api_templates.go
  master/static/srv/update_template.sql
  proto/pkg/apiv1/template.pb.go
  proto/src/determined/api/v1/template.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

lint
  harness/determined/cli/cli.py
  harness/determined/cli/experiment.py
  harness/determined/cli/template.py
  harness/determined/cli/tensorboard.py
  harness/determined/cli/trial.py
  harness/determined/common/declarative_argparse.py
  harness/determined/deploy/cli.py
Owners: none

bring set back with a compromise to avoid breaking backward compat
  harness/determined/cli/template.py
Owners: none

add support for deprecation_message
  harness/determined/cli/resources.py
  harness/determined/cli/tensorboard.py
  harness/determined/common/declarative_argparse.py
Owners: none

mark det tpl set as deprecated
  harness/determined/cli/template.py
Owners: none

feat: agent support for podman
  agent/pkg/crutil/crutils.go
  agent/pkg/podman/podman.go
  agent/pkg/singularity/singularity.go
Owners: @determined-ai/backend

use btn in UI kit and fmt
  webui/react/src/components/BadgeTag.tsx
  webui/react/src/components/Bar.tsx
  webui/react/src/components/ExperimentIcons/index.tsx
  webui/react/src/components/GalleryModal.tsx
  webui/react/src/components/JupyterLabButton.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/RadioGroup.tsx
  webui/react/src/components/RoutePagination.tsx
  webui/react/src/components/SlotAllocationBar.tsx
  webui/react/src/components/Table/Table.tsx
  webui/react/src/components/TrialLogPreview.tsx
  webui/react/src/components/kit/LogViewer/LogViewer.tsx
  webui/react/src/components/kit/LogViewer/LogViewerEntry.tsx
  webui/react/src/components/kit/Tags.tsx
  webui/react/src/components/kit/Tooltip.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/JobQueue/JobQueue.table.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/shared/components/Avatar/Avatar.tsx
Owners: none

linting fix
  e2e_tests/tests/experiment/test_tf_estimator.py
  e2e_tests/tests/experiment/test_tf_keras.py
Owners: none

feat: agent support for podman
  agent/pkg/cruntimes/crutils.go
  agent/pkg/podman/podman.go
  agent/pkg/singularity/singularity.go
Owners: @determined-ai/backend

bring put back
  harness/determined/common/api/bindings.py
  master/internal/api_templates.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/template.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/template.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

docs: add missing docs for DownloadMode
  docs/reference/python-sdk.rst
  harness/determined/common/experimental/checkpoint/_checkpoint.py
Owners: @determined-ai/docs

set cli to use put endpoint
  harness/determined/cli/template.py
Owners: none

Revert "set cli to use put endpoint"
  harness/determined/cli/template.py
Owners: none

Revert "bring put back"
  harness/determined/common/api/bindings.py
  master/internal/api_templates.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/template.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/template.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

Added cases for const, categorical, int, double, and log hyperparameter parsing
  master/internal/api_experiment.go
Owners: @determined-ai/backend

fix: task proxies should recover across restarts
  master/internal/api_trials_intg_test.go
  master/internal/db/database.go
  master/internal/db/postgres_tasks.go
  master/internal/mocks/db.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/pods_test.go
  master/internal/task/allocation.go
  master/pkg/model/task.go
  master/static/migrations/20230427161411_allocation-proxy-address.tx.down.sql
  master/static/migrations/20230427161411_allocation-proxy-address.tx.up.sql
Owners: @determined-ai/backend

error types
  master/internal/api_templates.go
Owners: @determined-ai/backend

added hyperparameter test case
  master/internal/api_experiment.go
  master/internal/api_experiment_test.go
Owners: @determined-ai/backend

added more test cases
  master/internal/api_experiment.go
  master/internal/api_experiment_test.go
Owners: @determined-ai/backend

chore: run `test-e2e-react` only on upstream branches
  .circleci/config.yml
Owners: none

fix: use throttle for logviewer filters
  webui/react/src/components/kit/LogViewer/LogViewerSelect.tsx
Owners: none

docs: add missing docs for DownloadMode (#6648)
  docs/reference/python-sdk.rst
  harness/determined/common/experimental/checkpoint/_checkpoint.py
Owners: @determined-ai/docs

Adding test cases
  master/internal/api_experiment.go
  master/internal/api_experiment_test.go
Owners: @determined-ai/backend

update enum type
  master/internal/api_experiment.go
  master/internal/api_experiment_test.go
Owners: @determined-ai/backend

chore: run `test-e2e-react` only on upstream branches (#6658)
  .circleci/config.yml
Owners: none

remove pypi version of codecov
  .circleci/config.yml
Owners: none
