Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

fixed linter for checkpoints.py
  examples/tutorials/core_api_pytorch_mnist/model_def_checkpoints.py
Owners: none

updated checkpoint to include trial ID and epochs completed. Updated all downstream files including adaptive search and distributed training
  examples/tutorials/core_api_pytorch_mnist/model_def_adaptive.py
  examples/tutorials/core_api_pytorch_mnist/model_def_checkpoints.py
  examples/tutorials/core_api_pytorch_mnist/model_def_distributed.py
Owners: none

changed number of slots_per_trial
  examples/tutorials/core_api_pytorch_mnist/distributed.yaml
Owners: none

"formatted files correctly and added small comment"
  examples/tutorials/core_api_pytorch_mnist/model_def_adaptive.py
  examples/tutorials/core_api_pytorch_mnist/model_def_checkpoints.py
  examples/tutorials/core_api_pytorch_mnist/model_def_distributed.py
Owners: none

updated epoch indexing
  examples/tutorials/core_api_pytorch_mnist/model_def_adaptive.py
  examples/tutorials/core_api_pytorch_mnist/model_def_checkpoints.py
  examples/tutorials/core_api_pytorch_mnist/model_def_distributed.py
  examples/tutorials/core_api_pytorch_mnist/model_def_metrics.py
Owners: none

updated checkpoints to include trial ID and epochs_completed
  examples/tutorials/core_api_pytorch_mnist/model_def_adaptive.py
  examples/tutorials/core_api_pytorch_mnist/model_def_checkpoints.py
  examples/tutorials/core_api_pytorch_mnist/model_def_distributed.py
Owners: none

addressed all comments
  examples/tutorials/core_api_pytorch_mnist/distributed.yaml
  examples/tutorials/core_api_pytorch_mnist/model_def_adaptive.py
  examples/tutorials/core_api_pytorch_mnist/model_def_checkpoints.py
  examples/tutorials/core_api_pytorch_mnist/model_def_distributed.py
Owners: none

more minor changes
  examples/tutorials/core_api_pytorch_mnist/model_def_adaptive.py
  examples/tutorials/core_api_pytorch_mnist/model_def_checkpoints.py
  examples/tutorials/core_api_pytorch_mnist/model_def_distributed.py
  examples/tutorials/core_api_pytorch_mnist/model_def_metrics.py
Owners: none

formatted files
  examples/tutorials/core_api_pytorch_mnist/model_def_adaptive.py
  examples/tutorials/core_api_pytorch_mnist/model_def_checkpoints.py
  examples/tutorials/core_api_pytorch_mnist/model_def_distributed.py
Owners: none

fix: add remote prop to Python SDK user.User
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/user.py
Owners: none

docs: add a known issue and its fix for PBS - Display valid value for Accelerator field in the Resource Pool Configuration (#6379)
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
Owners: @determined-ai/docs

feat: treat instance startup script as a secret #2 [DET-9214] (#6450)
  master/internal/api_user_intg_test.go
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/config/provconfig/config.go
  master/internal/config/resource_pool_config.go
  master/internal/core.go
  master/internal/rm/agentrm/agent_resource_manager.go
Owners: @determined-ai/backend

chore: remove example bert_squad_pytorch [MLG-396] (#6467)
  docs/example-solutions/examples.rst
  examples/README.md
  examples/nlp/bert_squad_pytorch/README.md
  examples/nlp/bert_squad_pytorch/const.yaml
  examples/nlp/bert_squad_pytorch/constants.py
  examples/nlp/bert_squad_pytorch/data.py
  examples/nlp/bert_squad_pytorch/distributed.yaml
  examples/nlp/bert_squad_pytorch/model_def.py
  examples/nlp/bert_squad_pytorch/startup-hook.sh
Owners: @determined-ai/docs

chore: create a gRPC endpoint for tasks [DET-8803] (#6343)
  e2e_tests/tests/cluster/test_agent_disable.py
  e2e_tests/tests/cluster/test_agent_restart.py
  harness/determined/cli/agent.py
  harness/determined/cli/task.py
  harness/determined/common/api/bindings.py
  master/internal/api_tasks.go
  master/internal/sproto/resources.go
  master/internal/sproto/task.go
  master/pkg/cproto/address.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/task.pb.go
  proto/pkg/taskv1/task.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/task.proto
  proto/src/determined/task/v1/task.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

review comment
  master/internal/rm/kubernetesrm/spec.go
Owners: @determined-ai/backend

docs: modified docs for clarity and k8s pod security
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/custom-pod-specs.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/overview.rst
Owners: @determined-ai/docs

docs: modified docs for clarity and k8s pod security
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/overview.rst
Owners: @determined-ai/docs

Create
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/ExperimentCreateModal.test.tsx
  webui/react/src/components/ExperimentCreateModal.tsx
  webui/react/src/components/ExperimentDeleteModal.tsx
  webui/react/src/components/ExperimentMoveModal.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentCreate.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
Owners: none

feat: Support order for experiment search API
  master/internal/api_experiment.go
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/experiment.proto
Owners: @determined-ai/backend

fix: podspec requests/limits for zero slot workloads [DET-9257] (#6469)
  docs/release-notes/fix-zero-slot-limits.rst
  e2e_tests/tests/command/test_run.py
  master/internal/rm/kubernetesrm/spec.go
Owners: @determined-ai/docs, @determined-ai/backend

bindings build
  harness/determined/common/api/bindings.py
  webui/react/src/services/api-ts-sdk/api.ts
Owners: none

Move validation
  webui/react/src/components/CreateGroupModal.tsx
  webui/react/src/components/ExperimentMoveModal.tsx
Owners: none

fmt
  webui/react/src/components/ExperimentMoveModal.tsx
Owners: none

fix apiConfig
  webui/react/src/services/apiConfig.ts
Owners: none

feat: treat instance startup script as a secret #2 [DET-9214] (#6450)
  master/internal/api_user_intg_test.go
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/config/provconfig/config.go
  master/internal/config/resource_pool_config.go
  master/internal/core.go
  master/internal/rm/agentrm/agent_resource_manager.go
Owners: @determined-ai/backend

fix: podspec requests/limits for zero slot workloads [DET-9257] (#6469)
  docs/release-notes/fix-zero-slot-limits.rst
  e2e_tests/tests/command/test_run.py
  master/internal/rm/kubernetesrm/spec.go
Owners: @determined-ai/docs, @determined-ai/backend

Revert "chore: remove docker-compose from det deploy local [MLG-37] (#6386)" (#6472)
  e2e_tests/tests/cluster/test_checkpoints.py
  e2e_tests/tests/cluster/test_resource_manager.py
  e2e_tests/tests/command/test_run.py
  e2e_tests/tests/command/test_tensorboard.py
  e2e_tests/tests/conftest.py
  e2e_tests/tests/deploy/test_local.py
  e2e_tests/tests/experiment/test_custom_searcher.py
  e2e_tests/tests/experiment/test_profiling.py
  e2e_tests/tests/template/test_template.py
  harness/determined/cli/job.py
  harness/determined/deploy/aws/gen_vcpu_mapping.py
  harness/determined/deploy/aws/preflight.py
  harness/determined/deploy/local/cli.py
  harness/determined/deploy/local/cluster_utils.py
  harness/determined/deploy/local/docker-compose.yaml
  harness/setup.py
  harness/tests/experiment/fixtures/pytorch_onevar_model.py
  tools/scripts/bumpenvs.py
  tools/scripts/refresh-ubuntu-amis.py
  tools/scripts/update-bumpenvs-yaml.py
Owners: none

revert: feat: k8s cluster info using taints/tolerations (#6474)
  master/go.mod
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/pods_test.go
Owners: @determined-ai/backend

fix: add remote prop to Python SDK user.User (#6476)
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/user.py
Owners: none

fix: add remote prop to Python SDK user.User (#6476)
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/user.py
Owners: none

chore: bump version: 0.21.1-rc0 -> 0.21.1-rc1
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/setup.py
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: none

wip: fix: ray tests
  e2e_tests/tests/cluster/test_proxy.py
Owners: none

docs: modified docs for clarity and k8s pod security
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/custom-pod-specs.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/overview.rst
Owners: @determined-ai/docs

chore: set up authz interfaces for master logs and /resources (#6454)
  e2e_tests/tests/experiment/test_allocation_csv.py
  e2e_tests/tests/nightly/compute_stats.py
  harness/determined/common/api/bindings.py
  master/internal/api/error.go
  master/internal/api_master.go
  master/internal/cluster/authz_basic_impl.go
  master/internal/cluster/authz_iface.go
  master/internal/cluster/authz_middleware.go
  master/internal/core.go
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

chore: tweak Go, Python versions in dev setup instructions
  CONTRIBUTING.md
Owners: none

feat: add simple linear batch test searcher
  harness/determined/pytorch/deepspeed/dsat/_defaults.py
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/pytorch/deepspeed/dsat/_run_dsat.py
  harness/determined/pytorch/deepspeed/dsat/autotune.py
Owners: none

fix: more wait time for stopping/terminating ec2 instances
  harness/determined/deploy/aws/aws.py
Owners: none

chore: tweak Go, Python versions in dev setup instructions (#6481)
  CONTRIBUTING.md
Owners: none

fix: avoid duplicate labels (#6445)
  master/internal/api_experiment.go
  master/internal/api_model.go
Owners: @determined-ai/backend

docs: Edit Page Title
  docs/index.rst
  docs/tutorials/index.rst
Owners: @determined-ai/docs

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
