Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

formatted
  examples/Inference/basic_inference/basic_inference_chkpt.py
  examples/Inference/basic_inference/config_chkpt.yaml
Owners: none

add lint fix
  harness/tests/determined/pytorch/experimental/test_torch_batch_process.py
Owners: none

Edit torch batch process post feedback
  harness/determined/experimental/inference/_torch_batch_process.py
Owners: none

fix lint
  harness/determined/pytorch/_reducer.py
  harness/determined/pytorch/experimental/_torch_batch_process.py
Owners: none

edit comment
  harness/tests/determined/pytorch/experimental/test_torch_batch_process.py
Owners: none

Fix lint
  harness/determined/pytorch/experimental/_torch_batch_process.py
Owners: none

format
  harness/tests/determined/pytorch/experimental/test_torch_batch_process.py
Owners: none

fix lint
  harness/determined/pytorch/experimental/_torch_batch_process.py
  harness/tests/determined/pytorch/experimental/test_torch_batch_process.py
Owners: none

fix lint
  harness/determined/pytorch/experimental/_torch_batch_process.py
Owners: none

format
  harness/determined/pytorch/experimental/_torch_batch_process.py
  harness/tests/determined/pytorch/experimental/test_torch_batch_process.py
Owners: none

Changed example fn name
  examples/Inference/basic_inference/basic_inference_chkpt.py
Owners: none

format
  harness/determined/pytorch/experimental/_torch_batch_process.py
  harness/tests/determined/pytorch/experimental/test_torch_batch_process.py
  harness/tests/launch/test_util.py
Owners: none

Remove examples
  examples/Inference/basic_inference/basic_inference.py
  examples/Inference/basic_inference/basic_inference_chkpt.py
  examples/Inference/basic_inference/config.yaml
  examples/Inference/basic_inference/config_chkpt.yaml
  examples/Inference/basic_inference/model.py
  examples/Inference/deepspeed_zero3/cifar10_cpu_offload/config.yaml
  examples/Inference/deepspeed_zero3/cifar10_cpu_offload/model.py
  examples/Inference/deepspeed_zero3/cifar10_cpu_offload/test_ds.py
  examples/Inference/llm_embedding_generation/basic/bert_batch_processing.py
  examples/Inference/llm_embedding_generation/basic/config.yaml
  examples/Inference/llm_embedding_generation/basic/startup-hook.sh
  examples/Inference/mmdetection/config.yaml
  examples/Inference/mmdetection/open_image_dataset.py
  examples/Inference/mmdetection/test_mm.py
  examples/Inference/test_deepspeed.py
Owners: none

reorganize tests
  harness/tests/determined/pytorch/experimental/test_torch_batch_process.py
Owners: none

formatted
  examples/Inference/basic_inference/basic_inference.py
  examples/Inference/basic_inference/model.py
  examples/Inference/deepspeed_zero3/cifar10_cpu_offload/model.py
  examples/Inference/deepspeed_zero3/cifar10_cpu_offload/test_ds.py
  examples/Inference/mmdetection/test_mm.py
Owners: none

reorganize tests
  harness/tests/determined/pytorch/experimental/test_torch_batch_process.py
Owners: none

add comment
  harness/determined/pytorch/experimental/_torch_batch_process.py
Owners: none

capture warning
  harness/tests/determined/pytorch/experimental/test_torch_batch_process.py
Owners: none

fix checkpoint skip if batch iterated == 0, add one more sync to ensure progress report only after all worker complets
  harness/determined/experimental/inference/_torch_batch_process.py
Owners: none

Minor tweaks on unit tests
  harness/tests/determined/pytorch/experimental/test_torch_batch_process.py
Owners: none

remove to test from GCS storage path as we done testing
  harness/determined/pytorch/experimental/_torch_batch_process.py
Owners: none

fix lint
  harness/tests/determined/pytorch/experimental/test_torch_batch_process.py
Owners: none

isort fix
  examples/Inference/basic_inference/basic_inference.py
  examples/Inference/deepspeed_zero3/cifar10_cpu_offload/test_ds.py
  examples/Inference/mmdetection/test_mm.py
  harness/determined/experimental/inference/_torch_batch_process.py
Owners: none

Add tests on TorchBatchProcessorContext
  harness/determined/pytorch/experimental/_torch_batch_process.py
  harness/tests/determined/pytorch/experimental/test_torch_batch_process.py
Owners: none

update docstring
  harness/determined/pytorch/experimental/_torch_batch_process.py
Owners: none

ensure userid and field value aggree in type
  webui/react/src/components/FilterForm/components/FilterField.tsx
Owners: none

missing decorator
  harness/tests/determined/common/experimental/test_experiment.py
Owners: none

chore: cache and reload in Python SDK [MLG-549] (#6853)
  e2e_tests/tests/cluster/test_model_registry.py
  e2e_tests/tests/cluster/test_resource_pools.py
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/test_sdk.py
  harness/determined/cli/checkpoint.py
  harness/determined/cli/experiment.py
  harness/determined/cli/model.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/model.py
  harness/determined/common/experimental/trial.py
  harness/determined/common/experimental/user.py
  harness/tests/cli/test_experiment.py
  harness/tests/common/api_server.py
  harness/tests/common/test_api_server.py
  harness/tests/determined/common/experimental/test_experiment.py
  harness/tests/fixtures/experiment.json
Owners: none

fix typing
  harness/tests/determined/common/experimental/test_experiment.py
Owners: none

chore: rename Trial to LegacyTrial and TrialReference/ExperimentReference to Trial/Experiment in SDK [MLG-547] (#6940)
  docs/model-dev-guide/model-management/checkpoints.rst
  docs/reference/python-sdk.rst
  docs/release-notes.rst
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/fixtures/no_op/model_def.py
  e2e_tests/tests/test_sdk.py
  harness/determined/__init__.py
  harness/determined/_execution.py
  harness/determined/_trial.py
  harness/determined/_trial_controller.py
  harness/determined/cli/experiment.py
  harness/determined/common/experimental/__init__.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/trial.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/experimental/__init__.py
  harness/determined/experimental/_native.py
  harness/determined/experimental/client.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/load.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/tests/cli/test_experiment.py
  harness/tests/experiment/utils.py
Owners: @determined-ai/docs

test: Add another mock to checkpoint tests
  harness/tests/determined/common/experimental/test_checkpoint.py
Owners: none

edit comments
  harness/determined/pytorch/experimental/_torch_batch_process.py
Owners: none

feat: rbac for templates oss edition
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/cluster/test_rbac.py
  e2e_tests/tests/fixtures/templates/ntsc.yaml
  e2e_tests/tests/template/test_template.py
  harness/determined/common/api/bindings.py
  master/internal/api/error.go
  master/internal/api_command.go
  master/internal/api_notebook.go
  master/internal/api_shell.go
  master/internal/api_templates.go
  master/internal/api_tensorboard.go
  master/internal/authz/permission_denied_error.go
  master/internal/core_experiment.go
  master/internal/grpcutil/errors.go
  master/internal/template/authz_basic_impl.go
  master/internal/template/authz_iface.go
  master/static/srv/put_template.sql
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

revert making ntsc and exp unmarshalling consistent
  master/internal/api_command.go
  master/internal/core_experiment.go
Owners: @determined-ai/backend

Revert "chore: account for paths passed in for DET_MASTER (#7097)"
  harness/determined/common/api/request.py
  harness/tests/common/test_api.py
Owners: none

keep the added tests
  harness/tests/common/test_api.py
Owners: none

disable unsupported test cases
  harness/tests/common/test_api.py
Owners: none

feat: Batch Inference (Processing) API (#6807)
  harness/determined/pytorch/_reducer.py
  harness/determined/pytorch/experimental/__init__.py
  harness/determined/pytorch/experimental/_torch_batch_process.py
  harness/tests/determined/pytorch/__init__.py
  harness/tests/determined/pytorch/experimental/__init__.py
  harness/tests/determined/pytorch/experimental/test_torch_batch_process.py
  harness/tests/launch/test_util.py
Owners: none

use string literal
  webui/react/src/ioTypes.ts
Owners: none

make clearQuerySettings a callback
  webui/react/src/hooks/useSettings.ts
  webui/react/src/hooks/useSettingsProvider.tsx
Owners: none
