Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

chore: fix lint
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/TrialsComparison/Collections/useTrialCollections.tsx
Owners: none

add test tag
  harness/tests/experiment/integrations/test_deepspeed_trial.py
Owners: none

replace spaces with a tab
  harness/Makefile
Owners: none

add circleci config for deepspeed gpu runners
  .circleci/config.yml
Owners: none

deepspeed updated this error message a year ago
  harness/tests/experiment/integrations/test_deepspeed_trial.py
Owners: none

fix: Exp list supports selection with shift/cmd (#6745)
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/menu.tsx
Owners: none

ci: update to node v18 (#6759)
  .circleci/config.yml
  .github/workflows/lint-react.yml
  CONTRIBUTING.md
  webui/react/.nvmrc
  webui/react/Makefile
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/scripts/make-github-comment.mjs
  webui/react/src/shared/.circleci/config.yml
Owners: @determined-ai/infrastructure

use old screenshot method for main branch
  webui/react/Makefile
Owners: none

update devcontainer
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/server.sh
  .devcontainer/setup.sh
  .devcontainer/start.sh
Owners: none

cleanup
  .devcontainer/startup.sh
Owners: none

actually enable the tests
  .circleci/config.yml
Owners: none

fix imports
  harness/tests/experiment/fixtures/estimator_xor_model.py
  harness/tests/experiment/fixtures/tf_keras_xor_model.py
  harness/tests/experiment/tf_utils.py
  harness/tests/experiment/utils.py
Owners: none

chore: add initial vscode devcontainer files (#6736)
  .determined.code-workspace
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/server.sh
  .devcontainer/setup.sh
  .devcontainer/start.sh
Owners: none

api changes and frontend fixes
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_tensorboard.go
  master/internal/experiment/bulk_action.go
  proto/pkg/apiv1/experiment.pb.go
  proto/pkg/apiv1/tensorboard.pb.go
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/api/v1/tensorboard.proto
  webui/react/src/components/ExperimentMoveModal.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/types.ts
Owners: @determined-ai/backend

fix import and linting
  harness/tests/experiment/keras/test_keras_data.py
  harness/tests/experiment/tf_utils.py
Owners: none

BatchActionConfirmModal copy
  webui/react/src/components/BatchActionConfirmModal.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Owners: none

fix lint
  e2e_tests/tests/experiment/test_core.py
Owners: none

remove basic and nan metrics tests: we have unit tests for that in master
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/fixtures/metric_maker/const.yaml
  e2e_tests/tests/fixtures/metric_maker/metric_maker.py
  e2e_tests/tests/fixtures/metric_maker/nans.yaml
Owners: none

refactor: remove legacy echo experiment post/patch, trial and trial metrics get.
  docs/release-notes/remove-legacy-apis.rst
  master/internal/core.go
  master/internal/core_experiment.go
  master/internal/core_experiment_intg_test.go
  master/internal/core_trial.go
  master/pkg/model/experiment.go
  master/static/srv/get_trial.sql
  master/static/srv/get_trial_metrics.sql
Owners: @determined-ai/docs, @determined-ai/backend

Remove legacy CreateExperimentParams struct
  master/internal/api_experiment.go
  master/internal/core.go
  master/internal/core_experiment.go
  master/internal/core_trial_intg_test.go
Owners: @determined-ai/backend

chore: refactor code
  webui/react/src/components/FilterForm/components/FilterForm.module.scss
  webui/react/src/components/FilterForm/components/FilterForm.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/menu.tsx
Owners: none

go lint
  master/internal/api_experiment.go
  master/internal/experiment/bulk_action.go
Owners: @determined-ai/backend

can deselect all after manual selections
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

fmt
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

clean up for merging
  e2e_tests/tests/config.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/nightly/test_distributed.py
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/image_classification/deepspeed.yaml
  harness/determined/pytorch/dsat/__main__.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
Owners: none

docs: correct the cloud shared fs information.
  docs/interfaces/notebooks.rst
Owners: @determined-ai/docs

chore: backport rbac ntsc entity id logging (#6762)
  master/internal/api_command.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_notebook.go
  master/internal/api_ntsc_intg_test.go
  master/internal/api_shell.go
  master/internal/api_tensorboard.go
  master/internal/api_trials_intg_test.go
  master/internal/rbac/audit/audit.go
Owners: @determined-ai/backend

move patch experiments over
  harness/determined/cli/experiment.py
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  proto/pkg/experimentv1/experiment.pb.go
  proto/src/determined/experiment/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

fix lint
  master/internal/api_experiment.go
Owners: @determined-ai/backend

react quarantined take 2
  .circleci/config.yml
Owners: none

test specific components during quarantine
  .circleci/config.yml
  webui/react/Makefile
Owners: none

chore: quarantine select react tests
  .circleci/config.yml
  webui/react/src/components/kit/LogViewer/LogViewer.test.tsx
Owners: none

adopt suggestion for quarantinedIt fn
  webui/react/src/components/kit/LogViewer/LogViewer.test.tsx
  webui/react/src/setupTests.ts
Owners: none

apply style guidelines
  docs/interfaces/notebooks.rst
Owners: @determined-ai/docs

use separate file
  webui/react/src/components/kit/LogViewer/LogViewer.test.tsx
  webui/react/src/quarantineTests.ts
  webui/react/src/setupTests.ts
Owners: none

update node for react quarantine tests
  .circleci/config.yml
Owners: none

use regular links for hashes
  webui/react/src/pages/DesignKit.tsx
Owners: none

return fn
  webui/react/src/components/kit/LogViewer/LogViewer.test.tsx
  webui/react/src/quarantineTests.ts
Owners: none

chore: add clipboard to design kit
  webui/react/src/pages/DesignKit.tsx
Owners: none

chore: update existing kit components to support clipboard button
  webui/react/src/components/kit/Button.tsx
  webui/react/src/components/kit/Tooltip.tsx
  webui/react/src/components/kit/useConfirm.tsx
Owners: none
