Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

polish up TestOverwriteFail and TestRemoveInvalidBinding
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Owners: @determined-ai/backend

tara: Add the approved dtrain diagram
  docs/architecture/index.rst
  docs/architecture/system-architecture.rst
  docs/assets/images/dtrain-loop-dark.png
  docs/assets/images/dtrain-loop-light.png
  docs/model-dev-guide/dtrain/dtrain-introduction.rst
Owners: @determined-ai/docs

Share difference between columns
  webui/react/src/components/SplitPane.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

First PR fixes
  webui/react/src/components/SplitPane.tsx
  webui/react/src/pages/F_ExpList/ComparisonView.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.module.scss
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

fix: pinned column resizing in compare view [WEB-1395]
  webui/react/src/pages/F_ExpList/ComparisonView.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Owners: none

Add throttled onResize
  webui/react/src/components/SplitPane.tsx
Owners: none

PR Review
  webui/react/src/components/SplitPane.tsx
  webui/react/src/hooks/useScrollbarWidth.ts
  webui/react/src/pages/F_ExpList/ComparisonView.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Owners: none

fix: pinned column resizing in compare view [WEB-1395] (#7193)
  webui/react/src/components/SplitPane.tsx
  webui/react/src/hooks/useScrollbarWidth.ts
  webui/react/src/pages/F_ExpList/ComparisonView.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.module.scss
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Owners: none

chore(actors): remove AllocationRef's from tasklist.TaskList
  master/internal/api_tasks.go
  master/internal/api_trials.go
  master/internal/core.go
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/fair_share.go
  master/internal/rm/agentrm/mock_test.go
  master/internal/rm/agentrm/priority.go
  master/internal/rm/agentrm/priority_test.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/round_robin.go
  master/internal/rm/agentrm/scaling.go
  master/internal/rm/agentrm/scheduler_test.go
  master/internal/rm/allocationmap/allocation_map.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/resource_manager_iface.go
  master/internal/rm/tasklist/task_list.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
Owners: @determined-ai/backend

feat: add glide table filter field add shortcut (#7127)
  webui/react/src/components/FilterForm/components/FilterField.tsx
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
  webui/react/src/components/kit/InputNumber.tsx
  webui/react/src/components/kit/Select.tsx
Owners: none

lint
  master/internal/proxy/proxy_intg_test.go
Owners: @determined-ai/backend

lint
  master/internal/proxy/proxy_intg_test.go
Owners: @determined-ai/backend

fixes
  master/internal/proxy/proxy_intg_test.go
Owners: @determined-ai/backend

added NewProxyHandler test
  master/internal/proxy/proxy_intg_test.go
Owners: @determined-ai/backend

changing port address
  master/internal/proxy/proxy_intg_test.go
Owners: @determined-ai/backend

removing residual code
  master/internal/proxy/proxy_intg_test.go
Owners: @determined-ai/backend

lint
  master/internal/proxy/proxy_intg_test.go
Owners: @determined-ai/backend

logic check
  master/internal/proxy/proxy_intg_test.go
Owners: @determined-ai/backend

chore(actors): remove AllocationRef's from tasklist.TaskList (#7208)
  master/internal/api_tasks.go
  master/internal/api_trials.go
  master/internal/core.go
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/fair_share.go
  master/internal/rm/agentrm/mock_test.go
  master/internal/rm/agentrm/priority.go
  master/internal/rm/agentrm/priority_test.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/round_robin.go
  master/internal/rm/agentrm/scaling.go
  master/internal/rm/agentrm/scheduler_test.go
  master/internal/rm/allocationmap/allocation_map.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/resource_manager_iface.go
  master/internal/rm/tasklist/task_list.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
Owners: @determined-ai/backend

feat: add trust_remote_code to hf_trainer_api examples (#7209)
  examples/hf_trainer_api/hf_image_classification/adaptive.yaml
  examples/hf_trainer_api/hf_image_classification/const.yaml
  examples/hf_trainer_api/hf_image_classification/const_epochs.yaml
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_image_classification/distributed.yaml
  examples/hf_trainer_api/hf_image_classification/image_classification.py
  examples/hf_trainer_api/hf_language_modeling/adaptive.yaml
  examples/hf_trainer_api/hf_language_modeling/const.yaml
  examples/hf_trainer_api/hf_language_modeling/const_epochs.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/distributed.yaml
  examples/hf_trainer_api/hf_language_modeling/run_clm.py
Owners: none

fix: replace dsat cli underscores with dashes (#7187)
  docs/model-dev-guide/apis-howto/deepspeed/autotuning.rst
  harness/determined/pytorch/dsat/_utils.py
Owners: @determined-ai/docs

chore: indirect job package imports to avoid cycle in EE
  master/internal/command/command.go
  master/internal/core.go
  master/internal/job/job.go
  master/internal/job/jobmanager/jobmanager.go
Owners: @determined-ai/backend

chore: add NewProxyHandler test to proxy_intg_test [DET-9555] (#7196)
  master/internal/proxy/proxy_intg_test.go
Owners: @determined-ai/backend

review feedback
  master/internal/api_experiment.go
  master/internal/api_job.go
  master/internal/command/command.go
  master/internal/core.go
  master/internal/experiment.go
  master/internal/job/job.go
  master/internal/job/jobmanager/jobmanager.go
  master/internal/job/jobservice/jobservice.go
Owners: @determined-ai/backend

feat: List RPs Avaiable to Workspace [DET-9531]
  master/internal/api_workspace.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Owners: @determined-ai/backend

feat: List RPs Avaiable to Workspace [DET-9531]
  master/internal/api_workspace.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
  master/internal/mocks/workspace_authz_iface.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
Owners: @determined-ai/backend

chore: account for paths passed in for DET_MASTER (#7097)
  harness/determined/common/api/request.py
  harness/tests/common/test_api.py
Owners: none

prefix legacy metric types with underscore
  e2e_tests/tests/experiment/test_pytorch.py
  e2e_tests/tests/fixtures/custom_searcher/model_coreapi.py
  harness/determined/common/experimental/trial.py
  harness/determined/common/util.py
  harness/determined/core/_train.py
Owners: none

fix: add missing searcher types (#7212)
  webui/react/src/components/FilterForm/components/type.ts
Owners: none

use ide symbol rename to take out MetricType and Metrics aliases
  harness/determined/common/experimental/trial.py
  harness/determined/common/util.py
  harness/determined/core/_train.py
  harness/determined/experimental/client.py
Owners: none

namespaced imports
  harness/determined/core/_train.py
Owners: none

chore: indirect job package imports to avoid cycle in EE (#7219)
  master/internal/api_experiment.go
  master/internal/api_job.go
  master/internal/command/command.go
  master/internal/core.go
  master/internal/experiment.go
  master/internal/job/job.go
  master/internal/job/jobservice/jobservice.go
Owners: @determined-ai/backend

tara: Add the approved dtrain diagram (#7218)
  docs/architecture/index.rst
  docs/architecture/system-architecture.rst
  docs/assets/images/dtrain-loop-dark.png
  docs/assets/images/dtrain-loop-light.png
  docs/model-dev-guide/dtrain/dtrain-introduction.rst
Owners: @determined-ai/docs

tls changes squashed
  master/internal/api_notebook.go
  master/internal/command/command.go
  master/internal/proxy/proxy.go
  master/internal/proxy/tls.go
  master/internal/proxy/ws.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/static/migrations/20230613121857_add-cert-and-key-store.tx.down.sql
  master/static/migrations/20230613121857_add-cert-and-key-store.tx.up.sql
  master/static/srv/check_idle.py
  master/static/srv/notebook-entrypoint.sh
Owners: @determined-ai/backend

fix cert bug and better log messages
  master/internal/proxy/tls.go
Owners: @determined-ai/backend

generate master certificate on startup instead of lazily
  master/internal/proxy/proxy.go
Owners: @determined-ai/backend

simplifying function and polish
  master/internal/proxy/tls.go
Owners: @determined-ai/backend

lint
  master/internal/api_notebook.go
  master/internal/proxy/tls.go
Owners: @determined-ai/backend

move cert and key store migration to top
  master/static/migrations/20230627110731_add-cert-and-key-store.tx.down.sql
  master/static/migrations/20230627110731_add-cert-and-key-store.tx.up.sql
Owners: @determined-ai/backend

test: Add a unit test for direct downloading from S3. (#7174)
  harness/tests/determined/common/experimental/test_checkpoint.py
  harness/tests/determined/common/storage/__init__.py
  harness/tests/determined/common/storage/test_s3.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/checkpoint.json
  harness/tests/requirements/requirements-harness.txt
Owners: none
