Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

fix: readme cleanup (#6974)
  examples/deepspeed_autotune/torchvision/README.md
  examples/hf_trainer_api/README.md
Owners: none

fixes
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

feat: update defaults and small tweaks (#6975)
  docs/model-dev-guide/apis-howto/deepspeed/autotuning.rst
  harness/determined/pytorch/dsat/_defaults.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: @determined-ai/docs

wip
  .circleci/config.yml
  e2e_tests/tests/cluster/test_proxy.py
Owners: none

fmt examples
  examples/deepspeed_autotune/torchvision/core_api/script.py
  examples/deepspeed_autotune/torchvision/deepspeed_trial/model_def.py
Owners: none

lint
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.module.scss
Owners: none

Fix returning width
  webui/react/src/components/SplitPane.tsx
Owners: none

Basic SplitPane implementation
  webui/react/src/components/Page.module.scss
  webui/react/src/components/SplitPane.module.scss
  webui/react/src/components/SplitPane.tsx
  webui/react/src/pages/F_ExpList/ComparisonView.module.scss
  webui/react/src/pages/F_ExpList/ComparisonView.tsx
Owners: none

SplitPane improvements
  webui/react/src/components/SplitPane.module.scss
  webui/react/src/components/SplitPane.tsx
Owners: none

Basic functionality
  webui/react/src/pages/F_ExpList/ComparisonView.module.scss
  webui/react/src/pages/F_ExpList/ComparisonView.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Owners: none

Add loadable function
  webui/react/src/utils/loadable.ts
Owners: none

Add to useSettings
  webui/react/src/pages/F_ExpList/ComparisonView.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

test: Removes several multiprocessing executions of test_enqueuer. (#6949)
  harness/tests/experiment/keras/test_keras_data.py
Owners: none

reset rng seeds in between controller runs
  harness/tests/experiment/keras/test_tf_keras_trial.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/tensorflow/test_estimator_trial.py
Owners: none

more handleError
  webui/react/src/components/kit/CodeEditor.tsx
  webui/react/src/components/kit/CodeEditor/IpynbRenderer.tsx
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/components/kit/LogViewer/LogViewer.tsx
  webui/react/src/components/kit/Modal.tsx
  webui/react/src/components/kit/NoteCard.tsx
  webui/react/src/components/kit/NoteCards.tsx
  webui/react/src/components/kit/Notes.tsx
  webui/react/src/components/kit/useConfirm.tsx
  webui/react/src/components/kit/useNoteDemo.tsx
  webui/react/src/components/kit/utils/components/UPlot/UPlotChart.tsx
  webui/react/src/components/kit/utils/services.ts
  webui/react/src/components/kit/utils/types.ts
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCodeViewer.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentMultiTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ProjectNotes.tsx
Owners: none

wip
  e2e_tests/tests/cluster/test_proxy.py
  harness/determined/cli/proxy.py
Owners: none

drop unnecessary callback
  harness/tests/experiment/fixtures/estimator_no_op/model_def.py
Owners: none

update new UI kit components
  webui/react/src/components/kit/CodeEditor.tsx
  webui/react/src/components/kit/NoteCard.tsx
  webui/react/src/components/kit/NoteCards.tsx
  webui/react/src/components/kit/Typography/Header.tsx
  webui/react/src/components/kit/Typography/Paragraph.tsx
  webui/react/src/components/kit/utils/components/Markdown.module.scss
  webui/react/src/components/kit/utils/components/Markdown.tsx
  webui/react/src/components/kit/utils/components/MonacoEditor.module.scss
  webui/react/src/components/kit/utils/components/MonacoEditor.tsx
  webui/react/src/components/kit/utils/fonts.ts
  webui/react/src/pages/DesignKit.tsx
Owners: none

linting
  harness/tests/experiment/tensorflow/test_estimator_trial.py
Owners: none

make isort behave
  e2e_tests/.isort.cfg
  examples/.isort.cfg
  examples/deepspeed/cifar10_cpu_offloading/model_def.py
  examples/deepspeed/cifar10_moe/model_def.py
  examples/deepspeed/deepspeed_dcgan/model_def.py
  examples/deepspeed/gpt_neox/gpt2_trial.py
  examples/deepspeed/pipeline_parallelism/model_def.py
  examples/deepspeed_autotune/torchvision/core_api/script.py
  examples/deepspeed_autotune/torchvision/deepspeed_trial/model_def.py
  examples/tests/.isort.cfg
  harness/.isort.cfg
Owners: none

missed types
  webui/react/src/components/kit/CodeEditor.tsx
  webui/react/src/components/kit/Facepile.tsx
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/components/kit/LineChart/useChartGrid.tsx
  webui/react/src/components/kit/LogViewer/LogViewer.tsx
  webui/react/src/components/kit/LogViewer/LogViewerEntry.test.tsx
  webui/react/src/components/kit/LogViewer/LogViewerEntry.tsx
  webui/react/src/components/kit/LogViewer/LogViewerSelect.settings.ts
  webui/react/src/components/kit/LogViewer/LogViewerSelect.test.tsx
  webui/react/src/components/kit/LogViewer/LogViewerSelect.tsx
  webui/react/src/components/kit/NoteCard.tsx
  webui/react/src/components/kit/NoteCards.tsx
  webui/react/src/components/kit/Notes.tsx
  webui/react/src/components/kit/UserAvatar.test.tsx
  webui/react/src/components/kit/UserAvatar.tsx
  webui/react/src/components/kit/utils/types.ts
Owners: none

wip
  e2e_tests/tests/cluster/test_proxy.py
Owners: none

undo MonacoEditor copy
  webui/react/src/components/kit/CodeEditor.tsx
  webui/react/src/components/kit/utils/components/MonacoEditor.module.scss
  webui/react/src/components/kit/utils/components/MonacoEditor.tsx
Owners: none

fmt
  webui/react/src/components/JupyterLabModal.tsx
  webui/react/src/components/kit/CodeEditor.tsx
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/components/kit/LogViewer/LogViewer.tsx
  webui/react/src/components/kit/Notes.tsx
  webui/react/src/components/kit/useConfirm.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCodeViewer.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
Owners: none

feat: rp-workspace db migration
  master/static/migrations/20230525143842_add-rp-workspace-bindings.tx.down.sql
  master/static/migrations/20230525143842_add-rp-workspace-bindings.tx.up.sql
Owners: @determined-ai/backend

fix: parameterize agent tmp by agent id [DET-9111] (#6960)
  agent/internal/agent.go
  agent/pkg/cruntimes/crutils.go
  agent/pkg/podman/podman.go
  agent/pkg/singularity/singularity.go
Owners: @determined-ai/backend

adding searcherType to new exp list
  master/internal/api_experiment.go
  master/internal/experiment_filter.go
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Owners: @determined-ai/backend

duration
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  proto/pkg/experimentv1/experiment.pb.go
  proto/src/determined/experiment/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

add duration
  master/internal/api_experiment_intg_test.go
Owners: @determined-ai/backend

use int32
  master/internal/api_experiment_intg_test.go
Owners: @determined-ai/backend

duration in ExperimentItem
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Owners: none

cleanup
  master/internal/rm/agentrm/resource_pool.go
Owners: @determined-ai/backend

wip
  e2e_tests/tests/cluster/test_proxy.py
Owners: none

chore: simplify metrics handler syntax (#6969)
  master/internal/db/postgres_trial.go
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/trial/v1/trial.proto
Owners: @determined-ai/backend

first draft of 1-backprop.md
  onboarding/mlsys/1-backprop.md
  onboarding/mlsys/gradient_descent.jpg
Owners: none

finished rework
  onboarding/mlsys/1-gradients.md
  onboarding/mlsys/gradient_descent.jpg
  onboarding/mlsys/multi.jpg
Owners: none

some review, gonna rework it
  onboarding/mlsys/1-gradients.md
Owners: none

feat: Add Proto Messages [DET-9518]
  proto/buf.image.bin
  proto/pkg/apiv1/resourcepool.pb.go
  proto/pkg/apiv1/workspace.pb.go
  proto/pkg/resourcepoolv1/resourcepool.pb.go
  proto/src/determined/api/v1/resourcepool.proto
  proto/src/determined/api/v1/workspace.proto
  proto/src/determined/resourcepool/v1/resourcepool.proto
Owners: @determined-ai/backend

fixes
  webui/react/src/components/kit/Pagination.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.module.scss
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/ProjectDetails.tsx
Owners: none

fix test
  master/internal/rm/kubernetesrm/mock_client_test.go
Owners: @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
