Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

PASSED s3 test cases
  harness/determined/common/storage/base.py
  harness/determined/common/storage/s3.py
  harness/determined/common/storage/shared.py
  harness/tests/storage/test_s3.py
  harness/tests/storage/util.py
Owners: none

squashed
  docs/release-notes/partial-checkpoint-delete.rst
  e2e_tests/tests/cluster/test_checkpoints.py
  e2e_tests/tests/test_sdk.py
  examples/tutorials/mnist_pytorch/const.yaml
  harness/determined/cli/checkpoint.py
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/storage/__init__.py
  harness/determined/common/storage/azure.py
  harness/determined/common/storage/base.py
  harness/determined/common/storage/gcs.py
  harness/determined/common/storage/hdfs.py
  harness/determined/common/storage/s3.py
  harness/determined/common/storage/shared.py
  harness/determined/core/_checkpoint.py
  harness/determined/exec/gc_checkpoints.py
  harness/determined/exec/launch.py
  harness/tests/storage/test_shared_fs.py
  harness/tests/storage/util.py
  harness/tests/test_gc_harness.py
  master/internal/api_checkpoint.go
  master/internal/api_checkpoint_intg_test.go
  master/internal/api_experiment.go
  master/internal/checkpoint_gc.go
  master/internal/db/postgres_tasks_intg_test.go
  master/internal/experiment.go
  master/pkg/model/experiment.go
  master/pkg/tasks/task_gc.go
  master/static/migrations/20230512142734_add-checkpoint-partial-delete-state.tx.down.sql
  master/static/migrations/20230512142734_add-checkpoint-partial-delete-state.tx.up.sql
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/checkpoint.pb.go
  proto/pkg/checkpointv1/checkpoint.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/checkpoint.proto
  proto/src/determined/checkpoint/v1/checkpoint.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/docs, @determined-ai/backend

webui updates
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.settings.ts
  webui/react/src/services/decoder.ts
  webui/react/src/themes.ts
  webui/react/src/types.ts
Owners: none

fix bug that I caused
  e2e_tests/tests/cluster/test_checkpoints.py
  harness/determined/common/storage/shared.py
  harness/determined/exec/gc_checkpoints.py
Owners: none

minor optimizations
  harness/determined/common/storage/shared.py
  harness/tests/storage/util.py
  master/internal/api_checkpoint.go
  master/internal/api_checkpoint_intg_test.go
Owners: @determined-ai/backend

state add webui
  webui/react/src/constants/states.ts
Owners: none

actually passes s3 tests
  harness/determined/common/storage/base.py
  harness/determined/common/storage/s3.py
  harness/determined/common/storage/shared.py
  harness/tests/storage/test_s3.py
  harness/tests/storage/util.py
Owners: none

refactor breadcrumb component
  webui/react/src/components/PageHeader/PageHeader.module.scss
  webui/react/src/components/PageHeader/PageHeader.tsx
  webui/react/src/components/kit/Breadcrumb.module.css
  webui/react/src/components/kit/Breadcrumb.tsx
  webui/react/src/pages/DesignKit.tsx
Owners: none

form validation and clarity
  webui/react/src/components/JupyterLabModal.tsx
Owners: none

feat: Hide experiments from archived projects in `GetExperiments` DET-9381 (#6832)
  docs/release-notes/feat-GetExperiments.rst
  e2e_tests/tests/experiment/test_api.py
  master/internal/api_experiment.go
Owners: @determined-ai/docs, @determined-ai/backend

allow clear
  webui/react/src/components/JupyterLabModal.tsx
Owners: none

update readStream service
  webui/react/src/components/kit/LogViewer/LogViewer.tsx
  webui/react/src/components/kit/utils/services.ts
  webui/react/src/pages/ClusterLogs.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/TaskLogs.test.tsx
  webui/react/src/pages/TaskLogs.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
Owners: none

chore: actor refactor pod logs
  master/internal/rm/kubernetesrm/log.go
  master/internal/rm/kubernetesrm/pod.go
Owners: @determined-ai/backend

updates according to comments
  harness/determined/searcher/_search_method.py
Owners: none

cleanup
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/storage/azure_client.py
  harness/determined/common/storage/hdfs.py
  harness/determined/common/storage/shared.py
  harness/determined/exec/gc_checkpoints.py
  harness/tests/storage/util.py
  master/pkg/tasks/task_gc.go
Owners: @determined-ai/backend

chore: attend to PR comments
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/utils/colors.ts
Owners: none

fix docs build
  docs/model-dev-guide/apis-howto/deepspeed/deepspeed.rst
  docs/reference/training/api-deepspeed-reference.rst
Owners: @determined-ai/docs

feat: add theme (fonts, colors, etc) to design kit (#6847)
  webui/react/src/components/kit/Typography/Header.tsx
  webui/react/src/components/kit/Typography/Paragraph.tsx
  webui/react/src/components/kit/Typography/index.module.scss
  webui/react/src/globalCssVar.css
  webui/react/src/pages/DesignKit.module.scss
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/utils/colors.ts
  webui/react/src/utils/fonts.ts
Owners: none

chore: vary generated training and validation metric counts (#6915)
  master/internal/populate_metrics.go
Owners: @determined-ai/backend

copy more utils
  webui/react/src/components/kit/ClipboardButton.tsx
  webui/react/src/components/kit/utils/components/Avatar/Avatar.test.tsx
  webui/react/src/components/kit/utils/components/Avatar/Avatar.tsx
  webui/react/src/components/kit/utils/components/Image/Image.test.tsx
  webui/react/src/components/kit/utils/components/Image/Image.tsx
  webui/react/src/components/kit/utils/components/Message/Message.tsx
  webui/react/src/components/kit/utils/components/ScaleSelect.tsx
  webui/react/src/components/kit/utils/components/Section.tsx
  webui/react/src/components/kit/utils/components/UPlot/SyncProvider.tsx
  webui/react/src/components/kit/utils/components/UPlot/UPlotChart.tsx
  webui/react/src/components/kit/utils/components/UPlot/UPlotChart/closestPointPlugin.ts
  webui/react/src/components/kit/utils/components/UPlot/UPlotChart/drawPointsPlugin.ts
  webui/react/src/components/kit/utils/components/UPlot/UPlotChart/tooltipsPlugin.ts
  webui/react/src/components/kit/utils/components/UPlot/UPlotScatter.tsx
  webui/react/src/components/kit/utils/components/UPlot/UPlotScatter/UPlotScatter.utils.ts
  webui/react/src/components/kit/utils/components/UPlot/UPlotScatter/useScatterPointTooltipPlugin.ts
  webui/react/src/components/kit/utils/dialogApi.ts
  webui/react/src/components/kit/utils/functions.ts
  webui/react/src/components/kit/utils/md5.ts
  webui/react/src/components/kit/utils/types.ts
Owners: none

chore: update the custom searcher docs [MLG-447] (#6934)
  docs/model-dev-guide/apis-howto/deepspeed/deepspeed.rst
  docs/model-dev-guide/hyperparameter/search-methods/hp-custom.rst
  docs/reference/searcher/custom-searcher-reference.rst
  docs/reference/training/api-deepspeed-reference.rst
  harness/determined/searcher/_search_method.py
Owners: @determined-ai/docs

fix: Workspace selection on JupyterLab modal [DET-9503] (#6938)
  webui/react/src/components/JupyterLabModal.tsx
Owners: none

cleanup
  master/internal/rm/kubernetesrm/pod.go
Owners: @determined-ai/backend

deleted on extra file
  master/pkg/tasks/task_gc.go
Owners: @determined-ai/backend

chore: rename Trial to LegacyTrial and TrialReference/ExperimentReference to Trial/Experiment
  docs/reference/python-sdk.rst
  docs/release-notes.rst
  docs/training/model-management/checkpoints.rst
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/fixtures/no_op/model_def.py
  e2e_tests/tests/test_sdk.py
  harness/determined/__init__.py
  harness/determined/_execution.py
  harness/determined/_trial.py
  harness/determined/_trial_controller.py
  harness/determined/cli/experiment.py
  harness/determined/common/experimental/__init__.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/trial.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/experimental/__init__.py
  harness/determined/experimental/_native.py
  harness/determined/experimental/client.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/load.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/tests/cli/test_experiment.py
  harness/tests/experiment/utils.py
Owners: @determined-ai/docs

chore: make det enum str() representation more user friendly
  bindings/generate_bindings_py.py
  harness/determined/common/api/bindings.py
Owners: none

update usages
  harness/determined/cli/checkpoint.py
  harness/determined/cli/experiment.py
  harness/determined/cli/master.py
  harness/determined/cli/project.py
  harness/determined/cli/trial.py
  harness/determined/common/constants.py
Owners: none

fix: out of bounds when page is bigger than actual
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

fix: out of bounds when page is bigger than actual (#6931)
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Owners: none

type prefix
  bindings/generate_bindings_py.py
  harness/determined/common/api/bindings.py
Owners: none

update e2e test to look for exact link match
  webui/react/src/e2e/navigation.spec.ts
Owners: none

changes according to comments.
  docs/release-notes/remove-pt-callbacks.rst
  docs/release-notes/t4-gpu-default.rst
  examples/deepspeed_autotune/no_op_test/deepspeed.yaml
  examples/deepspeed_autotune/no_op_test/ds_config.json
  examples/deepspeed_autotune/no_op_test/script.py
  examples/deepspeed_autotune/torchvision/README.md
  examples/hf_trainer_api/image_classification/deepspeed.yaml
  examples/hf_trainer_api/image_classification/requirements.txt
  examples/hf_trainer_api/language_modeling/deepspeed.yaml
  examples/hf_trainer_api/language_modeling/requirements.txt
  harness/tests/requirements/requirements-harness.txt
Owners: @determined-ai/docs

revert the changes to the environments so we are in sync with bumpenvs
  examples/deepspeed/cifar10_cpu_offloading/zero_3_cpu_offload.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_no_offload.yaml
  examples/deepspeed/cifar10_moe/moe.yaml
  examples/deepspeed/cifar10_moe/zero_stages.yaml
  examples/deepspeed/deepspeed_dcgan/cifar10_zero2.yaml
  examples/deepspeed/deepspeed_dcgan/mnist.yaml
  examples/deepspeed/deepspeed_dcgan/mnist_grad_accum.yaml
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  examples/deepspeed_autotune/torchvision/core_api/deepspeed.yaml
  examples/deepspeed_autotune/torchvision/deepspeed_trial/deepspeed.yaml
  examples/hf_trainer_api/image_classification/deepspeed.yaml
  examples/hf_trainer_api/language_modeling/deepspeed.yaml
Owners: none

initial python feedback
  e2e_tests/tests/test_sdk.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/storage/base.py
  harness/determined/common/storage/shared.py
Owners: none

refactor EstimatorTrial RNG test
  harness/tests/experiment/fixtures/estimator_no_op/__init__.py
  harness/tests/experiment/fixtures/estimator_no_op/const.yaml
  harness/tests/experiment/fixtures/estimator_no_op/model_def.py
  harness/tests/experiment/tensorflow/test_estimator_trial.py
Owners: none

adjust the huggingface versions to the current minor version
  examples/hf_trainer_api/image_classification/requirements.txt
  examples/hf_trainer_api/language_modeling/requirements.txt
  harness/tests/requirements/requirements-harness.txt
Owners: none

refactor keras rng restore tests
  harness/tests/experiment/fixtures/keras_no_op/__init__.py
  harness/tests/experiment/fixtures/keras_no_op/const.yaml
  harness/tests/experiment/fixtures/keras_no_op/model_def.py
  harness/tests/experiment/keras/test_tf_keras_trial.py
Owners: none

clean up estimator rng test
  harness/tests/experiment/tensorflow/test_estimator_trial.py
Owners: none

linting
  harness/tests/experiment/keras/test_tf_keras_trial.py
  harness/tests/experiment/tensorflow/test_estimator_trial.py
Owners: none

remove e2e_tests post-refactor
  e2e_tests/tests/experiment/test_noop.py
Owners: none

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
