Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @ioga, @hamidzr, @trentwatt

Enable test-unit-harness-gpu (breaking change, depending on CircleCI setup)
  .circleci/config.yml
Owners: none

Get the agent instance profile
  harness/determined/cli/agent.py
Owners: none

no more serial PK, logging rollback failure, some more tests, other misc cleanup
  master/internal/db/group_intg_test.go
  master/internal/db/postgres.go
  master/internal/db/postgres_groups.go
  master/static/migrations/20220706152654_add-user-groups.tx.up.sql
Owners: none

docs: add ClusterInfo docs (#4496)
  docs/training-apis/api-core/reference.txt
  harness/determined/_info.py
  harness/determined/core/_tensorboard_mode.py
Owners: none

test: bring back tests for generic commands on master restarts. (#4490)
  e2e_tests/tests/cluster/test_master_restart.py
Owners: none

Another test case
  master/internal/db/group_intg_test.go
Owners: none

linting errors
  master/internal/db/postgres.go
  master/internal/db/postgres_groups.go
Owners: none

test: `set_priority` should respect the master url.
  e2e_tests/tests/experiment/experiment.py
Owners: none

all queries except hparams
  master/internal/api_trials.go
  master/internal/db/postgres_trial.go
Owners: none

Add migrations to groups integration test
  master/internal/db/group_intg_test.go
Owners: none

fix: text color in Hyperparameters page
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.module.scss
Owners: none

test: `set_priority` should respect the master url. (#4527)
  e2e_tests/tests/experiment/experiment.py
Owners: none

chore: add new settings page
  webui/react/src/pages/Settings.module.scss
  webui/react/src/pages/Settings.tsx
  webui/react/src/routes/index.ts
  webui/react/src/routes/routes.ts
  webui/react/src/routes/utils.ts
Owners: none

test: disable flaky test for now
  webui/react/src/components/Metadata/EditableMetadata.test.tsx
Owners: none

chore: lock api state for backward compatibility check
  proto/buf.image.bin
Owners: none

chore: bump version: 0.18.4-dev0 -> 0.18.4-rc0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/setup.py
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/aws/templates/vpc.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/craco.config.js
Owners: none

squashed
  agent/go.mod
  agent/go.sum
  agent/internal/docker.go
  agent/internal/docker_credential_store.go
  agent/internal/docker_test.go
  docs/release-notes/dont-send-docker-creds-to-any-server.txt
  docs/training-apis/experiment-config.txt
Owners: @ioga

Reorder test import
  agent/internal/docker_test.go
Owners: @ioga

feedback v3
  docs/release-notes/dont-send-docker-creds-to-any-server.txt
Owners: none

feedback v2
  docs/release-notes/dont-send-docker-creds-to-any-server.txt
  docs/sysadmin-basics/cluster-config.txt
  docs/training-apis/experiment-config.txt
Owners: none

feedback
  agent/internal/docker.go
  docs/release-notes/dont-send-docker-creds-to-any-server.txt
Owners: @ioga

test local to 30 seconds
  e2e_tests/tests/deploy/test_local.py
Owners: none

feat: docker auth improvements [DET-7633, DET-7636] (#4513)
  agent/go.mod
  agent/go.sum
  agent/internal/docker.go
  agent/internal/docker_credential_store.go
  agent/internal/docker_test.go
  docs/release-notes/dont-send-docker-creds-to-any-server.txt
  docs/sysadmin-basics/cluster-config.txt
  docs/training-apis/experiment-config.txt
  e2e_tests/tests/deploy/test_local.py
Owners: @ioga

chore: agent sends log level with container logs
  agent/internal/container.go
  agent/internal/docker.go
  master/internal/resourcemanagers/agent/agent.go
  master/pkg/aproto/master_message.go
Owners: @ioga

maxSlots is sum of all agent slots
  master/internal/core_experiment.go
Owners: none

test: fix test flake
  webui/react/src/components/Metadata/EditableMetadata.test.tsx
  webui/react/src/components/Metadata/EditableMetadata.tsx
Owners: none

fix: --theme-surface-on to --theme-float-on for text color
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.module.scss
Owners: none

fix: skip gzip only for proxy web assets [DET-7802] (#4517)
  master/internal/core.go
Owners: none

fix: text color in Hyperparameters page (#4529)
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.module.scss
Owners: none

fix: rename lable `restarts` to `auto restarts`
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.settings.ts
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.table.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.stories.tsx
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.stories.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/storybook/shared/generateTestExperiments.ts
  webui/react/src/types.ts
Owners: none

choir: used props for rendering skeleton rows and columns
  webui/react/src/components/ResponsiveTable.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHyperparameters.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
Owners: none

feat: add skeleton to the InteractiveTable
  webui/react/src/components/InteractiveTable.tsx
Owners: none

add delete btn and modal
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.module.scss
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.tsx
  webui/react/src/services/apiConfig.ts
Owners: none

fix css
  webui/react/src/pages/Clusters.module.scss
Owners: none

added hparam search
  master/internal/db/postgres_trial.go
Owners: none

test: update avatar tests to remove warnings (#4523)
  webui/react/src/components/UserAvatar.test.tsx
  webui/react/src/components/UserAvatar.tsx
  webui/react/src/shared/components/Avatar/Avatar.test.tsx
Owners: @hamidzr, @trentwatt

fix: change `short ID` width
  webui/react/src/pages/TaskList.settings.ts
Owners: none

can filter by searcher
  harness/determined/common/api/bindings.py
  master/internal/api_trials.go
  master/internal/db/postgres_trial.go
  proto/src/determined/api/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @ioga

fix: persist whose workspaces/projects (#4525)
  webui/react/src/pages/WorkspaceDetails.settings.ts
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceList.settings.ts
  webui/react/src/pages/WorkspaceList.tsx
Owners: none

feedback
  agent/internal/docker.go
Owners: @ioga

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# Notify eng-infra team of .github changes
/.github  @determined-ai/infrastructure

# Ilia cares about agent RM.
/master/internal/resourcemanagers/ @ioga
/master/internal/sproto/ @ioga
/proto/src/determined/ @ioga
/agent/ @ioga

# Hamid and Trent care about shared code
/webui/react/src/shared/ @hamidzr @trentwatt
