Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

edit README.md
  examples/features/torch_batch_process_core_api_comparison/README.md
Owners: none

format
  examples/features/torch_batch_process_core_api_comparison/README.md
Owners: none

Tweak README.md
  examples/features/torch_batch_process/batch_inference/compare_with_core_api/README.md
Owners: none

remove comment
  harness/tests/experiment/pytorch/test_examples.py
Owners: none

edit import
  examples/features/torch_batch_process/batch_inference/compare_with_core_api/core_api_inference.py
Owners: none

format'
  examples/features/torch_batch_process_core_api_comparison/README.md
  examples/features/torch_batch_process_core_api_comparison/constants.py
  examples/features/torch_batch_process_core_api_comparison/core_api_config.yaml
  examples/features/torch_batch_process_core_api_comparison/core_api_inference.py
  examples/features/torch_batch_process_core_api_comparison/model.py
  examples/features/torch_batch_process_core_api_comparison/torch_batch_process_config.yaml
  examples/features/torch_batch_process_core_api_comparison/torch_batch_process_inference.py
  harness/tests/experiment/pytorch/test_examples.py
Owners: none

edit path in core api example
  examples/features/torch_batch_process/batch_inference/compare_with_core_api/core_api_config.yaml
  examples/features/torch_batch_process/batch_inference/compare_with_core_api/core_api_inference.py
  examples/features/torch_batch_process/batch_inference/compare_with_core_api/torch_batch_process_inference.py
Owners: none

fix linter
  harness/determined/cli/resource_pool.py
Owners: none

divisible-by implemented
  harness/determined/pytorch/dsat/_defaults.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_utils.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

chore: fail with non-zero exit code when password change fails (#7403)
  harness/determined/cli/user.py
Owners: none

feat: [MLG-647] Add batch inference examples using Core API and torch_batch_process (#7274)
  examples/features/torch_batch_process_core_api_comparison/README.md
  examples/features/torch_batch_process_core_api_comparison/constants.py
  examples/features/torch_batch_process_core_api_comparison/core_api_config.yaml
  examples/features/torch_batch_process_core_api_comparison/core_api_inference.py
  examples/features/torch_batch_process_core_api_comparison/model.py
  examples/features/torch_batch_process_core_api_comparison/torch_batch_process_config.yaml
  examples/features/torch_batch_process_core_api_comparison/torch_batch_process_inference.py
  harness/tests/experiment/pytorch/test_examples.py
  harness/tests/experiment/utils.py
Owners: none

feat: master audit logging should log failed requests at `Info` level.
  master/internal/audit.go
Owners: @determined-ai/backend

fix tests, clarify some fields
  master/internal/api_trials_intg_test.go
  master/internal/trials/api_trial_source_info.go
  master/static/migrations/20230719153319_trial_source_info.tx.up.sql
Owners: @determined-ai/backend

address feedback
  harness/determined/cli/resource_pool.py
  harness/determined/cli/workspace.py
Owners: none

hi < lo bug fix
  harness/determined/pytorch/dsat/_dsat_search_method.py
Owners: none

feat: rp workspace mapping cli [DET-9521] (#7430)
  harness/determined/cli/cli.py
  harness/determined/cli/resource_pool.py
  harness/determined/cli/workspace.py
Owners: none

update names for the model version ids
  harness/determined/common/api/bindings.py
  master/internal/api_model.go
  master/internal/api_trials_intg_test.go
  master/internal/trials/api_trial_source_info.go
  master/static/migrations/20230719153319_trial_source_info.tx.up.sql
  proto/buf.image.bin
  proto/pkg/apiv1/trial.pb.go
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/api/v1/trial.proto
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

Edit Chroma API used
  examples/features/torch_batch_process_embeddings/bert_embedding_generation.py
Owners: none

adding comment warning about RBAC checks
  master/internal/trials/api_trial_source_info.go
Owners: @determined-ai/backend

format the proto
  proto/src/determined/trial/v1/trial.proto
Owners: @determined-ai/backend

rebuild proto
  proto/buf.image.bin
  proto/pkg/trialv1/trial.pb.go
Owners: @determined-ai/backend

chore: events & preemption listener actor refactor [DET-9617] (#7256)
  master/internal/mocks/event_interface.go
  master/internal/rm/kubernetesrm/events.go
  master/internal/rm/kubernetesrm/informer_intg_test.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/preemptions.go
Owners: @determined-ai/backend

add postgres fn for getting all bindings
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Owners: @determined-ai/backend

add resource pool rbac
  master/internal/api_resourcepool.go
  master/internal/resourcepool-rbac/authz_basic_impl.go
  master/internal/resourcepool-rbac/authz_iface.go
Owners: @determined-ai/backend

clearer names
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

do not end asha lineages mid rung
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

support specifying tbs in utils
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_utils.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

more divisible by tests
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

Merge data and row height menus in explist v2
  webui/react/src/assets/images/infinite-scroll.svg
  webui/react/src/components/kit/Icon.test.tsx
  webui/react/src/components/kit/Icon.tsx
  webui/react/src/pages/F_ExpList/glide-table/OptionsMenu.module.scss
  webui/react/src/pages/F_ExpList/glide-table/OptionsMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/RowHeightMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.module.scss
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Owners: none

use toggle not switch
  webui/react/src/pages/F_ExpList/glide-table/OptionsMenu.tsx
Owners: none

clean up rebase
  webui/react/src/components/UserSettings.tsx
  webui/react/src/pages/F_ExpList/glide-table/OptionsMenu.tsx
Owners: none

fix: update get agents call for agent disable all
  harness/determined/cli/agent.py
Owners: none

chore: update pinned frozen column to always include multi-select box
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
Owners: none

chore: remove name column from being a permanent column
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Owners: none

name changes
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_utils.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

change dataset size
  examples/features/torch_batch_process_embeddings/bert_embedding_generation.py
Owners: none

change exp config name
  docs/interfaces/tensorboard.rst
Owners: @determined-ai/docs

give fallback search input another name
  docs/_templates/search-field.html
Owners: @determined-ai/docs

Add documentation about passing in optional tensorboard arguments
  docs/interfaces/tensorboard.rst
Owners: @determined-ai/docs

rename config
  docs/interfaces/tensorboard.rst
Owners: @determined-ai/docs
