Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

fix rebase
  harness/tests/experiment/test_local.py
Owners: none

Revert "Revert "checkpoints now reports metadata.json in resources""
  docs/release-notes/partial-checkpoint-delete.rst
  harness/determined/common/storage/azure.py
  harness/determined/common/storage/gcs.py
  harness/determined/common/storage/s3.py
  harness/determined/common/storage/shared.py
  harness/determined/core/_checkpoint.py
  master/internal/api_checkpoint.go
  master/internal/api_checkpoint_intg_test.go
Owners: @determined-ai/docs, @determined-ai/backend

import cleanup in hf examples
  examples/hf_trainer_api/image_classification/image_classification.py
  examples/hf_trainer_api/language_modeling/run_clm.py
Owners: none

starting dsat user guide
  docs/model-dev-guide/apis-howto/deepspeed/autotuning.rst
  docs/model-dev-guide/apis-howto/deepspeed/overview.rst
Owners: @determined-ai/docs

formatting
  docs/model-dev-guide/apis-howto/deepspeed/autotuning.rst
Owners: @determined-ai/docs

more editing
  docs/model-dev-guide/apis-howto/deepspeed/autotuning.rst
Owners: @determined-ai/docs

cleanup
  docs/model-dev-guide/apis-howto/deepspeed/autotuning.rst
Owners: @determined-ai/docs

incorporate tara's comments
  docs/model-dev-guide/apis-howto/deepspeed/autotuning.rst
Owners: @determined-ai/docs

Update cli help
  harness/determined/pytorch/dsat/_utils.py
Owners: none

incorporate taylor's second round of feedback
  docs/model-dev-guide/apis-howto/deepspeed/autotuning.rst
Owners: @determined-ai/docs

incorporating feedback
  docs/model-dev-guide/apis-howto/deepspeed/autotuning.rst
Owners: @determined-ai/docs

remove TODO
  harness/determined/pytorch/dsat/_dsat_search_method.py
Owners: none

starting to list cli options
  docs/model-dev-guide/apis-howto/deepspeed/autotuning.rst
Owners: @determined-ai/docs

git mv hf examples to make more descriptive dirs
  examples/hf_trainer_api/hf_image_classification/adaptive.yaml
  examples/hf_trainer_api/hf_image_classification/const.yaml
  examples/hf_trainer_api/hf_image_classification/const_epochs.yaml
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_image_classification/distributed.yaml
  examples/hf_trainer_api/hf_image_classification/ds_configs/ds_config_stage_1.json
  examples/hf_trainer_api/hf_image_classification/ds_configs/ds_config_stage_2.json
  examples/hf_trainer_api/hf_image_classification/ds_configs/ds_config_stage_2_cpu_offload.json
  examples/hf_trainer_api/hf_image_classification/ds_configs/ds_config_stage_3.json
  examples/hf_trainer_api/hf_image_classification/image_classification.py
  examples/hf_trainer_api/hf_image_classification/requirements.txt
  examples/hf_trainer_api/hf_image_classification/startup-hook.sh
  examples/hf_trainer_api/hf_language_modeling/adaptive.yaml
  examples/hf_trainer_api/hf_language_modeling/const.yaml
  examples/hf_trainer_api/hf_language_modeling/const_epochs.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/distributed.yaml
  examples/hf_trainer_api/hf_language_modeling/ds_configs/ds_config_stage_1.json
  examples/hf_trainer_api/hf_language_modeling/ds_configs/ds_config_stage_2.json
  examples/hf_trainer_api/hf_language_modeling/ds_configs/ds_config_stage_2_cpu_offload.json
  examples/hf_trainer_api/hf_language_modeling/ds_configs/ds_config_stage_3.json
  examples/hf_trainer_api/hf_language_modeling/requirements.txt
  examples/hf_trainer_api/hf_language_modeling/run_clm.py
  examples/hf_trainer_api/hf_language_modeling/startup-hook.sh
Owners: none

links to examples
  docs/model-dev-guide/apis-howto/deepspeed/autotuning.rst
Owners: @determined-ai/docs

general cli options cleanup
  docs/model-dev-guide/apis-howto/deepspeed/autotuning.rst
Owners: @determined-ai/docs

feat: deepspeed autotune user guide (#6929)
  docs/model-dev-guide/apis-howto/deepspeed/autotuning.rst
  docs/model-dev-guide/apis-howto/deepspeed/overview.rst
  examples/hf_trainer_api/hf_image_classification/adaptive.yaml
  examples/hf_trainer_api/hf_image_classification/const.yaml
  examples/hf_trainer_api/hf_image_classification/const_epochs.yaml
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_image_classification/distributed.yaml
  examples/hf_trainer_api/hf_image_classification/ds_configs/ds_config_stage_1.json
  examples/hf_trainer_api/hf_image_classification/ds_configs/ds_config_stage_2.json
  examples/hf_trainer_api/hf_image_classification/ds_configs/ds_config_stage_2_cpu_offload.json
  examples/hf_trainer_api/hf_image_classification/ds_configs/ds_config_stage_3.json
  examples/hf_trainer_api/hf_image_classification/image_classification.py
  examples/hf_trainer_api/hf_image_classification/requirements.txt
  examples/hf_trainer_api/hf_image_classification/startup-hook.sh
  examples/hf_trainer_api/hf_language_modeling/adaptive.yaml
  examples/hf_trainer_api/hf_language_modeling/const.yaml
  examples/hf_trainer_api/hf_language_modeling/const_epochs.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/distributed.yaml
  examples/hf_trainer_api/hf_language_modeling/ds_configs/ds_config_stage_1.json
  examples/hf_trainer_api/hf_language_modeling/ds_configs/ds_config_stage_2.json
  examples/hf_trainer_api/hf_language_modeling/ds_configs/ds_config_stage_2_cpu_offload.json
  examples/hf_trainer_api/hf_language_modeling/ds_configs/ds_config_stage_3.json
  examples/hf_trainer_api/hf_language_modeling/requirements.txt
  examples/hf_trainer_api/hf_language_modeling/run_clm.py
  examples/hf_trainer_api/hf_language_modeling/startup-hook.sh
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_utils.py
Owners: @determined-ai/docs

fix: no auto in hf cli (#6963)
  harness/determined/pytorch/dsat/_utils.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

missed handleErrors
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/components/TaskBar.tsx
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/components/kit/useConfirm.test.tsx
  webui/react/src/components/kit/useConfirm.tsx
  webui/react/src/components/kit/utils/components/UPlot/UPlotChart.tsx
  webui/react/src/components/kit/utils/components/UPlot/UPlotScatter.module.scss
  webui/react/src/components/kit/utils/components/UPlot/UPlotScatter.tsx
  webui/react/src/components/kit/utils/components/UPlot/UPlotScatter/UPlotScatter.utils.ts
  webui/react/src/components/kit/utils/components/UPlot/UPlotScatter/quadtree.ts
  webui/react/src/components/kit/utils/components/UPlot/UPlotScatter/useScatterPointTooltipPlugin.module.scss
  webui/react/src/components/kit/utils/components/UPlot/UPlotScatter/useScatterPointTooltipPlugin.ts
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/TrialDetails/F_TrialDetailsOverview.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/SystemMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/ThroughputMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/TimingMetricChart.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
  webui/react/src/shared/components/ActionDropdown/ActionDropdown.tsx
Owners: none

typo
  webui/react/src/pages/DesignKit.tsx
Owners: none

chore: add generic metrics support part 1 (#6641)
  harness/determined/common/api/bindings.py
  master/internal/api_trials.go
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
  master/internal/trials/postgres_trials.go
  master/pkg/model/experiment.go
  master/static/migrations/20230523155816_add-generic-metrics-partitioned-table.tx.down.sql
  master/static/migrations/20230523155816_add-generic-metrics-partitioned-table.tx.up.sql
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/trial.pb.go
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/trial.proto
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

add link to the dsat user guide
  docs/model-dev-guide/apis-howto/deepspeed/autotuning.rst
  docs/model-dev-guide/apis-howto/deepspeed/overview.rst
Owners: @determined-ai/docs

updated wording
  docs/model-dev-guide/apis-howto/deepspeed/overview.rst
Owners: @determined-ai/docs

add link to the dsat user guide (#6964)
  docs/model-dev-guide/apis-howto/deepspeed/autotuning.rst
  docs/model-dev-guide/apis-howto/deepspeed/overview.rst
Owners: @determined-ai/docs

fix: breadcrumb warnings
  webui/react/src/components/kit/Breadcrumb.tsx
Owners: none

only include curr_rung <= rung_idx trial in best computation
  harness/determined/pytorch/dsat/_dsat_search_method.py
Owners: none

more full mock experiment tests
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

Only skip completed trials added to queue
  harness/determined/pytorch/dsat/_dsat_search_method.py
Owners: none

base rungs off latest, rather than root
  harness/determined/pytorch/dsat/_dsat_search_method.py
Owners: none

clean up lineage_completed_rung
  harness/determined/pytorch/dsat/_dsat_search_method.py
Owners: none

account for asha early stopping in test
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

promotion respects rung idx test
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

max trial computation cleanup
  harness/determined/pytorch/dsat/_dsat_search_method.py
Owners: none

test cleanup
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

add test_get_best_trial_in_lineage
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

more test cleanup
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

doc string cleanup
  harness/determined/pytorch/dsat/_dsat_search_method.py
Owners: none

fix up test_full_experiment_reverse_ordered_results
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

minor wording edit
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

always pop off highest curr_rung asha trial next
  harness/determined/pytorch/dsat/_dsat_search_method.py
Owners: none

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
