Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @ioga, @hamidzr, @trentwatt

make fmt
  webui/react/src/components/InlineEditor.module.scss
Owners: none

remove unused attribute and clarify
  master/internal/task/allocation.go
Owners: none

chore: move model version modals hooks up to model details
  webui/react/src/hooks/useModal/Model/useModalModelDownload.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelDetails/ModelVersionActionDropdown.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
Owners: none

fix: prevent jupyter lab modal from popping up when changing side bar nav
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.tsx
Owners: none

fix: ensure new modal props reference when using cannot-delete-modal-props
  webui/react/src/hooks/useModal/Model/useModalModelDelete.tsx
  webui/react/src/hooks/useModal/Model/useModalModelDownload.tsx
  webui/react/src/hooks/useModal/Model/useModalModelVersionDelete.tsx
Owners: none

refactor: simplify model delete modal
  webui/react/src/hooks/useModal/Model/useModalModelDelete.tsx
  webui/react/src/hooks/useModal/useModal.tsx
Owners: none

fix: allocation errors on finished hp search [DET-7724] (#4467)
  master/internal/task/allocation.go
Owners: none

WIP: query trials endpoint
  harness/determined/common/api/bindings.py
  master/internal/db/postgres_trial.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/trial.proto
Owners: @ioga

improve how we get to det root
  webui/react/Makefile
Owners: none

add a target to shared to shared-web
  webui/react/Makefile
Owners: none

add checks to push-shared target
  webui/react/Makefile
Owners: none

add a symlink to web
  web
Owners: none

fix: allocation errors on finished hp search [DET-7724] (#4467)
  master/internal/task/allocation.go
Owners: none

chore: bump version: 0.18.3-rc5 -> 0.18.3-rc6
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/setup.py
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/aws/templates/vpc.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/craco.config.js
Owners: none

chore: bump version: 0.18.3-rc6 -> 0.18.3-rc7
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/setup.py
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/aws/templates/vpc.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/craco.config.js
Owners: none

move package and add ut
  master/internal/cache.go
  master/internal/cache/cache.go
  master/internal/cache/cache_intg_test.go
  master/internal/cache/cache_test.go
  master/internal/db/postgres_checkpoints_intg_test.go
  master/internal/db/postgres_cluster_intg_test.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_helpers_intg_test.go
  master/internal/db/postgres_model_intg_test.go
  master/internal/db/postgres_tasks_intg_test.go
  master/internal/db/postgres_test_utils.go
  master/internal/db/postgres_trial_intg_test.go
Owners: none

style: DET-7363 fix free and warm allocation bar state styles
  webui/react/src/components/Badge.tsx
Owners: none

style: DET-7362 up contrast for ant card-style tabs
  webui/react/src/shared/styles/antd.scss
Owners: @hamidzr, @trentwatt

style: DET-7364 fix checkbox styles for theme
  webui/react/src/shared/styles/antd.scss
Owners: @hamidzr, @trentwatt

style: fix disabled button style
  webui/react/src/shared/styles/antd.scss
Owners: @hamidzr, @trentwatt

style: DET-7425, DET-7383 update uplot to dynamically update theme
  webui/react/src/components/UPlot/UPlotChart.tsx
  webui/react/src/components/UPlot/UPlotChart/closestPointPlugin.module.scss
  webui/react/src/components/UPlot/UPlotChart/tooltipsPlugin.module.scss
  webui/react/src/components/UPlot/UPlotChart/trackAxis.module.scss
Owners: none

fix: read theme mode from settings properly
  webui/react/src/hooks/useTheme.settings.ts
  webui/react/src/hooks/useTheme.ts
Owners: none

refactor: DET-7551 move theme and mode into context store ui field
  webui/react/src/App.tsx
  webui/react/src/components/DynamicIcon.tsx
  webui/react/src/components/Logo.tsx
  webui/react/src/components/MonacoEditor.tsx
  webui/react/src/components/ParallelCoordinates.tsx
  webui/react/src/components/ThemeToggle.tsx
  webui/react/src/components/UPlot/UPlotChart.tsx
  webui/react/src/contexts/Store.tsx
  webui/react/src/hooks/useTheme.settings.ts
  webui/react/src/hooks/useTheme.ts
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpHeatMaps.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/types.ts
Owners: none

style: update disable button style
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.tsx
  webui/react/src/hooks/useModalModelCreate.module.scss
  webui/react/src/hooks/useModalModelCreate.tsx
  webui/react/src/pages/ModelRegistry.tsx
Owners: none

refactor: use Toggle component instead of plain Switch component
  webui/react/src/components/Label.module.scss
  webui/react/src/components/SelectFilter.module.scss
  webui/react/src/components/SelectFilter.tsx
  webui/react/src/components/Toggle.module.scss
  webui/react/src/components/Toggle.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceList.tsx
Owners: none

style: fix nav sidebar user hover
  webui/react/src/components/NavigationSideBar.module.scss
Owners: none

style: minor style fix for uncategorized list page
  webui/react/src/pages/ProjectDetails.module.scss
Owners: none

style: tune select filters for workspaces
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceList.tsx
Owners: none

style: fix ghost button styles
  webui/react/src/components/PageHeaderFoldable.tsx
  webui/react/src/shared/styles/antd.scss
Owners: @hamidzr, @trentwatt

style: DET-7366 adjust active color for dark antd theme
  webui/react/public/themes/antd.dark.min.css
  webui/react/public/themes/antd.dark.min.css.map
  webui/react/scripts/setupThemes.js
  webui/react/src/shared/styles/antd.scss
Owners: @hamidzr, @trentwatt

style: update project and workspace cards to have 8px border radius
  webui/react/src/pages/WorkspaceDetails/ProjectCard.module.scss
  webui/react/src/pages/WorkspaceList/WorkspaceCard.module.scss
Owners: none

style: tune dynamic icon colors
  webui/react/src/components/DynamicIcon.tsx
Owners: none

add document
  master/internal/core_experiment.go
Owners: none

chore: fix lint issues
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceList.tsx
Owners: none

chore: add note to describe purpose of setupTheme.js script
  webui/react/scripts/setupThemes.js
Owners: none

style: update generative colors to use theme
  webui/react/src/components/Badge.tsx
  webui/react/src/components/DynamicIcon.tsx
  webui/react/src/components/UserAvatar.tsx
  webui/react/src/shared/components/Avatar/Avatar.module.scss
  webui/react/src/shared/components/Avatar/Avatar.tsx
  webui/react/src/shared/themes.ts
Owners: @hamidzr, @trentwatt

chore: update resource pool card light with new theme pattern
  webui/react/src/components/ResourcePoolCardLight.tsx
Owners: none

chore: update theme toggle test
  webui/react/src/components/ThemeToggle.test.tsx
  webui/react/src/components/ThemeToggle.tsx
Owners: none

chore: resolve rebase conflicts
  webui/react/.stylelintrc.js
  webui/react/src/components/Badge.tsx
  webui/react/src/components/DynamicIcon.tsx
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/components/ThemeToggle.tsx
  webui/react/src/contexts/Store.tsx
  webui/react/src/hooks/useTheme.settings.ts
  webui/react/src/hooks/useTheme.ts
  webui/react/src/shared/themes.ts
  webui/react/src/shared/utils/color.test.ts
  webui/react/src/shared/utils/color.ts
  webui/react/src/types.ts
Owners: @hamidzr, @trentwatt

chore: fix grammar
  webui/react/src/types.ts
Owners: none

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# Notify eng-infra team of .github changes
/.github  @determined-ai/infrastructure

# Ilia cares about agent RM.
/master/internal/resourcemanagers/ @ioga
/master/internal/sproto/ @ioga
/proto/src/determined/ @ioga
/agent/ @ioga

# Hamid and Trent care about shared code
/webui/react/src/shared/ @hamidzr @trentwatt
