Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

use icon component from designkit
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Owners: none

docs: added docstring in _checkpoint.py (#6741)
  harness/determined/core/_checkpoint.py
Owners: none

feat: migrate the huggingface det_callback [MLG-487]
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/image_classification/startup-hook.sh
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/language_modeling/startup-hook.sh
  harness/determined/__init__.py
  harness/determined/hf_callback.py
  harness/determined/integrations/__init__.py
Owners: none

fixing up the tests
  e2e_tests/tests/experiment/experiment.py
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/image_classification/out.txt
Owners: none

wip working on the e2e tests
  e2e_tests/tests/config.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/nightly/test_distributed.py
Owners: none

migrating the det_callback
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/image_classification/startup-hook.sh
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/language_modeling/startup-hook.sh
  harness/determined/__init__.py
  harness/determined/hf_callback.py
Owners: none

getting the basics of the tests running. Still appear to be issues though
  e2e_tests/tests/config.py
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/nightly/test_distributed.py
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/image_classification/deepspeed.yaml
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/image_classification/out.txt
  harness/determined/pytorch/dsat/__main__.py
  harness/determined/searcher/_remote_search_runner.py
  harness/determined/searcher/_search_runner.py
Owners: none

fixing up tests
  e2e_tests/tests/nightly/test_distributed.py
Owners: none

handle cases where explicit exceptions are raised in the dsat search runner
  e2e_tests/tests/nightly/test_distributed.py
  harness/determined/pytorch/dsat/__main__.py
  harness/determined/pytorch/dsat/_defaults.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/searcher/_search_runner.py
Owners: none

fix menu overflow
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/menu.tsx
Owners: none

ci: Schedule search indexing
  .circleci/config.yml
Owners: none

feat: add context menu
  webui/react/src/components/FilterForm/TableFilter.tsx
  webui/react/src/components/FilterForm/components/FilterField.tsx
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
  webui/react/src/components/FilterForm/components/FilterGroup.tsx
  webui/react/src/components/FilterForm/components/type.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/glide-table/menu.tsx
Owners: none

update icon titles
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Owners: none

chore: use icon component from designkit (#6774)
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Owners: none

ci: update to node v18
  .circleci/config.yml
  .github/workflows/lint-react.yml
  CONTRIBUTING.md
  webui/react/package.json
  webui/react/src/shared/.circleci/config.yml
Owners: @determined-ai/infrastructure

chore: update package-lock.json v3
  webui/react/package-lock.json
Owners: none

chore: update vitest
  webui/react/package-lock.json
  webui/react/package.json
Owners: none

chore: npm dedupe
  webui/react/package-lock.json
Owners: none

chore: uninstall undici
  webui/react/Makefile
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/scripts/make-github-comment.mjs
Owners: none

ci: update to node v18
  .circleci/config.yml
  .github/workflows/lint-react.yml
  CONTRIBUTING.md
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/shared/.circleci/config.yml
Owners: @determined-ai/infrastructure

chore: change node version in .nvmrc
  webui/react/.nvmrc
Owners: none

chore: format
  webui/react/src/pages/DesignKit.tsx
Owners: none

ci: Schedule search indexing with release workflow (#6776)
  .circleci/config.yml
Owners: none

chore: vite update
  webui/react/package-lock.json
  webui/react/package.json
Owners: none

fix article
  webui/react/scripts/designkit-screenshot.mjs
Owners: none

ci: prevent new components from affecting others in vrs
  webui/react/src/pages/DesignKit.tsx
Owners: none

use exclusive mode to generate screenshots
  webui/react/scripts/designkit-screenshot.mjs
Owners: none

chore: replace components/Dropdown with kit/Dropdown
  webui/react/src/components/NavigationSideBar.module.scss
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/ResponsiveFilters.module.scss
  webui/react/src/components/ResponsiveFilters.tsx
  webui/react/src/components/kit/Dropdown.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Owners: none

chore: update all antd dropdowns to use uikit dropdown
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/Metadata/EditableRow.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/PageHeaderFoldable.tsx
  webui/react/src/components/PaginatedNotesCard.tsx
  webui/react/src/components/ProjectActionDropdown.tsx
  webui/react/src/components/ProjectCard.tsx
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/components/TaskBar.tsx
  webui/react/src/components/kit/Dropdown.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelDetails/ModelVersionActionDropdown.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/pages/TrialsComparison/Actions/useTrialActions.tsx
  webui/react/src/pages/TrialsComparison/Collections/useTrialCollections.tsx
  webui/react/src/pages/WebhookList.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceDetailsHeader.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
  webui/react/src/pages/WorkspaceList.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceActionDropdown.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceCard.tsx
  webui/react/src/shared/components/ActionDropdown/ActionDropdown.tsx
Owners: none

style: migrate styles over
  webui/react/src/components/kit/Dropdown.module.scss
  webui/react/src/components/kit/Dropdown.tsx
  webui/react/src/shared/styles/antd.scss
Owners: none

chore: remove unused components/Dropdown
  webui/react/src/components/Dropdown.module.scss
  webui/react/src/components/Dropdown.tsx
Owners: none

chore: update uikit card to handle new dropdown pattern
  webui/react/src/components/kit/Card.tsx
  webui/react/src/pages/DesignKit.tsx
Owners: none

feat: create dropdown for uikit
  webui/react/src/components/kit/Dropdown.tsx
Owners: none

test: add dropdown tests
  webui/react/src/components/kit/Dropdown.test.tsx
  webui/react/src/components/kit/Dropdown.tsx
Owners: none

chore: add dropdown to design kit
  webui/react/src/pages/DesignKit.tsx
Owners: none

chore: update based on PR review
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/PageHeaderFoldable.tsx
  webui/react/src/components/PaginatedNotesCard.tsx
  webui/react/src/components/ProjectActionDropdown.tsx
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/components/kit/Card.tsx
  webui/react/src/components/kit/Dropdown.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/pages/TrialsComparison/Actions/useTrialActions.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceActionDropdown.tsx
  webui/react/src/shared/components/ActionDropdown/ActionDropdown.tsx
Owners: none

Revert "chore: format"
  webui/react/src/pages/DesignKit.tsx
Owners: none

chore: update based on PR review round 2
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/PaginatedNotesCard.tsx
  webui/react/src/components/ResponsiveFilters.tsx
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/components/kit/Card.tsx
  webui/react/src/components/kit/Dropdown.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelDetails/ModelVersionActionDropdown.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/shared/components/ActionDropdown/ActionDropdown.tsx
Owners: none

fixes
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

progress on writing a good list exp benchmark
  master/Makefile
  master/test/integration/api/api_experiments_benchmark_test.go
Owners: @determined-ai/backend
