Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

chore: Introduce local-only designkit route (#6438)
  master/internal/core.go
  webui/react/design/index.html
  webui/react/design/index.tsx
  webui/react/src/components/ThemeProvider.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/routes/index.tsx
  webui/react/src/routes/routes.ts
  webui/react/vite.config.ts
Owners: @determined-ai/backend

Remove component state
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Owners: none

remove more bun safe usage
  master/internal/api_experiment_intg_test.go
  master/internal/experiment_filter.go
Owners: @determined-ai/backend

chore: unwind the lazy write of trials to the database (#6650) [DET-9405]
  docs/release-notes/earlier-trial-persist.rst
  e2e_tests/tests/cluster/test_agent_disable.py
  master/internal/restore.go
  master/internal/trial.go
  master/internal/trial_test.go
Owners: @determined-ai/docs, @determined-ai/backend

added test case and remmoved bun safe usage
  master/internal/api_experiment_intg_test.go
  master/internal/experiment_filter.go
Owners: @determined-ai/backend

Remove effect
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
Owners: none

removed all unwanted bun safe usage
  master/internal/api_experiment_intg_test.go
  master/internal/experiment_filter.go
Owners: @determined-ai/backend

chore: bump version: 0.21.3-dev0 -> 0.22.0-dev0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/setup.py
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: none

chore: bump version: 0.22.0-dev0 -> 0.22.0-rc0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/setup.py
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: none

feat: agent support for podman
  agent/pkg/podman/podman.go
  agent/pkg/singularity/singularity.go
Owners: @determined-ai/backend

chore: Add validation to creation of experiment and trial refs.
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/trial.py
  harness/tests/common/api_server.py
  harness/tests/fixtures/trial.json
  harness/tests/test_experiment_ref.py
  harness/tests/test_trial_ref.py
Owners: none

docs: summary metric migration downtime (#6688)
  docs/release-notes/summary_metrics.rst
Owners: @determined-ai/docs

also update the test and det_callback.py
  ds_autotuning_prototype/hf_trainer_api/det_callback.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

chore: deprecate EstimatorTrial
  docs/example-solutions/examples.rst
  docs/reference/reference-training/training/api-estimator-reference.rst
  docs/release-notes/6701-deprecate-estimators.rst
  docs/training/apis-howto/api-estimator-ug.rst
  e2e_tests/tests/experiment/test_profiling.py
  e2e_tests/tests/experiment/test_tf_estimator.py
  e2e_tests/tests/fixtures/mnist_estimator/const.yaml
  e2e_tests/tests/fixtures/mnist_estimator/distributed.yaml
  e2e_tests/tests/fixtures/mnist_estimator/model_def.py
  e2e_tests/tests/nightly/test_convergence.py
  e2e_tests/tests/nightly/test_distributed.py
  examples/README.md
  examples/computer_vision/mnist_estimator/README.md
  examples/computer_vision/mnist_estimator/adaptive.yaml
  examples/decision_trees/gbt_titanic_estimator/README.md
  examples/decision_trees/gbt_titanic_estimator/adaptive.yaml
  examples/decision_trees/gbt_titanic_estimator/const.yaml
  examples/decision_trees/gbt_titanic_estimator/model_def.py
  examples/decision_trees/gbt_titanic_estimator/startup-hook.sh
  examples/tests/test_official.py
Owners: @determined-ai/docs

docs: summary metric release note reword
  docs/release-notes/summary_metrics.rst
Owners: @determined-ai/docs

docs: summary metric release note reword (#6702)
  docs/release-notes/summary_metrics.rst
Owners: @determined-ai/docs

Apply suggestions from code review
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/k8s-dev-guide.rst
Owners: @determined-ai/docs

implement docsite upload and promotion scripts
  docs/deploy/promote.py
  docs/deploy/upload.py
  docs/requirements.txt
Owners: @determined-ai/docs

add preview target to docs makefile
  docs/Makefile
Owners: @determined-ai/docs

update docs gitignore to include both terraform and python development
  docs/deploy/.gitignore
Owners: @determined-ai/docs

further changes from review
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/k8s-dev-guide.rst
Owners: @determined-ai/docs

linting
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/k8s-dev-guide.rst
Owners: @determined-ai/docs

setup auto-previewing for PRs that touch docs
  .circleci/config.yml
Owners: none

fix: pass auth with incorrect password [DET-5623]
  e2e_tests/tests/cluster/test_users.py
  harness/determined/common/api/authentication.py
Owners: none

fix: pass auth with incorrect password [DET-5623]
  e2e_tests/tests/cluster/test_users.py
  harness/determined/cli/user.py
  harness/determined/common/api/authentication.py
Owners: none

fix: pass auth with incorrect password [DET-5623]
  e2e_tests/tests/cluster/test_users.py
  harness/determined/common/api/authentication.py
  master/internal/api_trials_intg_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/pods_test.go
Owners: @determined-ai/backend

fix: pass auth with incorrect password [DET-5623]
  harness/determined/cli/user.py
  harness/determined/common/api/authentication.py
  master/internal/api_trials_intg_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/pods_test.go
Owners: @determined-ai/backend

add gha workflow to link previews
  .github/workflows/link-docs-preview.yml
Owners: @determined-ai/infrastructure

update docs Makefile preview target
  docs/Makefile
Owners: @determined-ai/docs

prevent invalidations for previews
  docs/deploy/upload.py
Owners: @determined-ai/docs

Close on reset
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
Owners: none

fix: pass auth with incorrect password [DET-5623]
  harness/determined/cli/user.py
Owners: none

update operators
  master/internal/api_experiment_intg_test.go
  master/internal/experiment_filter.go
Owners: @determined-ai/backend

formatting update
  master/internal/api_experiment_intg_test.go
Owners: @determined-ai/backend

fix: summary metrics migration earlier than last release latest
  master/static/migrations/20230503144448_add-summary-metrics.tx.down.sql
  master/static/migrations/20230503144448_add-summary-metrics.tx.up.sql
Owners: @determined-ai/backend

link updates
  docs/release-notes/summary_metrics.rst
  master/internal/db/postgres_trial_intg_test.go
Owners: @determined-ai/docs, @determined-ai/backend

chore: refactor dsat module to be independent of deepspeed imports [MLG-499] (#6694)
  ds_autotuning_prototype/README.md
  ds_autotuning_prototype/core_api/ffn_example_ds_launcher/deepspeed.yaml
  ds_autotuning_prototype/core_api/ffn_example_ds_launcher/script.py
  ds_autotuning_prototype/core_api/ffn_example_torch_launcher/deepspeed.yaml
  ds_autotuning_prototype/core_api/ffn_example_torch_launcher/script.py
  ds_autotuning_prototype/core_api/no_op_test/deepspeed.yaml
  ds_autotuning_prototype/core_api/no_op_test/script.py
  ds_autotuning_prototype/core_api/torchvison_models/deepspeed.yaml
  ds_autotuning_prototype/core_api/torchvison_models/script.py
  ds_autotuning_prototype/hf_trainer_api/README.md
  ds_autotuning_prototype/hf_trainer_api/det_callback.py
  ds_autotuning_prototype/hf_trainer_api/image_classification/image_classification.py
  ds_autotuning_prototype/hf_trainer_api/language-modeling/run_clm.py
  ds_autotuning_prototype/trial_classes/torchvison_models/model_def.py
  harness/determined/pytorch/deepspeed/__init__.py
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/determined/pytorch/deepspeed/dsat/__init__.py
  harness/determined/pytorch/dsat/__init__.py
  harness/determined/pytorch/dsat/__main__.py
  harness/determined/pytorch/dsat/_defaults.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_run_dsat.py
  harness/determined/pytorch/dsat/_utils.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
  harness/tests/experiment/pytorch/test_deepspeed_trial.py
Owners: none

docs: summary metric migration downtime (#6688)
  docs/release-notes/summary_metrics.rst
Owners: @determined-ai/docs

docs: summary metric release note reword (#6702)
  docs/release-notes/summary_metrics.rst
Owners: @determined-ai/docs

more operator updates
  master/internal/api_experiment_intg_test.go
Owners: @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
