Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

rebase rebuild
  harness/determined/common/api/bindings.py
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/experiment.pb.go
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

bump migrations
  master/static/migrations/20230515163101_add-experiment-detached.tx.down.sql
  master/static/migrations/20230515163101_add-experiment-detached.tx.up.sql
Owners: @determined-ai/backend

add a test.
  e2e_tests/tests/experiment/test_unmanaged.py
Owners: none

feat: clean up dsat examples (#6891)
  e2e_tests/tests/config.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/nightly/test_distributed.py
  examples/deepspeed/deepspeed_autotune/no_op_test/deepspeed.yaml
  examples/deepspeed/deepspeed_autotune/no_op_test/ds_config.json
  examples/deepspeed/deepspeed_autotune/no_op_test/script.py
  examples/deepspeed/deepspeed_autotune/torchvision/README.md
  examples/deepspeed/deepspeed_autotune/torchvision/core_api/deepspeed.yaml
  examples/deepspeed/deepspeed_autotune/torchvision/core_api/ds_config.json
  examples/deepspeed/deepspeed_autotune/torchvision/core_api/script.py
  examples/deepspeed/deepspeed_autotune/torchvision/deepspeed_trial/deepspeed.yaml
  examples/deepspeed/deepspeed_autotune/torchvision/deepspeed_trial/ds_config.json
  examples/deepspeed/deepspeed_autotune/torchvision/deepspeed_trial/model_def.py
  examples/deepspeed/deepspeed_autotuning/README.md
  examples/deepspeed/deepspeed_autotuning/core_api/ffn_example_ds_launcher/deepspeed.yaml
  examples/deepspeed/deepspeed_autotuning/core_api/ffn_example_ds_launcher/script.py
  examples/deepspeed/deepspeed_autotuning/core_api/ffn_example_torch_launcher/deepspeed.yaml
  examples/deepspeed/deepspeed_autotuning/core_api/ffn_example_torch_launcher/ds_config.json
  examples/deepspeed/deepspeed_autotuning/core_api/ffn_example_torch_launcher/script.py
  examples/deepspeed/deepspeed_autotuning/core_api/torchvison_models/deepspeed.yaml
  examples/deepspeed/deepspeed_autotuning/core_api/torchvison_models/script.py
  examples/deepspeed/deepspeed_autotuning/native_dsat_tests/torchvision_models_example/README.md
  examples/deepspeed/deepspeed_autotuning/native_dsat_tests/torchvision_models_example/autotune_config.yaml
  examples/deepspeed/deepspeed_autotuning/native_dsat_tests/torchvision_models_example/constants.py
  examples/deepspeed/deepspeed_autotuning/native_dsat_tests/torchvision_models_example/deepspeed_single_node_launcher.py
  examples/deepspeed/deepspeed_autotuning/native_dsat_tests/torchvision_models_example/main.py
  examples/deepspeed/deepspeed_autotuning/native_dsat_tests/torchvision_models_example/script.py
  examples/deepspeed/deepspeed_autotuning/native_dsat_tests/torchvision_models_example/utils.py
  examples/deepspeed/deepspeed_autotuning/trial_classes/torchvison_models/ds_config.json
  examples/tests/test_official.py
Owners: none

lint
  e2e_tests/tests/experiment/test_unmanaged.py
  master/internal/api_experiment.go
  proto/buf.image.bin
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/trial.proto
Owners: @determined-ai/backend

more lint
  examples/features/unmanaged/unmanaged_2_hp_search.py
  examples/features/unmanaged/unmanaged_3_torch_distributed.py
Owners: none

cli docs
  harness/determined/pytorch/dsat/_utils.py
Owners: none

feat: used Grid for the colors and add contrasting borders
  webui/react/src/pages/DesignKit.tsx
Owners: none

chore: made sizes into reusable enum
  webui/react/src/components/kit/Typography/Header.tsx
  webui/react/src/components/kit/Typography/Paragraph.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/utils/fonts.ts
Owners: none

chore: remove unused enums for typography
  webui/react/src/utils/fonts.ts
Owners: none

docs: Indent content under 4th level headings (#6888)
  docs/reference/deploy/config/master-config-reference.rst
Owners: @determined-ai/docs

update how ntsc launch is reported. and checked for in tests
  e2e_tests/tests/command/command.py
  harness/determined/cli/_util.py
  harness/determined/cli/notebook.py
  harness/determined/cli/remote.py
  harness/determined/cli/render.py
  harness/determined/cli/shell.py
  harness/determined/cli/tensorboard.py
Owners: none

print out "Interrupting..." on a new line
  harness/determined/cli/cli.py
Owners: none

fix: adjust pinned position calculation (#6890)
  webui/react/src/components/Table/InteractiveTable.tsx
Owners: none

cli doc strings
  harness/determined/pytorch/dsat/_utils.py
Owners: none

Revert "fix reported transaction name"
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

Revert "Revert "fix: total batches update on rollbacks. (#6859)""
  master/internal/db/postgres_trial.go
  master/static/migrations/20230504000000_recompute-trials-total-batches.tx.down.sql
  master/static/migrations/20230504000000_recompute-trials-total-batches.tx.up.sql
Owners: @determined-ai/backend

fix reported transaction name
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

add test
  master/internal/db/postgres_trial_intg_test.go
Owners: @determined-ai/backend

Revert "fix: total batches update on rollbacks. (#6859)"
  master/internal/db/postgres_trial.go
  master/static/migrations/20230504000000_recompute-trials-total-batches.tx.down.sql
  master/static/migrations/20230504000000_recompute-trials-total-batches.tx.up.sql
Owners: @determined-ai/backend

separate out addTrialMetricsTx w/ tx support for testing
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

lint
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
Owners: @determined-ai/backend

take input validation out of db transaction
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
Owners: @determined-ai/backend

chore: attend to PR comments
  webui/react/src/components/kit/Typography/Header.tsx
  webui/react/src/components/kit/Typography/Paragraph.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/utils/colors.ts
  webui/react/src/utils/fonts.ts
Owners: none

fix: exp list filter parentheses
  master/internal/api_experiment.go
  master/internal/experiment_filter.go
Owners: @determined-ai/backend

fix: remove extra section
  webui/react/src/pages/DesignKit.tsx
Owners: none

manually shutdown lock report coroutine
  master/internal/db/postgres_trial_intg_test.go
Owners: @determined-ai/backend

take out deadlock logging
  master/internal/db/postgres_trial_intg_test.go
Owners: @determined-ai/backend

ci: track merged PRs in a GitHub project (#6867)
  .github/workflows/track-prs-for-release.yml
  tools/scripts/add-pr-to-release-project.sh
Owners: @determined-ai/infrastructure

remove todo comment
  harness/determined/pytorch/dsat/_dsat_search_method.py
Owners: none

update doc strings in dsat _utils.py
  harness/determined/pytorch/dsat/__init__.py
  harness/determined/pytorch/dsat/_utils.py
Owners: none

ci(gha/link-docs-preview): strip md5sum output (#6881)
  .github/workflows/link-docs-preview.yml
Owners: @determined-ai/infrastructure

fooooooo
  docs/index.rst
Owners: @determined-ai/docs

fmt
  e2e_tests/tests/command/test_tensorboard.py
Owners: none

remove redundant rollbacks initialization
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

Apply styles
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/TrialDetails/MultiTrialDetailsHyperparameters.tsx
Owners: none

Adjust settings
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/TrialDetails/MultiTrialDetailsHyperparameters.settings.ts
  webui/react/src/pages/TrialDetails/MultiTrialDetailsHyperparameters.tsx
Owners: none

Disable interaction
  webui/react/src/components/MetricSelect.tsx
  webui/react/src/components/ParallelCoordinates.tsx
  webui/react/src/components/kit/Select.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/TrialDetails/MultiTrialDetailsHyperparameters.tsx
Owners: none

Switch null to undefined
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpHeatMaps.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpScatterPlots.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/TrialDetails/MultiTrialDetailsHyperparameters.settings.ts
Owners: none

Update hermes
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
Owners: none
