Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

Update master/internal/rm/kubernetesrm/request_queue.go
  master/internal/rm/kubernetesrm/request_queue.go
Owners: @determined-ai/backend

cleanup from comments
  master/internal/rm/kubernetesrm/request_queue.go
Owners: @determined-ai/backend

atomic bool
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pod_test.go
Owners: @determined-ai/backend

cleanup
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/request_queue.go
  master/internal/rm/kubernetesrm/request_queue_test.go
  master/internal/rm/kubernetesrm/request_workers.go
Owners: @determined-ai/backend

fix flakey test
  master/internal/rm/kubernetesrm/request_queue_test.go
Owners: @determined-ai/backend

cleanup test
  master/internal/rm/kubernetesrm/pod_test.go
Owners: @determined-ai/backend

update from comments
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/request_queue.go
  master/internal/rm/kubernetesrm/request_workers.go
Owners: @determined-ai/backend

ci: copy PR bodies into release party tracking issues
  tools/scripts/gql.py
  tools/scripts/track-pr
Owners: none

ci: torch.distributed parallel unit tests (#7156)
  .circleci/config.yml
  e2e_tests/tests/experiment/test_pytorch.py
  e2e_tests/tests/experiment/test_pytorch_distributed.py
  e2e_tests/tests/fixtures/pytorch_amp/data.py
  e2e_tests/tests/fixtures/pytorch_amp/layers.py
  e2e_tests/tests/fixtures/pytorch_amp/model_def.py
  e2e_tests/tests/fixtures/pytorch_identity/model_def.py
  e2e_tests/tests/fixtures/pytorch_identity/torch_distributed.yaml
  e2e_tests/tests/fixtures/pytorch_no_op/__init__.py
  e2e_tests/tests/fixtures/pytorch_no_op/const.yaml
  e2e_tests/tests/fixtures/pytorch_no_op/model_def.py
  harness/Makefile
  harness/tests/experiment/fixtures/pytorch_amp/__init__.py
  harness/tests/experiment/fixtures/pytorch_amp/apex_amp.yaml
  harness/tests/experiment/fixtures/pytorch_amp/apex_amp_distributed.yaml
  harness/tests/experiment/fixtures/pytorch_amp/apex_amp_model_def.py
  harness/tests/experiment/fixtures/pytorch_amp/auto_amp.yaml
  harness/tests/experiment/fixtures/pytorch_amp/auto_amp_distributed.yaml
  harness/tests/experiment/fixtures/pytorch_amp/auto_amp_model_def.py
  harness/tests/experiment/fixtures/pytorch_amp/data.py
  harness/tests/experiment/fixtures/pytorch_amp/layers.py
  harness/tests/experiment/fixtures/pytorch_amp/manual_amp.yaml
  harness/tests/experiment/fixtures/pytorch_amp/manual_amp_distributed.yaml
  harness/tests/experiment/fixtures/pytorch_amp/manual_amp_model_def.py
  harness/tests/experiment/fixtures/pytorch_amp/model_def.py
  harness/tests/experiment/fixtures/pytorch_identity/distributed.yaml
  harness/tests/experiment/fixtures/pytorch_identity/model_def.py
  harness/tests/experiment/fixtures/pytorch_no_op/__init__.py
  harness/tests/experiment/fixtures/pytorch_no_op/const.yaml
  harness/tests/experiment/fixtures/pytorch_no_op/model_def.py
  harness/tests/experiment/pytorch/test_examples.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/pytorch_utils.py
  harness/tests/experiment/utils.py
Owners: none

chore(actors): refactor allgather
  master/internal/api_tasks.go
  master/internal/task/all_gather.go
  master/internal/task/allgather.go
  master/internal/task/allgather/allgather.go
  master/internal/task/allgather/allgather_api_test.go
  master/internal/task/allgather/service.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/idle/watcher_test.go
  master/internal/task/service.go
Owners: @determined-ai/backend

chore: Helm file removed static imgs refs, added log config (#7032)
  helm/charts/determined/Chart.yaml
  helm/charts/determined/scripts/k8s-password-change.py
  helm/charts/determined/templates/change-password.yaml
  helm/charts/determined/templates/db-deployment.yaml
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/templates/scheduler-deployment.yaml
  helm/charts/determined/values.yaml
Owners: none

use KeyboardShortcut type
  webui/react/src/components/JupyterLab.settings.ts
  webui/react/src/components/JupyterLabButton.tsx
  webui/react/src/components/JupyterLabGlobal.tsx
  webui/react/src/utils/jupyter.ts
  webui/react/src/utils/shortcut.ts
Owners: none

require KeyboardShortcut fields
  webui/react/src/utils/shortcut.ts
Owners: none

feat: add selection menu to glide table (#6808)
  webui/react/src/components/kit/Dropdown.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/menu.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
Owners: none

storing masterCert
  master/internal/core.go
  master/pkg/tasks/task.go
Owners: @determined-ai/backend

change implementation to PEM encoding
  master/internal/config/config.go
  master/internal/core.go
  master/pkg/tasks/copy.go
  master/pkg/tasks/task.go
Owners: @determined-ai/backend

revert small change
  master/internal/core.go
Owners: @determined-ai/backend

ci: copy PR bodies into release party tracking issues (#7194)
  tools/scripts/gql.py
  tools/scripts/track-pr
Owners: none

docs: Improve the distributed training guide
  docs/model-dev-guide/dtrain/dtrain-implement.rst
  docs/model-dev-guide/dtrain/dtrain-introduction.rst
Owners: @determined-ai/docs

resolve review comments
  docs/model-dev-guide/apis-howto/overview.rst
  docs/model-dev-guide/dtrain/config-templates.rst
  docs/model-dev-guide/dtrain/dtrain-implement.rst
  docs/model-dev-guide/dtrain/dtrain-introduction.rst
  docs/model-dev-guide/dtrain/index.rst
  docs/model-dev-guide/dtrain/optimize-training.rst
  docs/model-dev-guide/dtrain/reproducibility.rst
  docs/reference/deploy/config/master-config-reference.rst
Owners: @determined-ai/docs

add dtrain-loop-light diagram
  docs/assets/images/dtrain-loop-light.png
  docs/model-dev-guide/dtrain/dtrain-introduction.rst
Owners: @determined-ai/docs

remove diagram for now and further improvements
  docs/assets/images/dtrain-loop-light.png
  docs/model-dev-guide/dtrain/dtrain-implement.rst
  docs/model-dev-guide/dtrain/dtrain-introduction.rst
  docs/model-dev-guide/dtrain/index.rst
  docs/reference/training/experiment-config-reference.rst
Owners: @determined-ai/docs

chore: attend to PR comments
  webui/react/src/pages/DesignKit.tsx
Owners: none

resolve final few review comments
  docs/model-dev-guide/dtrain/dtrain-implement.rst
  docs/model-dev-guide/dtrain/dtrain-introduction.rst
Owners: @determined-ai/docs

docs: Improve the distributed training guide (#7038)
  docs/model-dev-guide/apis-howto/overview.rst
  docs/model-dev-guide/dtrain/config-templates.rst
  docs/model-dev-guide/dtrain/dtrain-implement.rst
  docs/model-dev-guide/dtrain/dtrain-introduction.rst
  docs/model-dev-guide/dtrain/index.rst
  docs/model-dev-guide/dtrain/optimize-training.rst
  docs/model-dev-guide/dtrain/reproducibility.rst
  docs/reference/deploy/config/master-config-reference.rst
  docs/reference/training/experiment-config-reference.rst
Owners: @determined-ai/docs

add page limit
  harness/determined/common/api/_util.py
  harness/determined/common/experimental/experiment.py
  harness/tests/determined/common/experimental/test_experiment.py
Owners: none

add page limit
  harness/tests/determined/common/experimental/test_experiment.py
Owners: none

linting
  master/pkg/tasks/task.go
Owners: @determined-ai/backend

fmt
  harness/tests/common/test_api.py
Owners: none

deindent
  master/internal/api_trials.go
Owners: @determined-ai/backend

formalize metric id parsing
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  master/pkg/model/metrics.go
Owners: @determined-ai/backend

stable ordering of metrics by type
  master/internal/api_trials.go
Owners: @determined-ai/backend

rev comments
  master/internal/api_trials_intg_test.go
Owners: @determined-ai/backend

don't accept empty metric names and validate metric types
  master/pkg/model/metrics.go
Owners: @determined-ai/backend

add metric tests
  master/pkg/model/metrics_test.go
Owners: @determined-ai/backend

don't provide serialization
  master/pkg/model/metrics.go
  master/pkg/model/metrics_test.go
Owners: @determined-ai/backend

shorten test names
  master/pkg/model/metrics_test.go
Owners: @determined-ai/backend

chore: use settings value for omnibar shortcut
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/omnibar/Omnibar.tsx
  webui/react/src/pages/Settings/UserSettings.settings.ts
  webui/react/src/utils/shortcut.ts
Owners: none

fix: master returns rbacEnabled = false; change filter for rbac tests (#7100)
  e2e_tests/pytest.ini
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/cluster/managed_cluster.py
  e2e_tests/tests/cluster/managed_cluster_k8s.py
  e2e_tests/tests/cluster/test_agent_disable.py
  e2e_tests/tests/cluster/test_groups.py
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/cluster/test_oauth2_scim_client.py
  e2e_tests/tests/cluster/test_rbac.py
  e2e_tests/tests/cluster/test_users.py
  e2e_tests/tests/cluster/test_users_experiment_api.py
  e2e_tests/tests/cluster/test_workspace_org.py
  e2e_tests/tests/cluster/utils.py
  e2e_tests/tests/conftest.py
  e2e_tests/tests/deploy/test_local.py
  e2e_tests/tests/experiment/test_port_registry.py
  e2e_tests/tests/utils.py
  master/internal/config/authz_config.go
Owners: @determined-ai/backend

fix: update `hermes-parallel-coordinates` (#7190)
  webui/react/package-lock.json
  webui/react/package.json
Owners: none
