Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

refactor fixture, add some skips for local devs
  e2e_tests/tests/fixtures/pytorch_no_op/__init__.py
  e2e_tests/tests/fixtures/pytorch_no_op/const.yaml
  e2e_tests/tests/fixtures/pytorch_no_op/model_def.py
  harness/tests/experiment/fixtures/pytorch_no_op/__init__.py
  harness/tests/experiment/fixtures/pytorch_no_op/const.yaml
  harness/tests/experiment/fixtures/pytorch_no_op/model_def.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Owners: none

chore: deprecation warnings for `determined.common.experimental` imports (#7103)
  harness/determined/cli/checkpoint.py
  harness/determined/cli/model.py
  harness/determined/cli/trial.py
  harness/determined/cli/user_groups.py
  harness/determined/common/experimental/__init__.py
  harness/determined/experimental/__init__.py
  harness/determined/searcher/_search_method.py
Owners: none

linting
  e2e_tests/tests/fixtures/pytorch_identity/model_def.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/utils.py
Owners: none

update tf1 makefile target
  harness/Makefile
Owners: none

add makefile recipe for parallel tests
  harness/Makefile
Owners: none

leave access to steps_completed
  harness/determined/common/experimental/trial.py
  harness/determined/common/util.py
Owners: none

This is a test commit - no el merge-o por favor
  README.md
Owners: none

fix nit
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Owners: @determined-ai/backend

another test
  README.md
Owners: none

This is a test, hoping to trigger [DET-9592]
  README.md
Owners: none

test refactor
  harness/determined/common/api/_util.py
  harness/tests/determined/common/experimental/test_determined.py
Owners: none

docs: Minor edits to master config reference
  docs/reference/deploy/config/master-config-reference.rst
Owners: @determined-ai/docs

add shortcuts to settings
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/pages/Settings/UserSettings.settings.ts
Owners: none

default user/password
  harness/determined/cli/_util.py
  harness/determined/common/api/__init__.py
  harness/determined/common/api/_util.py
  harness/determined/common/experimental/determined.py
  harness/tests/determined/common/experimental/test_determined.py
  harness/tests/fixtures/api_responses.py
Owners: none

ci: cherry-pick all appropriately labeled PRs, regardless of type (#7157)
  tools/scripts/track-pr
Owners: none

add comment
  master/pkg/model/metrics.go
Owners: @determined-ai/backend

fix: set protocol scheme in kubernetes resource manager
  master/internal/rm/kubernetesrm/spec.go
Owners: @determined-ai/backend

Fix modal version
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.module.scss
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
Owners: none

Clean up effect
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
Owners: none

fix: charts should show is loading instead of no data
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/hooks/useMetricNames.ts
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
  webui/react/src/pages/TrialDetails/F_TrialDetailsOverview.tsx
  webui/react/src/pages/TrialDetails/MultiTrialDetailsHyperparameters.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Owners: none

feat: Drawer section
  webui/react/src/components/kit/Drawer.module.scss
  webui/react/src/components/kit/Drawer.tsx
  webui/react/src/pages/DesignKit.tsx
Owners: none

update button, scroll, persistent content
  webui/react/src/components/kit/Drawer.module.scss
  webui/react/src/components/kit/Drawer.tsx
  webui/react/src/pages/DesignKit.tsx
Owners: none

chore: sanitize metrictype [DET-9585] (#7155)
  master/internal/api_trials.go
  master/internal/db/postgres_trial_metrics.go
  master/pkg/model/metrics.go
  master/static/migrations/20230615134125_sanitize-generic-metric-types.tx.down.sql
  master/static/migrations/20230615134125_sanitize-generic-metric-types.tx.up.sql
Owners: @determined-ai/backend

drawer fits width on devices < 700px
  webui/react/src/components/kit/Drawer.module.scss
  webui/react/src/components/kit/Drawer.tsx
Owners: none

Fix decoding
  webui/react/src/components/MetricSelect.tsx
  webui/react/src/ioTypes.ts
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/types.ts
Owners: none

use cmd as default
  webui/react/src/pages/Settings/UserSettings.settings.ts
Owners: none

fix default
  webui/react/src/pages/Settings/UserSettings.settings.ts
Owners: none

remove unneeded vars and interfaces
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/hooks/useMetricNames.ts
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Owners: none

added comments for clarification
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Owners: none

feat: made the svg icons react to the color prop
  webui/react/src/components/kit/Icon.tsx
Owners: none

chore: remove unused check
  webui/react/src/components/kit/Icon.tsx
Owners: none

fix: correct scale positional argument in compareTrials API call
  webui/react/src/services/apiConfig.ts
Owners: none

fix: correct scale positional argument in compareTrials API call (#7168)
  webui/react/src/services/apiConfig.ts
Owners: none

chore: add the new row icon names to the test
  webui/react/src/components/kit/Icon.test.tsx
Owners: none

chore: attend to PR comments
  webui/react/src/components/kit/Icon.tsx
Owners: none

chore: attend to PR comments
  webui/react/src/components/kit/Icon.tsx
Owners: none

test: move some utility functions into utils modules
  e2e_tests/pytest.ini
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/cluster/managed_cluster.py
  e2e_tests/tests/cluster/managed_cluster_k8s.py
  e2e_tests/tests/cluster/test_agent_disable.py
  e2e_tests/tests/cluster/test_groups.py
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/cluster/test_oauth2_scim_client.py
  e2e_tests/tests/cluster/test_rbac.py
  e2e_tests/tests/cluster/test_users.py
  e2e_tests/tests/cluster/test_users_experiment_api.py
  e2e_tests/tests/cluster/test_workspace_org.py
  e2e_tests/tests/cluster/utils.py
  e2e_tests/tests/conftest.py
  e2e_tests/tests/deploy/test_local.py
  e2e_tests/tests/experiment/test_port_registry.py
  e2e_tests/tests/utils.py
Owners: none

undo a delete
  harness/determined/util.py
Owners: none

docs: Minor edits to master config reference (#7164)
  docs/reference/deploy/config/master-config-reference.rst
Owners: @determined-ai/docs

fix flashing no data on initial experiment selection
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Owners: none
