Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

Initial working prototype
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/TrialDetails/MultiTrialDetailsHyperparameters.settings.ts
  webui/react/src/pages/TrialDetails/MultiTrialDetailsHyperparameters.tsx
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.module.scss
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.tsx
Owners: none

Fix rebase
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
Owners: none

searcher class doc strings
  harness/determined/pytorch/dsat/_dsat_search_method.py
Owners: none

don't report ntsc launch in --detach mode
  harness/determined/cli/notebook.py
  harness/determined/cli/remote.py
  harness/determined/cli/shell.py
  harness/determined/cli/tensorboard.py
Owners: none

fix rollbacks redeclaration
  master/internal/db/postgres_trial.go
Owners: @determined-ai/backend

More search method doc strings for non-public classes
  harness/determined/pytorch/dsat/_dsat_search_method.py
Owners: none

remove searcher state tests
  harness/determined/pytorch/dsat/_dsat_search_method.py
Owners: none

fix: case-insensitive contains query within experiment (not metrics or hparams)
  master/internal/experiment_filter.go
Owners: @determined-ai/backend

remove many todos in _dsat_search_method.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
Owners: none

remove todos elsewhere
  harness/determined/pytorch/dsat/__main__.py
Owners: none

squashed
  docs/release-notes/partial-checkpoint-delete.rst
  e2e_tests/tests/cluster/test_checkpoints.py
  e2e_tests/tests/test_sdk.py
  examples/tutorials/mnist_pytorch/const.yaml
  harness/determined/cli/checkpoint.py
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/storage/__init__.py
  harness/determined/common/storage/azure.py
  harness/determined/common/storage/base.py
  harness/determined/common/storage/gcs.py
  harness/determined/common/storage/hdfs.py
  harness/determined/common/storage/s3.py
  harness/determined/common/storage/shared.py
  harness/determined/core/_checkpoint.py
  harness/determined/exec/gc_checkpoints.py
  harness/determined/exec/launch.py
  harness/tests/storage/test_shared_fs.py
  harness/tests/storage/util.py
  harness/tests/test_gc_harness.py
  master/internal/api_checkpoint.go
  master/internal/api_checkpoint_intg_test.go
  master/internal/api_experiment.go
  master/internal/checkpoint_gc.go
  master/internal/db/postgres_tasks_intg_test.go
  master/internal/experiment.go
  master/pkg/model/experiment.go
  master/pkg/tasks/task_gc.go
  master/static/migrations/20230512142734_add-checkpoint-partial-delete-state.tx.down.sql
  master/static/migrations/20230512142734_add-checkpoint-partial-delete-state.tx.up.sql
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/checkpoint.pb.go
  proto/pkg/checkpointv1/checkpoint.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/checkpoint.proto
  proto/src/determined/checkpoint/v1/checkpoint.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/docs, @determined-ai/backend

update intg tests
  master/internal/api_experiment_intg_test.go
Owners: @determined-ai/backend

chore: to do cleanup (#6895)
  harness/determined/pytorch/dsat/__init__.py
  harness/determined/pytorch/dsat/__main__.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_utils.py
Owners: none

Adress code comments
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpHeatMaps.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/TrialDetails/MultiTrialDetailsHyperparameters.tsx
Owners: none

upgrade to isort 5.11.5 and add pre-commit hook
  .pre-commit-config.yaml
  requirements.txt
Owners: none

resource pool, labels, and other experiment-level data also is ILIKE
  master/internal/api_experiment_intg_test.go
Owners: @determined-ai/backend

test: add concurrent trial metric updates (#6884)
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
Owners: @determined-ai/backend

fix: do not schedule the same trial twice
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

fmt
  .circleci/scripts/upload_test_results.py
  .isort.cfg
  .pre-commit-config.yaml
  bindings/generate_bindings_py.py
  bindings/generate_bindings_ts.py
  bindings/swagger_parser.py
  docs/conf.py
  docs/sphinx-wrapper.py
  helm/charts/determined/scripts/k8s-password-change.py
  master/static/srv/check_idle.py
  master/static/srv/check_ready_logs.py
  pre-commit/check.py
  webui/react/src/shared/bin/test.py
Owners: @determined-ai/docs, @determined-ai/backend

no need to exclude deepspeed
  .pre-commit-config.yaml
Owners: none

fix: do not schedule the same trial twice (#6896)
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

fix: feedback
  webui/react/src/components/FilterForm/TableFilter.tsx
  webui/react/src/components/FilterForm/components/FilterField.tsx
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
  webui/react/src/components/kit/InputNumber.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Owners: none

attempting to fix tests
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/searcher/_search_runner.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

lint
  e2e_tests/tests/command/test_tensorboard.py
Owners: none

stop relying on SERVICE_READY msg in tsb tests
  e2e_tests/tests/command/test_tensorboard.py
Owners: none

fix: case-insensitive contains query within experiment (not metrics or hparams) (#6858)
  master/internal/api_experiment_intg_test.go
  master/internal/experiment_filter.go
Owners: @determined-ai/backend

Move examples dir one level up and finish docs/Makefile changes
  docs/example-solutions/examples.rst
  e2e_tests/tests/config.py
  examples/Makefile
  examples/deepspeed_autotune/no_op_test/deepspeed.yaml
  examples/deepspeed_autotune/no_op_test/ds_config.json
  examples/deepspeed_autotune/no_op_test/script.py
  examples/deepspeed_autotune/torchvision/README.md
  examples/deepspeed_autotune/torchvision/core_api/deepspeed.yaml
  examples/deepspeed_autotune/torchvision/core_api/ds_config.json
  examples/deepspeed_autotune/torchvision/core_api/script.py
  examples/deepspeed_autotune/torchvision/deepspeed_trial/deepspeed.yaml
  examples/deepspeed_autotune/torchvision/deepspeed_trial/ds_config.json
  examples/deepspeed_autotune/torchvision/deepspeed_trial/model_def.py
Owners: @determined-ai/docs

fix: remove improper test_official.py tests
  examples/tests/test_official.py
Owners: none

cleanup
  examples/tutorials/mnist_pytorch/const.yaml
  harness/determined/core/_checkpoint.py
  harness/determined/exec/gc_checkpoints.py
  harness/determined/exec/launch.py
  harness/tests/storage/test_shared_fs.py
  harness/tests/storage/util.py
  master/internal/api_checkpoint.go
  master/internal/api_checkpoint_intg_test.go
  master/pkg/model/experiment.go
Owners: @determined-ai/backend

chore: enable exhaustiveness checks in switch statements
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/shared/configs/eslintrc.js
  webui/react/src/utils/loadable.ts
  webui/react/src/utils/wait.ts
Owners: none

attempting to fix tests (#6899)
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/searcher/_search_runner.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Owners: none

fix: move examples dir one level up and finish docs/Makefile changes (#6898)
  docs/example-solutions/examples.rst
  e2e_tests/tests/config.py
  examples/Makefile
  examples/deepspeed_autotune/no_op_test/deepspeed.yaml
  examples/deepspeed_autotune/no_op_test/ds_config.json
  examples/deepspeed_autotune/no_op_test/script.py
  examples/deepspeed_autotune/torchvision/README.md
  examples/deepspeed_autotune/torchvision/core_api/deepspeed.yaml
  examples/deepspeed_autotune/torchvision/core_api/ds_config.json
  examples/deepspeed_autotune/torchvision/core_api/script.py
  examples/deepspeed_autotune/torchvision/deepspeed_trial/deepspeed.yaml
  examples/deepspeed_autotune/torchvision/deepspeed_trial/ds_config.json
  examples/deepspeed_autotune/torchvision/deepspeed_trial/model_def.py
Owners: @determined-ai/docs

fix: remove improper test_official.py tests (#6900)
  examples/tests/test_official.py
Owners: none

improve waiting stopped msg
  harness/determined/cli/_util.py
  harness/determined/cli/render.py
Owners: none

fix docs formatting
  docs/example-solutions/examples.rst
Owners: @determined-ai/docs

start streaming logs after tsb and nb start
  harness/determined/cli/command.py
  harness/determined/cli/notebook.py
  harness/determined/cli/remote.py
  harness/determined/cli/tensorboard.py
Owners: none

Revert "no need to exclude deepspeed"
  .pre-commit-config.yaml
Owners: none

fix test
  master/internal/api_experiment_intg_test.go
Owners: @determined-ai/backend

add deepspeed autotune directory to example builds
  docs/example-solutions/examples.rst
  examples/Makefile
Owners: @determined-ai/docs

fix docs formatting (#6902)
  docs/example-solutions/examples.rst
  examples/Makefile
Owners: @determined-ai/docs
