Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

feat: add trial summary metrics for SDK and CLI
  harness/determined/cli/trial.py
  harness/determined/common/experimental/trial.py
  harness/tests/determined/common/experimental/test_trial.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/trial.json
Owners: none

move test
  harness/tests/determined/common/experimental/test_determined.py
  harness/tests/determined/common/experimental/test_trial.py
  harness/tests/fixtures/api_responses.py
Owners: none

naming
  harness/tests/determined/common/experimental/test_determined.py
Owners: none

docstring
  harness/determined/common/experimental/trial.py
Owners: none

change name
  harness/determined/common/experimental/trial.py
  harness/tests/determined/common/experimental/test_determined.py
Owners: none

set user in client instantiation
  harness/determined/cli/model.py
Owners: none

also checkpoint/trial
  harness/determined/cli/checkpoint.py
  harness/determined/cli/trial.py
Owners: none

wip, adding the ability to query by the trial source info and populate metrics
  harness/determined/common/api/bindings.py
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  master/internal/db/postgres_trial_metrics.go
  master/static/srv/get_trials_by_checkpoint.sql
  master/static/srv/insert_trial_source_info.sql
  proto/pkg/apiv1/trial.pb.go
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/api/v1/trial.proto
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

fix docstring
  harness/determined/common/experimental/trial.py
Owners: none

chore: ml-sys onboarding exercises
  onboarding/mlsys/2-autodiff.md
Owners: none

feat: List RPs Avaiable to Workspace [DET-9531]
  master/internal/api_workspace.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Owners: @determined-ai/backend

feat: List RPs Avaiable to Workspace [DET-9531]
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Owners: @determined-ai/backend

feat: List RPs Avaiable to Workspace [DET-9531]
  master/internal/api_workspace.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
  master/internal/mocks/workspace_authz_iface.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
Owners: @determined-ai/backend

feat: add summary metrics to SDK and CLI [MLG-648] (#7255)
  harness/determined/cli/trial.py
  harness/determined/common/experimental/trial.py
  harness/tests/determined/common/experimental/test_determined.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/trial.json
Owners: none

fix: set user in model CLI client [DET-9612] (#7220)
  harness/determined/cli/checkpoint.py
  harness/determined/cli/model.py
  harness/determined/cli/trial.py
Owners: none

add status property to Trial SDK
  harness/determined/common/experimental/trial.py
  harness/tests/determined/common/experimental/test_determined.py
Owners: none

use experimentstate
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/trial.py
Owners: none

parameterize test
  harness/tests/determined/common/experimental/test_determined.py
Owners: none

fix test
  harness/tests/determined/common/experimental/test_determined.py
Owners: none

chore: update pillow version for test requirements (#7291)
  examples/tests/requirements.txt
Owners: none

fix: Link omnibar shortcut to new Space convention [WEB-1418] (#7293)
  webui/react/src/pages/Settings/UserSettings.settings.ts
Owners: none

fix: set user in model CLI client [DET-9612] (#7220)
  harness/determined/cli/checkpoint.py
  harness/determined/cli/model.py
  harness/determined/cli/trial.py
Owners: none

test: pin pydantic in e2e_tests (#7302)
  e2e_tests/tests/requirements.txt
Owners: none

feat: list resource pool binding (#7286)
  webui/react/src/components/ResourcePoolCard.module.scss
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/hooks/useFeature.ts
Owners: none

docs: Rename image assets (#7283)
  docs/architecture/index.rst
  docs/architecture/system-architecture.rst
  docs/assets/images/_det-ai-sys-arch-01-dark.png
  docs/assets/images/_det-ai-sys-arch-01-light.png
  docs/assets/images/_det-ai-sys-arch-01-start-dark.png
  docs/assets/images/_det-ai-sys-arch-01-start-light.png
  docs/assets/images/_dtrain-loop-dark.png
  docs/assets/images/_dtrain-loop-light.png
  docs/assets/images/_rbac-example-setup-dark.png
  docs/assets/images/_rbac-example-setup-light.png
  docs/model-dev-guide/dtrain/dtrain-introduction.rst
  docs/setup-cluster/security/rbac.rst
Owners: @determined-ai/docs

docs: add release notes for 0.23.2 (#7285)
  docs/release-notes.rst
  docs/release-notes/gcp_cluster_management.rst
Owners: @determined-ai/docs

chore: bump version: 0.23.2-dev0 -> 0.23.3-dev0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Owners: @determined-ai/docs

chore: validate ROCM support
  agent/pkg/singularity/singularity.go
  master/static/srv/singularity-entrypoint-wrapper.sh
Owners: @determined-ai/backend

Organize environment setting code
  agent/pkg/singularity/singularity.go
Owners: @determined-ai/backend

Rename method; elaborate comments
  agent/pkg/singularity/singularity.go
Owners: @determined-ai/backend

fix: TypeError 'NoneType' object processing exp config
  harness/determined/cli/command.py
  harness/determined/cli/experiment.py
Owners: none

refactor: remove unused `Trial.JobID` property.
  master/internal/api_experiment.go
  master/internal/db/postgres_test_utils.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/populate_metrics.go
  master/internal/trial.go
  master/pkg/model/experiment.go
  master/test/integration/api/api_checkpoints_test.go
  master/test/integration/api/api_trials_test.go
Owners: @determined-ai/backend

chore: prepare for strict rbac jq control (#7305)
  docs/reference/deploy/config/master-config-reference.rst
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/cluster/test_rbac.py
  harness/determined/common/api/bindings.py
  master/internal/api_job.go
  master/internal/api_master.go
  master/internal/config/authz_config.go
  master/internal/job/authz_basic_impl.go
  master/internal/job/authz_iface.go
  proto/pkg/apiv1/master.pb.go
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/api/v1/master.proto
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/docs, @determined-ai/backend

feat: launch.deepspeed passes (almost) all envvars
  harness/determined/launch/deepspeed.py
  harness/tests/launch/test_deepspeed.py
Owners: none

feat: List RPs Avaiable to Workspace [DET-9531] (#7308)
  master/internal/api_workspace.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
  master/internal/mocks/workspace_authz_iface.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
Owners: @determined-ai/backend

chore: Remove SummarizeTrial, TimeSeries log scale
  harness/determined/common/api/bindings.py
  master/internal/api_trials.go
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/experiment.pb.go
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/api/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
Owners: @determined-ai/backend

update tests
  master/internal/api_trials_intg_test.go
Owners: @determined-ai/backend

server edits
  master/internal/api_trials.go
Owners: @determined-ai/backend

release note
  docs/release-notes/7278-remove-log-option
Owners: @determined-ai/docs

docs fmt
  docs/release-notes/7278-remove-log-option
  docs/release-notes/7278-remove-log-option.rst
Owners: @determined-ai/docs

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend
