Repository determined-ai/determined, changes with the owners that .github/CODEOWNERS names for each.
All owners: @determined-ai/infrastructure, @determined-ai/docs, @determined-ai/backend

.github/CODEOWNERS:

# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/.github  @determined-ai/infrastructure
/docs     @determined-ai/docs
/master   @determined-ai/backend
/agent    @determined-ai/backend
/proto    @determined-ai/backend

feat: add simple linear batch test searcher (#6482)
  harness/determined/pytorch/deepspeed/dsat/_defaults.py
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/pytorch/deepspeed/dsat/_run_dsat.py
  harness/determined/pytorch/deepspeed/dsat/autotune.py
Owners: none

docs: Edit Page Title (#6485)
  docs/index.rst
  docs/tutorials/index.rst
Owners: @determined-ai/docs

docs: release note edits.
  docs/release-notes/fix-default-pool-task-container-defaults.rst
  docs/release-notes/fix-zero-slot-limits.rst
Owners: @determined-ai/docs

docs: release note edits. (#6487)
  docs/release-notes/fix-default-pool-task-container-defaults.rst
  docs/release-notes/fix-zero-slot-limits.rst
Owners: @determined-ai/docs

feat: DeleteExperiments bulk request
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/experiment/bulk_action.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

launchtensorboard including filters option
  harness/determined/common/api/bindings.py
  master/internal/api_tensorboard.go
  master/internal/experiment/bulk_action.go
  proto/pkg/apiv1/tensorboard.pb.go
  proto/src/determined/api/v1/tensorboard.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

fmt
  master/internal/api_experiment.go
  master/internal/api_tensorboard.go
  master/internal/experiment/bulk_action.go
Owners: @determined-ai/backend

no-op deleteexperiments for now
  master/internal/api_experiment.go
Owners: @determined-ai/backend

refactor util names cancel -> kill
  e2e_tests/tests/cluster/test_agent_disable.py
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/experiment/test_noop.py
Owners: none

revert some tests back to cancel
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/experiment/test_noop.py
Owners: none

test: cleanup should kill hung experiments, not cancel
  e2e_tests/tests/experiment/experiment.py
Owners: none

feat: Bulk delete experiments, experiment filters in LaunchTensorboard [WEB-1127] (#6468)
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_tensorboard.go
  master/internal/experiment/bulk_action.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/experiment.pb.go
  proto/pkg/apiv1/tensorboard.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/api/v1/tensorboard.proto
  webui/react/src/services/api-ts-sdk/api.ts
Owners: @determined-ai/backend

fix: update settings observables to detect changes
  webui/react/src/hooks/useSettings.ts
Owners: none

wip
  e2e_tests/tests/cluster/test_proxy.py
Owners: none

fix: always wait for fluent container removal
  agent/internal/fluent/fluent.go
  agent/pkg/docker/docker.go
Owners: @determined-ai/backend

fix: add unique port for local agent tests
  e2e_tests/tests/deploy/etc/agent.yaml
Owners: none

wip
  .circleci/config.yml
  e2e_tests/pytest.ini
  e2e_tests/tests/cluster/test_proxy.py
  e2e_tests/tests/conftest.py
Owners: none

circleci 1
  .circleci/config.yml
Owners: none

ExperimentCreateModal fixes
  webui/react/src/components/ExperimentCreateModal.tsx
Owners: none

be normal
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/ExperimentCreateModal.test.tsx
  webui/react/src/components/ExperimentCreateModal.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
Owners: none

use constants for field names
  webui/react/src/components/ExperimentCreateModal.tsx
Owners: none

feat: support singularity on determined agents
  .gitignore
  agent/cmd/determined-agent/run.go
  agent/internal/agent.go
  agent/internal/container/container.go
  agent/internal/container/container_runtime.go
  agent/internal/containers/manager.go
  agent/internal/options/options.go
  agent/pkg/docker/docker.go
  agent/pkg/docker/docker_api_test.go
  agent/pkg/docker/events.go
  agent/pkg/singularity/singularity.go
  agent/pkg/singularity/singularity_api_test.go
  master/determined.code-workspace
  master/pkg/archive/archive.go
  master/pkg/etc/etc.go
  master/pkg/tasks/const.go
  master/pkg/tasks/task.go
  master/pkg/tasks/task_gc.go
  master/static/srv/singularity-entrypoint-wrapper.sh
  master/static/srv/sshd_config
  master/static/srv/task-logging-setup.sh
Owners: @determined-ai/backend

pass envs via envfile due to bug in singularity 3.8.7
  agent/pkg/singularity/singularity.go
Owners: @determined-ai/backend

ticket things, fix others
  agent/internal/container/container_runtime.go
  agent/pkg/docker/events.go
  agent/pkg/singularity/singularity.go
  agent/pkg/singularity/singularity_api_test.go
  master/pkg/archive/archive.go
  master/static/srv/enrich_task_logs.py
  master/static/srv/singularity-entrypoint-wrapper.sh
  master/static/srv/sshd_config
Owners: @determined-ai/backend

workarounds for env shortcomings, more debug support
  agent/pkg/singularity/singularity.go
  master/determined.code-workspace
  master/internal/rm/kubernetesrm/pod_test.go
  master/static/srv/singularity-entrypoint-wrapper.sh
  master/static/srv/task-logging-setup.sh
Owners: @determined-ai/backend

docs: modified docs for clarity and k8s pod security (#6471)
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/custom-pod-specs.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/overview.rst
Owners: @determined-ai/docs

test: cleanup should kill hung experiments, not cancel (#6484) [DET-9284]
  e2e_tests/tests/cluster/test_agent_disable.py
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/experiment/test_noop.py
Owners: none

feat: add Core API pytorch mnist tutorial update (#6243)
  examples/tutorials/core_api_pytorch_mnist/model_def_adaptive.py
  examples/tutorials/core_api_pytorch_mnist/model_def_checkpoints.py
  examples/tutorials/core_api_pytorch_mnist/model_def_distributed.py
  examples/tutorials/core_api_pytorch_mnist/model_def_metrics.py
Owners: none

wip
  examples/features/ports/startup-hook.sh
Owners: none

ci: more retries for `det deploy`
  .circleci/config.yml
Owners: none

wip 2
  examples/features/ports/startup-hook.sh
Owners: none

wip
  examples/features/ports/startup-hook.sh
Owners: none

docs: remove leftover K80 mentions.
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-aws/install-on-aws.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
Owners: @determined-ai/docs

test: fix ray tests [DET-9267] (#6480)
  e2e_tests/tests/cluster/test_proxy.py
  examples/features/ports/startup-hook.sh
Owners: none

ci: skip a test that's currently broken
  e2e_tests/tests/cluster/test_trial_collections.py
Owners: none

ci: skip a test that's currently broken (#6497)
  e2e_tests/tests/cluster/test_trial_collections.py
Owners: none

add newline
  e2e_tests/tests/deploy/etc/agent.yaml
Owners: none

fix: show reset button when search text is available
  webui/react/src/components/kit/LogViewer/LogViewerSelect.tsx
Owners: none

docs: remove leftover K80 mentions. (#6495)
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-aws/install-on-aws.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
Owners: @determined-ai/docs

ci: more retries for `det deploy` (#6494)
  .circleci/config.yml
Owners: none
