Repository determined-ai/determined, changes with the labels that .github/labeler.yml gives for each.
All labels: shared-web, documentation

feat: remove applicableRoutespace from settings that were not using routes in it
  webui/react/src/components/LogViewer/LogViewerFilters.settings.ts
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.tsx
  webui/react/src/hooks/useSettings.ts
  webui/react/src/pages/ModelDetails/ModelDetails.settings.ts
  webui/react/src/pages/Settings/UserManagement.settings.ts
  webui/react/src/pages/TaskList.settings.ts
  webui/react/src/pages/TrialDetails/Profiles/Charts/SystemMetricChart.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.settings.ts
  webui/react/src/pages/WebhookList.settings.ts
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.settings.ts
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.settings.ts
  webui/react/src/pages/WorkspaceList.settings.ts
Labels: none

docs: update python api to python sdk
  docs/index.rst
  docs/integrations/ecosystem/ecosystem-integration.rst
  docs/introduction.rst
  docs/reference/python-api.rst
  docs/release-notes.rst
  docs/training/apis-howto/api-estimator-ug.rst
  docs/training/apis-howto/api-keras-ug.rst
  docs/training/apis-howto/api-pytorch-ug.rst
  docs/training/model-management/checkpoints.rst
  docs/training/model-management/model-registry-org.rst
Labels: documentation

docs: update python api to python sdk
  model_hub/examples/mmdetection/hydra/README.md
Labels: none

feat: manipulation of key-value start using storagePath (#5683)
  webui/react/src/components/LogViewer/LogViewerFilters.settings.ts
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.tsx
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/hooks/useSettings.ts
  webui/react/src/hooks/useTheme.settings.ts
  webui/react/src/pages/Cluster/ClusterHistoricalUsage.settings.ts
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.settings.ts
  webui/react/src/pages/ExperimentList.settings.ts
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelDetails/ModelDetails.settings.ts
  webui/react/src/pages/Settings/UserManagement.settings.ts
  webui/react/src/pages/TaskList.settings.ts
  webui/react/src/pages/TrialDetails/Profiles/Charts/SystemMetricChart.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.settings.ts
  webui/react/src/pages/WebhookList.settings.ts
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.settings.ts
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.settings.ts
  webui/react/src/pages/WorkspaceList.settings.ts
Labels: none

update sidebar
  webui/react/src/components/NavigationSideBar.module.scss
  webui/react/src/components/NavigationSideBar.tsx
Labels: none

chore: add telemetry for instance provision requests on provisioner tick (#5656)
  master/go.mod
  master/internal/rm/agentrm/provisioner/aws.go
  master/internal/rm/agentrm/provisioner/aws_spot.go
  master/internal/rm/agentrm/provisioner/gcp.go
  master/internal/rm/agentrm/provisioner/instance.go
  master/internal/rm/agentrm/provisioner/provisioner.go
  master/internal/rm/agentrm/provisioner/provisioner_test.go
  master/internal/rm/agentrm/provisioner/scale_decider.go
  master/internal/rm/agentrm/provisioner/scale_decider_test.go
  master/internal/telemetry/reports.go
  master/pkg/model/model.go
Labels: none

update trials comparison page
  webui/react/src/pages/TrialsComparison/Collections/useTrialCollections.module.scss
Labels: none

update sso buttons
  webui/react/src/pages/SignIn.tsx
Labels: none

fix: use new storagePath rules to store experiment-level trial info
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.settings.ts
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
Labels: none

fix: use new storagePath rules to store experiment-level trial info (#5635)
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.settings.ts
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
Labels: none

feat: add workspace filtering to tensorboards cli
  harness/determined/cli/notebook.py
  harness/determined/cli/tensorboard.py
  harness/determined/cli/workspace.py
Labels: none

use tensorflow 2.8.4 in e2e tests and examples
  e2e_tests/tests/requirements.txt
  examples/tests/requirements.txt
Labels: none

upgrade black
  .pre-commit-config.yaml
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/util.py
  harness/tests/storage/util.py
  requirements.txt
Labels: none

setup actor messages
  master/internal/api_notebook.go
  master/internal/api_workspace.go
  master/internal/command/command.go
  master/internal/command/notebook_manager.go
  master/internal/command/ntsc.go
Labels: none

ui kit + linechart
  webui/react/src/components/LearningCurveChart.tsx
  webui/react/src/components/kit/LineChart.module.scss
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/pages/DesignKit.tsx
Labels: none

init
  webui/react/src/components/LearningCurveChart.tsx
Labels: none

pin black
  requirements.txt
Labels: none

roll back black to what it naturally was
  .pre-commit-config.yaml
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/util.py
  harness/tests/storage/util.py
Labels: none

really pin it to 21.7b0
  requirements.txt
Labels: none

type fixes for newer numpy
  CONTRIBUTING.md
  harness/determined/pytorch/_reducer.py
  harness/determined/util.py
  harness/tests/experiment/pytorch/test_metric_utils.py
Labels: none

suppress mypy error in model_hub
  model_hub/model_hub/utils.py
Labels: none

chore: use tf 2.8 in ci [MLG-11] (#5711)
  .circleci/config.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  e2e_tests/tests/requirements.txt
  examples/tests/requirements.txt
  harness/determined/pytorch/_reducer.py
  harness/determined/util.py
  harness/tests/experiment/fixtures/tf_keras_one_var_model.py
  harness/tests/experiment/pytorch/test_metric_utils.py
  model_hub/model_hub/utils.py
  requirements.txt
Labels: none

squash
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/App.tsx
  webui/react/src/components/Navigation.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.tsx
  webui/react/src/index.tsx
  webui/react/src/pages/Cluster/ClusterOverallBar.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.tsx
  webui/react/src/pages/Clusters.tsx
  webui/react/src/pages/Clusters/ClustersOverview.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/JobQueue/ManageJob.tsx
  webui/react/src/pages/ResourcepoolDetail.tsx
  webui/react/src/shared/components/Spinner/Spinner.tsx
  webui/react/src/shared/utils/error.ts
  webui/react/src/stores/README.md
  webui/react/src/stores/agents.tsx
  webui/react/src/stores/experiments.tsx
  webui/react/src/stores/index.tsx
  webui/react/src/stores/micro-observables.tsx
  webui/react/src/stores/mobx.tsx
  webui/react/src/stores/resourcePools.tsx
  webui/react/src/stores/users.tsx
Labels: shared-web

fmt
  webui/react/src/stores/README.md
Labels: none

fmt
  webui/react/src/stores/README.md
Labels: none

Update README.md
  webui/react/src/stores/README.md
Labels: none

Update README.md
  webui/react/src/stores/README.md
Labels: none

Update README.md
  webui/react/src/stores/README.md
Labels: none

Update README.md
  webui/react/src/stores/README.md
Labels: none

Update README.md
  webui/react/src/stores/README.md
Labels: none

Update README.md
  webui/react/src/stores/README.md
Labels: none

Update README.md
  webui/react/src/stores/README.md
Labels: none

updated all button usages
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/Link.tsx
  webui/react/src/components/Metadata/EditableRow.tsx
  webui/react/src/components/Table/Table.tsx
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/pages/ModelDetails/ModelVersionActionDropdown.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/pages/TrialsComparison/Actions/useTrialActions.tsx
  webui/react/src/pages/WebhookList.tsx
  webui/react/src/pages/WorkspaceDetails/ProjectActionDropdown.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceActionDropdown.tsx
  webui/react/src/shared/components/ActionDropdown/ActionDropdown.tsx
Labels: shared-web

formatting updated
  webui/react/src/components/Metadata/EditableRow.tsx
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/pages/ModelDetails/ModelVersionActionDropdown.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/pages/TrialsComparison/Actions/useTrialActions.tsx
  webui/react/src/pages/WebhookList.tsx
  webui/react/src/pages/WorkspaceDetails/ProjectActionDropdown.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceActionDropdown.tsx
  webui/react/src/shared/components/ActionDropdown/ActionDropdown.tsx
Labels: shared-web

ci: support intg tests with old db data
  master/internal/api_checkpoint_intg_test.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_project_intg_test.go
  master/internal/api_tasks_intg_test.go
  master/internal/api_trials_intg_test.go
  master/internal/api_user_intg_test.go
  master/internal/api_workspace_intg_test.go
  master/internal/core_checkpoint_intg_test.go
  master/internal/core_experiment_intg_test.go
  master/internal/core_trial_intg_test.go
  master/internal/db/postgres_test_utils.go
  master/test/olddata/pre_remove_steps.go
  master/test/olddata/pre_remove_steps.sql
  master/test/olddata/utils.go
Labels: none

docs: FOUNDENG-321 On aizn-admin with PodMan cancelling causes slurm & podman problems
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
Labels: documentation

Moved content from 'Slurm Requirements' to 'Slurm Known Issues'
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-known-issues.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
Labels: documentation

Corrected spelling of daemon
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-known-issues.rst
Labels: documentation

Fixed the formatting
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-known-issues.rst
Labels: documentation

Addressed Jerry's comment
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-known-issues.rst
Labels: documentation

.github/labeler.yml:

---
shared-web:
  - webui/react/src/shared/**
documentation:
  - docs/**
