Repository determined-ai/determined, pull requests merged in 2020-07, with the labels that each got.

#807 feat: support Pytorch multiple optimizers and LR schedulers
  common/determined_common/experimental/checkpoint/_torch.py
  harness/determined/_experiment_config.py
  harness/determined/pytorch/_callback.py
  harness/determined/pytorch/_lr_scheduler.py
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/tests/experiment/utils.py
Labels: cla-signed

#800 docs: update docs for Estimator callbacks [DET-3461]
  docs/reference/api/estimator.txt
Labels: cla-signed

#803 fix: don't set Segment key to quotes
  master/Makefile
Labels: cla-signed

#810 feat: support follow flag in trial logs
  master/internal/api_trials.go
  proto/src/determined/api/v1/trial.proto
Labels: cla-signed

#777 feat: add preview search to new API
  master/internal/api_experiment.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/experiment/v1/searcher.proto
Labels: cla-signed

#802 docs: update a misplaced comment reference
  proto/src/determined/api/v1/user.proto
Labels: cla-signed

#812 revert: "feat: add preview search to new API"
  master/internal/api_experiment.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/experiment/v1/searcher.proto
Labels: cla-signed

#795 feat: add experiments details page and endpoint [DET-3003]
  webui/react/src/ioTypes.ts
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/routes/index.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Labels: cla-signed

#793 style: update master logs [DET-3471]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/public/fonts/determined-ai.svg
  webui/react/public/fonts/determined-ai.ttf
  webui/react/public/fonts/determined-ai.woff
  webui/react/public/fonts/determined-ai.woff2
  webui/react/src/components/LogViewer.module.scss
  webui/react/src/components/LogViewer.tsx
  webui/react/src/styles/icons.scss
Labels: cla-signed

#813 feat: add preview search to new API
  master/internal/api_experiment.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/experiment/v1/searcher.proto
Labels: cla-signed

#814 docs: add warning for `max_slots` [DET-3145]
  docs/reference/experiment-config.txt
Labels: cla-signed

#804 fix: correct the active task counter on dashboard [DET-3510]
  webui/react/src/contexts/AppContexts.tsx
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/utils/types.ts
Labels: cla-signed

#809 docs: improve docs for graceful trial termination
  docs/reference/experiment-config.txt
  docs/release-notes.txt
  docs/topic-guides/hp-tuning-det/index.txt
  harness/determined/pytorch/_callback.py
Labels: cla-signed

#791 refactor: dissolve experiment table and task table
  webui/react/src/components/ExperimentTable.module.scss
  webui/react/src/components/ExperimentTable.stories.tsx
  webui/react/src/components/ExperimentTable.tsx
  webui/react/src/components/Table.module.scss
  webui/react/src/components/Table.stories.tsx
  webui/react/src/components/Table.tsx
  webui/react/src/components/TaskActionDropdown.module.scss
  webui/react/src/components/TaskTable.stories.tsx
  webui/react/src/components/TaskTable.tsx
  webui/react/src/pages/ExperimentList.module.scss
  webui/react/src/pages/ExperimentList.table.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/TaskList.table.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/types.ts
  webui/react/src/utils/data.ts
  webui/react/src/utils/task.ts
  webui/react/src/utils/time.ts
Labels: cla-signed

#788 feat: added cli logging to native [DET-3316]
  cli/determined_cli/agent.py
  cli/determined_cli/checkpoint.py
  cli/determined_cli/cli.py
  cli/determined_cli/experiment.py
  cli/determined_cli/master.py
  cli/determined_cli/notebook.py
  cli/determined_cli/remote.py
  cli/determined_cli/shell.py
  cli/determined_cli/template.py
  cli/determined_cli/tensorboard.py
  cli/determined_cli/trial.py
  cli/determined_cli/user.py
  common/determined_common/api/__init__.py
  common/determined_common/api/authentication.py
  common/determined_common/api/experiment.py
  harness/determined/experimental/_native.py
Labels: cla-signed

#778 docs: add example for Pytorch flexible primitives [DET-3202]
  examples/experimental/trial/flexible_primitives_mnist_pytorch/const.yaml
  examples/experimental/trial/flexible_primitives_mnist_pytorch/data.py
  examples/experimental/trial/flexible_primitives_mnist_pytorch/distributed.yaml
  examples/experimental/trial/flexible_primitives_mnist_pytorch/model_def.py
Labels: cla-signed

#821 revert: added cli logging to native.
  cli/determined_cli/agent.py
  cli/determined_cli/checkpoint.py
  cli/determined_cli/cli.py
  cli/determined_cli/experiment.py
  cli/determined_cli/master.py
  cli/determined_cli/notebook.py
  cli/determined_cli/remote.py
  cli/determined_cli/shell.py
  cli/determined_cli/template.py
  cli/determined_cli/tensorboard.py
  cli/determined_cli/trial.py
  cli/determined_cli/user.py
  common/determined_common/api/__init__.py
  common/determined_common/api/authentication.py
  common/determined_common/api/experiment.py
  harness/determined/experimental/_native.py
Labels: cla-signed

#823 feat: clean up swagger spec
  common/determined_common/experimental/model.py
  master/internal/api_model.go
  proto/Makefile
  proto/scripts/swagger.py
  proto/src/determined/api/v1/agent.proto
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/model.proto
  proto/src/determined/api/v1/trial.proto
  proto/src/determined/model/v1/model.proto
  webui/react/src/services/api.ts
Labels: cla-signed

#825 feat: add unets tf.keras example [DET-3397]
  examples/experimental/trial/unets_tf_keras/README.md
  examples/experimental/trial/unets_tf_keras/const.yaml
  examples/experimental/trial/unets_tf_keras/distributed.yaml
  examples/experimental/trial/unets_tf_keras/model_def.py
  examples/experimental/trial/unets_tf_keras/startup-hook.sh
Labels: cla-signed

#833 feat: added cli logging to native
  cli/determined_cli/agent.py
  cli/determined_cli/checkpoint.py
  cli/determined_cli/cli.py
  cli/determined_cli/experiment.py
  cli/determined_cli/master.py
  cli/determined_cli/notebook.py
  cli/determined_cli/remote.py
  cli/determined_cli/shell.py
  cli/determined_cli/template.py
  cli/determined_cli/tensorboard.py
  cli/determined_cli/trial.py
  cli/determined_cli/user.py
  common/determined_common/api/__init__.py
  common/determined_common/api/authentication.py
  common/determined_common/api/experiment.py
  common/setup.py
  harness/determined/experimental/_native.py
Labels: cla-signed

#832 fix: fix an issue with cluster resource computation [DET-3509]
  webui/elm/src/Main.elm
  webui/react/src/pages/Cluster.tsx
Labels: cla-signed

#827 test: add nightly test for pytorch flexible primitive example [DET-3534]
  e2e_tests/tests/nightly/test_capability.py
  examples/experimental/trial/flexible_primitives_mnist_pytorch/const.yaml
  examples/experimental/trial/flexible_primitives_mnist_pytorch/distributed.yaml
  examples/experimental/trial/flexible_primitives_mnist_pytorch/model_def.py
Labels: cla-signed

#826 feat: add allgather_metrics to EstimatorContext
  harness/determined/_trial_controller.py
  harness/determined/constants.py
  harness/determined/estimator/_estimator_context.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/ipc.py
  harness/determined/layers/_socket_manager.py
  harness/determined/pytorch/_pytorch_trial.py
Labels: User-facing API Change, cla-signed

#835 ci: update webui e2e tests to kill experiment instead of cancel [DET-3543]
  webui/tests/cypress/integration/01-setup.spec.ts
Labels: cla-signed

#830 feat: react trial logs [DET-3128]
  webui/react/src/components/LogViewer.module.scss
  webui/react/src/components/LogViewer.tsx
  webui/react/src/pages/TrialLogs.tsx
  webui/react/src/routes/index.ts
  webui/react/src/services/decoder.ts
Labels: cla-signed

#843 fix: metrics for unets tf_keras example [DET-3553]
  examples/experimental/trial/unets_tf_keras/const.yaml
  examples/experimental/trial/unets_tf_keras/distributed.yaml
Labels: cla-signed

#834 chore: link react trial logs for improved rendering performance [DET-3530]
  webui/elm/src/Page/TrialDetail.elm
  webui/react/public/fonts/determined-ai.svg
  webui/react/public/fonts/determined-ai.ttf
  webui/react/public/fonts/determined-ai.woff
  webui/react/public/fonts/determined-ai.woff2
  webui/react/src/components/Link.tsx
  webui/react/src/components/LogViewer.tsx
  webui/react/src/pages/TrialLogs.tsx
  webui/react/src/styles/icons.scss
  webui/react/src/utils/routes.ts
Labels: cla-signed

#819 feat: directly consume Swagger generated TS client [DET-3535 DET-3552]
  .circleci/config.yml
  webui/react/.eslintignore
  webui/react/.gitignore
  webui/react/Makefile
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/services/api.ts
Labels: cla-signed

#840 chore: don't silence api errors in dev
  webui/react/src/services/apiBuilder.ts
Labels: cla-signed

#831 feat: remove steps from pytorch callbacks [DET-3252]
  docs/reference/api/pytorch.txt
  harness/determined/pytorch/_callback.py
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/tests/experiment/fixtures/pytorch_xor_model.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Labels: User-facing API Change, cla-signed

#845 fix: update examples link
  docs/examples.txt
Labels: cla-signed

#847 chore: add response headers to bust cache for elm and react index.html [DET-3560]
  master/internal/core.go
Labels: cla-signed

#850 docs: release notes for 0.12.11
  docs/release-notes.txt
Labels: cla-signed

#829 test: update unit tests for Pytorch flexible primitives [DET-3200]
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/util.py
  harness/tests/experiment/fixtures/pytorch_xor_model.py
  harness/tests/experiment/keras/test_tf_keras_trial.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/tensorflow/test_estimator_trial.py
  harness/tests/experiment/utils.py
Labels: cla-signed

#815 chore: set up browser NDJSON stream consumption [DET-3451]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/services/api.ts
  webui/react/src/services/apiBuilder.ts
Labels: cla-signed

#853 chore: bump version: 0.12.11.dev0 -> 0.12.12.dev0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/determined_deploy/aws/templates/secure.yaml
  deploy/determined_deploy/aws/templates/simple.yaml
  deploy/determined_deploy/aws/templates/vpc.yaml
  deploy/setup.py
  harness/determined/__version__.py
  harness/setup.py
  helm/charts/determined/Chart.yaml
  webui/elm/public/index.html
  webui/react/config-overrides.js
Labels: cla-signed

#846 docs: fix getModels endpoint documentation
  proto/src/determined/api/v1/api.proto
Labels: cla-signed

#857 fix: use TF Tensorboard writer by default [DET-3353]
  harness/determined/estimator/_estimator_trial.py
  harness/determined/estimator/_util.py
  harness/determined/load/_load_trial_controller.py
Labels: cla-signed

#859 fix: don't accept string optimizers for multi-GPU tf keras [DET-3567]
  examples/official/native/native_fashion_mnist_tf_keras/model_def.py
  examples/official/trial/fashion_mnist_tf_keras/model_def.py
  harness/determined/keras/_tf_keras_multi_gpu.py
Labels: cla-signed

#849 ci: fix docs publish
  .circleci/config.yml
Labels: cla-signed

#861 feat: model versions sdk and CLI [DET-3477] [DET-3480]
  cli/determined_cli/model.py
  common/determined_common/experimental/__init__.py
  common/determined_common/experimental/checkpoint/__init__.py
  common/determined_common/experimental/checkpoint/_checkpoint.py
  common/determined_common/experimental/determined.py
  common/determined_common/experimental/experiment.py
  common/determined_common/experimental/model.py
  common/determined_common/experimental/trial.py
  e2e_tests/tests/test_system.py
  master/internal/api_model.go
  master/static/srv/get_model_versions.sql
  proto/src/determined/api/v1/model.proto
Labels: cla-signed

#851 chore: fix low severity vulnerability from Lodash
  webui/react/package-lock.json
Labels: cla-signed

#860 fix: minor spelling fix for a filename
  webui/react/src/components/Table.stories.tsx
  webui/react/src/components/TaskActionDropdown.stories.tsx
  webui/react/src/components/TaskCard.stories.tsx
  webui/react/src/storybook/ContextDecorators.ts
Labels: cla-signed

#836 feat: add simple Tensorboard launch action to UI [DET-3231]
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/utils/types.ts
Labels: cla-signed

#856 ci: move react api copy command over to build step from get-deps [DET-3565]
  webui/Makefile
Labels: cla-signed

#855 test: upload cloud watch CI logs to S3 [DET-3515]
  .circleci/config.yml
  .circleci/scripts/download_logs.py
  .circleci/scripts/upload_cloud_watch_to_s3.py
Labels: cla-signed

#798 feat: support addTask and startTask for k8 RP [DET-3416, DET-3419]
  agent/go.sum
  master/go.mod
  master/go.sum
  master/internal/core.go
  master/internal/kubernetes/pod.go
  master/internal/kubernetes/pods.go
  master/internal/kubernetes/volumes.go
  master/internal/scheduler/assignment.go
  master/internal/scheduler/config.go
  master/internal/scheduler/default_resource_provider.go
  master/internal/scheduler/kubernetes_resource_provider.go
  master/internal/scheduler/scheduler_test.go
  master/internal/sproto/kubernetes_resource_provider.go
  master/pkg/etc/etc.go
  master/pkg/tasks/mounts.go
  master/pkg/tasks/ports.go
  master/pkg/tasks/task.go
  master/static/srv/k8_init_container_entrypoint.sh
Labels: cla-signed

#870 chore: upgrade agent VM image to newer kernel version
  .circleci/config.yml
  deploy/determined_deploy/aws/templates/secure.yaml
  deploy/determined_deploy/aws/templates/simple.yaml
  deploy/determined_deploy/aws/templates/vpc.yaml
  deploy/determined_deploy/gcp/constants.py
  e2e_tests/tests/config.py
  master/pkg/model/defaults.go
Labels: cla-signed

#811 refactor: add get-or-else support
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/pages/SignIn.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/utils/data.test.ts
  webui/react/src/utils/data.ts
Labels: cla-signed

#874 chore: remove figure options from plotly [DET-3572]
  webui/react/src/components/ResourceChart.tsx
Labels: cla-signed

#875 feat: add `--head` option for printing trial logs [DET-3527]
  cli/determined_cli/trial.py
  common/determined_common/api/experiment.py
  e2e_tests/tests/test_system.py
Labels: cla-signed

#852 ci: enable multi-node testing [DET-3444]
  .circleci/config.yml
Labels: cla-signed

#881 feat: model registry register_version CLI command [DET-3481]
  cli/determined_cli/model.py
  common/determined_common/experimental/model.py
  e2e_tests/tests/test_system.py
Labels: cla-signed

#841 feat: add experiment info box [DET-3554 DET-3012]
  webui/react/src/ErrorHandler.ts
  webui/react/src/components/ExperimentInfoBox.module.scss
  webui/react/src/components/ExperimentInfoBox.stories.tsx
  webui/react/src/components/ExperimentInfoBox.tsx
  webui/react/src/components/Section.tsx
  webui/react/src/ioTypes.ts
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/services/apiBuilder.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
  webui/react/src/utils/string.ts
  webui/react/src/utils/task.ts
Labels: cla-signed

#883 fix: improve CLI's custom certificate handling [DET-3630]
  cli/determined_cli/cli.py
  cli/setup.py
Labels: cla-signed

#872 docs: add docs on data access for dtrain [DET-3506]
  docs/how-to/distributed-training.txt
  docs/tutorials/data-access.txt
  harness/determined/_train_context.py
Labels: cla-signed

#880 chore: validate segment key [DET-3505]
  webui/react/src/App.tsx
Labels: cla-signed

#893 fix: use local log line ids for trial logs
  master/internal/api_trials.go
  master/static/srv/stream_logs.sql
Labels: cla-signed

#888 ci: work around there existing no distributed tests
  e2e_tests/tests/nightly/test_distributed.py
Labels: cla-signed

#878 test: e2e nav test flake [DET-3579]
  webui/tests/cypress/integration/02-navigation.spec.ts
Labels: cla-signed

#842 feat: update Pytorch checkpoint exporting API [DET-3465]
  cli/determined_cli/experiment.py
  common/determined_common/api/__init__.py
  common/determined_common/api/experiment.py
  common/determined_common/experimental/checkpoint/_tf.py
  common/determined_common/experimental/checkpoint/_torch.py
  e2e_tests/tests/experiment/test_pytorch.py
  harness/determined/__init__.py
  harness/determined/_local_execution.py
  harness/determined/experimental/__init__.py
  harness/determined/experimental/_native.py
  harness/tests/experiment/test_local.py
Labels: User-facing API Change, cla-signed

#896 test: fix pytorch parallel test
  e2e_tests/tests/experiment/test_pytorch.py
Labels: cla-signed

#884 feat: add basic trial details endpoint consumption [DET-3640]
  webui/react/src/ioTypes.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Labels: cla-signed

#899 feat: switch to TF 1.15 and fix dtrain for TF2 eager execution [DET-3576, DET-3556]
  .circleci/config.yml
  deploy/determined_deploy/aws/templates/secure.yaml
  deploy/determined_deploy/aws/templates/simple.yaml
  deploy/determined_deploy/aws/templates/vpc.yaml
  deploy/determined_deploy/gcp/constants.py
  docs/how-to/custom-env.txt
  docs/reference/command-config.txt
  docs/reference/experiment-config.txt
  docs/tutorials/quick-start.txt
  e2e_tests/tests/config.py
  examples/experimental/trial/gbt_estimator/adaptive.yaml
  examples/experimental/trial/gbt_estimator/const.yaml
  examples/experimental/trial/unets_tf_keras/const.yaml
  examples/experimental/trial/unets_tf_keras/distributed.yaml
  harness/determined/estimator/_estimator_trial.py
  harness/determined/keras/_tf_keras_trial.py
  master/pkg/model/defaults.go
Labels: cla-signed

#858 feat: add experiment detail actions [DET-3083]
  webui/react/src/components/ExperimentActions.module.scss
  webui/react/src/components/ExperimentActions.tsx
  webui/react/src/components/ExperimentInfoBox.stories.tsx
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/hooks/useRestApi.ts
  webui/react/src/ioTypes.ts
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
  webui/react/src/utils/data.ts
  webui/react/src/utils/routes.ts
  webui/react/src/utils/task.ts
  webui/react/src/utils/types.ts
Labels: cla-signed

#894 chore: upgrade react dependencies set 1 [DET-3649]
  webui/react/.eslintrc.js
  webui/react/config-overrides.js
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/App.tsx
  webui/react/src/contexts/index.ts
  webui/react/src/ioTypes.ts
  webui/react/src/pages/ExperimentList.table.tsx
  webui/react/src/pages/TaskList.table.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#902 docs: fixes for examples, remove tf-cifar tutorial
  common/determined_common/experimental/trial.py
  docs/examples.txt
  docs/index.txt
  docs/reference/api/estimator.txt
  docs/reference/api/experimental.txt
  docs/reference/api/keras.txt
  docs/reference/api/pytorch.txt
  docs/reference/api/tensorpack.txt
  docs/topic-guides/model-definitions/trial-api.txt
  docs/tutorials/index.txt
  docs/tutorials/pytorch-mnist-tutorial.txt
  docs/tutorials/quick-start.txt
  docs/tutorials/tf-cifar-tutorial.txt
  docs/tutorials/tf-mnist-tutorial.txt
  examples/Makefile
  examples/official/native/native_mnist_pytorch/trial_impl.py
  harness/determined/experimental/_native.py
Labels: cla-signed

#866 feat: experiment list batch [DET-3001]
  webui/react/src/components/Avatar.tsx
  webui/react/src/components/Spinner.module.scss
  webui/react/src/components/TableBatch.module.scss
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/styles/antd.scss
  webui/react/src/utils/types.ts
Labels: cla-signed

#907 docs: reference documentation for the model registry
  common/determined_common/experimental/model.py
  docs/reference/api/experimental.txt
Labels: cla-signed, documentation

#905 docs: remove incorrect statement [DET-2768]
  docs/reference/experiment-config.txt
Labels: cla-signed

#911 fix: fix a react build problem
  webui/react/src/pages/ExperimentList.tsx
Labels: cla-signed

#909 docs: remove duplicate entry from API reference
  docs/reference/api/experimental.txt
Labels: cla-signed

#889 fix: fix log viewer timestamp copy paste [DET-3631, DET-3632, DET-3634, DET-3641]
  webui/react/public/fonts/determined-ai.svg
  webui/react/public/fonts/determined-ai.ttf
  webui/react/public/fonts/determined-ai.woff
  webui/react/public/fonts/determined-ai.woff2
  webui/react/src/components/LogViewer.module.scss
  webui/react/src/components/LogViewer.tsx
  webui/react/src/components/Page.module.scss
  webui/react/src/components/Page.tsx
  webui/react/src/pages/MasterLogs.tsx
  webui/react/src/pages/TrialLogs.tsx
  webui/react/src/styles/icons.scss
  webui/react/src/utils/date.ts
Labels: cla-signed

#890 fix: fix a parsing problem with tasks start time [DET-3657]
  webui/react/src/components/Table.tsx
  webui/react/src/pages/ExperimentList.table.tsx
  webui/react/src/pages/TaskList.table.tsx
Labels: cla-signed

#903 fix: upgrade lodash to fix vulnerability
  webui/elm/package-lock.json
  webui/elm/package.json
  webui/react/package-lock.json
  webui/tests/package-lock.json
  webui/tests/package.json
Labels: cla-signed

#882 feat: update helm chart for k8 RP [DET-3542]
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/templates/master-deployment.yaml
  helm/charts/determined/templates/master-permissions.yaml
  helm/charts/determined/values.yaml
Labels: cla-signed

#914 chore: revert "feat: add custom reducers to estimators [DET-3098]"
  docs/reference/api/estimator.txt
  e2e_tests/tests/experiment/test_tf_estimator.py
  e2e_tests/tests/fixtures/estimator_dataset/const.yaml
  e2e_tests/tests/fixtures/estimator_dataset/distributed.yaml
  e2e_tests/tests/fixtures/estimator_dataset/model.py
  harness/determined/estimator/__init__.py
  harness/determined/estimator/_estimator_context.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/estimator/_reducer.py
  harness/tests/experiment/fixtures/estimator_linear_model.py
  harness/tests/experiment/tensorflow/test_estimator_trial.py
Labels: cla-signed

#818 test: add additional tests for asynchronous adaptive
  master/pkg/searcher/adaptive_asha_test.go
  master/pkg/searcher/asha_test.go
Labels: cla-signed

#904 docs: Minor fixes for AWS topic guide.
  docs/topic-guides/aws.txt
Labels: cla-signed

#915 chore: bump CLI GitPython dependency from 2.1.11 to 3.1.3 [DET-3499]
  cli/setup.py
Labels: cla-signed

#917 chore: loosen pyzqm requirements
  harness/setup.py
Labels: cla-signed

#879 feat: update log viewer to load older logs when near the top [DET-3557]
  webui/react/src/components/LogViewer.tsx
Labels: cla-signed

#912 docs: minor fixes for adaptive HP topic guide
  docs/topic-guides/hp-tuning-det/hp-adaptive-advanced.txt
Labels: cla-signed

#871 fix: fix nonroot dtrain and nonroot shell [DET-3111]
  .circleci/config.yml
  cli/determined_cli/command.py
  cli/determined_cli/shell.py
  deploy/determined_deploy/aws/templates/secure.yaml
  deploy/determined_deploy/aws/templates/simple.yaml
  deploy/determined_deploy/aws/templates/vpc.yaml
  deploy/determined_deploy/gcp/constants.py
  e2e_tests/tests/config.py
  master/internal/command/summary.go
  master/pkg/model/defaults.go
  master/pkg/tasks/task.go
  master/static/srv/entrypoint.sh
  master/static/srv/sshd_config
Labels: cla-signed

#838 feat: automatically set container proxy env variables [DET-3414]
  agent/go.mod
  agent/go.sum
  agent/internal/agent.go
  agent/internal/agent_test.go
  agent/internal/options.go
  docs/how-to/custom-env.txt
  docs/reference/cluster-config.txt
Labels: cla-signed

#918 chore: suppress parent configs for eslint
  webui/react/.eslintrc.js
Labels: cla-signed

#922 feat: trial details page [DET-3011]
  webui/react/src/ErrorHandler.ts
  webui/react/src/ioTypes.ts
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/routes/index.ts
  webui/react/src/services/apiBuilder.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#910 test: add trial logs navigation test.
  webui/tests/cypress/integration/02-navigation.spec.ts
Labels: cla-signed

#930 fix: restore previous checkpoint export functionality
  common/determined_common/experimental/checkpoint/_checkpoint.py
  common/determined_common/experimental/checkpoint/_torch.py
  e2e_tests/tests/experiment/test_pytorch.py
Labels: cla-signed

#892 fix: check for sub analytics functions before making calls [DET-3636]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/Analytics.ts
  webui/react/src/App.tsx
  webui/react/src/ErrorHandler.ts
  webui/react/src/hooks/useRouteTracker.ts
Labels: cla-signed

#928 docs: remove string optimizers from examples
  docs/tutorials/tf-mnist-tutorial.txt
  examples/experimental/trial/unets_tf_keras/model_def.py
  examples/official/native/native_fashion_mnist_tf_keras/native_impl.py
  examples/tutorials/native-tf-keras/tf_keras_native.py
  examples/tutorials/native-tf-keras/tf_keras_native_dtrain.py
  examples/tutorials/native-tf-keras/tf_keras_native_hparam_search.py
  harness/tests/experiment/fixtures/tf_keras_runtime_error.py
Labels: cla-signed

#913 feat: add development mode to master and enable CORS in dev [DET-3638]
  master/internal/config.go
  master/internal/core.go
  master/internal/grpc/api.go
  tools/master.yaml
  webui/react/src/pages/TrialLogs.tsx
  webui/react/src/services/apiBuilder.ts
  webui/react/src/utils/routes.ts
Labels: cla-signed

#932 docs: release notes for 0.12.12
  docs/release-notes.txt
Labels: cla-signed

#925 feat: add support for kubernetes trial log entries
  webui/react/src/services/decoder.ts
Labels: cla-signed

#935 fix: clean up master/agent dependencies
  agent/.golangci.yml
  agent/go.mod
  agent/go.sum
  master/.golangci.yml
  master/go.mod
  master/go.sum
Labels: cla-signed

#865 feat: support terminating tasks in k8 RP [DET-3418]
  master/internal/agent/agent.go
  master/internal/core.go
  master/internal/kubernetes/informer.go
  master/internal/kubernetes/log.go
  master/internal/kubernetes/pod.go
  master/internal/kubernetes/pods.go
  master/internal/kubernetes/volumes.go
  master/internal/scheduler/agent.go
  master/internal/scheduler/config.go
  master/internal/scheduler/container.go
  master/internal/scheduler/default_resource_provider.go
  master/internal/scheduler/default_resource_provider_test.go
  master/internal/scheduler/kubernetes_resource_provider.go
  master/internal/scheduler/task.go
  master/internal/sproto/default_resource_provider.go
  master/internal/sproto/kubernetes_resource_provider.go
  master/internal/sproto/resource_providers.go
  master/internal/trial.go
  master/pkg/agent/exit.go
Labels: cla-signed

#921 chore: open command tasks in a new tab by default [DET-2623] [DET-3470]
  webui/react/src/components/TaskCard.tsx
Labels: cla-signed

#873 feat: clean up kubernetes resources on startup [DET-3421]
  master/internal/kubernetes/pod.go
  master/internal/kubernetes/pods.go
  master/internal/kubernetes/volumes.go
Labels: cla-signed

#943 fix: reorder react routes to match more specific routes first
  webui/react/src/pages/TrialLogs.tsx
  webui/react/src/routes/index.ts
Labels: cla-signed

#944 chore: downgrade warning to info and improve message
  agent/internal/docker.go
Labels: cla-signed

#924 docs: add discussion of AWS and GCP quotas.
  docs/how-to/installation/aws.txt
  docs/how-to/installation/gcp.txt
  docs/how-to/installation/requirements.txt
  docs/reference/cluster-config.txt
Labels: cla-signed

#867 feat: naive client-side trial logs download [DET-3521]
  master/internal/core_trial.go
  webui/react/src/components/LogViewer.stories.tsx
  webui/react/src/components/LogViewer.tsx
  webui/react/src/pages/TrialLogs.tsx
  webui/react/src/utils/browser.ts
Labels: cla-signed

#876 feat: streaming trial logs [DET-3536]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/LogViewer.module.scss
  webui/react/src/components/LogViewer.tsx
  webui/react/src/ioTypes.ts
  webui/react/src/pages/TrialLogs.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/decoder.ts
Labels: cla-signed

#947 docs: tweak dev prerequisites
  CONTRIBUTING.md
Labels: cla-signed

#951 docs: various fixes for model definition and API docs
  docs/reference/api/pytorch.txt
  docs/topic-guides/model-definitions/best-practices.txt
  docs/tutorials/pytorch-mnist-tutorial.txt
  docs/tutorials/tf-mnist-tutorial.txt
  examples/experimental/trial/flexible_primitives_mnist_pytorch/model_def.py
  harness/determined/_trial.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/_reducer.py
Labels: cla-signed

#900 feat: forward k8 events to task logs [DET-3549]
  master/internal/kubernetes/events.go
  master/internal/kubernetes/informer.go
  master/internal/kubernetes/pod.go
  master/internal/kubernetes/pods.go
Labels: cla-signed

#952 chore: only copy current harness version to trial [DET-3681]
  master/pkg/tasks/copy.go
Labels: cla-signed

#919 feat: show total resource count on cluster charts [DET-3558]
  webui/react/src/components/ResourceChart.tsx
Labels: cla-signed

#901 feat: add fork action and Monaco editor [DET-3568 DET-3127 DET-3660]
  webui/react/config-overrides.js
  webui/react/jest.config.js
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ExperimentActions.tsx
  webui/react/src/hooks/useRestApi.test.ts
  webui/react/src/hooks/useRestApi.ts
  webui/react/src/pages/ExperimentDetails.module.scss
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/react-app-env.d.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
  webui/react/src/utils/data.ts
  webui/react/src/utils/task.ts
Labels: cla-signed

#950 docs: minor tweaks for AWS installation docs
  docs/how-to/installation/aws.txt
  docs/reference/cluster-config.txt
Labels: cla-signed

#897 chore: migrate checkpoint modal [DET-3006]
  webui/react/package.json
  webui/react/src/components/CheckpointModal.module.scss
  webui/react/src/components/CheckpointModal.tsx
  webui/react/src/components/ExperimentInfoBox.stories.tsx
  webui/react/src/components/ExperimentInfoBox.tsx
  webui/react/src/ioTypes.ts
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
  webui/react/src/utils/date.ts
  webui/react/src/utils/string.ts
  webui/react/src/utils/task.ts
Labels: cla-signed

#955 fix: Update version of Sphinx theme dependency.
  docs/requirements.txt
Labels: cla-signed

#931 feat: add trial details actions logs and tensorboard
  webui/react/src/components/ExperimentActions.tsx
  webui/react/src/components/TrialActions.module.scss
  webui/react/src/components/TrialActions.tsx
  webui/react/src/components/types.ts
  webui/react/src/pages/TrialDetails.tsx
Labels: cla-signed

#957 feat: add pending state log viewer's download action [DET-3682]
  webui/react/src/components/LogViewer.tsx
Labels: cla-signed

#962 fix: correct io-ts types
  webui/react/src/ioTypes.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#958 chore: add function parameter linting rule
  webui/react/.eslintrc.js
  webui/react/src/components/CheckpointModal.tsx
  webui/react/src/components/ExperimentActions.tsx
  webui/react/src/components/Link.tsx
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/utils/task.ts
Labels: cla-signed

#920 feat: experiment trials table [DET-3007]
  webui/react/public/fonts/determined-ai.svg
  webui/react/public/fonts/determined-ai.ttf
  webui/react/public/fonts/determined-ai.woff
  webui/react/public/fonts/determined-ai.woff2
  webui/react/src/components/ExperimentInfoBox.stories.tsx
  webui/react/src/components/Table.tsx
  webui/react/src/ioTypes.ts
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentList.table.tsx
  webui/react/src/pages/TaskList.table.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/styles/icons.scss
  webui/react/src/types.ts
  webui/react/src/utils/data.ts
  webui/react/src/utils/time.ts
Labels: cla-signed

#936 fix: fix scroll to latest entry [DET-3673]
  webui/react/src/components/LogViewer.module.scss
  webui/react/src/components/LogViewer.tsx
Labels: cla-signed

#959 fix: when trials are killed, do not rollback steps [DET-3691]
  master/internal/trial.go
Labels: cla-signed

#963 fix: fix decoder for generic commands
  webui/react/src/ioTypes.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#953 feat: Add support for G4 instances on AWS [DET-1771]
  docs/how-to/installation/aws.txt
  docs/reference/cluster-config.txt
  docs/topic-guides/elastic-infra/dynamic-agents-aws.txt
  master/internal/provisioner/aws_config.go
Labels: cla-signed

#969 chore: install setuptools_scm before pytest [DET-3709]
  .circleci/config.yml
Labels: cla-signed

#965 feat: add config modal to experiment detail [DET-3005]
  webui/react/src/components/CheckpointModal.tsx
  webui/react/src/components/ExperimentInfoBox.tsx
  webui/react/src/pages/ExperimentDetails.tsx
Labels: cla-signed

#960 feat: add tag list component and add read/write for experiment labels [DET-3544]
  webui/react/.stylelintrc.js
  webui/react/src/components/Table.module.scss
  webui/react/src/components/TagList.module.scss
  webui/react/src/components/TagList.tsx
  webui/react/src/ioTypes.ts
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentList.module.scss
  webui/react/src/pages/ExperimentList.table.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/TaskList.table.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#956 chore: fetch upon task batch kill [DET-3665]
  webui/react/src/App.tsx
  webui/react/src/contexts/AppContexts.tsx
  webui/react/src/hooks/useRestApi.ts
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/MasterLogs.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/TrialLogs.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
Labels: cla-signed

#946 feat: handle missing PodFailed messages from k8
  master/go.mod
  master/internal/kubernetes/pod.go
Labels: cla-signed

#891 feat: support task and agent summaries for k8 RP [DET-3424, DET-3425]
  agent/internal/agent.go
  master/internal/agent/agent.go
  master/internal/agent/agents.go
  master/internal/agent/proto.go
  master/internal/agent/slot.go
  master/internal/agent/slots.go
  master/internal/api_agents.go
  master/internal/command/api.go
  master/internal/kubernetes/pod.go
  master/internal/kubernetes/pods.go
  master/internal/scheduler/default_resource_provider.go
  master/internal/scheduler/kubernetes_resource_provider.go
  master/internal/scheduler/resource_providers.go
  master/internal/sproto/resource_providers.go
  master/pkg/actor/api/api.go
Labels: cla-signed

#939 feat: remove steps from docs [DET-3626]
  docs/how-to/hyperparameter-tuning.txt
  docs/how-to/tensorboard.txt
  docs/reference/cluster-config.txt
  docs/reference/config-template.txt
  docs/reference/experiment-config.txt
  docs/topic-guides/checkpoints.txt
  docs/topic-guides/experiment-lifecycle.txt
  docs/topic-guides/hp-tuning-det/hp-adaptive-advanced.txt
  docs/topic-guides/hp-tuning-det/hp-adaptive-simple.txt
  docs/topic-guides/hp-tuning-det/hp-grid.txt
  docs/topic-guides/hp-tuning-det/hp-pbt.txt
  docs/topic-guides/hp-tuning-det/hp-random.txt
  docs/topic-guides/hp-tuning-det/hp-single.txt
  docs/topic-guides/hp-tuning-det/index.txt
  docs/topic-guides/optimizing-distributed-training.txt
  docs/topic-guides/system-architecture.txt
  docs/topic-guides/terminology-concepts.txt
  docs/topic-guides/yaml.txt
  docs/tutorials/pytorch-mnist-tutorial.txt
  docs/tutorials/quick-start.txt
  docs/tutorials/tf-mnist-tutorial.txt
Labels: User-facing API Change, cla-signed, documentation

#954 feat: experiment chart [DET-3004]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ExperimentChart.tsx
  webui/react/src/components/ExperimentInfoBox.stories.tsx
  webui/react/src/components/ResourceChart.tsx
  webui/react/src/ioTypes.ts
  webui/react/src/pages/ExperimentDetails.module.scss
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
  webui/react/src/utils/string.ts
Labels: cla-signed

#877 feat: support proxying for k8 [DET-3422]
  master/internal/kubernetes/pod.go
  master/internal/kubernetes/pods.go
  master/internal/scheduler/kubernetes_resource_provider.go
Labels: cla-signed

#977 fix: fix make check
  cli/tests/requirements.txt
  e2e_tests/tests/command/command.py
  e2e_tests/tests/conftest.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_native.py
  e2e_tests/tests/requirements.txt
  examples/tests/requirements.txt
  harness/determined/gpu.py
  harness/tests/conftest.py
  harness/tests/requirements.txt
  harness/tests/storage/test_s3.py
  harness/tests/storage/test_shared_fs.py
  harness/tests/test_gc_harness.py
  requirements.txt
Labels: cla-signed

#976 fix: update resource chart to use the correct library [DET-3721]
  webui/react/src/Plotly.tsx
  webui/react/src/components/ResourceChart.tsx
  webui/react/typings/plotly.d.ts
Labels: cla-signed

#940 chore: remove steps from the CLI [DET-3625]
  cli/determined_cli/checkpoint.py
  cli/determined_cli/experiment.py
  cli/determined_cli/trial.py
  e2e_tests/tests/experiment/experiment.py
  master/internal/db/postgres.go
  master/internal/experiment_utils.go
  master/pkg/model/experiment.go
  master/static/migrations/20200729211811_extend-steps-table.down.sql
  master/static/migrations/20200729211811_extend-steps-table.up.sql
  master/static/srv/get_trial.sql
  master/static/srv/get_trial_metrics.sql
Labels: cla-signed

#979 fix: undo a mistaken edit from 'fix make check'
  harness/determined/gpu.py
Labels: cla-signed

#980 fix: navbar cluster link
  webui/react/src/components/NavBar.tsx
Labels: cla-signed

#970 fix: support lists and dictionaries in make_metric [DET-3710]
  harness/determined/estimator/__init__.py
  harness/determined/estimator/_estimator_context.py
  harness/determined/estimator/_reducer.py
  harness/tests/experiment/fixtures/estimator_linear_model.py
  harness/tests/experiment/tensorflow/test_estimator_trial.py
Labels: cla-signed

#973 chore: update cloud AMIs.
  .circleci/config.yml
  deploy/determined_deploy/aws/templates/secure.yaml
  deploy/determined_deploy/aws/templates/simple.yaml
  deploy/determined_deploy/aws/templates/vpc.yaml
  deploy/determined_deploy/gcp/constants.py
  e2e_tests/tests/config.py
  master/pkg/model/defaults.go
Labels: cla-signed

#986 feat: add command infra endpoints
  master/internal/agent/proto.go
  master/internal/api_command.go
  master/internal/api_notebook.go
  master/internal/api_shell.go
  master/internal/api_tensorboard.go
  master/internal/command/command.go
  master/internal/command/command_manager.go
  master/internal/command/notebook_manager.go
  master/internal/command/shell_manager.go
  master/internal/command/tensorboard_manager.go
  master/pkg/container/container.go
  master/pkg/container/state.go
  master/pkg/device/device.go
  master/pkg/protoutils/struct.go
  master/pkg/protoutils/timestamp.go
  proto/src/determined/agent/v1/agent.proto
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/command.proto
  proto/src/determined/api/v1/notebook.proto
  proto/src/determined/api/v1/shell.proto
  proto/src/determined/api/v1/tensorboard.proto
  proto/src/determined/command/v1/command.proto
  proto/src/determined/container/v1/container.proto
  proto/src/determined/device/v1/device.proto
  proto/src/determined/notebook/v1/notebook.proto
  proto/src/determined/shell/v1/shell.proto
  proto/src/determined/tensorboard/v1/tensorboard.proto
Labels: cla-signed
