Repository determined-ai/determined, pull requests merged in 2020-06, with the labels that each got.

#607 chore: resolve new node security vulnerabilities
  webui/react/package-lock.json
  webui/react/package.json
Labels: cla-signed

#584 refactor: separate API configs
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/pages/Determined.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#609 refactor: remove additional determined routing [DET-3216]
  webui/react/src/App.tsx
  webui/react/src/components/NavMenu.stories.tsx
  webui/react/src/components/SideBar.tsx
  webui/react/src/contexts/AppContexts.tsx
  webui/react/src/routes/index.ts
Labels: cla-signed

#553 fix: simplify login and logout
  webui/react/package-lock.json
  webui/react/src/App.test.tsx
  webui/react/src/App.tsx
  webui/react/src/ErrorHandler.ts
  webui/react/src/assets/logo-on-dark-vertical.svg
  webui/react/src/assets/logo-on-light-vertical.svg
  webui/react/src/components/AuthToken.tsx
  webui/react/src/components/DeterminedAuth.module.scss
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/components/Link.module.scss
  webui/react/src/components/Logo.module.scss
  webui/react/src/components/Logo.stories.tsx
  webui/react/src/components/Logo.tsx
  webui/react/src/components/NavBar.tsx
  webui/react/src/components/Route.tsx
  webui/react/src/components/Spinner.module.scss
  webui/react/src/components/Spinner.tsx
  webui/react/src/components/TaskFilter.module.scss
  webui/react/src/components/TaskFilter.tsx
  webui/react/src/contexts/Auth.tsx
  webui/react/src/contexts/FullPageSpinner.tsx
  webui/react/src/hooks/useAuthCheck.ts
  webui/react/src/hooks/usePolling.ts
  webui/react/src/pages/Authentication.tsx
  webui/react/src/pages/SignIn.module.scss
  webui/react/src/pages/SignIn.tsx
  webui/react/src/pages/SignOut.tsx
  webui/react/src/routes/index.ts
  webui/react/src/styles/antd.scss
  webui/react/src/styles/variables.less
  webui/react/src/themes.ts
  webui/react/src/utils/browser.ts
  webui/react/src/utils/routes.ts
  webui/tests/cypress/integration/02-loginout.spec.ts
  webui/tests/cypress/integration/02-navigation.spec.ts
  webui/tests/cypress/support/commands.js
Labels: cla-signed

#575 test: remove WebUI e2e-tests dependency on det-deploy
  .circleci/config.yml
  webui/tests/Makefile
  webui/tests/README.md
  webui/tests/bin/createUserAndExperiments.py
  webui/tests/bin/e2e-tests.py
  webui/tests/cypress-ci.json
  webui/tests/cypress.json
  webui/tests/package.json
  webui/tests/test-cluster/.gitignore
  webui/tests/test-cluster/Makefile
  webui/tests/test-cluster/README.md
  webui/tests/test-cluster/agent.yaml
  webui/tests/test-cluster/docker-compose.yaml
  webui/tests/test-cluster/master.yaml
  webui/tests/test-cluster/run-server.py
Labels: cla-signed

#604 feat: decouple container logs from agents [DET-3175]
  master/internal/agent/agent.go
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/command/events.go
  master/internal/command/notebook_manager.go
  master/internal/command/tensorboard_manager.go
  master/internal/scheduler/resource_provider.go
  master/internal/trial.go
  master/pkg/agent/master_message.go
Labels: cla-signed

#606 fix: pass checkpoint gc metadata as a file
  e2e_tests/tests/test_system.py
  harness/determined/exec/gc_checkpoints.py
  master/pkg/tasks/task.go
Labels: cla-signed

#616 test: set seed for fashion mnist nightly convergence test [DET-3234]
  e2e_tests/tests/nightly/test_convergence.py
Labels: cla-signed

#613 feat: add agent endpoints for new api
  master/internal/agent/agent.go
  master/internal/agent/slot.go
  master/internal/agent/slots.go
  master/internal/api_agents.go
  master/proto/api/v1/agent.proto
  master/proto/api/v1/api.proto
Labels: cla-signed

#598 feat: make GCP operation tracker timeout configuration [DET-3182]
  deploy/determined_deploy/gcp/cli.py
  deploy/determined_deploy/gcp/constants.py
  deploy/determined_deploy/gcp/terraform/main.tf
  deploy/determined_deploy/gcp/terraform/modules/compute/main.tf
  deploy/determined_deploy/gcp/terraform/modules/compute/variables.tf
  deploy/determined_deploy/gcp/terraform/variables.tf
  docs/reference/cluster-config.txt
  docs/topic-guides/elastic-infra/dynamic-agents-gcp.txt
  master/internal/provisioner/gcp_config.go
  master/internal/provisioner/gcp_config_test.go
  master/internal/provisioner/gcp_operation_tracker.go
  master/packaging/master.yaml
Labels: User-facing API Change, cla-signed

#587 fix: read docker config file from HOME directory
  agent/internal/docker_credential_store.go
Labels: cla-signed

#610 feat: make agent starting period configurable [DET-3219]
  deploy/determined_deploy/aws/cli.py
  deploy/determined_deploy/aws/constants.py
  deploy/determined_deploy/aws/deployment_types/secure.py
  deploy/determined_deploy/aws/deployment_types/simple.py
  deploy/determined_deploy/aws/deployment_types/vpc.py
  deploy/determined_deploy/aws/templates/secure.yaml
  deploy/determined_deploy/aws/templates/simple.yaml
  deploy/determined_deploy/aws/templates/vpc.yaml
  deploy/determined_deploy/gcp/cli.py
  deploy/determined_deploy/gcp/constants.py
  deploy/determined_deploy/gcp/terraform/main.tf
  deploy/determined_deploy/gcp/terraform/modules/compute/main.tf
  deploy/determined_deploy/gcp/terraform/modules/compute/variables.tf
  deploy/determined_deploy/gcp/terraform/variables.tf
  docs/reference/cluster-config.txt
  docs/topic-guides/elastic-infra/dynamic-agents-aws.txt
  docs/topic-guides/elastic-infra/dynamic-agents-gcp.txt
  master/internal/config_test.go
  master/internal/provisioner/config.go
  master/internal/provisioner/config_test.go
  master/internal/provisioner/provisioner.go
  master/internal/provisioner/provisioner_test.go
  master/internal/provisioner/scale_decider.go
  master/internal/provisioner/scale_decider_test.go
  master/packaging/master.yaml
Labels: User-facing API Change, cla-signed

#620 chore: move proto to separate top level package
  .circleci/config.yml
  Makefile
  agent/go.mod
  agent/go.sum
  master/.gitignore
  master/.goreleaser.yml
  master/Makefile
  master/go.mod
  master/go.sum
  master/internal/agent/agent.go
  master/internal/agent/agents.go
  master/internal/agent/proto.go
  master/internal/agent/slot.go
  master/internal/api_agents.go
  master/internal/core.go
  master/internal/grpc/api.go
  proto/.gitignore
  proto/Makefile
  proto/buf.yaml
  proto/go.mod
  proto/go.sum
  proto/src/agent/v1/agent.proto
  proto/src/api/v1/agent.proto
  proto/src/api/v1/api.proto
  proto/src/google/api/annotations.proto
  proto/src/google/api/http.proto
  proto/src/google/protobuf/timestamp.proto
  proto/src/protoc-gen-swagger/options/annotations.proto
  proto/src/protoc-gen-swagger/options/openapiv2.proto
  proto/tools.go
  tools/Makefile
  webui/tests/test-cluster/Makefile
Labels: cla-signed

#625 chore: bump version: 0.12.5.dev0 -> 0.12.6.dev0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/determined_deploy/aws/templates/secure.yaml
  deploy/determined_deploy/aws/templates/simple.yaml
  deploy/determined_deploy/aws/templates/vpc.yaml
  deploy/setup.py
  harness/determined/__version__.py
  harness/setup.py
  webui/elm/public/index.html
  webui/react/config-overrides.js
Labels: cla-signed

#628 chore: ignore pkg dir in proto sub project
  proto/.gitignore
Labels: cla-signed

#627 feat: add master endpoint to new api
  master/go.mod
  master/go.sum
  master/internal/api_master.go
  proto/src/api/v1/api.proto
  proto/src/api/v1/master.proto
  proto/src/google/protobuf/struct.proto
Labels: cla-signed

#629 chore: remove container recovery
  agent/internal/agent.go
  agent/internal/container.go
  agent/internal/containers.go
  agent/internal/docker.go
  master/internal/agent/agent.go
  master/internal/agent/proto.go
  master/internal/agent/slots.go
  master/internal/command/command.go
  master/internal/scheduler/assignment.go
  master/pkg/agent/master_message.go
  master/pkg/container/container.go
  master/pkg/tasks/task_spec.go
  proto/src/agent/v1/agent.proto
Labels: cla-signed

#601 fix: correct logic for checking if a validation is the best one seen
  master/internal/experiment.go
  master/internal/experiment_test.go
Labels: cla-signed

#630 chore: upgrade proto libraries
  .circleci/config.yml
  master/go.mod
  master/go.sum
  proto/go.mod
  proto/go.sum
  proto/tools.go
Labels: cla-signed

#624 feat: make agent starting period configurable [DET-3219]
  deploy/determined_deploy/aws/cli.py
  deploy/determined_deploy/aws/constants.py
  deploy/determined_deploy/aws/deployment_types/secure.py
  deploy/determined_deploy/aws/deployment_types/simple.py
  deploy/determined_deploy/aws/deployment_types/vpc.py
  deploy/determined_deploy/aws/templates/secure.yaml
  deploy/determined_deploy/aws/templates/simple.yaml
  deploy/determined_deploy/aws/templates/vpc.yaml
  deploy/determined_deploy/gcp/cli.py
  deploy/determined_deploy/gcp/constants.py
  deploy/determined_deploy/gcp/terraform/main.tf
  deploy/determined_deploy/gcp/terraform/modules/compute/main.tf
  deploy/determined_deploy/gcp/terraform/modules/compute/variables.tf
  deploy/determined_deploy/gcp/terraform/variables.tf
  docs/reference/cluster-config.txt
  docs/topic-guides/elastic-infra/dynamic-agents-aws.txt
  docs/topic-guides/elastic-infra/dynamic-agents-gcp.txt
  master/internal/config_test.go
  master/internal/provisioner/config.go
  master/internal/provisioner/config_test.go
  master/internal/provisioner/provisioner.go
  master/internal/provisioner/provisioner_test.go
  master/internal/provisioner/scale_decider.go
  master/internal/provisioner/scale_decider_test.go
  master/packaging/master.yaml
Labels: cla-signed

#621 feat: add end of training callback to EstimatorTrial [DET-3245]
  harness/determined/estimator/_callback.py
  harness/determined/estimator/_estimator_trial.py
  harness/tests/experiment/fixtures/estimator_xor_model.py
  harness/tests/experiment/tensorflow/test_estimator_trial.py
Labels: cla-signed

#585 feat: add pause/activate and cancel actions to task cards
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
  webui/react/src/utils/types.ts
Labels: cla-signed

#582 feat: breadcrumb component
  webui/react/src/components/Breadcrumb.stories.tsx
  webui/react/src/styles/antd.scss
Labels: cla-signed

#615 feat: support gradient clipping in PyTorchTrial via callbacks [DET-3233]
  docs/reference/api/pytorch.txt
  harness/determined/pytorch/__init__.py
  harness/determined/pytorch/_callback.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/tests/experiment/fixtures/pytorch_xor_model.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Labels: User-facing API Change, cla-signed

#614 feat: add page component [DET-3232]
  webui/react/src/components/Page.module.scss
  webui/react/src/components/Page.tsx
  webui/react/src/pages/Dashboard.module.scss
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/types.ts
Labels: cla-signed

#612 refactor: update link component to prevent unsafe cross-origin links
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/components/Link.module.scss
  webui/react/src/components/Link.tsx
  webui/react/src/components/NavItem.tsx
  webui/react/src/components/TaskCard.tsx
Labels: cla-signed

#637 feat: support USER_CANCELLED exited reason
  master/internal/trial.go
  master/internal/trial_workload_sequencer.go
  master/pkg/searcher/message.go
Labels: cla-signed

#638 feat: add template endpoints to new api
  master/internal/api_templates.go
  master/internal/db/postgres.go
  master/internal/db/postgres_templates.go
  proto/src/api/v1/api.proto
  proto/src/api/v1/template.proto
  proto/src/template/v1/template.proto
Labels: cla-signed

#639 chore: move proto files to determined namespace
  proto/Makefile
  proto/src/determined/agent/v1/agent.proto
  proto/src/determined/api/v1/agent.proto
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/master.proto
  proto/src/determined/api/v1/template.proto
  proto/src/determined/template/v1/template.proto
Labels: cla-signed

#644 test: fix nightly nas and iris tf keras tests [DET-3264]
  e2e_tests/tests/nightly/test_convergence.py
  examples/experimental/nas_search/arch_search.yaml
  examples/experimental/nas_search/model_def.py
  examples/experimental/nas_search/train_one_arch.yaml
Labels: cla-signed

#647 fix: correct filename in Elm Makefile
  webui/elm/Makefile
Labels: cla-signed

#635 chore: remove yarn mentions from tests
  webui/tests/Makefile
Labels: cla-signed

#651 docs: release notes for 0.12.5 (#595)
  docs/release-notes.txt
Labels: cla-signed

#653 ci: download protoc install to /tmp
  .circleci/config.yml
Labels: cla-signed

#648 feat: support stopping training in trial code [DET-3238]
  e2e_tests/tests/fixtures/metric_maker/metric_maker.py
  e2e_tests/tests/fixtures/no_op/grid-graceful-trial-termination.yaml
  e2e_tests/tests/fixtures/no_op/model_def.py
  e2e_tests/tests/test_system.py
  harness/determined/_train_context.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/experimental/_native.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/layers/_workload_manager.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/tensorpack/_tensorpack_trial.py
  harness/tests/experiment/keras/test_tf_keras_trial.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/tensorflow/test_estimator_trial.py
  harness/tests/experiment/utils.py
Labels: cla-signed

#654 revert: "feat: support stopping training in trial code [DET-3238]"
  e2e_tests/tests/fixtures/metric_maker/metric_maker.py
  e2e_tests/tests/fixtures/no_op/grid-graceful-trial-termination.yaml
  e2e_tests/tests/fixtures/no_op/model_def.py
  e2e_tests/tests/test_system.py
  harness/determined/_train_context.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/experimental/_native.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/layers/_workload_manager.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/tensorpack/_tensorpack_trial.py
  harness/tests/experiment/keras/test_tf_keras_trial.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/tensorflow/test_estimator_trial.py
  harness/tests/experiment/utils.py
Labels: cla-signed

#632 feat: ensure WebUI version is up to date with platform version
  webui/react/src/App.tsx
  webui/react/src/components/Link.tsx
  webui/react/src/contexts/AppContexts.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
Labels: cla-signed

#656 revert: "revert: "feat: support stopping training in trial code [DET-3238] (#648)" (#654)"
  e2e_tests/tests/fixtures/metric_maker/metric_maker.py
  e2e_tests/tests/fixtures/no_op/grid-graceful-trial-termination.yaml
  e2e_tests/tests/fixtures/no_op/model_def.py
  e2e_tests/tests/test_system.py
  harness/determined/_train_context.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/experimental/_native.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/layers/_workload_manager.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/tensorpack/_tensorpack_trial.py
  harness/determined/util.py
  harness/tests/experiment/keras/test_tf_keras_trial.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/tensorflow/test_estimator_trial.py
  harness/tests/experiment/utils.py
Labels: cla-signed

#611 fix: address minor login issues
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/App.tsx
  webui/react/src/components/NavMenu.tsx
  webui/react/src/components/Route.tsx
  webui/react/src/components/Router.tsx
  webui/react/src/contexts/Auth.tsx
  webui/react/src/hooks/useAuthCheck.ts
  webui/react/src/pages/SignIn.tsx
  webui/react/src/routes/index.ts
Labels: cla-signed

#646 feat: decouple agents from transmitting container status changes [DET-3174]
  master/internal/agent/agent.go
  master/internal/agent/slot.go
  master/internal/agent/slots.go
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/scheduler/cluster.go
  master/internal/scheduler/cluster_test.go
  master/internal/scheduler/resource_provider.go
  master/internal/trial.go
Labels: cla-signed

#659 fix: set authentication failure reason synchronously.
  webui/react/src/components/DeterminedAuth.tsx
Labels: cla-signed

#649 feat: add user auth to new api
  master/internal/api_auth.go
  master/internal/core.go
  master/internal/db/database.go
  master/internal/db/postgres.go
  master/internal/db/postgres_users.go
  master/internal/db/setup.go
  master/internal/grpc/api.go
  master/internal/grpc/auth.go
  master/internal/user/keys.go
  master/internal/user/service.go
  master/pkg/model/user.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/auth.proto
Labels: cla-signed

#662 feat: support early stopping callbacks on a validation step
  master/internal/trial_workload_sequencer.go
Labels: cla-signed

#658 fix: space out WebUI plot x-axis ticks a bit more
  webui/elm/src/Plot.elm
Labels: cla-signed

#665 feat: read cookies in the new API auth module
  master/internal/grpc/api.go
  master/internal/grpc/auth.go
Labels: cla-signed

#631 feat: decouple agent information from workloads starting tasks [DET-3178]
  master/internal/agent/agent.go
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/command/events.go
  master/internal/scheduler/agent.go
  master/internal/scheduler/assignment.go
  master/internal/scheduler/cluster.go
  master/internal/scheduler/cluster_test.go
  master/internal/scheduler/resource_provider.go
  master/internal/scheduler/scheduler_test.go
  master/internal/scheduler/task.go
  master/internal/trial.go
Labels: cla-signed

#668 fix: set auth cookie path to apply site wide
  master/internal/grpc/auth.go
Labels: cla-signed

#667 feat: treat NaN metrics as an error [DET-3237]
  harness/determined/layers/_workload_manager.py
Labels: cla-signed

#670 test: temporarily disable AMP since it causes NaNs
  e2e_tests/tests/experiment/test_pytorch.py
Labels: cla-signed

#661 feat: support Estimator early stopping hooks [DET-3239]
  harness/determined/estimator/_estimator_trial.py
  harness/tests/experiment/fixtures/estimator_xor_model.py
  harness/tests/experiment/tensorflow/test_estimator_trial.py
  harness/tests/experiment/utils.py
Labels: cla-signed

#650 docs: add to faq how to port a TF core model
  docs/faq.txt
Labels: cla-signed

#666 feat: support TF Keras EarlyStopping callbacks [DET-3240]
  harness/determined/keras/_tf_keras_trial.py
  harness/tests/experiment/fixtures/tf_keras_xor_model.py
  harness/tests/experiment/keras/test_tf_keras_trial.py
  harness/tests/experiment/utils.py
Labels: cla-signed

#669 chore: add license to pip metadata
  cli/setup.py
  common/setup.py
  deploy/setup.py
  harness/setup.py
Labels: cla-signed

#660 feat: remember last logged in username [DET-3274]
  webui/react/src/components/DeterminedAuth.tsx
Labels: cla-signed

#636 feat: add task list page route and placeholder [DET-3220]
  webui/react/src/pages/TaskList.tsx
  webui/react/src/routes/index.ts
Labels: cla-signed

#642 fix: eagerly update experiments on successful write actions [DET-3263]
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/contexts/Experiments.tsx
  webui/react/src/hooks/useRestApi.ts
Labels: cla-signed

#672 fix: update state labels to be more user-friendly
  webui/react/src/utils/types.ts
Labels: cla-signed

#675 chore: remove unused variables
  webui/react/package-lock.json
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/contexts/Experiments.tsx
Labels: cla-signed

#664 feat: checkpoint export from database fields
  common/determined_common/experimental/checkpoint/_checkpoint.py
  common/determined_common/experimental/experiment.py
  common/determined_common/experimental/trial.py
  common/determined_common/storage/base.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/layers/_workload_manager.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/util.py
  master/internal/core_checkpoints.go
  master/internal/db/postgres.go
  master/internal/experiment_utils.go
  master/pkg/model/experiment.go
  master/pkg/searcher/message.go
  master/static/migrations/20200605133712_add-checkpoint-format-fields.down.sql
  master/static/migrations/20200605133712_add-checkpoint-format-fields.up.sql
  master/static/srv/get_checkpoint.sql
  master/static/srv/get_checkpoints_for_experiment.sql
  master/static/srv/get_checkpoints_for_trial.sql
Labels: cla-signed

#679 feat: enable sign in button when last username is recalled
  webui/react/src/components/DeterminedAuth.tsx
Labels: cla-signed

#622 build: build storybooks as part of CI [DET-3248]
  .circleci/config.yml
  webui/Makefile
  webui/react/.gitignore
  webui/react/Makefile
  webui/react/package.json
Labels: cla-signed

#688 fix: fix broken examples tests [DET-3321]
  e2e_tests/tests/experiment/test_tensorpack.py
  e2e_tests/tests/experiment/test_tf_estimator.py
Labels: cla-signed

#695 chore: bump task environments version
  .circleci/config.yml
  deploy/determined_deploy/aws/templates/secure.yaml
  deploy/determined_deploy/aws/templates/simple.yaml
  deploy/determined_deploy/aws/templates/vpc.yaml
  deploy/determined_deploy/gcp/constants.py
  docs/tutorials/quick-start.txt
  e2e_tests/tests/config.py
  harness/determined/keras/_tf_keras_trial.py
  master/pkg/model/defaults.go
Labels: cla-signed

#693 fix: data caching by rank for distributed setting [DET-2897]
  examples/experimental/trial/bert_squad_pytorch/const.yaml
  examples/experimental/trial/bert_squad_pytorch/data.py
  examples/experimental/trial/bert_squad_pytorch/distributed.yaml
  examples/experimental/trial/bert_squad_pytorch/model_def.py
Labels: cla-signed

#692 feat: add `det user change-username` to CLI [DET-3322]
  cli/determined_cli/user.py
  master/internal/db/postgres_users.go
  master/internal/user/api.go
  master/internal/user/service.go
Labels: cla-signed

#671 docs: checkpoint metadata [DET-3211]
  common/determined_common/experimental/checkpoint/_checkpoint.py
  docs/how-to/use-trained-models.txt
Labels: cla-signed, documentation

#698 fix: fix nightly tests file locations
  e2e_tests/tests/nightly/test_capability.py
  e2e_tests/tests/nightly/test_convergence.py
Labels: cla-signed

#701 docs: release notes for 0.12.7
  docs/release-notes.txt
Labels: cla-signed

#657 feat: store test cluster logs and improve test readme [DET-3269]
  webui/tests/.gitignore
  webui/tests/README.md
  webui/tests/bin/e2e-tests.py
  webui/tests/bin/try-for-flake.sh
Labels: cla-signed

#618 feat: add cluster page with donut charts [DET-2985]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/Message.module.scss
  webui/react/src/components/Message.tsx
  webui/react/src/components/ResourceChart.stories.tsx
  webui/react/src/components/ResourceChart.tsx
  webui/react/src/pages/Cluster.tsx
  webui/react/src/pages/Dashboard.module.scss
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/routes/index.ts
  webui/react/src/themes.ts
  webui/react/src/types.ts
  webui/react/src/utils/data.ts
  webui/react/tsconfig.json
  webui/react/typings/plotly.d.ts
  webui/tests/cypress/integration/02-navigation.spec.ts
Labels: cla-signed

#700 docs: minor fixes for TensorBoard docs
  docs/faq.txt
  docs/how-to/tensorboard.txt
  docs/reference/api/keras.txt
  docs/topic-guides/experiment-lifecycle.txt
  harness/determined/keras/_tensorboard_callback.py
  harness/determined/keras/_tf_keras_trial.py
Labels: cla-signed

#694 ci: ensure npm ci does not dirty package-lock via npm-force-resolutions
  webui/elm/package.json
  webui/react/package.json
Labels: cla-signed

#699 fix: correctly use mixed precision with multi-GPU in PyTorchTrial [DET-3285]
  e2e_tests/tests/experiment/test_pytorch.py
  harness/determined/pytorch/_pytorch_trial.py
Labels: cla-signed

#680 fix: add missing directory in Swagger config path [DET-3312]
  master/internal/core.go
Labels: cla-signed

#708 fix: upgrade scheme when using websockets [DET-3230]
  common/determined_common/api/request.py
Labels: cla-signed

#709 chore: better logging for websocket failures [DET-3230]
  common/determined_common/api/request.py
Labels: cla-signed

#682 feat: add context decorators and fix task cards story [DET-2982]
  webui/react/src/components/TaskCard.stories.tsx
  webui/react/src/storybook/ConetextDecorators.ts
Labels: cla-signed

#710 fix: handle auth check cancelation
  webui/react/src/hooks/useAuthCheck.ts
Labels: cla-signed

#706 chore: update webui test dependencies
  .circleci/config.yml
  webui/tests/package-lock.json
  webui/tests/package.json
Labels: cla-signed

#690 feat: add a timeout to trial termination [DET-3246]
  master/internal/trial.go
Labels: cla-signed

#711 fix: learning rate scheduler fix for bert squad example [DET-2897]
  examples/experimental/trial/bert_squad_pytorch/const.yaml
  examples/experimental/trial/bert_squad_pytorch/distributed.yaml
  examples/experimental/trial/bert_squad_pytorch/model_def.py
Labels: cla-signed

#689 feat: add user endpoints to new api
  master/internal/api_auth.go
  master/internal/api_user.go
  master/internal/db/database.go
  master/internal/db/postgres_users.go
  master/internal/grpc/api.go
  master/internal/grpc/validate.go
  master/internal/user/service.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/auth.proto
  proto/src/determined/api/v1/user.proto
  proto/src/determined/user/v1/user.proto
  proto/src/google/protobuf/field_mask.proto
Labels: cla-signed

#713 docs: add info to topic guide for graceful trial termination [DET-3361]
  docs/topic-guides/hp-tuning-det/index.txt
Labels: cla-signed

#714 docs: add support for model.stop_training to Keras docstring
  harness/determined/keras/_tf_keras_trial.py
Labels: cla-signed

#696 fix: change cache busting mechanism on react to query string
  webui/react/src/App.tsx
Labels: cla-signed

#697 feat: Elm cache busting [DET-3287]
  webui/elm/public/js/determined-shims.js
  webui/elm/src/Main.elm
  webui/elm/src/Msg.elm
  webui/elm/src/Ports.elm
  webui/elm/src/View.elm
Labels: cla-signed

#716 fix: use custom TLS cert only for Determined API requests [DET-3360]
  cli/determined_cli/cli.py
  common/determined_common/api/request.py
Labels: cla-signed

#705 chore: remove is_chief calculation for non-horovod distributed training [DET-3338]
  harness/determined/_trial_controller.py
Labels: User-facing API Change, cla-signed

#722 feat: retry ConnectionError and ProtocolError types for GCS upload [DET-3331]
  common/determined_common/storage/gcs.py
Labels: cla-signed

#718 docs: various improvements for checkpoint documentation
  common/determined_common/experimental/checkpoint/_checkpoint.py
  common/determined_common/experimental/determined.py
  common/determined_common/experimental/experiment.py
  common/determined_common/experimental/trial.py
  docs/how-to/use-trained-models.txt
  docs/topic-guides/checkpoints.txt
Labels: cla-signed

#703 feat: show experiments in increments [DET-3320]
  webui/elm/src/Page/ExperimentList.elm
  webui/tests/cypress/integration/01-setup.spec.ts
  webui/tests/cypress/integration/02-experiments.spec.ts
Labels: cla-signed

#652 feat: add tasks table component and task list page[DET-3221]
  webui/react/src/components/Avatar.tsx
  webui/react/src/components/Icon.tsx
  webui/react/src/components/Link.tsx
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/components/TaskCard.stories.tsx
  webui/react/src/components/TaskCard.tsx
  webui/react/src/components/TaskTable.module.scss
  webui/react/src/components/TaskTable.stories.tsx
  webui/react/src/components/TaskTable.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/services/api.ts
  webui/react/src/types.ts
  webui/react/src/utils/data.ts
  webui/react/src/utils/task.ts
  webui/react/src/utils/types.ts
Labels: cla-signed

#702 chore: simplify logic in patchUsername [DET-3322]
  master/internal/user/service.go
Labels: cla-signed

#731 fix: correctly set steps for eval in EstimatorTrial
  examples/official/trial/mnist_estimator/model_def.py
  harness/determined/estimator/_estimator_trial.py
Labels: cla-signed

#726 feat: link to swagger-ui from WebUI [DET-3350]
  webui/elm/src/View.elm
  webui/react/src/components/NavBar.tsx
  webui/react/src/components/NavItem.tsx
Labels: cla-signed

#730 fix: "det-deploy local agent-up" works for remote master [DET-3386]
  deploy/determined_deploy/config.py
  deploy/determined_deploy/local/cluster_utils.py
  deploy/setup.py
Labels: cla-signed

#729 feat: increase GLOO timeout [DET-3309]
  harness/determined/constants.py
  harness/determined/horovod.py
  harness/tests/test_horovod.py
Labels: cla-signed

#724 feat: model registry database migration [DET-3277]
  master/internal/api_model.go
  master/internal/db/postgres.go
  master/pkg/model/model.go
  master/static/migrations/20200610134159_add-model-registry.down.sql
  master/static/migrations/20200610134159_add-model-registry.up.sql
  master/static/srv/get_model.sql
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/model.proto
  proto/src/determined/model/v1/model.proto
Labels: cla-signed

#733 refactor: rename asha to sha
  master/pkg/model/defaults.go
  master/pkg/model/searcher_config.go
  master/pkg/searcher/adaptive.go
  master/pkg/searcher/adaptive_simple.go
  master/pkg/searcher/search_method.go
  master/pkg/searcher/sha.go
  master/pkg/searcher/sha_test.go
Labels: cla-signed

#626 feat: logs component and master logs [DET-2997 DET-3041]
  webui/elm/public/css/fonts.css
  webui/elm/public/webfonts/determined-ai.svg
  webui/elm/public/webfonts/determined-ai.ttf
  webui/elm/public/webfonts/determined-ai.woff
  webui/elm/public/webfonts/determined-ai.woff2
  webui/elm/src/View.elm
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/public/fonts/determined-ai.svg
  webui/react/public/fonts/determined-ai.ttf
  webui/react/public/fonts/determined-ai.woff
  webui/react/public/fonts/determined-ai.woff2
  webui/react/public/fonts/source-code-pro-bold
  webui/react/public/fonts/source-code-pro-bold.svg
  webui/react/public/fonts/source-code-pro-bold.ttf
  webui/react/public/fonts/source-code-pro-bold.woff2
  webui/react/public/fonts/source-code-pro-regular.svg
  webui/react/public/fonts/source-code-pro-regular.ttf
  webui/react/public/fonts/source-code-pro-regular.woff
  webui/react/public/fonts/source-code-pro-regular.woff2
  webui/react/src/App.module.scss
  webui/react/src/App.tsx
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/components/LogViewer.module.scss
  webui/react/src/components/LogViewer.stories.tsx
  webui/react/src/components/LogViewer.tsx
  webui/react/src/components/Page.module.scss
  webui/react/src/components/Section.module.scss
  webui/react/src/components/Section.tsx
  webui/react/src/components/SideBar.module.scss
  webui/react/src/components/SideBar.tsx
  webui/react/src/components/Spinner.module.scss
  webui/react/src/components/Spinner.tsx
  webui/react/src/contexts/FullPageSpinner.tsx
  webui/react/src/contexts/UI.tsx
  webui/react/src/hooks/usePrevious.ts
  webui/react/src/hooks/useRestApi.ts
  webui/react/src/hooks/useScroll.ts
  webui/react/src/ioTypes.ts
  webui/react/src/pages/MasterLogs.tsx
  webui/react/src/pages/SignIn.tsx
  webui/react/src/routes/index.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/styles/antd.scss
  webui/react/src/styles/fonts.scss
  webui/react/src/styles/icons.scss
  webui/react/src/types.ts
  webui/react/src/utils/date.ts
  webui/react/src/utils/dom.test.ts
  webui/react/src/utils/dom.ts
Labels: cla-signed

#723 style: fix task card, menu and dropdown styles to be uniform [DET-3286]
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/components/TaskCard.module.scss
  webui/react/src/styles/antd.scss
  webui/react/src/themes.ts
Labels: cla-signed

#738 style: add linting to prevent multi-spaces
  webui/react/.eslintrc.js
Labels: cla-signed

#737 refactor: separate task types [DET-3395]
  webui/react/src/components/SideBar.tsx
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/components/TaskCard.stories.tsx
  webui/react/src/components/TaskCard.tsx
  webui/react/src/components/TaskFilter.tsx
  webui/react/src/components/TaskTable.stories.tsx
  webui/react/src/components/TaskTable.tsx
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
  webui/react/src/utils/task.ts
  webui/react/src/utils/types.ts
Labels: cla-signed

#715 chore: clean up _LRHelper [DET-3270]
  harness/determined/pytorch/__init__.py
  harness/determined/pytorch/_lr_scheduler.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Labels: cla-signed

#734 refactor: extract icon filter buttons from dashboard to be a reusable component
  webui/react/.eslintrc.js
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/IconFilterButtons.module.scss
  webui/react/src/components/IconFilterButtons.stories.tsx
  webui/react/src/components/IconFilterButtons.tsx
  webui/react/src/components/TaskFilter.module.scss
  webui/react/src/components/TaskFilter.tsx
  webui/react/src/components/TaskTable.tsx
  webui/react/src/themes.ts
Labels: cla-signed

#728 feat: make master & db deployable via helm [DET-3294]
  .bumpversion.cfg
  helm/Makefile
  helm/charts/determined/.helmignore
  helm/charts/determined/Chart.yaml
  helm/charts/determined/templates/NOTES.txt
  helm/charts/determined/templates/db-deployment.yaml
  helm/charts/determined/templates/db-persitent-volume-claim.yaml
  helm/charts/determined/templates/db-service.yaml
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/templates/master-deployment.yaml
  helm/charts/determined/templates/master-permissions.yaml
  helm/charts/determined/templates/master-service.yaml
  helm/charts/determined/values.yaml
Labels: cla-signed

#739 style: add linting rule to require await for async functions
  webui/react/.eslintrc.js
  webui/react/src/services/api.ts
Labels: cla-signed

#736 refactor: abstract reading and writing to clipboard [DET-3396]
  webui/react/src/components/AuthToken.tsx
  webui/react/src/components/LogViewer.tsx
  webui/react/src/styles/index.scss
  webui/react/src/utils/dom.test.ts
  webui/react/src/utils/dom.ts
Labels: cla-signed

#684 feat: add top level resource provider [DET-3179, DET-3180]
  docs/reference/cluster-config.txt
  master/internal/agent/agent.go
  master/internal/agent/slot.go
  master/internal/agent/slots.go
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/command/events.go
  master/internal/command/notebook_manager.go
  master/internal/command/tensorboard_manager.go
  master/internal/core.go
  master/internal/core_experiment.go
  master/internal/core_task.go
  master/internal/experiment.go
  master/internal/scheduler/agent.go
  master/internal/scheduler/assignment.go
  master/internal/scheduler/config.go
  master/internal/scheduler/default_resource_provider.go
  master/internal/scheduler/default_resource_provider_test.go
  master/internal/scheduler/fair_share.go
  master/internal/scheduler/filterable_view.go
  master/internal/scheduler/filterable_view_test.go
  master/internal/scheduler/group.go
  master/internal/scheduler/priority.go
  master/internal/scheduler/resource_providers.go
  master/internal/scheduler/resource_providers_test.go
  master/internal/scheduler/scheduler.go
  master/internal/scheduler/scheduler_test.go
  master/internal/scheduler/task.go
  master/internal/scheduler/view.go
  master/internal/sproto/default_resource_provider.go
  master/internal/sproto/resource_providers.go
  master/internal/trial.go
  master/internal/trial_test.go
Labels: cla-signed

#747 fix: add coalesce for checkpoints with null metadata [DET-3400]
  master/static/srv/get_checkpoint.sql
  master/static/srv/get_checkpoints_for_experiment.sql
  master/static/srv/get_checkpoints_for_trial.sql
Labels: cla-signed

#727 feat: add GBT TF Estimator example
  e2e_tests/tests/nightly/test_capability.py
  examples/experimental/trial/gbt_estimator/adaptive.yaml
  examples/experimental/trial/gbt_estimator/const.yaml
  examples/experimental/trial/gbt_estimator/model_def.py
  examples/experimental/trial/gbt_estimator/startup-hook.sh
Labels: cla-signed

#740 style: fix lint issues
  webui/react/.eslintrc.js
  webui/react/src/components/Logo.stories.tsx
  webui/react/src/components/ResourceChart.tsx
  webui/react/src/services/apiConfig.ts
  webui/react/src/types.ts
  webui/react/src/utils/Logger.ts
  webui/react/src/utils/data.ts
  webui/react/src/utils/task.ts
Labels: cla-signed

#725 feat: add no action state to task action dropdown [DET-3381] [DET-3393]
  webui/react/src/components/Link.module.scss
  webui/react/src/components/Link.tsx
  webui/react/src/components/TaskActionDropdown.module.scss
  webui/react/src/components/TaskActionDropdown.stories.tsx
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/components/TaskCard.module.scss
  webui/react/src/components/TaskCard.tsx
Labels: cla-signed

#744 feat: expose in development pages in dev
  webui/react/src/routes/index.ts
Labels: cla-signed

#717 feat: add GET experiments endpoints to new api
  master/internal/agent/agents.go
  master/internal/api.go
  master/internal/api_experiment.go
  master/internal/api_templates.go
  master/internal/db/postgres.go
  master/internal/db/postgres_proto.go
  master/static/srv/get_experiments.sql
  proto/src/determined/api/v1/agent.proto
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/api/v1/pagination.proto
  proto/src/determined/api/v1/template.proto
  proto/src/determined/experiment/v1/experiment.proto
  proto/src/google/protobuf/wrappers.proto
Labels: cla-signed

#746 fix: shared_fs checkpoint validation
  common/determined_common/experimental/checkpoint/_checkpoint.py
  common/determined_common/storage/__init__.py
  e2e_tests/tests/fixtures/no_op/model_def.py
  e2e_tests/tests/requirements.txt
  e2e_tests/tests/test_users.py
  harness/determined/exec/harness.py
  harness/tests/storage/test_s3.py
  harness/tests/storage/test_storage_base.py
Labels: cla-signed

#750 chore: raise Eslint check level for sort and unused variable rules.
  webui/react/.eslintrc.js
  webui/react/src/components/LogViewer.tsx
  webui/react/src/components/TaskCard.stories.tsx
  webui/react/src/utils/dom.test.ts
  webui/react/src/utils/task.ts
Labels: cla-signed

#749 chore: don't filter metrics with "/"
  harness/determined/tensorboard/metric_writers/callback.py
Labels: cla-signed

#743 feat: model registry rest
  master/internal/api_model.go
  master/internal/db/postgres.go
  master/static/srv/get_model.sql
  master/static/srv/insert_model.sql
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/model.proto
Labels: cla-signed

#751 fix: set a fallback array for computing available resources [DET-3411]
  webui/react/src/pages/Cluster.tsx
Labels: cla-signed

#753 fix: fix an import typo
  webui/react/src/components/TaskActionDropdown.stories.tsx
Labels: cla-signed

#741 refactor: separate reusable task table columns
  webui/react/src/components/TaskTable.tsx
  webui/react/src/table/columns.tsx
  webui/react/src/types.ts
  webui/react/src/utils/task.ts
  webui/react/src/utils/types.ts
Labels: cla-signed

#732 style: antd style adjustments
  webui/react/src/components/Badge.module.scss
  webui/react/src/components/Page.tsx
  webui/react/src/styles/antd.scss
Labels: cla-signed

#752 fix: checkpoint workload fails if upload fails
  harness/determined/layers/_workload_manager.py
  harness/tests/experiment/utils.py
  harness/tests/test_workload_manager.py
Labels: cla-signed

#758 chore: clean up GET agents endpoint
  master/internal/agent/agents.go
  master/internal/api_agents.go
  proto/src/determined/api/v1/agent.proto
Labels: cla-signed

#754 fix: dev sidebar
  webui/react/src/components/SideBar.tsx
  webui/react/src/routes/index.ts
Labels: cla-signed

#759 feat: registry patch
  master/internal/api_model.go
  master/static/srv/update_model.sql
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/model.proto
Labels: cla-signed

#762 feat: list models endpoint [DET-3278]
  master/internal/api_model.go
  master/static/srv/get_models.sql
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/model.proto
Labels: cla-signed

#748 refactor: abstract task filters to be reusable
  webui/react/src/components/SelectFilter.module.scss
  webui/react/src/components/SelectFilter.stories.tsx
  webui/react/src/components/SelectFilter.tsx
  webui/react/src/components/StateSelectFilter.tsx
  webui/react/src/components/TaskFilter.tsx
  webui/react/src/components/UserSelectFilter.tsx
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/styles/antd.scss
Labels: cla-signed

#766 feat: add trial logs to the new API [DET-3308]
  master/internal/api_trials.go
  master/internal/db/postgres.go
  master/static/srv/stream_logs.sql
  master/static/srv/trial_status.sql
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/trial.proto
Labels: cla-signed

#765 docs: update the path to example configs
  CONTRIBUTING.md
Labels: cla-signed

#770 fix: hide master logs on elm
  webui/elm/src/View.elm
Labels: cla-signed

#742 feat: add experiments table [DET-2998 DET-3015]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ExperimentTable.module.scss
  webui/react/src/components/ExperimentTable.stories.tsx
  webui/react/src/components/ExperimentTable.tsx
  webui/react/src/components/ProgressBar.tsx
  webui/react/src/components/TaskTable.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/routes/index.ts
  webui/react/src/utils/data.ts
  webui/react/src/utils/string.ts
  webui/react/src/utils/time.ts
Labels: cla-signed

#767 feat: model python class
  common/determined_common/experimental/__init__.py
  common/determined_common/experimental/determined.py
  common/determined_common/experimental/model.py
  e2e_tests/tests/test_system.py
  harness/determined/experimental/__init__.py
Labels: cla-signed

#769 fix: ignore timeout messages after trial reset [DET-3434]
  master/internal/trial.go
Labels: cla-signed

#756 feat: add filter on task list page [DET-3223]
  webui/react/src/components/TaskFilter.tsx
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/pages/TaskList.module.scss
  webui/react/src/pages/TaskList.tsx
Labels: cla-signed

#774 fix: read correct failure status for terminated containers [DET-3435]
  master/internal/trial.go
Labels: cla-signed

#760 fix: avoid unnecessary re-rendering on each agent poll [DET-3427]
  webui/react/src/components/ResourceChart.tsx
  webui/react/src/pages/Cluster.tsx
Labels: cla-signed

#764 fix: fix relative asset paths for swagger-ui [DET-3437]
  master/internal/core.go
Labels: cla-signed

#772 fix: send Terminate response after on_trial_close callback [DET-3433]
  harness/determined/estimator/_estimator_trial.py
Labels: cla-signed

#735 feat: add asha searcher
  master/pkg/model/defaults.go
  master/pkg/model/searcher_config.go
  master/pkg/model/searcher_config_test.go
  master/pkg/searcher/adaptive_asha.go
  master/pkg/searcher/adaptive_asha_test.go
  master/pkg/searcher/asha.go
  master/pkg/searcher/asha_test.go
  master/pkg/searcher/search_method.go
  master/pkg/searcher/sha.go
Labels: cla-signed

#779 feat: paginated CLI trial logs [DET-3442]
  cli/determined_cli/trial.py
  e2e_tests/tests/test_system.py
  master/internal/core_trial.go
  master/static/srv/get_logs_limit.sql
  master/static/srv/get_logs_offset_limit.sql
Labels: cla-signed

#783 fix: add a missing dependency step
  Makefile
  webui/Makefile
Labels: cla-signed

#784 build: swap wget for curl and add it as a dependency
  CONTRIBUTING.md
  webui/api-ts-sdk/Makefile
Labels: cla-signed

#773 style: update task table styles
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/Badge.module.scss
  webui/react/src/components/Badge.tsx
  webui/react/src/components/ExperimentTable.tsx
  webui/react/src/components/Table.module.scss
  webui/react/src/components/Table.tsx
  webui/react/src/components/TaskActionDropdown.module.scss
  webui/react/src/components/TaskTable.module.scss
  webui/react/src/components/TaskTable.tsx
  webui/react/src/themes.ts
Labels: cla-signed

#775 fix: add missing sort-fix eslint plugin
  webui/tests/.eslintrc.js
  webui/tests/package-lock.json
  webui/tests/package.json
Labels: cla-signed

#768 feat: task list search [DET-3222]
  webui/react/public/fonts/determined-ai.svg
  webui/react/public/fonts/determined-ai.ttf
  webui/react/public/fonts/determined-ai.woff
  webui/react/public/fonts/determined-ai.woff2
  webui/react/src/components/StateSelectFilter.tsx
  webui/react/src/components/TaskFilter.tsx
  webui/react/src/components/TaskTable.tsx
  webui/react/src/components/UserSelectFilter.tsx
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/pages/TaskList.module.scss
  webui/react/src/pages/TaskList.tsx
  webui/react/src/styles/antd.scss
  webui/react/src/styles/icons.scss
  webui/react/src/themes.ts
  webui/react/src/types.ts
  webui/react/src/utils/task.ts
Labels: cla-signed

#781 feat: model registry describe and list CLI
  cli/determined_cli/cli.py
  cli/determined_cli/model.py
  common/determined_common/experimental/model.py
Labels: cla-signed

#785 fix: fix broken docs examples link [DET-3462]
  docs/examples.txt
  docs/reference/api/estimator.txt
  docs/reference/api/keras.txt
  docs/reference/api/pytorch.txt
  docs/reference/api/tensorpack.txt
Labels: cla-signed

#757 chore: point cluster and master logs routes to react
  webui/elm/src/Main.elm
  webui/elm/src/Route.elm
  webui/elm/src/View.elm
  webui/react/src/components/SideBar.tsx
  webui/react/src/routes/index.ts
  webui/tests/cypress/integration/02-navigation.spec.ts
  webui/tests/cypress/plugins/index.js
  webui/tests/package-lock.json
  webui/tests/package.json
Labels: cla-signed
