Repository determined-ai/determined, pull requests merged in 2020-04, with the labels that each got.

#276 [DET-2889] feat: checkpoint export tf.keras support
  common/determined_common/experimental/checkpoint/_tf.py
  docs/topic-guides/checkpoints.txt
  harness/determined/keras/_tf_keras_trial.py
  tests/integrations/experiment/test_tf_keras.py
Labels: cla-signed

#259 docs: several minor clarifications in the Native API tutorial
  examples/tutorials/native-tf-keras/README.txt
  examples/tutorials/native-tf-keras/tf_keras_native.py
Labels: cla-signed

#230 refactor: migrate users away from graphql
  cli/determined_cli/user.py
  master/internal/db/postgres_users.go
  master/static/srv/list_users.sql
Labels: cla-signed

#234 fix: invalidate uploaded files to docs cloudfront distribution
  docs/deploy/s3.tf
Labels: cla-signed

#277 [DET-2948] Add CircleCI nightly tests
  .circleci/config.yml
  CI/integrations/get_address.py
  CI/jenkins/NightlyTests.Jenkinsfile
Labels: cla-signed

#281 fix: fix loading logic for tensorpacktrial when backbone is set
  harness/determined/tensorpack/_tensorpack_trial.py
Labels: Blocking Release, Picked into Release, cla-signed

#287 docs: add 0.12.3 release notes
  docs/release-notes.txt
Labels: Blocking Release, Picked into Release, cla-signed

#283 Remove ansible dependency to fix security vulnerability
  combined-reqs.txt
  release-requirements.txt
Labels: cla-signed

#290 docs: tweaks for installation instructions
  docs/how-to/install-main.txt
Labels: cla-signed

#286 feat: print full traceback when cli encounters an unexpected error
  cli/determined_cli/cli.py
Labels: cla-signed

#212 [DET-2250] docs: add docs how-to and experiment configurations for data-layer
  docs/how-to/data-layer.txt
  docs/how-to/index.txt
  docs/reference/experiment-config.txt
  harness/determined/_data_layer/_context.py
Labels: cla-signed

#296 fix: add logic in agent to invoke docker credentials helpers
  agent/go.mod
  agent/go.sum
  agent/internal/docker.go
  agent/internal/docker_credential_store.go
Labels: Blocking Release, cla-signed

#289 [DET-2271] feat: how-to use trained model checkpoints guide
  docs/how-to/index.txt
  docs/how-to/use-trained-models.txt
  docs/reference/api/experimental.txt
Labels: cla-signed

#304 docs: sort attributions page
  docs/attributions.txt
Labels: cla-signed

#305 fix: include example name as prefix in example tarballs
  docs/Makefile
Labels: cla-signed

#308 Fix nightly tests
  .circleci/config.yml
Labels: cla-signed

#302 docs: update doc string for pytorch mnist examples
  examples/experimental/mnist_pytorch_multi_output/model_def.py
  examples/official/mnist_pytorch/model_def.py
Labels: cla-signed

#294 fix: target cpu for torch.load in integration tests
  common/determined_common/experimental/checkpoint/_checkpoint.py
  common/determined_common/experimental/checkpoint/_torch.py
  tests/integrations/experiment/test_pytorch.py
  tests/integrations/experiment/test_tf_estimator.py
  tests/integrations/experiment/test_tf_keras.py
  tests/integrations/test_system.py
Labels: cla-signed

#293 [DET-2888] feat: experiment download cli command
  cli/determined_cli/checkpoint.py
  cli/determined_cli/experiment.py
  cli/determined_cli/trial.py
  common/determined_common/experimental/experiment.py
Labels: cla-signed

#314 feat: clean-up logging for LOCAL mode
  cli/determined_cli/cli.py
  common/determined_common/util.py
  harness/determined/experimental/_native.py
Labels: cla-signed

#309 fix: update docs terraform config to create invalidation upon s3 upload
  docs/deploy/s3.tf
Labels: cla-signed

#298 chore: move timestamp to lead trial logs
  master/pkg/agent/master_message.go
Labels: cla-signed

#312 test: fix resnet50 CI test
  tests/integrations/test_experimental.py
Labels: cla-signed

#315 test: notify ml-ag on nightly failures
  .circleci/config.yml
Labels: cla-signed

#313 chore: bump version: 0.12.3.dev0 -> 0.12.4.dev0
  .bumpversion.cfg
  .circleci/config.yml
  RELEASE.md
  VERSION
  deploy/determined_deploy/aws/templates/secure.yaml
  deploy/determined_deploy/aws/templates/simple.yaml
  deploy/determined_deploy/aws/templates/vpc.yaml
  webui/elm/public/index.html
  webui/react/config-overrides.js
Labels: cla-signed

#310 feat: support GCP static agent instances in det-deploy
  deploy/determined_deploy/aws/cli.py
  deploy/determined_deploy/aws/constants.py
  deploy/determined_deploy/aws/deployment_types/secure.py
  deploy/determined_deploy/aws/deployment_types/simple.py
  deploy/determined_deploy/aws/deployment_types/vpc.py
  deploy/determined_deploy/aws/templates/secure.yaml
  deploy/determined_deploy/aws/templates/simple.yaml
  deploy/determined_deploy/aws/templates/vpc.yaml
  deploy/determined_deploy/gcp/cli.py
  deploy/determined_deploy/gcp/constants.py
  deploy/determined_deploy/gcp/terraform/main.tf
  deploy/determined_deploy/gcp/terraform/modules/compute/main.tf
  deploy/determined_deploy/gcp/terraform/modules/compute/outputs.tf
  deploy/determined_deploy/gcp/terraform/modules/compute/variables.tf
  deploy/determined_deploy/gcp/terraform/outputs.tf
  deploy/determined_deploy/gcp/terraform/variables.tf
  docs/how-to/installation/aws.txt
  docs/how-to/installation/gcp.txt
Labels: cla-signed

#288 [DET-2628] docs: Add a topic guide about the Native API
  docs/assets/images/life-of-a-native-experiment.png
  docs/topic-guides/index.txt
  docs/topic-guides/native-api.txt
  examples/tutorials/native-tf-keras/README.txt
Labels: cla-signed

#318 feat: add documentation for experiment level checkpoint export CLI
  docs/how-to/use-trained-models.txt
Labels: cla-signed

#319 chore: update environment for notebook fix
  .circleci/config.yml
  CI/integrations/Makefile
  deploy/determined_deploy/aws/templates/secure.yaml
  deploy/determined_deploy/aws/templates/simple.yaml
  deploy/determined_deploy/aws/templates/vpc.yaml
  deploy/determined_deploy/gcp/constants.py
  docs/how-to/custom-env.txt
  docs/tutorials/quick-start.txt
  harness/determined/estimator/_estimator_trial.py
  harness/determined/keras/_tf_keras_trial.py
  master/pkg/model/defaults.go
  tests/integrations/config.py
Labels: cla-signed

#307 [DET-2692] make TF Keras Native and Trial examples use same model
  examples/experimental/native_fashion_mnist_tf_keras/data.py
  examples/experimental/native_fashion_mnist_tf_keras/model_def.py
  examples/experimental/native_fashion_mnist_tf_keras/native_impl.py
  examples/experimental/native_fashion_mnist_tf_keras/trial_impl.py
  examples/experimental/native_mnist_tf_keras/data.py
  examples/experimental/native_mnist_tf_keras/native_impl.py
  tests/integrations/experiment/test_native.py
Labels: cla-signed

#316 chore: add stdout and stderr to integration logs
  tests/integrations/command/command.py
  tests/integrations/experiment/experiment.py
Labels: cla-signed

#325 refactor: migrate trial logs away from graphql
  cli/determined_cli/trial.py
  master/internal/core.go
  master/internal/core_trial.go
  master/static/srv/get_logs.sql
  master/static/srv/get_logs_limit.sql
Labels: cla-signed

#323 docs: various improvements
  docs/how-to/hyperparameter-tuning.txt
  docs/how-to/install-cli.txt
  docs/how-to/install-main.txt
  docs/how-to/installation/deploy.txt
  docs/how-to/installation/docker.txt
  docs/how-to/installation/packages.txt
  docs/how-to/installation/requirements.txt
  docs/how-to/installation/upgrades-troubleshoot.txt
  docs/reference/index.txt
  docs/topic-guides/terminology-concepts.txt
  docs/tutorials/quick-start.txt
  docs/tutorials/tf-mnist-tutorial.txt
Labels: cla-signed

#299 [DET-2761] dynamic favicons
  master/internal/core.go
  webui/elm/public/favicon.ico
  webui/elm/public/images/favicon.png
  webui/elm/public/index.html
  webui/elm/public/js/determined-shims.js
  webui/elm/src/Main.elm
  webui/elm/src/Ports.elm
  webui/elm/src/View/SlotChart.elm
  webui/react/public/favicon.ico
  webui/react/public/favicons/android-chrome-192x192.png
  webui/react/public/favicons/android-chrome-512x512.png
  webui/react/public/favicons/apple-touch-icon.png
  webui/react/public/favicons/favicon-16x16.png
  webui/react/public/favicons/favicon-192x192.png
  webui/react/public/favicons/favicon-32x32.png
  webui/react/public/favicons/favicon-512x512.png
  webui/react/public/favicons/favicon-active.png
  webui/react/public/favicons/favicon-dev-active.png
  webui/react/public/favicons/favicon-dev.png
  webui/react/public/favicons/favicon.png
  webui/react/public/index.html
  webui/react/public/manifest.json
  webui/react/src/App.tsx
  webui/react/src/utils/browser.ts
Labels: cla-signed

#295 [DET-2950] feat: enable overriding nested package dependencies
  webui/elm/package-lock.json
  webui/elm/package.json
  webui/react/package-lock.json
  webui/react/package.json
  webui/tests/package-lock.json
  webui/tests/package.json
Labels: cla-signed

#331 feat: be more lenient about errors in running `nvidia-smi`
  agent/internal/detect.go
  agent/internal/nvidia.go
Labels: cla-signed
