Repository determined-ai/determined, pull requests merged in 2020-08, with the labels that each got.

#983 docs: improvements to notebooks, environment docs
  docs/faq.txt
  docs/how-to/custom-env.txt
  docs/how-to/index.txt
  docs/how-to/install-cli.txt
  docs/how-to/notebook-configuration.txt
  docs/how-to/notebook-state.txt
  docs/how-to/notebooks.txt
  docs/how-to/run-notebooks.txt
  docs/index.txt
  docs/reference/command-notebook-config.txt
  docs/reference/experiment-config.txt
  docs/reference/index.txt
  docs/topic-guides/index.txt
  docs/topic-guides/jupyter-notebooks.txt
  docs/topic-guides/terminology-concepts.txt
  docs/topic-guides/yaml.txt
  docs/tutorials/data-access.txt
  docs/tutorials/notebook-tutorial.txt
Labels: cla-signed

#987 fix: include trial_id in get_checkpoints queries [DET-3732]
  master/static/srv/get_checkpoints_for_experiment.sql
  master/static/srv/get_checkpoints_for_trial.sql
Labels: cla-signed

#967 feat: add archived status column to Experiment list [DET-3540]
  webui/react/src/components/Table.tsx
  webui/react/src/pages/ExperimentList.table.tsx
Labels: cla-signed

#978 fix: fix missing override from CRA [DET-3725]
  webui/react/.storybook/main.js
Labels: cla-signed

#816 docs: make Pytorch primitive public [DET-3204]
  common/determined_common/experimental/checkpoint/_tf.py
  common/determined_common/experimental/checkpoint/_torch.py
  docs/how-to/use-trained-models.txt
  docs/reference/api/estimator.txt
  docs/reference/api/keras.txt
  docs/reference/api/pytorch.txt
  docs/topic-guides/checkpoints.txt
  docs/tutorials/pytorch-mnist-tutorial.txt
  e2e_tests/tests/experiment/test_native.py
  e2e_tests/tests/experiment/test_pytorch.py
  e2e_tests/tests/fixtures/trial_error/model_def.py
  e2e_tests/tests/nightly/test_capability.py
  examples/experimental/trial/bert_glue_pytorch/model_def.py
  examples/experimental/trial/bert_squad_pytorch/model_def.py
  examples/experimental/trial/imagenet_nas_arch_pytorch/model_def.py
  examples/experimental/trial/mnist_pytorch_multi_output/model_def.py
  examples/experimental/trial/nas_search/model_def.py
  examples/experimental/trial/omniglot_protonet_pytorch/model_def.py
  examples/official/native/native_mnist_pytorch/model_def.py
  examples/official/native/native_mnist_pytorch/trial_impl.py
  examples/official/native/native_object_detection_pytorch/model_def.py
  examples/official/trial/cifar10_cnn_pytorch/model_def.py
  examples/official/trial/mnist_gan_pytorch/const.yaml
  examples/official/trial/mnist_gan_pytorch/data.py
  examples/official/trial/mnist_gan_pytorch/distributed.yaml
  examples/official/trial/mnist_gan_pytorch/model_def.py
  examples/official/trial/mnist_pytorch/model_def.py
  examples/official/trial/multiple_lr_schedulers_pytorch/const.yaml
  examples/official/trial/multiple_lr_schedulers_pytorch/data.py
  examples/official/trial/multiple_lr_schedulers_pytorch/layers.py
  examples/official/trial/multiple_lr_schedulers_pytorch/multiple_lr_schedulers_pytorch.py
  examples/official/trial/object_detection_pytorch/model_def.py
  examples/tests/test_official.py
  harness/determined/_env_context.py
  harness/determined/_local_execution.py
  harness/determined/experimental/_native.py
  harness/determined/pytorch/_callback.py
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/tests/experiment/fixtures/pytorch_xor_model.py
Labels: User-facing API Change, cla-signed, documentation

#1000 fix: correct the decoder for `/agents` endpoint
  webui/react/src/ioTypes.ts
Labels: cla-signed

#997 fix: handle case where exit code is not set
  master/pkg/agent/exit.go
Labels: cla-signed

#994 chore: use more concise syntax for `const` hyperparameters in examples
  e2e_tests/tests/fixtures/mnist_pytorch/adaptive_short.yaml
  e2e_tests/tests/fixtures/no_op/random.yaml
  examples/experimental/trial/mnist_pytorch_multi_output/adaptive.yaml
  examples/official/trial/mnist_pytorch/adaptive.yaml
Labels: cla-signed

#916 docs: tutorial for model registry
  docs/tutorials/index.txt
  docs/tutorials/model-registry.txt
Labels: cla-signed, documentation

#996 fix: use random port for notebooks [DET-3648]
  master/internal/command/command.go
  master/internal/command/notebook_manager.go
  master/internal/command/tensorboard_manager.go
  master/static/srv/notebook-entrypoint.sh
Labels: cla-signed

#995 docs: reformat experiment config documentation.
  docs/faq.txt
  docs/reference/cluster-config.txt
  docs/reference/experiment-config.txt
  docs/reference/index.txt
  docs/topic-guides/checkpoints.txt
  docs/topic-guides/hp-tuning-det/hp-grid.txt
  docs/topic-guides/hp-tuning-det/index.txt
  docs/topic-guides/model-definitions/best-practices.txt
  docs/tutorials/quick-start.txt
Labels: cla-signed

#975 test: add CI for k8s [DET-3652, DET-3653, DET-3654, DET-3655]
  .circleci/config.yml
  .circleci/scripts/gpu-daemonset.yaml
  e2e_tests/tests/experiment/test_tf_estimator.py
  e2e_tests/tests/experiment/test_tf_keras.py
  e2e_tests/tests/requirements.txt
Labels: cla-signed

#984 chore: rename total_batches_processed [DET-3723]
  cli/determined_cli/checkpoint.py
  cli/determined_cli/experiment.py
  cli/determined_cli/trial.py
  master/internal/db/postgres.go
  master/pkg/model/experiment.go
  master/static/migrations/20200729211811_extend-steps-table.down.sql
  master/static/migrations/20200729211811_extend-steps-table.up.sql
  master/static/srv/get_trial.sql
  master/static/srv/get_trial_metrics.sql
Labels: cla-signed

#864 feat: create activate and pause experiment [DET-3580]
  common/setup.py
  master/internal/api_experiment.go
  master/internal/db/postgres.go
  master/internal/experiment.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
Labels: cla-signed

#990 chore: migrate command task wait page over to react [DET-3704]
  master/internal/core.go
  webui/elm/public/css/wait.css
  webui/elm/public/js/wait.js
  webui/elm/public/wait.html
  webui/react/public/wait/index.html
  webui/react/public/wait/wait.css
  webui/react/public/wait/wait.js
Labels: cla-signed

#799 docs: add documentation for asynchronous adaptive searcher
  docs/reference/experiment-config.txt
  docs/topic-guides/hp-tuning-det/hp-adaptive-advanced.txt
  docs/topic-guides/hp-tuning-det/hp-adaptive-asha.txt
  docs/topic-guides/hp-tuning-det/index.txt
Labels: cla-signed

#1002 fix: fix HOME in nonroot notebooks [DET-3751]
  master/static/srv/entrypoint.sh
  master/static/srv/notebook-entrypoint.sh
Labels: cla-signed

#985 chore: rename batches_per_step [DET-3627]
  common/determined_common/api/experiment.py
  docs/reference/cluster-config.txt
  docs/reference/experiment-config.txt
  docs/topic-guides/optimizing-distributed-training.txt
  e2e_tests/tests/experiment/test_native.py
  e2e_tests/tests/experiment/test_tf_estimator.py
  e2e_tests/tests/fixtures/estimator_dataset/const.yaml
  e2e_tests/tests/fixtures/estimator_dataset/distributed.yaml
  e2e_tests/tests/fixtures/metric_maker/metric_maker.py
  e2e_tests/tests/fixtures/no_op/model_def.py
  e2e_tests/tests/fixtures/no_op/single-many-long-steps.yaml
  e2e_tests/tests/fixtures/no_op/single-one-short-step.yaml
  e2e_tests/tests/fixtures/no_op/single-very-many-long-steps.yaml
  e2e_tests/tests/fixtures/no_op/startup-hook.yaml
  e2e_tests/tests/test_system.py
  examples/experimental/trial/FasterRCNN_tp/16-gpus.yaml
  examples/experimental/trial/FasterRCNN_tp/64-gpus.yaml
  examples/experimental/trial/gbt_estimator/adaptive.yaml
  examples/experimental/trial/gbt_estimator/const.yaml
  examples/experimental/trial/mnist_tp_to_estimator/const.yaml
  examples/experimental/trial/mnist_tp_to_estimator/const_visualize_synthetic.yaml
  examples/official/native/native_object_detection_pytorch/trial_impl.py
  examples/official/trial/mnist_tp/adaptive.yaml
  examples/official/trial/mnist_tp/const.yaml
  examples/official/trial/mnist_tp/distributed.yaml
  harness/determined/_experiment_config.py
  harness/determined/_local_execution.py
  harness/determined/_trial_controller.py
  harness/determined/constants.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/experimental/_native.py
  harness/determined/keras/_tf_keras_inputs.py
  harness/determined/tensorpack/_tensorpack_trial.py
  harness/tests/experiment/keras/test_tf_keras_trial.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/tensorflow/test_estimator_trial.py
  harness/tests/experiment/utils.py
  harness/tests/tensorboard/test_util.py
  harness/tests/test_horovod.py
  master/internal/telemetry/reports.go
  master/internal/trial_workload_sequencer.go
  master/internal/trial_workload_sequencer_test.go
  master/pkg/model/defaults.go
  master/pkg/model/experiment_config.go
  master/pkg/model/experiment_config_test.go
  master/static/srv/get_checkpoint.sql
  master/static/srv/get_checkpoints_for_experiment.sql
  master/static/srv/get_checkpoints_for_trial.sql
  master/static/srv/get_model_version.sql
  master/static/srv/get_model_versions.sql
Labels: cla-signed

#1008 feat: support private master images in helm
  helm/charts/determined/templates/master-deployment.yaml
  helm/charts/determined/values.yaml
Labels: cla-signed

#844 fix: val_accuracy curve for unets_tf_keras example
  examples/experimental/trial/unets_tf_keras/Cumulative_Batches.png
  examples/experimental/trial/unets_tf_keras/README.md
  examples/experimental/trial/unets_tf_keras/Validation_Accuracy.png
  examples/experimental/trial/unets_tf_keras/const.yaml
  examples/experimental/trial/unets_tf_keras/distributed.yaml
  examples/experimental/trial/unets_tf_keras/model_def.py
  examples/experimental/trial/unets_tf_keras/startup-hook.sh
Labels: cla-signed

#999 feat: add modal confirmation for trial logs download [DET-3740]
  webui/react/src/components/LogViewer.tsx
  webui/react/src/pages/TrialLogs.tsx
  webui/react/src/styles/index.scss
Labels: cla-signed

#1006 feat: clean and add pagination to templates API [DET-3754]
  master/internal/api_templates.go
  master/static/srv/get_templates.sql
  master/static/srv/put_template.sql
  proto/src/determined/api/v1/template.proto
Labels: cla-signed

#1001 feat: support setting CUDA_VISIBLE_DEVICES for estimator_trial
  harness/determined/estimator/_estimator_trial.py
Labels: cla-signed

#998 chore: bump version: 0.12.12.dev0 -> 0.12.13.dev0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/determined_deploy/aws/templates/secure.yaml
  deploy/determined_deploy/aws/templates/simple.yaml
  deploy/determined_deploy/aws/templates/vpc.yaml
  deploy/setup.py
  harness/determined/__version__.py
  harness/setup.py
  helm/charts/determined/Chart.yaml
  webui/elm/public/index.html
  webui/react/config-overrides.js
Labels: cla-signed

#1010 fix: unets example environment config [DET-3553]
  examples/experimental/trial/unets_tf_keras/const.yaml
  examples/experimental/trial/unets_tf_keras/distributed.yaml
Labels: cla-signed

#1003 chore: deprecate pytorch.reset_parameters [DET-3578]
  docs/tutorials/pytorch-mnist-tutorial.txt
  examples/experimental/trial/imagenet_nas_arch_pytorch/model_def.py
  examples/experimental/trial/mnist_pytorch_multi_output/model_def.py
  examples/official/native/native_mnist_pytorch/model_def.py
  examples/official/trial/cifar10_cnn_pytorch/model_def.py
  examples/official/trial/mnist_pytorch/model_def.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/tests/experiment/fixtures/pytorch_onevar_model.py
  harness/tests/experiment/fixtures/pytorch_xor_model.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Labels: User-facing API Change, cla-signed

#1013 fix: fix PyTorchTrial warning messages
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/_pytorch_trial.py
Labels: cla-signed

#1012 fix: fix bugs in "det model describe"
  cli/determined_cli/model.py
  common/determined_common/experimental/model.py
  e2e_tests/tests/test_system.py
Labels: cla-signed

#1011 docs: revisions for model registry tutorial
  common/determined_common/experimental/model.py
  common/determined_common/experimental/trial.py
  docs/how-to/use-trained-models.txt
  docs/reference/api/experimental.txt
  docs/reference/experiment-config.txt
  docs/topic-guides/checkpoints.txt
  docs/tutorials/index.txt
  docs/tutorials/model-registry.txt
Labels: cla-signed

#1004 feat: Enable save/restore of RNG and AMP state [DET-3066][DET-3742]
  e2e_tests/tests/experiment/test_noop.py
  e2e_tests/tests/fixtures/pytorch-rng-saver/const.yaml
  e2e_tests/tests/fixtures/pytorch-rng-saver/model_def.py
  harness/determined/pytorch/_pytorch_trial.py
Labels: cla-signed

#1015 fix: random number divergence on gcs checkpoint upload
  common/determined_common/storage/gcs.py
  e2e_tests/tests/experiment/test_noop.py
Labels: cla-signed

#1016 docs: fix object detetion example
  examples/official/trial/object_detection_pytorch/model_def.py
Labels: cla-signed

#961 fix: naming for model registry CLI commands and entities [DET-3767]
  cli/determined_cli/model.py
  common/determined_common/experimental/checkpoint/_checkpoint.py
  common/determined_common/experimental/model.py
  e2e_tests/tests/test_system.py
  master/internal/api_model.go
  proto/src/determined/api/v1/model.proto
Labels: cla-signed

#1017 chore: rename wrap_lrscheduler and return original scheduler
  docs/reference/api/pytorch.txt
  examples/experimental/trial/bert_glue_pytorch/model_def.py
  examples/experimental/trial/bert_squad_pytorch/model_def.py
  examples/experimental/trial/imagenet_nas_arch_pytorch/model_def.py
  examples/experimental/trial/nas_search/model_def.py
  examples/experimental/trial/omniglot_protonet_pytorch/model_def.py
  examples/official/native/native_object_detection_pytorch/model_def.py
  examples/official/trial/mnist_gan_pytorch/model_def.py
  examples/official/trial/object_detection_pytorch/model_def.py
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/tests/experiment/fixtures/pytorch_xor_model.py
Labels: User-facing API Change, cla-signed

#1019 docs: promote PyTorch flexible primitives migration guide [DET-3771]
  docs/reference/api/pytorch.txt
Labels: cla-signed

#1018 test: disable imagenet_nas_arch_pytorch for release [DET-3770]
  e2e_tests/tests/nightly/test_capability.py
Labels: cla-signed

#971 chore: refactor experiment creation modal and add continue workflow
  webui/react/src/components/CreateExperimentModal.module.scss
  webui/react/src/components/CreateExperimentModal.tsx
  webui/react/src/components/TrialActions.tsx
  webui/react/src/ioTypes.ts
  webui/react/src/pages/ExperimentDetails.module.scss
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
  webui/react/src/utils/types.ts
Labels: cla-signed

#1021 fix: imagenet_gaea merge and rebase conflicts [DET-3769]
  e2e_tests/tests/nightly/test_capability.py
  examples/experimental/trial/imagenet_nas_arch_pytorch/model_def.py
Labels: cla-signed

#1023 docs: tweak intro to model registry tutorial
  docs/tutorials/model-registry.txt
Labels: cla-signed

#974 style: polish experiment detail [DET-3517, DET-3621]
  webui/react/src/components/ExperimentActions.module.scss
  webui/react/src/components/ExperimentInfoBox.module.scss
  webui/react/src/components/ExperimentInfoBox.tsx
  webui/react/src/components/Link.tsx
  webui/react/src/components/Page.tsx
  webui/react/src/pages/Cluster.tsx
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/pages/ExperimentDetails.module.scss
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentActions.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentChart.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentChart.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentInfoBox.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentInfoBox.stories.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentInfoBox.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/MasterLogs.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/pages/TaskLogs.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/TrialLogs.tsx
  webui/react/src/styles/antd.scss
  webui/tests/cypress/integration/02-navigation.spec.ts
Labels: cla-signed

#993 style: refine tables
  webui/react/src/components/Avatar.tsx
  webui/react/src/components/Link.tsx
  webui/react/src/components/ProgressBar.module.scss
  webui/react/src/components/ProgressBar.tsx
  webui/react/src/components/Table.tsx
  webui/react/src/components/TagList.module.scss
  webui/react/src/components/TagList.tsx
  webui/react/src/components/TaskActionDropdown.module.scss
  webui/react/src/components/TaskCard.module.scss
  webui/react/src/components/TaskCard.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentInfoBox.tsx
  webui/react/src/pages/ExperimentList.module.scss
  webui/react/src/pages/ExperimentList.table.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/styles/antd.scss
Labels: cla-signed

#991 feat: launch notebook [DET-3741]
  webui/elm/public/css/fonts.css
  webui/elm/public/webfonts/determined-ai.svg
  webui/elm/public/webfonts/determined-ai.ttf
  webui/elm/public/webfonts/determined-ai.woff
  webui/elm/public/webfonts/determined-ai.woff2
  webui/react/public/fonts/determined-ai.svg
  webui/react/public/fonts/determined-ai.ttf
  webui/react/public/fonts/determined-ai.woff
  webui/react/public/fonts/determined-ai.woff2
  webui/react/src/components/LogViewer.tsx
  webui/react/src/components/Page.module.scss
  webui/react/src/components/Page.tsx
  webui/react/src/components/Table.stories.tsx
  webui/react/src/components/Table.tsx
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/components/TrialActions.tsx
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentActions.tsx
  webui/react/src/pages/ExperimentList.table.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/MasterLogs.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/pages/TaskLogs.tsx
  webui/react/src/pages/TrialLogs.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/styles/antd.scss
  webui/react/src/styles/icons.scss
Labels: cla-signed

#1007 feat: add master logs [DET-3680]
  master/internal/api_master.go
  master/internal/api_trials.go
  master/internal/grpc/validate.go
  master/pkg/logger/log_buffer.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/master.proto
Labels: cla-signed

#1027 docs: release notes for 0.12.13
  docs/reference/api/pytorch.txt
  docs/reference/experiment-config.txt
  docs/release-notes.txt
  docs/tutorials/pytorch-mnist-tutorial.txt
  harness/determined/pytorch/_callback.py
Labels: cla-signed

#1026 feat: add experiment cancel and kill endpoints [DET-3581]
  master/internal/api_experiment.go
  master/internal/experiment.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
Labels: cla-signed

#1028 chore: silence protobuf warnings
  proto/src/determined/api/v1/model.proto
  proto/src/determined/api/v1/tensorboard.proto
Labels: cla-signed

#1029 chore: for tensorpack, max_length.batches must be a multiple of scheduling unit
  e2e_tests/tests/nightly/test_capability.py
Labels: cla-signed

#1032 docs: release notes for 0.12.13
  docs/reference/api/pytorch.txt
  docs/reference/experiment-config.txt
  docs/release-notes.txt
  docs/tutorials/pytorch-mnist-tutorial.txt
  harness/determined/pytorch/_callback.py
Labels: cla-signed

#1020 fix: show archive / unarchive options under task actions properly [DET-3635]
  webui/react/src/components/TaskActionDropdown.tsx
Labels: cla-signed

#1030 fix: filter out disabled slots for reporting
  webui/react/src/contexts/ClusterOverview.tsx
  webui/react/src/pages/Cluster.tsx
Labels: cla-signed

#1025 fix: dismiss trial log download warning modal upon confirmation [DET-3779]
  webui/react/src/pages/TrialLogs.tsx
Labels: cla-signed

#981 chore: migrate trial Infobox [DET-3014 DET-3016]
  webui/react/src/components/CheckpointModal.tsx
  webui/react/src/components/InfoBox.module.scss
  webui/react/src/components/InfoBox.tsx
  webui/react/src/ioTypes.ts
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/TrialDetails/TrialActions.module.scss
  webui/react/src/pages/TrialDetails/TrialActions.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.module.scss
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
  webui/react/src/utils/types.ts
Labels: cla-signed

#1036 refactor: convert io.null and io.undefined to ioNullOrUndefined [DET-3747]
  webui/react/src/ioTypes.ts
  webui/react/src/services/decoder.ts
Labels: cla-signed

#1038 docs: various fixes.
  docs/examples.txt
  docs/reference/api/pytorch.txt
  docs/reference/experiment-config.txt
  docs/release-notes.txt
  harness/determined/pytorch/_pytorch_context.py
Labels: cla-signed

#1043 chore: nil check validation metrics
  master/internal/experiment.go
Labels: cla-signed

#1040 feat: get checkpoint endpoint [DET-3734]
  common/determined_common/experimental/determined.py
  master/internal/api_checkpoint.go
  master/internal/api_model.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/checkpoint.proto
  proto/src/determined/checkpoint/v1/checkpoint.proto
  proto/src/determined/model/v1/model.proto
Labels: cla-signed

#1044 chore: change search_metric to val_acc for tf_keras_native_dtrain 4bb2ab6 [DET-3794]
  e2e_tests/tests/experiment/test_tutorials.py
  examples/tutorials/native-tf-keras/tf_keras_native_dtrain.py
Labels: cla-signed

#992 feat: enable list pages [DET-3705]
  webui/elm/public/css/fonts.css
  webui/elm/public/webfonts/determined-ai.svg
  webui/elm/src/Main.elm
  webui/elm/src/Route.elm
  webui/elm/src/View.elm
  webui/react/public/fonts/determined-ai.svg
  webui/react/src/components/Breadcrumb.stories.tsx
  webui/react/src/routes/index.ts
  webui/react/src/styles/icons.scss
  webui/tests/cypress/integration/01-setup.spec.ts
  webui/tests/cypress/integration/02-experiments.spec.ts
  webui/tests/cypress/integration/02-navigation.spec.ts
  webui/tests/cypress/integration/02-notebooks.spec.ts
  webui/tests/cypress/integration/02-tasks.spec.ts
Labels: cla-signed

#1042 fix: fix string formatting in k8 RP [DET-3768]
  master/internal/scheduler/kubernetes_resource_provider.go
Labels: cla-signed

#1014 feat: add tensorboard sources to task list [DET-3760]
  webui/react/src/components/Table.tsx
  webui/react/src/pages/TaskList.module.scss
  webui/react/src/pages/TaskList.table.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/utils/data.ts
Labels: cla-signed

#1022 fix: don't ignore SHA operations from promotion of exited trials [DET-3546]
  master/pkg/searcher/sha.go
Labels: cla-signed

#1045 chore: make metric_maker test quieter
  e2e_tests/tests/fixtures/metric_maker/metric_maker.py
Labels: cla-signed

#1048 test: handle concurrent cloudwatch CI uploads [DET-3713]
  .circleci/scripts/upload_cloud_watch_to_s3.py
Labels: cla-signed

#1047 chore: minor fixes for PyTorch GAN example.
  examples/official/trial/mnist_gan_pytorch/model_def.py
Labels: cla-signed

#1031 chore: change processApiError to return the error.
  webui/react/src/services/api.ts
  webui/react/src/services/apiBuilder.ts
Labels: cla-signed

#1049 feat: make agent's TLS verification level configurable [DET-3774]
  agent/cmd/determined-agent/run.go
  agent/internal/agent.go
  agent/internal/options.go
Labels: cla-signed

#1055 docs: tweak index page text
  README.md
  docs/index.txt
Labels: cla-signed

#1054 docs: apply our own best practices in tutorials [DET-3800]
  examples/tutorials/native-tf-keras/tf_keras_native.py
  examples/tutorials/native-tf-keras/tf_keras_native_dtrain.py
  examples/tutorials/native-tf-keras/tf_keras_native_hparam_search.py
Labels: cla-signed, documentation

#1046 feat: get checkpoints for experiment endpoint
  common/determined_common/experimental/checkpoint/__init__.py
  common/determined_common/experimental/checkpoint/_checkpoint.py
  common/determined_common/experimental/experiment.py
  e2e_tests/tests/test_system.py
  master/internal/api_experiment.go
  master/internal/api_model.go
  master/static/srv/get_checkpoints_for_experiment.sql
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/checkpoint/v1/checkpoint.proto
Labels: cla-signed

#1053 fix: update regex to handle newlines in the log messages [DET-3804]
  webui/react/src/services/decoder.ts
Labels: cla-signed

#1056 build: adjust resource deletion order [DET-3793]
  deploy/determined_deploy/aws/aws.py
Labels: cla-signed

#1037 feat: add archive and unarchive endpoints [DET-3582]
  master/internal/api_experiment.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
Labels: cla-signed

#1052 feat: get checkpoints for trial endpoint [DET-3735]
  common/determined_common/experimental/trial.py
  master/internal/api_trials.go
  master/static/srv/get_checkpoints_for_trial.sql
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/trial.proto
Labels: cla-signed

#1059 chore: route Elm experiment list links to react [DET-3827]
  webui/elm/src/Page/ExperimentDetail.elm
  webui/elm/src/Page/TrialDetail.elm
Labels: cla-signed

#1058 chore: infobox style update and refactor [DET-3796]
  webui/react/src/components/InfoBox.module.scss
  webui/react/src/components/InfoBox.tsx
  webui/react/src/components/Section.module.scss
  webui/react/src/components/Section.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentChart.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentChart.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentInfoBox.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentInfoBox.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.module.scss
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
Labels: cla-signed

#1064 fix: trigger the correct click handler [DET-3817]
  webui/react/src/components/Link.tsx
Labels: cla-signed

#1060 test: make nonroot tests stricter
  e2e_tests/tests/test_users.py
Labels: cla-signed

#1065 feat: enable experiment detail [DET-3788]
  webui/elm/src/Main.elm
  webui/elm/src/Page/TrialDetail.elm
  webui/elm/src/Route.elm
  webui/react/src/components/Breadcrumb.stories.tsx
  webui/react/src/components/CheckpointModal.tsx
  webui/react/src/components/Page.module.scss
  webui/react/src/components/Page.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentActions.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/utils/task.ts
  webui/react/src/utils/types.ts
  webui/tests/cypress/integration/01-setup.spec.ts
  webui/tests/cypress/integration/02-tasks.spec.ts
Labels: cla-signed

#1069 fix: handle failed validations correctly [DET-3838]
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/fixtures/no_op/model_def.py
  e2e_tests/tests/test_system.py
  master/internal/experiment.go
Labels: cla-signed

#824 feat: add gaea nas [DET-3553]
  examples/experimental/trial/gaea_nas/const.yaml
  examples/experimental/trial/gaea_nas/data.py
  examples/experimental/trial/gaea_nas/genotypes.py
  examples/experimental/trial/gaea_nas/model_def.py
  examples/experimental/trial/gaea_nas/model_search.py
  examples/experimental/trial/gaea_nas/operations.py
  examples/experimental/trial/gaea_nas/optimizer.py
  examples/experimental/trial/gaea_nas/utils.py
Labels: cla-signed

#1072 docs: add two new FAQs.
  docs/faq.txt
Labels: cla-signed

#1077 test: only send slack messages for master branch CI
  .circleci/config.yml
Labels: cla-signed

#1061 feat: add ability to perform initial validation [DET-3584]
  docs/reference/experiment-config.txt
  e2e_tests/tests/config.py
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_tf_estimator.py
  e2e_tests/tests/test_system.py
  master/internal/db/postgres.go
  master/internal/trial.go
  master/internal/trial_workload_sequencer.go
  master/pkg/model/experiment.go
  master/pkg/model/experiment_config.go
Labels: cla-signed

#1079 fix: preserve rng state for all cloud access [DET-3810]
  common/determined_common/storage/gcs.py
  common/determined_common/storage/hdfs.py
  common/determined_common/storage/s3.py
  common/determined_common/util.py
  harness/determined/tensorboard/gcs.py
  harness/determined/tensorboard/hdfs.py
  harness/determined/tensorboard/s3.py
  harness/determined/util.py
Labels: cla-signed

#1075 feat: hide experiment max slots if it's unset
  webui/react/src/pages/ExperimentDetails/ExperimentInfoBox.tsx
Labels: cla-signed

#1073 chore: extract training validation metrics
  webui/react/src/ioTypes.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
  webui/react/src/utils/trial.ts
Labels: cla-signed

#1062 fix: remove cookie check during logout because of flake [DET-3823]
  webui/tests/cypress/support/commands.js
Labels: cla-signed

#1080 chore: delete useless test
  e2e_tests/tests/experiment/test_tf_estimator.py
Labels: cla-signed

#1081 fix: fix typo in error message
  common/determined_common/experimental/experiment.py
Labels: cla-signed

#1082 docs: minor fixes for data access tutorial
  docs/tutorials/data-access.txt
Labels: cla-signed

#1085 chore: unpin overly specific versions for python [DET-3685]
  cli/setup.py
  common/setup.py
  harness/setup.py
Labels: cla-signed

#1063 feat: add trial detail chart [DET-3013]
  webui/react/src/components/MetricChart.module.scss
  webui/react/src/components/MetricChart.tsx
  webui/react/src/ioTypes.ts
  webui/react/src/pages/ExperimentDetails/ExperimentChart.tsx
  webui/react/src/pages/TrialDetails.module.scss
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.module.scss
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#1005 feat: support user specified pod template specs [DET-3716, DET-3731]
  e2e_tests/tests/command/test_run.py
  e2e_tests/tests/config.py
  e2e_tests/tests/conftest.py
  e2e_tests/tests/experiment/test_pytorch.py
  master/internal/kubernetes/pod.go
  master/internal/trial.go
  master/pkg/check/validate.go
  master/pkg/model/environment_config.go
  master/pkg/model/experiment_config.go
Labels: cla-signed

#1083 fix: handle failed checkpoints correctly [DET-3853]
  e2e_tests/tests/fixtures/no_op/model_def.py
  e2e_tests/tests/test_system.py
  master/internal/trial_workload_sequencer.go
  master/internal/trial_workload_sequencer_test.go
Labels: cla-signed

#1033 chore: bump version: 0.12.13.dev0 -> 0.13.0.dev0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/determined_deploy/aws/templates/secure.yaml
  deploy/determined_deploy/aws/templates/simple.yaml
  deploy/determined_deploy/aws/templates/vpc.yaml
  deploy/setup.py
  harness/determined/__version__.py
  harness/setup.py
  helm/charts/determined/Chart.yaml
  webui/elm/public/index.html
  webui/react/config-overrides.js
Labels: cla-signed

#1087 fix: update `num_batches` to `total_batches_processed` [DET-3860]
  webui/react/src/ioTypes.ts
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentInfoBox.stories.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentInfoBox.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#1068 feat: repr methods for python classes [DET-3750]
  common/determined_common/experimental/checkpoint/_checkpoint.py
  common/determined_common/experimental/experiment.py
  common/determined_common/experimental/model.py
  common/determined_common/experimental/trial.py
Labels: cla-signed

#1088 fix: hide table pagination when unnecessary [DET-3859]
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/TaskList.tsx
Labels: cla-signed

#1092 fix: support tensorboard in us-east-1 [DET-3842]
  harness/determined/exec/tensorboard.py
Labels: cla-signed

#1070 chore: add proxy urls to tensorboards and notebooks [DET-3736]
  master/internal/command/command.go
  proto/src/determined/notebook/v1/notebook.proto
  proto/src/determined/tensorboard/v1/tensorboard.proto
Labels: cla-signed

#1091 fix: record progress in partial units [DET-3869]
  master/internal/experiment.go
  master/internal/trial.go
  master/pkg/model/length.go
  master/pkg/searcher/asha.go
  master/pkg/searcher/event_log.go
  master/pkg/searcher/event_log_test.go
  master/pkg/searcher/grid.go
  master/pkg/searcher/pbt.go
  master/pkg/searcher/random.go
  master/pkg/searcher/search_method.go
  master/pkg/searcher/searcher.go
  master/pkg/searcher/sha.go
  master/pkg/searcher/simulate.go
  master/pkg/searcher/tournament.go
Labels: cla-signed

#1089 feat: add total_batches_processed to trials details endpoint [DET-3872]
  master/internal/db/postgres.go
Labels: cla-signed

#1050 chore: migrate continue trial form and remove steps [DET-3780 DET-3854]
  webui/react/config-overrides.js
  webui/react/src/components/CreateExperimentModal.tsx
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/types.ts
  webui/react/src/utils/types.ts
Labels: cla-signed

#1093 chore: update archive/unarchive endpoint to the new api [DET-3867, DET-3871]
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentActions.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
Labels: cla-signed

#1095 fix: run atleast one batch per searcher op [DET-3877]
  master/internal/trial_workload_sequencer.go
  master/internal/trial_workload_sequencer_test.go
Labels: cla-signed

#1099 fix: support shell with host networking mode
  master/internal/command/notebook_manager.go
  master/internal/command/shell_manager.go
  master/internal/command/tensorboard_manager.go
Labels: cla-signed

#1096 fix: handle when config is undefined for trial length
  webui/react/src/pages/TrialDetails.tsx
Labels: cla-signed

#1084 fix: Idempotent termination state transition [DET-3802]
  agent/internal/container.go
Labels: cla-signed

#1076 feat: allow the harness to connect to the master over TLS [DET-3775]
  harness/determined/_env_context.py
  harness/determined/_local_execution.py
  harness/determined/exec/harness.py
  harness/determined/layers/_socket_manager.py
  harness/tests/experiment/utils.py
  harness/tests/tensorboard/test_util.py
  harness/tests/test_horovod.py
  master/internal/core.go
  master/internal/scheduler/default_resource_provider.go
  master/internal/scheduler/kubernetes_resource_provider.go
  master/internal/scheduler/resource_providers_test.go
  master/internal/trial_test.go
  master/pkg/tasks/copy.go
  master/pkg/tasks/task.go
  master/pkg/tasks/task_spec.go
Labels: cla-signed

#1071 chore: add kill trial endpoint [DET-3739]
  master/internal/api_trials.go
  master/internal/db/postgres.go
  master/internal/trial.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/trial.proto
Labels: cla-signed

#1078 feat: trial table [DET-3019]
  webui/react/src/components/Badge.tsx
  webui/react/src/components/MetricSelectFilter.tsx
  webui/react/src/components/SelectFilter.tsx
  webui/react/src/pages/TrialDetails.table.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/styles/antd.scss
  webui/react/src/types.ts
  webui/react/src/utils/data.ts
  webui/react/src/utils/trial.ts
Labels: cla-signed

#1094 fix: fix cluster resource pie chart color mapping [DET-3861] (#1094)
  webui/react/src/components/Badge.tsx
  webui/react/src/components/ProgressBar.tsx
  webui/react/src/components/ResourceChart.stories.tsx
  webui/react/src/components/ResourceChart.tsx
  webui/react/src/themes.ts
Labels: cla-signed

#1098 feat: improve shell cli for optional args [DET-3883] [DET-3886]
  cli/determined_cli/shell.py
Labels: cla-signed

#1100 fix: let shell proxying work with master TLS [DET-3882]
  cli/determined_cli/tunnel.py
Labels: cla-signed

#1110 feat: add logging to agent to track usage [DET-3878]
  master/internal/agent/agent.go
Labels: cla-signed

#1111 fix: actually kill trials [DET-3828]
  master/internal/trial.go
Labels: cla-signed

#1109 fix: handle failed stack deletion
  deploy/determined_deploy/aws/aws.py
  deploy/determined_deploy/aws/cli.py
Labels: cla-signed

#1104 feat: kill idle tensorboards [DET-3808]
  docs/reference/cluster-config.txt
  master/internal/command/api.go
  master/internal/command/tensorboard_manager.go
  master/internal/config.go
  master/internal/core.go
  master/internal/proxy/proxy.go
  master/internal/scheduler/default_resource_provider.go
  master/internal/scheduler/kubernetes_resource_provider.go
Labels: cla-signed

#1041 feat: make sharding configurable in wrap_dataset
  harness/determined/_experiment_config.py
  harness/determined/estimator/_estimator_context.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/keras/_tf_keras_context.py
Labels: User-facing API Change, cla-signed

#1115 style: fix table cell styles when there is only one cell
  webui/react/src/styles/antd.scss
Labels: cla-signed

#1108 fix: address scrolling issue when scrolling up after hitting the back…
  webui/react/src/components/LogViewer.tsx
Labels: cla-signed

#1102 chore: add a shell-entrypoint.sh [DET-3884]
  cli/determined_cli/shell.py
  e2e_tests/tests/command/test_shell.py
  master/internal/command/shell_manager.go
  master/pkg/etc/etc.go
  master/static/srv/notebook-entrypoint.sh
  master/static/srv/shell-entrypoint.sh
  master/static/srv/sshd_config
Labels: cla-signed

#1107 refactor: cleanup trial detail [DET-3683]
  webui/react/src/App.tsx
  webui/react/src/assets/warning.svg
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/components/LogViewer.tsx
  webui/react/src/components/Message.module.scss
  webui/react/src/components/Message.tsx
  webui/react/src/components/MetricChart.tsx
  webui/react/src/components/NavMenu.stories.tsx
  webui/react/src/components/NavMenu.tsx
  webui/react/src/components/Page.module.scss
  webui/react/src/components/Page.tsx
  webui/react/src/components/SideBar.tsx
  webui/react/src/components/Spinner.module.scss
  webui/react/src/components/Spinner.stories.tsx
  webui/react/src/components/Spinner.tsx
  webui/react/src/components/Table.tsx
  webui/react/src/components/TableBatch.module.scss
  webui/react/src/contexts/UI.tsx
  webui/react/src/pages/Cluster.tsx
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/pages/ExperimentDetails.table.tsx
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentActions.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/pages/TrialDetails.table.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/TrialDetails/TrialActions.module.scss
  webui/react/src/pages/TrialDetails/TrialActions.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.module.scss
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
  webui/react/src/pages/TrialLogs.tsx
  webui/react/src/routes/index.ts
  webui/react/src/styles/antd.scss
  webui/react/src/utils/data.ts
  webui/tests/cypress/integration/02-experiments.spec.ts
  webui/tests/cypress/integration/02-tasks.spec.ts
Labels: cla-signed

#1101 fix: add explicit searcher sync before close trial [DET-3889]
  master/internal/experiment.go
  master/internal/trial.go
Labels: cla-signed

#1103 chore: publish trial details page [DET-3843]
  webui/elm/src/Main.elm
  webui/elm/src/Page/ExperimentDetail.elm
  webui/elm/src/Page/TensorBoardList.elm
  webui/elm/src/Route.elm
  webui/react/src/components/CheckpointModal.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentInfoBox.stories.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/services/decoder.ts
Labels: cla-signed

#1105 docs: add docs for behavior of keras's on_epoch_end callback
  docs/reference/api/keras.txt
  harness/determined/keras/_tf_keras_trial.py
Labels: cla-signed

#1120 fix: drop null metric values [DET-3910]
  webui/react/src/ioTypes.ts
  webui/react/src/services/decoder.ts
Labels: cla-signed

#1119 docs: various fixes for tf.keras docs.
  docs/reference/api/keras.txt
  docs/reference/experiment-config.txt
  docs/tutorials/pytorch-mnist-tutorial.txt
  docs/tutorials/tf-mnist-tutorial.txt
  examples/official/trial/fashion_mnist_tf_keras/adaptive.yaml
  examples/official/trial/fashion_mnist_tf_keras/const.yaml
  examples/official/trial/fashion_mnist_tf_keras/distributed.yaml
  examples/official/trial/mnist_pytorch/distributed.yaml
  harness/determined/keras/_data.py
  harness/determined/keras/_tf_keras_context.py
  harness/determined/keras/_tf_keras_trial.py
Labels: cla-signed

#1118 fix: don't panic when an unknown service is encountered
  master/internal/proxy/proxy.go
Labels: cla-signed

#1113 chore: Add README for new proposed release note process.
  docs/release-notes/README.md
Labels: cla-signed

#1126 fix: recursively search log dir for tfevents [DET-3915]
  harness/determined/tensorboard/base.py
  harness/determined/tensorboard/gcs.py
  harness/determined/tensorboard/s3.py
  harness/determined/tensorboard/shared.py
Labels: cla-signed

#1127 fix: make master cert file world-readable in containers
  master/pkg/tasks/copy.go
Labels: cla-signed

#1128 fix: better handle tasks with mixed TLS/non-TLS masters
  agent/internal/containers.go
Labels: cla-signed

#1129 fix: asha searcher progress for brackets with one rung [DET-3914]
  master/pkg/searcher/asha.go
  master/pkg/searcher/asha_test.go
Labels: cla-signed

#1130 chore: add --verbose to twine uploads
  cli/Makefile
  common/Makefile
  deploy/Makefile
  harness/Makefile
Labels: cla-signed

#1122 chore: rename websocket actors to be more descriptive
  agent/internal/agent.go
  master/pkg/actor/api/ws.go
Labels: cla-signed

#1131 fix: show progress bar in experiment info box [DET-3922]
  webui/react/src/components/InfoBox.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentInfoBox.tsx
Labels: cla-signed

#1133 fix: support shell with k8s
  master/internal/command/shell_manager.go
  master/static/srv/shell-entrypoint.sh
Labels: cla-signed

#1132 docs: add remove steps migration guide
  docs/reference/experiment-config.txt
Labels: cla-signed

#1134 fix: apply user authentication to stream endpoints [DET-3935]
  master/internal/grpc/api.go
  master/internal/grpc/auth.go
Labels: cla-signed

#1135 fix: Improve old experiment config upgrade logic [DET-3918 DET-3933 DET-3932]
  webui/react/src/fixtures/old-trial-config-noop-adaptive.json
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/utils/data.test.ts
  webui/react/src/utils/data.ts
  webui/react/src/utils/types.ts
Labels: cla-signed

#1136 fix: refrain from loading experiment configs where they aren't needed
  master/internal/api_experiment.go
  master/internal/db/postgres.go
Labels: cla-signed

#1137 chore: remove mnist_tp adaptive config
  examples/official/trial/mnist_tp/adaptive.yaml
Labels: cla-signed

#1124 docs: improve docs for tensorboard_timeout.
  docs/how-to/tensorboard.txt
  docs/reference/cluster-config.txt
  master/internal/command/tensorboard_manager.go
Labels: cla-signed

#1138 fix: validate hyperparameter configs
  master/pkg/model/experiment_config_test.go
  master/pkg/model/hyperparameters_config.go
  master/pkg/model/hyperparameters_config_test.go
Labels: cla-signed

#1123 docs: update examples doc
  docs/examples.txt
  docs/faq.txt
  docs/how-to/tensorboard.txt
  docs/reference/api/pytorch.txt
  harness/determined/tensorboard/metric_writers/pytorch.py
Labels: cla-signed

#1143 docs: fixes for PyTorch + TensorBoard docs.
  docs/faq.txt
  docs/how-to/tensorboard.txt
  docs/reference/api/pytorch.txt
  harness/determined/tensorboard/metric_writers/pytorch.py
Labels: cla-signed

#1142 docs: minor tweaks to remove steps migration guide
  docs/reference/experiment-config.txt
Labels: cla-signed

#1144 fix: patch request body parsing for model metadata [DET-3939]
  common/determined_common/experimental/model.py
  master/internal/api_model.go
  proto/scripts/swagger.py
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/model.proto
Labels: cla-signed

#1145 fix: remove id column from trial info table on trial detail page [DET-3940]
  webui/react/src/pages/TrialDetails.table.tsx
Labels: cla-signed
