Repository determined-ai/determined, pull requests merged in 2021-09, with the labels that each got.

#2880 fix: make k8s watchers more resilient [DET-5910]
  agent/go.sum
  master/go.sum
  master/internal/kubernetes/events.go
  master/internal/kubernetes/informer.go
  master/internal/kubernetes/pod.go
  master/internal/kubernetes/pods.go
  master/internal/kubernetes/preemptions.go
  master/internal/resourcemanagers/setup.go
Labels: cla-signed

#2889 chore: augment fields displayed by describe checkpoint
  harness/determined/cli/checkpoint.py
Labels: cla-signed

#1937 feat: expose primitives for pytorch dataloaders
  docs/reference/api/api-pytorch-samplers.txt
  docs/reference/api/api-pytorch.txt
  docs/release-notes/1937-iterable-datasets.txt
  harness/determined/_train_context.py
  harness/determined/pytorch/__init__.py
  harness/determined/pytorch/_data.py
  harness/determined/pytorch/_experimental.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/samplers.py
  harness/tests/experiment/fixtures/pytorch_onevar_model.py
  harness/tests/experiment/pytorch/test_pytorch_data.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/test_local.py
Labels: cla-signed, User-facing API Change

#2897 fix: remove rerender on row selection on Experiment List page
  webui/react/src/pages/ExperimentList.tsx
Labels: cla-signed, Blocking Release

#2855 feat: push architecture (webui)
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/ioTypes.ts
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.table.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.stories.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
  webui/react/src/utils/types.ts
  webui/react/src/utils/workload.ts
Labels: cla-signed

#2902 fix: enable experiment controls in the header for single trial [DET-5914, DET-5915]
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
Labels: cla-signed

#2766 feat: master yaml templates for `det deploy aws|gcp` [DET-5766]
  agent/go.sum
  docs/how-to/installation/aws.txt
  docs/how-to/installation/gcp.txt
  docs/release-notes/2766-det-deploy-templates.txt
  harness/Makefile
  harness/determined/cli/master.py
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/constants.py
  harness/determined/deploy/aws/deployment_types/govcloud.py
  harness/determined/deploy/aws/deployment_types/secure.py
  harness/determined/deploy/aws/deployment_types/simple.py
  harness/determined/deploy/aws/deployment_types/vpc.py
  harness/determined/deploy/aws/injector/master.yaml.tmpl
  harness/determined/deploy/aws/master_config_inject.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/aws/templates/vpc.yaml
  harness/determined/deploy/gcp/cli.py
  harness/determined/deploy/gcp/terraform/main.tf
  harness/determined/deploy/gcp/terraform/master.yaml.tmpl
  harness/determined/deploy/gcp/terraform/modules/compute/main.tf
  harness/determined/deploy/gcp/terraform/modules/compute/variables.tf
  harness/determined/deploy/gcp/terraform/variables.tf
  master/.goreleaser.yml
  master/Dockerfile
  master/cmd/determined-gotmpl/main.go
  master/cmd/determined-gotmpl/main_test.go
  master/cmd/determined-gotmpl/main_test.tmpl
  master/go.mod
  master/go.sum
Labels: cla-signed

#2884 fix: include maxval in int hparam range
  docs/release-notes/2884-int-maxval.txt
  master/pkg/searcher/hyperparameters.go
Labels: cla-signed

#2899 chore: limit overviewstats widget to one line
  webui/react/src/components/OverviewStats.module.scss
Labels: cla-signed

#2906 fix: `det deploy aws --retain-log-group`.
  harness/determined/deploy/aws/templates/simple.yaml
Labels: cla-signed

#2904 chore: update master ClusterRole permissions to include list on events (helm)
  helm/charts/determined/templates/master-permissions.yaml
Labels: cla-signed

#2874 feat: add sync timing toggle for profiling [DET-5891]
  docs/reference/api/experiment-config.txt
  harness/determined/_experiment_config.py
  harness/determined/common/schemas/expconf/_gen.py
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/profiler.py
  harness/determined/pytorch/_pytorch_trial.py
  master/pkg/schemas/expconf/profiling.go
  master/pkg/schemas/expconf/zgen_profiling_config_v0.go
  master/pkg/schemas/zgen_schemas.go
  schemas/expconf/v0/profiling.json
  schemas/test_cases/v0/experiment.yaml
Labels: cla-signed

#2905 chore: fix docstring syntax and remove extra whitespace
  .circleci/config.yml
  e2e_tests/tests/fixtures/mmdetection/fake_data.yaml
  e2e_tests/tests/fixtures/mmdetection/startup-hook.sh
  harness/determined/pytorch/_experimental.py
  model_hub/Makefile
  model_hub/docker/Dockerfile.mmdetection
  model_hub/examples/mmdetection/hydra/README.md
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
Labels: cla-signed

#2907 fix: pin version of `torchmetrics`
  docs/requirements.txt
Labels: cla-signed

#2908 ci: `using_k8s` should use `det master config -o json`.
  e2e_tests/tests/conftest.py
Labels: cla-signed

#2901 chore: remove old harness profiler
  harness/determined/layers/__init__.py
  harness/determined/layers/_harness_profiler.py
Labels: cla-signed

#2868 feat: add notebook idle timeout [DET-5517, DET-5519]
  master/internal/api_notebook.go
  master/pkg/etc/etc.go
  master/static/srv/check_idle.py
  master/static/srv/notebook-entrypoint.sh
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/notebook.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: Work in progress, cla-signed

#2787 feat: support configuring idle timeout for generic commands [DET-4589]
  docs/reference/api/command-notebook-config.txt
  docs/release-notes/2787-idle-timeout-config.txt
  master/internal/api_command.go
  master/internal/api_notebook.go
  master/internal/api_tensorboard.go
  master/internal/command/api.go
  master/internal/command/command.go
  master/internal/command/tensorboard_manager.go
  master/internal/config_test.go
  master/internal/core.go
  master/internal/provisioner/config.go
  master/internal/provisioner/config_test.go
  master/internal/provisioner/gcp_config.go
  master/internal/provisioner/gcp_config_test.go
  master/internal/provisioner/provisioner_test.go
  master/internal/task/idle_timeout.go
  master/internal/task/idle_timeout_test.go
  master/pkg/model/command_config.go
  master/pkg/model/duration.go
  master/pkg/tasks/task_command.go
  master/static/srv/check_idle.py
Labels: cla-signed, User-facing API Change

#2898 build: remove unneeded build-bindings dependencies
  .circleci/config.yml
Labels: cla-signed

#2917 docs: update idle timeout [DET-5906]
  docs/how-to/notebooks.txt
  docs/reference/api/command-notebook-config.txt
Labels: cla-signed

#2877 test: fix waiting on dropdown animation
  webui/tests/dev/main.spec
  webui/tests/tests/StepImplementation.ts
Labels: cla-signed

#2900 feat: add a `make devcluster` target
  Makefile
  requirements.txt
  tools/devcluster.yaml
Labels: cla-signed

#2914 chore: fix master/agent Docker image vulnerabilities [DET-5926]
  agent/Dockerfile
  master/Dockerfile
Labels: cla-signed

#2920 ci: restrict setuptools version.
  .circleci/config.yml
Labels: cla-signed

#2887 docs: update k8s version to 1.19 >= and <= 1.21
  docs/Makefile
  docs/how-to/installation/k8s-dev-guide.txt
  docs/how-to/installation/kubernetes.txt
  docs/how-to/installation/setup-aks-cluster.txt
  docs/how-to/installation/setup-eks-cluster.txt
  docs/how-to/installation/setup-gke-cluster.txt
  docs/reference/cluster/helm-config.txt
  docs/sphinx-wrapper.py
  helm/Makefile
  helm/charts/determined/Chart.yaml
Labels: cla-signed

#2894 fix: change "stop and save checkpoint" from checkbox to button [DET-5837]
  webui/react/src/components/StopExperimentModal.tsx
Labels: cla-signed

#2803 feat: Support passing an existing EFS to det deploy aws [DET-5737]
  docs/how-to/installation/aws.txt
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/constants.py
  harness/determined/deploy/aws/deployment_types/vpc.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/gcp/cli.py
Labels: cla-signed

#2922 ci: unpin pip version, improve py venv cache key.
  .circleci/config.yml
Labels: cla-signed

#2870 fix: make clear unauthorized vs. unauthenticated [DET-5869]
  e2e_tests/tests/test_users.py
  harness/determined/common/api/authentication.py
  harness/determined/common/api/errors.py
  harness/determined/common/api/request.py
  master/internal/user/service.go
Labels: cla-signed

#2925 fix: e2e nightly model-hub tests
  .circleci/config.yml
  e2e_tests/pytest.ini
  e2e_tests/tests/conftest.py
  e2e_tests/tests/model_hub/test_transformers.py
Labels: cla-signed

#2927 fix: kubernetes link with agent user [DET-5907]
  master/internal/kubernetes/spec.go
Labels: cla-signed

#2871 feat: trial log preview [DET-5882]
  docs/release-notes/2871-trial-log-preview-bar.txt
  webui/react/src/components/LogViewer.module.scss
  webui/react/src/components/LogViewer.tsx
  webui/react/src/components/LogViewerEntry.module.scss
  webui/react/src/components/LogViewerEntry.tsx
  webui/react/src/components/LogViewerLevel.tsx
  webui/react/src/components/LogViewerTimestamp.tsx
  webui/react/src/components/MonacoEditor.module.scss
  webui/react/src/components/MonacoEditor.tsx
  webui/react/src/components/NotebookModal.tsx
  webui/react/src/components/Page.module.scss
  webui/react/src/components/Page.tsx
  webui/react/src/components/Section.tsx
  webui/react/src/components/TrialLogPreview.module.scss
  webui/react/src/components/TrialLogPreview.tsx
  webui/react/src/hooks/useCreateExperimentModal.tsx
  webui/react/src/hooks/useSettings.ts
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentConfiguration.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentConfiguration.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentMultiTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/MasterLogs.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/TrialDetails/Header/TrialHeaderLeft.module.scss
  webui/react/src/pages/TrialDetails/TrialDetailsHyperparameters.module.scss
  webui/react/src/pages/TrialDetails/TrialDetailsHyperparameters.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.module.scss
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.module.scss
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsProfiles.module.scss
  webui/react/src/pages/TrialDetails/TrialDetailsProfiles.tsx
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.module.scss
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.tsx
  webui/react/src/styles/antd.scss
Labels: cla-signed

#2939 fix: correct the logic for hiding log preview for completed trials
  webui/react/src/components/TrialLogPreview.tsx
Labels: cla-signed

#2929 chore: add 1.17 golang build syntax
  agent/internal/fluent_intg_test.go
  agent/tools.go
  master/internal/command/command.go
  master/internal/elastic/elastic_intg_testutils.go
  master/test/integration/api/api_trials_test.go
  master/test/integration/api/main_test.go
  master/test/testutils/fixtures.go
  master/test/testutils/mocks.go
  master/tools.go
Labels: cla-signed

#2886 chore: add support for throughput profile chart [DET-5596, DET-5732, DET-5913, DET-5923]
  webui/react/src/components/Message.tsx
  webui/react/src/components/Section.module.scss
  webui/react/src/components/UPlotChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/ProfilesEnabled.module.scss
  webui/react/src/pages/TrialDetails/Profiles/ProfilesEnabled.tsx
  webui/react/src/pages/TrialDetails/Profiles/ProfilesFiltersProvider.settings.ts
  webui/react/src/pages/TrialDetails/Profiles/ProfilesFiltersProvider.tsx
  webui/react/src/pages/TrialDetails/Profiles/SystemMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/SystemMetricFilter.tsx
  webui/react/src/pages/TrialDetails/Profiles/TimingMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/types.ts
  webui/react/src/pages/TrialDetails/Profiles/useFetchAvailableSeries.ts
  webui/react/src/pages/TrialDetails/Profiles/useFetchMetrics.tsx
  webui/react/src/pages/TrialDetails/Profiles/utils.ts
  webui/react/src/pages/TrialDetails/TrialDetailsProfiles.module.scss
  webui/react/src/pages/TrialDetails/TrialDetailsProfiles.tsx
Labels: cla-signed

#2928 fix: make uPlot axis expand to show new data when not zoomed in [DET-5941]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/UPlotChart.tsx
Labels: cla-signed

#2949 chore: pin mockery version
  agent/go.sum
  master/Makefile
  master/go.mod
  master/go.sum
Labels: cla-signed

#2943 feat: add support for nan and infinity metrics [DET-5944]
  docs/release-notes/2943-nan-infinity-metrics.txt
  webui/react/src/components/CheckpointModal.tsx
  webui/react/src/components/ColorLegend.tsx
  webui/react/src/components/HpSelectFilter.tsx
  webui/react/src/components/HumanReadableNumber.stories.tsx
  webui/react/src/components/HumanReadableNumber.tsx
  webui/react/src/components/Table.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpTrialTable.tsx
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.tsx
  webui/react/src/utils/trial.ts
Labels: cla-signed

#2950 chore: update docs link in notebook webui modal
  webui/react/src/components/NotebookModal.tsx
Labels: cla-signed

#2933 fix: scroll trial ids with values in trial comparison [DET-5918]
  webui/react/src/components/SelectFilter.tsx
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.module.scss
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
Labels: cla-signed

#2954 chore: fix rstrip bug in refresh-ubuntu-amis
  tools/scripts/refresh-ubuntu-amis.py
Labels: cla-signed

#2916 fix: extraneous minio warning while using s3
  harness/determined/common/storage/s3.py
Labels: cla-signed

#2945 chore: fix a log message
  master/internal/command/command.go
Labels: cla-signed

#2953 fix: fork nested hp [DET-5945]
  docs/release-notes/2953-support-continue-trial-for-nested-hp-trials.txt
  webui/react/src/hooks/useCreateExperimentModal.tsx
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/utils/data.test.ts
  webui/react/src/utils/data.ts
  webui/react/src/utils/experiment.test.ts
  webui/react/src/utils/experiment.ts
  webui/react/src/utils/types.ts
Labels: cla-signed

#2955 chore: add documentation for model-hub mmdetection [DET-5924]
  .bumpversion.cfg
  .circleci/config.yml
  docs/model-hub/index.txt
  docs/model-hub/mmdetection/api.txt
  docs/model-hub/mmdetection/index.txt
  docs/requirements.txt
  e2e_tests/tests/fixtures/mmdetection/distributed_fake_data.yaml
  e2e_tests/tests/fixtures/mmdetection/fake_data.yaml
  e2e_tests/tests/model_hub/test_mmdetection.py
  e2e_tests/tests/requirements.txt
  examples/graphs/proteins_pytorch_geometric/model_def.py
  harness/determined/pytorch/_data.py
  harness/determined/pytorch/_pytorch_context.py
  model_hub/Makefile
  model_hub/examples/mmdetection/README.md
  model_hub/examples/mmdetection/fasterrcnn.png
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/hydra/configs/hyperparameters/base.yaml
  model_hub/examples/mmdetection/hydra/configs/hyperparameters/fp16.yaml
  model_hub/model_hub/huggingface/_trial.py
  model_hub/model_hub/mmdetection/_data.py
  model_hub/model_hub/mmdetection/_data_backends.py
  model_hub/model_hub/mmdetection/_trial.py
  model_hub/setup.py
  model_hub/tests/requirements.txt
Labels: cla-signed

#2903 chore: log warnings on critical failures
  master/internal/core.go
  master/internal/root.go
Labels: cla-signed

#2910 chore: rewrite primary resource allocation query over public.allocations [DET-5972]
  master/internal/task/allocation.go
  master/pkg/model/task.go
  master/static/migrations/20210903092940_add-allocation-columns.down.sql
  master/static/migrations/20210903092940_add-allocation-columns.up.sql
  master/static/migrations/20210913111416_backfill-last-day-of-allocations.down.sql
  master/static/migrations/20210913111416_backfill-last-day-of-allocations.up.sql
  master/static/srv/update_aggregated_allocation.sql
Labels: cla-signed

#2918 feat: add detectron2 example
  docs/examples.txt
  e2e_tests/tests/nightly/test_capability.py
  examples/computer_vision/detectron2_coco_pytorch/Base-RCNN-FPN.yaml
  examples/computer_vision/detectron2_coco_pytorch/README.md
  examples/computer_vision/detectron2_coco_pytorch/const.yaml
  examples/computer_vision/detectron2_coco_pytorch/const_fake.yaml
  examples/computer_vision/detectron2_coco_pytorch/detectron2_files/coco_evaluation.py
  examples/computer_vision/detectron2_coco_pytorch/detectron2_files/common.py
  examples/computer_vision/detectron2_coco_pytorch/detectron2_files/data.py
  examples/computer_vision/detectron2_coco_pytorch/detectron2_files/evaluator.py
  examples/computer_vision/detectron2_coco_pytorch/detectron2_files/panoptic_evaluation.py
  examples/computer_vision/detectron2_coco_pytorch/detectron2_files/samps.py
  examples/computer_vision/detectron2_coco_pytorch/detectron2_files/sem_seg_evaluation.py
  examples/computer_vision/detectron2_coco_pytorch/detectron2_files/utils.py
  examples/computer_vision/detectron2_coco_pytorch/distributed.yaml
  examples/computer_vision/detectron2_coco_pytorch/mask_rcnn_R_50_FPN_noaug_1x.yaml
  examples/computer_vision/detectron2_coco_pytorch/model_def.py
  examples/computer_vision/detectron2_coco_pytorch/startup-hook.sh
Labels: cla-signed

#2962 chore: rename download model button [DET-5920]
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
Labels: cla-signed

#2944 chore: remove trial details start time related stats boxes [DET-5956]
  docs/release-notes/2942-drop-start-time-stats-boxes.txt
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
  webui/react/src/utils/trial.ts
Labels: cla-signed

#2958 chore: add support for batch delete of experiments [DET-5224]
  docs/release-notes/2958-batch-experiment-delete.txt
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/utils/types.ts
Labels: cla-signed

#2942 fix: update logic on when query url should be overridden
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/hooks/useSettings.test.ts
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/hooks/useSettings.ts
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
Labels: cla-signed

#2963 refactor: move ee to oss [DET-5937]
  proto/src/determined/api/v1/master.proto
  webui/react/src/ee/SamlAuth.ts
  webui/react/src/ioTypes.ts
  webui/react/src/pages/SignIn.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#2967 chore: restore saml auth file to match ee version
  webui/react/src/ee/SamlAuth.ts
Labels: cla-signed

#2911 chore: update GET raw allocation to account for loss of workload information [DET-5973]
  master/internal/core.go
  master/static/srv/get_raw_allocation.sql
  proto/src/determined/api/v1/api.proto
Labels: cla-signed

#2972 chore: fix returning nil error
  master/internal/api_trials.go
Labels: cla-signed

#2948 chore: rework tensorboard and checkpoint gc paths
  harness/determined/exec/tensorboard.py
  master/internal/api_tensorboard.go
  master/pkg/tasks/task_gc.go
Labels: cla-signed

#2960 chore: add STEP_WITH_OPTIMIZER setting for lr scheduler
  harness/determined/pytorch/_lr_scheduler.py
  harness/determined/pytorch/_pytorch_trial.py
Labels: cla-signed, User-facing API Change

#2912 feat: remove start_time from all workload types [DET-5979]
  docs/release-notes/2912-drop-workload-start-time.txt
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/test_system.py
  harness/determined/cli/checkpoint.py
  harness/determined/cli/experiment.py
  harness/determined/cli/trial.py
  master/internal/api_trials.go
  master/internal/db/postgres.go
  master/internal/experiment.go
  master/internal/trial.go
  master/pkg/model/experiment.go
  master/pkg/searcher/asha.go
  master/pkg/searcher/asha_stopping.go
  master/pkg/searcher/grid.go
  master/pkg/searcher/pbt.go
  master/pkg/searcher/random.go
  master/pkg/searcher/search_method.go
  master/pkg/searcher/searcher.go
  master/pkg/searcher/tournament.go
  master/pkg/searcher/util_test.go
  master/pkg/workload/completed_message.go
  master/pkg/workload/completed_message_test.go
  master/pkg/workload/workload.go
  master/pkg/workload/workload_test.go
  master/static/migrations/20210917133742_drop-workload-start-time-and-id.down.sql
  master/static/migrations/20210917133742_drop-workload-start-time.up.sql
  master/static/srv/get_checkpoint.sql
  master/static/srv/get_checkpoints_for_experiment.sql
  master/static/srv/get_checkpoints_for_trial.sql
  master/static/srv/get_model_version.sql
  master/static/srv/get_model_versions.sql
  master/static/srv/get_trial.sql
  master/static/srv/get_trial_metrics.sql
  master/static/srv/proto_get_trial_workloads.sql
  master/static/srv/proto_get_trials_plus.sql
  proto/buf.image.bin
  proto/src/determined/checkpoint/v1/checkpoint.proto
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/components/CheckpointModal.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.stories.tsx
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.stories.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed, User-facing API Change

#2975 chore: remove start_time from get_checkpoints_for_trial
  master/static/srv/get_checkpoints_for_trial.sql
Labels: cla-signed

#2971 chore: remove -r option since default macos ln doesn't support it
  helm/Makefile
Labels: cla-signed

#2968 chore: fix doc build dependencies
  docs/conf.py
  docs/requirements.txt
Labels: cla-signed

#2977 feat: allow experiment owner to delete their own experiments [DET-5989]
  docs/release-notes/2977-owner-delete-experiments.txt
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentList.tsx
Labels: cla-signed

#2979 chore: popout new tab when clicking on task list links [DET-5998]
  docs/release-notes/2979-new-notebook-tabs.txt
  webui/react/src/components/Table.tsx
Labels: cla-signed

#2938 chore: unify task types [DET-5950, DET-5955]
  docs/release-notes/2938-improve-historical-resource-allocation.txt
  harness/determined/cli/command.py
  master/internal/api_notebook.go
  master/internal/api_shell.go
  master/internal/api_tensorboard.go
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/command/command_manager.go
  master/internal/command/events.go
  master/internal/command/notebook_manager.go
  master/internal/command/shell_manager.go
  master/internal/command/state.go
  master/internal/command/summary.go
  master/internal/command/tensorboard_manager.go
  master/internal/db/postgres.go
  master/internal/db/postgres_tasks.go
  master/internal/kubernetes/pod_test.go
  master/internal/resourcemanagers/fair_share.go
  master/internal/resourcemanagers/priority.go
  master/internal/resourcemanagers/priority_test.go
  master/internal/resourcemanagers/scheduler_test.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/task/allocation_test.go
  master/internal/task/errors.go
  master/internal/task/idle_timeout.go
  master/internal/task/idle_timeout_test.go
  master/internal/task/preemption.go
  master/internal/task/rendezvous.go
  master/internal/task/rendezvous_test.go
  master/internal/task/reservation_list.go
  master/internal/trial.go
  master/pkg/model/task.go
  master/pkg/tasks/task_command.go
  proto/src/determined/task/v1/task.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#2976 fix: make PIDServer send SIGKILL after waiting on SIGTERM
  harness/determined/ipc.py
Labels: cla-signed

#2773 feat: support configuring working directory for tasks [DET-5009]
  docs/reference/api/command-notebook-config.txt
  docs/release-notes/2773-work-dir.txt
  docs/topic-guides/commands-and-shells.txt
  master/internal/api_command.go
  master/internal/experiment.go
  master/internal/kubernetes/spec.go
  master/internal/restore.go
  master/internal/trial.go
  master/internal/trial_test.go
  master/pkg/model/command_config.go
  master/pkg/model/task_container_defaults.go
  master/pkg/tasks/mounts.go
  master/pkg/tasks/task.go
  master/pkg/tasks/task_command.go
  master/pkg/tasks/task_gc.go
  master/pkg/tasks/task_trial.go
  schemas/README.md
Labels: cla-signed, User-facing API Change

#2984 chore: confirm with users when running det deploy aws down [DET-6000]
  .circleci/config.yml
  harness/determined/deploy/aws/cli.py
Labels: cla-signed

#2957 fix: implement boto3 wrapper to allow refreshable credentials [DET-5690]
  harness/determined/common/storage/boto3_credential_manager.py
  harness/determined/common/storage/s3.py
Labels: cla-signed

#2985 chore: update notebook README [DET-6001]
  master/internal/api_notebook.go
  master/static/srv/notebook-template.ipynb
Labels: cla-signed, Blocking Release

#2989 fix: address CVEs in agent & master docker images.
  agent/Dockerfile
  master/Dockerfile
Labels: cla-signed

#2915 fix: add support for float16 metrics serialization
  harness/determined/util.py
Labels: cla-signed

#2983 fix: update detectron2 e2e tests
  examples/computer_vision/detectron2_coco_pytorch/const.yaml
  examples/computer_vision/detectron2_coco_pytorch/const_fake.yaml
  examples/computer_vision/detectron2_coco_pytorch/detectron2_files/coco_evaluation.py
  examples/computer_vision/detectron2_coco_pytorch/detectron2_files/evaluator.py
  examples/computer_vision/detectron2_coco_pytorch/detectron2_files/utils.py
  examples/computer_vision/detectron2_coco_pytorch/distributed.yaml
  examples/computer_vision/detectron2_coco_pytorch/metrics_by_time.png
  examples/computer_vision/detectron2_coco_pytorch/model_def.py
  examples/computer_vision/detectron2_coco_pytorch/startup-hook.sh
Labels: cla-signed

#2990 fix: tell mypy to ignore azure
  cli/mypy.ini
  common/mypy.ini
  deploy/mypy.ini
  e2e_tests/mypy.ini
  harness/mypy.ini
  model_hub/mypy.ini
Labels: cla-signed

#2932 feat: det deploy local: remove support for --auto-bind-mount [DET-5948]
  docs/release-notes/2932-auto-bind-mount.txt
  harness/determined/deploy/local/cli.py
  harness/determined/deploy/local/cluster_utils.py
  harness/determined/deploy/local/docker-compose.yaml
  harness/determined/deploy/local/mount.yaml
  harness/determined/deploy/local/storage.yaml
  master/cmd/determined-master/init.go
  master/cmd/determined-master/root.go
Labels: cla-signed, Blocking Release, User-facing API Change

#2994 fix: always `helm push` latest version
  helm/Makefile
Labels: cla-signed

#2993 chore: fix nil deref in idle timeout
  master/internal/task/idle_timeout.go
Labels: cla-signed

#2997 chore: rename trial job type to experiment
  master/pkg/model/task.go
Labels: cla-signed

#2998 fix: notebook wait page updates for API changes
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  webui/react/src/pages/Wait.tsx
Labels: cla-signed

#2995 fix: det e describe
  harness/determined/cli/experiment.py
  master/internal/db/postgres.go
Labels: cla-signed

#3004 fix: bug in notebook README
  master/internal/api_notebook.go
  master/static/srv/notebook-template.ipynb
Labels: cla-signed

#3002 fix: `det t describe --metrics` API and rendering [DET-6025]
  harness/determined/cli/checkpoint.py
  master/static/srv/get_trial_metrics.sql
Labels: cla-signed

#3001 fix: kill trial should send kill [DET-6026]
  master/internal/api_trials.go
Labels: cla-signed

#3005 fix: Inline editor for experiment description truncates placeholder text [DET-6024]
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
Labels: cla-signed

#2996 chore: add back some timings that are still valid without a sync
  harness/determined/profiler.py
  harness/determined/pytorch/_pytorch_trial.py
Labels: cla-signed

#3003 chore: nit command exit message placeholder
  master/internal/task/allocation.go
  master/internal/trial.go
Labels: cla-signed

#3009 chore: minor copy fix
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
Labels: cla-signed

#2981 feat: add CPU images for TF 2.5 and 2.6 [DET-5877]
  .circleci/config.yml
  docs/faq.txt
  docs/how-to/custom-env.txt
  docs/how-to/installation/gcp.txt
  docs/how-to/tensorboard.txt
  docs/reference/api/command-notebook-config.txt
  docs/reference/api/experiment-config.txt
  docs/reference/cluster/cluster-config.txt
  docs/reference/cluster/helm-config.txt
  docs/release-notes/2981-env-images.txt
  docs/release-notes/2981-tf-cpu-25-26.txt
  docs/tutorials/quick-start.txt
  e2e_tests/pytest.ini
  e2e_tests/tests/command/test_tensorboard.py
  e2e_tests/tests/config.py
  e2e_tests/tests/conftest.py
  e2e_tests/tests/experiment/test_tf_estimator.py
  e2e_tests/tests/experiment/test_tf_keras.py
  e2e_tests/tests/fixtures/pytorch_lightning_amp/apex_amp.yaml
  e2e_tests/tests/fixtures/pytorch_lightning_amp/auto_amp.yaml
  examples/computer_vision/efficientdet_pytorch/const.yaml
  examples/computer_vision/efficientdet_pytorch/const_fake.yaml
  examples/computer_vision/mnist_pl/adaptive.yaml
  examples/computer_vision/mnist_pl/const.yaml
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/decision_trees/gbt_titanic_estimator/adaptive.yaml
  examples/decision_trees/gbt_titanic_estimator/const.yaml
  examples/gan/dcgan_tf_keras/const.yaml
  examples/gan/dcgan_tf_keras/distributed.yaml
  examples/gan/gan_mnist_pl/adaptive.yaml
  examples/gan/gan_mnist_pl/const.yaml
  examples/gan/gan_mnist_pl/distributed.yaml
  examples/tests/requirements.txt
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/aws/templates/vpc.yaml
  harness/determined/deploy/gcp/constants.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/keras/_tf_keras_trial.py
  helm/charts/determined/templates/master-config.yaml
  master/internal/provisioner/aws_config.go
  master/internal/provisioner/gcp_config.go
  master/pkg/model/defaults.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/update-bumpenvs-yaml.py
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: cla-signed

#2991 chore: recover agent websocket flakes [DET-5935]
  agent/internal/agent.go
  master/internal/agent/agent.go
  master/internal/agent/agents.go
  master/pkg/actor/api/ws.go
  master/pkg/agent/agent_message.go
Labels: cla-signed

#2982 chore: update package json [DET-5846]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ResponsiveTable.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/styles/antd.scss
  webui/tests/tests/StepImplementation.ts
Labels: cla-signed

#3011 chore: menu items require keys for newer antd versions (4.x+)
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTopbar.tsx
Labels: cla-signed

#3010 fix: notebook idle check use master port, cert [DET-6013]
  master/static/srv/check_idle.py
Labels: cla-signed

#3013 chore: clean notebook readme
  master/static/srv/notebook-template.ipynb
Labels: cla-signed

#2992 chore: handle query param jwt for external auth
  webui/react/src/App.tsx
  webui/react/src/hooks/useAuthCheck.ts
  webui/react/src/pages/SignIn.tsx
  webui/react/src/pages/SignOut.tsx
  webui/react/src/routes/utils.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/utils.ts
  webui/react/src/types.ts
Labels: cla-signed

#3014 refactor: move app queries and migrations out of `internal/db/postgres`.
  master/internal/db/migrations.go
  master/internal/db/postgres.go
  master/internal/db/postgres_cluster.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_users.go
Labels: cla-signed

#2956 feat: allow kubernetes to use priority from exp config
  docs/topic-guides/system-concepts/scheduling.txt
  helm/charts/determined/Chart.yaml
  helm/charts/determined/templates/master-permissions.yaml
  helm/charts/determined/templates/priority-classes.yaml
  master/internal/kubernetes/pods.go
  master/internal/kubernetes/spec.go
Labels: cla-signed

#3007 fix: disable load_fast flag in tensorboard 2.6
  harness/determined/exec/tensorboard.py
Labels: cla-signed

#3012 fix: propagate podspec to gc
  master/pkg/schemas/expconf/experiment_config.go
  master/pkg/schemas/expconf/legacy.go
  master/pkg/schemas/expconf/legacy_test.go
  master/pkg/tasks/task_gc.go
Labels: cla-signed

#2935 chore: lower e2e-webui resource class
  .circleci/config.yml
Labels: cla-signed

#3015 chore: upgrade to Go 1.17
  .circleci/config.yml
  CONTRIBUTING.md
  agent/go.mod
  master/go.mod
Labels: cla-signed

#3008 test: fix flake from race idle watcher tests
  master/internal/task/idle_timeout_test.go
Labels: cla-signed

#3021 fix: fix nested hparams with grid [DET-6045]
  master/pkg/searcher/grid.go
  master/pkg/searcher/grid_test.go
Labels: cla-signed

#3024 docs: add release notes for 0.17.0
  docs/release-notes.txt
  docs/release-notes/2766-det-deploy-templates.txt
  docs/release-notes/2773-work-dir.txt
  docs/release-notes/2787-idle-timeout-config.txt
  docs/release-notes/2792-model-hub-mmdetection.txt
  docs/release-notes/2871-trial-log-preview-bar.txt
  docs/release-notes/2884-int-maxval.txt
  docs/release-notes/2912-drop-workload-start-time.txt
  docs/release-notes/2932-auto-bind-mount.txt
  docs/release-notes/2938-improve-historical-resource-allocation.txt
  docs/release-notes/2942-drop-start-time-stats-boxes.txt
  docs/release-notes/2943-nan-infinity-metrics.txt
  docs/release-notes/2953-support-continue-trial-for-nested-hp-trials.txt
  docs/release-notes/2958-batch-experiment-delete.txt
  docs/release-notes/2977-owner-delete-experiments.txt
  docs/release-notes/2979-new-notebook-tabs.txt
  docs/release-notes/2981-env-images.txt
  docs/release-notes/2981-tf-cpu-25-26.txt
Labels: cla-signed

#3027 chore: update release note guidelines
  docs/release-notes/README.md
Labels: cla-signed

#3028 chore: prefer https to ssh for git dependency
  webui/react/package-lock.json
Labels: cla-signed

#2828 feat: cross-compile for powerpc64
  agent/.goreleaser.yml
  master/.goreleaser.yml
  master/packaging/fetch-cloud-forest.sh
Labels: cla-signed
