Repository determined-ai/determined, pull requests merged in 2021-02, with the labels that each got.

#1897 feat: show resource pools without connected agents [DET-4924]
  webui/react/src/pages/Cluster.tsx
Labels: cla-signed

#1792 fix: migrate trial_id to bigint
  docs/release-notes/1792-migrate-trial-logs-id.txt
  master/static/migrations/20210201135406_migrate-trial-logs-id-to-bigint.down.sql
  master/static/migrations/20210201135406_migrate-trial-logs-id-to-bigint.up.sql
Labels: cla-signed

#1896 feat: save user preference for cluster view [DET-4926]
  webui/react/src/pages/Cluster.tsx
Labels: cla-signed

#1901 revert: "fix: migrate trial log ID to bigint (#1792)"
  docs/release-notes/1792-migrate-trial-logs-id.txt
  master/static/migrations/20210201135406_migrate-trial-logs-id-to-bigint.down.sql
  master/static/migrations/20210201135406_migrate-trial-logs-id-to-bigint.up.sql
Labels: cla-signed

#1902 revert: "Revert "fix: migrate trial log ID to bigint (#1792)" (#1901)"
  docs/release-notes/1792-migrate-trial-logs-id.txt
  master/static/migrations/20210201135406_migrate-trial-logs-id-to-bigint.down.sql
  master/static/migrations/20210201135406_migrate-trial-logs-id-to-bigint.up.sql
Labels: cla-signed

#1898 chore: reword resource pool ui presentation [DET-4925]
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/pages/Cluster.table.tsx
  webui/react/src/pages/Cluster.tsx
  webui/tests/specs/02-cluster.spec
  webui/tests/tests/StepImplementation.ts
Labels: cla-signed

#1895 docs: add model debug doc
  docs/faq.txt
  docs/how-to/custom-env.txt
  docs/how-to/index.txt
  docs/how-to/model-debug.txt
  docs/reference/api/estimator.txt
  docs/reference/api/keras.txt
  docs/reference/api/pytorch.txt
  docs/release-notes/1895-model-debug-doc.txt
  docs/requirements.txt
  docs/topic-guides/model-definitions/best-practices.txt
  docs/topic-guides/model-definitions/trial-api.txt
Labels: cla-signed, documentation

#1859 chore: let CLI verify the master using combined system/custom certs [DET-4666]
  common/determined_common/api/request.py
  common/tests/test_tls.py
  common/tests/untrusted-root.badssl.com.crt
Labels: cla-signed

#1913 chore: Bump images and versions to Tensorflow 2.4.1
  .circleci/config.yml
  deploy/determined_deploy/aws/templates/efs.yaml
  deploy/determined_deploy/aws/templates/fsx.yaml
  deploy/determined_deploy/aws/templates/secure.yaml
  deploy/determined_deploy/aws/templates/simple.yaml
  deploy/determined_deploy/aws/templates/vpc.yaml
  deploy/determined_deploy/gcp/constants.py
  docs/release-notes/1851-framework-upgrades.txt
  e2e_tests/tests/config.py
  e2e_tests/tests/requirements.txt
  examples/gan/dcgan_tf_keras/const.yaml
  examples/gan/dcgan_tf_keras/distributed.yaml
  harness/setup.py
  master/internal/provisioner/aws_config.go
  master/internal/provisioner/gcp_config.go
  master/pkg/model/defaults.go
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: cla-signed

#1899 feat: support more fields to sortBy in /api/v1/experiments/trials [DET-4219, DET-4920]
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/db/postgres.go
  master/internal/db/postgres_proto.go
  master/static/migrations/20210202051432_add-trial-best-val-column.down.sql
  master/static/migrations/20210202051432_add-trial-best-val-column.up.sql
  master/static/srv/get_experiments.sql
  master/static/srv/proto_get_trial_ids_for_experiment.sql
  master/static/srv/proto_get_trials_for_experiment.sql
  master/static/srv/proto_get_trials_plus.sql
  proto/src/determined/api/v1/trial.proto
Labels: cla-signed

#1876 fix: add non-scalar metric expectation to protobufs [DET-4893] [DET-4911]
  docs/release-notes/1876-unexpected-non-scalar-metrics.txt
  master/test/integration/api/api_trials_test.go
  master/test/testutils/mocks.go
  proto/buf.image.bin
  proto/src/determined/checkpoint/v1/checkpoint.proto
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/decoder.ts
Labels: User-facing API Change, cla-signed

#1915 fix: fix best and latest metric sort bys for `/api/v1/experiments/$ID/trials`
  master/internal/api_trials.go
  master/static/srv/proto_get_trial_ids_for_experiment.sql
  proto/src/determined/api/v1/trial.proto
Labels: cla-signed

#1912 fix: buffer the trial log in the correct order [DET-4931]
  docs/release-notes/1912-fix-trial-log-order.txt
  webui/react/src/components/LogViewerTimestamp.tsx
Labels: cla-signed

#1908 chore: remove docs for deprecated API
  docs/topic-guides/model-definitions/trial-api.txt
Labels: cla-signed, documentation

#1910 refactor: update active experiments [DET-4915]
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/contexts/ActiveExperiments.tsx
  webui/react/src/contexts/AppContexts.tsx
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/types.ts
Labels: cla-signed

#1906 feat: support resource pools in det-deploy local agent-up [DET-4938]
  deploy/determined_deploy/local/cli.py
  deploy/determined_deploy/local/cluster_utils.py
  docs/how-to/installation/deploy.txt
Labels: cla-signed

#1917 docs: clean up resource pool docs and add release notes
  docs/faq.txt
  docs/how-to/installation/aws.txt
  docs/reference/cluster-config.txt
  docs/release-notes/1846-resource-pools.txt
  docs/topic-guides/index.txt
  docs/topic-guides/system-concepts/resource-pool.txt
Labels: cla-signed

#1911 fix: fix a utilization calculation error in hgi resource bar for cpu slots [DET-4913]
  webui/react/src/components/ResourcePoolCard.stories.tsx
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/components/SlotAllocationBar.stories.tsx
  webui/react/src/components/SlotAllocationBar.tsx
  webui/react/src/pages/Cluster.tsx
  webui/react/src/utils/cluster.ts
Labels: cla-signed

#1918 fix: typos in model debugging doc
  docs/how-to/model-debug.txt
Labels: cla-signed

#1919 docs: fix incorrect reference in docs
  docs/how-to/installation/deploy.txt
Labels: cla-signed

#1920 style: change notebook create icon [DET-4965]
  webui/react/public/fonts/determined-ai.svg
  webui/react/public/fonts/determined-ai.ttf
  webui/react/public/fonts/determined-ai.woff
  webui/react/public/fonts/determined-ai.woff2
  webui/react/src/components/Navigation.tsx
  webui/react/src/styles/icons.scss
Labels: cla-signed

#1922 fix: correct cancel confirm button label to confirm [DET-4966]
  docs/release-notes/1922-fix-cancel-confirm-button-label.txt
  webui/react/src/pages/ExperimentList.tsx
Labels: cla-signed

#1892 refactor: paginate experiment trials [DET-4900, DET-4921, DET-4922]
  docs/release-notes/1892-fix-experiment-trials-sorting.txt
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentActions.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentOverview.table.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentOverview.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/services/utils.ts
  webui/react/src/types.ts
Labels: cla-signed

#1921 fix: add default query limit and add missing sort by state [DET-4919]
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/static/migrations/20210203150406_change-limit-behavior.down.sql
  master/static/migrations/20210203150406_change-limit-behavior.up.sql
  webui/react/src/contexts/AppContexts.tsx
Labels: cla-signed

#1924 fix: correct the comparison function when numbers are fractions [DET-4969]
  docs/release-notes/1924-fix-numeric-sorter.txt
  webui/react/src/utils/data.test.ts
  webui/react/src/utils/data.ts
Labels: cla-signed

#1893 test: webui e2e test improvements [DET-4912]
  webui/tests/bin/e2e-tests.py
  webui/tests/package-lock.json
  webui/tests/package.json
  webui/tests/test-cluster/master.yaml
  webui/tests/tests/StepImplementation.ts
Labels: cla-signed

#1929 docs: clarification instructions for TF 1.15 eager mode
  harness/determined/keras/_tf_keras_trial.py
Labels: cla-signed

#1923 fix: remove clickable style from trial info table [DET-4967]
  webui/react/src/pages/TrialDetails.tsx
Labels: cla-signed

#1926 chore: improve resource pool details presentation [DET-4968]
  webui/react/src/components/ResourcePoolDetails.module.scss
  webui/react/src/components/ResourcePoolDetails.stories.tsx
  webui/react/src/components/ResourcePoolDetails.tsx
  webui/react/src/fixtures/responses/resource-pools/a.json
Labels: cla-signed

#1925 docs: edit model debug doc
  docs/how-to/model-debug.txt
Labels: cla-signed

#1936 chore: revert default images and framework versions
  .circleci/config.yml
  deploy/determined_deploy/aws/templates/efs.yaml
  deploy/determined_deploy/aws/templates/fsx.yaml
  deploy/determined_deploy/aws/templates/secure.yaml
  deploy/determined_deploy/aws/templates/simple.yaml
  deploy/determined_deploy/aws/templates/vpc.yaml
  deploy/determined_deploy/gcp/constants.py
  docs/faq.txt
  docs/how-to/custom-env.txt
  docs/reference/cluster-config.txt
  docs/reference/command-notebook-config.txt
  docs/reference/experiment-config.txt
  docs/reference/helm-config.txt
  docs/release-notes/1851-framework-upgrades.txt
  docs/tutorials/quick-start.txt
  e2e_tests/tests/config.py
  e2e_tests/tests/requirements.txt
  examples/decision_trees/gbt_titanic_estimator/adaptive.yaml
  examples/decision_trees/gbt_titanic_estimator/const.yaml
  examples/gan/dcgan_tf_keras/const.yaml
  examples/gan/dcgan_tf_keras/distributed.yaml
  examples/tests/requirements.txt
  harness/Makefile
  harness/determined/estimator/_estimator_trial.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/pytorch/_data.py
  harness/determined/pytorch/_lr_scheduler.py
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/setup.py
  harness/tests/experiment/keras/test_tf_keras_trial.py
  master/internal/provisioner/aws_config.go
  master/internal/provisioner/gcp_config.go
  master/pkg/model/defaults.go
  tools/scripts/bumpenvs.yaml
  tools/scripts/update-bumpenvs-yaml.py
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: cla-signed

#1935 refactor: array prototype [DET-4976]
  webui/react/src/components/LogViewer.tsx
  webui/react/src/components/LogViewerTimestamp.tsx
  webui/react/src/components/ResourcePoolCard.stories.tsx
  webui/react/src/components/ResourcePoolDetails.stories.tsx
  webui/react/src/index.tsx
  webui/react/src/pages/MasterLogs.tsx
  webui/react/src/pages/TaskLogs.tsx
  webui/react/src/prototypes.ts
  webui/react/src/react-app-env.d.ts
  webui/react/src/services/decoder.test.ts
  webui/react/src/utils/data.ts
  webui/react/src/utils/task.ts
Labels: cla-signed

#1900 chore: migrate webui tasks api endpoint [DET-4018]
  proto/src/determined/api/v1/tensorboard.proto
  proto/src/determined/command/v1/command.proto
  proto/src/determined/container/v1/container.proto
  proto/src/determined/notebook/v1/notebook.proto
  proto/src/determined/shell/v1/shell.proto
  proto/src/determined/tensorboard/v1/tensorboard.proto
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/contexts/AppContexts.tsx
  webui/react/src/contexts/Commands.tsx
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentActions.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/pages/TrialDetails/TrialActions.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
  webui/react/src/utils/types.ts
Labels: cla-signed

#1932 fix: show zero value metrics [DET-4686]
  webui/react/src/components/HumanReadableFloat.tsx
  webui/react/src/pages/TrialDetails.tsx
Labels: cla-signed

#1933 chore: remove remaining unused step iotypes
  webui/react/src/ioTypes.ts
Labels: cla-signed

#1916 test: fix resourcepoolcard story not rendering [DET-4964]
  webui/react/src/components/ResourcePoolCard.stories.tsx
  webui/react/src/services/api.ts
Labels: cla-signed

#1934 chore: single batch evaluation for local test mode [DET-2931]
  docs/release-notes/1934-improve-test-mode.txt
  harness/determined/_env_context.py
  harness/determined/_execution.py
  harness/determined/_train_context.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/experimental/_native.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/pytorch/_pytorch_trial.py
Labels: cla-signed

#1905 ci: limit concurrent deploys from master
  .circleci/config.yml
Labels: cla-signed

#1930 fix: always deallocate resources if a task actor fail [DET-4973]
  master/internal/agent/slot.go
  master/internal/agent/slots.go
  master/internal/resourcemanagers/agent.go
  master/internal/resourcemanagers/priority_test.go
  master/internal/resourcemanagers/resource_pool.go
  master/internal/sproto/agent_resource_manager.go
Labels: cla-signed

#1927 docs: Release notes for 0.14.0.
  docs/release-notes.txt
  docs/release-notes/1846-resource-pools.txt
  docs/release-notes/1892-fix-experiment-trials-sorting.txt
  docs/release-notes/1912-fix-trial-log-order.txt
  docs/release-notes/1922-fix-cancel-confirm-button-label.txt
  docs/release-notes/1924-fix-numeric-sorter.txt
Labels: cla-signed

#1878 feat: parallel coord plot [DET-4450, DET-4928, DET-4978]
  docs/release-notes/1878-parallel-coord-plot.txt
  proto/src/determined/api/v1/experiment.proto
  webui/react/config-overrides.js
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/App.test.tsx
  webui/react/src/Plotly.tsx
  webui/react/src/components/LearningCurveChart.module.scss
  webui/react/src/components/MetricChart.tsx
  webui/react/src/components/ParallelCoordinates.tsx
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/ioTypes.ts
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentChart.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/services/decoder.test.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
  webui/react/src/utils/chart.ts
  webui/react/src/utils/data.ts
  webui/react/src/utils/types.ts
Labels: cla-signed

#1942 fix: add backwards compatability for logs before 0.13.8
  docs/release-notes/1942-fix-pre-0-13-8-logs.txt
  master/internal/db/postgres_trial_logs.go
Labels: cla-signed

#1944 fix: make trial log timestamp filters backwards compatible
  master/internal/db/postgres_filters.go
  master/internal/db/postgres_trial_logs.go
Labels: cla-signed

#1749 refactor: reduce code duplication across task types
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/kubernetes/pod.go
  master/internal/kubernetes/pod_test.go
  master/internal/kubernetes/spec.go
  master/internal/trial.go
  master/pkg/model/environment_config.go
  master/pkg/tasks/ports.go
  master/pkg/tasks/task.go
  master/pkg/tasks/task_spec.go
Labels: cla-signed

#1938 ci: don't upload cloudwatch to s3
  .circleci/config.yml
  .circleci/scripts/upload_cloud_watch_to_s3.py
Labels: cla-signed

#1890 refactor: replace step IDs with total batch in the DB
  common/determined_common/experimental/experiment.py
  e2e_tests/tests/test_system.py
  master/internal/db/postgres.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_proto.go
  master/internal/experiment_utils.go
  master/internal/trial.go
  master/internal/trial_workload_sequencer.go
  master/internal/trial_workload_sequencer_test.go
  master/pkg/model/experiment.go
  master/pkg/workload/workload.go
  master/pkg/workload/workload_test.go
  master/static/migrations/20210208000000_add-total-batch.down.sql
  master/static/migrations/20210208000000_add-total_batch.up.sql
  master/static/srv/get_checkpoint.sql
  master/static/srv/get_checkpoints_for_experiment.sql
  master/static/srv/get_checkpoints_for_trial.sql
  master/static/srv/get_model_version.sql
  master/static/srv/get_model_versions.sql
  master/static/srv/get_trial.sql
  master/static/srv/get_trial_metrics.sql
  master/static/srv/proto_get_trial_ids_for_experiment.sql
  master/static/srv/proto_get_trial_workloads.sql
  master/static/srv/proto_get_trials_plus.sql
  master/test/integration/api/api_trials_test.go
Labels: cla-signed

#1947 chore: fix error on empty metric in metric-snapshot endpoint [DET-4923]
  master/internal/db/postgres_experiments.go
Labels: cla-signed

#1945 build: separate out docs pre-publish step [DET-4982]
  docs/Makefile
Labels: cla-signed

#1948 feat: allow retaining CloudWatch log groups of det-deploy clusters
  deploy/determined_deploy/aws/cli.py
  deploy/determined_deploy/aws/constants.py
  deploy/determined_deploy/aws/deployment_types/secure.py
  deploy/determined_deploy/aws/deployment_types/simple.py
  deploy/determined_deploy/aws/deployment_types/vpc.py
  deploy/determined_deploy/aws/templates/efs.yaml
  deploy/determined_deploy/aws/templates/fsx.yaml
  deploy/determined_deploy/aws/templates/secure.yaml
  deploy/determined_deploy/aws/templates/simple.yaml
  deploy/determined_deploy/aws/templates/vpc.yaml
Labels: cla-signed

#1950 chore: remove max agents count in resource pool card's header
  webui/react/src/components/ResourcePoolCard.tsx
Labels: cla-signed

#1953 ci: set a CI-specific prefix for and retain CloudWatch log groups
  .circleci/config.yml
  deploy/determined_deploy/aws/templates/simple.yaml
Labels: cla-signed

#1954 ci: fix retention of CloudWatch logs for deploy clusters
  .circleci/config.yml
Labels: cla-signed

#1943 chore: migrate webui launch notebook api [DET-4821]
  proto/src/determined/api/v1/notebook.proto
  webui/react/src/ioTypes.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/utils/task.ts
Labels: cla-signed

#1960 chore: remove lunch-and-learn notice, tweak docs
  README.md
  docs/index.txt
Labels: cla-signed

#1949 chore: check for closed connections before sending [DET-4829]
  CODEOWNERS
  master/internal/api/logs.go
  master/internal/api_auth.go
  master/internal/api_command.go
  master/internal/api_experiment.go
  master/internal/api_master.go
  master/internal/api_notebook.go
  master/internal/api_trials.go
  master/internal/api_user.go
  master/internal/core.go
  master/internal/grpcutil/api.go
  master/internal/grpcutil/auth.go
  master/internal/grpcutil/errors.go
  master/internal/grpcutil/logging.go
  master/internal/grpcutil/validate.go
Labels: cla-signed

#1961 chore: commit make -C schemas fmt
  master/pkg/schemas/schema_gen.go
  schemas/expconf/v0/test-root.json
  schemas/expconf/v0/test-sub.json
  schemas/expconf/v0/test-union-a.json
  schemas/expconf/v0/test-union-b.json
Labels: cla-signed

#1962 fix: add missing comment on exported function
  master/internal/grpcutil/errors.go
Labels: cla-signed

#1940 chore: fix code quality issues
  common/determined_common/api/request.py
  examples/computer_vision/mmdetection_pytorch/configs/foveabox/fovea_r50_fpn_4x4_1x_coco.py
  harness/determined/estimator/_reducer.py
  harness/tests/experiment/utils.py
Labels: cla-signed

#1951 chore: refactor trial logs CLI code and remove old api endpoints
  cli/determined_cli/trial.py
  common/determined_common/api/__init__.py
  common/determined_common/api/experiment.py
  e2e_tests/tests/experiment/experiment.py
  master/internal/core.go
  master/internal/core_trial.go
  master/internal/db/postgres.go
  master/pkg/model/log.go
  master/static/srv/get_logs.sql
  master/static/srv/get_logs_limit.sql
  master/static/srv/get_logs_offset_limit.sql
Labels: cla-signed

#1963 ci: lint schemas during ci
  .circleci/config.yml
Labels: cla-signed

#1955 docs: add DGX instructions for determined-deploy
  docs/how-to/installation/deploy.txt
Labels: cla-signed

#1964 chore: commit generated python schemas
  common/.gitignore
  common/Makefile
  common/determined_common/schemas/expconf/_gen.py
Labels: cla-signed

#1967 chore: stop hardcoding python3.6 [DET-4929] [DET-4539]
  .circleci/config.yml
  CONTRIBUTING.md
  docs/how-to/custom-env.txt
  docs/how-to/installation/upgrades-troubleshoot.txt
  docs/how-to/notebooks.txt
  docs/release-notes/1967-python3-and-startup-hooks.txt
  e2e_tests/tests/command/test_notebook.py
  e2e_tests/tests/fixtures/dockerfiles/py3.6-custom-workdir.Dockerfile
  e2e_tests/tests/fixtures/dockerfiles/py3.6-jupyter-tf1.13.2.Dockerfile
  e2e_tests/tests/fixtures/dockerfiles/py3.6-tf1.13.Dockerfile
  e2e_tests/tests/fixtures/dockerfiles/py3.6-torch1.2.Dockerfile
  master/static/srv/entrypoint.sh
  master/static/srv/gc-checkpoints-entrypoint.sh
  master/static/srv/notebook-entrypoint.sh
  master/static/srv/shell-entrypoint.sh
  master/static/srv/tensorboard-entrypoint.sh
Labels: cla-signed

#1970 fix: restore trials with operations intact to avoid unintended behavior [DET-4994]
  master/internal/experiment.go
  master/internal/restore.go
  master/internal/trial.go
  master/internal/trial_workload_sequencer.go
  master/internal/trial_workload_sequencer_test.go
Labels: cla-signed

#1971 chore: update documentation for new images [DET-4998]
  docs/how-to/custom-env.txt
  docs/release-notes/1971-new-environment-images.txt
Labels: cla-signed

#1958 fix: add state to task endpoints [DET-4987]
  master/internal/command/command.go
  master/internal/command/state.go
  master/internal/command/summary.go
  master/pkg/container/state.go
  proto/src/determined/api/v1/task.proto
  proto/src/determined/command/v1/command.proto
  proto/src/determined/notebook/v1/notebook.proto
  proto/src/determined/shell/v1/shell.proto
  proto/src/determined/task/v1/task.proto
  proto/src/determined/tensorboard/v1/tensorboard.proto
Labels: cla-signed

#1975 chore: fix squad example README links
  examples/nlp/albert_squad_pytorch/README.md
  examples/nlp/bert_squad_pytorch/README.md
Labels: cla-signed

#1941 ci: deploy NGC images as part of release [DET-4910]
  .circleci/config.yml
  agent/.goreleaser.yml
  docs/faq.txt
  docs/how-to/installation/kubernetes.txt
  helm/Makefile
  helm/charts/determined/Chart.yaml
  helm/charts/determined/templates/change-password.yaml
  helm/charts/determined/templates/master-deployment.yaml
  helm/charts/determined/values.yaml
  master/.goreleaser.yml
Labels: cla-signed

#1976 fix: helm chart template dashes
  helm/charts/determined/templates/master-deployment.yaml
Labels: cla-signed

#1980 fix: fix quoted string bugs for non-simple AWS deployments [DET-5001]
  deploy/determined_deploy/aws/cli.py
  deploy/determined_deploy/aws/templates/efs.yaml
  deploy/determined_deploy/aws/templates/fsx.yaml
  deploy/determined_deploy/aws/templates/secure.yaml
  deploy/determined_deploy/aws/templates/vpc.yaml
Labels: cla-signed

#1979 fix: k8s resource pool API response should not have nil field [DET-4989]
  docs/release-notes/1979-k8s-cluster-page.txt
  master/internal/resourcemanagers/kubernetes_resource_manager.go
Labels: cla-signed

#1978 chore: check if experiment exists in /api/v1/experiments/:id/trials
  master/internal/api_trials.go
Labels: cla-signed

#1981 fix: fix notebook state stuck in pending [DET-4988]
  proto/src/determined/command/v1/command.proto
  proto/src/determined/notebook/v1/notebook.proto
  proto/src/determined/shell/v1/shell.proto
  proto/src/determined/tensorboard/v1/tensorboard.proto
  webui/react/src/services/decoder.ts
Labels: cla-signed

#1982 chore: remove parcoords temporarily [DET-5002]
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
Labels: cla-signed

#1983 docs: Release notes for 0.14.2.
  docs/release-notes.txt
  docs/release-notes/1878-parallel-coord-plot.txt
  docs/release-notes/1934-improve-test-mode.txt
  docs/release-notes/1967-python3-and-startup-hooks.txt
  docs/release-notes/1971-new-environment-images.txt
  docs/release-notes/1979-k8s-cluster-page.txt
Labels: cla-signed

#1875 feat: HP constraints harness exception handling [DET-4867]
  harness/determined/__init__.py
  harness/determined/_execution.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/exec/harness.py
  harness/determined/exec/worker_process.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/layers/_workload_manager.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/util.py
  master/pkg/searcher/asha.go
Labels: User-facing API Change, cla-signed

#1986 chore: fix typo in comments
  master/static/srv/entrypoint.sh
  master/static/srv/notebook-entrypoint.sh
Labels: cla-signed

#1972 chore: remove searcher emitted checkpoints [DET-4996]
  cli/determined_cli/cli.py
  master/internal/api_experiment.go
  master/internal/db/postgres_snapshots.go
  master/internal/restore.go
  master/internal/trial.go
  master/internal/trial_workload_sequencer.go
  master/internal/trial_workload_sequencer_test.go
  master/pkg/searcher/operations.go
  master/pkg/searcher/pbt.go
  master/pkg/searcher/pbt_test.go
  master/pkg/searcher/search_method.go
  master/pkg/searcher/searcher.go
  master/pkg/searcher/simulate.go
  master/pkg/searcher/tournament.go
  master/pkg/searcher/util_test.go
  proto/buf.image.bin
  proto/src/determined/experiment/v1/searcher.proto
Labels: cla-signed

#1894 chore: support task tokens in harness for authentication [DET-4897]
  common/determined_common/api/authentication.py
  common/determined_common/api/request.py
  master/internal/api_auth.go
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/command/command_manager.go
  master/internal/command/notebook_manager.go
  master/internal/command/shell_manager.go
  master/internal/command/tensorboard_manager.go
  master/internal/db/postgres_tasks.go
  master/internal/db/postgres_users.go
  master/internal/db/setup.go
  master/internal/grpcutil/auth.go
  master/internal/trial.go
  master/internal/user/service.go
  master/pkg/model/task_session.go
  master/pkg/tasks/task_spec.go
  master/static/migrations/20210211000000_add-task-session.down.sql
  master/static/migrations/20210211000000_add-task-session.up.sql
Labels: cla-signed

#1966 feat: add v0 experiment config objects in python
  common/determined_common/schemas/__init__.py
  common/determined_common/schemas/_auto_init.py
  common/determined_common/schemas/_schema_base.py
  common/determined_common/schemas/_union_base.py
  common/determined_common/schemas/expconf/__init__.py
  common/determined_common/schemas/expconf/_gen.py
  common/determined_common/schemas/expconf/_v0.py
  common/determined_common/schemas/expconf/_validate.py
  common/determined_common/schemas/schema.py
  common/setup.py
  common/tests/test_schemas.py
Labels: cla-signed

#1973 chore: tune parcoords [DET-4991]
  webui/react/src/components/LearningCurveChart.tsx
  webui/react/src/components/ParallelCoordinates.module.scss
  webui/react/src/components/ParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpTrialTable.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpTrialTable.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/utils/chart.ts
  webui/react/src/utils/color.test.ts
  webui/react/src/utils/color.ts
  webui/react/src/utils/data.ts
  webui/react/src/utils/string.ts
Labels: cla-signed

#1994 feat: enable parcoords in webui [DET-5013]
  docs/release-notes/1994-enable-parcoords.txt
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
Labels: cla-signed

#1974 chore: refactor trial log viewer to improve rendering performance [DET-4866]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/LogViewer.store.ts
  webui/react/src/components/LogViewerLevel.tsx
  webui/react/src/components/LogViewerTimestamp.tsx
  webui/react/src/hooks/useGetCharMeasureInContainer.ts
  webui/react/src/pages/TrialLogs.tsx
  webui/react/src/routes/utils.ts
  webui/react/src/utils/dom.test.ts
  webui/react/src/utils/dom.ts
Labels: cla-signed

#1988 build: add instructions to point webui to cors disabled clusters
  webui/react/README.md
  webui/react/package-lock.json
  webui/react/package.json
Labels: cla-signed

#1991 fix: call Sequence.on_epoch_end after validation [DET-5007]
  docs/release-notes/1991-keras-validation-end.txt
  harness/determined/keras/_tf_keras_trial.py
Labels: cla-signed

#1995 docs: add documentation regarding limit behavior for pagination
  proto/src/determined/api/v1/experiment.proto
Labels: cla-signed

#2001 docs: fix missing parens in a few checkpoint API code snippets
  docs/how-to/use-trained-models.txt
Labels: cla-signed

#2000 ci: bump gke version
  .circleci/config.yml
Labels: cla-signed

#1990 feat: use anchor tags for table rows [DET-4746]
  docs/release-notes/1990-restructure-table-row-links
  webui/react/src/components/Table.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentOverview.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpTrialTable.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/ExperimentList.table.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/TaskList.module.scss
  webui/react/src/pages/TaskList.table.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/wait.ts
Labels: cla-signed

#1989 chore: update cluster address for react preview [DET-5008]
  .circleci/config.yml
Labels: cla-signed

#2002 fix: fix v0 experiment snapshot shim
  master/internal/restore.go
Labels: cla-signed

#2008 docs: add link for enabling Kubernetes GPU support
  docs/how-to/installation/kubernetes.txt
Labels: cla-signed

#2003 fix: correct batches column order on trial detail page [DET-5023]
  docs/release-notes/2003-fix-batch-order.txt
  webui/react/src/components/LabelSelectFilter.tsx
  webui/react/src/components/MetricSelectFilter.tsx
  webui/react/src/components/TagList.tsx
  webui/react/src/pages/Cluster.table.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpTrialTable.tsx
  webui/react/src/pages/TaskList.table.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/pages/TrialDetails.table.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/prototypes.test.ts
  webui/react/src/prototypes.ts
  webui/react/src/react-app-env.d.ts
  webui/react/src/services/decoder.test.ts
  webui/react/src/setupTests.ts
  webui/react/src/utils/chart.ts
  webui/react/src/utils/data.test.ts
  webui/react/src/utils/data.ts
  webui/react/src/utils/sort.test.ts
  webui/react/src/utils/sort.ts
  webui/react/src/utils/trial.ts
Labels: cla-signed

#1985 fix: use UTC for all logs
  agent/internal/container.go
  agent/internal/docker.go
  agent/internal/fluent.go
  master/internal/command/events.go
  master/internal/elastic/elastic_intg_testutils.go
  master/internal/kubernetes/log.go
  master/internal/kubernetes/pod.go
Labels: cla-signed

#2012 fix: fix query for GET experiments [DET-5039]
  master/static/srv/get_experiments.sql
Labels: cla-signed

#1997 fix: fix deprecation warning on using ABCs from 'collections'
  common/determined_common/api/experiment.py
  common/determined_common/context.py
Labels: cla-signed

#2006 chore: refactor cifar10_tf_keras example
  examples/computer_vision/cifar10_tf_keras/CIFAR10-Tensorflow-Keras.ipynb
  examples/computer_vision/cifar10_tf_keras/README.md
  examples/computer_vision/cifar10_tf_keras/cifar_model.py
  examples/computer_vision/cifar10_tf_keras/data.py
  examples/computer_vision/cifar10_tf_keras/model_def.py
Labels: cla-signed

#2011 build: auto-gen swagger api bindings
  .circleci/config.yml
  Makefile
  bindings/.gitignore
  bindings/Makefile
  proto/src/determined/api/v1/api.proto
  webui/Makefile
  webui/api-ts-sdk/.gitignore
  webui/api-ts-sdk/Makefile
  webui/api-ts-sdk/package-lock.json
  webui/api-ts-sdk/package.json
  webui/api-ts-sdk/tsconfig.json
  webui/react/Makefile
  webui/react/src/services/apiConfig.ts
Labels: cla-signed

#1998 feat: HP Search Constraints Documentation [DET-4392, DET-4993]
  docs/examples.txt
  docs/release-notes/4392-hp-search-constraints.txt
  docs/topic-guides/hp-constraints-det.txt
  docs/topic-guides/hp-tuning-defined.txt
  docs/topic-guides/hp-tuning-det/index.txt
  docs/topic-guides/index.txt
  examples/README.md
  examples/features/hp_constraints_mnist_pytorch/README.md
  examples/features/hp_constraints_mnist_pytorch/adaptive.yaml
  examples/features/hp_constraints_mnist_pytorch/data.py
  examples/features/hp_constraints_mnist_pytorch/layers.py
  examples/features/hp_constraints_mnist_pytorch/model_def.py
Labels: cla-signed

#2014 feat: NAS example with HP constraints [DET-5084]
  examples/hp_search_benchmarks/darts_cifar10_pytorch/README.md
  examples/hp_search_benchmarks/darts_cifar10_pytorch/const.yaml
  examples/hp_search_benchmarks/darts_cifar10_pytorch/constrained_adaptive.yaml
  examples/hp_search_benchmarks/darts_cifar10_pytorch/constrained_random.yaml
  examples/hp_search_benchmarks/darts_cifar10_pytorch/model_def.py
  examples/hp_search_benchmarks/darts_cifar10_pytorch/startup-hook.sh
Labels: cla-signed

#2015 fix: remove react extra get-deps dependency
  webui/react/Makefile
Labels: cla-signed

#1996 refactor: remove app contexts [DET-2878, DET-4820]
  webui/react/src/App.tsx
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/components/Navigation.tsx
  webui/react/src/components/ResourcePoolDetails.tsx
  webui/react/src/components/Router.tsx
  webui/react/src/components/UserSelectFilter.stories.tsx
  webui/react/src/components/UserSelectFilter.tsx
  webui/react/src/contexts/ActiveExperiments.tsx
  webui/react/src/contexts/Agents.tsx
  webui/react/src/contexts/AppContexts.tsx
  webui/react/src/contexts/Commands.tsx
  webui/react/src/contexts/Users.tsx
  webui/react/src/contexts/index.ts
  webui/react/src/hooks/useAuthCheck.ts
  webui/react/src/hooks/usePolling.ts
  webui/react/src/pages/Cluster.tsx
  webui/react/src/pages/ClusterV1.tsx
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentOverview.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/SignIn.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
  webui/react/src/utils/types.ts
Labels: cla-signed

#1999 chore: make experiment list page url sharable [DET-4745]
  webui/react/src/components/Navigation.module.scss
  webui/react/src/components/Navigation.tsx
  webui/react/src/components/Toggle.tsx
  webui/react/src/pages/ExperimentList.tsx
Labels: cla-signed

#2010 chore: webui uniform path generation [DET-4734]
  webui/react/src/App.tsx
  webui/react/src/ErrorHandler.ts
  webui/react/src/components/ActionSheet.stories.tsx
  webui/react/src/components/Breadcrumb.stories.tsx
  webui/react/src/components/CheckpointModal.tsx
  webui/react/src/components/CreateExperimentModal.tsx
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/components/Navigation.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/NavigationTopbar.tsx
  webui/react/src/components/Router.tsx
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentInfoBox.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/SignOut.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/pages/TaskLogs.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/TrialDetails/TrialActions.tsx
  webui/react/src/pages/TrialLogs.tsx
  webui/react/src/routes/utils.ts
Labels: cla-signed
