Repository determined-ai/determined, pull requests merged in 2021-06, with the labels that each got.

#2463 chore: report running of migrations
  master/internal/db/postgres.go
  master/internal/db/setup.go
Labels: cla-signed

#2472 fix: timing metric chart x-axis tick off [DET-5501]
  webui/react/src/pages/TrialDetails/Profiles/TimingMetricChart.tsx
Labels: cla-signed

#2468 fix: make tf estimator dtrain work with tf 2.5 [DET-5563, DET-3762]
  harness/determined/estimator/_estimator_trial.py
Labels: cla-signed

#2471 fix: show x axis label on all plots [DET-5500]
  webui/react/src/pages/Cluster/ClusterHistoricalUsageChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/SystemMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/TimingMetricChart.tsx
Labels: cla-signed

#2474 chore: reword README for schemas
  schemas/README
  schemas/README.md
Labels: cla-signed

#2475 chore: measure profiler timings with time.time()
  harness/determined/profiler.py
Labels: cla-signed

#2477 fix: propagate slots when it is 0
  master/pkg/model/experiment_config.go
Labels: cla-signed

#2482 fix: ProfilingAgent serializing timestamps incorrectly
  harness/determined/profiler.py
Labels: cla-signed

#2479 chore: deprecate det.experimental.create_trial_instance()
  docs/reference/api/experimental.txt
  docs/release-notes/2479-deprecate-trial-instance.txt
  harness/determined/experimental/_native.py
Labels: User-facing API Change, cla-signed

#2473 fix: send all batches from profiler [DET-5566]
  harness/determined/profiler.py
Labels: cla-signed

#2485 chore: promote profiler APIs out of unimplemented [DET-5587]
  harness/determined/_swagger/client/__init__.py
  harness/determined/_swagger/client/api/__init__.py
  harness/determined/_swagger/client/api/internal_api.py
  harness/determined/_swagger/client/api/profiler_api.py
  harness/determined/_swagger/client/models/v1_template.py
  proto/src/determined/api/v1/api.proto
  webui/react/src/pages/TrialDetails/Profiles/utils.ts
  webui/react/src/services/apiConfig.ts
Labels: cla-signed

#2381 chore: trim unused parts of rendezvous info
  harness/determined/_env_context.py
  harness/determined/_execution.py
  harness/determined/_rendezvous_info.py
  harness/determined/exec/harness.py
  harness/determined/layers/_socket_manager.py
  harness/tests/experiment/utils.py
  harness/tests/tensorboard/test_util.py
  harness/tests/test_horovod.py
  master/internal/trial.go
  master/internal/trial_test.go
  master/pkg/tasks/ports.go
  master/pkg/tasks/task_spec.go
Labels: cla-signed

#2469 chore: improve performance of tfevent file filtering
  harness/determined/tensorboard/base.py
  harness/determined/tensorboard/gcs.py
  harness/determined/tensorboard/hdfs.py
  harness/determined/tensorboard/s3.py
  harness/determined/tensorboard/shared.py
  harness/tests/tensorboard/test_base.py
Labels: cla-signed

#2476 fix: notebook modal bugs [DET-5573]
  webui/react/src/components/NotebookModal.tsx
Labels: cla-signed

#2493 docs: Release notes for 0.15.6.
  docs/release-notes.txt
  docs/release-notes/2320-webui-tqdm-rendering.txt
  docs/release-notes/2352-add-word-langauge-model-example.txt
  docs/release-notes/2359-add-preview-parameter.txt
  docs/release-notes/2364-webui-move-trial-hyperparams.txt
  docs/release-notes/2365-webui-trial-logs-moved.txt
  docs/release-notes/2372-webui-move-trial-workloads.txt
  docs/release-notes/2376-fix-gcp-terraform.txt
  docs/release-notes/2378-webui-update-experiment-list-filters.txt
  docs/release-notes/2383-slots-per-agent.txt
  docs/release-notes/2389-webui-update-trial-overview.txt
  docs/release-notes/2390-widen-trial-links.txt
  docs/release-notes/2428-ide-integration.txt
  docs/release-notes/2453-fix-k8s-resource-manager.txt
  docs/release-notes/2459-close-training-iterator.txt
Labels: cla-signed

#2496 chore: update eslint-no-unused-vars to handle special cases
  webui/react/.eslintrc.js
  webui/react/src/components/NotebookModal.tsx
  webui/react/src/prototypes.ts
Labels: cla-signed

#2484 chore: add non-streaming APIs for trial profiler endpoints
  harness/determined/_swagger/client/api/profiler_api.py
  master/internal/api_trials.go
  master/test/integration/api/api_trials_test.go
  proto/src/determined/api/v1/trial.proto
  webui/react/src/pages/TrialDetails/Profiles/utils.ts
Labels: cla-signed

#2497 fix: ship gpu_free_memory correctly [DET-5508]
  harness/determined/profiler.py
Labels: cla-signed

#2483 chore: fix some semi-broken unit tests
  harness/tests/experiment/pytorch/test_pytorch_data.py
  harness/tests/fixtures/fake_subprocess_receiver.py
Labels: cla-signed

#2464 chore: remove trial old messages and consolidate others
  master/internal/trial.go
Labels: cla-signed

#2467 chore: add testing for `eventually` schema [DET-5560]
  harness/determined/common/schemas/expconf/_validate.py
  harness/tests/common/test_schemas.py
  master/pkg/schemas/expconf/schema_test.go
  schemas/test_cases/v0/compare_properties.yaml
  schemas/test_cases/v0/defaults.yaml
  schemas/test_cases/v0/experiment.yaml
  schemas/test_cases/v0/global_batch_size.yaml
  schemas/test_cases/v0/length.yaml
  schemas/test_cases/v0/misc.yaml
  schemas/test_cases/v0/optional_ref.yaml
  schemas/test_cases/v0/searchers.yaml
  schemas/test_cases/v0/test-structs.yaml
Labels: cla-signed

#2480 chore: remove native init() functions [DET-5574]
  docs/reference/api/estimator.txt
  docs/release-notes/2480-rm-init.txt
  e2e_tests/tests/experiment/test_pytorch.py
  e2e_tests/tests/fixtures/pytorch_no_op/model_def.py
  harness/determined/_trial_controller.py
  harness/determined/common/experimental/checkpoint/_tf.py
  harness/determined/common/experimental/checkpoint/_torch.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/experimental/__init__.py
  harness/determined/experimental/_native.py
  harness/determined/experimental/estimator/__init__.py
  harness/determined/experimental/estimator/_estimator_native.py
  harness/determined/experimental/keras/__init__.py
  harness/determined/experimental/keras/_tf_keras_native.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/load/__init__.py
  harness/determined/load/_load_implementation.py
  harness/determined/load/_native.py
  harness/determined/load/_trial.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/tests/experiment/fixtures/estimator_xor_model_native.py
  harness/tests/experiment/fixtures/pytorch_onevar_model.py
  harness/tests/experiment/fixtures/tf_keras_xor_model_native.py
  harness/tests/experiment/keras/test_tf_keras_trial.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/tensorflow/test_estimator_trial.py
  harness/tests/experiment/utils.py
  harness/tests/test_workload_manager.py
Labels: User-facing API Change, cla-signed

#2490 chore: improve profiler throughput collectors
  harness/determined/profiler.py
Labels: cla-signed

#2488 fix: observability webui fixes [DET-5567][DET-5246][DET-5506][DET-5531][DET-5530][DET-5571]
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/TrialDetails/Profiles/ProfilesEnabled.tsx
  webui/react/src/pages/TrialDetails/Profiles/ProfilesFiltersProvider.tsx
  webui/react/src/pages/TrialDetails/Profiles/SystemMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/SystemMetricFilter.tsx
  webui/react/src/pages/TrialDetails/Profiles/TimingMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/utils.ts
  webui/react/src/pages/TrialDetails/TrialDetailsProfiles.tsx
Labels: cla-signed

#2502 fix: generating printable master config does not alter original
  master/internal/config.go
  master/internal/config_test.go
  master/pkg/schemas/expconf/storage_config.go
Labels: cla-signed

#2495 chore: migrate away from spot test assertions [DET-5589]
  webui/tests/specs/02-dashboard.spec.bak
  webui/tests/tests/StepImplementation.ts
Labels: cla-signed

#2500 chore: fix TF version detection and RNG usage in test
  e2e_tests/tests/experiment/test_noop.py
  e2e_tests/tests/fixtures/keras_no_op/model_def.py
Labels: cla-signed

#2492 chore: fix TrialsSnapshotResponse comment typo
  proto/src/determined/api/v1/experiment.proto
Labels: cla-signed

#2384 docs: profiling howto [DET-5209]
  docs/how-to/profiling.txt
Labels: cla-signed

#2486 chore: disable profiling after restart [DET-5424]
  harness/determined/common/api/__init__.py
  harness/determined/common/api/profiler.py
  harness/determined/profiler.py
  master/internal/grpcutil/auth.go
  master/test/integration/api/api_trials_test.go
Labels: cla-signed

#2507 docs: add release note for printable config
  docs/release-notes/2502-fix-printable-config.txt
Labels: cla-signed

#2318 chore: add experiment name to breadcrumb on trial detail page [DET-5284]
  webui/react/src/components/Page.tsx
  webui/react/src/components/PageHeader.tsx
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/pages/TrialDetails.tsx
Labels: cla-signed

#2505 chore: upgrade ws to patch security vulnerability
  webui/tests/package-lock.json
Labels: cla-signed

#2481 test: add e2e tests for profiling features [DET-5245]
  e2e_tests/tests/config.py
  e2e_tests/tests/experiment/test_profiling.py
  harness/determined/estimator/_estimator_trial.py
Labels: cla-signed

#2466 chore: task list filters [DET-5390]
  docs/release-notes/2466-task-list-filters.txt
  webui/react/src/components/Table.stories.tsx
  webui/react/src/components/TableFilterDropdown.module.scss
  webui/react/src/components/TableFilterDropdown.tsx
  webui/react/src/components/TaskFilter.tsx
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/TaskList.module.scss
  webui/react/src/pages/TaskList.table.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/types.ts
  webui/react/src/utils/task.ts
  webui/tests/tests/StepImplementation.ts
Labels: cla-signed

#2405 fix: avoid rc dev release mismatch notifications
  webui/react/src/App.tsx
Labels: cla-signed

#2516 feat: add bind mounts to task container defaults [DET-5362]
  docs/reference/cluster-config.txt
  docs/reference/experiment-config.txt
  docs/release-notes/add-bind-mounts.txt
  master/internal/command/command.go
  master/pkg/model/defaults.go
  master/pkg/model/task_container_defaults.go
Labels: cla-signed

#2512 chore: handle error when loading notebook config [DET-5600]
  webui/react/src/components/NotebookModal.tsx
  webui/react/src/utils/task.ts
Labels: cla-signed

#2436 feat: support back-filling in the priority scheduler [DET-5397]
  docs/release-notes/backfill.txt
  docs/topic-guides/system-concepts/scheduling.txt
  master/internal/resourcemanagers/priority.go
  master/internal/resourcemanagers/priority_test.go
  master/internal/resourcemanagers/scheduler.go
Labels: User-facing API Change, cla-signed

#2504 chore: update urllib3
  harness/setup.py
Labels: cla-signed

#2511 fix: notebook modal improvements [DET-5599]
  webui/react/src/components/NotebookModal.tsx
Labels: cla-signed

#2521 fix: add back bindmounts entry to command default config
  master/internal/command/command.go
Labels: cla-signed

#2519 chore: minor edits to cli behaviors
  harness/determined/cli/cli.py
  harness/determined/cli/version.py
Labels: cla-signed

#2487 chore: improved pynvml usage by profiler [DET-5394]
  harness/determined/profiler.py
Labels: cla-signed

#2518 docs: recommend users upgrade to 0.16.0 to avoid k8s master crashes
  docs/release-notes/recommend-k8s-upgrade.txt
Labels: cla-signed

#2517 feat: provide tensorflow 2.5 image [DET-5522]
  .circleci/config.yml
  docs/faq.txt
  docs/how-to/custom-env.txt
  docs/how-to/installation/gcp.txt
  docs/how-to/tensorboard.txt
  docs/reference/cluster-config.txt
  docs/reference/command-notebook-config.txt
  docs/reference/experiment-config.txt
  docs/reference/helm-config.txt
  docs/release-notes/2517-add-tf25-image.txt
  docs/tutorials/quick-start.txt
  e2e_tests/tests/config.py
  e2e_tests/tests/fixtures/pytorch_lightning_amp/apex_amp.yaml
  e2e_tests/tests/fixtures/pytorch_lightning_amp/auto_amp.yaml
  examples/computer_vision/mmdetection_pytorch/docker/Dockerfile
  examples/computer_vision/mnist_pl/adaptive.yaml
  examples/computer_vision/mnist_pl/const.yaml
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/decision_trees/gbt_titanic_estimator/adaptive.yaml
  examples/decision_trees/gbt_titanic_estimator/const.yaml
  examples/gan/dcgan_tf_keras/const.yaml
  examples/gan/dcgan_tf_keras/distributed.yaml
  examples/gan/gan_mnist_pl/adaptive.yaml
  examples/gan/gan_mnist_pl/const.yaml
  examples/gan/gan_mnist_pl/distributed.yaml
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/aws/templates/vpc.yaml
  harness/determined/deploy/gcp/constants.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/keras/callbacks.py
  helm/charts/determined/templates/master-config.yaml
  master/internal/provisioner/aws_config.go
  master/internal/provisioner/gcp_config.go
  master/pkg/model/defaults.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/update-bumpenvs-yaml.py
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: cla-signed

#2520 fix: allow bumpenvs to update nvcr images in helm charts
  helm/charts/determined/templates/master-config.yaml
  tools/scripts/bumpenvs.yaml
Labels: cla-signed

#2515 fix: trial profiling system metric chart ignoring zero [DET-5505]
  webui/react/src/pages/TrialDetails/Profiles/utils.ts
Labels: cla-signed

#2513 chore: allow non-singleton Authentication
  .circleci/scripts/wait_for_master.py
  e2e_tests/tests/cluster/cluster.py
  e2e_tests/tests/command/command.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_metrics.py
  e2e_tests/tests/experiment/test_profiling.py
  e2e_tests/tests/test_users.py
  harness/determined/cli/agent.py
  harness/determined/cli/checkpoint.py
  harness/determined/cli/cli.py
  harness/determined/cli/command.py
  harness/determined/cli/experiment.py
  harness/determined/cli/master.py
  harness/determined/cli/model.py
  harness/determined/cli/notebook.py
  harness/determined/cli/oauth.py
  harness/determined/cli/remote.py
  harness/determined/cli/resources.py
  harness/determined/cli/shell.py
  harness/determined/cli/sso.py
  harness/determined/cli/template.py
  harness/determined/cli/tensorboard.py
  harness/determined/cli/trial.py
  harness/determined/cli/user.py
  harness/determined/common/api/authentication.py
  harness/determined/common/api/certs.py
  harness/determined/common/api/errors.py
  harness/determined/common/api/request.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/model.py
  harness/determined/common/experimental/session.py
  harness/determined/common/experimental/trial.py
  harness/determined/common/util.py
  harness/determined/deploy/aws/deployment_types/base.py
  harness/determined/deploy/healthcheck.py
  harness/determined/exec/harness.py
  harness/determined/experimental/_native.py
  harness/tests/common/test_tls.py
Labels: cla-signed

#2478 fix: add init_invalid_hp to master [DET-5569]
  docs/release-notes/5569-invalid-hp-fix.txt
  harness/determined/_execution.py
  harness/determined/_swagger/client/models/trial_early_exit_exited_reason.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/exec/harness.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/layers/_worker_process.py
  harness/determined/layers/_workload_manager.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/util.py
  master/internal/trial.go
  master/internal/trial_workload_sequencer.go
  master/pkg/searcher/asha.go
  master/pkg/searcher/asha_stopping.go
  master/pkg/searcher/random.go
  master/pkg/searcher/searcher.go
  master/pkg/workload/completed_message.go
  proto/src/determined/trial/v1/trial.proto
Labels: cla-signed

#2530 chore: initialize cli_cert in e2e tests
  e2e_tests/tests/cluster/cluster.py
  e2e_tests/tests/command/command.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_metrics.py
  e2e_tests/tests/experiment/test_profiling.py
  harness/determined/cli/cli.py
  harness/determined/deploy/aws/deployment_types/base.py
  harness/determined/deploy/gcp/gcp.py
Labels: cla-signed

#2535 docs: add release notes for profiling features [DET-5351]
  docs/how-to/index.txt
  docs/how-to/profiling.txt
  docs/reference/experiment-config.txt
  docs/release-notes/2535-add-profiler.txt
Labels: cla-signed

#2526 feat: bump JupyterLab to 3.0.16 [DET-4872]
  .circleci/config.yml
  docs/faq.txt
  docs/how-to/custom-env.txt
  docs/how-to/installation/gcp.txt
  docs/how-to/tensorboard.txt
  docs/reference/cluster-config.txt
  docs/reference/command-notebook-config.txt
  docs/reference/experiment-config.txt
  docs/reference/helm-config.txt
  docs/release-notes/2526-bump-jupyterlab.txt
  docs/tutorials/quick-start.txt
  e2e_tests/tests/config.py
  e2e_tests/tests/fixtures/pytorch_lightning_amp/apex_amp.yaml
  e2e_tests/tests/fixtures/pytorch_lightning_amp/auto_amp.yaml
  examples/computer_vision/mmdetection_pytorch/docker/Dockerfile
  examples/computer_vision/mnist_pl/adaptive.yaml
  examples/computer_vision/mnist_pl/const.yaml
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/decision_trees/gbt_titanic_estimator/adaptive.yaml
  examples/decision_trees/gbt_titanic_estimator/const.yaml
  examples/gan/dcgan_tf_keras/const.yaml
  examples/gan/dcgan_tf_keras/distributed.yaml
  examples/gan/gan_mnist_pl/adaptive.yaml
  examples/gan/gan_mnist_pl/const.yaml
  examples/gan/gan_mnist_pl/distributed.yaml
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/aws/templates/vpc.yaml
  harness/determined/deploy/gcp/constants.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/keras/_tf_keras_trial.py
  helm/charts/determined/templates/master-config.yaml
  master/internal/command/notebook_manager.go
  master/internal/provisioner/aws_config.go
  master/internal/provisioner/gcp_config.go
  master/pkg/model/defaults.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  master/static/srv/notebook-entrypoint.sh
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: cla-signed

#2531 feat: multimaster Authentication objects [DET-5308]
  e2e_tests/tests/test_users.py
  harness/determined/cli/sso.py
  harness/determined/cli/user.py
  harness/determined/common/api/authentication.py
  harness/determined/common/api/certs.py
  harness/setup.py
Labels: cla-signed

#2542 chore: fix dropped cert argument in Authentication
  harness/determined/common/api/authentication.py
Labels: cla-signed

#2534 feat: pull tensorboard images from experiment configs
  master/internal/command/tensorboard_manager.go
  master/internal/core.go
  master/static/srv/tensorboard-entrypoint.sh
Labels: cla-signed

#2539 fix: fix hparam string representation failure [DET-5616]
  docs/release-notes/2539-fix-null-hparam-value-repr.txt
  webui/react/src/pages/TrialDetails/TrialDetailsHyperparameters.tsx
Labels: cla-signed

#2544 feat: pull tensorboard images from experiment configs
  master/internal/command/tensorboard_manager.go
  master/static/srv/tensorboard-entrypoint.sh
Labels: cla-signed

#2543 fix: password handling in python sdk.
  harness/determined/common/api/authentication.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/util.py
  harness/tests/common/auth_v0.json
  harness/tests/common/multimaster-certs/cert1.pem
  harness/tests/common/multimaster-certs/cert2.pem
  harness/tests/common/multimaster-certs/key1.pem
  harness/tests/common/multimaster-certs/key2.pem
  harness/tests/common/test_auth.py
  harness/tests/common/test_multimaster.py
  harness/tests/confdir.py
Labels: cla-signed

#2532 feat: expose a default Determined in det.experimental.client
  harness/determined/experimental/client.py
Labels: User-facing API Change, cla-signed

#2540 chore: avoid defaulting to filter list views by current user [DET-5602]
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/TaskList.tsx
Labels: cla-signed

#2546 chore: fix client for new password handling
  harness/determined/experimental/client.py
Labels: cla-signed

#2528 fix: stop parsing notebook config on every edit [DET-5605]
  webui/react/src/components/NotebookModal.tsx
Labels: cla-signed

#2456 chore: revamp experiment and trial pages header [DET-5406]
  webui/react/src/components/Page.tsx
  webui/react/src/components/PageHeaderFoldable.module.scss
  webui/react/src/components/PageHeaderFoldable.tsx
  webui/react/src/components/StopExperimentModal.tsx
  webui/react/src/components/TagList.module.scss
  webui/react/src/components/TagList.tsx
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentDetails/Header/ExperimentHeaderProgress.module.scss
  webui/react/src/pages/ExperimentDetails/Header/ExperimentHeaderProgress.tsx
  webui/react/src/pages/ExperimentDetails/Header/ExperimentHeaderState.module.scss
  webui/react/src/pages/ExperimentDetails/Header/ExperimentHeaderState.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/TrialDetails/Header/TrialHeaderLeft.module.scss
  webui/react/src/pages/TrialDetails/Header/TrialHeaderLeft.tsx
  webui/react/src/pages/TrialDetails/TrialActions.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/styles/fonts/determined-ai.woff
  webui/react/src/styles/fonts/determined-ai.woff2
  webui/react/src/styles/icons.scss
  webui/react/src/types.ts
Labels: cla-signed

#2549 fix: Incorrect help link when profiles aren't enabled for a trial. [DET-5621]
  webui/react/src/pages/TrialDetails/Profiles/ProfilesNotEnabled.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsProfiles.tsx
Labels: cla-signed

#2553 chore: rename start_on_batch to begin_on_batch everywhere
  docs/reference/experiment-config.txt
  harness/determined/profiler.py
Labels: cla-signed

#2554 chore: fix typos
  master/internal/db/postgres.go
  master/pkg/schemas/expconf/searcher_config.go
Labels: cla-signed

#2550 fix: add checks against now nullable experiment description [DET-5622]
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/pages/TrialDetails.tsx
Labels: cla-signed

#2545 fix: use model instead of schema struct for de-duping
  master/internal/command/tensorboard_manager.go
Labels: cla-signed

#2555 chore: also set cli_cert in dtrain worker processes
  harness/determined/exec/harness.py
  harness/determined/exec/worker_process.py
Labels: cla-signed

#2547 docs: add python sdk docs
  docs/how-to/use-trained-models.txt
  docs/reference/api/client.txt
  docs/reference/api/index.txt
  docs/topic-guides/cluster-configuration/tls.txt
  docs/tutorials/model-registry.txt
  examples/README.md
  examples/computer_vision/cifar10_pytorch_inference/model_def.py
  examples/gan/dcgan_tf_keras/export.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/model.py
  harness/determined/common/experimental/trial.py
  harness/determined/experimental/client.py
Labels: cla-signed

#2556 docs: extend docs for the client module
  docs/how-to/use-trained-models.txt
  docs/release-notes/2556-python-sdk.txt
  harness/determined/experimental/client.py
Labels: cla-signed

#2558 chore: add download experiment model to new header [DET-5634]
  webui/react/src/components/PageHeaderFoldable.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
Labels: cla-signed

#2560 fix: dedup BindMounts and Devices on merge
  master/pkg/schemas/expconf/experiment_config.go
  master/pkg/schemas/expconf/experiment_config_test.go
  schemas/test_cases/v0/merging.yaml
Labels: cla-signed

#2561 fix: erroneous warning with PyTorchCallback
  harness/determined/pytorch/_pytorch_trial.py
Labels: cla-signed

#2562 fix: Change wording on modals that edit configs. [DET-5639]
  webui/react/src/components/CreateExperimentModal.tsx
  webui/react/src/components/NotebookModal.tsx
Labels: cla-signed

#2557 fix: set elastic ip domain to vpc in det deploy aws [DET-5631]
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/aws/templates/vpc.yaml
Labels: Work in progress, cla-signed

#2564 fix: don't return dupes from det model list-versions [DET-5640, DET-4248]
  docs/tutorials/model-registry.txt
  e2e_tests/tests/test_system.py
  master/static/srv/get_model_versions.sql
  master/static/srv/insert_model_version.sql
Labels: cla-signed

#2567 docs: update the JupyterLab bump release note
  docs/release-notes/2526-bump-jupyterlab.txt
Labels: cla-signed

#2566 docs: clarify BindMounts and Devices deduplication
  docs/reference/config-template.txt
  master/pkg/schemas/expconf/experiment_config.go
Labels: cla-signed

#2533 feat: add addrs to agents API [DET-5112]
  harness/determined/cli/agent.py
  master/internal/agent/agent.go
  master/internal/agent/agents.go
  master/internal/agent/proto.go
  master/internal/agent/slot.go
  master/internal/agent/slots.go
  master/internal/kubernetes/pods.go
  master/pkg/model/agent.go
  proto/src/determined/agent/v1/agent.proto
Labels: cla-signed

#2571 chore: move experiment configuration to a tab [DET-5438]
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentConfiguration.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentInfoBox.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentInfoBox.tsx
Labels: cla-signed

#2570 chore: add start time and duration to new experiment header [DET-5635]
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
Labels: cla-signed

#2572 fix: update gke version in circleci since the old one is no longer valid.
  .circleci/config.yml
Labels: cla-signed

#2575 docs: add release notes for 0.16.0
  docs/release-notes.txt
  docs/release-notes/2466-task-list-filters.txt
  docs/release-notes/2479-deprecate-trial-instance.txt
  docs/release-notes/2480-rm-init.txt
  docs/release-notes/2502-fix-printable-config.txt
  docs/release-notes/2517-add-tf25-image.txt
  docs/release-notes/2526-bump-jupyterlab.txt
  docs/release-notes/2535-add-profiler.txt
  docs/release-notes/2539-fix-null-hparam-value-repr.txt
  docs/release-notes/2556-python-sdk.txt
  docs/release-notes/5354-experiment-metadata.txt
  docs/release-notes/5569-invalid-hp-fix.txt
  docs/release-notes/add-bind-mounts.txt
  docs/release-notes/backfill.txt
  docs/release-notes/recommend-k8s-upgrade.txt
  harness/determined/experimental/client.py
Labels: cla-signed

#2576 chore: upgrade the version of Terraform used to deploy docs
  docs/deploy/main.tf
Labels: cla-signed

#2400 feat: Add python support for Azure Blob Storage. [DET-5469]
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/schemas/expconf/_gen.py
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/common/storage/__init__.py
  harness/determined/common/storage/azure.py
  harness/determined/common/storage/azure_client.py
  harness/determined/tensorboard/__init__.py
  harness/determined/tensorboard/azure.py
  harness/determined/tensorboard/build.py
  harness/setup.py
  master/internal/command/tensorboard_manager.go
  master/pkg/model/storage_config.go
  master/pkg/schemas/expconf/latest.go
  master/pkg/schemas/expconf/storage_config.go
  master/pkg/schemas/expconf/zgen_azure_config_v0.go
  master/pkg/schemas/expconf/zgen_checkpoint_storage_config_v0.go
  master/pkg/schemas/expconf/zgen_tensorboard_storage_config_v0.go
  master/pkg/schemas/schema.go
  master/pkg/schemas/zgen_schemas.go
  schemas/README.md
  schemas/expconf/v0/azure.json
  schemas/expconf/v0/checkpoint-storage.json
  schemas/test_cases/v0/eventually.yaml
  schemas/test_cases/v0/merging.yaml
  schemas/test_cases/v0/misc.yaml
  webui/react/src/types.ts
Labels: cla-signed

#2537 chore: collect samples per second for pytorch and keras [DET-5515]
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/keras/callbacks.py
  harness/determined/profiler.py
  harness/determined/pytorch/_pytorch_trial.py
  proto/src/determined/trial/v1/trial.proto
Labels: cla-signed

#2577 feat: support for Tensorflow profiling plugin [DET-5550]
  harness/determined/estimator/_util.py
  harness/determined/tensorboard/__init__.py
  harness/determined/tensorboard/base.py
  harness/determined/tensorboard/shared.py
  harness/determined/tensorboard/util.py
  harness/tests/tensorboard/fixtures/tensorboard/79375caf89e9.kernel_stats.pb
  harness/tests/tensorboard/fixtures/tensorboard/79375caf89e9.memory_profile.json.gz
  harness/tests/tensorboard/test_base.py
  harness/tests/tensorboard/test_util.py
  master/static/srv/tensorboard-entrypoint.sh
Labels: cla-signed

#2578 fix: make header loading spinner more prominent[DET-5667]
  webui/react/src/pages/ExperimentDetails/Header/ExperimentHeaderState.module.scss
  webui/react/src/pages/ExperimentDetails/Header/ExperimentHeaderState.tsx
Labels: cla-signed

#2579 fix: update name and description in exp/trial headers [DET-5668][DET-5669]
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/TrialDetails/Header/TrialHeaderLeft.module.scss
  webui/react/src/pages/TrialDetails/Header/TrialHeaderLeft.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
Labels: cla-signed

#2580 fix: add download model to visible header buttons [DET-5670]
  webui/react/src/components/PageHeaderFoldable.module.scss
  webui/react/src/components/PageHeaderFoldable.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/styles/global.scss
Labels: cla-signed

#2489 docs: add db migration troubleshooting section [DET-5493]
  docs/how-to/installation/upgrades-troubleshoot.txt
Labels: cla-signed

#2582 fix: roll GKE in CircleCI back to 1.18 series.
  .circleci/config.yml
Labels: cla-signed

#2574 feat: cpu training ux [DET-5663, DET-5664]
  webui/react/src/components/Json.module.scss
  webui/react/src/components/NotebookModal.tsx
  webui/react/src/components/ResourcePoolCard.stories.tsx
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/components/SlotAllocationBar.tsx
  webui/react/src/contexts/Store.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsage.tsx
  webui/react/src/pages/Cluster/ClusterOverview.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
  webui/react/src/utils/cluster.ts
  webui/tests/specs/02-cluster.spec
Labels: cla-signed

#2586 chore: webui profiler write/read filters from url [DET-5572]
  webui/react/src/pages/TrialDetails/Profiles/ProfilesFiltersProvider.tsx
Labels: cla-signed

#2585 fix: new header increase font-size for desktop [DET-5680]
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.module.scss
  webui/react/src/pages/ExperimentDetails/Header/ExperimentHeaderState.module.scss
  webui/react/src/pages/TrialDetails/Header/TrialHeaderLeft.module.scss
Labels: cla-signed

#2563 fix: loosen check on context.wrap_optimizer()
  harness/determined/keras/_tf_keras_context.py
Labels: cla-signed

#2596 fix: support Docker images with EXPOSE in notebooks/shells/tensorboard [DET-5648]
  docs/release-notes/2596-fix-expose.txt
  master/internal/command/command.go
  master/internal/command/notebook_manager.go
  master/internal/command/shell_manager.go
  master/internal/command/tensorboard_manager.go
Labels: cla-signed

#2594 fix: error when explicitly selecting kubernetes pool for notebooks.
  master/internal/sproto/globals.go
Labels: cla-signed

#2602 feat: support different tensorboard startup args [DET-5550]
  harness/determined/exec/tensorboard.py
  master/static/srv/tensorboard-entrypoint.sh
Labels: cla-signed

#2508 feat: support nested HPs [DET-4785]
  harness/determined/common/api/experiment.py
  master/internal/hpimportance/hpimportance.go
  master/pkg/schemas/expconf/experiment_config_test.go
  master/pkg/schemas/expconf/hyperparameters_config.go
  master/pkg/schemas/expconf/zgen_hyperparameter_v0.go
  master/pkg/searcher/grid.go
  master/pkg/searcher/grid_test.go
  master/pkg/searcher/hyperparameters.go
  master/pkg/searcher/hyperparameters_test.go
  master/pkg/searcher/pbt_test.go
  schemas/test_cases/v0/hyperparameters.yaml
  schemas/test_cases/v0/merging.yaml
Labels: cla-signed

#2592 fix: ignore an error with terminated master when deleting AWS stacks.
  harness/determined/deploy/aws/aws.py
Labels: cla-signed

#2589 feat: spin up/down Filestore for det deploy gcp
  docs/how-to/installation/gcp.txt
  docs/reference/cluster-config.txt
  docs/release-notes/2589-filestore.txt
  docs/topic-guides/deployment/gcp.txt
  harness/determined/deploy/gcp/cli.py
  harness/determined/deploy/gcp/gcp.py
  harness/determined/deploy/gcp/preflight.py
  harness/determined/deploy/gcp/terraform/main.tf
  harness/determined/deploy/gcp/terraform/modules/compute/main.tf
  harness/determined/deploy/gcp/terraform/modules/compute/variables.tf
  harness/determined/deploy/gcp/terraform/modules/filestore/main.tf
  harness/determined/deploy/gcp/terraform/modules/filestore/outputs.tf
  harness/determined/deploy/gcp/terraform/modules/filestore/variables.tf
  harness/determined/deploy/gcp/terraform/outputs.tf
  harness/determined/deploy/gcp/terraform/variables.tf
  master/internal/command/notebook_manager.go
  master/static/srv/notebook-entrypoint.sh
Labels: cla-signed

#2569 fix: transformers links in example READMEs
  model_hub/examples/huggingface/multiple-choice/README.md
  model_hub/examples/huggingface/text-classification/README.md
  model_hub/examples/huggingface/token-classification/README.md
Labels: cla-signed

#2590 feat: torch 1.9.0 + various version upgrades [DET-5547]
  .circleci/config.yml
  docs/faq.txt
  docs/how-to/custom-env.txt
  docs/how-to/installation/gcp.txt
  docs/how-to/tensorboard.txt
  docs/reference/cluster-config.txt
  docs/reference/command-notebook-config.txt
  docs/reference/experiment-config.txt
  docs/reference/helm-config.txt
  docs/requirements.txt
  docs/tutorials/quick-start.txt
  e2e_tests/tests/config.py
  e2e_tests/tests/fixtures/pytorch_lightning_amp/apex_amp.yaml
  e2e_tests/tests/fixtures/pytorch_lightning_amp/auto_amp.yaml
  examples/computer_vision/mmdetection_pytorch/docker/Dockerfile
  examples/computer_vision/mnist_pl/adaptive.yaml
  examples/computer_vision/mnist_pl/const.yaml
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/decision_trees/gbt_titanic_estimator/adaptive.yaml
  examples/decision_trees/gbt_titanic_estimator/const.yaml
  examples/gan/dcgan_tf_keras/const.yaml
  examples/gan/dcgan_tf_keras/distributed.yaml
  examples/gan/gan_mnist_pl/adaptive.yaml
  examples/gan/gan_mnist_pl/const.yaml
  examples/gan/gan_mnist_pl/distributed.yaml
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/aws/templates/vpc.yaml
  harness/determined/deploy/gcp/constants.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/pytorch/lightning/_adapter.py
  harness/tests/requirements.txt
  helm/charts/determined/templates/master-config.yaml
  master/internal/provisioner/aws_config.go
  master/internal/provisioner/gcp_config.go
  master/pkg/model/defaults.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: cla-signed

#2607 feat: set torch profiler in torch trials [DET-5549]
  .circleci/config.yml
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/tensorboard/util.py
  harness/setup.py
  master/internal/command/tensorboard_manager.go
Labels: cla-signed

#2597 chore: make new webui header the default one [DET-5683]
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentActions.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/TrialDetails/TrialActions.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
Labels: cla-signed

#2609 fix: helm chart version in Makefile
  helm/Makefile
  helm/charts/determined/Chart.yaml
Labels: cla-signed

#2608 fix: avoid showing the gpu dropdown when there is no reported gpu uuid [gh-2604]
  webui/react/src/pages/TrialDetails/Profiles/SystemMetricFilter.tsx
  webui/react/src/pages/TrialDetails/Profiles/utils.ts
Labels: cla-signed

#2603 feat: display active filter count and option to reset for tasks and experiments [fixes #2584]
  webui/react/src/components/FilterCounter.module.scss
  webui/react/src/components/FilterCounter.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/TaskList.tsx
Labels: cla-signed

#2613 fix: linting error in circle ci
  harness/determined/pytorch/_pytorch_context.py
Labels: cla-signed

#2611 fix: update custom-env docs with new versions
  docs/how-to/custom-env.txt
  docs/how-to/installation/gcp.txt
Labels: cla-signed

#2615 chore: update environment images before release
  .circleci/config.yml
  e2e_tests/tests/config.py
  examples/computer_vision/mmdetection_pytorch/docker/Dockerfile
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/gan/dcgan_tf_keras/const.yaml
  examples/gan/dcgan_tf_keras/distributed.yaml
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/aws/templates/vpc.yaml
  harness/determined/deploy/gcp/constants.py
  helm/charts/determined/templates/master-config.yaml
  master/internal/provisioner/aws_config.go
  master/internal/provisioner/gcp_config.go
  master/pkg/model/defaults.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/refresh-ubuntu-amis.py
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: cla-signed

#2422 feat: add API to query best searcher validation [DET-5212]
  master/internal/api_experiment.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_filters.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
Labels: cla-signed

#2619 build: check Go modules files are up to date in `make -C proto check`
  proto/Makefile
Labels: cla-signed

#2529 chore: doc echo apis
  agent/go.sum
  master/go.mod
  master/go.sum
  master/internal/core.go
  master/tools.go
  proto/Makefile
  proto/go.mod
  proto/go.sum
  proto/tools.go
Labels: cla-signed

#2606 chore: add loading state profile metrics
  webui/react/src/pages/TrialDetails/Profiles/ProfilesEnabled.tsx
  webui/react/src/pages/TrialDetails/Profiles/ProfilesFiltersProvider.tsx
Labels: cla-signed

#2620 fix: make the gRPC gateway never use a proxy [DET-5689]
  master/internal/grpcutil/api.go
Labels: cla-signed

#2617 fix: improve det deploy aws messaging for inconsistent stack states [DET-5695]
  harness/determined/deploy/aws/aws.py
Labels: cla-signed

#2618 docs: correct pod spec
  docs/how-to/installation/custom-pod-specs.txt
Labels: cla-signed

#2627 chore: Update environments to have a minimal base layer
  .circleci/config.yml
  docs/faq.txt
  docs/how-to/custom-env.txt
  docs/how-to/installation/gcp.txt
  docs/how-to/tensorboard.txt
  docs/reference/cluster-config.txt
  docs/reference/command-notebook-config.txt
  docs/reference/experiment-config.txt
  docs/reference/helm-config.txt
  docs/tutorials/quick-start.txt
  e2e_tests/tests/config.py
  e2e_tests/tests/fixtures/pytorch_lightning_amp/apex_amp.yaml
  e2e_tests/tests/fixtures/pytorch_lightning_amp/auto_amp.yaml
  examples/computer_vision/mmdetection_pytorch/docker/Dockerfile
  examples/computer_vision/mnist_pl/adaptive.yaml
  examples/computer_vision/mnist_pl/const.yaml
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/decision_trees/gbt_titanic_estimator/adaptive.yaml
  examples/decision_trees/gbt_titanic_estimator/const.yaml
  examples/gan/dcgan_tf_keras/const.yaml
  examples/gan/dcgan_tf_keras/distributed.yaml
  examples/gan/gan_mnist_pl/adaptive.yaml
  examples/gan/gan_mnist_pl/const.yaml
  examples/gan/gan_mnist_pl/distributed.yaml
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/aws/templates/vpc.yaml
  harness/determined/deploy/gcp/constants.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/keras/_tf_keras_trial.py
  helm/charts/determined/templates/master-config.yaml
  master/internal/provisioner/aws_config.go
  master/internal/provisioner/gcp_config.go
  master/pkg/model/defaults.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/update-bumpenvs-yaml.py
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: cla-signed

#2621 chore: improve error handling for react preview proxy
  webui/react/scripts/proxy.js
Labels: cla-signed

#2625 fix: prevent impossible slot requests for notebooks [DET-5690]
  master/internal/api/error.go
  master/internal/api_command.go
  master/internal/api_notebook.go
  master/internal/api_shell.go
  master/internal/api_tensorboard.go
  master/internal/resourcemanagers/agent_resource_manager.go
  master/internal/resourcemanagers/kubernetes_resource_manager.go
  master/internal/resourcemanagers/resource_managers_test.go
  master/internal/resourcemanagers/resource_pool.go
  master/internal/sproto/task.go
  webui/react/src/components/NotebookModal.tsx
Labels: cla-signed

#2420 feat: add rendezvous API [DET-5428]
  e2e_tests/tests/experiment/experiment.py
  master/internal/api_trials.go
  master/internal/trial.go
  master/internal/trial_test.go
  proto/buf.image.bin
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/trial.proto
  proto/src/determined/trial/v1/trial.proto
Labels: cla-signed

#2632 docs: add release notes for 0.16.1
  docs/release-notes.txt
  docs/release-notes/2514-cpu-only.txt
  docs/release-notes/2589-filestore.txt
  docs/release-notes/2596-fix-expose.txt
Labels: cla-signed

#2593 chore: update ZMQ logic in DistributedContext
  harness/determined/__init__.py
  harness/determined/_rendezvous_info.py
  harness/determined/_train_context.py
  harness/determined/_trial_controller.py
  harness/determined/horovod.py
  harness/determined/ipc.py
  harness/determined/layers/_worker_process.py
  harness/tests/test_ipc.py
Labels: cla-signed

#2628 fix: nightly tests broken after environment upgrades
  e2e_tests/tests/nightly/test_capability.py
  e2e_tests/tests/nightly/test_distributed.py
  examples/computer_vision/deformabledetr_coco_pytorch/startup-hook.sh
  examples/computer_vision/detr_coco_pytorch/startup-hook.sh
Labels: cla-signed

#2631 fix: prevents k8s priority scheduler from blocking cpu only training
  master/internal/kubernetes/spec.go
Labels: cla-signed

#2636 fix: make "Continue Trial" button work again [DET-5704]
  webui/react/src/pages/TrialDetails.tsx
Labels: cla-signed

#2595 chore: update webui experiment layout for multi-trial and single-trial [DET-5407]
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentChart.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentInfoBox.stories.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentInfoBox.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentMultiTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.table.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/TrialDetails/TrialChart.module.scss
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHyperparameters.tsx
  webui/react/src/types.ts
Labels: cla-signed

#2639 feat: make `det deploy gcp` clusters log to GCP Cloud Logging
  docs/how-to/installation/gcp.txt
  harness/determined/deploy/gcp/terraform/modules/compute/main.tf
  harness/determined/deploy/gcp/terraform/modules/service_account/main.tf
  master/internal/provisioner/gcp.go
  master/internal/provisioner/gcp_config.go
Labels: cla-signed
