Repository determined-ai/determined, pull requests merged in 2022-04, with the labels that each got.

#3844 fix: docs build failure for deepspeed reference
  docs/conf.py
Labels: cla-signed

#3843 ci: fail building docs when sphinx-build fails
  docs/sphinx-wrapper.py
Labels: cla-signed

#3842 feat: implement workspace and project frontend APIs [DET-6823]
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Labels: cla-signed

#3837 chore: add conditionalRender prop to Spinner
  webui/react/src/components/Spinner.tsx
Labels: cla-signed

#3831 fix: make "Show full config" modal larger
  webui/react/src/hooks/useModal/useModalExperimentCreate.tsx
Labels: cla-signed

#3840 refactor: simplify `resourcemanagers.container`.
  master/internal/resourcemanagers/container.go
  master/internal/resourcemanagers/kubernetes_resource_manager.go
  master/internal/resourcemanagers/priority.go
  master/internal/resourcemanagers/priority_test.go
  master/internal/resourcemanagers/resource_pool.go
  master/internal/resourcemanagers/scheduler_test.go
Labels: cla-signed

#3848 fix: gpt-neox example multinode on aws
  .circleci/config.yml
  examples/deepspeed/gpt_neox/Dockerfile
  examples/deepspeed/gpt_neox/hp_search.yaml
  examples/deepspeed/gpt_neox/zero1_3d_parallel.yaml
  examples/deepspeed/gpt_neox/zero1_pipeline_parallel.yaml
  examples/deepspeed/gpt_neox/zero3_medium.yaml
  harness/determined/launch/autodeepspeed.py
Labels: cla-signed

#3735 feat: add table to store unused GPU [DET-6697]
  docs/release-notes/3735-agent-instance-stats-track.txt
  e2e_tests/tests/conftest.py
  e2e_tests/tests/nightly/compute_stats.py
  master/cmd/determined-master/root_test.go
  master/internal/config/config_test.go
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/aws_config_test.go
  master/internal/config/provconfig/config.go
  master/internal/config/provconfig/config_test.go
  master/internal/config/provconfig/gcp_config.go
  master/internal/config/provconfig/gcp_config_test.go
  master/internal/config/resource_pool_config.go
  master/internal/core.go
  master/internal/db/database.go
  master/internal/db/postgres_agent.go
  master/internal/db/postgres_instance.go
  master/internal/mocks/db.go
  master/internal/resourcemanagers/agent/agent.go
  master/internal/resourcemanagers/agent_resource_manager.go
  master/internal/resourcemanagers/agent_resource_manager_test.go
  master/internal/resourcemanagers/provisioner/aws.go
  master/internal/resourcemanagers/provisioner/aws_spot.go
  master/internal/resourcemanagers/provisioner/gcp.go
  master/internal/resourcemanagers/provisioner/gcp_operation_tracker.go
  master/internal/resourcemanagers/provisioner/instance.go
  master/internal/resourcemanagers/provisioner/provisioner.go
  master/internal/resourcemanagers/provisioner/provisioner_test.go
  master/internal/resourcemanagers/provisioner/scale_decider.go
  master/internal/resourcemanagers/provisioner/scale_decider_test.go
  master/internal/resourcemanagers/provisioner/setup.go
  master/internal/resourcemanagers/resource_managers_test.go
  master/internal/resourcemanagers/resource_pool.go
  master/internal/resourcemanagers/resource_pool_test.go
  master/internal/resourcemanagers/scheduler_test.go
  master/internal/resourcemanagers/setup.go
  master/internal/sproto/agent_resource_manager.go
  master/pkg/model/agent.go
  master/pkg/model/instance.go
  master/static/migrations/20220404150227_add-table-agent-instance-stats.tx.down.sql
  master/static/migrations/20220404150227_add-table-agent-instance-stats.tx.up.sql
  master/static/srv/get_raw_allocation.sql
Labels: cla-signed

#3855 chore: Revert "chore: use userId as url param for user endpoints (#3806)"
  harness/determined/common/api/bindings.py
  master/internal/api_auth.go
  master/internal/api_user.go
  master/internal/db/postgres_users.go
  proto/buf.image.bin
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/user.proto
  webui/react/src/hooks/useModal/UserSettings/useModalChangeName.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalChangeName.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalChangePassword.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalChangePassword.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#3836 feat: allow the CLI to accept incomplete task UUIDs [DET-6706]
  docs/release-notes/cli-uuid-prefixes.txt
  harness/determined/cli/command.py
  harness/determined/cli/notebook.py
  harness/determined/cli/remote.py
  harness/determined/cli/shell.py
  harness/determined/cli/task.py
  harness/determined/cli/tensorboard.py
  harness/tests/cli/test_cli.py
Labels: cla-signed

#3853 feat: make launch layers generally useful
  e2e_tests/tests/experiment/test_launch.py
  examples/deepspeed/cifar10_moe/moe.yaml
  examples/deepspeed/cifar10_moe/zero_stages.yaml
  examples/deepspeed/gpt_neox/hp_search.yaml
  examples/deepspeed/gpt_neox/zero1_3d_parallel.yaml
  examples/deepspeed/gpt_neox/zero1_pipeline_parallel.yaml
  examples/deepspeed/gpt_neox/zero3_medium.yaml
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  harness/determined/_core/_context.py
  harness/determined/_core/_distributed.py
  harness/determined/cli/experiment.py
  harness/determined/exec/harness.py
  harness/determined/exec/launch.py
  harness/determined/launch/autohorovod.py
  harness/determined/launch/deepspeed.py
  harness/determined/launch/horovod.py
  harness/determined/util.py
  harness/tests/experiment/utils.py
  harness/tests/launch/test_deepspeed.py
  harness/tests/launch/test_horovod.py
  harness/tests/launch/test_launch.py
  harness/tests/test_launch.py
Labels: cla-signed, User-facing API Change

#3864 fix: deepspeed cifar moe example ds_config
  examples/deepspeed/cifar10_moe/ds_config.json
Labels: cla-signed

#3865 fix: e2e test stats for gke machine
  e2e_tests/tests/nightly/compute_stats.py
  master/static/srv/get_raw_allocation.sql
Labels: cla-signed

#3868 chore: cleanup stray changes
  helm/charts/determined/Chart.yaml
  helm/charts/determined/values.yaml
  master/internal/resourcemanagers/job.go
Labels: cla-signed

#3869 feat: Search models by name and description substring [DET-6939]
  harness/determined/common/api/bindings.py
  master/internal/api_model.go
  master/static/srv/get_models.sql
  proto/buf.image.bin
  proto/src/determined/api/v1/model.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#3875 chore: remove internal flag from det.launch.horovod --help
  harness/determined/launch/horovod.py
Labels: cla-signed

#3874 chore: use better NCCL SOCKET setting for gpt-neox
  examples/deepspeed/gpt_neox/hp_search.yaml
  examples/deepspeed/gpt_neox/zero1_3d_parallel.yaml
  examples/deepspeed/gpt_neox/zero1_pipeline_parallel.yaml
  examples/deepspeed/gpt_neox/zero3_medium.yaml
Labels: cla-signed

#3765 feat: Drag to Reorder and Resize Experiment Columns columns [DET-6438] [DET-6809]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/App.tsx
  webui/react/src/components/InteractiveTable.module.scss
  webui/react/src/components/InteractiveTable.tsx
  webui/react/src/components/Page.tsx
  webui/react/src/components/ResponsiveTable.module.scss
  webui/react/src/components/ResponsiveTable.tsx
  webui/react/src/hooks/useModal/useModalCustomizeColumns.stories.tsx
  webui/react/src/hooks/useSettings.ts
  webui/react/src/pages/ExperimentList.settings.ts
  webui/react/src/pages/ExperimentList.tsx
Labels: cla-signed

#3876 fix: avoid double-timestamps in logs
  harness/determined/common/_logging.py
  harness/determined/exec/harness.py
Labels: cla-signed

#3873 feat: show agent version in `/agents` and `det agent list` [DET-6847]
  agent/internal/agent.go
  e2e_tests/tests/cluster/test_agent.py
  harness/determined/cli/agent.py
  harness/determined/common/api/bindings.py
  master/internal/resourcemanagers/agent/agent.go
  master/internal/resourcemanagers/agent/agents.go
  master/pkg/model/agent.go
  proto/src/determined/agent/v1/agent.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#3880 fix: update checkpoint decoder in react
  harness/determined/common/api/bindings.py
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
Labels: cla-signed

#3882 lint fix
  proto/src/determined/checkpoint/v1/checkpoint.proto
Labels: cla-signed

#3883 update Checkpointing._report_checkpoint()
  harness/determined/_core/_checkpointing.py
  harness/determined/_core/_context.py
Labels: cla-signed

#3871 feat: make core.Searcher multiworker-safe
  harness/determined/_core/_context.py
  harness/determined/_core/_searcher.py
  harness/determined/layers/_workload_sequencer.py
  harness/tests/core/__init__.py
  harness/tests/core/test_searcher.py
  harness/tests/parallel.py
  harness/tests/test_ipc.py
Labels: cla-signed, User-facing API Change

#3879 docs: add release notes for 0.17.13
  docs/release-notes.txt
  docs/release-notes/3235-deepspeed.txt
  docs/release-notes/3545-upgrade-mmdetection.txt
  docs/release-notes/3723-model-registry-api.txt
  docs/release-notes/3735-agent-instance-stats-track.txt
  docs/release-notes/3755-update-model-required-fields.txt
  docs/release-notes/3790-login-redirect.txt
  docs/release-notes/cli-uuid-prefixes.txt
Labels: cla-signed

#3886 updated api integration tests
  master/test/integration/api/api_checkpoints_test.go
Labels: cla-signed

#3872 chore: Clean up tests with fewer Optional types and asserts
  e2e_tests/tests/cluster/test_agent_disable.py
  e2e_tests/tests/cluster/test_agent_restart.py
  e2e_tests/tests/cluster/test_checkpoints.py
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/experiment/test_noop.py
  e2e_tests/tests/experiment/test_pytorch.py
  e2e_tests/tests/experiment/test_tf_estimator.py
  e2e_tests/tests/experiment/test_tf_keras.py
  harness/determined/cli/checkpoint.py
  harness/determined/cli/experiment.py
  harness/determined/common/api/bindings.py
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/api/v1/trial.proto
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
Labels: cla-signed

#3889 docs: various fixes for master configuration and k8s docs
  docs/concepts/scheduling.txt
  docs/sysadmin-basics/cluster-config.txt
  docs/sysadmin-deploy-on-k8s/helm-config.txt
  docs/sysadmin-deploy-on-k8s/index.txt
  docs/sysadmin-deploy-on-k8s/install-on-kubernetes.txt
Labels: cla-signed

#3870 fix: match reported resource pool name for k8 across endpoints [DET-7006]
  master/internal/command/command.go
  master/internal/config/config.go
  master/internal/experiment.go
  master/internal/resourcemanagers/kubernetes_resource_manager.go
  webui/react/src/pages/JobQueue/ManageJob.tsx
Labels: cla-signed

#3892 fix: hide sizeChanger on RoutePagination
  webui/react/src/components/RoutePagination.tsx
Labels: cla-signed

#3891 fix: update python client representation of checkpoint
  e2e_tests/tests/experiment/test_core.py
  harness/determined/_core/_checkpointing.py
  harness/determined/cli/checkpoint.py
  harness/determined/cli/model.py
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  master/static/migrations/20220331152432_generic-checkpoints.tx.up.sql
  proto/buf.image.bin
  proto/src/determined/checkpoint/v1/checkpoint.proto
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
Labels: cla-signed

#3893 fix: use otel only if enabled
  docs/sysadmin-basics/cluster-config.txt
  master/cmd/determined-master/init.go
  master/internal/config/config.go
  master/internal/core.go
  master/internal/otel.go
  master/pkg/config/telemetry.go
Labels: cla-signed

#3758 feat: deepspeed DCGAN example
  .circleci/config.yml
  docs/examples.txt
  docs/release-notes/3758-deepspeed-dcgan.txt
  e2e_tests/tests/nightly/test_distributed.py
  examples/README.md
  examples/deepspeed/deepspeed_dcgan/README.md
  examples/deepspeed/deepspeed_dcgan/cifar10_zero2.yaml
  examples/deepspeed/deepspeed_dcgan/data.py
  examples/deepspeed/deepspeed_dcgan/ds_config.json
  examples/deepspeed/deepspeed_dcgan/gan_model.py
  examples/deepspeed/deepspeed_dcgan/mnist.yaml
  examples/deepspeed/deepspeed_dcgan/mnist_grad_accum.yaml
  examples/deepspeed/deepspeed_dcgan/model_def.py
Labels: cla-signed

#3896 chore: sweeping rename of Core API components
  e2e_tests/tests/fixtures/metric_maker/metric_maker.py
  e2e_tests/tests/fixtures/no_op/model_def.py
  examples/deepspeed/gpt_neox/gpt2_trial.py
  harness/determined/_core/__init__.py
  harness/determined/_core/_checkpoint.py
  harness/determined/_core/_context.py
  harness/determined/_core/_distributed.py
  harness/determined/_core/_preempt.py
  harness/determined/_core/_searcher.py
  harness/determined/_core/_train.py
  harness/determined/estimator/_estimator_context.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/layers/_workload_sequencer.py
  harness/determined/pytorch/_metric_utils.py
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/tests/core/test_preempt.py
  harness/tests/core/test_searcher.py
  harness/tests/experiment/pytorch/test_reducer.py
  harness/tests/test_ipc.py
Labels: cla-signed, User-facing API Change

#3890 docs: fix description of scheduling_unit behavior
  docs/training-apis/experiment-config.txt
Labels: cla-signed

#3829 chore: update StorageManager and extend CheckpointContext
  e2e_tests/tests/fixtures/metric_maker/metric_maker.py
  e2e_tests/tests/fixtures/no_op/model_def.py
  harness/determined/_core/_checkpoint.py
  harness/determined/common/storage/__init__.py
  harness/determined/common/storage/azure.py
  harness/determined/common/storage/base.py
  harness/determined/common/storage/cloud.py
  harness/determined/common/storage/gcs.py
  harness/determined/common/storage/hdfs.py
  harness/determined/common/storage/s3.py
  harness/determined/common/storage/shared.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/tests/storage/test_shared_fs.py
  harness/tests/storage/util.py
  harness/tests/test_gc_harness.py
Labels: cla-signed

#3897 chore: fix deepspeed nightly tests
  e2e_tests/tests/nightly/test_distributed.py
  examples/deepspeed/deepspeed_dcgan/cifar10_zero2.yaml
  examples/deepspeed/deepspeed_dcgan/mnist.yaml
  examples/deepspeed/deepspeed_dcgan/mnist_grad_accum.yaml
Labels: cla-signed

#3908 fix: RM crashes when setting cmd priority
  master/internal/command/command.go
Labels: cla-signed

#3895 fix: fix integration tests
  harness/determined/common/experimental/experiment.py
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_model_intg_test.go
  master/pkg/model/experiment.go
  master/static/migrations/20220331152432_generic-checkpoints.tx.up.sql
  master/test/integration/api/api_checkpoints_test.go
Labels: cla-signed

#3907 chore: remove pr preview cluster address [DET-7040]
  netlify.toml
Labels: cla-signed

#3894 refactor: remove dependency of settings in the updateSettings call
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/hooks/useSettings.ts
Labels: cla-signed

#3906 fix: run scheduling on agent connection/enable events, reconnectBacklog replay.
  e2e_tests/tests/cluster/test_agent_restart.py
  master/internal/resourcemanagers/agent/agent.go
  master/internal/resourcemanagers/resource_pool.go
  master/internal/sproto/agent_resource_manager.go
  master/internal/sproto/container.go
Labels: cla-signed

#3917 docs: fix install cli typo
  docs/getting-started.txt
Labels: cla-signed

#3910 feat: add core.DownloadMode
  harness/determined/_core/__init__.py
  harness/determined/_core/_checkpoint.py
  harness/determined/_core/_distributed.py
  harness/tests/core/test_checkpoint.py
Labels: cla-signed, User-facing API Change

#3916 chore: make store_path auto-create the directory
  e2e_tests/tests/fixtures/metric_maker/metric_maker.py
  e2e_tests/tests/fixtures/no_op/model_def.py
  harness/determined/common/storage/base.py
  harness/determined/estimator/_estimator_trial.py
  harness/tests/storage/test_storage_base.py
  harness/tests/storage/util.py
Labels: cla-signed

#3777 feat: add slurm rendezvous
  harness/determined/exec/prep_container.py
  master/internal/api_tasks.go
  master/internal/sproto/task.go
Labels: cla-signed

#3911 chore: add missing docstrings in core api
  harness/determined/_core/_checkpoint.py
  harness/determined/_core/_context.py
  harness/determined/_core/_preempt.py
  harness/determined/_core/_searcher.py
  harness/determined/_core/_train.py
Labels: cla-signed

#3924 chore: log checkpoint uuids in core, not in wlsq
  harness/determined/_core/_checkpoint.py
  harness/determined/layers/_workload_sequencer.py
Labels: cla-signed

#3919 chore: demote _get_last_validation to internal
  harness/determined/_core/_train.py
  harness/determined/layers/_workload_sequencer.py
Labels: cla-signed, User-facing API Change

#3901 chore: update dep requirements for react
  webui/react/package.json
Labels: cla-signed

#3920 chore: disallow getting metadata from dummy checkpoint context
  harness/determined/_core/_checkpoint.py
Labels: cla-signed

#3832 perf: add infiniband-related libraries to environment
  .circleci/config.yml
  docs/features/command-notebook-config.txt
  docs/features/tensorboard.txt
  docs/prepare-environment/custom-env.txt
  docs/sysadmin-basics/cluster-config.txt
  docs/sysadmin-deploy-on-gcp/install-gcp.txt
  docs/sysadmin-deploy-on-k8s/helm-config.txt
  docs/training-apis/experiment-config.txt
  docs/training-apis/index.txt
  e2e_tests/tests/config.py
  e2e_tests/tests/fixtures/pytorch_lightning_amp/apex_amp.yaml
  e2e_tests/tests/fixtures/pytorch_lightning_amp/auto_amp.yaml
  examples/computer_vision/efficientdet_pytorch/const.yaml
  examples/computer_vision/efficientdet_pytorch/const_fake.yaml
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/decision_trees/gbt_titanic_estimator/adaptive.yaml
  examples/decision_trees/gbt_titanic_estimator/const.yaml
  examples/deepspeed/cifar10_moe/moe.yaml
  examples/deepspeed/cifar10_moe/zero_stages.yaml
  examples/deepspeed/gpt_neox/Dockerfile
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  examples/graphs/proteins_pytorch_geometric/adaptive.yaml
  examples/graphs/proteins_pytorch_geometric/const.yaml
  examples/graphs/proteins_pytorch_geometric/distributed.yaml
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/aws/templates/vpc.yaml
  harness/determined/deploy/gcp/constants.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/tensorboard/metric_writers/tensorflow.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-estimator/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  helm/charts/determined/templates/master-config.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: cla-signed

#3926 docs: tweak docs for socket activation
  docs/integrations/ecosystem-integration.txt
  docs/sysadmin-deploy-on-prem/linux-packages.txt
Labels: cla-signed

#3918 fix: Hide archived experiments unless using --all [DET-7042]
  harness/determined/cli/experiment.py
Labels: cla-signed

#3846 feat: CLI supports Projects [DET-6820]
  harness/determined/cli/__init__.py
  harness/determined/cli/cli.py
  harness/determined/cli/project.py
  harness/determined/cli/workspace.py
  master/internal/api_model.go
  master/internal/api_project.go
  master/internal/api_workspace.go
Labels: cla-signed

#3922 fix: crash on upgrade to InteractiveTable [DET-7036]
  webui/react/src/components/InteractiveTable.tsx
  webui/react/src/pages/ExperimentList.tsx
Labels: cla-signed

#3923 chore: prevent InteractiveTable scroll from moving pagination or other controls [DET-7037]
  webui/react/src/components/InteractiveTable.module.scss
  webui/react/src/components/InteractiveTable.tsx
Labels: cla-signed

#3826 test: add interaction tests for spinner [DET-6665]
  webui/react/src/components/Spinner.test.tsx
  webui/react/src/setupTests.ts
Labels: cla-signed

#3914 chore: replace username with userId for user API
  harness/determined/common/api/bindings.py
  master/internal/api_auth.go
  master/internal/api_user.go
  master/internal/db/postgres_users.go
  proto/buf.image.bin
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/user.proto
  webui/react/src/hooks/useModal/UserSettings/useModalChangeName.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalChangeName.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalChangePassword.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalChangePassword.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed, User-facing API Change

#3929 feat: workspace details/project list page [DET-6825]
  webui/react/src/components/InlineEditor.tsx
  webui/react/src/components/Table.tsx
  webui/react/src/hooks/useModal/Project/useModalProjectCreate.module.scss
  webui/react/src/hooks/useModal/Project/useModalProjectCreate.tsx
  webui/react/src/hooks/useModal/Project/useModalProjectDelete.module.scss
  webui/react/src/hooks/useModal/Project/useModalProjectDelete.tsx
  webui/react/src/hooks/useModal/Project/useModalProjectEdit.module.scss
  webui/react/src/hooks/useModal/Project/useModalProjectEdit.tsx
  webui/react/src/hooks/useModal/Project/useModalProjectMove.module.scss
  webui/react/src/hooks/useModal/Project/useModalProjectMove.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceCreate.module.scss
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceCreate.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceDelete.module.scss
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceDelete.tsx
  webui/react/src/pages/WorkspaceDetails.module.scss
  webui/react/src/pages/WorkspaceDetails.settings.ts
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceDetails/ProjectActionDropdown.tsx
  webui/react/src/pages/WorkspaceDetails/ProjectCard.module.scss
  webui/react/src/pages/WorkspaceDetails/ProjectCard.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceDetailsHeader.module.scss
  webui/react/src/pages/WorkspaceDetails/WorkspaceDetailsHeader.tsx
  webui/react/src/pages/WorkspaceList.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Labels: cla-signed

#3881 chore: mask registry creds in webui [DET-7013]
  webui/react/src/hooks/useModal/useModalExperimentCreate.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentConfiguration.tsx
Labels: cla-signed

#3898 chore: add filtering by userIds to API endpoints (DET-7019)
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_model.go
  master/internal/command/command_manager.go
  master/internal/command/notebook_manager.go
  master/internal/command/shell_manager.go
  master/internal/command/tensorboard_manager.go
  master/internal/db/postgres_experiments_intg_test.go
  master/static/srv/get_experiments.sql
  master/static/srv/get_models.sql
  proto/src/determined/api/v1/command.proto
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/api/v1/model.proto
  proto/src/determined/api/v1/notebook.proto
  proto/src/determined/api/v1/shell.proto
  proto/src/determined/api/v1/tensorboard.proto
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
  webui/react/src/utils/task.ts
Labels: cla-signed, User-facing API Change

#3921 chore: bring webui checkpoint types into alignment with CoreAPI [DET-6676]
  webui/react/src/components/CheckpointModal.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
  webui/react/src/utils/workload.test.ts
  webui/react/src/utils/workload.ts
Labels: cla-signed, User-facing API Change

#3867 chore: mask registry auth password in harness [DET-6279]
  harness/determined/exec/launch.py
  master/internal/config/config.go
Labels: cla-signed

#3940 fix: null searcher metric at bottom only if sorting by searcher metric
  master/internal/api_experiment.go
  master/test/integration/api/api_checkpoints_test.go
Labels: cla-signed

#3934 chore: add a default target to det job
  harness/determined/cli/job.py
Labels: cla-signed

#3939 chore: add key attribute to avatar ActionCard action [DET-7015]
  webui/react/src/components/NavigationTabbar.tsx
Labels: cla-signed

#3944 feat: Add numProjects field to workspaces API, CLI [DET-7064]
  harness/determined/cli/workspace.py
  harness/determined/common/api/bindings.py
  master/static/srv/get_workspace.sql
  master/static/srv/get_workspaces.sql
  master/static/srv/update_workspace.sql
  proto/src/determined/workspace/v1/workspace.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#3852 feat: track task stats [DET-6872, DET-6926, DET-6927]
  agent/internal/agent.go
  agent/internal/container.go
  agent/internal/containers.go
  agent/internal/docker.go
  master/internal/core.go
  master/internal/db/database.go
  master/internal/db/postgres_cluster.go
  master/internal/db/postgres_tasks.go
  master/internal/mocks/db.go
  master/internal/resourcemanagers/agent/agent.go
  master/internal/resourcemanagers/resource_pool.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/task/allocation_test.go
  master/pkg/aproto/master_message.go
  master/pkg/cproto/spec.go
  master/pkg/model/task.go
  master/pkg/tasks/task.go
  master/static/migrations/20220418222555_add-task-stats-table.tx.down.sql
  master/static/migrations/20220418222555_add-task-stats-table.tx.up.sql
  master/static/srv/get_raw_allocation.sql
  master/static/srv/update_aggregated_queued_time.sql
Labels: cla-signed

#3943 fix: checkpoint gc job should close
  docs/release-notes/checkpoint-gc-close.txt
  harness/determined/cli/experiment.py
  master/internal/checkpoint_gc.go
Labels: cla-signed

#3909 fix: parse different time format in compare stats script [DET-7039]
  e2e_tests/tests/nightly/compute_stats.py
  e2e_tests/tests/requirements.txt
Labels: cla-signed

#3937 chore: add missing icons to mobile navbar [DET-7009]
  webui/react/src/components/NavigationTabbar.tsx
Labels: cla-signed

#3849 chore: take out job summary caching [DET-6695]
  docs/release-notes/3849-stale-job-state.txt
  master/internal/api_experiment.go
  master/internal/command/command.go
  master/internal/experiment.go
  master/internal/job/job.go
  master/internal/resourcemanagers/fair_share.go
  master/internal/resourcemanagers/job.go
  master/internal/resourcemanagers/kubernetes_resource_manager.go
  master/internal/resourcemanagers/priority.go
  proto/src/determined/experiment/v1/experiment.proto
Labels: cla-signed

#3902 chore: add message to cleanup external RM resources on delete, for slurm
  master/internal/api_experiment.go
  master/internal/job/job.go
  master/internal/resourcemanagers/kubernetes_resource_manager.go
  master/internal/resourcemanagers/resource_pool.go
Labels: cla-signed

#3949 fix: avoid type mismatch in update_model_version.sql
  master/static/srv/update_model_version.sql
Labels: cla-signed

#3953 fix: update HPE logo sizes
  webui/react/src/components/Logo.module.scss
Labels: cla-signed

#3950 docs: update package versions, add ROCm, edit to style guide
  docs/prepare-environment/custom-env.txt
Labels: cla-signed

#3958 ci: new semantic pull request check.
  .github/workflows/semantic.yml
Labels: cla-signed

#3933 chore: Update list of false alarms in Docker image scanning
  .circleci/config.yml
  tools/scripts/scan-docker-images.sh
Labels: cla-signed

#3962 docs: add release notes for PR #3914
  docs/release-notes/3914-user-path-params.txt
Labels: cla-signed

#3968 fix: forward job.DeleteJob through agentRM
  master/internal/resourcemanagers/agent_resource_manager.go
  master/internal/resourcemanagers/resource_managers.go
Labels: cla-signed

#3973 fix: task log level parsing
  harness/determined/common/_logging.py
Labels: cla-signed

#3941 fix: _report_checkpoint correct POST payload
  e2e_tests/tests/experiment/test_core.py
  harness/determined/cli/checkpoint.py
  harness/determined/cli/experiment.py
  harness/determined/cli/model.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/core/_checkpoint.py
Labels: cla-signed

#3960 chore: remove notebook logs
  docs/release-notes/notebook-logs.txt
  harness/determined/common/api/bindings.py
  master/internal/api_notebook.go
  proto/buf.image.bin
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/notebook.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#3967 fix: notebook log level filtering [DET-7098]
  master/pkg/model/experiment.go
  master/pkg/model/task.go
  master/static/srv/get_task_logs_fields.sql
  master/static/srv/notebook-entrypoint.sh
  proto/src/determined/api/v1/task.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#3980 ci: remove old semantic PR app config.
  .github/semantic.yml
Labels: cla-signed

#3979 docs: fix tutorial link swap
  docs/tutorials/index.txt
Labels: cla-signed

#3965 fix: add test warmup command e2e [DET-5803]
  e2e_tests/tests/cluster/test_logging.py
  e2e_tests/tests/conftest.py
  e2e_tests/tests/experiment/test_profiling.py
Labels: cla-signed

#3977 feat: Projects CLI, add sort-by fields
  harness/determined/cli/experiment.py
  harness/determined/cli/project.py
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_project.go
  master/internal/api_workspace.go
  master/internal/db/database.go
  master/internal/db/postgres_experiments.go
  master/internal/mocks/db.go
  master/static/srv/get_experiment_labels.sql
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/api/v1/project.proto
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#3963 chore: apply filtering to task logs
  webui/react/src/components/LogViewer/LogViewer.test.tsx
  webui/react/src/components/TrialLogPreview.tsx
  webui/react/src/pages/TaskLogs.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
  webui/react/src/services/decoder.ts
Labels: cla-signed

#3947 chore: add error type for non retryable errors
  master/internal/sproto/resources.go
  master/internal/trial.go
Labels: cla-signed

#3955 feat: Add overall allocation bar to new cluster page [DET-7074]
  webui/react/src/components/ResourcePoolCardLight.module.scss
  webui/react/src/components/ResourcePoolCardLight.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsage.module.scss
  webui/react/src/pages/Cluster/ClusterOverallBar.tsx
  webui/react/src/pages/Cluster/ClusterOverview.tsx
  webui/react/src/pages/Clusters.module.scss
  webui/react/src/pages/Clusters.tsx
  webui/react/src/pages/Clusters/ClustersOverview.tsx
Labels: cla-signed

#3971 chore: document usage of /ws/data-layer [DET-6685]
  master/internal/core.go
Labels: cla-signed

#3956 feat: add drag and drop functionality to experiment list column table [DET-7044]
  webui/react/src/components/DraggableListItem.module.scss
  webui/react/src/components/DraggableListItem.tsx
  webui/react/src/hooks/useModal/useModalCustomizeColumns.tsx
Labels: cla-signed

#3904 feat: add det support bundle [DET-5886]
  e2e_tests/tests/cluster/test_support-bundle.py
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/experiment/experiment.py
  harness/determined/cli/trial.py
Labels: cla-signed

#3975 chore: handle errors from starting allocations [DET-5862]
  master/internal/mocks/resources.go
  master/internal/resourcemanagers/agent/agent.go
  master/internal/resourcemanagers/kubernetes/pod.go
  master/internal/resourcemanagers/kubernetes_resource_manager.go
  master/internal/resourcemanagers/resource_pool.go
  master/internal/resourcemanagers/scheduler_test.go
  master/internal/sproto/resources.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/task/allocation_test.go
Labels: cla-signed

#3981 ci: bump profiling test timeout back up
  e2e_tests/tests/experiment/test_profiling.py
Labels: cla-signed

#3990 docs: update release note process
  docs/release-notes/README.md
Labels: cla-signed

#3984 fix: avoid permanent filtered state in model registry [DET-6946]
  webui/react/src/pages/ModelRegistry.tsx
Labels: cla-signed

#3982 fix: experiment columns filter is still applied after closing [DET-6837]
  webui/react/src/hooks/useModal/useModalCustomizeColumns.tsx
Labels: cla-signed

#3992 fix: handle infinite validation metric values in more cases
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_proto.go
Labels: cla-signed

#3995 chore: handle rank id in log entries
  webui/react/src/services/decoder.ts
Labels: cla-signed

#3986 docs: add release notes for 0.17.15
  docs/release-notes.txt
  docs/release-notes/3758-deepspeed-dcgan.txt
  docs/release-notes/3849-stale-job-state.txt
  docs/release-notes/3914-user-path-params.txt
  docs/release-notes/checkpoint-gc-close.txt
Labels: cla-signed

#3999 fix: handle infinite metrics in searcher snapshots [DET-7122]
  master/internal/db/postgres_proto.go
  master/pkg/model/types.go
  master/pkg/searcher/asha.go
  master/pkg/searcher/asha_stopping.go
Labels: cla-signed

#3996 feat: Users-specific pinned workspaces
  e2e_tests/tests/cluster/test_workspace_org.py
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/session.py
  master/internal/api_project.go
  master/internal/api_workspace.go
  master/static/migrations/20220422101847_pin-workspaces.down.sql
  master/static/migrations/20220422101847_pin-workspaces.up.sql
  master/static/srv/delete_workspace.sql
  master/static/srv/get_workspace.sql
  master/static/srv/get_workspaces.sql
  master/static/srv/pin_workspace.sql
  master/static/srv/unpin_workspace.sql
  master/static/srv/update_workspace.sql
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/workspace.proto
  proto/src/determined/workspace/v1/workspace.proto
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#3966 chore: Add expconf environment.slurm
  harness/determined/common/schemas/expconf/_gen.py
  harness/determined/common/schemas/expconf/_v0.py
  master/pkg/model/compat.go
  master/pkg/model/environment_config.go
  master/pkg/model/experiment_config_test.go
  master/pkg/schemas/expconf/environment_config.go
  master/pkg/schemas/expconf/zgen_environment_config_v0.go
  master/pkg/schemas/schema.go
  master/pkg/schemas/zgen_schemas.go
  schemas/expconf/v0/environment.json
  schemas/test_cases/v0/defaults.yaml
  schemas/test_cases/v0/experiment.yaml
  schemas/test_cases/v0/gpu-cuda-migration.yaml
Labels: cla-signed

#3991 fix: do not default to `noverify` for `bindings` sessions in CLI.
  docs/release-notes/fix-noverify.txt
  harness/determined/cli/session.py
Labels: cla-signed

#3983 fix: guard trial and allocation correctness against RM misbehavior
  master/internal/task/allocation.go
  master/internal/trial.go
Labels: cla-signed

#3994 feat: add modal to explain why users cannot delete items [DET-6998]
  webui/react/src/components/ModalItemDelete.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
Labels: cla-signed

#4003 fix: handle zeros correctly in HpTrialTable metricSorter
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpTrialTable.tsx
Labels: cla-signed

#3978 chore: Removing CODEOWNERS entry for release notes
  CODEOWNERS
Labels: cla-signed

#4008 test: add option to disable `compare_stats`.
  e2e_tests/tests/conftest.py
Labels: cla-signed

#4002 chore: Show appropriate severity level on job launch failures.
  master/internal/task/allocation.go
Labels: cla-signed

#3900 build: give the latest-master deploy job a name
  .circleci/config.yml
Labels: cla-signed

#3997 chore: warn about ambiguous enum definitions
  bindings/generate_bindings.py
Labels: cla-signed

#3989 docs: fix indent in pytorch-porting-tutorial
  docs/tutorials/pytorch-porting-tutorial.txt
Labels: documentation, cla-signed

#3988 docs: fix grammar in training-run index
  docs/training-run/index.txt
Labels: documentation, cla-signed

#4021 chore: fix documentation comment for /ws/data-layer
  master/internal/core.go
Labels: cla-signed

#3952 feat: add product feedback link [DET-5811]
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/routes/utils.ts
Labels: cla-signed

#4020 feat: Telemetry of use of workspaces and projects
  e2e_tests/tests/cluster/test_workspace_org.py
  master/internal/db/postgres_cluster.go
  master/static/srv/get_experiments.sql
Labels: cla-signed

#4005 docs: update copyright date
  LICENSE
Labels: cla-signed

#4018 chore: remove deprecated type provider for moment-timezone
  webui/react/Makefile
  webui/react/package-lock.json
  webui/react/package.json
Labels: cla-signed

#4023 fix: add key for cancel operation
  webui/react/src/components/ActionSheet.tsx
Labels: cla-signed

#4019 fix: change timeout in e2e_tests/tests/cluster/test_logging.py/test_trial_logs
  e2e_tests/tests/cluster/test_logging.py
Labels: cla-signed

#4011 fix: Ensure table offset does not exceed pagination total [DET-6829]
  webui/react/src/pages/ExperimentList.tsx
Labels: cla-signed

#4025 feat: PutProjectNotes to set notes on workspaces/projects
  e2e_tests/tests/cluster/test_workspace_org.py
  harness/determined/common/api/bindings.py
  master/internal/api_project.go
  master/internal/db/postgres_cluster.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/project.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#4015 fix: Prevent archived models from appearing in the Register Checkpoint modal [DET-7132]
  webui/react/src/hooks/useRegisterCheckpointModal.tsx
Labels: cla-signed

#4024 feat: save metadata pre-upload
  examples/tutorials/core_api/4_distributed.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/core/_checkpoint.py
  harness/tests/core/test_checkpoint.py
Labels: cla-signed

#4017 fix: Human-readable option for empty filters in logs [DET-6781, DET-6999]
  webui/react/src/components/LogViewer/LogViewerFilters.tsx
Labels: cla-signed

#3669 feat: Create a table of user profile pictures [DET-6739]
  harness/determined/common/api/bindings.py
  master/internal/api_user.go
  master/internal/db/postgres_users.go
  master/internal/user/api.go
  master/internal/user/service.go
  master/pkg/model/user.go
  master/static/srv/20220228132402_store-profile-pics.down.sql
  master/static/srv/20220228132402_store-profile-pics.up.sql
  master/static/srv/get_user_image.sql
  master/static/srv/list_users.sql
  proto/src/determined/user/v1/user.proto
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#3938 feat: allow position modification in k8s [DET-6967] [DET-6968]
  docs/features/job-queue.txt
  docs/release-notes/3938-job-queue-k8s.txt
  master/internal/job/job.go
  master/internal/resourcemanagers/job.go
  master/internal/resourcemanagers/kubernetes/message.go
  master/internal/resourcemanagers/kubernetes/pod.go
  master/internal/resourcemanagers/kubernetes/pods.go
  master/internal/resourcemanagers/kubernetes_resource_manager.go
  master/internal/resourcemanagers/resource_pool.go
  master/internal/resourcemanagers/resource_pool_test.go
  webui/react/src/pages/JobQueue/ManageJob.tsx
  webui/react/src/utils/job.ts
Labels: cla-signed

#4033 fix: add another missing key fix
  webui/react/src/components/NavigationTabbar.tsx
Labels: cla-signed

#3959 refactor: remove `NewAllocationID`.
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/db/postgres_cluster_intg_test.go
  master/internal/db/postgres_tasks_intg_test.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/task/preemption_test.go
  master/internal/task/rendezvous_test.go
  master/internal/trial.go
  master/pkg/model/task.go
Labels: cla-signed

#4029 test: ensure that agent disabling doesn't count for experiment restarts [DET-5916]
  e2e_tests/tests/cluster/test_agent_disable.py
Labels: cla-signed

#4028 ci: Add build/coverage badge for webui/react [DET-6767]
  .circleci/config.yml
  webui/react/README.md
Labels: cla-signed

#3946 chore: store allocation resources and agent RM containers in DB.
  e2e_tests/tests/command/test_run.py
  master/internal/core.go
  master/internal/db/database.go
  master/internal/db/postgres_helpers_intg_test.go
  master/internal/db/postgres_tasks.go
  master/internal/db/postgres_test_utils.go
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/mocks/db.go
  master/internal/resourcemanagers/agent/agents.go
  master/internal/resourcemanagers/agent/models.go
  master/internal/resourcemanagers/resource_pool.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/rendezvous.go
  master/internal/task/rendezvous_test.go
  master/internal/task/resources_list.go
  master/internal/trial.go
  master/internal/trial_test.go
  master/pkg/cproto/container.go
  master/pkg/model/test_utils.go
  master/static/migrations/20220418191704_agent-resources.tx.down.sql
  master/static/migrations/20220418191704_agent-resources.tx.up.sql
  master/test/integration/api/api_trials_test.go
Labels: cla-signed

#4038 fix: Alter Boolean arg default handling
  harness/determined/common/declarative_argparse.py
Labels: cla-signed

#4027 feat: project details page [DET-7076]
  webui/react/src/components/BreadcrumbBar.module.scss
  webui/react/src/components/BreadcrumbBar.tsx
  webui/react/src/components/NotesCard.tsx
  webui/react/src/components/PageHeader.tsx
  webui/react/src/components/PaginatedNotesCard.module.scss
  webui/react/src/components/PaginatedNotesCard.tsx
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/components/WorkspaceIcon.module.scss
  webui/react/src/components/WorkspaceIcon.tsx
  webui/react/src/hooks/useModal/Project/useModalProjectMove.tsx
  webui/react/src/hooks/useModal/Project/useModalProjectNoteDelete.module.scss
  webui/react/src/hooks/useModal/Project/useModalProjectNoteDelete.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceEdit.module.scss
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceEdit.tsx
  webui/react/src/hooks/useModal/useModalExperimentMove.module.scss
  webui/react/src/hooks/useModal/useModalExperimentMove.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/ProjectDetails.module.scss
  webui/react/src/pages/ProjectDetails.settings.ts
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/ProjectDetails/ProjectDetailsTabs.module.scss
  webui/react/src/pages/ProjectDetails/ProjectDetailsTabs.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
  webui/react/src/pages/WorkspaceDetails.module.scss
  webui/react/src/pages/WorkspaceDetails.settings.ts
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceDetails/ProjectActionDropdown.tsx
  webui/react/src/pages/WorkspaceDetails/ProjectCard.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceDetailsHeader.module.scss
  webui/react/src/pages/WorkspaceDetails/WorkspaceDetailsHeader.tsx
  webui/react/src/pages/WorkspaceList.module.scss
  webui/react/src/pages/WorkspaceList.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceActionDropdown.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceCard.module.scss
  webui/react/src/pages/WorkspaceList/WorkspaceCard.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/styles/icons.scss
  webui/react/src/types.ts
  webui/react/src/utils/task.ts
Labels: cla-signed

#4014 refactor: rewrite ndjson streamer [DET-7121]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/LogViewer/LogViewer.test.tsx
  webui/react/src/components/LogViewer/LogViewer.tsx
  webui/react/src/components/TrialLogPreview.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpHeatMaps.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpScatterPlots.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/TaskLogs.tsx
  webui/react/src/pages/TrialDetails/Profiles/useFetchAvailableSeries.ts
  webui/react/src/pages/TrialDetails/Profiles/useFetchMetrics.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
  webui/react/src/services/utils.ts
  webui/react/src/utils/browser.ts
Labels: cla-signed
