Repository determined-ai/determined, pull requests merged in 2022-05, with the labels that each got.

#4036 chore: Recommend git clone --recursive for submodules
  CONTRIBUTING.md
  README.md
Labels: cla-signed

#4044 docs: workspaces docs [DET-7128]
  docs/assets/images/qs01b.png
  docs/assets/images/qs01c.png
  docs/getting-started.txt
  docs/training-apis/experiment-config.txt
  webui/react/src/contexts/Store.tsx
Labels: cla-signed

#4016 fix: remove dead shell start code [DET-7131]
  e2e_tests/tests/cluster/test_users.py
  harness/determined/cli/shell.py
Labels: cla-signed

#4046 fix: Patch get_experiments query
  harness/determined/common/api/bindings.py
  master/internal/api_project.go
  master/internal/db/postgres_helpers_intg_test.go
  master/pkg/model/test_utils.go
  master/static/srv/get_experiments.sql
  proto/src/determined/api/v1/project.proto
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#4045 chore: move webui codecov upload to use env var instead of hardcoded token
  .circleci/config.yml
Labels: cla-signed

#4047 chore: speed up loading pinned workspaces
  webui/react/src/components/BreadcrumbBar.tsx
  webui/react/src/components/Navigation.tsx
  webui/react/src/pages/ProjectDetails/ProjectDetailsTabs.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceActionDropdown.tsx
Labels: cla-signed

#4053 fix: make "Show full config" modal larger
  webui/react/src/hooks/useModal/useModalExperimentCreate.tsx
Labels: cla-signed

#4043 refactor: simplify apiConfig to reduce redundancy
  webui/react/src/services/apiConfig.ts
Labels: cla-signed

#4048 fix: avoid off by one in latest_batch
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/fixtures/metric_maker/metric_maker.py
  e2e_tests/tests/fixtures/no_op/model_def.py
  examples/tutorials/core_api/1_metrics.py
  examples/tutorials/core_api/2_checkpoints.py
  examples/tutorials/core_api/3_hpsearch.py
  examples/tutorials/core_api/4_distributed.py
  harness/determined/_data_layer/_data_layer.py
  harness/determined/_env_context.py
  harness/determined/_execution.py
  harness/determined/_info.py
  harness/determined/_trial_context.py
  harness/determined/cli/checkpoint.py
  harness/determined/cli/model.py
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/core/_checkpoint.py
  harness/determined/core/_train.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/exec/harness.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/layers/_workload_sequencer.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/determined/tensorboard/metric_writers/callback.py
  harness/tests/core/test_checkpoint.py
  harness/tests/experiment/keras/test_tf_keras_trial.py
  harness/tests/experiment/pytorch/test_deepspeed_trial.py
  harness/tests/experiment/pytorch/test_pytorch_lightning.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/tensorflow/test_estimator_trial.py
  harness/tests/experiment/utils.py
  harness/tests/launch/test_horovod.py
  harness/tests/tensorboard/test_util.py
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_helpers_intg_test.go
  master/internal/db/postgres_model_intg_test.go
  master/internal/db/postgres_trial.go
  master/internal/trial.go
  master/pkg/model/experiment.go
  master/pkg/protoutils/protoless/less.go
  master/pkg/tasks/task_trial.go
  master/static/migrations/20220502180510_generic-checkpoints.tx.down.sql
  master/static/migrations/20220502180510_generic-checkpoints.tx.up.sql
  master/static/srv/get_trial.sql
  master/static/srv/get_trial_metrics.sql
  master/static/srv/proto_get_trial_workloads.sql
  master/static/srv/proto_get_trials_plus.sql
  master/test/integration/api/api_checkpoints_test.go
  master/test/integration/api/api_trials_test.go
  proto/buf.image.bin
  proto/src/determined/checkpoint/v1/checkpoint.proto
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
Labels: cla-signed

#4049 chore: remove unnecessary use of username in webui (DET-6922)
  webui/react/src/components/Avatar.test.tsx
  webui/react/src/components/Avatar.tsx
  webui/react/src/components/AvatarCard.tsx
  webui/react/src/components/Table.stories.tsx
  webui/react/src/components/Table.tsx
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/components/UserSelectFilter.tsx
  webui/react/src/contexts/Store.tsx
  webui/react/src/hooks/useCreateModelModal.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalUserSettings.tsx
  webui/react/src/hooks/useStorage.ts
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/JobQueue/JobQueue.table.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/TaskList.settings.ts
  webui/react/src/pages/TaskList.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.stories.tsx
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.stories.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/storybook/shared/generateTestExperiments.ts
  webui/react/src/types.ts
  webui/react/src/utils/experiment.test.ts
  webui/react/src/utils/task.test.ts
  webui/react/src/utils/task.ts
  webui/react/src/utils/user.ts
Labels: cla-signed

#4057 fix: Add Workspace and Project name params to experiment yaml
  harness/determined/common/schemas/expconf/_gen.py
  harness/determined/common/schemas/expconf/_v0.py
  master/internal/core_experiment.go
  master/internal/db/postgres_experiments.go
  master/pkg/model/experiment.go
  master/pkg/schemas/expconf/experiment_config.go
  master/pkg/schemas/expconf/zgen_experiment_config_v0.go
  master/pkg/schemas/zgen_schemas.go
  master/static/srv/get_project_from_name.sql
  master/static/srv/get_workspace_from_name.sql
  schemas/expconf/v0/experiment.json
  schemas/test_cases/v0/experiment.yaml
Labels: cla-signed

#4060 chore: remove deprecated experimental custom reducer methods
  docs/release-notes/4060-custom-reducers.txt
  harness/determined/estimator/_estimator_context.py
  harness/determined/pytorch/_experimental.py
  harness/determined/util.py
Labels: cla-signed, User-facing API Change

#4056 chore: deprecate data layer
  docs/conf.py
  docs/examples.txt
  docs/release-notes/4056-data-layer.txt
  docs/training-apis/data-layer.txt
  docs/training-apis/experiment-config.txt
  docs/training-apis/index.txt
  e2e_tests/tests/experiment/test_tf_estimator.py
  e2e_tests/tests/experiment/test_tf_keras.py
  e2e_tests/tests/fixtures/data_layer_estimator/__init__.py
  e2e_tests/tests/fixtures/data_layer_estimator/const.yaml
  e2e_tests/tests/fixtures/data_layer_estimator/distributed.yaml
  e2e_tests/tests/fixtures/data_layer_estimator/model_def.py
  e2e_tests/tests/fixtures/data_layer_estimator/util.py
  e2e_tests/tests/fixtures/data_layer_tf_keras/__init__.py
  e2e_tests/tests/fixtures/data_layer_tf_keras/const.yaml
  e2e_tests/tests/fixtures/data_layer_tf_keras/model_def.py
  e2e_tests/tests/nightly/test_convergence.py
  examples/README.md
  examples/features/data_layer_mnist_estimator/README.md
  examples/features/data_layer_mnist_tf_keras/README.md
  examples/tests/test_official.py
  harness/determined/_data_layer/_context.py
Labels: cla-signed, User-facing API Change

#4055 chore: remove remainder of native api
  docs/release-notes/4055-native.txt
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_pytorch.py
  e2e_tests/tests/fixtures/pytorch_no_op/model_def.py
  harness/determined/_experiment_config.py
  harness/determined/cli/experiment.py
  harness/determined/common/schemas/expconf/_gen.py
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/constants.py
  harness/determined/exec/harness.py
  harness/determined/exec/launch.py
  harness/determined/experimental/__init__.py
  harness/determined/experimental/_native.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/load.py
  harness/tests/experiment/fixtures/tf_keras_runtime_error.py
  harness/tests/experiment/keras/test_tf_keras_trial.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/tensorflow/test_estimator_trial.py
  harness/tests/experiment/utils.py
  harness/tests/launch/test_launch.py
  master/pkg/schemas/expconf/experiment_config.go
  master/pkg/schemas/expconf/zgen_experiment_config_v0.go
  master/pkg/schemas/expconf/zgen_internal_config_v0.go
  master/pkg/schemas/expconf/zgen_native_config_v0.go
  master/pkg/schemas/zgen_schemas.go
  schemas/expconf/v0/experiment.json
  schemas/expconf/v0/internal.json
  schemas/expconf/v0/native.json
  schemas/test_cases/v0/entrypoint.yaml
Labels: cla-signed, User-facing API Change

#4061 chore: update k8s scheduler to run latest image
  helm/charts/determined/templates/scheduler-deployment.yaml
Labels: cla-signed

#3807 feat: support for torch native dtrain
  e2e_tests/tests/experiment/test_pytorch_distributed.py
  e2e_tests/tests/fixtures/mmdetection/distributed_fake_data.yaml
  e2e_tests/tests/fixtures/pytorch_amp/apex_amp_distributed.yaml
  e2e_tests/tests/fixtures/pytorch_amp/auto_amp_distributed.yaml
  e2e_tests/tests/fixtures/pytorch_amp/manual_amp_distributed.yaml
  e2e_tests/tests/fixtures/pytorch_identity/model_def.py
  e2e_tests/tests/fixtures/pytorch_identity/torch_distributed.yaml
  harness/determined/_core/_distributed.py
  harness/determined/_trial_controller.py
  harness/determined/exec/harness.py
  harness/determined/exec/worker_process_wrapper.py
  harness/determined/launch/torch_distributed.py
  harness/determined/pytorch/README.md
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/tests/launch/test_deepspeed.py
  harness/tests/launch/test_horovod.py
  harness/tests/launch/test_torch_distributed.py
  harness/tests/launch/test_util.py
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/mmdetection/__init__.py
  model_hub/model_hub/mmdetection/_callbacks.py
  model_hub/model_hub/mmdetection/_trial.py
  model_hub/model_hub/mmdetection/utils.py
Labels: cla-signed

#4058 chore: remove PBT searcher
  docs/conf.py
  docs/release-notes/remove-pbt.txt
  docs/training-apis/experiment-config.txt
  docs/training-hyperparameter/hp-constraints-det.txt
  docs/training-hyperparameter/hp-pbt.txt
  docs/training-hyperparameter/index.txt
  e2e_tests/tests/fixtures/no_op/pbt.yaml
  harness/determined/_core/_searcher.py
  harness/determined/common/schemas/expconf/_gen.py
  master/internal/api_experiment.go
  master/pkg/schemas/expconf/latest.go
  master/pkg/schemas/expconf/schema_test.go
  master/pkg/schemas/expconf/searcher_config.go
  master/pkg/schemas/expconf/zgen_pbt_config_v0.go
  master/pkg/schemas/expconf/zgen_searcher_config_v0.go
  master/pkg/schemas/zgen_schemas.go
  master/pkg/searcher/hyperparameters.go
  master/pkg/searcher/pbt.go
  master/pkg/searcher/pbt_test.go
  master/pkg/searcher/search_method.go
  schemas/expconf/v0/searcher-pbt.json
  schemas/expconf/v0/searcher.json
  schemas/test_cases/v0/defaults.yaml
  schemas/test_cases/v0/searchers.yaml
Labels: cla-signed, User-facing API Change

#4063 fix: correct the return type for readStream
  webui/react/package-lock.json
  webui/react/src/services/utils.ts
Labels: cla-signed

#4066 chore: remove det.pytorch.reset_parameters()
  docs/release-notes/4066-reset-params.txt
  harness/determined/pytorch/__init__.py
  harness/determined/pytorch/_pytorch_trial.py
Labels: cla-signed

#4067 chore: update deprecated reducer usage
  examples/computer_vision/detectron2_coco_pytorch/model_def.py
  examples/computer_vision/efficientdet_pytorch/model_def.py
  model_hub/examples/huggingface/language-modeling/clm_trial.py
  model_hub/examples/huggingface/language-modeling/mlm_trial.py
  model_hub/examples/huggingface/language-modeling/plm_trial.py
  model_hub/examples/huggingface/question-answering/qa_beam_search_trial.py
  model_hub/examples/huggingface/question-answering/qa_trial.py
  model_hub/examples/huggingface/text-classification/glue_trial.py
  model_hub/examples/huggingface/text-classification/xnli_trial.py
  model_hub/examples/huggingface/token-classification/ner_trial.py
Labels: cla-signed

#3935 perf: minimize create/destroy of uPlots [DET-6972] [DET-6972] [DET-6796] [DET-6853] [DET-6672]
  webui/react/src/components/LearningCurveChart.tsx
  webui/react/src/components/UPlot/UPlotChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/ProfilesEnabled.tsx
  webui/react/src/pages/TrialDetails/Profiles/ProfilesFiltersProvider.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
Labels: cla-signed

#4068 feat: allow build_model attribute for general use
  harness/determined/pytorch/_load.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.13.13-pytorch-flex/code/const.yaml
  harness/tests/experiment/fixtures/ancient-checkpoints/0.13.13-pytorch-flex/code/model_def.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.13.13-pytorch-flex/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.13.13-pytorch-flex/state_dict.pth
  harness/tests/experiment/fixtures/ancient-checkpoints/0.13.13-pytorch-old/code/const.yaml
  harness/tests/experiment/fixtures/ancient-checkpoints/0.13.13-pytorch-old/code/model_def.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.13.13-pytorch-old/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.13.13-pytorch-old/state_dict.pth
  harness/tests/experiment/fixtures/ancient-checkpoints/README.md
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Labels: cla-signed

#4054 docs: add docs for the Core API
  docs/training-apis/api-core/checkpoints.txt
  docs/training-apis/api-core/distributed.txt
  docs/training-apis/api-core/getting-started.txt
  docs/training-apis/api-core/hpsearch.txt
  docs/training-apis/api-core/index.txt
  docs/training-apis/api-core/metrics.txt
  docs/training-apis/api-core/reference.txt
  docs/training-apis/index.txt
  examples/tutorials/core_api/0_start.py
  examples/tutorials/core_api/0_start.yaml
  examples/tutorials/core_api/1_metrics.py
  examples/tutorials/core_api/2_checkpoints.py
  examples/tutorials/core_api/3_hpsearch.py
  examples/tutorials/core_api/4_distributed.py
  harness/determined/core/_checkpoint.py
  harness/determined/core/_context.py
  harness/determined/core/_distributed.py
  harness/determined/core/_preempt.py
  harness/determined/core/_searcher.py
  harness/determined/core/_train.py
  harness/determined/pytorch/samplers.py
Labels: cla-signed

#4051 fix: show notification when delete experiment fail [DET-6811]
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/hooks/useModal/useModalExperimentDelete.tsx
Labels: cla-signed

#3635 feat: break workload info from trial endpoint into a new endpoint [DET-6729]
  e2e_tests/tests/experiment/experiment.py
  harness/determined/cli/experiment.py
  harness/determined/common/api/bindings.py
  master/internal/api_trials.go
  master/internal/db/postgres_filters.go
  master/internal/db/postgres_tasks.go
  master/internal/db/postgres_trial_logs.go
  master/static/srv/proto_get_trial_workloads.sql
  master/static/srv/proto_get_trials_plus.sql
  proto/Makefile
  proto/buf.image.bin
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/trial.proto
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#4070 fix: add user column back to experiment list
  webui/react/src/pages/ExperimentList.tsx
Labels: cla-signed

#4069 docs: release note for core api
  docs/release-notes/4069-core-api.txt
Labels: cla-signed

#4064 chore: add and consolidate code coverage to codecov
  .circleci/config.yml
Labels: cla-signed

#4076 fix: filter out NaN, +/- Infinity metric values for charts for now.
  webui/react/src/components/LearningCurveChart.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpHeatMaps.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpScatterPlots.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
Labels: cla-signed

#4059 fix: use displayNames in ClusterHistoricalUsage
  webui/react/src/pages/Cluster/ClusterHistoricalUsage.tsx
  webui/react/src/pages/Cluster/utils.ts
Labels: cla-signed

#4071 feat: auth proxies
  master/internal/api_shell.go
  master/internal/command/command.go
  master/internal/core.go
  master/internal/proxy/proxy.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/user/service.go
  master/pkg/tasks/task_command.go
Labels: cla-signed

#4085 fix: dont show archived in column picker [DET-7187]
  webui/react/src/components/InteractiveTable.tsx
  webui/react/src/pages/ExperimentList.tsx
Labels: cla-signed

#4075 fix: address workspaces bug bash reports
  webui/react/src/components/BreadcrumbBar.module.scss
  webui/react/src/components/BreadcrumbBar.tsx
  webui/react/src/components/Markdown.tsx
  webui/react/src/components/NavigationSideBar.module.scss
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NotesCard.tsx
  webui/react/src/components/PageHeaderFoldable.module.scss
  webui/react/src/components/PaginatedNotesCard.tsx
  webui/react/src/components/SelectFilter.tsx
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/components/WorkspaceIcon.tsx
  webui/react/src/hooks/useModal/Project/useModalProjectMove.tsx
  webui/react/src/hooks/useModal/useModalExperimentMove.module.scss
  webui/react/src/hooks/useModal/useModalExperimentMove.tsx
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ProjectDetails.module.scss
  webui/react/src/pages/ProjectDetails.settings.ts
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/ProjectDetails/ProjectDetailsTabs.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceDetails/ProjectActionDropdown.tsx
  webui/react/src/pages/WorkspaceDetails/ProjectCard.module.scss
  webui/react/src/pages/WorkspaceDetails/ProjectCard.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceDetailsHeader.tsx
  webui/react/src/pages/WorkspaceList.settings.ts
  webui/react/src/pages/WorkspaceList.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceActionDropdown.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceCard.module.scss
Labels: cla-signed

#4086 feat: add wrap_rank helper script
  docs/training-apis/api-core/distributed.txt
  examples/tutorials/core_api/1_metrics.py
  examples/tutorials/core_api/2_checkpoints.py
  examples/tutorials/core_api/3_hpsearch.py
  examples/tutorials/core_api/4_distributed.py
  examples/tutorials/core_api/4_distributed.yaml
  harness/determined/exec/worker_process_wrapper.py
  harness/determined/launch/deepspeed.py
  harness/determined/launch/horovod.py
  harness/determined/launch/torch_distributed.py
  harness/determined/launch/wrap_rank.py
Labels: cla-signed, User-facing API Change

#4080 fix: consistent total slot calculation for cluster overview [DET-7182]
  webui/react/scripts/try-for-flakes.sh
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/pages/Cluster/ClusterOverallBar.tsx
  webui/react/src/pages/Cluster/ClusterOverview.table.tsx
  webui/react/src/pages/Cluster/ClusterOverview.tsx
  webui/react/src/pages/Clusters.tsx
  webui/react/src/pages/Clusters/ClustersOverview.tsx
  webui/react/src/types.ts
Labels: cla-signed

#4083 fix: Support rendering rank of 0 [DET-7186]
  webui/react/src/components/LogViewer/LogViewerFilters.test.tsx
  webui/react/src/components/LogViewer/LogViewerFilters.tsx
Labels: cla-signed

#4090 feat: add det.LOG_FORMAT constant
  docs/training-apis/api-core/distributed.txt
  docs/training-apis/api-core/getting-started.txt
  docs/training-apis/api-core/metrics.txt
  examples/tutorials/core_api/0_start.py
  examples/tutorials/core_api/1_metrics.py
  examples/tutorials/core_api/2_checkpoints.py
  examples/tutorials/core_api/3_hpsearch.py
  examples/tutorials/core_api/4_distributed.py
  harness/determined/__init__.py
  harness/determined/common/_logging.py
Labels: cla-signed, User-facing API Change

#4092 chore: clean up useCallback dependency
  webui/react/src/hooks/useCreateModelModal.tsx
Labels: cla-signed

#3930 chore: wait for process substition log filters [DET-6712]
  agent/cmd/determined-agent/run.go
  agent/internal/agent_test.go
  docs/release-notes/fix-k8s-logs.txt
  docs/sysadmin-deploy-on-k8s/install-on-kubernetes.txt
  docs/sysadmin-deploy-on-prem/docker.txt
  helm/charts/determined/values.yaml
  master/internal/resourcemanagers/kubernetes/pod_test.go
  master/pkg/etc/etc.go
  master/pkg/tasks/const.go
  master/pkg/tasks/task.go
  master/static/srv/command-entrypoint.sh
  master/static/srv/entrypoint.sh
  master/static/srv/gc-checkpoints-entrypoint.sh
  master/static/srv/notebook-entrypoint.sh
  master/static/srv/shell-entrypoint.sh
  master/static/srv/task-logging-setup.sh
  master/static/srv/task-logging-teardown.sh
  master/static/srv/task-signal-handling.sh
  master/static/srv/tensorboard-entrypoint.sh
Labels: cla-signed

#3948 chore: slurm proxy support
  harness/determined/common/api/bindings.py
  harness/determined/exec/prep_container.py
  master/internal/api_tasks.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/static/srv/notebook-entrypoint.sh
  master/static/srv/shell-entrypoint.sh
  master/static/srv/tensorboard-entrypoint.sh
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#4072 chore: Refactor JupyterLabModal pattern [DET-6276]
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/hooks/useModal/useJupyterLabModal.module.scss
  webui/react/src/hooks/useModal/useJupyterLabModal.stories.tsx
  webui/react/src/hooks/useModal/useJupyterLabModal.test.tsx
  webui/react/src/hooks/useModal/useJupyterLabModal.tsx
Labels: cla-signed

#4087 chore: HAL-2879 Cleanly shutdown all sshd servers on exit (#176)
  harness/determined/launch/horovod.py
Labels: cla-signed

#4073 perf: improve plan for proto_get_trial_plus.sql
  master/static/migrations/20220504154053_add-checkpoints-v2-steps-completed-index.tx.down.sql
  master/static/migrations/20220504154053_add-checkpoints-v2-steps-completed-index.tx.up.sql
  master/static/srv/proto_get_trials_plus.sql
Labels: cla-signed, Blocking Release

#4103 chore: cleanup and fixes for "det deploy"
  docs/sysadmin-basics/cluster-config.txt
  docs/sysadmin-deploy-on-aws/install-on-aws.txt
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/aws/templates/vpc.yaml
  harness/determined/deploy/gcp/cli.py
Labels: cla-signed

#4096 fix: bindings sessions in experiment apis.
  e2e_tests/tests/cluster/test_users.py
  e2e_tests/tests/cluster/test_users_experiment_api.py
  harness/determined/common/api/experiment.py
Labels: cla-signed

#4084 chore: enable codecov enforcement
  codecov.yml
Labels: cla-signed

#4102 docs: add release notes for 0.18.0
  docs/release-notes.txt
  docs/release-notes/3938-job-queue-k8s.txt
  docs/release-notes/4055-native.txt
  docs/release-notes/4056-data-layer.txt
  docs/release-notes/4060-custom-reducers.txt
  docs/release-notes/4066-reset-params.txt
  docs/release-notes/4069-core-api.txt
  docs/release-notes/fix-noverify.txt
  docs/release-notes/notebook-logs.txt
  docs/release-notes/remove-pbt.txt
Labels: cla-signed

#4093 fix: mark distributed tests as parallel
  e2e_tests/tests/experiment/test_pytorch_distributed.py
Labels: cla-signed

#4105 chore: change codecov to informational only
  codecov.yml
Labels: cla-signed

#4095 chore: use reported slots available for on prem deployments
  webui/react/src/components/ResourcePoolCardLight.tsx
  webui/react/src/pages/Cluster/ClusterOverview.tsx
  webui/react/src/pages/Cluster/utils.test.ts
  webui/react/src/types.ts
Labels: cla-signed

#4091 docs: rework quickstart for ml developers
  docs/getting-started.txt
Labels: cla-signed

#4107 fix: add missing task log teardown for tb, trials
  master/static/srv/entrypoint.sh
  master/static/srv/tensorboard-entrypoint.sh
Labels: cla-signed

#4101 chore: explicit naming of preemption and coscheduler resources [DET-7140]
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/templates/scheduler-config.yaml
  helm/charts/determined/templates/scheduler-deployment.yaml
  helm/charts/determined/templates/scheduler-permissions.yaml
Labels: cla-signed

#4111 fix: NCCL interface in distributed tests
  e2e_tests/tests/fixtures/pytorch_amp/apex_amp_distributed.yaml
  e2e_tests/tests/fixtures/pytorch_amp/auto_amp_distributed.yaml
  e2e_tests/tests/fixtures/pytorch_amp/manual_amp_distributed.yaml
Labels: cla-signed

#4088 fix: Assorted fixes for Workspaces/Projects
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/core_experiment.go
  master/internal/db/database.go
  master/internal/db/postgres_experiments.go
  master/internal/mocks/db.go
  master/static/migrations/20220505122814_workspace-name-restrictions.tx.down.sql
  master/static/migrations/20220505122814_workspace-name-restrictions.tx.up.sql
  master/static/srv/delete_project.sql
  master/static/srv/delete_workspace.sql
  master/static/srv/get_project.sql
  master/static/srv/get_project_from_name.sql
  master/static/srv/get_workspace.sql
  master/static/srv/get_workspace_projects.sql
  master/static/srv/get_workspaces.sql
  master/static/srv/insert_project.sql
  master/static/srv/insert_workspace.sql
  master/static/srv/update_project.sql
  master/static/srv/update_workspace.sql
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/project/v1/project.proto
  proto/src/determined/workspace/v1/workspace.proto
  webui/react/src/hooks/useModal/useModalExperimentCreate.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#4109 chore: fix rank for horovod with mpi
  harness/determined/launch/horovod.py
  harness/determined/launch/wrap_rank.py
Labels: cla-signed

#4122 ci: turn off codecov bot PR comments
  codecov.yml
Labels: cla-signed

#4130 ci: make codecov information for sure now.
  codecov.yml
Labels: cla-signed

#4119 chore: add job ID and experiment labels to prometheus endpoint mappings [DET-6964]
  master/internal/prom/prom.go
  master/internal/task/allocation.go
  master/internal/trial.go
Labels: cla-signed

#4132 fix: user filter on dashboard [DET-7251]
  docs/release-notes/4132-web-fix-user-filter.txt
  webui/react/src/services/apiConfig.test.ts
  webui/react/src/services/apiConfig.ts
Labels: cla-signed

#4124 ci: persist debs, rpms
  .circleci/config.yml
Labels: cla-signed

#4116 build: make docs build incremental and idempotent
  .circleci/config.yml
  docs/Makefile
  examples/Makefile
  helm/Makefile
  model_hub/Makefile
Labels: cla-signed

#4135 fix: Prevent archived experiments from being moved or forked
  master/internal/api_experiment.go
  master/static/srv/move_experiment.sql
  webui/react/src/components/PageHeaderFoldable.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
  webui/react/src/utils/task.ts
Labels: cla-signed

#4117 chore: add a local docs server
  docs/Makefile
  docs/live.py
  docs/requirements.txt
Labels: cla-signed

#4143 ci: Increase package-and-push-system-local resource class
  .circleci/config.yml
Labels: cla-signed

#4147 ci: update gke version.
  .circleci/config.yml
Labels: cla-signed

#4009 feat: Cluster UI resource pool detail page [DET-7072, DET-7073]
  docs/release-notes/7073-cluster-ui-improvement
  harness/determined/common/api/bindings.py
  master/internal/resourcemanagers/agent_resource_manager.go
  master/internal/resourcemanagers/agent_resource_manager_intg_test.go
  master/internal/resourcemanagers/resource_managers_test.go
  master/pkg/model/task.go
  proto/src/determined/api/v1/job.proto
  proto/src/determined/job/v1/job.proto
  webui/react/src/components/Badge.test.tsx
  webui/react/src/components/Badge.tsx
  webui/react/src/components/Bar.tsx
  webui/react/src/components/Json.module.scss
  webui/react/src/components/Json.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/ResourcePoolCardLight.module.scss
  webui/react/src/components/ResourcePoolCardLight.stories.tsx
  webui/react/src/components/ResourcePoolCardLight.test.tsx
  webui/react/src/components/ResourcePoolCardLight.tsx
  webui/react/src/components/SlotAllocation.module.scss
  webui/react/src/components/SlotAllocationBar.tsx
  webui/react/src/constants/states.ts
  webui/react/src/contexts/Store.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsageChart.tsx
  webui/react/src/pages/Cluster/ClusterOverallBar.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.test.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.tsx
  webui/react/src/pages/Cluster/ClusterOverview.tsx
  webui/react/src/pages/ClusterLogs.tsx
  webui/react/src/pages/Clusters.module.scss
  webui/react/src/pages/Clusters.tsx
  webui/react/src/pages/Clusters/ClustersOverview.tsx
  webui/react/src/pages/Clusters/ClustersQueuedChart.module.scss
  webui/react/src/pages/Clusters/ClustersQueuedChart.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/ResourcepoolDetail.module.scss
  webui/react/src/pages/ResourcepoolDetail.tsx
  webui/react/src/routes/index.ts
  webui/react/src/routes/routes.ts
  webui/react/src/routes/utils.ts
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/themes.ts
  webui/react/src/types.ts
Labels: cla-signed

#4127 fix: No redirecting url when model name is changed
  webui/react/src/pages/ModelDetails.tsx
Labels: cla-signed

#4151 docs: a vain attempt to pass ci test on already approved pr4110 conte…
  docs/features/job-queue.txt
Labels: cla-signed

#4149 fix: return user data when new user is created [DET-7255]
  docs/release-notes/4126-fix-post-user.txt
  e2e_tests/tests/cluster/test_users.py
  harness/determined/common/api/bindings.py
  master/internal/api_user.go
  master/internal/db/database.go
  master/internal/db/postgres_helpers_intg_test.go
  master/internal/db/postgres_users.go
  master/internal/mocks/db.go
  master/internal/user/service.go
  proto/src/determined/user/v1/user.proto
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
Labels: cla-signed

#4153 fix: upstream test failures due to config being admin protected
  e2e_tests/tests/conftest.py
Labels: cla-signed

#4118 ci: docs-only ci
  .circleci/config.yml
Labels: cla-signed

#4031 feat: rolling upgrades v0
  .circleci/config.yml
  .circleci/devcluster/double-reattach.devcluster.yaml
  .circleci/devcluster/double.devcluster.yaml
  agent/cmd/determined-agent/run.go
  agent/go.mod
  agent/internal/agent.go
  agent/internal/agent_test.go
  agent/internal/container.go
  agent/internal/containers.go
  agent/internal/docker.go
  agent/internal/fluent_intg_test.go
  agent/internal/options.go
  docs/release-notes/rolling-upgrades.txt
  docs/sysadmin-basics/cluster-config.txt
  e2e_tests/tests/cluster/conftest.py
  e2e_tests/tests/cluster/managed_cluster.py
  e2e_tests/tests/cluster/test_agent_restart.py
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/cluster/utils.py
  e2e_tests/tests/fixtures/no_op/startup-hook.sh
  e2e_tests/tests/nightly/compute_stats.py
  harness/determined/common/api/request.py
  harness/determined/common/experimental/__init__.py
  harness/determined/common/experimental/session.py
  harness/determined/common/requests.py
  harness/determined/core/_context.py
  harness/determined/exec/prep_container.py
  harness/tests/experiment/fixtures/tf_keras_runtime_error.py
  master/internal/cluster/cluster_id.go
  master/internal/config/config.go
  master/internal/core.go
  master/internal/db/postgres_cluster_intg_test.go
  master/internal/db/postgres_tasks.go
  master/internal/experiment.go
  master/internal/resourcemanagers/agent/agent.go
  master/internal/resourcemanagers/agent/agent_state.go
  master/internal/resourcemanagers/agent/agents.go
  master/internal/resourcemanagers/agent/models.go
  master/internal/resourcemanagers/kubernetes/pod_test.go
  master/internal/resourcemanagers/kubernetes_resource_manager.go
  master/internal/resourcemanagers/priority.go
  master/internal/resourcemanagers/resource_pool.go
  master/internal/resourcemanagers/scheduler_test.go
  master/internal/restore.go
  master/internal/sproto/agent_resource_manager.go
  master/internal/sproto/resources.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_map.go
  master/internal/task/resources_list.go
  master/internal/trial.go
  master/internal/trial_test.go
  master/pkg/model/task.go
  master/static/migrations/20220516144124_agent-agentstate.tx.down.sql
  master/static/migrations/20220516144124_agent-agentstate.tx.up.sql
  master/static/migrations/20220516144130_agent-resources-indices.tx.down.sql
  master/static/migrations/20220516144130_agent-resources-indices.tx.up.sql
Labels: cla-signed

#4138 fix: adjust upscaling of column widths [DET-7220]
  webui/react/src/components/InteractiveTable.tsx
Labels: cla-signed

#4128 feat: miscellaneous workspace ui functionalities + fixes [DET-7189]
  harness/determined/common/api/bindings.py
  master/static/srv/get_project.sql
  proto/src/determined/project/v1/project.proto
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/InlineEditor.tsx
  webui/react/src/components/InteractiveTable.tsx
  webui/react/src/components/Markdown.module.scss
  webui/react/src/components/Markdown.tsx
  webui/react/src/components/NotesCard.tsx
  webui/react/src/components/PaginatedNotesCard.module.scss
  webui/react/src/components/PaginatedNotesCard.tsx
  webui/react/src/components/TaskActionDropdown.stories.tsx
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/components/TaskCard.module.scss
  webui/react/src/components/TaskCard.stories.tsx
  webui/react/src/components/TaskCard.tsx
  webui/react/src/components/TaskFilter.tsx
  webui/react/src/hooks/useModal/Project/useModalProjectMove.module.scss
  webui/react/src/hooks/useModal/Project/useModalProjectMove.tsx
  webui/react/src/hooks/useModal/useModalExperimentCreate.tsx
  webui/react/src/hooks/useModal/useModalExperimentMove.module.scss
  webui/react/src/hooks/useModal/useModalExperimentMove.tsx
  webui/react/src/hooks/usePolling.ts
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentConfiguration.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/ProjectDetails/ProjectDetailsTabs.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.stories.tsx
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.stories.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceDetails/ProjectActionDropdown.tsx
  webui/react/src/pages/WorkspaceDetails/ProjectCard.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceDetailsHeader.tsx
  webui/react/src/pages/WorkspaceList.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceActionDropdown.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
  webui/react/src/utils/data.ts
  webui/react/src/utils/experiment.ts
  webui/react/src/utils/task.ts
Labels: cla-signed

#4148 chore: Use new boolean patch in workspaces bindings
  bindings/generate_bindings.py
  harness/determined/cli/experiment.py
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/session.py
Labels: cla-signed

#4155 feat: upload all tb files DET-7139
  harness/determined/tensorboard/base.py
  harness/tests/tensorboard/test_util.py
Labels: cla-signed

#4150 feat: allow NaN validation metrics [DET-7177]
  e2e_tests/tests/experiment/test_noop.py
  e2e_tests/tests/fixtures/no_op/model_def.py
  e2e_tests/tests/fixtures/no_op/single-nan-validations.yaml
  harness/determined/core/_searcher.py
  harness/determined/core/_train.py
  harness/determined/layers/_workload_sequencer.py
Labels: cla-signed

#4157 fix: prevent experiment name in header from overflowing entire vertical
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.module.scss
Labels: cla-signed

#4120 chore: multiple distributed jobs collide on horovod run sshd port [HAL-2894]
  harness/determined/constants.py
Labels: cla-signed

#4159 fix: avoid potential race between AllocationReady and Running state
  master/internal/task/allocation.go
Labels: cla-signed

#4131 doc: fix a broken file reference
  webui/react/README.md
Labels: cla-signed

#4146 ci: turn off github annotations.
  codecov.yml
Labels: cla-signed

#4163 chore: check git state in lock-api-state.sh
  proto/Makefile
  tools/scripts/lock-api-state.sh
Labels: cla-signed

#4108 chore: just warn on non-sense daemon calls when using slurm
  master/internal/task/allocation.go
Labels: cla-signed

#3945 fix: replace carriage returns with newlines in task output [DET-5302]
  master/static/srv/task-logging-setup.sh
  master/static/srv/task-logging-teardown.sh
Labels: cla-signed

#4165 fix: include both old and new checkpoints in total checkpoint size
  master/static/srv/proto_get_trials_plus.sql
Labels: cla-signed, Blocking Release

#4166 perf: fixup query for latest training per trial [DET-7352]
  master/static/srv/proto_get_trials_plus.sql
Labels: cla-signed, Blocking Release

#4141 chore: allow deleting delete failed [DET-7070]
  docs/release-notes/delete-delete-failed-experiments.txt
  master/pkg/model/experiment.go
Labels: cla-signed

#4167 fix: enable currently active side nav item [DET-7349]
  webui/react/src/components/NavigationSideBar.module.scss
  webui/react/src/components/NavigationSideBar.tsx
Labels: cla-signed

#4139 feat: chart sync provider [DET-7309]
  webui/react/src/components/LearningCurveChart.tsx
  webui/react/src/components/UPlot/SyncableBounds.tsx
  webui/react/src/components/UPlot/UPlotChart.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsage.tsx
  webui/react/src/pages/TrialDetails/Profiles/ProfilesEnabled.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
Labels: cla-signed

#4173 chore: add .dccache to .gitignore
  .gitignore
Labels: cla-signed

#4169 docs: document database SSL options
  docs/sysadmin-basics/cluster-config.txt
Labels: cla-signed

#4181 docs: update fluent-bit version.
  docs/sysadmin-basics/cluster-config.txt
Labels: cla-signed

#4184 refactor: rip out `UseFluentLogging`.
  agent/internal/container.go
  agent/internal/containers.go
  agent/internal/docker.go
  master/internal/resourcemanagers/kubernetes/spec.go
  master/pkg/cproto/spec.go
  master/pkg/tasks/task.go
  master/pkg/tasks/task_command.go
  master/pkg/tasks/task_trial.go
Labels: cla-signed

#4186 chore: migrate det a list to new api and bindings
  harness/determined/cli/agent.py
  harness/determined/common/api/bindings.py
  proto/src/determined/agent/v1/agent.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#4178 fix: agent can now be control-C while connecting to master [DET-6287]
  agent/internal/agent.go
  docs/release-notes/fix-cant-cancel-agent-master-con.txt
Labels: cla-signed

#4160 feat: display trial restarts [DET-7347]
  docs/release-notes/4160-trial-restarts.txt
  harness/determined/common/api/bindings.py
  master/internal/api_trials.go
  master/static/srv/proto_get_trials_plus.sql
  proto/src/determined/api/v1/trial.proto
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/ioTypes.ts
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.table.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.stories.tsx
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.stories.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/storybook/shared/generateTestExperiments.ts
  webui/react/src/types.ts
  webui/react/src/utils/task.ts
Labels: cla-signed

#4152 feat: allow setting of checkpointStorage.prefix through helm [DET-7152]
  docs/release-notes/checkpoint-prefix.txt
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
Labels: cla-signed

#4185 style: address new `flake8-comprehensions`, `pyzmq==23.0.0`.
  harness/determined/ipc.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/determined/pytorch/lightning/_adapter.py
Labels: cla-signed

#4188 docs: update screen shots for cluster UI
  docs/assets/images/historical-cluster-usage-data.png
  docs/assets/images/qs01b.png
Labels: cla-signed

#4191 feat: Deleting workspace/project moves its experiments [DET-7368]
  harness/determined/cli/project.py
  harness/determined/cli/workspace.py
  master/static/srv/delete_project.sql
  master/static/srv/delete_workspace.sql
  webui/react/src/hooks/useModal/Project/useModalProjectDelete.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceDelete.tsx
Labels: cla-signed

#4158 feat: allow enabling Prometheus monitoring through helm [DET-6993]
  docs/integrations/prometheus.txt
  docs/release-notes/helm-enable-prom.txt
  docs/sysadmin-basics/cluster-config.txt
  docs/sysadmin-deploy-on-k8s/helm-config.txt
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
Labels: cla-signed

#4174 docs: document using AWS Load Balancer on EKS [DET-6669]
  docs/sysadmin-deploy-on-k8s/install-on-kubernetes.txt
  docs/sysadmin-deploy-on-k8s/setup-eks-cluster.txt
Labels: cla-signed

#4190 feat: add det experiment logs <EXP_ID> [DET-7145]
  docs/release-notes/det-experiment-logs.txt
  harness/determined/cli/experiment.py
  harness/determined/cli/trial.py
Labels: cla-signed

#4196 fix: add restarts back to get_trial_ids for sorting
  master/static/srv/proto_get_trial_ids_for_experiment.sql
Labels: cla-signed

#4197 fix: allow `internal: null` for pre-0.15.6 experiments
  harness/determined/common/schemas/expconf/_gen.py
  master/pkg/schemas/zgen_schemas.go
  schemas/expconf/v0/experiment.json
  schemas/test_cases/v0/experiment.yaml
Labels: cla-signed

#4182 docs: improve OpenTelemetry docs slightly
  docs/sysadmin-basics/cluster-config.txt
Labels: cla-signed

#4183 refactor: pull in user service code changes from EE
  master/internal/user/service.go
Labels: cla-signed

#4202 fix: agent panic on commands with unusal formatted environment variables [DET-6649]
  agent/internal/container.go
  agent/internal/container_test.go
  docs/release-notes/fix-agent-panic-command-env-var-configs-config.txt
  e2e_tests/tests/command/test_run.py
Labels: cla-signed

#4198 chore: update entrypoint in expconf docs
  docs/training-apis/experiment-config.txt
Labels: cla-signed

#4113 refactor: cleanup slurm shell scripts
  master/static/srv/command-entrypoint.sh
  master/static/srv/entrypoint.sh
  master/static/srv/gc-checkpoints-entrypoint.sh
  master/static/srv/notebook-entrypoint.sh
  master/static/srv/shell-entrypoint.sh
  master/static/srv/task-logging-setup.sh
  master/static/srv/tensorboard-entrypoint.sh
Labels: cla-signed

#4206 perf: tweak proto_get_trials_plus plan
  master/internal/api_trials.go
  master/internal/db/postgres_trial_intg_test.go
  master/static/srv/proto_get_trials_plus.sql
Labels: cla-signed, Blocking Release

#4179 feat: move task logs to embedded view [DET-7169]
  webui/react/src/components/LogViewer/LogViewer.module.scss
  webui/react/src/components/LogViewer/LogViewer.tsx
  webui/react/src/components/TaskBar.stories.tsx
  webui/react/src/components/TaskBar.tsx
  webui/react/src/pages/InteractiveTask.module.scss
  webui/react/src/pages/InteractiveTask.tsx
  webui/react/src/pages/TaskLogs.tsx
  webui/react/src/routes/index.ts
Labels: cla-signed

#4207 docs: update release note instructions with important admonition
  docs/release-notes/README.md
Labels: cla-signed

#4208 fix: use bigint for checkpoint size in `proto_get_trials_plus`
  master/static/srv/proto_get_trials_plus.sql
Labels: cla-signed

#4125 feat: pix2pix example
  docs/examples.txt
  e2e_tests/tests/nightly/test_capability.py
  e2e_tests/tests/nightly/test_distributed.py
  examples/README.md
  examples/gan/pix2pix_tf_keras/.detignore
  examples/gan/pix2pix_tf_keras/.gitignore
  examples/gan/pix2pix_tf_keras/README.md
  examples/gan/pix2pix_tf_keras/adaptive.yaml
  examples/gan/pix2pix_tf_keras/const.yaml
  examples/gan/pix2pix_tf_keras/data.py
  examples/gan/pix2pix_tf_keras/distributed.yaml
  examples/gan/pix2pix_tf_keras/export.py
  examples/gan/pix2pix_tf_keras/fit.py
  examples/gan/pix2pix_tf_keras/images/batches_vs_time.png
  examples/gan/pix2pix_tf_keras/images/generated_example.jpeg
  examples/gan/pix2pix_tf_keras/images/training_loss_vs_time.png
  examples/gan/pix2pix_tf_keras/images/validation_loss_vs_time.png
  examples/gan/pix2pix_tf_keras/model_def.py
  examples/gan/pix2pix_tf_keras/pix2pix/__init__.py
  examples/gan/pix2pix_tf_keras/pix2pix/discriminator.py
  examples/gan/pix2pix_tf_keras/pix2pix/generator.py
  examples/gan/pix2pix_tf_keras/pix2pix/sampling.py
  examples/gan/pix2pix_tf_keras/print_models.py
  examples/tests/test_official.py
Labels: documentation, cla-signed, feature

#4213 feat: save connection in context
  master/internal/connsave/connsave.go
Labels: cla-signed

#4212 feat: enable agent side mTLS connection to master
  agent/internal/agent.go
  agent/internal/options.go
Labels: cla-signed

#4216 docs: add release notes for 0.18.1
  docs/release-notes.txt
  docs/release-notes/4004-web-themes.txt
  docs/release-notes/4126-fix-post-user.txt
  docs/release-notes/4132-web-fix-user-filter.txt
  docs/release-notes/4160-trial-restarts.txt
  docs/release-notes/admin-protect-routes.txt
  docs/release-notes/fix-k8s-logs.txt
  docs/release-notes/rolling-upgrades.txt
Labels: cla-signed

#4210 chore: revert rename of `RestoreResourcesFailure -> ResourcesFailure`.
  master/internal/resourcemanagers/resource_pool.go
  master/internal/sproto/resources.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
Labels: cla-signed

#4223 chore: base Dockerfile TensorFlow 2.6, 2.7, 2.8 security patches [DET-7325]
  .circleci/config.yml
  docs/features/command-notebook-config.txt
  docs/features/tensorboard.txt
  docs/prepare-environment/custom-env.txt
  docs/sysadmin-basics/cluster-config.txt
  docs/sysadmin-deploy-on-gcp/install-gcp.txt
  docs/sysadmin-deploy-on-k8s/helm-config.txt
  docs/training-apis/experiment-config.txt
  docs/training-apis/index.txt
  e2e_tests/tests/config.py
  e2e_tests/tests/fixtures/pytorch_lightning_amp/apex_amp.yaml
  e2e_tests/tests/fixtures/pytorch_lightning_amp/auto_amp.yaml
  examples/computer_vision/efficientdet_pytorch/const.yaml
  examples/computer_vision/efficientdet_pytorch/const_fake.yaml
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/decision_trees/gbt_titanic_estimator/adaptive.yaml
  examples/decision_trees/gbt_titanic_estimator/const.yaml
  examples/deepspeed/cifar10_moe/moe.yaml
  examples/deepspeed/cifar10_moe/zero_stages.yaml
  examples/deepspeed/gpt_neox/Dockerfile
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  examples/graphs/proteins_pytorch_geometric/adaptive.yaml
  examples/graphs/proteins_pytorch_geometric/const.yaml
  examples/graphs/proteins_pytorch_geometric/distributed.yaml
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/aws/templates/vpc.yaml
  harness/determined/deploy/gcp/constants.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/keras/_tf_keras_trial.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-estimator/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  helm/charts/determined/templates/master-config.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: cla-signed

#4226 chore: fix rendezvous timeout logic
  docs/release-notes/fix-rendezvous-timeout-message.txt
  master/internal/task/all_gather.go
  master/internal/task/rendezvous.go
Labels: cla-signed

#4123 fix: use custom image for tensor board [DET-7242]
  e2e_tests/tests/command/test_tensorboard.py
  master/internal/api_tensorboard.go
  master/pkg/model/environment_config.go
Labels: cla-signed

#4154 feat: k8s detect non-det tasks
  harness/determined/cli/agent.py
  master/internal/resourcemanagers/kubernetes/pods.go
Labels: cla-signed

#4227 fix: det shell start/open, in windows
  harness/determined/cli/cli.py
  harness/determined/cli/shell.py
Labels: cla-signed

#4224 feat: Change workspace deletion - workspace must be empty to delete
  harness/determined/cli/project.py
  harness/determined/cli/workspace.py
  harness/determined/common/api/bindings.py
  master/static/migrations/20220422101847_pin-workspaces.up.sql
  master/static/srv/delete_project.sql
  master/static/srv/delete_workspace.sql
  master/static/srv/get_workspace.sql
  master/static/srv/get_workspaces.sql
  master/static/srv/update_workspace.sql
  proto/src/determined/workspace/v1/workspace.proto
  webui/react/src/hooks/useModal/Project/useModalProjectDelete.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceDelete.tsx
  webui/react/src/pages/WorkspaceDetails/ProjectActionDropdown.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceActionDropdown.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#4231 fix: adjust page to preserve props.children
  webui/react/src/components/Page.tsx
Labels: cla-signed

#4234 ci: check ulimit before 4x4 distributed test on macs
  harness/tests/test_ipc.py
Labels: cla-signed

#4187 chore: remove legacy code/docs for NCCL/Gloo port range config
  docs/sysadmin-basics/cluster-config.txt
  docs/sysadmin-basics/network-requirements.txt
  docs/sysadmin-deploy-on-k8s/helm-config.txt
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
  master/packaging/master.yaml
  master/pkg/model/task_container_defaults.go
  master/pkg/tasks/task.go
Labels: cla-signed

#4204 feat: Add theme toggle to user settings [DET-7321]
  webui/react/src/components/Logo.tsx
  webui/react/src/components/MonacoEditor.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/ThemeToggle.module.scss
  webui/react/src/components/ThemeToggle.test.tsx
  webui/react/src/components/ThemeToggle.tsx
  webui/react/src/hooks/useTheme.settings.ts
  webui/react/src/hooks/useTheme.ts
Labels: cla-signed

#4237 chore: add node_modules to eslintignore
  webui/react/.eslintignore
Labels: cla-signed

#4239 chore: bumpenvs
  .circleci/config.yml
  e2e_tests/tests/config.py
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/deepspeed/cifar10_moe/moe.yaml
  examples/deepspeed/cifar10_moe/zero_stages.yaml
  examples/deepspeed/gpt_neox/Dockerfile
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  examples/graphs/proteins_pytorch_geometric/adaptive.yaml
  examples/graphs/proteins_pytorch_geometric/const.yaml
  examples/graphs/proteins_pytorch_geometric/distributed.yaml
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/aws/templates/vpc.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-estimator/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  helm/charts/determined/templates/master-config.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: cla-signed

#4240 ci: add check to prevent ssh git url
  webui/react/Makefile
  webui/react/package-lock.json
Labels: cla-signed

#4007 perf: process trial profiler data more efficiently DET-7050
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/SystemMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/SystemMetricChartFilters.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/ThroughputMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/TimingMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Profiler.module.scss
  webui/react/src/pages/TrialDetails/Profiles/Profiler.tsx
  webui/react/src/pages/TrialDetails/Profiles/ProfilesEnabled.tsx
  webui/react/src/pages/TrialDetails/Profiles/ProfilesFiltersProvider.settings.ts
  webui/react/src/pages/TrialDetails/Profiles/ProfilesFiltersProvider.tsx
  webui/react/src/pages/TrialDetails/Profiles/ProfilesNotEnabled.tsx
  webui/react/src/pages/TrialDetails/Profiles/types.ts
  webui/react/src/pages/TrialDetails/Profiles/useFetchMetrics.tsx
  webui/react/src/pages/TrialDetails/Profiles/useFetchProfilerMetrics.tsx
  webui/react/src/pages/TrialDetails/Profiles/useFetchProfilerSeries.ts
  webui/react/src/pages/TrialDetails/Profiles/utils.ts
  webui/react/src/pages/TrialDetails/TrialDetailsProfiles.tsx
Labels: cla-signed

#4243 chore: add dev server support for embedded tasks view
  webui/react/Makefile
  webui/react/craco.config.js
Labels: cla-signed

#4248 docs: add enhanced launcher user guide
  docs/training-run/index.txt
Labels: cla-signed

#4238 feat: add google cloud storage (gcs) prefix support [DET-6883]
  docs/release-notes/gcs-checkpoint-prefix.txt
  docs/sysadmin-basics/cluster-config.txt
  docs/sysadmin-deploy-on-k8s/helm-config.txt
  docs/training-apis/experiment-config.txt
  harness/determined/common/schemas/expconf/_gen.py
  harness/determined/common/storage/gcs.py
  harness/determined/tensorboard/build.py
  harness/determined/tensorboard/gcs.py
  harness/tests/storage/test_gcs.py
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
  master/internal/api_tensorboard.go
  master/pkg/schemas/expconf/storage_config.go
  master/pkg/schemas/expconf/zgen_gcs_config_v0.go
  master/pkg/schemas/zgen_schemas.go
  schemas/expconf/v0/gcs.json
  schemas/test_cases/v0/merging.yaml
  schemas/test_cases/v0/misc.yaml
Labels: cla-signed
