Repository determined-ai/determined, pull requests merged in 2022-09, with the labels that each got.

#4924 test: update yaml file names
  e2e_tests/tests/nightly/test_capability.py
  e2e_tests/tests/nightly/test_distributed.py
Labels: cla-signed

#4897 feat: helm chart: add OIDC and SCIM options [DPS-204]
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/templates/master-deployment.yaml
  helm/charts/determined/values.yaml
Labels: cla-signed

#4905 refactor: AuthZ for experiments [DET-8003]
  harness/determined/common/api/request.py
  harness/determined/exec/prep_container.py
  master/Makefile
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_project_intg_test.go
  master/internal/api_user_intg_test.go
  master/internal/core_experiment.go
  master/internal/core_experiment_intg_test.go
  master/internal/db/postgres_experiments.go
  master/internal/experiment/authz_basic_impl.go
  master/internal/experiment/authz_iface.go
  master/internal/mocks/authz_experiment_iface.go
  master/internal/mocks/project_authz_iface.go
  master/internal/project/authz_basic_impl.go
  master/internal/project/authz_iface.go
  master/pkg/model/experiment.go
Labels: cla-signed

#4923 feat: Create user with group info [DET-8221]
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/pages/Settings/Settings.tsx
  webui/react/src/pages/Settings/UserManagement.test.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
Labels: cla-signed

#4932 fix: remove prevUser constraint
  webui/react/src/hooks/useSettings.ts
Labels: cla-signed

#4872 chore: address low hanging security updates
  webui/react/package-lock.json
Labels: cla-signed

#4936 ci(test-unit): flail productively
  .github/workflows/link-artifacts.yml
Labels: cla-signed

#4939 docs: update required python to 3.7
  docs/interfaces/commands-and-shells.rst
  docs/training/setup-guide/custom-env.rst
  harness/setup.py
  master/static/srv/notebook-template.ipynb
Labels: cla-signed

#4911 docs: Determined AI Slurm jobs do not require gres.
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/install-on-slurm.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
Labels: cla-signed

#4941 ci(test-unit): accept only status events
  .github/workflows/link-artifacts.yml
Labels: cla-signed

#4934 chore: ensure isAuthError can see into wrapped exceptions
  webui/react/src/hooks/useAuthCheck.ts
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/SignOut.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/services/api.ts
  webui/react/src/shared/utils/error.ts
  webui/react/src/shared/utils/service.test.ts
  webui/react/src/shared/utils/service.ts
  webui/react/src/utils/error.ts
Labels: cla-signed, shared-web

#4904 chore: test apex checkpointing [DET-7886]
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/utils.py
Labels: cla-signed, python

#4944 fix: allow forking an archived experiment [DET-8277]
  master/internal/api_experiment.go
  webui/react/src/utils/experiment.ts
Labels: cla-signed

#4937 feat: WebUI 404 not found page [DET-8226]
  webui/react/src/components/PageNotFound.module.scss
  webui/react/src/components/PageNotFound.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
Labels: cla-signed

#4946 ci: run deepspeed on g4dn instances
  .circleci/config.yml
Labels: cla-signed

#4951 test: remove ds test from p2
  e2e_tests/tests/nightly/test_capability.py
Labels: cla-signed

#4947 ci(test-unit): remove debug code
  .github/workflows/link-artifacts.yml
Labels: cla-signed

#4959 chore: add question issue on GitHub
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
Labels: cla-signed

#4938 chore: fix a typo in py generator
  bindings/generate_bindings.py
  harness/determined/common/api/bindings.py
Labels: cla-signed

#4949 fix: associate allocation sessions with users
  harness/determined/common/api/request.py
  master/internal/api_auth.go
  master/internal/db/database.go
  master/internal/db/postgres_tasks.go
  master/internal/grpcutil/auth.go
  master/internal/mocks/db.go
  master/internal/task/allocation.go
  master/pkg/model/task_session.go
  master/static/migrations/20220902141323_add-user-to-allocation-session.tx.down.sql
  master/static/migrations/20220902141323_add-user-to-allocation-session.tx.up.sql
Labels: cla-signed

#4964 feat: adjust scrollbar color by theme
  webui/react/src/shared/styles/index.scss
  webui/react/src/shared/themes.ts
Labels: cla-signed, shared-web

#4267 chore: secure echo with default authentication [DET-7405] [DET-7378]
  master/internal/core.go
  master/internal/rm/agents.go
  master/internal/user/service.go
  master/internal/user/service_test.go
Labels: cla-signed

#4970 fix: reduce settings api calls [DET-8307]
  webui/react/src/components/Navigation.tsx
  webui/react/src/contexts/Store.tsx
  webui/react/src/hooks/useFetch.ts
  webui/react/src/hooks/useSettings.ts
Labels: cla-signed

#4971 chore: revert "chore: secure echo with default authentication [DET-7405] [DET-7378] (#4267)"
  master/internal/core.go
  master/internal/rm/agents.go
  master/internal/user/service.go
  master/internal/user/service_test.go
Labels: cla-signed

#4931 feat: add batch register and deletion of checkpoints from experiment [DET-8130]
  webui/react/src/components/CheckpointModalTrigger.tsx
  webui/react/src/components/InteractiveTable.tsx
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.tsx
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpointDelete.tsx
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpointRegister.module.scss
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpointRegister.tsx
  webui/react/src/hooks/useModal/Model/useModalModelCreate.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/shared/components/ActionDropdown/ActionDropdown.tsx
  webui/react/src/shared/utils/string.test.ts
  webui/react/src/shared/utils/string.ts
  webui/react/src/types.ts
  webui/react/src/utils/checkpoint.ts
Labels: cla-signed, shared-web

#4966 chore: recursively unwrap caught exceptions for type checks
  webui/react/src/shared/utils/service.ts
Labels: cla-signed, shared-web

#4963 feat: allow specifying Fluent Bit container UID/GID on Kubernetes [DET-8012]
  agent/internal/fluent.go
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/release-notes/fluent-k8s-uid
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
  master/internal/rm/kubernetes/pod.go
  master/internal/rm/kubernetes/spec.go
  master/pkg/fluent/fluent.go
Labels: cla-signed

#4962 feat: make table row inline
  webui/react/src/components/InteractiveTable.module.scss
  webui/react/src/components/InteractiveTable.tsx
  webui/react/src/components/TagList.module.scss
  webui/react/src/components/TagList.tsx
  webui/react/src/components/TextEditorModal.module.scss
  webui/react/src/components/TextEditorModal.tsx
  webui/react/src/pages/ProjectDetails.tsx
Labels: cla-signed

#4975 fix: remove duplicate Admin Guide tile DET-8327
  docs/index.rst
Labels: cla-signed

#4979 fix: correct overflow action buttons [DET-8322]
  webui/react/src/components/PageHeaderFoldable.module.scss
  webui/react/src/components/PageHeaderFoldable.tsx
Labels: cla-signed

#4973 fix: make hp search look good on mobile [DET-8321]
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.module.scss
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
Labels: cla-signed

#4978 fix: remove early loading state resolution [DET-8320]
  webui/react/src/pages/ProjectDetails.tsx
Labels: cla-signed

#4965 feat: Frontend uses permission store to clear actions [DET-8215]
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/contexts/Store.tsx
  webui/react/src/hooks/useModal/Model/useModalModelDelete.tsx
  webui/react/src/hooks/useModal/Model/useModalModelVersionDelete.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceDetails/ProjectActionDropdown.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceDetailsHeader.tsx
  webui/react/src/pages/WorkspaceList.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceActionDropdown.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceCard.tsx
  webui/react/src/types.ts
  webui/react/src/utils/experiment.ts
Labels: cla-signed

#4984 feat: can see users' permissions if view_permissions enabled [DET-8222]
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
Labels: cla-signed

#4952 chore: reduce and log effective store state changes
  webui/react/src/contexts/Store.tsx
Labels: cla-signed

#4983 ci: gke version bump.
  .circleci/config.yml
Labels: cla-signed

#4976 refactor: bunify `grpcutil.GetUser`.
  agent/go.mod
  agent/go.sum
  master/go.mod
  master/go.sum
  master/internal/api_auth.go
  master/internal/api_checkpoint.go
  master/internal/api_command.go
  master/internal/api_experiment.go
  master/internal/api_project.go
  master/internal/api_trials.go
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/api_workspace.go
  master/internal/core_experiment.go
  master/internal/db/database.go
  master/internal/db/postgres.go
  master/internal/db/postgres_tasks.go
  master/internal/db/postgres_users.go
  master/internal/grpcutil/auth.go
  master/internal/mocks/db.go
  master/internal/restore.go
  master/internal/user/postgres_users.go
  master/internal/user/service.go
  master/pkg/model/task_session.go
  master/pkg/model/user.go
Labels: cla-signed

#4933 refactor: rename `usergroup.APIServer` -> `usergroup.UserGroupAPIServer`
  master/internal/api.go
  master/internal/usergroup/api_groups.go
Labels: cla-signed

#4960 feat: WebUI add view user profile [DET-8228]
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/pages/Settings/Settings.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/routes/routes.ts
Labels: cla-signed

#4950 feat: Add no permissions warning page[DET-8227]
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/NoPermissions.module.scss
  webui/react/src/pages/NoPermissions.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/shared/assets/fonts/determined-ai.woff
  webui/react/src/shared/assets/fonts/determined-ai.woff2
  webui/react/src/shared/styles/icons.scss
Labels: cla-signed, shared-web

#4988 test: master test-intg `TestDeleteCheckpoints` stability.
  master/internal/db/postgres_checkpoints_intg_test.go
Labels: cla-signed

#4637 feat: user group CLI and RBAC feature flag [DET-7889,DET-8210]
  .circleci/devcluster/double.devcluster.yaml
  e2e_tests/tests/cluster/test_groups.py
  harness/determined/cli/__init__.py
  harness/determined/cli/_util.py
  harness/determined/cli/cli.py
  harness/determined/cli/errors.py
  harness/determined/cli/user_groups.py
  harness/determined/common/api/bindings.py
  master/internal/api_master.go
  master/internal/config/authz_config.go
  proto/src/determined/api/v1/master.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#4991 perf: cache grpcutil.GetUser() result
  master/internal/grpcutil/auth.go
Labels: cla-signed

#5000 fix: make experiment names unique across test runs
  e2e_tests/tests/experiment/test_custom_searcher.py
  master/internal/api_experiment.go
  master/internal/mocks/authz_experiment_iface.go
Labels: cla-signed

#5002 fix: update icon codes
  webui/react/src/shared/styles/icons.scss
Labels: cla-signed, shared-web

#4985 docs: Updates for ROCm support with Slurm (FOUNDENG-128)
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/install-on-slurm.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/overview.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-known-issues.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
Labels: cla-signed

#4982 chore: Add expconf environment.pbs
  harness/determined/common/schemas/expconf/_gen.py
  harness/determined/common/schemas/expconf/_v0.py
  master/pkg/model/compat.go
  master/pkg/model/environment_config.go
  master/pkg/model/task_container_defaults.go
  master/pkg/schemas/expconf/environment_config.go
  master/pkg/schemas/expconf/zgen_environment_config_v0.go
  master/pkg/schemas/zgen_schemas.go
  schemas/expconf/v0/environment.json
  schemas/test_cases/v0/defaults.yaml
  schemas/test_cases/v0/experiment.yaml
  schemas/test_cases/v0/gpu-cuda-migration.yaml
Labels: cla-signed

#5005 feat: add cache control headers to static web assets [DET-7450]
  master/internal/core.go
Labels: cla-signed

#4942 chore: add streaming to bindings and use it
  bindings/generate_bindings.py
  e2e_tests/tests/cluster/test_logging.py
  e2e_tests/tests/experiment/experiment.py
  harness/determined/cli/experiment.py
  harness/determined/cli/remote.py
  harness/determined/cli/task.py
  harness/determined/cli/trial.py
  harness/determined/common/api/__init__.py
  harness/determined/common/api/bindings.py
  harness/determined/common/api/experiment.py
  harness/determined/common/api/logs.py
Labels: cla-signed

#5006 fix: remove last_triggering_event from GET events response
  harness/determined/common/api/bindings.py
  proto/buf.image.bin
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#4997 docs: add release notes for 0.19.3
  docs/release-notes.rst
  docs/release-notes/FE127-SlurmROCmSupport.txt
  docs/release-notes/FE149-Podman4Support.txt
  docs/release-notes/deepspeed-cpu-offloading.txt
Labels: cla-signed

#4992 docs: protoc required version to 3.15 to support optionals
  CONTRIBUTING.md
Labels: cla-signed

#4925 feat: pin experiments
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/db/bun_filters.go
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/common/v1/common.proto
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/InteractiveTable.module.scss
  webui/react/src/components/InteractiveTable.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentMove.tsx
  webui/react/src/hooks/useSettings.ts
  webui/react/src/pages/ProjectDetails.module.scss
  webui/react/src/pages/ProjectDetails.settings.ts
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
  webui/react/src/utils/experiment.ts
Labels: cla-signed

#4980 test: WebUI add test for settings account [DET-7967]
  webui/react/src/pages/Settings/SettingsAccount.test.tsx
Labels: cla-signed

#4998 fix: .detignore interprets wildcards like .gitignore [DET-7094]
  harness/determined/common/context.py
  harness/tests/cli/test_cli.py
Labels: cla-signed, python

#4986 fix: don't attempt to remove zero checkpoints
  master/internal/api_experiment.go
  master/internal/checkpoint_gc.go
  master/pkg/tasks/task_gc.go
Labels: cla-signed

#4993 test: masterless unit tests for search runner [DET-8082]
  harness/determined/searcher/core_search_runner.py
  harness/determined/searcher/search_runner.py
  harness/tests/search_methods.py
  harness/tests/test_custom_searcher.py
Labels: cla-signed

#4420 feat: Redesigning expected experiment states [DET-7278] [DET-7719]
  docs/release-notes/4420-substates-of-active
  e2e_tests/tests/cluster/test_agent_disable.py
  e2e_tests/tests/cluster/test_agent_restart.py
  e2e_tests/tests/cluster/test_resource_manager.py
  e2e_tests/tests/command/test_run.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_noop.py
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/experiment.py
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/command/command.go
  master/internal/db/postgres_tasks_intg_test.go
  master/pkg/model/experiment.go
  master/pkg/model/task.go
  master/static/srv/aggregate_allocation_state_by_job.sql
  master/static/srv/aggregate_allocation_state_by_task.sql
  master/static/srv/get_task.sql
  proto/buf.image.bin
  proto/src/determined/experiment/v1/experiment.proto
  proto/src/determined/task/v1/task.proto
  webui/react/src/components/Badge.stories.tsx
  webui/react/src/components/BadgeTag.stories.tsx
  webui/react/src/constants/states.ts
  webui/react/src/pages/InteractiveTask.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/themes.ts
  webui/react/src/types.ts
  webui/react/src/utils/experiment.ts
  webui/react/src/utils/task.ts
Labels: cla-signed, User-facing API Change

#5013 chore: split out ui store part 1 [DET-8218]
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/components/Router.tsx
  webui/react/src/components/ThemeToggle.tsx
  webui/react/src/contexts/Store.tsx
  webui/react/src/hooks/usePageVisibility.ts
  webui/react/src/hooks/useTheme.ts
  webui/react/src/pages/InteractiveTask.tsx
  webui/react/src/pages/NoPermissions.tsx
  webui/react/src/pages/SignIn.tsx
  webui/react/src/pages/Wait.tsx
  webui/react/src/shared/components/ActionDropdown/ActionDropdown.tsx
  webui/react/src/shared/contexts/UIStore.ts
Labels: cla-signed, shared-web

#4990 feat: add stub RBAC API
  harness/determined/common/api/bindings.py
  master/internal/api.go
  master/internal/api/apiutils/utils.go
  master/internal/db/postgres.go
  master/internal/db/utils.go
  master/internal/rbac/api_rbac.go
  master/internal/rbac/api_rbac_stub.go
  master/internal/rbac/api_rbac_wrapper.go
  master/internal/usergroup/api_groups.go
  master/internal/usergroup/postgres_groups.go
  master/static/migrations/20220907145440_groups-constraint.tx.down.sql
  master/static/migrations/20220907145440_groups-constraint.tx.up.sql
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/rbac.proto
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#4892 chore: update slurm-known-issues
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-known-issues.rst
Labels: cla-signed

#4894 fix: duplicate checkpoints returned by listing checkpoint routes
  docs/release-notes/dupe_checkpoints.txt
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/static/migrations/20220913094539_set-raw-metrics-archive.tx.down.sql
  master/static/migrations/20220913094539_set-raw-metrics-archive.tx.up.sql
Labels: cla-signed

#5020 chore: permissions and permission summary proto
  harness/determined/common/api/bindings.py
  master/internal/rbac/api_rbac.go
  master/internal/rbac/api_rbac_stub.go
  master/internal/rbac/api_rbac_wrapper.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/rbac.proto
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5023 fix: remove `det deploy aws` vpc deployment type, fix govcloud agent AMI.
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-aws/install-on-aws.rst
  docs/release-notes/remove-vpc-yaml.txt
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/constants.py
  harness/determined/deploy/aws/deployment_types/vpc.py
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/vpc.yaml
Labels: cla-signed

#5019 fix: update shell and star icons
  webui/react/src/shared/styles/icons.scss
Labels: cla-signed, shared-web

#4995 fix: add alignment in tables
  webui/react/src/components/Table.module.scss
  webui/react/src/components/Table.tsx
  webui/react/src/pages/JobQueue/JobQueue.module.scss
  webui/react/src/pages/JobQueue/JobQueue.settings.ts
  webui/react/src/pages/JobQueue/JobQueue.table.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/WorkspaceList.tsx
Labels: cla-signed

#5028 chore: replacing globalOnly/workspaceOnly with isGlobal [DET-8370]
  webui/react/src/contexts/Store.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/types.ts
Labels: cla-signed

#5029 ci: work around a bum pyzmq build
  .circleci/config.yml
Labels: cla-signed

#5025 chore: personal groups get automatically created for users [DET-8363]
  master/internal/db/postgres_users.go
  master/internal/usergroup/api_groups.go
  master/internal/usergroup/group_intg_test.go
  master/internal/usergroup/postgres_groups.go
  master/static/migrations/20220914110745_add-users-to-personal-groups.tx.down.sql
  master/static/migrations/20220914110745_add-users-to-personal-groups.tx.up.sql
Labels: cla-signed

#5021 fix: improve errors for unsupported methods called for a non custom-searcher [MLG-28]
  master/internal/db/postgres_snapshots_test.go
  master/internal/experiment.go
  master/pkg/searcher/custom_search.go
  master/pkg/searcher/searcher.go
Labels: cla-signed

#5034 chore: share `.prettierrc.js`
  webui/react/src/shared/configs/.prettierrc.js
Labels: cla-signed

#5012 fix: handle pausing experiment [MLG-55]
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_custom_searcher.py
  e2e_tests/tests/fixtures/custom_searcher/core_api_custom_searcher.py
  harness/determined/searcher/core_search_runner.py
  harness/determined/searcher/search_runner.py
Labels: cla-signed

#5033 feat: setup `Prettier`
  webui/react/.prettierignore
  webui/react/.prettierrc.js
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/shared/configs/.stylelintrc.js
  webui/react/src/shared/configs/eslintrc.js
Labels: cla-signed, shared-web

#5039 fix: handle substates of ACTIVE
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_custom_searcher.py
  harness/determined/searcher/core_search_runner.py
  master/internal/api_experiment.go
Labels: cla-signed

#5026 chore: bumpenvs for ROCm changes
  .circleci/config.yml
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-gcp/install-gcp.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/singularity.rst
  docs/interfaces/tensorboard.rst
  docs/reference/reference-deploy/config/helm-config-reference.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/reference/reference-interface/job-config-reference.rst
  docs/reference/reference-training/experiment-config-reference.rst
  docs/training/apis-howto/overview.rst
  docs/training/setup-guide/custom-env.rst
  e2e_tests/tests/config.py
  e2e_tests/tests/fixtures/pytorch_lightning_amp/apex_amp.yaml
  e2e_tests/tests/fixtures/pytorch_lightning_amp/auto_amp.yaml
  examples/computer_vision/efficientdet_pytorch/const.yaml
  examples/computer_vision/efficientdet_pytorch/const_fake.yaml
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/decision_trees/gbt_titanic_estimator/adaptive.yaml
  examples/decision_trees/gbt_titanic_estimator/const.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_3_cpu_offload.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_no_offload.yaml
  examples/deepspeed/cifar10_moe/moe.yaml
  examples/deepspeed/cifar10_moe/zero_stages.yaml
  examples/deepspeed/gpt_neox/Dockerfile
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  examples/graphs/proteins_pytorch_geometric/adaptive.yaml
  examples/graphs/proteins_pytorch_geometric/const.yaml
  examples/graphs/proteins_pytorch_geometric/distributed.yaml
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/keras/_tf_keras_trial.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-estimator/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  helm/charts/determined/templates/master-config.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/update-bumpenvs-yaml.py
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
Labels: cla-signed

#5022 feat: Modal to add role to group [DET-8220]
  harness/determined/common/api/bindings.py
  proto/src/determined/api/v1/rbac.proto
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/components/Navigation.tsx
  webui/react/src/contexts/Store.tsx
  webui/react/src/hooks/useFetch.ts
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalGroupRoles.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalGroupRoles.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#5047 fix: WebUI codeview test mock [DET-8351]
  webui/react/src/pages/ExperimentDetails/CodeViewer/CodeViewer.test.tsx
Labels: cla-signed

#4967 fix: set auth cookie client side for external flows
  webui/react/src/contexts/Store.tsx
  webui/react/src/utils/browser.test.ts
  webui/react/src/utils/browser.ts
Labels: cla-signed

#5036 feat: WebUI add feature switch [DET-8352]
  webui/react/src/contexts/Store.tsx
  webui/react/src/hooks/useFeature.ts
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/Settings.test.tsx
  webui/react/src/pages/Settings/Settings.tsx
  webui/react/src/pages/Settings/UserManagement.test.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#4987 chore: test PyTorch AMP with gradient aggregation [DET-6105]
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/tests/experiment/fixtures/pytorch_onevar_model.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Labels: cla-signed, python

#5024 feat: cluster_admin permission and related user/group admin permissions [DET-8229]
  webui/react/src/hooks/usePermissions.ts
Labels: cla-signed

#5045 feat: Permissions to create and view workspaces [DET-8373]
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceList.tsx
Labels: cla-signed

#5062 fix: handle pin when its not defined
  webui/react/src/components/ExperimentActionDropdown.tsx
Labels: cla-signed

#5050 ci(scan-docker-images): fix sarif upload job [INFENG-94]
  .github/workflows/scan-docker-images.yml
Labels: cla-signed

#5059 chore: add lint for Prettier and Ignore format code commit
  .git-blame-ignore-revs
  webui/react/Makefile
  webui/react/package.json
  webui/react/src/components/DraggableListItem.tsx
Labels: cla-signed

#5065 build: speed up parallel runs for react make
  webui/react/Makefile
  webui/react/package.json
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/WorkspaceList.tsx
Labels: cla-signed

#5048 docs: Slurm installation feedback from user installs
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/install-on-slurm.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/singularity.rst
Labels: cla-signed

#5063 fix: Trial.TotalCheckpointSize considers deleted checkpoints [DET-8399]
  master/static/srv/proto_get_trials_plus.sql
Labels: cla-signed

#5055 fix: support setting agent username and group in user APIs.
  e2e_tests/tests/cluster/test_users.py
  e2e_tests/tests/experiment/experiment.py
  harness/determined/common/api/bindings.py
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  proto/src/determined/user/v1/user.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5009 feat: Add state wait to tensor board [DET-8273]
  harness/determined/common/api/bindings.py
  harness/determined/exec/tensorboard.py
  master/internal/api_tasks.go
  master/internal/task/allocation.go
  master/pkg/model/task.go
  master/static/migrations/20220919185603_update-allocation-state.tx.down.sql
  master/static/migrations/20220919185603_update-allocation-state.tx.up.sql
  master/static/srv/check_ready_logs.py
  master/static/srv/tensorboard-entrypoint.sh
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/task.proto
  proto/src/determined/task/v1/task.proto
  webui/react/src/constants/states.ts
  webui/react/src/pages/InteractiveTask.tsx
  webui/react/src/pages/Wait.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/themes.ts
  webui/react/src/types.ts
  webui/react/src/utils/task.ts
Labels: cla-signed

#5068 feat: WebUI edit permission at user profile [DET-8224]
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/Settings.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
Labels: cla-signed

#5074 revert: work around a bum pyzmq build
  .circleci/config.yml
Labels: cla-signed

#5080 chore: auto fmt
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/pages/Settings/Settings.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
Labels: cla-signed

#5079 chore: Avoid error from RBAC listRole endpoint [DET-8395]
  webui/react/src/services/apiConfig.ts
Labels: cla-signed

#5082 fix: bumpenv again after moving pip install protobuf
  .circleci/config.yml
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/singularity.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/reference/reference-interface/job-config-reference.rst
  docs/reference/reference-training/experiment-config-reference.rst
  docs/training/apis-howto/overview.rst
  docs/training/setup-guide/custom-env.rst
  e2e_tests/tests/config.py
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_3_cpu_offload.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_no_offload.yaml
  examples/deepspeed/cifar10_moe/moe.yaml
  examples/deepspeed/cifar10_moe/zero_stages.yaml
  examples/deepspeed/gpt_neox/Dockerfile
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  examples/graphs/proteins_pytorch_geometric/adaptive.yaml
  examples/graphs/proteins_pytorch_geometric/const.yaml
  examples/graphs/proteins_pytorch_geometric/distributed.yaml
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-estimator/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  helm/charts/determined/templates/master-config.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
Labels: cla-signed

#5064 fix: upload helm chart to GitHub release artifacts [INFENG-93]
  .circleci/config.yml
  helm/.goreleaser.yml
  helm/Makefile
Labels: cla-signed

#5081 ci: store docs output as a single file
  .circleci/config.yml
Labels: cla-signed

#5086 fix: allow sort of metrics under avg_metrics [DET-8408]
  master/internal/api_trials.go
  master/static/srv/proto_get_trial_workloads.sql
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
  webui/react/src/utils/metric.ts
Labels: cla-signed

#5091 fix: display primitive hps correctly in parallel coordinates plot
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
Labels: cla-signed

#5090 fix: new states can be paused, canceled, killed [DET-8449]
  webui/react/src/constants/states.ts
Labels: cla-signed

#5101 Unpublish accidental release 0.19.4-rc1
  determined-helm-chart_0.19.4-rc1.tgz
  index.yaml
Labels: cla-signed

#5092 fix: Initial comm failure should provide explaination (FDN-217)
  e2e_tests/tests/experiment/experiment.py
  harness/determined/exec/prep_container.py
Labels: cla-signed

#5097 fix: test_efficientdet_coco_pytorch_const failing
  examples/computer_vision/efficientdet_pytorch/startup-hook.sh
Labels: cla-signed

#5102 fix: fix useSettings bug
  webui/react/src/hooks/useSettings.ts
  webui/react/src/pages/ProjectDetails.tsx
Labels: cla-signed

#5071 chore: remove check from pytorch [MLG-182]
  harness/determined/pytorch/_callback.py
  harness/determined/pytorch/_data.py
  harness/determined/pytorch/_load.py
  harness/determined/pytorch/_lr_scheduler.py
  harness/determined/pytorch/_metric_utils.py
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/_reducer.py
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/determined/pytorch/lightning/_adapter.py
  harness/determined/pytorch/samplers.py
  harness/tests/experiment/pytorch/test_pytorch_context.py
Labels: cla-signed

#5106 fix: consolidate useSettings changes
  webui/react/src/hooks/useSettings.ts
Labels: cla-signed

#5096 chore: include running eslint fix in fmt target
  webui/react/Makefile
Labels: cla-signed

#5110 docs: add release notes for 0.19.4
  docs/release-notes.rst
  docs/release-notes/4420-substates-of-active
  docs/release-notes/4703-trial-workloads
  docs/release-notes/7073-cluster-ui-improvement
  docs/release-notes/dupe_checkpoints.txt
  docs/release-notes/fluent-k8s-uid
  docs/release-notes/remove-vpc-yaml.txt
Labels: cla-signed

#5088 fix: No Permissions page vs. 404 page
  webui/react/src/pages/ProjectDetails.tsx
Labels: cla-signed

#5089 fix: remove `as any`
  webui/react/src/components/AntDStories/Tree.stories.tsx
  webui/react/src/constants/states.ts
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.tsx
  webui/react/src/omnibar/tree-extension/trees/index.ts
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.settings.ts
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/ExperimentDetails/Header/ExperimentHeaderProgress.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelDetails/ModelDetails.settings.ts
  webui/react/src/pages/ModelRegistry.settings.ts
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/TaskList.settings.ts
  webui/react/src/pages/TaskList.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/shared/utils/data.ts
  webui/react/src/themes.ts
  webui/react/src/types.ts
  webui/react/src/utils/experiment.ts
Labels: cla-signed, shared-web

#5118 fix: fix unshared dependency [DET-8462]
  webui/react/src/components/AntDStories/Card.stories.tsx
  webui/react/src/components/InlineEditor.stories.tsx
  webui/react/src/shared/hooks/useModal/useModal.stories.tsx
  webui/react/src/shared/utils/loremIpsum.ts
Labels: cla-signed, shared-web

#5117 build: skip more jobs for web-only prs
  .circleci/config.yml
Labels: cla-signed

#5112 fix: prevent reattach deadlock upon container reattach
  agent/internal/docker.go
  docs/release-notes/reattach-deadlock.rst
Labels: cla-signed

#5077 chore: reuse debugger instance for Logger
  webui/react/src/shared/utils/Logger.ts
Labels: cla-signed, shared-web

#5061 feat: rbac CLI [DET-7868]
  e2e_tests/tests/cluster/test_rbac.py
  harness/determined/cli/cli.py
  harness/determined/cli/rbac.py
Labels: cla-signed

#5078 chore: move polling hook to shared
  webui/react/src/App.tsx
  webui/react/src/components/BreadcrumbBar.tsx
  webui/react/src/components/Navigation.tsx
  webui/react/src/pages/Clusters/ClustersOverview.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/ResourcepoolDetail.tsx
  webui/react/src/pages/SignIn.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceList.tsx
  webui/react/src/shared/hooks/usePolling.ts
Labels: cla-signed, shared-web

#5075 chore: oss refactor for auto assign WorkspaceCreator role plugin
  master/internal/api_user_intg_test.go
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/rbac/api_rbac.go
  master/internal/rbac/api_rbac_stub.go
  master/internal/rbac/api_rbac_wrapper.go
  master/pkg/model/workspace.go
  master/static/srv/insert_workspace.sql
Labels: cla-signed

#5125 ci: Switch to token w/ higher quota [INFENG-100]
  .github/workflows/labeler.yml
  .github/workflows/link-artifacts.yml
  .github/workflows/lint-bindings.yml
  .github/workflows/lint-go.yml
  .github/workflows/publish-helm.yml
  .github/workflows/semantic.yml
Labels: cla-signed

#5119 fix: address review comments
  e2e_tests/tests/experiment/test_custom_searcher.py
  e2e_tests/tests/fixtures/custom_searcher/core_api_custom_searcher.py
  e2e_tests/tests/fixtures/custom_searcher/searchers.py
  examples/custom_search_method/asha_search_method/core_search_runner/run_experiment.py
  harness/determined/common/schemas/expconf/_gen.py
  harness/determined/layers/_workload_sequencer.py
  harness/determined/searcher/__init__.py
  harness/determined/searcher/_core_search_runner.py
  harness/determined/searcher/_search_method.py
  harness/determined/searcher/_search_runner.py
  harness/tests/search_methods.py
  harness/tests/test_custom_searcher.py
  master/pkg/schemas/zgen_schemas.go
  schemas/expconf/v0/searcher.json
Labels: cla-signed

#5123 fix: tensorboard inherits imagePullSecrets from experiment [DET-8458]
  docs/release-notes/5123-tb-secrets.txt
  e2e_tests/tests/command/test_tensorboard.py
  master/internal/api_tensorboard.go
Labels: cla-signed

#5069 feat: RBAC for experiment actions [DET-8372]
  webui/react/src/components/Badge.module.scss
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentMultiTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
  webui/react/src/types.ts
  webui/react/src/utils/experiment.ts
Labels: cla-signed

#5133 docs: fix user-reported errata.
  docs/quickstart-mdldev.rst
  docs/tutorials/pytorch-mnist-tutorial.rst
Labels: cla-signed

#5130 fix: null check
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
Labels: cla-signed

#5107 chore: replace use of XORTrials with OneVarTrials in TestPyTorchTrial [MLG-42]
  harness/tests/experiment/fixtures/pytorch_onevar_model.py
  harness/tests/experiment/fixtures/pytorch_xor_model.py
  harness/tests/experiment/pytorch/test_pytorch_context.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/test_local.py
Labels: cla-signed

#5134 docs: bring back analytics.
  docs/Makefile
  docs/_templates/page.html
Labels: cla-signed

#5132 chore: only request listRoles with rbac on [DET-8419]
  webui/react/src/components/Navigation.tsx
  webui/react/src/services/apiConfig.ts
Labels: cla-signed

#5127 fix: doc typos
  examples/tutorials/core_api/2_checkpoints.py
  harness/determined/common/schemas/_auto_init.py
  harness/determined/estimator/_estimator_context.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/estimator/_reducer.py
  harness/determined/keras/_enqueuer.py
  harness/determined/pytorch/README.md
Labels: cla-signed

#5140 ci: cache more Go files
  .circleci/config.yml
  agent/Makefile
  agent/get-deps.sh
  master/Makefile
  master/get-deps.sh
  proto/Makefile
  proto/get-deps.sh
Labels: cla-signed

#5141 fix: remove temporary text
  .circleci/config.yml
Labels: cla-signed

#5139 perf: fix memory leak warnings
  webui/react/src/components/BreadcrumbBar.tsx
  webui/react/src/components/LogViewer/LogViewer.tsx
  webui/react/src/pages/ExperimentDetails/CodeViewer/CodeViewer.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/ProjectDetails/ProjectDetailsTabs.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
Labels: cla-signed

#4989 feat: checkpoint download through master
  .circleci/config.yml
  master/internal/core.go
  master/internal/core_checkpoint.go
  master/internal/core_checkpoint_intg_test.go
  master/internal/db/postgres_checkpoints_intg_test.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_helpers_intg_test.go
  master/internal/db/postgres_model_intg_test.go
  master/internal/db/postgres_test_utils.go
  master/pkg/checkpoints/archive/archive_writer.go
  master/pkg/checkpoints/checkpoints.go
  master/pkg/checkpoints/s3/s3checkpoints.go
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed, User-facing API Change

#5114 feat: New Project button/message checks permission [DET-8374]
  webui/react/src/contexts/Store.tsx
  webui/react/src/hooks/useFeature.ts
  webui/react/src/hooks/usePermissions.test.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/WorkspaceDetails/WorkspaceDetailsHeader.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
Labels: cla-signed

#5131 chore: Placeholder when notes/markdown is disabled [DET-8409]
  webui/react/src/components/Markdown.stories.tsx
  webui/react/src/components/Markdown.tsx
  webui/react/src/components/NotesCard.tsx
Labels: cla-signed

#5147 fix: adjust elevation for dark mode
  webui/react/src/shared/themes.ts
Labels: cla-signed, shared-web

#5148 fix: shells fail if vars contain a newline [FOUNDENG-251]
  master/static/srv/shell-entrypoint.sh
Labels: cla-signed

#5151 fix: handle transient GCS errors in Tensorboard upload [DET-8491]
  harness/determined/tensorboard/gcs.py
Labels: cla-signed

#5116 build: setup `Pre-Commit`
  .pre-commit-config.yaml
  Makefile
  requirements.txt
Labels: cla-signed

#5035 feat: support slots_per_trial=0 in Trial classes
  harness/determined/launch/horovod.py
  harness/determined/util.py
Labels: cla-signed

#5083 feat: cli: support downloading checkpoints through master
  harness/determined/cli/checkpoint.py
  harness/determined/common/experimental/checkpoint/__init__.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/storage/s3.py
  harness/determined/errors.py
  harness/determined/experimental/client.py
  harness/tests/checkpoints/test_checkpoint.py
  harness/tests/requirements/requirements-harness.txt
Labels: cla-signed, User-facing API Change

#5085 feat: groups and users to workspace proto
  harness/determined/common/api/bindings.py
  master/internal/rbac/api_rbac.go
  master/internal/rbac/api_rbac_stub.go
  master/internal/rbac/api_rbac_wrapper.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5142 chore: replace router hooks for react-router-dom v6
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/NotesCard.tsx
  webui/react/src/hooks/useAuthCheck.ts
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.test.tsx
  webui/react/src/hooks/useRouteTracker.ts
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/hooks/useSettings.ts
  webui/react/src/pages/Clusters.tsx
  webui/react/src/pages/ExperimentComparison.tsx
  webui/react/src/pages/ExperimentComparison/CompareVisualization.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentMultiTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/InteractiveTask.test.tsx
  webui/react/src/pages/InteractiveTask.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/Reload.tsx
  webui/react/src/pages/ResourcepoolDetail.tsx
  webui/react/src/pages/Settings/Settings.test.tsx
  webui/react/src/pages/Settings/Settings.tsx
  webui/react/src/pages/Settings/UserManagement.test.tsx
  webui/react/src/pages/SignIn.tsx
  webui/react/src/pages/SignOut.tsx
  webui/react/src/pages/TaskLogs.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/Wait.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
Labels: cla-signed

#5144 feat: custom searcher doc
  docs/index.rst
  docs/reference/reference-searcher/custom-searcher-reference.rst
  docs/training/hyperparameter/search-methods/hp-custom.rst
  docs/training/hyperparameter/search-methods/overview.rst
  e2e_tests/tests/experiment/test_custom_searcher.py
  e2e_tests/tests/fixtures/custom_searcher/core_api_custom_searcher.py
  e2e_tests/tests/nightly/test_distributed.py
  examples/custom_search_method/asha_search_method/local_search_runner/run_experiment.py
  examples/custom_search_method/asha_search_method/remote_search_runner/README.md
  examples/custom_search_method/asha_search_method/remote_search_runner/run_experiment.py
  examples/custom_search_method/asha_search_method/remote_search_runner/searcher.yaml
  harness/determined/searcher/__init__.py
  harness/determined/searcher/_remote_search_runner.py
  harness/determined/searcher/_search_method.py
  harness/determined/searcher/_search_runner.py
Labels: cla-signed

#5158 feat: report progress after every event that affects it
  harness/determined/searcher/_search_runner.py
Labels: cla-signed
