Repository determined-ai/determined, pull requests merged in 2022-06, with the labels that each got.

#4254 chore: Merge additional slurm support
  master/pkg/model/environment_config.go
  master/pkg/model/experiment_config_test.go
  master/pkg/model/task_container_defaults.go
Labels: cla-signed

#4255 feat: det deploy now can use --yes to skip prompts [DET-7408]
  .circleci/config.yml
  docs/release-notes/det-deploy-no-prompt-yes.txt
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/gcp/cli.py
  harness/determined/deploy/gcp/gcp.py
Labels: cla-signed

#4211 chore: small cleanups for slurm
  master/internal/job/job.go
  master/internal/resourcemanagers/kubernetes/pod_test.go
  master/internal/resourcemanagers/task_list.go
Labels: cla-signed

#4250 ci: Lints migrations to ensure new migrations have higher timestamps than old ones [DET-7146]
  .github/scripts/lint-migrations.sh
  .github/workflows/lint-migrations.yml
Labels: cla-signed

#4215 feat: improve trial logs to have some system events [DET-5885]
  docs/release-notes/task-logs-improvement.txt
  e2e_tests/tests/experiment/test_launch.py
  master/internal/api_trials.go
  master/internal/experiment.go
  master/internal/sproto/resources.go
  master/internal/task/allocation.go
  master/internal/trial.go
  master/internal/trial_test.go
  master/pkg/aproto/exit.go
  master/pkg/model/experiment.go
Labels: cla-signed

#4253 fix: gcs storage upstream test failure
  harness/tests/storage/test_gcs.py
Labels: cla-signed

#4258 fix: det task logs unable to use trial task IDs and checkpoint GC task IDs [DET-7424]
  docs/release-notes/fix-task-logs.txt
  harness/determined/cli/command.py
Labels: cla-signed

#4229 refactor: migrating tables to use InteractiveTable component [DET-7382]
  webui/react/src/components/DownloadModelModal.tsx
  webui/react/src/components/InteractiveTable.tsx
  webui/react/src/hooks/useModal/useModalDownloadModel.module.scss
  webui/react/src/hooks/useModal/useModalDownloadModel.tsx
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentMultiTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.settings.ts
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.table.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/ExperimentList.settings.ts
  webui/react/src/pages/JobQueue/JobQueue.settings.ts
  webui/react/src/pages/JobQueue/JobQueue.table.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelDetails/ModelDetails.settings.ts
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelDetails/ModelVersionActionDropdown.tsx
  webui/react/src/pages/ModelRegistry.settings.ts
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/TaskList.settings.ts
  webui/react/src/pages/TaskList.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHyperparameters.settings.ts
  webui/react/src/pages/TrialDetails/TrialDetailsHyperparameters.tsx
Labels: cla-signed

#4257 fix: don't hardcode /bin/which in entrypoints
  docs/release-notes/4257-which.txt
  master/static/srv/entrypoint.sh
  master/static/srv/gc-checkpoints-entrypoint.sh
  master/static/srv/notebook-entrypoint.sh
  master/static/srv/shell-entrypoint.sh
  master/static/srv/tensorboard-entrypoint.sh
Labels: cla-signed

#4220 feat: add master-side verification for agent mTLS
  agent/internal/options.go
  docs/sysadmin-basics/cluster-config.txt
  master/internal/config/resource_manager_config.go
  master/internal/core.go
  master/internal/resourcemanagers/agent/agents.go
Labels: cla-signed

#4235 fix: correct error message when command list fails
  harness/determined/cli/notebook.py
  harness/determined/cli/remote.py
  harness/determined/cli/shell.py
  harness/determined/cli/task.py
  harness/determined/cli/tensorboard.py
Labels: cla-signed

#4260 fix: backslashes in show_ssh_command for windows
  harness/determined/cli/shell.py
Labels: cla-signed

#4244 perf: avoid Seq Scanning raw steps
  master/static/migrations/20220528215116_reindex-raw-steps.tx.down.sql
  master/static/migrations/20220528215116_reindex-raw-steps.tx.up.sql
Labels: cla-signed

#4278 feat: incrementally release resources
  docs/release-notes/incremental-resource-release.txt
  e2e_tests/tests/cluster/test_resource_manager.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/fixtures/no_op/model_def.py
  master/internal/command/command.go
  master/internal/experiment.go
  master/internal/resourcemanagers/fair_share.go
  master/internal/resourcemanagers/job.go
  master/internal/resourcemanagers/kubernetes_resource_manager.go
  master/internal/resourcemanagers/priority_test.go
  master/internal/resourcemanagers/resource_pool.go
  master/internal/resourcemanagers/scheduler_test.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/resources_list.go
  master/pkg/cproto/container.go
  master/pkg/model/agent.go
Labels: cla-signed

#4275 fix: make trials table sort properly
  master/static/srv/proto_get_trials_plus.sql
Labels: cla-signed

#4279 chore: update docs to accurate node support
  CONTRIBUTING.md
  webui/react/Makefile
  webui/react/package.json
Labels: cla-signed

#4230 chore: reduce use of any in InteractiveTable
  webui/react/src/components/InteractiveTable.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
Labels: cla-signed

#4283 feat: show only selected trials in learning curve
  webui/react/src/components/LearningCurveChart.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
Labels: cla-signed

#4286 fix: pass signals through wrapper processes
  docs/release-notes/4286-passthru.txt
  harness/determined/exec/launch.py
  harness/determined/exec/tensorboard.py
  harness/determined/ipc.py
  harness/determined/launch/deepspeed.py
  harness/determined/launch/horovod.py
  harness/determined/launch/torch_distributed.py
  harness/determined/launch/wrap_rank.py
  harness/determined/util.py
Labels: cla-signed

#4290 chore: widen node version detection to 16.29
  webui/react/Makefile
Labels: cla-signed

#4288 chore: restore determined_version in Trial checkpoint metadata
  docs/release-notes/4288-version.txt
  e2e_tests/tests/experiment/test_core.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/pytorch/_pytorch_trial.py
Labels: cla-signed

#4246 feat: add cli and api for delete checkpoints [DET-7119], [DET-7120]
  e2e_tests/tests/cluster/test_checkpoints.py
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/experiment/test_core.py
  harness/determined/cli/checkpoint.py
  harness/determined/common/api/bindings.py
  harness/determined/exec/gc_checkpoints.py
  master/internal/api_checkpoint.go
  master/internal/api_experiment.go
  master/internal/checkpoint_gc.go
  master/internal/core_experiment.go
  master/internal/db/database.go
  master/internal/db/postgres_checkpoints.go
  master/internal/db/postgres_checkpoints_intg_test.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_helpers_intg_test.go
  master/internal/experiment.go
  master/internal/mocks/db.go
  master/pkg/model/job.go
  master/pkg/protoutils/protoconverter/converter.go
  master/pkg/tasks/task_gc.go
  master/static/migrations/20220609165106_update-job-type-jobs.tx.down.sql
  master/static/migrations/20220609165106_update-job-type-jobs.tx.up.sql
  proto/Makefile
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/checkpoint.proto
  proto/src/determined/job/v1/job.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#4274 fix: jupyterlab modal stale values, not sending values to api
  webui/react/src/hooks/useModal/useJupyterLabModal.test.tsx
  webui/react/src/hooks/useModal/useJupyterLabModal.tsx
  webui/react/src/omnibar/tree-extension/trees/index.ts
  webui/react/src/types.ts
  webui/react/src/utils/jupyter.ts
Labels: cla-signed

#4289 fix: limit waiting for logger to 30 seconds
  e2e_tests/tests/command/test_run.py
  master/static/srv/task-logging-setup.sh
  master/static/srv/task-logging-teardown.sh
Labels: cla-signed

#4295 fix: stale agent state crashes resource pool [DET-7493]
  master/internal/resourcemanagers/priority.go
Labels: cla-signed

#4272 chore: ensure container terminations aren't lost in the event of network failures [DET-7440, DET-7441]
  agent/internal/agent.go
  agent/internal/container.go
  agent/internal/containers.go
  docs/release-notes/agent-messaging-fault-tolerance.txt
  e2e_tests/tests/command/test_run.py
  master/internal/command/command.go
  master/internal/resourcemanagers/agent/agent.go
  master/internal/resourcemanagers/agent/agent_state.go
  master/internal/resourcemanagers/kubernetes/pod.go
  master/internal/sproto/resources.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/resources_list.go
  master/pkg/aproto/exit.go
  master/pkg/model/task.go
Labels: cla-signed

#4293 docs: move description of agent client cert fields to the right place
  docs/sysadmin-basics/cluster-config.txt
Labels: cla-signed

#4296 ci: remove overzealous assert that can finish after noop trial
  e2e_tests/tests/cluster/test_resource_manager.py
Labels: cla-signed

#4301 ci: fix log message grepped for by test_launch_layer_cifar
  e2e_tests/tests/experiment/test_launch.py
Labels: cla-signed

#4284 chore: stamp out unexpected messages [DET-7492]
  master/internal/command/command.go
  master/internal/core_experiment.go
  master/internal/experiment.go
Labels: cla-signed

#4302 fix: harness dependency clash fore azure
  harness/setup.py
Labels: cla-signed

#4268 chore: use vanilla markdown in examples
  examples/README.md
Labels: cla-signed

#4304 fix: remove limit of length 4 for task id
  docs/release-notes/4304-fix-task-badge-limit.txt
  webui/react/src/components/Badge.module.scss
  webui/react/src/components/TaskCard.tsx
Labels: cla-signed

#4310 docs: more consistently use Determined AI vs. Determined
  docs/concepts/index.txt
  docs/index.txt
Labels: cla-signed

#4232 chore: add logging for e2e gpu test
  agent/internal/agent.go
Labels: cla-signed

#4311 chore: drop pbt, adaptive and adaptive_simple from docs and web
  docs/training-apis/experiment-config.txt
  harness/determined/common/schemas/expconf/_gen.py
  harness/determined/common/schemas/expconf/_v0.py
  master/pkg/schemas/zgen_schemas.go
  schemas/expconf/v0/searcher.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
Labels: cla-signed

#4315 fix: provide unique port offsets to trials
  master/internal/resourcemanagers/resource_pool.go
  master/pkg/tasks/ports.go
  master/pkg/tasks/task_trial.go
Labels: cla-signed

#4312 chore: delete dead code
  harness/determined/__init__.py
  harness/determined/_hparam.py
  harness/determined/core/_distributed.py
  harness/determined/ipc.py
  harness/determined/layers/__init__.py
  harness/determined/layers/_worker_process.py
  harness/tests/test_ipc.py
Labels: cla-signed

#4193 ci: use parallelism for `test-e2e-managed-devcluster`.
  .circleci/config.yml
  e2e_tests/tests/cluster/test_master_restart.py
Labels: cla-signed

#4319 fix: harness azure dependencies
  harness/setup.py
Labels: cla-signed

#4318 docs: add release notes for 0.18.2
  docs/release-notes.txt
  docs/release-notes/4257-which.txt
  docs/release-notes/4286-passthru.txt
  docs/release-notes/4288-version.txt
  docs/release-notes/4304-fix-task-badge-limit.txt
  docs/release-notes/agent-messaging-fault-tolerance.txt
  docs/release-notes/checkpoint-prefix.txt
  docs/release-notes/delete-delete-failed-experiments.txt
  docs/release-notes/det-deploy-no-prompt-yes.txt
  docs/release-notes/det-experiment-logs.txt
  docs/release-notes/fix-agent-panic-command-env-var-configs-config.txt
  docs/release-notes/fix-cant-cancel-agent-master-con.txt
  docs/release-notes/fix-rendezvous-timeout-message.txt
  docs/release-notes/fix-task-logs.txt
  docs/release-notes/gcs-checkpoint-prefix.txt
  docs/release-notes/helm-enable-prom.txt
  docs/release-notes/incremental-resource-release.txt
  docs/release-notes/secure-pprof-endpoints.txt
  docs/release-notes/task-logs-improvement.txt
Labels: cla-signed

#4321 ci: codeowners
  .github/CODEOWNERS
Labels: cla-signed

#4322 ci: merge separate codeowners
  .github/CODEOWNERS
  CODEOWNERS
Labels: cla-signed

#4320 ci: make test-unit-storage run on any upstream branch
  .circleci/config.yml
Labels: cla-signed

#4313 ci: add dependabot for all the things
  .github/dependabot.yml
Labels: cla-signed

#4299 chore: Restrict access to master.yaml and agent.yaml to the user/owner only.
  agent/.goreleaser.yml
  master/.goreleaser.yml
Labels: cla-signed

#4364 chore: idempotent container running messages [DET-7555]
  harness/determined/cli/command.py
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  webui/react/src/ioTypes.ts
Labels: cla-signed

#4316 fix: don't GC registered checkpoints [DET-7418]
  master/internal/api_checkpoint.go
  master/internal/checkpoint_gc.go
  master/internal/db/database.go
  master/internal/db/postgres_checkpoints.go
  master/internal/db/postgres_checkpoints_intg_test.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/experiment.go
  master/internal/mocks/db.go
  master/pkg/protoutils/protoconverter/converter.go
Labels: cla-signed

#4363 chore: upgrade mockery to latest
  master/Makefile
  master/internal/mocks/db.go
  master/internal/mocks/resources.go
Labels: cla-signed

#3571 chore: handle setResourcePool message in commands
  master/internal/command/command.go
Labels: cla-signed

#4366 feat: add --agent-config-path to det deploy local agent-up [DET-6278]
  docs/release-notes/agent-config-path.txt
  e2e_tests/tests/deploy/etc/agent.yaml
  e2e_tests/tests/deploy/test_local.py
  harness/determined/deploy/local/cli.py
  harness/determined/deploy/local/cluster_utils.py
Labels: cla-signed

#4269 feat: stress test for agent enable/disable and reconnect spam [DET-6733]
  e2e_tests/tests/deploy/test_local.py
Labels: cla-signed

#4373 fix: update experiment list tag truncate rule [DET-7530]
  webui/react/src/components/TagList.module.scss
  webui/react/src/components/TagList.tsx
  webui/react/src/pages/ProjectDetails.tsx
Labels: cla-signed

#4266 chore: Restrict display names [DET-7356]
  e2e_tests/tests/cluster/test_users.py
  master/internal/api_user.go
  master/static/srv/set_user_display_name.sql
  proto/buf.image.bin
  proto/src/determined/user/v1/user.proto
Labels: cla-signed

#4390 chore: Merge Slurm-infrastructure support changes archive
  master/pkg/archive/archive.go
  master/pkg/archive/archive_test.go
Labels: cla-signed

#4388 chore: Merge Slurm-infrastructure support changes job.go
  master/internal/resourcemanagers/job.go
Labels: cla-signed

#4389 chore: Update task logging setup [FOUNDENG-81] (#290)
  master/static/srv/task-logging-setup.sh
Labels: cla-signed

#4395 chore: sync engines.node to package-lock
  webui/react/package-lock.json
Labels: cla-signed

#4392 feat: Trial Metrics - Summary endpoints
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/db/postgres_trial.go
  master/internal/lttb/lttb.go
  master/internal/lttb/lttb_test.go
  master/static/srv/get_trial_basic.sql
  proto/buf.image.bin
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/api/v1/trial.proto
  webui/react/src/components/ScaleSelectFilter.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Labels: cla-signed

#4386 fix: test agent config flake
  e2e_tests/tests/deploy/test_local.py
Labels: cla-signed

#4405 fix: Do not fail if no checkpoints to gc [FOUNDENG-83, DET-7548]
  master/internal/experiment.go
Labels: cla-signed

#4404 chore: Add nolintlint to deadcode for unused oss method
  master/internal/resourcemanagers/job.go
Labels: cla-signed

#4406 fix: Import Scale from correct location
  webui/react/src/components/LearningCurveChart.tsx
  webui/react/src/components/UPlot/UPlotScatter.tsx
  webui/react/src/components/UPlot/UPlotScatter/UPlotScatter.utils.ts
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpHeatMaps.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpScatterPlots.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
Labels: cla-signed

#4396 chore: Merge Slurm-infrastructure support changes trial
  master/internal/trial.go
Labels: cla-signed

#4391 fix: cluster overview [DET-7517 DET-7567 DET-7517]
  docs/release-notes/4391-cluster-overview.txt
  webui/react/Makefile
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/ResourcePoolCard.module.scss
  webui/react/src/components/ResourcePoolCard.stories.tsx
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/components/ResourcePoolCardLight.tsx
  webui/react/src/components/ResourcePoolDetails.tsx
  webui/react/src/pages/Cluster.tsx
  webui/react/src/pages/Cluster/ClusterOverallBar.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.tsx
  webui/react/src/pages/Cluster/ClusterOverview.module.scss
  webui/react/src/pages/Cluster/ClusterOverview.tsx
  webui/react/src/pages/Cluster/utils.test.ts
  webui/react/src/pages/Clusters.tsx
  webui/react/src/pages/Clusters/ClustersOverview.tsx
  webui/react/src/pages/Deprecated.tsx
  webui/react/src/pages/JobQueue/JobQueue.settings.ts
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/JobQueue/RPStats.tsx
  webui/react/src/pages/ResourcepoolDetail.tsx
  webui/react/src/routes/index.ts
  webui/react/src/routes/routes.ts
Labels: cla-signed

#4411 fix: End agent stats log to debug level
  master/internal/db/database.go
  master/internal/db/postgres_agent.go
  master/internal/mocks/db.go
  master/internal/resourcemanagers/resource_pool.go
  master/internal/resourcemanagers/resource_pool_test.go
Labels: cla-signed

#4387 fix: always flush tensorboard ready log
  harness/determined/exec/tensorboard.py
Labels: cla-signed

#4398 chore: share core styles and configs [DET-7316]
  webui/react/.eslintrc.js
  webui/react/.storybook/preview.js
  webui/react/.stylelintrc.js
  webui/react/craco.config.js
  webui/react/src/components/Logo.tsx
  webui/react/src/components/MonacoEditor.tsx
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/components/ResourcePoolCardLight.tsx
  webui/react/src/hooks/useTheme.ts
  webui/react/src/index.tsx
  webui/react/src/shared/README.md
  webui/react/src/shared/bin/test.py
  webui/react/src/shared/configs/.stylelintrc.js
  webui/react/src/shared/configs/craco.config.js
  webui/react/src/shared/configs/eslintrc.js
  webui/react/src/shared/configs/tsconfig.json
  webui/react/src/shared/styles/antd.scss
  webui/react/src/shared/styles/fonts.scss
  webui/react/src/shared/styles/global.scss
  webui/react/src/shared/styles/icons.scss
  webui/react/src/shared/styles/index.less
  webui/react/src/shared/styles/index.scss
  webui/react/src/shared/styles/storybook.scss
  webui/react/src/shared/styles/variables.less
  webui/react/src/shared/themes.ts
  webui/react/src/styles/fonts.scss
  webui/react/src/themes.ts
  webui/react/src/utils/chart.ts
  webui/react/tsconfig.json
Labels: cla-signed

#4412 fix: registry auth in master.yaml [DET-7629]
  docs/release-notes/4412-registry-auth.txt
  master/internal/config/config.go
  master/internal/config/config_test.go
Labels: cla-signed

#4281 feat: install a SIGUSR1 signal handler to print stacktraces
  harness/determined/core/_context.py
Labels: cla-signed

#4409 test: tune web tests
  webui/react/src/components/LogViewer/LogViewerFilters.tsx
  webui/react/src/components/MultiSelect.tsx
  webui/react/src/setupTests.ts
Labels: cla-signed

#4376 chore: Merge Slurm-infrastructure support changes
  harness/determined/launch/horovod.py
  master/internal/resourcemanagers/kubernetes/pod_test.go
  master/pkg/etc/etc.go
  master/pkg/tasks/const.go
  master/pkg/tasks/task.go
  master/static/srv/enrich_task_logs.py
  master/static/srv/shell-entrypoint.sh
  master/static/srv/task-logging-setup.sh
Labels: cla-signed

#4434 fix: hide continue trial for experiments with 0 or more than 1 trial
  webui/react/src/utils/experiment.ts
Labels: cla-signed

#4156 chore: update deepspeed launcher to work with newer versions
  harness/determined/launch/deepspeed.py
  harness/tests/launch/test_deepspeed.py
Labels: cla-signed

#4433 test: resolve `useCustomizeColumnsModal` test flakes [DET-7635]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/InlineEditor.test.tsx
  webui/react/src/components/LogViewer/LogViewer.test.tsx
  webui/react/src/components/LogViewer/LogViewerFilters.test.tsx
  webui/react/src/components/Metadata/EditableMetadata.test.tsx
  webui/react/src/components/Metadata/EditableRow.tsx
  webui/react/src/components/MultiSelect.test.tsx
  webui/react/src/components/RadioGroup.test.tsx
  webui/react/src/components/ResponsiveTable.test.tsx
  webui/react/src/components/RoutePagination.test.tsx
  webui/react/src/components/SelectFilter.test.tsx
  webui/react/src/components/TagList.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalChangeName.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalChangePassword.test.tsx
  webui/react/src/hooks/useModal/useModalCustomizeColumns.test.tsx
  webui/react/src/shared/components/Spinner/Spinner.test.tsx
Labels: cla-signed

#4437 fix: default max length properly to undefined
  webui/react/src/hooks/useModal/useModalExperimentCreate.tsx
Labels: cla-signed

#4410 feat: experiment comparison page
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/db/database.go
  master/internal/db/postgres_experiments.go
  master/internal/mocks/db.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/pages/ExperimentComparison.tsx
  webui/react/src/pages/ExperimentComparison/CompareHeader.module.scss
  webui/react/src/pages/ExperimentComparison/CompareHeader.tsx
  webui/react/src/pages/ExperimentComparison/CompareTabs.tsx
  webui/react/src/pages/ExperimentComparison/CompareVisualization.module.scss
  webui/react/src/pages/ExperimentComparison/CompareVisualization.tsx
  webui/react/src/pages/ExperimentComparison/CompareVisualization/CompareCurve.module.scss
  webui/react/src/pages/ExperimentComparison/CompareVisualization/CompareCurve.tsx
  webui/react/src/pages/ExperimentComparison/CompareVisualization/CompareFilters.module.scss
  webui/react/src/pages/ExperimentComparison/CompareVisualization/CompareFilters.tsx
  webui/react/src/pages/ExperimentComparison/CompareVisualization/CompareTable.module.scss
  webui/react/src/pages/ExperimentComparison/CompareVisualization/CompareTable.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/routes/index.ts
  webui/react/src/routes/routes.ts
  webui/react/src/routes/utils.ts
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/shared/utils/set.ts
  webui/react/src/types.ts
  webui/react/src/utils/experiment.ts
Labels: cla-signed

#4372 chore: resolve warnings from yaml and numpy, fix supposed fstrings, black formatting
  harness/determined/cli/command.py
  harness/determined/common/util.py
  harness/determined/ipc.py
  harness/determined/load.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/_reducer.py
  harness/determined/util.py
  harness/tests/common/test_schemas.py
  harness/tests/experiment/keras/test_tf_keras_trial.py
  harness/tests/experiment/pytorch/test_metric_utils.py
  harness/tests/experiment/utils.py
Labels: cla-signed, python

#4427 chore: webui changes for slurm
  harness/determined/cli/agent.py
  harness/determined/common/api/bindings.py
  master/internal/core_observability.go
  master/pkg/model/agent.go
  proto/buf.image.bin
  proto/src/determined/agent/v1/agent.proto
  proto/src/determined/resourcepool/v1/resourcepool.proto
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/contexts/Store.tsx
  webui/react/src/pages/Cluster/ClusterOverallBar.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.tsx
  webui/react/src/pages/Clusters.tsx
  webui/react/src/pages/Clusters/ClustersOverview.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
  webui/react/src/utils/cluster.test.ts
  webui/react/src/utils/cluster.ts
Labels: cla-signed

#4443 fix: various workspaces fixes
  webui/react/src/components/PageHeaderFoldable.module.scss
  webui/react/src/components/PageHeaderFoldable.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceDelete.tsx
  webui/react/src/hooks/useModal/useModalExperimentMove.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/ProjectDetails/ProjectDetailsTabs.module.scss
  webui/react/src/pages/ProjectDetails/ProjectDetailsTabs.tsx
  webui/react/src/pages/WorkspaceList.module.scss
  webui/react/src/pages/WorkspaceList.tsx
  webui/react/src/shared/components/PageHeader/PageHeader.tsx
Labels: cla-signed

#4446 fix: long tag display
  webui/react/src/components/TagList.module.scss
Labels: cla-signed

#4449 fix: mac errors for det deploy local --agent-config-path
  harness/determined/deploy/local/cluster_utils.py
Labels: cla-signed

#4450 fix: filter experiments by name (not description) when name filter applied
  webui/react/src/services/apiConfig.ts
Labels: cla-signed

#4445 fix: only call move API for permissioned experiments
  webui/react/src/pages/ProjectDetails.tsx
Labels: cla-signed

#4430 chore: share AvatarCard and Avatar comps [DET-7714 DET-7713]
  webui/react/src/components/AvatarCard.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/Page.tsx
  webui/react/src/components/PageHeader/PageHeader.module.scss
  webui/react/src/components/PageHeader/PageHeader.tsx
  webui/react/src/components/PageHeader/index.ts
  webui/react/src/components/Table.tsx
  webui/react/src/components/UserAvatar.test.tsx
  webui/react/src/components/UserAvatar.tsx
  webui/react/src/components/UserAvatarCard.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalUserSettings.tsx
  webui/react/src/pages/JobQueue/JobQueue.table.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/ProjectDetails/ProjectDetailsTabs.tsx
  webui/react/src/pages/WorkspaceDetails/ProjectCard.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceCard.tsx
  webui/react/src/shared/bin/test.py
  webui/react/src/shared/components/Avatar/Avatar.module.scss
  webui/react/src/shared/components/Avatar/Avatar.stories.tsx
  webui/react/src/shared/components/Avatar/Avatar.test.tsx
  webui/react/src/shared/components/Avatar/Avatar.tsx
  webui/react/src/shared/components/Avatar/index.ts
  webui/react/src/shared/components/AvatarCard/AvatarCard.module.scss
  webui/react/src/shared/components/AvatarCard/AvatarCard.tsx
  webui/react/src/shared/components/AvatarCard/index.ts
  webui/react/src/shared/components/Page/Page.tsx
Labels: cla-signed

#4455 ci: add codeowners for shared directory
  .github/CODEOWNERS
Labels: cla-signed, shared-web

#4457 docs: PyTorchTrialCallback.on_validation_end
  harness/determined/pytorch/_callback.py
Labels: cla-signed

#4451 fix: trim workspace and project name whitespace [DET-7390] [DET-7747]
  webui/react/src/components/NavigationSideBar.module.scss
  webui/react/src/hooks/useModal/Project/useModalProjectCreate.tsx
  webui/react/src/hooks/useModal/Project/useModalProjectEdit.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceCreate.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceEdit.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceDetailsHeader.tsx
  webui/react/src/services/apiConfig.ts
  webui/react/src/shared/utils/string.ts
Labels: cla-signed

#4448 docs: workspaces docs
  docs/concepts/index.txt
  docs/sysadmin-basics/index.txt
  docs/sysadmin-basics/workspaces.txt
Labels: cla-signed

#4444 test: update ci job for testing shared-code
  webui/react/src/shared/.circleci/config.yml
Labels: cla-signed

#4436 feat: add spinner to show data fetching
  webui/react/src/components/LogViewer/LogViewer.tsx
  webui/react/src/components/ResponsiveTable.tsx
  webui/react/src/pages/TrialDetails/TrialChart.module.scss
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHyperparameters.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
Labels: cla-signed

#4461 fix: loadingState cleanup for WorkspaceList
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/TrialDetails/TrialChart.module.scss
  webui/react/src/pages/WorkspaceList.tsx
Labels: cla-signed

#4463 fix: sync agent actor init on master restart [DET-7746]
  master/internal/resourcemanagers/agent/agent.go
  master/internal/resourcemanagers/agent/agents.go
Labels: cla-signed

#4459 chore: bump the resources on react tests
  .circleci/config.yml
Labels: cla-signed
