Repository determined-ai/determined, pull requests merged in 2022-12, with the labels that each got.

#5516 feat: det deploy aws enterprise edition
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/constants.py
  harness/determined/deploy/aws/deployment_types/govcloud.py
  harness/determined/deploy/aws/deployment_types/secure.py
  harness/determined/deploy/aws/deployment_types/simple.py
  harness/determined/deploy/aws/deployment_types/vpc.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
Labels: cla-signed

#5392 chore: add pre-commit check for python
  .circleci/scripts/upload_test_results.py
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  bindings/generate_bindings.py
  docs/conf.py
  docs/sphinx-wrapper.py
  docs/sphinx_ext_downloads.py
  master/static/srv/check_idle.py
  master/static/srv/check_ready_logs.py
  master/static/srv/enrich_task_logs.py
  pre-commit/web_lint_check.py
  proto/scripts/swagger.py
  pyproject.toml
  schemas/gen.py
  schemas/lint.py
  tools/scripts/gen-attributions.py
  tools/scripts/refresh-ubuntu-amis.py
  tools/scripts/update-bumpenvs-yaml.py
  webui/react/src/shared/bin/test.py
Labels: cla-signed, shared-web

#5513 test: speed up nightly `test_protein_pytorch_geometric`.
  examples/graphs/proteins_pytorch_geometric/startup-hook.sh
Labels: cla-signed

#5446 feat: WebUI support user agent group when creating user [WEB-638]
  master/internal/api_user.go
  master/internal/db/postgres_users.go
  master/pkg/model/agent_user_group.go
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/Settings/Settings.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Labels: cla-signed

#5512 feat: add icons in experiment and trial detail pages
  webui/react/src/components/ExperimentIcons/Queue.module.scss
  webui/react/src/components/ExperimentIcons/Queue.tsx
  webui/react/src/components/ExperimentIcons/Spinner.module.scss
  webui/react/src/components/ExperimentIcons/Spinner.tsx
  webui/react/src/components/ExperimentIcons/index.tsx
  webui/react/src/components/PageHeaderFoldable.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/TrialDetails/Header/TrialHeaderLeft.module.scss
  webui/react/src/pages/TrialDetails/Header/TrialHeaderLeft.tsx
  webui/react/src/shared/themes.ts
Labels: cla-signed, shared-web

#5520 fix: avoid error converting user requested stop for custom searcher
  harness/determined/common/api/bindings.py
  master/pkg/model/experiment.go
  master/pkg/searcher/custom_search.go
  proto/buf.image.bin
  proto/src/determined/experiment/v1/searcher.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5528 feat: open tasks in existing tab [WEB-420]
  webui/react/src/components/Table/Table.tsx
  webui/react/src/shared/utils/routes.ts
  webui/react/src/utils/wait.ts
Labels: cla-signed, shared-web

#5531 fix: sandbox experiment list settings for each project [WEB-129]
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/hooks/useModal/Columns/useModalColumnsCustomize.test.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentMove.tsx
  webui/react/src/pages/ExperimentList.settings.ts
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/OldProjectDetails.settings.ts
  webui/react/src/pages/OldProjectDetails.tsx
  webui/react/src/routes/routes.ts
Labels: cla-signed

#5534 fix: workspace list pagination [WEB-664]
  webui/react/src/pages/WorkspaceList.tsx
Labels: cla-signed

#5530 ci: move useful weekly tests to master branch, remove the rest [DET-8725]
  .circleci/config.yml
Labels: cla-signed

#5537 docs: add release notes for 0.19.8
  docs/release-notes.rst
  docs/release-notes/FOUNDENG-338-slurm-gpu-type.rst
  docs/release-notes/atomic-patch-user.rst
  docs/release-notes/exp-notes-fix.rst
  docs/release-notes/imds-v2.rst
  docs/release-notes/k8s-dont-set-exit-code-to-ones-people-think-oom.rst
  docs/release-notes/model-version.rst
  docs/release-notes/tensorboard-timeout-helm.rst
Labels: cla-signed

#5525 fix: Tasks filter by user [WEB-675]
  master/internal/command/command_manager.go
  master/internal/command/notebook_manager.go
  master/internal/command/shell_manager.go
  master/internal/command/tensorboard_manager.go
Labels: cla-signed

#5384 refactor: rewrite container lib without actors [DET-8301]
  agent/go.mod
  agent/go.sum
  agent/internal/container.go
  agent/internal/container/const.go
  agent/internal/container/container.go
  agent/internal/container/container_api_test.go
  agent/internal/container/errors.go
  agent/internal/container/events.go
  agent/internal/containers.go
  agent/internal/fluent.go
  agent/pkg/docker/docker.go
  agent/pkg/docker/docker_api_test.go
  master/go.mod
  master/go.sum
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/resources.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/sproto/task.go
  master/internal/sproto/task_actor.go
  master/internal/task/allocation.go
  master/internal/trial.go
  master/pkg/aproto/exit.go
  master/pkg/aproto/master_message.go
  master/pkg/cproto/container.go
  master/pkg/syncx/errgroupx/errgroupx.go
  master/pkg/syncx/waitgroupx/waitgroup.go
Labels: cla-signed

#5545 ci: add markdownlint and json schema
  .determined_markdown.style
  .github/pull_request_template.md
  .mdlrc
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  docs/release-notes/README.md
  harness/determined/pytorch/README.md
  master/static/migrations/README.md
  model_hub/README.md
  schemas/README.md
  tools/k8s/README.md
  tools/scripts/README.md
  webui/README.md
  webui/react/README.md
  webui/react/src/shared/README.md
Labels: cla-signed, shared-web

#5542 chore: delete try_reauth from authentication logic
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/cluster/test_checkpoints.py
  e2e_tests/tests/cluster/test_logging.py
  e2e_tests/tests/cluster/test_trial_collections.py
  e2e_tests/tests/cluster/test_users.py
  e2e_tests/tests/cluster/test_users_experiment_api.py
  e2e_tests/tests/cluster/test_workspace_org.py
  e2e_tests/tests/cluster/utils.py
  e2e_tests/tests/command/command.py
  e2e_tests/tests/command/test_strict_ntsc.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_metrics.py
  e2e_tests/tests/experiment/test_profiling.py
  e2e_tests/tests/nightly/compute_stats.py
  harness/determined/common/api/authentication.py
  harness/determined/common/experimental/determined.py
  harness/tests/cli/test_auth.py
  harness/tests/cli/test_experiment.py
Labels: cla-signed

#5422 feat: Oauth2 in Python SDK [DET-8504]
  e2e_tests/tests/cluster/test_oauth2_scim_client.py
  harness/determined/cli/cli.py
  harness/determined/cli/errors.py
  harness/determined/cli/oauth.py
  harness/determined/cli/sso.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/oauth2_scim_client.py
  harness/determined/errors.py
  harness/determined/experimental/client.py
Labels: cla-signed

#5521 chore: Moving active experiment and task queries to separate stores [WEB-581] [WEB-582]
  webui/react/src/contexts/Store.tsx
  webui/react/src/hooks/useFetch.ts
  webui/react/src/pages/Cluster/ClusterOverallStats.test.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.tsx
  webui/react/src/pages/Clusters/ClustersOverview.tsx
  webui/react/src/stores/experiments.tsx
  webui/react/src/stores/index.tsx
  webui/react/src/stores/tasks.tsx
Labels: cla-signed

#5538 chore: Update resource pool resolution & validation
  master/internal/api_command.go
Labels: cla-signed

#5543 chore: split `resource pool` from Store Context
  webui/react/src/components/Navigation.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/contexts/Store.tsx
  webui/react/src/hooks/useFetch.ts
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.test.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.test.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.tsx
  webui/react/src/pages/Clusters.tsx
  webui/react/src/pages/Clusters/ClustersOverview.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/JobQueue/ManageJob.tsx
  webui/react/src/pages/ResourcepoolDetail.tsx
  webui/react/src/stores/index.tsx
  webui/react/src/stores/resourcePools.tsx
Labels: cla-signed

#5540 fix: use bash in bash script
  tools/k8s/fetch-creds.sh
Labels: cla-signed

#5529 chore: filter workspaces by userId
  harness/determined/common/api/bindings.py
  master/internal/api_workspace.go
  master/static/srv/get_workspace_projects.sql
  master/static/srv/get_workspaces.sql
  proto/src/determined/api/v1/workspace.proto
  webui/react/src/pages/WorkspaceList.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/shared/styles/antd.scss
Labels: cla-signed, shared-web

#5527 chore: update gpt-neox example and improve deepspeed launcher
  e2e_tests/tests/nightly/test_distributed.py
  examples/deepspeed/gpt_neox/README.md
  examples/deepspeed/gpt_neox/det_utils.py
  examples/deepspeed/gpt_neox/gpt2_trial.py
  examples/deepspeed/gpt_neox/hp_search.yaml
  examples/deepspeed/gpt_neox/zero1.yaml
  examples/deepspeed/gpt_neox/zero3.yaml
  examples/deepspeed/gpt_neox/zero3_medium.yaml
  harness/determined/launch/deepspeed.py
  harness/tests/launch/test_deepspeed.py
Labels: cla-signed

#5546 docs: NVIDIA Enroot support [FOUNDENG-329]
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/install-on-slurm.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/overview.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/singularity.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-known-issues.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/reference/reference-training/experiment-config-reference.rst
  docs/release-notes/FOUNDENG-329-enroot-support.rst
Labels: cla-signed

#5550 fix: group management edit and delete options [WEB-702]
  webui/react/src/pages/Settings/GroupManagement.tsx
Labels: cla-signed

#5473 feat: define base ntsc perimission types
  harness/determined/common/api/bindings.py
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5320 chore: fix potential named statement leak
  master/internal/db/postgres.go
Labels: cla-signed

#5551 chore: remove unused setAgents store action
  webui/react/src/contexts/Store.tsx
Labels: cla-signed

#5541 chore: Split determined info from Store [WEB-584]
  webui/react/src/App.tsx
  webui/react/src/components/Navigation.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/Page.tsx
  webui/react/src/components/PageMessage.tsx
  webui/react/src/contexts/Store.tsx
  webui/react/src/hooks/useAuthCheck.ts
  webui/react/src/hooks/useFeature.ts
  webui/react/src/hooks/useFetch.ts
  webui/react/src/hooks/useTheme.ts
  webui/react/src/pages/SignIn.tsx
  webui/react/src/pages/SignOut.tsx
  webui/react/src/stores/agents.tsx
  webui/react/src/stores/determinedInfo.tsx
  webui/react/src/stores/index.tsx
Labels: cla-signed

#5557 chore: remove unused file
  webui/react/src/components/StateSelectFilter.tsx
Labels: cla-signed

#5559 chore: fix mypy false positive
  harness/determined/common/util.py
Labels: cla-signed

#5472 chore: associate notebooks with a workspace
  harness/determined/common/api/bindings.py
  master/internal/api_command.go
  master/internal/api_notebook.go
  master/internal/command/command.go
  master/pkg/model/task.go
  master/pkg/tasks/task_command.go
  proto/src/determined/api/v1/notebook.proto
  proto/src/determined/notebook/v1/notebook.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5558 fix: ContainerLog.ToEvent honors Level [FOUNDENG-370]
  master/internal/sproto/task_actor.go
Labels: cla-signed

#5385 refactor: rewrite fluent lib without actors [DET-8303]
  agent/internal/fluent/fluent.go
  agent/internal/fluent/fluent_api_test.go
  agent/internal/options/options.go
  agent/test/testutils/fixtures.go
  agent/test/testutils/log_hook.go
Labels: cla-signed

#5549 chore: Split UserRoles out of Store
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/components/Navigation.tsx
  webui/react/src/contexts/Store.tsx
  webui/react/src/hooks/useFetch.ts
  webui/react/src/hooks/useModal/UserSettings/useModalCreateGroup.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.test.tsx
  webui/react/src/hooks/usePermissions.test.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
  webui/react/src/pages/Settings/Settings.test.tsx
  webui/react/src/pages/Settings/UserManagement.test.tsx
  webui/react/src/stores/index.tsx
  webui/react/src/stores/userRoles.tsx
Labels: cla-signed

#5563 ci: fix TestRWCoordinatorLayer flake
  master/internal/rw_coordinator_test.go
Labels: cla-signed

#5571 chore: remove check for deprecated user init permissions
  webui/react/src/hooks/usePermissions.ts
Labels: cla-signed

#5560 chore: inherit PBS & Slurm defaults
  master/internal/api_command.go
  master/internal/core.go
  master/internal/core_experiment.go
  master/internal/restore.go
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/resource_manager_iface.go
  master/pkg/model/command_config.go
  master/pkg/model/task_container_defaults.go
  master/pkg/model/task_container_defaults_test.go
Labels: cla-signed

#5544 chore: rbac notebook
  master/internal/api_notebook.go
  master/internal/command/authz_basic_impl.go
  master/internal/command/authz_iface.go
  master/internal/command/events.go
  master/internal/user/service.go
  master/pkg/model/workspace.go
Labels: cla-signed

#5573 chore: rename CommandAuthZ
  master/internal/api_notebook.go
  master/internal/command/authz_basic_impl.go
  master/internal/command/authz_iface.go
  master/internal/command/events.go
  master/internal/user/service.go
Labels: cla-signed

#5577 ci: comment out the Ruby-based markdownlint checks
  .pre-commit-config.yaml
Labels: cla-signed

#5569 chore: add structured task and trial logs
  harness/determined/common/api/bindings.py
  master/internal/api_trials.go
  master/pkg/model/experiment.go
  master/pkg/model/task.go
  proto/src/determined/api/v1/task.proto
  proto/src/determined/api/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5522 chore: Pinned workspaces in stores/workspaces [WEB-586]
  webui/react/src/components/Navigation.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/contexts/Store.tsx
  webui/react/src/hooks/useFetch.ts
  webui/react/src/hooks/useModal/Experiment/useModalExperimentMove.tsx
  webui/react/src/hooks/useModal/Project/useModalProjectMove.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceActionDropdown.tsx
  webui/react/src/stores/experiments.tsx
  webui/react/src/stores/workspaces.tsx
  webui/react/src/utils/store.ts
Labels: cla-signed

#5578 fix: Report incorrect configuration message to stderr [FOUNDENG-370]
  harness/determined/exec/prep_container.py
Labels: cla-signed

#5574 chore: merge in strict ntsc checks
  master/Makefile
  master/internal/api_auth.go
  master/internal/api_command.go
  master/internal/api_shell.go
  master/internal/api_tasks.go
  master/internal/api_tasks_intg_test.go
  master/internal/api_tensorboard.go
  master/internal/command/command.go
  master/internal/command/events.go
  master/internal/core.go
  master/internal/mocks/nsc_authz_iface.go
  master/internal/mocks/user_authz_iface.go
  master/internal/user/authz_basic_impl.go
  master/internal/user/authz_iface.go
  master/internal/user/service.go
Labels: cla-signed

#5583 docs: Increase Slurm dependency to 20.02 [FOUNDENG-377]
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/overview.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
Labels: cla-signed

#5553 chore: split omnibar state out of store
  webui/react/src/App.tsx
  webui/react/src/contexts/Store.tsx
  webui/react/src/omnibar/Omnibar.tsx
Labels: cla-signed

#5554 feat: Display experiment total checkpoint size [WEB-298]
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/trial.py
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/db/postgres_checkpoints.go
  master/internal/db/postgres_trial.go
  master/static/migrations/20221206103738_add-checkpoint-to-experiment.tx.down.sql
  master/static/migrations/20221206103738_add-checkpoint-to-experiment.tx.up.sql
  master/static/srv/get_experiment.sql
  master/static/srv/proto_get_trial_ids_for_experiment.sql
  master/static/srv/proto_get_trials_plus.sql
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/api/v1/trial.proto
  proto/src/determined/experiment/v1/experiment.proto
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.settings.ts
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.table.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/ExperimentList.settings.ts
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/OldProjectDetails.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#5585 docs: Minor Enroot doc fixes
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
Labels: cla-signed

#5524 chore: update Kubernetes fetch-creds.sh to handle cert file path
  tools/k8s/fetch-creds.sh
Labels: cla-signed

#5579 fix: workspace member
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
Labels: cla-signed

#5575 ci(circle-ci): install gke auth plugin
  .circleci/config.yml
Labels: cla-signed

#5566 chore: docs for launcher-provided pools
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/release-notes/hpc-launcher-resource-pools.rst
Labels: cla-signed

#5592 ci: temporarily disable test results upload.
  .circleci/config.yml
Labels: cla-signed

#5580 chore: split knownroles from store [WEB-589]
  webui/react/src/contexts/Store.tsx
  webui/react/src/hooks/useFetch.ts
  webui/react/src/hooks/useModal/UserSettings/useModalCreateGroup.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/stores/index.tsx
  webui/react/src/stores/knowRoles.tsx
Labels: cla-signed

#5489 feat: sharded checkpoints
  harness/determined/common/storage/__init__.py
  harness/determined/common/storage/azure.py
  harness/determined/common/storage/base.py
  harness/determined/common/storage/cloud.py
  harness/determined/common/storage/gcs.py
  harness/determined/common/storage/hdfs.py
  harness/determined/common/storage/s3.py
  harness/determined/common/storage/shared.py
  harness/determined/core/_checkpoint.py
  harness/tests/core/test_checkpoint.py
  harness/tests/storage/test_s3.py
  harness/tests/storage/test_shared_fs.py
  harness/tests/storage/util.py
Labels: cla-signed, User-facing API Change

#5594 fix: Enable sort for user management table [WEB-715]
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
Labels: cla-signed

#5582 feat: create endpoint to return projects by activity [WEB-676]
  harness/determined/common/api/bindings.py
  master/internal/api_project.go
  master/internal/api_project_intg_test.go
  master/pkg/model/project.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/project.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5595 fix: Ensure current user available for new username / display name [WEB-724]
  webui/react/src/App.tsx
  webui/react/src/stores/users.tsx
Labels: cla-signed

#5596 fix: docs should not require user auth. [DET-8744]
  master/internal/user/service.go
Labels: cla-signed

#5597 fix: note card height adjustment
  webui/react/src/components/NotesCard.module.scss
  webui/react/src/components/NotesCard.tsx
Labels: cla-signed

#5593 fix: Do not fail gc of already deleted checkpoints [FOUNDENG-387]
  harness/determined/exec/gc_checkpoints.py
Labels: cla-signed

#5598 fix: Cannot close workspace modal [WEB-717]
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceCreate.tsx
Labels: cla-signed

#5599 fix: closing jupyterlab modal updates url [WEB-710]
  webui/react/src/hooks/useSettings.ts
Labels: cla-signed

#5600 fix: hide Active Command UI unless it can be populated from API
  webui/react/src/pages/Cluster/ClusterOverallStats.test.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.tsx
  webui/react/src/stores/userRoles.tsx
Labels: cla-signed

#5555 ci: commit generated go code for protobufs.
  proto/.gitignore
  proto/Makefile
  proto/pkg/agentv1/agent.pb.go
  proto/pkg/apiv1/agent.pb.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/auth.pb.go
  proto/pkg/apiv1/checkpoint.pb.go
  proto/pkg/apiv1/command.pb.go
  proto/pkg/apiv1/experiment.pb.go
  proto/pkg/apiv1/group.pb.go
  proto/pkg/apiv1/job.pb.go
  proto/pkg/apiv1/master.pb.go
  proto/pkg/apiv1/model.pb.go
  proto/pkg/apiv1/notebook.pb.go
  proto/pkg/apiv1/pagination.pb.go
  proto/pkg/apiv1/project.pb.go
  proto/pkg/apiv1/rbac.pb.go
  proto/pkg/apiv1/resourcepool.pb.go
  proto/pkg/apiv1/shell.pb.go
  proto/pkg/apiv1/task.pb.go
  proto/pkg/apiv1/template.pb.go
  proto/pkg/apiv1/tensorboard.pb.go
  proto/pkg/apiv1/trial.pb.go
  proto/pkg/apiv1/user.pb.go
  proto/pkg/apiv1/webhook.pb.go
  proto/pkg/apiv1/workspace.pb.go
  proto/pkg/checkpointv1/checkpoint.pb.go
  proto/pkg/commandv1/command.pb.go
  proto/pkg/commonv1/common.pb.go
  proto/pkg/containerv1/container.pb.go
  proto/pkg/devicev1/device.pb.go
  proto/pkg/experimentv1/experiment.pb.go
  proto/pkg/experimentv1/searcher.pb.go
  proto/pkg/groupv1/group.pb.go
  proto/pkg/jobv1/job.pb.go
  proto/pkg/logv1/log.pb.go
  proto/pkg/masterv1/master.pb.go
  proto/pkg/modelv1/model.pb.go
  proto/pkg/notebookv1/notebook.pb.go
  proto/pkg/projectv1/project.pb.go
  proto/pkg/rbacv1/rbac.pb.go
  proto/pkg/resourcepoolv1/resourcepool.pb.go
  proto/pkg/shellv1/shell.pb.go
  proto/pkg/taskv1/task.pb.go
  proto/pkg/templatev1/template.pb.go
  proto/pkg/tensorboardv1/tensorboard.pb.go
  proto/pkg/trialv1/trial.pb.go
  proto/pkg/userv1/user.pb.go
  proto/pkg/utilv1/util.pb.go
  proto/pkg/webhookv1/webhook.pb.go
  proto/pkg/workspacev1/workspace.pb.go
Labels: cla-signed

#5604 docs: Add Slurm MaxNodes configuration info
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-known-issues.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
Labels: cla-signed

#5602 fix: make AWS EFS, FSx deployments work.
  .circleci/config.yml
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-gcp/install-gcp.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/singularity.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
  docs/interfaces/tensorboard.rst
  docs/reference/reference-deploy/config/helm-config-reference.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/reference/reference-interface/job-config-reference.rst
  docs/reference/reference-training/experiment-config-reference.rst
  docs/release-notes/fsx.rst
  docs/training/apis-howto/overview.rst
  docs/training/setup-guide/custom-env.rst
  e2e_tests/tests/config.py
  e2e_tests/tests/fixtures/pytorch_lightning_amp/apex_amp.yaml
  e2e_tests/tests/fixtures/pytorch_lightning_amp/auto_amp.yaml
  examples/computer_vision/efficientdet_pytorch/const.yaml
  examples/computer_vision/efficientdet_pytorch/const_fake.yaml
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/decision_trees/gbt_titanic_estimator/adaptive.yaml
  examples/decision_trees/gbt_titanic_estimator/const.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_3_cpu_offload.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_no_offload.yaml
  examples/deepspeed/cifar10_moe/moe.yaml
  examples/deepspeed/cifar10_moe/zero_stages.yaml
  examples/deepspeed/gpt_neox/Dockerfile
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  examples/graphs/proteins_pytorch_geometric/adaptive.yaml
  examples/graphs/proteins_pytorch_geometric/const.yaml
  examples/graphs/proteins_pytorch_geometric/distributed.yaml
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/keras/_tf_keras_trial.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-estimator/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  helm/charts/determined/templates/master-config.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/update-bumpenvs-yaml.py
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
Labels: cla-signed

#5606 fix: Dashboard recent projects backend
  master/internal/api_project.go
  master/pkg/model/project.go
Labels: cla-signed

#5608 feat: Separate admin page [WEB-720]
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/pages/Admin/index.tsx
  webui/react/src/pages/Settings/Settings.tsx
  webui/react/src/routes/index.tsx
  webui/react/src/routes/routes.ts
  webui/react/src/routes/utils.ts
Labels: cla-signed

#5610 fix: Tensorboard launch from experiment multi-select [WEB-742]
  webui/react/src/pages/OldProjectDetails.tsx
Labels: cla-signed

#5386 refactor: rewrite container manager lib without actors [DET-8626]
  agent/internal/containers/manager.go
  agent/internal/containers/manager_api_test.go
  agent/internal/containers/manager_test.go
  agent/internal/containers/spec.go
  agent/internal/detect/cpu.go
  agent/internal/detect/detect.go
  agent/internal/detect/nvidia.go
  agent/internal/detect/rocm.go
  agent/internal/detect/rocm_test.go
Labels: cla-signed

#5615 fix: disable autocomplete in user group
  webui/react/src/hooks/useModal/UserSettings/useModalCreateGroup.tsx
Labels: cla-signed

#5607 fix: Workspace store quickly reflects add/remove [WEB-635]
  harness/determined/common/api/bindings.py
  master/static/srv/get_workspaces.sql
  proto/buf.image.bin
  proto/pkg/workspacev1/workspace.pb.go
  proto/src/determined/workspace/v1/workspace.proto
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceCreate.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceDelete.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceActionDropdown.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/stores/workspaces.tsx
  webui/react/src/types.ts
Labels: cla-signed

#5605 chore: Remove old store
  webui/react/src/App.tsx
  webui/react/src/components/Badge.test.tsx
  webui/react/src/components/BadgeTag.test.tsx
  webui/react/src/components/CheckpointModalTrigger.test.tsx
  webui/react/src/components/LogViewer/LogViewer.test.tsx
  webui/react/src/components/MetricBadgeTag.test.tsx
  webui/react/src/components/ResourcePoolCard.test.tsx
  webui/react/src/components/ThemeToggle.test.tsx
  webui/react/src/components/UserAvatar.test.tsx
  webui/react/src/contexts/Store.tsx
  webui/react/src/contexts/index.ts
  webui/react/src/hooks/useFeature.test.tsx
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.test.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentCreate.test.tsx
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateGroup.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalDeleteGroup.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalPasswordChange.test.tsx
  webui/react/src/hooks/usePermissions.test.tsx
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.test.tsx
  webui/react/src/pages/ExperimentDetails/CodeViewer/CodeViewer.test.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
  webui/react/src/pages/InteractiveTask.test.tsx
  webui/react/src/pages/Settings/Settings.test.tsx
  webui/react/src/pages/Settings/SettingsAccount.test.tsx
  webui/react/src/pages/Settings/UserManagement.test.tsx
  webui/react/src/shared/components/Avatar/Avatar.test.tsx
  webui/react/src/shared/components/Message/Message.test.tsx
  webui/react/src/stores/determinedInfo.tsx
  webui/react/src/stores/index.tsx
Labels: cla-signed, shared-web

#5621 fix: view cluster as a non-admin
  webui/react/src/pages/Clusters.module.scss
  webui/react/src/pages/Clusters.tsx
Labels: cla-signed

#5449 feat: Include No Rank in rankIds dropdown [WEB-239] [WEB-240]
  e2e_tests/tests/cluster/test_logging.py
  master/internal/api/filters.go
  master/internal/api_tasks.go
  master/internal/db/postgres_filters.go
  master/internal/elastic/elastic_task_logs.go
  webui/react/src/components/LogViewer/LogViewerFilters.test.tsx
  webui/react/src/components/LogViewer/LogViewerFilters.tsx
Labels: cla-signed

#5628 fix: WorkspaceProjects dropdown
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
Labels: cla-signed

#5625 fix: replace `InlineEditor` with antd `Input` in table for description
  webui/react/src/pages/ModelDetails.module.scss
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelRegistry.module.scss
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/OldProjectDetails.tsx
  webui/react/src/pages/ProjectDetails.module.scss
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.module.scss
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
Labels: cla-signed, web

#5629 ci: save time by only storing necessary artifacts
  .circleci/config.yml
Labels: cla-signed

#5630 fix: gpt-neox e2e test
  e2e_tests/tests/nightly/test_distributed.py
  examples/deepspeed/gpt_neox/hp_search.yaml
  examples/deepspeed/gpt_neox/zero1.yaml
  examples/deepspeed/gpt_neox/zero3.yaml
  harness/determined/launch/deepspeed.py
Labels: cla-signed

#5632 docs: add release notes for 0.19.9
  docs/release-notes.rst
  docs/release-notes/FOUNDENG-329-enroot-support.rst
  docs/release-notes/hpc-launcher-resource-pools.rst
Labels: cla-signed

#5634 fix: Restore columns in experiment multi-trial view
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
Labels: cla-signed

#5616 feat: use avatar component [WEB-721]
  harness/determined/common/api/bindings.py
  master/internal/api_user.go
  master/pkg/model/user.go
  master/static/srv/get_users.sql
  proto/pkg/apiv1/user.pb.go
  proto/src/determined/api/v1/user.proto
  webui/react/src/components/GroupAvatar.module.scss
  webui/react/src/components/GroupAvatar.tsx
  webui/react/src/components/Table/Table.tsx
  webui/react/src/components/UserAvatar.test.tsx
  webui/react/src/components/UserAvatar.tsx
  webui/react/src/components/UserBadge.module.scss
  webui/react/src/components/UserBadge.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceAddMember.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/JobQueue/JobQueue.table.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/OldProjectDetails.tsx
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/SettingsAccount.tsx
  webui/react/src/pages/Settings/UserManagement.settings.ts
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/pages/TrialsComparison/Table/TrialTable.tsx
  webui/react/src/pages/WorkspaceDetails/ProjectCard.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
  webui/react/src/pages/WorkspaceList.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceCard.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/utils/user.ts
Labels: cla-signed

#5624 fix: Close continue/fork experiment modal [WEB-699]
  webui/react/src/hooks/useModal/Experiment/useModalExperimentCreate.tsx
Labels: cla-signed

#5623 chore: remove references to images with TensorFlow 2.5 and 2.6 from documentation and fixtures [MLG-217]
  docs/training/apis-howto/overview.rst
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
Labels: cla-signed

#5636 fix: input fix for deletion modal
  webui/react/src/hooks/useModal/Project/useModalProjectDelete.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceDelete.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceActionDropdown.tsx
Labels: cla-signed

#5637 fix: failed test case by adding missing context provider
  webui/react/src/pages/Settings/UserManagement.test.tsx
Labels: cla-signed

#5638 fix: hook inside useMemo warning
  webui/react/src/components/Table/Table.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/JobQueue/JobQueue.table.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/OldProjectDetails.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/pages/TrialsComparison/Table/TrialTable.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
  webui/react/src/pages/WorkspaceList.tsx
Labels: cla-signed

#5640 fix: remove modal in workspace member
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceRemoveMember.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
Labels: cla-signed

#5645 fix: Workspace members search fixes for users and groups [WEB-753]
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceAddMember.tsx
Labels: cla-signed

#5622 feat: master config option to enable notebook timeouts by default.
  .circleci/config.yml
  docs/interfaces/notebooks.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/release-notes/notebook-timeout.rst
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/constants.py
  harness/determined/deploy/aws/deployment_types/base.py
  harness/determined/deploy/aws/deployment_types/govcloud.py
  harness/determined/deploy/aws/deployment_types/secure.py
  harness/determined/deploy/aws/deployment_types/simple.py
  harness/determined/deploy/aws/deployment_types/vpc.py
  harness/determined/deploy/aws/injector/master.yaml.tmpl
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/tests/storage/util.py
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
  master/internal/api_notebook.go
  master/internal/config/config.go
  master/internal/task/idle_timeout.go
  master/internal/task/idle_timeout_test.go
  master/pkg/model/experiment.go
  master/pkg/model/task.go
Labels: cla-signed

#5627 feat: secure proxy path for rbac ntsc
  master/internal/api_auth.go
  master/internal/command/events.go
  master/internal/db/postgres_command.go
Labels: cla-signed

#5639 chore: remove _strict_ntsc_enabled option
  .circleci/config.yml
  .circleci/devcluster/strict-ntsc.devcluster.yaml
  docs/cluster-setup-guide/security/rbac.rst
  e2e_tests/pytest.ini
  e2e_tests/tests/command/test_strict_ntsc.py
  e2e_tests/tests/conftest.py
  master/internal/command/authz_basic_impl.go
  master/internal/config/authz_config.go
  master/internal/config/config.go
Labels: cla-signed

#5633 feat: workspace cli controls for notebooks
  harness/determined/cli/__init__.py
  harness/determined/cli/_util.py
  harness/determined/cli/command.py
  harness/determined/cli/notebook.py
  harness/determined/cli/render.py
  harness/determined/cli/workspace.py
Labels: cla-signed

#5620 test: rbac notebook api interactions
  master/internal/api/apiutils/utils.go
  master/internal/api_notebook.go
  master/internal/api_ntsc_intg_test.go
  master/internal/api_tasks_intg_test.go
  master/internal/authz/test_utils.go
  master/internal/command/api.go
  master/internal/command/authz_basic_impl.go
  master/internal/command/authz_iface.go
  master/internal/mocks/nsc_authz_iface.go
Labels: cla-signed

#5641 feat: report inaccessible rbac entities as 404
  master/internal/api_notebook.go
  master/internal/api_ntsc_intg_test.go
Labels: cla-signed, blocked

#5651 fix: swagger json spec 404 error.
  master/internal/core.go
Labels: cla-signed
