Repository determined-ai/determined, pull requests merged in 2022-08, with the labels that each got.

#4666 test: add test coverage for shared error utilities [DET-7900]
  webui/react/src/shared/utils/error.test.ts
  webui/react/src/shared/utils/error.ts
  webui/react/src/utils/error.test.ts
Labels: cla-signed, shared-web

#4684 test: create interaction tests for action dropdown [DET-7895]
  webui/react/src/shared/components/ActionDropdown/ActionDropdown.test.tsx
Labels: cla-signed, shared-web

#4679 test: add test cases for `string.ts`
  webui/react/src/shared/utils/string.test.ts
Labels: cla-signed, shared-web

#4686 chore: support enum sizes for avatar
  webui/react/src/pages/Settings/SettingsAccount.tsx
  webui/react/src/shared/components/Avatar/Avatar.module.scss
  webui/react/src/shared/components/Avatar/Avatar.tsx
Labels: cla-signed, shared-web

#4687 fix: edit some libs in package.json
  webui/react/package-lock.json
  webui/react/package.json
Labels: cla-signed

#4697 fix: word break in description
  webui/react/src/components/InlineEditor.module.scss
Labels: cla-signed

#4659 fix: keyboard doesnt show for inline editor in mobile [DET-7519]
  webui/react/src/components/InlineEditor.tsx
Labels: cla-signed

#4699 refactor: test cases for `ActionDropdown`
  webui/react/src/shared/components/ActionDropdown/ActionDropdown.test.tsx
Labels: cla-signed, shared-web

#4689 test: WebUI interaction test for page [DET-7894]
  webui/react/src/shared/components/Page/Page.test.tsx
Labels: cla-signed, shared-web

#4653 docs: port slurm deployment to oss docs
  docs/cluster-setup-guide/deploy-cluster/index.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/install-on-slurm.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/overview.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/singularity.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-known-issues.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
  docs/cluster-setup-guide/elasticsearch-logging-backend.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/reference/reference-training/experiment-config-reference.rst
Labels: cla-signed

#4620 chore: RBAC user groups crud
  harness/determined/common/api/bindings.py
  master/internal/api.go
  master/internal/usergroup/api_groups.go
  master/internal/usergroup/group_intg_test.go
  master/internal/usergroup/postgres_groups.go
  master/internal/usergroup/user_group.go
  master/pkg/model/user.go
  master/static/migrations/20220801150349_add-user-groups.tx.down.sql
  master/static/migrations/20220801150349_add-user-groups.tx.up.sql
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/group.proto
  proto/src/determined/group/v1/group.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#4688 docs: add rest api reference link and rewrite rest api doc
  docs/reference/rest-api.rst
  docs/training/model-management/model-registry-org.rst
Labels: cla-signed

#4685 test: add samlauth tests [DET-7946]
  webui/react/src/ee/SamlAuth.test.ts
  webui/react/src/ee/SamlAuth.ts
Labels: cla-signed

#4407 feat: Connect trial UI to workloads API; pass sort/filter to API
  harness/determined/common/api/bindings.py
  master/internal/api_trials.go
  master/static/srv/proto_get_trial_workloads.sql
  proto/src/determined/api/v1/trial.proto
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.settings.ts
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Labels: cla-signed

#4680 feat: WebUI edit user [DET-7846]
  harness/determined/common/api/bindings.py
  proto/src/determined/api/v1/user.proto
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#4690 fix: mark all 4xx failures as auth failure
  webui/react/src/shared/utils/service.ts
Labels: cla-signed, shared-web

#4709 style: fix doc tile styling (dark mode support and responsive) [DET-7955]
  docs/assets/styles/determined.css
  docs/index.rst
Labels: cla-signed

#4708 test: update path conditionals for gh workflows
  .github/workflows/lint-go.yml
  .github/workflows/lint-python.yml
  .github/workflows/lint-react.yml
  .github/workflows/test-cli.yml
Labels: cla-signed

#4458 feat: One-Click Hyperparameter Search [DET-7537] [DET-7538]
  docs/release-notes/4458-hyperparameter-search.txt
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/PageHeaderFoldable.module.scss
  webui/react/src/components/TableFilterDropdown.tsx
  webui/react/src/components/TableFilterSearch.tsx
  webui/react/src/components/TagList.tsx
  webui/react/src/hooks/useFetch.ts
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpointRegister.tsx
  webui/react/src/hooks/useModal/Columns/useModalColumnsCustomize.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.module.scss
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.test.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/shared/assets/fonts/determined-ai.woff
  webui/react/src/shared/assets/fonts/determined-ai.woff2
  webui/react/src/shared/hooks/useModal/useModal.tsx
  webui/react/src/shared/styles/icons.scss
  webui/react/src/storybook/shared/generateTestExperiments.ts
  webui/react/src/types.ts
  webui/react/src/utils/experiment.ts
  webui/react/src/utils/task.ts
Labels: cla-signed, shared-web

#4714 chore: clear selected item when clear filters
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/TaskList.tsx
Labels: cla-signed

#4719 fix: record operations at the right places around shutting down
  master/pkg/searcher/random_test.go
  master/pkg/searcher/searcher.go
Labels: cla-signed

#4676 refactor: authz provider implementation and authz users basic implementation
  e2e_tests/tests/cluster/test_users.py
  master/.golangci.yml
  master/Makefile
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/authz/authz_provider_type.go
  master/internal/config/authz_config.go
  master/internal/config/config.go
  master/internal/mocks/authz_iface.go
  master/internal/user/authz_basic_impl.go
  master/internal/user/authz_iface.go
  master/internal/user/service.go
  master/internal/user/service_intg_test.go
  master/pkg/model/user.go
Labels: cla-signed

#4700 fix: WebUI workspace pagination [DET-7927]
  webui/react/src/components/InteractiveTable.tsx
  webui/react/src/pages/WorkspaceList.settings.ts
  webui/react/src/pages/WorkspaceList.tsx
Labels: cla-signed

#4710 chore: Remove unnecessary imports and fields in proto
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/api/v1/notebook.proto
  proto/src/determined/api/v1/task.proto
  proto/src/determined/experiment/v1/searcher.proto
  proto/src/determined/user/v1/user.proto
Labels: cla-signed

#4717 test: add tests for settings page [DET-7966]
  webui/react/src/pages/Settings/Settings.test.tsx
  webui/react/src/pages/Settings/Settings.tsx
  webui/react/src/pages/Settings/index.ts
Labels: cla-signed

#4668 fix: shutdown operation [DET-7920]
  master/pkg/searcher/searcher.go
Labels: cla-signed

#4713 fix: resolve issues around `InlineEditor` [DET-7914]
  webui/react/src/components/InlineEditor.module.scss
  webui/react/src/components/InlineEditor.stories.tsx
  webui/react/src/components/InlineEditor.test.tsx
  webui/react/src/components/InlineEditor.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/Settings/SettingsAccount.tsx
  webui/react/src/shared/components/AvatarCard/AvatarCard.module.scss
  webui/react/src/shared/components/AvatarCard/AvatarCard.test.tsx
Labels: cla-signed, shared-web

#4720 fix: breadcrumb text color
  webui/react/src/shared/styles/antd.scss
Labels: cla-signed, shared-web

#4711 chore: share sort utility [DET-7970]
  webui/react/src/components/HpSelectFilter.tsx
  webui/react/src/components/LogViewer/LogViewer.tsx
  webui/react/src/components/LogViewer/LogViewerFilters.tsx
  webui/react/src/components/MetricSelectFilter.tsx
  webui/react/src/components/ResponsiveTable.test.tsx
  webui/react/src/components/Table.stories.tsx
  webui/react/src/components/TagList.tsx
  webui/react/src/pages/Cluster/ClusterOverview.table.tsx
  webui/react/src/pages/ExperimentComparison/CompareVisualization.tsx
  webui/react/src/pages/ExperimentComparison/CompareVisualization/CompareTable.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpTrialTable.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHyperparameters.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.table.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
  webui/react/src/shared/utils/sort.test.ts
  webui/react/src/shared/utils/sort.ts
  webui/react/src/utils/chart.ts
  webui/react/src/utils/experiment.ts
  webui/react/src/utils/metric.ts
  webui/react/src/utils/sort.ts
  webui/react/src/utils/task.ts
Labels: cla-signed, shared-web

#4716 chore: add regex in `InlineEditor` [DET-7518]
  webui/react/src/components/InlineEditor.module.scss
  webui/react/src/components/InlineEditor.test.tsx
  webui/react/src/components/InlineEditor.tsx
  webui/react/src/pages/Settings/SettingsAccount.tsx
Labels: cla-signed

#4691 fix: cursor in modal text field jumps to end of input
  webui/react/src/hooks/useModal/Model/useModalModelCreate.module.scss
  webui/react/src/hooks/useModal/Model/useModalModelCreate.tsx
  webui/react/src/hooks/useModal/Project/useModalProjectCreate.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceCreate.tsx
  webui/react/src/pages/WorkspaceList.tsx
Labels: cla-signed

#4712 fix: DET-7973 client progress
  e2e_tests/tests/experiment/test_custom_searcher.py
  harness/determined/common/api/bindings.py
  harness/determined/searcher/search_method.py
  harness/determined/searcher/search_runner.py
  master/internal/api_experiment.go
  proto/buf.image.bin
  proto/src/determined/experiment/v1/searcher.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#4722 fix: Remove max length
  e2e_tests/tests/experiment/test_custom_searcher.py
  harness/determined/common/schemas/expconf/_gen.py
  harness/determined/common/schemas/expconf/_v0.py
  master/pkg/schemas/expconf/searcher_config.go
  master/pkg/schemas/expconf/zgen_custom_config_v0.go
  master/pkg/schemas/zgen_schemas.go
  master/pkg/searcher/custom_search_test.go
  schemas/expconf/v0/searcher-custom.json
Labels: cla-signed

#4723 test: add tests for experiment detail page [DET-7979]
  webui/react/package.json
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/index.ts
  webui/react/src/services/api.ts
  webui/react/src/utils/wait.test.ts
Labels: cla-signed

#4734 style: fix modal padding [DET-7993]
  webui/react/src/hooks/useModal/Model/useModalModelCreate.tsx
  webui/react/src/hooks/useModal/Model/useModalModelDownload.tsx
Labels: cla-signed

#4706 test: test cases for `shared/utils/routes.ts` [DET-7902]
  webui/react/src/shared/utils/routes.test.ts
  webui/react/src/shared/utils/routes.ts
Labels: cla-signed, shared-web

#4740 fix: hardcode pathname instead of using `paths`
  webui/react/src/shared/utils/routes.test.ts
Labels: cla-signed, shared-web

#4733 style: fix mobile exp header [DET-7975]
  webui/react/src/components/PageHeaderFoldable.module.scss
  webui/react/src/components/PageHeaderFoldable.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.module.scss
  webui/react/src/pages/TrialDetails/Header/TrialHeaderLeft.tsx
Labels: cla-signed

#4737 fix: fix an issue with forbidden api actions causing logout
  webui/react/src/shared/utils/service.ts
Labels: cla-signed, shared-web

#4718 fix: url-encode description of notebook and tensorboard
  harness/determined/common/api/request.py
Labels: cla-signed

#4739 docs: add release note for fix for searcher early termination bug
  docs/release-notes/concurrent-grid.rst
Labels: cla-signed

#4741 chore: [Ant Design] replace old menu with new menu
  webui/react/src/components/Dropdown.stories.tsx
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/Metadata/EditableRow.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/PageHeaderFoldable.tsx
  webui/react/src/components/PaginatedNotesCard.tsx
  webui/react/src/components/TableFilterDropdown.tsx
  webui/react/src/components/TableFilterSearch.tsx
  webui/react/src/components/TagList.tsx
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/components/TaskBar.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelDetails/ModelVersionActionDropdown.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/pages/WorkspaceDetails/ProjectActionDropdown.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceActionDropdown.tsx
  webui/react/src/shared/components/ActionDropdown/ActionDropdown.tsx
Labels: cla-signed, shared-web

#4743 fix: deepspeedtrial validation batch size computation
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
Labels: cla-signed

#4727 chore: update docker images names
  .circleci/config.yml
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-gcp/install-gcp.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/singularity.rst
  docs/interfaces/tensorboard.rst
  docs/reference/reference-deploy/config/helm-config-reference.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/reference/reference-interface/job-config-reference.rst
  docs/reference/reference-training/experiment-config-reference.rst
  docs/training/apis-howto/overview.rst
  docs/training/setup-guide/custom-env.rst
  e2e_tests/tests/config.py
  e2e_tests/tests/fixtures/pytorch_lightning_amp/apex_amp.yaml
  e2e_tests/tests/fixtures/pytorch_lightning_amp/auto_amp.yaml
  examples/computer_vision/efficientdet_pytorch/const.yaml
  examples/computer_vision/efficientdet_pytorch/const_fake.yaml
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/decision_trees/gbt_titanic_estimator/adaptive.yaml
  examples/decision_trees/gbt_titanic_estimator/const.yaml
  examples/deepspeed/cifar10_moe/moe.yaml
  examples/deepspeed/cifar10_moe/zero_stages.yaml
  examples/deepspeed/gpt_neox/Dockerfile
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  examples/graphs/proteins_pytorch_geometric/adaptive.yaml
  examples/graphs/proteins_pytorch_geometric/const.yaml
  examples/graphs/proteins_pytorch_geometric/distributed.yaml
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/aws/templates/vpc.yaml
  harness/determined/deploy/gcp/constants.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/keras/_tf_keras_trial.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-estimator/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  helm/charts/determined/templates/master-config.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/update-bumpenvs-yaml.py
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: cla-signed

#4745 fix: python sdk can parse master output again [DET-8021]
  docs/release-notes/4745-fix-sdk.txt
  e2e_tests/tests/test_sdk.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/model.py
  harness/determined/experimental/client.py
Labels: cla-signed

#4677 fix: Write change-password script in /tmp instead of CWD
  helm/charts/determined/templates/change-password.yaml
Labels: cla-signed

#4752 ci: unversion workflows
  .bumpversion.cfg
  .github/workflows/lint-python.yml
  .github/workflows/test-cli.yml
Labels: cla-signed

#4744 ci: shells should generate keys, even with empty 'data' field
  .circleci/config.yml
  e2e_tests/tests/cluster/test_logging.py
  master/internal/api_shell.go
Labels: cla-signed

#4757 ci: remove trent from shared codeowners
  .github/CODEOWNERS
Labels: cla-signed

#4755 fix: allow changing max_length units in HP Search
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
Labels: cla-signed

#4703 chore: Remove obsolete workloads from Trials API
  docs/release-notes/4703-trial-workloads
  e2e_tests/tests/experiment/experiment.py
  harness/determined/cli/experiment.py
  harness/determined/common/api/bindings.py
  master/internal/api_trials.go
  master/static/srv/proto_get_trials_plus.sql
  master/test/integration/api/api_trials_test.go
  proto/buf.image.bin
  proto/src/determined/api/v1/trial.proto
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/hooks/useMetricNames.ts
  webui/react/src/hooks/useModal/Experiment/useModalExperimentCreate.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.stories.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.stories.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/storybook/shared/generateTestExperiments.ts
  webui/react/src/types.ts
  webui/react/src/utils/workload.test.ts
  webui/react/src/utils/workload.ts
Labels: cla-signed

#4760 ci: re-enable test fixed by earlier commit
  e2e_tests/tests/cluster/test_logging.py
Labels: cla-signed

#4761 fix: tensorboard metrics step count [DET-8028]
  harness/determined/tensorboard/metric_writers/callback.py
Labels: cla-signed

#4768 docs: add release notes for 0.19.1
  docs/release-notes.rst
  docs/release-notes/4458-hyperparameter-search.txt
  docs/release-notes/4500-new-pytorchtrial-deepspeedtrial-callbacks.txt
  docs/release-notes/4745-fix-sdk.txt
Labels: cla-signed

#4725 ci: add helm repo [infeng 1]
  .github/workflows/publish-helm.yml
Labels: cla-signed

#4738 chore: upgrade the generator from 2.4.14 to 2.4.27
  bindings/Makefile
Labels: cla-signed

#4765 chore: expose Avatar props through AvatarCard
  webui/react/src/shared/components/AvatarCard/AvatarCard.tsx
Labels: cla-signed, shared-web

#4749 test: add tests for utils/service
  webui/react/src/services/utils.ts
  webui/react/src/shared/utils/service.test.ts
  webui/react/src/shared/utils/service.ts
Labels: cla-signed, shared-web

#4769 fix: Model table - tags filter [DET-8027]
  master/static/srv/get_models.sql
Labels: cla-signed

#4773 chore: update saas git url
  webui/react/src/shared/bin/test.py
Labels: cla-signed, shared-web

#4622 fix: gpt_neox deepspeed example
  examples/deepspeed/gpt_neox/det_utils.py
  examples/deepspeed/gpt_neox/gpt2_trial.py
Labels: cla-signed

#4771 refactor: reduce unneeded api calls [DET-7451]
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpointRegister.tsx
Labels: cla-signed

#4774 fix: lint-python ci failure
  e2e_tests/mypy.ini
  model_hub/mypy.ini
Labels: cla-signed

#4778 docs: Add release note for Slurm feature
  docs/release-notes/137-feat-slurm.txt
Labels: cla-signed

#4777 chore: disable positional args in bindings.py classes
  bindings/generate_bindings.py
  harness/determined/cli/job.py
  harness/determined/cli/notebook.py
  harness/determined/cli/workspace.py
  harness/determined/common/api/bindings.py
Labels: cla-signed

#4782 fix: remove core external dependency from shared
  webui/react/src/shared/utils/service.test.ts
  webui/react/src/shared/utils/service.ts
Labels: cla-signed, shared-web

#4779 chore: Use bindings.v1File instead of ContextItem
  e2e_tests/tests/cluster/test_users_experiment_api.py
  harness/determined/cli/command.py
  harness/determined/cli/experiment.py
  harness/determined/cli/notebook.py
  harness/determined/cli/tensorboard.py
  harness/determined/common/api/experiment.py
  harness/determined/common/context.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/util.py
  harness/tests/cli/test_cli.py
  master/internal/core_experiment.go
Labels: cla-signed

#4754 fix: use correct experiment list offset when deleting an experiment [DET-7880]
  webui/react/src/pages/ProjectDetails.tsx
Labels: cla-signed

#4784 test: Fix cluster utils cluster_slots() API
  e2e_tests/tests/cluster/utils.py
Labels: cla-signed

#4763 perf: improve too many user api call
  webui/react/src/App.tsx
  webui/react/src/components/UserAvatar.test.tsx
  webui/react/src/components/UserAvatar.tsx
Labels: cla-signed

#4789 fix: tab routing issue in resource pool
  webui/react/src/components/SlotAllocation.module.scss
  webui/react/src/pages/ResourcepoolDetail.tsx
Labels: cla-signed

#4623 feat: deepspeed cpu offloading example
  docs/release-notes/deepspeed-cpu-offloading.txt
  examples/deepspeed/cifar10_cpu_offloading/README.md
  examples/deepspeed/cifar10_cpu_offloading/ds_config_no_offload.json
  examples/deepspeed/cifar10_cpu_offloading/ds_config_offload.json
  examples/deepspeed/cifar10_cpu_offloading/model_def_OOM_no_offload.py
  examples/deepspeed/cifar10_cpu_offloading/model_def_OOM_offload.py
  examples/deepspeed/cifar10_cpu_offloading/zero_stages_3_no_offload.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_stages_3_offload.yaml
Labels: cla-signed

#4724 feat: WebUI group list page [DET-7921, DET-7976]
  master/pkg/model/user.go
  webui/react/src/hooks/useModal/UserSettings/useModalCreateGroup.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateGroup.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalDeleteGroup.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalDeleteGroup.tsx
  webui/react/src/pages/Settings/GroupManagement.module.scss
  webui/react/src/pages/Settings/GroupManagement.settings.ts
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/Settings.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#4786 fix: use jupyter icon in navigation sidebar [DET-7097]
  webui/react/src/components/NavigationSideBar.tsx
Labels: cla-signed

#4792 fix: jupyterLab modal poping issue
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.tsx
Labels: cla-signed

#4791 fix: directly return object-not-found errors instead of rewrapping them
  master/internal/db/postgres_proto.go
Labels: cla-signed

#4788 chore: `react-router-dom` partial update part1
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/Router.tsx
  webui/react/src/index.tsx
  webui/react/src/routes/routes.ts
Labels: cla-signed

#4756 fix: job queue pagination
  harness/determined/common/api/bindings.py
  master/internal/job/job.go
  proto/src/determined/api/v1/job.proto
  webui/react/src/hooks/useSettings.ts
  webui/react/src/pages/JobQueue/JobQueue.settings.ts
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/ResourcepoolDetail.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#4794 fix: grid view on Workspaces and Projects pages show all items [DET-8031]
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceList.tsx
Labels: cla-signed

#4721 refactor: authz interface for projects and workspaces [DET-8002]
  e2e_tests/tests/cluster/test_workspace_org.py
  harness/determined/common/api/request.py
  master/Makefile
  master/internal/api_experiment.go
  master/internal/api_project.go
  master/internal/api_project_intg_test.go
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/job/job.go
  master/internal/mocks/project_authz_iface.go
  master/internal/mocks/user_authz_iface.go
  master/internal/mocks/workspace_authz_iface.go
  master/internal/project/authz_basic_impl.go
  master/internal/project/authz_iface.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
  master/static/srv/archive_project.sql
  master/static/srv/archive_workspace.sql
  master/static/srv/deletable_project.sql
  master/static/srv/deletable_workspace.sql
  master/static/srv/delete_project.sql
  master/static/srv/delete_workspace.sql
  master/static/srv/move_project.sql
Labels: cla-signed

#4795 fix: show learning curve
  master/internal/api_experiment.go
Labels: cla-signed

#4772 style: update number input error style for dark mode [DET-8039]
  webui/react/src/shared/styles/antd.scss
Labels: cla-signed, shared-web

#4793 fix: speed up `det deploy aws` stack updates.
  harness/determined/deploy/aws/aws.py
Labels: cla-signed

#4805 fix: hide `Delete` button if user is not a creator or admin
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelRegistry.tsx
Labels: cla-signed

#4804 fix: correct job queue table bugs [DET-8069]
  webui/react/src/pages/JobQueue/JobQueue.settings.ts
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/ResourcepoolDetail.tsx
  webui/react/src/routes/routes.ts
Labels: cla-signed

#4808 fix: remove under the given event id for correct resumption in client.
  master/internal/experiment.go
  master/pkg/searcher/custom_search_test.go
  master/pkg/searcher/custom_searcher_events_queue.go
Labels: cla-signed

#4799 chore: share copy to clipboard
  webui/react/scripts/push-sw-branch.sh
  webui/react/src/hooks/useModal/Model/useModalModelDownload.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/shared/components/CopyButton.tsx
Labels: cla-signed, shared-web

#4810 ci: Remove unnecessary quotes [INFENG-1]
  .github/workflows/publish-helm.yml
Labels: cla-signed

#4801 chore: fix ListValue types in swagger spec
  bindings/Makefile
  bindings/generate_bindings.py
  harness/determined/common/api/bindings.py
  proto/Makefile
  proto/patches/api.json
  webui/react/src/services/api-ts-sdk/.swagger-codegen/VERSION
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#4811 fix: always override protobufAny description in openapi spec
  proto/patches/api.json
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#4758 feat: persist custom searcher events [DET-7833]
  master/internal/db/postgres_snapshots_test.go
  master/pkg/searcher/custom_search.go
  master/pkg/searcher/custom_searcher_events_queue.go
  proto/buf.image.bin
  webui/react/src/services/api-ts-sdk/.swagger-codegen/VERSION
Labels: cla-signed

#4796 fix: get trial datapoints from trial comparison/summarization endpoint
  master/internal/api_trials.go
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
Labels: cla-signed

#4747 chore: UI fix and improvements
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/hooks/useModal/Model/useModalModelCreate.module.scss
  webui/react/src/hooks/useModal/Model/useModalModelCreate.tsx
  webui/react/src/hooks/useModal/Project/useModalProjectCreate.module.scss
  webui/react/src/hooks/useModal/Project/useModalProjectCreate.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceCreate.module.scss
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceCreate.tsx
Labels: cla-signed

#4814 fix: use fluent version 1.9.3 everywhere by default.
  agent/cmd/determined-agent/run.go
  agent/internal/agent_test.go
  master/internal/config/config_test.go
  master/internal/config/provconfig/config.go
  master/internal/config/provconfig/config_test.go
  master/internal/rm/kubernetes/pod.go
  master/pkg/aproto/defaults.go
Labels: cla-signed

#4790 perf: reduce user settings api call
  webui/react/src/hooks/useSettings.ts
Labels: cla-signed

#4770 test: asha as custom searcher method [DET-8013]
  e2e_tests/tests/experiment/test_custom_searcher.py
Labels: cla-signed

#4809 test: webui user management unit test [DET-7968]
  webui/react/src/pages/Settings/UserManagement.test.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
Labels: cla-signed

#4787 chore: promote Session to a first-class citizen
  e2e_tests/tests/cluster/test_logging.py
  e2e_tests/tests/cluster/test_users.py
  e2e_tests/tests/cluster/test_workspace_org.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/nightly/compute_stats.py
  harness/determined/cli/job.py
  harness/determined/cli/project.py
  harness/determined/cli/session.py
  harness/determined/cli/util.py
  harness/determined/cli/workspace.py
  harness/determined/common/__init__.py
  harness/determined/common/api/__init__.py
  harness/determined/common/api/_session.py
  harness/determined/common/api/authentication.py
  harness/determined/common/api/experiment.py
  harness/determined/common/experimental/__init__.py
  harness/determined/common/experimental/_session.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/model.py
  harness/determined/common/experimental/trial.py
  harness/determined/common/util.py
  harness/determined/core/_checkpoint.py
  harness/determined/core/_context.py
  harness/determined/core/_preempt.py
  harness/determined/core/_searcher.py
  harness/determined/core/_train.py
  harness/determined/exec/prep_container.py
  harness/determined/experimental/client.py
Labels: cla-signed

#2969 docs: Add a checkbox to the PR template
  .github/pull_request_template.md
Labels: cla-signed

#4819 ci: fix helm repo [INFENG-1]
  .github/workflows/publish-helm.yml
Labels: cla-signed

#4831 chore: rename a file to prevent API breakages
  harness/determined/common/experimental/session.py
Labels: cla-signed

#4834 ci: fix test-cli-win.
  .circleci/config.yml
Labels: cla-signed

#4759 fix: cancel experiment's sole trial should cancel experiment [DET-6707]
  docs/release-notes/canceled-experiment-trial-fix.txt
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/test_sdk.py
  harness/determined/common/api/bindings.py
  master/internal/experiment.go
  master/internal/trial.go
  master/pkg/model/experiment.go
  master/pkg/searcher/operations.go
  master/pkg/searcher/searcher.go
  master/pkg/searcher/util_test.go
  proto/buf.image.bin
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#4824 build: set shared web to use xlarge resource class
  webui/react/src/shared/.circleci/config.yml
Labels: cla-signed

#4695 fix: make allocation saves idempotent [DET-7953]
  e2e_tests/tests/cluster/test_agent_restart.py
  master/internal/db/postgres_tasks.go
Labels: cla-signed

#4833 fix: begin standardizing API pagination behavior in CLI.
  docs/release-notes/jobs-api.txt
  harness/Makefile
  harness/determined/cli/experiment.py
  harness/determined/cli/job.py
  harness/determined/cli/trial.py
  harness/determined/cli/util.py
  harness/determined/common/api/bindings.py
  master/internal/api_job.go
  proto/buf.image.bin
  proto/src/determined/api/v1/job.proto
  proto/src/determined/api/v1/pagination.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed, User-facing API Change

#4829 feat: rolling upgrades support for `det deploy aws` and latest-master [DET-7853].
  .circleci/config.yml
  agent/internal/agent.go
  harness/determined/deploy/aws/aws.py
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/constants.py
  harness/determined/deploy/aws/deployment_types/base.py
  harness/determined/deploy/aws/deployment_types/govcloud.py
  harness/determined/deploy/aws/deployment_types/secure.py
  harness/determined/deploy/aws/deployment_types/simple.py
  harness/determined/deploy/aws/deployment_types/vpc.py
  harness/determined/deploy/aws/injector/master.yaml.tmpl
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/aws/templates/vpc.yaml
  master/internal/config/config_test.go
  master/internal/config/provconfig/config.go
  master/internal/config/provconfig/config_test.go
  master/internal/rm/provisioner/agent_setup.go
  master/internal/rm/provisioner/agent_setup_test.go
  master/internal/rm/provisioner/aws.go
  master/internal/rm/provisioner/gcp.go
  master/pkg/aproto/net.go
  master/static/srv/agent_setup_script.sh.template
Labels: cla-signed

#4818 fix: correctly display nested categorical hyperparameters [DET-8074]
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpTrialTable.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpTrialTable.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.module.scss
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.tsx
  webui/react/src/routes/routes.ts
Labels: cla-signed

#4821 fix: handle avgMetrics response on trials of multi-trial experiment
  webui/react/src/services/decoder.ts
Labels: cla-signed

#4838 fix: do not bypass torch.distributed.launch for single-slot trials
  docs/release-notes/torch-distributed-single-slot.txt
  harness/determined/launch/torch_distributed.py
  harness/tests/launch/test_torch_distributed.py
Labels: cla-signed

#4846 fix: remove non-model-hub mmdet tests
  e2e_tests/tests/nightly/test_capability.py
  e2e_tests/tests/nightly/test_distributed.py
Labels: cla-signed

#4839 fix: remove duplicate loading animation
  webui/react/src/pages/ModelRegistry.tsx
Labels: cla-signed

#4825 fix: fit long name in Model Register
  webui/react/src/components/Table.module.scss
  webui/react/src/components/Table.tsx
Labels: cla-signed

#4848 fix: rps should correctly ignore job msgs not meant for them [DET-8214]
  master/internal/rm/resource_pool.go
Labels: cla-signed

#4766 fix: allow moving jobs to top without assuming the full job list [DET-8015]
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/JobQueue/ManageJob.tsx
  webui/react/src/shared/utils/error.ts
  webui/react/src/utils/job.ts
Labels: cla-signed, shared-web

#4836 chore: fix random/grid searcher bug with max_concurrent_trials
  docs/release-notes/max-cc-searcher-bugs.rst
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_core.py
  master/pkg/searcher/grid.go
  master/pkg/searcher/random.go
Labels: cla-signed

#4852 fix: remove ds example
  docs/release-notes/deepspeed-cpu-offloading.txt
  examples/deepspeed/cifar10_cpu_offloading/README.md
  examples/deepspeed/cifar10_cpu_offloading/ds_config_no_offload.json
  examples/deepspeed/cifar10_cpu_offloading/ds_config_offload.json
  examples/deepspeed/cifar10_cpu_offloading/model_def_OOM_no_offload.py
  examples/deepspeed/cifar10_cpu_offloading/model_def_OOM_offload.py
  examples/deepspeed/cifar10_cpu_offloading/zero_stages_3_no_offload.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_stages_3_offload.yaml
Labels: cla-signed

#4851 chore: TrialContext is not an interface
  harness/determined/_trial_context.py
Labels: cla-signed

#4803 feat: view code improvements
  webui/react/src/pages/ExperimentDetails/CodeViewer/CodeViewer.module.scss
  webui/react/src/pages/ExperimentDetails/CodeViewer/CodeViewer.tsx
  webui/react/src/pages/ExperimentDetails/CodeViewer/index.scss
Labels: cla-signed

#4812 fix: set gc policy [DET-8018]
  docs/release-notes/set_gc_policy_fix.txt
  e2e_tests/tests/cluster/test_checkpoints.py
  harness/determined/cli/experiment.py
  master/internal/core_experiment.go
  master/internal/db/postgres_checkpoints.go
  master/internal/db/postgres_checkpoints_intg_test.go
  master/internal/db/postgres_helpers_intg_test.go
  master/internal/db/postgres_trial.go
Labels: cla-signed

#4797 fix: job queue experiment restore
  docs/release-notes/experiment-restore.txt
  master/internal/experiment.go
  master/internal/rm/job.go
  master/internal/rm/kubernetes_resource_manager.go
Labels: cla-signed

#4822 chore: preserve failed action's error msg
  webui/react/src/shared/components/ActionDropdown/ActionDropdown.tsx
Labels: cla-signed, shared-web

#4856 fix: remove subprocess import
  e2e_tests/tests/cluster/test_checkpoints.py
Labels: cla-signed

#4806 chore: add authz on moving experiments between projects [DET-7750]
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_project_intg_test.go
  master/internal/mocks/project_authz_iface.go
  master/internal/project/authz_basic_impl.go
  master/internal/project/authz_iface.go
  master/static/srv/get_experiment.sql
  master/static/srv/get_experiments.sql
  master/static/srv/move_experiment.sql
  proto/src/determined/experiment/v1/experiment.proto
  webui/react/src/hooks/useModal/Experiment/useModalExperimentMove.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.stories.tsx
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.stories.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/storybook/shared/generateTestExperiments.ts
  webui/react/src/types.ts
  webui/react/src/utils/experiment.ts
Labels: cla-signed

#4845 chore: document reasons for scaler.update()
  harness/determined/pytorch/README.md
  harness/determined/pytorch/_pytorch_trial.py
Labels: cla-signed

#4857 fix: remove workloadCount from trial responses; single-trial view fix
  harness/determined/common/api/bindings.py
  master/static/srv/proto_get_trials_plus.sql
  master/test/integration/api/api_trials_test.go
  proto/buf.image.bin
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.stories.tsx
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.stories.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/storybook/shared/generateTestExperiments.ts
  webui/react/src/types.ts
Labels: cla-signed

#4826 chore: add controllable logging support
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/shared/utils/Logger.test.ts
  webui/react/src/shared/utils/Logger.ts
  webui/react/src/shared/utils/error.test.ts
  webui/react/src/shared/utils/error.ts
  webui/react/src/shared/utils/routes.ts
Labels: cla-signed, shared-web

#4861 feat: Save operations
  e2e_tests/tests/experiment/test_custom_searcher.py
  harness/determined/searcher/core_search_runner.py
  harness/determined/searcher/search_method.py
  harness/determined/searcher/search_runner.py
  master/internal/experiment.go
  master/pkg/searcher/custom_search_test.go
  master/pkg/searcher/custom_searcher_events_queue.go
Labels: cla-signed

#4850 build: avoid double testing through e2e-longrunning
  .circleci/config.yml
Labels: cla-signed

#4871 fix: downgrade fluentbit to fix tls.vhost issues
  master/pkg/aproto/defaults.go
Labels: cla-signed

#4864 chore: remove init_invalid_hp [DET-8234]
  e2e_tests/tests/experiment/test_custom_searcher.py
  harness/determined/common/api/bindings.py
  harness/determined/searcher/search_method.py
  harness/determined/searcher/search_runner.py
  master/pkg/model/experiment.go
  proto/buf.image.bin
  proto/src/determined/experiment/v1/searcher.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#4876 remove leftover pagination total fields
  webui/react/src/pages/TrialsComparison/Table/TrialTable.tsx
  webui/react/src/pages/TrialsComparison/Trials/data.ts
  webui/react/src/pages/TrialsComparison/TrialsComparison.tsx
Labels: cla-signed

#4853 test: fault tolerance [DET-7964]
  e2e_tests/tests/experiment/test_custom_searcher.py
  harness/determined/searcher/core_search_runner.py
  harness/determined/searcher/search_method.py
  harness/determined/searcher/search_runner.py
Labels: cla-signed

#4880 Trials
  webui/react/src/components/DynamicTabs.tsx
  webui/react/src/components/LearningCurveChart.tsx
  webui/react/src/components/Table/TableFilterRank.tsx
  webui/react/src/pages/TrialsComparison/Collections/filters.ts
  webui/react/src/pages/TrialsComparison/Collections/useTrialCollections.module.scss
  webui/react/src/pages/TrialsComparison/Collections/useTrialCollections.tsx
  webui/react/src/pages/TrialsComparison/Table/TrialTable.tsx
  webui/react/src/pages/TrialsComparison/TrialsComparison.tsx
  webui/react/src/pages/TrialsComparison/api.ts
  webui/react/src/routes/routes.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/shared/utils/data.ts
Labels: cla-signed, shared-web

#4881 Trials
  harness/determined/common/api/bindings.py
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/components/Table/TableFilterRank.tsx
  webui/react/src/pages/TrialsComparison/Collections/filters.ts
  webui/react/src/pages/TrialsComparison/Collections/useTrialCollections.tsx
  webui/react/src/pages/TrialsComparison/Table/TrialTable.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/themes.ts
  webui/react/src/types.ts
Labels: cla-signed

#4882 resolve some staleness
  webui/react/src/pages/TrialsComparison/Actions/useModalTagTrials.tsx
  webui/react/src/pages/TrialsComparison/Actions/useTrialActions.tsx
  webui/react/src/pages/TrialsComparison/Collections/useTrialCollections.tsx
  webui/react/src/pages/TrialsComparison/Table/tagsRenderer.tsx
  webui/react/src/pages/TrialsComparison/Trials/useFetchTrials.ts
  webui/react/src/pages/TrialsComparison/TrialsComparison.tsx
Labels: cla-signed

#4867 feat: add disabled prop to ActionDropdown (DET-7937)
  webui/react/src/shared/components/ActionDropdown/ActionDropdown.stories.tsx
  webui/react/src/shared/components/ActionDropdown/ActionDropdown.tsx
Labels: cla-signed, shared-web

#4843 feat: add security.default_task and openshift host options to helm chart [DPS-204]
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/templates/master-route.yaml
  helm/charts/determined/values.yaml
Labels: cla-signed

#4883 docs: remove misleading redirect
  docs/conf.py
Labels: cla-signed

#4859 chore: some cli cleanup
  bindings/generate_bindings.py
  harness/determined/cli/__init__.py
  harness/determined/cli/_util.py
  harness/determined/cli/agent.py
  harness/determined/cli/checkpoint.py
  harness/determined/cli/experiment.py
  harness/determined/cli/job.py
  harness/determined/cli/master.py
  harness/determined/cli/notebook.py
  harness/determined/cli/project.py
  harness/determined/cli/remote.py
  harness/determined/cli/session.py
  harness/determined/cli/shell.py
  harness/determined/cli/tensorboard.py
  harness/determined/cli/trial.py
  harness/determined/cli/workspace.py
  harness/determined/common/api/__init__.py
  harness/determined/common/api/_util.py
  harness/determined/common/api/bindings.py
Labels: cla-signed

#4702 chore: test AMP autocast and gradient scaling [DET-7885]
  harness/determined/_trial.py
  harness/tests/experiment/fixtures/pytorch_onevar_model.py
  harness/tests/experiment/pytorch/test_pytorch_context.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/utils.py
Labels: cla-signed, python

#4865 ci: fix flakes in test_max_concurrent_trials
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_core.py
Labels: cla-signed

#4863 fix: det e describe with multiple trials
  harness/determined/cli/experiment.py
Labels: cla-signed

#4874 build: enable storybook previews
  netlify.toml
  webui/react/public/_redirects
  webui/react/src/components/HumanReadableNumber.stories.tsx
Labels: cla-signed

#4887 feat: create edit button
  webui/react/src/pages/TrialsComparison/Collections/EditButton.tsx
  webui/react/src/pages/TrialsComparison/Collections/useTrialCollections.tsx
Labels: cla-signed

#4837 feat: create quick search to jump to workspace or project
  webui/react/src/components/NavigationSideBar.module.scss
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceQuickSearch.module.scss
  webui/react/src/pages/WorkspaceDetails/WorkspaceQuickSearch.tsx
Labels: cla-signed

#4885 chore: allow OrderBy in GetExperimentCheckpoints for SortBy SearcherMetrics
  master/internal/api_experiment.go
Labels: cla-signed

#4870 feat: experiment checkpoint list [DET-8201] [DET-8129]
  webui/react/src/components/CheckpointModalTrigger.tsx
  webui/react/src/components/TableBatch.tsx
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.settings.ts
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.table.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentMultiTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Labels: cla-signed

#4886 chore: fix limit 0 for /api/v1/trials/:id/workloads
  master/internal/api_trials.go
Labels: cla-signed

#4840 perf: set memory cap to improve memory allocation
  master/internal/api_experiment.go
  master/internal/api_model.go
  master/internal/api_tensorboard.go
  master/internal/api_trials.go
  master/internal/command/command.go
  master/internal/command/command_manager.go
  master/internal/command/notebook_manager.go
  master/internal/command/shell_manager.go
  master/internal/command/tensorboard_manager.go
  master/internal/db/postgres_checkpoints.go
  master/internal/job/job.go
  master/internal/rm/fair_share.go
  master/internal/rm/fitting_test.go
  master/internal/rm/kubernetes/pod.go
  master/internal/rm/kubernetes/pods.go
  master/internal/rm/kubernetes/request_queue_test.go
  master/internal/rm/kubernetes/spec.go
  master/internal/rm/priority.go
  master/internal/rm/provisioner/provisioner_test.go
  master/internal/rm/provisioner/scale_decider.go
  master/internal/rm/scheduler_test.go
  master/internal/telemetry/reports.go
Labels: cla-signed
