Repository determined-ai/determined, pull requests merged in 2022-01, with the labels that each got.

#3377 ci: stop testing EOL python
  .circleci/config.yml
  docs/release-notes/3377-rm36.txt
Labels: cla-signed

#3352 chore: bump docker and k8s dependencies
  agent/Makefile
  agent/go.mod
  agent/go.sum
  agent/internal/docker.go
  agent/internal/fluent.go
  agent/internal/fluent_intg_test.go
  master/go.mod
  master/go.sum
  master/internal/grpcutil/auth.go
  master/internal/resourcemanagers/kubernetes/events.go
  master/internal/resourcemanagers/kubernetes/informer.go
  master/internal/resourcemanagers/kubernetes/log.go
  master/internal/resourcemanagers/kubernetes/mock_client_test.go
  master/internal/resourcemanagers/kubernetes/pods.go
  master/internal/resourcemanagers/kubernetes/preemptions.go
  master/internal/resourcemanagers/kubernetes/request_queue_test.go
  master/internal/resourcemanagers/kubernetes/request_workers.go
  master/internal/resourcemanagers/kubernetes/spec.go
Labels: cla-signed

#3373 fix: fix webui full config edit in notebook modal
  docs/release-notes/3372-fix-jupyterlab-fullconfig-edit.txt
  webui/react/src/components/JupyterLabModal.tsx
Labels: cla-signed

#3354 chore: bump github.com/labstack/echo/v4 dependencies to address dependabot
  agent/go.mod
  agent/go.sum
  master/go.mod
  master/go.sum
Labels: cla-signed

#3378 fix: stop re-rendering loops and throw the appropriate errors for continue trial modal [DET-6368]
  webui/react/src/hooks/useModal/useModal.tsx
  webui/react/src/hooks/useModal/useModalExperimentCreate.tsx
Labels: cla-signed

#3376 fix: Fix sphinx-build parsing bug [DET-6369]
  docs/conf.py
  docs/sphinx-wrapper.py
  docs/sphinx_ext_downloads.py
Labels: cla-signed

#3361 chore: write our own swagger bindings
  .circleci/config.yml
  bindings/Makefile
  bindings/generate_bindings.py
  harness/Makefile
  harness/determined/cli/job.py
  harness/determined/cli/master.py
  harness/determined/cli/notebook.py
  harness/determined/cli/util.py
  harness/determined/common/api/b.py
  harness/determined/common/api/bindings.py
  webui/react/Makefile
Labels: cla-signed

#3384 chore: fix default format selection and Enum loading in cli
  bindings/generate_bindings.py
  harness/determined/cli/job.py
  harness/determined/cli/master.py
  harness/determined/common/api/bindings.py
Labels: cla-signed

#3381 chore: force github.com/containerd/containerd upgrade
  .circleci/config.yml
  agent/Makefile
  agent/go.mod
  agent/go.sum
  master/Makefile
Labels: cla-signed

#3386 docs: clarify checkpoint usage docs [DET-6361]
  docs/post-training/use-trained-models.txt
  docs/training-apis/experiment-config.txt
  harness/determined/common/experimental/checkpoint/_checkpoint.py
Labels: cla-signed

#3366 feat: add systemd socket activation support to the master
  agent/go.mod
  agent/go.sum
  docs/release-notes/socket-activation.txt
  docs/sysadmin-deploy-on-prem/linux-packages.txt
  master/.goreleaser.yml
  master/go.mod
  master/go.sum
  master/internal/core.go
  master/packaging/determined-master.socket
Labels: cla-signed

#3392 fix: fix forked experiments missing username in memory
  master/internal/api_experiment.go
  master/internal/core_experiment.go
Labels: cla-signed

#3391 fix: set gc-policy broken [DET-6373]
  harness/determined/cli/experiment.py
Labels: cla-signed

#3403 ci: make checkpoint gc tests actually wait for gc
  e2e_tests/tests/cluster/test_checkpoints.py
Labels: cla-signed

#3399 chore: get gov images in refresh-ubuntu-amis.py
  tools/scripts/README.md
  tools/scripts/refresh-ubuntu-amis.py
Labels: cla-signed

#3404 chore: bumpenvs for updated base AMIs
  .circleci/config.yml
  e2e_tests/tests/config.py
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/aws/templates/vpc.yaml
  harness/determined/deploy/gcp/constants.py
  helm/charts/determined/templates/master-config.yaml
  master/internal/resourcemanagers/provisioner/aws_config.go
  master/internal/resourcemanagers/provisioner/gcp_config.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: cla-signed

#3394 fix: fix a conditional render loop
  harness/determined/cli/job.py
  webui/react/src/pages/JobQueue/JobQueue.tsx
Labels: cla-signed

#3408 chore: make mypy happy with requests wrapper
  harness/determined/common/requests.py
Labels: cla-signed

#3374 chore: update job queue table
  webui/react/src/components/Table.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/JobQueue/JobQueue.table.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/JobQueue/ManageJob.module.scss
  webui/react/src/pages/JobQueue/ManageJob.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/utils/job.test.ts
  webui/react/src/utils/job.ts
Labels: cla-signed

#3409 ci: fix flake in provisioner unit test
  master/internal/resourcemanagers/provisioner/provisioner_test.go
Labels: cla-signed

#3398 fix: add missing fields to allocation query and tests to prevent future bugs
  master/internal/db/postgres_jobs.go
  master/internal/db/postgres_tasks.go
  master/internal/db/postgres_tasks_intg_test.go
  master/internal/db/postgres_users.go
Labels: cla-signed, Blocking Release

#3393 fix: avoid Can't pickle local object in TestPIDServer
  harness/tests/test_ipc.py
Labels: cla-signed

#3414 fix: address experiment name going out of sync with db
  docs/release-notes/3414-fix-jobname-not-updating.txt
  master/internal/api_experiment.go
  master/internal/config/config.go
  master/internal/experiment.go
Labels: cla-signed

#3415 chore: bump env images for security.
  .circleci/config.yml
  e2e_tests/tests/config.py
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/aws/templates/vpc.yaml
  harness/determined/deploy/gcp/constants.py
  helm/charts/determined/templates/master-config.yaml
  master/internal/resourcemanagers/provisioner/aws_config.go
  master/internal/resourcemanagers/provisioner/gcp_config.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: cla-signed

#3385 fix: show correct total gpu capacity [DET-3733]
  webui/react/src/components/Navigation.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/pages/Cluster/ClusterOverview.tsx
Labels: cla-signed

#3405 feat: pass metrics to simple reducer in original order
  harness/determined/_core/_distributed.py
  harness/determined/pytorch/_reducer.py
  harness/tests/experiment/pytorch/test_reducer.py
Labels: cla-signed

#3407 docs: announce deprecation of pbt
  docs/release-notes/3407-deprecate-pbt.txt
Labels: cla-signed

#3360 feat: Add /tasks/:task_id endpoint to GRPC API [DET-6354] [DET-6355]
  harness/determined/common/api/bindings.py
  master/internal/api_task.go
  master/internal/db/database.go
  master/internal/db/postgres_tasks.go
  master/internal/mocks/db.go
  master/internal/task/allocation.go
  master/internal/task/allocation_test.go
  master/pkg/model/task.go
  master/static/migrations/20211221113503_add-allocation-state.down.sql
  master/static/migrations/20211221113503_add-allocation-state.up.sql
  master/static/srv/get_task.sql
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/task.proto
  proto/src/determined/task/v1/task.proto
  webui/react/src/pages/Wait.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Labels: cla-signed

#3411 feat: adjust job priority and weight through job queue
  docs/release-notes/3414-job-queue-adj-s1.txt
  harness/determined/cli/job.py
  harness/determined/common/api/bindings.py
  master/internal/api/error.go
  master/internal/api_job.go
  master/internal/command/command.go
  master/internal/core_experiment.go
  master/internal/experiment.go
  master/internal/job/job.go
  master/internal/resourcemanagers/agent_resource_manager.go
  master/internal/resourcemanagers/kubernetes/message.go
  master/internal/resourcemanagers/kubernetes/pod.go
  master/internal/resourcemanagers/kubernetes/pods.go
  master/internal/resourcemanagers/kubernetes_resource_manager.go
  master/internal/resourcemanagers/resource_managers.go
  master/internal/resourcemanagers/resource_pool.go
  master/internal/resourcemanagers/resource_pool_test.go
  master/internal/sproto/task_actor.go
  proto/buf.image.bin
  proto/src/determined/job/v1/job.proto
  webui/react/src/pages/JobQueue/JobQueue.table.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/JobQueue/ManageJob.module.scss
  webui/react/src/pages/JobQueue/ManageJob.tsx
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#3431 feat: allow podSpec env variables
  harness/determined/common/schemas/expconf/_gen.py
  master/internal/resourcemanagers/kubernetes/spec.go
  master/pkg/model/environment_config.go
  master/pkg/schemas/zgen_schemas.go
  schemas/expconf/v0/environment.json
Labels: cla-signed

#3427 fix: Add allocation state to db test object
  master/internal/task/allocation.go
  master/pkg/model/task.go
Labels: cla-signed

#3430 chore: validate priority and weight ranges
  master/internal/job/job.go
Labels: cla-signed

#3425 feat: Record parent_id from WebUI, return forkedFrom from API
  harness/determined/common/api/bindings.py
  master/internal/db/postgres_experiments.go
  master/static/srv/get_experiment.sql
  master/static/srv/get_experiments.sql
  proto/src/determined/experiment/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#3426 ci: log test boundary markers to managed devcluster logs.
  .circleci/config.yml
  e2e_tests/tests/cluster/test_agent_restart.py
Labels: cla-signed

#3428 fix: fix priority scheduler preemption and prioritization issues
  docs/release-notes/3428-fix-priority-scheduler-timelogic.txt
  master/internal/command/command.go
  master/internal/experiment.go
  master/internal/resourcemanagers/priority.go
  master/internal/resourcemanagers/priority_test.go
  master/internal/resourcemanagers/scheduler_test.go
  master/internal/restore.go
  master/internal/sproto/task.go
  master/internal/trial.go
  master/internal/trial_test.go
Labels: cla-signed

#3271 chore: better telemetry
  .circleci/config.yml
  harness/determined/common/api/__init__.py
  harness/determined/common/api/analytics.py
  harness/determined/common/storage/s3.py
  harness/determined/exec/harness.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/lightning/_adapter.py
  master/.goreleaser.yml
  master/Makefile
  master/cmd/determined-master/root.go
  master/internal/api_master.go
  master/internal/api_resourcepool.go
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/core.go
  master/internal/db/database.go
  master/internal/db/postgres_cluster.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_tasks.go
  master/internal/experiment.go
  master/internal/mocks/db.go
  master/internal/resourcemanagers/agent/agent.go
  master/internal/resourcemanagers/resource_pool.go
  master/internal/sproto/etc.go
  master/internal/task/allocation.go
  master/internal/task/allocation_test.go
  master/internal/telemetry/reports.go
  master/internal/telemetry/setup.go
  master/internal/telemetry/telemetry.go
  master/internal/telemetry/utils.go
  master/pkg/config/telemetry.go
  master/test/testutils/fixtures.go
  master/version/version.go
  model_hub/model_hub/huggingface/_trial.py
  model_hub/model_hub/mmdetection/_trial.py
Labels: cla-signed, Blocking Release

#3435 ci: run releases for tags with new proper SemVer format
  .circleci/config.yml
Labels: cla-signed

#3433 ci: update gauge version [DET-6432]
  webui/tests/package-lock.json
  webui/tests/package.json
  webui/tests/tests/StepImplementation.ts
Labels: cla-signed

#3416 refactor: error handler [DET-6298]
  webui/react/src/Analytics.ts
  webui/react/src/ErrorHandler.ts
  webui/react/src/components/ActionDropdown.tsx
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/components/Metadata/MetadataCard.tsx
  webui/react/src/components/NotesCard.tsx
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/hooks/useAuthCheck.ts
  webui/react/src/hooks/useCreateModelModal.tsx
  webui/react/src/hooks/useJupyterLab.ts
  webui/react/src/hooks/useModal/useModalExperimentDelete.tsx
  webui/react/src/hooks/useModal/useModalExperimentStop.tsx
  webui/react/src/hooks/useRegisterCheckpointModal.tsx
  webui/react/src/ioTypes.ts
  webui/react/src/omnibar/tree-extension/index.ts
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentMultiTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/JobQueue/ManageJob.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/SignOut.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
  webui/react/src/pages/Wait.tsx
  webui/react/src/services/utils.ts
  webui/react/src/utils/error.test.ts
  webui/react/src/utils/error.ts
  webui/react/src/utils/job.ts
Labels: cla-signed

#3383 chore: remove tools.go/go.mod dep tracking pattern, just go install versions of tools
  agent/Makefile
  agent/go.mod
  agent/go.sum
  agent/tools.go
  master/Makefile
  master/go.mod
  master/go.sum
  master/tools.go
  proto/Makefile
  proto/go.mod
  proto/go.sum
  proto/tools.go
Labels: cla-signed

#3402 test: Create Avatar component test [DET-6404]
  webui/react/src/components/Avatar.test.tsx
Labels: cla-signed

#3440 chore: update tasklist comparator
  master/internal/resourcemanagers/priority.go
  master/internal/resourcemanagers/task_list.go
  master/internal/resourcemanagers/task_list_test.go
Labels: cla-signed

#3438 test: await focusing username element
  webui/tests/bin/e2e-tests.py
  webui/tests/bin/try-for-flakes.sh
  webui/tests/tests/StepImplementation.ts
Labels: cla-signed

#3379 chore: upgrade golangci-lint to latest
  agent/.golangci.yml
  agent/Makefile
  agent/go.mod
  agent/go.sum
  agent/internal/agent_test.go
  agent/internal/docker_credential_store.go
  agent/internal/fluent_intg_test.go
  master/.golangci.yml
  master/Makefile
  master/go.mod
  master/go.sum
  master/internal/api_command.go
  master/internal/api_model.go
  master/internal/api_trials.go
  master/internal/config/config_test.go
  master/internal/db/postgres_tasks_intg_test.go
  master/internal/hpimportance/hpimportance.go
  master/internal/hpimportance/hpimportance_test.go
  master/internal/hpimportance/manager.go
  master/internal/prom/prom.go
  master/internal/resourcemanagers/kubernetes/message.go
  master/internal/resourcemanagers/kubernetes/pod_test.go
  master/internal/resourcemanagers/provisioner/aws_config.go
  master/internal/resourcemanagers/provisioner/aws_spot.go
  master/internal/resourcemanagers/provisioner/instance.go
  master/internal/rw_coordinator.go
  master/internal/sproto/globals.go
  master/internal/task/rendezvous_test.go
  master/internal/telemetry/telemetry.go
  master/internal/trial_test.go
  master/pkg/model/compat.go
  master/pkg/model/task.go
  master/pkg/model/task_container_defaults.go
  master/pkg/nprand/nprand.go
  master/pkg/schemas/expconf/experiment_config_test.go
  master/pkg/schemas/expconf/legacy.go
  master/pkg/schemas/expconf/legacy_test.go
  master/pkg/schemas/expconf/schema_test.go
  master/pkg/schemas/expconf/storage_config.go
  master/pkg/searcher/adaptive_asha_test.go
  master/pkg/searcher/asha_stopping_test.go
  master/pkg/searcher/asha_test.go
  master/pkg/searcher/grid_test.go
  master/pkg/searcher/pbt_test.go
  master/pkg/searcher/random.go
  master/pkg/searcher/random_test.go
  master/pkg/searcher/simulate.go
  master/pkg/searcher/tournament_test.go
  master/pkg/tasks/task.go
  master/pkg/tasks/task_gc.go
Labels: cla-signed

#3450 fix: check that login input is visible before logging in
  webui/tests/tests/StepImplementation.ts
Labels: cla-signed

#3451 fix: revert to prior slot utilization logic for static agents
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
Labels: cla-signed

#3413 fix: update label reference to tag [Det-5969]
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelRegistry.tsx
Labels: cla-signed

#3439 fix: update to show full version when nav sidebar is not collapsed [DET-6264]
  webui/react/src/components/NavigationSideBar.module.scss
  webui/react/src/components/NavigationSideBar.tsx
Labels: cla-signed

#3446 fix: mobile view icons for experiment header [DET-6011]
  webui/react/src/components/Icon.stories.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
Labels: cla-signed

#3441 chore: remove accidentally introduced files from webui/tests
  webui/tests/Screenshot-1629214574434.png
  webui/tests/Screenshot-1629214596697.png
  webui/tests/Screenshot-1629215202453.png
  webui/tests/Screenshot-1629215224583.png
Labels: cla-signed

#3286 chore: improve webui analytics [DET-4857, DET-4859]
  webui/react/src/Analytics.ts
  webui/react/src/App.tsx
  webui/react/src/components/UserSelectFilter.stories.tsx
  webui/react/src/hooks/useRouteTracker.ts
  webui/react/src/hooks/useTelemetry.ts
  webui/react/src/pages/SignIn.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
  webui/react/src/utils/error.ts
Labels: cla-signed

#3453 fix: avoid terminating profiler streaming [DET-6459]
  docs/release-notes/3453-fix-profiler-filtering.txt
  webui/react/src/pages/TrialDetails/Profiles/useFetchMetrics.tsx
Labels: cla-signed

#3456 fix: model-hub transformers ner example
  model_hub/examples/huggingface/token-classification/ner_config.yaml
Labels: cla-signed

#3454 fix: Update sample models code for Determined client
  harness/determined/common/experimental/determined.py
  harness/determined/experimental/client.py
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
Labels: cla-signed

#3465 fix: Allow allocations array to be empty without null value
  master/static/srv/get_task.sql
  webui/react/src/pages/Wait.tsx
Labels: cla-signed

#3455 chore: update netlify address
  netlify.toml
Labels: cla-signed

#3429 chore: cli to report job entity id
  harness/determined/cli/job.py
Labels: cla-signed

#3459 fix: make systemd socket activation actually work
  master/internal/core.go
Labels: cla-signed

#3467 build: make -C master doesn't call make fmt
  master/Makefile
  master/internal/resourcemanagers/task_list_test.go
Labels: cla-signed

#3437 fix: jq write k8s label
  master/internal/resourcemanagers/kubernetes/message.go
  master/internal/resourcemanagers/kubernetes/pods.go
  master/internal/resourcemanagers/kubernetes_resource_manager.go
Labels: cla-signed

#3400 docs: describe oidc integration for enterprise
  docs/sysadmin-basics/oidc.txt
Labels: cla-signed

#3469 ci: increase timeouts for GKE cluster creation, move notifications from #ml-ag to #ci-bots.
  .circleci/config.yml
Labels: cla-signed

#3462 fix: use different tf on macos
  e2e_tests/tests/requirements.txt
  examples/tests/requirements.txt
Labels: cla-signed

#3463 fix: HP viz 'Apply' button style [DET-6442]
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
Labels: cla-signed

#3461 fix: jq error changing ntbcs priority
  master/internal/command/command.go
Labels: cla-signed

#3475 docs: add release notes for 0.17.6
  docs/release-notes.txt
  docs/release-notes/3122-docs-onboarding.txt
  docs/release-notes/3282-rocm.txt
  docs/release-notes/3304-fix-cpu-core-count.txt
  docs/release-notes/3308-pull-logs.txt
  docs/release-notes/3372-fix-jupyterlab-fullconfig-edit.txt
  docs/release-notes/3377-rm36.txt
  docs/release-notes/3407-deprecate-pbt.txt
  docs/release-notes/3414-fix-jobname-not-updating.txt
  docs/release-notes/3414-job-queue-adj-s1.txt
  docs/release-notes/3453-fix-profiler-filtering.txt
  docs/release-notes/socket-activation.txt
  docs/sysadmin-basics/cluster-config.txt
  docs/training-apis/index.txt
Labels: cla-signed

#3418 chore: Move parts of Experiment CLI to GRPC API
  e2e_tests/tests/cluster/test_users.py
  harness/determined/cli/experiment.py
  harness/determined/common/api/__init__.py
  harness/determined/common/api/experiment.py
  master/internal/api_experiment.go
  master/internal/core_experiment.go
  proto/src/determined/api/v1/experiment.proto
Labels: cla-signed

#3476 chore: address "key" prop warnings
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelRegistry.tsx
Labels: cla-signed

#3471 fix: update task list Resource Pool sorter to alphaNumericSorter [DET-6434]
  webui/react/src/pages/TaskList.tsx
Labels: cla-signed

#3445 feat: add columns to experiment list table [DET-6400]
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
  webui/react/src/utils/task.ts
  webui/tests/specs/03-cleanup.spec
  webui/tests/tests/StepImplementation.ts
Labels: cla-signed

#3436 chore: move jq messages to jq fn
  master/internal/resourcemanagers/kubernetes_resource_manager.go
  master/internal/resourcemanagers/resource_pool.go
Labels: cla-signed

#3460 chore: support concurrent agents with matching fluent names.
  agent/internal/fluent.go
Labels: cla-signed

#3464 chore: associate gc tasks with their job
  master/internal/api_experiment.go
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/core_experiment.go
  master/internal/experiment.go
  master/internal/resourcemanagers/job.go
  master/internal/resourcemanagers/priority_test.go
  master/internal/resourcemanagers/scheduler_test.go
  master/internal/resourcemanagers/task_list.go
  master/internal/resourcemanagers/task_list_test.go
  master/internal/sproto/task.go
  master/internal/trial.go
Labels: cla-signed

#3484 fix: running experiment log misbehave [DET-6339]
  webui/react/src/components/LogViewerCore.tsx
Labels: cla-signed

#3443 test: support running auth test suite to run independently
  webui/tests/specs/02-authentication.spec
  webui/tests/specs/03-cleanup.spec
  webui/tests/tests/StepImplementation.ts
Labels: cla-signed

#3481 fix: resolve previous `/agents` fetch before polling for a new one [DET-6490]
  webui/react/src/components/Navigation.tsx
  webui/react/src/hooks/usePolling.ts
Labels: cla-signed

#3474 refactor: migrate scatter plot to uplot [DET-6376m, DET-6377]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/HumanReadableNumber.tsx
  webui/react/src/components/LearningCurveChart.tsx
  webui/react/src/components/ScatterPlot.module.scss
  webui/react/src/components/ScatterPlot.tsx
  webui/react/src/components/UPlot/UPlotChart.tsx
  webui/react/src/components/UPlot/UPlotChart/closestPointPlugin.module.scss
  webui/react/src/components/UPlot/UPlotChart/closestPointPlugin.ts
  webui/react/src/components/UPlot/UPlotChart/tooltipsPlugin.module.scss
  webui/react/src/components/UPlot/UPlotChart/tooltipsPlugin.ts
  webui/react/src/components/UPlot/UPlotChart/trackAxis.module.scss
  webui/react/src/components/UPlot/UPlotChart/trackAxis.ts
  webui/react/src/components/UPlot/UPlotScatter.module.scss
  webui/react/src/components/UPlot/UPlotScatter.tsx
  webui/react/src/components/UPlot/UPlotScatter/UPlotScatter.utils.ts
  webui/react/src/components/UPlot/UPlotScatter/quadtree.ts
  webui/react/src/components/UPlot/UPlotScatter/useScatterPointTooltipPlugin.module.scss
  webui/react/src/components/UPlot/UPlotScatter/useScatterPointTooltipPlugin.ts
  webui/react/src/components/UPlot/types.ts
  webui/react/src/pages/Cluster/ClusterHistoricalUsageChart.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpHeatMaps.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpScatterPlots.tsx
  webui/react/src/pages/TrialDetails/Profiles/ProfilesEnabled.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/utils/color.ts
  webui/react/src/utils/number.ts
Labels: cla-signed

#3483 chore: Remove deprecated routes from old API
  docs/release-notes/3483-remove-deprecated-from-experiment-api.txt
  harness/determined/cli/experiment.py
  master/internal/core.go
  master/internal/core_experiment.go
Labels: cla-signed

#3493 chore: add telemetry for data layer usage [DET-5338]
  harness/determined/_data_layer/_data_layer.py
Labels: cla-signed

#3494 fix: increment runID during allocation
  master/internal/trial.go
Labels: cla-signed

#3406 ci: increase resource_class for Docker image scan
  .circleci/config.yml
Labels: cla-signed

#3486 chore: Use model's name as its identifier
  docs/release-notes/3486-use-model-name-as-identifier.txt
  e2e_tests/tests/cluster/test_model_registry.py
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/model.py
  harness/determined/experimental/client.py
  master/internal/api_model.go
  master/static/migrations/20220125131305_remove-model-name-slashes.down.sql
  master/static/migrations/20220125131305_remove-model-name-slashes.up.sql
  master/static/srv/archive_model.sql
  master/static/srv/delete_model.sql
  master/static/srv/get_model.sql
  master/static/srv/get_models.sql
  master/static/srv/unarchive_model.sql
  proto/buf.image.bin
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/model.proto
  webui/react/src/components/InlineEditor.tsx
  webui/react/src/components/Table.tsx
  webui/react/src/hooks/useCreateModelModal.tsx
  webui/react/src/hooks/useRegisterCheckpointModal.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/routes/routes.ts
  webui/react/src/routes/utils.ts
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed, User-facing API Change

#3482 chore: wui error handling; api error handling
  webui/react/.eslintrc.js
  webui/react/src/components/ActionDropdown.tsx
  webui/react/src/components/JupyterLabModal.tsx
  webui/react/src/hooks/useFetch.ts
  webui/react/src/hooks/useModal/useModalExperimentCreate.tsx
  webui/react/src/hooks/useSettings.ts
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/services/utils.ts
  webui/react/src/utils/error.ts
Labels: cla-signed

#3505 chore: print trial logs if trial ends with 0 steps
  e2e_tests/tests/experiment/experiment.py
Labels: cla-signed

#3500 feat: stopping and starting polling based on page visibility [DET-6604]
  docs/release-notes/3500-page-visibility-polling.txt
  webui/react/src/App.tsx
  webui/react/src/contexts/Store.tsx
  webui/react/src/hooks/usePageVisibility.ts
  webui/react/src/hooks/usePolling.ts
Labels: cla-signed

#3509 ci: remove test-e2e-webui from circleci [DET-6607]
  .circleci/config.yml
Labels: cla-signed

#3512 chore: add docs for specifying priority behavior in k8s
  docs/concepts/scheduling.txt
  docs/sysadmin-deploy-on-k8s/index.txt
  docs/training-apis/experiment-config.txt
Labels: cla-signed

#3470 feat: jq allow exp change RPs
  harness/determined/cli/job.py
  master/internal/experiment.go
  master/internal/job/job.go
  master/internal/resourcemanagers/kubernetes_resource_manager.go
  master/internal/resourcemanagers/resource_pool.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/trial.go
Labels: cla-signed

#3515 chore: fix spacing in ui update message
  webui/react/src/App.tsx
Labels: cla-signed

#3479 feat: additional pytorch callbacks [DET-5180]
  docs/release-notes/3479-new-pytorch-callback-method.txt
  harness/determined/pytorch/_callback.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/lightning/_adapter.py
  harness/tests/experiment/fixtures/pytorch_xor_model.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  model_hub/model_hub/mmdetection/_callbacks.py
Labels: cla-signed, User-facing API Change

#3514 chore: simplify generated code for optional param handling
  bindings/generate_bindings.py
  harness/determined/common/api/bindings.py
Labels: cla-signed

#3520 fix: move python launch logger setup to not miss important log
  harness/determined/exec/launch.py
Labels: cla-signed

#3343 chore: unitless searcher [DET-6359]
  docs/release-notes/3343-unitless-searcher.txt
  e2e_tests/tests/experiment/experiment.py
  harness/determined/_core/__init__.py
  harness/determined/_core/_context.py
  harness/determined/_core/_searcher.py
  harness/determined/cli/cli.py
  harness/determined/common/api/bindings.py
  harness/determined/common/schemas/__init__.py
  harness/determined/common/schemas/_schema_base.py
  harness/determined/common/schemas/expconf/_gen.py
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/layers/_workload_sequencer.py
  master/internal/api_experiment.go
  master/internal/trial_test.go
  master/pkg/schemas/expconf/length.go
  master/pkg/schemas/zgen_schemas.go
  master/pkg/searcher/adaptive_asha.go
  master/pkg/searcher/asha.go
  master/pkg/searcher/asha_stopping.go
  master/pkg/searcher/grid.go
  master/pkg/searcher/operations.go
  master/pkg/searcher/pbt.go
  master/pkg/searcher/random.go
  master/pkg/searcher/simulate.go
  master/pkg/searcher/util_test.go
  proto/buf.image.bin
  proto/src/determined/experiment/v1/searcher.proto
  schemas/expconf/v0/searcher-adaptive-asha.json
  schemas/expconf/v0/searcher-adaptive-simple.json
  schemas/expconf/v0/searcher-grid.json
  schemas/expconf/v0/searcher-length.json
  schemas/expconf/v0/searcher-pbt.json
  schemas/expconf/v0/searcher-random.json
  schemas/expconf/v0/searcher-single.json
  schemas/test_cases/v0/searchers.yaml
  webui/react/src/hooks/useModal/useModalExperimentCreate.tsx
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed, User-facing API Change

#3508 feat: create user settings modal
  webui/react/src/components/Avatar.module.scss
  webui/react/src/components/Avatar.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/hooks/useModal/useModalUserSettings.module.scss
  webui/react/src/hooks/useModal/useModalUserSettings.tsx
Labels: cla-signed

#3516 feat: basic audit logging [DET-6370]
  master/internal/audit.go
  master/internal/audit_test.go
  master/internal/config/config.go
  master/internal/context/context.go
  master/internal/core.go
Labels: cla-signed

#3517 fix: clear out the error if there are no errors upon each keystroke [DET-6614]
  webui/react/src/hooks/useModal/useModalExperimentCreate.tsx
Labels: cla-signed

#3519 fix: add abort mechanism to stop actor deadlocks, check resource staleness on receipt
  master/internal/task/allocation.go
  master/internal/task/errors.go
  master/pkg/actor/response.go
Labels: cla-signed

#3518 feat: make k8s fluent bit sidecar image configurable
  docs/sysadmin-basics/cluster-config.txt
  master/internal/resourcemanagers/kubernetes/pod.go
  master/internal/resourcemanagers/kubernetes/pod_test.go
  master/internal/resourcemanagers/kubernetes/pods.go
  master/internal/resourcemanagers/kubernetes/spec.go
  master/internal/resourcemanagers/kubernetes_resource_manager.go
  master/internal/resourcemanagers/resource_manager_config.go
Labels: cla-signed

#3523 fix: correct for out-of-order PR landing
  harness/determined/common/api/bindings.py
Labels: cla-signed

#3501 fix: Escape model name in Python sample code [DET-6603]
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
Labels: cla-signed

#3528 fix: Patch issue with registering a checkpoint to a model version [DET-6622]
  webui/react/src/hooks/useRegisterCheckpointModal.tsx
Labels: cla-signed
