Repository determined-ai/determined, pull requests merged in 2022-07, with the labels that each got.

#4465 test: tweak `test_agent_reconnect_keep_experiment` test timeouts.
  e2e_tests/tests/cluster/test_agent_restart.py
Labels: cla-signed

#4460 feat: support non-root init container k8s [DET-7109]
  docs/release-notes/non-root-init-k8s.txt
  master/internal/resourcemanagers/kubernetes/spec.go
  master/internal/resourcemanagers/kubernetes/volumes.go
  master/pkg/archive/archive.go
  master/pkg/model/agent_user_group.go
  master/pkg/tasks/task.go
  master/static/srv/k8_init_container_entrypoint.sh
Labels: cla-signed

#4394 feat: persist user web setting [DET-7501]
  harness/determined/common/api/bindings.py
  master/internal/api_user.go
  master/internal/db/postgres_users.go
  master/pkg/model/user.go
  master/static/migrations/20220701163900_add-settings-table.tx.down.sql
  master/static/migrations/20220701163900_add-settings-table.tx.up.sql
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/user.proto
  proto/src/determined/user/v1/user.proto
  webui/react/src/hooks/useSettings.ts
  webui/react/src/hooks/useStorage.ts
  webui/react/src/omnibar/tree-extension/trees/dev.ts
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/shared/utils/storage.ts
Labels: cla-signed, shared-web

#4447 fix: close button should not show in non-embedded log viewer [DET-7723]
  webui/react/src/components/LogViewer/LogViewer.test.tsx
  webui/react/src/components/LogViewer/LogViewer.tsx
Labels: cla-signed

#4429 fix: add priority scheduler e2e tests [DET-7106]
  .circleci/config.yml
  .circleci/devcluster/double-reattach.devcluster.yaml
  .circleci/devcluster/priority.devcluster.yaml
  e2e_tests/tests/cluster/conftest.py
  e2e_tests/tests/cluster/managed_cluster.py
  e2e_tests/tests/cluster/test_agent_restart.py
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/cluster/test_priority_scheduler.py
  e2e_tests/tests/cluster/utils.py
  e2e_tests/tests/experiment/experiment.py
Labels: cla-signed

#4474 fix: correct path selector for tensorboard upload
  harness/determined/_trial_controller.py
  harness/determined/tensorboard/util.py
Labels: cla-signed

#4467 fix: allocation errors on finished hp search [DET-7724]
  master/internal/task/allocation.go
Labels: cla-signed

#4495 test: fix editable metadata test flake [DET-7782]
  webui/react/src/components/Metadata/EditableMetadata.test.tsx
Labels: cla-signed

#4485 feat: environment_variables in task_container_defaults [DET-7638]
  docs/release-notes/task-container-env-defaults.txt
  docs/sysadmin-basics/cluster-config.txt
  master/internal/resourcemanagers/kubernetes/spec_test.go
  master/pkg/model/defaults.go
  master/pkg/model/experiment_config_test.go
  master/pkg/model/task_container_defaults.go
  master/pkg/model/task_container_defaults_test.go
  master/pkg/schemas/expconf/environment_config.go
Labels: cla-signed

#4499 fix: make actor system `GetOrElseTimeout` actually timeout.
  master/pkg/actor/response.go
  master/pkg/actor/response_test.go
Labels: cla-signed

#4452 chore: add helpers for working with shared-code
  web
  webui/react/Makefile
  webui/react/src/shared/bin/test.py
Labels: cla-signed, shared-web

#4489 docs: minor improvements and Homebrew build instructions
  CONTRIBUTING.md
Labels: cla-signed

#4491 docs: add release notes for 0.18.3
  docs/release-notes.txt
  docs/release-notes/4142-tensorboard-profiler-data-from-workers.txt
  docs/release-notes/4391-cluster-overview.txt
  docs/release-notes/4412-registry-auth.txt
  docs/release-notes/additional_fluent_outputs.txt
  docs/release-notes/agent-config-path.txt
  docs/release-notes/non-root-init-k8s.txt
  docs/release-notes/rolling-commands.txt
  docs/release-notes/shm-size-str.txt
  docs/release-notes/state-wrong-allocation-state.txt
Labels: cla-signed

#4503 test: fix local time tests [DET-7449]
  webui/react/src/shared/utils/datetime.test.ts
Labels: cla-signed, shared-web

#4504 test: set up shared web to test also with local strategy
  webui/react/Makefile
  webui/react/src/shared/.circleci/config.yml
  webui/react/src/shared/.github/pull_request_template.md
  webui/react/src/shared/bin/test.py
Labels: cla-signed, shared-web

#4507 feat: new searcher name custom in experiment config
  docs/training-apis/experiment-config.txt
  harness/determined/common/schemas/expconf/_gen.py
  harness/determined/common/schemas/expconf/_v0.py
  master/pkg/schemas/zgen_schemas.go
  schemas/expconf/v0/searcher-custom.json
  schemas/expconf/v0/searcher.json
  schemas/test_cases/v0/searchers.yaml
Labels: cla-signed

#4514 feat: add square and noColor props to avatar component
  webui/react/src/shared/components/Avatar/Avatar.tsx
  webui/react/src/shared/types.ts
  webui/react/src/shared/utils/string.ts
Labels: cla-signed, shared-web

#4502 style: add uplot cursor styles for dark mode [DET-7505]
  webui/react/src/components/UPlot/UPlotChart.module.scss
  webui/react/src/components/UPlot/UPlotChart.tsx
Labels: cla-signed

#4521 fix: custom searcher schema
  harness/determined/common/schemas/expconf/_gen.py
  master/internal/api_experiment.go
  master/pkg/schemas/expconf/latest.go
  master/pkg/schemas/expconf/schema_test.go
  master/pkg/schemas/expconf/searcher_config.go
  master/pkg/schemas/expconf/zgen_custom_config_v0.go
  master/pkg/schemas/expconf/zgen_searcher_config_v0.go
  master/pkg/schemas/zgen_schemas.go
  master/pkg/searcher/search_method.go
  schemas/expconf/v0/searcher-custom.json
  schemas/expconf/v0/searcher.json
Labels: cla-signed

#4512 fix: ensure correct master url is used for priority scheduler and other managed devcluster tests.
  e2e_tests/tests/cluster/managed_cluster.py
  e2e_tests/tests/cluster/test_agent_restart.py
  e2e_tests/tests/cluster/test_priority_scheduler.py
  e2e_tests/tests/cluster/utils.py
Labels: cla-signed

#4496 docs: add ClusterInfo docs
  docs/training-apis/api-core/reference.txt
  harness/determined/_info.py
  harness/determined/core/_tensorboard_mode.py
Labels: cla-signed

#4527 test: `set_priority` should respect the master url.
  e2e_tests/tests/experiment/experiment.py
Labels: cla-signed

#4513 feat: docker auth improvements [DET-7633, DET-7636]
  agent/go.mod
  agent/go.sum
  agent/internal/docker.go
  agent/internal/docker_credential_store.go
  agent/internal/docker_test.go
  docs/release-notes/dont-send-docker-creds-to-any-server.txt
  docs/sysadmin-basics/cluster-config.txt
  docs/training-apis/experiment-config.txt
  e2e_tests/tests/deploy/test_local.py
Labels: cla-signed

#4517 fix: skip gzip only for proxy web assets [DET-7802]
  master/internal/core.go
Labels: cla-signed

#4529 fix: text color in Hyperparameters page
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.module.scss
Labels: cla-signed

#4523 test: update avatar tests to remove warnings
  webui/react/src/components/UserAvatar.test.tsx
  webui/react/src/components/UserAvatar.tsx
  webui/react/src/shared/components/Avatar/Avatar.test.tsx
Labels: cla-signed, shared-web

#4530 test: disable flaky test for now
  webui/react/src/components/Metadata/EditableMetadata.test.tsx
Labels: cla-signed

#4537 fix: change `short ID` width
  webui/react/src/pages/TaskList.settings.ts
Labels: cla-signed

#4536 fix: rename lable `restarts` to `auto restarts`
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.settings.ts
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.table.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.stories.tsx
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.stories.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/storybook/shared/generateTestExperiments.ts
  webui/react/src/types.ts
Labels: cla-signed

#4541 chore: temporary-disable-dependabumps
  .github/dependabot.yml
Labels: cla-signed

#4532 chore: agent sends log level with agent added container logs
  agent/internal/container.go
  agent/internal/docker.go
  master/internal/resourcemanagers/agent/agent.go
  master/pkg/aproto/master_message.go
Labels: cla-signed

#4538 fix: scroll bar overlap
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.module.scss
Labels: cla-signed

#4542 fix: tensorboard redirecting due to missing rp [DET-7813]
  master/internal/resourcemanagers/kubernetes_resource_manager.go
Labels: cla-signed

#4510 feat: update allocation bar legend logic [DET-7683]
  web
  webui/react/src/components/SlotAllocationBar.tsx
Labels: cla-signed

#4508 fix: polish cluster page UI [DET-7682]
  webui/react/src/components/ResourcePoolCardLight.module.scss
  webui/react/src/pages/Clusters.module.scss
Labels: cla-signed

#4548 fix: rename window title
  webui/react/src/pages/ProjectDetails.tsx
Labels: cla-signed

#4519 chore: User Groups SQL
  master/internal/db/postgres.go
  master/internal/db/postgres_users.go
  master/internal/usergroup/group_intg_test.go
  master/internal/usergroup/postgres_groups.go
  master/internal/usergroup/user_group.go
  master/static/migrations/20220706152654_add-user-groups.tx.down.sql
  master/static/migrations/20220706152654_add-user-groups.tx.up.sql
Labels: cla-signed

#4551 fix: hide description placeholder when archived
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
Labels: cla-signed

#4556 fix: correct allocation end times when it is set on restoration failure
  docs/release-notes/fix-allocation-end-times-on-restore-failure.txt
  master/internal/task/allocation.go
  master/static/migrations/20220714191840_fixup-allocation-endtimes.tx.down.sql
  master/static/migrations/20220714191840_fixup-allocation-endtimes.tx.up.sql
Labels: cla-signed

#4469 chore: remove activemetric duplication [DET-7737]
  webui/react/src/pages/ExperimentComparison/CompareVisualization.tsx
Labels: cla-signed

#4544 fix: increase time to wait for command in priority scheduler test
  e2e_tests/tests/cluster/test_priority_scheduler.py
Labels: cla-signed

#4547 docs: add release notes for 0.18.4
  docs/release-notes.txt
  docs/release-notes/4493-model-def.txt
  docs/release-notes/task-container-env-defaults.txt
Labels: cla-signed

#3905 perf: improve deepspeed checkpointing for sharedfs
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
Labels: cla-signed

#4535 ci: switch to custom-built container image
  .circleci/config.yml
Labels: cla-signed

#4546 ci(scan-docker-images): migrate to gha
  .github/workflows/scan-docker-images.yml
  .grype.yaml
Labels: cla-signed

#4558 feat: remove reset column widths button [DET-7675]
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/TaskList.tsx
Labels: cla-signed

#4559 refactor: make sso a plugin [DET-7560]
  master/internal/api_master.go
  master/internal/core.go
  master/internal/db/database.go
  master/internal/plugin/sso/sso.go
Labels: cla-signed

#4552 feat: Place experiment in a project using CLI [DET-7720]
  harness/determined/cli/experiment.py
  master/static/srv/get_experiments.sql
Labels: cla-signed

#4561 chore: eslint keyword spacing
  webui/react/src/components/ActionSheet.tsx
  webui/react/src/components/Json.tsx
  webui/react/src/components/PageMessage.tsx
  webui/react/src/components/SlotAllocationBar.tsx
  webui/react/src/components/UPlot/SyncableBounds.tsx
  webui/react/src/components/UPlot/UPlotChart.tsx
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.tsx
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpointRegister.tsx
  webui/react/src/hooks/useModal/Columns/useModalColumnsCustomize.tsx
  webui/react/src/hooks/useSettings.ts
  webui/react/src/omnibar/tree-extension/utils.ts
  webui/react/src/pages/Clusters/ClustersQueuedChart.tsx
  webui/react/src/pages/ExperimentComparison.tsx
  webui/react/src/pages/ExperimentComparison/CompareVisualization.tsx
  webui/react/src/pages/InteractiveTask.tsx
  webui/react/src/pages/JobQueue/ManageJob.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/ResourcepoolDetail.tsx
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.tsx
  webui/react/src/routes/utils.ts
  webui/react/src/services/decoder.test.ts
  webui/react/src/services/utils.ts
  webui/react/src/shared/configs/eslintrc.js
  webui/react/src/shared/utils/storage.ts
Labels: cla-signed, shared-web

#4567 fix: expconf copy timeout triggering when it shouldn't
  master/internal/core_experiment.go
  master/internal/experiment.go
Labels: cla-signed

#4568 chore: add docs to codeowners
  .github/CODEOWNERS
Labels: cla-signed

#4564 fix: missing `key` for rows
  webui/react/src/pages/WorkspaceDetails.tsx
Labels: cla-signed

#4554 fix: storybook rendering issue
  .circleci/config.yml
  webui/react/.storybook/main.js
  webui/react/.storybook/preview.js
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/CheckpointModalTrigger.stories.tsx
  webui/react/src/components/Dropdown.stories.tsx
  webui/react/src/components/Link.stories.tsx
  webui/react/src/components/LogViewer/LogViewer.stories.tsx
  webui/react/src/components/NavigationSideBar.stories.tsx
  webui/react/src/components/NavigationTabbar.stories.tsx
  webui/react/src/components/NotesCard.stories.tsx
  webui/react/src/components/Table.stories.tsx
  webui/react/src/components/UserSelectFilter.stories.tsx
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.stories.tsx
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.stories.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpTrialTable.stories.tsx
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.stories.tsx
  webui/react/src/shared/styles/storybook.scss
  webui/react/src/storybook/RouterDecorator.ts
  webui/react/src/storybook/StoreDecorator.ts
  webui/react/src/storybook/ThemeDecorator.ts
Labels: cla-signed, shared-web

#4578 fix: double scroll bar
  webui/react/src/components/InteractiveTable.module.scss
Labels: cla-signed

#4580 chore: tweak ilia's CODEOWNERS.
  .github/CODEOWNERS
Labels: cla-signed

#4582 fix: allow zero slots for JupyterLab in modal
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.tsx
Labels: cla-signed

#4560 feat: add custom search method and event queue [DET-7716]
  e2e_tests/tests/experiment/test_custom_searcher.py
  harness/determined/common/api/bindings.py
  master/internal/experiment.go
  master/pkg/searcher/asha.go
  master/pkg/searcher/asha_stopping.go
  master/pkg/searcher/custom_search.go
  master/pkg/searcher/custom_searcher_events_queue.go
  master/pkg/searcher/search_method.go
  master/pkg/searcher/searcher.go
  master/pkg/searcher/tournament.go
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/experiment/v1/searcher.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#4587 ci(test-e2e): move optional jobs into own workflow
  .circleci/config.yml
Labels: cla-signed

#4575 ci(test-cli): migrate to gha workflow
  .bumpversion.cfg
  .github/workflows/test-cli.yml
Labels: cla-signed

#4586 fix: zero slot tasks k8s using wrong image and exposing all GPUs [DET-7808]
  docs/release-notes/zero-slot-k8s.txt
  master/internal/resourcemanagers/kubernetes/spec.go
Labels: cla-signed

#4476 fix: notebook ignores --template CLI param and notebooks still launch if --preview param is set [DET-7632]
  docs/release-notes/fix-notebook-ignore-template.txt
  e2e_tests/tests/fixtures/templates/template.yaml
  e2e_tests/tests/template/test_template.py
  harness/determined/cli/notebook.py
Labels: cla-signed

#4563 feat: open tasks in embedded task view in CLI [DET-7686]
  harness/determined/cli/notebook.py
  harness/determined/cli/tensorboard.py
  harness/determined/common/api/request.py
Labels: cla-signed

#4573 feat: add sort and order to users api [DET-7828]
  harness/determined/common/api/bindings.py
  master/internal/api_user.go
  master/static/srv/get_users.sql
  proto/src/determined/api/v1/user.proto
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
Labels: cla-signed

#4175 docs: update description of telemetry reporting
  docs/sysadmin-basics/cluster-config.txt
Labels: cla-signed

#4596 test: add checklist for testing shared changes
  .github/CODEOWNERS
  .github/pull_request_template.md
Labels: cla-signed

#4589 fix: ignore order for Set isEqual [DET-7822]
  webui/react/src/shared/utils/data.test.ts
  webui/react/src/shared/utils/data.ts
Labels: cla-signed, shared-web

#4584 chore: add cache to tools/devcluster.yaml
  tools/devcluster.yaml
Labels: cla-signed

#4577 feat: text search for task/trial logs [DET-7446]
  master/internal/api/filters.go
  master/internal/api_tasks.go
  master/internal/api_trials.go
  master/internal/db/postgres_filters.go
  master/internal/elastic/elastic_task_logs.go
  proto/src/determined/api/v1/task.proto
  proto/src/determined/api/v1/trial.proto
  webui/react/src/components/LogViewer/LogViewerFilters.settings.ts
  webui/react/src/components/LogViewer/LogViewerFilters.test.tsx
  webui/react/src/components/LogViewer/LogViewerFilters.tsx
  webui/react/src/components/TrialLogPreview.tsx
  webui/react/src/pages/TaskLogs.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#4591 ci(lint-secrets): migrate to gha workflow
  .github/workflows/lint-secrets.yml
Labels: cla-signed

#4592 ci(lint-react): migrate to gha workflow
  .github/workflows/lint-react.yml
Labels: cla-signed

#4570 fix: helm option "defaultPassword" caused the deployment to hang [DET-7814]
  docs/release-notes/default-password-k8-fix.txt
  helm/charts/determined/scripts/k8s-password-change.py
  helm/charts/determined/templates/change-password.yaml
Labels: cla-signed

#4594 fix: Drop rendezvous interface warning (FOUNDENG-139)
  harness/determined/exec/prep_container.py
Labels: cla-signed

#4605 docs: shorten landing page tile descriptions
  docs/index.rst
Labels: cla-signed

#4595 style: fix spacing for tabs and headers [DET-7823]
  webui/react/src/pages/Clusters.tsx
  webui/react/src/pages/ProjectDetails/ProjectDetailsTabs.module.scss
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceDetailsHeader.module.scss
  webui/react/src/shared/styles/antd.scss
Labels: cla-signed, shared-web

#4553 fix: rocm-smi workaround without product info
  agent/internal/rocm.go
  harness/determined/gpu.py
Labels: cla-signed

#4576 fix: flaky test caused by compare stats [DET-7838]
  e2e_tests/tests/nightly/compute_stats.py
Labels: cla-signed

#4571 chore: share useModal hook [DET-7781]
  webui/react/src/components/CheckpointModalTrigger.tsx
  webui/react/src/components/PaginatedNotesCard.tsx
  webui/react/src/components/TableFilterDropdown.tsx
  webui/react/src/components/UPlot/UPlotChart.tsx
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.test.tsx
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.tsx
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpointRegister.tsx
  webui/react/src/hooks/useModal/Columns/useModalColumnsCustomize.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentCreate.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentDelete.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentMove.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentStop.tsx
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.tsx
  webui/react/src/hooks/useModal/Model/useModalModelCreate.tsx
  webui/react/src/hooks/useModal/Model/useModalModelDelete.tsx
  webui/react/src/hooks/useModal/Model/useModalModelDownload.tsx
  webui/react/src/hooks/useModal/Model/useModalModelVersionDelete.tsx
  webui/react/src/hooks/useModal/Project/useModalProjectCreate.tsx
  webui/react/src/hooks/useModal/Project/useModalProjectDelete.tsx
  webui/react/src/hooks/useModal/Project/useModalProjectEdit.tsx
  webui/react/src/hooks/useModal/Project/useModalProjectMove.tsx
  webui/react/src/hooks/useModal/Project/useModalProjectNoteDelete.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalNameChange.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalPasswordChange.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceCreate.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceDelete.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceEdit.tsx
  webui/react/src/hooks/useSettings.ts
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/shared/hooks/useModal/useModal.tsx
  webui/react/src/shared/hooks/usePrevious.ts
  webui/react/src/shared/types.ts
Labels: cla-signed, shared-web

#4599 chore: add attr to track api state has been initialized
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/shared/types.ts
Labels: cla-signed, shared-web

#4609 docs: model definition file cache
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/release-notes/7465-model-definition-file-cache.txt
Labels: cla-signed

#4613 ci(circleci): remove determined-ci context ref
  .circleci/config.yml
Labels: cla-signed

#4381 fix: reject reconnecting agents with different device configuration [DET-7568]
  .circleci/devcluster/double-reattach.devcluster.yaml
  agent/internal/agent.go
  agent/internal/detect.go
  e2e_tests/tests/cluster/managed_cluster.py
  e2e_tests/tests/cluster/test_master_restart.py
  master/internal/resourcemanagers/agent/agent.go
  master/internal/resourcemanagers/agent/agent_state.go
  master/pkg/aproto/agent_message.go
Labels: cla-signed

#4604 ci: test downstream
  .circleci/config.yml
  webui/react/src/shared/bin/test.py
Labels: cla-signed, shared-web

#4606 chore: remove getProjectExperiments and merge into getExperiments
  docs/release-notes/4606-get-experiments-consolidation.txt
  e2e_tests/tests/cluster/test_workspace_org.py
  e2e_tests/tests/experiment/experiment.py
  harness/determined/cli/experiment.py
  harness/determined/cli/project.py
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_project.go
  master/static/srv/get_experiment.sql
  master/static/srv/get_experiments.sql
  proto/buf.image.bin
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/api/v1/project.proto
  proto/src/determined/experiment/v1/experiment.proto
  webui/react/src/components/Table.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
Labels: cla-signed, User-facing API Change

#3306 chore: implement closeBar feature for omnibar
  webui/react/src/App.tsx
  webui/react/src/omnibar/Omnibar.tsx
  webui/react/src/omnibar/tree-extension/index.ts
  webui/react/src/omnibar/tree-extension/trees/actions.tsx
  webui/react/src/omnibar/tree-extension/trees/dev.ts
  webui/react/src/omnibar/tree-extension/trees/goto.ts
Labels: cla-signed

#4621 ci(lint-docs): migrate to gha workflow
  .github/workflows/lint-docs.yml
Labels: cla-signed

#4630 chore: enhance GitHub issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: cla-signed

#4610 test: fix EditableMetadata test flake
  webui/react/src/components/Metadata/EditableMetadata.test.tsx
  webui/react/src/components/Metadata/EditableRow.tsx
Labels: cla-signed

#4632 chore: handle new type-pyopenssl pacakage
  harness/determined/cli/cli.py
Labels: cla-signed

#4626 feat: pluggable authorization for RBAC.
  master/.golangci.yml
  master/internal/api_user.go
  master/internal/authz/authz_provider_type.go
  master/internal/config/authz_config.go
  master/internal/config/config.go
  master/internal/db/postgres.go
  master/internal/user/authz_basic_impl.go
  master/internal/user/authz_iface.go
  master/internal/user/authz_unrestricted_impl.go
  master/internal/user/service.go
  master/internal/usergroup/postgres_groups.go
Labels: cla-signed

#4612 chore: allow setting context type for useModal
  webui/react/src/shared/hooks/useModal/useModal.tsx
Labels: cla-signed, shared-web

#4633 chore: fix docs/.gitignore to use .rst
  docs/.gitignore
Labels: cla-signed

#4607 feat: User management list view [DET-7796]
  master/internal/api_user.go
  master/static/srv/set_user_display_name.sql
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/UserAvatar.test.tsx
  webui/react/src/hooks/useFetch.ts
  webui/react/src/pages/Settings.tsx
  webui/react/src/pages/Settings/UserManagement.module.scss
  webui/react/src/pages/Settings/UserManagement.settings.ts
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/routes/routes.ts
  webui/react/src/routes/utils.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/shared/types.ts
  webui/react/src/types.ts
Labels: cla-signed, shared-web

#4566 feat: Show active experiment and task count on resources page [DET-7680]
  docs/attributions.txt
  harness/determined/common/api/bindings.py
  master/internal/api_tasks.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/task.proto
  webui/react/src/contexts/Store.tsx
  webui/react/src/hooks/useFetch.ts
  webui/react/src/pages/Cluster/ClusterOverallStats.tsx
  webui/react/src/pages/Clusters/ClustersOverview.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/types.ts
Labels: cla-signed

#4628 build: skip det-deploy-local for webui only changes
  .circleci/config.yml
Labels: cla-signed

#4634 feat: support pagination in bun
  master/internal/db/postgres.go
Labels: cla-signed

#4641 fix: agent entrypoint should use `exec`. [DET-7834]
  agent/packaging/entrypoint.sh
Labels: cla-signed

#4627 style: update account layout [ET-7829]
  webui/react/src/components/InlineEditor.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalNameChange.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalNameChange.tsx
  webui/react/src/pages/Settings.tsx
  webui/react/src/pages/Settings/SettingsAccount.module.scss
  webui/react/src/pages/Settings/SettingsAccount.test.tsx
  webui/react/src/pages/Settings/SettingsAccount.tsx
  webui/react/src/shared/components/Avatar/Avatar.module.scss
Labels: cla-signed, shared-web

#4597 feat: allow DET_PASS and DET_USER to skip need for login [DET-7025]
  docs/interfaces/commands-and-shells.rst
  docs/release-notes/det-pass.txt
  e2e_tests/tests/cluster/test_users.py
  harness/determined/common/api/authentication.py
  harness/determined/common/util.py
  harness/determined/exec/prep_container.py
Labels: cla-signed

#4614 feat: custom searcher unit tests, add/change minor things [DET-7717]
  harness/determined/common/api/bindings.py
  master/pkg/model/experiment.go
  master/pkg/searcher/asha.go
  master/pkg/searcher/asha_stopping.go
  master/pkg/searcher/custom_search.go
  master/pkg/searcher/custom_search_test.go
  master/pkg/searcher/search_method.go
  master/pkg/searcher/searcher.go
  master/pkg/searcher/tournament.go
  master/pkg/searcher/util_test.go
  proto/src/determined/experiment/v1/searcher.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#4515 fix: minor bugs in test config creation
  .github/pull_request_template.md
  docs/release-notes/4515-fix-test-submit.txt
  harness/determined/common/api/experiment.py
Labels: cla-signed

#4380 chore: install ptl in startup hooks
  .circleci/config.yml
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-gcp/install-gcp.rst
  docs/interfaces/tensorboard.rst
  docs/reference/reference-deploy/config/helm-config-reference.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/reference/reference-interface/job-config-reference.rst
  docs/reference/reference-training/experiment-config-reference.rst
  docs/release-notes/4377-install-ptl-in-startup-hooks.txt
  docs/training/apis-howto/api-pytorch-lightning-ug.rst
  docs/training/apis-howto/overview.rst
  docs/training/setup-guide/custom-env.rst
  e2e_tests/tests/config.py
  e2e_tests/tests/fixtures/pytorch_lightning_amp/apex_amp.yaml
  e2e_tests/tests/fixtures/pytorch_lightning_amp/auto_amp.yaml
  e2e_tests/tests/fixtures/pytorch_lightning_amp/startup-hook.sh
  examples/computer_vision/efficientdet_pytorch/const.yaml
  examples/computer_vision/efficientdet_pytorch/const_fake.yaml
  examples/computer_vision/mnist_pl/startup-hook.sh
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/decision_trees/gbt_titanic_estimator/adaptive.yaml
  examples/decision_trees/gbt_titanic_estimator/const.yaml
  examples/deepspeed/cifar10_moe/moe.yaml
  examples/deepspeed/cifar10_moe/zero_stages.yaml
  examples/deepspeed/gpt_neox/Dockerfile
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  examples/gan/gan_mnist_pl/startup-hook.sh
  examples/graphs/proteins_pytorch_geometric/adaptive.yaml
  examples/graphs/proteins_pytorch_geometric/const.yaml
  examples/graphs/proteins_pytorch_geometric/distributed.yaml
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/aws/templates/vpc.yaml
  harness/determined/deploy/gcp/constants.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/keras/_tf_keras_trial.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-estimator/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  helm/charts/determined/templates/master-config.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: cla-signed

#4276 feat: enable open telemetry in agent [DET 7085]
  agent/go.mod
  agent/internal/agent.go
  master/internal/config/config.go
  master/internal/core.go
  master/pkg/aproto/master_message.go
  master/pkg/opentelemetry/otel.go
  webui/react/package-lock.json-e
Labels: cla-signed

#4640 fix: model deital bugs
  webui/react/src/components/Table.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/routes/routes.ts
Labels: cla-signed

#4645 style: fix disabled primary button style
  webui/react/src/shared/styles/antd.scss
Labels: cla-signed, shared-web

#4644 style: fix avatar card with long names
  webui/react/src/shared/components/AvatarCard/AvatarCard.module.scss
Labels: cla-signed, shared-web

#4494 chore: test improvement for _pytorch_context and _pytorch_trial [DET-7761] [DET-7763]
  harness/determined/_trial_controller.py
  harness/determined/cli/experiment.py
  harness/determined/core/_distributed.py
  harness/determined/horovod.py
  harness/determined/pytorch/_experimental.py
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/tests/experiment/fixtures/pytorch_onevar_model.py
  harness/tests/experiment/fixtures/pytorch_xor_model.py
  harness/tests/experiment/keras/test_tf_keras_trial.py
  harness/tests/experiment/pytorch/test_deepspeed_trial.py
  harness/tests/experiment/pytorch/test_pytorch_context.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/test_local.py
  harness/tests/experiment/utils.py
  harness/tests/test_imports.py
Labels: documentation, cla-signed, python

#4579 fix: update resource pool job queues to paginate properly
  webui/react/src/components/ResponsiveTable.tsx
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/hooks/useSettings.ts
  webui/react/src/pages/JobQueue/JobQueue.tsx
Labels: cla-signed

#4646 fix: change average_training_metrics default to true [DET-7240]
  docs/reference/reference-training/experiment-config-reference.rst
  docs/release-notes/4646-default-average_training_metrics-true.txt
  docs/training/dtrain-introduction.rst
  harness/determined/_experiment_config.py
  harness/determined/_trial_controller.py
  harness/determined/common/schemas/expconf/_gen.py
  harness/determined/constants.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/tests/experiment/utils.py
  master/pkg/schemas/zgen_schemas.go
  schemas/expconf/v0/optimizations.json
  schemas/test_cases/v0/experiment.yaml
Labels: cla-signed, User-facing API Change

#4643 ci: long running det_deploy_local stress test to upstream
  .circleci/config.yml
  e2e_tests/pytest.ini
  e2e_tests/tests/conftest.py
  e2e_tests/tests/deploy/test_local.py
Labels: cla-signed

#4652 chore: temporarily hide user management
  webui/react/src/pages/Settings.tsx
Labels: cla-signed

#4228 docs: fix a typo on Elasticsearch-backed logging
  docs/cluster-setup-guide/elasticsearch-logging-backend.rst
Labels: cla-signed

#4636 ci(lint-go): migrate to gha workflow
  .github/workflows/lint-go.yml
Labels: cla-signed

#4642 ci(lint-bindings): migrate to gha workflow
  .github/workflows/lint-bindings.yml
Labels: cla-signed

#4638 feat: task specific actions to job overflow menu
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/routes/utils.ts
  webui/react/src/services/api.ts
  webui/react/src/types.ts
Labels: cla-signed

#4650 test: add test cases for `AvatarCard`
  webui/react/src/shared/components/AvatarCard/AvatarCard.stories.tsx
  webui/react/src/shared/components/AvatarCard/AvatarCard.test.tsx
Labels: cla-signed, shared-web

#4655 test: utils/set unit tests [DET-7904]
  webui/react/src/shared/utils/set.test.ts
Labels: cla-signed, shared-web

#4657 fix: comment to gen swagger [DET-7926]
  master/internal/core_experiment.go
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#4661 chore: update codecov badge to reflect web only
  codecov.yml
  webui/react/README.md
Labels: cla-signed

#4658 fix: Count only active tasks in cluster info board
  harness/determined/common/api/bindings.py
  master/internal/api_tasks.go
  proto/buf.image.bin
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/task.proto
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
Labels: cla-signed

#4665 feat: Create user UI [DET-7847]
  master/internal/api_user.go
  master/internal/db/postgres_users.go
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/pages/Settings.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#4662 fix: persist task state update in interactive task view [DET-7929]
  webui/react/src/pages/InteractiveTask.tsx
  webui/react/src/pages/Wait.tsx
Labels: cla-signed

#4670 refactor: remove unused code in model version detail page
  webui/react/src/hooks/useModal/Model/useModalModelVersionDelete.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
Labels: cla-signed

#4500 feat: add new PyTorchCallbacks [DET-7760]
  docs/release-notes/4500-new-pytorchtrial-deepspeedtrial-callbacks.txt
  examples/features/checkpoint_hooks_pytorch/model_def.py
  harness/determined/pytorch/_callback.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/tests/experiment/fixtures/pytorch_counter_callback.py
  harness/tests/experiment/pytorch/test_deepspeed_trial.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  master/pkg/opentelemetry/otel.go
Labels: cla-signed, User-facing API Change

#4671 docs: add release notes for 0.19.0
  docs/release-notes.rst
  docs/release-notes/4377-install-ptl-in-startup-hooks.txt
  docs/release-notes/4515-fix-test-submit.txt
  docs/release-notes/4606-get-experiments-consolidation.txt
  docs/release-notes/4646-default-average_training_metrics-true.txt
  docs/release-notes/7465-model-definition-file-cache.txt
  docs/release-notes/default-password-k8-fix.txt
  docs/release-notes/det-pass.txt
  docs/release-notes/dont-send-docker-creds-to-any-server.txt
  docs/release-notes/fix-allocation-end-times-on-restore-failure.txt
  docs/release-notes/fix-notebook-ignore-template.txt
  docs/release-notes/zero-slot-k8s.txt
Labels: cla-signed

#4674 test: add unit tests for logger class [DET-7901]
  webui/react/src/shared/utils/Logger.test.ts
Labels: cla-signed, shared-web

#4664 test: add test cases for `Icon.tsx`
  webui/react/src/shared/components/Icon/Icon.stories.tsx
  webui/react/src/shared/components/Icon/Icon.tsx
  webui/react/src/shared/components/Icon/icon.test.tsx
Labels: cla-signed, shared-web

#4678 chore: update live docs script for extension change
  docs/live.py
Labels: cla-signed

#4648 feat: migrate patch user logic to grpc server [DET-7909]
  harness/determined/common/api/bindings.py
  master/internal/api_user.go
  master/internal/user/authz_basic_impl.go
  master/internal/user/authz_iface.go
  master/internal/user/authz_unrestricted_impl.go
  proto/src/determined/user/v1/user.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#4667 test: add test cases for `Image.tsx`
  webui/react/src/shared/components/Image/Image.test.tsx
  webui/react/src/shared/components/Image/Image.tsx
Labels: cla-signed, shared-web

#4639 ci(lint-python): migrate to gha workflow
  .bumpversion.cfg
  .github/workflows/lint-python.yml
Labels: cla-signed
