Repository determined-ai/determined, pull requests merged in 2022-10, with the labels that each got.

#5120 feat: implement long polling for GET events [MLG-85]
  harness/determined/searcher/_search_runner.py
  master/internal/api_experiment.go
  master/internal/db/postgres_snapshots_test.go
  master/internal/experiment.go
  master/pkg/searcher/custom_search.go
  master/pkg/searcher/custom_search_test.go
  master/pkg/searcher/custom_searcher_events_queue.go
  proto/buf.image.bin
  proto/src/determined/api/v1/api.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5160 fix: FOUNDENG-246 Task reports "RuntimeError: Dataset not found or corrupted"
  harness/determined/launch/wrap_rank.py
Labels: cla-signed

#5138 fix: remove workspace members view mock special casing
  webui/react/src/hooks/useFeature.ts
Labels: cla-signed

#5121 chore: Convert permission.name string to permission.id enum [DET-8464]
  webui/react/src/hooks/useModal/Experiment/useModalExperimentMove.tsx
  webui/react/src/hooks/useModal/Project/useModalProjectMove.tsx
  webui/react/src/hooks/usePermissions.test.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/WorkspaceDetails/ProjectActionDropdown.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#5164 fix: more correctly compute TLS cert hash in CLI
  harness/determined/cli/cli.py
Labels: cla-signed

#5165 feat: pass train_length into on_validation_completed
  docs/training/hyperparameter/search-methods/hp-custom.rst
  e2e_tests/tests/fixtures/custom_searcher/searchers.py
  examples/custom_search_method/asha_search_method/asha.py
  harness/determined/searcher/_search_method.py
  harness/determined/searcher/_search_runner.py
  harness/tests/search_methods.py
Labels: cla-signed

#5170 fix: dont show unknown error popups for elemetry
  webui/react/src/hooks/useTelemetry.ts
Labels: cla-signed

#5168 chore: update readme for web
  webui/react/README.md
Labels: cla-signed

#5153 test: fix `test-k8-mount`.
  e2e_tests/tests/command/test_run.py
Labels: cla-signed

#5169 feat: short options for RBAC CLI.
  harness/determined/cli/rbac.py
Labels: cla-signed

#5167 fix: Sort workloads by training and validation metrics [WEB-430]
  harness/determined/common/api/bindings.py
  master/internal/api_trials.go
  master/static/srv/proto_get_trial_workloads.sql
  proto/src/determined/api/v1/trial.proto
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#4593 chore: ez live server
  Makefile
  webui/Makefile
  webui/react/craco.config.js
Labels: cla-signed

#5109 fix: use theme var in Avatar stylesheet (DET-8237)
  webui/react/src/shared/components/Avatar/Avatar.module.scss
Labels: cla-signed, shared-web

#5173 fix: docs to reflect: from determined import searcher
  docs/training/hyperparameter/search-methods/hp-custom.rst
Labels: cla-signed

#5122 feat: agent user group settings per workspace [DET-8472, DET-7547]
  docs/release-notes/workspace-agent-user-groups.txt
  e2e_tests/tests/cluster/test_agent_user_group.py
  e2e_tests/tests/fixtures/core_api/whoami.py
  e2e_tests/tests/fixtures/core_api/whoami.yaml
  harness/determined/cli/user.py
  harness/determined/cli/workspace.py
  harness/determined/common/api/bindings.py
  master/internal/api_checkpoint.go
  master/internal/api_command.go
  master/internal/api_experiment.go
  master/internal/api_project.go
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/core_checkpoint.go
  master/internal/core_checkpoint_intg_test.go
  master/internal/core_experiment.go
  master/internal/db/postgres_experiments.go
  master/internal/experiment.go
  master/internal/mocks/workspace_authz_iface.go
  master/internal/trials/api_trials.go
  master/internal/user/postgres_agentusergroup.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
  master/pkg/checkpoints/archive/archive_writer.go
  master/pkg/checkpoints/s3/s3checkpoints.go
  master/pkg/model/agent_user_group.go
  master/pkg/model/user.go
  master/pkg/model/workspace.go
  master/static/migrations/20220928152351_add-workspace-uid-gid.tx.down.sql
  master/static/migrations/20220928152351_add-workspace-uid-gid.tx.up.sql
  master/static/srv/get_workspace.sql
  master/static/srv/get_workspaces.sql
  master/static/srv/update_workspace.sql
  proto/buf.image.bin
  proto/src/determined/api/v1/workspace.proto
  proto/src/determined/rbac/v1/rbac.proto
  proto/src/determined/user/v1/user.proto
  proto/src/determined/workspace/v1/workspace.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5182 fix: do not publish helm chart for *-rc releases [DPS-260]
  .circleci/config.yml
  helm/Makefile
Labels: cla-signed

#5044 feat: enable configuring the agent to shut down on connection failure [DET-7022]
  .circleci/config.yml
  .circleci/devcluster/agent-no-connection.devcluster.yaml
  .circleci/devcluster/double-reattach.devcluster.yaml
  .circleci/devcluster/double.devcluster.yaml
  agent/internal/agent.go
  agent/internal/options.go
  docs/reference/reference-deploy/config/agent-config-reference.rst
  e2e_tests/pytest.ini
  e2e_tests/tests/cluster/managed_cluster.py
  e2e_tests/tests/cluster/test_agent.py
  e2e_tests/tests/conftest.py
Labels: cla-signed

#5189 ci: bump cache buster version
  .circleci/config.yml
Labels: cla-signed

#5180 fix: check for horovod backend in PyTorchTrial
  harness/determined/pytorch/_pytorch_trial.py
Labels: cla-signed

#5194 fix: stop infinite rerender in move experiment modal
  webui/react/src/hooks/usePermissions.ts
Labels: cla-signed

#5197 fix: avoid using lookbehind regex for Safari
  webui/react/src/pages/ExperimentDetails/CodeViewer/CodeViewer.tsx
Labels: cla-signed

#5136 feat: rbac authz refactor for user groups [DET-8478]
  e2e_tests/tests/cluster/test_groups.py
  master/internal/api/apiutils/utils.go
  master/internal/usergroup/api_groups.go
  master/internal/usergroup/authz_basic_impl.go
  master/internal/usergroup/authz_iface.go
  master/internal/usergroup/group_intg_test.go
  master/internal/usergroup/postgres_groups.go
Labels: cla-signed

#5181 fix: remove unnecessary loading state in model & model version page
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelRegistry.tsx
Labels: cla-signed

#5199 fix: resolve table UI issues
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentMove.tsx
  webui/react/src/hooks/useSettings.ts
  webui/react/src/pages/ExperimentDetails/CodeViewer/CodeViewer.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.settings.ts
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.settings.ts
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/ProjectDetails.settings.ts
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/ResourcepoolDetail.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHyperparameters.settings.ts
Labels: cla-signed

#5202 chore: remove accidentally added attributions file
  docs/attributions.txt
Labels: cla-signed

#5185 fix: RBAC calls getPermissionsSummary, changes to admin's use of listRoles [WEB-517]
  harness/determined/common/api/bindings.py
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/components/Navigation.tsx
  webui/react/src/contexts/Store.tsx
  webui/react/src/hooks/useFetch.ts
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/NoPermissions.tsx
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#5204 chore: usePolling on fetchMyRoles [WEB-3]
  webui/react/src/components/Navigation.tsx
Labels: cla-signed

#5178 refactor: authz allocations [DET-8366. DET-7971]
  docs/release-notes/remove-echo-get-task.rst
  master/internal/api_tasks.go
  master/internal/api_trials.go
  master/internal/core.go
  master/internal/core_task.go
  master/internal/experiment/authz_iface.go
Labels: cla-signed

#5210 fix: only call fetchKnownRoles in RBAC, closing testing issue
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
Labels: cla-signed

#5207 fix: table ui follow up
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.settings.ts
Labels: cla-signed

#5211 chore: revert "fix: use theme var in Avatar stylesheet [DET-8237] (#5109)"
  webui/react/src/shared/components/Avatar/Avatar.module.scss
Labels: cla-signed, shared-web

#5191 ci: only run lint in package-and-push for release workflows.
  .circleci/config.yml
Labels: cla-signed

#5201 fix: fix the error message for auto checkpoint download
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/errors.py
Labels: cla-signed

#5220 fix: replace shell script with python script for `Pre-Commit`
  .pre-commit-config.yaml
  pre-commit/web_lint_check.py
  pre-commit/web_lint_check.sh
Labels: cla-signed

#5195 chore: add custom permission [DET-8526]
  master/internal/api/apiutils/utils.go
  master/internal/authz/permission_denied_error.go
Labels: cla-signed

#5166 chore: new react-router components
  webui/react/src/components/Router.tsx
  webui/react/src/routes/index.tsx
  webui/react/src/routes/routes.ts
  webui/react/src/shared/types.ts
Labels: cla-signed, shared-web

#5008 feat: add echo authentication by default
  master/internal/core.go
  master/internal/rm/agents.go
  master/internal/user/service.go
  master/internal/user/service_test.go
Labels: cla-signed

#5115 build: fix check if test-intg-downstream could be skipped
  .circleci/config.yml
Labels: cla-signed

#5221 fix: custom error requires permission object
  master/internal/authz/permission_denied_error.go
Labels: cla-signed

#5214 fix: correctly aggregate allocation resources by agent label.
  master/internal/command/command.go
  master/internal/rm/fair_share.go
  master/internal/rm/fitting_methods.go
  master/internal/rm/fitting_test.go
  master/internal/rm/priority.go
  master/internal/rm/scheduler_test.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/trial.go
Labels: cla-signed

#5223 test: enables linting for master integration tests
  master/Makefile
  master/internal/api_experiment_intg_test.go
  master/internal/api_project_intg_test.go
  master/internal/api_trials_intg_test.go
  master/internal/api_user_intg_test.go
  master/internal/api_workspace_intg_test.go
  master/internal/cache/cache_intg_test.go
  master/internal/core_checkpoint_intg_test.go
  master/internal/core_experiment_intg_test.go
  master/internal/core_trial_intg_test.go
  master/internal/db/postgres_checkpoints_intg_test.go
  master/internal/db/postgres_cluster_intg_test.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_helpers_intg_test.go
  master/internal/db/postgres_model_intg_test.go
  master/internal/db/postgres_tasks_intg_test.go
  master/internal/db/postgres_test_utils.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/elastic/elastic_intg_testutils.go
  master/internal/rm/agent_resource_manager_intg_test.go
  master/internal/task/allocation_intg_test.go
  master/internal/usergroup/group_intg_test.go
  master/internal/webhooks/webhook_intg_test.go
  master/pkg/model/test_utils.go
  master/test/integration/api/api_checkpoints_test.go
  master/test/integration/api/api_trials_test.go
  master/test/integration/api/main_test.go
  master/test/testutils/fixtures.go
Labels: cla-signed

#5222 chore: update to `react-router-dom` v6
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/NotesCard.tsx
  webui/react/src/components/Router.tsx
  webui/react/src/components/SlotAllocationBar.tsx
  webui/react/src/components/ThemeToggle.test.tsx
  webui/react/src/ee/SamlAuth.test.ts
  webui/react/src/hooks/useAuthCheck.ts
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.test.tsx
  webui/react/src/hooks/useRouteTracker.ts
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/hooks/useSettings.ts
  webui/react/src/index.tsx
  webui/react/src/pages/Clusters.tsx
  webui/react/src/pages/ExperimentComparison.tsx
  webui/react/src/pages/ExperimentComparison/CompareVisualization.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentMultiTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/InteractiveTask.test.tsx
  webui/react/src/pages/InteractiveTask.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/Reload.tsx
  webui/react/src/pages/ResourcepoolDetail.tsx
  webui/react/src/pages/Settings/Settings.test.tsx
  webui/react/src/pages/Settings/Settings.tsx
  webui/react/src/pages/Settings/UserManagement.test.tsx
  webui/react/src/pages/SignIn.tsx
  webui/react/src/pages/SignOut.tsx
  webui/react/src/pages/TaskLogs.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/Wait.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/shared/routes/history.ts
  webui/react/src/shared/types.ts
  webui/react/src/shared/utils/routes.ts
  webui/react/src/utils/error.ts
Labels: cla-signed, shared-web

#5200 feat: Add CAN_EDIT_WEBHOOKS permission to pre-canned admin role [WEB-218]
  harness/determined/common/api/bindings.py
  master/internal/webhooks/api_webhook.go
  master/internal/webhooks/authz_basic_impl.go
  master/internal/webhooks/authz_iface.go
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5203 fix: hide uncategorized from nav, when it is not available to RBAC user [WEB-509]
  webui/react/src/components/NavigationSideBar.tsx
Labels: cla-signed

#5209 refactor: Authz tasks [DET-8367]
  master/internal/api_task.go
  master/internal/api_tasks.go
  master/internal/api_tasks_intg_test.go
  master/internal/api_trials.go
  master/internal/api_user_intg_test.go
  master/internal/db/postgres_experiments.go
Labels: cla-signed

#5172 perf: remove unused getExpValHistory calls
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.tsx
Labels: cla-signed

#5227 docs: add release notes for 0.19.5
  docs/release-notes.rst
  docs/release-notes/5123-tb-secrets.txt
  docs/release-notes/reattach-deadlock.rst
  docs/release-notes/workspace-agent-user-groups.txt
Labels: cla-signed

#5215 fix: register checkpoint "new model" workflow [WEB-499]
  webui/react/src/components/CheckpointModalTrigger.tsx
Labels: cla-signed

#5226 chore: update to `React18`
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/InteractiveTable.tsx
  webui/react/src/components/PageHeaderFoldable.tsx
  webui/react/src/components/SelectFilter.tsx
  webui/react/src/components/Skeleton/SkeletonSection.tsx
  webui/react/src/components/Table.tsx
  webui/react/src/components/TextEditorModal.tsx
  webui/react/src/components/UPlot/SyncableBounds.tsx
  webui/react/src/index.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsageFilters.tsx
  webui/react/src/pages/ExperimentDetails/CodeViewer/CodeViewer.tsx
  webui/react/src/pages/JobQueue/JobQueue.table.tsx
  webui/react/src/pages/JobQueue/ManageJob.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceQuickSearch.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/shared/utils/md5.ts
  webui/react/src/shared/utils/number.ts
  webui/react/tsconfig.json
Labels: cla-signed, shared-web

#5228 fix: trial workloads sort and filter
  webui/react/src/pages/TrialDetails.tsx
Labels: cla-signed

#5193 feat: support -i/--include [MLG-194]
  docs/release-notes/5087-single-file-context.txt
  e2e_tests/tests/test_sdk.py
  harness/determined/cli/command.py
  harness/determined/cli/experiment.py
  harness/determined/cli/notebook.py
  harness/determined/cli/remote.py
  harness/determined/cli/shell.py
  harness/determined/cli/tensorboard.py
  harness/determined/common/context.py
  harness/determined/common/experimental/determined.py
  harness/determined/experimental/client.py
  harness/tests/cli/test_cli.py
Labels: cla-signed, User-facing API Change

#5230 fix: decorate PBS & slurm options with ,omitempty
  harness/determined/common/schemas/expconf/_gen.py
  harness/determined/common/schemas/expconf/_v0.py
  master/pkg/schemas/expconf/experiment_config.go
  master/pkg/schemas/zgen_schemas.go
  schemas/expconf/v0/hpc-cluster-pbs.json
  schemas/expconf/v0/hpc-cluster-slurm.json
  schemas/test_cases/v0/experiment.yaml
Labels: cla-signed

#5245 [custom searcher] style: do some local editing
  examples/custom_search_method/asha_search_method/README.md
  examples/custom_search_method/asha_search_method/local_search_runner/README.md
  examples/custom_search_method/asha_search_method/remote_search_runner/README.md
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/db/postgres_snapshots_test.go
  master/internal/experiment.go
  master/pkg/model/experiment.go
  master/pkg/searcher/custom_search.go
  master/pkg/searcher/custom_search_test.go
  master/pkg/searcher/custom_searcher_events_queue.go
  master/pkg/searcher/operations.go
  master/pkg/searcher/search_method.go
  master/pkg/searcher/searcher.go
  master/pkg/searcher/util_test.go
  proto/buf.image.bin
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/experiment/v1/searcher.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5231 fix: imports, newlines, tests
  docs/reference/reference-training/experiment-config-reference.rst
  docs/training/hyperparameter/search-methods/hp-custom.rst
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_custom_searcher.py
  e2e_tests/tests/fixtures/custom_searcher/core_api_custom_searcher.py
  e2e_tests/tests/fixtures/custom_searcher/core_api_model.yaml
  e2e_tests/tests/fixtures/custom_searcher/core_api_searcher_asha.yaml
  e2e_tests/tests/fixtures/custom_searcher/core_api_searcher_random.yaml
  e2e_tests/tests/fixtures/custom_searcher/model_coreapi.py
  e2e_tests/tests/fixtures/custom_searcher/model_noop.py
  e2e_tests/tests/fixtures/custom_searcher/noop.yaml
  e2e_tests/tests/fixtures/custom_searcher/searchers.py
  harness/determined/common/check.py
  harness/tests/search_methods.py
Labels: cla-signed

#5205 docs: release note for custom searcher
  docs/release-notes/5205-custom-searcher.txt
Labels: cla-signed

#5219 chore: PBS & Slurm options for commands
  docs/reference/reference-interface/job-config-reference.rst
  docs/reference/reference-training/experiment-config-reference.rst
  master/pkg/model/command_config.go
  master/pkg/tasks/task_command.go
Labels: cla-signed

#5253 fix: Load workspace members from RBAC API
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Labels: cla-signed

#5186 docs: fix fypos, grammar edits for clarification, etc.
  docs/training/apis-howto/api-core/checkpoints.rst
  docs/training/apis-howto/api-core/distributed.rst
  docs/training/apis-howto/api-core/getting-started.rst
  docs/training/apis-howto/api-core/hpsearch.rst
  docs/training/apis-howto/api-core/metrics.rst
  docs/training/apis-howto/api-core/overview.rst
  docs/training/apis-howto/api-pytorch-ug.rst
  docs/training/apis-howto/overview.rst
  docs/training/dtrain-introduction.rst
  docs/training/hyperparameter/configure-hp-ranges.rst
  docs/training/hyperparameter/handle-trial-errors.rst
  docs/training/hyperparameter/hp-constraints-det.rst
  docs/training/hyperparameter/instrument-model-code.rst
  docs/training/hyperparameter/overview.rst
  docs/training/hyperparameter/search-methods/hp-adaptive-asha.rst
  docs/training/hyperparameter/search-methods/overview.rst
  docs/training/load-model-data.rst
  docs/training/setup-guide/custom-env.rst
  harness/determined/launch/horovod.py
  harness/determined/layers/_workload_sequencer.py
  harness/determined/profiler.py
  harness/determined/pytorch/_pytorch_trial.py
  schemas/README.md
Labels: documentation, cla-signed

#5192 fix: selector fixes in log viewer
  webui/react/src/components/LogViewer/LogViewerFilters.test.tsx
  webui/react/src/components/LogViewer/LogViewerFilters.tsx
  webui/react/src/components/MultiSelect.stories.tsx
  webui/react/src/components/MultiSelect.test.tsx
  webui/react/src/components/MultiSelect.tsx
Labels: cla-signed

#5259 feat: page listing Webhooks [from main repo] [WEB-211]
  harness/determined/common/api/bindings.py
  proto/src/determined/webhook/v1/webhook.proto
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/hooks/useFeature.ts
  webui/react/src/hooks/useModal/Webhook/useModalWebhookCreate.tsx
  webui/react/src/hooks/useModal/Webhook/useModalWebhookDelete.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/WebhookList.module.scss
  webui/react/src/pages/WebhookList.settings.ts
  webui/react/src/pages/WebhookList.tsx
  webui/react/src/routes/index.tsx
  webui/react/src/routes/routes.ts
  webui/react/src/routes/utils.ts
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/shared/styles/icons.scss
  webui/react/src/types.ts
Labels: cla-signed, shared-web

#5255 fix: lint for intg test
  master/internal/db/postgres_snapshots_test.go
Labels: cla-signed

#5251 fix: check target user, allow \wadmin\w names but not admin itself [WEB-529]
  master/internal/api_user.go
Labels: cla-signed

#5256 fix: fix getPath
  webui/react/src/shared/utils/data.test.ts
  webui/react/src/shared/utils/data.ts
  webui/react/src/utils/experiment.test.ts
Labels: cla-signed, shared-web

#5265 chore: make `web_lint_check.py` executable
  .pre-commit-config.yaml
  pre-commit/web_lint_check.py
Labels: cla-signed

#5268 fix: Workspace member modal handling of groups and roles
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceAddMember.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceDetailsHeader.tsx
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#5262 chore: add to git blame ignore
  .git-blame-ignore-revs
Labels: cla-signed

#5269 fix: workspace page tab route [WEB-531]
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/routes/utils.ts
Labels: cla-signed

#5271 fix: add version check for protoc to prevent confusion
  proto/Makefile
Labels: cla-signed

#5233 refactor: authz checkpoints [DET-8533]
  master/internal/api_checkpoint.go
  master/internal/api_checkpoint_intg_test.go
  master/internal/api_project_intg_test.go
  master/internal/api_trials_intg_test.go
  master/internal/core_checkpoint.go
  master/internal/core_checkpoint_intg_test.go
Labels: cla-signed

#5260 refactor: Add ability to lockdown NTSC [DET-8276, DET-7377]
  .circleci/config.yml
  .circleci/devcluster/strict-ntsc.devcluster.yaml
  e2e_tests/pytest.ini
  e2e_tests/tests/command/test_strict_ntsc.py
  e2e_tests/tests/conftest.py
  master/internal/api.go
  master/internal/api_command.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_notebook.go
  master/internal/api_shell.go
  master/internal/api_tasks.go
  master/internal/api_tasks_intg_test.go
  master/internal/api_tensorboard.go
  master/internal/api_trials_intg_test.go
  master/internal/command/events.go
  master/internal/config/authz_config.go
  master/internal/core_task.go
  master/internal/db/postgres_command.go
  master/internal/experiment/authz_basic_impl.go
  master/internal/experiment/authz_iface.go
  master/internal/mocks/authz_experiment_iface.go
  master/internal/user/service.go
Labels: cla-signed

#5272 chore: remove unnecessary getPath usage
  webui/react/src/pages/SignIn.tsx
Labels: cla-signed

#5261 fix: Wire up user edit modal to rbac endpoints
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceRemoveMember.tsx
  webui/react/src/pages/Settings/UserManagement.test.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#5241 feat: support configuring agent self-shutdown for `det deploy aws`
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-aws/install-on-aws.rst
  docs/release-notes/det-deploy-clean-orphaned.rst
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/constants.py
  harness/determined/deploy/aws/deployment_types/govcloud.py
  harness/determined/deploy/aws/deployment_types/secure.py
  harness/determined/deploy/aws/deployment_types/simple.py
  harness/determined/deploy/aws/deployment_types/vpc.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/terraform/modules/compute/main.tf
  master/internal/config/provconfig/config.go
  master/internal/rm/provisioner/agent_setup.go
  master/internal/rm/provisioner/agent_setup_test.go
  master/internal/rm/provisioner/aws.go
  master/static/srv/agent_setup_script.sh.template
Labels: cla-signed

#5273 [custom searcher] various more edits
  docs/reference/reference-training/experiment-config-reference.rst
  docs/release-notes/5205-custom-searcher.txt
  docs/training/hyperparameter/search-methods/hp-custom.rst
  docs/training/hyperparameter/search-methods/overview.rst
  examples/README.md
  harness/determined/common/api/bindings.py
  harness/determined/searcher/_search_method.py
  master/internal/api_experiment.go
  master/internal/db/postgres_snapshots_test.go
  master/internal/experiment.go
  master/pkg/searcher/custom_search_test.go
  master/pkg/searcher/custom_searcher_events_queue.go
  master/pkg/searcher/operations.go
  proto/buf.image.bin
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/experiment/v1/searcher.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5242 fix: position resize shadow under cursor at start
  webui/react/src/components/InteractiveTable.tsx
Labels: cla-signed

#5277 chore: improve project not found error message in create experiment
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/core_experiment.go
  master/internal/core_experiment_intg_test.go
Labels: cla-signed

#5282 fix: remove =true from sso url querystring
  harness/determined/cli/sso.py
Labels: cla-signed

#5244 docs: external notification doc [DET-219]
  docs/assets/images/webhook.png
  docs/assets/images/webhook_action.png
  docs/assets/images/webhook_modal.png
  docs/assets/images/webhook_security_eg.png
  docs/index.rst
  docs/integrations/notification/index.rst
  docs/integrations/notification/slack.rst
  docs/integrations/notification/zapier.rst
Labels: cla-signed

#5232 docs: PBS Scheduler Support [FOUNDENG-184]
  docs/cluster-setup-guide/deploy-cluster/index.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/install-on-slurm.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/overview.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/reference/reference-training/experiment-config-reference.rst
  docs/release-notes/FOUNDENG-184-PBS.rst
Labels: cla-signed

#5285 fix: lockdown NTSC EE rebase import cycle
  master/internal/api_command.go
  master/internal/api_notebook.go
  master/internal/api_shell.go
  master/internal/api_tasks.go
  master/internal/api_tasks_intg_test.go
  master/internal/api_tensorboard.go
  master/internal/command/events.go
  master/internal/experiment/authz_basic_impl.go
  master/internal/experiment/authz_iface.go
  master/internal/mocks/authz_experiment_iface.go
  master/internal/mocks/user_authz_iface.go
  master/internal/user/authz_basic_impl.go
  master/internal/user/authz_iface.go
  master/internal/user/service.go
Labels: cla-signed

#5266 fix: keyboard scrolling in logs [WEB-463]
  webui/react/src/components/LogViewer/LogViewer.tsx
  webui/react/src/components/LogViewer/LogViewerEntry.tsx
  webui/react/src/components/Markdown.tsx
Labels: cla-signed

#5238 chore: update to `Stylelint` v14
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/InteractiveTable.module.scss
  webui/react/src/components/Json.module.scss
  webui/react/src/components/Markdown.module.scss
  webui/react/src/components/Navigation.module.scss
  webui/react/src/components/NavigationSideBar.module.scss
  webui/react/src/components/PageHeader/PageHeader.module.scss
  webui/react/src/components/ResponsiveFilters.module.scss
  webui/react/src/components/TableBatch.module.scss
  webui/react/src/components/ThemeToggle.module.scss
  webui/react/src/components/UPlot/UPlotChart.module.scss
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.module.scss
  webui/react/src/omnibar/Omnibar.module.scss
  webui/react/src/omnibar/tree-extension/TreeNode.module.scss
  webui/react/src/pages/ModelRegistry.module.scss
  webui/react/src/pages/WebhookList.module.scss
  webui/react/src/pages/WorkspaceDetails/WorkspaceDetailsHeader.module.scss
  webui/react/src/shared/components/AvatarCard/AvatarCard.module.scss
  webui/react/src/shared/configs/.stylelintrc.js
  webui/react/src/shared/styles/antd.scss
  webui/react/src/shared/styles/icons.scss
  webui/react/src/shared/styles/storybook.scss
Labels: cla-signed, shared-web

#5291 fix: fetchMyRoles on login, only if rbac is on
  webui/react/src/components/DeterminedAuth.tsx
Labels: cla-signed

#5278 docs: add documentation for setting up Slack Webhooks [WEB-215]
  docs/assets/images/slack-app-configuration.jpeg
  docs/assets/images/slack-base-url-config.png
  docs/assets/images/slack-incoming-webhooks-page.jpeg
  docs/assets/images/slack-message-with-links.png
  docs/assets/images/slack-message-without-links.png
  docs/assets/images/slack-webhook-creation-in-determined.jpeg
  docs/assets/images/test-webhook.png
  docs/assets/images/webhook-test-success.png
  docs/integrations/notification/slack.rst
Labels: cla-signed

#5292 fix: account for incompatible expconf change
  master/static/migrations/20221019080320_fixup-incompatible-expconf.tx.down.sql
  master/static/migrations/20221019080320_fixup-incompatible-expconf.tx.up.sql
Labels: cla-signed, Blocking Release

#5246 fix: Avatar text color change (DET-8237)
  webui/react/src/shared/components/Avatar/Avatar.module.scss
  webui/react/src/shared/components/Avatar/Avatar.tsx
Labels: cla-signed, shared-web

#5296 chore: Revert "chore: update to `Stylelint` v14"
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/Json.module.scss
  webui/react/src/components/Markdown.module.scss
  webui/react/src/components/Navigation.module.scss
  webui/react/src/components/NavigationSideBar.module.scss
  webui/react/src/components/PageHeader/PageHeader.module.scss
  webui/react/src/components/ResponsiveFilters.module.scss
  webui/react/src/components/Table/InteractiveTable.module.scss
  webui/react/src/components/Table/TableBatch.module.scss
  webui/react/src/components/ThemeToggle.module.scss
  webui/react/src/components/UPlot/UPlotChart.module.scss
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.module.scss
  webui/react/src/omnibar/Omnibar.module.scss
  webui/react/src/omnibar/tree-extension/TreeNode.module.scss
  webui/react/src/pages/ModelRegistry.module.scss
  webui/react/src/pages/WebhookList.module.scss
  webui/react/src/pages/WorkspaceDetails/WorkspaceDetailsHeader.module.scss
  webui/react/src/shared/components/AvatarCard/AvatarCard.module.scss
  webui/react/src/shared/configs/.stylelintrc.js
  webui/react/src/shared/styles/antd.scss
  webui/react/src/shared/styles/icons.scss
  webui/react/src/shared/styles/storybook.scss
Labels: cla-signed, shared-web

#5270 chore: take out manual shared testing instructions
  .github/pull_request_template.md
Labels: cla-signed

#5290 fix: dont show scrollbars in table cells
  webui/react/src/components/Table/InteractiveTable.module.scss
  webui/react/src/components/Table/Table.tsx
  webui/react/src/components/TagList.module.scss
  webui/react/src/components/TagList.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/ModelDetails.module.scss
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelRegistry.module.scss
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/OldProjectDetails.tsx
  webui/react/src/pages/ProjectDetails.module.scss
  webui/react/src/shared/styles/antd.scss
Labels: cla-signed, shared-web

#5297 fix: `det rbac describe-role` list global assignments for users.
  harness/determined/cli/rbac.py
Labels: cla-signed

#5274 fix: UI improvement when no permission [WEB-532]
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/pages/Settings/Settings.test.tsx
  webui/react/src/pages/Settings/Settings.tsx
  webui/react/src/pages/SignIn.tsx
  webui/react/src/routes/index.tsx
Labels: cla-signed

#5212 chore: API and DB error for invalid input
  master/internal/api/apiutils/utils.go
  master/internal/db/database.go
  master/internal/usergroup/api_groups.go
Labels: cla-signed

#5301 fix: dont show loading state when polling trial details
  webui/react/src/pages/ExperimentDetails/ExperimentMultiTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/TrialDetails.tsx
Labels: cla-signed

#5302 fix: remove compare action for experiments
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/OldProjectDetails.tsx
  webui/react/src/types.ts
  webui/react/src/utils/experiment.ts
Labels: cla-signed

#5283 feat: Changing and removing roles from workspace members list
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceRemoveMember.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#5252 fix: remove duplicate event message.
  master/internal/sproto/task.go
Labels: cla-signed

#5293 fix: tweak live docs server.
  docs/live.py
Labels: cla-signed

#5313 ci: fix missing say command
  .github/workflows/lint-secrets.yml
Labels: cla-signed

#5307 fix: layout of logview
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/LogViewer/LogViewer.tsx
Labels: cla-signed

#5299 fix: dont trigger loading state on experiment selection
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/OldProjectDetails.tsx
Labels: cla-signed

#5287 feat: actually support --device strings
  harness/determined/common/schemas/expconf/_gen.py
  harness/determined/common/schemas/expconf/_v0.py
  master/pkg/model/experiment_config.go
  master/pkg/model/experiment_config_test.go
  master/pkg/schemas/expconf/experiment_config.go
  master/pkg/schemas/expconf/schema_test.go
  master/pkg/schemas/zgen_schemas.go
  schemas/expconf/v0/devices.json
  schemas/test_cases/v0/defaults.yaml
  schemas/test_cases/v0/experiment.yaml
  schemas/test_cases/v0/merging.yaml
Labels: cla-signed

#5317 test: fix flaky custom searcher test
  e2e_tests/tests/experiment/test_custom_searcher.py
Labels: cla-signed

#5247 chore: add FieldMask type to apiutils
  master/go.mod
  master/internal/api/apiutils/mask.go
  master/internal/api/apiutils/mask_test.go
Labels: cla-signed

#5316 chore: Revert "fix: remove duplicate event message. (#5252)"
  master/internal/sproto/task.go
Labels: cla-signed

#5319 fix: move permission denied error to not encounter hash error
  master/internal/api/apiutils/utils.go
Labels: cla-signed

#5311 docs: Add PodMan requirements and known issues [FOUNDENG-289]
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/install-on-slurm.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/singularity.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-known-issues.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
  docs/reference/reference-training/experiment-config-reference.rst
Labels: cla-signed

#5314 docs: slots_per_nodes for PBS & Slurm
  docs/reference/reference-interface/job-config-reference.rst
  docs/reference/reference-training/experiment-config-reference.rst
Labels: cla-signed

#5305 docs: Notification doc zapier [WEB-216]
  docs/assets/images/zapier_code_input.png
  docs/assets/images/zapier_code_result.png
  docs/assets/images/zapier_new_webhook.png
  docs/assets/images/zapier_python.png
  docs/assets/images/zapier_request_found.png
  docs/assets/images/zapier_test.png
  docs/assets/images/zapier_webhook.png
  docs/assets/images/zapier_webhook_url.png
  docs/index.rst
  docs/integrations/notification/index.rst
  docs/integrations/notification/slack.rst
  docs/integrations/notification/zapier.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
Labels: cla-signed

#5310 feat: implement feature switch [WEB-535]
  harness/determined/common/api/bindings.py
  master/internal/api_master.go
  master/internal/config/config.go
  proto/src/determined/api/v1/master.proto
  webui/react/src/contexts/Store.tsx
  webui/react/src/hooks/useFeature.test.tsx
  webui/react/src/hooks/useFeature.ts
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#5286 chore: change list-users-roles and list-groups-roles to return assignment info
  e2e_tests/tests/cluster/test_rbac.py
  harness/determined/cli/rbac.py
  harness/determined/common/api/bindings.py
  proto/buf.image.bin
  proto/src/determined/api/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
Labels: cla-signed

#5322 fix: Poll roles, remove canGetPermissions permission
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceAddMember.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceRemoveMember.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
  webui/react/src/services/apiConfig.ts
Labels: cla-signed

#5331 chore: delete dead code to fix flake8
  harness/determined/_trial_controller.py
Labels: cla-signed

#5174 feat: support streaming logs in Python SDK [MLG-46]
  e2e_tests/tests/test_sdk.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/trial.py
Labels: cla-signed, User-facing API Change

#5332 fix: account for incompatible pbs-related expconf change
  master/static/migrations/20221025105442_fixup-incompatible-pbs-expconf.tx.down.sql
  master/static/migrations/20221025105442_fixup-incompatible-pbs-expconf.tx.up.sql
Labels: cla-signed

#5329 fix: exclude allocations without start times from aggregation
  docs/release-notes/fix-aggregation.rst
  master/static/srv/update_aggregated_allocation.sql
Labels: cla-signed

#5243 fix: HP Parallel Coordinates remembers filters as data comes in [WEB-279]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
Labels: cla-signed

#5333 chore: log error when experiment is unrestorable
  master/internal/db/postgres_experiments.go
Labels: cla-signed

#5334 fix: login loading animation
  webui/react/src/components/DeterminedAuth.tsx
Labels: cla-signed

#5330 chore: simplify `ptrs.Ptr`
  master/pkg/ptrs/ptrs.go
Labels: cla-signed

#5326 fix: improve chart interactivity
  webui/react/src/components/LearningCurveChart.tsx
  webui/react/src/components/UPlot/UPlotChart/tooltipsPlugin.ts
Labels: cla-signed

#5304 feat: User can change their own username [WEB-238]
  harness/determined/common/api/bindings.py
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/user/authz_basic_impl.go
  master/internal/user/is_sso.go
  proto/buf.image.bin
  proto/src/determined/user/v1/user.proto
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/Settings/SettingsAccount.test.tsx
  webui/react/src/pages/Settings/SettingsAccount.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#5324 feat: Non-global permissions assignable globally [WEB-539]
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalGroupRoles.tsx
Labels: cla-signed

#5315 chore: HPC job ID is logged in experiment log.
  master/internal/sproto/resources.go
  master/internal/sproto/task.go
Labels: cla-signed

#5335 fix: add and edit workspace member UI [WEB-552]
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceAddMember.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceDetails/RoleRenderer.module.scss
  webui/react/src/pages/WorkspaceDetails/RoleRenderer.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceDetailsHeader.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.module.scss
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/utils/user.ts
Labels: cla-signed

#5323 fix: duplicated messages logged at INFO and ERROR levels.
  master/internal/sproto/task.go
  master/internal/task/allocation.go
Labels: cla-signed

#5341 feat: when user can't create workspaces, show a disabled button [WEB-553]
  webui/react/src/pages/WorkspaceList.module.scss
  webui/react/src/pages/WorkspaceList.tsx
Labels: cla-signed

#5258 feat: Create Webhook Sender [WEB-213]
  agent/go.mod
  agent/go.sum
  docs/integrations/notification/index.rst
  docs/release-notes/238-webhooks.txt
  e2e_tests/tests/cluster/test_webhooks.py
  master/cmd/determined-master/init.go
  master/cmd/determined-master/root_test.go
  master/go.mod
  master/go.sum
  master/internal/config/config.go
  master/internal/core.go
  master/internal/experiment.go
  master/internal/restore.go
  master/internal/webhooks/api_webhook.go
  master/internal/webhooks/postgres_webhook.go
  master/internal/webhooks/postgres_webhook_intg_test.go
  master/internal/webhooks/shipper.go
  master/internal/webhooks/shipper_test.go
  master/internal/webhooks/webhook.go
  master/internal/webhooks/webhook_intg_test.go
  master/internal/workspace/postgres_workspace.go
  master/static/migrations/20221026124235_edit-webhook-events.tx.down.sql
  master/static/migrations/20221026124235_edit-webhook-events.tx.up.sql
  proto/src/determined/api/v1/webhook.proto
Labels: cla-signed, User-facing API Change

#5344 docs: Explicitly document Apptainer as supported [FOUNDENG-294]
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/install-on-slurm.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/overview.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
Labels: cla-signed

#5337 chore: add style lint fix
  webui/react/Makefile
Labels: cla-signed

#5338 chore: separate useui store and actions
  webui/react/.storybook/preview.tsx
  webui/react/src/components/Badge.tsx
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/components/Dropdown.stories.tsx
  webui/react/src/components/DynamicIcon.tsx
  webui/react/src/components/Logo.tsx
  webui/react/src/components/MonacoEditor.tsx
  webui/react/src/components/Navigation.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/ParallelCoordinates.tsx
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/components/Router.tsx
  webui/react/src/components/ThemeToggle.tsx
  webui/react/src/components/UPlot/UPlotChart.tsx
  webui/react/src/components/UserAvatar.tsx
  webui/react/src/contexts/Store.tsx
  webui/react/src/hooks/usePageVisibility.ts
  webui/react/src/hooks/useTheme.ts
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpHeatMaps.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpScatterPlots.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/InteractiveTask.tsx
  webui/react/src/pages/SignIn.tsx
  webui/react/src/pages/TrialDetails/Profiles/useFetchProfilerMetrics.tsx
  webui/react/src/pages/TrialDetails/Profiles/useFetchProfilerSeries.ts
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
  webui/react/src/pages/Wait.tsx
  webui/react/src/shared/components/Avatar/Avatar.stories.tsx
  webui/react/src/shared/components/AvatarCard/AvatarCard.stories.tsx
  webui/react/src/shared/components/Message/Message.tsx
  webui/react/src/shared/contexts/UIStore.ts
  webui/react/src/shared/contexts/stores/UI.tsx
  webui/react/src/shared/hooks/usePolling.ts
  webui/react/src/shared/utils/store.ts
Labels: cla-signed, shared-web

#5342 chore: add field for internal web UI use to identify product context
  harness/determined/common/api/bindings.py
  master/internal/api_master.go
  proto/src/determined/api/v1/master.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5348 chore: replace `enum` with `object as const`
  webui/react/src/shared/contexts/stores/UI.tsx
Labels: cla-signed, shared-web

#5353 fix: signed payload generation
  docs/assets/images/webhook_security_eg.png
  docs/integrations/notification/index.rst
  e2e_tests/tests/cluster/test_webhooks.py
  master/internal/webhooks/shipper.go
  master/internal/webhooks/shipper_test.go
Labels: cla-signed, User-facing API Change

#5357 docs: add release notes for 0.19.6
  docs/release-notes.rst
  docs/release-notes/5087-single-file-context.txt
  docs/release-notes/5150-slurm.txt
  docs/release-notes/5188-ls-for-all-cli.txt
  docs/release-notes/5205-custom-searcher.txt
  docs/release-notes/FOUNDENG-184-PBS.rst
  docs/release-notes/det-deploy-clean-orphaned.rst
  docs/release-notes/remove-echo-get-task.rst
Labels: cla-signed

#5346 refactor: rbac protos: move from is_global to scope type masks.
  e2e_tests/tests/cluster/test_rbac.py
  harness/determined/cli/rbac.py
  harness/determined/common/api/bindings.py
  proto/buf.image.bin
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
Labels: cla-signed

#5355 docs: fix tutorial link
  docs/tutorials/index.rst
Labels: cla-signed

#5345 feat: remove webhooks feature flag [WEB-560]
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/hooks/useFeature.test.tsx
  webui/react/src/hooks/useFeature.ts
Labels: cla-signed

#5327 ci: add release notes header with link [INFENG-115]
  agent/.goreleaser.yml
  helm/.goreleaser.yml
  master/.goreleaser.yml
Labels: cla-signed

#5343 chore: rbac refactor authz iface
  master/internal/api_checkpoint.go
  master/internal/api_checkpoint_intg_test.go
  master/internal/api_command.go
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_notebook.go
  master/internal/api_project.go
  master/internal/api_project_intg_test.go
  master/internal/api_shell.go
  master/internal/api_tasks.go
  master/internal/api_tasks_intg_test.go
  master/internal/api_tensorboard.go
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/command/events.go
  master/internal/core_checkpoint.go
  master/internal/core_checkpoint_intg_test.go
  master/internal/core_experiment.go
  master/internal/core_experiment_intg_test.go
  master/internal/core_task.go
  master/internal/core_trial.go
  master/internal/core_trial_intg_test.go
  master/internal/experiment/authz_basic_impl.go
  master/internal/experiment/authz_iface.go
  master/internal/mocks/authz_experiment_iface.go
  master/internal/mocks/project_authz_iface.go
  master/internal/mocks/user_authz_iface.go
  master/internal/mocks/workspace_authz_iface.go
  master/internal/project/authz_basic_impl.go
  master/internal/project/authz_iface.go
  master/internal/user/authz_basic_impl.go
  master/internal/user/authz_iface.go
  master/internal/user/service.go
  master/internal/user/service_intg_test.go
  master/internal/webhooks/api_webhook.go
  master/internal/webhooks/authz_basic_impl.go
  master/internal/webhooks/authz_iface.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
Labels: cla-signed

#5339 fix: Group management page role edit [WEB-544]
  webui/react/src/hooks/useModal/UserSettings/useModalCreateGroup.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalGroupRoles.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalGroupRoles.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/Settings.test.tsx
  webui/react/src/pages/Settings/Settings.tsx
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Labels: cla-signed

#5103 ci: fix "previous tag" logic
  agent/Makefile
  helm/Makefile
  master/Makefile
Labels: cla-signed

#5361 fix: shiyuan's change to custom searcher release note
  docs/release-notes.rst
Labels: cla-signed

#5190 ci: Add rebase check on PR/main push [INFENG-98]
  .github/workflows/check-rebaseable.yml
Labels: cla-signed

#5362 fix: Shiyuan's suggestion to release note
  docs/release-notes.rst
Labels: cla-signed

#5363 ci: add more credentials [INFENG-98]
  .github/workflows/check-rebaseable.yml
Labels: cla-signed

#5257 docs: remove references to PBT
  docs/training/hyperparameter/handle-trial-errors.rst
  docs/training/hyperparameter/search-methods/hp-pbt.rst
  docs/training/hyperparameter/search-methods/overview.rst
Labels: cla-signed

#5360 chore: Enable library checks for TypeScript; update types [WEB-191]
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/declarations.d.ts
  webui/react/src/globalStorage.ts
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/hooks/useSettings.ts
  webui/react/src/hooks/useStorage.ts
  webui/react/src/react-app-env.d.ts
  webui/react/src/shared/configs/tsconfig.json
  webui/react/src/shared/utils/storage.test.ts
  webui/react/src/shared/utils/storage.ts
Labels: cla-signed, shared-web

#5364 ci: Switch checkout method [INFENG-98]
  .github/workflows/check-rebaseable.yml
Labels: cla-signed
