Repository determined-ai/determined, pull requests merged in 2022-11, with the labels that each got.

#5366 fix: validate username and display name in `PostUser`.
  e2e_tests/tests/cluster/test_users.py
  master/.golangci.yml
  master/internal/api_user.go
Labels: cla-signed

#5367 fix: improve previous tag logic
  agent/Makefile
  helm/Makefile
  master/Makefile
Labels: cla-signed

#4830 ci: update helm repo readme
  README.md
Labels: cla-signed

#5309 feat: checkpoint storage config per workspace [DET-8350]
  docs/release-notes/checkpoint-workspaced.rst
  e2e_tests/tests/cluster/test_workspace_org.py
  harness/determined/cli/workspace.py
  harness/determined/common/api/bindings.py
  master/internal/api_experiment_intg_test.go
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/core_experiment.go
  master/internal/mocks/workspace_authz_iface.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
  master/pkg/model/workspace.go
  master/static/migrations/20221031144158_add-storage-config-to-workspaces.tx.down.sql
  master/static/migrations/20221031144158_add-storage-config-to-workspaces.tx.up.sql
  master/static/srv/get_workspace.sql
  proto/src/determined/api/v1/workspace.proto
  proto/src/determined/rbac/v1/rbac.proto
  proto/src/determined/workspace/v1/workspace.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5371 fix: allow workspace admins to change role assignments in webui.
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
Labels: cla-signed

#5325 chore: generate PATCH-friendly bindings
  bindings/generate_bindings.py
  harness/determined/common/api/bindings.py
Labels: cla-signed

#5237 chore: support out-of-k8s dev workflow [DET-8107]
  master/internal/config/resource_manager_config.go
  master/internal/rm/kubernetes/pods.go
  master/internal/rm/kubernetes_resource_manager.go
  tools/k8s/README.md
  tools/k8s/devcluster.yaml
  tools/k8s/fetch-creds.sh
  tools/k8s/my-service-account.yaml
Labels: cla-signed

#5374 fix: enter to submit
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.tsx
  webui/react/src/hooks/useModal/Model/useModalModelCreate.tsx
  webui/react/src/hooks/useModal/Project/useModalProjectCreate.tsx
  webui/react/src/hooks/useModal/Project/useModalProjectEdit.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceCreate.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceEdit.tsx
Labels: cla-signed

#5375 fix: TorchWriter.reset closes a file
  harness/determined/tensorboard/metric_writers/pytorch.py
  harness/tests/tensorboard/test_torch_writer.py
Labels: cla-signed

#5359 ci: enable yamllint [INFENG-116]
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/link-artifacts.yml
  .github/workflows/lint-bindings.yml
  .github/workflows/lint-docs.yml
  .github/workflows/lint-go.yml
  .github/workflows/lint-migrations.yml
  .github/workflows/lint-python.yml
  .github/workflows/lint-react.yml
  .github/workflows/lint-secrets.yml
  .github/workflows/scan-docker-images.yml
  .github/workflows/semantic.yml
  .github/workflows/test-cli.yml
  .pre-commit-config.yaml
  .yamllint
Labels: cla-signed

#5298 docs: RBAC v1.
  docs/Makefile
  docs/assets/styles/determined.css
  docs/cluster-setup-guide/security/overview.rst
  docs/cluster-setup-guide/security/rbac.rst
  docs/conf.py
  docs/introduction.rst
  docs/live.py
  docs/quickstart-mdldev.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
  harness/determined/cli/user_groups.py
Labels: cla-signed

#5379 ci: add pre-commit execution action
  .github/workflows/check-rebaseable.yml
  .github/workflows/pre-commit.yml
Labels: cla-signed

#5369 ci(remote-docker): pin version to 20.10.18 [INFENG-106]
  .circleci/config.yml
Labels: cla-signed

#4996 fix: group together 4xx and 5xx HTTP responses for prometheus [DET-8336]
  master/internal/core.go
Labels: cla-signed

#5383 fix: typescript inside keys function
  webui/react/src/shared/utils/storage.ts
Labels: cla-signed, shared-web

#5394 chore: cli allow workspace --checkpoint-storage-config-file to use yaml
  e2e_tests/tests/cluster/test_workspace_org.py
  harness/determined/cli/workspace.py
Labels: cla-signed

#5391 fix: Workspaces member page refetch after update [WEB-621]
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceAddMember.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceRemoveMember.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceDetailsHeader.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
Labels: cla-signed

#5358 chore: Move Agents into their own context, introduce Loadable abstraction
  webui/react/src/App.tsx
  webui/react/src/components/Navigation.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/ResourcePoolCard.test.tsx
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/contexts/Store.tsx
  webui/react/src/hooks/useFetch.ts
  webui/react/src/pages/Cluster/ClusterOverallBar.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.tsx
  webui/react/src/pages/Clusters.tsx
  webui/react/src/pages/Clusters/ClustersOverview.tsx
  webui/react/src/pages/ResourcepoolDetail.tsx
  webui/react/src/stores/agents.tsx
  webui/react/src/utils/loadable.ts
Labels: cla-signed

#5388 chore: pause shared-web ci checks
  .circleci/config.yml
Labels: cla-signed

#5399 fix: redirect url to login page
  master/internal/core.go
  master/internal/user/service.go
Labels: cla-signed

#5378 chore: Rbac oss audit logging [DET-8309]
  master/internal/grpcutil/api.go
  master/internal/grpcutil/auth.go
  master/internal/rbac/audit/audit.go
  master/internal/usergroup/authz_basic_impl.go
Labels: cla-signed

#5368 ci(test-e2e): add e2e test mark as cluster label [INFENG-5]
  .circleci/config.yml
Labels: cla-signed

#5377 fix: update webhook payload check in e2e test
  e2e_tests/tests/cluster/test_webhooks.py
Labels: cla-signed

#5390 fix: sort by log severity level
  webui/react/src/types.ts
Labels: cla-signed

#5402 fix: Skip role fetch when RBAC not enabled
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
Labels: cla-signed

#5404 fix: handle webhook testing errors [WEB-625]
  webui/react/src/pages/WebhookList.tsx
Labels: cla-signed

#5401 chore: remove unused slurm options validation
  master/pkg/model/environment_config.go
  master/pkg/model/experiment_config_test.go
Labels: cla-signed

#5403 fix: Avoid writing to users known_hosts [FOUNDENG-314]
  master/static/srv/ssh_config
Labels: cla-signed

#5389 build: add lint and fmt steps for shell scripts
  .circleci/scripts/generate_cert.sh
  .circleci/scripts/sanity.sh
  .github/scripts/lint-migrations.sh
  .pre-commit-config.yaml
  agent/packaging/debian/agent.postinst
  agent/packaging/debian/agent.postrm
  agent/packaging/debian/agent.prerm
  e2e_tests/tests/fixtures/pytorch_lightning_amp/startup-hook.sh
  examples/computer_vision/byol_pytorch/startup-hook.sh
  examples/computer_vision/detr_coco_pytorch/startup-hook.sh
  examples/computer_vision/efficientdet_pytorch/startup-hook.sh
  examples/computer_vision/mnist_pl/startup-hook.sh
  examples/computer_vision/unets_tf_keras/startup-hook.sh
  examples/deepspeed/gpt_neox/startup-hook.sh
  examples/diffusion/textual_inversion_stable_diffusion/startup-hook.sh
  examples/gan/gan_mnist_pl/startup-hook.sh
  examples/meta_learning/protonet_omniglot_pytorch/fetch_data.sh
  harness/tests/common/untrusted-root/gen.sh
  master/internal/rm/provisioner/agent_setup_test.go
  master/packaging/debian/master.postinst
  master/packaging/debian/master.postrm
  master/packaging/debian/master.prerm
  master/static/srv/agent_setup_script.sh.template
  master/static/srv/command-entrypoint.sh
  master/static/srv/entrypoint.sh
  master/static/srv/gc-checkpoints-entrypoint.sh
  master/static/srv/k8_init_container_entrypoint.sh
  master/static/srv/notebook-entrypoint.sh
  master/static/srv/shell-entrypoint.sh
  master/static/srv/task-logging-setup.sh
  master/static/srv/task-logging-teardown.sh
  master/static/srv/task-signal-handling.sh
  master/static/srv/tensorboard-entrypoint.sh
  model_hub/docker/publish-docker.sh
  tools/k8s/fetch-creds.sh
  webui/react/scripts/fmt-imports.sh
  webui/react/scripts/try-for-flakes.sh
Labels: cla-signed

#5410 chore: migration for adding newly created scim users to usergroups
  master/static/migrations/20221109145930_add-scim-users-to-group.tx.down.sql
  master/static/migrations/20221109145930_add-scim-users-to-group.tx.up.sql
Labels: cla-signed

#5406 fix: Workspace header in mobile view [WEB-633]
  webui/react/src/pages/WorkspaceDetails/WorkspaceDetailsHeader.module.scss
Labels: cla-signed

#5415 fix: Clear table settings between users and groups pages [WEB-636]
  webui/react/src/pages/Settings/Settings.tsx
Labels: cla-signed

#5412 fix: avoid panic in getTasks
  master/internal/core_task.go
Labels: cla-signed

#5409 fix: WebUI remove checkpoint storage config
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceCreate.tsx
Labels: cla-signed

#5405 fix: listen for onReset for ParallelCoordinates filters
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
Labels: cla-signed

#5417 fix: fix copy button
  webui/react/src/shared/components/CopyButton.tsx
Labels: cla-signed, shared-web

#5414 chore: Add content-security-policy via meta tag, webpack plugin [WEB-310]
  master/internal/core.go
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/public/index.html
  webui/react/src/shared/configs/craco.config.js
Labels: cla-signed, shared-web

#5423 chore: Revert content-security-policy
  master/internal/core.go
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/public/index.html
  webui/react/src/shared/configs/craco.config.js
Labels: cla-signed, shared-web

#5421 feat: master and agent instances created with IMDSv2 support [DET-7987]
  docs/release-notes/imds-v2.rst
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  master/internal/rm/provisioner/aws.go
Labels: cla-signed

#5354 feat: Add webhooks_base_url to det deploy
  .circleci/config.yml
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/constants.py
  harness/determined/deploy/aws/deployment_types/govcloud.py
  harness/determined/deploy/aws/deployment_types/secure.py
  harness/determined/deploy/aws/deployment_types/simple.py
  harness/determined/deploy/aws/deployment_types/vpc.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/cli.py
  harness/determined/deploy/gcp/constants.py
Labels: cla-signed, User-facing API Change

#5428 chore: make patch user atomic [DET-8659]
  docs/release-notes/atomic-patch-user.rst
  harness/determined/common/api/bindings.py
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/static/srv/set_user_display_name.sql
  proto/src/determined/user/v1/user.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5424 chore: Restore content-security-policy PR
  master/internal/core.go
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/public/index.html
  webui/react/src/shared/configs/craco.config.js
Labels: cla-signed, shared-web

#5420 feat: Trial and Task log filters [WEB-239] [WEB-240]
  e2e_tests/tests/cluster/test_logging.py
  harness/determined/common/api/bindings.py
  harness/determined/common/api/logs.py
  harness/determined/common/experimental/trial.py
  harness/determined/common/util.py
  master/internal/api/filters.go
  master/internal/api_tasks.go
  master/internal/api_trials.go
  master/internal/db/postgres_filters.go
  master/internal/elastic/elastic_task_logs.go
  master/static/srv/get_task_logs_fields.sql
  master/static/srv/get_trial_log_fields.sql
  proto/buf.image.bin
  proto/src/determined/api/v1/task.proto
  proto/src/determined/api/v1/trial.proto
  webui/react/src/components/LogViewer/LogViewerFilters.settings.ts
  webui/react/src/components/LogViewer/LogViewerFilters.test.tsx
  webui/react/src/components/LogViewer/LogViewerFilters.tsx
  webui/react/src/components/TrialLogPreview.tsx
  webui/react/src/pages/TaskLogs.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5438 ci: bump resource class to avoid test-intg-master flakes
  .circleci/config.yml
Labels: cla-signed

#5433 fix: sync workspace/project modal data when cancel [WEB-607]
  webui/react/src/hooks/useModal/Project/useModalProjectEdit.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceCreate.tsx
Labels: cla-signed

#5432 revert: Add webhooks_base_url to det deploy
  .circleci/config.yml
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/constants.py
  harness/determined/deploy/aws/deployment_types/govcloud.py
  harness/determined/deploy/aws/deployment_types/secure.py
  harness/determined/deploy/aws/deployment_types/simple.py
  harness/determined/deploy/aws/deployment_types/vpc.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/cli.py
  harness/determined/deploy/gcp/constants.py
Labels: cla-signed

#5429 fix: experiment with null notes can't load [DET-8572]
  docs/release-notes/exp-notes-fix.rst
  master/static/migrations/20221115135515_notes-not-null.tx.down.sql
  master/static/migrations/20221115135515_notes-not-null.tx.up.sql
Labels: cla-signed

#5440 feat: remove checkpoints from multi trial tabs [WEB-639]
  webui/react/src/pages/ExperimentDetails/ExperimentMultiTrialTabs.tsx
Labels: cla-signed

#5437 docs: Document Singularity cache managment script [FOUNDENG-333]
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/overview.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/singularity.rst
Labels: cla-signed

#5445 fix: editing projects in table [WEB-641]
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
Labels: cla-signed

#5443 chore: FOUNDENG-296 Determined shows PULLING state while container is spinning up
  harness/determined/common/api/bindings.py
  harness/determined/exec/prep_container.py
  master/internal/api_trials.go
  master/internal/rm/actor_resource_manager.go
  master/internal/rm/agent_resource_manager.go
  master/internal/rm/kubernetes_resource_manager.go
  master/internal/rm/resource_manager_iface.go
  master/internal/sproto/task.go
  master/static/srv/task-logging-setup.sh
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5448 chore: Add expconf slurm.gpu_type [FOUNDENG-338]
  harness/determined/common/schemas/expconf/_gen.py
  master/pkg/schemas/expconf/experiment_config.go
  master/pkg/schemas/expconf/zgen_slurm_config_v0.go
  master/pkg/schemas/zgen_schemas.go
  schemas/expconf/v0/hpc-cluster-slurm.json
Labels: cla-signed

#5444 chore: bump `Typescript`
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/CheckpointModalTrigger.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
Labels: cla-signed

#5206 feat: user mgmt functions in SDK + new user API from old API + CLI uses SDK [DET-8495, DET-8496]
  e2e_tests/tests/cluster/test_model_registry.py
  e2e_tests/tests/cluster/test_rbac.py
  e2e_tests/tests/cluster/test_users.py
  e2e_tests/tests/cluster/test_users_experiment_api.py
  e2e_tests/tests/command/test_strict_ntsc.py
  e2e_tests/tests/experiment/experiment.py
  harness/determined/cli/__init__.py
  harness/determined/cli/_util.py
  harness/determined/cli/user.py
  harness/determined/common/api/authentication.py
  harness/determined/common/api/bindings.py
  harness/determined/common/api/experiment.py
  harness/determined/common/api/request.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/user.py
  harness/determined/experimental/client.py
  harness/tests/cli/test_auth.py
  harness/tests/cli/test_cli.py
  harness/tests/common/test_multimaster.py
  master/internal/api_auth.go
  master/internal/api_user.go
  master/internal/grpcutil/auth.go
  master/internal/user/postgres_users.go
  master/pkg/model/user.go
  proto/buf.image.bin
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/user.proto
  proto/src/determined/user/v1/user.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5451 feat: enable limited core api usage in NTSC
  harness/determined/_info.py
  harness/determined/core/_context.py
Labels: cla-signed

#5452 fix: Revert changes to rankId and other numeric filters
  e2e_tests/tests/cluster/test_logging.py
  harness/determined/common/api/bindings.py
  harness/determined/common/api/logs.py
  harness/determined/common/experimental/trial.py
  harness/determined/common/util.py
  master/internal/api/filters.go
  master/internal/api_tasks.go
  master/internal/api_trials.go
  master/internal/db/postgres_filters.go
  master/internal/elastic/elastic_task_logs.go
  master/static/srv/get_task_logs_fields.sql
  master/static/srv/get_trial_log_fields.sql
  proto/buf.image.bin
  proto/src/determined/api/v1/task.proto
  proto/src/determined/api/v1/trial.proto
  webui/react/src/components/LogViewer/LogViewerFilters.settings.ts
  webui/react/src/components/LogViewer/LogViewerFilters.test.tsx
  webui/react/src/components/LogViewer/LogViewerFilters.tsx
  webui/react/src/components/TrialLogPreview.tsx
  webui/react/src/pages/TaskLogs.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5434 fix: Jupyter notebook iframes
  webui/react/src/shared/configs/craco.config.js
Labels: cla-signed, shared-web

#5455 fix: log not interpolating string
  harness/determined/core/_context.py
Labels: cla-signed

#5373 feat: Use icon for experiment/trial state [WEB-237]
  webui/react/src/components/ExperimentIcons/Active.module.scss
  webui/react/src/components/ExperimentIcons/Active.tsx
  webui/react/src/components/ExperimentIcons/Loader.module.scss
  webui/react/src/components/ExperimentIcons/Loader.tsx
  webui/react/src/components/ExperimentIcons/Queue.module.scss
  webui/react/src/components/ExperimentIcons/Queue.tsx
  webui/react/src/components/ExperimentIcons/Spinner.module.scss
  webui/react/src/components/ExperimentIcons/Spinner.tsx
  webui/react/src/components/ExperimentIcons/index.tsx
  webui/react/src/components/Table/Table.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.settings.ts
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.table.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/OldProjectDetails.settings.ts
  webui/react/src/pages/OldProjectDetails.tsx
  webui/react/src/shared/assets/fonts/determined-ai.woff
  webui/react/src/shared/assets/fonts/determined-ai.woff2
  webui/react/src/shared/components/Icon/Icon.tsx
  webui/react/src/shared/styles/icons.scss
  webui/react/src/shared/themes.ts
Labels: cla-signed, shared-web

#5453 fix: note page button issues
  webui/react/src/pages/ProjectDetails/ProjectDetailsTabs.tsx
Labels: cla-signed

#5439 fix: Project loading message [WEB-596]
  webui/react/src/pages/OldProjectDetails.tsx
  webui/react/src/pages/ProjectDetails.tsx
Labels: cla-signed

#5382 refactor: rewrite websocket lib without actors [DET-8299]
  master/pkg/ws/ws.go
  master/pkg/ws/ws_api_test.go
  master/pkg/ws/ws_example_test.go
Labels: cla-signed

#5456 style: remove wall of echos from shell script
  tools/k8s/fetch-creds.sh
Labels: cla-signed

#4943 refactor: rewrite docker lib without actors [DET-8300]
  agent/pkg/docker/docker.go
  agent/pkg/docker/docker_api_test.go
  agent/pkg/docker/docker_credential_store.go
  agent/pkg/docker/docker_test.go
  agent/pkg/docker/events.go
  agent/pkg/docker/pull_log_formatter.go
  agent/pkg/events/types.go
Labels: cla-signed

#5459 chore: remove `skipLibCheck`
  webui/react/tsconfig.json
Labels: cla-signed

#5465 perf: remediate issues with cast + proto_checkpoints_view
  master/static/srv/get_checkpoints_for_experiment.sql
  master/static/srv/get_checkpoints_for_trial.sql
Labels: cla-signed

#5464 fix: handle 'null'::jsonb when aggegrating resource size in proto_get_trials_plus.sql [DET-8691]
  master/static/srv/proto_get_trials_plus.sql
Labels: cla-signed

#5467 fix: trial comparison modal style
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.module.scss
Labels: cla-signed

#5476 ci: bump python 3.7.11 -> 3.7.15.
  .circleci/config.yml
  .github/workflows/lint-docs.yml
  .github/workflows/lint-python.yml
Labels: cla-signed

#5450 chore: tighten to_json advertised type
  bindings/generate_bindings.py
  harness/determined/cli/experiment.py
  harness/determined/cli/rbac.py
  harness/determined/common/api/bindings.py
Labels: cla-signed

#5480 fix: metrics selection
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
Labels: cla-signed

#5477 fix: Experiment listing should not have spurious state triggers
  webui/react/src/components/Table/InteractiveTable.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/OldProjectDetails.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
  webui/react/src/pages/WebhookList.tsx
Labels: cla-signed

#5482 ci: fix rounding that created invalid timestamppb.Timestamps
  master/test/integration/api/api_trials_test.go
Labels: cla-signed

#5454 fix: Ensure authorized_keys permisison [FOUNDENG-342]
  master/static/srv/shell-entrypoint.sh
Labels: cla-signed

#5484 chore: Move workspaces to their own store [WEB-674]
  webui/react/src/App.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentMove.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
  webui/react/src/stores/agents.tsx
  webui/react/src/stores/index.tsx
  webui/react/src/stores/workspaces.tsx
Labels: cla-signed

#5487 ci: disable tensorflow 2.5-2.7 tests.
  .circleci/config.yml
Labels: cla-signed

#5408 fix: `GetModelVersion` lookup by version number.
  docs/release-notes/model-version.rst
  e2e_tests/tests/cluster/test_model_registry.py
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/model.py
  master/internal/api_model.go
  master/internal/db/postgres_model_intg_test.go
  master/static/srv/get_model_version.sql
  proto/buf.image.bin
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/model.proto
  webui/react/src/components/Table/Table.tsx
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpointRegister.tsx
  webui/react/src/hooks/useModal/Model/useModalModelVersionDelete.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/routes/routes.ts
  webui/react/src/routes/utils.ts
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#5479 chore: configure HPC resource pool providers
  master/internal/config/provconfig/config.go
  master/internal/config/provconfig/config_test.go
Labels: cla-signed

#5485 chore: container defaults for PBS/slurm
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/reference/reference-training/experiment-config-reference.rst
  master/pkg/model/task_container_defaults.go
Labels: cla-signed

#5492 feat: Add slurm.gpu_type to expconf [FOUNDENG-338]
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/overview.rst
  docs/reference/reference-training/experiment-config-reference.rst
  docs/release-notes/FOUNDENG-338-slurm-gpu-type.rst
Labels: cla-signed

#5496 docs: Slurm/PBS override of default resource pools
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
Labels: cla-signed

#5494 fix: aws instance id under IMDSv2.
  master/internal/rm/agentrm/provisioner/aws.go
Labels: cla-signed

#5376 feat: Add warning for submissions for requests that cannot currently be fulfilled [DET-6410]
  e2e_tests/tests/command/command.py
  harness/determined/cli/notebook.py
  harness/determined/cli/tensorboard.py
  harness/determined/common/api/__init__.py
  harness/determined/common/api/_util.py
  harness/determined/common/api/bindings.py
  harness/determined/common/api/experiment.py
  harness/determined/common/api/request.py
  harness/determined/experimental/client.py
  master/internal/api_command.go
  master/internal/api_experiment.go
  master/internal/api_notebook.go
  master/internal/api_shell.go
  master/internal/api_tensorboard.go
  master/internal/core_experiment.go
  master/internal/experiment.go
  master/internal/restore.go
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/resource_manager_iface.go
  master/internal/sproto/resource_pool.go
  master/pkg/command/command.go
  master/pkg/model/experiment.go
  proto/src/determined/api/v1/command.proto
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/api/v1/notebook.proto
  proto/src/determined/api/v1/shell.proto
  proto/src/determined/api/v1/tensorboard.proto
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentCreate.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.test.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.test.tsx
  webui/react/src/hooks/useTelemetry.ts
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/InteractiveTask.tsx
  webui/react/src/pages/OldProjectDetails.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
  webui/react/src/pages/TrialsComparison/Actions/utils.ts
  webui/react/src/routes/utils.ts
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/types.ts
  webui/react/src/utils/error.ts
  webui/react/src/utils/jupyter.ts
  webui/react/src/utils/wait.ts
Labels: cla-signed

#5498 chore: remove unnecessary cleanup
  webui/react/src/components/BreadcrumbBar.tsx
  webui/react/src/components/LogViewer/LogViewer.tsx
  webui/react/src/pages/ExperimentDetails/CodeViewer/CodeViewer.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/OldProjectDetails.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
Labels: cla-signed

#5488 fix: increase experiment status icon font weight
  webui/react/src/components/ExperimentIcons/index.tsx
Labels: cla-signed

#5493 fix: cli and sdk logout works without login
  harness/determined/cli/user.py
  harness/determined/common/api/authentication.py
  harness/determined/common/experimental/determined.py
  harness/determined/experimental/client.py
Labels: cla-signed

#5503 ci: fix test_workspace_org
  e2e_tests/tests/cluster/test_workspace_org.py
Labels: cla-signed

#5504 test: fix model registry test.
  e2e_tests/tests/cluster/test_model_registry.py
  e2e_tests/tests/test_sdk.py
Labels: cla-signed

#5505 chore: bump `Prettier` v2.8.0
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/pages/TrialsComparison/Collections/useTrialCollections.module.scss
  webui/react/src/shared/styles/antd.scss
Labels: cla-signed, shared-web

#5510 chore: minor fixups
  harness/determined/common/api/experiment.py
  harness/determined/experimental/client.py
Labels: cla-signed

#5507 chore: changes k8s unable to find exit status from 137 -> 1025 [DET-8717]
  docs/release-notes/k8s-dont-set-exit-code-to-ones-people-think-oom.rst
  master/internal/rm/kubernetesrm/pod.go
Labels: cla-signed

#5500 chore: add tensorboardTimeout to Helm chart [DET-8716]
  docs/reference/reference-deploy/config/helm-config-reference.rst
  docs/release-notes/tensorboard-timeout-helm.rst
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
Labels: cla-signed

#5511 docs: Document PBS CUDA_VISIBLE_DEVICES requirement [FOUNDENG-359]
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/singularity.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
Labels: cla-signed

#5514 docs: Document PBS CUDA_VISIBLE_DEVICES requirement [FOUNDENG-359]
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
Labels: cla-signed

#5517 fix: Create workspace as non-admin
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceCreate.tsx
Labels: cla-signed

#5515 fix: nightly test for custom searcher
  e2e_tests/tests/experiment/test_custom_searcher.py
Labels: cla-signed

#5393 feat: retry transient failures on det experiment wait
  harness/determined/cli/_util.py
  harness/determined/cli/experiment.py
  harness/tests/cli/test_experiment.py
  harness/tests/common/api_server.py
  harness/tests/common/test_api_server.py
  harness/tests/common/test_multimaster.py
  harness/tests/fixtures/experiment.json
Labels: cla-signed
