Repository determined-ai/determined, pull requests merged in 2022-03, with the labels that each got.

#3664 chore: realign task log timestamps
  master/pkg/model/task.go
Labels: cla-signed

#3666 chore: remove storybook stories from test coverage
  webui/react/package.json
Labels: cla-signed

#3655 feat: make the forked-from column in experiments list present by default and sortable [DET-6727]
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/pages/ExperimentList.settings.ts
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#3626 fix: Model/Experiment API and error codes [DET-6711]
  master/internal/api_model.go
Labels: Work in progress, cla-signed

#3637 refactor: centralize configuration; align user get methods
  master/cmd/determined-master/root_test.go
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/config/resource_config.go
  master/internal/config/resource_manager_config.go
  master/internal/config/resource_pool_config.go
  master/internal/config/scheduler_config.go
  master/internal/db/config.go
  master/internal/db/database.go
  master/internal/db/postgres_users.go
  master/internal/db/setup.go
  master/internal/grpcutil/auth.go
  master/internal/hpimportance/hpimportance.go
  master/internal/hpimportance/hpimportance_test.go
  master/internal/hpimportance/manager.go
  master/internal/hpimportance/worker.go
  master/internal/mocks/db.go
  master/internal/resourcemanagers/agent_resource_manager.go
  master/internal/resourcemanagers/agent_resource_manager_test.go
  master/internal/resourcemanagers/kubernetes_resource_manager.go
  master/internal/resourcemanagers/priority.go
  master/internal/resourcemanagers/resource_managers.go
  master/internal/resourcemanagers/resource_managers_test.go
  master/internal/resourcemanagers/resource_pool.go
  master/internal/resourcemanagers/resource_pool_test.go
  master/internal/resourcemanagers/scheduler.go
  master/internal/resourcemanagers/scheduler_test.go
  master/internal/resourcemanagers/setup.go
  master/internal/user/service.go
Labels: cla-signed

#3677 fix: GET /api/v1/trial/:id/logs/fields should return all filters
  e2e_tests/tests/test_logging.py
  master/internal/api_tasks.go
  master/internal/api_trials.go
Labels: cla-signed

#3675 chore: pin GKE less strictly
  .circleci/config.yml
Labels: cla-signed

#3679 fix: add rank_id to task logs
  master/internal/db/postgres_tasks.go
Labels: cla-signed

#3662 docs: update copyright
  docs/conf.py
Labels: cla-signed

#3678 refactor: log filters [DET-6766, DET-6779, DET-6780]
  webui/react/src/components/LogViewer/LogViewerFilters.settings.ts
  webui/react/src/components/LogViewer/LogViewerFilters.tsx
  webui/react/src/pages/TaskLogs.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/TrialDetails/Logs/TrialLogFilters.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.settings.ts
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
Labels: cla-signed

#3685 docs: change glob directive to explicit content map
  docs/concepts/index.txt
  docs/concepts/yaml.txt
  docs/interact/index.txt
  docs/model-hub/index.txt
  docs/model-hub/mmdetection/index.txt
  docs/model-hub/transformers/index.txt
  docs/post-training/index.txt
  docs/prepare-environment/index.txt
  docs/sysadmin-basics/index.txt
  docs/sysadmin-basics/troubleshoot.txt
  docs/sysadmin-basics/upgrades.txt
  docs/sysadmin-deploy-on-aws/index.txt
  docs/sysadmin-deploy-on-gcp/index.txt
  docs/sysadmin-deploy-on-k8s/index.txt
  docs/sysadmin-deploy-on-prem/index.txt
  docs/training-apis/api-estimator.txt
  docs/training-apis/api-keras.txt
  docs/training-apis/api-pytorch.txt
  docs/training-apis/index.txt
  docs/training-debug/index.txt
  docs/training-distributed/index.txt
  docs/training-hyperparameter/index.txt
  docs/tutorials/index.txt
Labels: cla-signed

#3646 feat: create modal to edit displayName in UI (DET-6484, DET-6581)
  master/internal/api_user.go
  master/pkg/model/user.go
  master/static/srv/list_users.sql
  webui/react/src/components/Avatar.test.tsx
  webui/react/src/components/Avatar.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTopbar.tsx
  webui/react/src/components/Table.tsx
  webui/react/src/components/TableFilterDropdown.tsx
  webui/react/src/components/UserSelectFilter.tsx
  webui/react/src/components/UserSettings.module.scss
  webui/react/src/components/UserSettings.tsx
  webui/react/src/contexts/Store.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalChangeName.module.scss
  webui/react/src/hooks/useModal/UserSettings/useModalChangeName.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalChangePassword.module.scss
  webui/react/src/hooks/useModal/UserSettings/useModalChangePassword.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalUserSettings.module.scss
  webui/react/src/hooks/useModal/UserSettings/useModalUserSettings.tsx
  webui/react/src/hooks/useModal/useModal.tsx
  webui/react/src/hooks/useModal/useModalExperimentCreate.tsx
  webui/react/src/hooks/useModal/useModalExperimentDelete.tsx
  webui/react/src/hooks/useModal/useModalExperimentStop.tsx
  webui/react/src/hooks/useModal/useModalUserSettings.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/JobQueue/JobQueue.table.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/types.ts
  webui/react/src/utils/user.ts
Labels: cla-signed

#3676 docs: add prometheus and grafana integration
  docs/assets/images/grafana-example.png
  docs/assets/styles/determined.css
  docs/index.txt
  docs/integrations/ecosystem-integration.txt
  docs/integrations/prometheus.txt
Labels: cla-signed

#3687 docs: restructure training debugging doc
  docs/training-debug/index.txt
Labels: cla-signed

#3688 test: log filter test [DET-6787]
  webui/react/src/components/LogViewer/LogViewerFilters.test.tsx
  webui/react/src/components/LogViewer/LogViewerFilters.tsx
  webui/react/src/components/SelectFilter.test.tsx
  webui/react/src/utils/string.test.ts
  webui/react/src/utils/string.ts
Labels: cla-signed

#3690 docs: add release notes for 0.17.10
  docs/release-notes.txt
  docs/release-notes/3513-add-byol-example.txt
  docs/release-notes/3593-bps.txt
  docs/release-notes/3603-pytorch-lightning-upgrade.txt
  docs/release-notes/3624-support-k8s-ssl.txt
  docs/release-notes/unify-task-logs.txt
Labels: cla-signed

#3656 chore: upgrade go-pg [DET-6363]
  .circleci/config.yml
  .circleci/devcluster/postgres-with-ssl.devcluster.yaml
  agent/go.mod
  agent/go.sum
  e2e_tests/pytest.ini
  e2e_tests/tests/cluster/test_users.py
  e2e_tests/tests/test_logging.py
  master/go.mod
  master/go.sum
Labels: cla-signed

#3696 docs: fix broken link
  docs/integrations/prometheus.txt
Labels: cla-signed

#3695 ci: deploy-release-party is no longer used in releases
  .circleci/config.yml
Labels: cla-signed

#3693 chore: add AWS EC2 p4d.24xlarge
  docs/sysadmin-basics/cluster-config.txt
  docs/sysadmin-deploy-on-aws/install-on-aws.txt
  master/internal/resourcemanagers/provisioner/aws_config.go
Labels: cla-signed

#3699 docs: update docker install for macos
  docs/sysadmin-deploy-on-prem/requirements.txt
Labels: cla-signed

#3672 test: add tests for get experiment
  master/internal/db/postgres_experiments_intg_test.go
Labels: cla-signed

#3680 refactor: change oddly structured log code
  agent/internal/fluent_intg_test.go
  master/internal/db/postgres_tasks.go
  master/internal/elastic/elastic_task_logs.go
  master/pkg/model/task.go
Labels: cla-signed

#3702 ci: temporarily stop test flakes
  e2e_tests/tests/test_logging.py
Labels: cla-signed

#3707 docs: fix broken link to k8s pod specs
  docs/prepare-environment/custom-pod-specs.txt
Labels: cla-signed

#3683 feat: context menu row background
  webui/react/src/components/ResponsiveTable.module.scss
  webui/react/src/components/ResponsiveTable.tsx
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/pages/ExperimentList.tsx
Labels: cla-signed

#3643 feat: add on_trial_{startup,shutdown} hooks to PyTorchCallback
  docs/release-notes/3643-callbacks.txt
  harness/determined/pytorch/_callback.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/tests/experiment/fixtures/pytorch_xor_model.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Labels: cla-signed, User-facing API Change

#3705 fix: ensure allocation end time is always valid
  master/internal/db/postgres_cluster_intg_test.go
  master/internal/db/postgres_tasks.go
Labels: cla-signed

#3681 fix: select filter input width [DET-6777]
  webui/react/src/components/LogViewer/LogViewerFilters.tsx
  webui/react/src/components/MetricSelectFilter.tsx
  webui/react/src/components/SelectFilter.module.scss
Labels: cla-signed

#3704 fix: trial rendezvous timeout should just warn
  master/internal/task/allocation.go
  master/internal/task/rendezvous.go
Labels: cla-signed

#3698 feat: update resource pool cards [DET-6417]
  harness/determined/common/api/bindings.py
  master/internal/resourcemanagers/agent_resource_manager.go
  proto/src/determined/resourcepool/v1/resourcepool.proto
  webui/react/src/components/Bar.tsx
  webui/react/src/components/Json.module.scss
  webui/react/src/components/Json.tsx
  webui/react/src/components/ResourcePoolCardLight.module.scss
  webui/react/src/components/ResourcePoolCardLight.stories.tsx
  webui/react/src/components/ResourcePoolCardLight.tsx
  webui/react/src/components/SlotAllocation.module.scss
  webui/react/src/components/SlotAllocationBar.tsx
  webui/react/src/constants/states.ts
  webui/react/src/contexts/Store.tsx
  webui/react/src/fixtures/responses/cluster/resource-pools.json
  webui/react/src/pages/Clusters.tsx
  webui/react/src/pages/Clusters/ClustersOverview.module.scss
  webui/react/src/pages/Clusters/ClustersOverview.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/themes.ts
  webui/react/src/types.ts
Labels: cla-signed

#3661 fix: det user whoami to return current user in notebooks
  e2e_tests/tests/cluster/test_users.py
  harness/determined/common/api/authentication.py
  harness/determined/common/util.py
  harness/tests/cli/test_auth.py
  master/internal/api_command.go
  master/internal/api_experiment.go
  master/internal/command/command.go
  master/internal/core_experiment.go
  master/internal/db/database.go
  master/internal/db/postgres_users.go
  master/internal/experiment.go
  master/internal/mocks/db.go
  master/internal/resourcemanagers/kubernetes/pod_test.go
  master/pkg/tasks/task.go
Labels: cla-signed

#3710 docs: fix css typo
  docs/assets/styles/determined.css
Labels: cla-signed

#3673 perf: refactor get_experiments.sql for a better query plan
  master/static/srv/get_experiments.sql
Labels: cla-signed

#3714 fix: `accelerator` field for GCP instance
  master/internal/resourcemanagers/agent_resource_manager.go
  master/internal/resourcemanagers/provisioner/aws_config.go
  master/internal/resourcemanagers/provisioner/gcp_config.go
  webui/react/src/components/ResourcePoolCardLight.tsx
  webui/react/src/components/SlotAllocationBar.tsx
Labels: cla-signed

#3686 feat: job queue write batch cli
  docs/features/job-queue.txt
  harness/determined/cli/job.py
  master/internal/resourcemanagers/priority.go
Labels: cla-signed

#3715 chore: Add interaction tests for RadioGroup [DET-6662]
  webui/react/src/components/RadioGroup.test.tsx
Labels: cla-signed

#3718 fix: download cifar10 only once per node in cifar10_pytorch example
  examples/computer_vision/cifar10_pytorch/model_def.py
Labels: cla-signed

#3684 chore: dev mode for `update-bumpenvs-yaml`.
  tools/scripts/update-bumpenvs-yaml.py
Labels: cla-signed

#3726 fix: det deploy gcp bad resource name
  harness/determined/deploy/gcp/gcp.py
  harness/determined/deploy/gcp/terraform/main.tf
Labels: cla-signed

#3708 test: add tests for user settings DET-6788 DET-6750
  webui/react/src/components/Avatar.test.tsx
  webui/react/src/components/UserSettings.module.scss
  webui/react/src/components/UserSettings.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalChangeName.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalChangeName.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalChangePassword.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalChangePassword.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalUserSettings.module.scss
  webui/react/src/hooks/useModal/UserSettings/useModalUserSettings.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalUserSettings.tsx
  webui/react/src/utils/user.test.ts
Labels: cla-signed

#3724 feat: remove global_batch_size requirement
  e2e_tests/tests/fixtures/metric_maker/metric_maker.py
  e2e_tests/tests/fixtures/no_op/model_def.py
  harness/determined/_data_layer/_context.py
  harness/determined/_env_context.py
  harness/determined/_trial_context.py
  harness/determined/_trial_controller.py
  harness/determined/common/schemas/expconf/_gen.py
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/estimator/_estimator_context.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/keras/_tf_keras_context.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/layers/_workload_sequencer.py
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/util.py
  harness/tests/experiment/keras/test_tf_keras_trial.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/tensorflow/test_estimator_trial.py
  harness/tests/experiment/utils.py
  harness/tests/test_util.py
  master/pkg/model/test_utils.go
  master/pkg/schemas/expconf/hyperparameters_config.go
  master/pkg/schemas/zgen_schemas.go
  master/pkg/searcher/hyperparameters.go
  schemas/expconf/v0/check-global-batch-size.json
  schemas/expconf/v0/experiment.json
  schemas/expconf/v0/hyperparameters.json
  schemas/test_cases/v0/experiment.yaml
  schemas/test_cases/v0/global_batch_size.yaml
Labels: cla-signed, User-facing API Change

#3737 fix: Restore det preview-search in CLI [DET-6850]
  master/internal/core.go
  master/internal/core_searcher.go
Labels: cla-signed

#3717 fix: allow ranks to report independent early exits [DET-6792, DET-6835]
  docs/release-notes/invalid-hp-dtrain.txt
  master/internal/api_trials.go
  master/internal/experiment.go
  master/internal/trial.go
  master/pkg/searcher/searcher.go
Labels: cla-signed

#3539 chore: Return trial workloads and metrics in place of ExperimentRaw [DET-6485]
  docs/release-notes/3539-replace-core-experiment-with-new-api.txt
  e2e_tests/tests/cluster/test_agent_disable.py
  e2e_tests/tests/cluster/test_agent_restart.py
  e2e_tests/tests/cluster/test_checkpoints.py
  e2e_tests/tests/command/test_tensorboard.py
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/experiment/test_launch.py
  e2e_tests/tests/experiment/test_noop.py
  e2e_tests/tests/experiment/test_profiling.py
  e2e_tests/tests/experiment/test_pytorch.py
  e2e_tests/tests/experiment/test_tf_estimator.py
  e2e_tests/tests/experiment/test_tf_keras.py
  e2e_tests/tests/nightly/test_convergence.py
  e2e_tests/tests/test_logging.py
  harness/determined/cli/checkpoint.py
  harness/determined/cli/experiment.py
  harness/determined/cli/render.py
  harness/determined/common/api/__init__.py
  harness/determined/common/api/bindings.py
  harness/determined/common/api/experiment.py
  harness/determined/pytorch/_pytorch_context.py
  master/internal/api.go
  master/internal/core.go
  master/internal/core_experiment.go
  master/internal/core_trial.go
  master/internal/db/database.go
  master/internal/db/postgres_experiments.go
  master/internal/mocks/db.go
  master/static/srv/proto_get_trials_plus.sql
  proto/buf.image.bin
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#3733 fix: always show progress bar for experiments
  webui/react/src/components/Table.tsx
  webui/react/src/constants/states.ts
  webui/react/src/pages/ExperimentDetails/Header/ExperimentHeaderProgress.tsx
Labels: cla-signed

#3716 chore: updates to prometheus docs
  docs/integrations/prometheus.txt
Labels: cla-signed

#3734 feat: update default env images to pytorch 1.10.2, tf 2.8.
  .circleci/config.yml
  docs/features/command-notebook-config.txt
  docs/features/tensorboard.txt
  docs/prepare-environment/custom-env.txt
  docs/release-notes/3734-images.txt
  docs/sysadmin-basics/cluster-config.txt
  docs/sysadmin-deploy-on-gcp/install-gcp.txt
  docs/sysadmin-deploy-on-k8s/helm-config.txt
  docs/training-apis/experiment-config.txt
  docs/training-apis/index.txt
  e2e_tests/tests/config.py
  e2e_tests/tests/fixtures/pytorch_lightning_amp/apex_amp.yaml
  e2e_tests/tests/fixtures/pytorch_lightning_amp/auto_amp.yaml
  examples/computer_vision/cifar10_tf_keras/data.py
  examples/computer_vision/efficientdet_pytorch/const.yaml
  examples/computer_vision/efficientdet_pytorch/const_fake.yaml
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/decision_trees/gbt_titanic_estimator/adaptive.yaml
  examples/decision_trees/gbt_titanic_estimator/const.yaml
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/aws/templates/vpc.yaml
  harness/determined/deploy/gcp/constants.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/keras/_tf_keras_trial.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-estimator/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  helm/charts/determined/templates/master-config.yaml
  master/internal/resourcemanagers/provisioner/aws_config.go
  master/internal/resourcemanagers/provisioner/gcp_config.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  model_hub/tests/requirements.txt
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/update-bumpenvs-yaml.py
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: cla-signed

#3738 fix: create user with password broken [DET-6852]
  master/internal/api_user.go
  master/internal/db/postgres_users.go
Labels: cla-signed

#3725 test: add test for cross-version master/agent clusters
  .circleci/config.yml
  .circleci/devcluster/custom-agent-version.devcluster.yaml
  .circleci/devcluster/postgres-with-ssl.devcluster.yaml
  e2e_tests/pytest.ini
  e2e_tests/tests/cluster/test_users.py
  e2e_tests/tests/template/test_template.py
  e2e_tests/tests/test_logging.py
Labels: cla-signed

#3728 feat: Add workspaces, projects, and related DB schema [DET-6815]
  master/static/migrations/20220311095512_add_workspace_tables.down.sql
  master/static/migrations/20220311095512_add_workspace_tables.up.sql
Labels: cla-signed

#3744 docs: remove some outdated information.
  docs/interact/cli.txt
  docs/release-notes.txt
  docs/release-notes/3734-images.txt
  docs/sysadmin-basics/upgrades.txt
Labels: cla-signed

#3732 fix: set allocation start time accurately (specifically for Kubernetees) [DET-6713]
  master/internal/db/database.go
  master/internal/db/postgres_cluster_intg_test.go
  master/internal/db/postgres_tasks.go
  master/internal/db/postgres_tasks_intg_test.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/mocks/db.go
  master/internal/task/allocation.go
  master/internal/task/allocation_test.go
  master/pkg/model/task.go
  master/pkg/model/test_utils.go
  master/static/migrations/20220315162743_drop-not-null-allocation-start-time.tx.down.sql
  master/static/migrations/20220315162743_drop-not-null-allocation-start-time.tx.up.sql
  tools/scripts/update-bumpenvs-yaml.py
Labels: cla-signed

#3743 fix: replace loading skeleton with empty state [DET-6800]
  webui/react/src/pages/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/TrialDetails/TrialChart.module.scss
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
Labels: cla-signed

#3727 docs: update release note process
  docs/release-notes/README.md
Labels: cla-signed

#3663 refactor: pull out intermediary resources representation for RM
  agent/internal/container.go
  e2e_tests/tests/cluster/test_agent_disable.py
  e2e_tests/tests/experiment/experiment.py
  harness/determined/cli/agent.py
  harness/determined/cli/task.py
  harness/determined/common/api/bindings.py
  harness/determined/exec/launch.py
  harness/determined/exec/prep_container.py
  harness/determined/launch/autohorovod.py
  master/Makefile
  master/internal/api_trials.go
  master/internal/checkpoint_gc.go
  master/internal/mocks/resources.go
  master/internal/prom/prom.go
  master/internal/resourcemanagers/agent/agent.go
  master/internal/resourcemanagers/fair_share.go
  master/internal/resourcemanagers/job.go
  master/internal/resourcemanagers/kubernetes/pod.go
  master/internal/resourcemanagers/kubernetes/pod_test.go
  master/internal/resourcemanagers/kubernetes/spec.go
  master/internal/resourcemanagers/kubernetes_resource_manager.go
  master/internal/resourcemanagers/priority.go
  master/internal/resourcemanagers/priority_test.go
  master/internal/resourcemanagers/resource_pool.go
  master/internal/resourcemanagers/scheduler_test.go
  master/internal/resourcemanagers/summaries.go
  master/internal/sproto/resources.go
  master/internal/sproto/task.go
  master/internal/sproto/task_actor.go
  master/internal/task/allocation.go
  master/internal/task/allocation_test.go
  master/internal/task/errors.go
  master/internal/task/rendezvous.go
  master/internal/task/rendezvous_test.go
  master/internal/task/reservation_list.go
  master/internal/task/resources_list.go
  master/internal/trial.go
  master/pkg/aproto/master_message.go
  master/pkg/cproto/container.go
  master/pkg/tasks/task.go
  proto/buf.image.bin
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#3747 fix: prevent pytorch geometric nightly test timeout
  examples/graphs/proteins_pytorch_geometric/adaptive.yaml
  examples/graphs/proteins_pytorch_geometric/const.yaml
  examples/graphs/proteins_pytorch_geometric/distributed.yaml
  examples/graphs/proteins_pytorch_geometric/startup-hook.sh
Labels: cla-signed

#3749 fix: check_idle.py is quiet when jupyter takes a while to start up
  master/static/srv/check_idle.py
Labels: cla-signed

#3742 fix: use displayName in tables
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/command/command.go
  master/static/srv/get_experiments.sql
  proto/src/determined/command/v1/command.proto
  proto/src/determined/experiment/v1/experiment.proto
  proto/src/determined/notebook/v1/notebook.proto
  proto/src/determined/shell/v1/shell.proto
  proto/src/determined/tensorboard/v1/tensorboard.proto
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
  webui/react/src/utils/task.ts
Labels: cla-signed

#3764 fix: update types for pytorch custom reducers
  harness/determined/pytorch/_reducer.py
  model_hub/model_hub/mmdetection/_trial.py
Labels: cla-signed

#3694 refactor: add all gather for v2 rendezvous
  harness/determined/common/api/bindings.py
  master/internal/api_tasks.go
  master/internal/task/all_gather.go
  master/internal/task/allocation.go
  master/internal/task/allocation_test.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#3745 chore: bump to go1.18
  .circleci/config.yml
  CONTRIBUTING.md
  agent/Makefile
  agent/go.mod
  agent/go.sum
  master/.golangci.yml
  master/Makefile
  master/go.mod
  master/go.sum
  master/internal/core.go
  master/internal/grpcutil/auth.go
  master/internal/hpimportance/hpimportance.go
  master/internal/resourcemanagers/agent_resource_manager.go
  master/internal/resourcemanagers/resource_pool.go
  master/pkg/searcher/search_method.go
  master/pkg/ssh/ssh.go
Labels: cla-signed

#3771 fix: nil pointer exception when restoring experiments
  master/internal/restore.go
Labels: cla-signed

#3770 test: disable test_task_logs[command] flake
  e2e_tests/tests/cluster/test_logging.py
Labels: cla-signed

#3689 refactor: replace plotly with hermes [DET-6725]
  webui/react/craco.config.js
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/Plotly.tsx
  webui/react/src/components/ParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/typings/plotly.d.ts
Labels: cla-signed

#3721 chore: clean up code
  harness/determined/cli/job.py
Labels: cla-signed

#3772 chore: bump proto to 1.18
  proto/go.mod
Labels: cla-signed

#3713 refactor: feature flag out rm's providing IP addrs
  master/internal/resourcemanagers/kubernetes_resource_manager.go
  master/internal/resourcemanagers/resource_pool.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/task/allocation_test.go
  master/internal/task/errors.go
  master/internal/task/rendezvous.go
  master/internal/task/rendezvous_test.go
  master/internal/task/resources_list.go
  master/internal/trial.go
Labels: cla-signed

#3748 chore: better log metadata
  agent/internal/container.go
  master/internal/api_experiment.go
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/core_experiment.go
  master/internal/experiment.go
  master/internal/mocks/resources.go
  master/internal/resourcemanagers/agent/agent.go
  master/internal/resourcemanagers/kubernetes/message.go
  master/internal/resourcemanagers/kubernetes/pod.go
  master/internal/resourcemanagers/kubernetes_resource_manager.go
  master/internal/resourcemanagers/resource_pool.go
  master/internal/resourcemanagers/scheduler_test.go
  master/internal/restore.go
  master/internal/sproto/agent_resource_manager.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/task/allocation_test.go
  master/internal/trial.go
  master/internal/trial_test.go
  master/pkg/actor/context.go
  master/pkg/actor/ref.go
  master/pkg/logger/util.go
Labels: cla-signed

#3754 refactor: make rendezvous less actor-like
  master/internal/task/allocation.go
  master/internal/task/rendezvous.go
  master/internal/task/rendezvous_test.go
Labels: cla-signed

#3706 docs: job queue write feature
  docs/features/job-queue.txt
Labels: cla-signed

#3776 chore: remove unused websockets
  webui/react/package-lock.json
  webui/react/package.json
Labels: cla-signed

#3347 feat: add fine grained control for reordering jobs
  agent/go.mod
  docs/features/job-queue.txt
  e2e_tests/tests/cluster/test_job_queue.py
  harness/determined/cli/job.py
  master/go.mod
  master/internal/api_job.go
  master/internal/command/command.go
  master/internal/db/postgres_jobs.go
  master/internal/db/postgres_tasks_intg_test.go
  master/internal/experiment.go
  master/internal/job/job.go
  master/internal/resourcemanagers/agent_resource_manager.go
  master/internal/resourcemanagers/job.go
  master/internal/resourcemanagers/kubernetes/message.go
  master/internal/resourcemanagers/kubernetes/pods.go
  master/internal/resourcemanagers/kubernetes_resource_manager.go
  master/internal/resourcemanagers/priority.go
  master/internal/resourcemanagers/priority_test.go
  master/internal/resourcemanagers/resource_managers.go
  master/internal/resourcemanagers/resource_pool.go
  master/internal/resourcemanagers/resource_pool_test.go
  master/internal/resourcemanagers/scheduler_test.go
  master/internal/sproto/task_actor.go
  master/pkg/model/job.go
  master/static/migrations/20220315155921_job-queue-scheduler-position.down.sql
  master/static/migrations/20220315155921_job-queue-scheduler-position.up.sql
  prepqueue.sh
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/JobQueue/ManageJob.tsx
Labels: Work in progress, cla-signed, User-facing API Change

#3779 chore: fix up job queue issues after merge
  master/internal/resourcemanagers/agent_resource_manager.go
  master/internal/resourcemanagers/resource_pool.go
Labels: cla-signed

#3752 fix: stop single trial tabs from breaking when trial is undefined
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsProfiles.tsx
Labels: cla-signed

#3780 docs: fix typo
  docs/sysadmin-basics/index.txt
Labels: cla-signed

#3784 chore: disable showing queue position related controls for k8 [DET-6917]
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/JobQueue/ManageJob.tsx
  webui/react/src/utils/job.ts
Labels: cla-signed

#3783 fix: kubernetes job queue unexpected message
  master/internal/resourcemanagers/kubernetes_resource_manager.go
Labels: cla-signed

#3766 chore: add ProtoConverter
  master/pkg/protoutils/converter.go
Labels: cla-signed

#3781 docs: update job queue docs to mention k8
  docs/features/job-queue.txt
  master/internal/command/command.go
  master/internal/job/job.go
  prepqueue.sh
Labels: cla-signed

#3786 fix: CLI describes experiment with zero trials
  harness/determined/cli/experiment.py
Labels: cla-signed

#3755 chore: Update required fields, remove repeat fields from model registry [DET-6861]
  docs/release-notes/3755-update-model-required-fields.txt
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/model.py
  proto/buf.image.bin
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/model.proto
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
Labels: cla-signed, User-facing API Change

#3740 feat: Create and read endpoints for workspaces and projects [DET-6816]
  e2e_tests/tests/cluster/test_workspace_org.py
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_project.go
  master/internal/api_workspace.go
  master/internal/db/postgres_experiments_intg_test.go
  master/static/srv/get_experiments.sql
  master/static/srv/get_project.sql
  master/static/srv/get_workspace.sql
  master/static/srv/get_workspace_projects.sql
  master/static/srv/get_workspaces.sql
  master/static/srv/insert_project.sql
  master/static/srv/insert_project_note.sql
  master/static/srv/insert_workspace.sql
  proto/buf.image.bin
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/project.proto
  proto/src/determined/api/v1/workspace.proto
  proto/src/determined/project/v1/project.proto
  proto/src/determined/workspace/v1/workspace.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#3791 fix: Restore /model_def / getExperimentModelDefinition
  master/internal/core.go
  master/internal/core_experiment.go
Labels: cla-signed

#3769 chore: add bun.DB singleton in master
  agent/go.mod
  agent/go.sum
  master/go.mod
  master/go.sum
  master/internal/db/postgres.go
  master/internal/db/postgres_cluster_intg_test.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_model_intg_test.go
  master/internal/db/postgres_tasks_intg_test.go
  master/internal/db/postgres_test_utils.go
  master/internal/db/postgres_trial_intg_test.go
  master/test/integration/api/main_test.go
  master/test/testutils/fixtures.go
Labels: cla-signed

#3756 docs: fixes for concepts index page
  docs/concepts/index.txt
Labels: cla-signed

#3793 test: turn off timeout for now on logs tests
  e2e_tests/tests/cluster/test_logging.py
Labels: cla-signed

#3795 revert: add bun.DB singleton in master
  agent/go.mod
  agent/go.sum
  master/go.mod
  master/go.sum
  master/internal/db/postgres.go
  master/internal/db/postgres_cluster_intg_test.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_model_intg_test.go
  master/internal/db/postgres_tasks_intg_test.go
  master/internal/db/postgres_test_utils.go
  master/internal/db/postgres_trial_intg_test.go
  master/test/integration/api/main_test.go
  master/test/testutils/fixtures.go
Labels: cla-signed

#3797 chore: reorder jobs.q_position migrations [DET-6934]
  master/static/migrations/20220315155921_job-queue-scheduler-position.down.sql
  master/static/migrations/20220324114040_job-queue-scheduler-position.down.sql
  master/static/migrations/20220324114040_job-queue-scheduler-position.up.sql
Labels: cla-signed

#3799 fix: cli win tests
  .circleci/config.yml
  harness/tests/requirements/requirements-cli.txt
  harness/tests/requirements/requirements-harness.txt
  requirements.txt
Labels: cla-signed

#3789 fix: update HPE logos (DET-6868)
  webui/react/src/assets/images/logo-hpe-on-dark-horizontal.svg
  webui/react/src/assets/images/logo-hpe-on-light-horizontal.svg
  webui/react/src/components/Logo.tsx
Labels: cla-signed

#3803 chore: bump deepspeed version to 0.6.0
  .circleci/config.yml
  e2e_tests/tests/config.py
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/deepspeed/cifar10_moe/ds_config.json
  examples/deepspeed/cifar10_moe/model_def.py
  examples/deepspeed/cifar10_moe/moe.yaml
  examples/deepspeed/cifar10_moe/zero_stages.yaml
  examples/deepspeed/gpt_neox/Dockerfile
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  examples/graphs/proteins_pytorch_geometric/adaptive.yaml
  examples/graphs/proteins_pytorch_geometric/const.yaml
  examples/graphs/proteins_pytorch_geometric/distributed.yaml
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/aws/templates/vpc.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-estimator/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/requirements/requirements-harness.txt
  helm/charts/determined/templates/master-config.yaml
  master/internal/resourcemanagers/provisioner/aws_config.go
  master/internal/resourcemanagers/provisioner/gcp_config.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: cla-signed

#3796 chore: API requests that return username should also return userId
  harness/determined/common/api/bindings.py
  master/internal/command/command.go
  master/internal/experiment.go
  master/static/srv/get_experiment.sql
  master/static/srv/get_experiments.sql
  master/static/srv/get_model.sql
  master/static/srv/get_model_version.sql
  master/static/srv/get_model_versions.sql
  master/static/srv/get_models.sql
  master/static/srv/get_raw_allocation.sql
  proto/src/determined/command/v1/command.proto
  proto/src/determined/experiment/v1/experiment.proto
  proto/src/determined/job/v1/job.proto
  proto/src/determined/master/v1/master.proto
  proto/src/determined/model/v1/model.proto
  proto/src/determined/notebook/v1/notebook.proto
  proto/src/determined/shell/v1/shell.proto
  proto/src/determined/tensorboard/v1/tensorboard.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#3804 fix: add dependency for harness tests
  harness/tests/requirements/requirements-harness.txt
Labels: cla-signed

#3545 chore: upgrade to support panoptic segmentation for coco [DET-6945]
  docs/release-notes/3545-upgrade-mmdetection.txt
  model_hub/docker/Dockerfile.mmdetection
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/model_hub/mmdetection/_data.py
  model_hub/model_hub/mmdetection/_data_backends.py
Labels: cla-signed

#3802 fix: update references to branding (DET-6870)
  webui/react/public/hpe/manifest.json
  webui/react/src/components/Page.tsx
Labels: cla-signed

#3811 fix: add pytorch as requirement before deepspeed is installed
  .circleci/config.yml
  Makefile
  harness/tests/requirements/requirements-harness.txt
Labels: cla-signed

#3798 chore: add bun.DB singleton in master (again)
  agent/go.mod
  agent/go.sum
  master/go.mod
  master/go.sum
  master/internal/db/postgres.go
Labels: cla-signed

#3800 fix: bugs in PIDServer
  harness/determined/ipc.py
  harness/tests/test_ipc.py
Labels: cla-signed

#3812 ci: delete useless and slow noop test
  e2e_tests/tests/experiment/test_noop.py
  e2e_tests/tests/fixtures/no_op/single-long-train-step.yaml
Labels: cla-signed

#3782 docs: release notes for job queue
  docs/release-notes/3347-job-queue-write.txt
Labels: cla-signed

#3805 feat: add workspace and project routes [DET-6822]
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceList.tsx
  webui/react/src/routes/index.ts
  webui/react/src/routes/routes.ts
  webui/react/src/routes/utils.ts
Labels: cla-signed

#3790 fix: remember originally requested page on login [DET-6928]
  docs/release-notes/3790-login-redirect.txt
  webui/react/src/contexts/Store.tsx
  webui/react/src/hooks/useAuthCheck.ts
  webui/react/src/pages/SignOut.tsx
  webui/react/src/utils/error.ts
Labels: cla-signed

#3801 fix: change menus for mobile resolution (DET-6869)
  webui/react/src/components/ActionSheet.module.scss
  webui/react/src/components/ActionSheet.tsx
  webui/react/src/components/AvatarCard.module.scss
  webui/react/src/components/AvatarCard.tsx
  webui/react/src/components/Navigation.module.scss
  webui/react/src/components/Navigation.tsx
  webui/react/src/components/NavigationSideBar.module.scss
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.module.scss
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/NavigationTopbar.module.scss
  webui/react/src/components/NavigationTopbar.stories.tsx
  webui/react/src/components/NavigationTopbar.tsx
  webui/react/src/themes.ts
Labels: cla-signed

#3806 chore: use userId as url param for user endpoints
  harness/determined/common/api/bindings.py
  master/internal/api_auth.go
  master/internal/api_user.go
  master/internal/db/postgres_users.go
  proto/buf.image.bin
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/user.proto
  webui/react/src/hooks/useModal/UserSettings/useModalChangeName.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalChangeName.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalChangePassword.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalChangePassword.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#3815 docs: add release notes for 0.17.12
  docs/release-notes.txt
  docs/release-notes/3347-job-queue-write.txt
  docs/release-notes/3539-replace-core-experiment-with-new-api.txt
  docs/release-notes/3734-images.txt
  docs/release-notes/invalid-hp-dtrain.txt
  docs/release-notes/transactional-migrations.txt
Labels: cla-signed

#3788 fix: use max slots provisioning agents [DET-5725]
  master/internal/resourcemanagers/resource_pool.go
  master/internal/resourcemanagers/scaling.go
  master/internal/resourcemanagers/scaling_test.go
Labels: cla-signed

#3723 feat: Accept model.id for lookups, show model.id in UI [DPS-49]
  docs/release-notes/3723-model-registry-api.txt
  e2e_tests/tests/cluster/test_model_registry.py
  harness/determined/common/experimental/determined.py
  harness/determined/experimental/client.py
  master/internal/api_model.go
  master/static/srv/get_model_by_id.sql
  webui/react/src/components/Table.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/routes/utils.ts
Labels: cla-signed, User-facing API Change

#3809 chore: add trialIds to GET experiment response
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/static/srv/get_experiment.sql
  proto/src/determined/experiment/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#3757 docs: Add examples and documentation for AMP [DET-5170]
  docs/training-apis/api-pytorch-advanced.txt
Labels: cla-signed

#3818 ci: fix click/black conflict.
  requirements.txt
Labels: cla-signed

#3775 chore: update pytorch data loader args
  harness/determined/pytorch/_data.py
Labels: cla-signed

#3816 fix: keep page from crashing when trial/hyperparameters are not loaded yet [DET-6951]
  webui/react/src/pages/TrialDetails/TrialDetailsHyperparameters.tsx
Labels: cla-signed

#3824 fix: e2e tests for deepspeed and pytorch geometric
  examples/deepspeed/gpt_neox/gpt2_trial.py
  examples/graphs/proteins_pytorch_geometric/model_def.py
Labels: cla-signed

#3822 chore: clean up get_experiment.sql query
  master/static/srv/get_experiment.sql
Labels: cla-signed

#3827 docs: nested hps [DET-5819]
  docs/training-apis/experiment-config.txt
Labels: cla-signed

#3817 feat: Prevent PATCH/DELETE on default workspace/project [DET-6952]
  e2e_tests/tests/cluster/test_workspace_org.py
  harness/determined/common/api/bindings.py
  master/internal/api_project.go
  master/internal/api_workspace.go
  master/static/srv/delete_project.sql
  master/static/srv/delete_workspace.sql
  master/static/srv/get_project.sql
  master/static/srv/get_workspace.sql
  master/static/srv/get_workspace_projects.sql
  master/static/srv/get_workspaces.sql
  master/static/srv/insert_project.sql
  master/static/srv/insert_workspace.sql
  master/static/srv/update_project.sql
  master/static/srv/update_workspace.sql
  proto/src/determined/project/v1/project.proto
  proto/src/determined/workspace/v1/workspace.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#3825 fix: Set default project for experiments.project_id [DET-6958]
  master/static/migrations/20220329122139_set_default_exp_project.down.sql
  master/static/migrations/20220329122139_set_default_exp_project.up.sql
Labels: cla-signed

#3828 fix: use RoutePagination to navigate between trials
  webui/react/src/components/RoutePagination.module.scss
  webui/react/src/components/RoutePagination.test.tsx
  webui/react/src/components/RoutePagination.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#3821 chore: handle job summary db <-> exp actor race condition
  master/internal/api_experiment.go
Labels: cla-signed

#3823 chore: add generic math max/min
  agent/Makefile
  agent/go.mod
  agent/go.sum
  master/Makefile
  master/go.mod
  master/go.sum
  master/internal/db/postgres_jobs.go
  master/internal/prom/prom.go
  master/internal/resourcemanagers/fair_share.go
  master/internal/resourcemanagers/provisioner/scale_decider.go
  master/internal/resourcemanagers/scaling.go
  master/internal/resourcemanagers/util.go
  master/internal/resourcemanagers/util_test.go
  master/pkg/logger/log_buffer.go
  master/pkg/mathx/mathx.go
  master/pkg/mathx/mathx_test.go
  master/pkg/searcher/adaptive_asha.go
  master/pkg/searcher/asha.go
  master/pkg/searcher/asha_stopping.go
  master/pkg/searcher/grid.go
  master/pkg/searcher/random.go
Labels: cla-signed

#3833 refactor: consolidate allocation state.
  master/internal/task/allocation.go
Labels: cla-signed

#3810 chore: add missing FK constraints for `trials` and `allocation_sessions`
  master/internal/api_experiment.go
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/core_experiment.go
  master/internal/db/postgres_cluster_intg_test.go
  master/internal/db/postgres_tasks_intg_test.go
  master/internal/db/postgres_trial.go
  master/internal/experiment.go
  master/pkg/model/task.go
  master/pkg/tasks/task_gc.go
  master/static/migrations/20220330114636_add-task-allocation-fks.tx.down.sql
  master/static/migrations/20220330114636_add-task-allocation-fks.tx.up.sql
  master/static/migrations/migration-move-to-top.sh
Labels: cla-signed

#3792 chore: convert ptrs.* to generics-based ptrs.Ptr
  agent/internal/container.go
  agent/internal/fluent_intg_test.go
  master/internal/api_tensorboard.go
  master/internal/command/summary.go
  master/internal/config/config_test.go
  master/internal/db/postgres_cluster_intg_test.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_helpers_intg_test.go
  master/internal/db/postgres_tasks_intg_test.go
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/experiment.go
  master/internal/restore_test.go
  master/internal/sproto/task.go
  master/internal/sproto/task_actor.go
  master/internal/task/all_gather.go
  master/internal/task/allocation.go
  master/internal/task/idle_timeout.go
  master/internal/trial.go
  master/internal/trial_test.go
  master/pkg/model/compat.go
  master/pkg/model/task_container_defaults.go
  master/pkg/model/test_utils.go
  master/pkg/ptrs/ptrs.go
  master/pkg/schemas/defaults_test.go
  master/pkg/schemas/expconf/experiment_config_test.go
  master/pkg/schemas/expconf/legacy_test.go
  master/pkg/schemas/merge_test.go
  master/pkg/searcher/adaptive_asha.go
  master/pkg/searcher/adaptive_asha_test.go
  master/pkg/searcher/asha_stopping_test.go
  master/pkg/searcher/asha_test.go
  master/pkg/searcher/grid_test.go
  master/pkg/searcher/pbt_test.go
  master/pkg/searcher/random.go
  master/pkg/searcher/random_test.go
  master/pkg/searcher/tournament_test.go
Labels: cla-signed

#3839 fix: remove python 3.10 union-type syntax
  harness/determined/cli/experiment.py
Labels: cla-signed
