Repository determined-ai/determined, pull requests merged in 2023-09, with the labels that each got.

#7767 chore: track dead code [WEB-258]
  webui/react/.eslintrc.js
  webui/react/.unimportedrc.json
  webui/react/design/index.tsx
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ActionSheet.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/vite.config.mts
Labels: cla-signed

#7771 fix: glitchy width in code editor
  webui/react/src/components/kit/CodeEditor/CodeEditor.module.scss
Labels: cla-signed

#7775 chore: suppress the daemonize message on HPC jobs
  master/internal/task/allocation.go
Labels: cla-signed

#7776 chore: remove empty `determined/common/api/checkpoint/`.
  harness/determined/common/api/checkpoint/__init__.py
  harness/determined/common/api/checkpoint/torch_load.py
Labels: cla-signed

#7782 fix: handles custom TLS certs in enrich_task_logs.py [DET-9803]
  master/static/srv/enrich_task_logs.py
Labels: cla-signed

#7793 chore: revert PR for track dead code [WEB-258]
  webui/react/.eslintrc.js
  webui/react/.unimportedrc.json
  webui/react/design/index.tsx
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ActionSheet.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/vite.config.mts
Labels: cla-signed

#7750 chore: Create/document a mechanism to run the nightly tests on a PR [FE-146]
  .circleci/config.yml
Labels: cla-signed, ci-run-nightly

#7794 chore: reduce master log noise
  master/internal/rm/agentrm/resource_pool.go
Labels: cla-signed

#7796 docs: quick fix for version dropdown
  docs/_static/version-switcher/versions.json
Labels: documentation, cla-signed

#7797 chore: revert trial actor refactor
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/experiment.go
  master/internal/restore.go
  master/internal/restore_test.go
  master/internal/task/allocation_service.go
  master/internal/trial.go
  master/internal/trial_intg_test.go
  master/pkg/actor/actors/test_actor.go
  master/test/testutils/fixtures.go
Labels: cla-signed

#7785 fix: Get distributed jobs working with devcluster [FE-181]
  agent/internal/agent.go
  master/internal/rm/agentrm/agent.go
Labels: cla-signed

#7725 ci: quarantine some flaky nightlies
  .circleci/config.yml
  e2e_tests/pytest.ini
  e2e_tests/tests/conftest.py
  e2e_tests/tests/nightly/test_distributed.py
Labels: cla-signed

#7762 docs: Update the installation guide
  docs/.redirects/redirects.json
  docs/_shared/basic-installation.txt
  docs/articles/viewing-epoch-based-metrics.rst
  docs/index.rst
  docs/model-dev-guide/api-guides/apis-howto/api-core-ug.rst
  docs/model-dev-guide/api-guides/index.rst
  docs/model-dev-guide/debug-models.rst
  docs/model-dev-guide/dtrain/dtrain-implement.rst
  docs/reference/deploy/config/master-config-reference.rst
  docs/setup-cluster/basic.rst
  docs/setup-cluster/deploy-cluster/basic.rst
  docs/setup-cluster/deploy-cluster/cluster-configuration.rst
  docs/setup-cluster/deploy-cluster/firewall-rules.rst
  docs/setup-cluster/deploy-cluster/index.rst
  docs/setup-cluster/deploy-cluster/internet-access.rst
  docs/setup-cluster/deploy-cluster/on-prem/overview.rst
  docs/setup-cluster/deploy-cluster/setup-clients.rst
  docs/tutorials/pytorch-mnist-local-qs.rst
  docs/tutorials/pytorch-mnist-tutorial.rst
  docs/tutorials/quickstart-mdldev.rst
  docs/tutorials/tf-mnist-tutorial.rst
Labels: documentation, cla-signed

#7795 chore: tools/k8s doesn't use coscheduler
  tools/k8s/devcluster.yaml
Labels: cla-signed

#7800 fix: Avoid dropdown repeating in ExpList fields dropdown [WEB-1598]
  master/internal/api_project.go
  webui/react/src/components/FilterForm/components/FilterField.tsx
Labels: cla-signed, to-cherry-pick

#7804 docs: Add sections on HPC upgrade and package verificaiton
  docs/setup-cluster/deploy-cluster/slurm/install-on-slurm.rst
  docs/setup-cluster/deploy-cluster/slurm/overview.rst
  docs/setup-cluster/deploy-cluster/slurm/slurm-known-issues.rst
  docs/setup-cluster/deploy-cluster/slurm/upgrade-on-hpc.rst
Labels: documentation, cla-signed

#7812 docs: HPC launcher doc tweaks, add image scheme docker-archive://
  docs/reference/training/experiment-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/upgrade-on-hpc.rst
Labels: documentation, cla-signed

#7809 fix: Learning curve will send falsey metricType
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
Labels: cla-signed, to-cherry-pick

#7803 fix: lower severity of allocation log changed when debugging
  master/internal/task/allocation.go
Labels: cla-signed

#7811 fix: progress filter in exp
  master/internal/api_experiment_intg_test.go
  master/internal/experiment_filter.go
Labels: cla-signed, to-cherry-pick

#7802 chore: agent device discovery too greedy
  agent/cmd/determined-agent/run.go
  agent/cmd/determined-agent/run_test.go
  docs/release-notes/agentVisibleGPUs.rst
Labels: documentation, cla-signed

#7810 chore: minor copy change
  webui/react/src/pages/Admin/GroupManagement.tsx
Labels: cla-signed

#7815 chore: Split out partial updates into setPartial
  webui/react/src/stores/userSettings.test.tsx
  webui/react/src/stores/userSettings.tsx
Labels: cla-signed

#7807 fix: correct useResize hook to return proper element sizes [WEB-1656]
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/components/kit/LogViewer/LogViewer.tsx
  webui/react/src/components/kit/internal/Markdown.tsx
  webui/react/src/components/kit/internal/UPlot/UPlotChart.tsx
  webui/react/src/components/kit/internal/useGetCharMeasureInContainer.ts
  webui/react/src/components/kit/internal/useResize.ts
  webui/react/src/pages/TaskLogs.test.tsx
Labels: cla-signed, to-cherry-pick

#7819 fix: SSO button text color
  webui/react/src/pages/SignIn.module.scss
Labels: cla-signed, to-cherry-pick

#7778 chore: support binary output via dev curl.
  harness/determined/cli/dev.py
Labels: cla-signed

#7824 ci: add a newline to the output for pre-check
  .github/workflows/check-rebaseable.yml
Labels: cla-signed

#7826 ci: fix check-rebaseable syntax [ci skip]
  .github/workflows/check-rebaseable.yml
Labels: cla-signed

#7823 fix: log viewer not updating
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
Labels: cla-signed, to-cherry-pick

#7833 fix: dupe checkpoints
  docs/release-notes/dupeCheckpoints.rst
  master/internal/api_checkpoint_intg_test.go
  master/static/migrations/20230908100300_fix-dupe-checkpoints.tx.down.sql
  master/static/migrations/20230908100300_fix-dupe-checkpoints.tx.up.sql
Labels: documentation, cla-signed

#7835 chore: nil exception on GetResourcePoolsRequest error
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
Labels: cla-signed

#7692 refactor: flipped k8's enable reattach to always true [DET-9726]
  docs/release-notes/deprecate-AgentReattachedEnabled.rst
  master/internal/command/command.go
  master/internal/config/config.go
  master/internal/mocks/rm.go
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/resource_manager_iface.go
  master/internal/trial.go
Labels: documentation, cla-signed

#7836 fix: display `progress` value as it is
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Labels: cla-signed, to-cherry-pick

#7837 ci: temporarily move e2e to only nightly [skip ci]
  .circleci/config.yml
Labels: cla-signed

#7834 fix: enable RP bindings management for workspace admins [DET-9825]
  webui/react/src/hooks/usePermissions.ts
Labels: cla-signed, to-cherry-pick

#7723 feat: add new API endpoint to get and post accelerator data [DET-9748]
  harness/determined/common/api/bindings.py
  master/internal/api_tasks.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/task.pb.go
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/task.proto
  proto/src/determined/api/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#7829 feat: enable display of metrics with floating point epoch [MLG-857]
  docs/release-notes/float-epochs.rst
  harness/determined/common/api/bindings.py
  master/internal/api_trials_intg_test.go
  master/internal/db/postgres_experiments.go
  master/internal/trials/postgres_trials.go
  proto/buf.image.bin
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/experiment.proto
Labels: documentation, cla-signed

#7820 feat: allow metrics with duplicate keys and the same value [MLG-890].
  docs/release-notes/metrics-overwrites.rst
  master/go.mod
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
Labels: documentation, cla-signed

#7592 feat: backend support for inference metric tracking part 2
  docs/model-dev-guide/api-guides/batch-processing/batch-process-api-ug.rst
  docs/release-notes/inference-metrics.rst
  e2e_tests/tests/fixtures/core_api/11_generic_metrics.py
  e2e_tests/tests/fixtures/custom_searcher/model_coreapi.py
  e2e_tests/tests/test_sdk.py
  examples/computer_vision/cifar10_pytorch/distributed_inference_example.yaml
  examples/computer_vision/cifar10_pytorch/inference_example.py
  examples/computer_vision/cifar10_pytorch/model_def.py
  harness/determined/_info.py
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/__init__.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/metrics.py
  harness/determined/common/experimental/model.py
  harness/determined/common/experimental/trial.py
  harness/determined/common/util.py
  harness/determined/core/__init__.py
  harness/determined/core/_context.py
  harness/determined/core/_experimental.py
  harness/determined/core/_train.py
  harness/determined/experimental/__init__.py
  harness/determined/experimental/client.py
  harness/determined/pytorch/experimental/_torch_batch_process.py
  harness/tests/determined/pytorch/experimental/test_torch_batch_process.py
  harness/tests/experiment/pytorch/test_examples.py
  master/internal/api_checkpoint.go
  master/internal/api_checkpoint_intg_test.go
  master/internal/api_model.go
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
  master/internal/trials/api_trial_source_info.go
  master/internal/trials/postgres_trials.go
  master/static/migrations/20230908153131_trial_source_info_unique.tx.down.sql
  master/static/migrations/20230908153131_trial_source_info_unique.tx.up.sql
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/checkpoint.pb.go
  proto/pkg/apiv1/model.pb.go
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/checkpoint.proto
  proto/src/determined/api/v1/model.proto
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: documentation, cla-signed, User-facing API Change

#7808 feat: helm ca.cert injection, cluster-wide non-namespaced res creation flag, password change and minor-fix
  helm/charts/determined/scripts/k8s-password-change.py
  helm/charts/determined/templates/change-password.yaml
  helm/charts/determined/templates/db-deployment.yaml
  helm/charts/determined/templates/master-deployment.yaml
  helm/charts/determined/templates/priority-classes.yaml
  helm/charts/determined/values.yaml
Labels: cla-signed

#7821 chore: trial actor refactor
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/experiment.go
  master/internal/restore.go
  master/internal/restore_test.go
  master/internal/task/allocation_service.go
  master/internal/trial.go
  master/internal/trial_intg_test.go
  master/pkg/actor/actors/test_actor.go
  master/pkg/searcher/searcher.go
  master/test/testutils/fixtures.go
Labels: cla-signed

#7850 docs: add release notes for 0.25.1
  docs/release-notes.rst
Labels: documentation, cla-signed

#7840 feat: expose `externalExperimentId` and `externalTrialId`
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_project.go
  master/internal/experiment_filter.go
  proto/pkg/experimentv1/experiment.pb.go
  proto/src/determined/experiment/v1/experiment.proto
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#7839 fix: error message for `det agent [enable|disable]`.
  harness/determined/cli/agent.py
Labels: cla-signed

#7818 docs: Clarify meaning of trial api
  docs/tutorials/index.rst
  docs/tutorials/pytorch-mnist-local-qs.rst
  docs/tutorials/pytorch-mnist-tutorial.rst
Labels: documentation, cla-signed

#7851 fix: fix how we are calling the bert embedding example
  examples/features/torch_batch_process_embeddings/bert_embedding_generation.py
Labels: cla-signed

#7862 fix: doc url in jupyter config modal
  webui/react/src/components/JupyterLabModal.tsx
  webui/react/src/components/kit/Modal.tsx
Labels: cla-signed

#7799 fix: Make models list editing work via ModelActionDropdown [WEB-1603]
  webui/react/src/components/ModelActionDropdown.tsx
  webui/react/src/components/ModelRegistry.tsx
Labels: cla-signed

#7861 feat: Display unmanaged experiments with label
  master/internal/api_experiment.go
  webui/react/src/components/Badge.module.scss
  webui/react/src/components/Table/Table.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/linkCell.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#7664 chore: Remove imagenet
  docs/.redirects/redirects.json
  docs/example-solutions/examples.rst
  docs/tutorials/index.rst
  docs/tutorials/pytorch-porting-tutorial.rst
  e2e_tests/tests/nightly/test_distributed.py
  examples/README.md
  examples/tests/test_official.py
  examples/tutorials/imagenet_pytorch/README
  examples/tutorials/imagenet_pytorch/const.yaml
  examples/tutorials/imagenet_pytorch/const_cifar.yaml
  examples/tutorials/imagenet_pytorch/distributed.yaml
  examples/tutorials/imagenet_pytorch/distributed_cifar.yaml
  examples/tutorials/imagenet_pytorch/model_def.py
Labels: documentation, cla-signed

#7866 docs: Add page for using Determined Agent on Slurm/PBS
  docs/setup-cluster/deploy-cluster/slurm/hpc-with-agent.rst
  docs/setup-cluster/deploy-cluster/slurm/install-on-slurm.rst
  docs/setup-cluster/deploy-cluster/slurm/overview.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
Labels: documentation, cla-signed

#7864 chore: update user docs
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
Labels: documentation, cla-signed

#7865 docs: Add gif to the Readme
  README.md
  docs/assets/readme_images/features.gif
Labels: documentation, cla-signed

#7871 test: remove deepspeed marks from dsat tests
  e2e_tests/tests/nightly/test_distributed.py
Labels: cla-signed

#7872 docs: Remove black borders on gif
  docs/assets/readme_images/features.gif
Labels: documentation, cla-signed

#7779 feat: k8s agent enable disable [DET-9750]
  docs/release-notes/agent-disable.rst
  e2e_tests/tests/cluster/test_agent_disable.py
  helm/charts/determined/templates/master-permissions.yaml
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
Labels: documentation, cla-signed

#7696 feat: add config option to omit default resource pools
  master/internal/config/resource_manager_config.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/rmerrors/errors.go
Labels: cla-signed

#7873 fix: use setPartial in experiment list setting
  webui/react/src/hooks/useSettings.ts
Labels: cla-signed

#7878 Revert "feat: add config option to omit default resource pools"
  master/internal/config/resource_manager_config.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/rmerrors/errors.go
Labels: cla-signed

#7877 ci: fix webui test results upload [WEB-1233]
  .circleci/config.yml
  webui/react/.gitignore
  webui/react/Makefile
Labels: cla-signed

#7863 feat: containerize performance tests [INFENG-222]
  .github/workflows/build-perf-image-perf-test.yml
  performance/.dockerignore
  performance/Dockerfile
Labels: cla-signed

#7769 chore: postgres_users.go bun migration [DET-8238]
  master/internal/api_auth.go
  master/internal/api_command.go
  master/internal/api_experiment.go
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/command/command.go
  master/internal/core_checkpoint_intg_test.go
  master/internal/core_experiment.go
  master/internal/db/database.go
  master/internal/db/postgres.go
  master/internal/db/postgres_tasks.go
  master/internal/db/postgres_test_utils.go
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_users.go
  master/internal/db/setup.go
  master/internal/experiment.go
  master/internal/grpcutil/auth.go
  master/internal/mocks/db.go
  master/internal/restore.go
  master/internal/rm/agentrm/agent_state.go
  master/internal/task/allocation_intg_test.go
  master/internal/user/postgres_users.go
  master/internal/user/service.go
  master/internal/user/service_intg_test.go
  master/internal/usergroup/api_groups.go
  master/internal/usergroup/group_intg_test.go
  master/internal/usergroup/postgres_groups.go
  master/pkg/model/agent_user_group.go
  master/pkg/model/auth_token_keypair.go
  master/pkg/model/user.go
  master/pkg/model/user_group.go
  master/static/srv/get_user_image.sql
  master/static/srv/list_users.sql
Labels: cla-signed

#7747 chore: disable interactive matching for dev bindings
  harness/determined/cli/dev.py
Labels: cla-signed

#7880 test: enable command run tests for hpc
  e2e_tests/tests/command/__init__.py
  e2e_tests/tests/command/command.py
  e2e_tests/tests/command/test_run.py
Labels: cla-signed

#7870 fix: Project move/delete updates UI state [WEB-1668]
  webui/react/src/components/ProjectActionDropdown.tsx
  webui/react/src/components/ProjectCard.tsx
  webui/react/src/components/ProjectDeleteModal.tsx
  webui/react/src/components/ProjectEditModal.tsx
  webui/react/src/components/ProjectMoveModal.tsx
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
Labels: cla-signed

#7780 test: quarantine nightly cifar10-keras convergence test
  e2e_tests/tests/nightly/test_convergence.py
Labels: cla-signed, ci-run-nightly

#7890 fix: redefine user columns updated in postgres_users toUpdate
  master/internal/user/postgres_users.go
Labels: cla-signed

#7885 feat: add config option to omit default resource pools
  master/internal/config/resource_manager_config.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/rmerrors/errors.go
Labels: cla-signed

#7783 Refactor: Use userSettings store in learning curve
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
Labels: cla-signed

#7805 fix: Metadata deleting last row, cancelling delete [WEB-1655]
  webui/react/src/components/Metadata/EditableMetadata.tsx
  webui/react/src/components/Metadata/MetadataCard.tsx
Labels: cla-signed

#7874 feat: disable actions of unmanaged experiments/trials
  webui/react/src/components/BatchActionConfirmModal.tsx
  webui/react/src/components/ExperimentTensorBoardModal.tsx
  webui/react/src/components/PageHeaderFoldable.tsx
  webui/react/src/constant.ts
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
  webui/react/src/utils/experiment.ts
Labels: cla-signed

#7893 fix: remove unused import in go file
  master/internal/config/resource_manager_config.go
Labels: cla-signed

#7895 chore: prompt for docs in github question template
  .github/ISSUE_TEMPLATE/question.yml
Labels: cla-signed

#7731 feat: add an API to get an allocation's exit status
  harness/determined/common/api/bindings.py
  master/internal/api_tasks.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/task.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/task.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#7854 feat: Hide code related actions based on model definition size
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/core_experiment.go
  master/pkg/model/experiment.go
  proto/pkg/experimentv1/experiment.pb.go
  proto/src/determined/experiment/v1/experiment.proto
  webui/react/src/pages/ExperimentDetails/ExperimentMultiTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
  webui/react/src/utils/experiment.ts
Labels: cla-signed

#7903 chore: increase Go's max line length to 120
  agent/.golangci.yml
  master/.golangci.yml
Labels: cla-signed

#7896 chore: no code owners for auto-generated files
  .github/CODEOWNERS
Labels: cla-signed

#7892 fix: NTSC use workspace's agent group info [DET-9843]
  docs/release-notes/agent-uid-workspaces.rst
  e2e_tests/tests/cluster/test_agent_user_group.py
  master/internal/api_checkpoint.go
  master/internal/api_command.go
  master/internal/api_experiment.go
  master/internal/api_workspace_intg_test.go
  master/internal/experiment.go
  master/internal/user/postgres_agentusergroup.go
  master/internal/workspace/postgres_workspace.go
Labels: documentation, cla-signed

#7658 chore(actors): pods.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/message.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/resource_pool.go
Labels: cla-signed

#7908 revert: "chore(actors): remove pkg/actors usage from pods.go (#7658) [DET-9652]
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/message.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/resource_pool.go
Labels: cla-signed

#7859 feat: Input should capture the Esc button and Clicks while focused [WEB-1251]
  webui/react/src/components/kit/Input.tsx
  webui/react/src/components/kit/InputNumber.tsx
  webui/react/src/components/kit/Select.tsx
  webui/react/src/components/kit/Tags.tsx
  webui/react/src/hooks/useInputEscape.ts
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
Labels: cla-signed

#7902 chore: update user docs
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
Labels: documentation, cla-signed

#7898 fix: Display data point when epoch is 0
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Labels: cla-signed

#7857 feat: submit forms in modals by pressing enter [WEB-1130]
  webui/react/src/components/BatchActionConfirmModal.tsx
  webui/react/src/components/ConfigureAgentModal.tsx
  webui/react/src/components/CreateGroupModal.tsx
  webui/react/src/components/CreateUserModal.tsx
  webui/react/src/components/ExperimentCreateModal.tsx
  webui/react/src/components/ExperimentEditModal.tsx
  webui/react/src/components/ExperimentMoveModal.tsx
  webui/react/src/components/JupyterLabModal.tsx
  webui/react/src/components/ManageGroupsModal.tsx
  webui/react/src/components/ModelCreateModal.tsx
  webui/react/src/components/ModelEditModal.tsx
  webui/react/src/components/ModelMoveModal.tsx
  webui/react/src/components/ModelVersionEditModal.tsx
  webui/react/src/components/PasswordChangeModal.tsx
  webui/react/src/components/ProjectCreateModal.tsx
  webui/react/src/components/ProjectDeleteModal.tsx
  webui/react/src/components/ProjectEditModal.tsx
  webui/react/src/components/TextEditorModal.tsx
  webui/react/src/components/WebhookCreateModal.tsx
  webui/react/src/components/WorkspaceCreateModal.tsx
  webui/react/src/components/WorkspaceDeleteModal.tsx
  webui/react/src/components/WorkspaceMemberAddModal.tsx
  webui/react/src/components/kit/Form.tsx
  webui/react/src/components/kit/Modal.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
Labels: cla-signed

#7894 fix: align items in task list
  webui/react/src/components/TaskList.module.scss
Labels: cla-signed

#7608 chore: consolidate methods for fetching checkpoints in Python SDK [MLG-810]
  docs/model-dev-guide/model-management/checkpoints.rst
  docs/model-dev-guide/model-management/model-registry-org.rst
  docs/reference/python-sdk.rst
  harness/determined/cli/checkpoint.py
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/checkpoint/__init__.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/trial.py
  harness/determined/experimental/client.py
  harness/tests/determined/common/experimental/test_experiment.py
  harness/tests/determined/common/experimental/test_trial.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/checkpoints.json
  harness/tests/test_sdk.py
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_trials.go
  master/pkg/protoutils/protoless/less.go
  master/test/integration/api/api_checkpoints_test.go
  proto/buf.image.bin
  proto/pkg/apiv1/experiment.pb.go
  proto/pkg/apiv1/trial.pb.go
  proto/pkg/checkpointv1/checkpoint.pb.go
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/api/v1/trial.proto
  proto/src/determined/checkpoint/v1/checkpoint.proto
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.settings.ts
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.table.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
Labels: documentation, cla-signed

#7925 test: fix e2e_tests ray dependency.
  e2e_tests/tests/requirements.txt
Labels: cla-signed

#7907 chore: update docs ownership per discussion [INFENG-225]
  .github/CODEOWNERS
Labels: cla-signed

#7887 fix: api_command.go does not merge map values when overrides TaskContainerDefaults [FE-114]
  master/pkg/model/environment_config.go
Labels: cla-signed

#7584 feat: Add projects to the SDK
  harness/determined/cli/workspace.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/project.py
  harness/determined/common/experimental/workspace.py
  harness/tests/determined/common/experimental/test_project.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/project.json
Labels: cla-signed

#7883 feat: Add workspaces to the SDK client
  harness/determined/common/experimental/determined.py
  harness/determined/experimental/client.py
Labels: cla-signed

#7906 feat: Add performance tests for endpoints used in the WebUI initial load [WEB-1459]
  performance/src/api_performance_tests.ts
  performance/src/utils/helpers.ts
  performance/src/utils/k6-summary.js
  performance/src/utils/types.ts
Labels: cla-signed

#7913 docs: Clarify weighted fair-share scheduling policy
  docs/architecture/introduction.rst
Labels: documentation, cla-signed

#7912 fix(cli): det model describe should call GET /model not GET /models
  docs/release-notes/describe-model.rst
  harness/determined/cli/model.py
Labels: documentation, cla-signed

#7924 chore: track dead code [WEB-258]
  webui/react/.eslintrc.js
  webui/react/.unimportedrc.json
  webui/react/design/index.tsx
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ActionSheet.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/vite.config.mts
Labels: cla-signed

#7933 docs: Add another top nav link
  docs/_templates/toggle-primary-sidebar.html
Labels: documentation, cla-signed

#7843 feat: Allow passing in swagger json as an argument
  bindings/generate_bindings_py.py
  bindings/generate_bindings_ts.py
Labels: cla-signed

#7798 chore: include api op and param description in py bindings
  bindings/generate_bindings_py.py
  bindings/swagger_parser.py
  harness/determined/common/api/bindings.py
  proto/patches/api.json
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#7941 fix: avoid hiding tabs in single trial experiment [WEB-1651]
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
Labels: cla-signed

#7936 fix: button in 404 page
  webui/react/src/components/PageNotFound.module.scss
Labels: cla-signed

#7934 refactor: css for tile in docs
  docs/assets/styles/determined.css
Labels: documentation, cla-signed

#7921 fix: clear selection after action
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Labels: cla-signed

#7910 Remove references to --auto-bind-mount
  docs/interfaces/notebooks.rst
  docs/setup-cluster/deploy-cluster/on-prem/deploy.rst
Labels: documentation, cla-signed

#7944 fix(allocation): allocation lifetimes should contain resource lifetimes
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/resource_pool.go
Labels: cla-signed

#7886 chore: bunify & tidy up internal/user
  master/internal/api_checkpoint.go
  master/internal/api_command.go
  master/internal/api_experiment.go
  master/internal/experiment.go
  master/internal/user/external_users.go
  master/internal/user/postgres_agentusergroup.go
  master/internal/user/postgres_users.go
  master/pkg/model/agent_user_group.go
Labels: cla-signed

#7947 fix(scheduler): tolerate missing groups in priority scheduling
  master/internal/rm/tasklist/job.go
Labels: cla-signed

#7952 docs: quick fix for version dropdown
  docs/_static/version-switcher/versions.json
Labels: documentation, cla-signed, to-cherry-pick

#7954 fix: use summary metric's migration caused nulls
  master/internal/db/postgres_trial.go
  master/static/migrations/20230817155037_fix-summary-nulls.tx.down.sql
  master/static/migrations/20230817155037_fix-summary-nulls.tx.up.sql
Labels: cla-signed

#7956 fix(experiments): prevent invalid experiment transitions on crash
  master/internal/experiment.go
  master/pkg/model/experiment.go
Labels: cla-signed

#7905 fix: mitigate user settings race conditions
  webui/react/src/components/UserSettings.test.tsx
  webui/react/src/components/UserSettings.tsx
  webui/react/src/stores/userSettings.tsx
  webui/react/src/stores/users.tsx
Labels: cla-signed

#7960 fix: singularity agent env variable
  agent/pkg/singularity/singularity.go
Labels: cla-signed

#7961 fix: return searcher_metric_value as-is [WEB-1707]
  master/internal/api_experiment.go
Labels: cla-signed

#7923 chore: max_slots_per_pod can be per resource pool [DET-9771]
  docs/reference/deploy/config/master-config-reference.rst
  docs/release-notes/max-slots-per-pod-per-rp.rst
  helm/charts/determined/templates/master-config.yaml
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/config/resource_manager_config.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/pkg/model/task_container_defaults.go
Labels: documentation, cla-signed

#7962 chore: log k8s nil event objects at trace level and ignore
  master/internal/rm/kubernetesrm/informer.go
Labels: cla-signed, to-cherry-pick

#7816 chore: handle case where steps completed is more than max length
  harness/determined/layers/_workload_sequencer.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Labels: cla-signed

#7914 chore(performance): create initial Makefile [INFENG-223]
  performance/.gitignore
  performance/Makefile
  performance/README.md
  performance/reports/.gitkeep
Labels: cla-signed

#7822 chore: less verbose mockery output
  master/Makefile
Labels: cla-signed

#7932 chore: Improve failure diagnostics in shell test [FE-216]
  e2e_tests/tests/command/test_shell.py
Labels: cla-signed

#7926 chore: fix docs reference in cli [MLG-891]
  harness/determined/cli/experiment.py
Labels: cla-signed

#7860 fix: Change measure of text lines in log containers [WEB-1664]
  webui/react/src/components/kit/LogViewer/LogViewer.tsx
  webui/react/src/components/kit/internal/useGetCharMeasureInContainer.ts
  webui/react/src/components/kit/internal/useResize.ts
Labels: cla-signed

#7949 fix: update `modified_at` by insert in user table
  master/static/migrations/20230920130838_add-update-modified-at-in-user-table-by-insert.tx.down.sql
  master/static/migrations/20230920130838_add-update-modified-at-in-user-table-by-insert.tx.up.sql
Labels: cla-signed, to-cherry-pick

#7931 feat: Add instance flavor and size arguments for det deploy aws [INFENG-227]
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/constants.py
  harness/determined/deploy/aws/deployment_types/base.py
  harness/determined/deploy/aws/templates/simple-rds.yaml
Labels: cla-signed

#7951 fix: handle nil actor message and nil actor errors in agent RM
  master/internal/rm/agentrm/agent_resource_manager.go
Labels: cla-signed, to-cherry-pick

#7916 chore(codeowners): map performance dir to web team
  .github/CODEOWNERS
Labels: cla-signed

#7957 docs: document prometheus auth
  docs/integrations/prometheus/prometheus.rst
Labels: documentation, cla-signed

#7980 fix: Update Tasks Stats Causes Deadlock [DET-9853]
  master/internal/db/postgres_tasks.go
Labels: cla-signed, to-cherry-pick

#7970 docs: Update custom pod specs page
  docs/integrations/pachyderm/pachyderm.rst
  docs/setup-cluster/deploy-cluster/k8s/custom-pod-specs.rst
Labels: documentation, cla-signed

#7984 chore: fix det deploy aws requiring --db-size
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/deployment_types/base.py
  harness/determined/deploy/aws/deployment_types/simple.py
Labels: cla-signed

#7953 feat: Support filter by status and role for users
  harness/determined/common/api/bindings.py
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  proto/pkg/apiv1/user.pb.go
  proto/src/determined/api/v1/user.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#7950 chore: Add toast to UI kit
  webui/react/src/App.tsx
  webui/react/src/components/AuthToken.tsx
  webui/react/src/components/ConfigureAgentModal.tsx
  webui/react/src/components/CreateGroupModal.tsx
  webui/react/src/components/CreateUserModal.tsx
  webui/react/src/components/DeleteGroupModal.tsx
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/ExperimentMoveModal.tsx
  webui/react/src/components/ManageGroupsModal.tsx
  webui/react/src/components/ModelCreateModal.tsx
  webui/react/src/components/ModelMoveModal.tsx
  webui/react/src/components/Navigation.tsx
  webui/react/src/components/PasswordChangeModal.tsx
  webui/react/src/components/ProjectMoveModal.tsx
  webui/react/src/components/UserSettings.tsx
  webui/react/src/components/WorkspaceMemberAddModal.tsx
  webui/react/src/components/WorkspaceMemberRemoveModal.tsx
  webui/react/src/components/kit/ClipboardButton.tsx
  webui/react/src/components/kit/Toast.module.scss
  webui/react/src/components/kit/Toast.tsx
  webui/react/src/components/kit/internal/dialogApi.ts
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpointRegister.module.scss
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpointRegister.tsx
  webui/react/src/omnibar/tree-extension/index.ts
  webui/react/src/omnibar/tree-extension/trees/actions.tsx
  webui/react/src/pages/Admin/GroupManagement.tsx
  webui/react/src/pages/Admin/UserManagement.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/SignIn.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
  webui/react/src/styles/antd.scss
  webui/react/src/utils/dialogApi.ts
  webui/react/src/utils/error.ts
Labels: cla-signed

#7987 docs: add release notes for 0.26.0
  docs/reference/python-sdk.rst
  docs/release-notes.rst
  docs/release-notes/agent-disable.rst
  docs/release-notes/agent-uid-workspaces.rst
  docs/release-notes/agentVisibleGPUs.rst
  docs/release-notes/deprecate-AgentReattachedEnabled.rst
  docs/release-notes/describe-model.rst
  docs/release-notes/dupeCheckpoints.rst
  docs/release-notes/float-epochs.rst
  docs/release-notes/inference-metrics.rst
  docs/release-notes/metrics-overwrites.rst
Labels: documentation, cla-signed

#7876 chore(templates): refactor templates to their own package
  master/internal/api.go
  master/internal/api/api_test.go
  master/internal/api/params.go
  master/internal/api/query.go
  master/internal/api_agents.go
  master/internal/api_command.go
  master/internal/api_experiment.go
  master/internal/api_job.go
  master/internal/api_model.go
  master/internal/api_notebook.go
  master/internal/api_resourcepool.go
  master/internal/api_shell.go
  master/internal/api_templates.go
  master/internal/api_tensorboard.go
  master/internal/api_trials.go
  master/internal/api_user.go
  master/internal/api_workspace.go
  master/internal/core_experiment.go
  master/internal/db/bunutils/paginate.go
  master/internal/db/database.go
  master/internal/db/postgres.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_templates.go
  master/internal/db/postgres_test_utils.go
  master/internal/grpcutil/query.go
  master/internal/mocks/db.go
  master/internal/templates/api.go
  master/internal/templates/api_intg_test.go
  master/internal/templates/authz_basic_impl.go
  master/internal/templates/authz_iface.go
  master/internal/templates/service.go
  master/internal/templates/service_intg_test.go
  master/internal/workspace/postgres_workspace.go
  master/pkg/model/template.go
  master/static/srv/get_template.sql
  master/static/srv/get_templates.sql
  master/static/srv/insert_template.sql
  master/static/srv/update_template.sql
  master/test/testutils/apitest/api.go
Labels: cla-signed

#7965 chore: put grpc panics and other logs into 'master logs'
  docs/release-notes/master-logs.rst
  master/internal/core.go
  master/internal/grpcutil/api.go
Labels: documentation, cla-signed

#7986 fix: Hide action menu on dashboard project cards [WEB-1667]
  webui/react/src/pages/Dashboard.tsx
Labels: cla-signed

#7875 chore: add tests for postgres_users.go
  master/internal/user/postgres_users_intg_test.go
Labels: cla-signed

#7982 ci: disable docs review action [skip ci]
  .github/workflows/doc-review.yml
Labels: cla-signed

#8000 fix: data fetch shouldn't interrupt editing model version description [WEB-1703]
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelDetails/ModelVersionActionDropdown.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#7945 fix: show deep files in experiment code viewer
  webui/react/src/components/kit/CodeEditor.tsx
Labels: cla-signed

#7989 ci: more precisely select files for splitting in E2E tests
  .circleci/config.yml
Labels: cla-signed

#8006 fix: report searcher progress according to reporting period [MLG-988]
  harness/determined/pytorch/_pytorch_trial.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Labels: cla-signed

#7889 feat: commands download user files at startup so k8s can support larger context directories [DET-8830]
  docs/release-notes/k8s-context-size-limit.rst
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/command/test_run.py
  harness/determined/common/api/bindings.py
  harness/determined/exec/prep_container.py
  master/internal/api_command.go
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_notebook.go
  master/internal/api_shell.go
  master/internal/api_tensorboard.go
  master/internal/command/command.go
  master/internal/command/command_intg_test.go
  master/internal/command/command_manager.go
  master/internal/command/notebook_manager.go
  master/internal/command/shell_manager.go
  master/internal/command/tensorboard_manager.go
  master/internal/db/postgres_tasks.go
  master/pkg/model/task.go
  master/pkg/tasks/task_command.go
  master/static/migrations/20230927100920_ntsc-model-def.tx.down.sql
  master/static/migrations/20230927100920_ntsc-model-def.tx.up.sql
  master/static/srv/command-entrypoint.sh
  master/static/srv/entrypoint.sh
  master/static/srv/notebook-entrypoint.sh
  master/static/srv/shell-entrypoint.sh
  master/static/srv/tensorboard-entrypoint.sh
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/task.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/task.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: documentation, cla-signed

#8001 fix: fix sorting in GetUsers endpoint
  master/internal/api_user.go
Labels: cla-signed

#7991 feat: add `last seen` column in user management table
  harness/determined/common/api/bindings.py
  master/internal/api_user.go
  master/pkg/model/user.go
  proto/buf.image.bin
  proto/pkg/apiv1/user.pb.go
  proto/pkg/userv1/user.pb.go
  proto/src/determined/api/v1/user.proto
  proto/src/determined/user/v1/user.proto
  webui/react/src/pages/Admin/UserManagement.module.scss
  webui/react/src/pages/Admin/UserManagement.settings.ts
  webui/react/src/pages/Admin/UserManagement.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#8010 fix: regular integer spacing of chart ticks [WEB-1714]
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
Labels: cla-signed

#7999 docs: Fix minor issues
  docs/.redirects/redirects.json
  docs/_templates/toggle-primary-sidebar.html
  docs/architecture/introduction.rst
  docs/index.rst
  docs/model-dev-guide/api-guides/apis-howto/api-core-ug.rst
  docs/model-dev-guide/api-guides/apis-howto/deepspeed/index.rst
  docs/model-dev-guide/api-guides/apis-howto/index.rst
  docs/model-dev-guide/api-guides/index.rst
  docs/model-dev-guide/best-practices/index.rst
  docs/model-dev-guide/hyperparameter/index.rst
  docs/model-dev-guide/hyperparameter/search-methods/index.rst
  docs/model-dev-guide/index.rst
  docs/model-dev-guide/model-management/index.rst
  docs/model-dev-guide/prepare-container/index.rst
  docs/reference/index.rst
  docs/setup-cluster/security/index.rst
  docs/setup-cluster/workspaces.rst
  docs/tutorials/index.rst
  docs/tutorials/quickstart-mdldev.rst
Labels: documentation, cla-signed

#7997 fix: tensorboard deletion when det e delete [DET-9844]
  docs/release-notes/delete-tensorboards.rst
  master/internal/api_experiment.go
Labels: documentation, cla-signed

#8008 feat: "det notebook|shell|tensorboard open" doesn't error when task not ready
  docs/release-notes/shell-open-bugfix.rst
  e2e_tests/tests/command/test_shell.py
  harness/determined/cli/notebook.py
  harness/determined/cli/shell.py
  harness/determined/cli/tensorboard.py
Labels: documentation, cla-signed

#8009 style: align default markdown font-family to theme [WEB-617]
  webui/react/src/components/Markdown.module.scss
  webui/react/src/components/kit/internal/Markdown.module.scss
Labels: cla-signed

#8019 test: fix master intg user flake
  master/internal/user/postgres_users_intg_test.go
Labels: cla-signed

#8014 fix: sort files for conflict resolution in sharded checkpoints
  harness/determined/core/_checkpoint.py
  harness/tests/storage/util.py
Labels: cla-signed
