Repository determined-ai/determined, pull requests merged in 2023-08, with the labels that each got.

#7491 fix: Don't return a workload for deleted checkpoints [WEB-1505]
  harness/determined/common/api/bindings.py
  master/internal/api_trials.go
  master/static/srv/proto_get_trial_workloads.sql
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
Labels: cla-signed

#7473 chore: rename db metric references to custom_type
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
  master/pkg/model/metrics.go
  master/static/migrations/20230801100237_metrics-type-group-rename.tx.down.sql
  master/static/migrations/20230801100237_metrics-type-group-rename.tx.up.sql
  master/static/srv/calculate-full-trial-summary-metrics.sql
Labels: cla-signed

#7471 chore: add option to syntax highlight cli json output
  harness/determined/cli/render.py
  harness/tests/cli/test_cli.py
Labels: cla-signed

#7530 fix: filter scrollbar adjustment
  webui/react/src/components/FilterForm/components/FilterField.module.scss
  webui/react/src/components/FilterForm/components/FilterForm.module.scss
Labels: cla-signed

#7529 fix: custom proxies do not work for trials in slurm [DET-9718]
  master/internal/task/allocation.go
  master/static/srv/entrypoint.sh
Labels: cla-signed

#7519 fix: disable Manage Bindings option for default pools [WEB-1521]
  webui/react/src/components/ResourcePoolBindings.tsx
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/components/kit/Card.tsx
  webui/react/src/pages/ResourcepoolDetail.tsx
Labels: cla-signed

#7532 fix: use proper experiment project resolution
  master/internal/core_experiment.go
Labels: cla-signed

#7535 fix: fix default pools and refactor
  master/internal/api_resourcepool.go
  master/internal/config/resource_config.go
Labels: cla-signed

#7533 chore: temporarily rollback agent usage of --nvccli
  agent/pkg/singularity/singularity.go
Labels: cla-signed

#7488 fix: Improve HPC error shutdown to improve logging [FE-44]
  harness/determined/exec/pid_server.py
  harness/determined/ipc.py
  harness/determined/launch/deepspeed.py
  harness/determined/launch/horovod.py
  harness/determined/util.py
  master/static/srv/task-logging-setup.sh
  master/static/srv/task-logging-teardown.sh
Labels: cla-signed

#7516 fix: compare charts showing no data while loading [WEB-1485]
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/hooks/useGlasbey.ts
  webui/react/src/hooks/useMetricNames.ts
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Labels: cla-signed

#7502 ci: handle duplicate cherry-picks of a PR to release branch
  tools/scripts/track-pr
Labels: cla-signed

#7538 ci: add a sql fromatter
  .circleci/config.yml
  master/Makefile
  master/pyproject.toml
  master/static/srv/get_templates.sql
  master/static/srv/list_users.sql
  requirements.txt
Labels: cla-signed

#7522 chore: use Dropdown for Experiment List menus
  webui/react/src/components/FilterForm/TableFilter.tsx
  webui/react/src/components/kit/Dropdown.module.scss
  webui/react/src/components/kit/Dropdown.tsx
  webui/react/src/components/kit/Tooltip.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Labels: cla-signed

#7469 chore: Add new `update` function to userSettings store
  webui/react/src/stores/userSettings.test.tsx
  webui/react/src/stores/userSettings.tsx
  webui/react/src/types.ts
Labels: cla-signed

#7546 ci: setup CODEOWNERS for ml-sys team.
  .github/CODEOWNERS
Labels: cla-signed

#7544 chore: update fmt-sql config and version
  master/pyproject.toml
  master/static/srv/aggregate_allocation_state_by_job.sql
  master/static/srv/aggregate_allocation_state_by_task.sql
  master/static/srv/archive_project.sql
  master/static/srv/archive_workspace.sql
  master/static/srv/deletable_project.sql
  master/static/srv/deletable_workspace.sql
  master/static/srv/delete_fail_project.sql
  master/static/srv/delete_fail_workspace.sql
  master/static/srv/delete_model.sql
  master/static/srv/delete_model_version.sql
  master/static/srv/delete_project.sql
  master/static/srv/delete_workspace.sql
  master/static/srv/get_aggregated_allocation.sql
  master/static/srv/get_experiment_summaries.sql
  master/static/srv/get_model.sql
  master/static/srv/get_model_by_id.sql
  master/static/srv/get_model_version.sql
  master/static/srv/get_model_versions.sql
  master/static/srv/get_monthly_aggregated_allocation.sql
  master/static/srv/get_project.sql
  master/static/srv/get_project_from_name.sql
  master/static/srv/get_raw_allocation.sql
  master/static/srv/get_task.sql
  master/static/srv/get_task_logs_fields.sql
  master/static/srv/get_template.sql
  master/static/srv/get_trial_log_fields.sql
  master/static/srv/get_workspace.sql
  master/static/srv/get_workspace_from_name.sql
  master/static/srv/get_workspace_from_project.sql
  master/static/srv/insert_model.sql
  master/static/srv/insert_model_version.sql
  master/static/srv/insert_project.sql
  master/static/srv/move_project.sql
  master/static/srv/test_insert_huge_metrics.sql
  master/static/srv/unpin_workspace.sql
  master/static/srv/update_aggregated_allocation.sql
  master/static/srv/update_aggregated_queued_time.sql
  master/static/srv/update_model_version.sql
  master/static/srv/update_project.sql
  master/static/srv/update_template.sql
  requirements.txt
Labels: cla-signed

#7267 feat: Heatmap support for glide table
  master/internal/api_project.go
  webui/react/src/components/kit/Icon.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Labels: cla-signed

#7528 fix: Groups modal does not include inactive users [WEB-1256]
  webui/react/src/components/CreateGroupModal.tsx
Labels: cla-signed

#7534 chore: update default exp list columns [WEB-1488]
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Labels: cla-signed

#7555 chore: add copy to manage bindings modal
  webui/react/src/components/ResourcePoolBindingModal.tsx
Labels: cla-signed

#7556 docs: correct some `det deploy gcp` docs facts.
  docs/setup-cluster/deploy-cluster/gcp/install-gcp.rst
Labels: documentation, cla-signed

#7554 docs: apply minor tweaks
  docs/architecture/introduction.rst
  docs/model-dev-guide/dtrain/config-templates.rst
Labels: documentation, cla-signed

#7070 feat: Provide an interface to enable resource managers to show Non-DAI jobs on the resource pool queue.
  harness/determined/common/api/bindings.py
  master/internal/job/job.go
  master/internal/mocks/rm.go
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/resource_manager_iface.go
  master/internal/sproto/jobs.go
  proto/pkg/jobv1/job.pb.go
  proto/src/determined/job/v1/job.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#7553 chore: linting now less verbose
  agent/internal/containers/spec.go
  master/.golangci.yml
  master/Makefile
  master/internal/api_experiment.go
  master/internal/api_model.go
  master/internal/api_ntsc_intg_test.go
  master/internal/api_project.go
  master/internal/api_workspace.go
  master/internal/cache/cache.go
  master/internal/config/provconfig/aws_config.go
  master/internal/db/migrations.go
  master/internal/db/postgres_test_utils.go
  master/internal/db/postgres_trial_metrics.go
  master/internal/proxy/proxy.go
  master/internal/proxy/ws.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/trial.go
  master/pkg/archive/archive.go
  master/pkg/cproto/state.go
  master/pkg/logger/log_buffer_test.go
  master/pkg/schemas/expconf/length.go
  master/pkg/schemas/expconf/parse.go
  master/pkg/searcher/custom_search.go
  master/pkg/searcher/search_method.go
  master/pkg/set/set.go
  master/pkg/ws/ws.go
  master/test/integration/api/api_trials_test.go
Labels: cla-signed

#7435 chore(actors): refactor checkpoint GC without actors
  master/internal/api_checkpoint.go
  master/internal/api_experiment.go
  master/internal/checkpoint_gc.go
  master/internal/checkpoint_gc_test.go
  master/internal/db/postgres_test_utils.go
  master/internal/experiment.go
  master/pkg/actor/actors/nothing.go
Labels: cla-signed

#7493 feat: Replace sum and count training metrics with mean in new experiment list
  master/internal/api_experiment.go
  master/internal/api_project.go
  master/internal/experiment_filter.go
  webui/react/src/ioTypes.ts
Labels: cla-signed

#7548 fix: scrolling when dragging column headers in Glide Table
  webui/react/package-lock.json
  webui/react/package.json
Labels: cla-signed

#7566 fix: correct name for external jobs
  proto/pkg/jobv1/job.pb.go
  proto/src/determined/job/v1/job.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#7549 fix: rp binding fix overwrite [WEB-1529]
  master/internal/db/postgres_rp_workspace_bindings.go
Labels: cla-signed

#7558 fix: log level filter broken on det t/e logs [MLG-798]
  harness/determined/cli/experiment.py
  harness/determined/cli/trial.py
Labels: cla-signed

#7557 fix: hide `cluster logs` in mobile view
  webui/react/src/components/NavigationTabbar.tsx
Labels: cla-signed

#7565 chore: Add web as codeowner for /webui
  .github/CODEOWNERS
Labels: cla-signed

#7567 chore: update type to handle generic summary metric types [WEB-1538]
  webui/react/src/ioTypes.ts
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/types.ts
Labels: cla-signed

#7569 chore(rm): refactor cluster management APIs into RM
  master/internal/api_agents.go
  master/internal/mocks/rm.go
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/resource_manager_iface.go
Labels: cla-signed

#7550 chore: add linter for google style guide-compliant python imports.
  e2e_tests/.flake8
  e2e_tests/Makefile
  e2e_tests/tests/__init__.py
  e2e_tests/tests/cluster/managed_cluster.py
  e2e_tests/tests/nightly/test_convergence.py
  e2e_tests/tests/template/test_template.py
  examples/computer_vision/mnist_pl/mnist.py
  examples/tests/.flake8
  examples/tests/Makefile
  harness/.flake8
  harness/Makefile
  harness/determined/cli/__main__.py
  harness/determined/cli/_util.py
  harness/determined/cli/agent.py
  harness/determined/cli/checkpoint.py
  harness/determined/cli/model.py
  harness/determined/cli/project.py
  harness/determined/cli/template.py
  harness/determined/cli/user.py
  harness/determined/cli/version.py
  harness/determined/cli/workspace.py
  harness/determined/common/api/_util.py
  harness/determined/common/api/request.py
  harness/determined/common/context.py
  harness/determined/core/_checkpoint.py
  harness/determined/core/_train.py
  harness/determined/deploy/__init__.py
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/preflight.py
  harness/determined/deploy/local/cli.py
  harness/determined/exec/prep_container.py
  harness/determined/pytorch/_experimental.py
  harness/determined/pytorch/_pytorch_context.py
  harness/tests/cli/test_cli.py
  harness/tests/experiment/pytorch/test_metric_utils.py
  harness/tests/test_imports.py
  model_hub/.flake8
  model_hub/Makefile
  requirements.txt
  schemas/Makefile
  tools/.flake8
  tools/Makefile
  tools/scripts/update-bumpenvs-yaml.py
Labels: cla-signed

#7564 fix: Accomodate partial experiment list settings
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
Labels: cla-signed

#7571 chore: summarize state of mock_client_test.go [DET-9731]
  master/internal/rm/kubernetesrm/mock_client_test.go
Labels: cla-signed

#7572 docs: Edit the release notes readme
  docs/release-notes/README.md
Labels: documentation, cla-signed

#7577 docs: add sphinx-tabs extension
  docs/conf.py
  docs/requirements.txt
Labels: documentation, cla-signed

#7540 docs: edit some release notes
  docs/release-notes.rst
Labels: documentation, cla-signed

#7531 chore: Parse and format APIExceptions
  harness/determined/common/api/errors.py
Labels: cla-signed

#7551 test: unpinning responses
  harness/tests/requirements/requirements-harness.txt
Labels: cla-signed

#7527 feat: get unbound pools endpoint [DET-9696]
  harness/determined/common/api/bindings.py
  master/internal/api_resourcepool.go
  proto/buf.image.bin
  proto/pkg/apiv1/resourcepool.pb.go
  proto/src/determined/api/v1/resourcepool.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#7568 fix: Button icon spacing
  webui/react/src/components/PageHeaderFoldable.module.scss
  webui/react/src/components/kit/Button.module.scss
  webui/react/src/components/kit/Button.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Labels: cla-signed

#7578 docs: edit release notes readme
  docs/release-notes/README.md
Labels: documentation, cla-signed

#7487 chore: fix rph docs url publishing step
  tools/scripts/lock-published-urls.sh
Labels: cla-signed

#7579 fix: Filter experiments by checkpoint size [WEB-1539]
  master/internal/experiment_filter.go
Labels: cla-signed

#7580 docs: Added Profiling to the Benefits table in the intro
  docs/architecture/introduction.rst
Labels: documentation, cla-signed

#7561 chore: Make explist_v2 generally available
  webui/react/src/hooks/useFeature.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
Labels: cla-signed

#7576 chore: migrate to singularity --nvccli
  agent/internal/agent.go
  agent/internal/options/options.go
  agent/pkg/singularity/singularity.go
Labels: cla-signed

#7586 docs: fix lint for docs/architecture/introduction.rst
  docs/architecture/introduction.rst
Labels: documentation, cla-signed

#7542 feat: Move new charts into always-on Metrics tab [WEB-1522] [WEB-1523]
  webui/react/src/components/UPlot/UPlotChart/closestPointPlugin.ts
  webui/react/src/components/UPlot/UPlotChart/drawPointsPlugin.ts
  webui/react/src/hooks/useFeature.ts
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsMetrics.tsx
Labels: cla-signed

#7581 ci: Add pytorch2 tests
  .circleci/config.yml
  docs/release-notes/pytorch2.rst
  e2e_tests/tests/config.py
  e2e_tests/tests/nightly/test_distributed.py
  harness/Makefile
  tools/scripts/bumpenvs.yaml
  tools/scripts/update-bumpenvs-yaml.py
Labels: documentation, cla-signed

#7591 chore: Remove ptl adapter
  .circleci/config.yml
  docs/.redirects/redirects.json
  docs/conf.py
  docs/example-solutions/examples.rst
  docs/model-dev-guide/apis-howto/api-pytorch-lightning-ug.rst
  docs/model-dev-guide/apis-howto/overview.rst
  docs/reference/training/api-pytorch-lightning-reference.rst
  docs/reference/training/index.rst
  docs/release-notes/remove_ptladapter.rst
  e2e_tests/Makefile
  examples/computer_vision/mnist_pl/README.md
  examples/computer_vision/mnist_pl/adaptive.yaml
  examples/computer_vision/mnist_pl/const.yaml
  examples/computer_vision/mnist_pl/data.py
  examples/computer_vision/mnist_pl/mnist.py
  examples/computer_vision/mnist_pl/model_def.py
  examples/computer_vision/mnist_pl/startup-hook.sh
  examples/gan/gan_mnist_pl/README.md
  examples/gan/gan_mnist_pl/adaptive.yaml
  examples/gan/gan_mnist_pl/const.yaml
  examples/gan/gan_mnist_pl/data.py
  examples/gan/gan_mnist_pl/distributed.yaml
  examples/gan/gan_mnist_pl/mnist.py
  examples/gan/gan_mnist_pl/model_def.py
  examples/gan/gan_mnist_pl/startup-hook.sh
  harness/.flake8
  harness/Makefile
  harness/determined/common/api/analytics.py
  harness/determined/pytorch/lightning/__init__.py
  harness/determined/pytorch/lightning/_adapter.py
  harness/tests/experiment/fixtures/lightning_adapter_onevar_model.py
  harness/tests/experiment/fixtures/pytorch_lightning_amp/__init__.py
  harness/tests/experiment/fixtures/pytorch_lightning_amp/apex_amp.yaml
  harness/tests/experiment/fixtures/pytorch_lightning_amp/apex_amp_model_def.py
  harness/tests/experiment/fixtures/pytorch_lightning_amp/auto_amp.yaml
  harness/tests/experiment/fixtures/pytorch_lightning_amp/auto_amp_model_def.py
  harness/tests/experiment/fixtures/pytorch_lightning_amp/data.py
  harness/tests/experiment/fixtures/pytorch_lightning_amp/mnist.py
  harness/tests/experiment/fixtures/pytorch_lightning_amp/model_def.py
  harness/tests/experiment/fixtures/pytorch_lightning_amp/startup-hook.sh
  harness/tests/experiment/integrations/test_pytorch_lightning.py
  harness/tests/requirements/requirements-harness.txt
Labels: documentation, cla-signed

#7508 feat: Enable disabling Tensorboard logging [MLG-22]
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/_trainer.py
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Labels: cla-signed

#7600 docs: update doc string related to adding enable_tensorboard_logging flag
  harness/determined/pytorch/_trainer.py
Labels: cla-signed

#7583 chore: update comment to clarify endpoint behavior
  master/internal/db/postgres_rp_workspace_bindings.go
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/src/determined/api/v1/api.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#7598 fix: fetch the latest projects
  webui/react/src/components/ExperimentMoveModal.tsx
Labels: cla-signed

#7594 chore: bumpenvs 24.0
  .circleci/config.yml
  docs/model-dev-guide/apis-howto/overview.rst
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/reference/deploy/config/helm-config-reference.rst
  docs/reference/deploy/config/master-config-reference.rst
  docs/reference/interface/job-config-reference.rst
  docs/reference/training/experiment-config-reference.rst
  docs/setup-cluster/deploy-cluster/gcp/install-gcp.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/deploy-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  examples/graphs/proteins_pytorch_geometric/adaptive.yaml
  examples/graphs/proteins_pytorch_geometric/const.yaml
  examples/graphs/proteins_pytorch_geometric/distributed.yaml
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/determined/estimator/_estimator_trial.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-estimator/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
Labels: documentation, cla-signed

#7587 Update README.md
  README.md
Labels: cla-signed

#7605 chore: fix incorrect make invocation
  tools/scripts/lock-published-urls.sh
Labels: cla-signed

#7523 fix: fix checkpoint gc which was incorrectly deleting checkpoints [DET-9702]
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_test_utils.go
Labels: cla-signed

#7606 fix(actors): create valid fake group actor for checkpoint GC, don't leak it
  master/internal/checkpoint_gc.go
Labels: cla-signed, to-cherry-pick

#7607 ci: fix remote name in PR tracking script
  tools/scripts/track-pr
Labels: cla-signed

#7355 refactor: trial's can have one or many tasks [DET-9647]
  harness/determined/common/api/bindings.py
  master/internal/api_checkpoint_intg_test.go
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_tasks_intg_test.go
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  master/internal/core_checkpoint_intg_test.go
  master/internal/db/database.go
  master/internal/db/postgres_checkpoints.go
  master/internal/db/postgres_checkpoints_intg_test.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_model_intg_test.go
  master/internal/db/postgres_tasks.go
  master/internal/db/postgres_test_utils.go
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/experiment.go
  master/internal/mocks/db.go
  master/internal/populate_metrics.go
  master/internal/restore.go
  master/internal/trial.go
  master/internal/trial_intg_test.go
  master/pkg/model/experiment.go
  master/static/migrations/20230306115327_add-checkpoint-size.tx.down.sql
  master/static/migrations/20230809134057_trial-one-to-many-tasks.tx.down.sql
  master/static/migrations/20230809134057_trial-one-to-many-tasks.tx.up.sql
  master/static/srv/get_raw_allocation.sql
  master/static/srv/proto_get_trials_plus.sql
  master/static/srv/update_aggregated_allocation.sql
  master/test/integration/api/api_checkpoints_test.go
  master/test/integration/api/api_trials_test.go
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#7597 chore: add agent --image-root
  agent/cmd/determined-agent/run.go
  agent/internal/options/options.go
  agent/pkg/singularity/singularity.go
  docs/reference/deploy/config/agent-config-reference.rst
Labels: documentation, cla-signed

#7601 docs: improve a release note
  docs/release-notes/remove_ptladapter.rst
Labels: documentation, cla-signed

#7573 fix: code editor height issues
  webui/react/src/components/UserSettingsModal.tsx
  webui/react/src/components/kit/CodeEditor.tsx
  webui/react/src/components/kit/CodeEditor/CodeEditor.module.scss
Labels: cla-signed

#7610 docs: Add css to turn off scrolling when clicking on section links
  docs/assets/styles/determined.css
Labels: documentation, cla-signed

#7595 fix: Single-point tooltip closes when mouse exits chart [WEB-1541]
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/components/kit/internal/UPlot/UPlotChart/tooltipsPlugin.ts
Labels: cla-signed

#7615 fix(actors): trial lifetime must contain allocation lifetime, still
  master/internal/mocks/allocationmocks/allocation_service.go
  master/internal/task/allocation_service.go
  master/internal/task/allocation_service_iface.go
  master/internal/trial.go
Labels: cla-signed, to-cherry-pick

#7604 feat: Copy cell value from experiment list table
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/contextMenu.tsx
Labels: cla-signed

#7582 feat: Resource pool tab for workspace
  harness/determined/common/api/bindings.py
  master/internal/api_workspace.go
  proto/pkg/workspacev1/workspace.pb.go
  proto/src/determined/workspace/v1/workspace.proto
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/pages/Clusters/ClustersOverview.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceDetails/ResourcePoolsBound.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/stores/cluster.tsx
Labels: cla-signed

#7622 fix: avoid converting workspace name to sentence casing [WEB-1548]
  webui/react/src/components/ColumnsCustomizeModal.test.tsx
  webui/react/src/components/Transfer.tsx
Labels: cla-signed

#7625 feat: replace custom `isEqual` to lodash `isEqual`
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/CreateGroupModal.tsx
  webui/react/src/components/DynamicTabs.tsx
  webui/react/src/components/ExperimentCreateModal.tsx
  webui/react/src/components/ModelRegistry.tsx
  webui/react/src/components/Table/InteractiveTable.tsx
  webui/react/src/components/TaskList.tsx
  webui/react/src/components/Transfer.tsx
  webui/react/src/components/UPlot/UPlotChart/closestPointPlugin.ts
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/components/kit/internal/UPlot/UPlotChart/closestPointPlugin.ts
  webui/react/src/components/kit/internal/functions.ts
  webui/react/src/hooks/useMetricNames.ts
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpointRegister.tsx
  webui/react/src/hooks/useSettings.ts
  webui/react/src/pages/Admin/GroupManagement.tsx
  webui/react/src/pages/Admin/UserManagement.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
  webui/react/src/pages/WebhookList.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
  webui/react/src/pages/WorkspaceList.tsx
  webui/react/src/stores/cluster.tsx
  webui/react/src/stores/users.tsx
  webui/react/src/stores/workspaces.tsx
  webui/react/src/utils/data.test.ts
  webui/react/src/utils/data.ts
  webui/react/src/utils/store.ts
  webui/react/src/utils/task.ts
Labels: cla-signed

#7631 fix: ChartGroup vertical spacing
  webui/react/src/components/kit/LineChart.module.scss
Labels: cla-signed

#7632 fix: filter button text
  webui/react/src/components/FilterForm/TableFilter.tsx
Labels: cla-signed

#7626 chore: support mobile view in UIKit [WEB-1314]
  webui/react/src/components/ThemeToggle.module.scss
  webui/react/src/components/ThemeToggle.tsx
  webui/react/src/pages/DesignKit.module.scss
  webui/react/src/pages/DesignKit.tsx
Labels: cla-signed

#7634 fix: Handle metric names finish loading, but still empty
  webui/react/src/hooks/useMetricNames.ts
Labels: cla-signed, to-cherry-pick

#7630 ci: fix release branch selection when cherry-picking EE PRs
  tools/scripts/track-pr
Labels: cla-signed

#7629 fix: rp binding resolving resource pools
  harness/determined/cli/workspace.py
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/rmutils/util.go
Labels: cla-signed, to-cherry-pick

#7504 docs: Add article on how to view epoch metrics
  docs/_shared/note-local-dtrain-job.txt
  docs/architecture/introduction.rst
  docs/articles/index.rst
  docs/articles/viewing-epoch-based-metrics.rst
  docs/assets/images/webui-metrics-epoch-based.png
  docs/index.rst
  docs/integrations/notification/slack.rst
  docs/interfaces/notebooks.rst
  docs/model-dev-guide/apis-howto/api-core-ug.rst
  docs/model-dev-guide/submit-experiment.rst
  docs/setup-cluster/deploy-cluster/on-prem/deploy.rst
  docs/setup-cluster/workspaces-rpools.rst
Labels: documentation, cla-signed

#7623 feat: OptionsMenu moved to left group [WEB-1519]
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Labels: cla-signed

#7609 feat: Don't show charts where all series are Loaded(no data) [WEB-1524]
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/components/kit/internal/UPlot/SyncProvider.tsx
Labels: cla-signed

#7628 ci: remove "say" workaround and update version
  .github/workflows/lint-secrets.yml
Labels: cla-signed

#7602 fix: trigger jobs fetchAll on pagination changes [WEB-1546]
  webui/react/src/pages/JobQueue/JobQueue.tsx
Labels: cla-signed

#7611 docs: bump rstfmt version
  docs/requirements.txt
Labels: documentation, cla-signed

#7570 feat: custom metric groups (formally known as types) [WEB-1469]
  webui/react/src/components/MetricBadgeTag.test.tsx
  webui/react/src/components/MetricBadgeTag.tsx
  webui/react/src/components/MetricSelect.tsx
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/hooks/useMetricNames.ts
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpHeatMaps.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpScatterPlots.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.settings.ts
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.tsx
  webui/react/src/pages/TrialDetails/MultiTrialDetailsHyperparameters.settings.ts
  webui/react/src/pages/TrialDetails/MultiTrialDetailsHyperparameters.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsMetrics.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
  webui/react/src/utils/metric.test.ts
  webui/react/src/utils/metric.ts
  webui/react/src/utils/workload.test.ts
  webui/react/src/utils/workload.ts
Labels: cla-signed

#7618 fix: fix incorrect return type for downsampled metrics
  e2e_tests/tests/experiment/test_metrics.py
  e2e_tests/tests/fixtures/core_api/11_generic_metrics.py
  master/internal/api_experiment_intg_test.go
  master/internal/api_trials_intg_test.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/trials/postgres_trials.go
Labels: cla-signed

#7636 fix: properly clear out the settings from the database [WEB-1559]
  webui/react/src/hooks/useSettings.ts
  webui/react/src/stores/userSettings.tsx
Labels: cla-signed

#7633 fix: alphabetical binding workspaces and search copy change [WEB-1552, WEB-1553]
  webui/react/src/components/ResourcePoolBindingModal.tsx
  webui/react/src/components/Transfer.tsx
  webui/react/src/stores/workspaces.tsx
  webui/react/src/utils/sort.ts
Labels: cla-signed

#7641 chore: remove unused parseFloat for decoding string metric values [WEB-1564]
  webui/react/src/services/decoder.ts
Labels: cla-signed

#7637 chore: use eslint rule to avoid relative imports through parent [WEB-1496]
  webui/react/.eslintrc.js
  webui/react/src/components/ActionDropdown/ActionDropdown.tsx
  webui/react/src/components/AvatarCard/AvatarCard.tsx
  webui/react/src/components/BatchActionConfirmModal.test.tsx
  webui/react/src/components/BatchActionConfirmModal.tsx
  webui/react/src/components/PageHeader/PageHeader.tsx
  webui/react/src/components/ScaleSelect.tsx
  webui/react/src/components/Table/SkeletonTable.tsx
  webui/react/src/components/UPlot/UPlotScatter.tsx
  webui/react/src/components/UPlot/UPlotScatter/UPlotScatter.utils.ts
  webui/react/src/components/UPlot/UPlotScatter/useScatterPointTooltipPlugin.ts
  webui/react/src/components/kit/LogViewer/LogViewer.tsx
  webui/react/src/hooks/useModal/useModal.tsx
  webui/react/src/pages/Clusters/ClustersOverview.tsx
  webui/react/src/pages/Clusters/ClustersQueuedChart.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/OptionsMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/checkboxCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/experimentStateCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/loadingCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/progressCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/tagsCell.tsx
  webui/react/src/pages/InteractiveTask.test.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/SystemMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/SystemMetricChartFilters.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/ThroughputMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/TimingMetricChart.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/stores/contexts/UI.tsx
Labels: cla-signed

#7640 fix: select component width
  webui/react/src/components/FilterForm/components/FilterField.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Labels: cla-signed

#7644 chore: Show Tooltip instead of actions for Default Resource Pools [WEB-1554]
  webui/react/src/components/ResourcePoolCard.module.scss
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/pages/Clusters/ClustersOverview.tsx
Labels: cla-signed

#7635 ci: indicate GHA run URL when reporting a cherry-pick conflict
  .github/workflows/track-prs-for-release.yml
  tools/scripts/track-pr
Labels: cla-signed

#7646 fix: Project delete/move triggers update of workspace projects list [WEB-1497] [WEB-1377]
  webui/react/src/components/ProjectCard.tsx
  webui/react/src/components/ProjectMoveModal.tsx
Labels: cla-signed

#7599 ci: bump everything to torch==1.11
  .circleci/config.yml
  .github/workflows/lint-docs.yml
  .github/workflows/lint-python.yml
  Makefile
  docs/requirements.txt
  e2e_tests/tests/requirements.txt
  examples/tests/requirements.txt
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/tensorboard/metric_writers/pytorch.py
  harness/tests/requirements/requirements-harness.txt
Labels: documentation, cla-signed

#7656 chore: avoid creating new table columns for non-legacy metrics
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
Labels: cla-signed

#7647 fix: default pools editable and submittable
  master/internal/api_workspace.go
  master/internal/mocks/workspace_authz_iface.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
Labels: cla-signed, to-cherry-pick

#7659 chore: update error message to be more accurate
  master/internal/api_workspace.go
Labels: cla-signed

#7642 docs: Update resource pool to workspace mapping
  docs/interfaces/tensorboard.rst
  docs/setup-cluster/workspaces-rpools.rst
Labels: documentation, cla-signed

#7643 docs: fix epoch metrics article
  docs/articles/viewing-epoch-based-metrics.rst
Labels: documentation, cla-signed, to-cherry-pick

#7649 docs: Point to pytorch distributed launcher
  docs/model-dev-guide/apis-howto/api-pytorch-ug.rst
  docs/model-dev-guide/submit-experiment.rst
Labels: documentation, cla-signed

#7662 fix: optional chaining in `extractMetricValue`
  webui/react/src/utils/metric.ts
Labels: cla-signed

#7653 fix: allow checkpoints to be GCed without validation metrics and add tests
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_test_utils.go
Labels: cla-signed

#7661 docs: Introduce users to pachyderm w det
  docs/architecture/introduction.rst
  docs/index.rst
  docs/integrations/ecosystem/ecosystem-integration.rst
  docs/integrations/pachyderm/pachyderm.rst
Labels: documentation, cla-signed

#7670 docs: Fix formatting
  docs/integrations/pachyderm/pachyderm.rst
Labels: documentation, cla-signed

#7518 chore: use summary metrics in new experiment list
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/experiment/test_metrics.py
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_project.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
  master/internal/experiment/bulk_action.go
  master/internal/experiment_filter.go
  master/static/migrations/20230503144448_add-summary-metrics.tx.up.sql
  master/static/migrations/20230817155036_use-summary-metrics.tx.down.sql
  master/static/migrations/20230817155036_use-summary-metrics.tx.up.sql
  master/static/srv/calculate-full-trial-summary-metrics.sql
  proto/pkg/projectv1/project.pb.go
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/project/v1/project.proto
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/ioTypes.ts
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#7677 fix: Case-insensitive client-side username search [DET-9770]
  webui/react/src/pages/Admin/UserManagement.tsx
Labels: cla-signed

#7680 docs: add release notes for 0.24.0
  docs/release-notes.rst
  docs/release-notes/list-user-remote.rst
  docs/release-notes/pytorch2.rst
  docs/release-notes/remove_ptladapter.rst
Labels: documentation, cla-signed

#7681 fix: allow special characters in user manangement filter
  webui/react/src/pages/Admin/UserManagement.tsx
Labels: cla-signed

#7683 chore: limit reported slots
  agent/internal/detect/nvidia.go
  agent/internal/detect/nvidia_test.go
Labels: cla-signed

#7676 chore: enable mask closable by default for drawers
  webui/react/src/components/kit/Drawer.tsx
Labels: cla-signed

#7684 chore: unpin click version
  requirements.txt
Labels: cla-signed

#7672 fix: default pools editable and submittable (#7647)
  master/internal/api_workspace.go
  master/internal/mocks/workspace_authz_iface.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
Labels: cla-signed

#7589 chore: api intg tests [DET-9725]
  master/Makefile
  master/internal/api_resourcepool_intg_test.go
  master/internal/api_workspace_intg_test.go
  master/internal/mocks/rm_authz_iface.go
Labels: cla-signed

#7673 chore: rp-workspace bindings rbac permission
  harness/determined/common/api/bindings.py
  proto/buf.image.bin
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#7689 docs: Improve writing of the github readme
  README.md
Labels: cla-signed

#7687 feat: check if default resource pools are bound
  master/internal/core.go
  master/internal/db/postgres_rp_workspace_bindings.go
Labels: cla-signed

#7685 docs: work around bug causing version dropdown to fail
  docs/conf.py
Labels: documentation, cla-signed

#7671 chore: add new RBAC permission view external jobs
  harness/determined/common/api/bindings.py
  master/internal/cluster/authz_basic_impl.go
  master/internal/cluster/authz_iface.go
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#7462 chore: dev cli support for calling master apis
  harness/determined/cli/dev.py
  harness/determined/common/api/bindings.py
  harness/tests/cli/test_cli.py
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#7694 docs: fix new release notes
  docs/release-notes.rst
  docs/release-notes/remove_ptladapter.rst
Labels: documentation, cla-signed

#7690 docs: algolia scraper to scrape only xml
  docs/deploy/scrape.py
Labels: documentation, cla-signed

#7645 feat: add download code method for Python SDK experiment [MLG-838]
  harness/determined/common/experimental/experiment.py
  harness/tests/determined/common/experimental/test_experiment.py
Labels: cla-signed

#7691 fix: add type check to pod spec merge
  master/cmd/determined-master/root.go
Labels: cla-signed

#7698 fix: correct outstanding error in mapx
  master/pkg/syncx/mapx/mapx.go
Labels: cla-signed

#7697 fix: patch workspace has duplicate update statements
  master/internal/api_workspace.go
Labels: cla-signed

#7693 fix: error message in jupyter
  webui/react/src/utils/jupyter.ts
Labels: cla-signed

#7688 fix: Continue Trial modal does not reset mode [WEB-1566]
  webui/react/src/components/ExperimentCreateModal.tsx
Labels: cla-signed

#7695 fix: botched rebase/rename in the detached mode.
  examples/features/unmanaged/hf_trainer/README.md
  examples/features/unmanaged/hf_trainer/requirements.txt
  examples/features/unmanaged/hf_trainer/run.sh
  examples/features/unmanaged/hf_trainer/run_ner.py
  harness/determined/transformers/_hf_callback.py
Labels: cla-signed

#7701 fix: rp bindings intg test failure
  master/internal/api_resourcepool_intg_test.go
Labels: cla-signed

#7707 fix: users can see inaccessible RPs
  master/internal/api_resourcepool.go
Labels: cla-signed

#7702 feat: `det deploy gcp` support for a2-ultragpu and g2-standard.
  harness/determined/deploy/gcp/preflight.py
  master/internal/config/provconfig/gcp_config.go
Labels: cla-signed

#7699 fix: add unit test cases for mapx methods Values and Clear
  master/pkg/syncx/mapx/mapx_test.go
Labels: cla-signed

#7710 fix: code cleanup for mapx unit test
  master/pkg/syncx/mapx/mapx_test.go
Labels: cla-signed

#7706 fix: add missing workspace_id from get_templates
  docs/release-notes/tpl-list-fix.rst
  master/static/srv/get_templates.sql
Labels: documentation, cla-signed

#7714 fix: render Compare View properly
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.tsx
  webui/react/src/utils/metric.ts
Labels: cla-signed

#7719 fix: Reset chart min/max when changing XAxisDomain
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/components/kit/internal/UPlot/SyncProvider.tsx
  webui/react/src/components/kit/internal/UPlot/UPlotChart.tsx
Labels: cla-signed, to-cherry-pick

#7720 chore: Add nightly tests to release branches
  .circleci/config.yml
Labels: cla-signed

#7724 fix: correct GPU name for A100-80GB.
  harness/determined/deploy/gcp/preflight.py
  master/internal/config/provconfig/gcp_config.go
Labels: cla-signed, to-cherry-pick

#7666 feat: show external jobs on the resource pool page
  webui/react/src/components/kit/Icon.tsx
  webui/react/src/pages/JobQueue/JobQueue.table.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/styles/icons.scss
  webui/react/src/utils/job.ts
Labels: cla-signed

#7668 chore: update determined cli to handle timestamp format for external jobs
  harness/determined/cli/job.py
  harness/determined/common/util.py
Labels: cla-signed

#7728 fix: Changing x axis type should reset any current custom zoom
  webui/react/src/components/kit/internal/UPlot/SyncProvider.tsx
Labels: cla-signed, to-cherry-pick

#7721 docs: Add user guides to the Documentation section
  README.md
Labels: cla-signed

#7729 fix: backfilled tasks weren't seen as trial tasks
  docs/release-notes/trial-logs-failing.rst
  master/internal/api_trials_intg_test.go
  master/internal/experiment.go
Labels: documentation, cla-signed, to-cherry-pick

#7663 chore: New constructor for Determined objects using existing session.
  harness/determined/common/experimental/determined.py
Labels: cla-signed

#7734 fix: fix failing e2e_cpu tests
  harness/determined/cli/job.py
  harness/determined/common/util.py
Labels: cla-signed
