Repository determined-ai/determined, pull requests merged in 2023-11, with the labels that each got.

#8239 chore: refactor filterformstore
  webui/react/src/components/FilterForm/components/FilterFormStore.test.ts
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
  webui/react/src/components/FilterForm/components/type.ts
Labels: cla-signed

#8291 fix: fix docs linting
  docs/model-dev-guide/api-guides/apis-howto/api-core-ug.rst
  docs/model-dev-guide/api-guides/apis-howto/api-keras-ug.rst
Labels: documentation, cla-signed

#8293 fix: update bumpversion cfg for new CircleCI config
  .bumpversion.cfg
Labels: cla-signed

#8296 ci: update wrapper config to run on tags
  .circleci/config.yml
Labels: cla-signed

#8295 fix: prevent settings store from triggering rerenders on poll
  webui/react/src/stores/userSettings.test.tsx
  webui/react/src/stores/userSettings.tsx
Labels: cla-signed

#8300 docs: quick fix for version dropdown
  docs/_static/version-switcher/versions.json
Labels: documentation, cla-signed, to-cherry-pick

#8149 feat: added a new cli command to recover hp search experiments [DET-9752]
  e2e_tests/tests/cluster/test_exp_continue.py
  e2e_tests/tests/fixtures/no_op/grid-short.yaml
  e2e_tests/tests/fixtures/no_op/random-short.yaml
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/experiment.go
Labels: cla-signed

#8301 fix: undefined handling in `CreateGroupModal`
  webui/react/src/components/CreateGroupModal.tsx
Labels: cla-signed, to-cherry-pick

#8241 chore: fix intg test and improve testing model
  master/internal/stream/system_intg_test.go
  master/test/streamdata/stream_data.go
Labels: cla-signed

#8298 fix: check externalConfig is enabled before setting det_jwt as auth header
  master/internal/api_command.go
  master/internal/grpcutil/api.go
  master/internal/user/service.go
Labels: cla-signed, to-cherry-pick

#8002 feat: new user management filters
  webui/react/.eslintrc.js
  webui/react/src/components/Table/Table.tsx
  webui/react/src/hooks/useAsync.ts
  webui/react/src/pages/Admin/UserManagement.module.scss
  webui/react/src/pages/Admin/UserManagement.settings.ts
  webui/react/src/pages/Admin/UserManagement.test.tsx
  webui/react/src/pages/Admin/UserManagement.tsx
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#8306 chore: fix job service panic when workspace does not exist
  master/internal/command/command_job_service.go
  master/internal/experiment_job_service.go
  master/internal/job/jobservice/jobservice.go
Labels: cla-signed, to-cherry-pick

#8309 fix: adjust width size in group table
  webui/react/src/pages/Admin/GroupManagement.tsx
Labels: cla-signed, to-cherry-pick

#8307 fix: Project info not persist when forking experiment
  webui/react/src/components/ExperimentCreateModal.tsx
  webui/react/src/services/types.ts
Labels: cla-signed

#8310 fix: allow experiments with directory checkpoint storage to parse
  webui/react/src/components/CheckpointModal.tsx
  webui/react/src/types.ts
Labels: cla-signed, to-cherry-pick

#8303 chore: deployment's --dry-run option doesn't print template
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/deployment_types/base.py
Labels: cla-signed

#8261 test: quarantine GPU execution of test_task_logs
  .circleci/real_config.yml
  e2e_tests/pytest.ini
  e2e_tests/tests/cluster/test_logging.py
  e2e_tests/tests/conftest.py
Labels: cla-signed

#8312 ci: delete broken wait_for helper
  e2e_tests/tests/cluster/test_rbac_ntsc.py
  e2e_tests/tests/utils.py
Labels: cla-signed

#8267 chore(actors): remove ctx usage in agent_state.go
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_state.go
Labels: cla-signed

#8313 chore: delete dead code
  harness/determined/monkey_patch.py
  harness/tests/test_monkey_patch.py
Labels: cla-signed

#8285 chore: use a single root level go mod
  .circleci/real_config.yml
  agent/Makefile
  agent/go.mod
  go.mod
  go.sum
  go.work
  master/Makefile
  master/go.sum
  proto/Makefile
  proto/go.mod
  proto/go.sum
Labels: cla-signed

#8229 chore: experiment actor refactor
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/api_user_intg_test.go
  master/internal/experiment.go
  master/internal/experiment/bulk_action.go
  master/internal/experiment/experiment_iface.go
  master/internal/experiment_job_service.go
  master/internal/restore.go
  master/internal/restore_test.go
  master/internal/trial.go
  master/internal/trial_intg_test.go
Labels: cla-signed

#8319 docs: fix typo in user edit release note
  docs/model-dev-guide/api-guides/apis-howto/api-pytorch-ug.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/release-notes.rst
  docs/release-notes/cli-user-edit.rst
  docs/setup-cluster/aws/dynamic-agents-aws.rst
  docs/setup-cluster/on-prem/options/deploy.rst
  docs/setup-cluster/slurm/slurm-known-issues.rst
Labels: documentation, cla-signed

#8270 feat: implement CodeSample from UI Kit [WEB-1677]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ModelDownloadModal.module.scss
  webui/react/src/components/ModelDownloadModal.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.module.scss
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.module.scss
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
Labels: cla-signed

#8181 chore: Add progress bar to UI Kit [WEB-1675]
  webui/react/src/components/Bar.module.scss
  webui/react/src/components/Bar.tsx
  webui/react/src/components/ProgressBar.tsx
  webui/react/src/components/SlotAllocationBar.tsx
  webui/react/src/components/Table/Table.tsx
  webui/react/src/pages/ExperimentDetails/Header/ExperimentHeaderProgress.module.scss
  webui/react/src/pages/ExperimentDetails/Header/ExperimentHeaderProgress.tsx
Labels: cla-signed

#8320 chore: use a single .golangci.yml file
  agent/.golangci.yml
  agent/Makefile
  master/.errcheck-exclude.txt
  master/.golangci.yml
Labels: cla-signed

#8322 docs: add release notes for 0.26.3
  docs/release-notes.rst
  docs/release-notes/cli-user-edit.rst
  docs/release-notes/deprecate-apex.rst
  docs/release-notes/directory-ckpt-storage.rst
Labels: documentation, cla-signed

#8325 fix: json marshaling bug
  master/pkg/stream/stream.go
  master/pkg/stream/stream_test.go
Labels: cla-signed

#8227 feat: Add tensorboard delete command to CLI
  docs/release-notes/tensorboard-delete.rst
  e2e_tests/tests/command/test_tensorboard.py
  harness/determined/cli/experiment.py
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/pkg/tasks/task_gc.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: documentation, cla-signed, User-facing API Change

#8304 fix: Metric group charts have more than one color
  webui/react/src/pages/TrialDetails/TrialDetailsMetrics.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Labels: cla-signed

#8328 chore: remove fit-content from `TimeAgoc`
  webui/react/src/components/ProjectCard.module.scss
  webui/react/src/components/ProjectCard.tsx
  webui/react/src/components/TimeAgo.module.scss
  webui/react/src/components/TimeAgo.test.tsx
  webui/react/src/components/TimeAgo.tsx
Labels: cla-signed

#8324 fix: add pin icon in dropdown
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Labels: cla-signed

#8341 ci: mypy fix for responses>=0.24.0
  harness/tests/determined/common/experimental/test_trial.py
Labels: cla-signed

#8344 test: fix `ray.air.session` import.
  examples/features/unmanaged/ray/ray_hp_search.py
Labels: cla-signed

#7891 fix: cli is not a library!
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/cluster/test_logging.py
  e2e_tests/tests/cluster/test_model_registry_rbac.py
  e2e_tests/tests/cluster/test_rbac.py
  e2e_tests/tests/cluster/test_rbac_misc.py
  e2e_tests/tests/cluster/test_rbac_ntsc.py
  e2e_tests/tests/config.py
  e2e_tests/tests/job/test_rbac.py
  e2e_tests/tests/template/test_template.py
  e2e_tests/tests/utils.py
  harness/determined/cli/__init__.py
  harness/determined/cli/_util.py
  harness/determined/cli/command.py
  harness/determined/cli/experiment.py
  harness/determined/cli/project.py
  harness/determined/cli/rbac.py
  harness/determined/cli/user_groups.py
  harness/determined/cli/workspace.py
  harness/determined/common/api/__init__.py
  harness/determined/common/api/_rbac.py
  harness/determined/common/api/_util.py
Labels: cla-signed

#8340 docs: Docs Version Dropdown Automation
  docs/insert-version-url.py
  tools/scripts/insert-dropdown-url.sh
Labels: documentation, cla-signed

#8332 fix: replace TODO with ctx for deleteTensorboard
  master/internal/api_experiment.go
Labels: cla-signed

#8302 docs: log policies
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/training/experiment-config-reference.rst
  docs/release-notes/log-policies.rst
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
  master/pkg/model/task_container_defaults.go
  master/pkg/model/task_container_defaults_test.go
Labels: documentation, cla-signed

#8351 docs: fix linting failure
  docs/insert-version-url.py
Labels: documentation, cla-signed

#8308 fix: Allow SAML and OIDC logins to work differently [WEB-1797]
  harness/determined/common/api/bindings.py
  proto/pkg/apiv1/master.pb.go
  proto/src/determined/api/v1/master.proto
  webui/react/src/pages/SignIn.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/stores/determinedInfo.tsx
Labels: cla-signed

#8326 fix: properly interpret flag values
  harness/determined/deploy/gcp/cli.py
Labels: cla-signed

#8343 feat: Show "-" for null values in data cells
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/linkCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/tagsCell.tsx
Labels: cla-signed

#8354 chore: remove accidental mock commit
  master/internal/mocks/rm.go
Labels: cla-signed

#8352 fix(experiments): transient errors shouldn't leave trial hung
  master/internal/trial.go
Labels: cla-signed

#8355 fix: Set group name and number columns to handle Safari [DET-9948] [DET-9949]
  webui/react/src/pages/Admin/GroupManagement.tsx
  webui/react/src/pages/Admin/index.tsx
Labels: cla-signed

#8338 chore: Remove DesignKit since it's now maintained in Hew [WEB-1790]
  .circleci/real_config.yml
  webui/react/.unimportedrc.json
  webui/react/Makefile
  webui/react/design/index.html
  webui/react/design/index.tsx
  webui/react/scripts/designkit-screenshot.mjs
  webui/react/scripts/make-github-comment.mjs
  webui/react/scripts/make-screenshot-diff.mjs
  webui/react/src/components/PageHeader/PageHeader.tsx
  webui/react/src/pages/DesignKit.module.scss
  webui/react/src/pages/DesignKit.tsx
  webui/react/tsconfig.json
  webui/react/vite.config.mts
Labels: cla-signed

#8321 fix: prevent carriage return in env from crashing deepspeed launcher
  harness/determined/launch/deepspeed.py
Labels: cla-signed

#8323 chore: update Typography from UI kit
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ResourcePoolBindingModal.tsx
  webui/react/src/components/UserSettings.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentMultiTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ProjectNotes.tsx
Labels: cla-signed

#8329 feat: delete TB files from the SDK
  harness/determined/cli/experiment.py
  harness/determined/common/experimental/experiment.py
Labels: cla-signed

#8292 chore: port over PyTorch example to use Trainer API [MLG-1181]
  e2e_tests/tests/fixtures/mnist_pytorch/adaptive_short.yaml
  e2e_tests/tests/fixtures/mnist_pytorch/const-pytorch11.yaml
  e2e_tests/tests/fixtures/mnist_pytorch/distributed-stop-requested.yaml
  e2e_tests/tests/fixtures/mnist_pytorch/failable.yaml
  e2e_tests/tests/fixtures/mnist_pytorch/failable_model_def.py
  e2e_tests/tests/fixtures/mnist_pytorch/layers.py
  e2e_tests/tests/fixtures/mnist_pytorch/model.py
  e2e_tests/tests/fixtures/mnist_pytorch/model_def.py
  e2e_tests/tests/fixtures/mnist_pytorch/random.yaml
  e2e_tests/tests/fixtures/mnist_pytorch/stop_requested_model_def.py
  e2e_tests/tests/fixtures/mnist_pytorch/train.py
  examples/tutorials/mnist_pytorch/README.md
  examples/tutorials/mnist_pytorch/adaptive.yaml
  examples/tutorials/mnist_pytorch/const.yaml
  examples/tutorials/mnist_pytorch/data.py
  examples/tutorials/mnist_pytorch/dist_random.yaml
  examples/tutorials/mnist_pytorch/distributed.yaml
  examples/tutorials/mnist_pytorch/layers.py
  examples/tutorials/mnist_pytorch/model.py
  examples/tutorials/mnist_pytorch/model_def.py
  examples/tutorials/mnist_pytorch/train.py
  harness/tests/experiment/fixtures/pytorch_amp/apex_amp.yaml
  harness/tests/experiment/fixtures/pytorch_amp/apex_amp_distributed.yaml
  harness/tests/experiment/fixtures/pytorch_amp/apex_amp_model_def.py
  harness/tests/experiment/fixtures/pytorch_amp/auto_amp.yaml
  harness/tests/experiment/fixtures/pytorch_amp/auto_amp_distributed.yaml
  harness/tests/experiment/fixtures/pytorch_amp/auto_amp_model_def.py
  harness/tests/experiment/fixtures/pytorch_amp/layers.py
  harness/tests/experiment/fixtures/pytorch_amp/manual_amp.yaml
  harness/tests/experiment/fixtures/pytorch_amp/manual_amp_distributed.yaml
  harness/tests/experiment/fixtures/pytorch_amp/manual_amp_model_def.py
  harness/tests/experiment/fixtures/pytorch_amp/model.py
  harness/tests/experiment/fixtures/pytorch_amp/model_def.py
  harness/tests/experiment/fixtures/pytorch_amp/train.py
  harness/tests/experiment/pytorch/test_examples.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/pytorch_utils.py
Labels: cla-signed

#8337 fix: patched remote users were able to login with password
  docs/release-notes/remote-was-able-to-login.rst
  e2e_tests/tests/cluster/test_users.py
  master/internal/api_auth.go
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/user/service.go
Labels: documentation, cla-signed

#8363 fix(tests): lower e2e_gpu_quarantine parallelism
  .circleci/real_config.yml
Labels: cla-signed

#8361 chore: add list_experiments to experimental.client
  harness/determined/experimental/client.py
Labels: cla-signed

#8356 chore: bump environment images to ubuntu 18.04 [MLG-1194]
  .circleci/real_config.yml
  docs/model-dev-guide/api-guides/apis-howto/_index.rst
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/reference/training/experiment-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  proto/buf.image.bin
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
Labels: documentation, cla-signed

#8360 fix: Cell can be undefined in experiment list table
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Labels: cla-signed

#8339 fix: fixed bug in error handling in experiment.go
  master/internal/experiment.go
Labels: cla-signed

#8345 fix: aws deployment can deploy priority scheduler
  harness/determined/deploy/aws/injector/master.yaml.tmpl
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
Labels: cla-signed

#8082 docs: Add det pach tutorial
  docs/assets/images/completed-checkpoint.png
  docs/assets/images/pach-batch-inf-pipeline.png
  docs/tutorials/pachyderm-cat-dog.rst
Labels: documentation, cla-signed

#8362 chore: Update Horovod Cycle Time
  docs/reference/training/experiment-config-reference.rst
  harness/tests/test_horovod.py
  master/pkg/schemas/zgen_schemas.go
  schemas/expconf/v0/optimizations.json
  schemas/test_cases/v0/experiment.yaml
Labels: documentation, cla-signed

#8364 chore: fix CI mnist_pytorch
  e2e_tests/tests/experiment/test_launch.py
  e2e_tests/tests/experiment/test_metrics.py
  e2e_tests/tests/experiment/test_pending_hpc.py
  e2e_tests/tests/experiment/test_profiling.py
  e2e_tests/tests/fixtures/mnist_pytorch/adaptive_short.yaml
  e2e_tests/tests/fixtures/mnist_pytorch/const-profiling.yaml
  e2e_tests/tests/fixtures/mnist_pytorch/const-pytorch11.yaml
  e2e_tests/tests/fixtures/mnist_pytorch/distributed-stop-requested.yaml
  e2e_tests/tests/fixtures/mnist_pytorch/failable_model_def.py
  e2e_tests/tests/fixtures/mnist_pytorch/profiling.py
  e2e_tests/tests/fixtures/mnist_pytorch/stop_requested_model_def.py
  examples/tutorials/mnist_pytorch/train.py
  harness/determined/pytorch/_trainer.py
Labels: cla-signed

#8288 chore: short dsat e2e tests
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/nightly/test_distributed.py
  harness/determined/pytorch/dsat/__main__.py
Labels: cla-signed

#8335 chore: Job/task displays Running instead of Scheduled [WEB-1615]
  webui/react/src/constants/states.ts
Labels: cla-signed

#8377 test: fix slow delete_checkpoint test
  e2e_tests/tests/cluster/test_checkpoints.py
  e2e_tests/tests/experiment/test_core.py
Labels: cla-signed

#8376 feat: clear filter from experiment table header
  webui/react/src/components/FilterForm/components/FilterForm.tsx
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
  webui/react/src/components/FilterForm/components/type.ts
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Labels: cla-signed

#8327 feat: Cluster historical usage charts move to UI Kit LineChart [WEB-1786] [WEB-1764]
  webui/react/src/pages/Cluster/ClusterHistoricalUsage.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsageChart.tsx
Labels: cla-signed

#8375 chore: update the lore service port
  harness/determined/deploy/aws/templates/lore.yaml
Labels: cla-signed

#8342 feat: add hide column header menu item to explist
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Labels: cla-signed

#8382 chore: fix profiler test in CI
  e2e_tests/tests/fixtures/mnist_pytorch/profiling.py
Labels: cla-signed

#8372 chore: fix nil ptr on allocation.Proto()
  master/pkg/model/task.go
  master/pkg/model/task_test.go
Labels: cla-signed

#8311 fix: NTSC task and slot viewing obscured for RBAC users with no Viewer Permissions
  harness/determined/cli/agent.py
  harness/determined/cli/task.py
  master/internal/api_tasks.go
  master/internal/api_tasks_intg_test.go
  master/internal/authz/obfuscate.go
Labels: cla-signed

#8389 ci: finish removing growforest
  .circleci/real_config.yml
  tools/scripts/licenses/growforest
Labels: cla-signed

#8399 chore: temporarily disable CI upload job
  .circleci/real_config.yml
Labels: cla-signed

#8383 ci: cache go modules deps and build cache
  .circleci/real_config.yml
Labels: cla-signed

#8349 chore(type): stricter tsconfig
  bindings/generate_bindings_ts.py
  webui/react/src/components/Badge.test.tsx
  webui/react/src/components/CheckpointModalTrigger.tsx
  webui/react/src/components/ConditionalWrapper.test.tsx
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/components/ErrorBoundary.tsx
  webui/react/src/components/ExperimentCreateModal.tsx
  webui/react/src/components/JupyterLabModal.tsx
  webui/react/src/components/ModelCreateModal.tsx
  webui/react/src/components/ModelRegistry.tsx
  webui/react/src/components/ModelVersionDeleteModal.tsx
  webui/react/src/components/PasswordChangeModal.tsx
  webui/react/src/components/ProjectNoteDeleteModal.tsx
  webui/react/src/components/ResourcePoolCard.test.tsx
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/components/RoutePagination.test.tsx
  webui/react/src/components/RoutePagination.tsx
  webui/react/src/components/Table/InteractiveTable.tsx
  webui/react/src/components/Table/ResponsiveTable.test.tsx
  webui/react/src/components/Table/ResponsiveTable.tsx
  webui/react/src/components/Table/Table.tsx
  webui/react/src/components/TaskList.tsx
  webui/react/src/components/TimeAgo.tsx
  webui/react/src/components/TimeDuration.test.tsx
  webui/react/src/components/TrialLogPreview.tsx
  webui/react/src/components/UPlot/UPlotChart/drawPointsPlugin.ts
  webui/react/src/components/UPlot/UPlotScatter.tsx
  webui/react/src/components/UPlot/UPlotScatter/UPlotScatter.utils.ts
  webui/react/src/hooks/useModal/Checkpoint/useCheckpointFlow.tsx
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpHeatMaps.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpScatterPlots.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/utils.ts
  webui/react/src/pages/JobQueue/JobQueue.table.tsx
  webui/react/src/pages/JobQueue/ManageJob.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/TaskLogs.test.tsx
  webui/react/src/pages/TrialDetails/Profiles/Profiler.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsMetrics.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
  webui/react/src/pages/WebhookList.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/utils.ts
  webui/react/src/stores/determinedInfo.tsx
  webui/react/src/utils/error.ts
  webui/react/src/utils/experiment.ts
  webui/react/src/utils/md5.ts
  webui/react/src/utils/storage.ts
  webui/react/src/utils/task.ts
  webui/react/tsconfig.json
  webui/react/vite-plugin-svg-to-jsx.ts
Labels: cla-signed

#8054 feat: change cli command for patch master log config DET[9720]
  docs/release-notes/patch_master_config_cli.rst
  e2e_tests/tests/cluster/managed_cluster.py
  harness/determined/cli/master.py
  harness/determined/common/api/bindings.py
  master/internal/api_master.go
  master/pkg/logger/log_buffer.go
  proto/buf.image.bin
  proto/pkg/masterv1/master.pb.go
  proto/src/determined/master/v1/master.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: documentation, cla-signed

#8385 refactor: implement Glossary component from Hew
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/CheckpointModal.module.scss
  webui/react/src/components/CheckpointModal.tsx
  webui/react/src/components/InfoBox.module.scss
  webui/react/src/components/InfoBox.tsx
  webui/react/src/components/Json.module.scss
  webui/react/src/components/Json.tsx
  webui/react/src/components/JsonGlossary.tsx
  webui/react/src/components/Metadata/EditableMetadata.tsx
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/components/ResourcePoolDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/ResourcePool/ResourcepoolDetail.tsx
Labels: cla-signed

#8378 fix: Move modal context holders inside of Workspace/Project cards
  webui/react/src/components/ProjectCard.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceCard.tsx
Labels: cla-signed

#8158 fix: user flag to prompt for password during unauthenticated user requests
  e2e_tests/tests/command/test_shell.py
  harness/determined/common/api/authentication.py
  harness/tests/cli/test_auth.py
Labels: cla-signed

#8407 chore: Bumpenvs 0.26.4
  .circleci/real_config.yml
  docs/model-dev-guide/api-guides/apis-howto/_index.rst
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/reference/training/experiment-config-reference.rst
  docs/release-notes/python-39-bump.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
Labels: documentation, cla-signed, ci-run-nightly

#8281 fix: added permission check on GetAllocation (DET-9922)
  master/internal/api_tasks.go
Labels: cla-signed

#8359 fix: Hide cluster stats when 0
  webui/react/src/pages/Cluster/ClusterOverallStats.tsx
Labels: cla-signed

#8411 chore: convert DOS line endings to Unix
  docs/insert-version-url.py
  examples/hf_trainer_api/hf_image_classification/requirements.txt
  harness/tests/experiment/pytorch/test_examples.py
  harness/tests/experiment/pytorch_utils.py
  harness/tests/experiment/tf_utils.py
  harness/tests/fixtures/experiment_trials.json
  harness/tests/fixtures/model.json
  harness/tests/fixtures/model_versions.json
  harness/tests/fixtures/pagination.json
  harness/tests/fixtures/project.json
  tools/scripts/licenses/typescript
Labels: documentation, cla-signed

#8410 chore: Add eslint rule for ?? expressions [WEB-1804]
  webui/react/.eslintrc.js
  webui/react/src/components/FilterForm/components/FilterField.tsx
Labels: cla-signed

#8414 fix: Place modal inside of ResourcePoolCard
  webui/react/src/components/ResourcePoolCard.tsx
Labels: cla-signed

#8413 fix: allow --json in det master config CLI command
  harness/determined/cli/master.py
Labels: cla-signed

#8409 chore: fail deployment if launching part of the service fails
  harness/determined/deploy/aws/templates/lore.yaml
Labels: cla-signed

#8418 chore: made insert-dropdown-url.sh executable
  tools/scripts/insert-dropdown-url.sh
Labels: cla-signed

#8273 docs: Update non root container instructions
  docs/manage/users.rst
  docs/setup-cluster/checklists/_index.rst
Labels: documentation, cla-signed

#8412 chore: update Column and Row from Hew
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/pages/Admin/UserManagement.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
  webui/react/src/pages/WorkspaceList.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceCard.tsx
Labels: cla-signed

#8423 test: fix TestAddAndRemoveBindings flake
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Labels: cla-signed

#8419 chore: converting SearchGroupsWithoutPersonalGroups into tx
  master/internal/usergroup/group_intg_test.go
  master/internal/usergroup/postgres_groups.go
Labels: cla-signed

#8425 feat: client gets list_models, too.
  harness/determined/experimental/client.py
Labels: cla-signed

#8430 feat: add workspace/project creation/deletion
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/workspace.py
  harness/determined/experimental/client.py
Labels: cla-signed, to-cherry-pick

#8424 fix: replace antd select with hew select
  webui/react/src/components/CreateGroupModal.tsx
  webui/react/src/components/CreateUserModal.tsx
  webui/react/src/components/JupyterLabModal.tsx
  webui/react/src/components/ManageGroupsModal.tsx
  webui/react/src/components/ProjectMoveModal.tsx
  webui/react/src/components/Table/TableBatch.tsx
  webui/react/src/components/Table/TableBulkActions.tsx
  webui/react/src/components/WebhookCreateModal.tsx
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpointRegister.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.test.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsageCsvModal.tsx
  webui/react/src/pages/JobQueue/ManageJob.tsx
  webui/react/src/pages/WorkspaceDetails/RoleRenderer.module.scss
  webui/react/src/pages/WorkspaceDetails/RoleRenderer.tsx
Labels: cla-signed, to-cherry-pick

#8386 chore: filterformstore comment re: change tracking
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
Labels: cla-signed

#8432 fix: Wrap older modals in theme class [WEB-1824]
  webui/react/src/components/GalleryModal.tsx
  webui/react/src/components/ResourcePoolDetails.tsx
  webui/react/src/components/TaskList.tsx
  webui/react/src/components/TextEditorModal.tsx
  webui/react/src/hooks/useModal/useModal.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsageCsvModal.tsx
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/pages/JobQueue/ManageJob.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceQuickSearch.tsx
Labels: cla-signed, to-cherry-pick

#8428 ci: delete broken fixture
  e2e_tests/tests/conftest.py
Labels: cla-signed

#8433 fix: Experiment List Tooltip is Transparent [WEB-1827]
  webui/react/src/pages/F_ExpList/glide-table/tooltip.tsx
Labels: cla-signed

#8420 test: fix model registry rbac wrong user regression
  e2e_tests/tests/cluster/test_model_registry_rbac.py
Labels: cla-signed, to-cherry-pick

#8437 chore: add version dropdown url for previous release
  docs/_static/version-switcher/versions.json
Labels: documentation, cla-signed

#8436 ci: fix linting with responses==0.24.1
  harness/tests/determined/common/experimental/test_trial.py
Labels: cla-signed, to-cherry-pick

#8397 feat: Add remote user settings to Users table [WEB-1798]
  harness/determined/common/api/bindings.py
  master/internal/api_user.go
  proto/pkg/apiv1/user.pb.go
  proto/src/determined/api/v1/user.proto
  webui/react/src/components/CreateUserModal.tsx
  webui/react/src/components/UserSettings.tsx
  webui/react/src/pages/Admin/UserManagement.settings.ts
  webui/react/src/pages/Admin/UserManagement.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#8336 test: create a test for delete-tensorboards via `det e delete`
  e2e_tests/tests/experiment/test_delete.py
  e2e_tests/tests/experiment/test_metrics.py
Labels: cla-signed

#8136 chore: command actor refactor & add intg test [DET-9660]
  master/internal/api.go
  master/internal/api_command.go
  master/internal/api_notebook.go
  master/internal/api_ntsc_intg_test.go
  master/internal/api_shell.go
  master/internal/api_tasks.go
  master/internal/api_tensorboard.go
  master/internal/api_workspace.go
  master/internal/command/api.go
  master/internal/command/command.go
  master/internal/command/command_intg_test.go
  master/internal/command/command_job_service.go
  master/internal/command/command_manager.go
  master/internal/command/command_service.go
  master/internal/command/notebook_manager.go
  master/internal/command/ntsc.go
  master/internal/command/shell_manager.go
  master/internal/command/summary.go
  master/internal/command/tensorboard_manager.go
  master/internal/core.go
  master/internal/db/postgres_jobs.go
  master/internal/db/postgres_tasks.go
Labels: cla-signed

#8439 fix: k8s autoscaling nodes not counted towards RP
  master/internal/rm/kubernetesrm/pods.go
Labels: cla-signed, to-cherry-pick

#8346 docs: Update upgrade instructions
  docs/manage/upgrade.rst
  docs/setup-cluster/on-prem/options/linux-packages.rst
  docs/setup-cluster/slurm/_index.rst
Labels: documentation, cla-signed

#8431 fix: Calculate allocation bar stats same as overview [WEB-1822]
  webui/react/src/pages/Cluster/ClusterOverallStats.tsx
  webui/react/src/utils/cluster.ts
Labels: cla-signed, to-cherry-pick

#8426 ci: cache install Python
  .circleci/real_config.yml
Labels: cla-signed

#8448 fix: SDK list_checkpoints not defaulting to searcher metric sort
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/trial.py
Labels: cla-signed

#8416 fix: det slot for no-permissions RBAC users
  harness/determined/cli/agent.py
  harness/determined/common/api/bindings.py
  master/internal/authz/obfuscate.go
  master/internal/authz/obfuscate_test.go
  proto/pkg/containerv1/container.pb.go
  proto/src/determined/container/v1/container.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#8449 ci: store npm log artifacts
  .circleci/real_config.yml
Labels: cla-signed

#8451 docs: add release notes for 0.26.4
  docs/release-notes.rst
  docs/release-notes/log-policies.rst
  docs/release-notes/patch_master_config_cli.rst
  docs/release-notes/python-39-bump.rst
  docs/release-notes/remote-was-able-to-login.rst
  docs/release-notes/tensorboard-delete.rst
Labels: documentation, cla-signed

#8429 fix: add back pin icon in experiment list header
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Labels: cla-signed

#8395 chore(actors): remove pkg/actor usage from agentrm
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager_intg_test.go
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/agentrm/agents.go
  master/internal/rm/agentrm/fair_share.go
  master/internal/rm/agentrm/fitting.go
  master/internal/rm/agentrm/fitting_methods.go
  master/internal/rm/agentrm/fitting_test.go
  master/internal/rm/agentrm/mock_test.go
  master/internal/rm/agentrm/priority.go
  master/internal/rm/agentrm/priority_test.go
  master/internal/rm/agentrm/provisioner/provisioner.go
  master/internal/rm/agentrm/provisioner/provisioner_test.go
  master/internal/rm/agentrm/provisioner/setup.go
  master/internal/rm/agentrm/resource_managers_test.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/resource_pool_test.go
  master/internal/rm/agentrm/resources.go
  master/internal/rm/agentrm/round_robin.go
  master/internal/rm/agentrm/scheduler_test.go
  master/internal/rm/agentrm/summaries.go
  master/internal/rm/tasklist/registry.go
  master/internal/sproto/agent_resource_manager.go
  master/pkg/aproto/net.go
Labels: documentation, cla-signed

#8447 chore: use ResourcePool info for consistent capacity calculation [WEB-1796]
  webui/react/src/stores/cluster.tsx
Labels: cla-signed

#8455 chore: bump CI node version to 20.9.0
  .circleci/real_config.yml
  .devcontainer/devcontainer.json
  .github/workflows/lint-react.yml
  CONTRIBUTING.md
Labels: cla-signed

#8427 Fix minor issues including hard coded reference
  docs/get-started/architecture/introduction.rst
  docs/manage/workspaces.rst
  docs/model-dev-guide/api-guides/apis-howto/_index.rst
  docs/model-dev-guide/api-guides/apis-howto/api-core-ug.rst
  docs/model-dev-guide/api-guides/apis-howto/api-keras-ug.rst
  docs/model-dev-guide/api-guides/apis-howto/deepspeed/_index.rst
  docs/model-dev-guide/model-management/_index.rst
  docs/model-dev-guide/model-management/model-registry-org.rst
  docs/model-dev-guide/prepare-container/_index.rst
  docs/reference/training/_index.rst
  docs/reference/training/api-det-reference.rst
  docs/reference/training/api-keras-reference.rst
  docs/reference/training/api-pytorch-reference.rst
  docs/release-notes.rst
  docs/setup-cluster/k8s/install-on-kubernetes.rst
  docs/tools/cli/cli-ug.rst
Labels: documentation, cla-signed

#8454 chore: log RestoreAllCommands error
  master/internal/command/command_service.go
Labels: cla-signed

#8441 chore: add error check to KillNTSC
  master/internal/command/command_service.go
Labels: cla-signed

#8452 chore(actors): remove pkg/actor
  go.mod
  go.sum
  master/internal/api_experiment_intg_test.go
  master/internal/api_project_intg_test.go
  master/internal/api_tasks_intg_test.go
  master/internal/api_user_intg_test.go
  master/internal/api_workspace_intg_test.go
  master/internal/core.go
  master/internal/populate_metrics.go
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager_intg_test.go
  master/internal/rm/agentrm/fair_share_test.go
  master/internal/rm/agentrm/fitting_methods_test.go
  master/internal/rm/agentrm/fitting_test.go
  master/internal/rm/agentrm/mock_test.go
  master/internal/rm/agentrm/priority_test.go
  master/internal/rm/agentrm/provisioner/provisioner_test.go
  master/internal/rm/agentrm/resource_managers_test.go
  master/internal/rm/agentrm/resource_pool_test.go
  master/internal/rm/agentrm/round_robin_test.go
  master/internal/rm/agentrm/scaling_test.go
  master/internal/rm/agentrm/scheduler_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/setup.go
  master/internal/root.go
  master/internal/sproto/globals.go
  master/internal/telemetry/reports.go
  master/internal/telemetry/telemetry_test.go
  master/internal/trial_intg_test.go
  master/internal/user/service.go
  master/internal/user/service_intg_test.go
  master/pkg/actor/actor.go
  master/pkg/actor/actors/group.go
  master/pkg/actor/actors/signal.go
  master/pkg/actor/actors/signal_test.go
  master/pkg/actor/actors/stop.go
  master/pkg/actor/actors/stop_test.go
  master/pkg/actor/actors/test_actor.go
  master/pkg/actor/actors/timer.go
  master/pkg/actor/actors/timer_test.go
  master/pkg/actor/address.go
  master/pkg/actor/address_test.go
  master/pkg/actor/api/api.go
  master/pkg/actor/context.go
  master/pkg/actor/errors.go
  master/pkg/actor/errors_test.go
  master/pkg/actor/inbox.go
  master/pkg/actor/panic_test.go
  master/pkg/actor/prom.go
  master/pkg/actor/reduce_test.go
  master/pkg/actor/ref.go
  master/pkg/actor/ref_test.go
  master/pkg/actor/response.go
  master/pkg/actor/response_test.go
  master/pkg/actor/root.go
  master/pkg/actor/system.go
  master/pkg/actor/system_test.go
  master/pkg/actor/trace.go
  master/pkg/actor/util.go
Labels: cla-signed

#8459 fix(api): handle delete experiment failures correctly
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_project.go
  master/internal/api_user_intg_test.go
Labels: cla-signed

#8458 chore: convert & export AddGroupTx
  master/internal/usergroup/postgres_groups.go
Labels: cla-signed

#8465 Update k8s install info
  docs/setup-cluster/k8s/install-on-kubernetes.rst
Labels: documentation, cla-signed

#8466 chore: update trial complete or early exit to always notify searcher
  master/internal/experiment.go
Labels: cla-signed

#8461 chore: preserve CI logs when bringing an AWS cluster down
  .circleci/real_config.yml
  harness/determined/deploy/aws/deployment_types/simple.py
Labels: cla-signed

#8358 fix: Kill task permission on interactive page
  webui/react/src/components/TaskBar.tsx
  webui/react/src/pages/InteractiveTask.test.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
Labels: cla-signed

#8470 ci: register unit pytest marks
  harness/pytest.ini
Labels: cla-signed

#8469 fix: add delete cascade to generic metrics
  master/internal/db/postgres_experiments_intg_test.go
  master/static/migrations/20231122090045_generic-metrics-on-del-casc.tx.down.sql
  master/static/migrations/20231122090045_generic-metrics-on-del-casc.tx.up.sql
Labels: cla-signed

#8468 chore: cleanup some spurious cluster logs
  master/internal/api_tasks.go
  master/internal/core.go
  master/internal/core_checkpoint.go
  master/internal/db/postgres_experiments.go
  master/internal/rm/agentrm/provisioner/aws/aws.go
  master/internal/trial.go
Labels: cla-signed

#8415 chore: clean up version dropdown update script
  docs/insert-version-url.py
Labels: documentation, cla-signed

#8481 chore: Update Hew Version to 0.6.12
  webui/react/__mocks__/hew/Tooltip.tsx
  webui/react/package-lock.json
  webui/react/package.json
Labels: cla-signed

#8473 feat: adding PACHD_ADDRESS and DEX_TOKEN to task env [DET-9875]
  master/internal/api_command.go
  master/internal/api_experiment.go
  master/internal/api_notebook.go
  master/internal/api_shell.go
  master/internal/api_tensorboard.go
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/config/oidc_config.go
  master/internal/user/postgres_users.go
  master/internal/user/postgres_users_intg_test.go
  master/pkg/model/user.go
  master/pkg/tasks/task_trial.go
Labels: cla-signed

#8156 chore: add aliases to det dev commads
  harness/determined/cli/dev.py
Labels: cla-signed

#8477 chore: migrate detaileduser and experimentitem types to io-ts
  webui/react/src/ioTypes.ts
  webui/react/src/pages/F_ExpList/glide-table/OptionsMenu.tsx
  webui/react/src/stores/experiments.tsx
  webui/react/src/stores/users.tsx
  webui/react/src/types.ts
  webui/react/src/utils/valueof.ts
Labels: cla-signed

#8463 chore: update libraries
  .circleci/real_config.yml
  webui/react/.nvmrc
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/CreateGroupModal.tsx
  webui/react/src/components/DraggableListItem.tsx
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
  webui/react/src/components/Markdown.module.scss
  webui/react/src/components/MetricSelect.tsx
  webui/react/src/components/NavigationSideBar.module.scss
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/Table/InteractiveTable.module.scss
  webui/react/src/components/Table/InteractiveTable.tsx
  webui/react/src/components/Table/TableBatch.module.scss
  webui/react/src/components/Table/TableBulkActions.tsx
  webui/react/src/components/Table/TableFilterDropdown.tsx
  webui/react/src/components/TaskList.tsx
  webui/react/src/components/UserSettings.tsx
  webui/react/src/e2e/README.md
  webui/react/src/hooks/useSettings.ts
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpScatterPlots.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsMetrics.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceQuickSearch.module.scss
  webui/react/src/routes/utils.ts
  webui/react/src/stores/cluster.tsx
  webui/react/src/stores/userSettings.tsx
  webui/react/src/styles/fonts.scss
  webui/react/src/styles/index.scss
  webui/react/src/utils/data.ts
  webui/react/src/utils/experiment.ts
  webui/react/src/utils/storage.ts
Labels: cla-signed

#8490 fix: failing custom searcher due to ExtraEnvVars being overwritten
  master/internal/api_command.go
  master/internal/api_experiment.go
Labels: cla-signed

#8484 chore: Revert "test: quarantine GPU execution of test_task_logs (#8261)"
  .circleci/real_config.yml
  e2e_tests/pytest.ini
  e2e_tests/tests/cluster/test_logging.py
  e2e_tests/tests/conftest.py
Labels: cla-signed

#8486 fix(rm): tasks shouldn't hang on restore failures
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/sproto/resources.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_service_test.go
Labels: cla-signed

#8057 refactor: removes subscription modification and replaces with soft resets
  master/internal/core.go
  master/internal/stream/metrics.go
  master/internal/stream/supervisor.go
  master/internal/stream/system.go
  master/internal/stream/system_intg_test.go
  master/internal/stream/test_util.go
  master/internal/stream/trials.go
  master/manytrials.sh
  master/pkg/stream/declarative.go
  master/pkg/stream/stream.go
  master/pkg/stream/stream_test.go
  master/stream.py
  master/test/streamdata/stream_data.go
  master/test/streamdata/stream_trials.sql
Labels: cla-signed

#8491 fix: use explicit e.state in bulk experiment delete query
  master/internal/api_experiment_intg_test.go
  master/internal/experiment/bulk_action.go
Labels: cla-signed

#8488 fix: tqdm logs within wrap_rank [MLG-1236]
  docs/release-notes/8488-tqdm.rst
  harness/determined/launch/wrap_rank.py
  harness/tests/launch/test_wrap_rank.py
  master/static/srv/ship_logs.py
Labels: documentation, cla-signed

#8457 fix: Experiment state now is an ExperimentState
  harness/determined/common/experimental/experiment.py
  harness/determined/experimental/client.py
  harness/tests/determined/common/experimental/test_experiment.py
Labels: cla-signed

#8218 feat: add experiment streamable type
  master/internal/stream/authz_basic_impl.go
  master/internal/stream/authz_iface.go
  master/internal/stream/experiments.go
  master/internal/stream/system.go
  master/internal/stream/trials.go
  master/internal/stream/utils.go
  master/static/migrations/20231116155730_add-trial-trigger.tx.down.sql
  master/static/migrations/20231116155730_add-trial-trigger.tx.up.sql
  master/static/migrations/20231116155837_add-metrics-trigger.tx.down.sql
  master/static/migrations/20231116155837_add-metrics-trigger.tx.up.sql
  master/static/migrations/20231116170431_add-experiment-trigger.tx.down.sql
  master/static/migrations/20231116170431_add-experiment-trigger.tx.up.sql
  master/stream.py
  master/test/streamdata/stream_data.go
  master/test/streamdata/stream_trials.sql
Labels: cla-signed

#8489 chore: add UpdateUsergroupMembership
  master/internal/usergroup/group_intg_test.go
  master/internal/usergroup/postgres_groups.go
Labels: cla-signed

#8434 feat: allow creation of tasklog webhooks in webui + docs
  docs/assets/images/webhook_modal.png
  docs/integrations/notification/_index.rst
  webui/react/src/components/WebhookCreateModal.tsx
  webui/react/src/pages/WebhookList.tsx
Labels: documentation, cla-signed

#8483 ci: fix Go build cache by not making it run get-deps
  .circleci/real_config.yml
Labels: cla-signed

#8493 ci: add date to python cache, fix moto linting issue
  .circleci/real_config.yml
  harness/tests/determined/common/storage/test_s3.py
Labels: cla-signed, to-cherry-pick

#8398 fix: Update Trial Download Error Message
  harness/determined/cli/trial.py
Labels: cla-signed

#8497 feat: hide hyperparameter search for unmanaged multi tiral experiments
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
Labels: cla-signed

#8495 feat: Enable multi-trial "retry" for errored/cancelled exp
  webui/react/src/constants/states.ts
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
  webui/react/src/utils/experiment.ts
Labels: cla-signed
