Repository determined-ai/determined, pull requests merged in 2023-06, with the labels that each got.

#7010 feat: When modifying glide table filters, keep columns visible [WEB-1232]
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/exceptions.tsx
Labels: cla-signed, feature-flagged

#6996 chore: expose job workspace
  e2e_tests/tests/__init__.py
  e2e_tests/tests/api_utils.py
  harness/determined/common/api/_util.py
  harness/determined/common/api/bindings.py
  master/internal/api_job.go
  master/internal/command/command.go
  master/internal/core_experiment.go
  master/internal/experiment.go
  master/internal/job/authz_basic_impl.go
  master/internal/job/authz_iface.go
  master/internal/job/job.go
  master/internal/workspace/postgres_workspace.go
  master/pkg/model/workspace.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/job.pb.go
  proto/pkg/jobv1/job.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/job.proto
  proto/src/determined/job/v1/job.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed, User-facing API Change

#7027 feat: add bind endpoint
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
Labels: cla-signed

#7023 chore: Increase size of Algolia search modal [WEB-1158]
  docs/assets/styles/determined.css
Labels: documentation

#6971 feat: Add pagination to experiment list [WEB-995]
  webui/react/src/components/kit/Pagination.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.module.scss
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/shared/assets/images/infinite-scroll.svg
Labels: cla-signed, shared-web

#7037 chore: add testing function stubs
  master/internal/api_resourcepool_intg_test.go
  master/internal/api_workspace_intg_test.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Labels: cla-signed

#7034 chore: Pass in the allocation ID to releasedResources()
  master/internal/sproto/task.go
  master/internal/task/allocation.go
Labels: cla-signed

#7028 chore: onboarding doc updates after test-drive
  onboarding/mlsys/1-gradients.md
  onboarding/mlsys/files/1-gradient-descent.jpg
  onboarding/mlsys/files/1-multi.jpg
  onboarding/mlsys/gradient_descent.jpg
  onboarding/mlsys/multi.jpg
Labels: cla-signed

#7025 fix: k8s slots count growing for commands [DET-9550]
  master/internal/rm/kubernetesrm/resource_pool.go
Labels: cla-signed

#6937 fix: add 'check permissions' message to RBAC NotFound errors
  e2e_tests/tests/command/test_run.py
  master/internal/api.go
  master/internal/api/error.go
  master/internal/api_auth.go
  master/internal/api_checkpoint.go
  master/internal/api_checkpoint_intg_test.go
  master/internal/api_command.go
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_model.go
  master/internal/api_notebook.go
  master/internal/api_ntsc_intg_test.go
  master/internal/api_project.go
  master/internal/api_project_intg_test.go
  master/internal/api_shell.go
  master/internal/api_task.go
  master/internal/api_tasks.go
  master/internal/api_tasks_intg_test.go
  master/internal/api_templates.go
  master/internal/api_tensorboard.go
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/core_checkpoint.go
  master/internal/core_checkpoint_intg_test.go
  master/internal/core_experiment.go
  master/internal/core_experiment_intg_test.go
  master/internal/experiment/bulk_action.go
  master/internal/experiment/postgres_experiments.go
  master/internal/user/service.go
  master/internal/user/service_intg_test.go
Labels: cla-signed

#6711 chore: backfill tasks tables to always have entries for trials
  master/static/migrations/20230531154906_backfill_tasks.tx.down.sql
  master/static/migrations/20230531154906_backfill_tasks.tx.up.sql
Labels: cla-signed

#7036 feat: overwrrite bindings endpoint [DET-9548]
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/mocks/workspace_authz_iface.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
Labels: cla-signed

#7042 chore: added release note for DET-9035
  docs/release-notes/rbac-not-found-errs.rst
Labels: documentation, cla-signed

#7046 fix: omit projects outside of users permissions [DET-9557]
  master/internal/api_project.go
Labels: cla-signed

#6944 chore: actor refactor proxy
  master/internal/core.go
  master/internal/proxy/proxy.go
  master/internal/proxy/proxy_intg_test.go
  master/internal/task/allocation.go
  master/internal/task/idle_timeout.go
Labels: cla-signed

#6927 fix: change taskType from string to enum [DET-8847]
  harness/determined/common/api/bindings.py
  master/static/srv/get_task.sql
  proto/buf.image.bin
  proto/pkg/taskv1/task.pb.go
  proto/src/determined/task/v1/task.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed, User-facing API Change

#7040 chore: clean up message handling in main
  harness/determined/cli/cli.py
Labels: cla-signed

#7049 fix: add missing workspace_id column to FilterExperimentsQuery calls
  master/internal/experiment/authz_iface.go
  master/internal/experiment/bulk_action.go
Labels: cla-signed

#6941 chore: actor refactor pod log
  master/internal/rm/kubernetesrm/log.go
  master/internal/rm/kubernetesrm/mock_client_test.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pod_test.go
Labels: cla-signed

#7051 chore: treat k8s like slurm in cluster info page
  webui/react/src/stores/cluster.tsx
Labels: cla-signed

#7005 feat: Add Chart grid to experiment comparison view [WEB-990]
  webui/react/src/hooks/useMetricNames.ts
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
  webui/react/src/pages/F_ExpList/ComparisonView.tsx
  webui/react/src/pages/TrialDetails/F_TrialDetailsOverview.tsx
  webui/react/src/pages/TrialDetails/MultiTrialDetailsHyperparameters.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Labels: cla-signed

#7001 chore: support displaying limited jobs in cli and web
  harness/determined/cli/job.py
  harness/determined/cli/render.py
  webui/react/src/components/Table/Table.tsx
  webui/react/src/constants/accessControl.ts
  webui/react/src/pages/JobQueue/JobQueue.table.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Labels: cla-signed

#7052 chore: Activate chart component on LearningCurve and Profiler [WEB-1310]
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/OldSystemMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/OldThroughputMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/OldTimingMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Profiler.tsx
  webui/react/src/pages/TrialDetails/Profiles/types.ts
  webui/react/src/pages/TrialDetails/Profiles/useOldFetchProfilerMetrics.tsx
Labels: cla-signed

#7030 chore: Fix pagination in get_versions.
  harness/determined/common/experimental/model.py
Labels: cla-signed

#7059 fix: missing prop in `ChartGrid` component
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
Labels: cla-signed

#7054 chore: bind mount options for singularity
  agent/pkg/singularity/singularity.go
Labels: cla-signed

#6987 test: new SDK test wait for experiments that are "PAUSED"
  harness/tests/common/api_server.py
  harness/tests/determined/__init__.py
  harness/tests/determined/common/__init__.py
  harness/tests/determined/common/experimental/__init__.py
  harness/tests/determined/common/experimental/test_experiment.py
Labels: cla-signed

#7061 chore: move inline sql off to master/static/srv
  master/internal/db/postgres_trial.go
  master/static/srv/calculate-full-trial-summary-metrics.sql
Labels: cla-signed

#7058 docs: add release notes for 0.23.0
  docs/release-notes.rst
  docs/release-notes/custom-searcher-includes.rst
  docs/release-notes/deepspeed-autotune.rst
  docs/release-notes/feat-GetExperiments.rst
  docs/release-notes/launch-error-timeout.rst
  docs/release-notes/ntsc-start-events.rst
  docs/release-notes/partial-checkpoint-delete.rst
  docs/release-notes/pod-spec-merging.rst
  docs/release-notes/remove-hdfs.rst
  docs/release-notes/remove-old-python.rst
  docs/release-notes/remove-oss-admin-rbac.rst
Labels: documentation, cla-signed

#7064 test: Add fixtures for mocking the REST API
  harness/tests/determined/common/experimental/test_experiment.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/model.json
  harness/tests/fixtures/model_versions.json
  harness/tests/fixtures/pagination.json
Labels: cla-signed

#7047 fix: Button with icon styling
  webui/react/src/components/kit/Button.module.scss
  webui/react/src/components/kit/Button.tsx
  webui/react/src/components/kit/Dropdown.tsx
  webui/react/src/pages/DesignKit.tsx
Labels: cla-signed

#7045 chore(actors): refactor preemption into an actorless service
  master/internal/api_trials.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/errors.go
  master/internal/task/preemptible/preemptible.go
  master/internal/task/preemptible/preemptible_test.go
  master/internal/task/preemptible/service.go
  master/internal/task/preemption.go
  master/internal/task/preemption_test.go
  master/pkg/syncx/mapx/mapx.go
Labels: cla-signed

#7012 feat: add summary metric support for generic metrics
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
  master/internal/trials/postgres_trials.go
  master/pkg/model/experiment.go
  master/pkg/model/metrics.go
  master/static/migrations/20230605133832_set-default-metric-type.tx.down.sql
  master/static/migrations/20230605133832_set-default-metric-type.tx.up.sql
  master/static/migrations/20230605134555_set-custom-type-constraint.tx.down.sql
  master/static/migrations/20230605134555_set-custom-type-constraint.tx.up.sql
  master/static/srv/calculate-full-trial-summary-metrics.sql
Labels: cla-signed

#7050 fix: Bottom of code editor, find tool both visible [WEB-1318]
  webui/react/src/pages/ExperimentDetails/ExperimentCodeViewer.module.scss
Labels: cla-signed

#7004 fix: show experiment count and change `start time` unit
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.module.scss
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/glide-table/utils.ts
Labels: cla-signed

#7069 fix: Breadcrumb should not have extra margin
  webui/react/src/components/kit/Breadcrumb.tsx
Labels: cla-signed

#7074 chore: capabilities options for singularity
  agent/pkg/singularity/singularity.go
Labels: cla-signed

#7076 fix: Prevent re-renders on glide table
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Labels: cla-signed, feature-flagged

#6952 feat: allow row height setting in glide table
  webui/react/src/components/kit/Dropdown.tsx
  webui/react/src/ioTypes.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/RowHeightMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/glide-table/icons.tsx
Labels: cla-signed, feature-flagged

#7024 fix: det shell start fails on grenoble with 0.21.2 (reading HTTP_PROXY, but ignoring NO_PROXY) [DET-9364]
  harness/determined/cli/proxy.py
Labels: cla-signed

#7082 fix: fix int
  master/internal/db/postgres_test_utils.go
Labels: cla-signed

#7080 chore: fix the lint script on package to resolve
  webui/react/package.json
Labels: cla-signed

#6839 fix: `det a` under kubernetes should reflect the output of `kubectl get nodes` again [DET-9450]
  harness/determined/cli/agent.py
  master/internal/rm/agentrm/agent.go
  master/internal/rm/kubernetesrm/pods.go
  master/pkg/model/agent.go
Labels: cla-signed

#7014 fix: hide non-static columns when comparison view open
  webui/react/src/components/SplitPane.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Labels: cla-signed, feature-flagged

#7091 fix: Chart regression in detecting single point cluster chart
  webui/react/src/pages/Cluster/ClusterHistoricalUsageChart.tsx
Labels: cla-signed

#7062 fix: scroll chaining in doc sidebar
  docs/assets/styles/determined.css
Labels: documentation, cla-signed

#7073 feat: New default glide table columns [WEB-1197]
  master/internal/api_project.go
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Labels: cla-signed, feature-flagged

#7095 chore: change list api
  harness/determined/common/api/bindings.py
  master/internal/api_resourcepool.go
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/resourcepool.pb.go
  proto/pkg/resourcepoolv1/resourcepool.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/resourcepool.proto
  proto/src/determined/resourcepool/v1/resourcepool.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#7071 docs: give prominence to Apptainer instead of Singularity
  docs/reference/deploy/config/master-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/install-on-slurm.rst
  docs/setup-cluster/deploy-cluster/slurm/overview.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/deploy-cluster/slurm/slurm-requirements.rst
Labels: documentation, cla-signed

#7009 feat: API for project metrics range [WEB-1000]
  e2e_tests/tests/experiment/test_core.py
  harness/determined/common/api/bindings.py
  master/internal/api_project.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/project.pb.go
  proto/pkg/projectv1/project.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/project.proto
  proto/src/determined/project/v1/project.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#7085 feat: show column sort [WEB-1219]
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/utils.ts
Labels: cla-signed

#7102 fix: add intg test flag on top of intg test files
  master/internal/api_resourcepool_intg_test.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Labels: cla-signed

#7104 feat: list workspaces bound to rp handler helper [DET-9530]
  harness/determined/common/api/bindings.py
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/mocks/workspace_authz_iface.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
  proto/buf.image.bin
  proto/pkg/apiv1/resourcepool.pb.go
  proto/src/determined/api/v1/resourcepool.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#7094 chore: add slot type to container client config
  agent/pkg/singularity/singularity.go
  master/pkg/cproto/spec.go
  master/pkg/tasks/task.go
Labels: cla-signed

#6991 feat: added rbac for agent endpoints [DET-9211]
  master/internal/api_agents.go
  master/internal/api_job.go
  master/internal/authz/obfuscate.go
  master/internal/cluster/authz_basic_impl.go
  master/internal/cluster/authz_iface.go
Labels: cla-signed

#7099 fix: unexpected icon movement in admin page
  webui/react/src/components/CreateUserModal.tsx
Labels: cla-signed

#7084 feat: Experiment List comparison view should show hyperparameters chart [WEB-991]
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.settings.ts
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.tsx
  webui/react/src/pages/F_ExpList/ComparisonView.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/HpParallelCoordinates.module.scss
  webui/react/src/types.ts
Labels: cla-signed

#7075 tests: kill exps before workspace deletion
  e2e_tests/tests/cluster/test_workspace_org.py
  master/internal/api_experiment.go
Labels: cla-signed

#7108 docs: Provide user docs for manage-enroot-cache
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/deploy-cluster/slurm/slurm-requirements.rst
Labels: documentation, cla-signed

#7077 fix: tr rendering bug
  webui/react/src/components/kit/Button.tsx
  webui/react/src/components/kit/Dropdown.tsx
  webui/react/src/pages/DesignKit.tsx
Labels: cla-signed

#7096 fix: correct infinite scrolling behavior
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Labels: cla-signed

#7107 docs: Fix a typo in a release note
  docs/release-notes/rbac-not-found-errs.rst
Labels: documentation, cla-signed

#7114 fix: Use correct theme colors for new table
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/utils.ts
Labels: cla-signed, feature-flagged

#7116 chore: ensure golang gcp defaults for disk are valid [MLG-425]
  master/internal/config/provconfig/gcp_config.go
Labels: cla-signed

#7078 chore: assume missing experiment project as deleted experiment
  master/internal/experiment.go
  master/internal/job/job.go
Labels: cla-signed

#7018 chore: make printed bindings more readable
  bindings/generate_bindings_py.py
  harness/determined/common/api/bindings.py
Labels: cla-signed

#7124 chore: conditional debugging output
  agent/cmd/determined-agent/run.go
  agent/internal/agent.go
  agent/internal/options/options.go
  agent/pkg/podman/podman.go
  agent/pkg/singularity/singularity.go
  docs/reference/deploy/config/agent-config-reference.rst
  master/static/srv/singularity-entrypoint-wrapper.sh
Labels: documentation, cla-signed

#7128 fix: persist Experiment List sorts
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Labels: cla-signed

#7121 fix: allow creating a user with original username of a renamed user
  docs/release-notes/username-cant-make-same-user.rst
  master/internal/api_user_intg_test.go
  master/internal/db/postgres_users.go
  master/internal/user/postgres_users.go
  master/internal/user/service_intg_test.go
  master/static/migrations/20230612120719_rename-new-username-fix.tx.down.sql
  master/static/migrations/20230612120719_rename-new-username-fix.tx.up.sql
Labels: documentation, cla-signed

#7122 fix: Glide Table comparison view no data error; loading saved filters issue
  webui/react/src/components/FilterForm/components/FilterForm.tsx
  webui/react/src/components/FilterForm/components/FilterFormStore.test.ts
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Labels: cla-signed, feature-flagged

#7132 fix: spinner import error
  webui/react/src/components/FilterForm/components/FilterForm.tsx
Labels: cla-signed

#7134 chore: change import path
  webui/react/src/components/FilterForm/components/FilterForm.tsx
Labels: cla-signed

#7087 test: New test -- Model.get_versions reads paginated responses.
  harness/tests/determined/common/experimental/test_model.py
  harness/tests/fixtures/api_responses.py
Labels: cla-signed

#7035 ci: handle cherry-picking PRs for release
  tools/scripts/track-pr
Labels: cla-signed

#7079 chore: await_first_trial ensures first trial is returned
  harness/determined/common/experimental/experiment.py
  harness/tests/determined/common/experimental/test_experiment.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/experiment_trials.json
Labels: cla-signed

#7110 docs: Add TLS Certs Setup Guide
  docs/setup-cluster/security/tls.rst
Labels: documentation, cla-signed

#7109 chore: onboarding doc clarification
  onboarding/mlsys/1-gradients.md
Labels: cla-signed

#7145 fix: show filter count while filter is open
  webui/react/src/components/FilterForm/TableFilter.tsx
  webui/react/src/components/FilterForm/components/FilterFormStore.test.ts
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
Labels: cla-signed, feature-flagged

#7065 feat: add read apis for generic metrics
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/trials/postgres_trials.go
  master/pkg/model/experiment.go
  master/pkg/model/metrics.go
  master/pkg/protoutils/protoconverter/converter.go
  master/static/migrations/20230614134612_fix-gen-metric-unique-constraint.tx.down.sql
  master/static/migrations/20230614134612_fix-gen-metric-unique-constraint.tx.up.sql
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/experiment.pb.go
  proto/pkg/apiv1/trial.pb.go
  proto/pkg/metricv1/metric.pb.go
  proto/pkg/projectv1/project.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/api/v1/trial.proto
  proto/src/determined/metric/v1/metric.proto
  proto/src/determined/project/v1/project.proto
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpHeatMaps.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpScatterPlots.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/TrialDetails/MultiTrialDetailsHyperparameters.tsx
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#7022 fix(api): complete trial to task log request mapping
  master/internal/api_trials.go
Labels: cla-signed

#7138 docs: Fix typos in Intro to Determined
  docs/architecture/introduction.rst
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/reference/training/experiment-config-reference.rst
  docs/setup-cluster/deploy-cluster/k8s/custom-pod-specs.rst
Labels: documentation, cla-signed

#7149 docs: Make minor edits to username release note
  docs/release-notes/username-cant-make-same-user.rst
Labels: documentation, cla-signed, to-cherry-pick

#7135 fix: mask checkpoint storage secrets in gc logs
  harness/determined/exec/gc_checkpoints.py
  harness/determined/exec/launch.py
  harness/determined/util.py
Labels: cla-signed

#7144 feat: feature switch can be turned off
  webui/react/src/hooks/useFeature.ts
Labels: cla-signed

#7150 fix: remember experiment list sorts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Labels: cla-signed, to-cherry-pick, feature-flagged

#7113 fix: restore experiments with no provider or capacity
  master/internal/experiment.go
Labels: cla-signed

#7139 fix: use `MetricBadgeTag` for chart grid title
  webui/react/src/components/kit/LineChart.module.scss
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
Labels: cla-signed, feature-flagged

#7148 fix: menu overlapping
  webui/react/src/pages/F_ExpList/glide-table/menu.tsx
Labels: cla-signed

#7152 fix: Display chart if filters.batch is a number
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
Labels: cla-signed

#7154 chore: fix a metric name comment.
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#7103 chore: deprecation warnings for `determined.common.experimental` imports
  harness/determined/cli/checkpoint.py
  harness/determined/cli/model.py
  harness/determined/cli/trial.py
  harness/determined/cli/user_groups.py
  harness/determined/common/experimental/__init__.py
  harness/determined/experimental/__init__.py
  harness/determined/searcher/_search_method.py
Labels: cla-signed

#7157 ci: cherry-pick all appropriately labeled PRs, regardless of type
  tools/scripts/track-pr
Labels: cla-signed

#7155 chore: sanitize metrictype [DET-9585]
  master/internal/api_trials.go
  master/internal/db/postgres_trial_metrics.go
  master/pkg/model/metrics.go
  master/static/migrations/20230615134125_sanitize-generic-metric-types.tx.down.sql
  master/static/migrations/20230615134125_sanitize-generic-metric-types.tx.up.sql
Labels: cla-signed

#7168 fix: correct scale positional argument in compareTrials API call [WEB-1386]
  webui/react/src/services/apiConfig.ts
Labels: cla-signed

#7164 docs: Minor edits to master config reference
  docs/reference/deploy/config/master-config-reference.rst
Labels: documentation, cla-signed

#7111 feat: trials comparison table in experiment comparison [WEB-993]
  webui/react/src/components/MetricSelect.tsx
  webui/react/src/components/SplitPane.module.scss
  webui/react/src/components/kit/internal/types.ts
  webui/react/src/hooks/useMetricNames.ts
  webui/react/src/ioTypes.ts
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.module.scss
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/pages/F_ExpList/ComparisonView.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.module.scss
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed, feature-flagged

#7143 chore: backport agent info permission definition.
  harness/determined/common/api/bindings.py
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#7140 fix: deepspeed autotune user guide clarification
  docs/model-dev-guide/apis-howto/deepspeed/autotuning.rst
Labels: documentation, cla-signed

#7151 feat: Drawer component added to UI Kit [WEB-1349]
  webui/react/src/components/kit/Drawer.module.scss
  webui/react/src/components/kit/Drawer.tsx
  webui/react/src/pages/DesignKit.tsx
Labels: cla-signed

#7063 chore: default retry in sdk
  harness/determined/cli/_util.py
  harness/determined/common/api/__init__.py
  harness/determined/common/api/_util.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/tests/determined/common/experimental/test_determined.py
  harness/tests/determined/common/experimental/test_experiment.py
  harness/tests/fixtures/api_responses.py
Labels: cla-signed

#7093 feat: allow column pinning for glide table
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Labels: cla-signed, feature-flagged

#6853 chore: cache and reload in Python SDK [MLG-549]
  e2e_tests/tests/cluster/test_model_registry.py
  e2e_tests/tests/cluster/test_resource_pools.py
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/test_sdk.py
  harness/determined/cli/checkpoint.py
  harness/determined/cli/experiment.py
  harness/determined/cli/model.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/model.py
  harness/determined/common/experimental/trial.py
  harness/determined/common/experimental/user.py
  harness/tests/cli/test_experiment.py
  harness/tests/common/api_server.py
  harness/tests/common/test_api_server.py
  harness/tests/determined/common/experimental/test_experiment.py
  harness/tests/fixtures/experiment.json
Labels: cla-signed

#7081 docs: Add version dropdown
  .bumpversion.cfg
  docs/_static/version-switcher/versions.json
  docs/_templates/sidebar-version.html
  docs/assets/styles/determined.css
  docs/conf.py
Labels: documentation, cla-signed

#7167 fix: charts should show is loading instead of no data [WEB-1367]
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/hooks/useMetricNames.ts
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
  webui/react/src/pages/TrialDetails/F_TrialDetailsOverview.tsx
  webui/react/src/pages/TrialDetails/MultiTrialDetailsHyperparameters.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Labels: cla-signed, feature-flagged

#7147 feat: Create keyboard shortcut to toggle sidebar collapse
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/pages/Settings/UserSettings.settings.ts
  webui/react/src/utils/shortcut.ts
Labels: cla-signed

#7177 chore: support registry auth with Singularity
  agent/pkg/singularity/singularity.go
  master/pkg/cproto/spec.go
  master/pkg/tasks/task.go
Labels: cla-signed

#7169 feat: more welcoming home page in doc
  docs/_static/images/developer-guide.png
  docs/_static/images/getting-started.png
  docs/_static/images/integrations.png
  docs/_static/images/reference.png
  docs/_static/images/setup.png
  docs/_static/images/tools.png
  docs/_templates/toggle-primary-sidebar.html
  docs/assets/styles/determined.css
  docs/conf.py
  docs/index.rst
  docs/requirements.txt
Labels: documentation, cla-signed

#7171 chore: fix query parameter parsing in tls proxy
  webui/react/scripts/proxy.js
Labels: cla-signed

#7056 chore: add go pre-commit checks
  .pre-commit-config.yaml
  pre-commit/run-go-fmt-import.sh
  pre-commit/run-go-gofumpt.sh
  pre-commit/run-golangci-lint.sh
Labels: cla-signed

#7165 fix: set protocol scheme in kubernetes resource manager
  master/internal/rm/kubernetesrm/spec.go
Labels: cla-signed

#7180 fix: Don't draw rows after end of data; compare panel width [WEB-1339] [WEB-1365]
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Labels: cla-signed, feature-flagged

#7120 ci(circleci): use custom GPU runners for harness GPU unit tests [INFENG-192]
  .circleci/config.yml
Labels: cla-signed

#7185 chore: update license for web packages
  tools/scripts/licenses/codemirror-lang-markdown
  tools/scripts/licenses/codemirror-lang-python
  tools/scripts/licenses/codemirror-legacy-modes
  tools/scripts/licenses/hermes-parallel-coordinates
  tools/scripts/licenses/uiw-react-codemirror
  tools/scripts/licenses/uuidjs
Labels: cla-signed

#7186 docs: add release notes for 0.23.1
  docs/release-notes.rst
  docs/release-notes/deprecate-ptl-adapter.rst
  docs/release-notes/rbac-not-found-errs.rst
  docs/release-notes/username-cant-make-same-user.rst
Labels: documentation, cla-signed

#7072 chore(actors): refactor idle timeout into an actorless service
  master/internal/api_notebook.go
  master/internal/command/command.go
  master/internal/proxy/proxy.go
  master/internal/proxy/proxy_intg_test.go
  master/internal/task/allocation.go
  master/internal/task/errors.go
  master/internal/task/idle/service.go
  master/internal/task/idle/watcher.go
  master/internal/task/idle/watcher_test.go
  master/internal/task/idle_timeout.go
  master/internal/task/idle_timeout_test.go
Labels: cla-signed

#7158 docs: Update readme with version switcher info
  docs/README.md
Labels: documentation, cla-signed

#7181 chore: properly handle external logout
  master/internal/grpcutil/auth.go
  webui/react/src/hooks/useAuthCheck.ts
  webui/react/src/pages/SignOut.tsx
Labels: cla-signed

#7146 feat: new list fuction, new delete subcommand and made gcs bucket default
  docs/release-notes/gcp_cluster_management.rst
  harness/determined/deploy/gcp/cli.py
  harness/determined/deploy/gcp/gcp.py
Labels: documentation, cla-signed

#7189 fix: Make sure that docs can build properly again [DET-9607]
  docs/Makefile
  docs/conf.py
  docs/requirements.txt
Labels: documentation, cla-signed

#6808 feat: add selection menu to glide table
  webui/react/src/components/kit/Dropdown.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/menu.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
Labels: cla-signed, feature-flagged

#7194 ci: copy PR bodies into release party tracking issues
  tools/scripts/gql.py
  tools/scripts/track-pr
Labels: cla-signed

#7038 docs: Improve the distributed training guide
  docs/model-dev-guide/apis-howto/overview.rst
  docs/model-dev-guide/dtrain/config-templates.rst
  docs/model-dev-guide/dtrain/dtrain-implement.rst
  docs/model-dev-guide/dtrain/dtrain-introduction.rst
  docs/model-dev-guide/dtrain/index.rst
  docs/model-dev-guide/dtrain/optimize-training.rst
  docs/model-dev-guide/dtrain/reproducibility.rst
  docs/reference/deploy/config/master-config-reference.rst
  docs/reference/training/experiment-config-reference.rst
Labels: documentation, cla-signed

#7100 fix: master returns rbacEnabled = false; change filter for rbac tests
  e2e_tests/pytest.ini
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/cluster/managed_cluster.py
  e2e_tests/tests/cluster/managed_cluster_k8s.py
  e2e_tests/tests/cluster/test_agent_disable.py
  e2e_tests/tests/cluster/test_groups.py
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/cluster/test_oauth2_scim_client.py
  e2e_tests/tests/cluster/test_rbac.py
  e2e_tests/tests/cluster/test_users.py
  e2e_tests/tests/cluster/test_users_experiment_api.py
  e2e_tests/tests/cluster/test_workspace_org.py
  e2e_tests/tests/cluster/utils.py
  e2e_tests/tests/conftest.py
  e2e_tests/tests/deploy/test_local.py
  e2e_tests/tests/experiment/test_port_registry.py
  e2e_tests/tests/utils.py
  master/internal/config/authz_config.go
Labels: cla-signed

#7190 fix: update `hermes-parallel-coordinates`
  webui/react/package-lock.json
  webui/react/package.json
Labels: cla-signed

#7178 chore: refactor job as global
  master/internal/api_experiment.go
  master/internal/api_job.go
  master/internal/command/command.go
  master/internal/core.go
  master/internal/experiment.go
  master/internal/job/job.go
  master/internal/sproto/globals.go
  master/internal/sproto/jobs.go
Labels: cla-signed

#7006 chore: request queue refactor
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/request_queue.go
  master/internal/rm/kubernetesrm/request_queue_test.go
  master/internal/rm/kubernetesrm/request_workers.go
  master/internal/rm/kubernetesrm/spec.go
Labels: cla-signed

#7203 fix: Modify the Determined master dialer to honor the proxy environment variables [FE-69]
  master/internal/proxy/tcp.go
Labels: cla-signed

#7197 fix: TLS enabled leads to zombie tasksd
  master/internal/config/config.go
  master/internal/core.go
  master/pkg/tasks/copy.go
  master/pkg/tasks/task.go
Labels: cla-signed

#7207 ci(circle/test-unit): split off gpu unit tests
  .circleci/config.yml
Labels: cla-signed

#6962 chore: add generic queue for drop-in actor inbox replacement
  master/pkg/syncx/queue/queue.go
  master/pkg/syncx/queue/queue_test.go
Labels: cla-signed

#7210 test: sort metrics by type in multiTrialSample
  master/internal/api_trials.go
  master/pkg/model/metrics.go
  master/pkg/model/metrics_test.go
Labels: cla-signed

#7204 fix: delete workspace templates when deleting workspace
  harness/determined/cli/workspace.py
  master/internal/api_workspace.go
Labels: cla-signed

#7216 fix: revert #7100 (master returns rbacEnabled = false...)
  e2e_tests/pytest.ini
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/cluster/managed_cluster.py
  e2e_tests/tests/cluster/managed_cluster_k8s.py
  e2e_tests/tests/cluster/test_agent_disable.py
  e2e_tests/tests/cluster/test_groups.py
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/cluster/test_oauth2_scim_client.py
  e2e_tests/tests/cluster/test_rbac.py
  e2e_tests/tests/cluster/test_users.py
  e2e_tests/tests/cluster/test_users_experiment_api.py
  e2e_tests/tests/cluster/test_workspace_org.py
  e2e_tests/tests/cluster/utils.py
  e2e_tests/tests/conftest.py
  e2e_tests/tests/deploy/test_local.py
  e2e_tests/tests/experiment/test_port_registry.py
  e2e_tests/tests/utils.py
  master/internal/config/authz_config.go
Labels: cla-signed

#7193 fix: pinned column resizing in compare view [WEB-1395]
  webui/react/src/components/SplitPane.tsx
  webui/react/src/hooks/useScrollbarWidth.ts
  webui/react/src/pages/F_ExpList/ComparisonView.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.module.scss
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Labels: cla-signed

#7127 feat: add glide table filter field add shortcut
  webui/react/src/components/FilterForm/components/FilterField.tsx
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
  webui/react/src/components/kit/InputNumber.tsx
  webui/react/src/components/kit/Select.tsx
Labels: cla-signed, feature-flagged

#7208 chore(actors): remove allocation ref from rm tasklist
  master/internal/api_tasks.go
  master/internal/api_trials.go
  master/internal/core.go
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/fair_share.go
  master/internal/rm/agentrm/mock_test.go
  master/internal/rm/agentrm/priority.go
  master/internal/rm/agentrm/priority_test.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/round_robin.go
  master/internal/rm/agentrm/scaling.go
  master/internal/rm/agentrm/scheduler_test.go
  master/internal/rm/allocationmap/allocation_map.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/resource_manager_iface.go
  master/internal/rm/tasklist/task_list.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
Labels: cla-signed

#7209 feat: add trust_remote_code to hf_trainer_api examples
  examples/hf_trainer_api/hf_image_classification/adaptive.yaml
  examples/hf_trainer_api/hf_image_classification/const.yaml
  examples/hf_trainer_api/hf_image_classification/const_epochs.yaml
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_image_classification/distributed.yaml
  examples/hf_trainer_api/hf_image_classification/image_classification.py
  examples/hf_trainer_api/hf_language_modeling/adaptive.yaml
  examples/hf_trainer_api/hf_language_modeling/const.yaml
  examples/hf_trainer_api/hf_language_modeling/const_epochs.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/distributed.yaml
  examples/hf_trainer_api/hf_language_modeling/run_clm.py
Labels: cla-signed

#7196 chore: add NewProxyHandler test to proxy_intg_test [DET-9555]
  master/internal/proxy/proxy_intg_test.go
Labels: cla-signed

#7097 chore: account for paths passed in for DET_MASTER
  harness/determined/common/api/request.py
  harness/tests/common/test_api.py
Labels: cla-signed

#7212 fix: add missing searcher types
  webui/react/src/components/FilterForm/components/type.ts
Labels: cla-signed

#7219 chore: indirect job package imports to avoid cycle in EE
  master/internal/api_experiment.go
  master/internal/api_job.go
  master/internal/command/command.go
  master/internal/core.go
  master/internal/experiment.go
  master/internal/job/job.go
  master/internal/job/jobservice/jobservice.go
Labels: cla-signed

#7218 tara: Add the approved dtrain diagram
  docs/architecture/index.rst
  docs/architecture/system-architecture.rst
  docs/assets/images/dtrain-loop-dark.png
  docs/assets/images/dtrain-loop-light.png
  docs/model-dev-guide/dtrain/dtrain-introduction.rst
Labels: documentation, cla-signed

#7174 test: Add a unit test for direct downloading from S3.
  harness/tests/determined/common/experimental/test_checkpoint.py
  harness/tests/determined/common/storage/__init__.py
  harness/tests/determined/common/storage/test_s3.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/checkpoint.json
  harness/tests/requirements/requirements-harness.txt
Labels: cla-signed

#7215 fix: Windows file permissions
  harness/determined/cli/shell.py
  harness/setup.py
Labels: cla-signed

#7205 fix: text overflow in code view
  webui/react/src/components/kit/CodeEditor/CodeEditor.module.scss
  webui/react/src/components/kit/internal/monokai.css
Labels: cla-signed

#7222 chore: fill in missing intg tests [DET-9520]
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
  master/static/migrations/20230626140104_add-rp-workspace-bindings-constraint.tx.down.sql
  master/static/migrations/20230626140104_add-rp-workspace-bindings-constraint.tx.up.sql
Labels: cla-signed

#7214 fix: sort of `GetWorkspaceProjects` API
  master/internal/api_workspace.go
Labels: cla-signed

#7176 feat: List RPs Avaiable to Workspace [DET-9531]
  master/internal/api_workspace.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
  master/internal/mocks/workspace_authz_iface.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
Labels: cla-signed

#7247 Docs: Spell out acronyms in a release note
  docs/release-notes/gcp_cluster_management.rst
Labels: documentation, cla-signed

#7223 feat: add num of experiments in quick search modal
  webui/react/src/pages/WorkspaceDetails/WorkspaceQuickSearch.tsx
Labels: cla-signed
