Repository determined-ai/determined, pull requests merged in 2023-04, with the labels that each got.

#6430 fix: dont hardcode explist flag to true
  webui/react/src/pages/ProjectDetails.tsx
Labels: cla-signed

#6432 feat: Add quota limits for helm
  docs/reference/reference-deploy/config/helm-config-reference.rst
  helm/charts/determined/templates/db-deployment.yaml
  helm/charts/determined/templates/master-deployment.yaml
  helm/charts/determined/values.yaml
Labels: documentation, cla-signed

#6422 chore: show error message that links to git rebaseability page
  .github/workflows/check-rebaseable.yml
Labels: cla-signed

#6421 docs: slot command limitations for HPC clusters
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-known-issues.rst
Labels: documentation, cla-signed

#6426 chore: remove storybook leftover
  webui/react/Makefile
  webui/react/src/components/CheckpointModalTrigger.test.tsx
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.test.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentCreate.test.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.test.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/shared/README.md
  webui/react/src/storybook/utils.ts
  webui/react/src/utils/tests/generateTestData.ts
Labels: cla-signed, shared-web

#6387 feat: treat instance startup script as a secret [DET-9214]
  master/internal/config/config.go
  master/internal/config/provconfig/config.go
  master/internal/config/resource_pool_config.go
  master/internal/rm/agentrm/agent_resource_manager.go
Labels: cla-signed

#6429 test: examples test requirements.txt maintenance.
  Makefile
  examples/tests/requirements.txt
Labels: cla-signed

#6428 chore: Use experiment-search API for new experiment list table
  master/internal/api_experiment.go
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Labels: cla-signed

#6253 refactor: removed message field from TrialLog [DET-8983]
  e2e_tests/tests/cluster/test_checkpoints.py
  e2e_tests/tests/cluster/test_logging.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/fixtures/no_op/model_def.py
  harness/determined/common/api/logs.py
  master/internal/api_trials.go
  master/internal/db/postgres_trial_logs.go
  master/internal/elastic/elastic_task_logs.go
  master/internal/elastic/elastic_trial_logs.go
  master/pkg/model/experiment.go
  master/pkg/model/task.go
  master/pkg/protoutils/protoconverter/converter.go
Labels: cla-signed

#6404 build: fix examples makefile
  examples/Makefile
Labels: cla-signed

#6347 docs: Style and organize content around CLI, Commands and Shells
  docs/architecture/introduction.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/overview.rst
  docs/cluster-setup-guide/historical-cluster-usage-data.rst
  docs/cluster-setup-guide/security/overview.rst
  docs/cluster-setup-guide/security/rbac.rst
  docs/conf.py
  docs/index.rst
  docs/interfaces/cli-ug.rst
  docs/interfaces/commands-and-shells.rst
  docs/interfaces/index.rst
  docs/interfaces/notebooks.rst
  docs/quickstart-mdldev.rst
  docs/reference/cli-reference.rst
  docs/reference/overview.rst
  docs/training/dtrain-introduction.rst
  docs/training/model-management/checkpoints.rst
  docs/training/model-management/overview.rst
  docs/tutorials/pytorch-mnist-tutorial.rst
  docs/tutorials/tf-mnist-tutorial.rst
Labels: documentation, cla-signed

#6448 ci: check `det-deploy` exit status in `test_local.py`
  e2e_tests/tests/deploy/test_local.py
Labels: cla-signed

#6437 docs: fix `public_ip` misinformation [DET-7014]
  docs/reference/reference-deploy/config/master-config-reference.rst
Labels: documentation, cla-signed

#6456 revert: return message field from TrialLog [DET-8983]
  e2e_tests/tests/cluster/test_checkpoints.py
  e2e_tests/tests/cluster/test_logging.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/fixtures/no_op/model_def.py
  harness/determined/common/api/logs.py
  master/internal/api_trials.go
  master/internal/db/postgres_trial_logs.go
  master/internal/elastic/elastic_task_logs.go
  master/internal/elastic/elastic_trial_logs.go
  master/pkg/model/experiment.go
  master/pkg/model/task.go
  master/pkg/protoutils/protoconverter/converter.go
Labels: cla-signed

#6453 fix: do not error on nullable validation metrics [MLG-403]
  harness/determined/common/experimental/experiment.py
Labels: cla-signed

#6457 chore: remove harness schema gen
  harness/Makefile
  harness/determined/common/schemas/__init__.py
  harness/determined/common/schemas/_auto_init.py
  harness/determined/common/schemas/_schema_base.py
  harness/determined/common/schemas/_union_base.py
  harness/determined/common/schemas/expconf/__init__.py
  harness/determined/common/schemas/expconf/__main__.py
  harness/determined/common/schemas/expconf/_gen.py
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/common/schemas/expconf/_validate.py
  harness/determined/common/schemas/extensions.py
  harness/determined/common/schemas/util.py
  harness/tests/common/test_schemas.py
Labels: cla-signed

#6458 ci: enable debug mode for `det deploy aws` commands
  .circleci/config.yml
Labels: cla-signed

#6425 feat: k8s cluster info using taints/tolerations
  master/go.mod
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/pods_test.go
Labels: cla-signed

#6461 chore: add go workspace for dev use
  .gitignore
  go.work
  proto/Makefile
Labels: cla-signed

#6376 chore: use UI kit modal for UserSettings modals
  webui/react/src/components/ConfigureAgentModal.tsx
  webui/react/src/components/CreateGroupModal.test.tsx
  webui/react/src/components/CreateGroupModal.tsx
  webui/react/src/components/CreateUserModal.test.tsx
  webui/react/src/components/CreateUserModal.tsx
  webui/react/src/components/DeleteGroupModal.test.tsx
  webui/react/src/components/DeleteGroupModal.tsx
  webui/react/src/components/ManageGroupsModal.tsx
  webui/react/src/components/PasswordChangeModal.test.tsx
  webui/react/src/components/PasswordChangeModal.tsx
  webui/react/src/components/kit/Form.module.scss
  webui/react/src/hooks/useModal/UserSettings/useModalConfigureAgent.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateGroup.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalDeleteGroup.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalManageGroups.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalPasswordChange.tsx
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/SettingsAccount.test.tsx
  webui/react/src/pages/Settings/SettingsAccount.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
Labels: cla-signed

#6463 fix: do not skip graceful preemption for tasks using alternate rendezvous path [DET-9258]
  master/internal/task/allocation.go
Labels: cla-signed

#6460 chore: deprecate HDFS storage support
  docs/release-notes/6460-hdfs.txt
  harness/determined/common/storage/hdfs.py
Labels: documentation, cla-signed

#6459 fix: Show page not found on experiment details [WEB-1077]
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.tsx
Labels: cla-signed

#6408 feat: storage manager shortcut strings [MLG-221]
  harness/determined/common/storage/__init__.py
  harness/determined/common/storage/azure.py
  harness/determined/common/storage/base.py
  harness/determined/common/storage/s3.py
  harness/determined/core/_context.py
  harness/tests/experiment/pytorch/test_pytorch_lightning.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/utils.py
  harness/tests/storage/test_storage_base.py
Labels: cla-signed

#6464 fix: do not merge user zero search config with defaults
  ds_autotuning_prototype/core_api/ffn_example_torch_launcher/search_runner_config.yaml
  ds_autotuning_prototype/core_api/torchvison_models/zero_search_config.yaml
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/pytorch/deepspeed/dsat/_utils.py
Labels: cla-signed

#6462 docs: do some copy editing
  docs/architecture/introduction.rst
  docs/cluster-setup-guide/basic.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/overview.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/setup-eks-cluster.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
  docs/cluster-setup-guide/historical-cluster-usage-data.rst
  docs/cluster-setup-guide/security/rbac.rst
  docs/interfaces/cli-ug.rst
  docs/interfaces/commands-and-shells.rst
  docs/interfaces/index.rst
  docs/interfaces/notebooks.rst
  docs/reference/cli-reference.rst
  docs/reference/reference-interface/job-config-reference.rst
  docs/reference/reference-training/experiment-config-reference.rst
  docs/training/dtrain-introduction.rst
  docs/tutorials/pytorch-porting-tutorial.rst
Labels: documentation, cla-signed

#6470 populate the custom searcher logs with the correct event
  harness/determined/searcher/_search_runner.py
Labels: cla-signed

#6455 fix: account for missing aws stack outputs [DET-9255]
  .circleci/scripts/get_output_from_stack.py
Labels: cla-signed

#6472 Revert "chore: remove docker-compose from det deploy local [MLG-37]"
  e2e_tests/tests/cluster/test_checkpoints.py
  e2e_tests/tests/cluster/test_resource_manager.py
  e2e_tests/tests/command/test_run.py
  e2e_tests/tests/command/test_tensorboard.py
  e2e_tests/tests/conftest.py
  e2e_tests/tests/deploy/test_local.py
  e2e_tests/tests/experiment/test_custom_searcher.py
  e2e_tests/tests/experiment/test_profiling.py
  e2e_tests/tests/template/test_template.py
  harness/determined/cli/job.py
  harness/determined/deploy/aws/gen_vcpu_mapping.py
  harness/determined/deploy/aws/preflight.py
  harness/determined/deploy/local/cli.py
  harness/determined/deploy/local/cluster_utils.py
  harness/determined/deploy/local/docker-compose.yaml
  harness/setup.py
  harness/tests/experiment/fixtures/pytorch_onevar_model.py
  tools/scripts/bumpenvs.py
  tools/scripts/refresh-ubuntu-amis.py
  tools/scripts/update-bumpenvs-yaml.py
Labels: cla-signed

#6473 fix: search state accounting
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
Labels: cla-signed

#6379 docs: add a known issue and its fix for PBS - Display valid value for Accelerator field in the Resource Pool Configuration
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
Labels: documentation, cla-signed

#6450 feat: treat instance startup script as a secret #2 [DET-9214]
  master/internal/api_user_intg_test.go
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/config/provconfig/config.go
  master/internal/config/resource_pool_config.go
  master/internal/core.go
  master/internal/rm/agentrm/agent_resource_manager.go
Labels: cla-signed

#6467 chore: remove example bert_squad_pytorch [MLG-396]
  docs/example-solutions/examples.rst
  examples/README.md
  examples/nlp/bert_squad_pytorch/README.md
  examples/nlp/bert_squad_pytorch/const.yaml
  examples/nlp/bert_squad_pytorch/constants.py
  examples/nlp/bert_squad_pytorch/data.py
  examples/nlp/bert_squad_pytorch/distributed.yaml
  examples/nlp/bert_squad_pytorch/model_def.py
  examples/nlp/bert_squad_pytorch/startup-hook.sh
Labels: documentation, cla-signed

#6343 chore: create a gRPC endpoint for tasks [DET-8803]
  e2e_tests/tests/cluster/test_agent_disable.py
  e2e_tests/tests/cluster/test_agent_restart.py
  harness/determined/cli/agent.py
  harness/determined/cli/task.py
  harness/determined/common/api/bindings.py
  master/internal/api_tasks.go
  master/internal/sproto/resources.go
  master/internal/sproto/task.go
  master/pkg/cproto/address.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/task.pb.go
  proto/pkg/taskv1/task.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/task.proto
  proto/src/determined/task/v1/task.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#6469 fix: podspec requests/limits for zero slot workloads [DET-9257]
  docs/release-notes/fix-zero-slot-limits.rst
  e2e_tests/tests/command/test_run.py
  master/internal/rm/kubernetesrm/spec.go
Labels: documentation, cla-signed

#6476 fix: add remote prop to Python SDK user.User
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/user.py
Labels: cla-signed

#6454 chore: set up authz interfaces for master logs and /resources
  e2e_tests/tests/experiment/test_allocation_csv.py
  e2e_tests/tests/nightly/compute_stats.py
  harness/determined/common/api/bindings.py
  master/internal/api/error.go
  master/internal/api_master.go
  master/internal/cluster/authz_basic_impl.go
  master/internal/cluster/authz_iface.go
  master/internal/cluster/authz_middleware.go
  master/internal/core.go
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#6481 chore: tweak Go, Python versions in dev setup instructions
  CONTRIBUTING.md
Labels: cla-signed

#6445 fix: avoid duplicate labels
  master/internal/api_experiment.go
  master/internal/api_model.go
Labels: cla-signed

#6482 feat: add simple linear batch test searcher
  harness/determined/pytorch/deepspeed/dsat/_defaults.py
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/pytorch/deepspeed/dsat/_run_dsat.py
  harness/determined/pytorch/deepspeed/dsat/autotune.py
Labels: cla-signed

#6485 docs: Edit Page Title
  docs/index.rst
  docs/tutorials/index.rst
Labels: documentation, cla-signed

#6487 docs: release note edits.
  docs/release-notes/fix-default-pool-task-container-defaults.rst
  docs/release-notes/fix-zero-slot-limits.rst
Labels: documentation, cla-signed

#6468 feat: Bulk delete experiments, experiment filters in LaunchTensorboard [WEB-1127]
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_tensorboard.go
  master/internal/experiment/bulk_action.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/experiment.pb.go
  proto/pkg/apiv1/tensorboard.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/api/v1/tensorboard.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#6471 docs: modified docs for clarity and k8s pod security
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/custom-pod-specs.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/overview.rst
Labels: documentation, cla-signed

#6484 test: cleanup should kill hung experiments, not cancel [DET-9284]
  e2e_tests/tests/cluster/test_agent_disable.py
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/experiment/test_noop.py
Labels: cla-signed

#6243 feat: add Core API pytorch mnist tutorial update
  examples/tutorials/core_api_pytorch_mnist/model_def_adaptive.py
  examples/tutorials/core_api_pytorch_mnist/model_def_checkpoints.py
  examples/tutorials/core_api_pytorch_mnist/model_def_distributed.py
  examples/tutorials/core_api_pytorch_mnist/model_def_metrics.py
Labels: cla-signed

#6480 test: fix ray tests [DET-9267]
  e2e_tests/tests/cluster/test_proxy.py
  examples/features/ports/startup-hook.sh
Labels: cla-signed

#6495 docs: remove leftover K80 mentions.
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-aws/install-on-aws.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
Labels: documentation, cla-signed

#6494 ci: more retries for `det deploy` [DET-9256]
  .circleci/config.yml
Labels: cla-signed

#6498 chore: fix mmdetection checkout in unit tests to last 2.x tag to avoid …
  model_hub/tests/test_mmdetection.py
Labels: cla-signed

#6500 fix: task list race caused incorrect 404s to be returned [DET-9293]
  docs/release-notes/tasks-404-fix.rst
  master/internal/api_tasks.go
  master/internal/api_trials_intg_test.go
  master/internal/core_task.go
  master/internal/experiment.go
  master/pkg/model/task.go
Labels: documentation, cla-signed

#6492 fix: add unique port for local agent tests
  e2e_tests/tests/deploy/etc/agent.yaml
Labels: cla-signed

#6489 fix: update settings observables to detect changes
  webui/react/src/components/kit/LogViewer/LogViewerSelect.tsx
  webui/react/src/hooks/useSettings.ts
Labels: cla-signed

#6503 fix: exp actions with workspace-specific user perm [DET-9300]
  master/internal/experiment/bulk_action.go
Labels: cla-signed

#6506 fix: wrap shutil.rmtree in a loop [DET-9127]
  harness/determined/common/storage/cloud.py
  harness/determined/common/storage/shared.py
  harness/determined/core/_distributed.py
  harness/determined/deploy/gcp/gcp.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/tensorboard/shared.py
  harness/determined/util.py
Labels: cla-signed

#6513 fix: searcher refactor
  harness/determined/pytorch/deepspeed/dsat/__init__.py
  harness/determined/pytorch/deepspeed/dsat/_defaults.py
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
Labels: cla-signed

#6446 fix: remove hp importance [DET-9181]
  docs/release-notes/remove-hp-importance.rst
  e2e_tests/tests/experiment/test_metrics.py
  harness/determined/common/api/bindings.py
  master/.goreleaser.yml
  master/Makefile
  master/get-deps.sh
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/config/config.go
  master/internal/core.go
  master/internal/db/database.go
  master/internal/db/postgres_experiments.go
  master/internal/experiment.go
  master/internal/hpimportance/hpimportance.go
  master/internal/hpimportance/hpimportance_test.go
  master/internal/hpimportance/manager.go
  master/internal/hpimportance/worker.go
  master/internal/mocks/db.go
  master/packaging/fetch-cloud-forest.sh
  master/pkg/model/experiment.go
  master/static/migrations/20230403144458_remove-hpimportance-fields.tx.down.sql
  master/static/migrations/20230403144458_remove-hpimportance-fields.tx.up.sql
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/components/HpSelect.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/types.ts
  webui/react/src/utils/experiment.ts
Labels: documentation, cla-signed

#6372 feat: steps -> pre-compute metrics and allow non-aligned training and validations [DET-9154]
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/fixtures/core_api/arbitrary_workload_order.py
  e2e_tests/tests/fixtures/core_api/arbitrary_workload_order.yaml
  harness/determined/cli/trial.py
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/pkg/model/experiment.go
  master/static/migrations/20230330201702_total_batches_trial.tx.down.sql
  master/static/migrations/20230330201702_total_batches_trial.tx.up.sql
  master/static/srv/proto_get_trial_ids_for_experiment.sql
  master/static/srv/proto_get_trials_plus.sql
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/trial/v1/trial.proto
Labels: cla-signed

#6504 chore: bumpenvs to 6218891517b070835640bb5ed3b2e2dd414c56d0
  .circleci/config.yml
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-gcp/install-gcp.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/singularity.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
  docs/reference/reference-deploy/config/helm-config-reference.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/reference/reference-interface/job-config-reference.rst
  docs/reference/reference-training/experiment-config-reference.rst
  docs/training/apis-howto/overview.rst
  docs/training/setup-guide/custom-env.rst
  e2e_tests/tests/config.py
  e2e_tests/tests/fixtures/pytorch_lightning_amp/apex_amp.yaml
  e2e_tests/tests/fixtures/pytorch_lightning_amp/auto_amp.yaml
  examples/computer_vision/efficientdet_pytorch/const.yaml
  examples/computer_vision/efficientdet_pytorch/const_fake.yaml
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/decision_trees/gbt_titanic_estimator/adaptive.yaml
  examples/decision_trees/gbt_titanic_estimator/const.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_3_cpu_offload.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_no_offload.yaml
  examples/deepspeed/cifar10_moe/moe.yaml
  examples/deepspeed/cifar10_moe/zero_stages.yaml
  examples/deepspeed/deepspeed_dcgan/cifar10_zero2.yaml
  examples/deepspeed/deepspeed_dcgan/mnist.yaml
  examples/deepspeed/deepspeed_dcgan/mnist_grad_accum.yaml
  examples/deepspeed/gpt_neox/Dockerfile
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  examples/graphs/proteins_pytorch_geometric/adaptive.yaml
  examples/graphs/proteins_pytorch_geometric/const.yaml
  examples/graphs/proteins_pytorch_geometric/distributed.yaml
  examples/integrations/hf_trainer_api/deepspeed.yaml
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/keras/_tf_keras_trial.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-estimator/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  helm/charts/determined/templates/master-config.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
Labels: documentation, cla-signed

#6517 deprecate the zero_search_config functionality
  ds_autotuning_prototype/core_api/ffn_example_ds_launcher/zero_search_config.json
  ds_autotuning_prototype/core_api/ffn_example_ds_launcher/zero_search_config.yaml
  ds_autotuning_prototype/core_api/ffn_example_torch_launcher/zero_search_config.json
  ds_autotuning_prototype/core_api/ffn_example_torch_launcher/zero_search_config.yaml
  ds_autotuning_prototype/core_api/no_op_test/zero_search_config.yaml
  ds_autotuning_prototype/core_api/torchvison_models/zero_search_config.json
  ds_autotuning_prototype/core_api/torchvison_models/zero_search_config.yaml
  ds_autotuning_prototype/trial_classes/cifar10_moe/zero_search_config.yaml
  ds_autotuning_prototype/trial_classes/cifar10_moe_fake_data/zero_search_config.yaml
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/pytorch/deepspeed/dsat/_run_dsat.py
  harness/determined/pytorch/deepspeed/dsat/_utils.py
  harness/determined/pytorch/deepspeed/dsat/autotune.py
Labels: cla-signed

#6510 docs: fix broken links, formatting, and typos [MLG-404]
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/k8s-dev-guide.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/setup-aks-cluster.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/setup-eks-cluster.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/setup-gke-cluster.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/overview.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
  docs/cluster-setup-guide/workspaces.rst
  docs/integrations/notification/slack.rst
  docs/reference/reference-deploy/config/helm-config-reference.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/reference/reference-training/experiment-config-reference.rst
  docs/reference/rest-api.rst
  docs/release-notes.rst
  docs/release-notes/remove-old-master-logs.rst
  docs/training/apis-howto/api-pytorch-ug.rst
  docs/training/dtrain-introduction.rst
  docs/training/hyperparameter/configure-hp-ranges.rst
  docs/training/setup-guide/custom-env.rst
  harness/determined/pytorch/_data.py
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/_reducer.py
Labels: documentation, cla-signed

#6391 build: Updates Python used in CircleCI to 3.8.16
  .circleci/config.yml
  model_hub/model_hub/mmdetection/_data.py
  model_hub/model_hub/utils.py
Labels: cla-signed

#6512 ci: retry Docker Hub publish steps
  .circleci/config.yml
Labels: cla-signed

#6514 test: fix race checking for trial logs in missing_docker_container [DET-8933]
  e2e_tests/tests/cluster/test_master_restart.py
Labels: cla-signed

#6525 build: Some CircleCI tests begin with a python 3.8.16
  .circleci/config.yml
Labels: cla-signed

#6528 docs: fix links
  docs/_templates/article-header-buttons.html
  docs/_templates/toggle-primary-sidebar.html
Labels: documentation, cla-signed

#6531 fix: nil pointer when running locally
  master/internal/rm/agentrm/resource_pool.go
Labels: cla-signed

#6530 docs: add release notes for 0.21.1
  docs/release-notes.rst
  docs/release-notes/6460-hdfs.txt
  docs/release-notes/checkpoint-size-speedup-speedup.rst
  docs/release-notes/fix-default-pool-task-container-defaults.rst
  docs/release-notes/fix-zero-slot-limits.rst
  docs/release-notes/launcher-jvm-args.rst
  docs/release-notes/metric-stream.rst
  docs/release-notes/remove-det-deploy.rst
  docs/release-notes/remove-old-master-logs.rst
Labels: documentation, cla-signed

#6529 ci: github actions consistently use major version
  .github/workflows/pre-commit.yml
  .github/workflows/publish-helm.yml
  .github/workflows/scan-docker-images.yml
Labels: cla-signed

#6536 docs: minor edit pod security
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/overview.rst
Labels: documentation, cla-signed

#6538 fix: install codecov uploader in CI
  .circleci/config.yml
Labels: cla-signed

#6499 chore: remove docker compose dependency [MLG-37]
  e2e_tests/tests/cluster/test_checkpoints.py
  e2e_tests/tests/cluster/test_resource_manager.py
  e2e_tests/tests/command/test_run.py
  e2e_tests/tests/command/test_tensorboard.py
  e2e_tests/tests/conftest.py
  e2e_tests/tests/deploy/test_local.py
  e2e_tests/tests/experiment/test_custom_searcher.py
  e2e_tests/tests/experiment/test_profiling.py
  e2e_tests/tests/template/test_template.py
  harness/determined/cli/job.py
  harness/determined/deploy/aws/gen_vcpu_mapping.py
  harness/determined/deploy/aws/preflight.py
  harness/determined/deploy/local/cli.py
  harness/determined/deploy/local/cluster_utils.py
  harness/determined/deploy/local/docker-compose.yaml
  harness/setup.py
  harness/tests/experiment/fixtures/pytorch_onevar_model.py
  tools/scripts/bumpenvs.py
  tools/scripts/refresh-ubuntu-amis.py
  tools/scripts/update-bumpenvs-yaml.py
Labels: cla-signed

#6533 chore: fix a migration order for adding trials.total_batches
  master/static/migrations/20230330201702_total_batches_trial.tx.up.sql
  master/static/migrations/20230412111057_total_batches_trial.tx.down.sql
  master/static/migrations/20230412111057_total_batches_trial.tx.up.sql
Labels: cla-signed

#6532 feat: Right-click for context menu in Glide table [WEB-977]
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/contextMenu.tsx
Labels: cla-signed

#6542 docs: Minor updates for HPC Launcher details.
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/hpc-launching-architecture.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/install-on-slurm.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/overview.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/release-notes/launcher-327.rst
Labels: documentation, cla-signed

#6535 chore: better error messages for logging test [DET-9280]
  e2e_tests/tests/cluster/test_logging.py
Labels: cla-signed

#6543 chore: fix a lint issue in e2e test code
  e2e_tests/tests/cluster/test_rbac.py
Labels: cla-signed

#6412 feat: change launch warning to launch error
  .circleci/devcluster/custom-agent-version.devcluster.yaml
  .circleci/devcluster/double-priority.devcluster.yaml
  .circleci/devcluster/double-reattach.devcluster.yaml
  .circleci/devcluster/double.devcluster.yaml
  .circleci/devcluster/elastic.devcluster.yaml
  .circleci/devcluster/port-registry.devcluster.yaml
  .circleci/devcluster/postgres-with-ssl.devcluster.yaml
  .circleci/devcluster/priority.devcluster.yaml
  docs/reference/reference-deploy/config/master-config-reference.rst
  e2e_tests/tests/deploy/etc/master.yaml
  master/internal/api_command.go
  master/internal/config/config.go
  master/internal/experiment.go
Labels: documentation, cla-signed

#6211 test: add a tool to replicate trials and metrics [DET-9043]
  tools/scripts/replicate-metrics.py
Labels: cla-signed

#6549 chore: address mypy lint warnings [DET-9334]
  tools/scripts/replicate-metrics.py
Labels: cla-signed

#6520 chore: bumpenvs with the `pynvml`-`nvidia-ml-py` switch [DET-9319]
  .circleci/config.yml
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/singularity.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_3_cpu_offload.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_no_offload.yaml
  examples/deepspeed/cifar10_moe/moe.yaml
  examples/deepspeed/cifar10_moe/zero_stages.yaml
  examples/deepspeed/gpt_neox/Dockerfile
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  examples/features/ports/startup-hook.sh
  examples/graphs/proteins_pytorch_geometric/adaptive.yaml
  examples/graphs/proteins_pytorch_geometric/const.yaml
  examples/graphs/proteins_pytorch_geometric/distributed.yaml
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-estimator/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  helm/charts/determined/templates/master-config.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
Labels: documentation, cla-signed

#6550 ci: retry Go download even more
  .circleci/config.yml
Labels: cla-signed

#6547 fix: Append instead of replace sbatch args [DET-9263]
  master/pkg/model/task_container_defaults.go
  master/pkg/model/task_container_defaults_test.go
Labels: cla-signed

#6552 chore: simplify logic and improve naming in an RBAC test
  e2e_tests/tests/cluster/test_rbac.py
Labels: cla-signed

#6555 fix: timing fix and cleanup with tests
  harness/determined/pytorch/deepspeed/dsat/__init__.py
  harness/determined/pytorch/deepspeed/dsat/_defaults.py
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/pytorch/deepspeed/dsat/_utils.py
  harness/tests/custom_search_mocks.py
  harness/tests/experiment/fixtures/deepspeed_autotune/example_experiment/autotune_config.yaml
  harness/tests/experiment/fixtures/deepspeed_autotune/example_experiment/ds_config.json
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
  harness/tests/test_custom_searcher.py
Labels: cla-signed

#6558 fix: minor cleanup
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
Labels: cla-signed

#6493 feat: add bulk actions to glide table [WEB-981]
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/ExperimentMoveModal.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.module.scss
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/glide-table/contextMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/useGlasbey.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Labels: cla-signed

#6521 feat: explist v2 style tweaks [WEB-1108]
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/README.md
  webui/react/src/pages/F_ExpList/glide-table/custom-cells/links.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/README.md
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/checkboxCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/experimentStateCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/linkCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/progressCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/sparklineCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/spinnerCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/tagsCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/userAvatarCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/index.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/utils.ts
  webui/react/src/pages/F_ExpList/glide-table/exceptions.module.scss
  webui/react/src/pages/F_ExpList/glide-table/exceptions.tsx
  webui/react/src/pages/F_ExpList/glide-table/tooltip.tsx
  webui/react/src/pages/F_ExpList/glide-table/utils.ts
  webui/react/src/pages/F_ExpList/useGlasbey.ts
  webui/react/src/pages/ProjectDetails.tsx
Labels: cla-signed

#6557 fix: use onCellClicked instead of links-cell [WEB-1141]
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/linkCell.tsx
Labels: cla-signed

#6560 chore: bump default python version to 3.8 in CircleCI
  .circleci/config.yml
Labels: cla-signed

#6544 chore: add --json to det e|task|trial logs [DET-8982]
  docs/release-notes/exp-trial-task-logs-json.rst
  harness/determined/cli/experiment.py
  harness/determined/cli/remote.py
  harness/determined/cli/task.py
  harness/determined/cli/trial.py
  harness/determined/common/api/__init__.py
  harness/determined/common/api/logs.py
Labels: documentation, cla-signed

#6561 chore: update launch_error docs and add release notes
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/release-notes/launch-error.rst
Labels: documentation, cla-signed

#6479 feat: Support order for experiment search API
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/db/postgres_trial.go
  master/static/migrations/20230412164535_add-searcher-metrics-sign.tx.down.sql
  master/static/migrations/20230412164535_add-searcher-metrics-sign.tx.up.sql
  proto/pkg/apiv1/experiment.pb.go
  proto/pkg/experimentv1/experiment.pb.go
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/experiment/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
Labels: cla-signed

#6527 chore: tensorflow 2.12 [MLG-358]
  .circleci/config.yml
  e2e_tests/tests/experiment/test_tf_keras.py
  e2e_tests/tests/requirements.txt
  examples/computer_vision/cifar10_tf_keras/cifar_model.py
  examples/computer_vision/iris_tf_keras/model_def.py
  examples/decision_trees/gbt_titanic_estimator/model_def.py
  examples/tests/requirements.txt
  examples/tests/test_official.py
  harness/determined/keras/_tf_keras_trial.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/code/model_def.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.7-keras/code/model_def.py
  harness/tests/experiment/fixtures/ancient_keras_ckpt.py
  harness/tests/experiment/fixtures/tf_keras_one_var_model.py
  harness/tests/experiment/fixtures/tf_keras_xor_model.py
  requirements.txt
Labels: cla-signed

#6575 feat: deepspeed autotune trial based methods
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/pytorch/deepspeed/dsat/autotune.py
Labels: cla-signed

#6573 docs: Add structure to agent configuration ref
  docs/reference/reference-deploy/config/agent-config-reference.rst
Labels: documentation, cla-signed

#6546 build: take mockery out of master build path
  master/Makefile
Labels: cla-signed

#6582 chore: remove yaml from manifest
  harness/MANIFEST.in
Labels: cla-signed

#6578 fix: metrics sampling for metrics with epochs.
  master/internal/api_trials_intg_test.go
  master/internal/trials/postgres_trials.go
Labels: cla-signed

#6541 docs: enable algolia search by adding structure
  docs/reference/reference-training/experiment-config-reference.rst
Labels: documentation, cla-signed

#6566 chore: Update Trial Time Series API endpoint [WEB-1116]
  harness/determined/common/api/bindings.py
  master/internal/api_trials.go
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/trial.proto
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
  webui/react/src/pages/TrialsComparison/Metrics/useLearningCurveData.ts
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#6579 docs: Improve the WebUI page
  docs/interfaces/webui-if.rst
  docs/tutorials/pytorch-mnist-tutorial.rst
Labels: documentation, cla-signed

#6584 docs: stop relying on algolia crawler
  docs/Makefile
  docs/assets/scripts/docsearch.sbt.js
  docs/deploy/scrape.py
  docs/deploy/start_algolia_crawl.sh
  docs/requirements.txt
Labels: documentation, cla-signed

#6570 ci: master main rename
  .circleci/config.yml
  .github/dependabot.yml
  webui/react/Makefile
Labels: cla-signed

#6574 fix: close modal properly
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.test.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
Labels: cla-signed

#6585 fix: update test to reflect change in CompareTrialsRequest
  master/internal/api_trials_intg_test.go
Labels: cla-signed

#6564 chore: upgrade Black to latest version
  .pre-commit-config.yaml
  e2e_tests/tests/cluster/test_rbac.py
  e2e_tests/tests/experiment/test_noop.py
  e2e_tests/tests/fixtures/estimator_no_op/model_def.py
  e2e_tests/tests/fixtures/no_op/model_def.py
  examples/computer_vision/byol_pytorch/model_def.py
  examples/computer_vision/cifar10_pytorch_inference/model_def.py
  examples/computer_vision/detectron2_coco_pytorch/detectron2_files/coco_evaluation.py
  examples/computer_vision/detectron2_coco_pytorch/detectron2_files/common.py
  examples/computer_vision/detectron2_coco_pytorch/detectron2_files/data.py
  examples/computer_vision/detectron2_coco_pytorch/detectron2_files/panoptic_evaluation.py
  examples/computer_vision/detectron2_coco_pytorch/detectron2_files/sem_seg_evaluation.py
  examples/computer_vision/efficientdet_pytorch/model_def.py
  examples/computer_vision/mnist_pl/mnist.py
  examples/custom_search_method/asha_search_method/remote_search_runner/run_experiment.py
  examples/decision_trees/gbt_titanic_estimator/model_def.py
  examples/deepspeed/gpt_neox/gpt2_trial.py
  examples/diffusion/textual_inversion_stable_diffusion/detsd/pipeline.py
  examples/diffusion/textual_inversion_stable_diffusion/detsd/trainer.py
  examples/gan/gan_mnist_pl/gan.py
  examples/gan/gan_mnist_pytorch/model_def.py
  examples/integrations/hf_trainer_api/det_callback.py
  examples/integrations/hf_trainer_api/image_classification.py
  examples/nas/gaea_pytorch/eval/model_def.py
  examples/nlp/word_language_model/model.py
  examples/tutorials/core_api_pytorch_mnist/model_def_adaptive.py
  examples/tutorials/core_api_pytorch_mnist/model_def_checkpoints.py
  examples/tutorials/core_api_pytorch_mnist/model_def_distributed.py
  examples/tutorials/core_api_pytorch_mnist/model_def_metrics.py
  examples/tutorials/imagenet_pytorch/model_def.py
  harness/determined/cli/shell.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/oauth2_scim_client.py
  harness/determined/core/_checkpoint.py
  harness/determined/deploy/aws/aws.py
  harness/determined/deploy/gcp/constants.py
  harness/determined/keras/_tf_keras_context.py
  harness/determined/launch/deepspeed.py
  harness/determined/pytorch/_metric_utils.py
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/util.py
  harness/tests/core/test_preempt.py
  harness/tests/storage/test_azure.py
  harness/tests/storage/test_gcs.py
  harness/tests/storage/test_s3.py
  harness/tests/storage/test_shared_fs.py
  harness/tests/storage/util.py
  harness/tests/test_ipc.py
  requirements.txt
Labels: cla-signed

#6588 ci: update remaining references to master branch
  .circleci/config.yml
Labels: cla-signed

#6577 ci: quarantine some flaky tests
  .circleci/config.yml
  e2e_tests/pytest.ini
  e2e_tests/tests/conftest.py
  e2e_tests/tests/deploy/test_local.py
  e2e_tests/tests/model_hub/test_mmdetection.py
Labels: cla-signed

#6593 fix: Moving model to new workspace - workspaces sort
  webui/react/src/components/ModelMoveModal.tsx
  webui/react/src/hooks/useModal/Model/useModalModelCreate.tsx
  webui/react/src/hooks/useModal/Model/useModalModelMove.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateGroup.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalPasswordChange.tsx
Labels: cla-signed

#6592 docs: fix searchbar result paths
  docs/assets/scripts/docsearch.sbt.js
Labels: documentation, cla-signed

#6518 feat: k8s cluster info using taints/tolerations incl. global ones
  master/go.mod
  master/internal/core.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/pods_test.go
  master/internal/rm/setup.go
Labels: cla-signed

#6597 fix: launch error has no effect for k8s and slurm
  master/internal/api_command.go
  master/internal/experiment.go
Labels: cla-signed

#6601 ci(circleci): split-off quarantined e2e tests
  .circleci/config.yml
Labels: cla-signed

#6603 fix: update searcher_metric_values properly [DET-9369]
  master/internal/db/postgres_trial.go
Labels: cla-signed

#6600 fix: widen the Searcher Metric Values column [WEB-1174]
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Labels: cla-signed

#6567 docs: Add structure to master config ref
  docs/reference/reference-deploy/config/master-config-reference.rst
Labels: documentation, cla-signed

#6596 fix: Workspace member modal includes users and groups
  webui/react/src/components/WorkspaceMemberAddModal.tsx
Labels: cla-signed

#6548 chore: add cli render method for json
  harness/determined/cli/agent.py
  harness/determined/cli/command.py
  harness/determined/cli/dev.py
  harness/determined/cli/experiment.py
  harness/determined/cli/job.py
  harness/determined/cli/master.py
  harness/determined/cli/model.py
  harness/determined/cli/project.py
  harness/determined/cli/rbac.py
  harness/determined/cli/render.py
  harness/determined/cli/task.py
  harness/determined/cli/trial.py
  harness/determined/cli/user_groups.py
  harness/determined/cli/workspace.py
  harness/determined/common/api/__init__.py
  harness/determined/common/api/logs.py
  harness/setup.py
Labels: cla-signed

#6599 fix: jiggle cli.tunnel & cli.proxy code to avoid an import warning.
  harness/determined/cli/proxy.py
  harness/determined/cli/tunnel.py
Labels: cla-signed

#6606 ci: fully quarantine `test-det-deploy-local` and `test-stress`
  .circleci/config.yml
  e2e_tests/tests/deploy/test_local.py
Labels: cla-signed

#6609 fix: include global TaskContainerDefaults when no resource pool
  master/internal/rm/kubernetesrm/pods.go
Labels: cla-signed

#6613 fix: minor bug broke Trial class DS AT
  ds_autotuning_prototype/trial_classes/ffn_example/startup-hook.sh
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
Labels: cla-signed

#6620 ci: auto-scrape algolia records
  .circleci/config.yml
  docs/Makefile
  docs/conf.py
  docs/deploy/scrape.py
Labels: documentation, cla-signed

#6619 feat: optional steps completed in context manager
  ds_autotuning_prototype/core_api/ffn_example_ds_launcher/script.py
  ds_autotuning_prototype/core_api/ffn_example_torch_launcher/script.py
  ds_autotuning_prototype/core_api/no_op_test/script.py
  ds_autotuning_prototype/core_api/torchvison_models/script.py
  ds_autotuning_prototype/trial_classes/cifar10_fake_data/README.md
  ds_autotuning_prototype/trial_classes/cifar10_fake_data/autotune_config.yaml
  ds_autotuning_prototype/trial_classes/cifar10_fake_data/ds_config.json
  ds_autotuning_prototype/trial_classes/cifar10_fake_data/single.yaml
  ds_autotuning_prototype/trial_classes/cifar10_fake_data/zero_stages.yaml
  ds_autotuning_prototype/trial_classes/cifar10_moe/README.md
  ds_autotuning_prototype/trial_classes/cifar10_moe/autotune_config.yaml
  ds_autotuning_prototype/trial_classes/cifar10_moe/model_def.py
  ds_autotuning_prototype/trial_classes/cifar10_moe/moe.yaml
  ds_autotuning_prototype/trial_classes/cifar10_moe/zero_stages.yaml
  ds_autotuning_prototype/trial_classes/cifar10_moe_fake_data/README.md
  ds_autotuning_prototype/trial_classes/cifar10_moe_fake_data/autotune_config.yaml
  ds_autotuning_prototype/trial_classes/cifar10_moe_fake_data/ds_config.json
  ds_autotuning_prototype/trial_classes/cifar10_moe_fake_data/model_def.py
  ds_autotuning_prototype/trial_classes/cifar10_moe_fake_data/moe.yaml
  ds_autotuning_prototype/trial_classes/cifar10_moe_fake_data/zero_stages.yaml
  ds_autotuning_prototype/trial_classes/ffn_example/README.md
  ds_autotuning_prototype/trial_classes/ffn_example/autotune_config.yaml
  ds_autotuning_prototype/trial_classes/ffn_example/ds_config.json
  ds_autotuning_prototype/trial_classes/ffn_example/model_def.py
  ds_autotuning_prototype/trial_classes/ffn_example/single.yaml
  ds_autotuning_prototype/trial_classes/ffn_example/startup-hook.sh
  ds_autotuning_prototype/trial_classes/torchvison_models/autotune_config.yaml
  ds_autotuning_prototype/trial_classes/torchvison_models/ds_config.json
  ds_autotuning_prototype/trial_classes/torchvison_models/model_def.py
  ds_autotuning_prototype/trial_classes/torchvison_models/startup-hook.sh
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/pytorch/deepspeed/dsat/_utils.py
Labels: cla-signed

#6590 chore: lazy load imports to speed up load time [MLG-455]
  harness/determined/cli/experiment.py
  harness/determined/common/api/profiler.py
  harness/determined/common/api/request.py
  harness/determined/common/context.py
  harness/determined/common/storage/hdfs.py
  harness/determined/ipc.py
  harness/determined/tensorboard/hdfs.py
  harness/setup.py
  harness/tests/test_imports.py
  master/static/srv/check_ready_logs.py
  master/static/srv/enrich_task_logs.py
Labels: cla-signed

#6621 perf: remove unnecessary full trial.total_batches recomputes
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
Labels: cla-signed

#6624 fix: fix validation before logic
  harness/determined/pytorch/_pytorch_trial.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Labels: cla-signed

#6625 chore: fix mismatching enum keys
  harness/determined/cli/project.py
  harness/determined/cli/workspace.py
Labels: cla-signed

#6623 ci: actually auto-scrape algolia records
  .circleci/config.yml
Labels: cla-signed

#6589 refactor: remove dialogApi modal dependency [WEB-1132, WEB-1133]
  webui/react/src/App.tsx
  webui/react/src/components/BatchActionConfirmModal.test.tsx
  webui/react/src/components/BatchActionConfirmModal.tsx
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/components/TaskBar.tsx
  webui/react/src/components/TaskList.tsx
  webui/react/src/components/kit/Modal.tsx
  webui/react/src/components/kit/useConfirm.test.tsx
  webui/react/src/components/kit/useConfirm.tsx
  webui/react/src/omnibar/tree-extension/trees/actions.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/InteractiveTask.test.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
  webui/react/src/shared/components/ActionDropdown/ActionDropdown.test.tsx
  webui/react/src/shared/components/ActionDropdown/ActionDropdown.tsx
  webui/react/src/utils/dialogApi.ts
Labels: cla-signed, shared-web

#6545 feat: multitrial improve efficiency [DET-9329]
  agent/go.mod
  agent/go.sum
  harness/determined/common/api/bindings.py
  master/go.mod
  master/go.sum
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  master/internal/db/postgres_experiments.go
  master/internal/trials/postgres_trials.go
  proto/buf.image.bin
  proto/pkg/apiv1/experiment.pb.go
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/api/v1/trial.proto
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
  webui/react/src/pages/TrialsComparison/Metrics/useLearningCurveData.ts
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#5933 feat: singularity support
  .gitignore
  agent/cmd/determined-agent/run.go
  agent/internal/agent.go
  agent/internal/container/container.go
  agent/internal/container/container_runtime.go
  agent/internal/containers/manager.go
  agent/internal/options/options.go
  agent/pkg/docker/docker.go
  agent/pkg/docker/docker_api_test.go
  agent/pkg/docker/events.go
  agent/pkg/singularity/singularity.go
  agent/pkg/singularity/singularity_api_test.go
  master/determined.code-workspace
  master/internal/rm/kubernetesrm/pod_test.go
  master/pkg/archive/archive.go
  master/pkg/etc/etc.go
  master/pkg/tasks/const.go
  master/pkg/tasks/task.go
  master/pkg/tasks/task_gc.go
  master/static/srv/enrich_task_logs.py
  master/static/srv/singularity-entrypoint-wrapper.sh
  master/static/srv/task-logging-setup.sh
Labels: cla-signed

#6477 feat: summary metrics
  master/go.mod
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/static/migrations/20230425100036_add-summary-metrics.tx.down.sql
  master/static/migrations/20230425100036_add-summary-metrics.tx.up.sql
Labels: cla-signed

#6611 fix: fix cluster store polling
  webui/react/src/stores/cluster.tsx
Labels: cla-signed

#6636 fix: remove TODOs from examples
  examples/computer_vision/cifar10_tf_keras/cifar_model.py
  examples/computer_vision/iris_tf_keras/model_def.py
  examples/computer_vision/unets_tf_keras/model_def.py
  examples/decision_trees/gbt_titanic_estimator/model_def.py
  examples/gan/dcgan_tf_keras/model_def.py
  examples/gan/pix2pix_tf_keras/pix2pix/discriminator.py
  examples/gan/pix2pix_tf_keras/pix2pix/generator.py
  examples/tests/test_official.py
  examples/tutorials/fashion_mnist_tf_keras/model_def.py
Labels: cla-signed

#6633 test: fix test_experiment_api_determined_disabled flake
  e2e_tests/tests/cluster/test_users_experiment_api.py
Labels: cla-signed

#6563 chore: refactor columns api
  e2e_tests/tests/experiment/test_core.py
  harness/determined/common/api/bindings.py
  master/internal/api_project.go
  proto/buf.image.bin
  proto/pkg/apiv1/project.pb.go
  proto/pkg/projectv1/project.pb.go
  proto/src/determined/api/v1/project.proto
  proto/src/determined/project/v1/project.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#6616 docs: update contributors guide
  CONTRIBUTING.md
Labels: cla-signed

#6626 ci: reduce overly long CloudFormation stack name
  .circleci/config.yml
Labels: cla-signed

#6627 feat: Support "cancelled" and "failed" Shutdown operations [MLG-468]
  harness/determined/common/api/bindings.py
  harness/determined/searcher/_search_method.py
  master/internal/experiment.go
  master/pkg/searcher/operations.go
  proto/buf.image.bin
  proto/pkg/experimentv1/searcher.pb.go
  proto/src/determined/experiment/v1/searcher.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed, User-facing API Change, python, go

#6562 test: playwright e2e test setup
  .circleci/config.yml
  webui/react/.gitignore
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/playwright.config.ts
  webui/react/src/e2e/README.md
  webui/react/src/e2e/auth.spec.ts
  webui/react/src/e2e/fixtures/auth.fixture.ts
  webui/react/src/e2e/fixtures/dev.fixture.ts
  webui/react/src/e2e/global-fixtures.ts
  webui/react/src/e2e/navigation.spec.ts
  webui/react/vite.config.ts
Labels: cla-signed

#6594 fix: Investigate "directory does not exist" tensorboard warning messages [DET-9166]
  harness/determined/tensorboard/base.py
Labels: cla-signed

#6551 chore: MLG-369: Some initial tests for DS AT
  harness/determined/searcher/_search_runner.py
  harness/tests/custom_search_mocks.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Labels: cla-signed

#6629 ci: fix autoscrape ci job
  .circleci/config.yml
  docs/Makefile
  docs/assets/scripts/docsearch.sbt.js
Labels: documentation, cla-signed

#6647 fix: cache k8s summarize for performance
  master/internal/rm/kubernetesrm/pods.go
Labels: cla-signed

#6612 chore: fix det deploy local tests
  e2e_tests/tests/deploy/test_local.py
  harness/determined/deploy/local/cluster_utils.py
Labels: cla-signed

#6642 fix: Metadata card can view and preserve JSON values [WEB-1183]
  webui/react/src/components/Metadata/EditableMetadata.tsx
  webui/react/src/components/Metadata/EditableRow.tsx
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Labels: cla-signed

#6634 perf: summary metrics perf improvements `MetricNames` and `TopTrialsByMetric`
  master/internal/api_experiment.go
  master/internal/db/database.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/mocks/db.go
Labels: cla-signed

#6653 fix: Fix invalid token logout loop
  webui/react/src/utils/error.ts
Labels: cla-signed
