Repository determined-ai/determined, pull requests merged in 2023-03, with the labels that each got.

#6107 docs: fix reported datapoint label
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#6109 fix: tolerate additional non-CPU, non-GPU quotas in k8s
  master/internal/rm/kubernetesrm/pods.go
Labels: cla-signed

#6113 docs: add release notes for 0.20.0
  docs/release-notes.rst
  docs/release-notes/agent-reattach.rst
  docs/release-notes/nuke-agent-labels.rst
  docs/release-notes/rbac-ntsc-mr.rst
Labels: documentation, cla-signed

#6117 fix: modal theme color
  webui/react/src/components/ThemeProvider.tsx
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.module.scss
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/shared/hooks/useModal/useModal.stories.module.scss
Labels: cla-signed, shared-web

#6119 fix: add bgColor in trial comparison table
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.module.scss
Labels: cla-signed

#6122 fix: browser console warnings
  webui/react/src/hooks/useModal/Checkpoint/useCheckpointFlow.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
Labels: cla-signed

#6120 chore: UIKit Pivot renaming
  webui/react/src/components/DynamicTabs.tsx
  webui/react/src/components/kit/Pivot.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
Labels: cla-signed

#6126 fix: correct manage job view
  webui/react/src/pages/JobQueue/ManageJob.tsx
Labels: cla-signed

#6127 docs: add myst_parser extension
  docs/conf.py
  docs/requirements.txt
Labels: documentation, cla-signed

#6129 docs: fix some broken redirects
  docs/conf.py
Labels: documentation, cla-signed

#5978 feat: generic proxy configs [DET-8761]
  .gitattributes
  docs/index.rst
  docs/interfaces/proxy-ports.rst
  docs/reference/reference-interface/job-config-reference.rst
  docs/reference/reference-training/experiment-config-reference.rst
  docs/release-notes/proxy.rst
  e2e_tests/tests/cluster/test_proxy.py
  e2e_tests/tests/config.py
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/requirements.txt
  examples/features/ports/README.md
  examples/features/ports/ray_job.py
  examples/features/ports/ray_launcher.py
  examples/features/ports/ray_launcher.yaml
  examples/features/ports/startup-hook.sh
  harness/determined/cli/experiment.py
  harness/determined/cli/proxy.py
  harness/determined/cli/task.py
  harness/determined/cli/tunnel.py
  harness/determined/common/api/request.py
  harness/determined/common/schemas/expconf/_gen.py
  harness/determined/common/schemas/expconf/_v0.py
  master/internal/api_auth.go
  master/internal/api_notebook.go
  master/internal/api_shell.go
  master/internal/api_tensorboard.go
  master/internal/command/command.go
  master/internal/rm/tasklist/task_list.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/trial.go
  master/pkg/model/compat.go
  master/pkg/model/environment_config.go
  master/pkg/model/experiment_config.go
  master/pkg/schemas/expconf/environment_config.go
  master/pkg/schemas/expconf/latest.go
  master/pkg/schemas/expconf/legacy_test.go
  master/pkg/schemas/expconf/zgen_environment_config_v0.go
  master/pkg/schemas/expconf/zgen_proxy_port_v0.go
  master/pkg/schemas/expconf/zgen_proxy_ports_config_v0.go
  master/pkg/schemas/zgen_schemas.go
  master/pkg/tasks/task.go
  master/pkg/tasks/task_command.go
  master/pkg/tasks/task_trial.go
  schemas/expconf/v0/environment.json
  schemas/expconf/v0/proxy-port.json
  schemas/expconf/v0/proxy-ports.json
  schemas/test_cases/v0/defaults.yaml
  schemas/test_cases/v0/experiment.yaml
  schemas/test_cases/v0/gpu-cuda-migration.yaml
Labels: documentation, cla-signed

#6134 build: [MLG-336] Limit the version of protobuf
  e2e_tests/tests/requirements.txt
  examples/tests/requirements.txt
Labels: cla-signed

#6103 chore: update detectron2 example to use v0.6 and reenable nightly test [MLG-301]
  e2e_tests/tests/nightly/test_capability.py
  examples/computer_vision/detectron2_coco_pytorch/.detignore
  examples/computer_vision/detectron2_coco_pytorch/Dockerfile
  examples/computer_vision/detectron2_coco_pytorch/Makefile
  examples/computer_vision/detectron2_coco_pytorch/README.md
  examples/computer_vision/detectron2_coco_pytorch/const.yaml
  examples/computer_vision/detectron2_coco_pytorch/const_fake.yaml
  examples/computer_vision/detectron2_coco_pytorch/distributed.yaml
  examples/computer_vision/detectron2_coco_pytorch/model_def.py
Labels: cla-signed

#6121 docs: Bring content changes from docusaurus-ls beta
  docs/architecture/index.rst
  docs/architecture/introduction.rst
  docs/architecture/system-architecture.rst
  docs/assets/images/det-ai-sys-arch-01-dark.png
  docs/assets/images/det-ai-sys-arch-01-light.png
  docs/cluster-setup-guide/deploy-cluster/index.rst
  docs/conf.py
  docs/index.rst
  docs/reference/overview.rst
  docs/training/apis-howto/overview.rst
  docs/training/index.rst
  docs/tutorials/index.rst
Labels: documentation, cla-signed

#6125 feat: display workspace icon in ProjectCard
  webui/react/src/components/ProjectCard.module.scss
  webui/react/src/components/ProjectCard.tsx
Labels: cla-signed

#6136 fix: checkpoint gc should set resource pool
  master/internal/checkpoint_gc.go
Labels: cla-signed

#6138 docs: bump rstfmt version
  docs/requirements.txt
Labels: documentation, cla-signed

#6008 chore: add dev cli option to get auth token
  harness/determined/cli/cli.py
  harness/determined/cli/dev.py
  harness/determined/cli/user.py
Labels: cla-signed

#6135 perf: Historical allocation task endpoint, removed training/validation times
  e2e_tests/tests/experiment/test_tasks_raw_csv.py
  master/internal/core.go
Labels: cla-signed

#6146 fix: FOUNDENG-438 Podman tests from the gate are breaking znodes again
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-known-issues.rst
Labels: documentation, cla-signed

#6144 chore: add Toggle component to UI Kit [WEB-841]
  webui/react/src/components/kit/Toggle.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
  webui/react/src/pages/WorkspaceList.tsx
Labels: cla-signed

#6100 chore: Add tags to UI kit [WEB-816]
  webui/react/src/components/Tags.tsx
  webui/react/src/components/kit/Tags.module.scss
  webui/react/src/components/kit/Tags.test.tsx
  webui/react/src/components/kit/Tags.tsx
  webui/react/src/components/kit/useTags.tsx
  webui/react/src/hooks/useExperimentTags.ts
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpointRegister.tsx
  webui/react/src/hooks/useModal/Model/useModalModelCreate.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/TrialsComparison/Actions/useModalTagTrials.tsx
  webui/react/src/pages/TrialsComparison/Table/tagsRenderer.tsx
Labels: cla-signed

#6102 chore: Move SelectFilter into kit folder and update it [WEB-843]
  webui/react/src/components/DatePicker.module.scss
  webui/react/src/components/DatePicker.tsx
  webui/react/src/components/HpSelect.module.scss
  webui/react/src/components/HpSelect.tsx
  webui/react/src/components/MetricSelect.tsx
  webui/react/src/components/PaginatedNotesCard.tsx
  webui/react/src/components/ScaleSelect.tsx
  webui/react/src/components/SelectFilter.tsx
  webui/react/src/components/UserSelect.tsx
  webui/react/src/components/kit/Facepile.tsx
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/components/kit/LineChart/XAxisFilter.tsx
  webui/react/src/components/kit/LogViewer/LogViewerSelect.settings.ts
  webui/react/src/components/kit/LogViewer/LogViewerSelect.test.tsx
  webui/react/src/components/kit/LogViewer/LogViewerSelect.tsx
  webui/react/src/components/kit/Select.module.scss
  webui/react/src/components/kit/Select.test.tsx
  webui/react/src/components/kit/Select.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentMove.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
  webui/react/src/hooks/useModal/Model/useModalModelCreate.tsx
  webui/react/src/hooks/useModal/Model/useModalModelMove.tsx
  webui/react/src/hooks/useModal/Project/useModalProjectMove.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsageFilters.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/pages/TaskLogs.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/SystemMetricChartFilters.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
  webui/react/src/pages/TrialsComparison/Metrics/useMetricView.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
  webui/react/src/pages/WorkspaceList.tsx
Labels: cla-signed

#6082 fix: replace `InlineEditor` with UIKit input
  webui/react/src/components/InlineEditor.module.scss
  webui/react/src/components/InlineEditor.test.tsx
  webui/react/src/components/InlineEditor.tsx
  webui/react/src/components/NotesCard.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentEdit.tsx
  webui/react/src/hooks/useModal/Model/useModalModelEdit.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/Settings/SettingsAccount.module.scss
  webui/react/src/pages/Settings/SettingsAccount.test.tsx
  webui/react/src/pages/Settings/SettingsAccount.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceDetailsHeader.tsx
  webui/react/src/types.ts
  webui/react/src/utils/experiment.ts
Labels: cla-signed

#6097 chore: add/test pt-only images and bumpenvs
  .circleci/config.yml
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-gcp/install-gcp.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/singularity.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
  docs/interfaces/tensorboard.rst
  docs/reference/reference-deploy/config/helm-config-reference.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/reference/reference-interface/job-config-reference.rst
  docs/reference/reference-training/experiment-config-reference.rst
  docs/training/apis-howto/overview.rst
  docs/training/setup-guide/custom-env.rst
  e2e_tests/tests/config.py
  e2e_tests/tests/experiment/test_pytorch.py
  e2e_tests/tests/fixtures/pytorch_lightning_amp/apex_amp.yaml
  e2e_tests/tests/fixtures/pytorch_lightning_amp/auto_amp.yaml
  e2e_tests/tests/nightly/test_distributed.py
  examples/computer_vision/efficientdet_pytorch/const.yaml
  examples/computer_vision/efficientdet_pytorch/const_fake.yaml
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/decision_trees/gbt_titanic_estimator/adaptive.yaml
  examples/decision_trees/gbt_titanic_estimator/const.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_3_cpu_offload.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_no_offload.yaml
  examples/deepspeed/cifar10_moe/moe.yaml
  examples/deepspeed/cifar10_moe/zero_stages.yaml
  examples/deepspeed/gpt_neox/Dockerfile
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  examples/graphs/proteins_pytorch_geometric/adaptive.yaml
  examples/graphs/proteins_pytorch_geometric/const.yaml
  examples/graphs/proteins_pytorch_geometric/distributed.yaml
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/keras/_tf_keras_trial.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-estimator/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  helm/charts/determined/templates/master-config.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/update-bumpenvs-yaml.py
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
Labels: documentation, cla-signed

#5737 feat: add det.import_from_path
  harness/determined/__init__.py
  harness/determined/_import.py
  harness/mypy.ini
  harness/tests/fixtures/import_from_path/a/data.py
  harness/tests/fixtures/import_from_path/a/model_def.py
  harness/tests/fixtures/import_from_path/b/data.py
  harness/tests/fixtures/import_from_path/b/model_def.py
  harness/tests/fixtures/import_from_path/c/data.py
  harness/tests/fixtures/import_from_path/c/model_def.py
  harness/tests/fixtures/import_from_path/libraries/lib1.py
  harness/tests/fixtures/import_from_path/libraries/lib2.py
  harness/tests/test_imports.py
Labels: cla-signed

#6151 fix: post rank_id correctly for fluent-less logging [DET-8999]
  master/static/srv/enrich_task_logs.py
Labels: cla-signed

#6152 ci: send Slack notification on GKE node pool creation failure
  .circleci/config.yml
Labels: cla-signed

#6110 chore: drop unused columns from `raw_steps`, `raw_validations`, and `raw_checkpoints`.
  docs/release-notes/nuke-columns.rst
  e2e_tests/tests/experiment/experiment.py
  harness/determined/cli/experiment.py
  harness/determined/cli/trial.py
  harness/determined/common/api/bindings.py
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_trial.go
  master/pkg/model/experiment.go
  master/static/migrations/20230228153343_metrics-column-cleanup.tx.down.sql
  master/static/migrations/20230228153343_metrics-column-cleanup.tx.up.sql
  master/static/srv/get_trial.sql
  master/static/srv/get_trial_metrics.sql
  master/static/srv/proto_experiment_validation_history.sql
  master/static/srv/proto_get_trial_ids_for_experiment.sql
  master/static/srv/proto_get_trial_workloads.sql
  master/static/srv/proto_get_trials_plus.sql
  master/static/srv/test_insert_huge_metrics.sql
  proto/buf.image.bin
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: documentation, cla-signed

#6098 fix: render spinner while auth check pending
  webui/react/src/components/Router.tsx
Labels: cla-signed

#6154 docs: Content updates
  docs/cluster-setup-guide/deploy-cluster/index.rst
Labels: documentation, cla-signed

#6156 feat: display user id in `det user list`.
  harness/determined/cli/user.py
Labels: cla-signed

#6128 fix: Additional tables get experiment- / workspace-specific storagePath [WEB-962]
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.settings.ts
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.settings.ts
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHyperparameters.settings.ts
  webui/react/src/pages/TrialDetails/TrialDetailsHyperparameters.tsx
  webui/react/src/pages/TrialsComparison/Table/settings.ts
  webui/react/src/pages/TrialsComparison/TrialsComparison.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.settings.ts
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.settings.ts
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
Labels: cla-signed

#6161 chore: add release notes
  docs/release-notes/pt-images.rst
Labels: documentation, cla-signed

#6149 fix: selection width in `move experiment` modal
  webui/react/src/hooks/useModal/Experiment/useModalExperimentMove.tsx
Labels: cla-signed

#6162 feat: show trial hyperparameters for custom searchers [MLG-343]
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.tsx
Labels: cla-signed

#6164 fix: flaky test_tasks_raw_csv & corrected timestamp handling for historical task allocation
  e2e_tests/tests/experiment/test_tasks_raw_csv.py
  master/internal/core.go
Labels: cla-signed

#6167 chore: add release notes
  docs/release-notes/pt-images.rst
Labels: documentation, cla-signed

#6145 chore: suppress help output for det dev
  harness/determined/cli/dev.py
Labels: cla-signed

#6170 fix: separate Router and authCheck
  webui/react/src/App.tsx
  webui/react/src/components/Router.tsx
Labels: cla-signed

#6173 fix: useMemo does not depend on trial having been loaded
  webui/react/src/pages/TrialDetails/TrialDetailsHyperparameters.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
Labels: cla-signed

#6140 refactor: replace user store with observables [WEB-799]
  webui/react/src/App.tsx
  webui/react/src/components/CheckpointModalTrigger.test.tsx
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/components/Navigation.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/TaskList.tsx
  webui/react/src/components/UserSelect.tsx
  webui/react/src/components/kit/UserAvatar.test.tsx
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateGroup.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalPasswordChange.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalPasswordChange.tsx
  webui/react/src/hooks/usePermissions.test.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/hooks/useSettings.ts
  webui/react/src/hooks/useSettingsProvider.tsx
  webui/react/src/hooks/useStorage.ts
  webui/react/src/pages/Cluster/ClusterHistoricalUsage.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.test.tsx
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/pages/ExperimentDetails/CodeViewer/CodeViewer.test.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/InteractiveTask.test.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/Settings/Settings.test.tsx
  webui/react/src/pages/Settings/SettingsAccount.test.tsx
  webui/react/src/pages/Settings/SettingsAccount.tsx
  webui/react/src/pages/Settings/UserManagement.test.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/pages/SignOut.tsx
  webui/react/src/pages/TrialsComparison/Collections/useTrialCollections.tsx
  webui/react/src/pages/TrialsComparison/Table/TrialTable.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
  webui/react/src/pages/WorkspaceList.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceCard.tsx
  webui/react/src/stores/index.tsx
  webui/react/src/stores/users.tsx
Labels: cla-signed

#6159 Feat deepspeed autotune
  ds_autotuning_prototype/README.md
  ds_autotuning_prototype/dsat/__init__.py
  ds_autotuning_prototype/dsat/_defaults.py
  ds_autotuning_prototype/dsat/_dsat_search_method.py
  ds_autotuning_prototype/dsat/_run_dsat.py
  ds_autotuning_prototype/dsat/_utils.py
  ds_autotuning_prototype/dsat/autotune.py
  ds_autotuning_prototype/examples/cifar10_example/autotune_config.yaml
  ds_autotuning_prototype/examples/cifar10_example/script.py
  ds_autotuning_prototype/examples/cifar10_example/startup-hook.sh
  ds_autotuning_prototype/examples/ffn_example/autotune_config.yaml
  ds_autotuning_prototype/examples/ffn_example/no_autotune_config.yaml
  ds_autotuning_prototype/examples/ffn_example/script.py
  ds_autotuning_prototype/examples/ffn_example/startup-hook.sh
  ds_autotuning_prototype/examples/torchvison_models_example/autotune_config.yaml
  ds_autotuning_prototype/examples/torchvison_models_example/script.py
  ds_autotuning_prototype/examples/torchvison_models_example/startup-hook.sh
  ds_autotuning_prototype/native_dsat_tests/torchvision_models_example/README.md
  ds_autotuning_prototype/native_dsat_tests/torchvision_models_example/autotune_config.yaml
  ds_autotuning_prototype/native_dsat_tests/torchvision_models_example/constants.py
  ds_autotuning_prototype/native_dsat_tests/torchvision_models_example/deepspeed_single_node_launcher.py
  ds_autotuning_prototype/native_dsat_tests/torchvision_models_example/main.py
  ds_autotuning_prototype/native_dsat_tests/torchvision_models_example/script.py
  ds_autotuning_prototype/native_dsat_tests/torchvision_models_example/startup-hook.sh
  ds_autotuning_prototype/native_dsat_tests/torchvision_models_example/utils.py
  examples/computer_vision/cifar10_pytorch/const_test.yaml
Labels: cla-signed

#6178 fix: hide Foldable menu options when button is visible
  webui/react/src/components/PageHeaderFoldable.module.scss
Labels: cla-signed

#6180 Feat deepspeed autotune git fixes
  ds_autotuning_prototype/README.md
  ds_autotuning_prototype/autotune_config.yaml
  ds_autotuning_prototype/dsat/checkpoint_profiling_results_wrapper.py
  ds_autotuning_prototype/dsat/constants.py
  ds_autotuning_prototype/dsat/dsat_search_method.py
  ds_autotuning_prototype/dsat/run_dsat.py
  ds_autotuning_prototype/dsat/utils.py
  ds_autotuning_prototype/minimal_script.py
  ds_autotuning_prototype/no_autotune_config.yaml
Labels: cla-signed

#6147 feat: add labels to GCP instances created with det deploy gcp [MLG-170]
  harness/determined/deploy/gcp/cli.py
  harness/determined/deploy/gcp/terraform/main.tf
  harness/determined/deploy/gcp/terraform/modules/compute/main.tf
  harness/determined/deploy/gcp/terraform/modules/compute/variables.tf
  harness/determined/deploy/gcp/terraform/modules/database/main.tf
  harness/determined/deploy/gcp/terraform/modules/database/variables.tf
  harness/determined/deploy/gcp/terraform/modules/filestore/main.tf
  harness/determined/deploy/gcp/terraform/modules/filestore/variables.tf
  harness/determined/deploy/gcp/terraform/modules/gcs/main.tf
  harness/determined/deploy/gcp/terraform/modules/gcs/variables.tf
  harness/determined/deploy/gcp/terraform/modules/network/main.tf
  harness/determined/deploy/gcp/terraform/modules/network/variables.tf
  harness/determined/deploy/gcp/terraform/variables.tf
Labels: cla-signed

#6187 fix: readme fix, config edit, and make cifar10 work off grenoble
  ds_autotuning_prototype/README.md
  ds_autotuning_prototype/examples/cifar10_example/script.py
  ds_autotuning_prototype/examples/ffn_example/autotune_config.yaml
Labels: cla-signed

#6174 fix: Close expiriment fork/ continue trial modal properly
  webui/react/src/hooks/useModal/Experiment/useModalExperimentCreate.tsx
Labels: cla-signed

#6168 fix: Continue Trial flow does not take the new `max_length`
  webui/react/src/hooks/useModal/Experiment/useModalExperimentCreate.tsx
  webui/react/src/pages/JobQueue/ManageJob.tsx
Labels: cla-signed

#6190 fix: don't print ':' when err msg is empty
  master/internal/sproto/resources.go
Labels: cla-signed

#6183 fix: exp move modal
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentMove.module.scss
  webui/react/src/hooks/useModal/Experiment/useModalExperimentMove.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
Labels: cla-signed

#6175 fix: add `archived` param and simplify query
  master/internal/api_project.go
Labels: cla-signed

#6191 fix: remove get-deps-bindings target from top level makefile
  Makefile
Labels: cla-signed

#6182 chore: bumpenvs reflecting tf27 not having pytorch
  .circleci/config.yml
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/singularity.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
  docs/training/apis-howto/overview.rst
  e2e_tests/tests/config.py
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_3_cpu_offload.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_no_offload.yaml
  examples/deepspeed/cifar10_moe/moe.yaml
  examples/deepspeed/cifar10_moe/zero_stages.yaml
  examples/deepspeed/gpt_neox/Dockerfile
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  examples/graphs/proteins_pytorch_geometric/adaptive.yaml
  examples/graphs/proteins_pytorch_geometric/const.yaml
  examples/graphs/proteins_pytorch_geometric/distributed.yaml
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-estimator/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  helm/charts/determined/templates/master-config.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
Labels: documentation, cla-signed

#6179 refactor: use generic Go set type in more places
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/request_queue.go
  master/internal/rm/kubernetesrm/spec.go
  master/pkg/set/set.go
Labels: cla-signed

#6184 fix: aggregate historical allocation task endpoint at allocations instead of tasks
  e2e_tests/tests/experiment/test_allocation_csv.py
  master/internal/core.go
  webui/react/src/pages/Cluster/ClusterHistoricalUsageCsvModal.tsx
Labels: cla-signed

#6195 fix: support mixed CPU/GPU k8s quotas
  master/internal/rm/kubernetesrm/pods.go
Labels: cla-signed

#6150 fix: add an exit reason to tensorboard allocation signal
  master/internal/task/idle_timeout.go
Labels: cla-signed

#6155 perf: remove `Trialv1.latest_training` field.
  docs/release-notes/nuke-latest-training.rst
  harness/determined/common/api/bindings.py
  master/static/srv/proto_get_trials_plus.sql
  proto/buf.image.bin
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
  webui/react/src/services/api-ts-sdk/api.ts
Labels: documentation, cla-signed

#6021 build: Eliminate CRACO, use Vitest for testing
  .bumpversion.cfg
  .circleci/config.yml
  webui/react/Makefile
  webui/react/craco.config.js
  webui/react/jest.config.js
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/BadgeTag.test.tsx
  webui/react/src/components/CheckpointModalTrigger.test.tsx
  webui/react/src/components/Metadata/EditableMetadata.test.tsx
  webui/react/src/components/MetricBadgeTag.test.tsx
  webui/react/src/components/RadioGroup.test.tsx
  webui/react/src/components/ResourcePoolCard.test.tsx
  webui/react/src/components/RoutePagination.test.tsx
  webui/react/src/components/Section.test.tsx
  webui/react/src/components/Table/ResponsiveTable.test.tsx
  webui/react/src/components/TimeAgo.test.tsx
  webui/react/src/components/kit/LogViewer/LogViewer.test.tsx
  webui/react/src/components/kit/LogViewer/LogViewerSelect.test.tsx
  webui/react/src/components/kit/Select.test.tsx
  webui/react/src/components/kit/Tags.test.tsx
  webui/react/src/components/kit/Tooltip.tsx
  webui/react/src/components/kit/UserAvatar.test.tsx
  webui/react/src/components/kit/__mocks__/Tooltip.tsx
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.test.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentCreate.test.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.test.tsx
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateGroup.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalDeleteGroup.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalPasswordChange.test.tsx
  webui/react/src/hooks/usePermissions.test.tsx
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.test.tsx
  webui/react/src/pages/ExperimentDetails/CodeViewer/CodeViewer.test.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
  webui/react/src/pages/InteractiveTask.test.tsx
  webui/react/src/pages/Settings/SettingsAccount.test.tsx
  webui/react/src/pages/Settings/SettingsAccount.tsx
  webui/react/src/pages/Settings/UserManagement.test.tsx
  webui/react/src/react-app-env.d.ts
  webui/react/src/routes/utils.test.ts
  webui/react/src/setupTests.ts
  webui/react/src/shared/.circleci/config.yml
  webui/react/src/shared/components/ActionDropdown/ActionDropdown.test.tsx
  webui/react/src/shared/components/Avatar/Avatar.test.tsx
  webui/react/src/shared/components/Icon/icon.test.tsx
  webui/react/src/shared/components/Message/Message.test.tsx
  webui/react/src/shared/components/Spinner/Spinner.test.tsx
  webui/react/src/shared/configs/craco.config.js
  webui/react/src/shared/configs/eslintrc.js
  webui/react/src/shared/utils/dom.test.ts
  webui/react/src/shared/utils/routes.test.ts
  webui/react/src/utils/wait.test.ts
  webui/react/vite.config.ts
Labels: cla-signed, shared-web

#6171 perf: improve checkpoint size performance [DET-8960]
  docs/release-notes/checkpoint-size-speedup.rst
  master/internal/api_checkpoint_intg_test.go
  master/internal/api_trials.go
  master/internal/checkpoint_gc.go
  master/internal/core_checkpoint_intg_test.go
  master/internal/db/database.go
  master/internal/db/postgres_checkpoints.go
  master/internal/db/postgres_checkpoints_intg_test.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_model_intg_test.go
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/mocks/db.go
  master/pkg/model/experiment.go
  master/static/migrations/20230306115327_add-checkpoint-size.tx.down.sql
  master/static/migrations/20230306115327_add-checkpoint-size.tx.up.sql
  master/test/integration/api/api_checkpoints_test.go
Labels: documentation, cla-signed

#6197 chore: move assigned event to correct location [DET-9012]
  master/internal/sproto/task.go
  master/internal/task/allocation.go
Labels: cla-signed

#6169 docs: clarified rbac and k8s docs
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/install-on-kubernetes.rst
  docs/cluster-setup-guide/security/rbac.rst
  docs/reference/reference-deploy/config/helm-config-reference.rst
Labels: documentation, cla-signed

#6059 feat: PyTorch Trainer
  e2e_tests/tests/experiment/test_noop.py
  e2e_tests/tests/experiment/test_pytorch.py
  harness/determined/__init__.py
  harness/determined/_trial_controller.py
  harness/determined/common/schemas/expconf/_gen.py
  harness/determined/core/__init__.py
  harness/determined/core/_searcher.py
  harness/determined/exec/harness.py
  harness/determined/experimental/_native.py
  harness/determined/layers/_workload_sequencer.py
  harness/determined/profiler.py
  harness/determined/pytorch/__init__.py
  harness/determined/pytorch/_load.py
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/_trainer.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.20.0-pytorch/code/const.yaml
  harness/tests/experiment/fixtures/ancient-checkpoints/0.20.0-pytorch/code/model_def.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.20.0-pytorch/load_data.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.20.0-pytorch/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.20.0-pytorch/state_dict.pth
  harness/tests/experiment/fixtures/ancient-checkpoints/0.20.0-pytorch/workload_sequencer.pkl
  harness/tests/experiment/fixtures/lightning_adapter_onevar_model.py
  harness/tests/experiment/fixtures/pytorch_onevar_model.py
  harness/tests/experiment/pytorch/test_pytorch_context.py
  harness/tests/experiment/pytorch/test_pytorch_lightning.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  harness/tests/experiment/utils.py
  harness/tests/tensorboard/test_util.py
  master/pkg/schemas/zgen_schemas.go
  model_hub/model_hub/mmdetection/_trial.py
  model_hub/tests/test_mmdetection.py
  schemas/expconf/v0/check-epoch-not-used.json
  schemas/expconf/v0/experiment.json
  schemas/test_cases/v0/experiment.yaml
  schemas/test_cases/v0/misc.yaml
Labels: cla-signed, User-facing API Change

#6207 fix: default tag in AWS stack updates
  harness/determined/deploy/aws/aws.py
Labels: cla-signed

#6185 fix: project card issue
  webui/react/src/components/Link.tsx
  webui/react/src/components/ProjectCard.tsx
  webui/react/src/components/kit/Card.tsx
Labels: cla-signed

#6213 fix: flip undefined check logic for url params in ts bindings
  bindings/generate_bindings_ts.py
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#6210 fix: stop "Request getWorkspaceProjects failed." notifications
  webui/react/src/hooks/useModal/Experiment/useModalExperimentMove.tsx
Labels: cla-signed

#6212 docs: add rbac progress
  docs/cluster-setup-guide/security/rbac.rst
Labels: documentation, cla-signed

#6214 fix: `det user change-password` for user's own passwords.
  docs/release-notes/fix-det-user-change-password.rst
  e2e_tests/tests/cluster/test_users.py
  harness/determined/cli/user.py
  harness/determined/common/experimental/determined.py
  harness/determined/experimental/client.py
Labels: documentation, cla-signed

#5896 chore: remove type/interface member ordering rule from eslint
  webui/react/src/shared/configs/eslintrc.js
Labels: cla-signed, shared-web

#6153 chore: create Nameplate component
  webui/react/src/components/GroupAvatar.tsx
  webui/react/src/components/NavigationSideBar.module.scss
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.module.scss
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/UserAvatarCard.tsx
  webui/react/src/components/UserBadge.tsx
  webui/react/src/components/kit/Nameplate.module.scss
  webui/react/src/components/kit/Nameplate.tsx
  webui/react/src/components/kit/UserAvatar.tsx
  webui/react/src/components/kit/UserBadge.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceAddMember.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
  webui/react/src/utils/user.ts
Labels: cla-signed

#6217 fix: log level filter width
  webui/react/src/components/kit/LogViewer/LogViewerSelect.tsx
Labels: cla-signed

#6196 fix: username case sensitive issue
  master/internal/user/postgres_users.go
Labels: cla-signed

#6198 feat: Enable username and display name search on cluster "user" list [WEB-1009]
  harness/determined/common/api/bindings.py
  master/internal/api_user.go
  master/static/srv/get_users.sql
  proto/pkg/apiv1/user.pb.go
  proto/src/determined/api/v1/user.proto
  webui/react/src/pages/Settings/UserManagement.settings.ts
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#6216 feat: collect timing data for actor system internals
  master/pkg/actor/prom.go
  master/pkg/actor/ref.go
  master/pkg/actor/trace.go
  tools/devcluster.yaml
Labels: cla-signed

#6192 feat: show unique HPs for Custom Searcher trials on experiment table [MLG-343]
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpTrialTable.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.test.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
Labels: cla-signed

#6227 docs: minor edits to commands and shells
  docs/interfaces/commands-and-shells.rst
Labels: documentation, cla-signed

#6157 chore: Remove deprecated react-router [WEB-580]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/__mocks__/router.tsx
  webui/react/src/components/CheckpointModalTrigger.test.tsx
  webui/react/src/components/NotesCard.tsx
  webui/react/src/components/ThemeToggle.test.tsx
  webui/react/src/ee/SamlAuth.ts
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.test.tsx
  webui/react/src/hooks/useRouteTracker.ts
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/index.tsx
  webui/react/src/pages/ExperimentDetails/CodeViewer/CodeViewer.test.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
  webui/react/src/pages/Settings/Settings.test.tsx
  webui/react/src/pages/Settings/UserManagement.test.tsx
  webui/react/src/router.tsx
  webui/react/src/setupTests.ts
  webui/react/src/shared/routes/history.ts
  webui/react/src/shared/utils/routes.test.ts
  webui/react/src/shared/utils/routes.ts
  webui/react/src/utils/error.ts
Labels: cla-signed, shared-web

#6218 ci: update `Stylelint` to v15
  webui/react/.stylelintrc.js
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/Dropdown.module.scss
  webui/react/src/components/ExperimentIcons/Loader.module.scss
  webui/react/src/components/ExperimentIcons/Queue.module.scss
  webui/react/src/components/ExperimentIcons/Spinner.module.scss
  webui/react/src/components/Json.module.scss
  webui/react/src/components/Markdown.module.scss
  webui/react/src/components/Navigation.module.scss
  webui/react/src/components/NavigationSideBar.module.scss
  webui/react/src/components/NavigationTabbar.module.scss
  webui/react/src/components/PageHeader/PageHeader.module.scss
  webui/react/src/components/ProjectCard.module.scss
  webui/react/src/components/RadioGroup.module.scss
  webui/react/src/components/ResponsiveFilters.module.scss
  webui/react/src/components/Table/InteractiveTable.module.scss
  webui/react/src/components/Table/TableBatch.module.scss
  webui/react/src/components/ThemeToggle.module.scss
  webui/react/src/components/UPlot/UPlotChart.module.scss
  webui/react/src/components/UPlot/UPlotChart/tooltipsPlugin.module.scss
  webui/react/src/components/kit/Card.module.scss
  webui/react/src/components/kit/Empty.module.scss
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.module.scss
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.module.scss
  webui/react/src/omnibar/Omnibar.module.scss
  webui/react/src/omnibar/tree-extension/TreeNode.module.scss
  webui/react/src/pages/ExperimentDetails/CodeViewer/CodeViewer.tsx
  webui/react/src/pages/ExperimentDetails/CodeViewer/index.scss
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.module.scss
  webui/react/src/pages/ProjectDetails.module.scss
  webui/react/src/pages/TrialsComparison/Table/TrialTable.module.scss
  webui/react/src/pages/WorkspaceDetails/WorkspaceDetailsHeader.module.scss
  webui/react/src/pages/WorkspaceList/WorkspaceCard.module.scss
  webui/react/src/shared/components/AvatarCard/AvatarCard.module.scss
  webui/react/src/shared/styles/icons.scss
  webui/react/src/shared/styles/index.scss
Labels: cla-signed, shared-web

#6123 feat: disable user management changes if in community edition [DET-8791]
  harness/determined/common/api/bindings.py
  master/internal/api_master.go
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/user/service.go
  master/internal/user/service_intg_test.go
  master/pkg/model/user.go
  proto/pkg/apiv1/master.pb.go
  proto/src/determined/api/v1/master.proto
  webui/react/src/pages/Settings/SettingsAccount.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/stores/determinedInfo.tsx
  webui/react/src/types.ts
Labels: cla-signed

#6189 feat: hide non-global roles on user/group modal
  webui/react/src/hooks/useModal/UserSettings/useModalCreateGroup.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#6233 docs: add HPC Launcher job exit code known issue
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-known-issues.rst
Labels: documentation, cla-signed

#6228 docs: update script for new core api user guide
  examples/tutorials/core_api_pytorch_mnist/model_def_metrics.py
Labels: cla-signed

#6234 fix: CSS inside router
  webui/react/src/index.tsx
  webui/react/src/router.tsx
Labels: cla-signed

#6201 chore: preparing to integrate UserByExternalToken with SCIM support
  master/go.mod
  master/internal/db/postgres.go
  master/internal/user/external_users.go
  master/internal/user/postgres_users.go
Labels: cla-signed

#6238 ci: update ESLint to v8
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/BadgeTag.test.tsx
  webui/react/src/components/Metadata/EditableMetadata.test.tsx
  webui/react/src/components/MetricBadgeTag.test.tsx
  webui/react/src/components/RadioGroup.test.tsx
  webui/react/src/components/Section.test.tsx
  webui/react/src/components/TimeAgo.test.tsx
  webui/react/src/components/UPlot/UPlotScatter.tsx
  webui/react/src/components/kit/LogViewer/LogViewer.test.tsx
  webui/react/src/components/kit/LogViewer/LogViewerEntry.test.tsx
  webui/react/src/components/kit/LogViewer/LogViewerSelect.test.tsx
  webui/react/src/components/kit/Select.test.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentEdit.tsx
  webui/react/src/hooks/useModal/Model/useModalModelEdit.tsx
  webui/react/src/hooks/useModal/Model/useModalModelMove.tsx
  webui/react/src/index.tsx
  webui/react/src/omnibar/tree-extension/trees/actions.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.test.tsx
  webui/react/src/pages/ExperimentDetails/CodeViewer/IpynbRenderer.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.table.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
  webui/react/src/pages/TrialsComparison/Collections/useTrialCollections.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceList.tsx
  webui/react/src/router.tsx
  webui/react/src/shared/components/ActionDropdown/ActionDropdown.test.tsx
  webui/react/src/shared/components/AvatarCard/AvatarCard.test.tsx
  webui/react/src/shared/components/Icon/icon.test.tsx
  webui/react/src/shared/components/Image/Image.test.tsx
  webui/react/src/shared/components/Message/Message.test.tsx
  webui/react/src/shared/components/Page/Page.test.tsx
  webui/react/src/shared/configs/eslintrc.js
Labels: cla-signed, shared-web

#6223 fix: ensures docker container is cleaned up if a container is killed after start, but before run [DET-8988]
  agent/internal/container/container.go
  agent/internal/container/container_api_test.go
Labels: cla-signed

#6226 docs: use theme templates better
  docs/_templates/analytics.html
  docs/_templates/page.html
Labels: documentation, cla-signed

#6208 fix: permission issue in member tab in workspace
  webui/react/src/components/Table/InteractiveTable.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceAddMember.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceRemoveMember.tsx
  webui/react/src/pages/WorkspaceDetails/RoleRenderer.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
  webui/react/src/types.ts
  webui/react/src/utils/user.ts
Labels: cla-signed

#6235 docs: add release notes for 0.20.1
  docs/release-notes.rst
  docs/release-notes/agent-reattach.rst
  docs/release-notes/nuke-agent-labels.rst
  docs/release-notes/nuke-columns.rst
  docs/release-notes/nuke-exp-compare.rst
  docs/release-notes/proxy.rst
  docs/release-notes/pt-images.rst
  docs/release-notes/rbac-ntsc-mr.rst
Labels: documentation, cla-signed

#6240 fix: Chart focus maintained as series changes
  webui/react/src/components/LearningCurveChart.tsx
  webui/react/src/components/UPlot/UPlotChart.tsx
  webui/react/src/components/kit/LineChart.tsx
Labels: cla-signed

#6224 chore: move from K80 to T4 GPU type defaults
  .circleci/config.yml
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-aws/aws-spot.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-aws/install-on-aws.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-gcp/install-gcp.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/setup-eks-cluster.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/setup-gke-cluster.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/release-notes/t4-gpu-default.rst
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/determined/deploy/gcp/terraform/variables.tf
  harness/determined/deploy/gke/constants.py
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/packaging/master.yaml
Labels: documentation, cla-signed

#6236 chore: add merge func for task container defaults [DET-9106]
  agent/go.mod
  agent/go.sum
  master/go.mod
  master/go.sum
  master/internal/db/postgres_checkpoints.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/pkg/model/task_container_defaults.go
  master/pkg/model/task_container_defaults_test.go
  master/pkg/set/set.go
Labels: cla-signed

#6241 chore: update npm libraries
  webui/react/package-lock.json
  webui/react/package.json
Labels: cla-signed

#6249 fix: correct cluster slots card size [WEB-1028]
  webui/react/src/pages/Cluster/ClusterOverallStats.tsx
Labels: cla-signed

#6254 Move dsat into harness
  ds_autotuning_prototype/examples/cifar10_example/script.py
  ds_autotuning_prototype/examples/ffn_example/autotune_config.yaml
  ds_autotuning_prototype/examples/ffn_example/script.py
  ds_autotuning_prototype/examples/torchvison_models_example/autotune_config.yaml
  ds_autotuning_prototype/examples/torchvison_models_example/script.py
  ds_autotuning_prototype/native_dsat_tests/torchvision_models_example/autotune_config.yaml
  ds_autotuning_prototype/native_dsat_tests/torchvision_models_example/startup-hook.sh
  ds_autotuning_prototype/other_tests/double_report_recovery/config.yaml
  ds_autotuning_prototype/other_tests/double_report_recovery/main.py
  harness/determined/pytorch/deepspeed/dsat/__init__.py
  harness/determined/pytorch/deepspeed/dsat/_defaults.py
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/pytorch/deepspeed/dsat/_run_dsat.py
  harness/determined/pytorch/deepspeed/dsat/_utils.py
  harness/determined/pytorch/deepspeed/dsat/autotune.py
Labels: cla-signed

#6251 fix: Nameplate icon width bug
  webui/react/src/components/kit/Nameplate.module.scss
  webui/react/src/components/kit/Nameplate.tsx
Labels: cla-signed

#6231 fix: update User Management table on new user [WEB-1011]
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/stores/users.tsx
Labels: cla-signed

#6239 feat: use Loadable in ChartGrid and LineChart
  webui/react/src/components/UPlot/UPlotChart.module.scss
  webui/react/src/components/UPlot/UPlotChart.tsx
  webui/react/src/components/kit/LineChart.module.scss
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/OldTimingMetricChart.tsx
Labels: cla-signed

#6262 fix: fixed too-large dataset bug
  ds_autotuning_prototype/examples/ffn_example/no_autotune_config.yaml
  ds_autotuning_prototype/examples/ffn_example_ds_launcher/autotune_config.yaml
  ds_autotuning_prototype/examples/ffn_example_ds_launcher/no_autotune_config.yaml
  ds_autotuning_prototype/examples/ffn_example_ds_launcher/script.py
  ds_autotuning_prototype/examples/ffn_example_ds_launcher/startup-hook.sh
  ds_autotuning_prototype/examples/ffn_example_torch_launcher/autotune_config.yaml
  ds_autotuning_prototype/examples/ffn_example_torch_launcher/no_autotune_config.yaml
  ds_autotuning_prototype/examples/ffn_example_torch_launcher/script.py
  ds_autotuning_prototype/examples/ffn_example_torch_launcher/startup-hook.sh
  ds_autotuning_prototype/examples/torchvison_models_example/script.py
Labels: cla-signed

#6263 docs: Slurm details updates [FOUNDENG-512]
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/overview.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-known-issues.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
Labels: documentation, cla-signed

#6256 chore: minor cleanup in useValueMemoizedObservable
  webui/react/src/utils/observable.ts
Labels: cla-signed

#6257 docs: retitle api reference docs
  docs/reference/reference-training/index.rst
  docs/reference/reference-training/training/api-core-reference.rst
  docs/reference/reference-training/training/api-deepspeed-reference.rst
  docs/reference/reference-training/training/api-det-reference.rst
  docs/reference/reference-training/training/api-estimator-reference.rst
  docs/reference/reference-training/training/api-keras-reference.rst
  docs/reference/reference-training/training/api-pytorch-lightning-reference.rst
  docs/reference/reference-training/training/api-pytorch-reference.rst
  docs/reference/reference-training/training/api-pytorch-samplers-reference.rst
  harness/determined/_import.py
Labels: documentation, cla-signed

#6261 chore: update requirement for Launcher version to 3.2.4
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/overview.rst
Labels: documentation, cla-signed

#6200 chore: take advantage of CheckpointContext handling sharded data [MLG-13]
  harness/determined/core/_checkpoint.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
Labels: cla-signed

#6237 test: Small refactor of CLI experiment tests
  harness/tests/cli/test_experiment.py
  harness/tests/common/api_server.py
Labels: cla-signed

#6264 fix: handle results of polling updates in allocation actor
  master/internal/task/allocation.go
Labels: cla-signed

#6258 fix: browser warnings
  webui/react/src/components/ActionSheet.tsx
  webui/react/src/components/kit/IconicButton.tsx
  webui/react/src/components/kit/LogViewer/LogViewer.tsx
  webui/react/src/pages/DesignKit.tsx
Labels: cla-signed

#6247 chore: do not error on shared_fs delete for nonexistent paths [MLG-378]
  harness/determined/common/storage/shared.py
  harness/tests/storage/util.py
Labels: cla-signed

#6215 chore: remove deprecated validation callbacks [MLG-21]
  docs/release-notes/remove-pt-callbacks.rst
  harness/determined/pytorch/_callback.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
Labels: documentation, cla-signed

#6271 test: initialize certs properly in an auth utility [DET-9104]
  .circleci/config.yml
  e2e_tests/tests/api_utils.py
Labels: cla-signed

#6220 fix: Load multi-trial learning curve with only training metrics [WEB-1026]
  master/internal/db/postgres_experiments.go
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpHeatMaps.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpScatterPlots.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
Labels: cla-signed

#6279 fix: remove perpetual spinner
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
Labels: cla-signed

#6276 chore: update code for new flake8 upgrade
  model_hub/model_hub/mmdetection/_callbacks.py
Labels: cla-signed

#6284 fix: login validation
  webui/react/src/hooks/useModal/UserSettings/useModalPasswordChange.tsx
Labels: cla-signed

#6282 MLG-337
  ds_autotuning_prototype/examples/ffn_ds_config/autotune_config.yaml
  ds_autotuning_prototype/examples/ffn_ds_config/ds_config.json
  ds_autotuning_prototype/examples/ffn_ds_config/ds_config_no_autotune.json
  ds_autotuning_prototype/examples/ffn_ds_config/no_autotune_config.yaml
  ds_autotuning_prototype/examples/ffn_ds_config/script.py
  ds_autotuning_prototype/examples/ffn_ds_config/startup-hook.sh
  harness/determined/pytorch/deepspeed/__init__.py
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
  harness/determined/pytorch/deepspeed/dsat/_defaults.py
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/pytorch/deepspeed/dsat/_run_dsat.py
  harness/determined/pytorch/deepspeed/dsat/_utils.py
  harness/determined/pytorch/deepspeed/dsat/autotune.py
  harness/determined/util.py
Labels: cla-signed

#6291 reset webui to latest master
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
Labels: cla-signed

#6272 chore: document dropping K80 support [MLG-385]
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-gcp/dynamic-agents-gcp.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/setup-gke-cluster.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-prem/requirements.rst
  docs/release-notes/discontinue-k80.rst
  harness/determined/deploy/gcp/preflight.py
  master/cmd/determined-gotmpl/main_test.go
  master/internal/config/provconfig/gcp_config.go
Labels: documentation, cla-signed

#6287 fix: Run environment bump scripts after environments fix
  .circleci/config.yml
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-gcp/install-gcp.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/singularity.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
  docs/interfaces/tensorboard.rst
  docs/reference/reference-deploy/config/helm-config-reference.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/reference/reference-interface/job-config-reference.rst
  docs/reference/reference-training/experiment-config-reference.rst
  docs/training/apis-howto/overview.rst
  docs/training/setup-guide/custom-env.rst
  e2e_tests/tests/config.py
  e2e_tests/tests/fixtures/pytorch_lightning_amp/apex_amp.yaml
  e2e_tests/tests/fixtures/pytorch_lightning_amp/auto_amp.yaml
  examples/computer_vision/efficientdet_pytorch/const.yaml
  examples/computer_vision/efficientdet_pytorch/const_fake.yaml
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/decision_trees/gbt_titanic_estimator/adaptive.yaml
  examples/decision_trees/gbt_titanic_estimator/const.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_3_cpu_offload.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_no_offload.yaml
  examples/deepspeed/cifar10_moe/moe.yaml
  examples/deepspeed/cifar10_moe/zero_stages.yaml
  examples/deepspeed/gpt_neox/Dockerfile
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  examples/graphs/proteins_pytorch_geometric/adaptive.yaml
  examples/graphs/proteins_pytorch_geometric/const.yaml
  examples/graphs/proteins_pytorch_geometric/distributed.yaml
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/keras/_tf_keras_trial.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-estimator/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  helm/charts/determined/templates/master-config.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
Labels: documentation, cla-signed

#6285 fix: update webui static gzip path regex
  master/internal/core.go
Labels: cla-signed

#6294 fix: fix err status code for ResourceAllocationRaw
  master/internal/api_master.go
Labels: cla-signed

#6292 ci: bump gke version to 1.23
  .circleci/config.yml
Labels: cla-signed

#6269 feat: show TrialWorkloads table when f_chart is on [WEB-1025]
  webui/react/src/pages/TrialDetails/F_TrialDetailsOverview.tsx
Labels: cla-signed

#5916 feat: Make Torchwriter behave like Pytorch SummaryWriter
  docs/interfaces/tensorboard.rst
  docs/reference/reference-training/training/api-deepspeed-reference.rst
  docs/reference/reference-training/training/api-keras-reference.rst
  docs/reference/reference-training/training/api-pytorch-reference.rst
  docs/release-notes/pytorch-tensorboard-writer.rst
  e2e_tests/tests/fixtures/metric_maker/metric_maker.py
  e2e_tests/tests/fixtures/no_op/model_def.py
  examples/deepspeed/deepspeed_dcgan/model_def.py
  examples/deepspeed/gpt_neox/det_utils.py
  examples/deepspeed/gpt_neox/gpt2_trial.py
  examples/gan/gan_mnist_pytorch/model_def.py
  examples/integrations/hf_trainer_api/image_classification.py
  harness/determined/_execution.py
  harness/determined/_trial_context.py
  harness/determined/_trial_controller.py
  harness/determined/core/_context.py
  harness/determined/core/_train.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/layers/_workload_sequencer.py
  harness/determined/pytorch/__init__.py
  harness/determined/pytorch/_metric_utils.py
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/determined/pytorch/lightning/_adapter.py
  harness/determined/tensorboard/base.py
  harness/determined/tensorboard/metric_writers/callback.py
  harness/determined/tensorboard/metric_writers/pytorch.py
  harness/determined/tensorboard/metric_writers/util.py
  harness/determined/util.py
  harness/tests/experiment/utils.py
  harness/tests/tensorboard/test_torch_writer.py
  harness/tests/tensorboard/test_util.py
  harness/tests/test_util.py
Labels: documentation, cla-signed, User-facing API Change

#6300 fix: correctly handle stopping_killed experiments on restart
  master/internal/db/postgres_experiments.go
Labels: cla-signed

#6298 fix: allocation rekill shouldn't use time.UTC in fine time checks [DET-9149]
  master/internal/task/allocation.go
Labels: cla-signed

#6301 docs: remove autodoc test snippet
  docs/reference/reference-training/training/api-core-reference.rst
Labels: documentation, cla-signed

#6303 feat: log gpu information in task logs [MLG-234] [DET-5274]
  harness/determined/exec/prep_container.py
Labels: cla-signed

#6230 feat: checkpoint delete in python SDK [MLG-377]
  e2e_tests/tests/test_sdk.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/trial.py
  harness/determined/experimental/client.py
Labels: cla-signed

#6286 feat: load PyTorchTrials with kwargs
  harness/determined/exec/harness.py
  harness/determined/pytorch/__init__.py
  harness/determined/pytorch/_load.py
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/_trainer.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.21.0-pytorch/code/const.yaml
  harness/tests/experiment/fixtures/ancient-checkpoints/0.21.0-pytorch/code/train.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.21.0-pytorch/load_data.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.21.0-pytorch/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.21.0-pytorch/state_dict.pth
  harness/tests/experiment/fixtures/ancient-checkpoints/0.21.0-pytorch/trial_state.pkl
  harness/tests/experiment/fixtures/ancient-checkpoints/README.md
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Labels: cla-signed, User-facing API Change

#6177 docs: PyTorch Trainer
  docs/reference/reference-training/training/api-pytorch-reference.rst
  docs/release-notes/trainer-api.rst
  docs/training/apis-howto/api-pytorch-ug.rst
  harness/determined/pytorch/_load.py
  harness/determined/pytorch/_trainer.py
Labels: documentation, cla-signed

#6268 chore: deprecated sdk methods
  docs/release-notes/6268-ckpt.txt
  e2e_tests/tests/experiment/test_launch.py
  e2e_tests/tests/experiment/test_pytorch.py
  e2e_tests/tests/experiment/test_tf_estimator.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/model.py
  harness/tests/launch/test_launch.py
  harness/tests/launch/test_util.py
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
Labels: documentation, cla-signed

#6281 feat: remove static agents from gcp deployments [MLG-366]
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-gcp/install-gcp.rst
  harness/determined/deploy/gcp/cli.py
  harness/determined/deploy/gcp/constants.py
  harness/determined/deploy/gcp/terraform/main.tf
  harness/determined/deploy/gcp/terraform/modules/compute/main.tf
  harness/determined/deploy/gcp/terraform/modules/compute/variables.tf
  harness/determined/deploy/gcp/terraform/outputs.tf
  harness/determined/deploy/gcp/terraform/variables.tf
Labels: documentation, cla-signed, python

#6260 ci: retry large pip installs
  .circleci/config.yml
  tools/scripts/retry.sh
Labels: cla-signed

#6296 linting fixes
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/pytorch/deepspeed/dsat/_run_dsat.py
  harness/determined/pytorch/deepspeed/dsat/_utils.py
Labels: cla-signed

#6308 fix: fix disable slot unexpected msg [DET-9155]
  master/internal/rm/agentrm/agent_slot.go
Labels: cla-signed

#6311 fix: tb_callback not found
  examples/integrations/hf_trainer_api/image_classification.py
Labels: cla-signed

#6310 chore: prepare for RBACed agents/slots enable/disable [DET-9156]
  e2e_tests/tests/cluster/test_rbac.py
  harness/determined/common/api/bindings.py
  master/internal/api_agents.go
  master/internal/api_master.go
  master/internal/api_user.go
  master/internal/cluster/authz_basic_impl.go
  master/internal/cluster/authz_iface.go
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#6306 docs: Improve task_container_defaults docs [DET-9120]
  docs/reference/reference-deploy/config/master-config-reference.rst
Labels: documentation, cla-signed

#6248 chore: avoid usage of k8s NamespaceAll easing k8s permission requirements [DET-9123]
  docs/release-notes/kube-no-namespace-all.rst
  master/.golangci.yml
  master/internal/rm/kubernetesrm/events.go
  master/internal/rm/kubernetesrm/informer.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/preemptions.go
  master/internal/rm/kubernetesrm/request_queue_test.go
Labels: documentation, cla-signed

#6313 fix: expand torch + distutils workaround [DET-9158]
  examples/deepspeed/gpt_neox/det_utils.py
  examples/deepspeed/gpt_neox/gpt2_trial.py
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
Labels: cla-signed

#6319 test: attempt to make TestIdleTimeoutWatcher more reliable
  master/internal/task/idle_timeout_test.go
Labels: cla-signed

#6188 chore: add modal to UI kit
  webui/react/src/components/kit/Button.module.scss
  webui/react/src/components/kit/Button.tsx
  webui/react/src/components/kit/Form.module.scss
  webui/react/src/components/kit/Form.tsx
  webui/react/src/components/kit/Modal.module.scss
  webui/react/src/components/kit/Modal.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/shared/styles/antd.scss
Labels: cla-signed, shared-web

#6148 feat: global port registry for unique port offset [DET-8954]
  .circleci/config.yml
  .circleci/devcluster/port-registry.devcluster.yaml
  agent/go.mod
  agent/go.sum
  e2e_tests/pytest.ini
  e2e_tests/tests/conftest.py
  e2e_tests/tests/experiment/test_port_registry.py
  examples/tutorials/mnist_pytorch/dist_random.yaml
  harness/determined/_env_context.py
  harness/determined/_execution.py
  harness/determined/_info.py
  harness/determined/constants.py
  harness/determined/core/_distributed.py
  harness/determined/exec/harness.py
  harness/determined/launch/torch_distributed.py
  harness/tests/experiment/utils.py
  harness/tests/launch/test_util.py
  harness/tests/tensorboard/test_util.py
  master/go.mod
  master/go.sum
  master/internal/core.go
  master/internal/db/postgres_tasks.go
  master/internal/db/postgres_tasks_intg_test.go
  master/internal/portregistry/port_registry.go
  master/internal/portregistry/port_registry_test.go
  master/internal/rm/agentrm/resources.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/trial.go
  master/pkg/model/task.go
  master/pkg/tasks/ports.go
  master/pkg/tasks/task.go
  master/pkg/tasks/task_trial.go
  master/static/migrations/20230313153707_add_port_offset_allocations.tx.down.sql
  master/static/migrations/20230313153707_add_port_offset_allocations.tx.up.sql
Labels: cla-signed

#6320 fix: workspace card issue
  webui/react/src/pages/WorkspaceList/WorkspaceCard.tsx
Labels: cla-signed

#6324 feat: show log viewer agent filter options even when there is one option
  webui/react/src/components/kit/LogViewer/LogViewerSelect.tsx
  webui/react/src/shared/prototypes.ts
Labels: cla-signed, shared-web

#6327 fix: Fix user store
  webui/react/src/stores/users.tsx
Labels: cla-signed

#6329 docs: fix release note
  docs/interfaces/proxy-ports.rst
  docs/release-notes.rst
Labels: documentation, cla-signed

#6315 docs: update index pages with minor edits
  docs/architecture/index.rst
  docs/assets/images/det-ai-sys-arch-01-start-dark.png
  docs/assets/images/det-ai-sys-arch-01-start-light.png
  docs/index.rst
Labels: documentation, cla-signed
