Repository determined-ai/determined, pull requests merged in 2023-12, with the labels that each got.

#8512 fix: Model delete redirect only needed if inside the model [WEB-1867]
  webui/react/src/components/DeleteModelModal.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
Labels: cla-signed

#8518 feat: Retry for multi-trial experiments with errored trials
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/utils/experiment.ts
Labels: cla-signed

#8519 test: add more Go db tests
  master/internal/db/postgres_command.go
  master/internal/db/postgres_command_intg_test.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_test_utils.go
Labels: cla-signed

#8521 fix: allow slots per trial to be 0 [WEB-1871]
  webui/react/src/stores/cluster.tsx
Labels: cla-signed

#8514 ci: add Go coverage regex match so we can require some functions to be tested
  .circleci/real_config.yml
  go.mod
  master/cmd/cover-regex/cover_regex.go
Labels: cla-signed

#8510 fix(api): delete experiment error handling corrections
  master/internal/api_experiment.go
Labels: cla-signed, to-cherry-pick

#8533 test: make `DET_MASTER` configurable in the perf test `Makefile`.
  performance/Makefile
Labels: cla-signed

#8482 chore: Use Hew SplitPane [WEB-1682]
  webui/react/src/components/SplitPane.module.scss
  webui/react/src/components/SplitPane.tsx
  webui/react/src/pages/F_ExpList/ComparisonView.tsx
Labels: cla-signed

#8544 docs: Improve webhooks tasklog
  docs/integrations/notification/_index.rst
Labels: documentation, cla-signed

#8548 fix: correct docs link in empty project [WEB-1879]
  webui/react/src/pages/F_ExpList/glide-table/exceptions.tsx
Labels: cla-signed

#8537 test: add more tests to db/postgres_experiments.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_test_utils.go
Labels: cla-signed

#8549 test: fix failing nightly test splits [DET-10008]
  e2e_tests/tests/experiment/test_custom_searcher.py
  e2e_tests/tests/experiment/test_custom_searcher_asha.py
  e2e_tests/tests/experiment/test_custom_searcher_asha_2a.py
Labels: cla-signed

#8540 test: skip all failing `mmdetection` tests.
  .circleci/real_config.yml
  e2e_tests/pytest.ini
  e2e_tests/tests/conftest.py
  e2e_tests/tests/model_hub/test_mmdetection.py
Labels: cla-signed

#8520 fix: makes metrics append-only & resolves deadlock on listener timeouts
  master/internal/stream/metrics.go
  master/internal/stream/system.go
  master/internal/stream/test_util.go
  master/static/migrations/20231116155837_add-metrics-trigger.tx.down.sql
  master/static/migrations/20231116155837_add-metrics-trigger.tx.up.sql
  master/stream.py
Labels: cla-signed

#8387 chore: Rename show_ssh_command in CLI and add message for VSCode WSL Users
  harness/determined/cli/__init__.py
  harness/determined/cli/_util.py
  harness/determined/cli/experiment.py
  harness/determined/cli/notebook.py
  harness/determined/cli/shell.py
  harness/determined/cli/tensorboard.py
Labels: cla-signed

#8550 Mention det python sdk demo
  docs/reference/python-sdk.rst
Labels: documentation, cla-signed

#8561 docs: Add a link to mldes trial
  docs/setup-cluster/_index.rst
Labels: documentation, cla-signed

#8474 feat: streaming updates checkpoints
  master/internal/stream/authz_basic_impl.go
  master/internal/stream/authz_iface.go
  master/internal/stream/checkpoints.go
  master/internal/stream/system.go
  master/internal/stream/system_intg_test.go
  master/internal/stream/test_util.go
  master/static/migrations/20231126215150_add-checkpoints-trigger.tx.down.sql
  master/static/migrations/20231126215150_add-checkpoints-trigger.tx.up.sql
  master/stream.py
  master/test/streamdata/stream_data.go
  master/test/streamdata/stream_trials.sql
Labels: cla-signed

#8565 docs: Fix workspaces projects left nav
  docs/manage/workspaces.rst
Labels: documentation, cla-signed

#8560 test: store test results for `test-e2e-gke`.
  .circleci/real_config.yml
Labels: cla-signed

#8535 chore: run to checkpoint migration
  master/internal/api_checkpoint_intg_test.go
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  master/internal/core_checkpoint_intg_test.go
  master/internal/db/postgres_checkpoints_intg_test.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_model_intg_test.go
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/run/postgres_run_intg_test.go
  master/pkg/model/experiment.go
  master/static/migrations/20231204141901_run-checkpoints.tx.down.sql
  master/static/migrations/20231204141901_run-checkpoints.tx.up.sql
  master/test/integration/api/api_checkpoints_test.go
  master/test/olddata/pre_run_trials.go
Labels: cla-signed

#8547 chore: move runner_state from trials_v2 to runs
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/pkg/model/experiment.go
  master/static/migrations/20231129123059_run-trial-v2-create.tx.down.sql
  master/static/migrations/20231129123059_run-trial-v2-create.tx.up.sql
Labels: cla-signed

#8572 Revert "docs: Add a link to mldes trial"
  docs/setup-cluster/_index.rst
Labels: documentation, cla-signed

#8557 chore: Model metadata sections move to Surface [WEB-1813]
  webui/react/src/components/Metadata/MetadataCard.module.scss
  webui/react/src/components/Metadata/MetadataCard.tsx
Labels: cla-signed

#8531 chore: run id task id migration
  master/internal/api_experiment.go
  master/internal/api_trials_intg_test.go
  master/internal/db/postgres_checkpoints.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_tasks.go
  master/internal/db/postgres_trial.go
  master/internal/experiment.go
  master/internal/trial.go
  master/pkg/model/experiment.go
  master/static/migrations/20231211122516_run_id_task_id.tx.down.sql
  master/static/migrations/20231211122516_run_id_task_id.tx.up.sql
  master/static/srv/get_raw_allocation.sql
  master/static/srv/proto_get_trials_plus.sql
  master/static/srv/update_aggregated_allocation.sql
Labels: cla-signed

#8421 feat: filter out inactive users from list and add option to see all users
  docs/release-notes/list-active-users.rst
  e2e_tests/tests/cluster/test_users.py
  harness/determined/cli/user.py
  harness/determined/common/experimental/determined.py
  harness/determined/experimental/client.py
Labels: documentation, cla-signed, User-facing API Change

#8563 chore: add lore help and experimental disclaimer
  harness/determined/deploy/aws/cli.py
Labels: cla-signed

#8573 docs: Update oidc group claim name notes
  docs/manage/users-remote.rst
Labels: documentation, cla-signed

#8575 chore: include cluster name in stack deletion confirmation
  harness/determined/deploy/aws/cli.py
Labels: cla-signed

#8570 docs: Rename submit experiment
  docs/.redirects/redirects.json
  docs/model-dev-guide/create-experiment.rst
Labels: documentation, cla-signed

#8566 chore: release notes for 0.26.6
  docs/release-notes.rst
Labels: documentation, cla-signed

#8464 chore: implement GetSlot, GetSlots, and GetAgent for K8s rm
  master/Makefile
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pods.go
Labels: cla-signed

#8542 chore: remove --dry-run option from det deploy aws [MLG-983]
  docs/release-notes/remove-dry-run-det-deploy-aws.rst
  harness/determined/deploy/aws/cli.py
Labels: documentation, cla-signed

#8471 ci: unit-test login scenarios
  e2e_tests/tests/cluster/test_users.py
  e2e_tests/tests/command/test_shell.py
  harness/determined/common/api/authentication.py
  harness/tests/cli/test_auth.py
  harness/tests/cli/test_user.py
  harness/tests/cli/util.py
  harness/tests/requirements/requirements-cli.txt
Labels: cla-signed

#8569 build: avoid installing playwright by `make build`
  .circleci/real_config.yml
  webui/react/Makefile
Labels: cla-signed

#8558 fix: master cannot download s3 from us-east-1
  docs/release-notes/fix-master-download.rst
  master/internal/core_checkpoint_intg_test.go
  master/pkg/checkpoints/s3/s3checkpoints.go
Labels: documentation, cla-signed

#8526 feat: Update the "Continue Single trial experiment" workflow
  webui/react/src/components/ExperimentContinueModal.module.scss
  webui/react/src/components/ExperimentContinueModal.tsx
  webui/react/src/components/ExperimentCreateModal.test.tsx
  webui/react/src/components/ExperimentCreateModal.tsx
  webui/react/src/components/PageHeaderFoldable.module.scss
  webui/react/src/components/PageHeaderFoldable.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
  webui/react/src/services/types.ts
  webui/react/src/utils/experiment.ts
Labels: cla-signed

#8545 fix(tasks): persist rendezvous readiness
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/task/allocation_service.go
  master/internal/task/allocation_service_iface.go
  master/internal/task/allocation_service_test.go
  master/pkg/syncx/queue/queue.go
  master/pkg/syncx/queue/queue_test.go
Labels: cla-signed

#8585 feat: add projects streaming entity
  master/internal/stream/authz_basic_impl.go
  master/internal/stream/authz_iface.go
  master/internal/stream/projects.go
  master/internal/stream/system.go
  master/internal/stream/system_intg_test.go
  master/internal/stream/test_util.go
  master/static/migrations/20231211011129_add-projects-trigger.tx.down.sql
  master/static/migrations/20231211011129_add-projects-trigger.tx.up.sql
  master/stream.py
  master/test/streamdata/stream_data.go
Labels: cla-signed

#8589 chore: updated lock api state for backward compatibility check
  proto/buf.image.bin
Labels: cla-signed, to-cherry-pick

#8505 feat: add local checkpoint storage download through server
  docs/release-notes/checkpoint-fs-server-download.rst
  e2e_tests/tests/cluster/test_checkpoints.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/deploy/local/cluster_utils.py
  master/internal/api_tensorboard.go
  master/pkg/checkpoints/checkpoints.go
  master/pkg/checkpoints/gcs/gcs_checkpoints.go
  master/pkg/checkpoints/local/local_checkpoints.go
  master/pkg/checkpoints/s3/s3checkpoints.go
  master/pkg/schemas/expconf/storage_config.go
Labels: documentation, cla-signed

#8592 test: skip more `mmdetection` tests [DET-10036]
  e2e_tests/tests/model_hub/test_mmdetection.py
Labels: cla-signed

#8587 chore: update byExternalToken signature
  master/internal/user/external_users.go
  master/internal/user/postgres_users.go
Labels: cla-signed

#8543 chore: encode path parameters in generated bindings [MLG-781]
  bindings/generate_bindings_py.py
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/experiment.py
  harness/tests/determined/common/experimental/test_experiment.py
Labels: cla-signed

#8422 fix: allow for `model_dir` to be None when submitting experiments
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/fixtures/no_op/empty_model_dir.yaml
  e2e_tests/tests/test_sdk.py
  harness/determined/cli/experiment.py
  harness/determined/common/experimental/determined.py
  harness/determined/exec/prep_container.py
  harness/determined/experimental/client.py
  master/pkg/model/experiment.go
Labels: cla-signed

#8595 fix: Change slot number back to 2 in Keras example
  examples/computer_vision/iris_tf_keras/distributed.yaml
Labels: cla-signed

#8584 chore: drop raw_checkpoints table
  master/static/migrations/20231208132223_drop-raw-checkpoints.tx.down.sql
  master/static/migrations/20231208132223_drop-raw-checkpoints.tx.up.sql
Labels: cla-signed

#8513 fix: antd.Typography with expansion tooltips moved to hew [WEB-1862]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ExperimentMoveModal.tsx
  webui/react/src/components/ModelRegistry.tsx
  webui/react/src/components/OverviewStats.module.scss
  webui/react/src/components/OverviewStats.tsx
  webui/react/src/components/ProjectCard.module.scss
  webui/react/src/components/ProjectCard.tsx
  webui/react/src/components/ProjectMoveModal.tsx
  webui/react/src/components/Table/Table.tsx
  webui/react/src/components/UserSettings.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpTrialTable.tsx
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceCard.module.scss
  webui/react/src/pages/WorkspaceList/WorkspaceCard.tsx
Labels: cla-signed

#8582 refactor: Replace antd imports with UI kit usage [WEB-1723]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/CreateUserModal.tsx
  webui/react/src/components/DynamicTabs.tsx
  webui/react/src/components/ExperimentStopModal.tsx
  webui/react/src/components/FilterForm/components/FilterField.tsx
  webui/react/src/components/GridListRadioGroup.tsx
  webui/react/src/components/HpSelect.tsx
  webui/react/src/components/Markdown.tsx
  webui/react/src/components/Metadata/MetadataCard.tsx
  webui/react/src/components/MetricSelect.tsx
  webui/react/src/components/ModelRegistry.tsx
  webui/react/src/components/ProjectMoveModal.tsx
  webui/react/src/components/RadioGroup.module.scss
  webui/react/src/components/RadioGroup.test.tsx
  webui/react/src/components/RadioGroup.tsx
  webui/react/src/components/TaskList.tsx
  webui/react/src/components/UserSettings.tsx
  webui/react/src/components/WorkspaceCreateModal.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.module.scss
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
  webui/react/src/pages/Admin/index.tsx
  webui/react/src/pages/Cluster.tsx
  webui/react/src/pages/Cluster/ClusterQueuedChart.module.scss
  webui/react/src/pages/Cluster/ClusterQueuedChart.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentMultiTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/ResourcePool/ResourcepoolDetail.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
Labels: cla-signed

#8596 fix: prevent theme settings conflict in multi-client/window scenario
  webui/react/src/App.tsx
  webui/react/src/hooks/useTheme.settings.ts
  webui/react/src/stores/userSettings.tsx
Labels: cla-signed

#8593 chore: Change CLI and constants
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/constants.py
  harness/determined/deploy/aws/deployment_types/base.py
  harness/determined/deploy/aws/deployment_types/vpc.py
  harness/determined/deploy/aws/injector/master.yaml.tmpl
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
Labels: cla-signed

#8597 chore: Upgrade hew to 0.6.19
  webui/react/package-lock.json
  webui/react/package.json
Labels: cla-signed

#8554 chore: Remove attrdict from model hub
  model_hub/docker/Dockerfile.transformers
  model_hub/model_hub/huggingface/_config_parser.py
  model_hub/model_hub/huggingface/_trial.py
  model_hub/model_hub/mmdetection/_trial.py
  model_hub/model_hub/utils.py
  model_hub/setup.py
  model_hub/tests/test_hf.py
  model_hub/tests/test_mmdetection.py
Labels: cla-signed

#8583 fix: Show experiment loading state before first loading
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Labels: cla-signed

#8601 docs: add release notes for 0.26.7
  docs/release-notes.rst
  docs/release-notes/fix-master-download.rst
  docs/release-notes/list-active-users.rst
  docs/release-notes/remove-dry-run-det-deploy-aws.rst
Labels: documentation, cla-signed

#8603 chore: Model Version pages to Hew UI [WEB-1814]
  webui/react/src/components/Metadata/MetadataCard.module.scss
  webui/react/src/components/Metadata/MetadataCard.tsx
  webui/react/src/pages/ModelVersionDetails.module.scss
  webui/react/src/pages/ModelVersionDetails.tsx
Labels: cla-signed

#8446 Add network connectivity diagram
  docs/assets/images/_det-ai-sys-arch-01-dark.png
  docs/assets/images/_det-ai-sys-arch-01-light.png
  docs/assets/images/_det-ai-sys-arch-01-start-dark.png
  docs/assets/images/_det-ai-sys-arch-01-start-light.png
  docs/get-started/architecture/system-architecture.rst
  docs/setup-cluster/checklists/adv-requirements.rst
Labels: documentation, cla-signed

#8591 chore: add metric integration tests for streaming updates
  master/internal/stream/checkpoints.go
  master/internal/stream/experiments.go
  master/internal/stream/metrics.go
  master/internal/stream/system_intg_test.go
  master/internal/stream/test_util.go
  master/internal/stream/trials.go
  master/test/streamdata/stream_data.go
  master/test/streamdata/stream_data.sql
Labels: cla-signed

#8607 docs: Fix mmdetection readme link
  docs/reference/model-hub/mmdetection-api.rst
Labels: documentation, cla-signed

#8620 fix: update experiment hp search param quoting
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
Labels: cla-signed

#8612 chore: fix a typo in RRI
  master/internal/sproto/task.go
Labels: cla-signed
