Repository determined-ai/determined, pull requests merged in 2023-07, with the labels that each got.

#7254 docs: Make correction on workspaces page
  docs/setup-cluster/workspaces.rst
Labels: documentation, cla-signed

#7198 chore: use settings value for omnibar shortcut
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/omnibar/Omnibar.tsx
  webui/react/src/pages/Settings/UserSettings.settings.ts
  webui/react/src/utils/shortcut.ts
Labels: cla-signed

#7184 feat: keyboard shortcut for JupyterLabModal
  webui/react/src/App.tsx
  webui/react/src/components/JupyterLabButton.tsx
  webui/react/src/components/JupyterLabGlobal.tsx
  webui/react/src/pages/Settings/UserSettings.settings.ts
Labels: cla-signed

#7288 docs: Provide additional Slurm configuration guidance [FE-88]
  docs/reference/training/experiment-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/slurm-known-issues.rst
  docs/setup-cluster/deploy-cluster/slurm/slurm-requirements.rst
Labels: documentation, cla-signed

#7262 chore: GCP operation tracker refactor
  master/internal/rm/agentrm/provisioner/gcp.go
  master/internal/rm/agentrm/provisioner/gcp_operation_tracker.go
Labels: cla-signed

#7291 chore: update pillow version for test requirements
  examples/tests/requirements.txt
Labels: cla-signed

#7293 fix: Link omnibar shortcut to new Space convention [WEB-1418]
  webui/react/src/pages/Settings/UserSettings.settings.ts
Labels: cla-signed

#7286 feat: list resource pool binding
  webui/react/src/components/ResourcePoolCard.module.scss
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/hooks/useFeature.ts
Labels: cla-signed

#7302 test: pin pydantic in e2e_tests
  e2e_tests/tests/requirements.txt
Labels: cla-signed

#7255 feat: add summary metrics to SDK and CLI [MLG-648]
  harness/determined/cli/trial.py
  harness/determined/common/experimental/trial.py
  harness/tests/determined/common/experimental/test_determined.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/trial.json
Labels: cla-signed

#7220 fix: set user in model CLI client [DET-9612]
  harness/determined/cli/checkpoint.py
  harness/determined/cli/model.py
  harness/determined/cli/trial.py
Labels: cla-signed

#7305 chore: set up for strict rbac jq control
  docs/reference/deploy/config/master-config-reference.rst
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/cluster/test_rbac.py
  harness/determined/common/api/bindings.py
  master/internal/api_job.go
  master/internal/api_master.go
  master/internal/config/authz_config.go
  master/internal/job/authz_basic_impl.go
  master/internal/job/authz_iface.go
  proto/pkg/apiv1/master.pb.go
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/api/v1/master.proto
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: documentation, cla-signed, User-facing API Change

#7308 feat: List RPs Avaiable to Workspace [DET-9531]
  master/internal/api_workspace.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
  master/internal/mocks/workspace_authz_iface.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
Labels: cla-signed

#7278 chore: Remove TimeSeries log scale, SummarizeTrial [WEB-1406]
  docs/release-notes/7278-remove-log-option.rst
  harness/determined/common/api/bindings.py
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/experiment.pb.go
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/api/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
Labels: documentation, cla-signed, User-facing API Change

#7295 feat: launch.deepspeed passes (almost) all envvars
  harness/determined/launch/deepspeed.py
  harness/tests/launch/test_deepspeed.py
Labels: cla-signed

#7323 fix: navbarCollapsed shortcut key
  webui/react/src/pages/Settings/UserSettings.settings.ts
Labels: cla-signed

#7321 fix: Table header context menu enabled [WEB-1382]
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Labels: cla-signed, feature-flagged

#7226 chore: golangci check the package instead
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  pre-commit/run-golangci-lint.sh
Labels: Work in progress, cla-signed

#7330 chore: fix golangci-lint pre-commit
  pre-commit/run-golangci-lint.sh
Labels: cla-signed

#7322 chore: Add new UserSettings store [WEB-1353]
  webui/react/src/App.tsx
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/hooks/useSettings.ts
  webui/react/src/hooks/useSettingsProvider.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/SignOut.tsx
  webui/react/src/stores/userSettings.tsx
Labels: cla-signed

#7334 fix: Fix type mismatch on design page
  webui/react/design/index.tsx
Labels: cla-signed

#7252 fix: harmonize python & golang GET NotFound errs [DET-9606]
  e2e_tests/tests/cluster/test_groups.py
  e2e_tests/tests/command/test_run.py
  harness/determined/cli/__init__.py
  harness/determined/cli/_util.py
  harness/determined/cli/command.py
  harness/determined/cli/experiment.py
  harness/determined/cli/project.py
  harness/determined/cli/user_groups.py
  harness/determined/cli/workspace.py
  harness/determined/common/api/errors.py
  harness/determined/common/api/request.py
  master/internal/api/error.go
  master/internal/core_checkpoint_intg_test.go
Labels: cla-signed

#7328 fix: Download to existing directory from shared_fs source [MLG-672]
  harness/determined/common/experimental/checkpoint/_checkpoint.py
Labels: cla-signed

#7331 chore: temporarily disable python-coverage on test-gpu
  .circleci/config.yml
Labels: cla-signed

#7333 docs: correct release date for 0.23.2
  docs/release-notes.rst
Labels: documentation, cla-signed

#7338 chore: fix flaky TestReceiveContainerLog
  master/internal/rm/kubernetesrm/pod.go
Labels: cla-signed

#7340 chore: fix ray proxy pydantic testing issue
  examples/features/ports/startup-hook.sh
Labels: cla-signed

#7336 fix: ensure design kit landing page is typechecked
  webui/react/design/index.tsx
  webui/react/tsconfig.json
Labels: cla-signed

#7342 docs/Edit homepage title
  docs/index.rst
Labels: documentation, cla-signed

#7327 docs: fix version switcher
  docs/_templates/sidebar-version.html
  docs/conf.py
Labels: documentation, cla-signed

#7307 chore: removed echo-backed /config and updated cli [DET-9580]
  docs/release-notes/removed_config_endpoint.rst
  e2e_tests/tests/cluster/managed_cluster.py
  harness/determined/cli/master.py
  master/internal/core.go
  master/internal/user/service.go
  master/internal/user/service_test.go
Labels: documentation, cla-signed

#7339 feat: create bindings tab in resource pool detail page
  webui/react/src/components/ResourcePoolBindings.module.scss
  webui/react/src/components/ResourcePoolBindings.tsx
  webui/react/src/pages/ResourcepoolDetail.tsx
Labels: cla-signed

#7314 refactor: remove unused `Trial.JobID` property.
  master/internal/api_experiment.go
  master/internal/db/postgres_test_utils.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/populate_metrics.go
  master/internal/trial.go
  master/pkg/model/experiment.go
  master/test/integration/api/api_checkpoints_test.go
  master/test/integration/api/api_trials_test.go
Labels: cla-signed

#7346 chore: fix bad merge rebase
  harness/determined/common/api/_util.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/model.py
  harness/determined/experimental/client.py
  harness/tests/determined/common/experimental/test_experiment.py
Labels: cla-signed

#7344 chore: corrected CLI to not nest master config under `config`
  e2e_tests/tests/cluster/managed_cluster.py
  harness/determined/cli/master.py
Labels: cla-signed

#7297 chore: Remove/archive trial collection code [WEB-938] [WEB-1289]
  e2e_tests/tests/cluster/test_trial_collections.py
  harness/determined/common/api/bindings.py
  master/internal/api.go
  master/internal/trials/api_trials.go
  master/internal/trials/authz_basic_impl.go
  master/internal/trials/authz_iface.go
  master/internal/trials/postgres_trials.go
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/trial.proto
  webui/react/src/components/LearningCurveChart.tsx
  webui/react/src/components/Table/TableFilterMultiSearch.module.scss
  webui/react/src/components/Table/TableFilterMultiSearch.tsx
  webui/react/src/components/Table/TableFilterRange.tsx
  webui/react/src/components/Table/TableFilterRank.module.scss
  webui/react/src/components/Table/TableFilterRank.tsx
  webui/react/src/constants/states.ts
  webui/react/src/hooks/useFeature.test.tsx
  webui/react/src/hooks/useFeature.ts
  webui/react/src/hooks/useHighlight.ts
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/TrialsComparison/Actions/useModalTagTrials.module.scss
  webui/react/src/pages/TrialsComparison/Actions/useModalTagTrials.tsx
  webui/react/src/pages/TrialsComparison/Actions/useTrialActions.tsx
  webui/react/src/pages/TrialsComparison/Actions/utils.ts
  webui/react/src/pages/TrialsComparison/Collections/collections.ts
  webui/react/src/pages/TrialsComparison/Collections/filters.ts
  webui/react/src/pages/TrialsComparison/Collections/useModalCreateCollection.module.scss
  webui/react/src/pages/TrialsComparison/Collections/useModalCreateCollection.tsx
  webui/react/src/pages/TrialsComparison/Collections/useModalRenameCollection.module.scss
  webui/react/src/pages/TrialsComparison/Collections/useModalRenameCollection.tsx
  webui/react/src/pages/TrialsComparison/Collections/useModalViewFilters.module.scss
  webui/react/src/pages/TrialsComparison/Collections/useModalViewFilters.tsx
  webui/react/src/pages/TrialsComparison/Collections/useTrialCollections.module.scss
  webui/react/src/pages/TrialsComparison/Collections/useTrialCollections.tsx
  webui/react/src/pages/TrialsComparison/Metrics/useLearningCurveData.ts
  webui/react/src/pages/TrialsComparison/Metrics/useMetricView.tsx
  webui/react/src/pages/TrialsComparison/Table/TrialTable.module.scss
  webui/react/src/pages/TrialsComparison/Table/TrialTable.tsx
  webui/react/src/pages/TrialsComparison/Table/rangeFilter.tsx
  webui/react/src/pages/TrialsComparison/Table/settings.ts
  webui/react/src/pages/TrialsComparison/Table/tagsRenderer.tsx
  webui/react/src/pages/TrialsComparison/Trials/data.ts
  webui/react/src/pages/TrialsComparison/Trials/useFetchTrials.ts
  webui/react/src/pages/TrialsComparison/TrialsComparison.module.scss
  webui/react/src/pages/TrialsComparison/TrialsComparison.tsx
  webui/react/src/pages/TrialsComparison/api.ts
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/themes.ts
  webui/react/src/utils/data.ts
Labels: cla-signed

#7351 chore: correct order of err check for master config
  master/internal/api_master.go
Labels: cla-signed

#7324 ci: track unreleased cherry-picked PRs during release
  tools/scripts/gql.py
  tools/scripts/track-pr
Labels: cla-signed

#7251 ci: tweak PR title matching in release tracking
  tools/scripts/track-pr
Labels: cla-signed

#7273 docs: Batch Processing API doc
  docs/index.rst
  docs/model-dev-guide/batch-processing/batch-process-api-ug.rst
  docs/model-dev-guide/index.rst
  docs/reference/batch-processing/api-torch-batch-process-reference.rst
  harness/determined/pytorch/experimental/_torch_batch_process.py
Labels: documentation, cla-signed

#6735 feat: add tls to notebook connections [DET-9002]
  master/internal/api_notebook.go
  master/internal/command/command.go
  master/internal/proxy/proxy.go
  master/internal/proxy/proxy_intg_test.go
  master/internal/proxy/tls.go
  master/internal/proxy/ws.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/static/migrations/20230627110731_add-cert-and-key-store.tx.down.sql
  master/static/migrations/20230627110731_add-cert-and-key-store.tx.up.sql
  master/static/srv/check_idle.py
  master/static/srv/notebook-entrypoint.sh
Labels: cla-signed

#7270 fix: SDK methods don't update local on failure
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/model.py
  harness/tests/determined/common/experimental/test_checkpoint.py
  harness/tests/determined/common/experimental/test_model.py
Labels: cla-signed

#7359 fix: Cleared date field removed from filters [WEB-1408]
  webui/react/src/components/FilterForm/components/FilterField.tsx
Labels: cla-signed, feature-flagged

#7357 ci: try rebasing main before checking PR (INFENG-178)
  .github/workflows/check-rebaseable.yml
Labels: cla-signed

#7348 chore: bumpenvs
  .circleci/config.yml
  docs/interfaces/tensorboard.rst
  docs/model-dev-guide/apis-howto/overview.rst
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/reference/deploy/config/helm-config-reference.rst
  docs/reference/deploy/config/master-config-reference.rst
  docs/reference/interface/job-config-reference.rst
  docs/reference/training/experiment-config-reference.rst
  docs/setup-cluster/deploy-cluster/gcp/install-gcp.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/deploy-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_3_cpu_offload.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_no_offload.yaml
  examples/deepspeed/cifar10_moe/moe.yaml
  examples/deepspeed/cifar10_moe/zero_stages.yaml
  examples/deepspeed/deepspeed_dcgan/cifar10_zero2.yaml
  examples/deepspeed/deepspeed_dcgan/mnist.yaml
  examples/deepspeed/deepspeed_dcgan/mnist_grad_accum.yaml
  examples/deepspeed/gpt_neox/Dockerfile
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  examples/deepspeed_autotune/torchvision/core_api/deepspeed.yaml
  examples/deepspeed_autotune/torchvision/deepspeed_trial/deepspeed.yaml
  examples/graphs/proteins_pytorch_geometric/adaptive.yaml
  examples/graphs/proteins_pytorch_geometric/const.yaml
  examples/graphs/proteins_pytorch_geometric/distributed.yaml
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
  harness/determined/estimator/_estimator_trial.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-estimator/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/experiment/fixtures/pytorch_lightning_amp/apex_amp.yaml
  harness/tests/experiment/fixtures/pytorch_lightning_amp/auto_amp.yaml
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
Labels: documentation, cla-signed

#7361 fix: reverting not-found-errs change to python user-groups
  e2e_tests/tests/cluster/test_groups.py
  e2e_tests/tests/cluster/test_rbac.py
  harness/determined/cli/user_groups.py
Labels: cla-signed

#7363 fix: Fix issue in user settings store
  webui/react/src/stores/userSettings.tsx
Labels: cla-signed, to-cherry-pick

#7290 fix: TypeError 'NoneType' object processing exp config
  harness/determined/cli/command.py
  harness/determined/cli/experiment.py
Labels: cla-signed

#7269 docs: add HPE marketing analytics code [WEB-1295]
  docs/_templates/analytics.html
Labels: documentation, cla-signed

#7349 fix: handle long values
  webui/react/src/components/NavigationSideBar.module.scss
  webui/react/src/components/kit/Nameplate.module.scss
  webui/react/src/components/kit/Nameplate.tsx
Labels: cla-signed

#7345 ci(circle/test-unit): regroup gpu unit tests
  .circleci/config.yml
Labels: cla-signed

#7304 feat: allow merging metrics with same batch number
  docs/release-notes/metric-merge.rst
  harness/determined/cli/trial.py
  master/internal/api_trials_intg_test.go
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
  master/internal/db/postgres_trial_metrics_test.go
Labels: documentation, cla-signed

#7354 fix: Trials use their own trial state enum [DET-9639]
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_custom_searcher.py
  harness/determined/cli/proxy.py
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_trials.go
  proto/buf.image.bin
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#7320 feat: add training metrics to columns api
  master/internal/api_project.go
  webui/react/src/ioTypes.ts
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/utils/data.ts
Labels: cla-signed

#7366 fix: use DEFAULT_COLUMNS in GroupManagement table
  webui/react/src/pages/Settings/GroupManagement.tsx
Labels: cla-signed, to-cherry-pick

#7371 chore: use det custom json encoder in print_json
  harness/determined/cli/render.py
Labels: cla-signed

#7259 chore: update make_url utility with fallback
  e2e_tests/tests/command/test_notebook.py
  harness/determined/cli/dev.py
  harness/determined/common/api/__init__.py
  harness/determined/common/api/_util.py
  harness/determined/common/api/request.py
  harness/tests/common/test_api.py
  master/internal/core.go
Labels: cla-signed

#7376 chore: clean up comments in trial and metric code
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
  master/internal/db/postgres_trial_metrics_test.go
Labels: cla-signed

#7367 ci: fix some bugs in tracking of cherry-picked PRs
  tools/scripts/track-pr
Labels: cla-signed

#7368 fix: Metrics reporting no data
  webui/react/src/hooks/useMetricNames.ts
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#7382 fix: new exp detail crash [WEB-1444]
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
Labels: cla-signed

#7362 fix: add condition by default in filter
  webui/react/src/components/FilterForm/TableFilter.tsx
Labels: cla-signed

#7353 chore: rename metric type concept to metric group
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
  master/internal/trials/postgres_trials.go
  master/pkg/model/experiment.go
  master/pkg/model/metrics.go
  master/pkg/model/metrics_test.go
  master/pkg/protoutils/protoconverter/converter.go
  proto/buf.image.bin
  proto/pkg/apiv1/experiment.pb.go
  proto/pkg/apiv1/trial.pb.go
  proto/pkg/metricv1/metric.pb.go
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/api/v1/trial.proto
  proto/src/determined/metric/v1/metric.proto
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpHeatMaps.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpScatterPlots.tsx
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed, User-facing API Change

#7389 chore: bump up flake8 to 3.9.2
  requirements.txt
Labels: cla-signed

#7318 feat: added a new API endpoint to patch master config while cluster is running [DET-9376]
  docs/release-notes/patch_master_config.rst
  harness/determined/cli/master.py
  harness/determined/common/api/bindings.py
  master/internal/api_master.go
  master/internal/cluster/authz_basic_impl.go
  master/internal/cluster/authz_iface.go
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/master.pb.go
  proto/pkg/masterv1/master.pb.go
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/master.proto
  proto/src/determined/master/v1/master.proto
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: documentation, cla-signed

#7386 fix: permission filtering on columns API
  master/internal/api_project.go
Labels: cla-signed, to-cherry-pick

#7384 chore: Clean up redundant aria-labels, correct wrong aria-labels [WEB-1379]
  webui/react/src/components/ActionSheet.tsx
  webui/react/src/components/FilterForm/TableFilter.tsx
  webui/react/src/components/FilterForm/components/FilterField.tsx
  webui/react/src/components/FilterForm/components/FilterGroup.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/RadioGroup.tsx
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/components/Table/TableFilterDropdown.tsx
  webui/react/src/components/kit/Empty.tsx
  webui/react/src/components/kit/Icon.test.tsx
  webui/react/src/components/kit/Icon.tsx
  webui/react/src/components/kit/InputShortcut.tsx
  webui/react/src/components/kit/Modal.tsx
  webui/react/src/components/kit/internal/Spinner/Spinner.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/TrialDetails/Header/TrialHeaderLeft.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
Labels: cla-signed

#7350 fix: install sigusr1 on main thread only.
  harness/determined/core/_context.py
Labels: cla-signed

#7265 fix: add fp16 flags to hf ds examples
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
Labels: cla-signed

#7398 fix: refactor checkpoint modal so it closes correctly [WEB-1441]
  webui/react/src/components/CheckpointModal.module.scss
  webui/react/src/components/CheckpointModal.tsx
  webui/react/src/components/CheckpointModalTrigger.test.tsx
  webui/react/src/components/CheckpointModalTrigger.tsx
  webui/react/src/components/kit/Modal.tsx
  webui/react/src/hooks/useModal/Checkpoint/useCheckpointFlow.tsx
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.test.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/TrialDetails/F_TrialDetailsOverview.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
Labels: cla-signed, to-cherry-pick

#7388 chore: add workspace names
  harness/determined/common/api/bindings.py
  master/internal/db/postgres_rp_workspace_bindings.go
  proto/buf.image.bin
  proto/pkg/apiv1/resourcepool.pb.go
  proto/src/determined/api/v1/resourcepool.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#7407 chore: add generic metrics support to harness
  e2e_tests/tests/fixtures/custom_searcher/model_coreapi.py
  harness/determined/common/declarative_argparse.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/trial.py
  harness/determined/common/util.py
  harness/determined/core/_train.py
  harness/determined/experimental/client.py
  harness/tests/experiment/pytorch/test_examples.py
Labels: cla-signed

#7387 chore: Workspace as an object in the SDK.
  harness/determined/common/experimental/workspace.py
  harness/tests/determined/common/experimental/test_workspace.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/workspace.json
Labels: cla-signed

#7409 fix: userSettings store should function correctly when useSettings is active
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/hooks/useSettings.ts
  webui/react/src/utils/observable.ts
Labels: cla-signed

#7399 chore: update left over api references to metric type
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/trial.py
  harness/determined/core/_train.py
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  proto/buf.image.bin
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#7383 docs: hpe docs compliance for section 5 [WEB-1292]
  docs/_templates/page.html
  docs/_templates/search-field.html
  docs/conf.py
  docs/index.rst
Labels: documentation, cla-signed

#7408 chore: add release notes for notebook tls
  docs/release-notes/6735-add-tls-to-notebooks.rst
Labels: documentation, cla-signed

#7397 chore: change compare tab refresh behavior [WEB-1434]
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.tsx
  webui/react/src/pages/F_ExpList/ComparisonView.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Labels: cla-signed

#7378 chore: update data loading in Keras CIFAR10 example
  examples/computer_vision/cifar10_tf_keras/cifar_model.py
  examples/computer_vision/cifar10_tf_keras/const.yaml
  examples/computer_vision/cifar10_tf_keras/data.py
  examples/computer_vision/cifar10_tf_keras/distributed.yaml
  examples/computer_vision/cifar10_tf_keras/model_def.py
  harness/tests/experiment/keras/test_tf_keras_trial.py
Labels: cla-signed

#7341 fix: replace div with table in Trial Comparison View
  webui/react/src/components/kit/Empty.module.scss
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.module.scss
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
Labels: cla-signed

#7365 fix: custom column resize [WEB-1341]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/App.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/checkboxCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/experimentStateCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/linkCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/loadingCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/progressCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/sparklineCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/tagsCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/userAvatarCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/index.tsx
  webui/react/src/pages/F_ExpList/glide-table/menu.tsx
  webui/react/src/pages/F_ExpList/glide-table/tooltip.tsx
  webui/react/src/pages/F_ExpList/glide-table/utils.ts
Labels: cla-signed

#7413 docs: add release notes for 0.23.3
  docs/release-notes.rst
  docs/release-notes/6735-add-tls-to-notebooks.rst
  docs/release-notes/7278-remove-log-option.rst
  docs/release-notes/removed_config_endpoint.rst
Labels: documentation, cla-signed

#7411 fix: workspace mapping workspace names handlers
  master/internal/api_resourcepool.go
  master/internal/workspace/postgres_workspace.go
Labels: cla-signed

#7400 chore: skip process auth admin check if rbac is enable
  harness/determined/common/api/bindings.py
  master/internal/config/authz_config.go
  master/internal/user/service.go
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#7325 perf: migrate checkpoint v1 into v2 table
  master/internal/api_checkpoint.go
  master/internal/api_checkpoint_intg_test.go
  master/internal/api_experiment.go
  master/internal/db/postgres_checkpoints.go
  master/internal/db/postgres_checkpoints_intg_test.go
  master/internal/db/postgres_experiments.go
  master/pkg/model/experiment.go
  master/static/migrations/20230718141429_migrate-checkpointv1.tx.down.sql
  master/static/migrations/20230718141429_migrate-checkpointv1.tx.up.sql
  master/static/srv/get_model_versions.sql
  master/static/srv/get_raw_allocation.sql
  master/static/srv/proto_get_trials_plus.sql
  master/static/srv/update_checkpoint_metadata.sql
Labels: cla-signed

#7415 docs: remove RBAC limitations section
  docs/setup-cluster/security/rbac.rst
Labels: documentation, cla-signed

#7412 fix: All metrics viewable in the glide table compare tab [WEB-1372] [WEB-1394]
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Labels: cla-signed, feature-flagged

#7182 chore: k8s pod & node informer actor refactor [DET-9597]
  master/internal/mocks/node_interface.go
  master/internal/mocks/pod_interface.go
  master/internal/rm/kubernetesrm/events.go
  master/internal/rm/kubernetesrm/informer.go
  master/internal/rm/kubernetesrm/informer_intg_test.go
  master/internal/rm/kubernetesrm/nodes.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/preemptions.go
Labels: cla-signed

#7420 fix: label default compute and default aux pools differently (FE-108)
  webui/react/src/components/ResourcePoolCard.tsx
Labels: cla-signed

#7356 feat: Settings drawer
  webui/react/src/App.tsx
  webui/react/src/components/JupyterLabButton.tsx
  webui/react/src/components/JupyterLabGlobal.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/PasswordChangeModal.test.tsx
  webui/react/src/components/PasswordChangeModal.tsx
  webui/react/src/components/Section.module.scss
  webui/react/src/components/UserSettings.module.scss
  webui/react/src/components/UserSettings.settings.ts
  webui/react/src/components/UserSettings.test.tsx
  webui/react/src/components/UserSettings.tsx
  webui/react/src/components/kit/InlineForm.module.scss
  webui/react/src/components/kit/InlineForm.tsx
  webui/react/src/components/kit/InputShortcut.module.scss
  webui/react/src/components/kit/InputShortcut.tsx
  webui/react/src/e2e/navigation.spec.ts
  webui/react/src/omnibar/Omnibar.tsx
  webui/react/src/pages/Admin/GroupManagement.module.scss
  webui/react/src/pages/Admin/GroupManagement.settings.ts
  webui/react/src/pages/Admin/GroupManagement.tsx
  webui/react/src/pages/Admin/UserManagement.module.scss
  webui/react/src/pages/Admin/UserManagement.settings.ts
  webui/react/src/pages/Admin/UserManagement.test.tsx
  webui/react/src/pages/Admin/UserManagement.tsx
  webui/react/src/pages/Admin/index.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/RowHeightMenu.tsx
  webui/react/src/pages/Settings/Settings.test.tsx
  webui/react/src/pages/Settings/Settings.tsx
  webui/react/src/pages/Settings/SettingsAccount.module.scss
  webui/react/src/pages/Settings/SettingsAccount.tsx
  webui/react/src/pages/Settings/index.ts
  webui/react/src/routes/index.tsx
  webui/react/src/routes/routes.ts
  webui/react/src/routes/utils.ts
Labels: cla-signed

#7402 feat: Add Bert embedding torch_batch_process example
  e2e_tests/tests/nightly/test_distributed.py
  examples/features/torch_batch_process_embeddings/README.md
  examples/features/torch_batch_process_embeddings/bert_embedding_generation.py
  examples/features/torch_batch_process_embeddings/distributed.yaml
  examples/features/torch_batch_process_embeddings/requirements.txt
  examples/features/torch_batch_process_embeddings/startup-hook.sh
Labels: cla-signed

#7423 fix: Correctly sequence updates in useSettings bridge code [WEB-1462]
  webui/react/src/hooks/useSettings.ts
Labels: cla-signed

#7425 chore: support microseconds in SDK log filter timestamps
  harness/determined/common/util.py
  harness/tests/determined/common/experimental/test_trial.py
Labels: cla-signed

#7287 chore: agent provisioner refactor
  master/internal/rm/agentrm/provisioner/agentsetup/agent_setup.go
  master/internal/rm/agentrm/provisioner/agentsetup/agent_setup_test.go
  master/internal/rm/agentrm/provisioner/aws/aws.go
  master/internal/rm/agentrm/provisioner/aws/aws_spot.go
  master/internal/rm/agentrm/provisioner/aws/aws_spot_collections.go
  master/internal/rm/agentrm/provisioner/aws_spot_legacy.go
  master/internal/rm/agentrm/provisioner/gcp/gcp.go
  master/internal/rm/agentrm/provisioner/gcp/gcp_operation_tracker.go
  master/internal/rm/agentrm/provisioner/provisioner.go
  master/internal/rm/agentrm/provisioner/provisioner_test.go
  master/internal/rm/agentrm/provisioner/scaledecider/scale_decider.go
  master/internal/rm/agentrm/provisioner/scaledecider/scale_decider_test.go
  master/internal/rm/agentrm/provisioner/setup.go
  master/internal/rm/agentrm/resource_pool.go
Labels: cla-signed

#7337 chore: migrate to singularity --nvccli [DET-9081]
  agent/pkg/singularity/singularity.go
  master/static/srv/singularity-entrypoint-wrapper.sh
Labels: cla-signed

#7418 fix: clear table selection when changing pages
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Labels: cla-signed

#7426 fix: perf improvement in `useTrialMetrics`
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Labels: cla-signed

#7377 feat: edit and reset raw user settings [WEB-1361]
  docs/release-notes/7377-edit-user-settings.rst
  harness/determined/common/api/bindings.py
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/db/postgres_users.go
  master/internal/mocks/user_authz_iface.go
  master/internal/user/authz_basic_impl.go
  master/internal/user/authz_iface.go
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/user.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/user.proto
  webui/react/src/components/UserSettings.test.tsx
  webui/react/src/components/UserSettings.tsx
  webui/react/src/components/UserSettingsModal.tsx
  webui/react/src/components/kit/CodeEditor.tsx
  webui/react/src/components/kit/CodeEditor/CodeEditor.module.scss
  webui/react/src/components/kit/Modal.tsx
  webui/react/src/components/kit/useConfirm.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/stores/userSettings.tsx
Labels: documentation, cla-signed

#7403 chore: fail with non-zero exit code when password change fails
  harness/determined/cli/user.py
Labels: cla-signed

#7274 feat: [MLG-647] Add batch inference examples using Core API and torch_batch_process
  examples/features/torch_batch_process_core_api_comparison/README.md
  examples/features/torch_batch_process_core_api_comparison/constants.py
  examples/features/torch_batch_process_core_api_comparison/core_api_config.yaml
  examples/features/torch_batch_process_core_api_comparison/core_api_inference.py
  examples/features/torch_batch_process_core_api_comparison/model.py
  examples/features/torch_batch_process_core_api_comparison/torch_batch_process_config.yaml
  examples/features/torch_batch_process_core_api_comparison/torch_batch_process_inference.py
  harness/tests/experiment/pytorch/test_examples.py
  harness/tests/experiment/utils.py
Labels: cla-signed

#7430 feat: rp workspace mapping cli [DET-9521]
  harness/determined/cli/cli.py
  harness/determined/cli/resource_pool.py
  harness/determined/cli/workspace.py
Labels: cla-signed

#7256 chore: events & preemption listener actor refactor [DET-9617]
  master/internal/mocks/event_interface.go
  master/internal/rm/kubernetesrm/events.go
  master/internal/rm/kubernetesrm/informer_intg_test.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/preemptions.go
Labels: cla-signed

#7373 fix: table column copy change
  master/internal/api_project.go
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Labels: cla-signed

#7352 docs: Add documentation about passing in optional tensorboard arguments [MLG-333]
  docs/interfaces/tensorboard.rst
Labels: documentation, cla-signed

#7395 feat: allow-pachyderm-notebook-extension [DET-9355]
  docs/release-notes/9355-allow-security-context
  master/internal/rm/kubernetesrm/spec.go
  master/pkg/model/environment_config.go
Labels: documentation, cla-signed

#7439 fix(cli): compound keys in --config opts for commands
  harness/determined/cli/command.py
Labels: cla-signed

#7429 style: apply hover color for selected table rows [WEB-1385]
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/utils.ts
Labels: cla-signed

#7443 feat: Compare icon reflects status
  webui/react/src/components/kit/Icon.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Labels: cla-signed

#7434 feat: master audit logging should log failed requests at `Info` level.
  master/internal/audit.go
Labels: cla-signed

#7436 feat: add rbac to rp-workspace mapping
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
  master/internal/rm/authz_basic_impl.go
  master/internal/rm/authz_iface.go
Labels: cla-signed

#7441 fix: update get agents call for agent disable all [MLG-724]
  harness/determined/cli/agent.py
Labels: cla-signed

#7381 docs: update aria labelling for sidebar toggles and toctree groups
  docs/_templates/search-field.html
  docs/requirements.txt
Labels: documentation, cla-signed

#7405 feat: Merge data and row height menus in explist v2
  webui/react/src/assets/images/infinite-scroll.svg
  webui/react/src/components/UserSettings.tsx
  webui/react/src/components/kit/Icon.test.tsx
  webui/react/src/components/kit/Icon.tsx
  webui/react/src/pages/F_ExpList/glide-table/OptionsMenu.module.scss
  webui/react/src/pages/F_ExpList/glide-table/OptionsMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/RowHeightMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.module.scss
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Labels: cla-signed

#7444 feat: sort resource pools by name when creating new jupyterlab sessions [WEB-1138]
  webui/react/src/components/JupyterLabModal.tsx
  webui/react/src/stores/cluster.tsx
Labels: cla-signed

#7440 feat: minor edit to torch batch process embedding example
  examples/features/torch_batch_process_embeddings/bert_embedding_generation.py
Labels: cla-signed

#7449 chore: update docs hpe compliance web section id
  docs/index.rst
Labels: documentation, cla-signed

#7414 feat: Pin column when compare panel open
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Labels: cla-signed

#7447 chore: podspec-capability-bugfix
  master/internal/rm/kubernetesrm/spec.go
Labels: cla-signed

#7432 ci: fix latest release branch selection
  tools/scripts/track-pr
Labels: cla-signed

#7431 fix: wider width for `top trials` select
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
Labels: cla-signed

#7446 docs: Reset home page tiles and sidebar
  docs/_templates/toggle-primary-sidebar.html
  docs/assets/styles/determined.css
  docs/conf.py
Labels: documentation, cla-signed

#7445 feat: add list_experiments to Python SDK [MLG-670]
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/tests/determined/common/experimental/test_determined.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/experiments.json
Labels: cla-signed

#7451 fix: chart axis long label
  webui/react/src/pages/Cluster/ClusterHistoricalUsageChart.tsx
  webui/react/src/pages/Clusters/ClustersQueuedChart.tsx
Labels: cla-signed

#7401 test: mark RBAC-related tests 'e2e_cpu_rbac'
  e2e_tests/pytest.ini
  e2e_tests/tests/cluster/test_groups.py
  e2e_tests/tests/cluster/test_rbac.py
  e2e_tests/tests/conftest.py
Labels: cla-signed

#7249 chore: explist_v2 feature switch should default to on
  docs/release-notes/new-experiment-list.rst
  webui/react/src/hooks/useFeature.ts
Labels: documentation, cla-signed

#7459 chore: avoid postgres uuid extension
  master/static/migrations/20230718141429_migrate-checkpointv1.tx.up.sql
Labels: cla-signed

#7438 feat: Allow user setting of feature flags
  webui/react/.eslintrc.js
  webui/react/src/components/UserSettings.tsx
  webui/react/src/components/kit/InlineForm.tsx
  webui/react/src/hooks/useFeature.ts
Labels: cla-signed

#7317 feat: RP workspace mapping SDK [DET-9522]
  e2e_tests/tests/test_sdk.py
  harness/determined/common/experimental/resource_pool.py
  harness/determined/common/experimental/workspace.py
  harness/tests/determined/common/experimental/test_resource_pool.py
  harness/tests/determined/common/experimental/test_workspace.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/resource_pool.json
Labels: cla-signed

#7463 docs: rephrase the home page title
  docs/index.rst
Labels: documentation, cla-signed

#7466 chore: Turn new experiment listing off by default
  webui/react/src/hooks/useFeature.ts
Labels: cla-signed

#7465 fix: use friendly names for user settings
  webui/react/src/components/UserSettings.tsx
Labels: cla-signed

#7442 chore: add an example for generating generic metrics
  e2e_tests/tests/fixtures/core_api/11_generic_metrics.py
  e2e_tests/tests/fixtures/core_api/11_generic_metrics.yaml
Labels: cla-signed

#7460 ci: correctly change item status in release tracking
  tools/scripts/track-pr
Labels: cla-signed

#7475 ci(aws): fix RDS connections
  harness/determined/deploy/aws/injector/master.yaml.tmpl
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
Labels: cla-signed

#7479 ci: Conda bump
  .circleci/config.yml
Labels: cla-signed

#7481 fix: rename `checkCount` to `checkpoints`
  webui/react/src/pages/ExperimentList.settings.ts
  webui/react/src/pages/ExperimentList.tsx
Labels: cla-signed, to-cherry-pick

#7482 docs: Add torch batch process example
  docs/model-dev-guide/batch-processing/batch-process-api-ug.rst
Labels: documentation, cla-signed

#7483 fix: only let cluster admins manage resource pool bindings [WEB-1476]
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/ResourcepoolDetail.tsx
Labels: cla-signed

#7477 fix: compare panel resize
  webui/react/src/components/SplitPane.tsx
Labels: cla-signed

#7484 fix: chart tooltip overflow
  webui/react/src/components/kit/internal/UPlot/UPlotChart/tooltipsPlugin.ts
Labels: cla-signed

#7375 feat: backend support for inference metric tracking part 1
  harness/determined/common/api/bindings.py
  master/internal/api.go
  master/internal/api_checkpoint.go
  master/internal/api_checkpoint_intg_test.go
  master/internal/api_model.go
  master/internal/api_tensorboard.go
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  master/internal/api_user_intg_test.go
  master/internal/core_checkpoint_intg_test.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/trials/api_trial_source_info.go
  master/internal/trials/postgres_trials.go
  master/internal/trials/utils.go
  master/pkg/model/metrics.go
  master/static/migrations/20230726131253_trial_source_info.tx.down.sql
  master/static/migrations/20230726131253_trial_source_info.tx.up.sql
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/checkpoint.pb.go
  proto/pkg/apiv1/model.pb.go
  proto/pkg/apiv1/trial.pb.go
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/checkpoint.proto
  proto/src/determined/api/v1/model.proto
  proto/src/determined/api/v1/trial.proto
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#7490 fix: rp workspace mapping not working
  master/internal/api_resourcepool.go
  master/internal/api_workspace.go
  webui/react/src/hooks/useFeature.ts
Labels: cla-signed, to-cherry-pick

#7485 fix: ChartGrid styling
  webui/react/src/components/kit/LineChart.module.scss
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
Labels: cla-signed

#7470 fix: stop showing invalid loading
  webui/react/src/hooks/useMetricNames.ts
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Labels: cla-signed

#7476 test: fix rbac test failures
  e2e_tests/tests/cluster/test_rbac.py
Labels: cla-signed, to-cherry-pick

#7494 test: skip `test_efficientdet_coco_pytorch_const`.
  e2e_tests/tests/nightly/test_capability.py
Labels: cla-signed

#7347 set up the migration script to validate the new migration num
  master/static/migrations/migration-move-to-top.sh
Labels: cla-signed

#7478 docs: Describe WebUI settings
  docs/architecture/introduction.rst
  docs/assets/images/launch-cpu-notebook@2x.jpg
  docs/interfaces/notebooks.rst
  docs/interfaces/webui-if.rst
  docs/model-dev-guide/apis-howto/api-core-ug.rst
  docs/setup-cluster/deploy-cluster/gcp/install-gcp.rst
  docs/setup-cluster/deploy-cluster/slurm/install-on-slurm.rst
  docs/setup-cluster/deploy-cluster/slurm/slurm-requirements.rst
  docs/setup-cluster/historical-cluster-usage-data.rst
  docs/setup-cluster/security/oidc.rst
  docs/setup-cluster/users.rst
  docs/setup-cluster/workspaces.rst
Labels: documentation, cla-signed

#7480 docs: FE-120: Add `job_history_enable = True` to PBS installation requirements
  docs/setup-cluster/deploy-cluster/slurm/slurm-known-issues.rst
  docs/setup-cluster/deploy-cluster/slurm/slurm-requirements.rst
Labels: documentation, cla-signed

#7489 fix: avoid crashing the new exp page
  webui/react/package-lock.json
  webui/react/package.json
Labels: cla-signed, to-cherry-pick
