Repository determined-ai/determined, pull requests merged in 2023-05, with the labels that each got.

#6682 feat: logging message for tb upload completion.
  harness/determined/tensorboard/base.py
Labels: cla-signed

#6639 refactor: clean up a bit of logic in `test_core.py`
  e2e_tests/tests/experiment/test_core.py
Labels: cla-signed

#6676 feat: Allow DS AT Experiments to fail when module_profile_info fails
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/searcher/_search_method.py
  harness/determined/searcher/_search_runner.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Labels: cla-signed

#6680 chore: Add circleci param for default-pt-gpu-image
  .circleci/config.yml
Labels: cla-signed

#6686 fix: metricName escaping using bun.Ident
  master/internal/trials/postgres_trials.go
Labels: cla-signed

#6685 chore: update deepspeed to 0.8.3 [MLG-399]
  ds_autotuning_prototype/core_api/ffn_example_ds_launcher/single.yaml
  ds_autotuning_prototype/core_api/ffn_example_ds_launcher/startup-hook.sh
  ds_autotuning_prototype/core_api/ffn_example_torch_launcher/single.yaml
  ds_autotuning_prototype/core_api/ffn_example_torch_launcher/startup-hook.sh
  ds_autotuning_prototype/core_api/no_op_test/single.yaml
  ds_autotuning_prototype/core_api/torchvison_models/single.yaml
  ds_autotuning_prototype/core_api/torchvison_models/startup-hook.sh
  ds_autotuning_prototype/native_dsat_tests/torchvision_models_example/autotune_config.yaml
  ds_autotuning_prototype/native_dsat_tests/torchvision_models_example/startup-hook.sh
  ds_autotuning_prototype/startup-hook.sh
  ds_autotuning_prototype/trial_classes/torchvison_models/single.yaml
  ds_autotuning_prototype/trial_classes/torchvison_models/startup-hook.sh
  examples/deepspeed/cifar10_cpu_offloading/zero_3_cpu_offload.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_no_offload.yaml
  examples/deepspeed/cifar10_moe/moe.yaml
  examples/deepspeed/cifar10_moe/zero_stages.yaml
  examples/deepspeed/deepspeed_dcgan/cifar10_zero2.yaml
  examples/deepspeed/deepspeed_dcgan/mnist.yaml
  examples/deepspeed/deepspeed_dcgan/mnist_grad_accum.yaml
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  examples/integrations/hf_trainer_api/deepspeed.yaml
Labels: cla-signed

#6655 chore: add warning to det auth login flow
  harness/determined/cli/sso.py
Labels: cla-signed

#6687 feat: hf trainer examples
  ds_autotuning_prototype/core_api/ffn_example_ds_launcher/deepspeed.yaml
  ds_autotuning_prototype/core_api/ffn_example_torch_launcher/deepspeed.yaml
  ds_autotuning_prototype/core_api/no_op_test/deepspeed.yaml
  ds_autotuning_prototype/core_api/torchvison_models/deepspeed.yaml
  ds_autotuning_prototype/hf_trainer_api/README.md
  ds_autotuning_prototype/hf_trainer_api/det_callback.py
  ds_autotuning_prototype/hf_trainer_api/image_classification/adaptive.yaml
  ds_autotuning_prototype/hf_trainer_api/image_classification/const.yaml
  ds_autotuning_prototype/hf_trainer_api/image_classification/const_epochs.yaml
  ds_autotuning_prototype/hf_trainer_api/image_classification/deepspeed.yaml
  ds_autotuning_prototype/hf_trainer_api/image_classification/distributed.yaml
  ds_autotuning_prototype/hf_trainer_api/image_classification/ds_configs/ds_config_stage_1.json
  ds_autotuning_prototype/hf_trainer_api/image_classification/ds_configs/ds_config_stage_2.json
  ds_autotuning_prototype/hf_trainer_api/image_classification/ds_configs/ds_config_stage_2_cpu_offload.json
  ds_autotuning_prototype/hf_trainer_api/image_classification/ds_configs/ds_config_stage_3.json
  ds_autotuning_prototype/hf_trainer_api/image_classification/image_classification.py
  ds_autotuning_prototype/hf_trainer_api/image_classification/requirements.txt
  ds_autotuning_prototype/hf_trainer_api/image_classification/startup-hook.sh
  ds_autotuning_prototype/hf_trainer_api/language-modeling/adaptive.yaml
  ds_autotuning_prototype/hf_trainer_api/language-modeling/const.yaml
  ds_autotuning_prototype/hf_trainer_api/language-modeling/const_epochs.yaml
  ds_autotuning_prototype/hf_trainer_api/language-modeling/deepspeed.yaml
  ds_autotuning_prototype/hf_trainer_api/language-modeling/distributed.yaml
  ds_autotuning_prototype/hf_trainer_api/language-modeling/ds_configs/ds_config_stage_1.json
  ds_autotuning_prototype/hf_trainer_api/language-modeling/ds_configs/ds_config_stage_2.json
  ds_autotuning_prototype/hf_trainer_api/language-modeling/ds_configs/ds_config_stage_2_cpu_offload.json
  ds_autotuning_prototype/hf_trainer_api/language-modeling/ds_configs/ds_config_stage_3.json
  ds_autotuning_prototype/hf_trainer_api/language-modeling/requirements.txt
  ds_autotuning_prototype/hf_trainer_api/language-modeling/run_clm.py
  ds_autotuning_prototype/hf_trainer_api/language-modeling/startup-hook.sh
  ds_autotuning_prototype/other_tests/double_report_recovery/config.yaml
  ds_autotuning_prototype/other_tests/double_report_recovery/main.py
  ds_autotuning_prototype/trial_classes/torchvison_models/deepspeed.yaml
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
  harness/determined/pytorch/deepspeed/dsat/__main__.py
  harness/determined/pytorch/deepspeed/dsat/_defaults.py
  harness/determined/pytorch/deepspeed/dsat/_dsat_search_method.py
  harness/determined/pytorch/deepspeed/dsat/_utils.py
Labels: cla-signed

#6689 ci: fix bug in docs makefile
  docs/Makefile
Labels: documentation, cla-signed

#6670 chore: replace querystring and query-string with URLSearchParams
  bindings/generate_bindings_ts.py
  tools/scripts/licenses/query-string
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/ee/SamlAuth.test.ts
  webui/react/src/ee/SamlAuth.ts
  webui/react/src/hooks/useAuthCheck.ts
  webui/react/src/hooks/useFeature.ts
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/hooks/useSettings.ts
  webui/react/src/pages/InteractiveTask.test.tsx
  webui/react/src/pages/InteractiveTask.tsx
  webui/react/src/pages/Reload.tsx
  webui/react/src/pages/SignIn.tsx
  webui/react/src/pages/TaskLogs.tsx
  webui/react/src/pages/Wait.tsx
  webui/react/src/routes/utils.ts
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#6632 fix: close context menu after click for new experiment list table
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/glide-table/contextMenu.tsx
Labels: cla-signed

#6693 chore: release note on breaking TF changes to Keras optimizers
  docs/release-notes/legacy-optimizers.rst
Labels: documentation, cla-signed

#6691 docs: Help users find exp conf ref
  docs/index.rst
Labels: documentation, cla-signed

#6671 feat: add summary metrics to trial obj [DET-9402]
  e2e_tests/tests/experiment/test_metrics.py
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/static/srv/proto_get_trials_plus.sql
  proto/buf.image.bin
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#6688 docs: summary metric migration downtime
  docs/release-notes/summary_metrics.rst
Labels: documentation, cla-signed

#6692 chore: bumpenvs 6eceaca
  .circleci/config.yml
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/singularity.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
  e2e_tests/tests/config.py
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_3_cpu_offload.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_no_offload.yaml
  examples/deepspeed/cifar10_moe/moe.yaml
  examples/deepspeed/cifar10_moe/zero_stages.yaml
  examples/deepspeed/deepspeed_dcgan/cifar10_zero2.yaml
  examples/deepspeed/deepspeed_dcgan/mnist.yaml
  examples/deepspeed/deepspeed_dcgan/mnist_grad_accum.yaml
  examples/deepspeed/gpt_neox/Dockerfile
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  examples/graphs/proteins_pytorch_geometric/adaptive.yaml
  examples/graphs/proteins_pytorch_geometric/const.yaml
  examples/graphs/proteins_pytorch_geometric/distributed.yaml
  examples/integrations/hf_trainer_api/deepspeed.yaml
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-estimator/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  helm/charts/determined/templates/master-config.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
Labels: documentation, cla-signed

#6702 docs: summary metric release note reword
  docs/release-notes/summary_metrics.rst
Labels: documentation, cla-signed

#6694 chore: refactor dsat module to be independent of deepspeed imports [MLG-499]
  ds_autotuning_prototype/README.md
  ds_autotuning_prototype/core_api/ffn_example_ds_launcher/deepspeed.yaml
  ds_autotuning_prototype/core_api/ffn_example_ds_launcher/script.py
  ds_autotuning_prototype/core_api/ffn_example_torch_launcher/deepspeed.yaml
  ds_autotuning_prototype/core_api/ffn_example_torch_launcher/script.py
  ds_autotuning_prototype/core_api/no_op_test/deepspeed.yaml
  ds_autotuning_prototype/core_api/no_op_test/script.py
  ds_autotuning_prototype/core_api/torchvison_models/deepspeed.yaml
  ds_autotuning_prototype/core_api/torchvison_models/script.py
  ds_autotuning_prototype/hf_trainer_api/README.md
  ds_autotuning_prototype/hf_trainer_api/det_callback.py
  ds_autotuning_prototype/hf_trainer_api/image_classification/image_classification.py
  ds_autotuning_prototype/hf_trainer_api/language-modeling/run_clm.py
  ds_autotuning_prototype/trial_classes/torchvison_models/model_def.py
  harness/determined/pytorch/deepspeed/__init__.py
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/determined/pytorch/deepspeed/dsat/__init__.py
  harness/determined/pytorch/dsat/__init__.py
  harness/determined/pytorch/dsat/__main__.py
  harness/determined/pytorch/dsat/_defaults.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_run_dsat.py
  harness/determined/pytorch/dsat/_utils.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
  harness/tests/experiment/pytorch/test_deepspeed_trial.py
Labels: cla-signed

#6705 fix: summary metrics migration earlier than last release latest
  docs/release-notes/summary_metrics.rst
  master/internal/db/postgres_trial_intg_test.go
  master/static/migrations/20230503144448_add-summary-metrics.tx.down.sql
  master/static/migrations/20230503144448_add-summary-metrics.tx.up.sql
Labels: documentation, cla-signed

#6591 fix: pass auth with incorrect password [DET-5623]
  e2e_tests/tests/cluster/test_users.py
  harness/determined/cli/user.py
  harness/determined/common/api/authentication.py
Labels: cla-signed

#6701 chore: deprecate EstimatorTrial
  docs/example-solutions/examples.rst
  docs/reference/reference-training/training/api-estimator-reference.rst
  docs/release-notes/6701-deprecate-estimators.rst
  docs/training/apis-howto/api-estimator-ug.rst
  e2e_tests/tests/experiment/test_profiling.py
  e2e_tests/tests/experiment/test_tf_estimator.py
  e2e_tests/tests/fixtures/mnist_estimator/const.yaml
  e2e_tests/tests/fixtures/mnist_estimator/distributed.yaml
  e2e_tests/tests/fixtures/mnist_estimator/model_def.py
  e2e_tests/tests/nightly/test_convergence.py
  e2e_tests/tests/nightly/test_distributed.py
  examples/README.md
  examples/computer_vision/mnist_estimator/README.md
  examples/computer_vision/mnist_estimator/adaptive.yaml
  examples/decision_trees/gbt_titanic_estimator/README.md
  examples/decision_trees/gbt_titanic_estimator/adaptive.yaml
  examples/decision_trees/gbt_titanic_estimator/const.yaml
  examples/decision_trees/gbt_titanic_estimator/model_def.py
  examples/decision_trees/gbt_titanic_estimator/startup-hook.sh
  examples/tests/test_official.py
Labels: documentation, cla-signed

#6708 fix: dataloader skip on resume
  harness/determined/pytorch/_pytorch_trial.py
Labels: cla-signed

#6710 chore: deprecate tf1.
  docs/release-notes/deprecate-tf1.rst
Labels: documentation, cla-signed

#6679 fix: GC jobs do not inherit sbatch_args from custom resource_pool [DET-9363]
  master/internal/checkpoint_gc.go
  master/pkg/tasks/task_gc.go
Labels: cla-signed

#6618 chore: refactor PermissionDenied RBAC errors [DET-8946]
  master/internal/api_auth.go
  master/internal/api_checkpoint.go
  master/internal/api_checkpoint_intg_test.go
  master/internal/api_command.go
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_model.go
  master/internal/api_notebook.go
  master/internal/api_ntsc_intg_test.go
  master/internal/api_project.go
  master/internal/api_project_intg_test.go
  master/internal/api_shell.go
  master/internal/api_tasks.go
  master/internal/api_tasks_intg_test.go
  master/internal/api_tensorboard.go
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/authz/permission_denied_error.go
  master/internal/command/authz_basic_impl.go
  master/internal/command/authz_iface.go
  master/internal/command/events.go
  master/internal/core_checkpoint_intg_test.go
  master/internal/core_experiment.go
  master/internal/core_experiment_intg_test.go
  master/internal/core_task.go
  master/internal/core_trial.go
  master/internal/core_trial_intg_test.go
  master/internal/experiment/authz_basic_impl.go
  master/internal/experiment/authz_iface.go
  master/internal/mocks/authz_experiment_iface.go
  master/internal/mocks/authz_model_iface.go
  master/internal/mocks/nsc_authz_iface.go
  master/internal/mocks/project_authz_iface.go
  master/internal/mocks/user_authz_iface.go
  master/internal/mocks/workspace_authz_iface.go
  master/internal/model/authz_basic_impl.go
  master/internal/model/authz_iface.go
  master/internal/project/authz_basic_impl.go
  master/internal/project/authz_iface.go
  master/internal/trials/api_trials.go
  master/internal/trials/authz_basic_impl.go
  master/internal/trials/authz_iface.go
  master/internal/user/authz_basic_impl.go
  master/internal/user/authz_iface.go
  master/internal/user/service.go
  master/internal/user/service_intg_test.go
  master/internal/usergroup/api_groups.go
  master/internal/usergroup/authz_basic_impl.go
  master/internal/usergroup/authz_iface.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
Labels: cla-signed

#6556 feat: /api/v1/experiments-search should support filters [WEB-984]
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/experiment_filter.go
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#6696 docs: k8s deployment docs [DET-9449]
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/k8s-dev-guide.rst
Labels: documentation, cla-signed

#6719 fix: correct log pagination behavior [WEB-1212]
  bindings/generate_bindings_ts.py
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#6690 docs: edit various minor things, mostly capitalization
  docs/README.md
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-aws/dynamic-agents-aws.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-aws/install-on-aws.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-gcp/dynamic-agents-gcp.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/install-on-kubernetes.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/k8s-dev-guide.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-prem/deploy.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-prem/docker.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-prem/linux-packages.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-prem/requirements.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/hpc-launching-architecture.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/install-on-slurm.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/overview.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/singularity.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-known-issues.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
  docs/cluster-setup-guide/security/oidc.rst
  docs/cluster-setup-guide/security/rbac.rst
  docs/cluster-setup-guide/security/saml.rst
  docs/cluster-setup-guide/troubleshooting.rst
  docs/example-solutions/examples.rst
  docs/integrations/notification/index.rst
  docs/interfaces/tensorboard.rst
  docs/model-hub-library/transformers/tutorial.rst
  docs/quickstart-mdldev.rst
  docs/reference/python-sdk.rst
  docs/reference/reference-deploy/config/helm-config-reference.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/reference/reference-training/experiment-config-reference.rst
  docs/release-notes.rst
  docs/training/apis-howto/api-core-ug.rst
  docs/training/apis-howto/api-keras-ug.rst
  docs/training/apis-howto/api-pytorch-lightning-ug.rst
  docs/training/apis-howto/api-pytorch-ug.rst
  docs/training/apis-howto/overview.rst
  docs/training/setup-guide/custom-env.rst
  docs/training/setup-guide/set-environment-images.rst
  docs/tutorials/pytorch-porting-tutorial.rst
  examples/tutorials/imagenet_pytorch/const.yaml
  examples/tutorials/imagenet_pytorch/const_cifar.yaml
  examples/tutorials/imagenet_pytorch/distributed.yaml
  examples/tutorials/imagenet_pytorch/distributed_cifar.yaml
  examples/tutorials/imagenet_pytorch/model_def.py
Labels: documentation, cla-signed

#6706 fix: centralize cluster polling and reduce workspace calls [WEB-1190, WEB-1201]
  webui/react/src/App.tsx
  webui/react/src/components/Navigation.tsx
  webui/react/src/components/TaskList.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
  webui/react/src/pages/Clusters.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/JobQueue/ManageJob.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/stores/workspaces.tsx
Labels: cla-signed

#6722 style: update new experiment list column widths [WEB-1195]
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Labels: cla-signed

#6723 chore: tweak proto comment
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#6704 chore(docs): setup docsite previews [INFENG-184]
  .circleci/config.yml
  .github/workflows/link-docs-preview.yml
  docs/Makefile
  docs/deploy/.gitignore
  docs/deploy/promote.py
  docs/deploy/upload.py
  docs/requirements.txt
Labels: documentation, cla-signed

#6726 perf: speed up model versions query
  master/static/srv/get_model_versions.sql
Labels: cla-signed

#6571 fix: Delete multiple experiments with new call [WEB-1135]
  master/internal/api_experiment.go
  master/internal/api_project.go
  master/internal/db/database.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_snapshots.go
  master/internal/db/postgres_snapshots_test.go
  master/internal/mocks/db.go
Labels: cla-signed

#6720 add follow on exp option
  examples/deepspeed/deepspeed_autotuning/core_api/ffn_example_ds_launcher/deepspeed.yaml
  examples/deepspeed/deepspeed_autotuning/core_api/ffn_example_torch_launcher/deepspeed.yaml
  examples/deepspeed/deepspeed_autotuning/core_api/no_op_test/script.py
  examples/deepspeed/deepspeed_autotuning/core_api/torchvison_models/deepspeed.yaml
  examples/deepspeed/deepspeed_autotuning/trial_classes/torchvison_models/deepspeed.yaml
  examples/deepspeed/deepspeed_autotuning/trial_classes/torchvison_models/model_def.py
  harness/determined/pytorch/dsat/__main__.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_utils.py
Labels: cla-signed

#6732 fix: Remove redundant scroll bar for new experiment list
  webui/react/src/components/Markdown.tsx
  webui/react/src/components/Navigation.module.scss
  webui/react/src/components/kit/LogViewer/LogViewer.tsx
  webui/react/src/components/kit/Pivot.module.scss
  webui/react/src/pages/ExperimentDetails/CodeViewer/CodeViewer.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/exceptions.tsx
Labels: cla-signed

#6725 fix: spinner layout and typo in workspace success message
  webui/react/src/components/WorkspaceMemberAddModal.tsx
  webui/react/src/pages/ResourcepoolDetail.tsx
Labels: cla-signed

#6709 ci: make custom searcher dump failed trial logs
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/experiment/test_custom_searcher.py
Labels: cla-signed

#6724 feat: migrate the huggingface det_callback [MLG-487]
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/README.md
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/det_callback.py
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/image_classification/image_classification.py
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/language_modeling/run_clm.py
  examples/integrations/hf_trainer_api/deepspeed.yaml
  examples/integrations/hf_trainer_api/image_classification.py
  harness/determined/integrations/__init__.py
  harness/determined/integrations/huggingface/__init__.py
  harness/determined/integrations/huggingface/hf_callback.py
  harness/determined/pytorch/dsat/__init__.py
  harness/determined/pytorch/dsat/_utils.py
Labels: cla-signed

#6737 fix: Cluster stats chart displays with single day result [WEB-1206]
  webui/react/src/pages/Cluster/ClusterHistoricalUsageChart.tsx
  webui/react/src/pages/Clusters/ClustersQueuedChart.tsx
Labels: cla-signed

#6739 docs: add release notes for 0.22.0
  docs/release-notes.rst
  docs/release-notes/6701-deprecate-estimators.rst
  docs/release-notes/deprecate-tf1.rst
  docs/release-notes/earlier-trial-persist.rst
  docs/release-notes/legacy-optimizers.rst
  docs/release-notes/remove-old-tempalte-apis.rst
  docs/release-notes/summary_metrics.rst
Labels: documentation, cla-signed

#6728 fix: cell out of bounds
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Labels: cla-signed

#6587 doc: update min py version for dev
  CONTRIBUTING.md
Labels: cla-signed

#6715 docs: add redirect automation
  docs/.redirects/all_published_urls_ever.json
  docs/.redirects/redirects.json
  docs/Makefile
  docs/README.md
  docs/conf.py
  docs/redirects.py
Labels: documentation, cla-signed

#6713 chore: chart tooltips always using new tooltip [WEB-828]
  webui/react/src/components/LearningCurveChart.tsx
  webui/react/src/components/UPlot/UPlotChart/tooltipsPlugin.ts
  webui/react/src/components/UPlot/UPlotChart/tooltipsPlugin2.ts
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/TrialDetails/F_TrialDetailsOverview.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
Labels: cla-signed

#6712 fix: Remove canCreateExperiment experiment param [WEB-1205]
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/core_experiment.go
  master/internal/core_experiment_intg_test.go
  master/internal/experiment/authz_basic_impl.go
  master/internal/experiment/authz_iface.go
  master/internal/mocks/authz_experiment_iface.go
Labels: cla-signed

#6746 feat: minor test updates
  harness/determined/pytorch/dsat/__main__.py
  harness/determined/pytorch/dsat/_defaults.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_utils.py
  harness/tests/experiment/fixtures/deepspeed_autotune/example_experiment/deepspeed.yaml
  harness/tests/experiment/fixtures/deepspeed_autotune/example_experiment/ds_config.json
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Labels: cla-signed

#6750 chore: test RBAC transfers permission from group to users [WEB-1172]
  e2e_tests/tests/cluster/test_rbac.py
Labels: cla-signed

#6747 ci: add automation script for redirects
  tools/scripts/lock-published-urls.sh
Labels: cla-signed

#6742 feat: use lock with json overwrite for hf
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/image_classification/image_classification.py
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/language_modeling/run_clm.py
  harness/determined/integrations/huggingface/__init__.py
  harness/determined/integrations/huggingface/hf_callback.py
Labels: cla-signed

#6707 test: Add visual diff test to designkit
  .circleci/config.yml
  .pre-commit-config.yaml
  webui/react/.gitignore
  webui/react/Makefile
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/scripts/designkit-screenshot.mjs
  webui/react/scripts/make-github-comment.mjs
  webui/react/scripts/make-screenshot-diff.mjs
Labels: cla-signed

#6748 fix: allow 0 metrics on old and new charts [WEB-1216]
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Labels: cla-signed

#6753 fix: Use position: fixed to replace sticky TrialLogPreview
  webui/react/src/components/TrialLogPreview.module.scss
Labels: cla-signed

#6754 feat: basic trial tracker tests
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Labels: cla-signed

#6756 fix: hf overwrite bug
  harness/determined/integrations/huggingface/hf_callback.py
Labels: cla-signed

#6727 feat: enable double click auto column adjust [WEB-1193]
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Labels: cla-signed

#6602 chore: cleanup our setup.py
  .circleci/config.yml
  harness/MANIFEST.in
  harness/Makefile
  harness/setup.py
  model_hub/MANIFEST.in
  model_hub/Makefile
  model_hub/model_hub/py.typed
  model_hub/setup.py
  requirements.txt
Labels: cla-signed

#6752 fix: add correct experiment filter grouping
  master/internal/api_experiment.go
Labels: cla-signed, feature-flagged

#6751 chore: porting EE PermissionDenied changes back to OSS [DET-9468]
  master/internal/api_notebook.go
  master/internal/api_tasks.go
Labels: cla-signed

#6761 fix: single hf examples again
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/language_modeling/run_clm.py
Labels: cla-signed

#6764 fix: add border after last frozen column in glide [WEB-1194]
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/utils.ts
Labels: cla-signed

#6741 docs: added docstring in _checkpoint.py
  harness/determined/core/_checkpoint.py
Labels: cla-signed

#6776 ci: Schedule search indexing with release workflow
  .circleci/config.yml
Labels: cla-signed

#6745 fix: Exp list supports selection with shift/cmd
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/menu.tsx
Labels: cla-signed

#6759 ci: update to node v18
  .circleci/config.yml
  .github/workflows/lint-react.yml
  CONTRIBUTING.md
  webui/react/.nvmrc
  webui/react/Makefile
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/scripts/make-github-comment.mjs
  webui/react/src/shared/.circleci/config.yml
Labels: cla-signed

#6703 refactor: add dropdown to uikit and update dropdown usage to use uikit version [WEB-1152]
  webui/react/src/components/Dropdown.module.scss
  webui/react/src/components/Dropdown.tsx
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/Metadata/EditableRow.tsx
  webui/react/src/components/NavigationSideBar.module.scss
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/PageHeaderFoldable.tsx
  webui/react/src/components/PaginatedNotesCard.tsx
  webui/react/src/components/ProjectActionDropdown.tsx
  webui/react/src/components/ProjectCard.tsx
  webui/react/src/components/ResponsiveFilters.module.scss
  webui/react/src/components/ResponsiveFilters.tsx
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/components/TaskBar.tsx
  webui/react/src/components/kit/Card.tsx
  webui/react/src/components/kit/Dropdown.module.scss
  webui/react/src/components/kit/Dropdown.test.tsx
  webui/react/src/components/kit/Dropdown.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelDetails/ModelVersionActionDropdown.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/pages/TrialsComparison/Actions/useTrialActions.tsx
  webui/react/src/pages/TrialsComparison/Collections/useTrialCollections.tsx
  webui/react/src/pages/WebhookList.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceDetailsHeader.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
  webui/react/src/pages/WorkspaceList.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceActionDropdown.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceCard.tsx
  webui/react/src/shared/components/ActionDropdown/ActionDropdown.tsx
  webui/react/src/shared/styles/antd.scss
Labels: cla-signed, shared-web

#6736 chore: add initial vscode devcontainer files
  .determined.code-workspace
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/server.sh
  .devcontainer/setup.sh
  .devcontainer/start.sh
Labels: cla-signed

#6757 docs: add rbac example setup diagram
  docs/assets/images/rbac-example-setup-dark.png
  docs/assets/images/rbac-example-setup-light.png
  docs/cluster-setup-guide/security/rbac.rst
Labels: documentation, cla-signed

#6781 feat: adding e2e tests for DSAT, enabling searcher to shutdown client experiment [MLG-369]
  e2e_tests/tests/config.py
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/nightly/test_distributed.py
  harness/determined/integrations/__init__.py
  harness/determined/pytorch/dsat/__main__.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/searcher/_remote_search_runner.py
  harness/determined/searcher/_search_runner.py
Labels: cla-signed

#6784 chore(circleci): limit doc preview generation to upstream branches
  .circleci/config.yml
Labels: cla-signed

#6763 refactor: remove legacy echo experiment post/patch, trial and trial metrics get endpoints.
  docs/release-notes/remove-legacy-apis.rst
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/fixtures/metric_maker/const.yaml
  e2e_tests/tests/fixtures/metric_maker/metric_maker.py
  e2e_tests/tests/fixtures/metric_maker/nans.yaml
  harness/determined/cli/experiment.py
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/core.go
  master/internal/core_experiment.go
  master/internal/core_experiment_intg_test.go
  master/internal/core_trial.go
  master/internal/core_trial_intg_test.go
  master/pkg/model/experiment.go
  master/static/srv/get_trial.sql
  master/static/srv/get_trial_metrics.sql
  proto/pkg/experimentv1/experiment.pb.go
  proto/src/determined/experiment/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: documentation, cla-signed

#6785 feat: add search method tests
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/README.md
  harness/determined/pytorch/dsat/_defaults.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_run_dsat.py
  harness/tests/experiment/fixtures/deepspeed_autotune/example_experiment/deepspeed.yaml
  harness/tests/experiment/fixtures/deepspeed_autotune/example_experiment/ds_config.json
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Labels: cla-signed

#6779 fix: "Select All" behavior on new Experiment List
  harness/determined/common/api/bindings.py
  master/internal/experiment/bulk_action.go
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/components/BatchActionConfirmModal.tsx
  webui/react/src/components/ExperimentMoveModal.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#6758 chore: replace missing arg panic with an api error
  master/internal/api_notebook.go
Labels: cla-signed

#6796 quick fix for the unit tests
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Labels: cla-signed

#6797 fix: typo in singularity docs
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/singularity.rst
Labels: documentation, cla-signed

#6772 ci: Enable deepspeed unit tests
  .circleci/config.yml
  harness/Makefile
  harness/tests/experiment/fixtures/estimator_xor_model.py
  harness/tests/experiment/fixtures/tf_keras_xor_model.py
  harness/tests/experiment/integrations/test_deepspeed_trial.py
  harness/tests/experiment/keras/test_keras_data.py
  harness/tests/experiment/tf_utils.py
  harness/tests/experiment/utils.py
Labels: cla-signed

#6782 ci: remove broken gh actions test-cli.
  .github/workflows/test-cli.yml
Labels: cla-signed

#6767 refactor: add clipboard button to uikit [WEB-1122, WEB-355]
  webui/react/src/components/ModelDownloadModal.tsx
  webui/react/src/components/kit/Button.tsx
  webui/react/src/components/kit/ClipboardButton.test.tsx
  webui/react/src/components/kit/ClipboardButton.tsx
  webui/react/src/components/kit/LogViewer/LogViewer.tsx
  webui/react/src/components/kit/Tooltip.tsx
  webui/react/src/components/kit/useConfirm.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.module.scss
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
  webui/react/src/shared/components/CopyButton.tsx
  webui/react/src/shared/utils/dom.ts
Labels: cla-signed, shared-web

#6787 feat: write best ds config json to checkpoint
  harness/determined/pytorch/dsat/_dsat_search_method.py
Labels: cla-signed

#6803 chore: backport workspace creation role assignment config
  master/internal/config/authz_config.go
Labels: cla-signed

#6801 refactor argparse into subparsers
  e2e_tests/tests/experiment/experiment.py
  harness/determined/pytorch/dsat/__main__.py
  harness/determined/pytorch/dsat/_defaults.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_run_dsat.py
  harness/determined/pytorch/dsat/_utils.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Labels: cla-signed

#6760 chore: add names for experiment test fixture
  e2e_tests/tests/command/test_tensorboard.py
  e2e_tests/tests/fixtures/estimator_dataset/const.yaml
  e2e_tests/tests/fixtures/estimator_dataset/distributed.yaml
  e2e_tests/tests/fixtures/estimator_no_op/const.yaml
  e2e_tests/tests/fixtures/keras_no_op/const.yaml
  e2e_tests/tests/fixtures/mnist_estimator/adaptive.yaml
  e2e_tests/tests/fixtures/mnist_estimator/single-multi-slot.yaml
  e2e_tests/tests/fixtures/mnist_estimator/single.yaml
  e2e_tests/tests/fixtures/mnist_pytorch/adaptive_short.yaml
  e2e_tests/tests/fixtures/mnist_pytorch/const-pytorch11.yaml
  e2e_tests/tests/fixtures/mnist_pytorch/random.yaml
  e2e_tests/tests/fixtures/no_op/adaptive.yaml
  e2e_tests/tests/fixtures/no_op/adaptive_chaos.yaml
  e2e_tests/tests/fixtures/no_op/gc_checkpoints_decreasing.yaml
  e2e_tests/tests/fixtures/no_op/gc_checkpoints_increasing.yaml
  e2e_tests/tests/fixtures/no_op/grid-graceful-trial-termination.yaml
  e2e_tests/tests/fixtures/no_op/random.yaml
  e2e_tests/tests/fixtures/no_op/single-default-ckpt.yaml
  e2e_tests/tests/fixtures/no_op/single-in-epochs.yaml
  e2e_tests/tests/fixtures/no_op/single-in-records.yaml
  e2e_tests/tests/fixtures/no_op/single-many-long-steps.yaml
  e2e_tests/tests/fixtures/no_op/single-medium-train-step.yaml
  e2e_tests/tests/fixtures/no_op/single-nan-validations.yaml
  e2e_tests/tests/fixtures/no_op/single-nested-hps.yaml
  e2e_tests/tests/fixtures/no_op/single-one-short-step.yaml
  e2e_tests/tests/fixtures/no_op/single-very-many-long-steps.yaml
  e2e_tests/tests/fixtures/no_op/single.yaml
  e2e_tests/tests/fixtures/no_op/startup-hook.yaml
  e2e_tests/tests/fixtures/pytorch_identity/distributed.yaml
  e2e_tests/tests/fixtures/pytorch_identity/torch_distributed.yaml
  e2e_tests/tests/fixtures/pytorch_no_op/const.yaml
  e2e_tests/tests/fixtures/templates/template.yaml
  e2e_tests/tests/fixtures/trial_error/const.yaml
Labels: cla-signed

#6790 docs: Reorganize reference directory
  docs/.redirects/redirects.json
  docs/cluster-setup-guide/basic.rst
  docs/cluster-setup-guide/deploy-cluster/index.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/custom-pod-specs.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/helm-commands.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/install-on-kubernetes.rst
  docs/cluster-setup-guide/workspaces.rst
  docs/index.rst
  docs/reference/deploy/config/agent-config-reference.rst
  docs/reference/deploy/config/common-config-options.rst
  docs/reference/deploy/config/helm-config-reference.rst
  docs/reference/deploy/config/master-config-reference.rst
  docs/reference/deploy/index.rst
  docs/reference/interface/job-config-reference.rst
  docs/reference/model-hub/index.rst
  docs/reference/model-hub/modelhub/mmdetection-api.rst
  docs/reference/model-hub/modelhub/transformers-api.rst
  docs/reference/overview.rst
  docs/reference/reference-training/index.rst
  docs/reference/searcher/custom-searcher-reference.rst
  docs/reference/training/api-core-reference.rst
  docs/reference/training/api-deepspeed-reference.rst
  docs/reference/training/api-det-reference.rst
  docs/reference/training/api-estimator-reference.rst
  docs/reference/training/api-keras-reference.rst
  docs/reference/training/api-pytorch-lightning-reference.rst
  docs/reference/training/api-pytorch-reference.rst
  docs/reference/training/api-pytorch-samplers-reference.rst
  docs/reference/training/experiment-config-reference.rst
  docs/reference/training/index.rst
  docs/training/apis-howto/api-core-ug.rst
  docs/training/apis-howto/api-estimator-ug.rst
  docs/training/apis-howto/api-keras-ug.rst
  docs/training/apis-howto/api-pytorch-lightning-ug.rst
  docs/training/apis-howto/deepspeed/overview.rst
  docs/training/apis-howto/overview.rst
  docs/training/hyperparameter/search-methods/hp-custom.rst
  docs/tutorials/index.rst
  docs/tutorials/pytorch-mnist-local-qs.rst
  docs/tutorials/quickstart-mdldev.rst
Labels: documentation, cla-signed

#6809 chore: update jupyter-lab URL to be consistent with CLI generated URL [WEB-1238]
  harness/determined/cli/notebook.py
  harness/determined/common/api/request.py
Labels: cla-signed

#6806 feat: add binary search
  harness/determined/pytorch/dsat/_defaults.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_utils.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Labels: cla-signed

#6810 chore(gha): fix invalid syntax for docsite linker
  .github/workflows/link-docs-preview.yml
Labels: cla-signed

#6820 ci: increase `det deploy aws up` wait time to 20m.
  .circleci/config.yml
Labels: cla-signed

#6605 feat: associate templates with workspaces
  docs/release-notes/deprecate-template-set.rst
  e2e_tests/tests/template/test_template.py
  harness/determined/cli/cli.py
  harness/determined/cli/experiment.py
  harness/determined/cli/resources.py
  harness/determined/cli/template.py
  harness/determined/cli/tensorboard.py
  harness/determined/cli/trial.py
  harness/determined/common/api/bindings.py
  harness/determined/common/declarative_argparse.py
  harness/determined/deploy/cli.py
  master/internal/api_templates.go
  master/pkg/model/template.go
  master/static/migrations/20230511153117_add-template-workspace.tx.down.sql
  master/static/migrations/20230511153117_add-template-workspace.tx.up.sql
  master/static/srv/get_template.sql
  master/static/srv/get_templates.sql
  master/static/srv/insert_template.sql
  master/static/srv/put_template.sql
  master/static/srv/update_template.sql
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/template.pb.go
  proto/pkg/templatev1/template.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/template.proto
  proto/src/determined/template/v1/template.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: documentation, cla-signed, User-facing API Change

#6822 docs: Update language about upgrading/uninstalling CLI
  docs/interfaces/cli-ug.rst
Labels: documentation, cla-signed

#6817 feat: mask token det auth login [MLG-540]
  harness/determined/cli/sso.py
Labels: cla-signed

#6823 fix: doc url fix
  webui/react/src/pages/TrialDetails/TrialDetailsProfiles.tsx
Labels: cla-signed

#6770 refactor: add 16px bottom padding to Page [WEB-1052]
  webui/react/src/components/Page.module.scss
  webui/react/src/components/Page.tsx
  webui/react/src/components/PageHeader/PageHeader.tsx
  webui/react/src/components/PageMessage.tsx
  webui/react/src/components/kit/LogViewer/LogViewer.tsx
  webui/react/src/components/kit/Pivot.module.scss
  webui/react/src/pages/Clusters/ClustersQueuedChart.tsx
  webui/react/src/pages/Dashboard.module.scss
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/ProjectDetails.module.scss
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/ResourcepoolDetail.tsx
  webui/react/src/pages/SignIn.tsx
  webui/react/src/pages/TrialsComparison/TrialsComparison.tsx
  webui/react/src/pages/WorkspaceDetails.module.scss
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/shared/components/Page/Page.module.scss
  webui/react/src/shared/components/Page/Page.test.tsx
  webui/react/src/shared/components/Page/Page.tsx
  webui/react/src/shared/components/Page/index.ts
Labels: cla-signed, shared-web

#6819 docs: Reorganize setup directory
  docs/.redirects/redirects.json
  docs/architecture/introduction.rst
  docs/index.rst
  docs/reference/deploy/config/helm-config-reference.rst
  docs/setup-cluster/basic.rst
  docs/setup-cluster/deploy-cluster/aws/aws-spot.rst
  docs/setup-cluster/deploy-cluster/aws/dynamic-agents-aws.rst
  docs/setup-cluster/deploy-cluster/aws/install-on-aws.rst
  docs/setup-cluster/deploy-cluster/aws/overview.rst
  docs/setup-cluster/deploy-cluster/gcp/dynamic-agents-gcp.rst
  docs/setup-cluster/deploy-cluster/gcp/install-gcp.rst
  docs/setup-cluster/deploy-cluster/gcp/overview.rst
  docs/setup-cluster/deploy-cluster/index.rst
  docs/setup-cluster/deploy-cluster/k8s/custom-pod-specs.rst
  docs/setup-cluster/deploy-cluster/k8s/helm-commands.rst
  docs/setup-cluster/deploy-cluster/k8s/install-on-kubernetes.rst
  docs/setup-cluster/deploy-cluster/k8s/k8s-dev-guide.rst
  docs/setup-cluster/deploy-cluster/k8s/overview.rst
  docs/setup-cluster/deploy-cluster/k8s/setup-aks-cluster.rst
  docs/setup-cluster/deploy-cluster/k8s/setup-eks-cluster.rst
  docs/setup-cluster/deploy-cluster/k8s/setup-gke-cluster.rst
  docs/setup-cluster/deploy-cluster/k8s/troubleshooting.rst
  docs/setup-cluster/deploy-cluster/on-prem/deploy.rst
  docs/setup-cluster/deploy-cluster/on-prem/docker.rst
  docs/setup-cluster/deploy-cluster/on-prem/homebrew.rst
  docs/setup-cluster/deploy-cluster/on-prem/linux-packages.rst
  docs/setup-cluster/deploy-cluster/on-prem/overview.rst
  docs/setup-cluster/deploy-cluster/on-prem/requirements.rst
  docs/setup-cluster/deploy-cluster/slurm/callout-1.png
  docs/setup-cluster/deploy-cluster/slurm/callout-2.png
  docs/setup-cluster/deploy-cluster/slurm/callout-3.png
  docs/setup-cluster/deploy-cluster/slurm/hpc-launching-arch-diagram.png
  docs/setup-cluster/deploy-cluster/slurm/hpc-launching-architecture.rst
  docs/setup-cluster/deploy-cluster/slurm/install-on-slurm.rst
  docs/setup-cluster/deploy-cluster/slurm/overview.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/deploy-cluster/slurm/slurm-known-issues.rst
  docs/setup-cluster/deploy-cluster/slurm/slurm-requirements.rst
  docs/setup-cluster/elasticsearch-logging-backend.rst
  docs/setup-cluster/historical-cluster-usage-data.rst
  docs/setup-cluster/security/oauth.rst
  docs/setup-cluster/security/oidc.rst
  docs/setup-cluster/security/overview.rst
  docs/setup-cluster/security/rbac.rst
  docs/setup-cluster/security/saml.rst
  docs/setup-cluster/security/scim.rst
  docs/setup-cluster/security/tls.rst
  docs/setup-cluster/troubleshooting.rst
  docs/setup-cluster/upgrade.rst
  docs/setup-cluster/users.rst
  docs/setup-cluster/workspaces.rst
  docs/tutorials/pytorch-mnist-local-qs.rst
  docs/tutorials/quickstart-mdldev.rst
Labels: documentation, cla-signed

#6828 fix: move lock to fix hf overwrites
  harness/determined/integrations/huggingface/hf_callback.py
  harness/tests/experiment/fixtures/deepspeed_autotune/hf_integration_experiment/ds_config.json
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Labels: cla-signed

#6777 fix: Fix designkit screenshots being affected by subpixel lengths
  webui/react/Makefile
  webui/react/scripts/designkit-screenshot.mjs
  webui/react/src/pages/DesignKit.tsx
Labels: cla-signed

#6830 chore: provisioning retry error prop
  master/internal/rm/agentrm/resource_pool.go
  master/internal/task/allocation.go
  master/internal/trial.go
Labels: cla-signed

#6769 chore(CLI): set command config binds from --config
  docs/release-notes/command-config-cli-bind-mounts.rst
  harness/determined/cli/command.py
Labels: documentation, cla-signed

#6816 chore: remove bun log messages from master logs [DET-9460]
  master/internal/api/apiutils/utils.go
Labels: cla-signed

#6825 fix: small fixes
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Labels: cla-signed

#6834 fix: proper placement of start/end profile step
  harness/determined/pytorch/dsat/_run_dsat.py
Labels: cla-signed

#6827 feat: Add metrics-stream/metric-names API for multiple experiments [WEB-1107]
  e2e_tests/tests/experiment/test_metrics.py
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/hooks/useMetricNames.ts
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#6835 ci: bump GKE Kubernetes version
  .circleci/config.yml
Labels: cla-signed

#6837 feat: more random search tests
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Labels: cla-signed

#6836 docs: Update launcher dependency to 3.2.9 [DET-9474]
  docs/release-notes/launcher_329.rst
  docs/setup-cluster/deploy-cluster/slurm/overview.rst
Labels: documentation, cla-signed

#6818 chore: update hermes [WEB-1186]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
Labels: cla-signed

#6838 chore: print messages while `det deploy aws (up|down)` waits
  harness/determined/deploy/aws/aws.py
Labels: cla-signed

#6716 chore: do not set trial state on PyTorchTrial until load
  harness/determined/pytorch/__init__.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Labels: cla-signed

#6843 perf: speed up synthetic metric generation
  master/internal/populate_metrics.go
Labels: cla-signed

#6791 refactor: Add notes to UI kit
  webui/react/design/index.tsx
  webui/react/src/components/NotesCard.module.scss
  webui/react/src/components/kit/Input.tsx
  webui/react/src/components/kit/NoteCard.module.scss
  webui/react/src/components/kit/NoteCard.tsx
  webui/react/src/components/kit/NoteCards.module.scss
  webui/react/src/components/kit/NoteCards.tsx
  webui/react/src/components/kit/Notes.tsx
  webui/react/src/components/kit/Tags.tsx
  webui/react/src/components/kit/useNoteDemo.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentMultiTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ProjectNotes.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceQuickSearch.tsx
Labels: cla-signed

#6734 chore: support non numeric metrics in CompareTrials, SummarizeTrials, and TrialsSample [DET-9384]
  master/internal/api_trials_intg_test.go
  master/internal/trials/postgres_trials.go
Labels: cla-signed

#6829 fix: 'det e list' and 'det e list -a' behavior was switched DET-9480
  docs/release-notes/fix-det-e-list-cli.rst
  harness/determined/cli/experiment.py
Labels: documentation, cla-signed

#6844 fix: Dashboard shows workspace name and link for tasks [WEB-1136]
  webui/react/src/pages/Dashboard.tsx
Labels: cla-signed

#6849 chore: devcontainer node version and bindings
  .devcontainer/devcontainer.json
Labels: cla-signed

#6850 chore: increase det deploy gcp server size to 200gb
  harness/determined/deploy/gcp/terraform/modules/compute/main.tf
Labels: cla-signed

#6855 test: fix TestNonNumericEpochMetric test
  master/internal/api_trials_intg_test.go
Labels: cla-signed

#6848 docs: reorganize the model dev guide directory
  docs/.redirects/redirects.json
  docs/architecture/index.rst
  docs/architecture/introduction.rst
  docs/index.rst
  docs/model-dev-guide/apis-howto/api-core-ug.rst
  docs/model-dev-guide/apis-howto/api-estimator-ug.rst
  docs/model-dev-guide/apis-howto/api-keras-ug.rst
  docs/model-dev-guide/apis-howto/api-pytorch-lightning-ug.rst
  docs/model-dev-guide/apis-howto/api-pytorch-ug.rst
  docs/model-dev-guide/apis-howto/deepspeed/advanced.rst
  docs/model-dev-guide/apis-howto/deepspeed/deepspeed.rst
  docs/model-dev-guide/apis-howto/deepspeed/overview.rst
  docs/model-dev-guide/apis-howto/deepspeed/pytorch2deepspeed.rst
  docs/model-dev-guide/apis-howto/overview.rst
  docs/model-dev-guide/best-practices/overview.rst
  docs/model-dev-guide/debug-models.rst
  docs/model-dev-guide/dtrain-introduction.rst
  docs/model-dev-guide/hyperparameter/configure-hp-ranges.rst
  docs/model-dev-guide/hyperparameter/handle-trial-errors.rst
  docs/model-dev-guide/hyperparameter/hp-constraints-det.rst
  docs/model-dev-guide/hyperparameter/instrument-model-code.rst
  docs/model-dev-guide/hyperparameter/overview.rst
  docs/model-dev-guide/hyperparameter/search-methods/hp-adaptive-asha.rst
  docs/model-dev-guide/hyperparameter/search-methods/hp-custom.rst
  docs/model-dev-guide/hyperparameter/search-methods/hp-grid.rst
  docs/model-dev-guide/hyperparameter/search-methods/hp-random.rst
  docs/model-dev-guide/hyperparameter/search-methods/hp-single.rst
  docs/model-dev-guide/hyperparameter/search-methods/overview.rst
  docs/model-dev-guide/index.rst
  docs/model-dev-guide/load-model-data.rst
  docs/model-dev-guide/model-management/checkpoints.rst
  docs/model-dev-guide/model-management/model-registry-org.rst
  docs/model-dev-guide/model-management/overview.rst
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/model-dev-guide/prepare-container/overview.rst
  docs/model-dev-guide/prepare-container/set-environment-images.rst
  docs/model-dev-guide/submit-experiment.rst
  docs/model-hub-library/transformers/tutorial.rst
  docs/reference/training/api-core-reference.rst
  docs/reference/training/api-deepspeed-reference.rst
  docs/reference/training/api-estimator-reference.rst
  docs/reference/training/api-keras-reference.rst
  docs/reference/training/api-pytorch-lightning-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/deploy-cluster/slurm/slurm-known-issues.rst
  docs/training/setup-guide/overview.rst
  docs/tutorials/index.rst
  docs/tutorials/quickstart-mdldev.rst
Labels: documentation, cla-signed

#6861 ci: install `build` when publishing Python packages
  .circleci/config.yml
Labels: cla-signed

#6846 chore: stabilize static typed python [MLG-498]
  docs/reference/training/api-deepspeed-reference.rst
  docs/training/apis-howto/deepspeed/deepspeed.rst
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/nightly/test_distributed.py
  examples/deepspeed/cifar10_cpu_offloading/model_def.py
  examples/deepspeed/cifar10_moe/model_def.py
  examples/deepspeed/deepspeed_autotuning/core_api/ffn_example_ds_launcher/script.py
  examples/deepspeed/deepspeed_autotuning/core_api/ffn_example_torch_launcher/script.py
  examples/deepspeed/deepspeed_autotuning/core_api/torchvison_models/script.py
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/image_classification/image_classification.py
  examples/deepspeed/deepspeed_autotuning/native_dsat_tests/torchvision_models_example/main.py
  examples/deepspeed/deepspeed_autotuning/native_dsat_tests/torchvision_models_example/script.py
  examples/deepspeed/deepspeed_dcgan/model_def.py
  examples/deepspeed/pipeline_parallelism/model_def.py
  harness/determined/integrations/huggingface/__init__.py
  harness/determined/integrations/huggingface/hf_callback.py
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
  harness/determined/pytorch/dsat/__init__.py
  harness/determined/pytorch/dsat/__main__.py
  harness/determined/pytorch/dsat/_defaults.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_run_dsat.py
  harness/determined/pytorch/dsat/_utils.py
  harness/determined/searcher/__init__.py
  harness/determined/searcher/_search_method.py
  harness/determined/searcher/_search_runner.py
  harness/tests/custom_search_mocks.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
  harness/tests/requirements/requirements-harness.txt
Labels: documentation, cla-signed

#6859 fix: total batches update on rollbacks.
  master/internal/db/postgres_trial.go
  master/static/migrations/20230504000000_recompute-trials-total-batches.tx.down.sql
  master/static/migrations/20230504000000_recompute-trials-total-batches.tx.up.sql
Labels: cla-signed

#6821 chore(gha): add debug info to help iterate on link preview workflow
  .github/workflows/link-docs-preview.yml
Labels: cla-signed

#6842 test: fix nightly `test_convergence`.
  e2e_tests/tests/conftest.py
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/nightly/test_convergence.py
  e2e_tests/tests/test_sdk.py
Labels: cla-signed

#6826 docs: Add documentation for installing and running Determined AI on WSL
  docs/setup-cluster/deploy-cluster/index.rst
  docs/setup-cluster/deploy-cluster/on-prem/overview.rst
  docs/setup-cluster/deploy-cluster/on-prem/wsl.rst
Labels: documentation, cla-signed

#6864 updates according to comments for mypy changes
  harness/determined/integrations/huggingface/hf_callback.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_run_dsat.py
Labels: cla-signed

#6852 feat: asha
  harness/determined/pytorch/dsat/__init__.py
  harness/determined/pytorch/dsat/_defaults.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_run_dsat.py
  harness/determined/pytorch/dsat/_utils.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Labels: cla-signed

#6812 ci(circle): add react node cache key suffix
  .circleci/config.yml
Labels: cla-signed

#6865 ci(circle): skip jobs if only .github files were changed
  .circleci/config.yml
Labels: cla-signed

#6871 chore: move hf examples
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/README.md
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/image_classification/adaptive.yaml
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/image_classification/const.yaml
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/image_classification/const_epochs.yaml
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/image_classification/distributed.yaml
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/image_classification/image_classification.py
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/language_modeling/ds_configs/ds_config_stage_1.json
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/language_modeling/ds_configs/ds_config_stage_2.json
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/language_modeling/ds_configs/ds_config_stage_2_cpu_offload.json
  examples/deepspeed/deepspeed_autotuning/hf_trainer_api/language_modeling/ds_configs/ds_config_stage_3.json
  examples/integrations/hf_trainer_api/README.md
  examples/integrations/hf_trainer_api/deepspeed.yaml
  examples/integrations/hf_trainer_api/image_classification/adaptive.yaml
  examples/integrations/hf_trainer_api/image_classification/const.yaml
  examples/integrations/hf_trainer_api/image_classification/const_epochs.yaml
  examples/integrations/hf_trainer_api/image_classification/deepspeed.yaml
  examples/integrations/hf_trainer_api/image_classification/distributed.yaml
  examples/integrations/hf_trainer_api/image_classification/ds_configs/ds_config_stage_1.json
  examples/integrations/hf_trainer_api/image_classification/ds_configs/ds_config_stage_2.json
  examples/integrations/hf_trainer_api/image_classification/ds_configs/ds_config_stage_2_cpu_offload.json
  examples/integrations/hf_trainer_api/image_classification/ds_configs/ds_config_stage_3.json
  examples/integrations/hf_trainer_api/image_classification/image_classification.py
  examples/integrations/hf_trainer_api/image_classification/requirements.txt
  examples/integrations/hf_trainer_api/image_classification/startup-hook.sh
  examples/integrations/hf_trainer_api/language_modeling/adaptive.yaml
  examples/integrations/hf_trainer_api/language_modeling/const.yaml
  examples/integrations/hf_trainer_api/language_modeling/const_epochs.yaml
  examples/integrations/hf_trainer_api/language_modeling/deepspeed.yaml
  examples/integrations/hf_trainer_api/language_modeling/distributed.yaml
  examples/integrations/hf_trainer_api/language_modeling/ds_configs/ds_config_stage_1.json
  examples/integrations/hf_trainer_api/language_modeling/ds_configs/ds_config_stage_2.json
  examples/integrations/hf_trainer_api/language_modeling/ds_configs/ds_config_stage_2_cpu_offload.json
  examples/integrations/hf_trainer_api/language_modeling/ds_configs/ds_config_stage_3.json
  examples/integrations/hf_trainer_api/language_modeling/requirements.txt
  examples/integrations/hf_trainer_api/language_modeling/run_clm.py
  examples/integrations/hf_trainer_api/language_modeling/startup-hook.sh
  examples/integrations/hf_trainer_api/requirement.txt
  examples/integrations/hf_trainer_api/startup-hook.sh
  harness/determined/pytorch/dsat/_utils.py
Labels: cla-signed

#6868 ci(gha/link-docs-preview): use md5sum for branch hashing
  .github/workflows/link-docs-preview.yml
Labels: cla-signed

#6876 ci(gha/link-docs-preview): fix url base for preview links [INFENG-193]
  .github/workflows/link-docs-preview.yml
Labels: cla-signed

#6879 ci(gha/link-docs-preview): fix variable name in output
  .github/workflows/link-docs-preview.yml
Labels: cla-signed

#6873 chore: Replace `New Page` with `New Note` in NoteCards
  webui/react/src/components/kit/NoteCards.tsx
Labels: cla-signed

#6870 fix: remove ptl images from circleci
  .circleci/config.yml
  harness/tests/experiment/integrations/test_pytorch_lightning.py
Labels: cla-signed

#6885 docs: Add release notes for 0.22.1
  docs/release-notes.rst
  docs/release-notes/deprecate-fluent-logging.rst
Labels: documentation, cla-signed

#6874 chore: Add ordered map (orderedmapx) to allow for queuing of job cancelations [DET-9465]
  master/pkg/syncx/orderedmapx/orderedmapx.go
  master/pkg/syncx/orderedmapx/orderedmapx_test.go
Labels: cla-signed

#6882 fix: trials created by paused experiments should be paused [DET-9493]
  master/internal/trial.go
  master/pkg/model/experiment.go
Labels: cla-signed

#6883 use the python module for `searcher` directly
  harness/determined/pytorch/dsat/__init__.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_run_dsat.py
  harness/determined/searcher/__init__.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Labels: cla-signed

#6854 refactor: bunify a chunk of experiment-related db queries.
  master/internal/api_checkpoint.go
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_tasks.go
  master/internal/api_tensorboard.go
  master/internal/api_trials.go
  master/internal/core_experiment.go
  master/internal/core_task.go
  master/internal/db/database.go
  master/internal/db/postgres_experiments.go
  master/internal/experiment/postgres_experiments.go
  master/internal/mocks/db.go
  master/pkg/model/experiment.go
Labels: cla-signed

#6891 feat: clean up dsat examples
  e2e_tests/tests/config.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/nightly/test_distributed.py
  examples/deepspeed/deepspeed_autotune/no_op_test/deepspeed.yaml
  examples/deepspeed/deepspeed_autotune/no_op_test/ds_config.json
  examples/deepspeed/deepspeed_autotune/no_op_test/script.py
  examples/deepspeed/deepspeed_autotune/torchvision/README.md
  examples/deepspeed/deepspeed_autotune/torchvision/core_api/deepspeed.yaml
  examples/deepspeed/deepspeed_autotune/torchvision/core_api/ds_config.json
  examples/deepspeed/deepspeed_autotune/torchvision/core_api/script.py
  examples/deepspeed/deepspeed_autotune/torchvision/deepspeed_trial/deepspeed.yaml
  examples/deepspeed/deepspeed_autotune/torchvision/deepspeed_trial/ds_config.json
  examples/deepspeed/deepspeed_autotune/torchvision/deepspeed_trial/model_def.py
  examples/deepspeed/deepspeed_autotuning/README.md
  examples/deepspeed/deepspeed_autotuning/core_api/ffn_example_ds_launcher/deepspeed.yaml
  examples/deepspeed/deepspeed_autotuning/core_api/ffn_example_ds_launcher/script.py
  examples/deepspeed/deepspeed_autotuning/core_api/ffn_example_torch_launcher/deepspeed.yaml
  examples/deepspeed/deepspeed_autotuning/core_api/ffn_example_torch_launcher/ds_config.json
  examples/deepspeed/deepspeed_autotuning/core_api/ffn_example_torch_launcher/script.py
  examples/deepspeed/deepspeed_autotuning/core_api/torchvison_models/deepspeed.yaml
  examples/deepspeed/deepspeed_autotuning/core_api/torchvison_models/script.py
  examples/deepspeed/deepspeed_autotuning/native_dsat_tests/torchvision_models_example/README.md
  examples/deepspeed/deepspeed_autotuning/native_dsat_tests/torchvision_models_example/autotune_config.yaml
  examples/deepspeed/deepspeed_autotuning/native_dsat_tests/torchvision_models_example/constants.py
  examples/deepspeed/deepspeed_autotuning/native_dsat_tests/torchvision_models_example/deepspeed_single_node_launcher.py
  examples/deepspeed/deepspeed_autotuning/native_dsat_tests/torchvision_models_example/main.py
  examples/deepspeed/deepspeed_autotuning/native_dsat_tests/torchvision_models_example/script.py
  examples/deepspeed/deepspeed_autotuning/native_dsat_tests/torchvision_models_example/utils.py
  examples/deepspeed/deepspeed_autotuning/trial_classes/torchvison_models/ds_config.json
  examples/tests/test_official.py
Labels: cla-signed

#6888 docs: Indent content under 4th level headings
  docs/reference/deploy/config/master-config-reference.rst
Labels: documentation, cla-signed

#6890 fix: adjust pinned position calculation [WEB-1260]
  webui/react/src/components/Table/InteractiveTable.tsx
Labels: cla-signed

#6519 feat: detached mode v0.
  e2e_tests/tests/experiment/test_unmanaged.py
  examples/features/unmanaged/unmanaged_2_hp_search.py
  examples/features/unmanaged/unmanaged_3_torch_distributed.py
  harness/determined/common/api/bindings.py
  harness/determined/core/_checkpoint.py
  harness/determined/experimental/__init__.py
  harness/determined/experimental/client.py
  harness/determined/experimental/unmanaged.py
  master/internal/api_checkpoint_intg_test.go
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/core_experiment.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_model_intg_test.go
  master/internal/db/postgres_test_utils.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/experiment.go
  master/pkg/model/experiment.go
  master/pkg/model/task.go
  master/pkg/model/types.go
  master/pkg/schemas/expconf/zgen_experiment_config_v0.go
  master/pkg/schemas/zgen_schemas.go
  master/static/migrations/20230515163101_add-experiment-detached.tx.down.sql
  master/static/migrations/20230515163101_add-experiment-detached.tx.up.sql
  master/test/integration/api/api_checkpoints_test.go
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/experiment.pb.go
  proto/pkg/apiv1/trial.pb.go
  proto/pkg/checkpointv1/checkpoint.pb.go
  proto/pkg/experimentv1/experiment.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/api/v1/trial.proto
  proto/src/determined/checkpoint/v1/checkpoint.proto
  proto/src/determined/experiment/v1/experiment.proto
  schemas/expconf/v0/experiment.json
  schemas/test_cases/v0/entrypoint.yaml
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#6867 ci: track merged PRs in a GitHub project
  .github/workflows/track-prs-for-release.yml
  tools/scripts/add-pr-to-release-project.sh
Labels: cla-signed

#6895 Feat deepspeed autotune to do cleanup
  harness/determined/pytorch/dsat/__init__.py
  harness/determined/pytorch/dsat/__main__.py
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_utils.py
Labels: cla-signed

#6884 test: concurrent trial metric updates
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
Labels: cla-signed

#6896 fix: no trial twice
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Labels: cla-signed

#6858 fix: case-insensitive contains query within experiment [WEB-1254]
  master/internal/api_experiment_intg_test.go
  master/internal/experiment_filter.go
Labels: cla-signed

#6899 Fixing tests and flake8 issues
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/searcher/_search_runner.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Labels: cla-signed

#6900 fix: remove improper test_official.py tests
  examples/tests/test_official.py
Labels: cla-signed
