Repository determined-ai/determined, pull requests merged in 2023-02, with the labels that each got.

#5853 fix: Overflow bugs on charts [WEB-842]
  webui/react/src/components/UPlot/UPlotChart.module.scss
  webui/react/src/components/UPlot/UPlotChart.tsx
  webui/react/src/components/UPlot/UPlotChart/tooltipsPlugin2.ts
  webui/react/src/components/kit/LineChart.module.scss
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/shared/styles/index.scss
Labels: cla-signed, shared-web

#5891 fix: task type not getting set properly during tb permission check
  master/internal/api_tensorboard.go
Labels: cla-signed

#5890 ci: security-only dependabot PRs for docker.
  .github/dependabot.yml
Labels: cla-signed

#5889 chore: revert "chore: remove cert & auth side effects determined_test_sessio…
  e2e_tests/tests/api_utils.py
Labels: cla-signed

#5804 docs: add rbac ntsc docs
  docs/cluster-setup-guide/security/rbac.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
  master/internal/command/authz_basic_impl.go
Labels: documentation, cla-signed

#5788 style: Update antd to v5
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/public/themes/antd.dark.min.css
  webui/react/public/themes/antd.dark.min.css.map
  webui/react/public/themes/antd.min.css
  webui/react/public/themes/antd.min.css.map
  webui/react/scripts/setupThemes.js
  webui/react/src/App.tsx
  webui/react/src/components/AuthToken.tsx
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/LogViewer/LogViewer.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/Router.tsx
  webui/react/src/components/Table/InteractiveTable.tsx
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/components/TaskBar.tsx
  webui/react/src/components/TaskList.tsx
  webui/react/src/components/ThemeProvider.tsx
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpointRegister.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentCreate.module.scss
  webui/react/src/hooks/useModal/Experiment/useModalExperimentCreate.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentMove.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.module.scss
  webui/react/src/hooks/useModal/Model/useModalModelCreate.tsx
  webui/react/src/hooks/useModal/Project/useModalProjectMove.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalConfigureAgent.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateGroup.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateGroup.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalDeleteGroup.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalManageGroups.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalPasswordChange.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalPasswordChange.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceAddMember.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceRemoveMember.tsx
  webui/react/src/omnibar/tree-extension/index.ts
  webui/react/src/omnibar/tree-extension/trees/actions.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.module.scss
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/SettingsAccount.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/pages/SignIn.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
  webui/react/src/setupTests.ts
  webui/react/src/shared/components/ActionDropdown/ActionDropdown.tsx
  webui/react/src/shared/components/CopyButton.tsx
  webui/react/src/shared/components/Spinner/Spinner.test.tsx
  webui/react/src/shared/configs/craco.config.js
  webui/react/src/shared/hooks/useModal/useModal.tsx
  webui/react/src/shared/styles/antd.scss
  webui/react/src/shared/styles/index.scss
  webui/react/src/utils/dialogApi.ts
  webui/react/src/utils/error.ts
Labels: cla-signed, shared-web

#5863 feat: trial metrics grid (feat @gt2345)
  master/internal/api_trials.go
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/hooks/useMetricNames.ts
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/TrialDetails/F_TrialDetailsOverview.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
  webui/react/src/services/decoder.ts
  webui/react/src/shared/utils/number.ts
  webui/react/src/types.ts
Labels: cla-signed, shared-web

#5878 fix: trapped_signal: unbound variable.
  master/static/srv/task-signal-handling.sh
Labels: cla-signed

#5899 test: increase wait timeout for agent test-intg container exit [DET-8869]
  agent/internal/fluent_intg_test.go
Labels: cla-signed

#5873 chore: update dockerhub image in deepspeed_dcgan configurations
  examples/deepspeed/deepspeed_dcgan/cifar10_zero2.yaml
  examples/deepspeed/deepspeed_dcgan/mnist.yaml
  examples/deepspeed/deepspeed_dcgan/mnist_grad_accum.yaml
Labels: cla-signed

#5911 chore: Rename user roles to PermissionsStore, set current user accepts null
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/components/Navigation.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/SignOut.tsx
  webui/react/src/stores/permissions.tsx
  webui/react/src/stores/users.tsx
Labels: cla-signed

#5912 docs: Clarify minimum linux dependency for HPC Launcher
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
Labels: documentation, cla-signed

#5895 feat: ModelVersion edit permission [WEB-807]
  harness/determined/common/api/bindings.py
  master/internal/api_checkpoint.go
  master/internal/api_model.go
  proto/buf.image.bin
  proto/pkg/modelv1/model.pb.go
  proto/src/determined/model/v1/model.proto
  webui/react/src/components/Navigation.tsx
  webui/react/src/hooks/useFeature.ts
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#5874 feat: add `+` button back to create workspace
  webui/react/src/components/NavigationSideBar.module.scss
  webui/react/src/components/NavigationSideBar.tsx
Labels: cla-signed

#5906 docs: remove incorrect note about TLS
  docs/cluster-setup-guide/security/overview.rst
  docs/cluster-setup-guide/security/tls.rst
Labels: documentation, cla-signed

#5901 feat: model registry tab in workspace
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/ModelRegistry.settings.ts
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#5900 chore: address some CI failure issues
  .circleci/config.yml
  webui/react/src/hooks/useModal/UserSettings/useModalPasswordChange.test.tsx
Labels: cla-signed

#5913 docs: More specific HPC launcher linux requirements
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
Labels: documentation, cla-signed

#5886 fix: Check tensorboard responsive before continue [MLG-195]
  harness/determined/exec/tensorboard.py
  harness/determined/tensorboard/fetchers/azure.py
  harness/determined/tensorboard/fetchers/base.py
  harness/determined/tensorboard/fetchers/gcs.py
  harness/determined/tensorboard/fetchers/s3.py
  harness/determined/tensorboard/fetchers/shared.py
Labels: cla-signed

#5898 docs: clarify usage of slot_type with HPC
  docs/reference/reference-deploy/config/master-config-reference.rst
Labels: documentation, cla-signed

#5918 docs: clarify usage of slot_type with HPC
  docs/reference/reference-deploy/config/master-config-reference.rst
Labels: documentation, cla-signed

#5903 perf: [1/n] Add new thread sub-class to handle Tensorboard files sync
  harness/determined/tensorboard/base.py
  harness/tests/tensorboard/test_base.py
Labels: cla-signed

#5914 fix: spinner not stoping [WEB-869]
  webui/react/src/shared/components/Spinner/Spinner.tsx
Labels: cla-signed, shared-web

#5921 docs: hide `det deploy local ... --agents` option.
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-prem/deploy.rst
  harness/determined/deploy/local/cli.py
Labels: documentation, cla-signed

#5925 chore: fix comment in swagger
  proto/pkg/commonv1/common.pb.go
  proto/src/determined/common/v1/common.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5904 chore: pull in test utils from ee
  e2e_tests/tests/cluster/test_rbac.py
  e2e_tests/tests/utils.py
  harness/determined/cli/__init__.py
  master/internal/api_command.go
  master/internal/api_ntsc_intg_test.go
  master/internal/api_shell.go
  master/internal/api_tensorboard.go
  master/internal/command/authz_basic_impl.go
  master/internal/command/authz_iface.go
  master/internal/mocks/nsc_authz_iface.go
Labels: cla-signed

#5927 fix: Give TensorBoard enough time to spin up for e2e tests
  harness/determined/exec/tensorboard.py
Labels: cla-signed

#5934 docs: FOUNDENG-439 Provide documentation for the proxy support we added to the launcher in FOUNDENG-425
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/install-on-slurm.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
Labels: documentation, cla-signed

#5915 feat: Tasks store to observables [WEB-797]
  webui/react/src/pages/Cluster/ClusterOverallStats.test.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.tsx
  webui/react/src/services/apiConfig.ts
  webui/react/src/stores/index.tsx
  webui/react/src/stores/tasks.tsx
Labels: cla-signed

#5936 docs: Update Slurm version restrictions
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/overview.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-known-issues.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
Labels: documentation, cla-signed

#5865 chore: Empty component
  webui/react/src/components/PaginatedNotesCard.module.scss
  webui/react/src/components/PaginatedNotesCard.tsx
  webui/react/src/components/kit/Empty.module.scss
  webui/react/src/components/kit/Empty.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentMove.tsx
  webui/react/src/pages/Dashboard.module.scss
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ModelRegistry.module.scss
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialsComparison/TrialsComparison.module.scss
  webui/react/src/pages/TrialsComparison/TrialsComparison.tsx
  webui/react/src/pages/WebhookList.module.scss
  webui/react/src/pages/WebhookList.tsx
  webui/react/src/pages/WorkspaceList.module.scss
  webui/react/src/pages/WorkspaceList.tsx
Labels: cla-signed

#5905 feat: Dashboard changes
  webui/react/src/components/Grid.tsx
  webui/react/src/components/ProjectCard.tsx
  webui/react/src/pages/Dashboard.tsx
Labels: cla-signed

#5938 fix: resolve infinite API calls in Admin settings page
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
Labels: cla-signed

#5919 feat: add workspace name in model breadcrumb
  master/static/srv/get_model_version.sql
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
Labels: cla-signed, User-facing API Change

#5931 fix: make notification silent
  webui/react/src/pages/WorkspaceDetails.tsx
Labels: cla-signed

#5940 fix: merge typo from PR #5905
  webui/react/src/pages/Dashboard.module.scss
Labels: cla-signed

#5868 fix: set do_request auth token precedence
  harness/determined/common/api/__init__.py
  harness/determined/common/api/request.py
Labels: cla-signed

#4783 feat: HF trainer callback
  e2e_tests/tests/config.py
  e2e_tests/tests/nightly/test_convergence.py
  e2e_tests/tests/nightly/test_distributed.py
  examples/integrations/hf_trainer_api/README.md
  examples/integrations/hf_trainer_api/adaptive.yaml
  examples/integrations/hf_trainer_api/const.yaml
  examples/integrations/hf_trainer_api/const_epochs.yaml
  examples/integrations/hf_trainer_api/deepspeed.yaml
  examples/integrations/hf_trainer_api/det_callback.py
  examples/integrations/hf_trainer_api/distributed.yaml
  examples/integrations/hf_trainer_api/ds_configs/ds_config_stage_1.json
  examples/integrations/hf_trainer_api/ds_configs/ds_config_stage_2.json
  examples/integrations/hf_trainer_api/ds_configs/ds_config_stage_2_cpu_offload.json
  examples/integrations/hf_trainer_api/ds_configs/ds_config_stage_3.json
  examples/integrations/hf_trainer_api/image_classification.py
  examples/integrations/hf_trainer_api/requirement.txt
  examples/integrations/hf_trainer_api/startup-hook.sh
Labels: cla-signed

#5942 fix: select in historical usage
  webui/react/src/components/SelectFilter.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsage.settings.ts
  webui/react/src/stores/experiments.tsx
Labels: cla-signed

#5945 fix: avoid typing.OrderedDict
  harness/determined/cli/command.py
  harness/determined/cli/render.py
Labels: cla-signed

#5944 fix: prevent showing many notifications
  webui/react/src/routes/utils.ts
  webui/react/src/utils/error.ts
Labels: cla-signed

#5941 chore: add missing agent api annotations
  harness/determined/common/api/bindings.py
  proto/pkg/apiv1/agent.pb.go
  proto/src/determined/api/v1/agent.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5928 chore: improve error message for unauthenticated API clients
  master/internal/api_auth.go
Labels: cla-signed

#5949 ci: increase rc builder size to xlarge
  .circleci/config.yml
Labels: cla-signed

#5950 fix: HF callback + test
  e2e_tests/tests/nightly/test_convergence.py
  examples/integrations/hf_trainer_api/det_callback.py
Labels: cla-signed

#5952 fix: fix tree transparency color
  webui/react/src/components/ThemeProvider.tsx
Labels: cla-signed

#5955 chore: fix make release issues
  .circleci/config.yml
  agent/Makefile
  master/Makefile
Labels: cla-signed

#5957 fix: adjust tooltip background color
  webui/react/src/components/ThemeProvider.tsx
Labels: cla-signed

#5902 fix: make agents summary more accurate under k8s with multiple RPs
  master/go.mod
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/kubernetesrm/spec.go
  master/pkg/set/set.go
Labels: cla-signed

#5929 refactor: `getWorkspaces` sql refactor and speed up
  master/static/srv/get_workspaces.sql
Labels: cla-signed

#5932 chore: info store with observable
  webui/react/src/App.tsx
  webui/react/src/hooks/useFeature.test.tsx
  webui/react/src/pages/Settings/UserManagement.test.tsx
  webui/react/src/stores/determinedInfo.tsx
  webui/react/src/stores/index.tsx
Labels: cla-signed

#5959 fix: AddMember modal filtering and placeholder
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceAddMember.tsx
Labels: cla-signed

#5962 fix: Patch an issue where login (?) seems to load forever
  webui/react/src/pages/SignOut.tsx
Labels: cla-signed

#5964 fix: Prevent extra calls to fetch inaccessible workspaces, projects [WEB-880]
  webui/react/src/pages/WorkspaceDetails.tsx
Labels: cla-signed

#5920 feat: Add workspace column to global model registry page [WEB-804]
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/model.py
  master/internal/api_model.go
  master/static/srv/get_models.sql
  proto/pkg/apiv1/model.pb.go
  proto/src/determined/api/v1/model.proto
  webui/react/src/components/TaskList.module.scss
  webui/react/src/components/TaskList.tsx
  webui/react/src/components/WorkspaceFilter.module.scss
  webui/react/src/components/WorkspaceFilter.tsx
  webui/react/src/pages/ModelRegistry.module.scss
  webui/react/src/pages/ModelRegistry.settings.ts
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#5961 fix: det checkpoint auto download for gcs
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/storage/gcs.py
  harness/tests/storage/test_gcs.py
Labels: cla-signed

#5948 test: tweak Elasticsearch logging tests
  agent/internal/fluent/fluent_api_test.go
  agent/internal/fluent_intg_test.go
Labels: cla-signed

#5963 refactor: change auth store to use observables
  webui/react/src/App.tsx
  webui/react/src/components/CheckpointModalTrigger.test.tsx
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/Router.tsx
  webui/react/src/hooks/useAuthCheck.ts
  webui/react/src/hooks/useModal/Experiment/useModalExperimentCreate.test.tsx
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.test.tsx
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateGroup.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalPasswordChange.test.tsx
  webui/react/src/hooks/usePermissions.test.tsx
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/hooks/useSettingsProvider.tsx
  webui/react/src/index.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.test.tsx
  webui/react/src/pages/ExperimentDetails/CodeViewer/CodeViewer.test.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
  webui/react/src/pages/InteractiveTask.test.tsx
  webui/react/src/pages/Settings/Settings.test.tsx
  webui/react/src/pages/Settings/SettingsAccount.test.tsx
  webui/react/src/pages/Settings/UserManagement.test.tsx
  webui/react/src/pages/SignIn.tsx
  webui/react/src/pages/SignOut.tsx
  webui/react/src/setupTests.ts
  webui/react/src/stores/auth.ts
  webui/react/src/stores/auth.tsx
  webui/react/src/stores/index.tsx
  webui/react/src/utils/dialogApi.ts
Labels: cla-signed

#5926 build: Replace CRACO Build/Serve with Vite
  webui/react/.eslintignore
  webui/react/Makefile
  webui/react/index.html
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/MonacoEditor.tsx
  webui/react/src/pages/ExperimentDetails/CodeViewer/IpynbRenderer.tsx
  webui/react/src/react-app-env.d.ts
  webui/react/src/routes/utils.ts
  webui/react/src/shared/configs/tsconfig.json
  webui/react/src/shared/configs/vite-plugin-csp.ts
  webui/react/src/shared/utils/datetime.ts
  webui/react/src/shared/utils/dom.ts
  webui/react/src/utils/experiment.test.ts
  webui/react/src/utils/task.test.ts
  webui/react/src/utils/wait.test.ts
  webui/react/src/vendor/notebook/notebook.js
  webui/react/src/vendor/notebook/package.json
  webui/react/typings/notebook.d.ts
  webui/react/vite.config.ts
Labels: cla-signed, shared-web

#5958 fix: update modifled_at in users table
  master/static/migrations/20230208142448_add-update-modified-time-user-table.tx.down.sql
  master/static/migrations/20230208142448_add-update-modified-time-user-table.tx.up.sql
Labels: cla-signed

#5909 feat: interactive checkpoint markers on charts
  webui/react/src/components/UPlot/SyncProvider.tsx
  webui/react/src/components/UPlot/UPlotChart/closestPointPlugin.module.scss
  webui/react/src/components/UPlot/UPlotChart/closestPointPlugin.ts
  webui/react/src/components/UPlot/UPlotChart/drawPointsPlugin.ts
  webui/react/src/components/UPlot/UPlotChart/tooltipsPlugin.module.scss
  webui/react/src/components/UPlot/UPlotChart/tooltipsPlugin2.ts
  webui/react/src/components/UPlot/types.ts
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/hooks/useModal/Checkpoint/useCheckpointFlow.tsx
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/TrialDetails/F_TrialDetailsOverview.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
  webui/react/src/shared/styles/index.scss
Labels: cla-signed, shared-web

#5971 fix: Clear pinned / all workspaces on signout [WEB-899]
  webui/react/src/pages/SignOut.tsx
  webui/react/src/stores/workspaces.tsx
Labels: cla-signed

#5970 fix: tensorboard cli should report workspace name
  harness/determined/cli/command.py
Labels: cla-signed

#5974 fix: prevent login redirect happening constantly
  webui/react/src/stores/auth.ts
Labels: cla-signed

#5967 feat: add command echo around startup hook
  master/static/srv/entrypoint.sh
  master/static/srv/notebook-entrypoint.sh
  master/static/srv/shell-entrypoint.sh
  master/static/srv/tensorboard-entrypoint.sh
Labels: cla-signed

#5977 build: Correct typo on PHONY target designation
  master/Makefile
Labels: cla-signed

#5951 feat: Model labels queryable by workspace, filterable by authz [WEB-873]
  harness/determined/common/api/bindings.py
  master/internal/api_model.go
  master/internal/mocks/authz_model_iface.go
  master/internal/model/authz_basic_impl.go
  master/internal/model/authz_iface.go
  master/static/srv/get_model_labels.sql
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/model.pb.go
  proto/src/determined/api/v1/model.proto
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#5973 fix: hide 404 until permissions are loaded
  webui/react/src/components/Page.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
Labels: cla-signed

#5937 chore(circleci): switch over to dedicated GCP CI project [INFENG-74]
  .circleci/config.yml
Labels: cla-signed

#5965 docs: remove link to outdated project roadmap wiki page
  CONTRIBUTING.md
Labels: cla-signed

#5986 fix: satisfy lint for `stacklevel` to `warnings.warn`
  cli/determined_cli/__init__.py
  common/determined_common/__init__.py
  deploy/determined_deploy/__init__.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/model.py
  harness/determined/deploy/cli.py
  harness/determined/experimental/client.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
Labels: cla-signed

#5990 test: comment out flaky test case
  webui/react/src/pages/Settings/UserManagement.test.tsx
Labels: cla-signed

#5745 feat: add Core API MNIST tutorial
  examples/tutorials/core_api_pytorch_mnist/README.md
  examples/tutorials/core_api_pytorch_mnist/adaptive.yaml
  examples/tutorials/core_api_pytorch_mnist/checkpoints.yaml
  examples/tutorials/core_api_pytorch_mnist/const.yaml
  examples/tutorials/core_api_pytorch_mnist/distributed.yaml
  examples/tutorials/core_api_pytorch_mnist/metrics.yaml
  examples/tutorials/core_api_pytorch_mnist/model_def.py
  examples/tutorials/core_api_pytorch_mnist/model_def_adaptive.py
  examples/tutorials/core_api_pytorch_mnist/model_def_checkpoints.py
  examples/tutorials/core_api_pytorch_mnist/model_def_distributed.py
  examples/tutorials/core_api_pytorch_mnist/model_def_metrics.py
Labels: cla-signed

#5991 chore: add `drop trigger` in migration down file
  master/static/migrations/20230208142448_add-update-modified-time-user-table.tx.down.sql
Labels: cla-signed

#5954 fix: Persist theme settings
  webui/react/src/App.tsx
  webui/react/src/components/Navigation.tsx
Labels: cla-signed

#5917 perf: [2/2] Refactor sync fn and integrate async upload by thread [MLG-287]
  harness/determined/core/_context.py
  harness/determined/exec/gc_checkpoints.py
  harness/determined/tensorboard/azure.py
  harness/determined/tensorboard/base.py
  harness/determined/tensorboard/build.py
  harness/determined/tensorboard/gcs.py
  harness/determined/tensorboard/hdfs.py
  harness/determined/tensorboard/s3.py
  harness/determined/tensorboard/shared.py
  harness/tests/tensorboard/test_base.py
  harness/tests/tensorboard/test_s3.py
Labels: cla-signed

#5980 fix: gracefully handle rendering IPYNB notebook files in code viewer [WEB-893]
  webui/react/src/pages/ExperimentDetails/CodeViewer/CodeViewer.tsx
  webui/react/src/pages/ExperimentDetails/CodeViewer/IpynbRenderer.tsx
Labels: cla-signed

#5985 chore: bumpenvs with pytorch 1.12, torch-tb-profiler 0.4.1 [MLG-300]
  .circleci/config.yml
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-gcp/install-gcp.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/singularity.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
  docs/interfaces/tensorboard.rst
  docs/reference/reference-deploy/config/helm-config-reference.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/reference/reference-interface/job-config-reference.rst
  docs/reference/reference-training/experiment-config-reference.rst
  docs/training/apis-howto/overview.rst
  docs/training/setup-guide/custom-env.rst
  e2e_tests/tests/config.py
  e2e_tests/tests/fixtures/pytorch_lightning_amp/apex_amp.yaml
  e2e_tests/tests/fixtures/pytorch_lightning_amp/auto_amp.yaml
  e2e_tests/tests/nightly/test_capability.py
  examples/computer_vision/efficientdet_pytorch/const.yaml
  examples/computer_vision/efficientdet_pytorch/const_fake.yaml
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/decision_trees/gbt_titanic_estimator/adaptive.yaml
  examples/decision_trees/gbt_titanic_estimator/const.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_3_cpu_offload.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_no_offload.yaml
  examples/deepspeed/cifar10_moe/moe.yaml
  examples/deepspeed/cifar10_moe/zero_stages.yaml
  examples/deepspeed/gpt_neox/Dockerfile
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  examples/graphs/proteins_pytorch_geometric/adaptive.yaml
  examples/graphs/proteins_pytorch_geometric/const.yaml
  examples/graphs/proteins_pytorch_geometric/distributed.yaml
  examples/graphs/proteins_pytorch_geometric/startup-hook.sh
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/keras/_tf_keras_trial.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-estimator/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  helm/charts/determined/templates/master-config.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/update-bumpenvs-yaml.py
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
Labels: documentation, cla-signed

#5993 fix: avoid flashing previous project experiment list when navigating to uncategorized experiments [WEB-908]
  webui/react/src/routes/index.tsx
Labels: cla-signed

#5995 test: switch test-e2e-cpu-double to use priority scheduler
  .circleci/config.yml
  .circleci/devcluster/double-priority.devcluster.yaml
Labels: cla-signed

#5984 build: Solve typescript library checks [WEB-894]
  bindings/Makefile
  bindings/templates/Makefile
  bindings/templates/README.md
  bindings/templates/pom.xml
  bindings/templates/src/main/java/com/determined/codegen/TypeScriptFetchGlobalsClientCodegen.java
  bindings/templates/src/main/resources/META-INF/services/io.swagger.codegen.CodegenConfig
  bindings/templates/src/main/resources/typescript-fetch-globals/README.mustache
  bindings/templates/src/main/resources/typescript-fetch-globals/api.mustache
  bindings/templates/src/main/resources/typescript-fetch-globals/configuration.mustache
  bindings/templates/src/main/resources/typescript-fetch-globals/index.mustache
  bindings/templates/src/main/resources/typescript-fetch-globals/licenseInfo.mustache
  bindings/templates/src/main/resources/typescript-fetch-globals/model.mustache
  bindings/templates/src/main/resources/typescript-fetch-globals/modelEnum.mustache
  bindings/templates/src/main/resources/typescript-fetch-globals/modelGeneric.mustache
  bindings/templates/src/main/resources/typescript-fetch-globals/package.mustache
  bindings/templates/src/main/resources/typescript-fetch-globals/tsconfig.mustache
  tools/scripts/licenses/swagger-codegen
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/Table/InteractiveTable.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api-ts-sdk/custom.d.ts
  webui/react/src/shared/configs/tsconfig.json
  webui/react/typings/dayjs.d.ts
  webui/react/typings/notebook.d.ts
  webui/react/vite.config.ts
Labels: cla-signed, shared-web

#5960 chore: add optional catchall pre-push hook [DET-8821]
  .pre-commit-config.yaml
  pre-commit/check.py
Labels: cla-signed

#5755 feat: tweak launcher to launch lopsided jobs
  harness/determined/_info.py
  harness/determined/common/api/bindings.py
  harness/determined/core/_distributed.py
  harness/determined/exec/prep_container.py
  harness/determined/horovod.py
  harness/determined/launch/deepspeed.py
  harness/determined/launch/horovod.py
  harness/tests/launch/test_horovod.py
  harness/tests/launch/test_util.py
  harness/tests/test_horovod.py
  master/internal/sproto/task.go
  master/internal/task/rendezvous.go
  master/internal/task/rendezvous_test.go
  master/internal/task/resources_list.go
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed, User-facing API Change

#5999 fix: Avoid model registry 404, workspace-specific permissions [DET-8917]
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
Labels: cla-signed

#5996 ci: check and retry Go package download
  .circleci/config.yml
Labels: cla-signed

#5968 fix: fix spinner regression
  webui/react/src/hooks/useSettingsProvider.tsx
Labels: cla-signed

#5998 fix: handle nans in GET /experiments/:id?showTrialData=true
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  proto/buf.image.bin
  proto/pkg/experimentv1/experiment.pb.go
  proto/src/determined/experiment/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
Labels: cla-signed

#5987 chore: remove dashboard feature switch
  webui/react/src/components/JupyterLabButton.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/TaskList.tsx
  webui/react/src/hooks/useFeature.ts
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/pages/DefaultRoute.tsx
  webui/react/src/routes/index.tsx
Labels: cla-signed

#5859 refactor: rewrite agent without actors
  agent/Makefile
  agent/cmd/determined-agent/root.go
  agent/cmd/determined-agent/run.go
  agent/go.mod
  agent/go.sum
  agent/internal/agent.go
  agent/internal/agent_test.go
  agent/internal/api.go
  agent/internal/check.go
  agent/internal/container.go
  agent/internal/container/container.go
  agent/internal/container_test.go
  agent/internal/containers.go
  agent/internal/containers/manager.go
  agent/internal/containers/manager_api_test.go
  agent/internal/containers/manager_test.go
  agent/internal/containers/spec.go
  agent/internal/core.go
  agent/internal/detect.go
  agent/internal/docker.go
  agent/internal/docker_credential_store.go
  agent/internal/docker_test.go
  agent/internal/errors.go
  agent/internal/fluent.go
  agent/internal/fluent/fluent.go
  agent/internal/fluent/fluent_api_test.go
  agent/internal/fluent_intg_test.go
  agent/internal/nvidia.go
  agent/internal/options.go
  agent/internal/options/options.go
  agent/internal/rocm.go
  agent/internal/rocm_test.go
  agent/pkg/docker/docker.go
  agent/test/testutils/fixtures.go
  docs/release-notes/agent-reattach.rst
  e2e_tests/tests/cluster/conftest.py
  e2e_tests/tests/cluster/managed_cluster.py
  e2e_tests/tests/cluster/test_agent.py
  e2e_tests/tests/cluster/test_agent_restart.py
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/deploy/test_local.py
  master/cmd/determined-master/root.go
  master/internal/config/config.go
  master/internal/config/resource_pool_config.go
  master/internal/core.go
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/agentrm/agents.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/sproto/task.go
  master/pkg/aproto/net.go
  master/pkg/cproto/spec.go
  master/pkg/cproto/state.go
  master/pkg/ws/ws.go
  master/pkg/ws/ws_api_test.go
  master/pkg/ws/ws_example_test.go
Labels: documentation, cla-signed

#5988 fix: prevent agent startup on startup script non-zero exit
  agent/packaging/entrypoint.sh
  master/internal/rm/agentrm/provisioner/agent_setup_test.go
  master/static/srv/agent_setup_script.sh.template
Labels: cla-signed

#6000 docs: remove an extraneous item about accessing WebUI
  docs/quickstart-mdldev.rst
Labels: documentation, cla-signed

#6005 fix: correct slurm rendezvous
  harness/determined/exec/prep_container.py
Labels: cla-signed

#6007 docs: document `kubernetes_namespace` resource pool config option
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/release-notes.rst
Labels: documentation, cla-signed

#6010 build: Revert "Solve typescript library checks (#5984)"
  bindings/Makefile
  bindings/templates/Makefile
  bindings/templates/README.md
  bindings/templates/pom.xml
  bindings/templates/src/main/java/com/determined/codegen/TypeScriptFetchGlobalsClientCodegen.java
  bindings/templates/src/main/resources/META-INF/services/io.swagger.codegen.CodegenConfig
  bindings/templates/src/main/resources/typescript-fetch-globals/README.mustache
  bindings/templates/src/main/resources/typescript-fetch-globals/api.mustache
  bindings/templates/src/main/resources/typescript-fetch-globals/configuration.mustache
  bindings/templates/src/main/resources/typescript-fetch-globals/index.mustache
  bindings/templates/src/main/resources/typescript-fetch-globals/licenseInfo.mustache
  bindings/templates/src/main/resources/typescript-fetch-globals/model.mustache
  bindings/templates/src/main/resources/typescript-fetch-globals/modelEnum.mustache
  bindings/templates/src/main/resources/typescript-fetch-globals/modelGeneric.mustache
  bindings/templates/src/main/resources/typescript-fetch-globals/package.mustache
  bindings/templates/src/main/resources/typescript-fetch-globals/tsconfig.mustache
  tools/scripts/licenses/swagger-codegen
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/Table/InteractiveTable.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api-ts-sdk/custom.d.ts
  webui/react/src/shared/configs/tsconfig.json
  webui/react/typings/dayjs.d.ts
  webui/react/typings/notebook.d.ts
  webui/react/vite.config.ts
Labels: cla-signed, shared-web

#5994 fix: Various chart axis + checkpoint bugs [WEB-911]
  master/internal/api_trials.go
  webui/react/src/components/UPlot/UPlotChart/drawPointsPlugin.ts
  webui/react/src/pages/TrialDetails/F_TrialDetailsOverview.tsx
Labels: cla-signed

#5982 docs: root user usage for HPC
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/install-on-slurm.rst
  docs/cluster-setup-guide/users.rst
Labels: documentation, cla-signed

#5956 feat: Support concurrent fetching for TensorBoard metric files [MLG-295]
  harness/determined/exec/tensorboard.py
  harness/determined/tensorboard/fetchers/azure.py
  harness/determined/tensorboard/fetchers/base.py
  harness/determined/tensorboard/fetchers/gcs.py
  harness/determined/tensorboard/fetchers/s3.py
  harness/determined/tensorboard/fetchers/shared.py
  harness/tests/storage/util.py
Labels: cla-signed

#6012 fix: Don't call getUserSetting until auth is fully checked
  webui/react/src/hooks/useSettingsProvider.tsx
Labels: cla-signed

#5997 feat: Permissions for registering a model version, deleting a model [WEB-808]
  webui/react/src/components/CheckpointModalTrigger.test.tsx
  webui/react/src/hooks/useFeature.ts
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpointRegister.tsx
  webui/react/src/hooks/usePermissions.ts
Labels: cla-signed

#6018 fix: guard against store polling when not logged in
  webui/react/src/components/Navigation.tsx
  webui/react/src/stores/cluster.tsx
Labels: cla-signed

#5975 build: [MLG-305] Check for supported go version at make.
  Makefile
Labels: cla-signed

#6014 fix: remove empty box in chart grid [WEB-892]
  webui/react/src/components/kit/LineChart.tsx
Labels: cla-signed

#5946 feat: Enable viewing epoch based metric data in UI [WEB-859]
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/db/database.go
  master/internal/db/postgres_experiments.go
  master/internal/mocks/db.go
  proto/pkg/apiv1/experiment.pb.go
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/api/v1/trial.proto
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/components/kit/LineChart/XAxisFilter.tsx
  webui/react/src/hooks/useMetricNames.ts
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#6024 docs: add release notes for 0.19.11
  docs/release-notes.rst
  docs/release-notes/INFENG-120-custom-tags-flag.rst
  docs/release-notes/allow-heterogeneous-fits.rst
  docs/release-notes/aws-checkpoint-download-fix.rst
  docs/release-notes/brew.rst
  docs/release-notes/dont-checkpoint-gc-no-checkpoints.rst
  docs/release-notes/equal-in-env-value-k8s.rst
  docs/release-notes/gcs-checkpoint-downloads.rst
  docs/release-notes/k8s-zero.rst
  docs/release-notes/multi-arch-and-arm64.rst
  docs/release-notes/stuck-on-reattach.rst
  docs/release-notes/task-wait-on-logging.rst
  docs/release-notes/usr-bin.rst
Labels: documentation, cla-signed

#6027 fix: add missing newline to slurm logs [DET-8943]
  master/static/srv/enrich_task_logs.py
Labels: cla-signed

#6026 fix: SSO name layout
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/pages/SignIn.module.scss
  webui/react/src/pages/SignIn.tsx
Labels: cla-signed

#6016 feat: Model editing tools disabled if you lack permission [WEB-912]
  webui/react/src/components/Metadata/MetadataCard.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelRegistry.tsx
Labels: cla-signed

#6029 build: Correct typo on PHONY target designation (agent)
  agent/Makefile
Labels: cla-signed

#6017 fix: user can only list models with correct permissions (OSS has appropriate changes) + small fixes in workspace filtering in get models
  harness/determined/cli/model.py
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/determined.py
  master/internal/api_model.go
  master/internal/mocks/authz_model_iface.go
  master/internal/model/authz_basic_impl.go
  master/internal/model/authz_iface.go
  master/static/srv/get_models.sql
  proto/buf.image.bin
  proto/pkg/apiv1/model.pb.go
  proto/src/determined/api/v1/model.proto
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
Labels: cla-signed

#6025 fix: Load roles after current user is loaded [WEB-924]
  webui/react/src/components/Navigation.tsx
Labels: cla-signed

#6033 fix: Segment Analytics will no longer cause experiment to hang [MLG-24]
  harness/determined/common/api/analytics.py
Labels: cla-signed

#6035 fix: cluster queued jobs page crash
  webui/react/src/pages/JobQueue/JobQueue.tsx
Labels: cla-signed

#6022 chore: UI Kit cleanup
  webui/react/src/components/TrialLogPreview.tsx
  webui/react/src/components/kit/LogViewer/LogViewer.module.scss
  webui/react/src/components/kit/LogViewer/LogViewer.test.tsx
  webui/react/src/components/kit/LogViewer/LogViewer.tsx
  webui/react/src/components/kit/LogViewer/LogViewerEntry.module.scss
  webui/react/src/components/kit/LogViewer/LogViewerEntry.test.tsx
  webui/react/src/components/kit/LogViewer/LogViewerEntry.tsx
  webui/react/src/components/kit/LogViewer/LogViewerFilters.settings.ts
  webui/react/src/components/kit/LogViewer/LogViewerFilters.test.tsx
  webui/react/src/components/kit/LogViewer/LogViewerFilters.tsx
  webui/react/src/pages/ClusterLogs.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/TaskLogs.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
Labels: cla-signed

#6032 fix: Display model breadcrumbs even if no access to workspace [WEB-919]
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelRegistry.tsx
Labels: cla-signed

#6034 chore: limit check-all pre-push hook to serial run
  .pre-commit-config.yaml
  pre-commit/check.py
Labels: cla-signed

#6023 chore: Use scale from be in chart grid [WEB-862]
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/components/kit/LineChart/useChartGrid.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/TrialDetails/F_TrialDetailsOverview.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Labels: cla-signed

#6036 docs: Fix DAI docs det user link-with-agent-user example
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/install-on-slurm.rst
Labels: documentation, cla-signed

#6028 fix: ChartGrid flicker and zoom reset when new data
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/UPlot/UPlotChart.tsx
  webui/react/src/components/kit/LineChart.module.scss
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/pages/DesignKit.tsx
Labels: cla-signed

#6042 docs: Improvements to HPC launcher docs
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/overview.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-known-issues.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/reference/reference-training/experiment-config-reference.rst
Labels: documentation, cla-signed

#6038 chore: Allow newer Node versions
  CONTRIBUTING.md
  webui/react/.nvmrc
  webui/react/Makefile
  webui/react/package-lock.json
  webui/react/package.json
Labels: cla-signed

#6048 chore: bump version: 0.19.12-dev0 -> 0.20.0-dev0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/setup.py
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/craco.config.js
Labels: cla-signed

#6040 chore: remove `applicableRoutespace`
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/hooks/useSettings.ts
  webui/react/src/pages/ExperimentDetails/CodeViewer/CodeViewer.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.settings.ts
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.settings.ts
  webui/react/src/pages/ExperimentList.settings.ts
  webui/react/src/pages/JobQueue/JobQueue.settings.ts
  webui/react/src/pages/Settings/GroupManagement.settings.ts
  webui/react/src/pages/TrialDetails/TrialDetailsHyperparameters.settings.ts
  webui/react/src/pages/TrialsComparison/Actions/useTrialActions.tsx
  webui/react/src/pages/TrialsComparison/Collections/useTrialCollections.tsx
  webui/react/src/pages/TrialsComparison/Table/settings.ts
Labels: cla-signed

#6041 chore: warning fixes in web
  webui/react/src/components/kit/Form.tsx
  webui/react/src/hooks/useModal/Checkpoint/useCheckpointFlow.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/shared/configs/eslintrc.js
  webui/react/src/stores/determinedInfo.tsx
  webui/react/src/utils/error.ts
Labels: cla-signed, shared-web

#6046 chore: fix some gpu nightly errors
  .circleci/config.yml
Labels: cla-signed

#6050 chore: missing nodev18
  webui/react/Makefile
Labels: cla-signed

#5649 chore: add a dedicated exception for cli errors
  harness/determined/cli/__init__.py
  harness/determined/cli/_util.py
  harness/determined/cli/agent.py
  harness/determined/cli/cli.py
  harness/determined/cli/command.py
  harness/determined/cli/errors.py
  harness/determined/cli/experiment.py
  harness/determined/cli/tensorboard.py
  harness/determined/cli/workspace.py
  harness/determined/deploy/aws/cli.py
Labels: cla-signed

#6053 fix: SSO layout
  webui/react/src/pages/SignIn.module.scss
  webui/react/src/pages/SignIn.tsx
Labels: cla-signed

#6039 chore: clean up UI kit
  webui/react/src/components/ProjectCard.tsx
  webui/react/src/components/Table/Table.tsx
  webui/react/src/components/kit/UserAvatar.test.tsx
  webui/react/src/components/kit/UserAvatar.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/Settings/SettingsAccount.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceCard.tsx
Labels: cla-signed

#6054 fix: lopsided training with 2,1 gpus
  harness/determined/core/_distributed.py
Labels: cla-signed

#6049 docs: add rbac p2 release notes
  docs/release-notes/rbac-ntsc-mr.rst
Labels: documentation, cla-signed

#6058 chore: manual bump version
  .bumpversion.cfg
Labels: cla-signed

#6056 ci: retry downloading GKE auth plugin [DET-8956]
  .circleci/config.yml
Labels: cla-signed

#6047 docs: update Singularity known issues.
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-known-issues.rst
Labels: documentation, cla-signed

#6037 fix: Add #rank to worker segment instead of timestamp segment of Pytorch Profiler files [MLG-326]
  harness/determined/tensorboard/util.py
  harness/tests/tensorboard/test_util.py
Labels: cla-signed

#6065 fix: handle agent shutdown msg
  agent/internal/agent.go
Labels: cla-signed

#6066 chore: manually bump vite version
  webui/react/vite.config.ts
Labels: cla-signed

#6051 feat: Display better x-axis ticks on charts with time axis [WEB-849]
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/SystemMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/ThroughputMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/TimingMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/utils.ts
  webui/react/src/utils/chart.ts
Labels: cla-signed

#6068 test: add logging to a flaky test
  e2e_tests/tests/deploy/test_local.py
Labels: cla-signed

#6067 fix: Unrelated models are shown in a workspace model registry tab
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/services/types.ts
Labels: cla-signed

#6015 feat: Added task-based historical allocation endpoint [DET-8537]
  e2e_tests/tests/experiment/test_tasks_raw_csv.py
  master/internal/core.go
  webui/react/src/pages/Cluster/ClusterHistoricalUsage.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsageCsvModal.tsx
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#6070 fix: show `not found` and `spinner` properly
  webui/react/src/components/PageNotFound.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
Labels: cla-signed

#6060 fix: gpt-neox docker image and startup hook for non-privileged user [MLG-332]
  examples/deepspeed/gpt_neox/Dockerfile
  examples/deepspeed/gpt_neox/startup-hook.sh
Labels: cla-signed

#6071 test: add locking around migration [DET-8957]
  master/internal/db/migrations.go
Labels: cla-signed

#5875 Feat deepspeed autotune
  ds_autotuning_prototype/README.md
  ds_autotuning_prototype/autotune_config.yaml
  ds_autotuning_prototype/dsat/__init__.py
  ds_autotuning_prototype/dsat/autotune.py
  ds_autotuning_prototype/dsat/checkpoint_profiling_results_wrapper.py
  ds_autotuning_prototype/dsat/constants.py
  ds_autotuning_prototype/dsat/dsat_search_method.py
  ds_autotuning_prototype/dsat/run_dsat.py
  ds_autotuning_prototype/dsat/utils.py
  ds_autotuning_prototype/minimal_script.py
  ds_autotuning_prototype/no_autotune_config.yaml
  ds_autotuning_prototype/startup-hook.sh
  examples/ds_autotuning_prototype/autotune.py
  examples/ds_autotuning_prototype/config_custom.yaml
  examples/ds_autotuning_prototype/constants.py
  examples/ds_autotuning_prototype/ds_profiler_logger.py
  examples/ds_autotuning_prototype/single_ds_profiler_logger_exp.py
  examples/ds_autotuning_prototype/startup-hook.sh
  examples/ds_autotuning_prototype/utils.py
Labels: cla-signed

#6074 fix: cleanup logging under slurm
  master/static/srv/enrich_task_logs.py
Labels: cla-signed

#6069 fix: Checkpoint helper for points > 1000 and points > maxDatapoints
  webui/react/src/pages/TrialDetails/F_TrialDetailsOverview.tsx
Labels: cla-signed

#6077 fix: replace migration table lock with advisory lock
  master/internal/db/migrations.go
Labels: cla-signed

#6079 build: check npm version on install
  webui/react/.npmrc
  webui/react/Makefile
Labels: cla-signed

#6078 build: Apply webui lint fixes in precommit
  pre-commit/web_lint_check.py
Labels: cla-signed

#6076 fix: replace defaultValue with initialValue
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.tsx
Labels: cla-signed
