Repository determined-ai/determined, pull requests merged in 2023-01, with the labels that each got.

#5631 fix: correctly report command submission time on restore [DET-8750]
  docs/release-notes/job-submission-time.rst
  e2e_tests/tests/cluster/test_master_restart.py
  master/internal/command/command.go
Labels: cla-signed

#5650 fix: add missing key
  webui/react/src/pages/WebhookList.tsx
Labels: cla-signed

#5626 fix: Log filters scoped to trial/task [WEB-735]
  webui/react/src/components/LogViewer/LogViewerFilters.settings.ts
  webui/react/src/pages/TaskLogs.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
Labels: cla-signed

#5652 docs: fix typo in rbac docs
  docs/cluster-setup-guide/security/rbac.rst
Labels: cla-signed

#5655 fix: allow killing of STOPPING_CANCELED experiments [DET-8283]
  docs/release-notes/allow-killing-of-cancel-trial.rst
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/fixtures/core_api/sleep.py
  e2e_tests/tests/fixtures/core_api/sleep.yaml
  master/internal/experiment.go
Labels: cla-signed

#5658 fix: Revert change to flex menu
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
Labels: cla-signed

#5657 fix: save merged metadata for sharded ckpts locally
  harness/determined/core/_checkpoint.py
Labels: cla-signed

#5664 chore: move k8s resource pool methods to correct file
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/resource_pool.go
Labels: cla-signed

#5659 docs: documentation for job_project_source
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/release-notes/experiment-tag-propagation.rst
Labels: cla-signed

#5665 refactor: prepare for multiple k8s RPs
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/resource_pool.go
Labels: cla-signed

#5667 chore: downgrade typescript from v4.9.3 to v4.8.4
  webui/react/package-lock.json
  webui/react/package.json
Labels: cla-signed

#5670 chore: fix PyTorchTrial docstring
  harness/determined/pytorch/_pytorch_trial.py
Labels: cla-signed

#5647 fix: validate workspace name
  master/internal/api_workspace.go
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceCreate.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceDelete.module.scss
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceDelete.tsx
  webui/react/src/services/apiConfig.ts
Labels: cla-signed

#4914 chore: clean up det e create cli [MLG-44]
  e2e_tests/tests/cluster/test_users_experiment_api.py
  harness/determined/__init__.py
  harness/determined/_execution.py
  harness/determined/cli/__init__.py
  harness/determined/cli/_util.py
  harness/determined/cli/experiment.py
  harness/determined/cli/notebook.py
  harness/determined/cli/tensorboard.py
  harness/determined/common/api/__init__.py
  harness/determined/common/api/bindings.py
  harness/determined/common/api/experiment.py
  harness/determined/common/api/request.py
  harness/determined/common/constants.py
  harness/determined/common/experimental/determined.py
  harness/tests/cli/test_cli.py
  master/internal/api_experiment.go
  master/internal/core_experiment.go
  master/pkg/protoutils/timestamp.go
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5672 fix: put Kubernetes resource pool at right address
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/pkg/actor/context.go
Labels: cla-signed

#5662 docs: Add known issue
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-known-issues.rst
Labels: cla-signed

#5644 chore: Move '+ New Workspace' button to nav item [WEB-698]
  webui/react/src/components/NavigationSideBar.module.scss
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
Labels: cla-signed

#5674 fix: return projects in GetProjectsByUserActivity when no experiments exist [WEB-767]
  master/internal/api_project.go
  master/pkg/model/user_activity.go
Labels: cla-signed

#5679 chore: `xlarge` resource class for `package-and-push-system-dev`
  .circleci/config.yml
Labels: cla-signed

#5678 fix: respect traling / for dirs
  harness/determined/common/storage/azure.py
  harness/determined/common/storage/gcs.py
  harness/determined/common/storage/s3.py
  harness/determined/common/storage/shared.py
  harness/tests/storage/util.py
Labels: cla-signed

#5676 chore: remove mock_workspace_members feature flag [WEB-2]
  webui/react/src/hooks/useFeature.ts
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceAddMember.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceDetails/RoleRenderer.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
Labels: cla-signed

#5430 chore: ui kit [WEB-543]
  webui/react/src/components/kit/Breadcrumb.tsx
  webui/react/src/components/kit/Button.tsx
  webui/react/src/components/kit/Checkbox.tsx
  webui/react/src/components/kit/IconicButton.tsx
  webui/react/src/components/kit/Input.tsx
  webui/react/src/components/kit/NumberInput.tsx
  webui/react/src/components/kit/Pagination.tsx
  webui/react/src/components/kit/Pivot.tsx
  webui/react/src/components/kit/SearchInput.tsx
  webui/react/src/components/kit/TextAreaInput.tsx
  webui/react/src/components/kit/Tooltip.tsx
  webui/react/src/pages/DesignKit.module.scss
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/routes/index.tsx
  webui/react/src/routes/routes.ts
Labels: cla-signed

#5614 feat: Tensorboard RBAC
  harness/determined/common/api/bindings.py
  master/internal/api_tensorboard.go
  master/internal/command/authz_basic_impl.go
  master/internal/command/authz_iface.go
  master/internal/command/tensorboard_manager.go
  master/internal/mocks/nsc_authz_iface.go
  master/pkg/model/task.go
  proto/src/determined/api/v1/tensorboard.proto
  proto/src/determined/tensorboard/v1/tensorboard.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5681 fix: resolve infinite loop in historical-usage page
  webui/react/src/pages/Cluster/ClusterHistoricalUsage.tsx
  webui/react/src/pages/Cluster/utils.ts
  webui/react/src/stores/users.tsx
Labels: cla-signed

#5675 fix: SSO Provider name capitalization [WEB-768]
  webui/react/src/pages/SignIn.tsx
Labels: cla-signed

#5654 feat: User Management modal changes (WEB-727)
  webui/react/src/hooks/useModal/UserSettings/useModalConfigureAgent.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalManageGroups.tsx
  webui/react/src/pages/Settings/UserManagement.test.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#5684 fix: rbac tensorboard fixes
  master/internal/api_tensorboard.go
  master/internal/command/authz_basic_impl.go
  master/internal/command/command.go
  master/internal/command/tensorboard_manager.go
  master/internal/mocks/nsc_authz_iface.go
Labels: cla-signed

#5677 fix: experiment errors with set_stop_requested in dtrain [DET-8788]
  docs/release-notes/early-stopping-bug.rst
  e2e_tests/tests/fixtures/mnist_pytorch/data.py
  e2e_tests/tests/fixtures/mnist_pytorch/distributed-stop-requested.yaml
  e2e_tests/tests/fixtures/mnist_pytorch/layers.py
  e2e_tests/tests/fixtures/mnist_pytorch/model_def.py
  e2e_tests/tests/fixtures/mnist_pytorch/stop_requested_model_def.py
  e2e_tests/tests/nightly/test_distributed.py
  master/internal/task/allocation.go
Labels: cla-signed

#5584 feat: k8s restore jobs on master restart [DET-8718]
  .circleci/config.yml
  e2e_tests/pytest.ini
  e2e_tests/tests/cluster/conftest.py
  e2e_tests/tests/cluster/managed_cluster.py
  e2e_tests/tests/cluster/managed_cluster_k8s.py
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/conftest.py
  e2e_tests/tests/requirements.txt
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
  master/internal/api_tasks.go
  master/internal/api_trials.go
  master/internal/command/command.go
  master/internal/config/resource_manager_config.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/resource_manager_iface.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/trial.go
Labels: cla-signed

#5666 feat: cover ntsc events and proxy path w/ rbac
  master/internal/api_auth.go
  master/internal/command/events.go
Labels: cla-signed

#3395 fix: add k8s permissions to fix patch bug
  helm/charts/determined/templates/master-permissions.yaml
Labels: cla-signed

#5609 feat: option to filter notebooks based on workspace
  harness/determined/common/api/bindings.py
  master/Makefile
  master/internal/api_auth.go
  master/internal/api_command.go
  master/internal/api_notebook.go
  master/internal/api_shell.go
  master/internal/api_tasks.go
  master/internal/api_tensorboard.go
  master/internal/command/authz_basic_impl.go
  master/internal/command/authz_iface.go
  master/internal/command/events.go
  master/internal/command/notebook_manager.go
  master/internal/mocks/nsc_authz_iface.go
  proto/src/determined/api/v1/notebook.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed, User-facing API Change

#5696 fix: a cli bug with serializing workspace id
  harness/determined/cli/command.py
Labels: cla-signed

#5686 chore: Upgrade all eslint devDependencies [WEB-758]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/Dropdown.tsx
  webui/react/src/components/TaskBar.tsx
  webui/react/src/pages/Clusters/ClustersQueuedChart.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpHeatMaps.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpScatterPlots.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/JobQueue/ManageJob.tsx
  webui/react/src/pages/OldProjectDetails.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/shared/utils/routes.ts
Labels: cla-signed, shared-web

#5689 chore: use Tooltip from UI kit [WEB-778]
  webui/react/src/components/Badge.tsx
  webui/react/src/components/BadgeTag.tsx
  webui/react/src/components/Bar.tsx
  webui/react/src/components/BreadcrumbBar.tsx
  webui/react/src/components/CheckpointModalTrigger.tsx
  webui/react/src/components/ExperimentIcons/index.tsx
  webui/react/src/components/HumanReadableNumber.tsx
  webui/react/src/components/IconButton.tsx
  webui/react/src/components/LogViewer/LogViewer.tsx
  webui/react/src/components/LogViewer/LogViewerEntry.tsx
  webui/react/src/components/Metadata/MetadataCard.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NotesCard.tsx
  webui/react/src/components/PageHeader/PageHeader.tsx
  webui/react/src/components/PageHeaderFoldable.tsx
  webui/react/src/components/RadioGroup.tsx
  webui/react/src/components/RoutePagination.tsx
  webui/react/src/components/Table/Table.tsx
  webui/react/src/components/TagList.tsx
  webui/react/src/components/Tags.tsx
  webui/react/src/components/TimeAgo.tsx
  webui/react/src/components/TrialLogPreview.tsx
  webui/react/src/components/kit/Tooltip.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
  webui/react/src/pages/ExperimentDetails/CodeViewer/CodeViewer.tsx
  webui/react/src/pages/ExperimentDetails/Header/ExperimentHeaderProgress.tsx
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/pages/JobQueue/JobQueue.table.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/ProjectDetails/ProjectDetailsTabs.tsx
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.tsx
  webui/react/src/pages/TrialsComparison/Collections/useTrialCollections.tsx
  webui/react/src/pages/WorkspaceDetails/ProjectCard.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceDetailsHeader.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceCard.tsx
  webui/react/src/shared/components/Avatar/Avatar.tsx
  webui/react/src/shared/components/CopyButton.tsx
  webui/react/src/shared/components/Icon/Icon.tsx
Labels: cla-signed, shared-web

#5691 docs: update date in conf py file
  docs/conf.py
Labels: cla-signed

#5705 chore: fix ui kit Breadcrumb children
  webui/react/src/components/kit/Breadcrumb.tsx
Labels: cla-signed

#5690 chore: replace antd checkbox with UIKit checkbox
  webui/react/src/components/kit/Checkbox.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentStop.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
Labels: cla-signed

#5698 feat: allow configuring multiple RPs for Kubernetes [DET-8711]
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
  master/internal/config/resource_config.go
  master/internal/config/resource_manager_config.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/resource_pool.go
Labels: cla-signed

#5710 chore: update browserslist as recommended
  webui/react/package-lock.json
  webui/react/package.json
Labels: cla-signed

#5601 feat: Dashboard (WEB-678)
  webui/react/src/components/Grid.module.scss
  webui/react/src/components/Grid.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/ProjectActionDropdown.tsx
  webui/react/src/components/ProjectCard.module.scss
  webui/react/src/components/ProjectCard.tsx
  webui/react/src/components/Section.module.scss
  webui/react/src/hooks/useFeature.ts
  webui/react/src/hooks/useModal/Project/useModalProjectDelete.tsx
  webui/react/src/pages/Dashboard.module.scss
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/pages/DefaultRoute.tsx
  webui/react/src/pages/OldProjectDetails.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/ProjectDetails/ProjectDetailsTabs.tsx
  webui/react/src/pages/TaskList.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
  webui/react/src/routes/index.tsx
  webui/react/src/routes/routes.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/shared/assets/fonts/determined-ai.woff
  webui/react/src/shared/assets/fonts/determined-ai.woff2
  webui/react/src/shared/styles/icons.scss
  webui/react/src/types.ts
Labels: cla-signed, shared-web

#5703 fix: check permissions loading in Page component
  webui/react/src/components/Page.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/SignIn.tsx
Labels: cla-signed

#5709 chore: add authz to tb and update interface fn
  master/internal/api_tensorboard.go
  master/internal/command/authz_basic_impl.go
  master/internal/command/authz_iface.go
  master/internal/mocks/nsc_authz_iface.go
Labels: cla-signed

#5706 chore: Use the UI Kit Pagination component in the application [WEB-776]
  webui/react/src/components/RoutePagination.tsx
  webui/react/src/components/kit/Pagination.tsx
Labels: cla-signed

#5714 ci: autolabel docs pull requests
  .github/labeler.yml
Labels: cla-signed

#5707 chore: replace antd breadcrumb with UIKit breadcrumb
  webui/react/src/components/BreadcrumbBar.tsx
  webui/react/src/components/PageHeader/PageHeader.tsx
  webui/react/src/components/kit/Breadcrumb.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelVersionDetails.module.scss
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
Labels: cla-signed

#5695 chore: Use Pivot from UI Kit
  webui/react/src/components/DynamicTabs.tsx
  webui/react/src/components/Markdown.module.scss
  webui/react/src/components/Markdown.tsx
  webui/react/src/components/kit/Pivot.module.scss
  webui/react/src/components/kit/Pivot.tsx
  webui/react/src/pages/Admin/index.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsage.module.scss
  webui/react/src/pages/Clusters.tsx
  webui/react/src/pages/Clusters/ClustersOverview.module.scss
  webui/react/src/pages/Clusters/ClustersOverview.tsx
  webui/react/src/pages/Clusters/ClustersQueuedChart.module.scss
  webui/react/src/pages/Clusters/ClustersQueuedChart.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentMultiTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/ModelVersionDetails.module.scss
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/OldProjectDetails.tsx
  webui/react/src/pages/ProjectDetails.module.scss
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/ProjectDetails/ProjectDetailsTabs.tsx
  webui/react/src/pages/ResourcepoolDetail.tsx
  webui/react/src/pages/Settings/GroupManagement.module.scss
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/UserManagement.module.scss
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHyperparameters.module.scss
  webui/react/src/pages/TrialDetails/TrialDetailsHyperparameters.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.module.scss
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsProfiles.module.scss
  webui/react/src/pages/TrialDetails/TrialRangeHyperparameters.module.scss
  webui/react/src/pages/TrialsComparison/TrialsComparison.module.scss
  webui/react/src/pages/TrialsComparison/TrialsComparison.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.module.scss
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.module.scss
  webui/react/src/shared/styles/antd.scss
Labels: cla-signed, shared-web

#5713 fix: 'det job list' ignores the '--resource-pool' argument
  docs/release-notes/cli-job-ls-resource-pool-fix.rst
  harness/determined/cli/job.py
Labels: cla-signed

#5656 chore: add telemetry for instance provision requests on provisioner tick
  master/go.mod
  master/internal/rm/agentrm/provisioner/aws.go
  master/internal/rm/agentrm/provisioner/aws_spot.go
  master/internal/rm/agentrm/provisioner/gcp.go
  master/internal/rm/agentrm/provisioner/instance.go
  master/internal/rm/agentrm/provisioner/provisioner.go
  master/internal/rm/agentrm/provisioner/provisioner_test.go
  master/internal/rm/agentrm/provisioner/scale_decider.go
  master/internal/rm/agentrm/provisioner/scale_decider_test.go
  master/internal/telemetry/reports.go
  master/pkg/model/model.go
Labels: cla-signed

#5635 fix: Experiment metric selection scoped to experiment [WEB-743]
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.settings.ts
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
Labels: cla-signed

#5711 chore: use tf 2.8 in ci [MLG-11]
  .circleci/config.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  e2e_tests/tests/requirements.txt
  examples/tests/requirements.txt
  harness/determined/pytorch/_reducer.py
  harness/determined/util.py
  harness/tests/experiment/fixtures/tf_keras_one_var_model.py
  harness/tests/experiment/pytorch/test_metric_utils.py
  model_hub/model_hub/utils.py
  requirements.txt
Labels: cla-signed

#5699 chore: add intg tests against legacy data
  master/internal/api_checkpoint_intg_test.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_project_intg_test.go
  master/internal/api_tasks_intg_test.go
  master/internal/api_trials_intg_test.go
  master/internal/api_user_intg_test.go
  master/internal/api_workspace_intg_test.go
  master/internal/core_checkpoint_intg_test.go
  master/internal/core_experiment_intg_test.go
  master/internal/core_trial_intg_test.go
  master/internal/db/postgres_test_utils.go
  master/test/olddata/pre_remove_steps.go
  master/test/olddata/pre_remove_steps.sql
  master/test/olddata/utils.go
Labels: cla-signed

#5716 feat: add workspace filtering to tensorboard cli [DET-8812]
  harness/determined/cli/notebook.py
  harness/determined/cli/tensorboard.py
  harness/determined/cli/workspace.py
Labels: cla-signed

#5724 fix: useModalCustomizeColumns values not updating on page change [WEB-696]
  webui/react/src/hooks/useModal/Columns/useModalColumnsCustomize.tsx
Labels: cla-signed

#5294 fix: prefer legacy configs to active configs [DET-8621]
  harness/determined/exec/tensorboard.py
  harness/determined/tensorboard/fetchers/__init__.py
  master/go.mod
  master/internal/api_checkpoint.go
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_tasks.go
  master/internal/api_tensorboard.go
  master/internal/api_trials.go
  master/internal/core_checkpoint.go
  master/internal/core_checkpoint_intg_test.go
  master/internal/core_experiment.go
  master/internal/core_experiment_intg_test.go
  master/internal/core_trial.go
  master/internal/db/database.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_test_utils.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/experiment.go
  master/internal/hpimportance/hpimportance.go
  master/internal/hpimportance/hpimportance_test.go
  master/internal/hpimportance/manager.go
  master/internal/hpimportance/worker.go
  master/internal/mocks/db.go
  master/internal/restore.go
  master/internal/telemetry/reports.go
  master/internal/webhooks/postgres_webhook.go
  master/internal/webhooks/postgres_webhook_intg_test.go
  master/internal/webhooks/shipper_test.go
  master/internal/webhooks/webhook.go
  master/pkg/model/experiment.go
  master/pkg/model/test_utils.go
  master/pkg/schemas/expconf/experiment_config.go
  master/pkg/schemas/expconf/legacy.go
  master/pkg/schemas/expconf/legacy_test.go
  master/pkg/schemas/expconf/searcher_config.go
  master/pkg/tasks/task_gc.go
  master/test/integration/api/api_checkpoints_test.go
  master/test/integration/api/api_trials_test.go
Labels: cla-signed

#5733 chore: remove unused code
  master/internal/sproto/resources.go
  master/internal/sproto/task.go
Labels: cla-signed

#5746 docs: fix make live
  docs/live.py
Labels: documentation, cla-signed

#5700 docs: python sdk title
  docs/conf.py
  docs/index.rst
  docs/integrations/ecosystem/ecosystem-integration.rst
  docs/introduction.rst
  docs/reference/python-sdk.rst
  docs/release-notes.rst
  docs/training/apis-howto/api-estimator-ug.rst
  docs/training/apis-howto/api-keras-ug.rst
  docs/training/apis-howto/api-pytorch-ug.rst
  docs/training/model-management/checkpoints.rst
  docs/training/model-management/model-registry-org.rst
  examples/custom_search_method/asha_search_method/remote_search_runner/run_experiment.py
  model_hub/examples/mmdetection/hydra/README.md
Labels: documentation, cla-signed

#5736 fix: modify user session token set for external session
  master/internal/api_command.go
  master/internal/grpcutil/auth.go
Labels: cla-signed

#5730 feat: commands rbac
  e2e_tests/tests/cluster/test_workspace_org.py
  harness/determined/cli/command.py
  harness/determined/cli/remote.py
  harness/determined/common/api/bindings.py
  master/internal/api_command.go
  master/internal/api_notebook.go
  master/internal/api_ntsc_intg_test.go
  master/internal/command/command.go
  proto/pkg/apiv1/command.pb.go
  proto/pkg/commandv1/command.pb.go
  proto/src/determined/api/v1/command.proto
  proto/src/determined/command/v1/command.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5743 chore: mark and hide generated code
  .gitattributes
Labels: cla-signed

#5618 chore: code refactoring to allow addition of tests for new types of managed devclusters
  e2e_tests/tests/cluster/abstract_cluster.py
  e2e_tests/tests/cluster/managed_cluster.py
  e2e_tests/tests/cluster/managed_cluster_k8s.py
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/cluster/utils.py
Labels: cla-signed

#5748 feat: allow heterogeneous fits [DET-8800]
  docs/reference/reference-deploy/config/master-config-reference.rst
  docs/release-notes/allow-heterogeneous-fits.rst
  master/internal/config/scheduler_config.go
  master/internal/rm/agentrm/fair_share.go
  master/internal/rm/agentrm/fair_share_test.go
  master/internal/rm/agentrm/fitting.go
  master/internal/rm/agentrm/fitting_test.go
  master/internal/rm/agentrm/priority.go
  master/internal/rm/agentrm/priority_test.go
  master/internal/rm/agentrm/provisioner/aws_spot.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/round_robin.go
  master/internal/rm/agentrm/round_robin_test.go
  master/internal/rm/agentrm/scheduler_test.go
  master/internal/telemetry/reports.go
Labels: documentation, cla-signed

#5732 feat: add workspace id and authz to shells
  harness/determined/common/api/bindings.py
  master/internal/api_ntsc_intg_test.go
  master/internal/api_shell.go
  master/internal/command/command.go
  proto/pkg/apiv1/shell.pb.go
  proto/pkg/shellv1/shell.pb.go
  proto/src/determined/api/v1/shell.proto
  proto/src/determined/shell/v1/shell.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5749 docs: Add HPC Launcher architectural information [FOUNDENG-406]
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/callout-1.png
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/callout-2.png
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/callout-3.png
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/hpc-launching-arch-diagram.png
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/hpc-launching-architecture.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/overview.rst
Labels: documentation, cla-signed

#5758 chore: rbac tensorboard intg testing
  master/internal/api_ntsc_intg_test.go
  master/internal/api_tensorboard.go
Labels: cla-signed

#5568 chore: unflag project details refactor [WEB-565]
  webui/react/src/components/BreadcrumbBar.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/OldProjectDetails.tsx
  webui/react/src/pages/ProjectDetails.module.scss
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/ProjectDetails/ProjectDetailsTabs.module.scss
  webui/react/src/pages/ProjectDetails/ProjectDetailsTabs.tsx
  webui/react/src/pages/ProjectDetailsWrapper.tsx
  webui/react/src/routes/index.tsx
Labels: cla-signed

#5731 feat: LineChart and ChartGrid multi-use components [WEB-659] [WEB-685]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/UPlot/SyncableBounds.tsx
  webui/react/src/components/UPlot/UPlotChart.tsx
  webui/react/src/components/UPlot/UPlotChart/tooltipsPlugin2.ts
  webui/react/src/components/kit/LineChart.module.scss
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/pages/DesignKit.tsx
Labels: cla-signed

#5761 chore: Fix slurm gate tests with h5py>=3 dependency
  e2e_tests/tests/requirements.txt
Labels: cla-signed

#5753 chore: Fix to the tests so that local tests on mac will correctly skip tests that it cannot run
  harness/tests/experiment/pytorch/test_reducer.py
Labels: cla-signed

#5763 chore: Move "Add Members" and "New Project" buttons into tab content [WEB-813]
  webui/react/src/components/ProjectActionDropdown.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceDetailsHeader.module.scss
  webui/react/src/pages/WorkspaceDetails/WorkspaceDetailsHeader.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.module.scss
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
Labels: cla-signed

#5744 fix: duplicate projects fix and query speed up
  master/static/srv/get_workspace_projects.sql
  webui/react/src/pages/WorkspaceDetails/WorkspaceQuickSearch.tsx
Labels: cla-signed

#5756 docs: add Apptainer known issues
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-known-issues.rst
Labels: documentation, cla-signed

#5769 chore: ui kit usability fixes
  webui/react/src/pages/DesignKit.tsx
Labels: cla-signed

#5754 feat: house ntsc under workspaces - backend
  .circleci/config.yml
  .circleci/devcluster/strict-ntsc.devcluster.yaml
  e2e_tests/pytest.ini
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/cluster/test_workspace_org.py
  e2e_tests/tests/command/test_strict_ntsc.py
  e2e_tests/tests/conftest.py
  e2e_tests/tests/experiment/experiment.py
  harness/determined/common/api/bindings.py
  master/Makefile
  master/internal/api_auth.go
  master/internal/api_command.go
  master/internal/api_notebook.go
  master/internal/api_ntsc_intg_test.go
  master/internal/api_shell.go
  master/internal/api_tasks.go
  master/internal/api_tasks_intg_test.go
  master/internal/api_tensorboard.go
  master/internal/authz/test_utils.go
  master/internal/command/api.go
  master/internal/command/authz_basic_impl.go
  master/internal/command/authz_iface.go
  master/internal/command/command.go
  master/internal/command/events.go
  master/internal/command/notebook_manager.go
  master/internal/command/tensorboard_manager.go
  master/internal/config/authz_config.go
  master/internal/config/config.go
  master/internal/core.go
  master/internal/db/postgres_command.go
  master/internal/mocks/nsc_authz_iface.go
  master/internal/mocks/user_authz_iface.go
  master/internal/user/authz_basic_impl.go
  master/internal/user/authz_iface.go
  master/internal/user/service.go
  master/pkg/model/task.go
  master/pkg/model/workspace.go
  master/pkg/tasks/task_command.go
  proto/pkg/apiv1/command.pb.go
  proto/pkg/apiv1/notebook.pb.go
  proto/pkg/apiv1/shell.pb.go
  proto/pkg/apiv1/tensorboard.pb.go
  proto/pkg/commandv1/command.pb.go
  proto/pkg/notebookv1/notebook.pb.go
  proto/pkg/rbacv1/rbac.pb.go
  proto/pkg/shellv1/shell.pb.go
  proto/pkg/tensorboardv1/tensorboard.pb.go
  proto/src/determined/api/v1/command.proto
  proto/src/determined/api/v1/notebook.proto
  proto/src/determined/api/v1/shell.proto
  proto/src/determined/api/v1/tensorboard.proto
  proto/src/determined/command/v1/command.proto
  proto/src/determined/notebook/v1/notebook.proto
  proto/src/determined/rbac/v1/rbac.proto
  proto/src/determined/shell/v1/shell.proto
  proto/src/determined/tensorboard/v1/tensorboard.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5772 test: merge two similar test user session utils
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/cluster/test_agent_user_group.py
  e2e_tests/tests/cluster/test_checkpoints.py
  e2e_tests/tests/cluster/test_rbac.py
  e2e_tests/tests/cluster/test_resource_manager.py
  e2e_tests/tests/cluster/test_users.py
  e2e_tests/tests/cluster/test_webhooks.py
  e2e_tests/tests/cluster/test_workspace_org.py
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/experiment/test_custom_searcher.py
Labels: cla-signed

#5771 fix: tasks get stuck if container gone in reattach [DET-8828]
  docs/release-notes/stuck-on-reattach.rst
  e2e_tests/tests/cluster/test_master_restart.py
  master/internal/rm/agentrm/agent.go
  master/internal/sproto/resources.go
  master/internal/task/allocation.go
Labels: documentation, cla-signed

#5712 test: fix test flake for test_master_restart_with_queued
  e2e_tests/tests/cluster/test_master_restart.py
Labels: cla-signed

#5688 feat: searcher metric in explist
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/db/postgres_trial.go
  master/static/migrations/20221213084307_searcher-metric-in-explist.tx.down.sql
  master/static/migrations/20221213084307_searcher-metric-in-explist.tx.up.sql
  proto/pkg/apiv1/experiment.pb.go
  proto/pkg/experimentv1/experiment.pb.go
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/experiment/v1/experiment.proto
  webui/react/src/pages/ExperimentList.settings.ts
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#5466 chore: AuthZ for trials comparison
  master/internal/trials/api_trials.go
  master/internal/trials/authz_basic_impl.go
  master/internal/trials/authz_iface.go
Labels: cla-signed

#5750 build: remove unused webpack plugin
  webui/react/craco.config.js
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/shared/styles/index.less
  webui/react/src/shared/styles/variables.less
Labels: cla-signed, shared-web

#5781 chore: design kit page content width
  webui/react/src/pages/DesignKit.module.scss
Labels: cla-signed

#5777 chore: avoid fetching full command spec for logs
  master/internal/api_auth.go
  master/internal/api_ntsc_intg_test.go
  master/internal/api_tasks.go
  master/internal/command/events.go
  master/internal/db/postgres_command.go
Labels: cla-signed

#5742 feat: Add trial metrics in wall time
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/db/database.go
  master/internal/db/postgres_experiments.go
  master/internal/mocks/db.go
  proto/pkg/apiv1/experiment.pb.go
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/api/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5768 feat: export chart [WEB-663]
  webui/react/src/components/UPlot/UPlotChart.module.scss
  webui/react/src/components/UPlot/UPlotChart.tsx
  webui/react/src/components/kit/LineChart.tsx
Labels: cla-signed

#5784 chore: introduce observables
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/stores/index.tsx
  webui/react/src/utils/observable.ts
Labels: cla-signed

#5764 fix: Slot Capacity Check Always Fails
  master/internal/rm/agentrm/resource_pool.go
Labels: cla-signed

#5785 docs: add release notes for 0.19.10
  docs/release-notes.rst
  docs/release-notes/5567-data-layer.txt
  docs/release-notes/FOUNDENG-329-enroot-support.rst
  docs/release-notes/allow-killing-of-cancel-trial.rst
  docs/release-notes/cli-job-ls-resource-pool-fix.rst
  docs/release-notes/early-stopping-bug.rst
  docs/release-notes/experiment-tag-propagation.rst
  docs/release-notes/fsx.rst
  docs/release-notes/hpc-launcher-resource-pools.rst
  docs/release-notes/job-submission-time.rst
  docs/release-notes/notebook-timeout.rst
Labels: documentation, cla-signed

#5790 chore: missing annotaion in `Shell` proto
  harness/determined/common/api/bindings.py
  proto/pkg/shellv1/shell.pb.go
  proto/src/determined/shell/v1/shell.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5795 fix: get searcher metric val from column that actually exists
  master/internal/api_experiment.go
Labels: cla-signed

#5793 feat: add ntsc workspace cli
  harness/determined/cli/__init__.py
  harness/determined/cli/_util.py
  harness/determined/cli/command.py
  harness/determined/cli/notebook.py
  harness/determined/cli/remote.py
  harness/determined/cli/render.py
  harness/determined/cli/shell.py
  harness/determined/cli/tensorboard.py
  harness/determined/cli/workspace.py
Labels: cla-signed

#5770 chore: Update CODEOWNERS for backend
  .github/CODEOWNERS
Labels: cla-signed

#5671 feat: checkpoint.upload with selector [MLG-238]
  harness/determined/common/storage/__init__.py
  harness/determined/common/storage/azure.py
  harness/determined/common/storage/base.py
  harness/determined/common/storage/gcs.py
  harness/determined/common/storage/hdfs.py
  harness/determined/common/storage/s3.py
  harness/determined/common/storage/shared.py
  harness/determined/core/_checkpoint.py
  harness/tests/storage/test_s3.py
  harness/tests/storage/test_shared_fs.py
  harness/tests/storage/util.py
Labels: cla-signed

#5797 chore: bump version: 0.19.10-dev0 -> 0.19.11-dev0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/setup.py
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/craco.config.js
Labels: cla-signed

#5803 chore: replace `substr()` with `substring()`
  webui/react/src/hooks/useSettingsProvider.tsx
  webui/react/src/pages/TaskLogs.tsx
  webui/react/src/utils/metric.ts
Labels: cla-signed

#5782 feat: add task tab in workspace
  webui/react/src/components/TaskList.module.scss
  webui/react/src/components/TaskList.settings.ts
  webui/react/src/components/TaskList.tsx
  webui/react/src/pages/TaskList.settings.ts
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/routes/index.tsx
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
  webui/react/src/utils/task.ts
Labels: cla-signed

#5663 fix: AWS checkpoint download from master
  docs/release-notes/aws-checkpoint-download-fix.rst
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
Labels: documentation, cla-signed

#5619 feat: GCS Checkpoint Download from master
  agent/go.mod
  agent/go.sum
  docs/release-notes/gcs-checkpoint-downloads.rst
  master/go.mod
  master/go.sum
  master/pkg/checkpoints/checkpoints.go
  master/pkg/checkpoints/gcs/gcs_checkpoints.go
Labels: documentation, cla-signed

#5767 feat: sync x-axis for charts even when data is not aligned [WEB-820]
  webui/react/src/components/UPlot/SyncProvider.tsx
  webui/react/src/components/UPlot/SyncableBounds.tsx
  webui/react/src/components/UPlot/UPlotChart.tsx
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsage.tsx
  webui/react/src/pages/TrialDetails/Profiles/Profiler.tsx
  webui/react/src/pages/TrialsComparison/TrialsComparison.tsx
Labels: cla-signed

#5813 chore: Increase test timeout for server restart
  e2e_tests/tests/cluster/test_master_restart.py
Labels: cla-signed

#5811 chore: update test util for setting up test workspaces
  e2e_tests/tests/cluster/test_model_registry.py
  e2e_tests/tests/cluster/test_workspace_org.py
Labels: cla-signed

#5806 chore: add -w to ntsc workspace cli arguments
  harness/determined/cli/model.py
  harness/determined/cli/workspace.py
Labels: cla-signed

#5808 fix: account for listing ntsc in deleted workspaces
  harness/determined/cli/command.py
Labels: cla-signed

#5751 chore: Inputs, labels and validation
  webui/react/src/components/kit/Form.tsx
  webui/react/src/components/kit/Input.tsx
  webui/react/src/components/kit/InputNumber.tsx
  webui/react/src/components/kit/InputSearch.tsx
  webui/react/src/components/kit/TextAreaInput.tsx
  webui/react/src/pages/DesignKit.tsx
Labels: cla-signed

#5792 feat: Launch JupyterLab" button should appear on tasks page [WEB-811]
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/TaskList.tsx
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.module.scss
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.test.tsx
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/services/types.ts
  webui/react/src/stores/userRoles.tsx
  webui/react/src/utils/jupyter.ts
Labels: cla-signed

#5715 feat: clean up ntsc on workspace termination [DET-8813]
  e2e_tests/tests/cluster/test_workspace_org.py
  harness/determined/cli/workspace.py
  master/internal/api_workspace.go
  master/internal/command/command.go
  master/internal/command/command_manager.go
  master/internal/command/notebook_manager.go
  master/internal/command/ntsc.go
  master/internal/command/shell_manager.go
  master/internal/command/tensorboard_manager.go
  master/internal/db/postgres_experiments.go
  master/internal/trials/authz_iface.go
Labels: cla-signed

#5812 chore: link tensorboard to its authz method
  master/internal/api_ntsc_intg_test.go
  master/internal/api_tensorboard.go
Labels: cla-signed

#5796 chore: fix button warnings
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/Metadata/EditableRow.tsx
  webui/react/src/components/ProjectActionDropdown.tsx
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/pages/ModelRegistry.module.scss
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/pages/WebhookList.module.scss
  webui/react/src/pages/WebhookList.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.module.scss
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceActionDropdown.tsx
  webui/react/src/shared/components/ActionDropdown/ActionDropdown.tsx
Labels: cla-signed, shared-web

#5642 feat: homebrew package.
  .circleci/config.yml
  agent/.goreleaser.yml
  agent/get-deps.sh
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-prem/homebrew.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-prem/overview.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-prem/requirements.rst
  docs/release-notes/brew.rst
  helm/Makefile
  master/.goreleaser.yml
  master/Makefile
  master/get-deps.sh
  master/internal/config/config.go
Labels: documentation, cla-signed

#5815 fix: use renamed setup_workspaces
  e2e_tests/tests/cluster/test_workspace_org.py
Labels: cla-signed

#5780 feat: Matching charts to wireframe [WEB-684]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/RoutePagination.test.tsx
  webui/react/src/components/UPlot/UPlotChart.module.scss
  webui/react/src/components/UPlot/UPlotChart.tsx
  webui/react/src/components/UPlot/UPlotChart/tooltipsPlugin2.ts
  webui/react/src/components/UserAvatar.test.tsx
  webui/react/src/components/kit/LineChart.module.scss
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/components/kit/LineChart/XAxisFilter.tsx
  webui/react/src/pages/Clusters/ClustersOverview.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/services/apiConfig.ts
  webui/react/src/shared/components/Avatar/Avatar.test.tsx
  webui/react/src/shared/configs/eslintrc.js
  webui/react/src/shared/contexts/stores/UI.tsx
  webui/react/src/shared/hooks/usePolling.ts
  webui/react/src/shared/styles/index.scss
  webui/react/src/shared/utils/error.ts
  webui/react/src/shared/utils/service.ts
  webui/react/src/stores/auth.tsx
  webui/react/src/utils/job.ts
Labels: cla-signed, shared-web

#5809 chore: Reimplement project store with observable [WEB-795]
  webui/react/src/hooks/useModal/Experiment/useModalExperimentMove.tsx
  webui/react/src/stores/projects.tsx
Labels: cla-signed

#5810 docs: Move Core API training guide into a single file for consistency
  docs/conf.py
  docs/reference/reference-training/index.rst
  docs/reference/reference-training/training/api-core-reference.rst
  docs/training/apis-howto/api-core-ug.rst
  docs/training/apis-howto/api-core/checkpoints.rst
  docs/training/apis-howto/api-core/distributed.rst
  docs/training/apis-howto/api-core/getting-started.rst
  docs/training/apis-howto/api-core/hpsearch.rst
  docs/training/apis-howto/api-core/metrics.rst
  docs/training/apis-howto/api-core/overview.rst
  docs/training/apis-howto/api-estimator-ug.rst
  docs/training/apis-howto/api-keras-ug.rst
  docs/training/apis-howto/api-pytorch-lightning-ug.rst
  docs/training/apis-howto/api-pytorch-ug.rst
  docs/training/apis-howto/deepspeed/overview.rst
  docs/training/apis-howto/overview.rst
Labels: documentation, cla-signed

#5752 feat: e2e test for checkpoint download through master
  e2e_tests/tests/cluster/test_checkpoints.py
  e2e_tests/tests/conftest.py
Labels: cla-signed

#5816 fix: rollback default bindir for new goreleaser.
  agent/.goreleaser.yml
  master/.goreleaser.yml
Labels: cla-signed

#5814 chore: strip service name prefix from enums
  e2e_tests/tests/cluster/test_agent_disable.py
  e2e_tests/tests/cluster/test_agent_restart.py
  e2e_tests/tests/cluster/test_agent_user_group.py
  e2e_tests/tests/cluster/test_checkpoints.py
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/cluster/test_resource_manager.py
  e2e_tests/tests/cluster/test_trial_collections.py
  e2e_tests/tests/cluster/test_users_experiment_api.py
  e2e_tests/tests/cluster/test_webhooks.py
  e2e_tests/tests/cluster/test_workspace_org.py
  e2e_tests/tests/deploy/test_local.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/experiment/test_custom_searcher.py
  e2e_tests/tests/experiment/test_noop.py
  e2e_tests/tests/experiment/test_profiling.py
  harness/determined/cli/experiment.py
  harness/determined/cli/job.py
  harness/determined/cli/trial.py
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/experiment.py
  harness/determined/core/_checkpoint.py
  harness/determined/searcher/_search_runner.py
  harness/tests/cli/test_experiment.py
  harness/tests/test_custom_searcher.py
  harness/tests/test_sdk.py
  master/Makefile
  master/get-deps.sh
  master/internal/core.go
  master/internal/core_checkpoint.go
  master/internal/core_experiment.go
  master/pkg/checkpoints/gcs/gcs_checkpoints.go
  proto/get-deps.sh
  proto/scripts/swagger.py
  webui/react/src/constants/states.ts
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/JobQueue/JobQueue.settings.ts
  webui/react/src/pages/TrialsComparison/Table/TrialTable.tsx
  webui/react/src/pages/TrialsComparison/api.ts
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/themes.ts
  webui/react/src/types.ts
Labels: cla-signed

#5794 fix: k8s environment variable with equal sign or empty env errors [DET-8837]
  docs/release-notes/equal-in-env-value-k8s.rst
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
Labels: documentation, cla-signed

#5818 fix: m2m test intg fail
  master/internal/db/postgres.go
Labels: cla-signed

#5807 feat: Learning Curve using LineChart component [WEB-661]
  webui/react/src/components/UPlot/UPlotChart.tsx
  webui/react/src/components/UPlot/UPlotChart/closestPointPlugin.module.scss
  webui/react/src/components/UPlot/UPlotChart/closestPointPlugin.ts
  webui/react/src/components/UPlot/UPlotChart/tooltipsPlugin2.ts
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpTrialTable.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/shared/styles/index.scss
Labels: cla-signed, shared-web

#5805 chore: run ci python checks with py3.9
  .circleci/config.yml
  model_hub/model_hub/mmdetection/_data.py
  model_hub/model_hub/utils.py
Labels: cla-signed

#5820 chore: up the ci cache buster version
  .circleci/config.yml
Labels: cla-signed

#5824 chore: pin pyzmq for mypy
  requirements.txt
Labels: cla-signed

#5822 fix: Empty string can be stored in metadata values [WEB-432]
  webui/react/src/components/InfoBox.module.scss
  webui/react/src/components/InfoBox.tsx
  webui/react/src/components/Metadata/EditableMetadata.tsx
Labels: cla-signed

#5825 fix: dont update bounds for non-synced charts
  webui/react/src/components/UPlot/UPlotChart.tsx
Labels: cla-signed

#5783 test: speed up user tests
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/cluster/test_rbac.py
  e2e_tests/tests/cluster/test_users.py
  e2e_tests/tests/cluster/test_users_experiment_api.py
Labels: cla-signed

#5778 fix: don't checkpoint gc in exp delete with no checkpoints [DET-8834]
  docs/release-notes/dont-checkpoint-gc-no-checkpoints.rst
  e2e_tests/tests/cluster/test_checkpoints.py
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_user_intg_test.go
Labels: documentation, cla-signed

#5826 chore: revert earlier py lint version bump
  .circleci/config.yml
  model_hub/model_hub/mmdetection/_data.py
  model_hub/model_hub/utils.py
Labels: cla-signed

#5827 fix: spinner alignment
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/hooks/useSettingsProvider.tsx
Labels: cla-signed

#5835 ci: assign ml-group on doc pr by doc [INFENG-149]
  .github/workflows/doc-review.yml
Labels: cla-signed

#5840 ci: switch doc review target for forks [INFENG-149]
  .github/workflows/doc-review.yml
Labels: cla-signed

#5843 ci: switch dock review to new fork [INFENG-149]
  .github/workflows/doc-review.yml
Labels: cla-signed

#5701 feat: Add multi-arch docker manifests and arm64 packages
  .circleci/config.yml
  agent/.goreleaser.yml
  agent/Makefile
  docs/release-notes/multi-arch-and-arm64.rst
  master/.goreleaser.yml
  master/Makefile
Labels: documentation, cla-signed

#5846 docs: Add misssing suffix in enroot create example
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
Labels: documentation, cla-signed

#5842 fix: add patch model permission check
  master/internal/api_model.go
Labels: cla-signed

#5832 chore: fix bad docstring
  harness/determined/core/_searcher.py
Labels: cla-signed

#5791 docs: Update the tutorials home page, add a quickstarter
  docs/example-solutions/examples.rst
  docs/introduction.rst
  docs/tutorials/index.rst
  docs/tutorials/pytorch-mnist-local-qs.rst
Labels: documentation, cla-signed

#5823 fix: Changing display name [WEB-740]
  master/internal/api_user.go
  webui/react/src/pages/Settings/SettingsAccount.tsx
Labels: cla-signed

#5789 feat: make metrics a Value [MLG-249]
  bindings/generate_bindings.py
  e2e_tests/tests/experiment/test_custom_searcher.py
  e2e_tests/tests/fixtures/custom_searcher/core_api_custom_searcher.py
  e2e_tests/tests/fixtures/custom_searcher/model_coreapi.py
  e2e_tests/tests/fixtures/custom_searcher/searchers.py
  examples/custom_search_method/asha_search_method/asha.py
  harness/determined/common/api/bindings.py
  harness/determined/core/_searcher.py
  harness/determined/searcher/_search_method.py
  harness/tests/search_methods.py
  harness/tests/test_custom_searcher.py
  master/internal/api_trials.go
  master/internal/experiment.go
  master/pkg/searcher/asha.go
  master/pkg/searcher/asha_stopping.go
  master/pkg/searcher/custom_search.go
  master/pkg/searcher/custom_search_test.go
  master/pkg/searcher/search_method.go
  master/pkg/searcher/searcher.go
  master/pkg/searcher/tournament.go
  proto/buf.image.bin
  proto/patches/api.json
  proto/pkg/experimentv1/searcher.pb.go
  proto/scripts/swagger.py
  proto/src/determined/experiment/v1/searcher.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#5828 feat: rbac for tensorboard on multiple experiments/workspaces
  master/internal/api_auth.go
  master/internal/api_notebook.go
  master/internal/api_ntsc_intg_test.go
  master/internal/api_tensorboard.go
  master/internal/command/authz_basic_impl.go
  master/internal/command/authz_iface.go
  master/internal/command/events.go
  master/internal/mocks/nsc_authz_iface.go
Labels: cla-signed

#5845 fix: deb and rpm should install master and agent bins into `/usr/bin`
  agent/.goreleaser.yml
  agent/packaging/determined-agent.service
  docs/release-notes/usr-bin.rst
  master/.goreleaser.yml
  master/packaging/determined-master.service
Labels: documentation, cla-signed

#5850 chore: change terminate tensorboard implementation
  master/internal/api_ntsc_intg_test.go
  master/internal/api_tensorboard.go
  master/internal/command/authz_basic_impl.go
  master/internal/command/authz_iface.go
  master/internal/mocks/nsc_authz_iface.go
Labels: cla-signed

#5723 feat: correspond Kubernetes resource pools to namespaces
  .circleci/config.yml
  e2e_tests/tests/cluster/test_master_restart.py
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
  master/internal/command/command.go
  master/internal/config/resource_manager_config.go
  master/internal/config/resource_pool_config.go
  master/internal/rm/kubernetesrm/events.go
  master/internal/rm/kubernetesrm/informer.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/message.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/preemptions.go
  master/internal/rm/kubernetesrm/request_queue.go
  master/internal/rm/kubernetesrm/request_queue_test.go
  master/internal/rm/kubernetesrm/request_workers.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/task/allocation.go
  master/pkg/set/set.go
Labels: cla-signed

#5851 chore: remove redundant test login
  e2e_tests/tests/cluster/test_oauth2_scim_client.py
  e2e_tests/tests/cluster/test_rbac.py
  e2e_tests/tests/cluster/test_users.py
  e2e_tests/tests/cluster/test_users_experiment_api.py
Labels: cla-signed

#5831 fix: enable asset compression [WEB-654]
  master/internal/core.go
Labels: cla-signed

#5834 chore: use Input, InputNumber, and Form from UI kit
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/components/LogViewer/LogViewerFilters.tsx
  webui/react/src/components/Metadata/EditableMetadata.test.tsx
  webui/react/src/components/Metadata/EditableMetadata.tsx
  webui/react/src/components/Metadata/EditableRow.tsx
  webui/react/src/components/Table/TableFilterDropdown.tsx
  webui/react/src/components/Table/TableFilterMultiSearch.tsx
  webui/react/src/components/Table/TableFilterRange.tsx
  webui/react/src/components/Table/TableFilterRank.tsx
  webui/react/src/components/Table/TableFilterSearch.tsx
  webui/react/src/components/TagList.tsx
  webui/react/src/components/Tags.tsx
  webui/react/src/components/TextEditorModal.tsx
  webui/react/src/components/Transfer.tsx
  webui/react/src/components/kit/Form.tsx
  webui/react/src/components/kit/Input.tsx
  webui/react/src/components/kit/InputNumber.tsx
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpointRegister.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentCreate.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.tsx
  webui/react/src/hooks/useModal/Model/useModalModelCreate.tsx
  webui/react/src/hooks/useModal/Model/useModalModelDownload.tsx
  webui/react/src/hooks/useModal/Project/useModalProjectCreate.tsx
  webui/react/src/hooks/useModal/Project/useModalProjectDelete.tsx
  webui/react/src/hooks/useModal/Project/useModalProjectEdit.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalConfigureAgent.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateGroup.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalManageGroups.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalPasswordChange.tsx
  webui/react/src/hooks/useModal/Webhook/useModalWebhookCreate.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceAddMember.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceCreate.tsx
  webui/react/src/hooks/useModal/Workspace/useModalWorkspaceDelete.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsageCsvModal.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/JobQueue/ManageJob.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/TrialsComparison/Collections/useModalCreateCollection.tsx
  webui/react/src/pages/TrialsComparison/Collections/useModalRenameCollection.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceQuickSearch.tsx
Labels: cla-signed

#5786 chore: migrate agents/resource pool stores to observables
  webui/react/src/App.tsx
  webui/react/src/components/Navigation.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/ResourcePoolCard.test.tsx
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.test.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.test.tsx
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.tsx
  webui/react/src/pages/Cluster/ClusterOverallBar.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.test.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.tsx
  webui/react/src/pages/Clusters.tsx
  webui/react/src/pages/Clusters/ClustersOverview.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/JobQueue/ManageJob.tsx
  webui/react/src/pages/ResourcepoolDetail.tsx
  webui/react/src/stores/agents.tsx
  webui/react/src/stores/cluster.tsx
  webui/react/src/stores/index.tsx
  webui/react/src/stores/resourcePools.tsx
Labels: cla-signed

#5856 fix: Profiler useSettings bug, dependency warning in chart [WEB-847]
  webui/react/src/components/UPlot/UPlotChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/SystemMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/SystemMetricChartFilters.tsx
Labels: cla-signed

#5858 chore: correct warnings in docs
  harness/determined/pytorch/_callback.py
Labels: cla-signed

#5854 fix: rbac for tensorboard proxy
  master/internal/api_auth.go
  master/internal/db/postgres_command.go
Labels: cla-signed

#5848 docs: more consistent descriptions
  docs/cluster-setup-guide/basic.rst
  docs/cluster-setup-guide/deploy-cluster/index.rst
  docs/cluster-setup-guide/security/oauth.rst
  docs/cluster-setup-guide/security/oidc.rst
  docs/cluster-setup-guide/security/overview.rst
  docs/cluster-setup-guide/security/rbac.rst
  docs/cluster-setup-guide/security/saml.rst
  docs/cluster-setup-guide/security/scim.rst
  docs/cluster-setup-guide/security/tls.rst
  docs/example-solutions/examples.rst
  docs/index.rst
  docs/interfaces/webui-if.rst
  docs/model-hub-library/index.rst
  docs/quickstart-mdldev.rst
  docs/reference/reference-deploy/index.rst
  docs/reference/reference-model-hub/index.rst
  docs/reference/reference-training/index.rst
  docs/training/apis-howto/api-core-ug.rst
  docs/training/debug-models.rst
  docs/training/dtrain-introduction.rst
  docs/training/setup-guide/overview.rst
  docs/training/submit-experiment.rst
Labels: documentation, cla-signed
