Repository determined-ai/determined, pull requests merged in 2023-10, with the labels that each got.

#8025 chore: Add error case and tests to Loadable [WEB-1333][WEB-1711]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/App.tsx
  webui/react/src/components/ErrorBoundary.tsx
  webui/react/src/components/ExperimentMoveModal.tsx
  webui/react/src/components/FilterForm/TableFilter.tsx
  webui/react/src/components/FilterForm/components/FilterForm.tsx
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
  webui/react/src/components/ModelCreateModal.tsx
  webui/react/src/components/Navigation.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/ProjectMoveModal.tsx
  webui/react/src/components/Router.tsx
  webui/react/src/components/UserSettings.tsx
  webui/react/src/components/UserSettingsModal.tsx
  webui/react/src/components/kit/CodeEditor.tsx
  webui/react/src/components/kit/Spinner.tsx
  webui/react/src/components/kit/utils/loadable.test.ts
  webui/react/src/components/kit/utils/loadable.ts
  webui/react/src/pages/Cluster/ClusterHistoricalUsage.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCodeViewer.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/ResourcepoolDetail.tsx
  webui/react/src/stores/auth.ts
  webui/react/src/stores/cluster.tsx
  webui/react/src/stores/determinedInfo.tsx
  webui/react/src/stores/userSettings.tsx
  webui/react/src/stores/workspaces.tsx
Labels: cla-signed

#7988 feat: Filtering user by role id for EE
  harness/determined/common/api/bindings.py
  master/internal/api_user.go
  proto/pkg/apiv1/user.pb.go
  proto/src/determined/api/v1/user.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#8035 test: fix shell open test flake
  e2e_tests/tests/cluster/test_job_queue.py
  e2e_tests/tests/command/test_shell.py
Labels: cla-signed

#7971 feat: Batch actions for multiple users into one request [WEB-1640]
  harness/determined/common/api/bindings.py
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/user/postgres_users.go
  master/internal/usergroup/api_groups.go
  master/internal/usergroup/group_intg_test.go
  master/internal/usergroup/postgres_groups.go
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/group.pb.go
  proto/pkg/apiv1/user.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/group.proto
  proto/src/determined/api/v1/user.proto
  webui/react/src/pages/Admin/UserManagement.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#8022 fix: rename `last_login` to `last_auth_at`
  harness/determined/common/api/bindings.py
  master/internal/api_user.go
  master/internal/user/postgres_users.go
  master/internal/user/postgres_users_intg_test.go
  master/pkg/model/user.go
  master/pkg/model/user_test.go
  master/static/migrations/20230928101029_rename-last-login-column-in-user-table.tx.down.sql
  master/static/migrations/20230928101029_rename-last-login-column-in-user-table.tx.up.sql
  proto/buf.image.bin
  proto/pkg/apiv1/user.pb.go
  proto/pkg/userv1/user.pb.go
  proto/src/determined/api/v1/user.proto
  proto/src/determined/user/v1/user.proto
  webui/react/src/pages/Admin/UserManagement.settings.ts
  webui/react/src/pages/Admin/UserManagement.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
Labels: cla-signed

#8028 fix: Note UI respects project permissions [WEB-637]
  webui/react/src/components/kit/NoteCards.tsx
  webui/react/src/pages/ProjectNotes.tsx
Labels: cla-signed

#8043 fix: k8s custom pod spec affinity would get ignored
  docs/release-notes/k8s-affininty-bug-fix.rst
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
Labels: documentation, cla-signed

#7969 ci(performance): create initial gha workflow [INFENG-224]
  .circleci/config.yml
  .github/workflows/performance-tests.yml
  performance/Dockerfile
  performance/Makefile
  performance/src/utils/k6-summary.js
Labels: cla-signed

#7765 feat: SDK can list workspaces.
  harness/determined/common/experimental/determined.py
  harness/determined/experimental/client.py
Labels: cla-signed

#8040 chore: add DatePicker to UI Kit [WEB-1674]
  webui/react/src/components/DatePicker.tsx
  webui/react/src/components/FilterForm/components/FilterField.tsx
  webui/react/src/components/kit/DatePicker.module.scss
  webui/react/src/components/kit/DatePicker.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsageCsvModal.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsageFilters.tsx
  webui/react/src/pages/DesignKit.tsx
Labels: cla-signed

#7983 fix: govcloud agent AMIs are out of sync with bumpenvs [MLG-986]
  harness/determined/deploy/aws/templates/govcloud.yaml
Labels: cla-signed

#7990 fix: Return ResourcePools rather than names
  harness/determined/common/experimental/workspace.py
  harness/tests/determined/common/experimental/test_workspace.py
Labels: cla-signed

#8042 chore: allow passing clusterID in master config
  master/internal/core.go
  master/internal/db/database.go
  master/internal/db/postgres_cluster.go
  master/internal/db/postgres_cluster_intg_test.go
  master/internal/mocks/db.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/pkg/config/telemetry.go
Labels: cla-signed

#8024 chore: schema and types for log_pattern_policies
  master/pkg/model/task_container_defaults.go
  master/pkg/model/task_container_defaults_test.go
  master/pkg/schemas/expconf/experiment_config.go
  master/pkg/schemas/expconf/experiment_config_test.go
  master/pkg/schemas/expconf/latest.go
  master/pkg/schemas/expconf/log_pattern_config.go
  master/pkg/schemas/expconf/zgen_dont_retry_policy_v0.go
  master/pkg/schemas/expconf/zgen_experiment_config_v0.go
  master/pkg/schemas/expconf/zgen_log_pattern_policies_config_v0.go
  master/pkg/schemas/expconf/zgen_log_pattern_policy_v0.go
  master/pkg/schemas/expconf/zgen_log_policy_v0.go
  master/pkg/schemas/expconf/zgen_on_failure_exclude_node_policy_v0.go
  master/pkg/schemas/expconf/zgen_send_webhook_policy_v0.go
  master/pkg/schemas/zgen_schemas.go
  schemas/expconf/v0/experiment.json
  schemas/expconf/v0/log-pattern-policies.json
  schemas/expconf/v0/log-pattern-policy.json
  schemas/expconf/v0/log-policy-on-failure-dont-retry.json
  schemas/expconf/v0/log-policy-on-failure-exclude-node.json
  schemas/expconf/v0/log-policy-send-webhook.json
  schemas/expconf/v0/log-policy.json
  schemas/gen.py
  schemas/test_cases/v0/experiment.yaml
  schemas/test_cases/v0/unions.yaml
Labels: cla-signed

#8038 chore: rename 'cancel' to 'stop' for experiments and trials [WEB-291]
  webui/react/src/components/BatchActionConfirmModal.tsx
  webui/react/src/components/ExperimentIcons/index.tsx
  webui/react/src/components/ExperimentStopModal.tsx
  webui/react/src/constants/states.ts
  webui/react/src/types.ts
Labels: cla-signed

#8048 chore(tests): fix data races in telemetry tests
  master/internal/core.go
  master/internal/telemetry/logger.go
  master/internal/telemetry/reports.go
  master/internal/telemetry/singleton.go
  master/internal/telemetry/telemetry.go
  master/internal/telemetry/telemetry_test.go
Labels: cla-signed

#8047 fix: fasterrcnn image not found [MLG-516]
  .circleci/config.yml
Labels: cla-signed

#8052 feat: updating agent user group affects users.modified_at [WEB-1594]
  master/internal/user/postgres_users.go
Labels: cla-signed

#8051 fix: pass final forked config to server for new experiment
  webui/react/src/components/ExperimentCreateModal.tsx
Labels: cla-signed

#7975 fix: bring back logging for `core.train.report_*` calls.
  harness/determined/core/_train.py
Labels: cla-signed

#8055 fix: fake cert gen.sh generated broken certs
  harness/tests/common/untrusted-root/127.0.0.1-ca.crt
  harness/tests/common/untrusted-root/127.0.0.1-cert.pem
  harness/tests/common/untrusted-root/127.0.0.1-key.pem
  harness/tests/common/untrusted-root/gen.sh
Labels: cla-signed

#7992 fix: detached mode tensorboard storage support [MLG-872]
  docs/release-notes/detached-checkpoint-cloud.rst
  e2e_tests/tests/experiment/test_unmanaged.py
  e2e_tests/tests/fixtures/unmanaged/error_termination.py
  harness/determined/core/_heartbeat.py
  harness/determined/core/_log_shipper.py
  harness/determined/experimental/core_v2/_core_v2.py
  harness/determined/tensorboard/base.py
  harness/determined/tensorboard/build.py
Labels: documentation, cla-signed

#8032 docs: Improve upgrade instructions
  docs/.redirects/redirects.json
  docs/_shared/tip-keep-install-instructions.txt
  docs/architecture/introduction.rst
  docs/release-notes/delete-tensorboards.rst
  docs/release-notes/master-logs.rst
  docs/setup-cluster/deploy-cluster/aws/install-on-aws.rst
  docs/setup-cluster/deploy-cluster/gcp/install-gcp.rst
  docs/setup-cluster/deploy-cluster/index.rst
  docs/setup-cluster/deploy-cluster/k8s/install-on-kubernetes.rst
  docs/setup-cluster/deploy-cluster/on-prem/index.rst
  docs/setup-cluster/deploy-cluster/on-prem/options/deploy.rst
  docs/setup-cluster/deploy-cluster/on-prem/options/docker.rst
  docs/setup-cluster/deploy-cluster/on-prem/options/homebrew.rst
  docs/setup-cluster/deploy-cluster/on-prem/options/index.rst
  docs/setup-cluster/deploy-cluster/on-prem/options/linux-packages.rst
  docs/setup-cluster/deploy-cluster/on-prem/options/wsl.rst
  docs/setup-cluster/deploy-cluster/on-prem/requirements.rst
  docs/setup-cluster/deploy-cluster/slurm/hpc-with-agent.rst
  docs/setup-cluster/deploy-cluster/slurm/install-on-slurm.rst
  docs/setup-cluster/upgrade.rst
Labels: documentation, cla-signed

#7855 test: stable diffusion example tests [MLG-903]
  .circleci/config.yml
  e2e_tests/tests/nightly/test_distributed.py
Labels: cla-signed, ci-run-nightly

#8058 chore(tests): fix data races in grpclog init during integrations
  master/cmd/determined-master/root.go
  master/internal/core.go
  master/test/testutils/fixtures.go
Labels: cla-signed

#8063 Revert bump version
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/.redirects/all_published_urls_ever.json
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Labels: documentation, cla-signed

#8059 chore(tests): fix data races in streaming API intg tests
  master/internal/api_experiment_intg_test.go
  master/internal/api_trials_intg_test.go
Labels: cla-signed

#8037 ci: backend owns e2e_tests folders cluster, command, and template
  .github/CODEOWNERS
Labels: cla-signed

#8061 chore(tests): fix data races in webhooks intg tests
  master/go.mod
  master/internal/webhooks/shipper_test.go
Labels: cla-signed

#8065 chore(tests): workaround data races in uptrace/bun
  master/Makefile
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_trial_intg_test.go
Labels: cla-signed

#8070 docs: quick fix for version dropdown
  docs/_static/version-switcher/versions.json
Labels: documentation, cla-signed, to-cherry-pick

#8072 chore: cleanup pod informer logging
  master/internal/rm/kubernetesrm/pods.go
Labels: cla-signed

#8062 fix: `det deploy aws list` results were incomplete.
  harness/determined/deploy/aws/aws.py
Labels: cla-signed

#8074 fix: shell open gives unfriendly message on terminated
  harness/determined/common/api/_util.py
Labels: cla-signed, to-cherry-pick

#8045 feat(performance): implement slack report send [INFENG-234]
  .github/workflows/performance-tests.yml
  performance/Makefile
  performance/src/api_performance_tests.ts
  performance/src/utils/helpers.ts
  performance/src/utils/types.ts
Labels: cla-signed

#8080 fix: order of API paths in proto for AssignMultipleGroups
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/src/determined/api/v1/api.proto
Labels: cla-signed

#8066 fix: Show experiment loading state
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Labels: cla-signed

#8081 fix: Experiment name settable in fork config
  webui/react/src/components/ExperimentCreateModal.tsx
Labels: cla-signed, to-cherry-pick

#8053 chore: change master config to k8s secret
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/templates/master-deployment.yaml
Labels: cla-signed

#8079 docs(performance): add sections to help with getting started [INFENG-230]
  performance/README.md
Labels: cla-signed

#8077 feat: Hide deactivated user in ws members list
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/types.ts
Labels: cla-signed

#7424 refactor: removed reference removed agents/.*/slots/.* endpoint [DET-9583]
  master/internal/user/service.go
  master/internal/user/service_test.go
Labels: cla-signed

#7940 chore: allow attaching select dropdown to select container
  webui/react/src/components/kit/Select.tsx
Labels: cla-signed

#8085 fix: Metric type is blank in comparison chart
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
Labels: cla-signed, to-cherry-pick

#8083 fix: Trial metric unnecessarily reset loading state
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Labels: cla-signed

#8091 fix: ignore `last_auth_at` to update `modified_at` on users table
  master/static/migrations/20231006105547_update-modified-at-for-certain-columns-on-users-table.tx.down.sql
  master/static/migrations/20231006105547_update-modified-at-for-certain-columns-on-users-table.tx.up.sql
Labels: cla-signed, to-cherry-pick

#7856 feat: add implementation for get and set acceleration data api and intg test [DET-9748]
  harness/determined/_execution.py
  harness/determined/common/api/bindings.py
  harness/determined/exec/prep_container.py
  harness/determined/gpu.py
  master/internal/api_tasks.go
  master/internal/api_tasks_intg_test.go
  master/internal/mocks/allocationmocks/allocation_service.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/task/allocation_service.go
  master/internal/task/allocation_service_iface.go
  master/internal/task/postgres_allocations.go
  master/pkg/model/task.go
  master/static/migrations/20231006122527_add-allocation-accelerators-table.tx.down.sql
  master/static/migrations/20231006122527_add-allocation-accelerators-table.tx.up.sql
  proto/buf.image.bin
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#8088 chore: cleanup allocation exit logic
  master/internal/task/allocation.go
  master/internal/task/allocation_service.go
  master/pkg/model/task.go
  master/pkg/model/task_test.go
Labels: cla-signed

#8089 chore: auth task logs [DET-7554]
  harness/determined/common/api/bindings.py
  master/internal/api_tasks.go
  master/internal/api_tasks_intg_test.go
  master/pkg/model/task.go
  master/static/srv/enrich_task_logs.py
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/task.pb.go
  proto/pkg/taskv1/task.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/task.proto
  proto/src/determined/task/v1/task.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#8090 fix: Empty / NotEmpty operators for descriptions, tags [WEB-1751]
  master/internal/api_experiment_intg_test.go
  master/internal/experiment_filter.go
Labels: cla-signed, to-cherry-pick

#8096 fix: Single point chart avoids issue with axis ranges
  webui/react/src/components/kit/internal/UPlot/SyncProvider.tsx
Labels: cla-signed, to-cherry-pick

#8073 feat: Dont allow users to add deactivated users to a workspace [WEB-1100]
  webui/react/src/pages/WorkspaceDetails.tsx
Labels: cla-signed

#8086 feat: Edit experiment from list
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/ExperimentEditModal.test.tsx
  webui/react/src/components/ExperimentEditModal.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/contextMenu.tsx
Labels: cla-signed

#8093 fix: trigger `autoupdate_users_modified_at` by `username` change
  master/static/migrations/20231006193809_trigger-by-username--on-users-table.tx.down.sql
  master/static/migrations/20231006193809_trigger-by-username--on-users-table.tx.up.sql
Labels: cla-signed, to-cherry-pick

#8098 fix: streaming updates bug fixes
  master/internal/stream/trials.go
  master/pkg/stream/declarative.go
Labels: cla-signed

#8069 fix: update WorkspaceMemberAddModal when new user or group is created [WEB-1111]
  webui/react/src/pages/WorkspaceDetails.tsx
Labels: cla-signed

#8109 build: print sphinx-build command on make build
  docs/Makefile
Labels: documentation, cla-signed

#8106 fix: fix primary key for allocation_accelerators table [DET-9890]
  master/pkg/model/task.go
  master/static/migrations/20231010095640_fix-accelerator-data-table.tx.down.sql
  master/static/migrations/20231010095640_fix-accelerator-data-table.tx.up.sql
Labels: cla-signed

#8111 docs: redirects.py moves subdirectories properly
  docs/redirects.py
Labels: documentation, cla-signed

#8099 chore: Deprecate Trial.logs in favor of Trial.iter_logs
  harness/determined/common/experimental/trial.py
Labels: cla-signed

#8110 fix: DET_CERT_MASTER_FILE=noverify det shell open
  harness/determined/cli/proxy.py
  harness/determined/cli/shell.py
  harness/determined/cli/tunnel.py
Labels: cla-signed

#7974 fix: write log shipper in python [MLG-993]
  e2e_tests/tests/cluster/test_logging.py
  e2e_tests/tests/cluster/test_ship_logs.py
  harness/determined/__init__.py
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/spec.go
  master/pkg/etc/etc.go
  master/pkg/tasks/const.go
  master/pkg/tasks/task.go
  master/pkg/tasks/task_trial.go
  master/static/srv/command-entrypoint.sh
  master/static/srv/enrich_task_logs.py
  master/static/srv/entrypoint.sh
  master/static/srv/gc-checkpoints-entrypoint.sh
  master/static/srv/notebook-entrypoint.sh
  master/static/srv/shell-entrypoint.sh
  master/static/srv/ship-logs.sh
  master/static/srv/ship_logs.py
  master/static/srv/task-logging-setup.sh
  master/static/srv/task-logging-teardown.sh
  master/static/srv/task-setup.sh
  master/static/srv/task-signal-handling.sh
  master/static/srv/tensorboard-entrypoint.sh
Labels: cla-signed

#8103 fix: Return resource pools with a fixed order to avoid unnecessary re-rendering
  master/internal/api_resourcepool.go
Labels: cla-signed, to-cherry-pick

#7853 chore: remove task allocation group actor ref
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/core.go
  master/internal/db/database.go
  master/internal/experiment.go
  master/internal/grpcutil/api.go
  master/internal/mocks/db.go
  master/internal/rm/agentrm/fair_share.go
  master/internal/rm/agentrm/mock_test.go
  master/internal/rm/agentrm/priority.go
  master/internal/rm/agentrm/priority_test.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/resource_pool_test.go
  master/internal/rm/agentrm/round_robin.go
  master/internal/rm/agentrm/scaling.go
  master/internal/rm/agentrm/scheduler_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/tasklist/group.go
  master/internal/rm/tasklist/job.go
  master/internal/rm/tasklist/registry.go
  master/internal/rm/tasklist/registry_test.go
  master/internal/rm/tasklist/task_list.go
  master/internal/sproto/jobs.go
  master/internal/sproto/task.go
  master/internal/sproto/task_actor.go
  master/internal/trial.go
  master/pkg/actor/actors/nothing.go
Labels: cla-signed

#8097 hw failure blocklist
  examples/tutorials/core_api/1_metrics.py
  examples/tutorials/core_api/1_metrics.yaml
  master/internal/api_tasks.go
  master/internal/core.go
  master/internal/db/postgres_tasks.go
  master/internal/ft/README.md
  master/internal/ft/alerts.go
  master/internal/ft/api_ft.go
  master/internal/ft/config.go
  master/internal/ft/postgres_ft.go
  master/internal/logpattern/logpattern.go
  master/internal/logpattern/logpattern_intg_test.go
  master/internal/rm/agentrm/fitting_methods.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/trial.go
  master/static/migrations/20231005154635_add-log-pattern-actions.tx.down.sql
  master/static/migrations/20231005154635_add-log-pattern-actions.tx.up.sql
  master/static/srv/enrich_task_logs.py
Labels: cla-signed

#7897 feat: add allocation exit status to db and implementation for get allocation [DET-9780]
  harness/determined/common/api/bindings.py
  master/internal/api_tasks.go
  master/internal/db/postgres_tasks.go
  master/internal/mocks/allocationmocks/allocation_service.go
  master/internal/task/allocation.go
  master/internal/task/allocation_service.go
  master/internal/task/allocation_service_iface.go
  master/internal/task/postgres_allocations.go
  master/pkg/model/task.go
  master/static/migrations/20231009171347_add-allocation-exit-status.tx.down.sql
  master/static/migrations/20231009171347_add-allocation-exit-status.tx.up.sql
  proto/buf.image.bin
  proto/pkg/apiv1/task.pb.go
  proto/pkg/taskv1/task.pb.go
  proto/src/determined/api/v1/task.proto
  proto/src/determined/task/v1/task.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#8116 fix: hotfixes for ship_logs.py
  e2e_tests/tests/cluster/test_ship_logs.py
  master/internal/rm/kubernetesrm/spec.go
  master/pkg/tasks/task.go
  master/static/srv/ship_logs.py
Labels: cla-signed

#8095 chore: make agent.yaml readable by default
  agent/.goreleaser.yml
Labels: cla-signed

#8119 chore: add hf context to all dist e2e [DET-9893]
  .circleci/config.yml
Labels: cla-signed

#8128 docs: Remove ref to fluent bit
  docs/reference/deploy/config/agent-config-reference.rst
  docs/reference/deploy/config/master-config-reference.rst
  docs/setup-cluster/deploy-cluster/k8s/install-on-kubernetes.rst
  docs/setup-cluster/deploy-cluster/on-prem/options/docker.rst
  docs/setup-cluster/deploy-cluster/on-prem/options/wsl.rst
  docs/setup-cluster/security/tls.rst
Labels: documentation, cla-signed

#8012 ci: dannys/reenable docs autoassign
  .github/workflows/doc-review.yml
Labels: cla-signed

#8131 docs: add release notes for 0.26.1
  docs/release-notes.rst
  docs/release-notes/continue-experiment.rst
  docs/release-notes/delete-tensorboards.rst
  docs/release-notes/detached-checkpoint-cloud.rst
  docs/release-notes/k8s-affininty-bug-fix.rst
  docs/release-notes/k8s-context-size-limit.rst
  docs/release-notes/master-logs.rst
  docs/release-notes/max-slots-per-pod-per-rp.rst
  docs/release-notes/shell-open-bugfix.rst
Labels: documentation, cla-signed

#8134 docs: Apply style guide edits
  docs/interfaces/notebooks.rst
  docs/reference/deploy/config/master-config-reference.rst
Labels: documentation, cla-signed

#8127 fix: move couldn't-connect-to-master message into ship_logs.py
  e2e_tests/tests/cluster/test_ship_logs.py
  harness/determined/exec/prep_container.py
  master/static/srv/ship_logs.py
Labels: cla-signed

#8138 docs: update link in prometheus docs
  docs/integrations/prometheus/prometheus.rst
Labels: documentation, cla-signed

#8036 chore: upgrade to node v20 and npm audit [WEB-1662]
  .circleci/config.yml
  .devcontainer/devcontainer.json
  .github/workflows/lint-react.yml
  CONTRIBUTING.md
  webui/react/.nvmrc
  webui/react/package-lock.json
  webui/react/package.json
Labels: cla-signed

#8126 chore: remove actors from resource manager interface
  master/internal/api_agents.go
  master/internal/api_command.go
  master/internal/api_experiment.go
  master/internal/api_job.go
  master/internal/api_resourcepool.go
  master/internal/api_tasks.go
  master/internal/api_trials.go
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/core_experiment.go
  master/internal/core_observability.go
  master/internal/core_task.go
  master/internal/experiment.go
  master/internal/job/job.go
  master/internal/mocks/rm.go
  master/internal/restore.go
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agents.go
  master/internal/rm/agentrm/resource_managers_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/resource_manager_iface.go
  master/internal/task/allocation.go
  master/internal/task/allocation_service_test.go
  master/internal/telemetry/reports.go
  master/internal/trial.go
  master/pkg/actor/context.go
  master/pkg/actor/errors.go
  master/pkg/actor/pool/pool.go
  master/pkg/actor/ref.go
Labels: cla-signed

#8107 chore: monitor task log for defined pattern
  harness/determined/common/api/bindings.py
  master/go.mod
  master/go.sum
  master/internal/api_tasks.go
  master/internal/logpattern/logpattern.go
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#8118 chore: update metrics documentation
  docs/reference/python-sdk.rst
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/metrics.py
  harness/determined/common/experimental/trial.py
Labels: documentation, cla-signed

#8101 chore: streaming updates refactor [DET-9795]
  master/internal/stream/socketlike.go
  master/internal/stream/supervisor.go
  master/internal/stream/system.go
  master/internal/stream/trials.go
  master/pkg/stream/stream.go
Labels: cla-signed

#8144 fix: Move setting of playwright browsers path
  .circleci/config.yml
  webui/react/package.json
Labels: cla-signed

#8044 chore: add option to proxy requests to internal service
  master/internal/config/config.go
  master/internal/core.go
Labels: cla-signed

#8115 docs: Restore core api integer incrementing tut
  docs/conf.py
  docs/deploy/scrape.py
  docs/live.py
  docs/model-dev-guide/api-guides/apis-howto/api-core-ug-basic.rst
  docs/model-dev-guide/api-guides/apis-howto/api-core-ug.rst
  docs/model-dev-guide/api-guides/apis-howto/index.rst
  docs/reference/python-sdk.rst
  examples/README.md
  examples/tutorials/core_api/0_start.py
  examples/tutorials/core_api/0_start.yaml
  examples/tutorials/core_api/1_metrics.py
  examples/tutorials/core_api/1_metrics.yaml
  examples/tutorials/core_api/2_checkpoints.py
  examples/tutorials/core_api/2_checkpoints.yaml
  examples/tutorials/core_api/3_hpsearch.py
  examples/tutorials/core_api/3_hpsearch.yaml
  examples/tutorials/core_api/4_distributed.py
  examples/tutorials/core_api/4_distributed.yaml
  examples/tutorials/core_api/README.md
Labels: documentation, cla-signed

#8141 chore: Post pruning hotfixes
  .circleci/config.yml
Labels: cla-signed

#8139 fix: Theme dropped after page refreshing
  webui/react/src/App.tsx
Labels: cla-signed

#8125 chore: configure a training port offset
  docs/reference/deploy/master-config-reference.rst
  master/internal/config/config.go
  master/internal/core.go
  master/internal/portregistry/port_registry.go
  master/internal/portregistry/port_registry_test.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_service_test.go
Labels: documentation, cla-signed

#8123 chore: streaming updates startup testing
  master/internal/stream/system_intg_test.go
  master/test/migrationutils/utils.go
  master/test/olddata/pre_remove_steps.go
  master/test/streamdata/stream_data.go
  master/test/streamdata/stream_trials.sql
Labels: cla-signed

#8157 chore: task resources actor refactor
  master/internal/api_checkpoint.go
  master/internal/api_experiment.go
  master/internal/checkpoint_gc.go
  master/internal/checkpoint_gc_test.go
  master/internal/command/command.go
  master/internal/experiment.go
  master/internal/mocks/allocationmocks/allocation_service.go
  master/internal/mocks/resources.go
  master/internal/rm/agentrm/mock_test.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/resources.go
  master/internal/rm/agentrm/scheduler_test.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_service.go
  master/internal/task/allocation_service_iface.go
  master/internal/task/allocation_service_test.go
  master/internal/trial.go
Labels: cla-signed

#8164 chore: final trial actor refactor
  master/internal/api_experiment.go
  master/internal/experiment.go
  master/internal/restore.go
  master/internal/trial.go
  master/internal/trial_intg_test.go
Labels: cla-signed

#8016 refactor: add delete cascade to tables affected by experiment deletion
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/static/migrations/20231011104015_add-exp-trials-on-del-casc.tx.down.sql
  master/static/migrations/20231011104015_add-exp-trials-on-del-casc.tx.up.sql
Labels: cla-signed

#8173 feat: use max_results in SDK's list_trials
  harness/determined/common/experimental/experiment.py
  harness/tests/determined/common/experimental/test_experiment.py
Labels: cla-signed

#8148 chore: reinstate core_api example e2e tests
  e2e_tests/tests/experiment/test_core.py
Labels: cla-signed, ci-run-nightly

#8180 docs: Restore path to singularity file
  docs/.redirects/redirects.json
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
Labels: documentation, cla-signed

#8163 fix: tensorboard sync for profiler data, Core API v2 managed mode [MLG-1063]
  docs/release-notes/core-v2-tensorboard.rst
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/fixtures/core_api/pytorch_profiler_sync.py
  e2e_tests/tests/fixtures/core_api/pytorch_profiler_sync.yaml
  harness/determined/core/_context.py
  harness/determined/exec/gc_checkpoints.py
  harness/determined/exec/tensorboard.py
  harness/determined/experimental/core_v2/_core_context_v2.py
  harness/determined/tensorboard/base.py
  harness/determined/tensorboard/build.py
Labels: documentation, cla-signed

#8182 Revert "feat: use max_results in SDK's list_trials"
  harness/determined/common/experimental/experiment.py
  harness/tests/determined/common/experimental/test_experiment.py
Labels: cla-signed

#8171 chore: migrate SDK to a generic OrderBy [MLG-1056]
  docs/model-dev-guide/model-management/checkpoints.rst
  docs/model-dev-guide/model-management/model-registry-org.rst
  e2e_tests/tests/test_sdk.py
  harness/determined/cli/experiment.py
  harness/determined/cli/model.py
  harness/determined/common/experimental/__init__.py
  harness/determined/common/experimental/_util.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/model.py
  harness/determined/common/experimental/trial.py
  harness/determined/experimental/__init__.py
  harness/determined/experimental/client.py
  harness/tests/determined/common/experimental/test_determined.py
  harness/tests/determined/common/experimental/test_experiment.py
  harness/tests/determined/common/experimental/test_trial.py
  harness/tests/test_sdk.py
Labels: documentation, cla-signed

#8183 fix: pin icon should adapt to theme colors
  webui/react/src/components/kit/Icon/Icon.module.scss
  webui/react/src/components/kit/icons/pin.svg
Labels: cla-signed

#8185 docs: update experiment config reference for records_per_epoch in PyTorchTrial [MLG-557]
  docs/reference/training/experiment-config-reference.rst
  docs/tutorials/pytorch-mnist-tutorial.rst
Labels: documentation, cla-signed

#8188 docs: fix redirects
  docs/.redirects/redirects.json
Labels: cla-signed

#8184 chore: add release notes for Python SDK
  docs/reference/python-sdk.rst
  docs/release-notes/python-sdk.rst
  harness/determined/experimental/client.py
Labels: documentation, cla-signed

#8170 chore(actors): refactor pods.go without actors [DET-9901]
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/resource_pool.go
Labels: cla-signed

#8190 fix: icons should appear in safari
  webui/react/src/components/kit/Icon/Icon.module.scss
Labels: cla-signed

#8189 fix: Display byte axis values using humanReadableBytes [DET-9906]
  webui/react/src/pages/TrialDetails/Profiles/Charts/SystemMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/utils.ts
Labels: cla-signed

#8193 fix: fix issue with db migrations
  master/static/migrations/20231010095640_fix-accelerator-data-table.tx.up.sql
Labels: cla-signed, to-cherry-pick

#8187 docs: remove references to PyTorchTrialContext.from_config() [MLG-832]
  docs/model-dev-guide/debug-models.rst
  harness/determined/_trial_context.py
Labels: documentation, cla-signed

#8192 fix: CLI uses default if pagination not included in args [DET-9908]
  harness/determined/cli/workspace.py
Labels: cla-signed, to-cherry-pick

#8207 docs: toctree tile css
  docs/assets/styles/determined.css
Labels: documentation, cla-signed

#8203 docs: Create new advanced setup section
  docs/.redirects/redirects.json
  docs/assets/styles/determined.css
  docs/conf.py
  docs/get-started/basic.rst
  docs/integrations/prometheus/_index.rst
  docs/manage/security/tls.rst
  docs/setup-cluster/_index.rst
  docs/setup-cluster/checklists/_index.rst
  docs/setup-cluster/checklists/adv-requirements.rst
  docs/setup-cluster/checklists/infiniband.rst
  docs/setup-cluster/checklists/postgresql.rst
  docs/setup-cluster/firewall-rules.rst
  docs/setup-cluster/internet-access.rst
  docs/setup-cluster/setup-clients.rst
Labels: documentation, cla-signed

#8208 docs: sort articles by weight custom extension
  docs/_extensions/sort_by_weight.py
  docs/conf.py
Labels: documentation, cla-signed

#8186 chore(actors): refactor k8s' resource_pool.go without actors [DET-9657]
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/resource_pool.go
Labels: cla-signed

#8210 fix: Trigger function updates new user modified_at without error
  master/static/migrations/20231019155909_new-trigger-by-username.tx.down.sql
  master/static/migrations/20231019155909_new-trigger-by-username.tx.up.sql
Labels: cla-signed, to-cherry-pick

#8212 fix: prevent extra updates when observing settings store
  webui/react/src/stores/userSettings.tsx
Labels: cla-signed, to-cherry-pick

#8197 chore: linting fixes for stream updates
  master/cmd/stream-gen/main.go
  master/go.mod
  master/go.sum
  master/internal/core.go
  master/internal/db/migrations.go
  master/internal/db/postgres.go
  master/internal/stream/socketlike.go
  master/internal/stream/system.go
  master/internal/stream/system_intg_test.go
  master/internal/stream/trials.go
  master/pkg/model/task.go
  master/pkg/stream/stream.go
  master/test/migrationutils/utils.go
  master/test/streamdata/stream_data.go
Labels: cla-signed

#7552 chore: remove WebSocket actor
  agent/internal/agent.go
  master/.gitignore
  master/determined.code-workspace
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agents.go
  master/pkg/actor/api/api.go
  master/pkg/actor/api/ws.go
  master/pkg/actor/api/ws_test.go
  master/pkg/actor/ref.go
  master/pkg/ws/ws.go
Labels: cla-signed

#8137 fix: Multi-trial visualizations switch from metricType to group string [DET-9896]
  master/internal/api_experiment.go
  master/internal/api_trials_intg_test.go
  master/internal/db/database.go
  master/internal/db/postgres_experiments.go
  master/internal/mocks/db.go
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpHeatMaps.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpScatterPlots.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
Labels: cla-signed

#8194 feat: update group table
  webui/react/src/pages/Admin/GroupManagement.tsx
  webui/react/src/pages/Admin/RemoveUserFromGroupModal.tsx
Labels: cla-signed

#8214 docs: Edit setup checklist
  docs/manage/security/_index.rst
  docs/manage/users.rst
  docs/reference/deploy/agent-config-reference.rst
  docs/setup-cluster/_index.rst
  docs/setup-cluster/checklists/_index.rst
  docs/setup-cluster/checklists/infiniband.rst
  docs/setup-cluster/k8s/helm-commands.rst
Labels: documentation, cla-signed

#8209 fix: remove 'contents' parameter from remove_notes
  harness/determined/common/experimental/project.py
  harness/tests/determined/common/experimental/test_project.py
Labels: cla-signed, to-cherry-pick

#8174 chore: refactor actor system out of internal/job
  master/internal/api_experiment.go
  master/internal/api_job.go
  master/internal/command/command.go
  master/internal/command/command_job_service.go
  master/internal/core.go
  master/internal/experiment.go
  master/internal/experiment_job_service.go
  master/internal/job/job.go
  master/internal/job/jobservice/jobservice.go
Labels: cla-signed

#8220 docs: Fix broken Slack links
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/question.yml
  CONTRIBUTING.md
  README.md
  docs/_templates/article-header-buttons.html
  docs/manage/troubleshooting.rst
  docs/model-dev-guide/api-guides/apis-howto/deepspeed/advanced.rst
  docs/model-dev-guide/debug-models.rst
Labels: documentation, cla-signed

#8142 feat: add metrics as streamable type [DET-9812]
  master/addmetricstrigger.sql
  master/addtrialstrigger.sql
  master/internal/stream/authz_basic_impl.go
  master/internal/stream/authz_iface.go
  master/internal/stream/metrics.go
  master/internal/stream/system.go
  master/stream.py
Labels: cla-signed

#8223 docs: quick fix for version dropdown
  docs/_static/version-switcher/versions.json
Labels: documentation, cla-signed, to-cherry-pick

#7526 chore: deprecate `apex` support.
  docs/release-notes/deprecate-apex.rst
  harness/determined/pytorch/_pytorch_context.py
Labels: documentation, cla-signed

#8179 refactor: `CliError` does not need `e_stack` property.
  harness/determined/cli/dev.py
  harness/determined/cli/errors.py
  harness/determined/cli/experiment.py
  harness/determined/deploy/aws/cli.py
Labels: cla-signed

#8196 chore: support redirect on auth failure for echo routes
  master/internal/api_auth.go
  master/internal/core.go
Labels: cla-signed

#8234 chore: shorten job name to unblock nightlies [MLG-1031]
  .circleci/config.yml
Labels: cla-signed

#8224 feat: Update users and groups tab to reflect count
  webui/react/src/pages/Admin/index.tsx
Labels: cla-signed

#8232 fix: pin ruamel.yaml<0.18.0
  harness/setup.py
Labels: to-cherry-pick

#8225 fix: inaccurate task queue time [DET-9912]
  master/static/srv/update_aggregated_queued_time.sql
Labels: cla-signed, to-cherry-pick

#8228 fix: support ruamel.yaml==0.18.0 [DET-9913]
  e2e_tests/tests/cluster/test_checkpoints.py
  e2e_tests/tests/cluster/test_exp_continue.py
  e2e_tests/tests/cluster/test_resource_manager.py
  e2e_tests/tests/cluster/test_users.py
  e2e_tests/tests/command/test_run.py
  e2e_tests/tests/command/test_tensorboard.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/experiment/test_custom_searcher.py
  e2e_tests/tests/experiment/test_noop.py
  e2e_tests/tests/experiment/test_profiling.py
  e2e_tests/tests/nightly/test_distributed.py
  e2e_tests/tests/template/test_template.py
  e2e_tests/tests/test_sdk.py
  examples/legacy/gan/pix2pix_tf_keras/data.py
  examples/legacy/gan/pix2pix_tf_keras/fit.py
  harness/determined/cli/command.py
  harness/determined/cli/experiment.py
  harness/determined/cli/job.py
  harness/determined/cli/master.py
  harness/determined/cli/render.py
  harness/determined/cli/template.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/util.py
  harness/determined/deploy/aws/gen_vcpu_mapping.py
  harness/determined/deploy/aws/preflight.py
  harness/determined/deploy/gcp/gcp.py
  harness/determined/deploy/local/cluster_utils.py
  harness/determined/experimental/core_v2/_core_v2.py
  harness/determined/experimental/core_v2/_unmanaged.py
  harness/setup.py
  harness/tests/common/test_yaml.py
  harness/tests/experiment/fixtures/pytorch_onevar_model.py
  tools/scripts/bumpenvs.py
  tools/scripts/refresh-ubuntu-amis.py
  tools/scripts/update-bumpenvs-yaml.py
Labels: cla-signed

#8235 revert: fix: support ruamel.yaml==0.18.0 [DET-9913]
  e2e_tests/tests/cluster/test_checkpoints.py
  e2e_tests/tests/cluster/test_exp_continue.py
  e2e_tests/tests/cluster/test_resource_manager.py
  e2e_tests/tests/cluster/test_users.py
  e2e_tests/tests/command/test_run.py
  e2e_tests/tests/command/test_tensorboard.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/experiment/test_custom_searcher.py
  e2e_tests/tests/experiment/test_noop.py
  e2e_tests/tests/experiment/test_profiling.py
  e2e_tests/tests/nightly/test_distributed.py
  e2e_tests/tests/template/test_template.py
  e2e_tests/tests/test_sdk.py
  examples/legacy/gan/pix2pix_tf_keras/data.py
  examples/legacy/gan/pix2pix_tf_keras/fit.py
  harness/determined/cli/command.py
  harness/determined/cli/experiment.py
  harness/determined/cli/job.py
  harness/determined/cli/master.py
  harness/determined/cli/render.py
  harness/determined/cli/template.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/util.py
  harness/determined/deploy/aws/gen_vcpu_mapping.py
  harness/determined/deploy/aws/preflight.py
  harness/determined/deploy/gcp/gcp.py
  harness/determined/deploy/local/cluster_utils.py
  harness/determined/experimental/core_v2/_core_v2.py
  harness/determined/experimental/core_v2/_unmanaged.py
  harness/setup.py
  harness/tests/common/test_yaml.py
  harness/tests/experiment/fixtures/pytorch_onevar_model.py
  tools/scripts/bumpenvs.py
  tools/scripts/refresh-ubuntu-amis.py
  tools/scripts/update-bumpenvs-yaml.py
Labels: cla-signed

#8152 refactor: use Nameplate component in NavigationSidebar [WEB-1057]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ActionSheet.tsx
  webui/react/src/components/NavigationSideBar.module.scss
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.module.scss
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/pages/DesignKit.tsx
Labels: cla-signed

#8221 ci: alternate mechanism for running nightly tests
  .circleci/config.yml
  .circleci/real_config.yml
Labels: cla-signed

#8206 chore: add back missing commit in Python SDK
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/experiment.py
  harness/tests/determined/common/experimental/test_experiment.py
  master/internal/api_experiment.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#8238 chore: indirect import for jobs to avoid import cycle
  master/internal/api_experiment.go
  master/internal/api_job.go
  master/internal/command/command.go
  master/internal/command/command_job_service.go
  master/internal/core.go
  master/internal/experiment.go
  master/internal/experiment_job_service.go
  master/internal/job/jobservice/jobservice.go
Labels: cla-signed

#8178 chore: update Avatar component in UI kit [WEB-1055, WEB-1734]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/DynamicIcon.module.scss
  webui/react/src/components/DynamicIcon.tsx
  webui/react/src/components/ModelRegistry.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/ProjectCard.tsx
  webui/react/src/components/ResourcePoolBindings.tsx
  webui/react/src/components/Table/Table.tsx
  webui/react/src/components/UserAvatar.tsx
  webui/react/src/components/WorkspaceFilter.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceCard.tsx
Labels: cla-signed

#8233 fix: GetTasks doesn't respect rbac [DET-9914]
  master/internal/api_experiment_intg_test.go
  master/internal/api_project_intg_test.go
  master/internal/api_tasks.go
  master/internal/api_tasks_intg_test.go
  master/internal/api_user_intg_test.go
  master/internal/api_workspace_intg_test.go
Labels: cla-signed

#8231 chore: move files from /Clusters into /Cluster [WEB-1730]
  webui/react/src/pages/Cluster.tsx
  webui/react/src/pages/Cluster/ClusterOverview.tsx
  webui/react/src/pages/Cluster/ClusterQueuedChart.module.scss
  webui/react/src/pages/Cluster/ClusterQueuedChart.tsx
  webui/react/src/pages/ResourcePool/ResourcepoolDetail.tsx
  webui/react/src/routes/index.tsx
Labels: cla-signed

#8075 feat: add new CLI command to edit multiple fields at once
  docs/release-notes/cli-user-edit.rst
  e2e_tests/tests/cluster/test_users.py
  harness/determined/cli/user.py
  harness/determined/common/declarative_argparse.py
Labels: documentation, cla-signed, User-facing API Change

#8246 fix: Dont suggest register / delete a deleted checkpoint [WEB-1736]
  webui/react/src/components/CheckpointModal.tsx
  webui/react/src/utils/checkpoint.ts
Labels: cla-signed

#8195 feat: Update "Add Members" to Workspace experience
  webui/react/src/components/CreateGroupModal.tsx
  webui/react/src/components/WorkspaceMemberAddModal.tsx
  webui/react/src/pages/WorkspaceDetails/RoleRenderer.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
Labels: cla-signed

#8244 fix: prevent passing login r= param to relayState
  webui/react/src/ee/SamlAuth.test.ts
  webui/react/src/ee/SamlAuth.ts
Labels: cla-signed

#8154 fix: deepspeed e2e_tests fail when environment variable contains a newline character [FE-256]
  harness/determined/launch/deepspeed.py
Labels: cla-signed

#8247 docs: check for dropped urls in PRs
  docs/.redirects/redirects.json
  docs/redirects.py
Labels: documentation, cla-signed

#8237 fix: support ruamel.yaml>=0.18.0 [DET-9913]
  e2e_tests/tests/cluster/test_checkpoints.py
  e2e_tests/tests/cluster/test_exp_continue.py
  e2e_tests/tests/cluster/test_resource_manager.py
  e2e_tests/tests/cluster/test_users.py
  e2e_tests/tests/command/test_run.py
  e2e_tests/tests/command/test_tensorboard.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/experiment/test_custom_searcher.py
  e2e_tests/tests/experiment/test_noop.py
  e2e_tests/tests/experiment/test_profiling.py
  e2e_tests/tests/nightly/test_distributed.py
  e2e_tests/tests/template/test_template.py
  e2e_tests/tests/test_sdk.py
  examples/legacy/gan/pix2pix_tf_keras/data.py
  examples/legacy/gan/pix2pix_tf_keras/fit.py
  harness/determined/cli/command.py
  harness/determined/cli/experiment.py
  harness/determined/cli/job.py
  harness/determined/cli/master.py
  harness/determined/cli/render.py
  harness/determined/cli/template.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/util.py
  harness/determined/deploy/aws/gen_vcpu_mapping.py
  harness/determined/deploy/aws/preflight.py
  harness/determined/deploy/gcp/gcp.py
  harness/determined/deploy/local/cluster_utils.py
  harness/determined/experimental/core_v2/_core_v2.py
  harness/determined/experimental/core_v2/_unmanaged.py
  harness/setup.py
  harness/tests/common/test_yaml.py
  harness/tests/experiment/fixtures/pytorch_onevar_model.py
  tools/scripts/bumpenvs.py
  tools/scripts/refresh-ubuntu-amis.py
  tools/scripts/update-bumpenvs-yaml.py
Labels: cla-signed

#8245 docs: add release notes for 0.26.2
  docs/release-notes.rst
  docs/release-notes/core-v2-tensorboard.rst
  docs/release-notes/python-sdk.rst
Labels: documentation, cla-signed

#8236 feat: unify new/edit group modals [WEB-1741]
  webui/react/src/components/CreateGroupModal.test.tsx
  webui/react/src/components/CreateGroupModal.tsx
  webui/react/src/pages/Admin/GroupManagement.tsx
Labels: cla-signed

#8254 docs: fix inaccuracies in `bind_mounts` docs.
  docs/reference/deploy/master-config-reference.rst
  docs/reference/training/experiment-config-reference.rst
Labels: documentation, cla-signed

#8147 ci: wart removal
  e2e_tests/tests/cluster/test_logging.py
  e2e_tests/tests/experiment/experiment.py
Labels: cla-signed

#8257 chore: ci should always setup python venv for caching
  .circleci/real_config.yml
Labels: cla-signed
