Repository determined-ai/determined, pull requests merged in 2024-04, with the labels that each got.

#8944 chore: update old e-mail address
  agent/.goreleaser.yml
  agent/Dockerfile
  docs/conf.py
  harness/setup.py
  master/.goreleaser.yml
  master/Dockerfile
  model_hub/setup.py
Labels: documentation, cla-signed

#9080 chore: change log level for multirm messages [RM-125]
  master/internal/rm/multirm/multirm.go
Labels: cla-signed

#9058 ci: more printing about state of master
  .circleci/scripts/wait_for_perf_migration_upload_results.py
Labels: cla-signed

#9064 chore: CODEOWNERS deploy owned by RM not MD
  .github/CODEOWNERS
Labels: cla-signed

#9077 chore: bumpenvs for jupyter security update.
  .circleci/real_config.yml
  docs/model-dev-guide/api-guides/apis-howto/_index.rst
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: documentation, cla-signed

#9081 fix: stop showing loading indicator in `queued` state
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
Labels: cla-signed

#9067 fix: spacing issue with exp list pagination
  webui/react/src/pages/F_ExpList/F_ExperimentList.module.scss
Labels: cla-signed

#9085 fix: no more shadowing "license"
  tools/scripts/gen-attributions.py
Labels: cla-signed

#9075 fix: fix master config and experiment config for log retention
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  master/internal/api_logretention_intg_test.go
  master/internal/config/config.go
  master/internal/core.go
  master/internal/core_experiment.go
  master/internal/experiment/bulk_action.go
  master/internal/logretention/logretention.go
  master/internal/populate_metrics.go
  master/pkg/model/logging_config.go
  master/pkg/schemas/expconf/experiment_config.go
  master/pkg/schemas/expconf/latest.go
  master/pkg/schemas/expconf/zgen_experiment_config_v0.go
  master/pkg/schemas/expconf/zgen_retention_policy_config_v0.go
  master/pkg/schemas/zgen_schemas.go
  schemas/expconf/v0/experiment.json
  schemas/expconf/v0/retention-policy.json
Labels: documentation, cla-signed

#9087 chore: add change in master config to devcluster.yaml
  tools/devcluster.yaml
Labels: cla-signed

#9079 fix: job queue panic for multirm [RM-123]
  master/internal/rm/multirm/multirm.go
  master/internal/rm/multirm/multirm_intg_test.go
Labels: cla-signed

#9050 docs: update multiRM docs
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes/multirm-for-k8s.rst
Labels: documentation, cla-signed

#9092 chore: unshadow more builtins
  tools/scripts/gen-attributions.py
Labels: cla-signed

#9093 chore: change RM log message back to Debug level
  master/internal/rm/multirm/multirm.go
Labels: cla-signed

#9094 fix: prevent checkpoint modals from closing on their own [ET-116] [ET-120]
  webui/react/src/components/CheckpointModalTrigger.test.tsx
  webui/react/src/components/CheckpointModalTrigger.tsx
  webui/react/src/components/RegisterCheckpointModal.module.scss
  webui/react/src/components/RegisterCheckpointModal.tsx
  webui/react/src/hooks/useCheckpointFlow.tsx
  webui/react/src/hooks/useFetchModels.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsMetrics.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
Labels: cla-signed, to-cherry-pick

#9104 ci: INFENG-600 remove single commit legacy validation
  .github/workflows/semantic.yml
Labels: cla-signed

#9102 fix: make sure that the genai helm chart services work across namespaces
  helm/charts/determined/templates/genai/genai-deployment.yaml
Labels: cla-signed

#9082 chore: upgrade Bun to fix race condition in tests [DET-10193]
  go.mod
  go.sum
Labels: cla-signed

#9028 fix: add missing k8s job submission times to allocations
  master/internal/db/postgres_tasks.go
  master/internal/db/postgres_tasks_intg_test.go
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/db.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/tasklist/task_list.go
  master/pkg/model/task.go
Labels: cla-signed

#9103 docs: add release notes for 0.30.0
  docs/release-notes.rst
  docs/release-notes/profiling-v2.rst
Labels: documentation, cla-signed

#9109 feat: Pre-select ws when launching notebook
  webui/react/src/components/JupyterLabModal.tsx
Labels: cla-signed

#9001 feat: Create MoveRun endpoint
  harness/determined/common/api/bindings.py
  master/internal/api_runs.go
  master/internal/api_runs_intg_test.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/run.pb.go
  proto/pkg/runv1/run.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/run.proto
  proto/src/determined/run/v1/run.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#9106 feat: det deploy aws adds tags to dynamic agents [RM-140]
  docs/release-notes/tag-to-dynamic-agents.rst
  docs/setup-cluster/aws/install-on-aws.rst
  harness/determined/deploy/aws/deployment_types/base.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
Labels: documentation, cla-signed

#9096 test: Jcom/infeng 455/default selector instance prop
  webui/react/src/e2e/models/BaseComponent.ts
  webui/react/src/e2e/models/components/AddUsersToGroupsModal.ts
  webui/react/src/e2e/models/components/ChangeUserStatusModal.ts
  webui/react/src/e2e/models/components/CreateUserModal.ts
  webui/react/src/e2e/models/components/DeterminedAuth.ts
  webui/react/src/e2e/models/components/Navigation.ts
  webui/react/src/e2e/models/components/SetUserRolesModal.ts
  webui/react/src/e2e/models/components/SkeletonSection.ts
  webui/react/src/e2e/models/components/Table/InteractiveTable.ts
  webui/react/src/e2e/models/components/Table/SkeletonTable.ts
  webui/react/src/e2e/models/hew/Dropdown.ts
  webui/react/src/e2e/models/hew/Modal.ts
  webui/react/src/e2e/models/hew/Pivot.ts
  webui/react/src/e2e/models/hew/Toast.ts
  webui/react/src/e2e/models/pages/Admin/UserManagement.ts
  webui/react/src/e2e/models/utils/error.ts
Labels: cla-signed

#9084 test: user-page-models
  webui/react/src/components/AddUsersToGroupsModal.tsx
  webui/react/src/components/ChangeUserStatusModal.tsx
  webui/react/src/components/CreateUserModal.tsx
  webui/react/src/components/Navigation.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/SetUserRolesModal.tsx
  webui/react/src/components/SkeletonSection.tsx
  webui/react/src/components/Table/InteractiveTable.tsx
  webui/react/src/components/Table/SkeletonTable.tsx
  webui/react/src/e2e/README.md
  webui/react/src/e2e/fixtures/auth.fixture.ts
  webui/react/src/e2e/fixtures/dev.fixture.ts
  webui/react/src/e2e/models/BaseComponent.ts
  webui/react/src/e2e/models/BasePage.ts
  webui/react/src/e2e/models/README.md
  webui/react/src/e2e/models/components/AddUsersToGroupsModal.ts
  webui/react/src/e2e/models/components/ChangeUserStatusModal.ts
  webui/react/src/e2e/models/components/CreateUserModal.ts
  webui/react/src/e2e/models/components/DeterminedAuth.ts
  webui/react/src/e2e/models/components/Navigation.ts
  webui/react/src/e2e/models/components/NavigationSideBar.ts
  webui/react/src/e2e/models/components/SetUserRolesModal.ts
  webui/react/src/e2e/models/components/SkeletonSection.ts
  webui/react/src/e2e/models/components/Table/InteractiveTable.ts
  webui/react/src/e2e/models/components/Table/SkeletonTable.ts
  webui/react/src/e2e/models/hew/Dropdown.ts
  webui/react/src/e2e/models/hew/Modal.ts
  webui/react/src/e2e/models/hew/Pivot.ts
  webui/react/src/e2e/models/hew/Toast.ts
  webui/react/src/e2e/models/pages/Admin/UserManagement.ts
  webui/react/src/e2e/models/pages/Admin/index.ts
  webui/react/src/e2e/models/pages/SignIn.ts
  webui/react/src/e2e/models/utils/error.ts
  webui/react/src/e2e/tests/auth.spec.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
  webui/react/src/pages/Admin/UserManagement.tsx
Labels: cla-signed

#9029 feat: add model version streaming
  e2e_tests/tests/streaming/test_client.py
  harness/determined/common/streams/_client.py
  harness/determined/common/streams/wire.py
  master/Makefile
  master/cmd/stream-gen/main.go
  master/internal/stream/authz_basic_impl.go
  master/internal/stream/authz_iface.go
  master/internal/stream/messages.go
  master/internal/stream/model_versions.go
  master/internal/stream/models.go
  master/internal/stream/projects.go
  master/internal/stream/publisher.go
  master/internal/stream/subscription.go
  master/internal/stream/system_intg_test.go
  master/internal/stream/test_util.go
  master/internal/stream/util.go
  master/static/migrations/20240328144809_add-model-versions-trigger.tx.down.sql
  master/static/migrations/20240328144809_add-model-versions-trigger.tx.up.sql
  webui/react/src/services/stream/index.ts
  webui/react/src/services/stream/wire.ts
Labels: cla-signed

#9031 chore: add nightly gke cluster cleanup job
  .circleci/real_config.yml
Labels: cla-signed

#9074 chore: better k8s testing
  .circleci/real_config.yml
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/templates/master-service.yaml
  helm/charts/determined/templates/priority-classes.yaml
  helm/charts/determined/values.yaml
  master/.goreleaser_sharedcluster.yml
  master/Makefile
Labels: cla-signed

#9097 fix: match GetJobQueueStats behavior in k8s RM to agent RM [RM-136]
  master/internal/rm/agentrm/agent_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/multirm/multirm_intg_test.go
Labels: cla-signed

#9114 fix: helm value for gke tests
  .circleci/real_config.yml
  helm/charts/determined/values.yaml
Labels: cla-signed

#9115 chore: add test to CODEOWNERS [INFENG-605]
  .github/CODEOWNERS
Labels: cla-signed

#9105 docs: add instructions on deploying determined via HPE MLDES [SAAS-1877]
  docs/setup-cluster/_index.rst
  docs/setup-cluster/mldes/_index.rst
Labels: documentation, cla-signed

#9098 chore: update github PR template [INFENG-600]
  .github/pull_request_template.md
Labels: cla-signed

#9118 chore: PR template again [INFENG-600]
  .github/pull_request_template.md
Labels: cla-signed

#9091 fix: fix regression caused by join on trials view
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_logretention_intg_test.go
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/db/postgres_tasks.go
  master/internal/experiment/bulk_action.go
  master/internal/logretention/logretention.go
  master/internal/populate_metrics.go
  master/internal/trial.go
  master/pkg/model/experiment.go
  master/pkg/model/task.go
  master/static/migrations/20240403070639_fix-trials-view.tx.down.sql
  master/static/migrations/20240403070639_fix-trials-view.tx.up.sql
  master/static/migrations/20240404205758_remove-task-log-retention.tx.down.sql
  master/static/migrations/20240404205758_remove-task-log-retention.tx.up.sql
Labels: cla-signed

#8981 docs: add a python sdk example for log following.
  docs/reference/python-sdk/example-workflows.rst
Labels: documentation, cla-signed

#9119 fix: unlock mutex for experiment ResourcePool() [RM-152]
  docs/release-notes/experiment-deadlock.rst
  master/.golangci.yml
  master/internal/api_project_intg_test.go
  master/internal/experiment_job_service.go
  master/internal/experiment_job_service_test.go
Labels: documentation, cla-signed

#9113 feat: helm deploys with a password
  docs/reference/deploy/helm-config-reference.rst
  docs/release-notes/helm-requires-user-password.rst
  helm/charts/determined/scripts/k8s-password-change.py
  helm/charts/determined/templates/change-password.yaml
  helm/charts/determined/templates/master-config.yaml
Labels: documentation, cla-signed, User-facing API Change

#9125 fix: reduce time and increase reliability of tests
  master/internal/api_logretention_intg_test.go
Labels: cla-signed

#9121 fix: det gcp down doesn't have a det_version argument
  harness/determined/deploy/gcp/cli.py
Labels: cla-signed

#9131 fix: prevent table breaking on null columnWidths [ET-161]
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
Labels: cla-signed

#9127 chore: set the default data vol to be a docker volume instead of a mount
  tools/devcluster.yaml
  tools/k8s/devcluster.yaml
Labels: cla-signed

#8971 chore: update PyPi metadata
  harness/setup.py
Labels: cla-signed

#9133 fix: down migrations
  master/static/migrations/20240313113450_add-models-trigger.tx.down.sql
Labels: cla-signed

#9137 docs: Describe pwds default accounts
  docs/_shared/basic-installation.txt
  docs/_shared/password-note.txt
  docs/_shared/password-steps-helm.txt
  docs/_shared/password-steps-webui.txt
  docs/get-started/webui-qs.rst
  docs/manage/security/rbac.rst
  docs/manage/security/scim.rst
  docs/manage/users.rst
  docs/model-dev-guide/api-guides/apis-howto/api-core-ug.rst
  docs/setup-cluster/checklists/_index.rst
  docs/setup-cluster/k8s/install-on-kubernetes.rst
  docs/setup-cluster/on-prem/options/wsl.rst
  docs/tutorials/pachyderm-cat-dog.rst
  docs/tutorials/quickstart-mdldev.rst
Labels: documentation, cla-signed

#9124 feat: cluster wide startup hook for tasks
  .circleci/devcluster/double.devcluster.yaml
  .circleci/devcluster/elastic.devcluster.yaml
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes/tcd-startup-hook.rst
  e2e_tests/tests/cluster/test_logging.py
  master/pkg/model/task_container_defaults.go
  master/pkg/model/task_container_defaults_test.go
  master/pkg/tasks/const.go
  master/pkg/tasks/task.go
  master/pkg/tasks/task_test.go
  master/static/srv/command-entrypoint.sh
  master/static/srv/entrypoint.sh
  master/static/srv/generic-task-entrypoint.sh
  master/static/srv/notebook-entrypoint.sh
  master/static/srv/shell-entrypoint.sh
  master/static/srv/task-setup.sh
  master/static/srv/tensorboard-entrypoint.sh
Labels: documentation, cla-signed

#9138 chore: change multirm log messages to trace level [RM-151]
  master/internal/rm/multirm/multirm.go
Labels: cla-signed

#9144 docs: revert-multiRM-mc-doc
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes/multirm-for-k8s.rst
Labels: documentation, cla-signed, to-cherry-pick

#9145 docs: revert helm values change for multirm
  helm/charts/determined/values.yaml
Labels: cla-signed, to-cherry-pick

#9128 test: ignore e2e test cases in vitest
  webui/react/vite.config.mts
Labels: cla-signed

#9142 test: fix logging test typehint syntax error
  e2e_tests/tests/cluster/test_logging.py
Labels: cla-signed, to-cherry-pick

#9136 fix: ensure all columns have widths
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Labels: cla-signed, to-cherry-pick

#8990 fix: cli gives misleading error message when logging in with a bad password [MD-277]
  harness/determined/cli/user.py
  harness/determined/common/api/errors.py
  harness/tests/cli/test_user.py
Labels: cla-signed

#9149 fix: fix docs for log retention
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes/logging-retention.rst
Labels: documentation, cla-signed, to-cherry-pick

#9151 chore: add a devcluster.yaml for using multiple k8s clusters
  tools/k8s/README.md
  tools/k8s/multicluster.yaml
Labels: cla-signed

#9023 feat: create flat runs view [ET-24]
  harness/determined/common/api/bindings.py
  master/internal/api_project.go
  master/internal/api_runs.go
  proto/buf.image.bin
  proto/pkg/runv1/run.pb.go
  proto/src/determined/run/v1/run.proto
  webui/react/src/components/OptionsMenu.settings.ts
  webui/react/src/components/Searches/Searches.settings.ts
  webui/react/src/components/Searches/Searches.tsx
  webui/react/src/components/UserSettings.tsx
  webui/react/src/components/exceptions.tsx
  webui/react/src/ioTypes.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/expListColumns.ts
  webui/react/src/pages/FlatRuns/FlatRuns.module.scss
  webui/react/src/pages/FlatRuns/FlatRuns.settings.ts
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/pages/FlatRuns/columns.ts
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Labels: cla-signed

#9141 fix: keras import errors in new versions
  harness/determined/keras/_load.py
  harness/determined/keras/_tf_keras_trial.py
Labels: cla-signed

#9150 chore: add alert metric for Prometheus and add Grafana alert docs [RM-118]
  docs/assets/images/grafana-alert-config.png
  docs/integrations/prometheus/_index.rst
  master/internal/core.go
Labels: documentation, cla-signed

#9153 ci: publish-docs installs awscli into user space
  .circleci/real_config.yml
Labels: cla-signed, to-cherry-pick

#9135 feat: add helm master level config template for tcd startup hooks
  .circleci/real_config.yml
  docs/reference/deploy/helm-config-reference.rst
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/cluster/test_logging.py
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
Labels: documentation, cla-signed, to-cherry-pick

#9155 fix: fix disable button condition in launch jupyter notebook modal
  webui/react/src/components/JupyterLabModal.tsx
Labels: cla-signed, to-cherry-pick

#9090 chore: new image publishing
  tools/scripts/environments-target.txt
  tools/scripts/retag-bumpenvs-yaml.py
  tools/scripts/update-bumpenvs-yaml.py
  tools/scripts/update-docker-tags.sh
Labels: cla-signed

#9163 chore: style fix for helm tls
  helm/charts/determined/values.yaml
Labels: cla-signed, to-cherry-pick

#9120 docs: Copy debug to exp config
  docs/index.rst
  docs/reference/deploy/agent-config-reference.rst
  docs/reference/experiment-config-reference.rst
Labels: documentation, cla-signed

#9162 ci: merge EE and OSS doc deploy together [INFENG-625]
  docs/Makefile
  docs/deploy/.gitignore
  docs/deploy/Makefile
  docs/deploy/README.md
  docs/deploy/backend_EE.conf
  docs/deploy/backend_OSS.conf
  docs/deploy/cdn.tf
  docs/deploy/input.tf
  docs/deploy/main.tf
  docs/deploy/s3.tf
  docs/deploy/vars_EE.yaml
  docs/deploy/vars_OSS.yaml
Labels: documentation, cla-signed

#9139 test: experiment list page models and sample test [INFENG-451]
  webui/react/src/components/TableActionBar.tsx
  webui/react/src/e2e/fixtures/dev.fixture.ts
  webui/react/src/e2e/models/BaseComponent.ts
  webui/react/src/e2e/models/BasePage.ts
  webui/react/src/e2e/models/components/AddUsersToGroupsModal.ts
  webui/react/src/e2e/models/components/ChangeUserStatusModal.ts
  webui/react/src/e2e/models/components/ComparisonView.ts
  webui/react/src/e2e/models/components/CreateUserModal.ts
  webui/react/src/e2e/models/components/DeterminedAuth.ts
  webui/react/src/e2e/models/components/DynamicTabs.ts
  webui/react/src/e2e/models/components/ExperimentActionDropdown.ts
  webui/react/src/e2e/models/components/F_ExperiementList.ts
  webui/react/src/e2e/models/components/Navigation.ts
  webui/react/src/e2e/models/components/NavigationSideBar.ts
  webui/react/src/e2e/models/components/Page.ts
  webui/react/src/e2e/models/components/SetUserRolesModal.ts
  webui/react/src/e2e/models/components/SkeletonSection.ts
  webui/react/src/e2e/models/components/Table/InteractiveTable.ts
  webui/react/src/e2e/models/components/Table/SkeletonTable.ts
  webui/react/src/e2e/models/components/TableActionBar.ts
  webui/react/src/e2e/models/hew/DataGrid.ts
  webui/react/src/e2e/models/hew/Dropdown.ts
  webui/react/src/e2e/models/hew/Modal.ts
  webui/react/src/e2e/models/hew/Pagination.ts
  webui/react/src/e2e/models/hew/Pivot.ts
  webui/react/src/e2e/models/hew/SplitPane.ts
  webui/react/src/e2e/models/hew/Toast.ts
  webui/react/src/e2e/models/pages/Admin/UserManagement.ts
  webui/react/src/e2e/models/pages/Admin/index.ts
  webui/react/src/e2e/models/pages/ProjectDetails.ts
  webui/react/src/e2e/models/utils/error.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
Labels: cla-signed

#9169 chore: add flake8 relative-import rule
  harness/.flake8
  harness/determined/tensorboard/fetchers/__init__.py
  model_hub/model_hub/huggingface/_utils.py
  model_hub/model_hub/mmdetection/_data_backends.py
  requirements.txt
Labels: cla-signed

#9171 docs: remove max supported k8s version.
  docs/setup-cluster/k8s/install-on-kubernetes.rst
Labels: documentation, cla-signed

#9167 fix: Reset table offset when filtering for models
  webui/react/src/components/ModelRegistry.tsx
Labels: cla-signed

#9157 chore: make the data_dir consistent to other advertised devc configs
  tools/k8s/multicluster.yaml
Labels: cla-signed

#9175 docs: Add readme to toc
  docs/deploy/_index.rst
Labels: documentation, cla-signed

#9176 chore: add typing annotations for zmq
  harness/determined/ipc.py
Labels: cla-signed

#9117 test: Djanicek/infeng 456/workspaces and projects
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/playwright.config.ts
  webui/react/src/components/WorkspaceCreateModal.tsx
  webui/react/src/e2e/models/ant/Switch.ts
  webui/react/src/e2e/models/components/ModelRegistry.ts
  webui/react/src/e2e/models/components/NavigationSideBar.ts
  webui/react/src/e2e/models/components/WorkspaceActionDropdown.ts
  webui/react/src/e2e/models/components/WorkspaceCreateModal.ts
  webui/react/src/e2e/models/components/WorkspaceDeleteModal.ts
  webui/react/src/e2e/models/components/WorkspaceDetails.ts
  webui/react/src/e2e/models/components/WorkspacesList.ts
  webui/react/src/e2e/models/hew/Card.ts
  webui/react/src/e2e/models/hew/Dropdown.ts
  webui/react/src/e2e/models/pages/Workspaces.ts
  webui/react/src/e2e/tests/navigation.spec.ts
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
  webui/react/src/pages/WorkspaceList.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceCard.tsx
Labels: cla-signed

#9140 feat: RM-130 add determined info as pod labels
  master/internal/api_command.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_ntsc_intg_test.go
  master/internal/api_trials_intg_test.go
  master/internal/api_workspace_intg_test.go
  master/internal/core_experiment.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
  master/pkg/tasks/task.go
  master/pkg/tasks/task_trial.go
Labels: cla-signed

#9173 feat: overwrite determined description if EE
  .circleci/real_config.yml
  webui/react/index.html
  webui/react/vite-plugin-branding.ts
  webui/react/vite.config.mts
Labels: cla-signed

#9179 fix: fix docs and wording
  docs/reference/experiment-config-reference.rst
  harness/determined/cli/experiment.py
  harness/determined/cli/trial.py
  proto/pkg/apiv1/experiment.pb.go
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/api/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: documentation, cla-signed, to-cherry-pick

#9160 fix: single-searcher MNIST example runs for multiple epochs
  examples/tutorials/mnist_pytorch/const.yaml
Labels: cla-signed

#9148 fix: count determined-system pods as det pods [RM-148]
  master/internal/rm/kubernetesrm/pods.go
Labels: cla-signed

#9132 chore: bumpenv update NGC base images version to 24.03
  .circleci/real_config.yml
  docs/model-dev-guide/api-guides/apis-howto/_index.rst
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/update-bumpenvs-yaml.py
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: documentation, cla-signed

#9178 fix: report errors from deletecheckpoints endpoint + improve feedback
  master/internal/api_checkpoint.go
  master/internal/checkpoints/postgres_checkpoints.go
  master/internal/checkpoints/postgres_checkpoints_intg_test.go
  webui/react/src/components/CheckpointModal.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
Labels: cla-signed, to-cherry-pick

#9181 chore: pass correct master scheme to genai
  helm/charts/determined/templates/_helpers.tpl
  helm/charts/determined/templates/genai/genai-deployment.yaml
Labels: cla-signed

#9184 fix: louden server errors coming from deleteCheckpoints
  webui/react/src/components/CheckpointModal.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
Labels: cla-signed, to-cherry-pick

#9108 chore: auto pick the only matching name on partial hits
  harness/determined/cli/dev.py
Labels: cla-signed

#9159 docs: add release notes for 0.31.0
  docs/release-notes.rst
  docs/release-notes/experiment-deadlock.rst
  docs/release-notes/health-check.rst
  docs/release-notes/helm-requires-user-password.rst
  docs/release-notes/logging-retention.rst
  docs/release-notes/multirm-for-k8s.rst
  docs/release-notes/set-log-retention.rst
  docs/release-notes/tag-to-dynamic-agents.rst
  docs/release-notes/tcd-startup-hook.rst
Labels: documentation

#9158 chore: style fix for helm initialUserPassword
  helm/charts/determined/values.yaml
Labels: cla-signed

#9187 docs: FAQ for python SDK ckpt download, k8s deprecation labels.
  docs/reference/python-sdk/example-workflows.rst
  docs/setup-cluster/k8s/setup-aks-cluster.rst
  docs/setup-cluster/k8s/setup-eks-cluster.rst
Labels: documentation, cla-signed

#9183 fix: better exception handling in detached mode
  e2e_tests/tests/experiment/test_unmanaged.py
  e2e_tests/tests/fixtures/unmanaged/error_termination.py
  harness/determined/core/_heartbeat.py
  harness/determined/core/_log_shipper.py
Labels: cla-signed

#9177 docs: add profiling section for trainer API UG [MD-373]
  docs/model-dev-guide/api-guides/apis-howto/api-pytorch-ug.rst
Labels: documentation, cla-signed

#9170 feat: Use feature flag for streaming updates
  webui/react/src/App.tsx
  webui/react/src/components/ProjectActionDropdown.tsx
  webui/react/src/components/ProjectCard.tsx
  webui/react/src/components/ProjectEditModal.tsx
  webui/react/src/hooks/useFeature.ts
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
  webui/react/src/stores/projects.tsx
  webui/react/src/stores/stream.ts
Labels: cla-signed

#9186 ci: do dry runs of `publish-docs` for RCs
  .circleci/real_config.yml
Labels: cla-signed

#9107 feat: non-blocking metrics reports [MD-144]
  harness/determined/core/__init__.py
  harness/determined/core/_context.py
  harness/determined/core/_metrics.py
  harness/determined/core/_profiler.py
  harness/determined/core/_train.py
  harness/determined/experimental/core_v2/_core_context_v2.py
  harness/tests/core/test_metrics.py
Labels: cla-signed

#9193 test: fix a test util issue with master config schema assumptions
  e2e_tests/tests/api_utils.py
Labels: cla-signed, ci-run-allgcp

#9197 test: can't launch NSC test assert 404 instead of 403
  e2e_tests/tests/cluster/test_rbac_ntsc.py
Labels: cla-signed

#9196 ci: fix test-det-deploy-local
  .circleci/real_config.yml
Labels: cla-signed

#9192 chore: make multi-RM an EE-only feature [RM-166]
  master/internal/core.go
Labels: cla-signed

#9203 test: skip flakey user provision tests
  master/internal/plugin/oidc/service_intg_test.go
  master/internal/plugin/saml/service_intg_test.go
Labels: cla-signed

#9204 docs: fix nvidia device plugin link for EKS
  docs/setup-cluster/k8s/setup-eks-cluster.rst
Labels: documentation, cla-signed

#9188 ci: deploy awscli to system
  .circleci/real_config.yml
Labels: cla-signed

#9025 docs: Describe multi rm k8s
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes/multirm-for-k8s.rst
  docs/setup-cluster/k8s/_index.rst
  docs/setup-cluster/k8s/setup-multiple-resource-managers.rst
  helm/charts/determined/values.yaml
Labels: documentation, cla-signed

#9207 ci: pass ee into args to prevent latest main deploying as ee
  .circleci/real_config.yml
Labels: cla-signed

#9208 docs: fix another instance of broken docs link
  docs/setup-cluster/k8s/setup-eks-cluster.rst
Labels: documentation, cla-signed

#9195 fix: shared cluster test to work in OSS again
  .circleci/real_config.yml
  master/.goreleaser_sharedcluster.yml
  master/Makefile
Labels: cla-signed

#9185 test: use devcluster for react tests [INFENG-449]
  .circleci/devcluster/react.devcluster.yaml
  .circleci/real_config.yml
  webui/react/src/e2e/models/pages/Admin/UserManagement.ts
  webui/react/src/e2e/models/pages/ProjectDetails.ts
  webui/react/src/e2e/models/pages/SignIn.ts
  webui/react/src/e2e/models/pages/Workspaces.ts
  webui/react/src/e2e/tests/auth.spec.ts
  webui/react/src/e2e/tests/navigation.spec.ts
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
Labels: cla-signed

#9205 docs: add documentation on how to deploy kube prom stack for k8s [RM-132]
  docs/integrations/observability/_index.rst
  helm/charts/determined/templates/master-service.yaml
  tools/observability/README.md
  tools/observability/api-dash.json
  tools/observability/gkeDCGMExporterService.yaml
  tools/observability/grafana-prom-values.yaml
  tools/observability/tokenRefresher.yaml
Labels: documentation, cla-signed

#9061 feat: add kill run endpoint
  e2e_tests/tests/run/__init__.py
  e2e_tests/tests/run/test_api.py
  harness/determined/common/api/bindings.py
  master/internal/api_runs.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/run.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/run.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#9191 chore: clean up rm module [RM-202]
  master/internal/rm/kubernetesrm/message.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/rmtest/mocks.go
  master/internal/rm/rmtest/scheduler.go
Labels: cla-signed

#9210 fix: hew update for chart scroll bug
  .circleci/real_config.yml
  webui/react/package-lock.json
  webui/react/package.json
Labels: cla-signed

#9211 ci: Exclude deploy/README.md from build
  docs/Makefile
  docs/conf.py
  docs/deploy/_index.rst
  docs/deploy/scrape.py
Labels: documentation, cla-signed

#9190 chore: Add streaming updates feature flag [MD-371]
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/streaming/test_client.py
  master/internal/core.go
  master/internal/stream/util.go
Labels: cla-signed

#7935 chore: upgrade protoc used in CI
  .circleci/real_config.yml
  CONTRIBUTING.md
  proto/Makefile
  proto/pkg/apiv1/api.pb.go
Labels: cla-signed

#9222 chore: default observability.enable_prometheus to true
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes/enable-prometheus-default-true.rst
  master/internal/config/config.go
  master/test/testutils/fixtures.go
Labels: documentation, cla-signed

#9219 docs: Fix broken links
  docs/get-started/architecture/introduction.rst
  docs/release-notes.rst
  docs/setup-cluster/k8s/setup-aks-cluster.rst
  docs/setup-cluster/on-prem/options/wsl.rst
Labels: documentation, cla-signed

#9225 chore: update the license date
  LICENSE
Labels: cla-signed

#9220 fix: debounce `userSettings` update
  webui/react/src/stores/userSettings.tsx
Labels: cla-signed

#9218 test: ee and oss have separate handling
  .circleci/real_config.yml
  webui/react/playwright.config.ts
  webui/react/src/e2e/models/BasePage.ts
  webui/react/src/e2e/models/pages/Admin/UserManagement.ts
  webui/react/src/e2e/models/pages/ProjectDetails.ts
  webui/react/src/e2e/models/pages/SignIn.ts
  webui/react/src/e2e/models/pages/Workspaces.ts
  webui/react/src/e2e/tests/auth.spec.ts
  webui/react/src/e2e/tests/navigation.spec.ts
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
Labels: cla-signed

#9216 chore: add log retention to help charts
  docs/reference/deploy/helm-config-reference.rst
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
Labels: documentation, cla-signed

#9233 fix: properly merge resource configs
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/pkg/model/task_container_defaults.go
Labels: cla-signed, to-cherry-pick

#9235 feat: don't attempt to deal with EE when cherry-picking PRs for release
  tools/scripts/track-pr
Labels: cla-signed

#9217 ci: devcluster should fail job if step fails [INFENG-640]
  .circleci/real_config.yml
Labels: cla-signed

#9237 test: react e2e use type inference for newed components
  webui/react/src/e2e/models/BasePage.ts
  webui/react/src/e2e/models/README.md
  webui/react/src/e2e/models/components/NavigationSideBar.ts
  webui/react/src/e2e/models/components/WorkspaceCreateModal.ts
  webui/react/src/e2e/models/hew/Card.ts
  webui/react/src/e2e/models/hew/Toast.ts
  webui/react/src/e2e/models/pages/Admin/UserManagement.ts
  webui/react/src/e2e/models/pages/ProjectDetails.ts
  webui/react/src/e2e/models/pages/SignIn.ts
  webui/react/src/e2e/models/pages/Workspaces.ts
Labels: cla-signed

#9239 ci: ee and oss job names [INFENG-651]
  .circleci/real_config.yml
Labels: cla-signed

#9224 chore: address protoc warning about unused import
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/trial/v1/trial.proto
Labels: cla-signed

#9213 fix: allow JupyterLab to listen on all interfaces [MD-375]
  master/static/srv/notebook-entrypoint.sh
Labels: cla-signed

#9243 fix: allow genai deployments with agent GIDs set to share data properly
  helm/charts/determined/templates/genai/genai-deployment.yaml
  helm/charts/determined/templates/genai/genai-initialize-shared-fs-permissions.yaml
Labels: cla-signed, to-cherry-pick

#9232 fix: support for metric names over 63 characters long [MD-285]
  docs/release-notes/long-metrics.rst
  master/internal/api_trials_intg_test.go
  master/internal/trials/postgres_trials.go
Labels: documentation, cla-signed

#9123 feat: Delete run enpoint
  harness/determined/common/api/bindings.py
  master/internal/api_runs.go
  master/internal/api_runs_intg_test.go
  master/static/migrations/20240425134032_add-delete-run-trigger.tx.down.sql
  master/static/migrations/20240425134032_add-delete-run-trigger.tx.up.sql
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/run.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/run.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#9247 Revert "docs: Update observability release note"
  docs/get-started/_index.rst
  docs/release-notes.rst
  docs/release-notes/allow-and-require-user-passwords.rst
  docs/release-notes/det-deploy-ee.rst
  docs/release-notes/enable-prometheus-default-true.rst
  docs/release-notes/long-metrics.rst
Labels: documentation, cla-signed

#9248 docs: Add qs to getstarted
  docs/get-started/_index.rst
Labels: documentation, cla-signed

#9245 fix: undo default log retention in values.yaml
  helm/charts/determined/values.yaml
Labels: cla-signed, to-cherry-pick

#9252 test: resize test executors that aren't fully used [infeng-598]
  .circleci/real_config.yml
Labels: cla-signed

#9242 feat: Filter templates by workspace
  harness/determined/common/api/bindings.py
  master/internal/templates/api.go
  master/internal/templates/api_intg_test.go
  proto/pkg/apiv1/template.pb.go
  proto/src/determined/api/v1/template.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#9249 fix: hew update for select bug in log viewer
  webui/react/package-lock.json
  webui/react/package.json
Labels: to-cherry-pick

#9229 feat: Add templates feature flag and entry points
  webui/react/src/components/JupyterLabModal.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/hooks/useFeature.ts
  webui/react/src/pages/Templates/TemplatesPage.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/routes/index.tsx
  webui/react/src/routes/routes.ts
  webui/react/src/routes/utils.ts
Labels: cla-signed, feature-flagged

#9231 docs: document metrics used for observability [RM-112]
  docs/integrations/observability/_index.rst
  tools/observability/README.md
Labels: documentation, cla-signed

#9251 fix: notification nil pointer dereference
  master/internal/stream/publisher.go
Labels: cla-signed

#9214 test: user tests continued [INFENG-455]
  webui/react/playwright.config.ts
  webui/react/src/e2e/fixtures/auth.fixture.ts
  webui/react/src/e2e/fixtures/user.fixture.ts
  webui/react/src/e2e/models/BasePage.ts
  webui/react/src/e2e/models/ant/Switch.ts
  webui/react/src/e2e/models/components/AddUsersToGroupsModal.ts
  webui/react/src/e2e/models/components/ChangeUserStatusModal.ts
  webui/react/src/e2e/models/components/CreateUserModal.ts
  webui/react/src/e2e/models/components/DeterminedAuth.ts
  webui/react/src/e2e/models/components/F_ExperiementList.ts
  webui/react/src/e2e/models/components/Navigation.ts
  webui/react/src/e2e/models/components/NavigationSideBar.ts
  webui/react/src/e2e/models/components/SetUserRolesModal.ts
  webui/react/src/e2e/models/components/SkeletonSection.ts
  webui/react/src/e2e/models/components/Table/InteractiveTable.ts
  webui/react/src/e2e/models/components/Table/SkeletonTable.ts
  webui/react/src/e2e/models/components/UserBadge.ts
  webui/react/src/e2e/models/components/WorkspaceActionDropdown.ts
  webui/react/src/e2e/models/components/WorkspaceDeleteModal.ts
  webui/react/src/e2e/models/components/WorkspacesList.ts
  webui/react/src/e2e/models/hew/Card.ts
  webui/react/src/e2e/models/hew/DataGrid.ts
  webui/react/src/e2e/models/hew/Dropdown.ts
  webui/react/src/e2e/models/hew/Modal.ts
  webui/react/src/e2e/models/hew/Nameplate.ts
  webui/react/src/e2e/models/hew/Pagination.ts
  webui/react/src/e2e/models/hew/Pivot.ts
  webui/react/src/e2e/models/hew/Select.ts
  webui/react/src/e2e/models/hew/SplitPane.ts
  webui/react/src/e2e/models/pages/Admin/UserManagement.ts
  webui/react/src/e2e/models/pages/Admin/index.ts
  webui/react/src/e2e/tests/auth.spec.ts
  webui/react/src/e2e/tests/navigation.spec.ts
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
  webui/react/src/e2e/utils/naming.ts
Labels: cla-signed

#9258 test: increase the timeout on a new users test [INFENG-455]
  webui/react/src/e2e/tests/userManagement.spec.ts
Labels: cla-signed

#9257 fix: historical-usage date calculation bug
  webui/react/src/pages/Cluster/ClusterHistoricalUsageFilters.tsx
Labels: cla-signed, to-cherry-pick

#9227 docs: add resource utilization dashboard [RM-130]
  docs/integrations/observability/_index.rst
  tools/observability/grafana-prom-values.yaml
  tools/observability/resource-utilization-dash.json
Labels: documentation, cla-signed

#9143 feat: Archive & Unarchive run
  harness/determined/common/api/bindings.py
  master/internal/api_runs.go
  master/internal/api_runs_intg_test.go
  master/static/migrations/20240429085834_add-run-archived.tx.down.sql
  master/static/migrations/20240429085834_add-run-archived.tx.up.sql
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/run.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/run.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#9260 chore: enable genai to connect to db over TLS
  helm/charts/determined/templates/_helpers.tpl
  helm/charts/determined/templates/genai/genai-deployment.yaml
  helm/charts/determined/templates/master-deployment.yaml
Labels: cla-signed

#9259 fix: users can be removed from all groups in Web UI
  webui/react/src/components/ManageGroupsModal.tsx
Labels: cla-signed, to-cherry-pick

#9264 test: some react tests are flaky [INFENG-663]
  webui/react/playwright.config.ts
  webui/react/src/e2e/fixtures/auth.fixture.ts
  webui/react/src/e2e/fixtures/user.fixture.ts
  webui/react/src/e2e/models/pages/Admin/UserManagement.ts
  webui/react/src/e2e/tests/auth.spec.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
Labels: cla-signed

#9253 chore: Image rename bumpenvs
  .circleci/real_config.yml
  docs/model-dev-guide/api-guides/apis-howto/_index.rst
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  examples/deepspeed_autotune/torchvision/core_api/deepspeed.yaml
  examples/deepspeed_autotune/torchvision/deepspeed_trial/deepspeed.yaml
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/experiment/integrations/test_deepspeed_trial.py
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/environments-target.txt
  tools/scripts/update-bumpenvs-yaml.py
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: documentation, cla-signed

#9265 feat: timeout change and package dedupe [ET-243]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/e2e/tests/auth.spec.ts
Labels: cla-signed

#9267 ci: try to fix podman tests by building proto once
  .circleci/real_config.yml
Labels: cla-signed, ci-run-allgcp

#9269 test: increase runner size for react e2e
  .circleci/real_config.yml
  webui/react/src/e2e/fixtures/user.fixture.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
Labels: cla-signed

#9271 chore: stop publishing helm charts to NGC.
  .circleci/real_config.yml
  helm/Makefile
Labels: cla-signed

#9268 fix: show non det pods in other namespaces than 'default' [RM-141]
  docs/release-notes/non-det-tasks-k8s-fix.rst
  e2e_tests/tests/cluster/test_master_restart.py
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/pods_test.go
Labels: documentation, cla-signed

#9116 feat: reuse HTTP sessions
  harness/determined/cli/__init__.py
  harness/determined/cli/_util.py
  harness/determined/cli/experiment.py
  harness/determined/common/__init__.py
  harness/determined/common/api/_session.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/requests.py
  harness/determined/core/_context.py
  harness/determined/experimental/core_v2/_core_context_v2.py
  harness/tests/common/api/test_session.py
  harness/tests/common/test_tls.py
Labels: cla-signed
