Repository determined-ai/determined, pull requests merged in 2024-05, with the labels that each got.

#9273 ci: try to fix slurm podman tests by not building agent binary
  .circleci/real_config.yml
Labels: cla-signed, ci-run-allgcp

#9256 docs: fix master config doc typo
  docs/reference/deploy/master-config-reference.rst
Labels: documentation, cla-signed

#9270 fix: Hide runs in archived experiments
  master/internal/api_runs.go
  master/internal/api_runs_intg_test.go
Labels: cla-signed

#9263 feat: Create template through WebUI
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/Templates/TemplateCreateModal.tsx
  webui/react/src/pages/Templates/TemplatesPage.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
Labels: cla-signed, feature-flagged

#9198 ci: gate hpc by request
  .circleci/real_config.yml
Labels: cla-signed

#9278 ci: revert ee rebase changes to dependabot.yaml
  .github/dependabot.yml
Labels: cla-signed

#9281 test: flaky user test fix [INFENG-663]
  webui/react/src/e2e/tests/userManagement.spec.ts
Labels: cla-signed

#9283 test: e2e no floating promises [INFENG-668]
  webui/react/.eslintrc.js
  webui/react/src/e2e/fixtures/auth.fixture.ts
  webui/react/src/e2e/models/hew/DataGrid.ts
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
Labels: cla-signed

#9276 fix: slots being filled returned out of order on k8s [RM-42]
  docs/release-notes/k8s-slots-jumping.rst
  master/internal/authz/obfuscate.go
  master/internal/authz/obfuscate_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/pkg/model/agent.go
  master/pkg/model/agent_test.go
Labels: documentation, cla-signed

#9290 fix: proto build shouldn't run if source files are unchanged
  proto/Makefile
Labels: cla-signed

#9291 chore: log health check failures in master logs
  master/internal/core.go
  master/internal/rm/dispatcherrm/dispatcher_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/pods.go
Labels: cla-signed

#9280 chore: dependabot upgrade grpc/go-jose/net [RM-66]
  go.mod
  go.sum
  harness/determined/common/api/_session.py
  master/internal/audit.go
Labels: cla-signed

#9287 test: skip a `useTypedParams` test case due to flakiness
  webui/react/src/hooks/useTypedParams.test.tsx
Labels: cla-signed

#9298 docs: Update Chart.yaml [ci skip]
  helm/charts/determined/Chart.yaml
Labels: cla-signed

#9300 ci: circleci slack alerts should go to #ci-bots
  .circleci/real_config.yml
Labels: cla-signed

#9272 feat: Update workspace for templates server side
  harness/determined/common/api/bindings.py
  master/internal/templates/api.go
  master/internal/templates/api_intg_test.go
  proto/pkg/apiv1/api.pb.go
  proto/src/determined/api/v1/api.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#9303 test: revert runner size test-e2e-cpu
  .circleci/real_config.yml
Labels: cla-signed

#9297 chore: update efs-utils install for v2.0
  harness/determined/deploy/aws/templates/lore.yaml
Labels: cla-signed

#9282 fix: tensorboard metric overwrites and sync throttle [MD-328] [MD-291]
  harness/determined/tensorboard/base.py
  harness/determined/tensorboard/metric_writers/callback.py
  harness/tests/tensorboard/test_base.py
  harness/tests/tensorboard/test_metric_writers.py
Labels: cla-signed

#9286 chore: improve messaging for e2e tests
  e2e_tests/tests/cluster/managed_cluster.py
  e2e_tests/tests/cluster/test_rbac.py
  e2e_tests/tests/experiment/experiment.py
Labels: cla-signed

#9311 ci: store npm log
  .circleci/real_config.yml
Labels: cla-signed

#9295 docs: Dashboard Improvements after dogfooding
  tools/observability/api-dash.json
  tools/observability/resource-utilization-dash.json
Labels: cla-signed

#9306 chore: drop unused postgres function experiments_best_validation_history
  master/static/migrations/20240503155534_drop-experiments_best_validation_history.tx.up.sql
Labels: cla-signed

#9310 ci: run e2e-react manually [INFENG-676]
  .circleci/config.yml
  .circleci/real_config.yml
Labels: cla-signed

#9309 chore: bumpenvs for efs-utils
  .circleci/real_config.yml
  docs/model-dev-guide/api-guides/apis-howto/_index.rst
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  examples/deepspeed_autotune/torchvision/core_api/deepspeed.yaml
  examples/deepspeed_autotune/torchvision/deepspeed_trial/deepspeed.yaml
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/environments-target.txt
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: documentation, cla-signed

#9313 ci: don't run test-e2e-longrunning tests on main
  .circleci/real_config.yml
Labels: cla-signed

#9250 feat: support filter in flat run table
  webui/react/src/components/FilterForm/TableFilter.tsx
  webui/react/src/components/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.settings.ts
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Labels: cla-signed

#9319 Revert "docs: Reformat tables with image names"
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/singularity.rst
Labels: documentation, cla-signed

#9317 feat: support for configuring the shared_fs mount path in genai
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/constants.py
  harness/determined/deploy/aws/deployment_types/base.py
  harness/determined/deploy/aws/templates/lore.yaml
  helm/charts/determined/templates/_helpers.tpl
  helm/charts/determined/templates/genai/genai-deployment.yaml
Labels: cla-signed

#9316 fix: filter batch action experiments
  webui/react/src/components/TableActionBar.tsx
Labels: cla-signed, to-cherry-pick

#9324 test: skip a flaky test [ET-233, ET-178]
  webui/react/src/e2e/tests/userManagement.spec.ts
Labels: cla-signed

#9326 test: refactor nav spec to use sidebar pagemodels [INFENG-683]
  webui/react/src/e2e/tests/navigation.spec.ts
Labels: cla-signed

#8933 feat: add integration config for pachyderm input datasets (ET-12)
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_runs.go
  master/internal/config/config.go
  master/pkg/schemas/expconf/experiment_config.go
  master/pkg/schemas/expconf/integrations.go
  master/pkg/schemas/expconf/latest.go
  master/pkg/schemas/expconf/zgen_experiment_config_v0.go
  master/pkg/schemas/zgen_schemas.go
  proto/pkg/experimentv1/experiment.pb.go
  proto/pkg/runv1/run.pb.go
  proto/src/determined/experiment/v1/experiment.proto
  proto/src/determined/run/v1/run.proto
  schemas/expconf/v0/experiment.json
  schemas/expconf/v0/integrations.json
  schemas/expconf/v0/pachyderm-dataset.json
  schemas/expconf/v0/pachyderm-pachd.json
  schemas/expconf/v0/pachyderm-proxy.json
  schemas/expconf/v0/pachyderm.json
  schemas/test_cases/v0/experiment.yaml
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#9301 docs: add release notes for 0.32.0
  docs/release-notes.rst
  docs/release-notes/allow-and-require-user-passwords.rst
  docs/release-notes/aurora.rst
  docs/release-notes/det-deploy-ee.rst
  docs/release-notes/enable-prometheus-default-true.rst
  docs/release-notes/multirm-for-k8s.rst
Labels: documentation, cla-signed

#9293 docs: update "install on k8s" guide to use helm repo instead of tarball.
  docs/setup-cluster/k8s/install-on-kubernetes.rst
Labels: documentation, cla-signed

#9315 ci: send job level failure slack alerts
  .circleci/real_config.yml
  .circleci/scripts/job_level_alerts.py
Labels: cla-signed

#9337 chore: update codecov to ignore e2e react [INFENG-689]
  codecov.yml
Labels: cla-signed

#9304 feat: View templates from WebUI
  harness/determined/common/api/bindings.py
  master/internal/templates/api.go
  master/internal/templates/api_intg_test.go
  proto/pkg/apiv1/template.pb.go
  proto/src/determined/api/v1/template.proto
  webui/react/src/components/Table/Table.tsx
  webui/react/src/pages/Templates/TemplateCreateModal.tsx
  webui/react/src/pages/Templates/TemplateViewModal.tsx
  webui/react/src/pages/Templates/TemplatesList.settings.ts
  webui/react/src/pages/Templates/TemplatesList.tsx
  webui/react/src/pages/Templates/TemplatesPage.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Labels: cla-signed, feature-flagged

#9307 test: log in with the api rather than through the UI for most react tests
  webui/react/.gitignore
  webui/react/src/e2e/fixtures/api.auth.fixture.ts
  webui/react/src/e2e/fixtures/dev.fixture.ts
  webui/react/src/e2e/fixtures/global-fixtures.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
  webui/react/src/e2e/tests/navigation.spec.ts
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
Labels: cla-signed

#9338 ci: add missing var overide in ee release [skip ci]
  .circleci/real_config.yml
Labels: cla-signed

#9340 test: wait for background logout
  webui/react/src/e2e/fixtures/dev.fixture.ts
Labels: cla-signed

#9339 chore: remove step for authenticated master session check to use standard script
  .circleci/real_config.yml
Labels: cla-signed

#9336 chore: add missing setuptools to win cli tests
  .circleci/real_config.yml
Labels: cla-signed

#9299 test: experiement list tests [INFENG-457]
  .circleci/real_config.yml
  webui/react/playwright.config.ts
  webui/react/src/e2e/README.md
  webui/react/src/e2e/models/components/F_ExperiementList.ts
  webui/react/src/e2e/models/hew/DataGrid.ts
  webui/react/src/e2e/models/hew/Message.ts
  webui/react/src/e2e/models/hew/Nameplate.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
  webui/react/src/e2e/utils/detCLI.ts
Labels: cla-signed

#9333 chore: Bunify and add test coverage for `ExperimentTotalStepTime` and `ExperimentNumSteps`
  master/internal/db/database.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/telemetry/reports.go
Labels: cla-signed

#9274 feat: helm requires bootstrap password (DET-10196)
  docs/reference/deploy/helm-config-reference.rst
  docs/release-notes/helm-requires-initial-password.rst
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
Labels: documentation, cla-signed

#9345 fix: Revert "feat: helm requires bootstrap password (DET-10196)"
  docs/reference/deploy/helm-config-reference.rst
  docs/release-notes/helm-requires-initial-password.rst
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
Labels: documentation, cla-signed

#9346 chore: update codecov to ignore e2e react [INFENG-689]
  codecov.yml
  webui/react/package.json
  webui/react/vite.config.mts
Labels: cla-signed

#9334 chore: update release notes date
  docs/release-notes.rst
Labels: documentation, cla-signed

#9335 chore: add retries to check-doc-links ci job
  .circleci/real_config.yml
Labels: cla-signed

#9321 docs: Reformat grid tables
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/singularity.rst
Labels: documentation, cla-signed

#9349 fix: remove pod labels with potentially incompatible names
  docs/release-notes/pod-label-bugfix.rst
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
Labels: documentation, cla-signed

#9342 refactor: columnpicker remove hard coded value
  webui/react/src/components/ColumnPickerMenu.tsx
Labels: cla-signed

#9351 docs: add release notes for 0.32.1
  docs/release-notes.rst
  docs/release-notes/pod-label-bugfix.rst
Labels: documentation, cla-signed

#9332 fix: det ckpt download from s3.
  harness/determined/common/storage/boto3_credential_manager.py
Labels: cla-signed

#9199 chore: add intg tests to resource_pool.go
  .circleci/real_config.yml
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
Labels: documentation

#9330 docs: wrap up observability documentation
  docs/assets/images/resource-util-dash-1.png
  docs/assets/images/resource-util-dash-2.png
  docs/assets/images/resource-util-dash-3.png
  docs/assets/images/resource-util-dash-4.png
  docs/integrations/observability/_index.rst
  docs/integrations/prometheus/_index.rst
  docs/release-notes/observability.st
Labels: documentation, cla-signed

#9357 revert: resource pool intg tests
  .circleci/real_config.yml
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
Labels: cla-signed

#9341 feat: add options in flat run
  webui/react/src/components/OptionsMenu.module.scss
  webui/react/src/components/OptionsMenu.settings.ts
  webui/react/src/components/OptionsMenu.tsx
  webui/react/src/components/Searches/Searches.tsx
  webui/react/src/components/TableActionBar.tsx
  webui/react/src/components/UserSettings.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Labels: cla-signed

#9358 docs: revert a doc format change to reenable slurm tests
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/singularity.rst
Labels: documentation, cla-signed

#9359 feat: helm requires bootstrap password [DET-10196]
  docs/release-notes/helm-requires-initial-password.rst
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
Labels: documentation, cla-signed, User-facing API Change

#9361 test: fix circleci gke tests with helm password [DET-10196]
  .circleci/real_config.yml
Labels: cla-signed

#9331 chore: update npm libraries
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ColumnsCustomizeModal.test.tsx
  webui/react/src/components/JupyterLabModal.tsx
  webui/react/src/components/Section.tsx
  webui/react/src/components/Table/TableBatch.tsx
  webui/react/src/stores/cluster.tsx
Labels: cla-signed

#9182 docs: Add FSDP to deepspeed
  docs/model-dev-guide/api-guides/apis-howto/deepspeed/deepspeed.rst
Labels: documentation, cla-signed

#9344 docs: deprecation notice for agentrm features
  docs/release-notes/feature-clean-up.rst
Labels: documentation, cla-signed

#9362 test: page model refactor for dropdown and select components [INFENG-694]
  webui/react/src/e2e/fixtures/auth.fixture.ts
  webui/react/src/e2e/fixtures/user.fixture.ts
  webui/react/src/e2e/models/BaseComponent.ts
  webui/react/src/e2e/models/ant/Dropdown.ts
  webui/react/src/e2e/models/ant/Modal.ts
  webui/react/src/e2e/models/ant/Notification.ts
  webui/react/src/e2e/models/ant/Pagination.ts
  webui/react/src/e2e/models/ant/Popover.ts
  webui/react/src/e2e/models/ant/Select.ts
  webui/react/src/e2e/models/ant/Tabs.ts
  webui/react/src/e2e/models/components/ChangeUserStatusModal.ts
  webui/react/src/e2e/models/components/ExperimentActionDropdown.ts
  webui/react/src/e2e/models/components/F_ExperiementList.ts
  webui/react/src/e2e/models/components/NavigationSideBar.ts
  webui/react/src/e2e/models/components/Table/InteractiveTable.ts
  webui/react/src/e2e/models/components/WorkspaceActionDropdown.ts
  webui/react/src/e2e/models/components/WorkspacesList.ts
  webui/react/src/e2e/models/hew/Card.ts
  webui/react/src/e2e/models/hew/DataGrid.ts
  webui/react/src/e2e/models/hew/Dropdown.ts
  webui/react/src/e2e/models/hew/Modal.ts
  webui/react/src/e2e/models/hew/Pagination.ts
  webui/react/src/e2e/models/hew/Pivot.ts
  webui/react/src/e2e/models/hew/Select.ts
  webui/react/src/e2e/models/hew/SplitPane.ts
  webui/react/src/e2e/models/hew/Toast.ts
  webui/react/src/e2e/models/pages/Admin/UserManagement.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
  webui/react/src/e2e/tests/navigation.spec.ts
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
Labels: cla-signed

#9363 chore: rm test suite whose marks match no tests
  .circleci/real_config.yml
Labels: cla-signed

#9318 feat: Framework splitting
  .circleci/real_config.yml
  docs/manage/troubleshooting.rst
  docs/model-dev-guide/api-guides/apis-howto/_index.rst
  docs/model-dev-guide/create-experiment.rst
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/model-dev-guide/prepare-container/set-environment-images.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/release-notes/framework-splitting.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  docs/tutorials/quickstart-mdldev.rst
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/config.py
  e2e_tests/tests/nightly/test_distributed.py
  examples/computer_vision/iris_tf_keras/adaptive.yaml
  examples/computer_vision/iris_tf_keras/const.yaml
  examples/computer_vision/iris_tf_keras/distributed.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_cancelable.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_high_priority.yaml
  examples/diffusion/textual_inversion_stable_diffusion/detsd/trainer.py
  harness/Makefile
  harness/determined/core/_profiler.py
  harness/determined/exec/launch.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/experiment/keras/test_tf_keras_trial.py
  harness/tests/experiment/pytorch/test_local.py
  harness/tests/experiment/test_local.py
  harness/tests/fixtures/checkpoint.json
  harness/tests/launch/test_launch.py
  helm/charts/determined/values.yaml
  master/pkg/schemas/expconf/const.go
  schemas/test_cases/v0/experiment.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: documentation, cla-signed

#9367 test: More Page Models for Experiment Tracking [INFENG-686]
  webui/react/src/components/ColumnPickerMenu.tsx
  webui/react/src/components/FilterForm/components/ConjunctionContainer.tsx
  webui/react/src/components/FilterForm/components/FilterField.tsx
  webui/react/src/components/FilterForm/components/FilterForm.tsx
  webui/react/src/components/FilterForm/components/FilterGroup.tsx
  webui/react/src/components/OptionsMenu.tsx
  webui/react/src/e2e/models/README.md
  webui/react/src/e2e/models/ant/DatePicker.ts
  webui/react/src/e2e/models/ant/Tabs.ts
  webui/react/src/e2e/models/components/ColumnPickerMenu.ts
  webui/react/src/e2e/models/components/FilterForm/TableFilter.ts
  webui/react/src/e2e/models/components/FilterForm/components/ConjunctionContainer.ts
  webui/react/src/e2e/models/components/FilterForm/components/FilterField.ts
  webui/react/src/e2e/models/components/FilterForm/components/FilterForm.ts
  webui/react/src/e2e/models/components/FilterForm/components/FilterGroup.ts
  webui/react/src/e2e/models/components/MultiSortMenu.ts
  webui/react/src/e2e/models/components/OptionsMenu.ts
  webui/react/src/e2e/models/components/TableActionBar.ts
  webui/react/src/e2e/models/components/WorkspaceDetails.ts
  webui/react/src/e2e/models/components/WorkspacesList.ts
  webui/react/src/e2e/models/hew/DataGrid.ts
  webui/react/src/e2e/models/hew/DatePicker.ts
  webui/react/src/e2e/models/hew/Message.ts
  webui/react/src/e2e/models/hew/Nameplate.ts
  webui/react/src/e2e/models/pages/Admin/index.ts
  webui/react/src/e2e/models/pages/ProjectDetails.ts
  webui/react/src/e2e/models/utils/error.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
Labels: cla-signed

#9371 ci: keep waiting on failing workloads for sending slack alerts
  .circleci/scripts/job_level_alerts.py
Labels: cla-signed

#9347 chore: initial proxy support for external to k8s masters [RM-266]
  .circleci/devcluster/multi-k8s.devcluster.yaml
  .circleci/real_config.yml
  e2e_tests/tests/cluster/test_proxy.py
  e2e_tests/tests/command/test_notebook.py
  e2e_tests/tests/command/test_shell.py
  go.mod
  go.sum
  master/Makefile
  master/internal/config/resource_config_test.go
  master/internal/config/resource_manager_config.go
  master/internal/rm/kubernetesrm/gateway_service.go
  master/internal/rm/kubernetesrm/gateway_service_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/mock_client_test.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/request_queue.go
  master/internal/rm/kubernetesrm/request_queue_test.go
  master/internal/rm/kubernetesrm/request_workers.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
  tools/k8s/launch-minikube-with-gateway.sh
Labels: cla-signed

#9228 chore: report ntsc names via cli when launched
  e2e_tests/tests/command/command.py
  harness/determined/cli/command.py
  harness/determined/cli/notebook.py
  harness/determined/cli/render.py
  harness/determined/cli/shell.py
  harness/determined/cli/tensorboard.py
Labels: cla-signed

#9366 test: report test results from harness tests
  .circleci/real_config.yml
  harness/Makefile
Labels: cla-signed

#9302 chore: store database code as code [DET-9180]
  master/cmd/determined-master/migrate.go
  master/internal/api_user_intg_test.go
  master/internal/cache/cache_intg_test.go
  master/internal/checkpoint_gc_test.go
  master/internal/checkpoints/postgres_checkpoints_intg_test.go
  master/internal/command/command_intg_test.go
  master/internal/command/postgres_command_intg_test.go
  master/internal/config/config.go
  master/internal/db/database.go
  master/internal/db/migrations.go
  master/internal/db/postgres.go
  master/internal/db/postgres_agent_intg_test.go
  master/internal/db/postgres_cluster_intg_test.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_jobs_intg_test.go
  master/internal/db/postgres_model_intg_test.go
  master/internal/db/postgres_rbac_intg_test.go
  master/internal/db/postgres_resource_managers_dispatcher_intg_test.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
  master/internal/db/postgres_snapshots_test.go
  master/internal/db/postgres_tasks_intg_test.go
  master/internal/db/postgres_test_utils.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/setup.go
  master/internal/experiment/postgres_experiments_intg_test.go
  master/internal/logpattern/logpattern_intg_test.go
  master/internal/plugin/oidc/service_intg_test.go
  master/internal/plugin/saml/service_intg_test.go
  master/internal/project/postgres_project_intg_test.go
  master/internal/proxy/proxy_intg_test.go
  master/internal/rbac/rbac_intg_test.go
  master/internal/rm/agentrm/agent_resource_manager_intg_test.go
  master/internal/rm/agentrm/agent_state_test.go
  master/internal/rm/dispatcherrm/dispatcher_state_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/storage/service_intg_test.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_service_test.go
  master/internal/telemetry/telemetry_test.go
  master/internal/templates/api_intg_test.go
  master/internal/trials/postgres_trials_intg_test.go
  master/internal/user/postgres_users_intg_test.go
  master/internal/user/service_intg_test.go
  master/internal/usergroup/group_intg_test.go
  master/internal/webhooks/postgres_webhook_intg_test.go
  master/internal/webhooks/shipper_test.go
  master/static/migrations/20240515150216_database-code.tx.up.sql
  master/static/srv/proto_get_trial_ids_for_experiment.sql
  master/static/srv/proto_get_trial_workloads.sql
  master/static/srv/proto_get_trials_plus.sql
  master/static/views_and_triggers/README.md
  master/static/views_and_triggers/checkpoints.sql
  master/static/views_and_triggers/metrics.sql
  master/static/views_and_triggers/model.sql
  master/static/views_and_triggers/project.sql
  master/static/views_and_triggers/users.sql
  master/static/views_and_triggers/util.sql
  master/test/integration/api/main_test.go
Labels: cla-signed

#9370 test: Remove flakiness of KillRun test
  e2e_tests/tests/fixtures/no_op/grid-long-run.yaml
  e2e_tests/tests/run/test_api.py
Labels: cla-signed

#9323 feat: add columns menu to Runs view
  webui/react/src/components/ColumnPickerMenu.test.mock.tsx
  webui/react/src/components/ColumnPickerMenu.test.tsx
  webui/react/src/components/ColumnPickerMenu.tsx
  webui/react/src/components/Searches/Searches.tsx
  webui/react/src/components/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Labels: cla-signed

#9364 feat: add pod labels with proper validation
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
Labels: cla-signed

#9375 docs: Update release note
  docs/release-notes/k8s-slots-jumping.rst
Labels: documentation, cla-signed

#9350 refactor: rename multiRM to more intuitive name
  master/internal/rm/multirm/multirm.go
  master/internal/rm/multirm/multirm_intg_test.go
Labels: cla-signed

#9378 docs: Describe pwd requirements WebUI
  docs/manage/security/rbac.rst
Labels: documentation, cla-signed

#9348 feat: SDK methods to fetch pachyderm configs [MD-406]
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/trial.py
Labels: cla-signed

#9387 docs: Add nav to genai docs
  docs/assets/styles/determined.css
  docs/tools/_index.rst
  docs/tools/genai/_index.rst
Labels: documentation, cla-signed

#9386 chore: push oss images per commit
  .circleci/real_config.yml
Labels: cla-signed

#9356 chore: add resource_pools intg test
  .circleci/real_config.yml
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
Labels: cla-signed

#9392 chore: don't use a seperate schema for views_and_triggers
  master/internal/db/migrations.go
  master/internal/db/postgres.go
  master/static/views_and_triggers/README.md
  master/static/views_and_triggers/down.sql
  master/static/views_and_triggers/up/checkpoints.sql
  master/static/views_and_triggers/up/metrics.sql
  master/static/views_and_triggers/up/model.sql
  master/static/views_and_triggers/up/project.sql
  master/static/views_and_triggers/up/users.sql
  master/static/views_and_triggers/up/util.sql
Labels: cla-signed

#9382 chore: gateway startup without pwdless sudo
  tools/k8s/launch-minikube-with-gateway.sh
Labels: cla-signed

#9395 chore: pin requests version < 2.32.0 so docker works
  e2e_tests/tests/requirements.txt
  harness/setup.py
Labels: cla-signed

#9397 docs: add exp config for unmanaged example #2.
  examples/features/unmanaged/2.yaml
Labels: cla-signed

#9394 test: put flaky fix back in [INFENG-694]
  webui/react/src/e2e/tests/userManagement.spec.ts
Labels: cla-signed

#9396 feat: add Sort menu to Flat Runs view
  webui/react/src/components/ColumnPickerMenu.test.tsx
  webui/react/src/components/ColumnPickerMenu.tsx
  webui/react/src/components/MultiSortMenu.test.mock.tsx
  webui/react/src/components/MultiSortMenu.test.tsx
  webui/react/src/components/MultiSortMenu.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Labels: cla-signed

#9372 fix: Skip resource checking for unmanaged exp
  master/internal/core_experiment.go
Labels: cla-signed

#9360 feat: helm install checks password complexity [DET-10293]
  helm/charts/determined/templates/master-config.yaml
Labels: cla-signed, User-facing API Change

#9391 docs: cluster observability documentation and dashboard improvements
  docs/assets/images/resource-util-dash-1.png
  docs/assets/images/resource-util-dash-2.png
  docs/assets/images/resource-util-dash-3.png
  docs/assets/images/resource-util-dash-4.png
  docs/integrations/observability/_index.rst
  docs/integrations/prometheus/_index.rst
  docs/release-notes/observability.rst
  helm/charts/determined/templates/master-service.yaml
  tools/observability/README.md
  tools/observability/api-dash.json
  tools/observability/gkeDCGMExporterService.yaml
  tools/observability/grafana-prom-values.yaml
  tools/observability/resource-utilization-dash.json
  tools/observability/tokenRefresher.yaml
Labels: documentation, cla-signed

#9388 docs: Add more info helm install password
  docs/reference/deploy/helm-config-reference.rst
Labels: documentation, cla-signed

#9385 feat: update default scheduler to priority for agentrm
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes/feature-clean-up.rst
  master/cmd/determined-master/root.go
  master/cmd/determined-master/root_test.go
  master/internal/config/scheduler_config.go
Labels: documentation, cla-signed

#9305 feat: Display Log retention days and Remaining log retention days in Logs Tab
  harness/determined/common/api/bindings.py
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/trial.proto
  webui/react/src/components/RemainingRetentionDaysLabelComponent.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.test.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/types.ts
Labels: cla-signed

#9383 feat: Release WebUI templates with notes
  docs/release-notes/webui-manage-templates.rst
  webui/react/src/hooks/useFeature.ts
Labels: documentation, cla-signed

#9402 pin setuptools in model hub tests
  model_hub/tests/requirements.txt
Labels: cla-signed

#9401 chore: Update docker retag scripts
  tools/scripts/retag-bumpenvs-yaml.py
  tools/scripts/update-docker-tags.sh
Labels: cla-signed

#9379 test: datagrid scrolling [INFENG-687]
  webui/react/src/e2e/models/components/F_ExperiementList.ts
  webui/react/src/e2e/models/hew/DataGrid.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
Labels: cla-signed

#9314 feat: require initial passwords on new cluster-up [DET-10197]
  .circleci/devcluster/custom-agent-version.devcluster.yaml
  .circleci/devcluster/double-priority.devcluster.yaml
  .circleci/devcluster/double-reattach.devcluster.yaml
  .circleci/devcluster/double.devcluster.yaml
  .circleci/devcluster/elastic.devcluster.yaml
  .circleci/devcluster/multi-k8s.devcluster.yaml
  .circleci/devcluster/oauth.devcluster.yaml
  .circleci/devcluster/perftest.devcluster.yaml
  .circleci/devcluster/port-registry.devcluster.yaml
  .circleci/devcluster/postgres-with-ssl.devcluster.yaml
  .circleci/devcluster/priority.devcluster.yaml
  .circleci/devcluster/rbac-model-registry.yaml
  .circleci/devcluster/react.devcluster.yaml
  .circleci/devcluster/saml.devcluster.yaml
  .circleci/devcluster/single-rbac.devcluster.yaml
  .circleci/real_config.yml
  docs/release-notes/cli-requires-initial-password.rst
  e2e_tests/tests/cluster/test_users.py
  e2e_tests/tests/experiment/test_custom_searcher.py
  e2e_tests/tests/experiment/test_unmanaged.py
  harness/determined/deploy/local/cli.py
  harness/determined/deploy/local/cluster_utils.py
  harness/determined/searcher/_search_runner.py
  master/internal/core.go
Labels: documentation, cla-signed, User-facing API Change

#9403 chore: Add slurm codeowners
  .github/CODEOWNERS
Labels: cla-signed

#9399 docs: Describe config templates WebUI
  docs/model-dev-guide/dtrain/config-templates.rst
Labels: documentation, cla-signed

#9405 revert: Framework splitting
  .circleci/real_config.yml
  docs/manage/troubleshooting.rst
  docs/model-dev-guide/api-guides/apis-howto/_index.rst
  docs/model-dev-guide/create-experiment.rst
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/model-dev-guide/prepare-container/set-environment-images.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/release-notes/framework-splitting.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  docs/tutorials/quickstart-mdldev.rst
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/config.py
  e2e_tests/tests/nightly/test_distributed.py
  examples/computer_vision/iris_tf_keras/adaptive.yaml
  examples/computer_vision/iris_tf_keras/const.yaml
  examples/computer_vision/iris_tf_keras/distributed.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_cancelable.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_high_priority.yaml
  examples/diffusion/textual_inversion_stable_diffusion/detsd/trainer.py
  harness/Makefile
  harness/determined/core/_profiler.py
  harness/determined/exec/launch.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/experiment/keras/test_tf_keras_trial.py
  harness/tests/experiment/pytorch/test_local.py
  harness/tests/experiment/test_local.py
  harness/tests/fixtures/checkpoint.json
  harness/tests/launch/test_launch.py
  helm/charts/determined/values.yaml
  master/pkg/schemas/expconf/const.go
  schemas/test_cases/v0/experiment.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: documentation, cla-signed

#9146 feat: Add Run columns to GetProjectColumns
  harness/determined/common/api/bindings.py
  master/internal/api_project.go
  master/internal/api_project_intg_test.go
  master/internal/api_runs.go
  master/internal/api_runs_intg_test.go
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_metrics.go
  master/internal/experiment/bulk_action.go
  master/pkg/model/experiment.go
  master/static/migrations/20240520104140_add-run-hparam-table.tx.up.sql
  performance/src/api_performance_tests.ts
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/project.pb.go
  proto/src/determined/api/v1/project.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#9404 fix: bulk action bug in the old experiment table that cannot trigger bulk actions across pages
  webui/react/src/components/Table/TableBulkActions.tsx
  webui/react/src/pages/ExperimentList.tsx
Labels: cla-signed

#9414 fix: master checks db newness before migrating [DET-10312]
  master/cmd/determined-master/migrate.go
  master/cmd/determined-master/populate_metrics.go
  master/internal/core.go
  master/internal/core_intg_test.go
  master/internal/db/database.go
  master/internal/db/migrations.go
  master/internal/db/postgres_test_utils.go
  master/internal/db/setup.go
  master/test/testutils/fixtures.go
Labels: cla-signed, to-cherry-pick

#9413 fix: reset InteractiveTable pagination when filters applied [ET-183] [ET-121]
  webui/react/src/components/ModelRegistry.tsx
  webui/react/src/components/TaskList.tsx
  webui/react/src/pages/Admin/UserManagement.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/Templates/TemplatesList.tsx
Labels: cla-signed

#9418 chore: bump ngc image versions for release
  .circleci/real_config.yml
  VERSION
  docs/model-dev-guide/api-guides/apis-howto/_index.rst
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  examples/deepspeed_autotune/torchvision/core_api/deepspeed.yaml
  examples/deepspeed_autotune/torchvision/deepspeed_trial/deepspeed.yaml
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/pkg/schemas/expconf/const.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/environments-target.txt
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: documentation, cla-signed, to-cherry-pick

#9420 test: ensure make unslurmcluster always runs in CI
  .circleci/real_config.yml
Labels: cla-signed

#9417 chore: remove confusing slurm-related code
  .circleci/real_config.yml
  tools/slurmcluster.sh
Labels: cla-signed

#9425 fix: add feature gate for checking for blank admin/determined password [DET-10197]
  docs/release-notes/cli-requires-initial-password.rst
  master/internal/core.go
  master/internal/core_intg_test.go
Labels: documentation, cla-signed, to-cherry-pick

#9412 docs: ignore anchor for observability links
  docs/conf.py
  docs/integrations/observability/_index.rst
Labels: documentation, cla-signed

#9427 docs: terraforming an EKS cluster with autoscaling and EFS.
  docs/setup-cluster/k8s/setup-eks-cluster.rst
  examples/deploy/eks/.gitignore
  examples/deploy/eks/.terraform.lock.hcl
  examples/deploy/eks/README.md
  examples/deploy/eks/main.tf
  examples/deploy/eks/outputs.tf
  examples/deploy/eks/values.yaml
  examples/deploy/eks/variables.tf
  examples/deploy/eks/versions.tf
Labels: documentation, cla-signed

#9398 feat: translate gateway ports to proxied tasks
  .circleci/real_config.yml
  harness/determined/cli/proxy.py
  master/internal/rm/kubernetesrm/gateway_service.go
  master/internal/rm/kubernetesrm/gateway_service_test.go
  master/internal/rm/kubernetesrm/gateway_spec.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/request_queue.go
  master/internal/rm/kubernetesrm/request_queue_test.go
  master/internal/rm/kubernetesrm/request_workers.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
  master/internal/task/allocation.go
  tools/k8s/launch-minikube-with-gateway.sh
Labels: cla-signed

#9430 ci: use priority scheduler in e2e tests
  e2e_tests/tests/cluster/test_job_queue.py
Labels: cla-signed

#9433 fix: set the defaults for shared_fs mount in genai correctly
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/templates/lore.yaml
Labels: cla-signed, to-cherry-pick

#9423 fix: add Admin Settings to NavigationTabbar (ET-194)
  webui/react/src/components/NavigationTabbar.tsx
Labels: cla-signed

#9381 chore: remove stdlib errors package from lint blocklist
  master/.golangci.yml
Labels: cla-signed

#9369 fix: redirect on sso login
  webui/react/src/globalStorage.ts
  webui/react/src/pages/SignIn.tsx
Labels: cla-signed

#9437 fix: dont utilize the default efs mount on normal aws deploys
  harness/determined/deploy/aws/cli.py
Labels: cla-signed, to-cherry-pick

#9296 feat: convert k8s submissions from pods to jobs
  harness/determined/exec/prep_container.py
  helm/charts/determined/templates/master-permissions.yaml
  master/.gitignore
  master/Makefile
  master/internal/db/postgres_agent_intg_test.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
  master/internal/db/postgres_test_utils.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/informer.go
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/job_test.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/jobs_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/log.go
  master/internal/rm/kubernetesrm/mock_client_test.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/pods_test.go
  master/internal/rm/kubernetesrm/request_queue.go
  master/internal/rm/kubernetesrm/request_queue_test.go
  master/internal/rm/kubernetesrm/request_workers.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
  master/internal/sproto/resources.go
  master/internal/sproto/task.go
  master/internal/sproto/task_actor.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_service_test.go
  master/internal/webhooks/postgres_webhook.go
  master/pkg/cproto/state.go
  master/pkg/tasks/task.go
  master/pkg/tasks/task_trial.go
  master/test/testutils/fixtures.go
Labels: cla-signed

#9415 fix: notify master for core checkpoint deletes [MD-325]
  harness/determined/core/_checkpoint.py
  harness/tests/core/test_checkpoint.py
Labels: cla-signed

#9441 docs: update broken nvidia anchor link
  docs/conf.py
  docs/setup-cluster/slurm/slurm-known-issues.rst
Labels: documentation, cla-signed

#9432 chore: add a no-dependency multi-port multi-trial test exp
  e2e_tests/tests/cluster/test_proxy.py
  e2e_tests/tests/fixtures/ports-proxy/config.yaml
  e2e_tests/tests/fixtures/ports-proxy/start.py
Labels: cla-signed

#9439 docs: Add historical cluster usage warning
  docs/manage/historical-cluster-usage-data.rst
Labels: documentation, cla-signed

#9431 test: create test users through the API [INFENG-673]
  webui/react/.gitignore
  webui/react/playwright.config.ts
  webui/react/src/e2e/fixtures/api.auth.fixture.ts
  webui/react/src/e2e/fixtures/api.user.fixture.ts
  webui/react/src/e2e/fixtures/global-fixtures.ts
  webui/react/src/e2e/fixtures/user.fixture.ts
  webui/react/src/e2e/models/ant/Dropdown.ts
  webui/react/src/e2e/models/ant/Select.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
  webui/react/src/e2e/utils/users.ts
Labels: cla-signed

#9446 fix: fix efs-utils test for new images [MD-417]
  .circleci/real_config.yml
Labels: documentation, cla-signed

#9443 docs: release notes & updates for Kubernetes pods to jobs
  docs/release-notes/pods-to-jobs.rst
  docs/setup-cluster/k8s/_index.rst
  docs/setup-cluster/k8s/custom-pod-specs.rst
  docs/setup-cluster/k8s/helm-commands.rst
Labels: documentation, cla-signed

#9444 docs: add release notes for 0.33.0
  docs/_static/version-switcher/versions.json
  docs/release-notes.rst
  docs/release-notes/command-startup.rst
  docs/release-notes/feature-clean-up.rst
  docs/release-notes/helm-requires-initial-password.rst
  docs/release-notes/k8s-slots-jumping.rst
  docs/release-notes/non-det-tasks-k8s-fix.rst
  docs/release-notes/observability.rst
  docs/release-notes/pod-label-bugfix.rst
  docs/release-notes/webui-create-user-with-password.rst
  docs/release-notes/webui-manage-templates.rst
Labels: documentation, cla-signed

#9447 chore: move tests covering resource pool to the right file
  master/internal/rm/kubernetesrm/jobs_test.go
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
Labels: cla-signed

#9450 chore: set group max slots test
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
Labels: cla-signed

#9453 docs: fix observability README docs link
  tools/observability/README.md
Labels: cla-signed

#9451 cleanup some tests whose coverage has been duplicated
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/job_test.go
  master/internal/rm/kubernetesrm/request_queue_test.go
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
  master/internal/rm/kubernetesrm/spec_test.go
Labels: cla-signed

#9455 test: react test datadog integration [infeng-497]
  .circleci/real_config.yml
Labels: cla-signed

#9438 feat: convert k8s submissions from pods to jobs (#9296)
  docs/release-notes/pods-to-jobs.rst
  docs/setup-cluster/k8s/_index.rst
  docs/setup-cluster/k8s/custom-pod-specs.rst
  docs/setup-cluster/k8s/helm-commands.rst
  harness/determined/exec/prep_container.py
  helm/charts/determined/templates/master-permissions.yaml
  master/.gitignore
  master/Makefile
  master/internal/db/postgres_agent_intg_test.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/informer.go
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/job_test.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/jobs_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/log.go
  master/internal/rm/kubernetesrm/mock_client_test.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/request_queue.go
  master/internal/rm/kubernetesrm/request_queue_test.go
  master/internal/rm/kubernetesrm/request_workers.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
  master/internal/sproto/resources.go
  master/internal/sproto/task.go
  master/internal/sproto/task_actor.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_service_test.go
  master/internal/webhooks/postgres_webhook.go
  master/pkg/cproto/state.go
  master/pkg/tasks/task.go
  master/pkg/tasks/task_trial.go
  master/test/testutils/fixtures.go
Labels: documentation, cla-signed

#9454 chore: INFENG-724: Remove model_hub examples from .bumpversion.cfg
  .bumpversion.cfg
Labels: cla-signed

#9458 feat: make gw port range configurable; add validation
  .circleci/devcluster/multi-k8s.devcluster.yaml
  master/internal/config/resource_config_test.go
  master/internal/config/resource_manager_config.go
  master/internal/rm/kubernetesrm/gateway_service.go
  master/internal/rm/kubernetesrm/gateway_service_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/request_queue_test.go
  master/internal/rm/kubernetesrm/spec_test.go
  master/pkg/check/check_numbers.go
  master/pkg/check/check_string.go
  master/pkg/check/check_test.go
Labels: cla-signed

#9400 test: datagrid tests [INFENG-687]
  webui/react/.eslintrc.js
  webui/react/playwright.config.ts
  webui/react/src/components/FilterForm/TableFilter.tsx
  webui/react/src/components/FilterForm/components/FilterField.tsx
  webui/react/src/components/TableActionBar.tsx
  webui/react/src/e2e/models/BaseComponent.ts
  webui/react/src/e2e/models/BasePage.ts
  webui/react/src/e2e/models/ant/Dropdown.ts
  webui/react/src/e2e/models/ant/Popover.ts
  webui/react/src/e2e/models/ant/Select.ts
  webui/react/src/e2e/models/components/ColumnPickerMenu.ts
  webui/react/src/e2e/models/components/FilterForm/components/ConjunctionContainer.ts
  webui/react/src/e2e/models/components/FilterForm/components/FilterGroup.ts
  webui/react/src/e2e/models/components/MultiSortMenu.ts
  webui/react/src/e2e/models/hew/DataGrid.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
  webui/react/src/e2e/utils/debug.ts
  webui/react/tsconfig.json
Labels: cla-signed
