Repository determined-ai/determined, pull requests merged in 2024-10, with the labels that each got.

#10000 fix: reset settings not working properly due to url encoding
  webui/react/src/hooks/useSettings.ts
Labels: cla-signed

#10004 ci: delete pointless test
  e2e_tests/.flake8
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/fixtures/trial_error/__init__.py
  e2e_tests/tests/fixtures/trial_error/const.yaml
  e2e_tests/tests/fixtures/trial_error/model_def.py
Labels: cla-signed

#9991 feat: check task config policy constraints before scheduling NTSC wor…
  master/internal/api_command.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_ntsc_intg_test.go
  master/internal/api_trials_intg_test.go
  master/internal/configpolicy/task_config_policy.go
  master/internal/configpolicy/task_config_policy_intg_test.go
Labels: cla-signed

#9987 fix: display archived column for runs and searches
  master/internal/api_project.go
  master/internal/api_runs.go
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/pages/FlatRuns/columns.ts
Labels: cla-signed

#9965 chore: reword jsonschema extension docs
  master/pkg/schemas/extensions/checks.go
Labels: cla-signed

#10007 fix: run centric api deprecated bindings (ET-694)
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
  webui/react/src/services/apiConfig.ts
Labels: cla-signed

#10010 fix: use UID not username to set HOME dir
  master/static/srv/generic-task-entrypoint.sh
  master/static/srv/task-setup.sh
Labels: cla-signed

#10008 chore: refactor Get and Create AccessToken API, add filter option, update permissions
  harness/determined/common/api/bindings.py
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/user/authz_basic_impl.go
  master/internal/user/authz_iface.go
  master/internal/user/authz_permissive.go
  master/internal/user/authz_rbac.go
  master/internal/user/postgres_users.go
  master/internal/user/postgres_users_intg_test.go
  master/static/migrations/20241001144648_alter-user-session-add-access-token-info.tx.up.sql
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/user.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/user.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#9993 test: add e2e experiment list pagination test
  webui/react/src/e2e/tests/experimentList.spec.ts
Labels: cla-signed

#10015 chore: check task config policies against slots and max_slots
  master/internal/api_command.go
  master/internal/configpolicy/task_config_policy.go
  master/internal/configpolicy/task_config_policy_intg_test.go
Labels: cla-signed

#10009 feat: Config Policies UI, Workspaces Experiments [CM-521]
  webui/react/src/components/ConfigPolicies.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#9990 feat: Add endpoints for search actions
  master/internal/api_search.go
  master/internal/api_search_intg_test.go
  proto/pkg/apiv2/api.pb.go
  proto/pkg/apiv2/search.pb.go
  proto/src/determined/api/v2/api.proto
  proto/src/determined/api/v2/search.proto
Labels: cla-signed

#10014 fix: correct expToWebhookConfig cache locking
  master/internal/webhooks/postgres_webhook.go
Labels: cla-signed

#9994 feat: Add regex search to task logs API
  harness/determined/common/api/bindings.py
  master/internal/api/filters.go
  master/internal/api_tasks.go
  master/internal/api_tasks_intg_test.go
  master/internal/api_trials.go
  master/internal/db/postgres_filters.go
  master/internal/db/postgres_tasks_intg_test.go
  master/internal/elastic/elastic_task_logs.go
  proto/pkg/apiv1/task.pb.go
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/task.proto
  proto/src/determined/api/v1/trial.proto
  webui/react/src/components/TrialLogPreview.tsx
  webui/react/src/pages/TaskLogs.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#9999 docs: Update release notes date
  docs/release-notes.rst
Labels: documentation, cla-signed

#10013 chore: Revoke Access Tokens when a User is Deactivated
  master/internal/user/postgres_users.go
Labels: cla-signed

#10018 chore: check experiment constraints
  master/internal/api_command.go
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_logretention_intg_test.go
  master/internal/configpolicy/task_config_policy.go
  master/internal/configpolicy/task_config_policy_intg_test.go
Labels: cla-signed

#9998 test: Workspace Models tests [CM-538]
  webui/react/src/components/ModelCreateModal.tsx
  webui/react/src/components/ModelMoveModal.tsx
  webui/react/src/components/ModelRegistry.tsx
  webui/react/src/e2e/models/components/AddUsersToGroupsModal.ts
  webui/react/src/e2e/models/components/ChangeUserStatusModal.ts
  webui/react/src/e2e/models/components/CreateUserModal.ts
  webui/react/src/e2e/models/components/ModelCreateModal.ts
  webui/react/src/e2e/models/components/ModelRegistry.ts
  webui/react/src/e2e/models/components/SetUserRolesModal.ts
  webui/react/src/e2e/models/components/WorkspaceCreateModal.ts
  webui/react/src/e2e/models/components/WorkspaceDeleteModal.ts
  webui/react/src/e2e/tests/workspaceModelRegistry.spec.ts
Labels: cla-signed

#10026 fix: Workspace Projects and Tasks test flakes [CM-554]
  webui/react/src/e2e/tests/projects.spec.ts
  webui/react/src/e2e/tests/workspaceTasks.spec.ts
Labels: cla-signed

#10029 chore: wait_for_task_state shows logs on failure
  e2e_tests/tests/cluster/test_agent_disable.py
  e2e_tests/tests/cluster/utils.py
Labels: cla-signed

#10022 feat: Global Config Policies UI [CM-522]
  webui/react/src/components/ConfigPolicies.test.tsx
  webui/react/src/components/ConfigPolicies.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/ConfigPoliciesPage.tsx
  webui/react/src/routes/index.tsx
  webui/react/src/routes/routes.ts
  webui/react/src/routes/utils.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#10019 chore: exp invariant config silent override during add or update
  master/internal/api_experiment.go
  master/internal/configpolicy/postgres_task_config_policy.go
  master/internal/configpolicy/postgres_task_config_policy_intg_test.go
  master/internal/configpolicy/task_config_policy.go
  master/internal/configpolicy/task_config_policy_intg_test.go
  master/internal/core_experiment.go
Labels: cla-signed

#10021 chore: remove e2e_slurm_gpu series tests
  .circleci/real_config.yml
  e2e_tests/pytest.ini
  e2e_tests/tests/cluster/test_checkpoints.py
  e2e_tests/tests/experiment/test_profiling.py
  e2e_tests/tests/experiment/test_pytorch.py
  e2e_tests/tests/fixtures/pytorch_identity/__init__.py
  e2e_tests/tests/fixtures/pytorch_identity/distributed.yaml
  e2e_tests/tests/fixtures/pytorch_identity/model_def.py
  e2e_tests/tests/nightly/test_pytorch2.py
  harness/tests/experiment/fixtures/pytorch_identity/distributed.yaml
  harness/tests/experiment/fixtures/pytorch_identity/model_def.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
  tools/slurm/README.md
Labels: cla-signed

#10012 chore: refactor access tokens CLI commands
  harness/determined/cli/user.py
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/user.py
  harness/determined/experimental/client.py
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/user/authz_basic_impl.go
  master/internal/user/authz_iface.go
  master/internal/user/authz_permissive.go
  master/internal/user/authz_rbac.go
  master/internal/user/postgres_users.go
  master/internal/user/postgres_users_intg_test.go
  proto/pkg/apiv1/user.pb.go
  proto/src/determined/api/v1/user.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#10039 docs: revise postgres permission setup instructions.
  docs/setup-cluster/checklists/postgresql.rst
  docs/setup-cluster/on-prem/options/linux-packages.rst
Labels: documentation, cla-signed

#10028 chore: validate global, admin input against task config policies & constraints
  master/internal/api_config_policies.go
  master/internal/api_config_policies_intg_test.go
  master/internal/api_user_intg_test.go
  master/internal/configpolicy/postgres_task_config_policy.go
  master/internal/configpolicy/utils.go
  master/internal/configpolicy/utils_test.go
Labels: cla-signed

#10040 ci: deflake test_disable_agent_zero_slots
  e2e_tests/tests/cluster/test_agent_disable.py
Labels: cla-signed

#10023 chore: remove e2e_slurm_misconfigured series tests
  .circleci/real_config.yml
  e2e_tests/pytest.ini
  e2e_tests/tests/cluster/test_slurm.py
  e2e_tests/tests/conftest.py
  master/pkg/tasks/dispatcher_task.go
  tools/slurm/README.md
Labels: cla-signed

#10041 chore: un-nest CLIs, APIs, permissions and DB layer
  harness/determined/cli/cli.py
  harness/determined/cli/token.py
  harness/determined/cli/user.py
  harness/determined/common/api/bindings.py
  master/.mockery.yaml
  master/internal/api_token.go
  master/internal/api_token_intg_test.go
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/token/authz_basic_impl.go
  master/internal/token/authz_iface.go
  master/internal/token/authz_permissive.go
  master/internal/token/authz_rbac.go
  master/internal/token/postgres_token.go
  master/internal/token/postgres_token_intg_test.go
  master/internal/user/authz_basic_impl.go
  master/internal/user/authz_iface.go
  master/internal/user/authz_permissive.go
  master/internal/user/authz_rbac.go
  master/internal/user/postgres_users.go
  master/internal/user/postgres_users_intg_test.go
  master/static/migrations/20241010174718_alter-user-session-add-access-token-info.tx.up.sql
  master/static/migrations/20241010175001_add-access-token-rbac-permissions.tx.up.sql
  proto/buf.image.bin
  proto/patches/api.json
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/token.pb.go
  proto/pkg/apiv1/user.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/token.proto
  proto/src/determined/api/v1/user.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#10038 chore: Remove max_length from WebUI
  webui/react/src/components/CompareHyperparameters.test.mock.tsx
  webui/react/src/components/ComparisonView.test.mock.tsx
  webui/react/src/components/ExperimentContinueModal.module.scss
  webui/react/src/components/ExperimentContinueModal.tsx
  webui/react/src/components/ExperimentCreateModal.tsx
  webui/react/src/components/HyperparameterSearchModal.tsx
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/pages/Dashboard.test.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.test.tsx
  webui/react/src/types.ts
  webui/react/src/utils/experiment.test.ts
  webui/react/src/utils/experiment.ts
  webui/react/src/utils/tests/generateTestData.ts
Labels: cla-signed

#10025 chore: take invariant_config priority into account with manage job workflow
  master/internal/command/command_job_service.go
  master/internal/configpolicy/postgres_task_config_policy.go
  master/internal/configpolicy/postgres_task_config_policy_intg_test.go
  master/internal/configpolicy/task_config_policy.go
  master/internal/configpolicy/task_config_policy_intg_test.go
  master/internal/experiment_job_service.go
Labels: cla-signed

#10005 feat: Extend LogViewer to support scrollable search
  docs/release-notes/log-search-improvement.rst
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/pages/TrialDetails/LogViewer.module.scss
  webui/react/src/pages/TrialDetails/LogViewer.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.module.scss
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: documentation, cla-signed

#10047 chore: check config policies on 'det notebook set priority'
  master/internal/command/command.go
  master/internal/command/command_intg_test.go
Labels: cla-signed

#10042 chore: change error code back
  master/internal/api_experiment.go
Labels: cla-signed

#10048 fix: apply config policy constraints to PATCH /experiments/:id
  master/internal/experiment.go
  master/internal/experiment_job_service.go
Labels: cla-signed

#10063 chore: fix slices and maps merge test
  master/internal/configpolicy/task_config_policy_intg_test.go
Labels: cla-signed

#10054 chore: experiment config slots to comply with constraint max slots
  master/internal/api_config_policies_intg_test.go
  master/internal/configpolicy/task_config_policy.go
  master/internal/configpolicy/utils.go
  master/internal/configpolicy/utils_test.go
Labels: cla-signed

#10051 test: User Management test updates [CM-468]
  webui/react/src/e2e/fixtures/user.fixture.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
  webui/react/src/e2e/utils/users.ts
Labels: cla-signed

#10056 chore: ntsc config not supported
  e2e_tests/tests/cluster/test_config_policies.py
  master/internal/api_config_policies_intg_test.go
  master/internal/configpolicy/utils.go
Labels: cla-signed

#10020 Docs: describe data files apptainer
  docs/setup-cluster/slurm/singularity.rst
  docs/tools/cli/commands-and-shells.rst
Labels: documentation, cla-signed

#10062 refactor: remove annotations requiring search ids in bulk action js (ET-241)
  harness/determined/common/api/bindings.py
  proto/pkg/apiv1/run.pb.go
  proto/pkg/apiv1/search.pb.go
  proto/src/determined/api/v1/run.proto
  proto/src/determined/api/v1/search.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#10068 fix: nil deref in usage of incomplete experiment config policies
  master/internal/configpolicy/task_config_policy.go
Labels: cla-signed

#10017 fix: run checkpoint GC more aggressively to ensure tensorboards are GC'd
  master/internal/api_experiment.go
  master/internal/experiment.go
Labels: cla-signed

#10058 feat: Add copy task id to task list
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/components/TaskList.tsx
  webui/react/src/e2e/models/components/TaskList.ts
  webui/react/src/e2e/tests/workspaceTasks.spec.ts
  webui/react/src/types.ts
Labels: cla-signed

#10064 chore: create `TokenCreator` role with permissions to VIEW / CREATE / REVOKE own access tokens
  docs/manage/security/rbac.rst
  docs/release-notes/rbac-new-tokenCreator-role.rst
  master/static/migrations/20241010175001_add-access-token-rbac-permissions.tx.up.sql
Labels: documentation, cla-signed

#9867 feat: SSO Improvement - alter `user_sessions` table to include access token, implement CRUD ops, GET, POST, PATCH APIs and `det token` CLIs
  docs/manage/security/rbac.rst
  docs/release-notes/api-cli-access-token.rst
  docs/release-notes/rbac-new-tokenCreator-role.rst
  harness/determined/cli/cli.py
  harness/determined/cli/token.py
  harness/determined/common/api/bindings.py
  master/.mockery.yaml
  master/internal/api_auth.go
  master/internal/api_token.go
  master/internal/api_token_intg_test.go
  master/internal/token/authz_basic_impl.go
  master/internal/token/authz_iface.go
  master/internal/token/authz_permissive.go
  master/internal/token/authz_rbac.go
  master/internal/token/postgres_token.go
  master/internal/token/postgres_token_intg_test.go
  master/internal/user/postgres_users.go
  master/internal/user/postgres_users_intg_test.go
  master/pkg/model/user.go
  master/static/migrations/20241010175001_add-access-token-rbac-permissions.tx.up.sql
  master/static/migrations/20241016163441_alter-user-session-add-access-token-info.tx.up.sql
  proto/buf.image.bin
  proto/patches/api.json
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/token.pb.go
  proto/pkg/rbacv1/rbac.pb.go
  proto/pkg/userv1/user.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/token.proto
  proto/src/determined/rbac/v1/rbac.proto
  proto/src/determined/user/v1/user.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: documentation, cla-signed, User-facing API Change

#10071 chore: remove redundant rm.ExternalPreemptionPending interface
  master/internal/api_trials.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/dispatcherrm/dispatcher_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/multirm/multirm_intg_test.go
  master/internal/rm/resource_manager_iface.go
Labels: cla-signed

#10002 build: INFENG-382: Release redesign
  .bumpversion.cfg
  .circleci/config.yml
  .circleci/real_config.yml
  .devcontainer/server.sh
  .github/workflows/lint-python.yml
  Makefile
  VERSION
  agent/.goreleaser_dryrun.yml
  agent/Makefile
  agent/internal/agent.go
  docs/Makefile
  docs/README.md
  docs/_static/version-switcher/.gitignore
  docs/_static/version-switcher/versions.json
  docs/conf.py
  docs/deploy/Makefile
  docs/deploy/scrape.py
  docs/deploy/upload.py
  docs/exclude-versions.txt
  docs/gen-versions.py
  docs/gen-versions.sh
  docs/insert-version-url.py
  harness/Makefile
  harness/determined/__init__.py
  harness/determined/__version__.py
  harness/determined/core/_log_shipper.py
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/pyproject.toml
  harness/setup.py
  helm/.goreleaser_dryrun.yml
  helm/Makefile
  helm/charts/determined/Chart.yaml
  master/.goreleaser_dryrun.yml
  master/Makefile
  master/pkg/tasks/copy.go
  requirements.txt
  tools/scripts/insert-dropdown-url.sh
  version.sh
  webui/react/vite.config.mts
Labels: documentation, cla-signed

#10077 chore: INFENG-922: use correct gh_team tag for infrastructure
  .circleci/real_config.yml
Labels: cla-signed

#10080 fix: Tensorboard broken on unified install [CM-578]
  master/internal/api_tensorboard.go
Labels: cla-signed

#9969 docs: Describe task config policies
  docs/get-started/webui-qs.rst
  docs/manage/_index.rst
  docs/manage/config-policies.rst
  docs/manage/security/rbac.rst
  docs/manage/users.rst
Labels: documentation, cla-signed

#10083 chore: remove searcher context from DetCallback
  docs/reference/training/_index.rst
  docs/reference/training/api-transformers-reference.rst
  harness/determined/transformers/_hf_callback.py
Labels: documentation, cla-signed

#10084 fix: correct token creation CLI to ensure it works with default expiry
  harness/determined/cli/token.py
Labels: cla-signed

#10057 feat: Set groupable columns
  harness/determined/common/api/bindings.py
  master/internal/api_project.go
  master/internal/api_project_intg_test.go
  proto/pkg/projectv1/project.pb.go
  proto/src/determined/project/v1/project.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#10087 docs: task config policies release note
  docs/release-notes/config-policies.rst
Labels: documentation, cla-signed

#10076 chore: return error if workspace config violates global constraints
  master/internal/api_config_policies.go
  master/internal/configpolicy/postgres_task_config_policy.go
  master/internal/configpolicy/utils.go
  master/internal/configpolicy/utils_test.go
Labels: cla-signed

#10091 chore: refactor max length out of pytorch trials
  docs/model-dev-guide/api-guides/apis-howto/api-pytorch-ug.rst
  examples/tutorials/mnist_pytorch/adaptive.yaml
  examples/tutorials/mnist_pytorch/train.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/_trainer.py
Labels: documentation, cla-signed

#10085 build: INFENG-926: Fix version.sh version string output
  version.sh
Labels: cla-signed

#10089 chore: update CLI commands to work with global APIs
  e2e_tests/tests/cluster/test_config_policies.py
  e2e_tests/tests/fixtures/config_policies/valid_experiment.json
  e2e_tests/tests/fixtures/config_policies/valid_experiment.yaml
  e2e_tests/tests/fixtures/config_policies/valid_ntsc.json
  e2e_tests/tests/fixtures/config_policies/valid_ntsc.yaml
  harness/determined/cli/config_policies.py
Labels: cla-signed

#10073 docs: Describe arbitrary metadata logging
  docs/assets/images/webui-runs-metadata-filter.png
  docs/get-started/webui-qs.rst
  docs/reference/experiment-config-reference.rst
  docs/tools/webui-if.rst
  docs/tutorials/_index.rst
  docs/tutorials/metadata-logging.rst
  docs/tutorials/quickstart-mdldev.rst
Labels: documentation, cla-signed

#10053 chore: remove e2e_slurm_preemption test series
  .circleci/real_config.yml
  e2e_tests/pytest.ini
  e2e_tests/tests/cluster/test_slurm.py
  e2e_tests/tests/conftest.py
  examples/computer_vision/iris_tf_keras/iris_tf_keras_cancelable.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_high_priority.yaml
  examples/legacy/computer_vision/cifar10_pytorch/cifar10_pytorch_cancelable.yaml
  examples/legacy/computer_vision/cifar10_pytorch/cifar10_pytorch_high_priority.yaml
  harness/tests/launch/test_launch.py
Labels: cla-signed

#10099 Revert "docs: Describe arbitrary metadata logging"
  docs/assets/images/webui-runs-metadata-filter.png
  docs/get-started/webui-qs.rst
  docs/reference/experiment-config-reference.rst
  docs/tools/webui-if.rst
  docs/tutorials/_index.rst
  docs/tutorials/metadata-logging.rst
  docs/tutorials/quickstart-mdldev.rst
Labels: documentation, cla-signed

#10088 fix: Log searche feedbacks
  webui/react/src/pages/TrialDetails/LogViewer.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.module.scss
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
Labels: cla-signed

#10069 fix: version upgrade notification bug [CM-411]
  webui/react/src/App.tsx
  webui/react/src/components/AuthToken.tsx
  webui/react/src/components/JupyterLabButton.tsx
  webui/react/src/components/VersionChecker.test.tsx
  webui/react/src/components/VersionChecker.tsx
  webui/react/src/pages/SignIn.tsx
  webui/react/src/utils/browser.ts
Labels: cla-signed

#10104 ci: shorten test_pending_hpc.py
  e2e_tests/tests/experiment/test_pending_hpc.py
Labels: cla-signed

#10103 chore: conditionally create VolumeSnapshotClass
  helm/charts/determined/templates/db-volume-snapshot-class.yaml
Labels: cla-signed

#10110 docs: Describe sso improvements
  docs/manage/security/_index.rst
  docs/manage/security/access-tokens.rst
  docs/manage/security/auto-posix.rst
  docs/manage/security/rbac.rst
  docs/manage/users-remote.rst
Labels: documentation, cla-signed

#10111 fix: update copy in experiment and trial headers
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/TrialDetails/Header/TrialHeaderLeft.tsx
Labels: cla-signed

#10098 docs: Update log policies
  docs/reference/experiment-config-reference.rst
  docs/tutorials/_index.rst
  docs/tutorials/log-management.rst
Labels: documentation, cla-signed

#10074 docs: fix internal link in multi-rm docs page.
  docs/setup-cluster/k8s/setup-multiple-resource-managers.rst
Labels: documentation, cla-signed

#10114 docs: Update release notes
  docs/release-notes/api-cli-access-token.rst
  docs/release-notes/config-policies.rst
  docs/release-notes/log-search-improvement.rst
  docs/release-notes/rbac-new-tokenCreator-role.rst
Labels: documentation, cla-signed

#10072 feat: Allow master configuration for ssh key crypto system
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes/ssh-crypto-system.rst
  harness/determined/cli/shell.py
  master/internal/api_shell.go
  master/internal/api_user_intg_test.go
  master/internal/config/config.go
  master/internal/core.go
  master/internal/core_intg_test.go
  master/internal/experiment.go
  master/internal/trial_intg_test.go
  master/pkg/ssh/ssh.go
  master/pkg/ssh/ssh_test.go
  master/pkg/tasks/task.go
  proto/pkg/apiv1/shell.pb.go
  proto/src/determined/api/v1/shell.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: documentation, cla-signed

#10102 feat: additional APIs to support "actual select all" functions [ET-238]
  harness/determined/common/api/bindings.py
  master/internal/api_searches.go
  master/internal/api_searches_intg_test.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/search.pb.go
  proto/pkg/apiv1/tensorboard.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/search.proto
  proto/src/determined/api/v1/tensorboard.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#10107 chore: populate final merged config with defaults when merging invariant configs
  master/internal/configpolicy/task_config_policy.go
  master/internal/configpolicy/task_config_policy_intg_test.go
  master/internal/core_experiment.go
Labels: cla-signed

#10113 fix: Add on delete cascade to system_metrics
  master/static/migrations/20241023165301_system-metrics-on-del-casc.tx.up.sql
Labels: cla-signed

#10119 chore: standardize status api errors for task config policies
  master/internal/api_config_policies.go
  master/internal/api_config_policies_intg_test.go
Labels: cla-signed

#10094 chore: clarify version overrides during helm installs
  docs/reference/deploy/helm-config-reference.rst
Labels: documentation, cla-signed

#10118 chore: add config policies to CLI reference docs
  docs/manage/config-policies.rst
  docs/reference/cli-reference.rst
  harness/determined/cli/config_policies.py
Labels: documentation, cla-signed

#10120 docs: log policies restore exp config
  docs/reference/experiment-config-reference.rst
Labels: documentation, cla-signed

#10116 docs: Update postgres aurora info
  docs/setup-cluster/aws/aws-spot.rst
  docs/setup-cluster/aws/install-on-aws.rst
  docs/setup-cluster/checklists/postgresql.rst
  docs/setup-cluster/on-prem/options/docker.rst
  docs/setup-cluster/on-prem/options/linux-packages.rst
  docs/setup-cluster/slurm/hpc-environment-requirements.rst
Labels: documentation, cla-signed

#10121 chore: improve messaging when workspace configs conflict with global …
  master/internal/configpolicy/utils.go
Labels: cla-signed

#10122 chore: fix merge exp flake
  master/internal/configpolicy/task_config_policy_intg_test.go
Labels: cla-signed

#9947 feat: Log Signal Exp Config and Monitoring
  e2e_tests/tests/cluster/test_log_policies.py
  e2e_tests/tests/cluster/utils.py
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_runs.go
  master/internal/api_tasks_intg_test.go
  master/internal/configpolicy/postgres_task_config_policy.go
  master/internal/configpolicy/task_config_policy_intg_test.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/logpattern/logpattern.go
  master/internal/logpattern/logpattern_intg_test.go
  master/internal/run/postgres_run_intg_test.go
  master/pkg/model/task.go
  master/pkg/model/task_container_defaults.go
  master/pkg/model/task_container_defaults_test.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/latest.go
  master/pkg/schemas/expconf/log_pattern_config.go
  master/pkg/schemas/expconf/schema_test.go
  master/pkg/schemas/expconf/zgen_log_action_cancel_retries_v0.go
  master/pkg/schemas/expconf/zgen_log_action_exclude_node_v0.go
  master/pkg/schemas/expconf/zgen_log_action_v0.go
  master/pkg/schemas/expconf/zgen_log_policies_config_v0.go
  master/pkg/schemas/expconf/zgen_log_policy_v0.go
  master/pkg/schemas/extensions/disallow_properties.go
  master/pkg/schemas/zgen_schemas.go
  master/static/migrations/20241024164947_add-log-policy-matched.tx.up.sql
  master/static/srv/proto_get_trials_plus.sql
  master/static/views_and_triggers/up/metrics.sql
  proto/buf.image.bin
  proto/pkg/runv1/run.pb.go
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/run/v1/run.proto
  proto/src/determined/trial/v1/trial.proto
  schemas/expconf/v0/experiment.json
  schemas/expconf/v0/log-action.json
  schemas/expconf/v0/log-legacy-action-cancel-retries.json
  schemas/expconf/v0/log-legacy-action-exclude-node.json
  schemas/expconf/v0/log-policies.json
  schemas/expconf/v0/log-policy.json
  schemas/test_cases/v0/experiment.yaml
  schemas/test_cases/v0/log_policies.yaml
  schemas/test_cases/v0/unions.yaml
  webui/react/src/pages/FlatRuns/columns.ts
  webui/react/src/pages/TrialDetails/Header/TrialHeaderLeft.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#10124 chore: SSO improvement feature requires Enterprise Edition.
  master/internal/api_token.go
Labels: cla-signed

#10115 docs: Add aurora postgres release note
  docs/release-notes/unsupport-aurora-postgres-reminder.rst
Labels: documentation, cla-signed

#10112 build: INFENG-933: add GitHub action to start a minor release
  .github/workflows/start-minor-release.yml
Labels: cla-signed

#10095 test: Add test for filtering user by Role Id
  master/internal/api_user_intg_test.go
Labels: cla-signed

#10129 chore: add batches and epochs to TFKerasTrial metrics
  harness/determined/keras/_tf_keras_trial.py
Labels: cla-signed

#10130 docs: change for epoch->epochs
  docs/tutorials/viewing-epoch-based-metrics.rst
Labels: documentation, cla-signed

#10126 docs: add log signal release note and update docs
  docs/reference/experiment-config-reference.rst
  docs/release-notes/log-search-improvement.rst
  docs/release-notes/log-signal.rst
  docs/tools/webui-if.rst
  docs/tutorials/_index.rst
  docs/tutorials/log-management.rst
Labels: documentation, cla-signed

#10081 feat: add actual select all to glide tables [ET-238]
  webui/react/src/components/ComparisonView.test.mock.tsx
  webui/react/src/components/ComparisonView.tsx
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/ExperimentCreateModal.test.tsx
  webui/react/src/components/ExperimentCreateModal.tsx
  webui/react/src/components/ExperimentMoveModal.tsx
  webui/react/src/components/LoadableCount.tsx
  webui/react/src/components/RunActionDropdown.tsx
  webui/react/src/components/RunFilterInterstitialModalComponent.test.tsx
  webui/react/src/components/RunFilterInterstitialModalComponent.tsx
  webui/react/src/components/SearchTensorBoardModal.tsx
  webui/react/src/components/Searches/Searches.tsx
  webui/react/src/components/TableActionBar.tsx
  webui/react/src/e2e/models/common/hew/DataGrid.ts
  webui/react/src/e2e/models/components/TableActionBar.ts
  webui/react/src/e2e/models/pages/ProjectDetails.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
  webui/react/src/hooks/useSelection.ts
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/FlatRuns/FlatRunActionButton.test.tsx
  webui/react/src/pages/FlatRuns/FlatRunActionButton.tsx
  webui/react/src/pages/FlatRuns/FlatRunMoveModal.test.tsx
  webui/react/src/pages/FlatRuns/FlatRunMoveModal.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/utils/experiment.ts
  webui/react/src/utils/task.ts
Labels: cla-signed

#10128 chore: refactor max_length out of deepspeed trial
  examples/deepspeed/dcgan/mnist.yaml
  examples/deepspeed/dcgan/trainer.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/determined/pytorch/deepspeed/_trainer.py
Labels: cla-signed

#10127 chore: bump Go version used by CI builds to 1.22.8
  .circleci/real_config.yml
Labels: cla-signed

#10092 chore: determined_master_host and friends helm support, better defaults
  .circleci/devcluster/multi-k8s.devcluster.yaml
  .circleci/devcluster/single-k8s.devcluster.yaml
  docs/release-notes/add-host-port-scheme-to-helm.rst
  docs/setup-cluster/k8s/setup-multiple-resource-managers.rst
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
  master/cmd/determined-master/root.go
  master/cmd/determined-master/root_test.go
  master/internal/config/resource_manager_config.go
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
  tools/k8s/devcluster.yaml
  tools/k8s/multicluster.yaml
  tools/k8s/remote_connect.py
Labels: documentation, cla-signed

#10125 chore: add checkpoint and max slots config policy enforcements in PATCH experiment
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/configpolicy/postgres_task_config_policy.go
  master/internal/configpolicy/postgres_task_config_policy_intg_test.go
  master/internal/configpolicy/utils.go
  master/internal/configpolicy/utils_test.go
  master/internal/experiment.go
Labels: cla-signed

#10134 revert: "chore: determined_master_host and friends helm support, better defaults"
  .circleci/devcluster/multi-k8s.devcluster.yaml
  .circleci/devcluster/single-k8s.devcluster.yaml
  docs/release-notes/add-host-port-scheme-to-helm.rst
  docs/setup-cluster/k8s/setup-multiple-resource-managers.rst
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
  master/cmd/determined-master/root.go
  master/cmd/determined-master/root_test.go
  master/internal/config/resource_manager_config.go
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
  tools/k8s/devcluster.yaml
  tools/k8s/multicluster.yaml
  tools/k8s/remote_connect.py
Labels: documentation, cla-signed

#10101 feat: add master configurations for access token max and default lifespans [DET-10464]
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes/api-cli-access-token.rst
  harness/determined/cli/token.py
  helm/charts/determined/values.yaml
  master/internal/api_token.go
  master/internal/api_token_intg_test.go
  master/internal/api_user_intg_test.go
  master/internal/config/config.go
  master/internal/token/postgres_token.go
  master/internal/token/postgres_token_intg_test.go
  proto/buf.image.bin
  proto/pkg/apiv1/token.pb.go
  proto/src/determined/api/v1/token.proto
Labels: documentation, cla-signed

#10139 build: INFENG-938: Tweak version string format
  .circleci/real_config.yml
Labels: cla-signed

#10141 build: INFENG-937: Publish Helm chart release candidates
  .circleci/real_config.yml
  helm/Makefile
Labels: cla-signed

#10143 build: INFENG-940: Fix logic error in CircleCI config make-component job
  .circleci/real_config.yml
Labels: cla-signed

#10142 build: INFENG-938: Update version format in Makefiles
  agent/Makefile
  helm/Makefile
  master/Makefile
Labels: cla-signed

#10032 test: rbac config [TESTENG-108]
  .circleci/devcluster/react-rbac.devcluster.yaml
  .circleci/real_config.yml
  webui/react/src/e2e/fixtures/api.roles.fixture.ts
  webui/react/src/e2e/fixtures/auth.fixture.ts
  webui/react/src/e2e/fixtures/global-fixtures.ts
  webui/react/src/e2e/fixtures/user.fixture.ts
  webui/react/src/e2e/models/pages/DefaultRoute.ts
  webui/react/src/e2e/tests/auth.spec.ts
  webui/react/src/e2e/tests/navigation.spec.ts
  webui/react/src/e2e/utils/rbac.ts
Labels: cla-signed

#10145 build: INFENG-942: Conditionally bypass build-react job checks
  .circleci/real_config.yml
Labels: cla-signed

#10138 feat: determined_master_host and friends helm support, better defaults
  .circleci/devcluster/multi-k8s.devcluster.yaml
  .circleci/devcluster/single-k8s.devcluster.yaml
  docs/release-notes/add-host-port-scheme-to-helm.rst
  docs/setup-cluster/k8s/setup-multiple-resource-managers.rst
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
  master/cmd/determined-master/root.go
  master/cmd/determined-master/root_test.go
  master/internal/config/resource_manager_config.go
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
  tools/k8s/devcluster.yaml
  tools/k8s/multicluster.yaml
  tools/k8s/remote_connect.py
Labels: documentation, cla-signed

#10146 build: INFENG-943: GoReleaser configure prerelease
  helm/.goreleaser.yml
  helm/.goreleaser_ee.yml
Labels: cla-signed

#10067 test: make explist e2e sort test more reliable
  webui/react/src/components/MultiSortMenu.tsx
  webui/react/src/e2e/tests/experimentList.spec.ts
Labels: cla-signed

#10149 fix: error message fix for duplicate model name
  master/internal/api_model.go
Labels: cla-signed, backport release-0.38.0

#10061 test: introduce api search e2e test fixture
  webui/react/src/e2e/fixtures/api.project.fixture.ts
  webui/react/src/e2e/fixtures/api.search.fixture.ts
  webui/react/src/e2e/fixtures/api.ts
  webui/react/src/e2e/fixtures/api.user.fixture.ts
  webui/react/src/e2e/fixtures/api.workspace.fixture.ts
  webui/react/src/e2e/fixtures/global-fixtures.ts
Labels: cla-signed

#10153 docs: checkpoint storage note for config policies
  docs/manage/config-policies.rst
Labels: documentation, cla-signed

#10155 fix: fix iris example to use reported metric name
  examples/computer_vision/iris_tf_keras/adaptive.yaml
Labels: cla-signed, backport release-0.38.0

#10086 feat: Get Groups with basic aggregation
  harness/determined/common/api/bindings.py
  master/internal/api_runs.go
  master/internal/api_runs_intg_test.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/run.pb.go
  proto/pkg/runv1/run.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/run.proto
  proto/src/determined/run/v1/run.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#10105 chore: change det deploy aws's default deployment type to simple-rds
  harness/determined/deploy/aws/aws.py
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/constants.py
  harness/determined/deploy/aws/deployment_types/simple.py
Labels: cla-signed, backport release-0.38.0

#10164 fix: swap latest main and preview clusters to RDS
  .circleci/real_config.yml
Labels: cla-signed

#10140 fix: set max slots and checkpoint gc policy should comply with config policies
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/configpolicy/postgres_task_config_policy.go
  master/internal/configpolicy/postgres_task_config_policy_intg_test.go
  master/internal/configpolicy/utils.go
  master/internal/configpolicy/utils_test.go
  master/internal/experiment.go
Labels: cla-signed, to-cherry-pick, backport release-0.38.0

#10161 fix: fix diffusion example [DET-10470]
  e2e_tests/tests/nightly/test_distributed.py
  examples/diffusion/textual_inversion_stable_diffusion/detsd/pipeline.py
  examples/diffusion/textual_inversion_stable_diffusion/generate_grid.yaml
Labels: cla-signed, backport release-0.38.0

#10172 fix: ban archive columns in filter for experiment/search search
  webui/react/src/components/Searches/Searches.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Labels: cla-signed

#10173 fix: client.logout() re-enables client.login()
  harness/determined/experimental/client.py
Labels: cla-signed, backport release-0.38.0

#10168 chore: ignore test_e2e_longrunning tests when merging auto-backports
  .github/workflows/backport.yaml
Labels: cla-signed, backport release-0.38.0

#10178 docs: known issue of tb_plugin
  docs/release-notes/pytorch-tensorboard-plugin.rst
Labels: documentation, cla-signed, backport release-0.38.0
