Repository determined-ai/determined, pull requests merged in 2024-06, with the labels that each got.

#9461 fix: job queue's allocated slots should be correct after restarts
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
Labels: cla-signed

#9390 chore: run bulk action interstitial component
  webui/react/src/components/InterstitialModalComponent.tsx
  webui/react/src/components/RunFilterInterstitialModalComponent.test.tsx
  webui/react/src/components/RunFilterInterstitialModalComponent.tsx
  webui/react/src/components/RunMoveWarningModalComponent.test.tsx
  webui/react/src/components/RunMoveWarningModalComponent.tsx
  webui/react/src/hooks/useTypedParams.test.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
  webui/react/src/setupTests.ts
  webui/react/src/utils/mergeAbortControllers.test.ts
  webui/react/src/utils/mergeAbortControllers.ts
Labels: cla-signed

#9445 docs: clarify data collected by telemetry
  docs/reference/deploy/common-config-options.rst
Labels: documentation, cla-signed

#9436 feat: add SearchDetails page (ET-53)
  webui/react/src/components/Searches/columns.ts
  webui/react/src/components/TableActionBar.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/SearchDetails.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/TrialDetails/Header/TrialHeaderLeft.tsx
  webui/react/src/routes/index.tsx
  webui/react/src/routes/routes.ts
  webui/react/src/routes/utils.ts
Labels: cla-signed, feature-flagged

#9426 chore: no longer store ee artifacts in circleCI
  .circleci/real_config.yml
Labels: cla-signed

#9440 fix: Revert to get_checkpoints.sql call to enable NaN & Infinity values in searcher metric
  master/internal/api_checkpoint.go
  master/internal/api_checkpoint_intg_test.go
  master/internal/api_model.go
  master/internal/db/postgres_experiments.go
  master/static/srv/get_checkpoint.sql
Labels: cla-signed

#9448 chore: limit deploying gw resources to rank0 pods
  e2e_tests/tests/cluster/test_proxy.py
  e2e_tests/tests/fixtures/ports-proxy/config.yaml
  e2e_tests/tests/fixtures/ports-proxy/start.py
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
Labels: cla-signed

#9467 chore: deprecate PPC64/POWER builds
  agent/.goreleaser.yml
  agent/.goreleaser_ee.yml
  agent/Makefile
  docs/release-notes/deprecate-ppc64.rst
  master/.goreleaser.yml
  master/.goreleaser_ee.yml
  master/Makefile
Labels: documentation, cla-signed

#9435 feat: remove genai from experimental feature list and enable via `/master` feature switches [GAS-1016]
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/UserSettings.tsx
  webui/react/src/hooks/useFeature.ts
Labels: cla-signed

#9466 fix: job state shows as scheduled when resources are allocated
  docs/release-notes/job-state.rst
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/jobs_test.go
Labels: documentation, cla-signed

#9470 docs: correct release note for deprecating PPC64/POWER builds
  docs/release-notes/deprecate-ppc64.rst
Labels: documentation, cla-signed

#9473 chore: switch to mockery config file
  master/.mockery.yaml
  master/Makefile
Labels: cla-signed

#9474 chore: bump up default gw listeners to 128
  tools/k8s/gateways/contour-provisioner.yaml
  tools/k8s/gateways/envoy-gw.sh
  tools/k8s/gateways/get-and-patch-gateway-crds.sh
  tools/k8s/gateways/gw-epic.sh
  tools/k8s/gateways/utils.sh
  tools/k8s/launch-minikube-with-gateway.sh
Labels: cla-signed

#9471 test: cherry pick port registry tests
  e2e_tests/tests/cluster/test_proxy.py
  e2e_tests/tests/fixtures/ports-proxy/config.yaml
  e2e_tests/tests/fixtures/ports-proxy/start.py
Labels: cla-signed

#9476 docs: remove all references to PowerPC/PPC64
  docs/tutorials/quickstart-mdldev.rst
Labels: documentation, cla-signed

#9226 feat: implement commands and API endpoints for creating workspace-namespace bindings
  .circleci/devcluster/multi-k8s.devcluster.yaml
  e2e_tests/tests/cluster/test_workspace_org.py
  e2e_tests/tests/config.py
  e2e_tests/tests/conftest.py
  harness/determined/cli/workspace.py
  harness/determined/common/api/bindings.py
  master/Makefile
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/config/config_test.go
  master/internal/config/dispatcher_resource_manager_config.go
  master/internal/config/resource_config.go
  master/internal/config/resource_config_test.go
  master/internal/config/resource_manager_config.go
  master/internal/core.go
  master/internal/db/postgres_rbac_intg_test.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/dispatcherrm/dispatcher_resource_manager.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/request_queue.go
  master/internal/rm/kubernetesrm/request_queue_test.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/multirm/multirm_intg_test.go
  master/internal/rm/resource_manager_iface.go
  master/internal/rm/rmerrors/errors.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
  master/internal/workspace/authz_permissive.go
  master/internal/workspace/authz_rbac.go
  master/internal/workspace/postgres_workspace.go
  master/internal/workspace/postgres_workspace_intg_test.go
  master/pkg/model/workspace.go
  master/static/migrations/20240603154709_add-workspace-namespace-binding-perms.tx.up.sql
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/workspace.pb.go
  proto/pkg/rbacv1/rbac.pb.go
  proto/pkg/workspacev1/workspace.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/workspace.proto
  proto/src/determined/rbac/v1/rbac.proto
  proto/src/determined/workspace/v1/workspace.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#9322 ci: lower hf trainer accuracy target + improve failure messages
  e2e_tests/tests/nightly/test_convergence.py
  e2e_tests/tests/run/test_api.py
Labels: cla-signed

#9463 test: readme and test name revisions [TESTENG-5]
  webui/react/src/e2e/tests/userManagement.spec.ts
Labels: cla-signed

#9484 test: update playwright [TESTENG-4]
  package-lock.json
  package.json
Labels: cla-signed

#9442 chore: remove bumpversion for setup.py and __version__.py [INFENG-704]
  .bumpversion.cfg
  harness/determined/__init__.py
  harness/determined/__version__.py
  harness/pyproject.toml
  harness/setup.py
  model_hub/model_hub/__version__.py
  model_hub/pyproject.toml
  model_hub/setup.py
  requirements.txt
Labels: cla-signed

#9460 chore: INFENG-709: Remove CloudFormation bumpversion
  .bumpversion.cfg
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
Labels: cla-signed

#9329 chore: cleanup auto-created namespaces during workspace deletion
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/templates/master-deployment.yaml
  helm/charts/determined/values.yaml
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/dispatcherrm/dispatcher_resource_manager.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/resource_manager_iface.go
  master/internal/workspace/postgres_workspace_intg_test.go
Labels: cla-signed

#9490 tc: Test format
  docs/integrations/observability/_index.rst
  docs/integrations/prometheus/_index.rst
Labels: documentation, cla-signed

#9481 Reattach gateways
  harness/determined/exec/prep_container.py
  master/internal/rm/kubernetesrm/gateway_service.go
  master/internal/rm/kubernetesrm/gateway_service_test.go
  master/internal/rm/kubernetesrm/gateway_spec.go
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/request_queue.go
  master/internal/rm/kubernetesrm/request_workers.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
  master/internal/task/allocation.go
Labels: cla-signed

#9483 fix: pin huggingface version to <0.23.0
  examples/diffusion/textual_inversion_stable_diffusion/requirements.txt
  examples/diffusion/textual_inversion_stable_diffusion/startup-hook.sh
  examples/features/torch_batch_process_embeddings/requirements.txt
  examples/hf_trainer_api/hf_image_classification/requirements.txt
  examples/hf_trainer_api/hf_language_modeling/requirements.txt
Labels: cla-signed

#9134 feat: add custom key to projects table, backfilling based on current project name, and API support
  harness/determined/cli/project.py
  harness/determined/cli/workspace.py
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/project.py
  harness/determined/common/streams/wire.py
  harness/tests/common/streams/test_client.py
  harness/tests/fixtures/project.json
  master/internal/api_project.go
  master/internal/api_project_intg_test.go
  master/internal/db/postgres.go
  master/internal/project/authz_basic_impl.go
  master/internal/project/authz_iface.go
  master/internal/project/authz_permissive.go
  master/internal/project/authz_rbac.go
  master/internal/project/postgres_project.go
  master/internal/project/postgres_project_intg_test.go
  master/internal/stream/projects.go
  master/pkg/model/project.go
  master/pkg/random/string.go
  master/static/migrations/20240530112249_add-custom-project-key.tx.up.sql
  master/static/srv/get_project.sql
  master/static/srv/get_workspace_projects.sql
  master/static/srv/insert_project.sql
  master/static/srv/update_project.sql
  master/static/views_and_triggers/up/project.sql
  master/test/streamdata/stream_data.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/project.pb.go
  proto/pkg/projectv1/project.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/project.proto
  proto/src/determined/project/v1/project.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#9495 test: preparing a homework assignment [TESTENG-4]
  webui/react/src/e2e/README.md
  webui/react/src/e2e/tests/experimentList.spec.ts
Labels: cla-signed

#9164 chore: avoid payload limitation
  master/internal/stream/model_versions.go
  master/internal/stream/models.go
  master/internal/stream/projects.go
  master/internal/stream/publisher.go
  master/internal/stream/subscription.go
  master/internal/stream/test_util.go
  master/pkg/stream/stream.go
  master/pkg/stream/stream_test.go
  master/static/views_and_triggers/up/model.sql
  master/static/views_and_triggers/up/project.sql
Labels: cla-signed

#9497 fix: use num pods in k8 job summary
  master/internal/rm/kubernetesrm/resource_pool.go
Labels: cla-signed

#9479 fix: run columns mismatching sort/filter columns for run table
  master/internal/api_project.go
  master/internal/api_runs.go
  master/internal/api_runs_intg_test.go
  master/internal/experiment_filter.go
Labels: cla-signed

#9487 fix: Searches view fixes (ET-297)
  webui/react/src/components/Searches/Searches.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.settings.ts
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/pages/FlatRuns/columns.ts
  webui/react/src/pages/SearchDetails.tsx
Labels: cla-signed, feature-flagged

#9261 feat: add cluster-wide message
  docs/release-notes/cluster-message.rst
  docs/tools/webui-if.rst
  e2e_tests/tests/cluster/test_cluster_message.py
  harness/determined/cli/master.py
  harness/determined/common/api/bindings.py
  master/internal/api_master.go
  master/internal/db/postgres_clustermessage.go
  master/internal/db/postgres_clustermessage_intg_test.go
  master/pkg/model/maintenance_message.go
  master/static/migrations/20240606110238_server-cluster-message.tx.up.sql
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/master.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/master.proto
  webui/react/src/App.module.scss
  webui/react/src/App.tsx
  webui/react/src/components/ClusterMessage.module.scss
  webui/react/src/components/ClusterMessage.test.tsx
  webui/react/src/components/ClusterMessage.tsx
  webui/react/src/components/Navigation.module.scss
  webui/react/src/components/Navigation.tsx
  webui/react/src/components/Page.module.scss
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/stores/determinedInfo.tsx
Labels: documentation, cla-signed, User-facing API Change

#9499 docs: gateway doc changes p2
  docs/setup-cluster/k8s/internal-task-gateway.rst
  docs/setup-cluster/k8s/setup-multiple-resource-managers.rst
  master/internal/rm/kubernetesrm/gateway_service.go
  master/internal/rm/kubernetesrm/spec.go
  tools/k8s/gateways/envoy-gw.sh
  tools/k8s/gateways/get-and-patch-gateway-crds.sh
  tools/k8s/gateways/gw-epic.sh
  tools/k8s/gateways/utils.sh
Labels: documentation, cla-signed

#9501 fix: ensure number of project keys possible for testing is not exceeded
  master/internal/api_project_intg_test.go
Labels: cla-signed

#9393 chore: check non-multiples of slots per pod for kubernetes rm [MD-403]
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
Labels: cla-signed

#9505 test: upload unit and intg tests to datadog[infeng-501]
  .circleci/real_config.yml
Labels: cla-signed

#9503 chore: remove debug logs that were accidentally committed
  master/internal/api_trials.go
Labels: cla-signed

#9508 fix: mockery new fmt
  master/.mockery.yaml
Labels: cla-signed

#9459 test: collect det task logs as artifacts for ci jobs
  .circleci/real_config.yml
  .circleci/scripts/collect_logs.py
Labels: cla-signed

#9421 ci: fix some failing long-running tests related to password requirements
  .circleci/real_config.yml
  e2e_tests/tests/deploy/test_local.py
  tools/slurm/scripts/slurmcluster.yaml
Labels: cla-signed

#9485 chore: change cluster name in jobService and resourcePool initialization
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
Labels: cla-signed

#9506 chore: remove need for explicit singluar podPort tracking
  e2e_tests/tests/cluster/test_proxy.py
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
Labels: cla-signed

#9512 chore: cleanup notebook proxy feature branch
  docs/setup-cluster/k8s/install-on-kubernetes.rst
  docs/setup-cluster/k8s/internal-task-gateway.rst
  master/Makefile
  master/internal/config/resource_manager_config.go
  master/internal/rm/kubernetesrm/gateway_service.go
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/mock_client_test.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
  master/pkg/check/check_string.go
  master/pkg/check/check_test.go
  tools/k8s/gateways/contour-provisioner.yaml
  tools/k8s/launch-minikube-with-gateway.sh
Labels: documentation, cla-signed

#8842 fix: allow doesnotcontains filters on hyperparameter column
  master/internal/api_experiment_intg_test.go
  master/internal/experiment_filter.go
Labels: cla-signed

#9130 feat: add arbitrary metadata GET/POST endpoints
  harness/determined/common/api/bindings.py
  harness/determined/core/_train.py
  master/internal/api_experiment.go
  master/internal/api_runs.go
  master/internal/api_runs_intg_test.go
  master/internal/db/postgres_runs.go
  master/internal/db/postgres_trial.go
  master/internal/run/postgres_run_intg_test.go
  master/internal/run/runs.go
  master/internal/run/runs_test.go
  master/pkg/model/experiment.go
  master/pkg/model/run.go
  master/static/migrations/20240613095741_add-arbitrary-metadata-table.tx.up.sql
  master/static/srv/proto_get_trials_plus.sql
  master/static/views_and_triggers/runs.sql
  master/static/views_and_triggers/up/metrics.sql
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/run.pb.go
  proto/pkg/runv1/run.pb.go
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/run.proto
  proto/src/determined/run/v1/run.proto
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#9468 fix: partially scheduled k8s jobs should display as queued
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
Labels: cla-signed

#9523 docs: Fix broken links
  docs/model-dev-guide/dtrain/dtrain-introduction.rst
  docs/model-dev-guide/hyperparameter/search-methods/_index.rst
  docs/release-notes.rst
  docs/setup-cluster/slurm/slurm-known-issues.rst
  docs/tutorials/pachyderm-cat-dog.rst
Labels: documentation, cla-signed

#9522 fix: historical allocations not appearing
  master/static/srv/update_aggregated_allocation.sql
Labels: cla-signed

#9519 feat: warn users to change their passwords [DET-10216]
  harness/determined/cli/user.py
  harness/determined/common/api/authentication.py
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/types.ts
  webui/react/src/utils/user.ts
Labels: cla-signed

#9504 chore: remove hyperparameters from projects table
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/experiment/bulk_action.go
  master/static/migrations/20240612111717_remove-project-hparams-column.tx.up.sql
Labels: cla-signed

#9493 feat: remove round robin scheduler for agentrm
  docs/get-started/architecture/introduction.rst
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes/deprecate-roundrobin.rst
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/config/resource_config_test.go
  master/internal/config/scheduler_config.go
  master/internal/config/scheduler_config_test.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agents.go
  master/internal/rm/agentrm/round_robin.go
  master/internal/rm/agentrm/round_robin_test.go
  master/internal/rm/agentrm/scheduler.go
  master/internal/rm/agentrm/scheduler_test.go
Labels: documentation, cla-signed

#9410 ci: add new feature signoff checkbox [INFENG-710] [skip-ci]
  .github/pull_request_template.md
Labels: cla-signed

#9489 chore: Improving SearchRuns performance when doing hyperparameter filtering
  master/internal/experiment_filter.go
  master/static/migrations/20240613152622_add-run-hparam-index.tx.up.sql
  performance/src/api_performance_tests.ts
Labels: cla-signed

#9428 feat: support node selectors & affinities for Kubernetes resource pools
  docs/release-notes/feature-node-selectors.rst
  docs/setup-cluster/k8s/custom-pod-specs.rst
  docs/setup-cluster/k8s/install-on-kubernetes.rst
  go.mod
  go.sum
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/jobs_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/resource_pool.go
Labels: documentation, cla-signed

#9517 docs: Clarify startuphook
  docs/model-dev-guide/api-guides/apis-howto/_index.rst
  docs/model-dev-guide/prepare-container/_index.rst
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/model-dev-guide/prepare-container/tensorflow-support.rst
Labels: documentation, cla-signed

#9527 fix: webui page height
  webui/react/src/App.module.scss
  webui/react/src/components/Page.module.scss
Labels: cla-signed

#9515 build: INFENG-726: generate versions.json for docs version switcher
  .bumpversion.cfg
  docs/Makefile
  docs/_static/version-switcher/.gitignore
  docs/_static/version-switcher/versions.json
  docs/gen-versions.py
Labels: documentation, cla-signed

#9530 test: increase timeouts for running experiments on k8s after env split
  e2e_tests/tests/cluster/managed_cluster_k8s.py
  e2e_tests/tests/cluster/test_agent_disable.py
  e2e_tests/tests/cluster/utils.py
Labels: cla-signed

#9520 refactor: remove DataGrid pagination code (ET-259)
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/OptionsMenu.settings.ts
  webui/react/src/components/Searches/Searches.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Labels: cla-signed

#9526 chore: handle empty nested structs in run metadata as nil leaf nodes
  master/internal/run/runs.go
  master/internal/run/runs_test.go
Labels: cla-signed

#9513 fix: localize debounced settings updates
  webui/react/src/hooks/useDebouncedSettings.test.tsx
  webui/react/src/hooks/useDebouncedSettings.ts
  webui/react/src/hooks/useTypedParams.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.settings.ts
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/stores/userSettings.tsx
  webui/react/src/utils/asValueObject.ts
  webui/react/src/utils/iotsHelpers.ts
Labels: cla-signed

#9535 fix: Huggingface Trust Remote Repo
  examples/hf_trainer_api/hf_image_classification/adaptive.yaml
  examples/hf_trainer_api/hf_image_classification/const.yaml
  examples/hf_trainer_api/hf_image_classification/const_epochs.yaml
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_image_classification/distributed.yaml
  examples/hf_trainer_api/hf_image_classification/image_classification.py
  examples/hf_trainer_api/hf_language_modeling/adaptive.yaml
  examples/hf_trainer_api/hf_language_modeling/const.yaml
  examples/hf_trainer_api/hf_language_modeling/const_epochs.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/distributed.yaml
  examples/hf_trainer_api/hf_language_modeling/run_clm.py
Labels: cla-signed

#9469 feat: K8s allow proxying through Gateway
  .circleci/devcluster/multi-k8s.devcluster.yaml
  .circleci/real_config.yml
  docs/release-notes/gateway.rst
  docs/setup-cluster/k8s/_index.rst
  docs/setup-cluster/k8s/controller-reviews.rst
  docs/setup-cluster/k8s/install-on-kubernetes.rst
  docs/setup-cluster/k8s/internal-task-gateway.rst
  docs/setup-cluster/k8s/setup-multiple-resource-managers.rst
  e2e_tests/tests/cluster/test_proxy.py
  e2e_tests/tests/command/test_notebook.py
  e2e_tests/tests/command/test_shell.py
  e2e_tests/tests/fixtures/ports-proxy/config.yaml
  e2e_tests/tests/fixtures/ports-proxy/start.py
  go.mod
  go.sum
  harness/determined/cli/proxy.py
  harness/determined/exec/prep_container.py
  master/.mockery.yaml
  master/internal/config/resource_config_test.go
  master/internal/config/resource_manager_config.go
  master/internal/rm/kubernetesrm/gateway_service.go
  master/internal/rm/kubernetesrm/gateway_service_test.go
  master/internal/rm/kubernetesrm/gateway_spec.go
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/mock_client_test.go
  master/internal/rm/kubernetesrm/request_queue.go
  master/internal/rm/kubernetesrm/request_queue_test.go
  master/internal/rm/kubernetesrm/request_workers.go
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
  master/internal/task/allocation.go
  master/pkg/check/check_numbers.go
  master/pkg/check/check_string.go
  master/pkg/check/check_test.go
  tools/k8s/launch-minikube-with-gateway.sh
Labels: documentation, cla-signed

#9539 docs: address two link check failures
  docs/setup-cluster/k8s/controller-reviews.rst
Labels: documentation, cla-signed

#9540 test: det framework supports "nth" component [testeng-1]
  webui/react/src/e2e/models/BaseComponent.ts
  webui/react/src/e2e/models/BasePage.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
Labels: cla-signed

#9452 feat: enable token auth for Jupyter notebooks [MD-404]
  e2e_tests/tests/cluster/test_master_restart.py
  harness/determined/cli/notebook.py
  master/internal/api_auth.go
  master/internal/api_notebook.go
  master/internal/command/command.go
  master/internal/command/command_service.go
  master/internal/db/postgres_notebook_sessions.go
  master/internal/user/service.go
  master/pkg/model/notebook_session.go
  master/pkg/tasks/task_command.go
  master/static/migrations/20240617110754_notebook-tokens.tx.up.sql
  master/static/srv/check_idle.py
  master/static/srv/notebook-entrypoint.sh
Labels: cla-signed

#9543 pre-commit lint check fix
  master/static/srv/notebook-entrypoint.sh
Labels: cla-signed

#9509 fix: update getProjectColumns calls (ET-270)
  master/internal/api_project.go
  webui/react/src/components/ColumnPickerMenu.tsx
  webui/react/src/components/FilterForm/TableFilter.tsx
  webui/react/src/components/FilterForm/components/FilterFormStore.test.ts
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
  webui/react/src/components/MultiSortMenu.tsx
  webui/react/src/components/Searches/Searches.tsx
  webui/react/src/components/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/pages/FlatRuns/columns.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#9472 feat: add new Delete Workspace Namespace API Bindings CLI and API endpoint
  docs/release-notes/delete-namespace-bindings.rst
  e2e_tests/tests/cluster/test_workspace_org.py
  harness/determined/cli/workspace.py
  harness/determined/common/api/bindings.py
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/workspace.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/workspace.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: documentation, cla-signed

#9544 chore: Bumpenvs 8c90e80
  .circleci/real_config.yml
  .circleci/scripts/pull_image_daemonset.yaml
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/model-dev-guide/prepare-container/tensorflow-support.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  e2e_tests/tests/fixtures/ports-proxy/config.yaml
  e2e_tests/tests/nightly/test_distributed.py
  examples/computer_vision/iris_tf_keras/adaptive.yaml
  examples/computer_vision/iris_tf_keras/const.yaml
  examples/computer_vision/iris_tf_keras/distributed.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_cancelable.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_high_priority.yaml
  examples/deepspeed_autotune/torchvision/core_api/deepspeed.yaml
  examples/deepspeed_autotune/torchvision/deepspeed_trial/deepspeed.yaml
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  model_hub/Makefile
  model_hub/docker/Dockerfile.mmdetection
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/environments-target.txt
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: documentation, cla-signed

#9545 feat: add connect modal for notebook and shell tasks [MD-404]
  webui/react/src/components/TaskActionDropdown.tsx
  webui/react/src/components/TaskConnectModal.tsx
  webui/react/src/components/TaskList.tsx
  webui/react/src/types.ts
Labels: cla-signed

#9518 feat: det deploy local generates a password for you [DET-10197]
  docs/release-notes/deploy-local-auto-password.rst
  e2e_tests/tests/deploy/test_local.py
  harness/determined/deploy/local/cluster_utils.py
Labels: documentation, cla-signed, User-facing API Change

#9551 chore: fix boto3 requirement syntax
  docs/requirements.txt
Labels: documentation, cla-signed

#9538 fix: hide warning for weak password unless it actually applies [DET-10216]
  webui/react/src/components/DeterminedAuth.tsx
Labels: cla-signed

#9552 docs: Describe local password sec
  docs/_shared/basic-installation.txt
  docs/_shared/note-pip-install-determined.txt
  docs/model-dev-guide/api-guides/apis-howto/api-core-ug.rst
  docs/setup-cluster/_index.rst
  docs/setup-cluster/on-prem/options/wsl.rst
  docs/tutorials/pachyderm-cat-dog.rst
  docs/tutorials/quickstart-mdldev.rst
Labels: documentation, cla-signed

#9498 refactor: replace namespace with workspace-namespace metadata
  harness/determined/cli/workspace.py
  harness/determined/common/api/bindings.py
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/rm/kubernetesrm/jobs.go
  master/pkg/model/workspace.go
  proto/pkg/apiv1/workspace.pb.go
  proto/pkg/workspacev1/workspace.pb.go
  proto/src/determined/api/v1/workspace.proto
  proto/src/determined/workspace/v1/workspace.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#9525 fix: add validation to patching project key (ET-305)
  master/internal/api_project.go
  master/internal/api_project_intg_test.go
  master/internal/project/postgres_project.go
Labels: cla-signed

#9558 test: playwright timeout config [TESTENG-12]
  webui/react/playwright.config.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
Labels: cla-signed

#9565 chore: 0.34.0 bumpenvs
  .circleci/real_config.yml
  .circleci/scripts/pull_image_daemonset.yaml
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/model-dev-guide/prepare-container/tensorflow-support.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  e2e_tests/tests/fixtures/ports-proxy/config.yaml
  examples/computer_vision/iris_tf_keras/adaptive.yaml
  examples/computer_vision/iris_tf_keras/const.yaml
  examples/computer_vision/iris_tf_keras/distributed.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_cancelable.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_high_priority.yaml
  examples/deepspeed_autotune/torchvision/core_api/deepspeed.yaml
  examples/deepspeed_autotune/torchvision/deepspeed_trial/deepspeed.yaml
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/pkg/schemas/expconf/const.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/environments-target.txt
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: documentation, cla-signed

#9564 fix: return workspace name for breadcrumb in Project Details page
  master/internal/api_project_intg_test.go
  master/internal/project/postgres_project.go
Labels: cla-signed, to-cherry-pick

#9566 fix: add missing columns to workspace response [ET-301]
  master/internal/project/postgres_project.go
Labels: cla-signed

#9547 feat: add tabs to Uncategorized page (ET-310)
  webui/react/src/pages/ProjectDetails.tsx
Labels: cla-signed, feature-flagged

#9569 fix: do not modify cached GetAgentsResponse
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
  master/internal/rm/resource_manager_iface.go
Labels: cla-signed, to-cherry-pick

#9568 test: page title appendix in global fixture config [TESTENG-48]
  webui/react/src/e2e/fixtures/auth.fixture.ts
  webui/react/src/e2e/fixtures/global-fixtures.ts
  webui/react/src/e2e/models/common/base/BasePage.ts
  webui/react/src/e2e/models/pages/Admin/UserManagement.ts
  webui/react/src/e2e/models/pages/ProjectDetails.ts
  webui/react/src/e2e/models/pages/SignIn.ts
  webui/react/src/e2e/models/pages/WorkspaceList.ts
  webui/react/src/e2e/tests/auth.spec.ts
  webui/react/src/e2e/tests/navigation.spec.ts
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
Labels: cla-signed

#9550 fix: persist workspace id/name & experiment id for historic allocations [DET-10378]
  e2e_tests/tests/experiment/test_allocation_csv.py
  master/internal/command/command.go
  master/internal/command/command_intg_test.go
  master/internal/core.go
  master/internal/task/postgres_allocations.go
  master/internal/task/postgres_allocations_intg_test.go
  master/internal/trial.go
  master/internal/trial_intg_test.go
  master/pkg/model/task.go
  master/pkg/model/workspace.go
  master/static/migrations/20240617155550_add-allocation-workspace-table.tx.up.sql
Labels: cla-signed, to-cherry-pick

#9574 fix: correct workspace_id column type on allocation_workspace_info
  master/static/migrations/20240617155550_add-allocation-workspace-table.tx.up.sql
Labels: cla-signed, to-cherry-pick

#9571 fix: wrong notebook idleness payload [MD-447]
  docs/release-notes/idle.rst
  master/static/srv/check_idle.py
Labels: documentation, cla-signed, to-cherry-pick

#9570 test: workspace and project page model refactor [TESTENG-48]
  webui/react/src/e2e/fixtures/dev.fixture.ts
  webui/react/src/e2e/fixtures/global-fixtures.ts
  webui/react/src/e2e/fixtures/user.fixture.ts
  webui/react/src/e2e/models/common/ant/Tabs.ts
  webui/react/src/e2e/models/common/base/BasePage.ts
  webui/react/src/e2e/models/common/hew/Card.ts
  webui/react/src/e2e/models/common/hew/DataGrid.ts
  webui/react/src/e2e/models/components/ModelRegistry.ts
  webui/react/src/e2e/models/components/NavigationSideBar.ts
  webui/react/src/e2e/models/components/ProjectsPage.ts
  webui/react/src/e2e/models/components/ResourcePoolsPage.ts
  webui/react/src/e2e/models/components/TaskList.ts
  webui/react/src/e2e/models/components/TasksPage.ts
  webui/react/src/e2e/models/components/WorkspaceDetails.ts
  webui/react/src/e2e/models/components/WorkspacesList.ts
  webui/react/src/e2e/models/pages/Admin/UserManagement.ts
  webui/react/src/e2e/models/pages/Admin/index.ts
  webui/react/src/e2e/models/pages/Templates/TemplateList.ts
  webui/react/src/e2e/models/pages/WorkspaceDetails.ts
  webui/react/src/e2e/models/pages/WorkspaceDetails/ResourcePoolsBound.ts
  webui/react/src/e2e/models/pages/WorkspaceDetails/WorkspaceProjects.ts
  webui/react/src/e2e/models/pages/WorkspaceList.ts
  webui/react/src/e2e/models/pages/WorkspaceList/WorkspaceCard.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
Labels: cla-signed

#9546 fix: use post for searchRuns/use accurate multitrial detection
  e2e_tests/tests/run/test_api.py
  harness/determined/common/api/bindings.py
  performance/src/api_performance_tests.ts
  performance/src/utils/helpers.ts
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/src/determined/api/v1/api.proto
  webui/react/src/components/RunFilterInterstitialModalComponent.tsx
  webui/react/src/components/RunMoveWarningModalComponent.test.tsx
  webui/react/src/components/RunMoveWarningModalComponent.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
Labels: cla-signed

#9541 test: add `ConjunctionContainer` test cases
  webui/react/src/components/FilterForm/components/ConjunctionContainer.test.tsx
Labels: cla-signed

#9567 chore: add Nvidia drivers version matching test and bump env [MD-413]
  .circleci/real_config.yml
  .circleci/scripts/pull_image_daemonset.yaml
  .github/CODEOWNERS
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/model-dev-guide/prepare-container/tensorflow-support.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  e2e_tests/tests/environment/test_nvidia_driver.py
  e2e_tests/tests/fixtures/ports-proxy/config.yaml
  examples/computer_vision/iris_tf_keras/adaptive.yaml
  examples/computer_vision/iris_tf_keras/const.yaml
  examples/computer_vision/iris_tf_keras/distributed.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_cancelable.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_high_priority.yaml
  examples/deepspeed_autotune/torchvision/core_api/deepspeed.yaml
  examples/deepspeed_autotune/torchvision/deepspeed_trial/deepspeed.yaml
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/environments-target.txt
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: documentation, cla-signed

#9578 chore: Release 0.34.0 bumpenvs
  .circleci/real_config.yml
  .circleci/scripts/pull_image_daemonset.yaml
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/model-dev-guide/prepare-container/tensorflow-support.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  e2e_tests/tests/fixtures/ports-proxy/config.yaml
  examples/computer_vision/iris_tf_keras/adaptive.yaml
  examples/computer_vision/iris_tf_keras/const.yaml
  examples/computer_vision/iris_tf_keras/distributed.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_cancelable.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_high_priority.yaml
  examples/deepspeed_autotune/torchvision/core_api/deepspeed.yaml
  examples/deepspeed_autotune/torchvision/deepspeed_trial/deepspeed.yaml
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/pkg/schemas/expconf/const.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/environments-target.txt
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: documentation, cla-signed

#9579 chore: remove shared cluster test for circle ci
  .circleci/real_config.yml
Labels: cla-signed, to-cherry-pick

#9557 fix: Return number of runs in a given project for GetProjects
  harness/determined/common/api/bindings.py
  harness/tests/fixtures/project.json
  master/internal/project/postgres_project.go
  master/pkg/model/project.go
  master/static/srv/get_project.sql
  master/static/srv/get_workspace_projects.sql
  proto/pkg/projectv1/project.pb.go
  proto/src/determined/project/v1/project.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#9575 test: add missing initial_user_password value to circleci config
  .circleci/real_config.yml
Labels: cla-signed

#9587 fix: nvidia drivers version matching test failed in test-e2e-gke-single-gpu
  e2e_tests/tests/environment/test_nvidia_driver.py
Labels: cla-signed

#9368 feat: Flat Run Actions
  codecov.yml
  e2e_tests/tests/run/test_api.py
  harness/determined/common/api/bindings.py
  master/internal/api_runs.go
  master/internal/api_runs_intg_test.go
  performance/src/api_performance_tests.ts
  performance/src/utils/helpers.ts
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/runv1/run.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/run/v1/run.proto
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
  webui/react/src/components/InterstitialModalComponent.tsx
  webui/react/src/components/RunFilterInterstitialModalComponent.test.tsx
  webui/react/src/components/RunFilterInterstitialModalComponent.tsx
  webui/react/src/components/RunMoveWarningModalComponent.test.tsx
  webui/react/src/components/RunMoveWarningModalComponent.tsx
  webui/react/src/constants/states.ts
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/hooks/useTypedParams.test.tsx
  webui/react/src/pages/FlatRuns/FlatRunActionButton.test.tsx
  webui/react/src/pages/FlatRuns/FlatRunActionButton.tsx
  webui/react/src/pages/FlatRuns/FlatRunMoveModal.test.tsx
  webui/react/src/pages/FlatRuns/FlatRunMoveModal.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/SearchDetails.test.tsx
  webui/react/src/pages/SearchDetails.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.test.ts
  webui/react/src/services/decoder.ts
  webui/react/src/setupTests.ts
  webui/react/src/types.ts
  webui/react/src/utils/flatRun.test.ts
  webui/react/src/utils/flatRun.ts
  webui/react/src/utils/mergeAbortControllers.test.ts
  webui/react/src/utils/mergeAbortControllers.ts
  webui/react/src/utils/tests/generateTestData.ts
Labels: cla-signed

#9590 chore: Revert "remove circular dependence + correctly derive values"
  webui/react/src/pages/WorkspaceDetails.tsx
Labels: cla-signed

#9577 chore: disable mmdet test
  e2e_tests/tests/model_hub/test_mmdetection.py
Labels: cla-signed

#9588 fix: edit/move modals for projects in workspaces unexpectedly closes [DET-10388]
  webui/react/src/pages/WorkspaceDetails.tsx
Labels: cla-signed, to-cherry-pick

#9580 chore: change linters to handle Go 1.22 loopvar change [RM-353]
  agent/internal/containers/manager.go
  master/.golangci.yml
  master/internal/api/api_test.go
  master/internal/api_checkpoint.go
  master/internal/api_experiment.go
  master/internal/checkpoint_gc.go
  master/internal/db/postgres_tasks_intg_test.go
  master/internal/db/postgres_trial_profiler_metrics.go
  master/internal/experiment.go
  master/internal/rbac/rbac_intg_test.go
  master/internal/rm/agentrm/agent_state_test.go
  master/internal/rm/agentrm/agents.go
  master/internal/rm/agentrm/provisioner/aws/aws.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/multirm/multirm_intg_test.go
  master/internal/rm/rmevents/rmevents_test.go
  master/internal/task/tasklogger/logger_test.go
  master/pkg/model/agent_user_group.go
  master/pkg/schemas/expconf/schema_test.go
  master/pkg/searcher/grid_test.go
  master/pkg/searcher/util_test.go
Labels: cla-signed

#9581 fix: add numRuns to GetProjectsByUserActivity
  master/internal/api_project.go
Labels: cla-signed

#9561 docs: add release notes for 0.34.0
  docs/release-notes.rst
  docs/release-notes/cluster-message.rst
  docs/release-notes/deploy-local-auto-password.rst
  docs/release-notes/deprecate-ppc64.rst
  docs/release-notes/deprecate-roundrobin.rst
  docs/release-notes/feature-checkpointGC.rst
  docs/release-notes/feature-node-selectors.rst
  docs/release-notes/framework-splitting.rst
  docs/release-notes/gateway.rst
  docs/release-notes/idle.rst
  docs/release-notes/job-state.rst
  docs/release-notes/pods-to-jobs.rst
Labels: documentation, cla-signed

#9533 feat: Add Resource Allocation stats to trial detail
  harness/determined/common/api/bindings.py
  master/internal/api_tasks.go
  master/internal/api_tasks_intg_test.go
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/trial.proto
  webui/react/src/pages/ResourcePool/Topology.module.scss
  webui/react/src/pages/ResourcePool/Topology.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.module.scss
  webui/react/src/pages/TrialDetails/TrialInfoBox.test.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#9592 fix: Pause/Resume run test flake
  e2e_tests/tests/run/test_api.py
Labels: cla-signed, to-cherry-pick
