Repository determined-ai/determined, pull requests merged in 2024-01, with the labels that each got.

#8625 chore: update hew to 0.6.20
  webui/react/package-lock.json
  webui/react/package.json
Labels: cla-signed

#8588 chore: delete unused trials_augmented_view
  master/static/migrations/20240102114252_delete-trials-aug-view.tx.down.sql
  master/static/migrations/20240102114252_delete-trials-aug-view.tx.up.sql
Labels: cla-signed

#8609 chore: cli describe workspaces no longer also lists projects
  harness/determined/cli/workspace.py
Labels: cla-signed

#8629 fix: os.uname() not found on windows
  docs/integrations/ide/vscode.rst
  harness/determined/cli/shell.py
Labels: documentation, cla-signed

#8367 fix: remove UNSPECIFIED values from end-user enums
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/model.py
  harness/determined/common/experimental/trial.py
  harness/tests/test_sdk.py
Labels: cla-signed

#8630 chore: adds release note for breaking CLI experiment creation change
  docs/release-notes/allow-empty-model-definitions.rst
Labels: documentation, cla-signed, to-cherry-pick

#8623 docs: Mention examples in the git readme
  README.md
Labels: cla-signed

#8633 fix: reduce tfkeras iris const batch size
  examples/computer_vision/iris_tf_keras/const.yaml
Labels: cla-signed

#8606 docs: Document scim display name attribute
  docs/manage/security/scim.rst
  docs/manage/users-remote.rst
  docs/reference/deploy/master-config-reference.rst
Labels: documentation, cla-signed

#8632 chore: extend CLI NTSC timeout [MLG-870]
  harness/determined/cli/_util.py
  harness/determined/common/api/_util.py
Labels: cla-signed

#8637 docs: Add oidc note about uniqueness
  docs/reference/deploy/master-config-reference.rst
Labels: documentation, cla-signed

#8634 chore: Update hew to 0.6.21
  webui/react/package-lock.json
  webui/react/package.json
Labels: cla-signed, to-cherry-pick

#8635 fix: Changes on jobs table trigger cluster stats [WEB-1914]
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/JobQueue/ManageJob.tsx
  webui/react/src/pages/ResourcePool/ResourcepoolDetail.tsx
  webui/react/src/pages/ResourcePool/Topology.tsx
  webui/react/src/types.ts
Labels: cla-signed

#8642 chore: print TB status message to logs [MLG-1119]
  harness/determined/exec/tensorboard.py
Labels: cla-signed

#8443 feat(cli/deploy): add db snapshot flag for simple-rds [INFENG-269]
  .github/workflows/performance-tests.yml
  docs/release-notes/db-snapshot-flag.rst
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/constants.py
  harness/determined/deploy/aws/deployment_types/simple.py
  harness/determined/deploy/aws/templates/simple-rds.yaml
Labels: documentation, cla-signed

#8641 test: fix `test_tf_keras_parallel`.
  e2e_tests/tests/experiment/test_tf_keras.py
Labels: cla-signed

#8644 chore: broadcast unit tests
  master/pkg/stream/stream_test.go
Labels: cla-signed

#8626 fix: Trial metric chart series always have unique colors
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Labels: cla-signed

#8646 fix: Sort order in users.active column [DET-10048]
  webui/react/src/pages/Admin/UserManagement.tsx
Labels: cla-signed

#8645 fix(cli/deploy/simple-rds): set template default snapshot
  harness/determined/deploy/aws/templates/simple-rds.yaml
Labels: cla-signed

#8602 chore: add Go coverage ratchet to unit and integration tests
  .circleci/real_config.yml
  codecov.yml
Labels: cla-signed

#8648 chore: move postgres_command.go to command module
  master/internal/api_auth.go
  master/internal/api_tasks.go
  master/internal/command/postgres_command.go
  master/internal/command/postgres_command_intg_test
Labels: cla-signed

#8610 chore: add fall in and fall out tests
  master/internal/stream/system_intg_test.go
  master/internal/stream/test_util.go
  master/test/streamdata/stream_data.go
Labels: cla-signed

#8651 chore: improve string_to_bool help text of cli [MLG-1208]
  harness/determined/cli/trial.py
  harness/determined/cli/user.py
Labels: cla-signed

#8650 docs: Reorder the tutorials for visibility
  docs/setup-cluster/aws/install-on-aws.rst
  docs/tools/notebooks.rst
  docs/tutorials/_index.rst
Labels: documentation, cla-signed

#8627 fix: Check if loading before saying no workspaces / projects [WEB-1904]
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
  webui/react/src/pages/WorkspaceList.tsx
Labels: cla-signed

#8655 fix: replace View Logs link with useNavigate [WEB-1893]
  webui/react/src/components/TaskActionDropdown.tsx
Labels: cla-signed

#8639 chore: delete unused experiment fields
  master/internal/core_experiment.go
  master/internal/db/postgres_experiments.go
  master/pkg/model/experiment.go
  master/static/migrations/20240105121220_drop-exp-columns-git-model-packages.tx.down.sql
  master/static/migrations/20240105121220_drop-exp-columns-git-model-packages.tx.up.sql
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
Labels: cla-signed

#8654 fix: Revert "chore: Job/task displays Running instead of Scheduled"
  webui/react/src/constants/states.ts
Labels: cla-signed

#8663 fix: Add theme to TableFilterDropdown [WEB-1952]
  webui/react/src/components/Table/ResponsiveTable.tsx
  webui/react/src/components/Table/TableFilterDropdown.module.scss
  webui/react/src/components/Table/TableFilterDropdown.tsx
Labels: cla-signed, to-cherry-pick

#8667 fix: stop using distutils (for python 3.12) [MLG-1519]
  harness/determined/cli/experiment.py
  harness/determined/common/declarative_argparse.py
  harness/determined/common/util.py
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
  harness/determined/tensorboard/metric_writers/pytorch.py
Labels: cla-signed

#8496 feat: conditionally add genai to the sidebar
  harness/determined/deploy/aws/injector/master.yaml.tmpl
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/hooks/useFeature.ts
Labels: cla-signed

#8605 chore: Remove antd usage from determined [WEB-1723]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/CreateGroupModal.tsx
  webui/react/src/components/CreateUserModal.tsx
  webui/react/src/components/DeterminedAuth.module.scss
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/components/ExperimentContinueModal.tsx
  webui/react/src/components/HyperparameterSearchModal.tsx
  webui/react/src/components/OverviewStats.tsx
  webui/react/src/components/Table/Table.module.scss
  webui/react/src/components/Table/Table.tsx
  webui/react/src/pages/Admin/GroupManagement.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsage.module.scss
  webui/react/src/pages/Cluster/ClusterHistoricalUsage.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsageCsvModalComponent.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.module.scss
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.module.scss
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.module.scss
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.module.scss
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/JobQueue/ManageJob.module.scss
  webui/react/src/pages/JobQueue/ManageJob.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.module.scss
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/TrialDetails/MultiTrialDetailsHyperparameters.tsx
  webui/react/src/pages/WebhookList.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
  webui/react/src/pages/WorkspaceList.tsx
Labels: cla-signed

#8652 style: reformat `det (n|t|s|c)` arguments code.
  harness/determined/cli/notebook.py
  harness/determined/cli/remote.py
  harness/determined/cli/shell.py
Labels: cla-signed

#8590 chore: update comments
  master/internal/stream/projects.go
Labels: cla-signed

#8562 feat: add `det e unpause` alias.
  harness/determined/cli/experiment.py
Labels: cla-signed

#8653 fix: don't drop active_user on expired tokens [MLG-1494]
  harness/determined/common/api/authentication.py
  harness/tests/cli/test_auth.py
  harness/tests/cli/util.py
  harness/tests/common/api/auth_v0.json
  harness/tests/common/api/test_authentication.py
  harness/tests/common/api/test_certs.py
Labels: cla-signed

#8577 chore: Add warning to Patch Master config to specify changes are ephemeral
  harness/determined/cli/master.py
  harness/determined/common/api/bindings.py
  master/internal/api_master.go
  proto/buf.image.bin
  proto/pkg/apiv1/master.pb.go
  proto/src/determined/api/v1/master.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#8671 docs: add release notes for 0.27.0
  docs/release-notes.rst
  docs/release-notes/allow-empty-model-definitions.rst
  docs/release-notes/checkpoint-fs-server-download.rst
Labels: documentation, cla-signed

#8657 chore: reinstate original DuplicateError to postgres_users.go
  master/internal/api/error.go
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/user/postgres_users.go
  master/internal/user/postgres_users_intg_test.go
  master/internal/user/service.go
  master/internal/user/service_intg_test.go
Labels: cla-signed

#8546 fix: Helm master-service clusterip mngt. openshift
  helm/charts/determined/templates/master-service.yaml
Labels: cla-signed

#8673 chore: delete unused project model
  master/static/migrations/20240110104459_delete-unused-project-model.tx.down.sql
  master/static/migrations/20240110104459_delete-unused-project-model.tx.up.sql
  proto/buf.image.bin
  proto/pkg/projectv1/project.pb.go
  proto/src/determined/project/v1/project.proto
Labels: cla-signed

#8661 fix: wait on algolia search upload
  docs/deploy/scrape.py
Labels: documentation, cla-signed

#8649 feat: `det (notebook|tensorboard|shell|command) ls --sort-by ...` [DET-6126]
  .git-blame-ignore-revs
  harness/.flake8
  harness/determined/cli/__init__.py
  harness/determined/cli/cli.py
  harness/determined/cli/command.py
  harness/determined/cli/experiment.py
  harness/determined/cli/notebook.py
  harness/determined/cli/ntsc.py
  harness/determined/cli/remote.py
  harness/determined/cli/shell.py
  harness/determined/cli/task.py
  harness/determined/cli/tensorboard.py
  harness/tests/cli/test_cli.py
Labels: cla-signed

#8613 feat: add health check for genai deployments
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/deployment_types/vpc.py
  harness/determined/deploy/healthcheck.py
Labels: cla-signed

#8672 fix: break out stopping... states from stopped states in webui
  webui/react/src/components/ExperimentIcons.tsx
Labels: cla-signed

#8628 fix: use FixedSizeList for column picker
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.module.scss
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
Labels: cla-signed

#8668 fix: Remove out of place spinner at dashboard page
  webui/react/src/pages/Dashboard.tsx
Labels: cla-signed

#8665 feat: Truncate and pad cell values in glide table [WEB-1778]
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/textCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/index.tsx
Labels: cla-signed

#8675 fix: update helm chart for new logo
  helm/charts/determined/Chart.yaml
Labels: cla-signed

#8682 fix: HP ScatterPlots show unnecessary scrollbar
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpScatterPlots.module.scss
Labels: cla-signed

#8678 feat: set jupyter notebook file browser root to `/`.
  docs/release-notes/jupyter-root.rst
  master/static/srv/notebook-entrypoint.sh
Labels: documentation, cla-signed

#8686 chore: update helm image path to use main branch
  helm/charts/determined/Chart.yaml
Labels: cla-signed

#8681 fix: add zmq heartbeat in DistributedContext [MLG-1133]
  harness/determined/ipc.py
Labels: cla-signed

#8636 chore: improve error message for continuing a completed hp search [DET-10041]
  e2e_tests/tests/cluster/test_exp_continue.py
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
Labels: cla-signed

#8691 test: make compute_stats have a min tolerance of 3 seconds
  e2e_tests/tests/nightly/compute_stats.py
Labels: cla-signed

#8683 fix: Trial APIs `--local` should respect `.detignore`. [MLG-1352]
  harness/determined/common/context.py
  harness/determined/common/detignore.py
  harness/determined/common/v1file_utils.py
  harness/determined/util.py
  harness/tests/filetree.py
  harness/tests/test_imports.py
  harness/tests/test_util.py
Labels: cla-signed

#8692 fix: docs version switcher [MLG-1524]
  docs/requirements.txt
Labels: documentation, cla-signed

#8693 docs: fix a few hyperlinks in the Python SDK reference.
  docs/reference/python-sdk.rst
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/model.py
  harness/determined/common/experimental/trial.py
  harness/determined/common/experimental/user.py
  harness/determined/experimental/client.py
Labels: documentation, cla-signed

#8697 docs: Fix broken ext link
  docs/setup-cluster/k8s/setup-eks-cluster.rst
Labels: documentation, cla-signed

#8660 docs: Update references to RHEL and CentOS to Enterprise Linux
  docs/setup-cluster/on-prem/options/linux-packages.rst
Labels: documentation, cla-signed

#8701 chore: bumpenvs 0.27.1
  .circleci/real_config.yml
  docs/model-dev-guide/api-guides/apis-howto/_index.rst
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/reference/training/experiment-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/on-prem/options/linux-packages.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/update-bumpenvs-yaml.py
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: documentation, cla-signed

#8699 fix: playwright fix
  .circleci/real_config.yml
  webui/react/Makefile
Labels: cla-signed

#8674 chore: TrialsComparisonModal style fixes [WEB-1919] [WEB-1909]
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.module.scss
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
Labels: cla-signed

#8698 chore: remove unused files
  webui/react/src/components/AuthToken.module.scss
  webui/react/src/components/GridListRadioGroup.module.scss
  webui/react/src/components/HpSelect.module.scss
  webui/react/src/components/HpSelect.tsx
  webui/react/src/components/Label.tsx
  webui/react/src/components/LoadingWrapper.module.scss
  webui/react/src/components/LoadingWrapper.tsx
  webui/react/src/components/UPlot/SyncProvider.tsx
  webui/react/src/components/UPlot/UPlotChart.tsx
  webui/react/src/pages/ClusterLogs.module.scss
  webui/react/src/pages/ClusterLogs.tsx
  webui/react/src/pages/TrialDetails/Profiles/Profiler.tsx
  webui/react/src/pages/TrialDetails/TrialChart.module.scss
Labels: cla-signed

#8700 fix: fix CreateExperiment for Remote Users
  master/internal/api_experiment.go
  master/internal/experiment.go
  master/pkg/tasks/task.go
  master/pkg/tasks/task_test.go
Labels: cla-signed, to-cherry-pick

#8695 chore: Replace custom archived note with Hew badge [WEB-1886]
  webui/react/src/components/ProjectCard.module.scss
  webui/react/src/components/ProjectCard.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceCard.module.scss
  webui/react/src/pages/WorkspaceList/WorkspaceCard.tsx
Labels: cla-signed

#8658 docs: Overhaul WSL deployment instructions
  docs/setup-cluster/on-prem/options/wsl.rst
Labels: documentation, cla-signed

#8662 docs: Update Linux distros, add WSL, and archs to Quickstart
  docs/tutorials/quickstart-mdldev.rst
Labels: documentation, cla-signed

#8659 docs: Update Docker Installation Instructions
  docs/setup-cluster/on-prem/requirements.rst
Labels: documentation, cla-signed

#8703 [docs] Update docs to pass linter
  docs/setup-cluster/on-prem/options/wsl.rst
  docs/setup-cluster/on-prem/requirements.rst
  docs/tutorials/quickstart-mdldev.rst
Labels: documentation, cla-signed

#8704 Revert "docs: Update docs to pass linter"
  docs/setup-cluster/on-prem/options/wsl.rst
  docs/setup-cluster/on-prem/requirements.rst
  docs/tutorials/quickstart-mdldev.rst
Labels: documentation, cla-signed

#8702 fix: restore original user store poll on leaving workspace details
  webui/react/src/pages/WorkspaceDetails.tsx
Labels: cla-signed

#8705 docs: Update docs to pass linter
  docs/setup-cluster/on-prem/options/wsl.rst
  docs/setup-cluster/on-prem/requirements.rst
  docs/tutorials/quickstart-mdldev.rst
Labels: documentation, cla-signed

#8712 fix: Update hew for chart fix, avoid error from Typography.Label
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/HyperparameterSearchModal.tsx
  webui/react/src/components/OverviewStats.tsx
Labels: cla-signed, to-cherry-pick

#8706 chore: Replace antd reset.css with modern-normalize
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/App.tsx
Labels: cla-signed

#8708 docs: fix references on children of "training reference" root
  docs/reference/training/api-det-reference.rst
  docs/reference/training/api-pytorch-reference.rst
Labels: documentation, cla-signed

#8709 fix: support `CommandState` for experiment icon
  webui/react/src/components/ExperimentIcons.tsx
Labels: cla-signed, to-cherry-pick

#8676 chore: Upgrade to vite 5
  webui/react/package-lock.json
  webui/react/package.json
Labels: cla-signed

#8715 fix: use Hew dropdown on FilterGroup [WEB-1938]
  webui/react/src/components/FilterForm/TableFilter.tsx
  webui/react/src/components/FilterForm/components/FilterGroup.tsx
Labels: cla-signed, to-cherry-pick

#8680 chore: update oss/ee oidc & saml helm config
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
Labels: cla-signed

#8689 chore: standardize oidc/saml group & display attribute names in helm config
  docs/manage/users-remote.rst
  docs/reference/deploy/master-config-reference.rst
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
Labels: documentation, cla-signed

#8696 chore: codecov reports to match go coverage reports
  .circleci/real_config.yml
  codecov.yml
Labels: cla-signed

#8687 chore: update github path in docker docs
  docs/setup-cluster/on-prem/options/docker.rst
Labels: documentation, cla-signed

#8714 docs: [FE-269] Add documentation detailing configuration steps to set the values for ngpus.
  docs/setup-cluster/slurm/slurm-requirements.rst
Labels: documentation, cla-signed

#8718 chore: upgrade `vitest@1.2.1`
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/setupTests.ts
Labels: cla-signed

#8684 feat: content-length for tar checkpoint downloads
  docs/release-notes/checkpoint-tar.rst
  master/internal/core_checkpoint.go
  master/internal/core_checkpoint_intg_test.go
  master/pkg/checkpoints/archive/archive_writer.go
  master/pkg/checkpoints/archive/tar_archive_writer.go
  master/pkg/checkpoints/archive/tar_archive_writer_test.go
  master/pkg/checkpoints/archive/zip_archive_writer.go
  master/pkg/checkpoints/checkpoints.go
  master/pkg/checkpoints/gcs/gcs_checkpoints.go
  master/pkg/checkpoints/local/local_checkpoints.go
  master/pkg/checkpoints/s3/s3checkpoints.go
Labels: documentation, cla-signed, User-facing API Change

#8719 docs: [FE-270] add PBS known issue - Cluster tab does not display GPU information
  docs/setup-cluster/slurm/slurm-known-issues.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
Labels: documentation, cla-signed

#8722 fix: local checkpoint download path fix
  master/pkg/checkpoints/local/local_checkpoints.go
Labels: cla-signed

#8725 chore: Move from internal glide-table-grid to v6.0.0 [WEB-1945]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/App.tsx
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/pages/F_ExpList/glide-table/contextMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/checkboxCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/experimentStateCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/linkCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/loadingCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/progressCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/sparklineCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/tagsCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/textCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/userAvatarCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/index.tsx
  webui/react/src/pages/F_ExpList/glide-table/menu.tsx
  webui/react/src/pages/F_ExpList/glide-table/tooltip.tsx
  webui/react/src/pages/F_ExpList/glide-table/utils.ts
Labels: cla-signed

#8711 fix: use hew Alert [WEB-1918]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ExperimentCreateModal.tsx
  webui/react/src/components/ExperimentStopModal.tsx
  webui/react/src/components/HyperparameterSearchModal.tsx
  webui/react/src/components/JupyterLabModal.tsx
  webui/react/src/components/UserSettingsModal.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpHeatMaps.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpScatterPlots.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.tsx
  webui/react/src/pages/F_ExpList/ComparisonView.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsProfiles.tsx
Labels: cla-signed

#8726 chore: fix unused-imports warning in protos build.
  proto/pkg/projectv1/project.pb.go
  proto/src/determined/project/v1/project.proto
Labels: cla-signed

#8713 refactor: remove antd App component [WEB-1922]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/App.tsx
  webui/react/src/components/ExperimentCreateModal.test.tsx
  webui/react/src/components/UserSettings.test.tsx
Labels: cla-signed

#8728 feat: Preserve 'redirect' query during logout [GAS-489]
  webui/react/src/ee/SamlAuth.test.ts
  webui/react/src/ee/SamlAuth.ts
  webui/react/src/pages/SignOut.tsx
Labels: cla-signed

#8688 fix: batch metric writes to TensorBoard [MLG-990]
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
  harness/determined/tensorboard/metric_writers/callback.py
  harness/determined/tensorboard/metric_writers/pytorch.py
  harness/determined/tensorboard/metric_writers/tensorflow.py
  harness/tests/tensorboard/test_metric_writers.py
  harness/tests/tensorboard/test_torch_writer.py
Labels: cla-signed

#8720 fix: compress data from API for the page load performance improvement
  master/internal/core.go
Labels: cla-signed

#8508 test: cover db.GroupCheckpointUUIDsByExperimentID
  master/internal/db/postgres_checkpoints_intg_test.go
  master/internal/db/postgres_trial.go
  master/internal/rm/agentrm/agent.go
Labels: cla-signed

#8740 chore: add tests for agent_state.go queries
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/agentrm/agent_state_test.go
Labels: cla-signed

#8739 fix: use selected checkpoints when registering
  webui/react/src/components/RegisterCheckpointModal.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
Labels: cla-signed, to-cherry-pick

#8741 feat: helm option to mount shared_fs checkpoints to master
  docs/release-notes/master-mount.rst
  helm/charts/determined/templates/master-deployment.yaml
  helm/charts/determined/values.yaml
Labels: documentation, cla-signed, to-cherry-pick

#8744 fix: pagination fix in model detail page
  webui/react/src/pages/ModelDetails.tsx
Labels: cla-signed

#8721 feat: Add a modal to enable/disable Agents [WEB-1718]
  webui/react/src/components/ManageNodesModal.module.scss
  webui/react/src/components/ManageNodesModal.tsx
  webui/react/src/pages/ResourcePool/ResourcepoolDetail.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#8748 chore: `make devcluster` to rebuild bindings before harness and webui.
  tools/devcluster.yaml
Labels: cla-signed

#8746 docs: add release notes for 0.27.1
  docs/release-notes.rst
  docs/release-notes/db-snapshot-flag.rst
  docs/release-notes/jupyter-root.rst
  docs/release-notes/master-mount.rst
Labels: documentation, cla-signed

#8745 fix: use the new genai docker repo
  harness/determined/deploy/aws/deployment_types/vpc.py
  harness/determined/deploy/aws/templates/lore.yaml
Labels: cla-signed

#8747 chore: bring in missing EE helm chart change [ci skip]
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
Labels: cla-signed

#8756 fix: Experiment table, right-click context menu [WEB-1942]
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/contextMenu.tsx
Labels: cla-signed

#8729 chore: add more tests for internal/users/postgres_users.go
  master/.golangci.yml
  master/internal/api_user.go
  master/internal/user/postgres_users.go
  master/internal/user/postgres_users_intg_test.go
  master/pkg/model/user.go
  master/pkg/model/user_test.go
Labels: cla-signed

#8732 docs: API deprecate returning config for bulk endpoints
  docs/release-notes/bulk-endpoint-experiment-config.rst
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/pkg/model/experiment.go
  proto/pkg/apiv1/experiment.pb.go
  proto/pkg/experimentv1/experiment.pb.go
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/experiment/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: documentation, cla-signed, User-facing API Change

#8749 fix: cease many model fetch api calls in checkpoint tab
  webui/react/src/components/CheckpointModalTrigger.test.tsx
  webui/react/src/components/CheckpointModalTrigger.tsx
  webui/react/src/hooks/useFetchModels.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
Labels: cla-signed

#8736 refactor: use hew Tree and Divider components [WEB-1920]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ResourcePoolDetailsModalComponent.tsx
  webui/react/src/components/WorkspaceCreateModal.tsx
  webui/react/src/pages/ResourcePool/ResourcepoolDetail.tsx
  webui/react/src/pages/SignIn.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceQuickSearchModalComponent.tsx
Labels: cla-signed

#8743 feat: expconf flag to force scheduling on a single node/container/pod
  docs/reference/training/experiment-config-reference.rst
  docs/release-notes/command-capacity.rst
  e2e_tests/tests/cluster/test_resource_manager.py
  e2e_tests/tests/command/test_run.py
  master/internal/core_experiment.go
  master/internal/rm/agentrm/resource_managers_test.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/trial.go
  master/pkg/model/command_config.go
  master/pkg/model/compat.go
  master/pkg/model/experiment_config.go
  master/pkg/schemas/expconf/experiment_config.go
  master/pkg/schemas/expconf/zgen_resources_config_v0.go
  master/pkg/schemas/zgen_schemas.go
  schemas/expconf/v0/resources.json
  schemas/test_cases/v0/defaults.yaml
  schemas/test_cases/v0/experiment.yaml
Labels: documentation, cla-signed

#8759 feat: the new quick start guide link
  webui/react/src/pages/F_ExpList/glide-table/exceptions.tsx
Labels: cla-signed

#8762 Update helm chart config ref
  docs/reference/deploy/helm-config-reference.rst
Labels: documentation, cla-signed

#8763 docs: Fix dropdown url
  docs/_static/version-switcher/versions.json
Labels: documentation, cla-signed

#8767 fix: add default transport to proxy connection
  master/internal/proxy/proxy.go
Labels: cla-signed

#8768 docs: Fix minor issues
  docs/get-started/example-solutions/_index.rst
  docs/model-dev-guide/api-guides/apis-howto/deepspeed/autotuning.rst
  docs/model-hub-library/_index.rst
  docs/model-hub-library/transformers/_index.rst
  docs/reference/model-hub/_index.rst
  docs/release-notes.rst
Labels: documentation, cla-signed

#8731 fix: Filter value resets when switching column types [WEB-1949]
  webui/react/src/components/FilterForm/components/FilterField.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Labels: cla-signed

#8769 fix: python requirements for pytest and moto
  harness/tests/requirements/requirements-harness.txt
Labels: cla-signed

#8770 docs: Replace basic quickstart
  docs/.redirects/redirects.json
  docs/get-started/webui-qs.rst
  docs/tutorials/_index.rst
  docs/tutorials/pytorch-mnist-local-qs.rst
  docs/tutorials/pytorch-mnist-tutorial.rst
Labels: documentation, cla-signed

#6318 ci: retry git fetch for early stopping checks
  .circleci/real_config.yml
Labels: cla-signed

#8771 test: do not import model_hub test requirements
  .circleci/real_config.yml
  requirements.txt
Labels: cla-signed

#8772 chore: use vite-plugin-svg-to-jsx package
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/vite-plugin-svg-to-jsx.ts
  webui/react/vite.config.mts
Labels: cla-signed

#8775 fix: Text filter on ProjectMoveModal [WEB-1495]
  webui/react/src/components/ProjectMoveModal.tsx
Labels: cla-signed

#8776 docs: update dependency version in contributing readme
  CONTRIBUTING.md
Labels: cla-signed

#8777 docs: Update oidc and saml docs
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes.rst
Labels: documentation, cla-signed

#8755 chore: clean up extra prints
  harness/determined/deploy/healthcheck.py
Labels: cla-signed

#8723 chore: migrate db schema trials to runs
  master/internal/api_checkpoint_intg_test.go
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  master/internal/core_checkpoint_intg_test.go
  master/internal/db/postgres_checkpoints.go
  master/internal/db/postgres_checkpoints_intg_test.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_model_intg_test.go
  master/internal/db/postgres_tasks.go
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/experiment.go
  master/internal/run/postgres_run_intg_test.go
  master/internal/trial.go
  master/pkg/model/experiment.go
  master/pkg/model/experiment_test.go
  master/static/migrations/20240131142701_run-trial-v2-create.tx.down.sql
  master/static/migrations/20240131142701_run-trial-v2-create.tx.up.sql
  master/static/migrations/20240131142722_run-checkpoints.tx.down.sql
  master/static/migrations/20240131142722_run-checkpoints.tx.up.sql
  master/static/migrations/20240131142730_run_id_task_id.tx.down.sql
  master/static/migrations/20240131142730_run_id_task_id.tx.up.sql
  master/static/srv/get_raw_allocation.sql
  master/static/srv/proto_get_trials_plus.sql
  master/static/srv/update_aggregated_allocation.sql
  master/test/integration/api/api_checkpoints_test.go
  master/test/olddata/pre_run_trials.go
Labels: cla-signed

#8690 chore: persist checkpoint storage backend ID
  e2e_tests/tests/cluster/test_checkpoints.py
  e2e_tests/tests/experiment/test_unmanaged.py
  e2e_tests/tests/fixtures/unmanaged/checkpoint_distributed.py
  e2e_tests/tests/fixtures/unmanaged/checkpointing.py
  harness/determined/common/api/bindings.py
  harness/determined/common/storage/shared.py
  harness/determined/core/__init__.py
  harness/determined/core/_checkpoint.py
  harness/determined/core/_context.py
  harness/determined/core/_distributed.py
  harness/determined/experimental/core_v2/_core_context_v2.py
  harness/determined/experimental/core_v2/_unmanaged.py
  harness/determined/tensorboard/build.py
  harness/tests/core/test_checkpoint.py
  harness/tests/storage/util.py
  master/internal/api_checkpoint.go
  master/internal/api_checkpoint_intg_test.go
  master/internal/api_experiment.go
  master/internal/api_runs.go
  master/internal/api_trials.go
  master/internal/checkpoint_gc.go
  master/internal/checkpoint_gc_test.go
  master/internal/core_checkpoint.go
  master/internal/core_checkpoint_intg_test.go
  master/internal/experiment.go
  master/internal/storage/service.go
  master/internal/storage/service_intg_test.go
  master/internal/storage/storage.go
  master/pkg/model/experiment.go
  master/static/migrations/20240131154725_add-storage-config.tx.down.sql
  master/static/migrations/20240131154725_add-storage-config.tx.up.sql
  master/static/srv/get_checkpoints_for_experiment.sql
  master/static/srv/get_checkpoints_for_trial.sql
  master/test/olddata/pre_run_trials.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/run.pb.go
  proto/pkg/checkpointv1/checkpoint.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/run.proto
  proto/src/determined/checkpoint/v1/checkpoint.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#8781 chore: update gke version to comply with latest release for e2e tests
  .circleci/real_config.yml
Labels: cla-signed
