Repository determined-ai/determined, pull requests merged in 2024-03, with the labels that each got.

#8930 fix: `det dev curl` support for URLs with curly brackets.
  harness/determined/cli/dev.py
Labels: cla-signed

#8931 fix: det deploy gcp down shouldn't check quotas
  harness/determined/deploy/gcp/cli.py
Labels: cla-signed

#8934 chore: remove unused constant
  harness/determined/constants.py
Labels: cla-signed

#8778 feat: streaming updates python client [MD-246]
  .gitattributes
  harness/.flake8
  harness/determined/cli/proxy.py
  harness/determined/common/detlomond.py
  harness/determined/common/streams/__init__.py
  harness/determined/common/streams/_client.py
  harness/determined/common/streams/_util.py
  harness/determined/common/streams/wire.py
  harness/determined/core/_train.py
  harness/tests/common/streams/test_client.py
  master/Makefile
  master/cmd/stream-gen/main.go
  master/internal/stream/projects.go
  tools/devcluster.yaml
Labels: cla-signed

#8940 build: bump cpu image to latest ubuntu 2004
  .circleci/real_config.yml
Labels: cla-signed

#8936 fix: malformed config with gcp up with --initial-user-password
  harness/determined/deploy/gcp/terraform/modules/compute/main.tf
Labels: cla-signed, to-cherry-pick

#8932 chore: pin pandas and ray versions for ray tests
  examples/features/ports/startup-hook.sh
Labels: cla-signed

#8942 chore: bump ci setup_remote_docker version
  .circleci/real_config.yml
Labels: cla-signed

#8938 fix: [RM-6] remove global max-slots-per-pod default when multiple RMs…
  master/internal/config/config.go
  master/internal/config/config_test.go
Labels: cla-signed

#7329 chore: remove support for Python 3.7; prefer 3.8
  .circleci/real_config.yml
  CONTRIBUTING.md
  docs/model-dev-guide/api-guides/apis-howto/_index.rst
  docs/tools/cli/cli-ug.rst
  e2e_tests/mypy.ini
  e2e_tests/tests/command/test_run.py
  e2e_tests/tests/config.py
  e2e_tests/tests/model_hub/test_mmdetection.py
  harness/determined/cli/dev.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/mypy.ini
  model_hub/mypy.ini
  schemas/mypy.ini
  tools/mypy.ini
  tools/scripts/bumpenvs.yaml
Labels: documentation, cla-signed

#8943 test: CLI workflows in CI use new Python images
  .circleci/real_config.yml
Labels: cla-signed

#8857 chore: add multirm module to ResourceManager
  master/internal/checkpoint_gc.go
  master/internal/command/command_job_service.go
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/config/resource_config.go
  master/internal/config/resource_manager_config.go
  master/internal/core.go
  master/internal/experiment_job_service.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/multirm/multirm_intg_test.go
  master/internal/rm/setup.go
Labels: cla-signed

#8913 test: refactor usage within test_local
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/deploy/test_local.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/nightly/compute_stats.py
Labels: cla-signed

#8935 fix: `no data plot` in chart with data
  webui/react/src/hooks/useMetricNames.ts
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/TrialDetails/MultiTrialDetailsHyperparameters.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
Labels: cla-signed, to-cherry-pick

#8901 test: Add e2e test for streaming updates python client
  e2e_tests/tests/streaming/test_client.py
Labels: cla-signed

#8948 chore: add resource manager name/metadata to resourcepoolv1 proto [RM-12]
  harness/determined/common/api/bindings.py
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  proto/pkg/resourcepoolv1/resourcepool.pb.go
  proto/src/determined/resourcepool/v1/resourcepool.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#8949 chore: fix multirm unit test flake
  master/internal/rm/multirm/multirm.go
Labels: cla-signed

#8941 chore: set CGO_ENABLED=0
  agent/Makefile
  master/Makefile
Labels: cla-signed

#8945 chore: update AMIs - Nvidia minor version bump
  .circleci/real_config.yml
  docs/model-dev-guide/api-guides/apis-howto/_index.rst
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: documentation, cla-signed

#8955 docs: add release notes for 0.29.0
  docs/release-notes.rst
  docs/release-notes/7940-socket-error.rst
  docs/release-notes/8437-auth-refactor.rst
  docs/release-notes/8851-force-default-passwords.rst
  docs/release-notes/log-level-config.rst
Labels: documentation, cla-signed

#8957 docs: fix pre_publish check
  docs/Makefile
Labels: documentation, cla-signed

#8959 fix: update default aux container limits and instance types
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
Labels: cla-signed

#8921 fix: don't access agentState when it may be nil
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_test.go
Labels: cla-signed

#8834 feat: Connect ProjectStore with streaming updates
  master/internal/api/handler.go
  master/internal/core.go
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/App.tsx
  webui/react/src/components/ExperimentMoveModal.tsx
  webui/react/src/components/ProjectCard.tsx
  webui/react/src/components/UserSettings.test.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/services/stream/experiments.ts
  webui/react/src/services/stream/index.ts
  webui/react/src/services/stream/keyCache.ts
  webui/react/src/services/stream/projects.ts
  webui/react/src/services/stream/stream.test.ts
  webui/react/src/services/stream/stream.ts
  webui/react/src/stores/projects.test.tsx
  webui/react/src/stores/projects.tsx
  webui/react/src/stores/stream.ts
  webui/react/src/types.ts
  webui/react/vite.config.mts
Labels: cla-signed

#8950 chore: [RM-68] improve readability for unit test
  master/internal/config/config_test.go
Labels: cla-signed

#8961 ci: update performance test script for breaking Determined change
  .circleci/scripts/wait_for_perf_migration_upload_results.py
Labels: cla-signed

#8922 test: remove last quarantined test
  .circleci/real_config.yml
Labels: cla-signed

#8862 chore: react-virtuoso LogViewer companion
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ModelRegistry.module.scss
  webui/react/src/components/Page.module.scss
  webui/react/src/components/PageHeader/PageHeader.module.scss
  webui/react/src/components/TaskList.module.scss
  webui/react/src/pages/Cluster.module.scss
  webui/react/src/pages/ClusterLogs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.module.scss
  webui/react/src/pages/TaskLogs.module.scss
  webui/react/src/pages/TaskLogs.test.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.module.scss
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
Labels: cla-signed

#8953 feat: allow k8srm to connect with a kubeconfig
  master/internal/config/resource_manager_config.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/pods_test.go
  tools/k8s/README.md
  tools/k8s/devcluster.yaml
  tools/k8s/fetch-creds.sh
  tools/k8s/my-service-account.yaml
Labels: cla-signed

#8958 fix: stopping states are not handled in restore properly [RM-69]
  .circleci/devcluster/double-reattach.devcluster.yaml
  docs/release-notes/reattach-stopping.rst
  e2e_tests/tests/cluster/test_master_restart.py
  master/internal/config/config.go
  master/internal/db/postgres_experiments.go
  master/internal/experiment.go
  master/internal/restore.go
  master/internal/task/allocation_service.go
  master/internal/task/allocation_service_test.go
  master/internal/task/preemptible/preemptible.go
  master/internal/trial.go
Labels: documentation, cla-signed

#8963 chore: add multirm router layer to rm module
  master/internal/api_agents.go
  master/internal/api_resourcepool.go
  master/internal/api_resourcepool_intg_test.go
  master/internal/api_tasks.go
  master/internal/api_tasks_intg_test.go
  master/internal/api_user_intg_test.go
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/config/resource_config.go
  master/internal/config/resource_manager_config.go
  master/internal/core.go
  master/internal/core_observability.go
  master/internal/core_task.go
  master/internal/experiment.go
  master/internal/job/jobservice/jobservice.go
  master/internal/restore.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager_intg_test.go
  master/internal/rm/agentrm/agents.go
  master/internal/rm/agentrm/resource_managers_test.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/resource_pool_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/multirm/multirm_intg_test.go
  master/internal/rm/resource_manager_iface.go
  master/internal/rm/setup.go
  master/internal/spec_util.go
  master/internal/spec_util_intg_test.go
  master/internal/sproto/globals.go
  master/internal/sproto/jobs.go
  master/internal/sproto/task.go
  master/internal/telemetry/reports.go
  master/internal/trial.go
Labels: cla-signed

#8974 chore: multirm unique resource pool config changes [RM-74]
  master/internal/config/resource_config.go
  master/internal/config/resource_config_test.go
Labels: cla-signed

#8979 fix: nil deref in ReadPreemptionStatus
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/experiment_job_service.go
Labels: cla-signed

#8967 fix: Check auth validity before setting isAuthenticated
  webui/react/src/hooks/useAuthCheck.ts
Labels: cla-signed

#8947 chore: amend contributing doc to point to correct make rule
  CONTRIBUTING.md
Labels: cla-signed

#8983 chore: remove panics from rm initialization
  master/internal/core.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/resource_managers_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
Labels: cla-signed

#8978 chore: add type ResourcePoolName string
  master/internal/api_command.go
  master/internal/api_experiment.go
  master/internal/api_generic_tasks.go
  master/internal/api_job.go
  master/internal/api_resourcepool.go
  master/internal/api_resourcepool_intg_test.go
  master/internal/api_user_intg_test.go
  master/internal/checkpoint_gc.go
  master/internal/checkpoint_gc_test.go
  master/internal/experiment.go
  master/internal/job/jobservice/jobservice.go
  master/internal/restore.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/multirm/multirm_intg_test.go
  master/internal/rm/resource_manager_iface.go
  master/internal/spec_util.go
  master/internal/spec_util_intg_test.go
  master/internal/sproto/jobs.go
Labels: cla-signed

#8926 test: add e2e_tests for multirm k8s [RM-11]
  .circleci/devcluster/multi-k8s.devcluster.yaml
  .circleci/real_config.yml
  e2e_tests/pytest.ini
  e2e_tests/tests/cluster/test_multi_k8s.py
  e2e_tests/tests/cluster/utils.py
  e2e_tests/tests/conftest.py
  master/internal/config/resource_manager_config.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/pods.go
Labels: cla-signed

#8975 chore: Bumpenvs for NGC+ images
  .circleci/real_config.yml
  docs/release-notes/ngc-images.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/update-bumpenvs-yaml.py
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: documentation, cla-signed

#8972 fix: remove duplicate permissions in rbac CLI output
  e2e_tests/tests/cluster/test_rbac.py
  harness/determined/cli/rbac.py
Labels: cla-signed

#8923 fix: remove error text in continue trial modal
  webui/react/src/components/ExperimentContinueModal.tsx
  webui/react/src/components/ExperimentCreateModal.tsx
Labels: cla-signed

#8985 docs: Update Deploy on GCP
  docs/setup-cluster/gcp/_index.rst
Labels: documentation, cla-signed

#8989 chore: change GKE version
  .circleci/real_config.yml
Labels: cla-signed

#8991 chore: ban http.Transport & http.Client; add cleanhttp
  master/.golangci.yml
  master/internal/elastic/elastic.go
  master/internal/rm/kubernetesrm/mock_client_test.go
  master/internal/webhooks/api_webhook.go
  master/internal/webhooks/shipper.go
Labels: cla-signed

#8977 ci: Djanicek/infraeng 487/circle test runner
  .circleci/real_config.yml
Labels: cla-signed

#8964 feat: implement profiler in Core API [MD-10] [MD-302]
  e2e_tests/tests/conftest.py
  e2e_tests/tests/experiment/record_profiling.py
  e2e_tests/tests/experiment/test_launch.py
  e2e_tests/tests/experiment/test_tf_keras.py
  harness/determined/_trial_controller.py
  harness/determined/core/__init__.py
  harness/determined/core/_context.py
  harness/determined/core/_profiler.py
  harness/determined/exec/harness.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/keras/callbacks.py
  harness/determined/profiler.py
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/_trainer.py
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/tests/experiment/pytorch_utils.py
Labels: cla-signed

#8992 feat: remove support for timing metrics in web UI
  webui/react/src/pages/TrialDetails/Profiles/Charts/ThroughputMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/TimingMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Profiler.tsx
Labels: cla-signed

#8993 feat: Add multi RM name to K8s
  webui/react/src/components/ResourcePoolCard.tsx
Labels: cla-signed

#8998 fix: escape regex in `ProjectDeleteModal`
  webui/react/src/components/ProjectDeleteModal.tsx
Labels: cla-signed, to-cherry-pick

#9003 chore: limit code coverage report to files in src; omit generated files
  webui/react/vite.config.mts
Labels: cla-signed

#8994 chore: warn about det deploy det-version mistmach
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/errors.py
  harness/determined/deploy/gcp/cli.py
  harness/determined/deploy/gke/cli.py
  harness/determined/deploy/local/cli.py
Labels: cla-signed, to-cherry-pick

#9007 docs: add EditorRestricted role release note
  docs/manage/security/rbac.rst
  docs/release-notes/editor-restricted-role.rst
Labels: documentation, cla-signed

#9014 docs: add release notes for 0.29.1
  docs/release-notes.rst
  docs/release-notes/ngc-images.rst
  docs/release-notes/reattach-stopping.rst
Labels: documentation, cla-signed

#9002 ci: DRY skip logic and clarity on step name
  .circleci/real_config.yml
Labels: cla-signed

#9019 ci: test-perf uses determined version from github
  .circleci/real_config.yml
Labels: cla-signed

#8852 feat: SearchFlatRuns api call for flat runs table support
  harness/determined/common/api/bindings.py
  master/internal/api_runs.go
  master/internal/api_runs_intg_test.go
  master/internal/experiment_filter.go
  performance/src/api_performance_tests.ts
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/run.pb.go
  proto/pkg/projectv1/project.pb.go
  proto/pkg/runv1/run.pb.go
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/run.proto
  proto/src/determined/project/v1/project.proto
  proto/src/determined/run/v1/run.proto
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/ioTypes.ts
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#8883 chore: logins return Sessions
  .circleci/scripts/wait_for_perf_migration_upload_results.py
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/deploy/test_local.py
  harness/determined/cli/_util.py
  harness/determined/cli/tunnel.py
  harness/determined/cli/user.py
  harness/determined/common/api/__init__.py
  harness/determined/common/api/_session.py
  harness/determined/common/api/authentication.py
  harness/determined/common/experimental/determined.py
  harness/determined/core/_context.py
  harness/determined/deploy/healthcheck.py
  harness/determined/exec/gc_checkpoints.py
  harness/determined/exec/launch.py
  harness/determined/exec/prep_container.py
  harness/determined/experimental/core_v2/_core_context_v2.py
  harness/determined/launch/deepspeed.py
  harness/determined/launch/horovod.py
  harness/tests/checkpoints/test_checkpoint.py
  harness/tests/cli/test_auth.py
  harness/tests/cli/test_experiment.py
  harness/tests/determined/common/experimental/test_checkpoint.py
  harness/tests/determined/common/experimental/test_determined.py
  harness/tests/determined/common/experimental/test_experiment.py
  harness/tests/determined/common/experimental/test_model.py
  harness/tests/determined/common/experimental/test_project.py
  harness/tests/determined/common/experimental/test_resource_pool.py
  harness/tests/determined/common/experimental/test_trial.py
  harness/tests/determined/common/experimental/test_workspace.py
  harness/tests/launch/test_deepspeed.py
  harness/tests/launch/test_horovod.py
  master/static/srv/check_idle.py
  master/static/srv/check_ready_logs.py
Labels: cla-signed

#8980 chore: add grpc based auth fallback to proxied requests
  master/internal/api_auth.go
  master/internal/api_user_intg_test.go
  master/internal/grpcutil/auth.go
Labels: cla-signed

#9016 docs: add documentation for multirm
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes/multirm-for-k8s.rst
Labels: documentation, cla-signed

#8988 feat: streaming update code generation for typescript
  .gitattributes
  go.mod
  master/Makefile
  master/cmd/stream-gen/main.go
  master/internal/stream/projects.go
  webui/react/.eslintrc.js
  webui/react/.prettierignore
  webui/react/src/services/stream/experiments.ts
  webui/react/src/services/stream/index.ts
  webui/react/src/services/stream/projects.ts
  webui/react/src/services/stream/stream.test.ts
  webui/react/src/services/stream/wire.ts
  webui/react/src/stores/projects.tsx
Labels: cla-signed

#9015 chore: helm for multirm kubeconfig_path
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/templates/master-deployment.yaml
Labels: cla-signed

#9030 chore: revert helm for multirm kubeconfig_path
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/templates/master-deployment.yaml
Labels: cla-signed

#8927 feat: Add template to py sdk `create_experiment`
  e2e_tests/tests/test_sdk.py
  harness/determined/common/experimental/determined.py
  harness/determined/experimental/client.py
Labels: cla-signed

#9033 chore: helm for multirm kubeconfig_path
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/templates/master-deployment.yaml
Labels: cla-signed

#9024 test: playwright config and browser usability
  webui/react/playwright.config.ts
  webui/react/src/e2e/README.md
  webui/react/vite.config.mts
Labels: cla-signed

#9043 ci: tag CI-deployed resources
  .circleci/real_config.yml
  docs/deploy/Makefile
  docs/deploy/cdn.tf
  docs/deploy/main.tf
  docs/deploy/s3.tf
Labels: documentation, cla-signed

#9013 test: Jcom/infeng 454/sign in tests
  webui/react/.eslintrc.js
  webui/react/playwright.config.ts
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/e2e/README.md
  webui/react/src/e2e/docs/images/loactor-autocomplete.png
  webui/react/src/e2e/docs/images/page-model-autocomplete.png
  webui/react/src/e2e/fixtures/auth.fixture.ts
  webui/react/src/e2e/models/BaseComponent.ts
  webui/react/src/e2e/models/BasePage.ts
  webui/react/src/e2e/models/README.md
  webui/react/src/e2e/models/components/DeterminedAuth.ts
  webui/react/src/e2e/models/components/Page.ts
  webui/react/src/e2e/models/pages/SignIn.ts
  webui/react/src/e2e/models/utils/error.ts
  webui/react/src/e2e/tests/auth.spec.ts
Labels: cla-signed

#9046 Revert "docs: add EditorRestricted role release note"
  docs/manage/security/rbac.rst
  docs/release-notes/editor-restricted-role.rst
Labels: documentation, cla-signed

#9042 fix: move experiment SQL error
  master/internal/api_experiment_intg_test.go
  master/internal/experiment/bulk_action.go
Labels: cla-signed

#9041 chore: mark db-dependent tests as needing to run in integration
  master/internal/api_master_intg_test.go
  master/internal/rm/agentrm/agent_test.go
  master/internal/storage/service_intg_test.go
  master/internal/telemetry/telemetry_test.go
Labels: cla-signed

#9049 docs: Describe editorrestricted
  docs/manage/security/rbac.rst
Labels: documentation, cla-signed

#9040 refactor: remove agentID type from agentrm
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_model.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/agentrm/agent_state_test.go
  master/internal/rm/agentrm/agents.go
  master/internal/rm/agentrm/fair_share.go
  master/internal/rm/agentrm/fitting.go
  master/internal/rm/agentrm/fitting_test.go
  master/internal/rm/agentrm/priority.go
  master/internal/rm/agentrm/priority_test.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/resource_pool_test.go
  master/internal/rm/agentrm/resources.go
  master/internal/rm/agentrm/round_robin.go
  master/internal/rm/agentrm/scheduler_test.go
  master/internal/rm/agentrm/summaries.go
Labels: cla-signed

#9039 feat: add command det model delete
  e2e_tests/tests/cluster/test_model_registry.py
  harness/determined/cli/model.py
Labels: cla-signed

#9052 fix: docs lint
  docs/manage/security/rbac.rst
Labels: documentation, cla-signed

#9053 docs: revert multirm docs changes #9016
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes/multirm-for-k8s.rst
Labels: documentation, cla-signed

#9045 feat: Use filtered resource pools when creating notebook
  webui/react/src/components/JupyterLabModal.test.tsx
  webui/react/src/components/JupyterLabModal.tsx
  webui/react/src/stores/workspaces.tsx
Labels: cla-signed

#9048 feat: add slot stats to /agents endpoints
  harness/determined/common/api/bindings.py
  master/internal/api_agent_test.go
  master/internal/api_agents.go
  proto/pkg/agentv1/agent.pb.go
  proto/pkg/apiv1/agent.pb.go
  proto/src/determined/agent/v1/agent.proto
  proto/src/determined/api/v1/agent.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed, User-facing API Change

#9060 fix: faster migrations for metrics table
  master/static/migrations/20240325144650_generic-metrics-nullable-batches.tx.down.sql
  master/static/migrations/20240325144650_generic-metrics-nullable-batches.tx.up.sql
  master/static/migrations/20240325144710_generic-metrics-text-partition-type.tx.down.sql
  master/static/migrations/20240325144710_generic-metrics-text-partition-type.tx.up.sql
Labels: cla-signed

#9059 fix: loading experiments without filterset
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Labels: cla-signed, to-cherry-pick

#8956 refactor: change GlideTable into a reusable component (ET-25)
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/CompareMetrics.tsx
  webui/react/src/components/CompareParallelCoordinates.settings.ts
  webui/react/src/components/CompareParallelCoordinates.tsx
  webui/react/src/components/ComparisonView.tsx
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/HpParallelCoordinates.module.scss
  webui/react/src/components/MultiSortMenu.module.scss
  webui/react/src/components/MultiSortMenu.tsx
  webui/react/src/components/OptionsMenu.module.scss
  webui/react/src/components/OptionsMenu.tsx
  webui/react/src/components/TableActionBar.module.scss
  webui/react/src/components/TableActionBar.tsx
  webui/react/src/components/UserSettings.tsx
  webui/react/src/components/exceptions.tsx
  webui/react/src/pages/F_ExpList/ColumnPickerMenu.module.scss
  webui/react/src/pages/F_ExpList/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/expListColumns.ts
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.module.scss
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/contextMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/README.md
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/checkboxCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/experimentStateCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/linkCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/loadingCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/progressCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/sparklineCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/tagsCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/textCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/userAvatarCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/index.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/utils.ts
  webui/react/src/pages/F_ExpList/glide-table/exceptions.module.scss
  webui/react/src/pages/F_ExpList/glide-table/icons.tsx
  webui/react/src/pages/F_ExpList/glide-table/menu.tsx
  webui/react/src/pages/F_ExpList/glide-table/tooltip.tsx
  webui/react/src/pages/F_ExpList/utils.ts
  webui/react/src/utils/observable.ts
Labels: cla-signed

#9044 docs: Update release notes
  docs/release-notes.rst
Labels: documentation, cla-signed, to-cherry-pick

#9057 chore: Remove /lore redirect from deployment template
  harness/determined/deploy/aws/injector/master.yaml.tmpl
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
Labels: cla-signed

#9063 feat: webui nav sidebar dropdown text changes
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/ThemeToggle.tsx
  webui/react/src/components/UserSettings.tsx
Labels: cla-signed

#8647 fix: remove calls to Pytorch Dataset len
  harness/determined/pytorch/_pytorch_trial.py
Labels: cla-signed

#8622 feat: add log retention for database logger
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/release-notes/logging-retention.rst
  go.mod
  go.sum
  harness/determined/cli/task.py
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_logretention.go
  master/internal/api_logretention_intg_test.go
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/core.go
  master/internal/core_experiment.go
  master/internal/db/postgres_tasks.go
  master/internal/logretention/logretention.go
  master/internal/populate_metrics.go
  master/internal/trial.go
  master/pkg/model/logging_config.go
  master/pkg/model/task.go
  master/pkg/schemas/expconf/experiment_config.go
  master/pkg/schemas/expconf/zgen_experiment_config_v0.go
  master/pkg/schemas/zgen_schemas.go
  master/pkg/tasks/task.go
  master/static/migrations/20240326162830_log-retention.tx.down.sql
  master/static/migrations/20240326162830_log-retention.tx.up.sql
  proto/Makefile
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/master.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/master.proto
  schemas/expconf/v0/experiment.json
  tools/devcluster.yaml
  webui/react/src/services/api-ts-sdk/api.ts
Labels: documentation, cla-signed

#9055 docs: helm doc changes for multirm [RM-37]
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  helm/charts/determined/values.yaml
Labels: documentation, cla-signed

#9056 fix: API migration to improve performance in resource pool page
  webui/react/src/pages/ResourcePool/ResourcepoolDetail.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/stores/cluster.tsx
  webui/react/src/types.ts
  webui/react/src/utils/cluster.test.ts
  webui/react/src/utils/cluster.ts
Labels: cla-signed, to-cherry-pick

#9068 fix: remove parent_id from create_experiment
  harness/determined/common/experimental/determined.py
  harness/determined/experimental/client.py
Labels: cla-signed, to-cherry-pick

#9069 fix: fix TestScheduleRetention
  master/internal/api_logretention_intg_test.go
Labels: cla-signed

#9070 fix: slot stats are not filled in everywhere
  master/internal/api_agent_test.go
  master/internal/api_agents.go
  master/pkg/model/agent.go
Labels: to-cherry-pick

#8982 feat: add new endpoints to change log retention for exps and trials [DET-9995]
  docs/release-notes/set-log-retention.rst
  harness/determined/cli/experiment.py
  harness/determined/cli/trial.py
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/trial.py
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_trials.go
  master/internal/experiment/bulk_action.go
  master/internal/populate_metrics.go
  master/internal/trial.go
  master/pkg/model/experiment.go
  master/static/migrations/20240326163330_add-log-retention-trials.tx.down.sql
  master/static/migrations/20240326163330_add-log-retention-trials.tx.up.sql
  master/static/srv/proto_get_trials_plus.sql
  master/test/olddata/pre_run_trials.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/experiment.pb.go
  proto/pkg/apiv1/trial.pb.go
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/api/v1/trial.proto
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/components/BatchActionConfirmModal.test.tsx
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/ExperimentRetainLogsModal.tsx
  webui/react/src/components/TableActionBar.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.settings.ts
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.table.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
  webui/react/src/utils/experiment.ts
Labels: documentation, cla-signed

#9062 feat: add /health endpoint [RM-114]
  docs/release-notes/health-check.rst
  harness/determined/common/api/bindings.py
  master/internal/core.go
  master/internal/core_intg_test.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/resource_managers_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/multirm/multirm_intg_test.go
  master/internal/rm/resource_manager_iface.go
  master/pkg/model/health.go
  proto/scripts/swagger.py
  webui/react/src/services/api-ts-sdk/api.ts
Labels: documentation, cla-signed

#9073 chore: agent level check if slotstats are computed at rm level
  master/internal/api_agents.go
Labels: cla-signed
