Repository determined-ai/determined, pull requests merged in 2024-09, with the labels that each got.

#9868 ci: add e2e bulk kill test
  webui/react/src/e2e/README.md
  webui/react/src/e2e/tests/experimentList.spec.ts
Labels: cla-signed

#9888 fix: inconsistent timezone handling in daily allocation aggregation
  master/internal/db/postgres_cluster.go
  master/internal/db/postgres_cluster_intg_test.go
  master/static/srv/update_aggregated_allocation.sql
Labels: cla-signed

#9889 ci: fix master-config syntax
  helm/charts/determined/templates/master-config.yaml
Labels: cla-signed

#9878 fix: add backwards compatibility for Pods to Jobs for k8s <v1.27 [CM-461]
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/jobs_test.go
Labels: cla-signed

#9885 chore: create WorkloadType enum and Go config + constraints structs
  master/internal/configpolicy/task_config_policy.go
  master/pkg/model/task_config_policy.go
  master/pkg/model/task_config_policy_test.go
  proto/pkg/configpolicyv1/configpolicy.pb.go
  proto/src/determined/configpolicy/v1/configpolicy.proto
Labels: cla-signed

#9873 feat: Add rbac for config policies
  e2e_tests/tests/cluster/test_rbac.py
  harness/determined/common/api/bindings.py
  master/internal/cluster/authz_basic_impl.go
  master/internal/cluster/authz_iface.go
  master/internal/cluster/authz_permissive.go
  master/internal/cluster/authz_rbac.go
  master/internal/db/postgres_rbac_intg_test.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
  master/internal/workspace/authz_permissive.go
  master/internal/workspace/authz_rbac.go
  master/static/migrations/20240827132157_add-config-policies-permissions.tx.up.sql
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#9891 test: Delete workspace after webhook test
  e2e_tests/tests/cluster/test_webhooks.py
Labels: cla-signed

#9880 chore: stub new APIs for task config policies [CM-485]
  harness/determined/common/api/bindings.py
  master/internal/api_config_policies.go
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/config_policies.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/config_policies.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#9870 test: cover project id filtering on bulk actions [ET-138]
  master/internal/experiment/bulk_action_intg_test.go
  master/internal/experiment/bulk_action_test.go
Labels: cla-signed

#9892 fix: timezone handling error in queued allocation time update
  master/internal/db/postgres_cluster_intg_test.go
  master/static/srv/update_aggregated_queued_time.sql
Labels: cla-signed

#9896 chore: add unmarshal functions for task config policies
  harness/determined/common/api/bindings.py
  master/internal/api_config_policies.go
  master/internal/configpolicy/task_config_policy.go
  master/internal/configpolicy/utils.go
  master/internal/configpolicy/utils_test.go
  proto/pkg/apiv1/config_policies.pb.go
  proto/src/determined/api/v1/config_policies.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#9869 chore: Remove model hub
  .bumpversion.cfg
  .circleci/real_config.yml
  .github/dependabot.yml
  .github/workflows/lint-python.yml
  .gitignore
  docs/.redirects/redirects.json
  docs/index.rst
  docs/model-hub-library/_index.rst
  docs/model-hub-library/mmdetection/_index.rst
  docs/model-hub-library/transformers/_index.rst
  docs/reference/_index.rst
  docs/reference/model-hub/_index.rst
  docs/reference/model-hub/mmdetection-api.rst
  docs/reference/model-hub/transformers-api.rst
  docs/release-notes/remove-model-hub.rst
  e2e_tests/pytest.ini
  e2e_tests/tests/conftest.py
  e2e_tests/tests/fixtures/mmdetection/distributed_fake_data.yaml
  e2e_tests/tests/fixtures/mmdetection/startup-hook.sh
  e2e_tests/tests/model_hub/test_mmdetection.py
  harness/determined/common/api/analytics.py
  model_hub/.flake8
  model_hub/MANIFEST.in
  model_hub/Makefile
  model_hub/README.md
  model_hub/docker/Dockerfile.mmdetection
  model_hub/docker/Dockerfile.transformers
  model_hub/docker/publish-docker.sh
  model_hub/model_hub/__init__ 2.py
  model_hub/model_hub/__init__.py
  model_hub/model_hub/__version__ 2.py
  model_hub/model_hub/__version__.py
  model_hub/model_hub/huggingface/__init__.py
  model_hub/model_hub/huggingface/_config_parser.py
  model_hub/model_hub/huggingface/_trial.py
  model_hub/model_hub/huggingface/_utils.py
  model_hub/model_hub/mmdetection/__init__.py
  model_hub/model_hub/mmdetection/_callbacks.py
  model_hub/model_hub/mmdetection/_data.py
  model_hub/model_hub/mmdetection/_data_backends.py
  model_hub/model_hub/mmdetection/_trial.py
  model_hub/model_hub/mmdetection/utils.py
  model_hub/model_hub/py 2.typed
  model_hub/model_hub/py.typed
  model_hub/model_hub/utils 2.py
  model_hub/model_hub/utils.py
  model_hub/mypy.ini
  model_hub/pyproject.toml
  model_hub/setup.py
  model_hub/tests/__init__.py
  model_hub/tests/fixtures/maskrcnn.yaml
  model_hub/tests/fixtures/merge_config.py
  model_hub/tests/requirements.txt
  model_hub/tests/test_hf.py
  model_hub/tests/test_mmdetection.py
  model_hub/tests/test_utils.py
  pre-commit/check.py
  requirements.txt
Labels: documentation, cla-signed

#9879 feat: Implement custom trigger for webhooks
  e2e_tests/tests/cluster/test_webhooks.py
  e2e_tests/tests/fixtures/core_api/11_generic_metrics.py
  harness/determined/common/api/bindings.py
  harness/determined/core/_context.py
  master/internal/webhooks/api_webhook.go
  master/internal/webhooks/postgres_webhook.go
  master/internal/webhooks/webhook.go
  master/static/migrations/20240828101021_custom-webhook-trigger.tx.up.sql
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/webhook.pb.go
  proto/pkg/webhookv1/webhook.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/webhook.proto
  proto/src/determined/webhook/v1/webhook.proto
  webui/react/src/components/WebhookCreateModal.tsx
  webui/react/src/pages/WebhookList.tsx
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#9897 feat: new run object for Run Centric API
  harness/determined/common/api/bindings.py
  proto/pkg/runv1/run.pb.go
  proto/src/determined/run/v1/run.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#9901 chore: removing model_hub references from Makefile
  Makefile
Labels: cla-signed

#9877 build: INFENG-809: Update CircleCI tag logic and add release dryrun workflow
  .circleci/config.yml
  .circleci/real_config.yml
  Makefile
  agent/.goreleaser_dryrun.yml
  agent/Makefile
  harness/Makefile
  helm/.goreleaser_dryrun.yml
  helm/Makefile
  master/.goreleaser_dryrun.yml
  master/Makefile
  master/pkg/tasks/copy.go
  model_hub/Makefile
  version.sh
Labels: cla-signed

#9893 docs: Update ROCM support
  docs/model-dev-guide/api-guides/apis-howto/_index.rst
  docs/model-dev-guide/create-experiment.rst
  docs/model-dev-guide/prepare-container/set-environment-images.rst
  docs/reference/deploy/agent-config-reference.rst
  docs/setup-cluster/_index.rst
  docs/setup-cluster/k8s/helm-commands.rst
  docs/setup-cluster/k8s/k8s-dev-guide.rst
  docs/setup-cluster/rocm-support.rst
  docs/setup-cluster/slurm/slurm-known-issues.rst
Labels: documentation, cla-signed

#9847 fix: change workspace name and set resource quota simultaneously
  harness/determined/common/api/bindings.py
  master/internal/api_user_intg_test.go
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/workspace/postgres_workspace_intg_test.go
  master/pkg/model/workspace.go
  master/static/migrations/20240828115158_add-auto-created-namespace-column.tx.up.sql
  master/static/views_and_triggers/down.sql
  master/static/views_and_triggers/up/workspaces.sql
  proto/pkg/workspacev1/workspace.pb.go
  proto/src/determined/workspace/v1/workspace.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#9914 fix: GetTrialRemainingLogRetentionDays should take global log retention days into account [CM-518]
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
Labels: cla-signed

#9905 test: add workspace tests
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/GridListRadioGroup.tsx
  webui/react/src/e2e/fixtures/global-fixtures.ts
  webui/react/src/e2e/models/components/GridListRadioGroup.ts
  webui/react/src/e2e/models/pages/WorkspaceList.ts
  webui/react/src/e2e/models/pages/WorkspaceList/WorkspaceCard.ts
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
  webui/react/src/pages/WorkspaceList.tsx
Labels: cla-signed

#9912 chore: prune cruft out of no_op fixture
  e2e_tests/tests/cluster/test_checkpoints.py
  e2e_tests/tests/cluster/test_exp_continue.py
  e2e_tests/tests/cluster/test_log_policies.py
  e2e_tests/tests/cluster/test_webhooks.py
  e2e_tests/tests/config.py
  e2e_tests/tests/experiment/__init__.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/fixtures/no_op/adaptive.yaml
  e2e_tests/tests/fixtures/no_op/adaptive_chaos.yaml
  e2e_tests/tests/fixtures/no_op/grid-graceful-trial-termination.yaml
  e2e_tests/tests/fixtures/no_op/grid-short.yaml
  e2e_tests/tests/fixtures/no_op/model_def.py
  e2e_tests/tests/fixtures/no_op/short-default-ckpt.yaml
  e2e_tests/tests/fixtures/no_op/single-default-ckpt.yaml
  e2e_tests/tests/fixtures/no_op/single-hpc.yaml
  e2e_tests/tests/fixtures/no_op/single-in-epochs.yaml
  e2e_tests/tests/fixtures/no_op/single-in-records.yaml
  e2e_tests/tests/fixtures/no_op/single-medium-train-step.yaml
  e2e_tests/tests/fixtures/no_op/single-nan-validations.yaml
  e2e_tests/tests/fixtures/no_op/single-one-short-step.yaml
  e2e_tests/tests/fixtures/no_op/single.yaml
  e2e_tests/tests/fixtures/no_op/startup-hook.yaml
Labels: cla-signed

#9913 fix: huggingface callback raise process preempted exception
  harness/determined/transformers/_hf_callback.py
Labels: cla-signed

#9890 feat: support updating web hook url [MD-482]
  e2e_tests/tests/cluster/test_webhooks.py
  harness/determined/common/api/bindings.py
  master/internal/webhooks/api_webhook.go
  master/internal/webhooks/postgres_webhook.go
  master/internal/webhooks/singleton.go
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/webhook.pb.go
  proto/pkg/webhookv1/webhook.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/webhook.proto
  proto/src/determined/webhook/v1/webhook.proto
  webui/react/src/components/WebhookEditModal.tsx
  webui/react/src/pages/WebhookList.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#9908 build: INFENG-848: Fix gen-versions.py
  docs/Makefile
  docs/exclude-versions.txt
  docs/gen-versions.py
  docs/gen-versions.sh
Labels: documentation, cla-signed

#9922 chore: update test log pattern webhook cache
  e2e_tests/tests/cluster/test_webhooks.py
Labels: cla-signed

#9924 chore: fix config policy unmarshal tests
  master/internal/configpolicy/utils_test.go
Labels: cla-signed

#9923 fix: move validation dataloader check in PyTorchTrial [MD-515]
  harness/determined/pytorch/_pytorch_trial.py
Labels: cla-signed

#9925 fix: update huggingface example
  examples/hf_trainer_api/hf_image_classification/image_classification.py
Labels: cla-signed

#9931 fix: flaky workspace test
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
Labels: cla-signed

#9929 ci: increase timeout for k8s intg tests
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
Labels: cla-signed

#9930 fix: update LogRetentionDays from master config when master starts/upgrades
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/release-notes/fix-master-log-retention-days.rst
  master/internal/core.go
Labels: documentation, cla-signed

#9926 chore: reassign RM code to CM in CODEOWNERS
  .github/CODEOWNERS
Labels: cla-signed

#9902 fix: do not filter slots for mixed-slot-type pools
  docs/release-notes/unspecified-slots.rst
  master/internal/rm/agentrm/mock_test.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/resource_pool_test.go
  master/internal/rm/agentrm/scheduler_test.go
  master/internal/rm/agentrm/summaries.go
  webui/react/src/components/SlotAllocationBar.tsx
  webui/react/src/utils/cluster.test.ts
  webui/react/src/utils/cluster.ts
Labels: documentation, cla-signed

#9920 chore: bump coverage target
  codecov.yml
Labels: cla-signed

#9935 chore: change log level for log retention policies
  master/internal/logretention/logretention.go
Labels: cla-signed

#9917 fix: use different modules for Trial and Cluster topology
  webui/react/src/pages/ResourcePool/ClusterTopology.module.scss
  webui/react/src/pages/ResourcePool/ClusterTopology.tsx
  webui/react/src/pages/ResourcePool/ResourcepoolDetail.tsx
  webui/react/src/pages/ResourcePool/TrialTopology.module.scss
  webui/react/src/pages/ResourcePool/TrialTopology.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
Labels: cla-signed

#9928 test: add projects tests [CM-467]
  webui/react/src/components/ProjectMoveModal.tsx
  webui/react/src/e2e/models/components/ProjectCard.ts
  webui/react/src/e2e/models/components/ProjectMoveModal.ts
  webui/react/src/e2e/models/pages/WorkspaceDetails/WorkspaceProjects.ts
  webui/react/src/e2e/tests/projects.spec.ts
  webui/react/src/e2e/tests/workspaces.spec.ts
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
Labels: cla-signed

#9927 chore: implement Delete config policies API handlers
  master/internal/api_config_policies.go
  master/internal/api_config_policies_intg_test.go
  master/internal/configpolicy/postgres_task_config_policy.go
  master/internal/configpolicy/postgres_task_config_policy_intg_test.go
  master/internal/configpolicy/utils.go
  master/pkg/model/task_config_policy.go
  master/pkg/model/task_config_policy_test.go
Labels: cla-signed

#9919 docs: Replace slack links
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/question.yml
  CONTRIBUTING.md
  README.md
  docs/_templates/article-header-buttons.html
Labels: documentation, cla-signed

#9898 chore: remove unused languages from code editor
  webui/react/package-lock.json
  webui/react/package.json
Labels: cla-signed

#9932 test: experiment list show archived filter [ET-753]
  webui/react/src/e2e/tests/experimentList.spec.ts
Labels: cla-signed

#9942 test: debug auth [TESTENG-95]
  webui/react/src/e2e/fixtures/api.workspace.fixture.ts
Labels: cla-signed

#9946 feat: add Config Policies GET API and modify CRUD functions to accept both Workload types
  master/internal/api_config_policies.go
  master/internal/api_config_policies_intg_test.go
  master/internal/configpolicy/postgres_task_config_policy.go
  master/internal/configpolicy/postgres_task_config_policy_intg_test.go
  master/pkg/model/task_config_policy.go
Labels: cla-signed

#9953 ci: fix flaky test_allocation_csv tests
  e2e_tests/tests/experiment/test_allocation_csv.py
Labels: cla-signed

#9937 fix: broken MNIST download in e2e tests
  e2e_tests/tests/cluster/test_checkpoints.py
  e2e_tests/tests/cluster/test_coscheduler.py
  e2e_tests/tests/cluster/test_job_queue.py
  e2e_tests/tests/cluster/test_model_registry.py
  e2e_tests/tests/cluster/test_slurm.py
  e2e_tests/tests/command/test_tensorboard.py
  e2e_tests/tests/environment/test_nvidia_driver.py
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/experiment/test_launch.py
  e2e_tests/tests/experiment/test_metrics.py
  e2e_tests/tests/experiment/test_noop.py
  e2e_tests/tests/experiment/test_pending_hpc.py
  e2e_tests/tests/experiment/test_port_registry.py
  e2e_tests/tests/fixtures/mnist_pytorch/startup-hook.sh
  e2e_tests/tests/nightly/test_convergence.py
  e2e_tests/tests/nightly/test_distributed.py
  examples/tutorials/mnist_pytorch/train.py
Labels: cla-signed

#9941 chore: fix global PUT for task config policies
  harness/determined/common/api/bindings.py
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/config_policies.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/config_policies.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#9952 feat: add GET global config policies API
  master/internal/api_config_policies.go
  master/internal/api_config_policies_intg_test.go
  master/internal/configpolicy/postgres_task_config_policy.go
Labels: cla-signed

#9957 ci: deflake make slurmcluster, hopefully
  tools/slurm/scripts/slurmcluster.sh
Labels: cla-signed

#9906 feat: rename search props (ET-693)
  master/internal/api_search.go
  master/internal/api_search_intg_test.go
  proto/pkg/apiv2/api.pb.go
  proto/pkg/apiv2/search.pb.go
  proto/pkg/jobv2/job.pb.go
  proto/pkg/searchv2/search.pb.go
  proto/src/determined/api/v2/api.proto
  proto/src/determined/api/v2/search.proto
  proto/src/determined/job/v2/job.proto
  proto/src/determined/search/v2/search.proto
Labels: cla-signed

#9933 docs: Mark APIs internal (ET-694)
  master/internal/core_experiment.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/searchv2/search.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/search/v2/search.proto
Labels: cla-signed

#9936 docs: Add cluster overview
  docs/assets/images/webui-cluster-overview.png
  docs/manage/_index.rst
  docs/manage/cluster-overview.rst
Labels: documentation, cla-signed

#9943 chore: refactor and test RBAC config policies work [CM-530]
  master/.mockery.yaml
  master/internal/api_config_policies.go
  master/internal/api_config_policies_intg_test.go
  master/internal/cluster/authz_basic_impl.go
  master/internal/cluster/authz_iface.go
  master/internal/cluster/authz_permissive.go
  master/internal/configpolicy/authz_basic_impl.go
  master/internal/configpolicy/authz_iface.go
  master/internal/configpolicy/authz_permissive.go
  master/internal/configpolicy/authz_rbac.go
  master/internal/db/postgres_rbac_intg_test.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
  master/internal/workspace/authz_permissive.go
  master/internal/workspace/authz_rbac.go
  master/static/migrations/20240917113855_modify-tcp-rbac-perms.tx.up.sql
Labels: cla-signed

#9938 docs: Add workload alerting
  docs/integrations/_index.rst
  docs/integrations/notification/_index.rst
  docs/integrations/notification/slack.rst
  docs/integrations/notification/workload-alerting.rst
  docs/integrations/notification/zapier.rst
Labels: documentation, cla-signed

#9939 perf: improve the initial page load speed
  master/internal/core.go
  webui/react/src/App.tsx
  webui/react/src/routes/index.tsx
Labels: cla-signed

#9945 docs: Add hpc installation guide
  docs/setup-cluster/slurm/_index.rst
  docs/setup-cluster/slurm/hpc-environment-requirements.rst
  docs/setup-cluster/slurm/install-on-slurm.rst
  docs/setup-cluster/slurm/slurm-known-issues.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  docs/setup-cluster/slurm/upgrade-on-hpc.rst
Labels: documentation, cla-signed

#9960 chore: do not log error for resource pools with zero agents
  master/internal/rm/agentrm/summaries.go
Labels: cla-signed

#9963 fix: show `-` for empty data in searches table [ET-749]
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/Searches/columns.ts
  webui/react/src/pages/FlatRuns/columns.ts
  webui/react/src/utils/table.test.ts
  webui/react/src/utils/table.ts
Labels: cla-signed

#9956 feat: add database snapshot functionality to Helm chart
  docs/reference/deploy/helm-config-reference.rst
  docs/release-notes/helm-db-snapshot.rst
  helm/charts/determined/templates/db-deployment.yaml
  helm/charts/determined/templates/db-persistent-volume-claim.yaml
  helm/charts/determined/templates/db-volume-snapshot-class.yaml
  helm/charts/determined/templates/db-volume-snapshot.yaml
  helm/charts/determined/values.yaml
Labels: documentation, cla-signed

#9967 chore: 0.37.0 environment images
  .circleci/real_config.yml
  .circleci/scripts/pull_image_daemonset.yaml
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/model-dev-guide/prepare-container/tensorflow-support.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  e2e_tests/tests/fixtures/ports-proxy/config.yaml
  examples/computer_vision/iris_tf_keras/adaptive.yaml
  examples/computer_vision/iris_tf_keras/const.yaml
  examples/computer_vision/iris_tf_keras/distributed.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_cancelable.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_high_priority.yaml
  examples/deepspeed_autotune/torchvision/core_api/deepspeed.yaml
  examples/deepspeed_autotune/torchvision/deepspeed_trial/deepspeed.yaml
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/pkg/schemas/expconf/const.go
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/environments-target.txt
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: documentation, cla-signed

#9971 fix: correct `dataPath` for hyperparameters
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Labels: cla-signed, to-cherry-pick

#9966 fix: grid hp samping ignored empty nests
  docs/release-notes/9966-fix-grid.rst
  master/pkg/searcher/grid.go
  master/pkg/searcher/grid_test.go
Labels: documentation, cla-signed

#9972 docs: add docstring for PyTorchContext.current_train_epoch
  harness/determined/pytorch/_pytorch_context.py
Labels: cla-signed

#9973 ci: remove default arg from utils.run_command()
  e2e_tests/tests/cluster/test_priority_scheduler.py
  e2e_tests/tests/cluster/utils.py
Labels: cla-signed

#9950 feat: workspace task config policies UI [CM-478]
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ConfigPolicies.test.tsx
  webui/react/src/components/ConfigPolicies.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#9974 fix: Deactivate User test flake
  webui/react/src/e2e/tests/userManagement.spec.ts
Labels: cla-signed

#9975 fix: Cluster page height
  webui/react/src/pages/Cluster.module.scss
Labels: to-cherry-pick

#9977 fix: fix hf on_save raise exception
  harness/determined/transformers/_hf_callback.py
Labels: cla-signed

#9979 fix: Reactivate User test flake
  webui/react/src/e2e/tests/userManagement.spec.ts
Labels: cla-signed

#9984 fix: bring in handleEmptyCell from #9963
  webui/react/src/pages/FlatRuns/columns.ts
  webui/react/src/utils/table.test.ts
  webui/react/src/utils/table.ts
Labels: cla-signed

#9986 test: increase Reactivate test step timeout
  webui/react/src/e2e/tests/userManagement.spec.ts
Labels: cla-signed

#9951 ci: increase datagrid rightclick timeout/ reduce worker count
  webui/react/playwright.config.ts
  webui/react/src/e2e/models/common/hew/DataGrid.ts
Labels: cla-signed

#9996 docs: fix broken links
  docs/model-dev-guide/hyperparameter/search-methods/_index.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/setup-cluster/on-prem/options/docker.rst
Labels: documentation, cla-signed, to-cherry-pick

#9954 feat: Run Centric API - Retain Logs, Searcher Operations/Events
  master/internal/api_search.go
  proto/pkg/apiv2/api.pb.go
  proto/pkg/apiv2/search.pb.go
  proto/src/determined/api/v2/api.proto
  proto/src/determined/api/v2/search.proto
Labels: cla-signed

#9983 chore: implement PUT APIs for task config policies
  master/internal/api_config_policies.go
  master/internal/api_config_policies_intg_test.go
  master/internal/configpolicy/utils.go
  master/internal/configpolicy/utils_test.go
Labels: cla-signed

#9995 docs: add release notes for 0.37.0
  docs/release-notes.rst
  docs/release-notes/auto-populate-posix.rst
  docs/release-notes/fix-master-log-retention-days.rst
  docs/release-notes/remove-model-hub.rst
  docs/release-notes/unspecified-slots.rst
  docs/release-notes/workload-alerting.rst
Labels: documentation, cla-signed

#9985 fix: import missing time module
  docs/deploy/upload.py
Labels: documentation, cla-signed
