Repository determined-ai/determined, pull requests merged in 2024-11, with the labels that each got.

#10174 docs: update docs for non-Trial-centric world
  docs/model-dev-guide/api-guides/apis-howto/api-core-ug.rst
  docs/model-dev-guide/create-experiment.rst
  docs/model-dev-guide/debug-models.rst
  examples/computer_vision/iris_tf_keras/train.py
  examples/deepspeed/dcgan/data.py
  examples/deepspeed/dcgan/model.py
  examples/diffusion/textual_inversion_stable_diffusion/detsd/trainer.py
  examples/tutorials/core_api_pytorch_mnist/adaptive.yaml
  examples/tutorials/core_api_pytorch_mnist/distributed.yaml
  examples/tutorials/core_api_pytorch_mnist/model_def_adaptive.py
Labels: documentation, cla-signed, backport release-0.38.0

#10188 fix: include max_length in continue expconf
  webui/react/src/types.ts
  webui/react/src/utils/experiment.ts
Labels: cla-signed, backport release-0.38.0

#10192 fix: keras continue from cloud checkpoint
  harness/determined/keras/_callback.py
  harness/tests/experiment/keras/test_callback.py
Labels: cla-signed, backport release-0.38.0

#10182 docs: docs changes for searcher context removal
  docs/model-dev-guide/api-guides/apis-howto/deepspeed/deepspeed.rst
  docs/model-dev-guide/api-guides/apis-howto/deepspeed/pytorch2deepspeed.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/training/api-deepspeed-reference.rst
  docs/reference/training/api-pytorch-reference.rst
  docs/release-notes/searcher-context-removal.rst
  examples/deepspeed/dcgan/README.md
  examples/deepspeed/dcgan/model.py
  harness/determined/pytorch/_trainer_utils.py
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
  harness/determined/pytorch/deepspeed/_trainer.py
  master/pkg/searcher/searcher.go
Labels: documentation, cla-signed, backport release-0.38.0

#10191 ci: take removed API out of performance tests
  performance/daist/daist/rest_api/tasks.py
Labels: cla-signed

#10160 fix: maxPoolSlotCapacity bug
  webui/react/src/components/HyperparameterSearchModal.tsx
  webui/react/src/stores/cluster.tsx
Labels: cla-signed, backport release-0.38.0

#10170 chore: remove track-prs for release project
  .github/workflows/backport.yaml
  .github/workflows/track-prs-for-release.yml
  tools/scripts/gql.py
  tools/scripts/track-pr
Labels: cla-signed

#10187 fix: cover select all edge cases
  webui/react/src/components/LoadableCount.test.tsx
  webui/react/src/components/LoadableCount.tsx
  webui/react/src/components/Searches/Searches.tsx
  webui/react/src/components/TableActionBar.tsx
  webui/react/src/e2e/models/components/TableActionBar.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Labels: cla-signed, backport release-0.38.0

#10197 chore: 0.38.0 environment images
  .circleci/real_config.yml
  .circleci/scripts/pull_image_daemonset.yaml
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/model-dev-guide/prepare-container/tensorflow-support.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  e2e_tests/tests/fixtures/ports-proxy/config.yaml
  examples/computer_vision/iris_tf_keras/adaptive.yaml
  examples/computer_vision/iris_tf_keras/const.yaml
  examples/computer_vision/iris_tf_keras/distributed.yaml
  examples/deepspeed/dcgan/mnist.yaml
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/pkg/schemas/expconf/const.go
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/environments-target.txt
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: documentation, cla-signed

#10202 fix: perf issue with too many API reqs when listing pods in all ns
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/jobs_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
Labels: cla-signed

#10201 ci: delete znode tests
  .circleci/real_config.yml
  e2e_tests/pytest.ini
  e2e_tests/tests/cluster/conftest.py
  e2e_tests/tests/cluster/managed_slurm_cluster.py
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/cluster/test_slurm.py
  e2e_tests/tests/conftest.py
  tools/slurm/README.md
Labels: cla-signed

#10203 revert: log search
  docs/release-notes/log-search-improvement.rst
  master/internal/api/filters.go
  master/internal/api_tasks.go
  master/internal/api_tasks_intg_test.go
  master/internal/api_trials.go
  master/internal/db/postgres_filters.go
  master/internal/db/postgres_tasks_intg_test.go
  master/internal/elastic/elastic_task_logs.go
  webui/react/src/pages/TrialDetails/LogViewer.module.scss
  webui/react/src/pages/TrialDetails/LogViewer.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.module.scss
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: documentation, cla-signed, backport release-0.38.0

#10082 chore: enable merge flag for generated bindings
  .gitattributes
Labels: cla-signed

#10206 ci: remove datadog from ci
  .circleci/datadog/ci-local-config.yaml
  .circleci/datadog/e2e-log-settings.yaml
  .circleci/real_config.yml
  e2e_tests/tests/requirements.txt
Labels: cla-signed

#10207 fix: revert: fix: resolve indefinitely queued (STOPPING_COMPLETED) trials
  e2e_tests/tests/cluster/test_master_restart.py
  master/internal/trial.go
  master/internal/trial_intg_test.go
Labels: cla-signed

#10209 chore: genai release note
  docs/release-notes/gen-ai-warning.rst
Labels: documentation, cla-signed, backport release-0.38.0

#10211 chore: fix license check
  master/internal/api_token.go
  master/internal/license/license.go
Labels: cla-signed, backport release-0.38.0

#10216 fix: license check tests
  master/internal/license/license.go
  master/internal/license/license_test.go
Labels: cla-signed, backport release-0.38.0

#10208 chore: revert select all
  harness/determined/common/api/bindings.py
  master/internal/api_searches.go
  master/internal/api_searches_intg_test.go
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/run.pb.go
  proto/pkg/apiv1/search.pb.go
  proto/pkg/apiv1/tensorboard.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/run.proto
  proto/src/determined/api/v1/search.proto
  proto/src/determined/api/v1/tensorboard.proto
  webui/react/src/components/ComparisonView.test.mock.tsx
  webui/react/src/components/ComparisonView.tsx
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/ExperimentCreateModal.test.tsx
  webui/react/src/components/ExperimentCreateModal.tsx
  webui/react/src/components/ExperimentMoveModal.tsx
  webui/react/src/components/ExperimentTensorBoardModal.tsx
  webui/react/src/components/LoadableCount.test.tsx
  webui/react/src/components/LoadableCount.tsx
  webui/react/src/components/RunActionDropdown.tsx
  webui/react/src/components/RunFilterInterstitialModalComponent.test.tsx
  webui/react/src/components/RunFilterInterstitialModalComponent.tsx
  webui/react/src/components/Searches/Searches.tsx
  webui/react/src/components/TableActionBar.tsx
  webui/react/src/e2e/models/common/hew/DataGrid.ts
  webui/react/src/e2e/models/components/TableActionBar.ts
  webui/react/src/e2e/models/pages/ProjectDetails.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
  webui/react/src/hooks/useSelection.ts
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/FlatRuns/FlatRunActionButton.test.tsx
  webui/react/src/pages/FlatRuns/FlatRunActionButton.tsx
  webui/react/src/pages/FlatRuns/FlatRunMoveModal.test.tsx
  webui/react/src/pages/FlatRuns/FlatRunMoveModal.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/utils/experiment.ts
  webui/react/src/utils/task.ts
Labels: cla-signed, backport release-0.38.0

#10219 chore: backport 10208 to release 0.38.0
  harness/determined/common/api/bindings.py
  master/internal/api_searches.go
  master/internal/api_searches_intg_test.go
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/run.pb.go
  proto/pkg/apiv1/search.pb.go
  proto/pkg/apiv1/tensorboard.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/run.proto
  proto/src/determined/api/v1/search.proto
  proto/src/determined/api/v1/tensorboard.proto
  webui/react/src/components/ComparisonView.test.mock.tsx
  webui/react/src/components/ComparisonView.tsx
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/ExperimentCreateModal.test.tsx
  webui/react/src/components/ExperimentCreateModal.tsx
  webui/react/src/components/ExperimentMoveModal.tsx
  webui/react/src/components/ExperimentTensorBoardModal.tsx
  webui/react/src/components/LoadableCount.tsx
  webui/react/src/components/RunActionDropdown.tsx
  webui/react/src/components/RunFilterInterstitialModalComponent.test.tsx
  webui/react/src/components/RunFilterInterstitialModalComponent.tsx
  webui/react/src/components/Searches/Searches.tsx
  webui/react/src/components/TableActionBar.tsx
  webui/react/src/e2e/models/common/hew/DataGrid.ts
  webui/react/src/e2e/models/components/TableActionBar.ts
  webui/react/src/e2e/models/pages/ProjectDetails.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
  webui/react/src/hooks/useSelection.ts
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/FlatRuns/FlatRunActionButton.test.tsx
  webui/react/src/pages/FlatRuns/FlatRunActionButton.tsx
  webui/react/src/pages/FlatRuns/FlatRunMoveModal.test.tsx
  webui/react/src/pages/FlatRuns/FlatRunMoveModal.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/utils/experiment.ts
  webui/react/src/utils/task.ts
Labels: cla-signed

#10213 fix: port k8s perf fix
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/jobs_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
Labels: cla-signed, backport release-0.38.0

#10221 fix: use new migration gist
  docs/release-notes/unsupport-aurora-postgres-reminder.rst
  harness/determined/deploy/aws/aws.py
Labels: documentation, cla-signed, backport release-0.38.0

#10224 fix: make some k8s tests pass
  master/internal/rm/kubernetesrm/jobs_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
Labels: backport release-0.38.0

#10226 chore: eliminate use of fury repo
  harness/Makefile
Labels: backport release-0.38.0

#10231 chore: release notes 0.38.0
  docs/release-notes.rst
  docs/release-notes/9966-fix-grid.rst
  docs/release-notes/add-host-port-scheme-to-helm.rst
  docs/release-notes/api-cli-access-token.rst
  docs/release-notes/config-policies.rst
  docs/release-notes/helm-db-snapshot.rst
  docs/release-notes/log-signal.rst
  docs/release-notes/pytorch-tensorboard-plugin.rst
  docs/release-notes/rbac-new-tokenCreator-role.rst
  docs/release-notes/remove-custom-searcher.rst
  docs/release-notes/searcher-context-removal.rst
  docs/release-notes/ssh-crypto-system.rst
  docs/release-notes/unsupport-aurora-postgres-reminder.rst
Labels: documentation
