Repository determined-ai/determined, pull requests merged in 2024-08, with the labels that each got.

#9779 fix: fix contains filter for hyperparameters and metadata
  master/internal/api_runs_intg_test.go
  master/internal/experiment_filter.go
Labels: cla-signed, to-cherry-pick

#9775 chore: add Cluster Name title and change helm value
  helm/charts/determined/values.yaml
  webui/react/src/components/WorkspaceCreateModal.tsx
Labels: cla-signed, to-cherry-pick

#9739 chore: add a utility for connecting devcluster to remote k8s clusters
  tools/k8s/.gitignore
  tools/k8s/contour.yaml
  tools/k8s/launch-minikube-with-gateway.sh
  tools/k8s/remote_connect.md
  tools/k8s/remote_connect.py
Labels: cla-signed

#9784 test: skip flaky test
  webui/react/src/e2e/tests/experimentList.spec.ts
Labels: cla-signed

#9759 feat: add array column type for abitrary metadata
  harness/determined/common/api/bindings.py
  master/internal/api_project.go
  master/internal/run/runs.go
  master/internal/run/runs_test.go
  master/pkg/model/run.go
  master/static/migrations/20240730101405_add-array-column-to-run-metadata-index.tx.up.sql
  proto/pkg/projectv1/project.pb.go
  proto/src/determined/project/v1/project.proto
  webui/react/src/components/FilterForm/components/type.ts
  webui/react/src/components/MultiSortMenu.tsx
  webui/react/src/ioTypes.ts
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#9776 feat: show metadata in run table
  webui/react/src/components/ColumnPickerMenu.module.scss
  webui/react/src/components/ColumnPickerMenu.test.mock.tsx
  webui/react/src/components/ColumnPickerMenu.test.tsx
  webui/react/src/components/ColumnPickerMenu.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Labels: cla-signed

#9788 fix: fixed helm chart values and master-config.yaml
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
Labels: cla-signed, to-cherry-pick

#9790 fix: uncomment helm values
  helm/charts/determined/values.yaml
Labels: cla-signed, to-cherry-pick

#9787 chore: readme should include codecov
  webui/react/README.md
Labels: cla-signed

#9785 build: INFENG-780: Remove CircleCI bumpversion
  .bumpversion.cfg
  .circleci/config.yml
  .circleci/real_config.yml
  agent/internal/agent.go
  docs/README.md
  harness/determined/__init__.py
  harness/determined/core/_log_shipper.py
  harness/setup.py
  model_hub/setup.py
  requirements.txt
  version.sh
Labels: documentation, cla-signed

#9774 fix: Add loading indicator when creating HP search
  webui/react/src/components/HyperparameterSearchModal.tsx
Labels: cla-signed

#9797 chore: fix readme typo
  webui/react/README.md
Labels: cla-signed

#9792 ci: label `make slurmcluster` instances for cloud spend [CM-405]
  .circleci/real_config.yml
  tools/slurm/scripts/slurmcluster.sh
  tools/slurm/terraform/main.tf
  tools/slurm/terraform/scripts/generate-tfvars.sh
  tools/slurm/terraform/variables.tf
Labels: cla-signed

#9789 fix: don't filter single runs in the comparison view
  webui/react/src/components/FilterForm/components/type.ts
  webui/react/src/components/RunFilterInterstitialModalComponent.test.tsx
  webui/react/src/components/RunFilterInterstitialModalComponent.tsx
  webui/react/src/utils/filterFormSet.ts
  webui/react/src/utils/flatRun.ts
Labels: cla-signed, to-cherry-pick

#9783 test: omnibar tree-extension tests [ET-203]
  webui/react/src/omnibar/tree-extension/index.test.tsx
  webui/react/src/omnibar/tree-extension/index.ts
Labels: cla-signed

#9796 feat: add editor project restricted role and testing [DET-10428]
  docs/release-notes/editor-project-restricted.rst
  master/internal/db/postgres_rbac_intg_test.go
  master/static/migrations/20240801095202_add-editor-project-restricted-role.tx.up.sql
Labels: documentation, cla-signed

#9798 fix: forked from link
  webui/react/src/pages/FlatRuns/columns.ts
Labels: cla-signed, to-cherry-pick

#9801 ci: fix scripting for `make slurmcluster` job
  .circleci/real_config.yml
Labels: cla-signed

#9795 fix: return proper error message when moving a project with a matching names
  master/internal/api_project.go
  webui/react/src/components/ProjectMoveModal.tsx
Labels: cla-signed

#9802 test: datagrid action pause flake
  webui/react/src/e2e/README.md
  webui/react/src/e2e/docs/images/trigger-pipeline.png
  webui/react/src/e2e/models/common/hew/DataGrid.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
Labels: cla-signed

#9793 chore: change the comment for defaultNamespace in values.yaml
  docs/reference/deploy/master-config-reference.rst
  docs/setup-cluster/k8s/resource-caps.rst
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
  master/internal/config/resource_manager_config.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
Labels: documentation, cla-signed, to-cherry-pick

#9805 fix: prevent multiple calls to time-series on compare view select
  webui/react/src/components/CompareHyperparameters.test.mock.tsx
  webui/react/src/components/CompareMetrics.tsx
  webui/react/src/components/ComparisonView.test.mock.tsx
  webui/react/src/components/ComparisonView.tsx
  webui/react/src/hooks/useMetricNames.ts
  webui/react/src/hooks/useMetrics.ts
Labels: cla-signed, to-cherry-pick

#9803 fix: make navigation sidebar scrollable [ET-633]
  webui/react/src/components/NavigationSideBar.module.scss
Labels: cla-signed

#9786 docs: add release notes for 0.35.0
  docs/release-notes.rst
  docs/release-notes/basic-lineage.rst
  docs/release-notes/cli-cmd-describe.rst
  docs/release-notes/compare-selected-experiments.rst
  docs/release-notes/continue-trial.rst
  docs/release-notes/delete-namespace-bindings.rst
  docs/release-notes/deprecate-containerRuntime.rst
  docs/release-notes/deprecate-job-move.rst
  docs/release-notes/deprecate-name-use-cluster-name.rst
  docs/release-notes/deprecate-priority-scheduler.rst
  docs/release-notes/detached-mode-config-improvement.rst
  docs/release-notes/edit-HP-search.rst
  docs/release-notes/fetching-metrics-fix.rst
  docs/release-notes/fix-taskstats.rst
  docs/release-notes/historic-usage-chart-timezones.rst
  docs/release-notes/m6i.rst
  docs/release-notes/model-hub-deprecation.rst
  docs/release-notes/relabel-allocation-csv.rst
  docs/release-notes/remove-agent-labels.rst
  docs/release-notes/resource-allocation.rst
  docs/release-notes/run-centric-ux.rst
  docs/release-notes/secret-experiment-config.rst
  docs/release-notes/sso-auto-redirect.rst
  docs/release-notes/wksp-slot-caps-webui.rst
  docs/release-notes/workspace-namespace-binding.rst
Labels: documentation, cla-signed

#9808 feat: exclude `Array` type columns
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Labels: cla-signed

#9810 feat: support filter by metadata with string type
  webui/react/src/components/FilterForm/TableFilter.tsx
  webui/react/src/components/FilterForm/components/FilterField.tsx
  webui/react/src/components/FilterForm/components/FilterForm.tsx
  webui/react/src/components/FilterForm/components/FilterGroup.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Labels: cla-signed

#9658 test: add go unit tests for experiment bulk actions [ET-138]
  master/internal/api_experiment.go
  master/internal/experiment/bulk_action.go
  master/internal/experiment/bulk_action_intg_test.go
  master/internal/experiment/bulk_action_test.go
Labels: cla-signed

#9693 fix: don't ignore failed exps
  docs/release-notes/experiments-failed-status.rst
  e2e_tests/tests/cluster/test_experiment_delete.py
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/experiment/test_core.py
  master/internal/experiment.go
Labels: documentation, cla-signed

#9816 docs: Fix broken links
  docs/reference/deploy/master-config-reference.rst
Labels: documentation, cla-signed

#9809 build: INFENG-812: fix model_hub Docker tag
  .circleci/real_config.yml
Labels: cla-signed

#9818 docs: Getting a list of files in a checkpoint
  docs/model-dev-guide/api-guides/apis-howto/api-core-ug-basic.rst
  docs/model-dev-guide/api-guides/apis-howto/api-core-ug.rst
  docs/model-dev-guide/api-guides/apis-howto/api-pytorch-ug.rst
  docs/model-dev-guide/model-management/_index.rst
  docs/model-dev-guide/model-management/checkpoints.rst
  docs/reference/python-sdk/python-sdk.rst
Labels: documentation, cla-signed

#9763 chore: deprecate kubernetes priority w/ preemption scheduler
  docs/get-started/architecture/introduction.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/release-notes/deprecate-k8s-preemption-scheduler.rst
  helm/charts/determined/templates/NOTES.txt
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/templates/scheduler-config.yaml
  helm/charts/determined/templates/scheduler-deployment.yaml
  helm/charts/determined/templates/scheduler-permissions.yaml
  helm/charts/determined/values.yaml
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/config/resource_manager_config.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/spec.go
Labels: documentation, cla-signed

#9821 chore: fix torch version to 2.2.2 for intel mac
  docs/requirements.txt
  e2e_tests/tests/requirements.txt
  harness/tests/requirements/requirements-harness.txt
Labels: documentation, cla-signed

#9794 chore: initial k8s rocm support [CM-367]
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes/rocm-k8s-gpu.rst
  master/internal/config/resource_config_test.go
  master/internal/config/resource_manager_config.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/jobs_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
Labels: documentation, cla-signed

#9813 docs: Describe basic lineage steps
  docs/integrations/data-transformers/pachyderm.rst
  docs/tutorials/pachyderm-cat-dog.rst
Labels: documentation, cla-signed

#9812 fix: checkpoint table action menu shouldn't vanish on polling [ET-277]
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
Labels: cla-signed

#9828 Clarify basic data lineage to mldm
  docs/integrations/data-transformers/pachyderm.rst
  docs/tutorials/pachyderm-cat-dog.rst
Labels: documentation, cla-signed

#9819 chore: unskip flaky test
  webui/react/src/hooks/useTypedParams.test.tsx
Labels: cla-signed

#9823 fix: hide metadata section if there's no metadata
  webui/react/src/components/Metadata.test.tsx
  webui/react/src/components/Metadata.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
Labels: cla-signed

#9822 feat: allow users with role Viewer and above to view resource quotas
  harness/determined/common/api/bindings.py
  master/internal/api_workspace.go
  master/internal/db/postgres_rbac_intg_test.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
  master/internal/workspace/authz_permissive.go
  master/internal/workspace/authz_rbac.go
  master/static/migrations/20240814123944_add-view-resource-quotas-permissions.tx.up.sql
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/components/WorkspaceCreateModal.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/WorkspaceList/WorkspaceActionDropdown.tsx
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#9829 chore: deprecate Custom Searcher [MD-504]
  docs/model-dev-guide/api-guides/apis-howto/deepspeed/autotuning.rst
  docs/model-dev-guide/hyperparameter/search-methods/hp-custom.rst
  docs/reference/custom-searcher-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/release-notes/deprecate-custom-searchers.rst
  e2e_tests/tests/fixtures/custom_searcher/searchers.py
  harness/determined/searcher/_remote_search_runner.py
  harness/determined/searcher/_search_method.py
  harness/determined/searcher/_search_runner.py
Labels: documentation, cla-signed

#9824 docs: Make docs consistent with run centric ux
  docs/assets/images/api-core-ug-hp.png
  docs/assets/images/api-core-ug-metrics.png
  docs/assets/images/qs04.png
  docs/assets/images/qswebui-mnist-pytorch-search.png
  docs/assets/images/qswebui-multi-trial-search.png
  docs/assets/images/qswebui-recent-local.png
  docs/get-started/webui-qs-multi.rst
  docs/get-started/webui-qs.rst
  docs/model-dev-guide/api-guides/apis-howto/api-core-ug.rst
  docs/tutorials/quickstart-mdldev.rst
Labels: documentation, cla-signed

#9834 docs: Docs cleanup
  docs/.redirects/redirects.json
  docs/get-started/webui-qs-multi.rst
Labels: documentation, to-cherry-pick

#9836 docs: Minor docs enhancements
  docs/tools/webui-if.rst
Labels: documentation, cla-signed, to-cherry-pick

#9838 fix: replace rawsource attribute with node directly, due to removal of rawsource in Docutil 2.0
  docs/rebrand-docs.py
Labels: documentation, cla-signed, to-cherry-pick

#9826 feat: Add `report_progress` to `TrainContext`
  docs/model-dev-guide/api-guides/apis-howto/api-core-ug-basic.rst
  examples/features/unmanaged/1_singleton.py
  examples/features/unmanaged/2_checkpoints.py
  examples/tutorials/core_api/1_metrics.py
  examples/tutorials/core_api/2_checkpoints.py
  harness/determined/common/api/bindings.py
  harness/determined/core/_searcher.py
  harness/determined/core/_train.py
  master/internal/api_trials.go
  master/internal/db/postgres_experiments.go
  master/internal/experiment.go
  master/internal/experiment/experiment_iface.go
  master/internal/trials/postgres_trials.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: documentation, cla-signed

#9830 feat: Rocm bumpenvs
  .circleci/real_config.yml
  .circleci/scripts/pull_image_daemonset.yaml
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/model-dev-guide/prepare-container/tensorflow-support.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/release-notes/rocm-mi300x.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  e2e_tests/tests/fixtures/ports-proxy/config.yaml
  examples/computer_vision/iris_tf_keras/adaptive.yaml
  examples/computer_vision/iris_tf_keras/const.yaml
  examples/computer_vision/iris_tf_keras/distributed.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_cancelable.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_high_priority.yaml
  examples/deepspeed_autotune/torchvision/core_api/deepspeed.yaml
  examples/deepspeed_autotune/torchvision/deepspeed_trial/deepspeed.yaml
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/environments-target.txt
  tools/scripts/update-bumpenvs-yaml.py
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: documentation, cla-signed

#9831 fix: experiment single trial tabs don't scroll on load
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.module.scss
Labels: cla-signed

#9837 chore: add release notes for PR 9822
  docs/release-notes/updated-user-roles-slot-caps.rst
Labels: documentation, cla-signed, to-cherry-pick

#9840 fix: change filter form to say "Show runs" in flat runs view [ET-740]
  webui/react/src/components/FilterForm/TableFilter.tsx
  webui/react/src/components/FilterForm/components/FilterForm.tsx
  webui/react/src/components/Searches/Searches.tsx
  webui/react/src/components/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Labels: cla-signed, to-cherry-pick

#9841 chore: add tracing info to some backend APIs
  master/internal/api_agents.go
  master/internal/api_job.go
  master/internal/job/jobservice/jobservice.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/resource_pool.go
Labels: cla-signed, to-cherry-pick

#9844 docs: Document rbac editorprojectrestricted role
  docs/manage/security/rbac.rst
Labels: documentation, cla-signed, to-cherry-pick

#9827 fix: model version name overflow on mobile [ET-384]
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.module.scss
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
Labels: cla-signed

#9845 docs: Fix broken links
  docs/conf.py
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/setup-cluster/aws/aws-spot.rst
  docs/setup-cluster/on-prem/options/docker.rst
Labels: documentation, cla-signed, to-cherry-pick

#9848 perf: remove duplicate ids in `ExpMetricNames` api
  master/internal/api_experiment.go
Labels: cla-signed, to-cherry-pick

#9791 ci: sequential metric count sweep test [Scale-35]
  performance/daist/daist/metrics/model_def.py
  performance/daist/daist/metrics/test_latency.py
  performance/daist/daist/models/metric_latency.py
  performance/daist/daist/utils/flags.py
Labels: cla-signed

#9846 fix: update broken tensorflow & certbot links
  docs/manage/security/tls.rst
  harness/determined/keras/_tf_keras_trial.py
Labels: documentation, cla-signed, to-cherry-pick

#9843 Revert "chore: add tracing info to some backend APIs"
  master/internal/api_agents.go
  master/internal/api_job.go
  master/internal/job/jobservice/jobservice.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/resource_pool.go
Labels: to-cherry-pick

#9851 chore: 0.36.0 environment images
  .circleci/real_config.yml
  .circleci/scripts/pull_image_daemonset.yaml
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/model-dev-guide/prepare-container/tensorflow-support.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  e2e_tests/tests/fixtures/ports-proxy/config.yaml
  examples/computer_vision/iris_tf_keras/adaptive.yaml
  examples/computer_vision/iris_tf_keras/const.yaml
  examples/computer_vision/iris_tf_keras/distributed.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_cancelable.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_high_priority.yaml
  examples/deepspeed_autotune/torchvision/core_api/deepspeed.yaml
  examples/deepspeed_autotune/torchvision/deepspeed_trial/deepspeed.yaml
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/pkg/schemas/expconf/const.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/environments-target.txt
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: documentation, cla-signed

#9842 fix: fix fallback logic for partially provided custom logos
  docs/reference/deploy/master-config-reference.rst
  master/internal/config/config_test.go
  master/internal/config/ui_config.go
  master/internal/core.go
Labels: documentation, cla-signed, to-cherry-pick

#9852 fix: reset pinned column state when resetting columns
  webui/react/src/components/ColumnPickerMenu.test.tsx
  webui/react/src/components/ColumnPickerMenu.tsx
  webui/react/src/components/TableActionBar.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Labels: cla-signed

#9820 feat: Add workspaceId, mode, name to webhook
  e2e_tests/tests/cluster/test_webhooks.py
  harness/determined/common/api/bindings.py
  master/internal/webhooks/postgres_webhook_intg_test.go
  master/internal/webhooks/shipper_test.go
  master/internal/webhooks/webhook.go
  master/static/migrations/20240820114209_extend-webhooks-table.tx.up.sql
  proto/pkg/webhookv1/webhook.pb.go
  proto/src/determined/webhook/v1/webhook.proto
  webui/react/src/components/Table/Table.tsx
  webui/react/src/components/WebhookCreateModal.tsx
  webui/react/src/hooks/useFeature.ts
  webui/react/src/pages/WebhookList.settings.ts
  webui/react/src/pages/WebhookList.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#9833 feat: configurable preemption timeout [MD-500]
  .circleci/devcluster/double-reattach.devcluster.yaml
  master/cmd/determined-master/root.go
  master/cmd/determined-master/root_test.go
  master/internal/api_generic_tasks.go
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/rm/agentrm/fair_share.go
  master/internal/rm/agentrm/mock_test.go
  master/internal/rm/agentrm/priority.go
  master/internal/rm/agentrm/scheduler_test.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_service_test.go
  master/internal/task/preemptible/preemptible.go
  master/internal/task/preemptible/preemptible_test.go
  master/internal/task/preemptible/service.go
  master/internal/trial.go
  master/internal/trial_intg_test.go
  master/pkg/model/generic_task_config.go
  master/pkg/model/task_container_defaults.go
  master/pkg/model/task_container_defaults_test.go
  master/pkg/schemas/expconf/experiment_config.go
  master/pkg/schemas/expconf/zgen_experiment_config_v0.go
  master/pkg/schemas/zgen_schemas.go
  schemas/expconf/v0/experiment.json
  schemas/test_cases/v0/experiment.yaml
Labels: cla-signed

#9850 fix: prevent loading issues with ipynb files
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/pages/ExperimentDetails/ExperimentCodeViewer.tsx
Labels: cla-signed

#9835 chore: add backport github action
  .github/workflows/backport.yaml
Labels: cla-signed

#9855 fix: fix error toast popping up in Workpace Creator view
  webui/react/src/components/WorkspaceCreateModal.tsx
Labels: cla-signed

#9807 chore: Improve CompareTrials perfomance
  master/internal/api_runs.go
  master/internal/api_tensorboard.go
  master/internal/api_trials.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/trials/api_trial_source_info.go
  master/internal/trials/utils.go
  master/internal/trials/utils_intg_test.go
  master/static/srv/get_trials_basic.sql
  performance/daist/daist/rest_api/locust_utils.py
  performance/daist/daist/rest_api/tasks.py
Labels: cla-signed

#9853 fix: replace tree with code mirror for metadata view
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/Metadata.module.scss
  webui/react/src/components/Metadata.test.tsx
  webui/react/src/components/Metadata.tsx
Labels: cla-signed

#9860 fix: use task sessions in Core API [MD-509]
  harness/determined/common/api/__init__.py
  harness/determined/common/api/_session.py
  harness/determined/common/api/authentication.py
  harness/determined/core/_context.py
  harness/determined/exec/gc_checkpoints.py
  harness/determined/exec/launch.py
  harness/determined/exec/prep_container.py
  harness/determined/experimental/core_v2/_core_context_v2.py
  harness/determined/launch/deepspeed.py
  harness/determined/launch/horovod.py
  harness/tests/cli/test_auth.py
  harness/tests/launch/test_deepspeed.py
  harness/tests/launch/test_horovod.py
  harness/tests/launch/test_launch.py
  harness/tests/launch/test_torch_distributed.py
  harness/tests/launch/test_util.py
  master/static/srv/check_idle.py
  master/static/srv/check_ready_logs.py
Labels: cla-signed

#9854 docs: add release notes for 0.36.0
  docs/manage/security/rbac.rst
  docs/release-notes.rst
  docs/release-notes/aurora-upcoming-unsupport.rst
  docs/release-notes/custom-logo.rst
  docs/release-notes/deprecate-custom-searchers.rst
  docs/release-notes/deprecate-k8s-preemption-scheduler.rst
  docs/release-notes/editor-project-restricted.rst
  docs/release-notes/experiments-failed-status.rst
  docs/release-notes/rocm-k8s-gpu.rst
  docs/release-notes/rocm-mi300x.rst
  docs/release-notes/updated-user-roles-slot-caps.rst
Labels: documentation, cla-signed

#9849 ci: pin chromadb version to avoid incompatibility
  examples/features/torch_batch_process_embeddings/requirements.txt
Labels: cla-signed

#9858 test: successful login with weak or strong password
  webui/react/src/components/DeterminedAuth.test.tsx
  webui/react/src/components/DeterminedAuth.tsx
Labels: cla-signed

#9864 fix: allow for objects inside array metadata to be typed properly
  master/internal/run/runs.go
  master/internal/run/runs_test.go
Labels: cla-signed

#9865 feat: Logic of different modes for webhook
  e2e_tests/tests/cluster/test_webhooks.py
  master/internal/api_experiment.go
  master/internal/api_task.go
  master/internal/api_tasks.go
  master/internal/api_trials.go
  master/internal/core_task.go
  master/internal/db/postgres_test_utils.go
  master/internal/experiment/authz_rbac.go
  master/internal/webhooks/postgres_webhook.go
  master/internal/webhooks/postgres_webhook_intg_test.go
  master/internal/webhooks/shipper_test.go
  master/internal/webhooks/singleton.go
  master/pkg/schemas/expconf/integrations.go
  master/pkg/schemas/zgen_schemas.go
  schemas/expconf/v0/integrations.json
  schemas/expconf/v0/webhooks.json
Labels: cla-signed

#9755 feat: Auto-Populate POSIX Information on sign in using SSO [CM-399]
  docs/manage/users-remote.rst
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes/auto-populate-posix.rst
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
  master/internal/config/oidc_config.go
  master/internal/config/saml_config.go
  master/internal/plugin/oidc/service.go
  master/internal/plugin/oidc/service_intg_test.go
  master/internal/plugin/saml/service.go
  master/internal/plugin/saml/service_intg_test.go
  master/internal/user/postgres_agentusergroup.go
Labels: documentation, cla-signed

#9874 fix: sorting by arbitrary metadata
  master/internal/api_runs.go
  master/internal/api_runs_intg_test.go
Labels: cla-signed

#9859 feat: Support RBAC in webhook
  e2e_tests/tests/cluster/test_webhooks.py
  harness/determined/common/api/bindings.py
  master/internal/webhooks/api_webhook.go
  master/internal/webhooks/authz_basic_impl.go
  master/internal/webhooks/authz_iface.go
  master/internal/webhooks/authz_permissive.go
  master/internal/webhooks/authz_rbac.go
  master/internal/webhooks/postgres_webhook.go
  master/internal/webhooks/postgres_webhook_intg_test.go
  master/static/migrations/20240821124235_webhooks-rbac.tx.up.sql
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/WebhookCreateModal.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/WebhookList.tsx
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#9815 fix: reject reconnecting agents with different resource pool configuration
  .circleci/devcluster/multi-resource-pools.devcluster.yaml
  .circleci/real_config.yml
  agent/cmd/determined-agent/run_test.go
  agent/internal/agent.go
  agent/internal/options/options.go
  agent/internal/options/options_test.go
  docs/get-started/architecture/introduction.rst
  e2e_tests/pytest.ini
  e2e_tests/tests/cluster/conftest.py
  e2e_tests/tests/cluster/managed_cluster.py
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/conftest.py
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/agentrm/agent_state_test.go
  master/internal/rm/agentrm/resource_managers_test.go
  master/pkg/aproto/master_message.go
Labels: documentation, cla-signed

#9875 fix: prevent out of bounds navigation on new list views
  webui/react/src/components/Searches/Searches.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Labels: cla-signed

#9882 fix: use new ruamel yaml APIs
  examples/tutorials/mnist_pytorch/train.py
Labels: cla-signed

#9883 fix: prevent `hyperparameter search modal` submitting the same request multiple times
  webui/react/src/components/HyperparameterSearchModal.tsx
Labels: cla-signed

#9871 fix: show `-` for empty data in run table
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/RunActionDropdown.tsx
  webui/react/src/pages/FlatRuns/columns.ts
Labels: cla-signed

#9876 fix: reset Model Registry page number on pageload [ET-640]
  webui/react/src/components/ModelRegistry.settings.ts
  webui/react/src/components/ModelRegistry.tsx
Labels: cla-signed

#9887 fix: Hf callback metric naming
  harness/determined/transformers/_hf_callback.py
Labels: cla-signed
