Repository determined-ai/determined, pull requests merged in 2024-02, with the labels that each got.

#8750 test: add intg tests for tasks module
  master/internal/db/postgres_tasks.go
  master/internal/db/postgres_tasks_intg_test.go
  master/internal/db/postgres_test_utils.go
  master/pkg/model/task.go
  master/pkg/model/task_session.go
Labels: cla-signed

#8780 feat: GCS client should retry on `TooManyRequests`.
  docs/release-notes/gcs-429.rst
  harness/determined/common/storage/gcs.py
  harness/determined/tensorboard/gcs.py
Labels: documentation, cla-signed

#8782 fix: update hew to a version without broken documentcard prompts
  webui/react/package-lock.json
  webui/react/package.json
Labels: cla-signed, to-cherry-pick

#8764 chore: bunify db/postgres_tasks.go
  master/internal/api_checkpoint_intg_test.go
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_tasks_intg_test.go
  master/internal/api_trials_intg_test.go
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/core.go
  master/internal/db/database.go
  master/internal/db/postgres.go
  master/internal/db/postgres_cluster_intg_test.go
  master/internal/db/postgres_tasks.go
  master/internal/db/postgres_tasks_intg_test.go
  master/internal/db/postgres_test_utils.go
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/setup.go
  master/internal/populate_metrics.go
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_state_test.go
  master/internal/task/allocation.go
  master/internal/task/allocation_service_test.go
  master/internal/telemetry/reports.go
  master/internal/telemetry/telemetry_test.go
  master/internal/trial.go
  master/test/integration/api/api_checkpoints_test.go
  master/test/integration/api/api_trials_test.go
Labels: cla-signed

#8761 test: performance test CI work
  .circleci/devcluster/perftest.devcluster.yaml
  .circleci/real_config.yml
  .circleci/scripts/upload_perf_results.py
  .circleci/scripts/wait_for_perf_migration_upload_results.py
  .github/workflows/build-perf-image-perf-test.yml
  .github/workflows/performance-tests.yml
  performance/Makefile
  performance/src/api_performance_tests.ts
Labels: cla-signed

#8785 chore: rename postgres_command_intg_test.go
  master/internal/command/postgres_command_intg_test
  master/internal/command/postgres_command_intg_test.go
Labels: cla-signed

#8765 fix: replace experiment config
  webui/react/src/components/HyperparameterSearchModal.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCodeViewer.test.tsx
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
  webui/react/src/utils/experiment.ts
Labels: cla-signed

#8786 fix: retry watcher failure causes infinite loop
  master/internal/rm/kubernetesrm/informer.go
Labels: cla-signed, to-cherry-pick

#8735 perf: improve resource agg performance
  master/internal/api_master_intg_test.go
  master/static/srv/get_aggregated_allocation.sql
Labels: cla-signed

#8751 perf: improve get_workspaces query
  master/internal/api_workspace_intg_test.go
  master/static/srv/get_workspace.sql
  master/static/srv/get_workspaces.sql
Labels: cla-signed

#8757 perf: add indexes to tasks and allocations
  master/static/migrations/20240202082938_index-some-alloc-tasks-fields.tx.down.sql
  master/static/migrations/20240202082938_index-some-alloc-tasks-fields.tx.up.sql
Labels: cla-signed

#8758 perf: add index to checkpoints_v2 id
  master/static/migrations/20240202085026_add-checkpoint-v2-id.tx.down.sql
  master/static/migrations/20240202085026_add-checkpoint-v2-id.tx.up.sql
Labels: cla-signed

#8753 perf: improve GetExperiments showTrialData performance
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
Labels: cla-signed

#8742 perf: avoid loading model def in experiment model
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/core_checkpoint_intg_test.go
  master/internal/core_experiment.go
  master/internal/db/database.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_test_utils.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/experiment.go
  master/internal/populate_metrics.go
  master/internal/restore.go
  master/pkg/model/experiment.go
  master/pkg/model/test_utils.go
  master/test/integration/api/api_checkpoints_test.go
  master/test/integration/api/api_trials_test.go
Labels: cla-signed

#8790 ci: make perf tests only alert on failure
  .circleci/real_config.yml
Labels: cla-signed

#8787 fix: improve trial log request cancelling
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
Labels: cla-signed, to-cherry-pick

#8791 Revert "docs: Update oidc and saml docs"
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes.rst
Labels: documentation, cla-signed

#8793 perf: update proto_checkpoint_view to use index
  master/static/migrations/20240202140521_proto-checkpoint-view-missing-index.tx.down.sql
  master/static/migrations/20240202140521_proto-checkpoint-view-missing-index.tx.up.sql
  master/static/srv/get_model_version.sql
  master/static/srv/get_model_versions.sql
  master/static/srv/insert_model_version.sql
  master/static/srv/update_model_version.sql
Labels: cla-signed

#8788 docs: adds/corrects EE changes, merges to OSS
  docs/release-notes.rst
Labels: documentation, cla-signed, to-cherry-pick

#8773 docs: Add mention of RPMs to on-prem _index.rst
  docs/setup-cluster/on-prem/_index.rst
Labels: documentation, cla-signed

#8799 chore: add ee helm chart changes to oss
  docs/release-notes/oidc-changed-vars.rst
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
Labels: documentation, cla-signed

#8795 chore: respond with 401 for programmatic requests.
  master/internal/api_auth.go
  master/internal/api_user_intg_test.go
Labels: cla-signed

#8789 fix: fetch experiment in case config data is not contained
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/services/decoder.ts
Labels: cla-signed

#8808 refactor: condense trial update functions
  master/internal/api_trials.go
  master/internal/db/database.go
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/trial.go
  master/pkg/model/experiment.go
Labels: cla-signed

#8810 chore: add testing for k8s informer panic
  master/internal/rm/kubernetesrm/informer_intg_test.go
Labels: cla-signed

#8792 fix: remove extra quotes around IdentifyTask
  docs/release-notes/identify-task.rst
  master/internal/command/postgres_command.go
  master/internal/command/postgres_command_intg_test.go
Labels: documentation, cla-signed

#8813 docs: remove duplicated note
  docs/release-notes.rst
Labels: documentation, cla-signed

#8803 fix: remove possible hang from ship_logs.py [MLG-1565]
  docs/release-notes/8803-ship-logs-hanging.rst
  e2e_tests/tests/cluster/test_ship_logs.py
  master/static/srv/ship_logs.py
Labels: documentation, cla-signed

#8727 feat: Deploy GenAI in Helm
  helm/charts/determined/templates/_helpers.tpl
  helm/charts/determined/templates/genai/genai-deployment.yaml
  helm/charts/determined/templates/genai/genai-persistent-volume-claim.yaml
  helm/charts/determined/templates/genai/genai-resource-pool-metadata.yaml
  helm/charts/determined/templates/genai/genai-service-account.yaml
  helm/charts/determined/templates/genai/genai-service.yaml
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
Labels: cla-signed

#8656 fix: agent config precedence
  agent/cmd/determined-agent/env.go
  agent/cmd/determined-agent/init.go
  agent/cmd/determined-agent/main.go
  agent/cmd/determined-agent/root.go
  agent/cmd/determined-agent/run.go
  agent/cmd/determined-agent/run_test.go
  agent/internal/api.go
  agent/internal/options/options.go
  agent/internal/options/options_test.go
Labels: cla-signed

#8816 fix: mitigate many unnecessary api calls in user management table
  webui/react/src/components/CreateUserModal.test.tsx
  webui/react/src/components/CreateUserModal.tsx
  webui/react/src/pages/Admin/UserManagement.tsx
Labels: cla-signed

#8818 docs: Remove legacy pages
  docs/.redirects/redirects.json
  docs/model-dev-guide/best-practices/_index.rst
Labels: documentation, cla-signed

#8804 fix: check for models before deleting workspace
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/core_checkpoint_intg_test.go
  master/internal/db/postgres_checkpoints_intg_test.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_model_intg_test.go
  master/internal/db/postgres_test_utils.go
  master/pkg/model/model.go
Labels: cla-signed

#8815 fix: stop truncating log timestamps to avoid missing logs [WEB-1791]
  bindings/generate_bindings_ts.py
  webui/react/src/ioTypes.ts
  webui/react/src/pages/JobQueue/JobQueue.table.tsx
  webui/react/src/pages/TaskLogs.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
Labels: cla-signed

#8669 feat: add streaming updates core functionality and project streaming
  go.mod
  master/internal/core.go
  master/internal/db/migrations.go
  master/internal/db/postgres.go
  master/internal/experiment/authz_basic_impl.go
  master/internal/stream/authz_basic_impl.go
  master/internal/stream/authz_iface.go
  master/internal/stream/messages.go
  master/internal/stream/projects.go
  master/internal/stream/publisher.go
  master/internal/stream/socketlike.go
  master/internal/stream/subscription.go
  master/internal/stream/supervisor.go
  master/internal/stream/system_intg_test.go
  master/internal/stream/test_util.go
  master/internal/stream/util.go
  master/pkg/model/task.go
  master/pkg/stream/declarative.go
  master/pkg/stream/stream.go
  master/pkg/stream/stream_test.go
  master/pkg/syncx/errgroupx/errgroupx.go
  master/static/migrations/20240208155831_add-projects-trigger.tx.down.sql
  master/static/migrations/20240208155831_add-projects-trigger.tx.up.sql
  master/test/streamdata/stream_data.go
Labels: cla-signed

#8821 chore: hide genai helm values config and fix var name
  helm/charts/determined/templates/genai/genai-deployment.yaml
  helm/charts/determined/templates/genai/genai-persistent-volume-claim.yaml
  helm/charts/determined/templates/genai/genai-resource-pool-metadata.yaml
  helm/charts/determined/templates/genai/genai-service-account.yaml
  helm/charts/determined/templates/genai/genai-service.yaml
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
Labels: cla-signed

#8828 fix: handle helm templating in older go template versions
  helm/charts/determined/templates/genai/genai-deployment.yaml
  helm/charts/determined/templates/genai/genai-persistent-volume-claim.yaml
  helm/charts/determined/templates/genai/genai-resource-pool-metadata.yaml
  helm/charts/determined/templates/genai/genai-service-account.yaml
  helm/charts/determined/templates/genai/genai-service.yaml
  helm/charts/determined/templates/master-config.yaml
Labels: cla-signed

#8724 feat: Generic Tasks
  e2e_tests/tests/fixtures/generic_task/test_config.yaml
  e2e_tests/tests/fixtures/generic_task/test_config_error.yaml
  e2e_tests/tests/fixtures/generic_task/test_config_fork.yaml
  e2e_tests/tests/fixtures/generic_task/test_config_pause.yaml
  e2e_tests/tests/task/__init__.py
  e2e_tests/tests/task/test_generic_tasks.py
  harness/determined/cli/task.py
  harness/determined/common/api/bindings.py
  master/internal/api_command.go
  master/internal/api_generic_intg_test.go
  master/internal/api_generic_tasks.go
  master/internal/api_task.go
  master/internal/api_task_intg_test.go
  master/internal/command/authz_basic_impl.go
  master/internal/command/authz_iface.go
  master/internal/command/models.go
  master/internal/core_experiment.go
  master/internal/db/postgres_jobs.go
  master/internal/db/postgres_tasks.go
  master/internal/spec_util.go
  master/internal/spec_util_intg_test.go
  master/pkg/model/experiment_config.go
  master/pkg/model/generic_task_config.go
  master/pkg/model/job.go
  master/pkg/model/task.go
  master/pkg/tasks/task_command.go
  master/pkg/tasks/task_generic.go
  master/pkg/tasks/task_generic_test.go
  master/static/migrations/20240209161446_generic-task-migrations.tx.down.sql
  master/static/migrations/20240209161446_generic-task-migrations.tx.up.sql
  master/static/srv/generic-task-entrypoint.sh
  master/static/srv/get_task.sql
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/task.pb.go
  proto/pkg/jobv1/job.pb.go
  proto/pkg/taskv1/task.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/task.proto
  proto/src/determined/job/v1/job.proto
  proto/src/determined/task/v1/task.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed, User-facing API Change

#8832 docs: Update slurm install
  docs/setup-cluster/slurm/slurm-requirements.rst
Labels: documentation, cla-signed

#8829 chore: remove unused SetAllocationName
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/resource_manager_iface.go
  master/internal/sproto/task.go
Labels: cla-signed

#8801 perf: improve GetExperiments + SearchExperiments counting
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/experiment_filter.go
Labels: cla-signed

#8836 Fix broken ref
  docs/setup-cluster/on-prem/requirements.rst
Labels: documentation, cla-signed

#8839 fix: update hew with bugfixes
  webui/react/package-lock.json
  webui/react/package.json
Labels: cla-signed

#8838 chore: agent state wasn't getting deleted and logged error
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/agentrm/agent_state_test.go
Labels: cla-signed

#8837 chore: fix error on terminating experiments on restart
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
Labels: cla-signed

#8783 chore: bunify postgres_checkpoints and add tests DET-10067
  master/internal/api_checkpoint.go
  master/internal/api_checkpoint_intg_test.go
  master/internal/api_experiment.go
  master/internal/api_model.go
  master/internal/api_trials_intg_test.go
  master/internal/checkpoints/postgres_checkpoints.go
  master/internal/checkpoints/postgres_checkpoints_intg_test.go
  master/internal/core_checkpoint.go
  master/internal/core_checkpoint_intg_test.go
  master/internal/core_experiment.go
  master/internal/db/bunutils/paginate.go
  master/internal/db/database.go
  master/internal/db/postgres_checkpoints_intg_test.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_model_intg_test.go
  master/internal/db/postgres_trial.go
  master/internal/experiment.go
  master/internal/experiment/bulk_action.go
  master/internal/experiment/postgres_experiments.go
  master/internal/experiment/postgres_experiments_intg_test.go
  master/internal/storage/service.go
  master/pkg/protoutils/protoless/less.go
  master/static/migrations/20240212130408_proto-time-helper.tx.down.sql
  master/static/migrations/20240212130408_proto-time-helper.tx.up.sql
  master/static/srv/get_checkpoint.sql
  master/static/srv/insert_model.sql
  master/static/srv/insert_model_version.sql
  master/test/integration/api/api_checkpoints_test.go
  proto/buf.image.bin
  proto/pkg/checkpointv1/checkpoint.pb.go
  proto/src/determined/checkpoint/v1/checkpoint.proto
Labels: cla-signed

#8840 feat: generic tasks: support startup hooks
  master/static/srv/generic-task-entrypoint.sh
Labels: cla-signed

#8802 feat: Generic task restore
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/task/__init__.py
  e2e_tests/tests/task/task.py
  e2e_tests/tests/task/test_generic_tasks.py
  master/internal/api_generic_tasks.go
  master/internal/command/command_service.go
  master/internal/core.go
  master/internal/db/postgres_tasks.go
  master/internal/spec_util.go
Labels: cla-signed

#8830 chore: cleanup the last traces of experiment git fields. [MD-258]
  harness/determined/cli/experiment.py
  harness/determined/common/api/bindings.py
  master/pkg/model/experiment.go
  proto/buf.image.bin
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#8794 chore: move project id onto runs
  master/internal/api_experiment_intg_test.go
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/experiment/bulk_action.go
  master/pkg/model/experiment.go
  master/pkg/model/experiment_test.go
  master/static/migrations/20240214090917_copy-project-id-to-runs.tx.down.sql
  master/static/migrations/20240214090917_copy-project-id-to-runs.tx.up.sql
Labels: cla-signed

#8819 chore: configure agent log level through config file
  agent/internal/core.go
  docs/release-notes/log-level-config.rst
  tools/devcluster.yaml
Labels: documentation, cla-signed

#8843 fix: job queue test failures
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/task/task.py
  e2e_tests/tests/task/test_generic_tasks.py
Labels: cla-signed, to-cherry-pick

#8848 fix: show error message from backend API for workspace deletion
  webui/react/src/components/WorkspaceDeleteModal.tsx
Labels: cla-signed, to-cherry-pick

#8798 chore: update backend coverage target
  codecov.yml
Labels: cla-signed

#8841 chore: cover postgres_jobs.go
  master/internal/db/postgres_jobs_intg_test.go
Labels: cla-signed

#8846 chore: remove GetAllocationSummary from RM interface
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager_intg_test.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/resource_manager_iface.go
  master/internal/sproto/task.go
Labels: cla-signed

#8835 ci: fix performance feature branch using wrong db
  .circleci/real_config.yml
Labels: cla-signed

#8800 fix: replace `react-window` with `react-virtuoso` in transfer component
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ColumnsCustomizeModal.test.tsx
  webui/react/src/components/DraggableListItem.tsx
  webui/react/src/components/Transfer.module.scss
  webui/react/src/components/Transfer.tsx
Labels: cla-signed

#8850 fix: correctly source bucket region when using minio
  master/internal/core_checkpoint_intg_test.go
  master/pkg/checkpoints/checkpoints.go
  master/pkg/checkpoints/s3/s3checkpoints.go
Labels: cla-signed

#8845 chore: use npm build for hew
  webui/react/package-lock.json
  webui/react/package.json
Labels: cla-signed

#8853 ci: fix broken ci due to queue version change
  .circleci/real_config.yml
Labels: cla-signed, to-cherry-pick

#8854 fix: allow experiments to configure k8s sidecars
  master/pkg/schemas/extensions/checks.go
  master/pkg/schemas/extensions/compare_properties.go
  master/pkg/schemas/extensions/disallow_properties.go
  master/pkg/schemas/extensions/eventually.go
  master/pkg/schemas/extensions/eventually_required.go
  master/pkg/schemas/extensions/optional_ref.go
  master/pkg/schemas/extensions/union.go
  master/pkg/schemas/zgen_schemas.go
  schemas/README.md
  schemas/expconf/v0/environment.json
  schemas/test_cases/v0/environment.yaml
Labels: cla-signed

#8861 docs: add release notes for 0.28.1
  docs/release-notes.rst
  docs/release-notes/8803-ship-logs-hanging.rst
  docs/release-notes/gcs-429.rst
  docs/release-notes/identify-task.rst
Labels: documentation, cla-signed

#8616 chore: add allocation info for cluster ui [DET-10018]
  harness/determined/common/api/bindings.py
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/agentrm/resources.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/sproto/agent_resource_manager.go
  master/pkg/device/device.go
  master/pkg/model/agent.go
  master/pkg/model/task.go
  proto/buf.image.bin
  proto/pkg/containerv1/container.pb.go
  proto/src/determined/container/v1/container.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#8833 fix: stop allowing multi-container allocations to launch in single agent config[DET-9911]
  master/internal/api_user_intg_test.go
  master/internal/core_experiment.go
  master/internal/experiment.go
  master/internal/restore.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/resource_manager_iface.go
  master/internal/spec_util.go
  master/internal/spec_util_intg_test.go
  master/internal/sproto/agent_resource_manager.go
  master/internal/sproto/task.go
  master/internal/trial.go
Labels: cla-signed

#8825 Fix broken links
  docs/get-started/architecture/introduction.rst
  docs/get-started/example-solutions/_index.rst
  docs/integrations/notification/zapier.rst
  docs/integrations/prometheus/_index.rst
  docs/manage/elasticsearch-logging-backend.rst
  docs/manage/troubleshooting.rst
  docs/model-dev-guide/api-guides/apis-howto/api-core-ug-basic.rst
  docs/model-dev-guide/api-guides/apis-howto/api-core-ug.rst
  docs/model-dev-guide/api-guides/apis-howto/api-pytorch-ug.rst
  docs/model-dev-guide/api-guides/apis-howto/deepspeed/_index.rst
  docs/model-dev-guide/api-guides/apis-howto/deepspeed/advanced.rst
  docs/model-dev-guide/api-guides/apis-howto/deepspeed/autotuning.rst
  docs/model-dev-guide/api-guides/apis-howto/deepspeed/deepspeed.rst
  docs/model-dev-guide/api-guides/batch-process-api-ug.rst
  docs/model-dev-guide/debug-models.rst
  docs/model-dev-guide/dtrain/dtrain-implement.rst
  docs/model-dev-guide/dtrain/dtrain-introduction.rst
  docs/model-dev-guide/hyperparameter/instrument-model-code.rst
  docs/model-dev-guide/load-model-data.rst
  docs/model-hub-library/mmdetection/_index.rst
  docs/model-hub-library/transformers/_index.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/reference/training/experiment-config-reference.rst
  docs/release-notes.rst
  docs/setup-cluster/aws/install-on-aws.rst
  docs/setup-cluster/gcp/dynamic-agents-gcp.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/k8s/_index.rst
  docs/setup-cluster/k8s/custom-pod-specs.rst
  docs/setup-cluster/k8s/helm-commands.rst
  docs/setup-cluster/k8s/install-on-kubernetes.rst
  docs/setup-cluster/k8s/k8s-dev-guide.rst
  docs/setup-cluster/k8s/setup-aks-cluster.rst
  docs/setup-cluster/k8s/setup-eks-cluster.rst
  docs/setup-cluster/k8s/setup-gke-cluster.rst
  docs/setup-cluster/on-prem/options/docker.rst
  docs/setup-cluster/on-prem/options/linux-packages.rst
  docs/setup-cluster/on-prem/requirements.rst
  docs/setup-cluster/slurm/_index.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  docs/tutorials/_index.rst
  docs/tutorials/pytorch-mnist-tutorial.rst
  docs/tutorials/viewing-epoch-based-metrics.rst
Labels: documentation, cla-signed

#8858 chore: bunify postgres_jobs.go
  master/internal/api_checkpoint.go
  master/internal/command/command.go
  master/internal/db/database.go
  master/internal/db/postgres_cluster_intg_test.go
  master/internal/db/postgres_jobs.go
  master/internal/db/postgres_jobs_intg_test.go
  master/internal/db/postgres_tasks_intg_test.go
  master/internal/experiment.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/trial_intg_test.go
Labels: cla-signed

#8870 fix: e2e CPU tests have wrong maxSlotsPerPod number
  .circleci/real_config.yml
Labels: cla-signed

#8865 chore: document internal api errors
  e2e_tests/tests/cluster/test_workspace_org.py
  e2e_tests/tests/test_sdk.py
  harness/determined/common/api/authentication.py
  harness/determined/common/api/errors.py
Labels: cla-signed

#8670 chore: canonicalize master urls everywhere [MLG-878]
  .circleci/scripts/wait_for_master.py
  e2e_tests/tests/config.py
  e2e_tests/tests/deploy/test_local.py
  harness/determined/_info.py
  harness/determined/cli/_util.py
  harness/determined/cli/cli.py
  harness/determined/cli/dev.py
  harness/determined/cli/notebook.py
  harness/determined/cli/ntsc.py
  harness/determined/cli/proxy.py
  harness/determined/cli/tensorboard.py
  harness/determined/cli/tunnel.py
  harness/determined/common/api/__init__.py
  harness/determined/common/api/_session.py
  harness/determined/common/api/_util.py
  harness/determined/common/api/authentication.py
  harness/determined/common/api/request.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/util.py
  harness/determined/deploy/aws/deployment_types/base.py
  harness/determined/deploy/gcp/gcp.py
  harness/determined/deploy/healthcheck.py
  harness/determined/deploy/local/cluster_utils.py
  harness/determined/experimental/core_v2/_unmanaged.py
  harness/tests/checkpoints/test_checkpoint.py
  harness/tests/common/api/auth_v0.json
  harness/tests/common/api/test_authentication.py
  harness/tests/common/test_api.py
  harness/tests/common/test_tls.py
  master/static/srv/check_idle.py
  master/static/srv/check_ready_logs.py
Labels: cla-signed

#8831 chore: master config updates for multirm [RM-3, RM-4, RM-5, RM-7, RM-29]
  helm/charts/determined/templates/master-config.yaml
  master/cmd/determined-master/root_test.go
  master/internal/api_user_intg_test.go
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/config/resource_config.go
  master/internal/config/resource_config_test.go
  master/internal/config/resource_manager_config.go
  master/internal/core.go
  master/internal/experiment.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager_intg_test.go
  master/internal/rm/agentrm/agents.go
  master/internal/rm/agentrm/resource_managers_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/setup.go
  master/internal/spec_util.go
Labels: cla-signed

#8872 chore: api's default retry now session's default retry
  e2e_tests/tests/api_utils.py
  harness/determined/cli/_util.py
  harness/determined/common/api/__init__.py
  harness/determined/common/api/_session.py
  harness/determined/common/api/_util.py
  harness/determined/common/api/authentication.py
  harness/determined/common/experimental/determined.py
Labels: cla-signed

#8738 docs: add link checker utility
  .circleci/real_config.yml
  docs/Makefile
  docs/conf.py
  docs/setup-cluster/on-prem/options/wsl.rst
Labels: documentation, cla-signed

#8874 docs: Add llm blog link to home page
  docs/index.rst
  docs/model-dev-guide/api-guides/batch-process-api-ug.rst
  docs/model-dev-guide/dtrain/reproducibility.rst
  docs/model-dev-guide/hyperparameter/search-methods/hp-adaptive-asha.rst
Labels: documentation, cla-signed

#8880 ci: fix e2e tests in ee
  e2e_tests/tests/cluster/test_rbac.py
Labels: cla-signed

#8881 ci: more e2e test fixes
  e2e_tests/tests/api_utils.py
Labels: cla-signed

#8887 fix: move e2e_tests changes for slurm test from EE to OSS
  e2e_tests/tests/cluster/test_slurm.py
  e2e_tests/tests/experiment/experiment.py
  examples/computer_vision/iris_tf_keras/iris_tf_keras_cancelable.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_high_priority.yaml
Labels: cla-signed

#8882 fix: unnecessary group related api calls during the initial group page loading
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/CreateGroupModal.tsx
  webui/react/src/pages/Admin/GroupManagement.tsx
Labels: cla-signed

#8851 feat: force default user passwords for all det deploy and CI clusters [RM-28]
  .circleci/real_config.yml
  docs/reference/deploy/master-config-reference.rst
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/command/test_run.py
  e2e_tests/tests/config.py
  e2e_tests/tests/conftest.py
  e2e_tests/tests/experiment/test_custom_searcher.py
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/constants.py
  harness/determined/deploy/aws/deployment_types/base.py
  harness/determined/deploy/aws/injector/master.yaml.tmpl
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/cli.py
  harness/determined/deploy/gcp/gcp.py
  harness/determined/deploy/gcp/terraform/main.tf
  harness/determined/deploy/gcp/terraform/master.yaml.tmpl
  harness/determined/deploy/gcp/terraform/modules/compute/main.tf
  harness/determined/deploy/gcp/terraform/modules/compute/variables.tf
  harness/determined/deploy/gcp/terraform/variables.tf
  master/cmd/determined-master/init.go
  master/cmd/determined-master/migrate.go
  master/cmd/determined-master/populate_metrics.go
  master/internal/api_auth.go
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/config/config.go
  master/internal/core.go
  master/internal/db/database.go
  master/internal/db/migrations.go
  master/internal/db/postgres_test_utils.go
  master/internal/db/setup.go
  master/internal/user/passwords.go
  master/internal/user/passwords_intg_test.go
Labels: documentation, cla-signed

#8889 chore: cleanup stray comments
  e2e_tests/tests/cluster/test_users.py
  harness/determined/_trial_controller.py
  harness/determined/pytorch/_trainer.py
Labels: cla-signed

#8892 fix: add context for --initial-user-password
  .circleci/real_config.yml
Labels: cla-signed

#8900 chore: small build system fixes
  Makefile
  docs/Makefile
Labels: documentation, cla-signed

#8898 docs: Organize docs
  docs/.redirects/redirects.json
  docs/integrations/ide/_index.rst
  docs/integrations/ide/pycharm.rst
  docs/manage/_index.rst
  docs/manage/elasticsearch-logging-backend.rst
  docs/model-dev-guide/prepare-container/_index.rst
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/reference/_index.rst
  docs/reference/deploy/common-config-options.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/python-sdk.rst
  docs/reference/python-sdk/_index.rst
  docs/reference/python-sdk/example-workflows.rst
  docs/reference/python-sdk/python-sdk.rst
  docs/release-notes.rst
Labels: documentation, cla-signed

#8888 chore: delete unused functions [RM-41]
  master/internal/db/database.go
  master/internal/db/postgres_experiments.go
Labels: cla-signed

#8878 chore: add trigger to abort checkpoint deletion
  master/internal/checkpoints/postgres_checkpoints_intg_test.go
  master/internal/db/postgres_experiments_intg_test.go
  master/static/migrations/20240222102938_add-trigger-for-checkpoint-delete.tx.down.sql
  master/static/migrations/20240222102938_add-trigger-for-checkpoint-delete.tx.up.sql
Labels: cla-signed

#8869 fix: trial comparison text overflow bug fix
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
Labels: cla-signed

#8885 fix: Genai helm service fix
  helm/charts/determined/templates/genai/genai-backend-service.yaml
  helm/charts/determined/templates/genai/genai-deployment.yaml
  helm/charts/determined/templates/genai/genai-queue-service.yaml
  helm/charts/determined/templates/master-config.yaml
Labels: cla-signed

#8875 chore: refactor proto, schema, and jobservice for multiRM
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_job.go
  master/internal/api_user_intg_test.go
  master/internal/checkpoint_gc_test.go
  master/internal/command/command.go
  master/internal/command/command_job_service.go
  master/internal/experiment.go
  master/internal/experiment_job_service.go
  master/internal/job/jobservice/jobservice.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/resource_manager_iface.go
  master/internal/sproto/jobs.go
  master/pkg/model/compat.go
  master/pkg/model/experiment_config.go
  master/pkg/model/generic_task_config.go
  master/pkg/schemas/expconf/experiment_config.go
  master/pkg/schemas/expconf/zgen_resources_config_v0.go
  master/pkg/schemas/zgen_schemas.go
  master/pkg/tasks/task_generic.go
  proto/pkg/apiv1/agent.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/job.pb.go
  proto/pkg/apiv1/resourcepool.pb.go
  proto/pkg/experimentv1/experiment.pb.go
  proto/pkg/jobv1/job.pb.go
  proto/src/determined/api/v1/agent.proto
  proto/src/determined/api/v1/job.proto
  proto/src/determined/api/v1/resourcepool.proto
  proto/src/determined/experiment/v1/experiment.proto
  proto/src/determined/job/v1/job.proto
  schemas/expconf/v0/resources.json
  schemas/test_cases/v0/defaults.yaml
  schemas/test_cases/v0/experiment.yaml
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#8896 test: unquarantine deploy-local tests
  .circleci/real_config.yml
  e2e_tests/pytest.ini
  e2e_tests/tests/conftest.py
  e2e_tests/tests/deploy/test_local.py
Labels: cla-signed

#8906 test: fix tensorboard reattach k8s flake [RM-39]
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/fixtures/no_op/short-default-ckpt.yaml
Labels: cla-signed

#8907 style: update genai logo on sidebar
  webui/react/src/assets/images/logo-genai.svg
  webui/react/src/components/NavigationSideBar.tsx
Labels: cla-signed

#8877 fix: return error from websocket handler if socket id is taken
  docs/release-notes/7940-socket-error.rst
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agents.go
  master/internal/rm/agentrm/agents_test.go
Labels: documentation, cla-signed

#8914 chore: upgrade Go from 1.21 -> 1.22
  .circleci/real_config.yml
  Makefile
  docs/setup-cluster/k8s/k8s-dev-guide.rst
  go.mod
  master/get-deps.sh
Labels: documentation, cla-signed

#8911 test: skip tests that need to get scheduler type
  e2e_tests/tests/deploy/test_local.py
Labels: cla-signed

#8847 chore: refactor ResourceManager interface for multirm
  master/internal/api_agents.go
  master/internal/api_command.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_generic_tasks.go
  master/internal/api_job.go
  master/internal/api_resourcepool.go
  master/internal/api_resourcepool_intg_test.go
  master/internal/api_tasks.go
  master/internal/api_tasks_intg_test.go
  master/internal/api_trials.go
  master/internal/api_user_intg_test.go
  master/internal/checkpoint_gc.go
  master/internal/checkpoint_gc_test.go
  master/internal/command/command.go
  master/internal/command/command_intg_test.go
  master/internal/core_experiment.go
  master/internal/core_observability.go
  master/internal/core_task.go
  master/internal/experiment.go
  master/internal/restore.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager_intg_test.go
  master/internal/rm/agentrm/agents.go
  master/internal/rm/agentrm/resource_managers_test.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/resource_pool_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/resource_manager_iface.go
  master/internal/rm/tasklist/job.go
  master/internal/rm/tasklist/task_list.go
  master/internal/spec_util.go
  master/internal/spec_util_intg_test.go
  master/internal/sproto/globals.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/task/allocation_service_test.go
  master/internal/telemetry/reports.go
  master/internal/telemetry/telemetry_test.go
  master/internal/trial.go
Labels: cla-signed

#8899 feat: log podspec [DET-9861]
  master/internal/rm/kubernetesrm/spec.go
Labels: cla-signed

#8894 test: remove redundant (and brittle) assertion
  e2e_tests/tests/cluster/test_workspace_org.py
Labels: cla-signed

#8910 test: upload test results to datadog
  .circleci/real_config.yml
  e2e_tests/tests/requirements.txt
Labels: cla-signed

#8917 chore: fix mp.pool test_streaming_metrics_api
  e2e_tests/tests/experiment/test_metrics.py
Labels: cla-signed

#8904 ci: fix failing nightlies after auth PR
  .circleci/real_config.yml
  e2e_tests/tests/experiment/test_custom_searcher.py
Labels: cla-signed

#8909 chore: minor tweaks as modev takes over streaming updates
  master/internal/stream/DESIGN.md
  master/internal/stream/projects.go
  master/internal/stream/publisher.go
  master/internal/stream/supervisor.go
Labels: cla-signed

#8918 test: fix failing Go TestResourceCreationFailed test
  master/internal/rm/kubernetesrm/pod_test.go
Labels: cla-signed

#8919 fix: canonicalize master urls shim code
  harness/determined/common/api/authentication.py
  harness/tests/common/api/test_authentication.py
Labels: cla-signed, to-cherry-pick

#8893 chore: bump up ebs size to 400gb for genai deployments
  harness/determined/deploy/aws/templates/lore.yaml
Labels: cla-signed

#8920 chore: revert pod spec and test changes
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/spec.go
Labels: cla-signed

#8924 tc: Remove broken link
  docs/index.rst
Labels: documentation, cla-signed

#8912 chore: cover and bunify project functions in postgres_experiments.go
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_project.go
  master/internal/api_workspace.go
  master/internal/core_experiment.go
  master/internal/db/database.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_test_utils.go
  master/internal/project/postgres_project.go
  master/internal/project/postgres_project_intg_test.go
  master/internal/webhooks/postgres_webhook.go
  master/internal/workspace/postgres_workspace.go
Labels: cla-signed

#8864 tc: Add release note 8851
  docs/release-notes/8851-force-default-passwords.rst
Labels: documentation, cla-signed, to-cherry-pick

#8903 fix: cli fails when listing providers [DET-10127]
  harness/determined/cli/sso.py
Labels: cla-signed

#8929 chore: change go 1.22 to 1.22.0 in go.mod
  go.mod
Labels: cla-signed
