Repository determined-ai/determined, pull requests merged in 2024-07, with the labels that each got.

#9593 docs: add k8s sec diagram
  docs/assets/images/_det-ai-sys-k8s-01-dark.png
  docs/assets/images/_det-ai-sys-k8s-01-light.png
  docs/setup-cluster/k8s/_index.rst
  model_hub/model_hub/__init__ 2.py
  model_hub/model_hub/__version__ 2.py
  model_hub/model_hub/py 2.typed
  model_hub/model_hub/utils 2.py
Labels: documentation, cla-signed

#9594 docs: Improve postgreSQL setup
  docs/setup-cluster/checklists/_index.rst
  docs/setup-cluster/checklists/postgresql-setup-guide.rst
  docs/setup-cluster/checklists/postgresql.rst
Labels: documentation, cla-signed

#9582 test: env variable config and automatic setServerAddress [TESTENG-49]
  webui/react/playwright.config.ts
  webui/react/src/e2e/README.md
  webui/react/src/e2e/fixtures/api.auth.fixture.ts
  webui/react/src/e2e/fixtures/auth.fixture.ts
  webui/react/src/e2e/fixtures/dev.fixture.ts
  webui/react/src/e2e/fixtures/global-fixtures.ts
  webui/react/src/e2e/tests/auth.spec.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
  webui/react/src/e2e/utils/detCLI.ts
  webui/react/src/e2e/utils/envVars.ts
Labels: cla-signed

#9596 fix: lint issue from flake8-comprehensions 3.15.0
  e2e_tests/tests/experiment/test_metrics.py
  harness/determined/common/api/_rbac.py
Labels: cla-signed

#9583 chore: stop enabling all in Go linters [RM-346]
  master/.golangci.yml
Labels: cla-signed

#9597 test: readme typo
  webui/react/src/e2e/README.md
Labels: cla-signed

#9480 feat: add Context Menu to Runs view (ET-232)
  webui/react/src/components/ExperimentActionDropdown.test.mock.tsx
  webui/react/src/components/ExperimentActionDropdown.test.tsx
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/RunActionDropdown.test.mock.tsx
  webui/react/src/components/RunActionDropdown.test.tsx
  webui/react/src/components/RunActionDropdown.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/pages/FlatRuns/columns.ts
  webui/react/src/routes/utils.ts
Labels: cla-signed, feature-flagged

#9500 feat: Implement `det cmd describe`
  docs/release-notes/cli-cmd-describe.rst
  e2e_tests/tests/command/test_run.py
  harness/determined/cli/command.py
  harness/determined/cli/ntsc.py
  harness/determined/cli/render.py
Labels: documentation, cla-signed

#9600 fix: display runs count in ProjectCard (ET-314)
  webui/react/src/components/ProjectCard.test.tsx
  webui/react/src/components/ProjectCard.tsx
  webui/react/src/types.ts
Labels: cla-signed

#9532 build: INFENG-739: remove hardcoded version from Vite config
  .bumpversion.cfg
  webui/react/vite.config.mts
Labels: cla-signed

#9585 chore: deprecate job move within priority group
  docs/model-dev-guide/manage-job-queue.rst
  docs/release-notes/deprecate-job-move.rst
  harness/determined/cli/job.py
  master/internal/db/postgres_jobs.go
  master/internal/db/postgres_jobs_intg_test.go
  master/internal/job/jobservice/jobservice.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/resource_pool_test.go
  master/internal/rm/dispatcherrm/dispatcher_resource_manager.go
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/multirm/multirm_intg_test.go
  master/internal/rm/resource_manager_iface.go
  master/internal/rm/tasklist/job.go
  master/internal/sproto/jobs.go
Labels: documentation, cla-signed

#9584 fix: comparison view parallel coordinates chart shouldn't break when selecting rows [ET-261]
  webui/react/src/components/CompareHyperparameters.test.mock.tsx
  webui/react/src/components/CompareHyperparameters.test.tsx
  webui/react/src/components/CompareHyperparameters.tsx
  webui/react/src/components/CompareParallelCoordinates.tsx
  webui/react/src/components/ComparisonView.test.mock.tsx
  webui/react/src/components/ComparisonView.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/types.ts
  webui/react/src/utils/data.ts
  webui/react/src/utils/tests/generateTestData.ts
Labels: cla-signed

#9601 ci: extend experiment timeout for slurm test
  .circleci/real_config.yml
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/cluster/test_master_restart_slurm.py
  e2e_tests/tests/experiment/experiment.py
Labels: cla-signed

#9606 docs: Add link to FSDP example
  docs/model-dev-guide/api-guides/apis-howto/deepspeed/deepspeed.rst
Labels: documentation, cla-signed

#9277 docs: Describe supported k8s versions
  docs/reference/deploy/_index.rst
  docs/setup-cluster/checklists/k8s-versions.rst
Labels: documentation, cla-signed

#9607 Docs/improve sample master yaml
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
Labels: documentation, cla-signed

#9542 feat: add auto namespace and resource quota inputs to webui
  harness/determined/common/api/bindings.py
  helm/charts/determined/templates/master-permissions.yaml
  master/.mockery.yaml
  master/internal/api_workspace.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/dispatcherrm/dispatcher_resource_manager.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/resource_manager_iface.go
  master/pkg/model/workspace.go
  master/static/migrations/20240702135314_add-workspace-namespace-bindings-table.tx.up.sql
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/workspace.pb.go
  proto/pkg/workspacev1/workspace.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/workspace.proto
  proto/src/determined/workspace/v1/workspace.proto
  webui/react/src/components/WorkspaceCreateModal.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Labels: cla-signed

#9614 fix: docker version bump to unpin requests
  harness/setup.py
Labels: cla-signed

#9620 Revert "Docs/improve sample master yaml"
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
Labels: documentation, cla-signed

#9537 test: collect det job ci logs only in case of failure
  .circleci/real_config.yml
Labels: cla-signed

#9608 fix: column picker should effect pinned columns in compare view [ET-605]
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Labels: cla-signed

#9619 test: Add e2e test for experiment edit
  webui/react/src/e2e/models/components/ExperimentActionDropdown.ts
  webui/react/src/e2e/models/components/ExperimentEditModal.ts
  webui/react/src/e2e/models/components/F_ExperimentList.ts
  webui/react/src/e2e/models/components/ProjectActionDropdown.ts
  webui/react/src/e2e/models/pages/ProjectDetails.ts
  webui/react/src/e2e/models/pages/WorkspaceDetails/WorkspaceProjects.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
Labels: cla-signed

#9621 test: chore: add gratitude to test page model readme [INFENG-767]
  webui/react/src/e2e/models/README.md
Labels: cla-signed

#9589 feat: continue trial from WebUI for multi-trial experiment
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/types.ts
  webui/react/src/utils/experiment.ts
Labels: cla-signed

#9603 fix: remove job move actions from webui
  master/internal/job/jobservice/jobservice.go
  proto/pkg/jobv1/job.pb.go
  proto/src/determined/job/v1/job.proto
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/JobQueue/ManageJob.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/utils/job.test.ts
  webui/react/src/utils/job.ts
Labels: cla-signed

#9615 feat: pause unpause UX
  webui/react/src/components/RunActionDropdown.test.tsx
  webui/react/src/components/RunActionDropdown.tsx
  webui/react/src/pages/FlatRuns/FlatRunActionButton.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/types.ts
  webui/react/src/utils/flatRun.test.ts
  webui/react/src/utils/flatRun.ts
Labels: cla-signed

#9618 feat: add getMetadataValues for projects
  harness/determined/common/api/bindings.py
  master/internal/api_project.go
  master/internal/api_project_intg_test.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/project.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/project.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#9622 feat: add Search actions and change copy [ET-603]
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/SearchDetails.tsx
Labels: cla-signed, feature-flagged

#9623 docs: Update remote users auto redirect
  docs/manage/users-remote.rst
Labels: documentation, cla-signed

#9536 chore: set cli pwd warning go to stderr
  harness/determined/cli/user.py
  harness/determined/common/api/authentication.py
Labels: cla-signed

#9573 fix: API requests with single RM and recover from panic during unauthorized autocreate
  harness/determined/cli/workspace.py
  helm/charts/determined/templates/master-permissions.yaml
  master/internal/api_workspace.go
Labels: cla-signed

#9626 fix: overflow in hyperparameter modal
  webui/react/src/components/HyperparameterSearchModal.module.scss
Labels: cla-signed

#9640 fix: unit tests and fixes for generateNamespaceName
  master/internal/api_workspace.go
  master/internal/api_workspace_test.go
Labels: cla-signed

#9643 feat: allow resource quota input field to be visible at all times
  webui/react/src/components/WorkspaceCreateModal.tsx
Labels: documentation, cla-signed

#9646 test: chore: fix some typos
  webui/react/src/e2e/models/README.md
  webui/react/src/e2e/tests/experimentList.spec.ts
Labels: cla-signed

#9648 ci: remove deprecated label from agent config
  e2e_tests/tests/deploy/etc/agent.yaml
Labels: cla-signed

#9638 chore: send alerts can wait forever and fail for broken workflows
  .circleci/scripts/job_level_alerts.py
Labels: cla-signed

#9616 fix: allocation csv: gpu_hours -> slot_hours, add resource_pool [DET-10408]
  docs/manage/historical-cluster-usage-data.rst
  docs/reference/experiment-config-reference.rst
  docs/release-notes/relabel-allocation-csv.rst
  master/internal/core.go
Labels: documentation, cla-signed

#9610 feat: Add/remove HPs when creating experiment through HP search
  webui/react/src/components/HyperparameterSearchModal.module.scss
  webui/react/src/components/HyperparameterSearchModal.tsx
Labels: cla-signed

#9653 feat: support image pull secrets in genai
  helm/charts/determined/templates/genai/genai-deployment.yaml
Labels: cla-signed

#9644 docs: Describe flat runs view
  docs/assets/images/webui-runs-compared.png
  docs/assets/images/webui-runs.png
  docs/tools/webui-if.rst
Labels: documentation, cla-signed

#9641 chore: hide the docker password in cloudformation stacks
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
Labels: cla-signed

#9611 feat: add metadata filtering to SearchRuns
  harness/determined/common/api/bindings.py
  master/internal/api_runs_intg_test.go
  master/internal/experiment_filter.go
  proto/pkg/projectv1/project.pb.go
  proto/src/determined/project/v1/project.proto
  webui/react/src/ioTypes.ts
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#9516 chore: deprecating container_runtime config, agentrm supporting singularity,podman, and apptainer
  .circleci/real_config.yml
  agent/cmd/determined-agent/init.go
  agent/internal/agent.go
  agent/internal/container/container_runtime.go
  agent/internal/options/options.go
  agent/internal/options/options_test.go
  agent/pkg/podman/podman.go
  agent/pkg/podman/podman_test.go
  agent/pkg/singularity/singularity.go
  agent/pkg/singularity/singularity_api_test.go
  docs/.redirects/redirects.json
  docs/release-notes/deprecate-containerRuntime.rst
  docs/setup-cluster/slurm/_index.rst
  docs/setup-cluster/slurm/hpc-with-agent.rst
  tools/slurm/README.md
  tools/slurm/scripts/slurmcluster.sh
Labels: documentation, cla-signed

#9617 ci: environment in e2e-slurm-enroot-znode [MD-451]
  .circleci/real_config.yml
Labels: cla-signed, ci-run-nightly

#9649 feat: Add resources allocation-csv to det cli [DFR-519]
  harness/determined/cli/resources.py
Labels: cla-signed

#9650 fix: ensure historic usage charts assume the correct timezone (DET-10407)
  docs/release-notes/historic-usage-chart-timezones.rst
  webui/react/src/pages/Cluster/ClusterHistoricalUsage.settings.ts
  webui/react/src/pages/Cluster/ClusterHistoricalUsage.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsageChart.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsageCsvModalComponent.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsageFilters.tsx
Labels: documentation, cla-signed

#9560 chore: Improve core v2 init API [MD-441]
  docs/release-notes/detached-mode-config-improvement.rst
  docs/tutorials/detached-mode/distributed-training-checkpointing.rst
  docs/tutorials/detached-mode/save-load-checkpoints.rst
  docs/tutorials/detached-mode/simple-metrics-reporting.rst
  e2e_tests/tests/fixtures/core_api/pytorch_profiler_sync.py
  e2e_tests/tests/fixtures/unmanaged/checkpoint_distributed.py
  e2e_tests/tests/fixtures/unmanaged/checkpointing.py
  e2e_tests/tests/fixtures/unmanaged/error_termination.py
  examples/features/unmanaged/1_singleton.py
  examples/features/unmanaged/2_checkpoints.py
  examples/features/unmanaged/3_torch_distributed.py
  examples/features/unmanaged/advanced/checkpoints_advanced.py
  examples/features/unmanaged/advanced/context_manager.py
  examples/features/unmanaged/ray/ray_hp_search.py
  examples/features/unmanaged/ray/ray_hp_search_cleanup.py
  harness/determined/experimental/core_v2/__init__.py
  harness/determined/experimental/core_v2/_core_v2.py
  harness/determined/lightning/experimental.py
Labels: documentation, cla-signed

#9598 fix: upload non-conflicting files for sharded checkpointing [MD-298]
  harness/determined/common/storage/base.py
  harness/determined/common/storage/cloud.py
  harness/determined/common/storage/shared.py
  harness/determined/core/_checkpoint.py
  harness/tests/core/test_checkpoint.py
Labels: cla-signed

#9629 feat: add Metadata to project columns in Run Table
  master/internal/api_project.go
  master/internal/api_project_intg_test.go
Labels: cla-signed

#9627 fix: user IDs instead of user session IDs for notebook sessions [MD-453]
  master/internal/api_notebook.go
  master/internal/command/command_intg_test.go
  master/internal/command/command_service.go
  master/internal/db/postgres_notebook_sessions.go
  master/internal/user/postgres_users.go
  master/internal/user/service.go
  master/pkg/model/notebook_session.go
  master/pkg/tasks/task_command.go
  master/static/migrations/20240709125620_notebook-sessions-by-user.tx.up.sql
Labels: cla-signed

#9659 chore: remove singularity agent znode nightly test
  .circleci/real_config.yml
Labels: cla-signed

#9652 docs: expand det abbreviation in docs
  docs/setup-cluster/k8s/internal-task-gateway.rst
Labels: documentation, cla-signed

#9660 chore: bumpenvs for jupyter upgrades [MD-242]
  .circleci/real_config.yml
  .circleci/scripts/pull_image_daemonset.yaml
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/model-dev-guide/prepare-container/tensorflow-support.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  e2e_tests/tests/fixtures/ports-proxy/config.yaml
  examples/computer_vision/iris_tf_keras/adaptive.yaml
  examples/computer_vision/iris_tf_keras/const.yaml
  examples/computer_vision/iris_tf_keras/distributed.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_cancelable.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_high_priority.yaml
  examples/deepspeed_autotune/torchvision/core_api/deepspeed.yaml
  examples/deepspeed_autotune/torchvision/deepspeed_trial/deepspeed.yaml
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/environments-target.txt
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: documentation, cla-signed

#9668 docs: Model hub library docs
  docs/model-hub-library/_index.rst
Labels: documentation, cla-signed

#9656 fix: SearchDetails Pivot bug [ET-632]
  webui/react/src/pages/SearchDetails.test.tsx
  webui/react/src/pages/SearchDetails.tsx
Labels: cla-signed

#9628 chore: Deprecate model hub
  docs/model-hub-library/_index.rst
  docs/release-notes/model-hub-deprecation.rst
  model_hub/model_hub/huggingface/_trial.py
  model_hub/model_hub/mmdetection/_trial.py
Labels: documentation, cla-signed

#9665 fix: update sort settings
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Labels: cla-signed

#9637 test: collect detailed logs for tests in datadog[infeng-752]
  .circleci/datadog/ci-local-config.yaml
  .circleci/datadog/e2e-log-settings.yaml
  .circleci/real_config.yml
Labels: cla-signed

#9670 feat: Add selection label to FlatRuns page (ET-309)
  webui/react/src/components/LoadableCount.module.scss
  webui/react/src/components/LoadableCount.test.tsx
  webui/react/src/components/LoadableCount.tsx
  webui/react/src/components/TableActionBar.module.scss
  webui/react/src/components/TableActionBar.tsx
  webui/react/src/e2e/models/components/TableActionBar.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
  webui/react/src/pages/FlatRuns/FlatRuns.settings.ts
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Labels: cla-signed

#9677 chore: validate default namespace for kubernetes RM
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
Labels: documentation, cla-signed

#9669 chore: raise exception in HF trainer for mismatched train units [MD-456]
  harness/determined/transformers/_hf_callback.py
Labels: cla-signed

#9673 chore: add `determined_master_scheme` for K8s multirm
  docs/setup-cluster/k8s/setup-multiple-resource-managers.rst
  master/internal/config/resource_manager_config.go
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
Labels: documentation, cla-signed

#9674 test: workspace spec rearrange + one more test case for now [TESTENG-24]
  webui/react/src/e2e/fixtures/api.auth.fixture.ts
  webui/react/src/e2e/fixtures/global-fixtures.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
  webui/react/src/e2e/utils/naming.ts
Labels: cla-signed

#9678 fix: default value in filter form
  webui/react/src/components/FilterForm/components/FilterFormStore.test.ts
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
Labels: cla-signed

#9679 fix: fixed getKubernetesResourceManager error in webui and default ns validation
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  webui/react/src/components/WorkspaceCreateModal.tsx
Labels: cla-signed

#9680 chore: remove ContainerState from ResourcesStateChanged
  master/internal/rm/kubernetesrm/job.go
  master/internal/sproto/resources.go
  master/internal/task/allocation.go
Labels: cla-signed

#9605 fix: resolve indefinitely queued (STOPPING_COMPLETED) trials
  e2e_tests/tests/cluster/test_master_restart.py
  master/internal/trial.go
  master/internal/trial_intg_test.go
Labels: cla-signed

#9683 chore: fix e2e test Hf trainer searcher lengths
  e2e_tests/tests/nightly/test_pytorch2.py
  examples/hf_trainer_api/hf_language_modeling/distributed.yaml
  harness/.flake8
Labels: cla-signed

#9671 ci: disable telemetry for ci tests
  .circleci/devcluster/custom-agent-version.devcluster.yaml
  .circleci/devcluster/double-priority.devcluster.yaml
  .circleci/devcluster/double-reattach.devcluster.yaml
  .circleci/devcluster/double.devcluster.yaml
  .circleci/devcluster/elastic.devcluster.yaml
  .circleci/devcluster/multi-k8s.devcluster.yaml
  .circleci/devcluster/oauth.devcluster.yaml
  .circleci/devcluster/perftest.devcluster.yaml
  .circleci/devcluster/port-registry.devcluster.yaml
  .circleci/devcluster/postgres-with-ssl.devcluster.yaml
  .circleci/devcluster/priority.devcluster.yaml
  .circleci/devcluster/rbac-model-registry.yaml
  .circleci/devcluster/react.devcluster.yaml
  .circleci/devcluster/saml.devcluster.yaml
  .circleci/devcluster/single-rbac.devcluster.yaml
  e2e_tests/tests/deploy/etc/master.yaml
Labels: cla-signed

#9633 docs: Link to cluster info
  docs/reference/experiment-config-reference.rst
Labels: documentation, cla-signed

#9685 fix: add autocreate as true to db when user inputs autocreated ns manually
  master/internal/api_workspace.go
Labels: cla-signed

#9651 fix: links for Recent Submissions on Dashboard
  webui/react/src/components/JupyterLabButton.test.tsx
  webui/react/src/components/JupyterLabButton.tsx
  webui/react/src/pages/Dashboard.test.tsx
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/TrialDetails/Header/TrialHeaderLeft.tsx
Labels: cla-signed

#9676 fix: highlight `Data Input` link
  webui/react/src/components/OverviewStats.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.test.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
Labels: cla-signed

#9675 test: experiment list sort [INFENG-766]
  webui/react/src/components/MultiSortMenu.tsx
  webui/react/src/e2e/models/components/MultiSortMenu.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
Labels: cla-signed

#9681 fix: use existed templates when launching notebook
  webui/react/src/components/JupyterLabModal.tsx
Labels: cla-signed

#9688 fix: Remove experiments immediately after deleting by filtering out deleting experiments
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
Labels: cla-signed

#9691 docs: use postgres 14 in code snippets.
  CONTRIBUTING.md
  docs/setup-cluster/checklists/postgresql.rst
  docs/setup-cluster/on-prem/options/docker.rst
  docs/setup-cluster/on-prem/options/linux-packages.rst
Labels: documentation, cla-signed

#9625 fix: unmanaged experiment checkpoint storage path
  harness/determined/common/storage/shared.py
  harness/determined/experimental/core_v2/_core_context_v2.py
  harness/determined/experimental/core_v2/_core_v2.py
  webui/react/src/components/CheckpointModal.tsx
  webui/react/src/ioTypes.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#9689 chore: add single rm k8s testing for workspace slot caps [DET-10424]
  .circleci/devcluster/single-k8s.devcluster.yaml
  .circleci/real_config.yml
  e2e_tests/pytest.ini
  e2e_tests/tests/cluster/test_workspace_org.py
  e2e_tests/tests/conftest.py
  harness/determined/cli/workspace.py
Labels: cla-signed

#9635 feat: obfuscate data.secrets if present in experiment config [DET-10232]
  docs/model-dev-guide/create-experiment.rst
  docs/reference/experiment-config-reference.rst
  docs/release-notes/secret-experiment-config.rst
  harness/determined/util.py
  master/internal/api_experiment.go
  master/internal/authz/obfuscate.go
  master/internal/authz/obfuscate_test.go
Labels: documentation, cla-signed

#9701 test: move wait statement to shared code
  webui/react/src/e2e/models/pages/ProjectDetails.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
Labels: cla-signed

#9704 chore: fix lint migrations
  master/static/migrations/20240723140701_add-workspace-namespace-bindings-table.tx.up.sql
  master/static/migrations/20240723140721_add-workspace-namespace-binding-perms.tx.up.sql
Labels: cla-signed

#9613 feat: auto-redirect to SSO provider when expired remote session detected (DET-10392)
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes/sso-auto-redirect.rst
  harness/determined/common/api/bindings.py
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
  master/internal/config/det_cloud_config.go
  master/internal/config/oidc_config.go
  master/internal/config/saml_config.go
  master/internal/plugin/sso/sso.go
  master/internal/user/postgres_users.go
  master/pkg/aproto/master_message.go
  proto/pkg/apiv1/master.pb.go
  proto/src/determined/api/v1/master.proto
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/hooks/useAuthCheck.ts
  webui/react/src/pages/SignIn.tsx
  webui/react/src/pages/SignOut.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/stores/determinedInfo.tsx
  webui/react/src/stores/userSettings.tsx
  webui/react/src/utils/error.ts
  webui/react/src/utils/service.ts
Labels: documentation, cla-signed

#9687 docs: Describe workspace slot level caps
  docs/release-notes/deprecate-containerRuntime.rst
  docs/setup-cluster/k8s/_index.rst
  docs/setup-cluster/k8s/resource-caps.rst
Labels: documentation, cla-signed

#9705 fix: single RM resource quota no cluster name error
  master/internal/api_workspace.go
Labels: cla-signed

#9702 fix: show the correct empty page in flat run table when filters are applied
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Labels: cla-signed

#9707 fix: CLI set resource quota during workspace create with non-auto-created namespace
  harness/determined/cli/workspace.py
Labels: cla-signed

#9672 chore: add intg and unit tests for SetResourceQuota
  .circleci/real_config.yml
  agent/test/testutils/fixtures.go
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/license/license.go
  master/internal/rm/agentrm/agents_test.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/test/integration/api/api_checkpoints_test.go
  master/test/integration/api/api_trials_test.go
  master/test/integration/api/main_test.go
  master/test/testutils/fixtures/fixtures.go
  master/test/testutils/license.go
Labels: cla-signed

#9703 chore: add auto-create namespace & set resource quota test cases for workspace_namespace bindings
  e2e_tests/tests/cluster/test_workspace_org.py
  harness/determined/cli/workspace.py
  master/internal/api_workspace.go
Labels: cla-signed

#9696 chore: unit tests for set resource quota perms
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/db/postgres_rbac_intg_test.go
  master/internal/workspace/authz_basic_impl.go
Labels: cla-signed

#9710 chore: style and wrapup fixes
  master/internal/api_workspace.go
  master/internal/db/database.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/multirm/multirm_intg_test.go
  master/internal/workspace/postgres_workspace.go
Labels: cla-signed

#9602 feat: add a new API endpoint to bind all unbound workspaces to autocreated namespaces
  harness/determined/common/api/bindings.py
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/workspace.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/workspace.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: cla-signed

#9713 fix: set rq errors
  master/internal/api_workspace.go
Labels: cla-signed

#9712 chore: add tests for CreateNamespace and DeleteNamespace in jobs.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
Labels: cla-signed

#9514 chore: longrunning tests to ignore multiRM marked e2e tests
  e2e_tests/tests/cluster/test_workspace_org.py
Labels: cla-signed

#9051 fix: assign only run in a single run experiment as best_trial_id
  master/internal/api_experiment_intg_test.go
  master/internal/db/postgres_trial.go
  master/static/migrations/20240724073853_handle-single-run-experiments-best-trial.tx.up.sql
Labels: cla-signed

#9645 chore: makeslurm option reference to workload manager
  tools/slurm/scripts/slurmcluster.sh
Labels: cla-signed

#9699 test: create Pause experiment action test [ET-644]
  webui/react/src/e2e/models/components/ExperimentActionDropdown.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
  webui/react/src/e2e/utils/detCLI.ts
Labels: cla-signed

#9698 fix: disallow slots in exp config [MD-454]
  e2e_tests/tests/cluster/test_proxy.py
  e2e_tests/tests/cluster/test_resource_manager.py
  master/internal/core_experiment.go
  master/pkg/model/experiment_config.go
Labels: cla-signed

#9708 docs: basic lineage release notes
  docs/release-notes/basic-lineage.rst
Labels: documentation, cla-signed

#9719 test: skip flaky test until after release
  webui/react/src/e2e/tests/experimentList.spec.ts
Labels: cla-signed, to-cherry-pick

#9706 chore: add release notes for workspace slot caps
  docs/release-notes/wksp-slot-caps-webui.rst
Labels: documentation, cla-signed

#9718 docs: Describe link to mldm data
  docs/assets/images/webui-data-link.png
  docs/integrations/data-transformers/pachyderm.rst
Labels: documentation, cla-signed, to-cherry-pick

#9720 docs: Fix workspace cli doc
  docs/setup-cluster/k8s/resource-caps.rst
Labels: documentation, cla-signed, to-cherry-pick

#9717 feat: change search-experiments from GET to POST [ET-602]
  harness/determined/common/api/bindings.py
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/src/determined/api/v1/api.proto
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
Labels: cla-signed

#9714 fix: Endless fetching for cancelled experiment without metrics
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
Labels: cla-signed, to-cherry-pick

#9709 chore: default flat runs to on
  docs/release-notes/run-centric-ux.rst
  webui/react/src/components/ProjectCard.test.tsx
  webui/react/src/e2e/fixtures/global-fixtures.ts
  webui/react/src/hooks/useFeature.ts
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
Labels: documentation, cla-signed, to-cherry-pick

#9694 fix: show selections in ComparisonView on any page (ET-189)
  webui/react/src/components/CompareMetrics.tsx
  webui/react/src/components/ComparisonView.test.mock.tsx
  webui/react/src/components/ComparisonView.test.tsx
  webui/react/src/components/ComparisonView.tsx
  webui/react/src/components/RunFilterInterstitialModalComponent.tsx
  webui/react/src/components/Searches/Searches.settings.ts
  webui/react/src/components/Searches/Searches.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.settings.ts
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/types.ts
  webui/react/src/utils/experiment.ts
  webui/react/src/utils/flatRun.ts
Labels: cla-signed, to-cherry-pick

#9730 fix: use before/after search params for historic allocation CSV download endpoint [DET-10442]
  webui/react/src/pages/Cluster/ClusterHistoricalUsageCsvModalComponent.tsx
Labels: cla-signed, to-cherry-pick

#9729 docs: Add release docs for continue trial, edit hp search, resource a…
  docs/release-notes/continue-trial.rst
  docs/release-notes/edit-HP-search.rst
  docs/release-notes/resource-allocation.rst
Labels: documentation, cla-signed, to-cherry-pick

#9732 chore: 0.35.0 images
  .circleci/real_config.yml
  .circleci/scripts/pull_image_daemonset.yaml
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/model-dev-guide/prepare-container/tensorflow-support.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  e2e_tests/tests/fixtures/ports-proxy/config.yaml
  examples/computer_vision/iris_tf_keras/adaptive.yaml
  examples/computer_vision/iris_tf_keras/const.yaml
  examples/computer_vision/iris_tf_keras/distributed.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_cancelable.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_high_priority.yaml
  examples/deepspeed_autotune/torchvision/core_api/deepspeed.yaml
  examples/deepspeed_autotune/torchvision/deepspeed_trial/deepspeed.yaml
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/pkg/schemas/expconf/const.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/environments-target.txt
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: documentation, cla-signed, to-cherry-pick

#9731 test: workspace and project api [TESTENG-46]
  webui/react/src/e2e/fixtures/api.project.fixture.ts
  webui/react/src/e2e/fixtures/api.user.fixture.ts
  webui/react/src/e2e/fixtures/api.workspace.fixture.ts
  webui/react/src/e2e/fixtures/global-fixtures.ts
  webui/react/src/e2e/models/pages/ProjectDetails.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
Labels: cla-signed

#9642 chore: update copy when f_flat_runs is on
  webui/react/src/components/CheckpointModal.test.tsx
  webui/react/src/components/CheckpointModal.tsx
  webui/react/src/components/CompareHyperparameters.test.mock.tsx
  webui/react/src/components/CompareHyperparameters.test.tsx
  webui/react/src/components/CompareHyperparameters.tsx
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/ExperimentContinueModal.test.tsx
  webui/react/src/components/ExperimentContinueModal.tsx
  webui/react/src/components/ExperimentCreateModal.tsx
  webui/react/src/components/ExperimentDeleteModal.tsx
  webui/react/src/components/ExperimentEditModal.tsx
  webui/react/src/components/ExperimentMoveModal.tsx
  webui/react/src/components/ExperimentRetainLogsModal.tsx
  webui/react/src/components/ExperimentStopModal.test.tsx
  webui/react/src/components/ExperimentStopModal.tsx
  webui/react/src/components/HyperparameterSearchModal.test.tsx
  webui/react/src/components/HyperparameterSearchModal.tsx
  webui/react/src/components/ProjectCard.tsx
  webui/react/src/components/Searches/Searches.tsx
  webui/react/src/components/Searches/columns.ts
  webui/react/src/components/TaskList.tsx
  webui/react/src/components/TaskListModalComponent.tsx
  webui/react/src/components/exceptions.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.tsx
  webui/react/src/pages/Dashboard.test.tsx
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpHeatMaps.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/pages/FlatRuns/columns.ts
  webui/react/src/pages/JobQueue/JobQueue.table.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/JobQueue/ManageJob.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/SearchDetails.tsx
  webui/react/src/pages/TrialDetails.test.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsMetrics.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsProfiles.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
  webui/react/src/pages/WebhookList.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
  webui/react/src/pages/WorkspaceList.tsx
Labels: cla-signed, to-cherry-pick

#9733 chore: lengthen abbreviation to avoid ambiguity
  harness/determined/cli/resources.py
Labels: cla-signed

#9686 feat: CLI command to list the members of a Workspace [RM-388]
  e2e_tests/tests/cluster/test_workspace_org.py
  harness/determined/cli/workspace.py
Labels: cla-signed

#9723 chore: skip failing Deactivate and reactivate user test
  webui/react/src/e2e/tests/userManagement.spec.ts
Labels: cla-signed

#9728 fix: deadlock issue
  .circleci/devcluster/single-k8s.devcluster.yaml
  e2e_tests/tests/cluster/test_wksp_nmsp_concurrency.py
  e2e_tests/tests/conftest.py
  e2e_tests/tests/task/task.py
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
Labels: cla-signed, to-cherry-pick

#9716 chore: fix exp delete log msg
  master/internal/api_experiment.go
Labels: cla-signed

#9741 chore: add release note for ComparisonView bugfix
  docs/release-notes/compare-selected-experiments.rst
Labels: documentation, cla-signed, to-cherry-pick

#9744 fix: change external_run_id to string type in FlatRun proto
  harness/determined/common/api/bindings.py
  proto/buf.image.bin
  proto/pkg/runv1/run.pb.go
  proto/src/determined/run/v1/run.proto
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/types.ts
Labels: cla-signed, to-cherry-pick

#9690 chore: add configurable posix claims fields to master config [RM-398]
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
  master/internal/config/oidc_config.go
  master/internal/config/saml_config.go
  master/internal/plugin/saml/service.go
Labels: cla-signed

#9750 refactor: change 'close' to 'save' on button in ManageJob modal [DET-10446]
  webui/react/src/pages/JobQueue/ManageJob.tsx
Labels: cla-signed

#9751 fix: debounce searches column width settings #9700
  webui/react/src/components/Searches/Searches.settings.ts
  webui/react/src/components/Searches/Searches.tsx
Labels: cla-signed

#9752 fix: load trial data for single run searches in search view #9742
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/SearchDetails.tsx
Labels: cla-signed

#9753 Revert "chore: add configurable posix claims fields to master config [RM-398]"
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
  master/internal/config/oidc_config.go
  master/internal/config/saml_config.go
  master/internal/plugin/saml/service.go
Labels: cla-signed

#9754 chore: undo test skip after fix was merged
  webui/react/src/e2e/tests/userManagement.spec.ts
Labels: cla-signed

#9758 chore: remove RM Name from RP descriptions
  docs/reference/deploy/master-config-reference.rst
  docs/setup-cluster/k8s/setup-multiple-resource-managers.rst
  harness/determined/common/api/bindings.py
  proto/buf.image.bin
  proto/pkg/resourcepoolv1/resourcepool.pb.go
  proto/src/determined/resourcepool/v1/resourcepool.proto
  webui/react/src/services/api-ts-sdk/api.ts
Labels: documentation, cla-signed, to-cherry-pick

#9748 chore: bumpenv pin numpy to 1.x [MD-470]
  .circleci/real_config.yml
  .circleci/scripts/pull_image_daemonset.yaml
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/model-dev-guide/prepare-container/tensorflow-support.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  e2e_tests/tests/fixtures/ports-proxy/config.yaml
  examples/computer_vision/iris_tf_keras/adaptive.yaml
  examples/computer_vision/iris_tf_keras/const.yaml
  examples/computer_vision/iris_tf_keras/distributed.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_cancelable.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_high_priority.yaml
  examples/deepspeed_autotune/torchvision/core_api/deepspeed.yaml
  examples/deepspeed_autotune/torchvision/deepspeed_trial/deepspeed.yaml
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/environments-target.txt
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: documentation, cla-signed

#9760 chore: bump current environment image versions to 0.35.0
  .circleci/real_config.yml
  .circleci/scripts/pull_image_daemonset.yaml
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/model-dev-guide/prepare-container/tensorflow-support.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  e2e_tests/tests/fixtures/ports-proxy/config.yaml
  examples/computer_vision/iris_tf_keras/adaptive.yaml
  examples/computer_vision/iris_tf_keras/const.yaml
  examples/computer_vision/iris_tf_keras/distributed.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_cancelable.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_high_priority.yaml
  examples/deepspeed_autotune/torchvision/core_api/deepspeed.yaml
  examples/deepspeed_autotune/torchvision/deepspeed_trial/deepspeed.yaml
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/pkg/schemas/expconf/const.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/environments-target.txt
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Labels: documentation, cla-signed

#9639 feat: add Metadata section to TrialDetailsOverview (ET-224)
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/Metadata.module.scss
  webui/react/src/components/Metadata.test.tsx
  webui/react/src/components/Metadata.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Labels: cla-signed

#9736 chore: pin numpy version and upgrade sphinx [MD-468]
  docs/requirements.txt
Labels: documentation, cla-signed

#9745 fix: fix missing task stats for queued tasks
  docs/release-notes/fix-taskstats.rst
  e2e_tests/tests/cluster/managed_cluster.py
  e2e_tests/tests/cluster/test_master_restart.py
  master/internal/rm/db.go
  master/internal/task/allocation.go
  master/static/srv/update_aggregated_queued_time.sql
Labels: documentation, cla-signed, to-cherry-pick

#9768 fix: extract searcher metric from experiment payload
  webui/react/src/services/decoder.ts
Labels: cla-signed, to-cherry-pick

#9767 fix: use run checkpoint data instead of experiment for run table filter
  master/internal/experiment_filter.go
Labels: cla-signed, to-cherry-pick

#9727 test: use previously created experiment for pause test
  webui/react/src/e2e/tests/experimentList.spec.ts
Labels: cla-signed

#9771 feat: add code tab to run page [ET-657]
  webui/react/src/pages/TrialDetails.tsx
Labels: cla-signed, to-cherry-pick

#9772 docs: fix insecure link to systemd docs
  docs/setup-cluster/on-prem/_index.rst
Labels: documentation, cla-signed

#9664 feat: add master config option to provide custom logo
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes/custom-logo.rst
  harness/determined/common/api/bindings.py
  master/internal/api_master.go
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/config/ui_config.go
  master/internal/core.go
  proto/pkg/apiv1/master.pb.go
  proto/src/determined/api/v1/master.proto
  webui/react/src/components/Logo.module.scss
  webui/react/src/components/Logo.tsx
  webui/react/src/components/PageMessage.tsx
  webui/react/src/pages/SignIn.tsx
  webui/react/src/routes/utils.ts
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/stores/determinedInfo.tsx
Labels: documentation, cla-signed
